@page "/CircularGauge/Customization"

@using Syncfusion.EJ2.RazorComponents.CircularGauge

@*Hidden:Lines*@
@using ej2_blazor_samples
@{
    SampleBrowser.CurrentSampleName = "Gauge Customization";
    SampleBrowser.CurrentControlName = "CircularGauge";
    SampleBrowser.CurrentControlCategory = "CircularGauge";
    SampleBrowser.CurrentControl = SampleBrowser.Config.CircularGauge;
    SampleBrowser.ActionDescription = new string[] {
        @" <p>
            This sample illustrates how to customize the gauge with pointers. Here color and types of the pointers are customized.
        </p>"
    };
    SampleBrowser.Description = new string[] {
        @"<p>
            In this example, you can see how to customize the gauge elements such as <code> pointers </code> and <code> range </code>. Here a needle and range bar are added to show the current value and its appearance can be customized here.
        </p>
        <p>
            More information on the range and pointer customization can be found in this
            <a target=""_blank"" href=""http://ej2.syncfusion.com/documentation"">documentation section</a>.
        </p>"
    };
}
@*End:Hidden*@

<div class="control-section">
    <EjsCircularGauge id="circular" >
        <CircularGaugeAxes>
            <CircularGaugeAxis StartAngle="300" EndAngle="60" Minimum="999" Maximum="2000" Radius="80%"
                               Annotations="@annotations" LineStyle="@lineStyle" LabelStyle="@labelStyle" 
                               MajorTicks="@majorTicks" MinorTicks="@minorTicks" Ranges="@ranges" Pointers="@pointers">
            </CircularGaugeAxis>
        </CircularGaugeAxes>
    </EjsCircularGauge>
</div>

@code {

public object annotations = new List<object> {
    new
    { 
        content = "<div style='color:#666666;font-size:35px;'>1800</div>",
        angle = "0",
        radius = "110%",
        zIndex = 1 
    }
};
public object lineStyle = new { width = "0" };
public object labelStyle = new { font = new { size = "0px" } };
public object majorTicks = new { width = "0" };
public object minorTicks = new { width = "0" };
public object ranges = new List<object> {
    new
    {
        start = 1000,
        end = 2000,
        radius = "90%",
        startWidth = 30,
        endWidth = 30,
        color = "#E0E0E0"
    }
};
public object pointers  = new List<object> {
    new
    {
        type = "RangeBar",
        value = 1800,
        radius = "90%",
        color = "#FFDD00",
        animation = new { enable = false, duration = "0" },
        pointerWidth = 30
    },
    new
    {
        value = 1800,
        radius = "90%",
        color = "#424242",
        animation = new { enable = false, duration = "0" },
        pointerWidth = 9,
        cap = new { radius = 10, color = "#424242", border = new { width = "0" } }
    }
};
}