@page "/CircularGauge/PointerImage"

@using Syncfusion.EJ2.RazorComponents.CircularGauge
@using Newtonsoft.Json;

@*Hidden:Lines*@
@using ej2_blazor_samples
@{
    SampleBrowser.CurrentSampleName = "Pointer Image";
    SampleBrowser.CurrentControlName = "CircularGauge";
    SampleBrowser.CurrentControlCategory = "CircularGauge";
    SampleBrowser.CurrentControl = SampleBrowser.Config.CircularGauge;
    SampleBrowser.ActionDescription = new string[] {
        @"<p>
            This sample visualizes the short-put distance covered by the athletes by using the image pointer in gauge.
        </p>"
    };
    SampleBrowser.Description = new string[] {
        @"<p>
            In this example, you can see how to use the pointer image for an axis in the circular gauge. Pointer value points out the
            actual value set in the <b>Circular Gauge</b>. You can customize the <code>pointers</code> to improve the
            appearance of <b>Gauge</b>.
        </p>
        <br>
        <p>
            In this sample, a pointer with image is used to show the short-put distance thrown by the player.
        </p>
        <p>
            More information on the pointers can be found in this
            <a target=""_blank"" href=""http://ej2.syncfusion.com/documentation"">documentation section</a>.
        </p>"
    };
}
@*End:Hidden*@

<div class="control-section">
    
    <EjsCircularGauge id="circular" CenterY="57%" Title="Short Put Distance">
        <CircularGaugeAxes>
            <CircularGaugeAxis StartAngle="200" EndAngle="130" Minimum="0" Maximum="14" Radius="90%"
                               Annotations ="@annotations" LineStyle="@lineStyle" LabelStyle="@labelStyle"
                               MajorTicks="@majorTicks" MinorTicks="@minorTicks" Ranges="@ranges"
                               Pointers="@pointers">
            </CircularGaugeAxis>
        </CircularGaugeAxes>
    </EjsCircularGauge>
</div>

@code {
public object annotations = new List<object>
    {
    new { content = "12 M", radius = "108%", angle = 98, zIndex = 1 },
    new { content = "11 M", radius = "80%", angle = 81, zIndex = 1 },
    new { content = "10 M", radius = "50%", angle = 69, zIndex = 1 },
    new { content = "Doe", radius = "108%", angle = 190, zIndex = 1 },
    new { content = "Almaida", radius = "80%", angle = 185, zIndex = 1 },
    new { content = "John", radius = "50%", angle = 180, zIndex = 1 },
    };
    public object lineStyle = new { width = "0", color = "#1d1d1d" };
    public object labelStyle = new { font = new { size = "0px" } };
    public object majorTicks = new { width = "0" };
    public object minorTicks = new { width = "0" };
    public object ranges = new List<object>
    {
    new { start = 0, end = 12, radius = "115%", color = "#01aebe", startWidth = 25, endWidth = 25 },
    new { start = 0, end = 11, radius = "85%", color = "#3bceac", startWidth = 25, endWidth = 25 },
    new { start = 0, end = 10, radius = "55%", color = "#ee4266", startWidth = 25, endWidth = 25 },
    };
    public object pointers  = new List<object>
        {
        new
        {
        type = "Marker", value = 12, markerShape = "Image",
        imageUrl = "styles/images/circulargauge/football.png",
        radius = "108%", markerWidth = 28, markerHeight = 28,
        animation = new { duration = 1500 }
        },
        new
        {
        type = "Marker", value = 11, markerShape = "Image",
        imageUrl = "styles/images/circulargauge/basketball.png",
        radius = "78%", markerWidth = 28, markerHeight = 28,
        animation = new { duration = 1200 }
        },
        new
        {
        type = "Marker", value = 10, markerShape = "Image",
        imageUrl = "styles/images/circulargauge/golfball.png",
        radius = "48%", markerWidth = 28, markerHeight = 28,
        animation = new { duration = 900 }
        },
        new
        {
        type = "Marker", value = 12, markerShape = "Image",
        imageUrl = "styles/images/circulargauge/Athletics.png",
        radius = "0%", markerWidth = 90, markerHeight = 90,
        animation = new { enable = false, duration = "0" }
        },
        new
        {
        type = "Marker", value = 0.1, markerShape = "Image",
        imageUrl = "styles/images/circulargauge/girl1.png",
        radius = "108%", markerWidth = 28, markerHeight = 28,
        animation = new { duration = 1500 }
        },
        new
        {
        type = "Marker", value = 0.1, markerShape = "Image",
        imageUrl = "styles/images/circulargauge/man1.png",
        radius = "78%", markerWidth = 28, markerHeight = 28,
        animation = new { duration = 1500 }
        },
        new
        {
        type = "Marker", value = 0.1, markerShape = "Image",
        imageUrl = "styles/images/circulargauge/man2.png",
        radius = "48%", markerWidth = 28, markerHeight = 28,
        animation = new { duration = 1500 }
        },
        };
    }
        