@page "/CircularGauge/Tooltip"

@using Syncfusion.EJ2.RazorComponents.CircularGauge
@using Newtonsoft.Json;

@*Hidden:Lines*@
@using ej2_blazor_samples
@{
    SampleBrowser.CurrentSampleName = "Tooltip";
    SampleBrowser.CurrentControlName = "CircularGauge";
    SampleBrowser.CurrentControlCategory = "CircularGauge";
    SampleBrowser.CurrentControl = SampleBrowser.Config.CircularGauge;
    SampleBrowser.ActionDescription = new string[] {
        @"<p>
            This sample visualizes the tooltip of pointer value in gauge. To see the tooltip in action, hover pointer or tap the pointer.
        </p>"
    };
    SampleBrowser.Description = new string[] {
        @"<p>
            In this example, you can see how to show the tooltip for pointer in gauge, to see the tooltip in action, hover pointer or
            tap on pointer in touch enabled devices.
        </p>
        <br>        
        <p>
            More information on the tooltip can be found in this
            <a target=""_blank"" href=""http://ej2.syncfusion.com/documentation"">documentation section</a>.
        </p>"
    };
}
@*End:Hidden*@

<div class="control-section">
    <EjsCircularGauge ID="circular" Title="Tooltip Customization" TitleStyle="@titleStyle" Tooltip="@tooltip"  EnablePointerDrag="true">
    <CircularGaugeAxes>
    <CircularGaugeAxis StartAngle="240" EndAngle="120" Minimum="0" Maximum="120" Radius="90%"
    LineStyle="@lineStyle" MajorTicks="@majorTicks" MinorTicks="@minorTicks" LabelStyle="@labelStyle" 
                       Pointers="@pointers" Ranges="@ranges">
    </CircularGaugeAxis>
    </CircularGaugeAxes>
    </EjsCircularGauge>
</div>

@functions {
public object lineStyle = new { width = "0" };
public object majorTicks = new { color = "white", offset = -5, height = 12 };
public object minorTicks = new { width = "0" };
public object labelStyle = new { font = new { fontFamily = "Roboto", size = "13px", color = "#424242" }, useRangeColor = true };
public object pointers  = new List<object>
    {
    new
    {
    value = 70,
    radius = "60%",
    color = "#33BCBD",
    cap = new { radius = 10, border = new { color = "#33BCBD", width = 5 } },
    animation = new { enable = true, duration = 1500 }
    }
    };
    public object ranges = new List<object>
        {
        new { start = "0", end = 50, radius = "102%", color = "#3A5DC8", startWidth = 10, endWidth = 10 },
        new { start = 50, end = 120, radius = "102%", color = "#33BCBD", startWidth = 10, endWidth = 10 }
        };
        
                        public object titleStyle { get; set; } = new
                        {
                        size = "15px",
                        color = "grey"
                        };
                        public object tooltip { get; set; } = new
                        {
                        enable = true,
                        enableAnimation = false
                        };
                        }
