@page "/toolbar/default-functionalities"

@using Syncfusion.Blazor.Navigations
@using Syncfusion.Blazor.Buttons;

@inherits SampleBaseComponent;

<SampleDescription>
    <p> This sample demonstrates the default functionalities of the <code>Toolbar</code>. Select any command or click the left/right navigation icon or touch swipe to see the hidden commands of the Toolbar</p>
</SampleDescription>
<ActionDescription>
   <p><strong>Toolbar</strong> is a graphical control on which commands / buttons will be displayed in   horizontal order.By default scrolling display mode enabled when content exceeds the available viewing area. </p> <br>
<p>You can use left / right navigation icon or touch swipe to see the hidden commands of the toolbar.</p>
    <ul>
         <li>Initially toolbar rendered with the <code> left and right navigation</code> icon and you can see hidden commands by <code>moving in right or left</code> direction.</li>
        <li>  When you reach <code>right / left end of toolbar</code>, corresponding  navigation direction will be disabled.</li>
        <li> You can continuously scroll the toolbar content by holding on the navigation icon.</li>
         <li> In <code>devices</code> navigation icons are not available. you can touch swipe to see the hidden commands of the toolbar.</li>
     </ul><br />
</ActionDescription>

<div class="col-lg-12 control-section">
    <div class="e-sample-resize-container">
        <SfToolbar>
            <ToolbarItems>
                <ToolbarItem PrefixIcon="e-icons e-cut" TooltipText="Cut"></ToolbarItem>
                <ToolbarItem PrefixIcon="e-icons e-copy" TooltipText="Copy"></ToolbarItem>
                <ToolbarItem PrefixIcon="e-icons e-paste" TooltipText="Paste"></ToolbarItem>
                <ToolbarItem Type="@ItemType.Separator"></ToolbarItem>
                <ToolbarItem >
                     <Template>
                         <SfButton tabindex="-1" CssClass="e-tbar-btn">
                             <SfIcon Name="IconName.Bold" Size="IconSize.Medium" Title="Bold"></SfIcon>
                         </SfButton>
                     </Template>
                </ToolbarItem>
                <ToolbarItem>
                     <Template>
                          <SfButton tabindex="-1" CssClass="e-tbar-btn">
                              <SfIcon Name="IconName.Underline" Title="Underline"></SfIcon>
                         </SfButton>
                     </Template>
                </ToolbarItem>
                <ToolbarItem>
                    <Template>
                         <SfButton tabindex="-1" CssClass="e-tbar-btn">
                              <SfIcon Name="IconName.Italic" Title="Italic"></SfIcon>
                         </SfButton>
                     </Template>
                </ToolbarItem>
                <ToolbarItem>
                     <Template>
                         <SfButton tabindex="-1" CssClass="e-tbar-btn">
                              <SfIcon Name="IconName.PaintBucket" Title="Color-Picker"></SfIcon>
                         </SfButton>
                     </Template>
                </ToolbarItem>
                <ToolbarItem Type="@ItemType.Separator"></ToolbarItem>
                <ToolbarItem PrefixIcon="e-icons e-align-left" TooltipText="Align-Left"></ToolbarItem>
                <ToolbarItem PrefixIcon="e-icons e-align-right" TooltipText="Align-Right"></ToolbarItem>
                <ToolbarItem PrefixIcon="e-icons e-align-center" TooltipText="Align-Center"></ToolbarItem>
                <ToolbarItem PrefixIcon="e-icons e-justify" TooltipText="Align-Justify"></ToolbarItem>
                <ToolbarItem Type="@ItemType.Separator"></ToolbarItem>
                <ToolbarItem PrefixIcon="e-icons e-list-unordered" TooltipText="Bullets"></ToolbarItem>
                <ToolbarItem PrefixIcon="e-icons e-list-ordered" TooltipText="Numbering"></ToolbarItem>
                <ToolbarItem Type="@ItemType.Separator"></ToolbarItem>
                <ToolbarItem PrefixIcon="e-icons e-undo" TooltipText="Undo"></ToolbarItem>
                <ToolbarItem PrefixIcon="e-icons e-redo" TooltipText="Redo"></ToolbarItem>
                <ToolbarItem Type="@ItemType.Separator"></ToolbarItem>
                <ToolbarItem PrefixIcon="e-icons e-upload-1" TooltipText="Upload"></ToolbarItem>
                <ToolbarItem PrefixIcon="e-icons e-download" TooltipText="Download"></ToolbarItem>
                <ToolbarItem Type="@ItemType.Separator"></ToolbarItem>
                <ToolbarItem PrefixIcon="e-icons e-increase-indent" TooltipText="Text Indent"></ToolbarItem>
                <ToolbarItem PrefixIcon="e-icons e-decrease-indent" TooltipText="Text Outdent"></ToolbarItem>
                <ToolbarItem Type="@ItemType.Separator"></ToolbarItem>
                <ToolbarItem PrefixIcon="e-icons e-erase" TooltipText="Clear"></ToolbarItem>
                <ToolbarItem PrefixIcon="e-icons e-refresh" TooltipText="Reload"></ToolbarItem>
                <ToolbarItem PrefixIcon="e-icons e-export" TooltipText="Export"></ToolbarItem>
            </ToolbarItems>
        </SfToolbar>
    </div>
</div>

<style>
    .control-wrapper {
        flex-direction: inherit
    }

    .e-sample-resize-container {
        height: 42px;
    }

    @@media only screen and (min-width: 1224px) {
        .e-sample-resize-container {
            width: 75%;
        }
    }

    @@media only screen and (min-width: 1824px) {
        .e-sample-resize-container {
            width: 50%;
        }
    }
</style>
