@page "/heatmap-chart/calendar-heatmap"

@using Syncfusion.Blazor
@using Syncfusion.Blazor.HeatMap
@using System.Globalization
@using SFHeatMap = Syncfusion.Blazor.HeatMap
@using sf_blazor_heatmapdata
@inject NavigationManager NavigationManager
@*Hidden:Lines*@
@inherits SampleBaseComponent;


@*End:Hidden*@

<SampleDescription>
    <p> This sample visualizes the summary of user activities in the GitLab account such as merge requests, push events, and comments across 52 weeks in a year.</p>
</SampleDescription>
<ActionDescription>
      <p>In this example, you can see how to display Calendar data using Heatmap. You can make the axis labels to display at specific time intervals along the DateTime axis using the <a target='_blank' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.HeatMap.AxisModel.html#Syncfusion_Blazor_HeatMap_AxisModel_ShowLabelOn' aria-label="Class reference of ShowLabelOn property in HeatMap Chart">ShowLabelOn</a> property in both axis directives.</p>
      <p>The tooltip is enabled in this example. To see the tooltip in action, hover the mouse over an item or tap an item on touch-enabled devices.</p>
</ActionDescription>

<div class="control-section">
    <div class="row">
        <div class="col-md-12">
            <SfHeatMap DataSource="@DataSource" Height="300px" Theme="@theme">
                <HeatMapEvents TooltipRendering="@TooltipRendering"></HeatMapEvents>
                <HeatMapTitleSettings Text="Annual Summary of User Activities in GitLab">
                    <HeatMapTitleTextStyle Size="15px" FontWeight="500" FontStyle="Normal" FontFamily="inherit" TextOverflow="TextOverflow.Trim"></HeatMapTitleTextStyle>
                </HeatMapTitleSettings>
                <HeatMapXAxis OpposedPosition="true"
                              Minimum="@XMinimum"
                              Maximum="@XMaximum"
                              IntervalType="@SFHeatMap.IntervalType.Days"
                              ValueType="@SFHeatMap.ValueType.DateTime"
                              LabelFormat="MMM"
                              ShowLabelOn="@SFHeatMap.LabelType.Months"
                              Increment="7" LabelIntersectAction="LabelIntersectAction.None">
                    <HeatMapXAxisTextStyle  Color="@AxisLabelColor" FontFamily="inherit"></HeatMapXAxisTextStyle>
                </HeatMapXAxis>
                <HeatMapYAxis Labels="@YLabels" IsInversed="true">
                    <HeatMapYAxisTextStyle Color="@AxisLabelColor" FontFamily="inherit"></HeatMapYAxisTextStyle>
                </HeatMapYAxis>
                <HeatMapPaletteSettings Type="@SFHeatMap.PaletteType.Fixed" EmptyPointColor="white">
                    <HeatMapPalettes>
                        <HeatMapPalette Value="0" Color="rgb(238,238,238)" Label="no contributions"></HeatMapPalette>
                        <HeatMapPalette Value="1" Color="rgb(172, 213, 242)" Label="no contributions"></HeatMapPalette>
                        <HeatMapPalette Value="16" Color="rgb(127, 168, 201)" Label="no contributions"></HeatMapPalette>
                        <HeatMapPalette Value="32" Color="rgb(82, 123, 160)" Label="no contributions"></HeatMapPalette>
                        <HeatMapPalette Value="50" Color="rgb(37, 78, 119)" Label="no contributions"></HeatMapPalette>
                    </HeatMapPalettes>
                </HeatMapPaletteSettings>
                <HeatMapCellSettings ShowLabel="false">
                    <HeatMapCellBorder Color="@CellBorderColor" Width="1"></HeatMapCellBorder>
                     <HeatMapCellTextStyle FontFamily="inherit"></HeatMapCellTextStyle>
                </HeatMapCellSettings>
                <HeatMapLegendSettings Visible="true" Alignment="Alignment.Near" Position="LegendPosition.Bottom" Width="200px" ShowLabel="true" LabelDisplayType="LabelDisplayType.None" EnableSmartLegend="true">
                    <HeatMapLegendTextStyle FontFamily="inherit"></HeatMapLegendTextStyle>
                </HeatMapLegendSettings>
                <HeatMapTooltipSettings>
                    <HeatMapFont FontFamily="inherit"></HeatMapFont>
                </HeatMapTooltipSettings>
            </SfHeatMap>
        </div>
    </div>
</div>

@code{
    private Theme theme { get; set; }
    public string AxisLabelColor = "Black";
    public string CellBorderColor = "#FFF";
    string[] YLabels = new string[] { "Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat" };
    DateTime XMinimum = new DateTime(2017, 7, 23);
    DateTime XMaximum = new DateTime(2018, 7, 30);
    int?[,] DataSource = HeatMapData.GetCalendarData();

    protected override void OnInitialized()
    {

        theme = HeatmapThemeHelper.GetCurrentHeatmapTheme(NavigationManager.Uri);
        AxisLabelColor = (theme.ToString().IndexOf("Dark") > -1 || theme.ToString().IndexOf("HighContrast") > -1) ? "#FFFFFF" : "#000000";
        CellBorderColor = (theme.ToString().IndexOf("Dark") > -1 || theme.ToString().IndexOf("HighContrast") > -1) ? "#000" : "#FFF";
    }
    public void TooltipRendering(TooltipEventArgs args)
    {
        List<string> Ylabels = YLabels.ToList();
        DateTime heatmapdate = DateTime.ParseExact(args.XValue, "dd-MMM-yyyy", CultureInfo.CurrentCulture);
        heatmapdate = heatmapdate.AddDays(Ylabels.IndexOf(args.YLabel)).ToLocalTime();
        args.Content = new string[] { args.Value + " contributions " +  args.YLabel + " " + heatmapdate.ToString("MMM") + " " + heatmapdate.ToString("dd") + ", " + heatmapdate.ToString("yyyy") };
    }
}
