@page "/heatmap-chart/default-functionalities"
@inject NavigationManager NavigationManager
@using Syncfusion.Blazor
@using Syncfusion.Blazor.HeatMap
@using sf_blazor_heatmapdata
@*Hidden:Lines*@
@inherits SampleBaseComponent


@*End:Hidden*@

<SampleDescription>
    <p>This <a target="_blank" href='https://www.syncfusion.com/blazor-components/blazor-heatmap-chart' aria-label="Feature Tour of Blazor Heatmap Chart"> Blazor Heatmap Chart </a> sample visualizes the sales revenue of items sold by the employees in a week, where the revenue for the day is displayed as USD 1000 in a cell data.</p>
</SampleDescription>
<ActionDescription>
    <p>In this example, you can see how to render a Heatmap with the provided data source. The palette color is applied to the items in Heatmap. The default legend is enabled in this example to represent the items.</p>
    <p>The tooltip is enabled in this example. To see the tooltip in action, hover the mouse over an item or tap an item on touch-enabled devices.</p>
</ActionDescription>

<div class="control-section">
    <div class="row">
        <div class="col-md-12">
            <SfHeatMap DataSource="@DataSource" Theme="@theme">
                <HeatMapXAxis Labels="@XLabels">
                    <HeatMapXAxisTextStyle Color="@AxisLabelColor" FontFamily="inherit"></HeatMapXAxisTextStyle>
                </HeatMapXAxis>
                <HeatMapYAxis Labels="@YLabels">
                    <HeatMapYAxisTextStyle Color="@AxisLabelColor" FontFamily="inherit"></HeatMapYAxisTextStyle>
                </HeatMapYAxis>
                <HeatMapCellSettings ShowLabel="@IsShowLabel">
                    <HeatMapCellTextStyle FontFamily="inherit"></HeatMapCellTextStyle>
                </HeatMapCellSettings>
                <HeatMapTitleSettings Text="Sales Revenue per Employee (in 1000 US$)">
                    <HeatMapTitleTextStyle Size="15px" FontWeight="500" FontStyle="Normal" FontFamily="inherit" TextOverflow="TextOverflow.Trim"></HeatMapTitleTextStyle>
                </HeatMapTitleSettings>
                <HeatMapLegendSettings>
                    <HeatMapLegendTextStyle FontFamily="inherit"></HeatMapLegendTextStyle>
                </HeatMapLegendSettings>
                <HeatMapTooltipSettings>
                    <HeatMapFont FontFamily="inherit"></HeatMapFont>
                </HeatMapTooltipSettings>
            </SfHeatMap>
        </div>
    </div>
</div>

@code{
    private Theme theme { get; set; }
    public string AxisLabelColor = "Black";
    string[] XLabels = new string[] { "Nancy", "Andrew", "Janet", "Margaret", "Steven", "Michael", "Robert", "Laura", "Anne", "Paul", "Karin", "Mario" };
    string[] YLabels = new string[] { "Mon", "Tue", "Wed", "Thu", "Fri", "Sat" };
    public bool IsShowLabel = true;
    int[,] DataSource = HeatMapData.GetDefaultData();
    
    protected override void OnInitialized()
    {
        
        theme = HeatmapThemeHelper.GetCurrentHeatmapTheme(NavigationManager.Uri);
        AxisLabelColor = (theme.ToString().IndexOf("Dark") > -1 || theme.ToString().IndexOf("HighContrast") > -1) ? "#FFFFFF" : "#000000";
        if (SampleService.IsDevice)
        {
            IsShowLabel = false;
        }
        else
        {
            IsShowLabel = true;
        }
    }

}