@page "/heatmap-chart/inversed-axis"

@using Syncfusion.Blazor
@using Syncfusion.Blazor.HeatMap
@using Syncfusion.Blazor.Buttons
@using SFHeatMap = Syncfusion.Blazor.HeatMap
@using sf_blazor_heatmapdata
@using MSComponents = Microsoft.AspNetCore.Components
@inject NavigationManager NavigationManager
@*Hidden:Lines*@
@inherits SampleBaseComponent;


@*End:Hidden*@

<SampleDescription>
    <p>This sample illustrates the population growth rate of the most populous countries over the years. The data label is disabled in this sample, and the tooltip displays the data point values.</p>
</SampleDescription>
<ActionDescription>
   <p>In this example, you can see how to reverse the axis origin for both axes. Once the axis origin has been reversed, the axis data will be displayed inverted. You can reverse the axis origin by enabling the <a target='_blank' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.HeatMap.HeatMapCommonAxis.html#Syncfusion_Blazor_HeatMap_HeatMapCommonAxis_IsInversed' aria-label="Class reference of IsInversed property in HeatMap Chart">IsInversed</a> property for each axis.</p>
   <p>The tooltip is enabled in this example. To see the tooltip in action, hover the mouse over an item or tap an item on touch-enabled devices.</p>
</ActionDescription>

<div class="col-lg-8 control-section">
    <div class="">
        <SfHeatMap DataSource="@DataSource" Theme="@theme">
            <HeatMapTitleSettings Text="Population Growth Rate of the most Populous Countries">
                <HeatMapTitleTextStyle Size="15px" FontWeight="500" FontFamily="inherit" FontStyle="Normal" TextOverflow="TextOverflow.Trim"></HeatMapTitleTextStyle>
            </HeatMapTitleSettings>
            <HeatMapXAxis Labels="@XLabels" LabelRotation="45" LabelIntersectAction="@SFHeatMap.LabelIntersectAction.None" IsInversed="@XInverse">
                 <HeatMapXAxisTextStyle Color="@AxisLabelColor" FontFamily="inherit"></HeatMapXAxisTextStyle>
            </HeatMapXAxis>
            <HeatMapYAxis Labels="@YLabels" IsInversed="@YInverse">
                <HeatMapYAxisTextStyle Color="@AxisLabelColor" FontFamily="inherit"></HeatMapYAxisTextStyle>
            </HeatMapYAxis>
            <HeatMapPaletteSettings Type="@SFHeatMap.PaletteType.Gradient">
                <HeatMapPalettes>
                    <HeatMapPalette Value="0" Color="#4b7287"></HeatMapPalette>
                    <HeatMapPalette Value="0.5" Color="#b5b29f"></HeatMapPalette>
                    <HeatMapPalette Value="1" Color="#F0D6AD"></HeatMapPalette>
                    <HeatMapPalette Value="2" Color="#466f86"></HeatMapPalette>
                    <HeatMapPalette Value="2.5" Color="#d7c7a7"></HeatMapPalette>
                    <HeatMapPalette Value="3" Color="#6e888f"></HeatMapPalette>
                </HeatMapPalettes>
            </HeatMapPaletteSettings>
            <HeatMapCellSettings ShowLabel="false"  Format="{value}%">
                <HeatMapCellBorder Width="0"></HeatMapCellBorder>
            </HeatMapCellSettings>
            <HeatMapLegendSettings Visible="false"></HeatMapLegendSettings>
            <HeatMapTooltipSettings>
                <HeatMapFont FontFamily="inherit"></HeatMapFont>
            </HeatMapTooltipSettings>
        </SfHeatMap>
        <div style="float: right; margin-right: 10px;">
            Source:
            <a href="https://en.wikipedia.org/wiki/List_of_countries_by_oil_production" target="_blank">https://en.wikipedia.org/</a>
        </div>
    </div>
</div>
<div id="inversed-axis" class="col-lg-4 property-section">
    <div class="property-panel-header">Properties</div>
    <table id="property" title="Properties" style="width: 100%">
        <tbody>
            <tr style="height: 50px">
                <td style="width: 40%;">
                    <div>
                        <SfCheckBox Label="Reverse X-Axis Origin" Checked="@XInverse" ValueChange="ValueXChange" TChecked="bool"></SfCheckBox>
                    </div>
                </td>
            </tr>
            <tr style="height: 50px">
                <td style="width: 40%;">
                    <div>
                        <SfCheckBox Label="Reverse Y-Axis Origin" Checked="YInverse" ValueChange="ValueYChange" TChecked="bool"></SfCheckBox>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>

@code{
    private Theme theme { get; set; }
    public string AxisLabelColor = "Black";
    bool XInverse = true;
    bool YInverse = true;
    string[] XLabels = new string[] { "China", "India", "USA", "Indonesia", "Brazil", "Pakistan", "Nigeria", "Bangladesh", "Russia", "Mexico" };
    string[] YLabels = new string[] { "1965-1970", "1970-1975", "1975-1980", "1980-1985", "1985-1990", "1990-1995", "1995-2000", "2000-2005", "2005-2010", "2010-2015" };
    double[,] DataSource = HeatMapData.GetInverseData();
    
    public void ValueXChange(Syncfusion.Blazor.Buttons.ChangeEventArgs<bool> args)
    {
        XInverse = args.Checked;
    }
    public void ValueYChange(Syncfusion.Blazor.Buttons.ChangeEventArgs<bool> args)
    {
        YInverse = args.Checked;
    }
    protected override void OnInitialized()
    {
        
        theme = HeatmapThemeHelper.GetCurrentHeatmapTheme(NavigationManager.Uri);
        AxisLabelColor = (theme.ToString().IndexOf("Dark") > -1 || theme.ToString().IndexOf("HighContrast") > -1) ? "#FFFFFF" : "#000000";
    }
}

<style>
    .col-lg-4.property-section {
        padding-top: 60px;
    }

    .fluent2 #inversed-axis #property .e-checkbox-wrapper .e-icons, .fluent2-dark #inversed-axis #property .e-checkbox-wrapper .e-icons {
        margin-left: 0px
    }
</style>