@page "/heatmap-chart/json-row"

@using Syncfusion.Blazor
@using Syncfusion.Blazor.HeatMap
@using sf_blazor_heatmapdata
@inject NavigationManager NavigationManager
@*Hidden:Lines*@
@inherits SampleBaseComponent;


@*End:Hidden*@

<SampleDescription>
    <p>This sample visualizes the overall Olympic medals won by the countries in all the summer Olympic events from the year 2000 to 2016.</p>
</SampleDescription>
<ActionDescription>
   <p>In this example, you can see how to bind <code>JSON</code> data and configure the Heatmap using the data adaptor support. You can bind the JSON data with information for each row to the Heatmap using <a target='_blank' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.HeatMap.HeatMapDataSourceSettings.html#Syncfusion_Blazor_HeatMap_HeatMapDataSourceSettings_IsJsonData' aria-label="Class reference of IsJsonData property in HeatMap Chart">IsJsonData</a> and by defining the <a target='_blank' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.HeatMap.AdaptorType.html' aria-label="Class reference of AdaptorType property in HeatMap Chart">AdaptorType</a> properties. 
     In row JSON data, the row header is mapped using the <a target='_blank' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.HeatMap.HeatMapDataSourceSettings.html#Syncfusion_Blazor_HeatMap_HeatMapDataSourceSettings_XDataMapping' aria-label="Class reference of XDataMapping property in HeatMap Chart">XDataMapping</a>.</p>
   <p>The tooltip is enabled in this example. To see the tooltip in action, hover the mouse over an item or tap an item on touch-enabled devices.</p>
</ActionDescription>

    <div class="control-section">
        <div class="row">
            <div class="col-md-12">
                <SfHeatMap DataSource="@Data" Theme="@theme">
                    <HeatMapEvents TooltipRendering="@OnRendering"></HeatMapEvents>
                    <HeatMapTitleSettings Text="Olympic Medal Achievements of most Successful Countries">
                        <HeatMapTitleTextStyle Size="15px" FontWeight="500" FontStyle="Normal" FontFamily="inherit" TextOverflow="TextOverflow.Trim"></HeatMapTitleTextStyle>
                    </HeatMapTitleSettings>
                    <HeatMapDataSourceSettings IsJsonData="true" AdaptorType="AdaptorType.Table" XDataMapping="Region"></HeatMapDataSourceSettings>
                    <HeatMapXAxis Labels="@XLabels" LabelRotation="45" LabelIntersectAction="LabelIntersectAction.None">
                         <HeatMapXAxisTextStyle Color="@AxisLabelColor" FontFamily="inherit"></HeatMapXAxisTextStyle>
                    </HeatMapXAxis>
                    <HeatMapYAxis Labels="@YLabels">
                    <HeatMapYAxisTextStyle Color="@AxisLabelColor" FontFamily="inherit"></HeatMapYAxisTextStyle>
                        <HeatMapYAxisTitle Text="Olympic Year">
                            <HeatMapYAxisTitleTextStyle Color="@AxisLabelColor" Size="15px" FontWeight="500" FontStyle="Normal" FontFamily="inherit"></HeatMapYAxisTitleTextStyle>
                        </HeatMapYAxisTitle>
                    </HeatMapYAxis>
                    <HeatMapPaletteSettings>
                        <HeatMapPalettes>
                            <HeatMapPalette Color="#F0C27B"></HeatMapPalette>
                            <HeatMapPalette Color="#4B1248"></HeatMapPalette>
                        </HeatMapPalettes>
                    </HeatMapPaletteSettings>
                    <HeatMapCellSettings>
                        <HeatMapCellBorder Width="1" Radius="4" Color="White"></HeatMapCellBorder>
                        <HeatMapCellTextStyle FontFamily="inherit"></HeatMapCellTextStyle>
                    </HeatMapCellSettings>
                    <HeatMapLegendSettings>
                        <HeatMapLegendTextStyle FontFamily="inherit"></HeatMapLegendTextStyle>
                    </HeatMapLegendSettings>
                    <HeatMapTooltipSettings>
                        <HeatMapFont FontFamily="inherit"></HeatMapFont>
                    </HeatMapTooltipSettings>
                </SfHeatMap>
            </div>
        </div>
        <div style="float: right; margin-right: 10px;">
            Source:
            <a href="https://en.wikipedia.org/wiki/2016_Summer_Olympics_medal_table" target="_blank">https://en.wikipedia.org/</a>
        </div>
    </div>

@code
{
    
    private Theme theme { get; set; }
    public string AxisLabelColor = "Black";
    string[] XLabels = new string[] { "China", "France", "GBR", "Germany", "Italy", "Japan", "KOR", "Russia", "USA" };
    string[] YLabels = new string[] { "Year_2000", "Year_2004", "Year_2008", "Year_2012", "Year_2016"};
    class HeatmapData
    {
        public string Region { get; set; }
        public int? Year_2000 { get; set; }
        public int? Year_2004 { get; set; }
        public int? Year_2008 { get; set; }
        public int? Year_2012 { get; set; }
        public int? Year_2016 { get; set; }
    }
    HeatmapData[] Data = new HeatmapData[]{
                new HeatmapData {Region = "USA", Year_2000 = 93,Year_2004 = 101,Year_2008 = 112,Year_2012 = 103,Year_2016 = 121 },
                new HeatmapData {Region = "GBR", Year_2000 = 28,Year_2004 = 30,Year_2008 = 49,Year_2012 = 65,Year_2016 = 67 },
                new HeatmapData {Region = "China", Year_2000 = 58,Year_2004 = 63,Year_2008 = 100,Year_2012 = 91,Year_2016 = 70 },
                new HeatmapData {Region = "Russia", Year_2000 = 89,Year_2004 = 90,Year_2008 = 60,Year_2012 = 69,Year_2016 = 55 },
                new HeatmapData {Region = "Germany", Year_2000 = 56,Year_2004 = 49,Year_2008 = 41,Year_2012 = 44,Year_2016 = 42 },
                new HeatmapData {Region = "Japan", Year_2000 = 18,Year_2004 = 37,Year_2008 = 25,Year_2012 = 38,Year_2016 = 41 },
                new HeatmapData {Region = "France", Year_2000 = 38,Year_2004 = 33,Year_2008 = 43,Year_2012 = 35,Year_2016 = 42 },
                new HeatmapData {Region = "KOR", Year_2000 = 28,Year_2004 = 30,Year_2008 = 32,Year_2012 = 30,Year_2016 = 21 },
                new HeatmapData {Region = "Italy", Year_2000 = 34,Year_2004 = 32,Year_2008 = 27,Year_2012 = 28,Year_2016 = 28 }
       };
    public void OnRendering(TooltipEventArgs args)
    {
        args.Content = new string[] {args.YLabel + " | " + args.XLabel + " : " + args.Value + " Medals "};
    }
    protected override void OnInitialized()
    {
        
        theme = HeatmapThemeHelper.GetCurrentHeatmapTheme(NavigationManager.Uri);
        AxisLabelColor = (theme.ToString().IndexOf("Dark") > -1 || theme.ToString().IndexOf("HighContrast") > -1) ? "#FFFFFF" : "#000000";
    }
}