@page "/heatmap-chart/tooltip-template"

@using Syncfusion.Blazor
@using Syncfusion.Blazor.HeatMap
@using sf_blazor_heatmapdata
@using SFHeatMap = Syncfusion.Blazor.HeatMap
@inject NavigationManager NavigationManager
@*Hidden:Lines*@
@inherits SampleBaseComponent;


@*End:Hidden*@

<SampleDescription>
    <p>This sample visualizes the crude oil production of the Non-OPEC countries over the years. The data point values displayed are in million barrels per day units.</p>
</SampleDescription>
<ActionDescription>
    <p>In this example, you can see how to customize the tooltip content in the HeatMap. You can customize the tooltip content by using the <a target='_blank' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.HeatMap.HeatMapTooltipSettings.html#Syncfusion_Blazor_HeatMap_HeatMapTooltipSettings_Template' aria-label="Class reference of Template property in HeatMap Chart">Template</a> property in the  <a target='_blank' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.HeatMap.HeatMapTooltipSettings.html' aria-label="Class reference of HeatMapTooltipSettings">HeatMapTooltipSettings</a> class.  </p>
    <p>The tooltip is enabled in this example. To see the tooltip in action, hover the mouse over an item or tap an item on touch-enabled devices.</p>
    <p>More information on the tooltip can be found in this <a target='_blank' href='https://blazor.syncfusion.com/documentation/heatmap-chart/tooltip' aria-label="Blazor HeatMap Tooltip documentation" >documentation section</a>.</p>
</ActionDescription>

<div class="control-section">
    <SfHeatMap DataSource="@DataSource" Theme="@Theme">
        <HeatMapTitleSettings Text="Crude Oil Production of Non-OPEC Countries (in million barrels per day)">
            <HeatMapTitleTextStyle Size="15px" FontWeight="500" FontFamily="inherit" FontStyle="Normal" TextOverflow="TextOverflow.Trim"></HeatMapTitleTextStyle>
        </HeatMapTitleSettings>
        <HeatMapXAxis Labels="@XLabels"
                      LabelRotation="45"
                      LabelIntersectAction="@SFHeatMap.LabelIntersectAction.None">
                <HeatMapXAxisTextStyle Color="@AxisLabelColor" FontFamily="inherit"></HeatMapXAxisTextStyle>
          </HeatMapXAxis>
          <HeatMapYAxis Labels="@YLabels">
               <HeatMapYAxisTextStyle Color="@AxisLabelColor" FontFamily="inherit"></HeatMapYAxisTextStyle>
          </HeatMapYAxis>
        <HeatMapPaletteSettings>
            <HeatMapPalettes>
                <HeatMapPalette Value="0" Color="#C2E7EC"></HeatMapPalette>
                <HeatMapPalette Value="0.6" Color="#AEDFE6"></HeatMapPalette>
                <HeatMapPalette Value="0.75" Color="#9AD7E0"></HeatMapPalette>
                <HeatMapPalette Value="1" Color="#86CFDA"></HeatMapPalette>
                <HeatMapPalette Value="1.5" Color="#72C7D4"></HeatMapPalette>
                <HeatMapPalette Value="2" Color="#5EBFCE"></HeatMapPalette>
                <HeatMapPalette Value="2.5" Color="#4AB7C8"></HeatMapPalette>
                <HeatMapPalette Value="3" Color="#36AFC2"></HeatMapPalette>
                <HeatMapPalette Value="3.5" Color="#309DAE"></HeatMapPalette>
                <HeatMapPalette Value="5" Color="#2B8C9B"></HeatMapPalette>
                <HeatMapPalette Value="5.5" Color="#257A87"></HeatMapPalette>
                <HeatMapPalette Value="6" Color="#206974"></HeatMapPalette>
                <HeatMapPalette Value="8" Color="#1B5761"></HeatMapPalette>
                <HeatMapPalette Value="9" Color="#15464D"></HeatMapPalette>
                <HeatMapPalette Value="9.5" Color="#000000"></HeatMapPalette>
            </HeatMapPalettes>
        </HeatMapPaletteSettings>
        <HeatMapCellSettings Format="{value}M">
            <HeatMapCellBorder Width="0" Color="#98BABF"></HeatMapCellBorder>
            <HeatMapCellTextStyle FontFamily="inherit"></HeatMapCellTextStyle>
        </HeatMapCellSettings>
        <HeatMapTooltipSettings Fill="#265259">
            <Template>
                @{
                    var TooltipTemplate = (context as Dictionary<string, string>);
                    <div class="displayTemplate">
                        <span class="label">In @TooltipTemplate["YLabel"], the @TooltipTemplate["XLabel"] produced @TooltipTemplate["Value"] million barrels per day. </span>
                    </div>
                }
            </Template>
        </HeatMapTooltipSettings>
        <HeatMapLegendSettings Visible="false">
        </HeatMapLegendSettings>
    </SfHeatMap>
</div>
<style>
    .displayTemplate {
        border-radius: 5px;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 6px;
        padding-top: 6px;
        background: @TooltipBackgroundColor;
        border: 1px #919191;
    }

    .label {
        margin-left: 6px;
        padding-left: 4px;
        padding-bottom: 10px;
        color: @TooltipTextColor;
        font-size: 12px;
    }
</style>

@code {
    
    public Theme Theme { get; set; }
    public string AxisLabelColor = "Black";
    public string TooltipTextColor = "white";
    public string TooltipBackgroundColor = "black";
    public string[] XLabels = new string[] { "Canada", "China", "Egypt", "Mexico", "Norway", "Russia", "UK", "USA" };
    public string[] YLabels = new string[] { "2001", "2002", "2003", "2004", "2005", "2006", "2007", "2008", "2009", "2010" };
    double[,] DataSource = HeatMapData.GetTooltipData();
    protected override void OnInitialized()
    {        
        Theme = HeatmapThemeHelper.GetCurrentHeatmapTheme(NavigationManager.Uri);
        if (Theme.ToString().IndexOf("Dark") > -1 || Theme.ToString().IndexOf("HighContrast") > -1)
        {
            TooltipTextColor = "black";
            TooltipBackgroundColor = AxisLabelColor = "white";
        }
        else
        {
            TooltipTextColor = "white";
            TooltipBackgroundColor = AxisLabelColor = "black";
        }
    }

}
