@page "/Slider/Limits"

@using Syncfusion.EJ2.Blazor.Inputs;
@using Syncfusion.EJ2.Blazor.Buttons;

@*Hidden:Lines*@
@using ej2_blazor_samples
@{
    SampleBrowser.CurrentSampleName = "Limits";
    SampleBrowser.CurrentControlName = "Slider";
    SampleBrowser.CurrentControlCategory = "Inputs";
    SampleBrowser.CurrentControl = SampleBrowser.Config.Slider;
    SampleBrowser.ActionDescription = new string[] {
        @"<p>
        This sample demonstrates the rendering of Slider component with limits. Drag the thumb over the bar for selecting the values between assigned limit values. Change the values in the property pane to set different limit values.
    </p>"
    };
    SampleBrowser.Description = new string[] {
        @"<p>
        The limits are used to limit between certain range. When the limits are assigned, draggable limited area will be in the dark shadow color of the current theme. The limits APIs are explained below.</p>
    <ul>
        <li><a target='_blank' href='https://ej2.syncfusion.com/documentation/api/slider/limitData/#minstart'>minStart</a>	-   Used to set minimum limit value for first handle.</li>
        <li><a target='_blank' href='https://ej2.syncfusion.com/documentation/api/slider/limitData/#minend'>minEnd</a>	-   Used to set maximum limit value for first handle.</li>
        <li><a target='_blank' href='https://ej2.syncfusion.com/documentation/api/slider/limitData/#maxstart'>maxStart</a>	-   Used to set minimum limit value for second handle.</li>
        <li><a target='_blank' href='https://ej2.syncfusion.com/documentation/api/slider/limitData/#maxend'>maxEnd</a>	-   Used to set maximum limit value for first handle.</li>
        <li><a target='_blank' href='https://ej2.syncfusion.com/documentation/api/slider/limitData/#starthandlefixed'>startHandleFixed</a>	-   Used to lock the first handle in the current position.</li>
        <li><a target='_blank' href='https://ej2.syncfusion.com/documentation/api/slider/limitData/#endhandlefixed'>endHandleFixed</a>	-   Used to lock the second handle in the current position.</li>
    </ul>
        In this demo, Limits with MinRange and range Slider is demonstrated.
    <ul>
        <li>MinRange Slider – In this sample, the minimum and maximum limit of the slider is set to 10 and 40 respectively.</li>
        <li>Range Slider – In this sample, the minimum and maximum limit of the first handle is set to 10 and 40 respectively and the minimum and maximum limit of the second handle is set to 60 and 90 respectively.</li>
    </ul>
        For more information, refer to the <a target='_blank' href='https://ej2.syncfusion.com/documentation/slider/limits/'>limits</a> section from the documentation.
    </p>"
    };

}
@*End:Hidden*@

<div class="col-lg-12 control-section">
    <div class="content-wrapper">
        <div class='sliderwrap'>
            <label class="userselect">MinRange Slider With Limits</label>
            <EJSSlider Value="25" Min="0" Max="100" Type=SliderType.MinRange>
                <SliderTicksData Placement="@Placement.Before" LargeStep="20" SmallStep="5" ShowSmallTicks="true"></SliderTicksData>
                <SliderTooltipData IsVisible="true" Placement="@TooltipPlacement.Before" ShowOn="@TooltipShowOn.Focus"></SliderTooltipData>
                <SliderLimitData Enabled="true" MinStart="@CurrentMinStart" MinEnd="@CurrentMinEnd"></SliderLimitData>
            </EJSSlider>
        </div>
        <div class='sliderwrap'>
            <label class="userselect">Range Slider With Limits</label>
            <EJSSlider Value="@Val" Min="0" Max="100" Type=SliderType.Range>
                <SliderTicksData Placement="@Placement.Before" LargeStep="20" SmallStep="5" ShowSmallTicks="true"></SliderTicksData>
                <SliderTooltipData IsVisible="true" Placement="@TooltipPlacement.Before" ShowOn="@TooltipShowOn.Focus"></SliderTooltipData>
                <SliderLimitData Enabled="true" MinStart="@CurrentMinStart" MinEnd="@CurrentMinEnd" MaxStart="@CurrentMaxStart" MaxEnd="@CurrentMaxEnd"></SliderLimitData>
            </EJSSlider>
        </div>
    </div>
</div>
<div class="col-lg-4 property-section property-custom" style="display: none">
    <div class="property-panel-section">
        <div class="property-panel-header">Properties</div>
        <div class="property-panel-content">
            <table id="property" title="Properties" class="property-panel-table">
                <tbody>
                    <tr>
                        <td style="width: 50%">
                            <div class="userselect">MinStart</div>
                        </td>
                        <td style="width: 50%">
                            <EjsNumericTextBox Value="10" Min="0" Max="100"></EjsNumericTextBox>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 50%">
                            <div class="userselect">MinEnd</div>
                        </td>
                        <td style="width: 50%">
                            <EjsNumericTextBox Value="40" Min="0" Max="100"></EjsNumericTextBox>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 50%">
                            <div class="userselect">MaxStart</div>
                        </td>
                        <td style="width: 50%">
                            <EjsNumericTextBox Value="60" Min="0" Max="100" Step="1"></EjsNumericTextBox>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 50%">
                            <div class="userselect">MaxEnd</div>
                        </td>
                        <td style="width: 50%">
                            <EjsNumericTextBox Value="90" Min="0" Max="100" Step="1"></EjsNumericTextBox>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 50%">
                            <div class="userselect">Lock First Handle</div>
                        </td>
                        <td style="width: 50%">
                            <Ejscheckbox></Ejscheckbox>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 50%">
                            <div class="userselect">Lock Second Handle</div>
                        </td>
                        <td style="width: 50%">
                            <Ejscheckbox></Ejscheckbox>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

 @code{
     
     public int[] Val = { 25, 75 };
     public int CurrentMinStart = 10;
     public int CurrentMinEnd = 40;
     public int CurrentMaxStart = 60;
     public int CurrentMaxEnd = 90;

}
<style>

    .content-wrapper {
        width: 52%;
        margin: 0 auto;
        min-width: 185px;
    }

    .sliderwrap {
        margin-top: 45px;
    }

    .e-bigger .content-wrapper {
        width: 80%;
    }

    .sliderwrap label {
        padding-bottom: 50px;
        font-size: 13px;
        font-weight: 500;
        margin-top: 15px;
    }

    .userselect {
        -webkit-user-select: none;
        /* Safari 3.1+ */
        -moz-user-select: none;
        /* Firefox 2+ */
        -ms-user-select: none;
        /* IE 10+ */
        user-select: none;
        /* Standard syntax */
    }

    .property-custom td {
        padding: 5px;
    }
</style>
