@page "/Slider/VerticalOrientation"


@using Syncfusion.EJ2.Blazor.Inputs;
@using Syncfusion.EJ2.Blazor.Buttons;

@*Hidden:Lines*@
@using ej2_blazor_samples
@{
    SampleBrowser.CurrentSampleName = "Vertical Orientation";
    SampleBrowser.CurrentControlName = "Slider";
    SampleBrowser.CurrentControlCategory = "Inputs";
    SampleBrowser.CurrentControl = SampleBrowser.Config.Slider;
    SampleBrowser.ActionDescription = new string[] {
        @"<p>
        This sample demonstrates the rendering of Slider component in Vertical orientation. Drag the thumb over the bar for selecting the values between min and max.
    </p>"
    };
    SampleBrowser.Description = new string[] {
        @"<p>
        The Slider component allows to select a value or range of values in-between a min and max range, by dragging the thumb over the slider bar in vertical orientation. Three types of sliders in vertical orientation are:
    <ul>
        <li>Default - allows to select a single value</li>
        <li>MinRange – allows to select a single value, but highlights with a range selection from the min value to the current
            handle value</li>
        <li>Range – allows to select a range of values with two handles, where the handles are connected with a range selection</li>
     </ul>
        <p>The dragInterval is used to drag both handles using the range bar which is also applicable only to the range slider.</p>

        <p>In this demo, the default, MinRange, and range slider types can be seen.</p>
    </p>"
    };

}
@*End:Hidden*@

<div class="col-lg-12 control-section sb-property-border">
    <div class="content-wrapper">
        <table class="slider_table">
            <tbody>
                <tr>
                    <td>
                        <div class="sliderwrap">
                            <EJSSlider Value="30" Orientation="@SliderOrientation.Vertical">
                                <SliderTicksData Placement="@placement"></SliderTicksData>
                                <SliderTooltipData IsVisible="@enableTooltip"></SliderTooltipData>
                            </EJSSlider>
                        </div>
                    </td>
                    <td>
                        <div class="sliderwrap">
                            <EJSSlider Type=SliderType.MinRange Orientation="@SliderOrientation.Vertical" Value="30">
                                <SliderTicksData Placement="@placement"></SliderTicksData>
                                <SliderTooltipData IsVisible="@enableTooltip"></SliderTooltipData>
                            </EJSSlider>
                        </div>
                    </td>
                    <td>
                        <div class="sliderwrap">
                            <EJSSlider Orientation="@SliderOrientation.Vertical" Type=SliderType.Range Value="@Val">
                                <SliderTicksData Placement="@placement"></SliderTicksData>
                                <SliderTooltipData IsVisible="@enableTooltip"></SliderTooltipData>
                            </EJSSlider>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="col-lg-4 property-section" style="display: none">
    <div class="property-panel-section">
        <div class="property-panel-header">Properties</div>
        <div class="property-panel-content">
            <table ID="property" title="Properties" class="property-panel-table">
                <tbody>
                    <tr>
                        <td style="width: 50%">
                            <div class="userselect">Ticks</div>
                        </td>
                        <td style="width: 50%;padding-right: 10px">
                            <div style="padding-left: 0;padding-top: 0">
                                <EjsCheckBox Checked="false"></EjsCheckBox>
                            </div>
                        </td>
                    </tr>

                    <tr ID="slider-showon">
                        <td style="width: 50%">
                            <div class="userselect">Tooltip</div>
                        </td>
                        <td style="width: 50%;padding-right: 10px">
                            <div style="padding-left: 0;padding-top: 0">
                                <EjsCheckBox Checked="false"></EjsCheckBox>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


@code{
    public int[] Val = { 30, 70 };
    private Placement placement = Placement.None;
    private bool enableTooltip = false;

    void OnChange(Syncfusion.EJ2.Blazor.Buttons.ChangeEventArgs args)
    {
        placement = args.Checked ? Placement.Before : Placement.None;

    }

    void OnTooltipChange(Syncfusion.EJ2.Blazor.Buttons.ChangeEventArgs args)
    {
        enableTooltip = args.Checked ? true : false;
    }

}

<style>

    .content-wrapper {
        width: 80%;
        margin: 0 auto;
        min-width: 185px;
    }

    .sliderwrap {
        height: 375px;
        margin-top: 10px;
        width: 60%;
        margin: auto;
    }

    .e-bigger .content-wrapper {
        width: 80%;
    }

    .sliderwrap .e-lbl {
        display: block;
        font-size: 11px;
        font-weight: 500;
        margin-top: 15px;
        margin-left: -10px;
    }

    .sliderwrap:last-child .e-lbl {
        margin-left: -2px;
    }

    .slider_table td {
        text-align: center;
    }

    .slider_table {
        border: 0;
        width: 100%
    }

    .e-content-placeholder.e-slider.e-placeholder-slider {
        height: 375px;
        margin-top: 10px;
        width: 60%;
        margin: auto;
        background-image: none;
    }

        .e-content-placeholder.e-slider.e-placeholder-slider::after {
            animation: none;
            display: none;
        }
</style>
