@page "/linear-gauge/container"

@using Syncfusion.Blazor.LinearGauge
@using Syncfusion.Blazor.DropDowns
@using Newtonsoft.Json;

@inherits SampleBaseComponent;

<div class="col-lg-9 control-section sb-property-border">
    <div class="control-section">
        <SfLinearGauge Title="Temparature Measure" Orientation="@GaugeOrientation">
            <LinearGaugeContainer Width="13" RoundedCornerRadius="5" Type="@GaugeContainerType">
                <LinearGaugeAxes>
                    <LinearGaugeAxis Minimum="0" Maximum="180">
                        <LinearGaugeMajorTicks Color="#9e9e9e" Interval="20" Height="20">
                        </LinearGaugeMajorTicks>
                        <LinearGaugeMinorTicks Color="#9e9e9e" Interval="10" Height="10">
                        </LinearGaugeMinorTicks>
                        <LinearGaugePointers>
                            <LinearGaugePointer Value="90" Height="13" Width="13" Type="Point.Bar" Color="#f02828">
                            </LinearGaugePointer>
                        </LinearGaugePointers>
                    </LinearGaugeAxis>
                    <LinearGaugeAxis Minimum="0" Maximum="180" OpposedPosition="true">
                        <LinearGaugeMajorTicks Interval="20" Height="20">
                        </LinearGaugeMajorTicks>
                        <LinearGaugeMinorTicks Color="#9e9e9e" Interval="10" Height="10">
                        </LinearGaugeMinorTicks>
                        <LinearGaugePointers>
                            <LinearGaugePointer Width="0">
                            </LinearGaugePointer>
                        </LinearGaugePointers>
                    </LinearGaugeAxis>
                </LinearGaugeAxes>
            </LinearGaugeContainer>
        </SfLinearGauge>
    </div>
</div>
<div class="col-md-3 property-section">
    <div class="property-panel-section">
        <div class="property-panel-header">Properties</div>
        <div class="property-panel-content">
            <table style="width: 100%" >
                <tbody>
                    <tr>
                        <td style="width:50%">
                            <div>Orientation</div>
                        </td>
                        <td>
                            <div>
                                <SfDropDownList TValue="string" TItem="OrientationData" DataSource="@GaugeOrientData" Value="@OrientationValue">
                                    <DropDownListEvents TValue="string" ValueChange="orintationChange"></DropDownListEvents>
                                    <DropDownListFieldSettings text="Name" value="Name"></DropDownListFieldSettings>
                                </SfDropDownList>
                            </div>
                        </td>
                    </tr>
                    <tr style="height:60px">
                        <td style="width:50%">
                            <div>Container Type</div>
                        </td>
                        <td>
                            <div>
                                <SfDropDownList TValue="string" TItem="ContainerTypeData" DataSource="@containerTypeData" Value="@ContainerTypeValue">
                                    <DropDownListEvents TValue="string" ValueChange="containerTypeChange"></DropDownListEvents>
                                    <DropDownListFieldSettings text="Name" value="Name"></DropDownListFieldSettings>
                                </SfDropDownList>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<style>
    #control-section {
        padding: 0px !important;
    }

    .property-panel-table div {
        padding-left: 10px;
        padding-top: 10px;
    }
</style>

@code {
    private Orientation GaugeOrientation = Orientation.Vertical;
    private ContainerType GaugeContainerType = ContainerType.Thermometer;
    private String OrientationValue = "Vertical";
    private String ContainerTypeValue = "Thermometer";
    public class OrientationData
    {
        public string Name { get; set; }
    }
    private List<OrientationData> GaugeOrientData = new List<OrientationData> {
        new OrientationData{ Name = "Vertical"},
        new OrientationData{ Name = "Horizontal"},
    };
    public class ContainerTypeData
    {
        public string Name { get; set; }
    }
    private List<ContainerTypeData> containerTypeData = new List<ContainerTypeData> {
        new ContainerTypeData{ Name = "Thermometer"},
        new ContainerTypeData{ Name = "Normal"},
        new ContainerTypeData{ Name = "RoundedRectangle"},
    };
    private void orintationChange(Syncfusion.Blazor.DropDowns.ChangeEventArgs<string> args)
    {
        this.OrientationValue = (args.Value).ToString();
        this.GaugeOrientation = this.OrientationValue == "Vertical" ? Orientation.Vertical : Orientation.Horizontal;
    }
    private void containerTypeChange(Syncfusion.Blazor.DropDowns.ChangeEventArgs<string> args)
    {
        this.ContainerTypeValue = (args.Value).ToString();
        if (this.ContainerTypeValue == "Thermometer")
        {
            this.GaugeContainerType = ContainerType.Thermometer;
        }
        else if (this.ContainerTypeValue == "Normal")
        {
            this.GaugeContainerType = ContainerType.Normal;
        }
        else
        {
            this.GaugeContainerType = ContainerType.RoundedRectangle;
        }
    }
}
