@page "/Numeric-TextBox/Range-Validation"

@using Syncfusion.Blazor.Inputs

@inherits SampleBaseComponent;

<SampleDescription>
    <p>This sample demonstrates the range validation functionalities of the Numeric TextBox. Change the Min, Max and Step values and click on apply button to change the property values in Numeric TextBox.</p>
</SampleDescription>
<ActionDescription>
   <p>The NumericTextBox has the options to restrict the input value between a specific range using the <a href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Inputs.NumericTextBoxModel-1.html#Syncfusion_Blazor_Inputs_NumericTextBoxModel_1_Min' target='_blank'> Min</a>, <a href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Inputs.NumericTextBoxModel-1.html#Syncfusion_Blazor_Inputs_NumericTextBoxModel_1_Max' target='_blank'> Max</a>, and <a href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Inputs.NumericTextBoxModel-1.html#Syncfusion_Blazor_Inputs_NumericTextBoxModel_1_StrictMode' target='_blank'> StrictMode</a> properties.</p>
   <p>When you enable the <a href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Inputs.NumericTextBoxModel-1.html#Syncfusion_Blazor_Inputs_NumericTextBoxModel_1_StrictMode' target='_blank'> StrictMode</a> property, the value will automatically change within a range on passing the out-of-range values. When you disable the StrictMode property, the NumericTextBox component allows the out-of-range value with the highlighted textbox to indicate the given value is wrong.</p>
   <p>In this demo, numeric textbox is restricted between 10 to 100 through the <a href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Inputs.NumericTextBoxModel-1.html#Syncfusion_Blazor_Inputs_NumericTextBoxModel_1_Min' target='_blank'> Min</a> and <a href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Inputs.NumericTextBoxModel-1.html#Syncfusion_Blazor_Inputs_NumericTextBoxModel_1_Max' target='_blank'> Max</a> properties. So you can enter only the value between this range.</p>
   <p> More information about NumericTextBox can be found in this <a target='_blank' href='https://blazor.syncfusion.com/documentation/numeric-textbox/getting-started/#range-validation'> documentation section</a>.</p>
</ActionDescription>

<div class="control-section col-lg-12 range">
    <div class="col-lg-8">
        <div class="content range-validation">
            <div class="control-label">
                Numeric TextBox
            </div>
            <SfNumericTextBox TValue="double?" Min="@SetMin" Max="@SetMax" Value=15 Step=@SetIncrement></SfNumericTextBox>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="content property-section">
            <div class="property">Properties</div>
            <table>
                <tbody>
                    <tr>
                        <td>
                            <div class="property-label">Min Value </div>
                        </td>
                        <td>
                            <div>
                                <SfNumericTextBox TValue="double?" Format="n0" @bind-Value="@MinValue"></SfNumericTextBox>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="property-label">Max Value </div>
                        </td>
                        <td>
                            <div>
                                <SfNumericTextBox TValue="double?" Width="100%" Format="n0" @bind-Value="@MaxValue"></SfNumericTextBox>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="property-label">Increment Step </div>
                        </td>
                        <td>
                            <div>
                                <SfNumericTextBox TValue="double?" Min="@stepMin" Width="100%" Format="n0" @bind-Value="@StepValue"></SfNumericTextBox>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <button class="e-btn apply-limit" @onclick="@ApplyRange">Apply</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

@code{

    private double? SetMin { get; set; } = 10;

    private double? SetMax { get; set; } = 100;

    private double? SetIncrement { get; set; } = 1;

    private double? stepMin { get; set; } = 1;

    private double? MinValue = 10;

    private double? MaxValue = 100;

    private double? StepValue = 1;

    public void ApplyRange(Microsoft.AspNetCore.Components.Web.MouseEventArgs args)
    {
        SetMin = MinValue;
        SetMax = MaxValue;
        SetIncrement = (StepValue == null) ? 1 : StepValue;
    }
}

<style>
    .control-section.range {
        margin-top: 20px;
    }

    .range-validation {
        width: 55%;
        margin-left: 80px;
    }

    .property-label {
        margin: 10px;
        width: 100px;
    }

    .apply-limit {
        margin-top: 10px;
    }

    .control-label {
        padding: 24px 0px 10px 0px;
        font-size: 12px;
    }

    .property {
        padding-left: 10px;
        padding-bottom: 20px;
        font-weight: 600;
        font-size: 15px;
    }
</style>