@page "/breadcrumb/overflow-modes"

@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.Navigations

@*Hidden:Lines*@
@inherits SampleBaseComponent
@inject NavigationManager NavigationManager


@*End:Hidden*@

<SampleDescription>
    <p>This sample demonstrates the different types of overflow mode such as <code>Menu</code>, <code>Hidden</code>, <code>Collapsed</code>, <code>Wrap</code>, and <code>Scroll</code> in the <b>Breadcrumb</b> component.</p>
</SampleDescription>
<ActionDescription>
    <p>The Blazor Breadcrumb provides <a href="https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Navigations.SfBreadcrumb.html#Syncfusion_Blazor_Navigations_SfBreadcrumb_OverflowMode" aria-label="OverflowModes">OverflowModes</a> property 
        that limits the number of items to be displayed in the view when the breadcrumb's width exceeds the container width or <a href="https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Navigations.SfBreadcrumb.html#Syncfusion_Blazor_Navigations_SfBreadcrumb_MaxItems" aria-label="MaxItems">MaxItems</a> count.
        The following overflow modes were available in the Breadcrumb component.</p>
    <ul>
        <li><code>Menu</code> - Shows the number of breadcrumb items that can be accommodated within the container space and creates a sub menu with the remaining items.</li>
        <li><code>Hidden</code> - Specified <code>MaxItems</code> count will be visible, and the remaining items will be hidden. While clicking on the previous item, the hidden item will become visible.</li>        
        <li><code>Collapsed</code> - Only the first and last items will be visible, and the remaining items will be hidden with collapsed icon. When the collapsed icon is clicked, all the items become visible.</li>
        <li><code>Wrap</code> - Wraps the items on multiple lines when the Breadcrumb’s width exceeds the container space.</li>
        <li><code>Scroll</code> - Shows an HTML scroll bar when the Breadcrumb’s width exceeds the container space.</li>
        <li><code>None</code> - Shows all the items on a single line.</li>
    </ul>
  <p><b>See also</b></p>
  <ul>
     <li><a href='https://blazor.syncfusion.com/documentation/breadcrumb/overflow' target='_blank' aria-label="Blazor Breadcrumb - Overflow Modes">Blazor Breadcrumb - Overflow Modes</a></li>
  </ul>
</ActionDescription>

<div class="col-lg-12 control-section">
    <div class="content-wrapper">
        <div class="row material2">
            <div class="col-xs-12 col-sm-12 col-lg-12 col-md-12">
                <h5 style="display: inline-block">Overflow Mode - Menu</h5>
                <SfButton class="e-small reset-btn" @onclick="ResetBtnClickHandler">Reset State</SfButton>
            </div>
        </div>
        <div class="row material2">
            <div class="col-xs-12 col-sm-12 col-lg-12 col-md-12">
                <SfBreadcrumb EnableNavigation="false" ActiveItem="@MenuActiveItem" MaxItems="3" OverflowMode="BreadcrumbOverflowMode.Menu">
                    <BreadcrumbItems>
                        <BreadcrumbItem Text="Home" Url="./"/>
                        <BreadcrumbItem Text="Breadcrumb" Url="./breadcrumb"/>
                        <BreadcrumbItem Text="Default" Url="./breadcrumb/default"/>
                        <BreadcrumbItem Text="Icons" Url="./breadcrumb/icons"/>
                        <BreadcrumbItem Text="Navigation" Url="./breadcrumb/navigation"/>
                        <BreadcrumbItem Text="Overflow" Url="./breadcrumb/overflow"/>
                    </BreadcrumbItems>
                </SfBreadcrumb>
            </div>
        </div>
        <div class="row material2">
            <div class="col-xs-12 col-sm-12 col-lg-12 col-md-12">
                <h5>Overflow Mode - Hidden</h5>                
            </div>
        </div>
        <div class="row material2">
            <div class="col-xs-12 col-sm-12 col-lg-12 col-md-12">
                <SfBreadcrumb EnableNavigation="false" ActiveItem="@HiddenActiveItem" MaxItems="3" OverflowMode="BreadcrumbOverflowMode.Hidden">
                    <BreadcrumbItems>
                        <BreadcrumbItem Text="Home" Url="./"/>
                        <BreadcrumbItem Text="Breadcrumb" Url="./breadcrumb"/>
                        <BreadcrumbItem Text="Default" Url="./breadcrumb/default"/>
                        <BreadcrumbItem Text="Icons" Url="./breadcrumb/icons"/>
                        <BreadcrumbItem Text="Navigation" Url="./breadcrumb/navigation"/>
                        <BreadcrumbItem Text="Overflow" Url="./breadcrumb/overflow"/>
                    </BreadcrumbItems>
                </SfBreadcrumb>
            </div>
        </div>        
        <div class="row material2">
            <div class="col-xs-12 col-sm-12 col-lg-12 col-md-12">
                <h5>Overflow Mode - Collapsed</h5>
            </div>
        </div>
        <div class="row material2">
            <div class="col-xs-12 col-sm-12 col-lg-12 col-md-12">
                <SfBreadcrumb EnableNavigation="false" ActiveItem="@CollapsedActiveItem" MaxItems="3" OverflowMode="BreadcrumbOverflowMode.Collapsed">
                    <BreadcrumbItems>
                        <BreadcrumbItem Text="Home" Url="./"/>
                        <BreadcrumbItem Text="Breadcrumb" Url="./breadcrumb"/>
                        <BreadcrumbItem Text="Default" Url="./breadcrumb/default"/>
                        <BreadcrumbItem Text="Icons" Url="./breadcrumb/icons"/>
                        <BreadcrumbItem Text="Navigation" Url="./breadcrumb/navigation"/>
                        <BreadcrumbItem Text="Overflow" Url="./breadcrumb/overflow"/>
                    </BreadcrumbItems>
                </SfBreadcrumb>
            </div>
        </div>
        <div class="row material2">
            <div class="col-xs-12 col-sm-12 col-lg-12 col-md-12">
                <h5>Overflow Mode - Wrap</h5>
            </div>
        </div>
        <div class="row material2">
            <div class="col-xs-12 col-sm-12 col-lg-12 col-md-12">
                <SfBreadcrumb EnableNavigation="false" ActiveItem="@WrapActiveItem" OverflowMode="BreadcrumbOverflowMode.Wrap" style="width:255px">
                    <BreadcrumbItems>
                        <BreadcrumbItem Text="Home" Url="./"/>
                        <BreadcrumbItem Text="Breadcrumb" Url="./breadcrumb"/>
                        <BreadcrumbItem Text="Default" Url="./breadcrumb/default"/>
                        <BreadcrumbItem Text="Icons" Url="./breadcrumb/icons"/>
                        <BreadcrumbItem Text="Navigation" Url="./breadcrumb/navigation"/>
                        <BreadcrumbItem Text="Overflow" Url="./breadcrumb/overflow"/>
                    </BreadcrumbItems>
                </SfBreadcrumb>
            </div>
        </div>
        <div class="row material2">
            <div class="col-xs-12 col-sm-12 col-lg-12 col-md-12">
                <h5>Overflow Mode - Scroll</h5>
            </div>
        </div>
        <div class="row material2">
            <div class="col-xs-12 col-sm-12 col-lg-12 col-md-12">
                <SfBreadcrumb EnableNavigation="false" ActiveItem="@ScrollActiveItem" OverflowMode="BreadcrumbOverflowMode.Scroll" style="width:300px">
                    <BreadcrumbItems>
                        <BreadcrumbItem Text="Home" Url="./"/>
                        <BreadcrumbItem Text="Breadcrumb" Url="./breadcrumb"/>
                        <BreadcrumbItem Text="Default" Url="./breadcrumb/default"/>
                        <BreadcrumbItem Text="Icons" Url="./breadcrumb/icons"/>
                        <BreadcrumbItem Text="Navigation" Url="./breadcrumb/navigation"/>
                        <BreadcrumbItem Text="Overflow" Url="./breadcrumb/overflow"/>
                    </BreadcrumbItems>
                </SfBreadcrumb>
            </div>
        </div>
    </div>
</div>

@code {
    private string MenuActiveItem = "Overflow";
    private string HiddenActiveItem = "Overflow";    
    private string CollapsedActiveItem = "Overflow";
    private string WrapActiveItem = "Overflow";
    private string ScrollActiveItem = "Overflow";
    

    // To refresh all Breadcrumb control state when reset button clicked
    private void ResetBtnClickHandler() {
        MenuActiveItem = HiddenActiveItem = CollapsedActiveItem = WrapActiveItem = ScrollActiveItem = "Overflow";        
    }
}

@*Hidden:Lines*@
<style>
    .content-wrapper {
        width: 90%;
        margin: 0 auto;
        min-width: 85px;
    }
    
    .content-wrapper div.row {
        padding: 15px 0px;
    }

    @@media only screen and (max-width: 480px) {
        .content-wrapper {
            width: 92%;
        }

        .col-xs-12,
        .col-xs-4,
        .col-xs-12 {
            padding: 10px 5px;
            width: 100%;
        }

        .content-wrapper div.row {
            padding: 0px;
        }
    }

    .tailwind .e-breadcrumb,
    .tailwind-dark .e-breadcrumb {
        margin-left: -12px;
    }

    .material .e-breadcrumb,
    .material-dark .e-breadcrumb {
        margin-left: -8px;
    }

    .fabric .e-breadcrumb,
    .fabric-dark .e-breadcrumb,
    .highcontrast .e-breadcrumb {
        margin-left: -4px;
    }

    .reset-btn {
        float: right;
        margin: 5px 2px 5px 0;
    }
</style>
@*End:Hidden*@