@page "/DateTime-Picker/Date-Time-Range"

@using Syncfusion.Blazor.Calendars

@*Hidden:Lines*@
@inherits SampleBaseComponent;
@*End:Hidden*@
<SampleDescription>
   <p>In the following example, date and time selection is demonstrated within specific ranges defined by the <code>Min</code>, <code>Max</code>, <code>MinTime</code>, and <code>MaxTime</code> properties. All other dates and times are out of range and <code>restricted</code> from being set or selected.</p>
</SampleDescription>
<ActionDescription>
    <p>Date Range example explains the date and time selection within the specific range in a calendar and time popup list by using 
    <a href="https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Calendars.DateTimePickerModel-1.html#Syncfusion_Blazor_Calendars_DateTimePickerModel_1_Min" target="_blank" aria-label="Class reference of Min property in DateTimePicker"> Min</a>,
     <a href="https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Calendars.DateTimePickerModel-1.html#Syncfusion_Blazor_Calendars_DateTimePickerModel_1_Max" target="_blank" aria-label="Class reference of Max property in DateTimePicker"> Max</a>,
     <a href="https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Calendars.DateTimePickerModel-1.html#Syncfusion_Blazor_Calendars_DateTimePickerModel_1_MinTime" target="_blank" aria-label="Class reference of Min property in DateTimePicker"> MinTime</a> and
     <a href="https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Calendars.DateTimePickerModel-1.html#Syncfusion_Blazor_Calendars_DateTimePickerModel_1_MaxTime" target="_blank" aria-label="Class reference of Max property in DateTimePicker"> MaxTime</a>,
      properties. Here, the 1st datetimepicker date selection range was restricted within a range from 7th 10:00 AM to 27th 10:30 PM days in a month.</p>
    <p>The 2nd datetimepicker time selection range is restricted from 10:00 AM to 8:30 PM of each day.</p>
    <p><b>See also</b></p>
    <ul>
        <li><a href="https://blazor.syncfusion.com/documentation/datetime-picker/date-time-range/" target="_blank" aria-label="Blazor DateTimePicker Range documentation">Blazor DateTimePicker - Range</a></li>
    </ul>
</ActionDescription>

<div class="col-lg-12 control-section">
    <div class="row">
        <div class="col-lg-6">
            <div class="control-wrapper">
                <label class="example-label">DateTime Restriction</label>
                <SfDateTimePicker TValue="DateTime?" Value="@DateTimeValue" Min="@MinDate" Max="@MaxDate" ShowClearButton="true" FullScreen="true" Placeholder="Select a date and time" aria-label="Date and time selector with restrictions"></SfDateTimePicker>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="control-wrapper">
                <label class="example-label">Time Restriction</label>
                <SfDateTimePicker TValue="DateTime?" Value="@DateTimeValue" MinTime="@MinTime" MaxTime="@MaxTime" ShowClearButton="true" FullScreen="true" Placeholder="Select a date and time" aria-label="Time selector with restrictions"></SfDateTimePicker>
            </div>
        </div>
    </div>
</div>

<style>
    .control-wrapper {
        max-width: 250px;
        padding: 30px 0px 0px;
        margin: 0 auto;
    }
    .example-label {
        font-size: 14px;
        margin-bottom: 6px;
    }
</style>

@code {
    public DateTime DateTimeValue { get; set; } = new DateTime(DateTime.Now.Year, DateTime.Now.Month, 9, 11, 0, 0);
    public DateTime MinDate { get; set; } = new DateTime(DateTime.Now.Year, DateTime.Now.Month, 7, 10, 0, 0);
    public DateTime MaxDate { get; set; } = new DateTime(DateTime.Now.Year, DateTime.Now.Month, 27, 22, 30, 0);
    public DateTime MinTime { get; set; } = new DateTime(DateTime.Now.Year, DateTime.Now.Month, 7, 10, 0, 0);
    public DateTime MaxTime { get; set; } = new DateTime(DateTime.Now.Year, DateTime.Now.Month, 27, 20, 30, 0);
}