@page "/DateTime-Picker/Format"

@using Syncfusion.Blazor.Calendars
@using Syncfusion.Blazor.DropDowns

@*Hidden:Lines*@
@inherits SampleBaseComponent;
@*End:Hidden*@
<SampleDescription>
   <p>This example demonstrates the display and input formats of the DateTimePicker by using the <code>Format</code> and <code>InputFormats</code> properties.</p>
</SampleDescription>
<ActionDescription>
    <p>DateTime Formats example explains the support of display format in the DateTimePicker component by using the <a href="https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Calendars.DateTimePickerModel-1.html#Syncfusion_Blazor_Calendars_DateTimePickerModel_1_Format" target="_blank" aria-label="Class reference of Format property in DateTimePicker"> Format</a> property.</p>
    <p>Additionally, it demonstrates the support for input formats when a user types an input value, it is converted to the display format using the <a href="https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Calendars.DateTimePickerModel-1.html#Syncfusion_Blazor_Calendars_DateTimePickerModel_1_Format" target="_blank" aria-label="Class reference of Format property in DateTimePicker"> InputFormats</a> property.</p>
</ActionDescription>

<div class="col-lg-12">
    <div class="col-lg-8 control-section sb-property-border">
        <div class="control-wrapper">
            <label class="example-label">Select Date and Time</label>
            <SfDateTimePicker TValue="DateTime?" @bind-Value="@DateTimeValue" Format="@SelectedFormat" InputFormats="@InputFormats" ShowClearButton="true" FullScreen="true" Placeholder="Select a date" aria-label="Date picker with customizable format"></SfDateTimePicker>
        </div>
    </div>
    <div class="col-lg-4">
        <div class='property-panel-section'>
            <div class="property-panel-header">Properties</div>
            <div class="property-panel-content">
                <label class="example-label">Choose a display format</label>
                <SfDropDownList TItem="DateFormat" TValue="string" PopupHeight="230px" @bind-Index="@SelectedFormatIndex" DataSource="@DisplayFormats">
                    <DropDownListEvents TValue="string" TItem="DateFormat" ValueChange="OnDisplayFormatChange"></DropDownListEvents>
                    <DropDownListFieldSettings Text="Text" Value="Id"></DropDownListFieldSettings>
                </SfDropDownList>
            </div>
            <div class="property-panel-content">
                <label class="example-label">Choose input formats</label>
                <SfMultiSelect TValue="string[]" TItem="InputFormatOption" Placeholder="e.g. MM/dd/yyyy hh:mm tt" @bind-Value="@SelectedInputFormats" Mode="@VisualMode.CheckBox" DataSource="@InputFormatOptions" ShowSelectAll="true" PopupHeight="350px">
                    <MultiSelectEvents TItem="InputFormatOption" TValue="string[]" ValueChange="OnInputFormatChange"></MultiSelectEvents>
                    <MultiSelectFieldSettings Value="InputFormat"></MultiSelectFieldSettings>
                </SfMultiSelect>
            </div>
        </div>
    </div>
</div>

<style>
    .control-section {
        min-height: 370px;
    }

    .control-wrapper {
        max-width: 275px;
        margin: 0 auto;
        padding: 50px 0px 0px;
    }
    
    .example-label {
        font-size: 14px;
        margin-bottom: 6px;
    }

    .property-panel-content {
        padding: 0px 0px 15px 0px;
    }

    .property-panel-content:last-child {
        padding: 0px 0px 40px 0px;
    }
</style>

@code {
    private int? SelectedFormatIndex { get; set; } = 0;
    public DateTime? DateTimeValue { get; set; } = DateTime.Now;
    public string[]? InputFormats { get; set; }
    public string[]? SelectedInputFormats { get; set; }
    public string? SelectedFormat { get; set; } = "dd-MMM-yy hh:mm tt";

    public class DateFormat
    {
        public string? Id { get; set; }
        public string? Text { get; set; }
    }

    private List<DateFormat> DisplayFormats = new List<DateFormat>()
    {
        new DateFormat() { Id = "format1", Text = "dd-MMM-yy hh:mm tt" },
        new DateFormat() { Id = "format2", Text = "yyyy-MM-dd HH:mm" }
    };

    public void OnDisplayFormatChange(Syncfusion.Blazor.DropDowns.ChangeEventArgs<string, DateFormat> args)
    {
        this.SelectedFormat = args.ItemData?.Text;
    }

    public class InputFormatOption
    {
        public string? InputFormat { get; set; }
    }

    private List<InputFormatOption> InputFormatOptions = new List<InputFormatOption>
    {
        new InputFormatOption() { InputFormat="MM.dd.yyyy hh:mm tt" },
        new InputFormatOption() { InputFormat="yyyy-MM-dd HH:mm" },
        new InputFormatOption() { InputFormat="dd MMM yyyy HH:mm" },
        new InputFormatOption() { InputFormat="MMM/dd/yyyy hh:mm tt" },
        new InputFormatOption() { InputFormat="yyyy/MM/dd hh:mm tt" },
        new InputFormatOption() { InputFormat="dd-MM-yyyy HH:mm" },
        new InputFormatOption() { InputFormat="MM/dd/yyyy hh:mm tt" },
        new InputFormatOption() { InputFormat="yyyy.MM.dd HH:mm" }
    };

    private void OnInputFormatChange(MultiSelectChangeEventArgs<string[]> args)
    {
        this.InputFormats = args.Value;
    }
}
