@page "/range-slider/keyboard-navigation"

@using Syncfusion.Blazor.Inputs

@inherits SampleBaseComponent

<SampleDescription>
    <p>This sample demonstrates the keyboard interactions of the Range Slider component. The various key combinations can be used to interact with Range Slider.</p>
</SampleDescription>
<ActionDescription>
    <i>The Range Slider supports the following keyboard shortcuts to initiate various actions.</i>
    <ul>
        <li>
            <b>Supported keys and user actions</b>
            <ul>
                <li>
                    <span class="key-class"><kbd>Alt</kbd> + <kbd>J</kbd></span>
                    <span> - Focuses on the first Blazor Component of the sample.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Right arrow</kbd> or <kbd>Up arrow</kbd></span>
                    <span> - Increases the Range Slider value.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Left arrow</kbd> or <kbd>Down arrow</kbd></span>
                    <span> - Decreases the Range Slider value.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Home</kbd></span>
                    <span> - Moves to the start value (for Range Slider when the second thumb is focused and the <i>Home</i> key is pressed, it moves to the first thumb value).</span>
                </li>
                <li>
                    <span class="key-class"><kbd>End</kbd></span>
                    <span> - Moves to the end value (for Range Slider when the first thumb is focused and the <i>End</i> key is pressed, it moves to the second thumb value).</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Page up</kbd></span>
                    <span> - Increases the Range Slider by <b>largeStep</b> value (for Range Slider when the second thumb is focused and the <i>Page Up</i> key is pressed, it moves to the first thumb value).</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Page down</kbd></span>
                    <span> - Decreases the Range Slider by <b>largeStep</b> value (for Range Slider when the first thumb is focused and the <i>Page Down</i> key is pressed, it moves to the second thumb value).</span>
                </li>
                <li>
                    <span class="key-class"><kbd> Tab</kbd></span>
                    <span> -  Focus the Slider handle (move the focus between the handles in Range Slider).</span>
                </li>
            </ul>
        </li>
    </ul>
</ActionDescription>

<div class="control-section">
    <div class="content-wrapper">
        <div class="sliderwrap">
            <label class="labeltext userselect">Default Slider</label>
            <SfSlider @bind-Value="@Default" Min="0" Max="100" Step="10" Type=SliderType.MinRange>
                <SliderTicks Placement="@Placement.Before" LargeStep="20" SmallStep="10" ShowSmallTicks="true"></SliderTicks>
                <SliderTooltip IsVisible="true" Placement="TooltipPlacement.Before" ShowOn="@TooltipShowOn.Focus"></SliderTooltip>
            </SfSlider>
        </div>
        <div class="sliderwrap">
            <label class="labeltext userselect">Range Slider</label>
            <SfSlider @bind-Value="@Value" Min="0" Max="100" Step="10" Type=SliderType.Range>
                <SliderTicks Placement="@Placement.Before" LargeStep="20" SmallStep="10" ShowSmallTicks="true"></SliderTicks>
                <SliderTooltip IsVisible="true" Placement="TooltipPlacement.Before" ShowOn="@TooltipShowOn.Focus"></SliderTooltip>
            </SfSlider>
        </div>
    </div>
</div>

@code{
    int Default = 25;
    int[] Value = { 20, 50 };
}

<style>
    .content-wrapper {
        width: 52%;
        margin: 0 auto;
        min-width: 185px;
    }
    .sliderwrap {
        margin-top: 45px;
    }
    .e-bigger .content-wrapper {
        width: 80%;
    }
    .sliderwrap label {
        padding-bottom: 50px;
        font-size: 13px;
        font-weight: 500;
        margin-top: 15px;
    }
    .userselect {
        -webkit-user-select: none;
        /* Safari 3.1+ */
        -moz-user-select: none;
        /* Firefox 2+ */
        -ms-user-select: none;
        /* IE 10+ */
        user-select: none;
        /* Standard syntax */
    }
    .key-class {
        display: inline-block;
        width: 190px;
    }
</style>
