@page "/tabs/orientation"

@using Syncfusion.Blazor.Navigations
@using Syncfusion.Blazor.Lists
@using Syncfusion.Blazor
@inject Microsoft.AspNetCore.Components.NavigationManager UriHelper;
@*Hidden:Lines*@
@inherits SampleBaseComponent


@*End:Hidden*@

<SampleDescription>
    <p> This sample demonstrates the options to customize the <code>Tab Header</code> and its orientation.</p>
</SampleDescription>
<ActionDescription>
    <p>
        In this demo, the <code>Headerplacement</code>, <code>CssClass</code> and <code>ShowCloseButton</code> properties are used to customize the Tab Header. <br />
        The <code>Blazor Tabs</code> allows to place the header section either at <code>Top / Bottom / Left / Right</code> position by using <a href="https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Navigations.SfTab.html#Syncfusion_Blazor_Navigations_SfTab_HeaderPlacement">HeaderPlacement</a> property.
        Users can close the Tab item by clicking the close icon in the tab header. By default, the close icon is not shown in the header which can be shown or hidden using <a href="https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Navigations.SfTab.html#Syncfusion_Blazor_Navigations_SfTab_ShowCloseButton">ShowCloseButton</a> property.<br /><br />
    </p>
    <p>More information about Blazor Tabs can be found in this <a target='_blank' href='https://blazor.syncfusion.com/documentation/tabs/getting-started/' aria-label="Blazor Tabs Getting Started documentation">documentation</a> section. </p>
</ActionDescription>

<div class="col-lg-12 control-section">
    @foreach (PositionData PositionTab in PositionTabs)
    {
        <div class="orientation-tab-control-section">
            <div class="row">
                <div class="col-md-12">
                    <h5>@PositionTab.Position</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <SfTab Height="@PositionTab.TabHeight" CssClass="tab-orientation" ShowCloseButton="true" HeaderPlacement="@PositionTab.PositionMode">
                        <TabAnimationSettings>
                            <TabAnimationPrevious Effect=AnimationEffect.None></TabAnimationPrevious>
                            <TabAnimationNext Effect=AnimationEffect.None></TabAnimationNext>
                        </TabAnimationSettings>
                        <TabItems>
                            <TabItem>
                                <ChildContent>
                                    <TabHeader Text="Rome"></TabHeader>
                                </ChildContent>
                                <ContentTemplate>
                                    <div class="tab-content">
                                        <SfListView Enable="true" DataSource="@RomeDataList" CssClass="employee-list">
                                            <ListViewFieldSettings TValue="DataModel" Id="Id" Text="Name"></ListViewFieldSettings>
                                            <ListViewTemplates TValue="DataModel">
                                                <Template>
                                                    <div class="template-container">
                                                        <div class="left">
                                                           <img class="empImg" src=@UriHelper.ToAbsoluteUri($"{SampleService.WebAssetsPath}images/tabs/{context.Image}.png") alt=@context.Image />
                                                        </div>
                                                        <div class="left empl-info">
                                                            <div class="name">@context.Name</div>
                                                            <div class="role">@context.Designation</div>
                                                        </div>
                                                    </div>
                                                </Template>
                                            </ListViewTemplates>
                                        </SfListView>
                                    </div>
                                </ContentTemplate>
                            </TabItem>
                            <TabItem>
                                <ChildContent>
                                    <TabHeader Text="Paris"></TabHeader>
                                </ChildContent>
                                <ContentTemplate>
                                    <div class="tab-content">
                                        <SfListView Enable="true" DataSource="@ParisDataList" CssClass="employee-list">
                                            <ListViewFieldSettings TValue="DataModel" Id="Id" Text="Name"></ListViewFieldSettings>
                                            <ListViewTemplates TValue="DataModel">
                                                <Template>
                                                    <div class="template-container">
                                                        <div class="left">
                                                            <img class="empImg" src=@UriHelper.ToAbsoluteUri($"{SampleService.WebAssetsPath}images/tabs/{context.Image}.png") alt=@context.Image />
                                                        </div>
                                                        <div class="left empl-info">
                                                            <div class="name">@context.Name</div>
                                                            <div class="role">@context.Designation</div>
                                                        </div>
                                                    </div>
                                                </Template>
                                            </ListViewTemplates>
                                        </SfListView>
                                    </div>
                                </ContentTemplate>
                            </TabItem>
                            <TabItem>
                                <ChildContent>
                                    <TabHeader Text="London"></TabHeader>
                                </ChildContent>
                                <ContentTemplate>
                                    <div class="tab-content">
                                        <SfListView Enable="true" DataSource="@LondonDataList" CssClass="employee-list">
                                            <ListViewFieldSettings TValue="DataModel" Id="Id" Text="Name"></ListViewFieldSettings>
                                            <ListViewTemplates TValue="DataModel">
                                                <Template>
                                                    <div class="template-container">
                                                        <div class="left">
                                                            <img class="empImg" src=@UriHelper.ToAbsoluteUri($"{SampleService.WebAssetsPath}images/tabs/{context.Image}.png") alt=@context.Image />
                                                        </div>
                                                        <div class="left empl-info">
                                                            <div class="name">@context.Name</div>
                                                            <div class="role">@context.Designation</div>
                                                        </div>
                                                    </div>
                                                </Template>
                                            </ListViewTemplates>
                                        </SfListView>
                                    </div>
                                </ContentTemplate>
                            </TabItem>
                        </TabItems>
                    </SfTab>
                </div>
            </div>
        </div>
    }
</div>

@code {

    
    List<DataModel> RomeDataList = new List<DataModel>() {
                new DataModel() { Name = "Anne Dodsworth", Designation = "Product Manager", Id = "1", Image = "Anne"},
                new DataModel() { Name = "Laura Callahan", Designation = "Team Lead", Id = "2", Image = "Laura"},
                new DataModel() { Name = "Andrew Fuller", Designation = "Developer", Id = "3", Image = "Andrew"}
                };
    List<DataModel> ParisDataList = new List<DataModel>() {
                new DataModel() { Name = "Robert King", Designation = "Team Lead", Id = "1", Image = "Robert"},
                new DataModel() { Name = "Michael Suyama", Designation = "Developer", Id = "2", Image = "Michael"},
                new DataModel() { Name = "Margaret Peacock", Designation = "Developer", Id = "3", Image = "Margaret"}
                };
    List<DataModel> LondonDataList = new List<DataModel>() {
                new DataModel() { Name = "Janet Leverling", Designation = "CEO", Id = "1", Image = "Janet"},
                new DataModel() { Name = "Steven Buchanan", Designation = "HR", Id = "2", Image = "Steven"},
                new DataModel() { Name = "Nancy Davolio", Designation = "Product Manager", Id = "3", Image = "Nancy"}
                };
    public class DataModel
    {
        public string Name { get; set; }
        public string Designation { get; set; }
        public string Id { get; set; }
        public string Image { get; set; }
    }
    private List<PositionData> PositionTabs { get; set; } = new List<PositionData>() {
        new PositionData { Position = "Top Header Section", PositionMode = HeaderPosition.Top, TabHeight= "280px" },
        new PositionData { Position = "Bottom Header Section", PositionMode = HeaderPosition.Bottom, TabHeight= "245px" },
        new PositionData { Position = "Left Header Section", PositionMode = HeaderPosition.Left, TabHeight= "250px" },
        new PositionData { Position = "Right Header Section", PositionMode = HeaderPosition.Right, TabHeight= "250px" }
    };
    public class PositionData
    {
        public string Position { get; set; }
        public HeaderPosition PositionMode { get; set; }
        public string TabHeight { get; set; }
    }
}

<style>
    .employee-list.e-listview .e-content {
        display: block !important;
    }

    .employee-list.e-listview:not(.e-list-template) .e-list-item {
        line-height: 24px;
    }

    .template-container {
        display: flex;
        font-weight: 100;
        font-size: 12px;
        padding-top: 7px;
    }

    .empImg {
        height: 48px;
        width: 48px;
    }

    .name {
        font-weight: 500;
        font-size: 14px;
    }

    .empl-info {
        padding-left: 7px;
    }

    .e-tab .employee-list.e-listview:not(.e-list-template) .e-list-item {
        height: 63px;
        padding: 0 15px;
    }

    .orientation-tab-control-section {
        margin: 20px 20% 20px 20%;
    }

    .tab-orientation {
        margin-bottom: 20px;
        border: 1px solid #d7d7d7;
    }

    .tab-orientation:not(.e-vertical-left):not(.e-vertical-right):not(.e-horizontal-bottom) .e-content .e-item.e-active .tab-content {
        margin-top: 10px;
    }

    .tab-orientation.e-vertical-tab.e-vertical-left .e-content .e-item.e-active .tab-content {
        margin-left: 10px;
    }

    .tab-orientation.e-vertical-tab.e-vertical-right .e-content .e-item.e-active .tab-content {
        margin-right: 10px;
    }

    @@media screen and (max-width: 480px) {
        .orientation-tab-control-section {
            margin: 20px 0 20px 0;
        }
    }

    .bootstrap5 .tab-orientation,
    .bootstrap5-dark .tab-orientation,
    .bootstrap .tab-orientation,
    .bootstrap-dark .tab-orientation,
    .bootstrap4 .tab-orientation {
        border: none;
    }

    .fluent .tab-orientation .e-content > .e-item.e-active,
    .bootstrap5 .tab-orientation .e-content > .e-item.e-active,
    .tailwind .tab-orientation .e-content > .e-item.e-active,
    .material .tab-orientation .e-content > .e-item.e-active,
    .bootstrap4 .tab-orientation .e-content > .e-item.e-active,
    .bootstrap .tab-orientation .e-content > .e-item.e-active,
    .fabric .tab-orientation .e-content > .e-item.e-active,
    .fluent2 .tab-orientation .e-content > .e-item.e-active {
        background: #FAF9F8;
    }

    .fluent-dark .tab-orientation .e-content > .e-item.e-active,
    .bootstrap5-dark .tab-orientation .e-content > .e-item.e-active,
    .tailwind-dark .tab-orientation .e-content > .e-item.e-active,
    .material-dark .tab-orientation .e-content > .e-item.e-active,
    .bootstrap-dark .tab-orientation .e-content > .e-item.e-active,
    .fabric-dark .tab-orientation .e-content > .e-item.e-active,
    .highcontrast .tab-orientation .e-content > .e-item.e-active,
    .fluent2-dark .tab-orientation .e-content > .e-item.e-active,
    .fluent2-highcontrast .tab-orientation .e-content > .e-item.e-active {
        background: #201F1E;
    }
</style>