@page "/tabs/responsive-modes"

@using Syncfusion.Blazor.Navigations
@using Syncfusion.Blazor.DropDowns
@using Syncfusion.Blazor

@*Hidden:Lines*@
@inherits SampleBaseComponent
@inject NavigationManager NavigationManager


@*End:Hidden*@

<SampleDescription>
    <p> This sample demonstrates both <code>Scrollable</code> and <code>Popup</code> modes of the <code>Blazor Tabs</code>.</p>
</SampleDescription>
<ActionDescription>
    <p>The <code>Blazor Tabs</code> is adaptable to the available space when the tab items exceed the view space.</p>
    <p>You can assign <a href="https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Navigations.SfTab.html#Syncfusion_Blazor_Navigations_SfTab_OverflowMode" aria-label="Class reference of OverflowMode property in Tabs">OverflowMode</a> property value as <code>Scrollable/Popup</code>. By default, scrollable mode of tabs is enabled when tab item exceeds the view range. In this sample, users can change the <code>HeaderPlacement</code> property by selecting the dropdown options. </p>
    <p>More information about Tab can be found in this <a target='_blank' href='https://blazor.syncfusion.com/documentation/tabs/getting-started/' aria-label="Blazor Tabs Getting Started documentation"> documentation </a> section.</p>
</ActionDescription>


<div class="e-sample-resize-container">
    <div class="col-lg-12" style="padding-top:15px">
        <div class="row">
            <div class="col-md-3">
                <h5>Header Placement</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <SfDropDownList TValue="string" TItem="DropdownFields" DataSource="@OrientationData" @bind-Value="@HeaderValue">
                    <DropDownListEvents TItem="DropdownFields" TValue="string" ValueChange="OnChangeHeaderPosition">
                    </DropDownListEvents>
                    <DropDownListFieldSettings Value="ID" Text="Text"></DropDownListFieldSettings>
                </SfDropDownList>
            </div>
        </div>
    </div>
    <div class="col-lg-12 control-section">
        @foreach (OverflowData PositionTab in PositionTabs)
        {
            <div class="row">
                <div class="col-md-12">
                    <h5>@PositionTab.Overflow</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <SfTab Height="170px" CssClass="tab-adaptive" OverflowMode="@PositionTab.TabOverflow" HeaderPlacement="@Header">
                        <TabAnimationSettings>
                            <TabAnimationPrevious Effect=AnimationEffect.None></TabAnimationPrevious>
                            <TabAnimationNext Effect=AnimationEffect.None></TabAnimationNext>
                        </TabAnimationSettings>
                        <TabItems>
                            <TabItem>
                                <ChildContent>
                                    <TabHeader Text="HTML"></TabHeader>
                                </ChildContent>
                                <ContentTemplate>
                                    HyperText Markup Language, commonly referred to as HTML, is the standard markup language used to create webpages. Along with CSS and JavaScript, HTML is a cornerstone technology, used by most websites to create visually engaging web pages, and user interfaces for web applications.
                                </ContentTemplate>
                            </TabItem>
                            <TabItem>
                                <ChildContent>
                                    <TabHeader Text="C-Sharp(C#)"></TabHeader>
                                </ChildContent>
                                <ContentTemplate>
                                    C# is intended to be a simple, modern, general-purpose, object-oriented programming language. Its development team is led by Anders Hejlsberg.The most recent version is C# 5.0, which was released on August 15, 2012.
                                </ContentTemplate>
                            </TabItem>
                            <TabItem>
                                <ChildContent>
                                    <TabHeader Text="Blazor"></TabHeader>
                                </ChildContent>
                                <ContentTemplate>
                                    The ASP.NET Core Blazor is a web application framework developed by Microsoft. It is open-source web framework, that enables developers to create web apps using C# and HTML. The ASP.NET Core Blazor is a single-page app(SPA) framework for building interactive web apps.
                                </ContentTemplate>
                            </TabItem>
                            <TabItem>
                                <ChildContent>
                                    <TabHeader Text="ASP.NET Core"></TabHeader>
                                </ChildContent>
                                <ContentTemplate>
                                    The ASP.NET Core is a web application framework developed by Microsoft that runs on both the full .NET Framework, on Windows, and the cross-platform .NET since it is a modular framework. The ASP.NET Core framework unites the previously separate ASP.NET MVC and ASP.NET Web API into a single programming model.
                                </ContentTemplate>
                            </TabItem>
                            <TabItem>
                                <ChildContent>
                                    <TabHeader Text="ASP.NET MVC"></TabHeader>
                                </ChildContent>
                                <ContentTemplate>
                                    The ASP.NET MVC is a web application framework developed by Microsoft that implements the model–view–controller (MVC) pattern. It is open-source software, apart from the ASP.NET Web Forms component, which is proprietary. In the later versions of ASP.NET, ASP.NET MVC, ASP.NET Web API, and ASP.NET Web Pages (a platform using only Razor pages) will merge into a unified MVC 6.
                                </ContentTemplate>
                            </TabItem>
                            <TabItem>
                                <ChildContent>
                                    <TabHeader Text="Typescript"></TabHeader>
                                </ChildContent>
                                <ContentTemplate>
                                    It is a typed superset of JavaScript that compiles to plain JavaScript. TypeScript is an open-source, object-oriented programing language. It contains all elements of JavaScript. It is a language designed for large-scale JavaScript application development, which can be executed on any browser, any Host, and any Operating System. TypeScript is a language as well as a set of tools.
                                </ContentTemplate>
                            </TabItem>
                            <TabItem>
                                <ChildContent>
                                    <TabHeader Text="Angular"></TabHeader>
                                </ChildContent>
                                <ContentTemplate>
                                    Angular is a platform and framework for building single-page client applications using HTML and TypeScript. Angular is written in TypeScript. It implements core and optional functionality as a set of TypeScript libraries that you import into your applications.
                                </ContentTemplate>
                            </TabItem>
                            <TabItem>
                                <ChildContent>
                                    <TabHeader Text="React"></TabHeader>
                                </ChildContent>
                                <ContentTemplate>
                                    React is a declarative, efficient, and flexible JavaScript library for building user interfaces. It lets you compose complex UIs from small and isolated pieces of code called “components”. It can also render on the server using Node.
                                </ContentTemplate>
                            </TabItem>
                            <TabItem>
                                <ChildContent>
                                    <TabHeader Text="Vue"></TabHeader>
                                </ChildContent>
                                <ContentTemplate>
                                    A progressive framework for building user interfaces. It is incrementally adoptable. The core library is focused on the view layer only and is easy to pick up and integrate with other libraries or existing projects.
                                </ContentTemplate>
                            </TabItem>
                        </TabItems>
                    </SfTab>
                </div>
            </div>
            <br />
        }
    </div>
</div>

@code {
    

    public HeaderPosition Header { get; set; } = HeaderPosition.Top;
    public string HeaderValue { get; set; } = "Top";
    public class DropdownFields
    {
        public string ID { get; set; }
        public string Text { get; set; }
    }
    List<DropdownFields> OrientationData = new List<DropdownFields> {
        new DropdownFields() { ID= "Top", Text= "Top" },
        new DropdownFields() { ID= "Bottom", Text= "Bottom" },
        new DropdownFields() { ID= "Left", Text= "Left" },
        new DropdownFields() { ID= "Right", Text= "Right" }
    };
    private List<OverflowData> PositionTabs { get; set; } = new List<OverflowData>() {
        new OverflowData { Overflow = "Scrollable Mode", TabOverflow = OverflowMode.Scrollable },
        new OverflowData { Overflow = "Popup Mode", TabOverflow = OverflowMode.Popup }
    };
    public class OverflowData
    {
        public string Overflow { get; set; }
        public OverflowMode TabOverflow { get; set; }
    }
    public void OnChangeHeaderPosition(Syncfusion.Blazor.DropDowns.ChangeEventArgs<string, DropdownFields> args)
    {
        Header = (HeaderPosition)Enum.Parse(typeof(HeaderPosition), (args.Value as string));
    }
}
<style>
    .tab-adaptive {
        border: 1px solid #d7d7d7;
    }

    .tab-adaptive .e-content .e-item {
        padding: 4px !important;
        text-align: justify;
        overflow: auto;
    }

    .e-sample-resize-container {
        max-width: 615px;
    }

    @@media screen and (min-width: 768px) {
        .e-sample-resize-container {
            width: 75%;
            margin: 0 auto;
        }
    }

    .bootstrap5 .tab-adaptive,
    .bootstrap5-dark .tab-adaptive,
    .bootstrap .tab-adaptive,
    .bootstrap-dark .tab-adaptive,
    .bootstrap4 .tab-adaptive {
        border: none;
    }

    .fluent .tab-adaptive .e-content > .e-item.e-active,
    .bootstrap5 .tab-adaptive .e-content > .e-item.e-active,
    .tailwind .tab-adaptive .e-content > .e-item.e-active,
    .material .tab-adaptive .e-content > .e-item.e-active,
    .bootstrap4 .tab-adaptive .e-content > .e-item.e-active,
    .bootstrap .tab-adaptive .e-content > .e-item.e-active,
    .fabric .tab-adaptive .e-content > .e-item.e-active,
    .fluent2 .tab-adaptive .e-content > .e-item.e-active {
        background: #FAF9F8;
    }

    .fluent-dark .tab-adaptive .e-content > .e-item.e-active,
    .bootstrap5-dark .tab-adaptive .e-content > .e-item.e-active,
    .tailwind-dark .tab-adaptive .e-content > .e-item.e-active,
    .material-dark .tab-adaptive .e-content > .e-item.e-active,
    .bootstrap-dark .tab-adaptive .e-content > .e-item.e-active,
    .fabric-dark .tab-adaptive .e-content > .e-item.e-active,
    .highcontrast .tab-adaptive .e-content > .e-item.e-active,
    .fluent2-dark .tab-adaptive .e-content > .e-item.e-active,
    .fluent2-highcontrast .tab-adaptive .e-content > .e-item.e-active {
        background: #201F1E;
    }
</style>
