@page "/message/icons"

@using Syncfusion.Blazor.Notifications
@using Syncfusion.Blazor.Buttons

@*Hidden:Lines*@
@inherits SampleBaseComponent
@inject NavigationManager NavigationManager


@*End:Hidden*@

<SampleDescription>
    <p>This sample demonstrates the visibility customization of severity and close icons of the Blazor Message component. Click the close icon to hide the message. Click the button to restore the hidden message. Check or uncheck the check box to show or hide the visibility of the severity icon. Check or uncheck the check box to show or hide the visibility of the close icon.</p>
</SampleDescription>
<ActionDescription>
    <p>The Message component can be rendered with and without the severity and close icons. The close icon is used to hide the message.</p>
    <p>In this sample, the Message component is rendered with a severity icon and a close icon. The visibility of the severity icon is handled by the <a target="_blank" href="https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Notifications.SfMessage.html#Syncfusion_Blazor_Notifications_SfMessage_ShowIcon" aria-label="ShowIcon">ShowIcon</a> property. The visibility of the close icon is handled by the <a target="_blank" href="https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Notifications.SfMessage.html#Syncfusion_Blazor_Notifications_SfMessage_ShowCloseIcon" aria-label="ShowCloseIcon">ShowCloseIcon</a> property.</p>
    <p>More information about Message icons can be found in this <a target="_blank" href="https://blazor.syncfusion.com/documentation/message/icons" aria-label="documentation section">documentation</a> section.</p>
</ActionDescription>

<div class="col-lg-8 control-section msg-icon-section sb-property-border">
    <div class="content-section">
        <SfButton Content="Show Default Message" CssClass="@defaultBtnClass" OnClick="@defaultClick"></SfButton>
        <SfMessage ShowIcon="@defaultIcon" Closed="@defaultClosed" ShowCloseIcon="@defaultCloseIcon" @bind-Visible="@defaultVisible">Editing is restricted</SfMessage>
        <SfButton Content="Show Info Message" CssClass="@infoBtnClass" OnClick="@infoClick"></SfButton>
        <SfMessage Severity="MessageSeverity.Info" ShowIcon="@infoIcon" ShowCloseIcon="@infoCloseIcon" Closed="@infoClosed" @bind-Visible="@infoVisible">Please read the comments carefully</SfMessage>
        <SfButton Content="Show Success Message" CssClass="@successBtnClass" OnClick="@successClick"></SfButton>
        <SfMessage Severity="MessageSeverity.Success" ShowIcon="@successIcon" ShowCloseIcon="@successCloseIcon" Closed="@successClosed" @bind-Visible="@successVisible">Your message has been sent successfully</SfMessage>
        <SfButton Content="Show Warning Message" CssClass="@warningBtnClass" OnClick="@warningClick"></SfButton>
        <SfMessage Severity="MessageSeverity.Warning" ShowIcon="@warningIcon" ShowCloseIcon="@warningCloseIcon" Closed="warningClosed" @bind-Visible="@warningVisible">There was a problem with your network connection</SfMessage>
        <SfButton Content="Show Error Message" CssClass="@errorBtnClass" OnClick="@errorClick"></SfButton>
        <SfMessage Severity="MessageSeverity.Error" ShowIcon="@errorIcon" ShowCloseIcon="@errorCloseIcon" Closed="@errorClosed" @bind-Visible="@errorVisible">A problem occurred while submitting your data</SfMessage>
    </div>
</div>

<div class="col-lg-4 property-section">
    <div class="property-panel-section">
        <div class="property-panel-header">Properties</div>
        <div class="property-panel-content">
            <table id="property" title="Properties" class="property-panel-table">
                <tbody>
                    <tr>
                        <td>
                            <SfCheckBox Label="Severity Icon" Name="severity-icons" Value="severityicon"
                                 @bind-Checked="severityChecked" ValueChange="severityIconChange" TChecked="bool"></SfCheckBox>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <SfCheckBox Label="Close Icon" Name="close-icons" Value="close-icon"
                                 @bind-Checked="closeIconChecked" ValueChange="@closeIconChange" TChecked="bool"></SfCheckBox>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>

@code {

    private bool defaultIcon = true;
    private bool successIcon = true;
    private bool warningIcon = true;
    private bool infoIcon = true;
    private bool errorIcon = true;

    private bool defaultVisible = true;
    private bool successVisible = true;
    private bool warningVisible = true;
    private bool errorVisible = true;
    private bool infoVisible = true;

    private bool defaultCloseIcon = true;
    private bool successCloseIcon = true;
    private bool warningCloseIcon = true;
    private bool infoCloseIcon = true;
    private bool errorCloseIcon = true;

    private bool severityChecked = true;
    private bool closeIconChecked = true;

    private string defaultBtnClass = "e-outline e-primary msg-hidden";
    private string infoBtnClass = "e-outline e-primary e-info msg-hidden";
    private string successBtnClass = "e-outline e-primary e-success msg-hidden";
    private string warningBtnClass = "e-outline e-primary e-warning msg-hidden";
    private string errorBtnClass = "e-outline e-primary e-error msg-hidden";
    

    private void defaultClick()
    {
        this.defaultVisible = true;
        this.defaultBtnClass = "e-outline e-primary msg-hidden";
    }

    private void defaultClosed()
    {
        this.defaultBtnClass = "e-outline e-primary";
    }

    private void infoClick()
    {
        this.infoVisible = true;
        this.infoBtnClass = "e-outline e-primary e-info msg-hidden";
    }

    private void infoClosed()
    {
        this.infoBtnClass = "e-outline e-primary e-info";
    }

    private void successClick()
    {
        this.successVisible = true;
        this.successBtnClass = "e-outline e-primary e-success msg-hidden";
    }

    private void successClosed()
    {
        this.successBtnClass = "e-outline e-primary e-success";
    }

    private void warningClick()
    {
        this.warningVisible = true;
        this.warningBtnClass = "e-outline e-primary e-warning msg-hidden";
    }

    private void warningClosed()
    {
        this.warningBtnClass = "e-outline e-primary e-warning";
    }

    private void errorClick()
    {
        this.errorVisible = true;
        this.errorBtnClass = "e-outline e-primary e-error msg-hidden";
    }

    private void errorClosed()
    {
        this.errorBtnClass = "e-outline e-primary e-error";
    }

    private void severityIconChange(Syncfusion.Blazor.Buttons.ChangeEventArgs<bool> args)
    {
        if (args.Checked)
        {
            this.defaultIcon = true;
            this.successIcon = true;
            this.warningIcon = true;
            this.infoIcon = true;
            this.errorIcon = true;
        }
        else
        {
            this.defaultIcon = false;
            this.successIcon = false;
            this.warningIcon = false;
            this.infoIcon = false;
            this.errorIcon = false;
        }
    }

    private void closeIconChange(Syncfusion.Blazor.Buttons.ChangeEventArgs<bool> args)
    {
        if (args.Checked)
        {
            this.defaultCloseIcon = true;
            this.successCloseIcon = true;
            this.warningCloseIcon = true;
            this.infoCloseIcon = true;
            this.errorCloseIcon = true;
        }
        else
        {
            this.defaultCloseIcon = false;
            this.successCloseIcon = false;
            this.warningCloseIcon = false;
            this.infoCloseIcon = false;
            this.errorCloseIcon = false;
        }
    }
}

<style>
    .msg-icon-section .content-section {
        margin: 0 auto;
        max-width: 520px;
        padding-top: 10px;
    }

    .msg-icon-section .e-message {
        margin: 10px 0;
    }

    .msg-icon-section .e-btn {
        display: block;
        margin: 10px 0;
    }

    .msg-icon-section .e-btn.msg-hidden {
        display: none;
    }
</style>
