@page "/pivot-table/pivot-chart"

@using Syncfusion.Blazor.PivotView
@using Syncfusion.Blazor.DropDowns
@using Syncfusion.Blazor
@*Hidden:Lines*@
@using ThemeHelper
@inherits SampleBaseComponent;
@*End:Hidden*@
@inject NavigationManager NavigationManager

<ActionDescription>
<p>This sample demonstrates pivot chart rendering using pivot data with interactive drill-up and drill-down capabilities.</p>
    
    <p>Key features:</p>
    
    <ul>
        <li>Explore data through drill operations by clicking grouping labels</li>
        <li>Change report dynamically using field list</li>
        <li>Switch between different chart visualizations</li>
    </ul>
    
    <p>Display mode configuration via <a target="_blank" rel="noopener" class="code" href="https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.PivotView.PivotViewDisplayOption.html#Syncfusion_Blazor_PivotView_PivotViewDisplayOption_View" aria-label="Class reference of View property in PivotView">View</a> property in <a target="_blank" rel="noopener" class="code" href="https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.PivotView.PivotViewDisplayOption.html" aria-label="Class reference of PivotViewDisplayOption">PivotViewDisplayOption</a>:</p>
    
    <ul>
        <li><b>Table</b> - Pivot table only (default)</li>
        <li><b>Chart</b> - Pivot chart only</li>
        <li><b>Both</b> - Pivot table and chart together</li>
    </ul>
    
    <p>Chart types available (via <a target="_blank" rel="noopener" class="code" href="https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.PivotView.PivotChartSeries.html#Syncfusion_Blazor_PivotView_PivotChartSeries_Type" aria-label="Class reference of View property in PivotView">Type</a> property in <a target="_blank" rel="noopener" class="code" href="https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.PivotView.PivotChartSeries.html" aria-label="Class reference of PivotChartSeries">PivotChartSeries</a>):</p>
    
    <ul>
        <li>Column, Line, Spline, Bar, Area, StepArea, SplineArea</li>
        <li>StackingColumn, StackingArea, StackingBar, StepLine</li>
        <li>Pareto, Bubble, Scatter, StackingColumn100, StackingBar100, StackingArea100</li>
        <li>Polar, Radar, Pie, Doughnut, Funnel, Pyramid</li>
    </ul>
    
    <p>For accumulation charts (pie, doughnut, funnel, pyramid), perform drill down/up via right-click context menu.</p>
    
    <p>For comprehensive pivot chart documentation, refer to the <a target="_blank" rel="noopener" href="https://blazor.syncfusion.com/documentation/pivot-table/pivot-chart/" aria-label="Blazor PivotTable PivotChart documentation">documentation</a> or <a target="_blank" rel="noopener" href="https://www.syncfusion.com/blazor-components/blazor-pivot-chart" aria-label="Feature Tour of Blazor Pivot Chart">Blazor Pivot Chart</a> page.</p>
</ActionDescription>


<div class="col-lg-9 control-section sb-property-border">
    <div class="content-wrapper">
        <SfPivotView TValue="PivotProductDetails" Height="450" Width="100%" ShowFieldList=true>
            <PivotViewDataSourceSettings DataSource="@Data" ExpandAll=false EnableSorting=true>
                <PivotViewColumns>
                    <PivotViewColumn Name="Country"></PivotViewColumn>
                    <PivotViewColumn Name="Products"></PivotViewColumn>
                </PivotViewColumns>
                <PivotViewRows>
                    <PivotViewRow Name="Year"></PivotViewRow>
                    <PivotViewRow Name="Order_Source" Caption="Order Source"></PivotViewRow>
                </PivotViewRows>
                <PivotViewValues>
                    <PivotViewValue Name="Amount" Caption="Sales Amount"></PivotViewValue>
                </PivotViewValues>
                <PivotViewDrilledMembers>
                    <PivotViewDrilledMember Name="Year" Items="@DrilledMembers"></PivotViewDrilledMember>
                </PivotViewDrilledMembers>
                <PivotViewFormatSettings>
                    <PivotViewFormatSetting Name="Amount" Format="C" UseGrouping=true></PivotViewFormatSetting>
                </PivotViewFormatSettings>
            </PivotViewDataSourceSettings>
            <PivotViewDisplayOption View=View.Chart></PivotViewDisplayOption>
            <PivotChartSettings Title="Sales Analysis" Theme="@Theme">
                <PivotChartLegendSettings Visible="true">
                </PivotChartLegendSettings>
                <PivotChartSeries Type="@ChartType"></PivotChartSeries>
                <PivotChartPrimaryYAxis>
                    <PivotChartPrimaryYAxisBorder Width="0"></PivotChartPrimaryYAxisBorder>
                </PivotChartPrimaryYAxis>
            </PivotChartSettings>
        </SfPivotView>
    </div>
</div>
<div class="col-lg-3 property-section">
    <div class="property-panel-section">
        <div class="property-panel-header" style="padding-bottom:10px; font-size:16px">Properties</div>
        <div class="property-panel-content">
            <table id="property" style="width:100%" class="property-panel-table">
                <tbody>
                    <tr style="height: 50px">
                        <td style="padding-right: 10px;">
                            <div style="white-space: nowrap;">Chart Types: </div>
                        </td>
                        <td>
                            <div>
                                <SfDropDownList TValue="ChartSeriesType" TItem="DropDownData" DataSource="@ChartTypes" @bind-Value="@ChartType">
                                    <DropDownListFieldSettings Text="Name" Value="Value"></DropDownListFieldSettings>
                                </SfDropDownList>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<style>
    .e-pivotview {
        min-height: 200px;
    }

    .e-pivotfieldlist.e-device {
        z-index: 1;
    }

    html, body {
        height: 100%;
    }

    .property-panel-table td {
        width: auto;
    }

    .property-panel-table div {
        padding-left: unset;
    }
</style>

@code{
    public ChartSeriesType ChartType = ChartSeriesType.Column;
    public string[] DrilledMembers = new string[] { "FY 2022" };
    public List<PivotProductDetails>? Data { get; set; }
    private Theme Theme { get; set; }

    protected override void OnInitialized()
    {
        this.Data = PivotProductDetails.GetProductData();
        Theme = ThemeHelper.GetCurrentTheme(NavigationManager.Uri);
    }

    private List<DropDownData> ChartTypes = new List<DropDownData>()
    {
        new DropDownData { Name = "Column", Value = ChartSeriesType.Column },
        new DropDownData { Name = "Bar", Value = ChartSeriesType.Bar },
        new DropDownData { Name = "Line", Value = ChartSeriesType.Line },
        new DropDownData { Name = "Spline", Value = ChartSeriesType.Spline },
        new DropDownData { Name = "Area", Value = ChartSeriesType.Area },
        new DropDownData { Name = "SplineArea", Value = ChartSeriesType.SplineArea },
        new DropDownData { Name = "StepLine", Value = ChartSeriesType.StepLine },
        new DropDownData { Name = "StepArea", Value = ChartSeriesType.StepArea },
        new DropDownData { Name = "StackingColumn", Value = ChartSeriesType.StackingColumn },
        new DropDownData { Name = "StackingBar", Value = ChartSeriesType.StackingBar },
        new DropDownData { Name = "StackingArea", Value = ChartSeriesType.StackingArea },
        new DropDownData { Name = "StackingColumn100", Value = ChartSeriesType.StackingColumn100 },
        new DropDownData { Name = "StackingBar100", Value = ChartSeriesType.StackingBar100 },
        new DropDownData { Name = "StackingArea100", Value = ChartSeriesType.StackingArea100 },
        new DropDownData { Name = "Scatter", Value = ChartSeriesType.Scatter },
        new DropDownData { Name = "Bubble", Value = ChartSeriesType.Bubble },
        new DropDownData { Name = "Polar", Value = ChartSeriesType.Polar },
        new DropDownData { Name = "Radar", Value = ChartSeriesType.Radar },
        new DropDownData { Name = "Pareto", Value = ChartSeriesType.Pareto },
        new DropDownData { Name = "Pie", Value = ChartSeriesType.Pie },
        new DropDownData { Name = "Doughnut", Value = ChartSeriesType.Doughnut },
        new DropDownData { Name = "Funnel", Value = ChartSeriesType.Funnel },
        new DropDownData { Name = "Pyramid", Value = ChartSeriesType.Pyramid }
    };

    public class DropDownData
    {
        public string Name { get; set; } = string.Empty;
        public ChartSeriesType Value { get; set; }
    }
}
