@page "/pivot-table/paging"

@using Syncfusion.Blazor.PivotView
@using Syncfusion.Blazor.DropDowns
@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.Data
@using BlazorDemos
@using Syncfusion.Blazor

@inject NavigationManager NavigationManager
@*Hidden:Lines*@
@inherits SampleBaseComponent;


@*End:Hidden*@

<SampleDescription>
    <p>
        This sample shows how to use the paging option to break and load a large data source into chunks and display them
        page by page. You can also use the built-in navigation buttons to move between pages.
    </p>
</SampleDescription>
<ActionDescription>
    <p>
        The pivot table provides an optimized way to render rows and columns page by page without displaying the entire pivot data. 
        To enable paging, set the <a target='_blank' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.PivotView.SfPivotView-1.html#Syncfusion_Blazor_PivotView_SfPivotView_1_EnablePaging' aria-label="Class reference of EnablePaging property in PivotView">EnablePaging</a> property to <b>true</b>.
        You can also configure page information for row and column, such as page size, current page, and so on, using the <a target='_blank' class='code' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.PivotView.PivotViewPageSettings.html' aria-label="Class reference of PivotViewPageSettings">PivotViewPageSettings</a>. 
        The <a target='_blank' class='code' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.PivotView.PivotViewPageSettings.html' aria-label="Class reference of PivotViewPageSettings">PivotViewPageSettings</a> properties are explained in-detail below:
    </p>
    <table>
        <tr>
            <td style="vertical-align: top;padding: 4px 0;"><a target='_blank' class='code' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.PivotView.PivotViewPageSettings.html#Syncfusion_Blazor_PivotView_PivotViewPageSettings_CurrentRowPage' aria-label="Class reference of CurrentRowPage property in PivotView">CurrentRowPage :</a> </td>
            <td>Holds the current page number, row-wise. You can also change the page number at runtime.</td>
        </tr>
        <tr>
            <td style="vertical-align: top;padding: 10px 0;width: 180px;"><a target='_blank' class='code' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.PivotView.PivotViewPageSettings.html#Syncfusion_Blazor_PivotView_PivotViewPageSettings_CurrentColumnPage' aria-label="Class reference of CurrentColumnPage property in PivotView">CurrentColumnPage :</a> </td>
            <td>Holds the current page number, column-wise. You can also change the page number at runtime.</td>
        </tr>
        <tr>
            <td style="vertical-align: top;padding: 4px 0;"><a target='_blank' class='code' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.PivotView.PivotViewPageSettings.html#Syncfusion_Blazor_PivotView_PivotViewPageSettings_RowPageSize' aria-label="Class reference of RowPageSize property in PivotView">RowPageSize :</a> </td>
            <td>
                Indicates the number of records to be displayed in each page, row-wise. You can also change the page
                size at runtime.
            </td>
        </tr>
        <tr>
            <td style="vertical-align: top;padding: 4px 0;"><a target='_blank' class='code' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.PivotView.PivotViewPageSettings.html#Syncfusion_Blazor_PivotView_PivotViewPageSettings_ColumnPageSize' aria-label="Class reference of ColumnPageSize property in PivotView">ColumnPageSize :</a> </td>
            <td>
                Indicates the number of records to be displayed in each page, column-wise. You can also change the page
                size at runtime.
            </td>
        </tr>
    </table>
    <br />
    <p>
        Also, you can customize the paging UI by changing the position, visibility, page size, and other settings for row and column using 
        the <a target='_blank' class='code' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.PivotView.PivotViewPagerSettings.html'>PivotViewPagerSettings</a>. 
        The <a target='_blank' class='code' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.PivotView.PivotViewPagerSettings.html'>PivotViewPagerSettings</a> properties are explained
        in-detail below:
    </p>
    <table>
        <tr>
            <td style="vertical-align: top;padding: 4px 0;width: 180px;"><a target='_blank' class='code' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.PivotView.PivotViewPagerSettings.html#Syncfusion_Blazor_PivotView_PivotViewPagerSettings_Position' aria-label="Class reference of Position property in PivotView">Position :</a> </td>
            <td>Display the pager UI either at top or bottom of the Pivot Table.</td>
        </tr>
        <tr>
            <td style="vertical-align: top;padding: 4px 0;"><a target='_blank' class='code' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.PivotView.PivotViewPagerSettings.html#Syncfusion_Blazor_PivotView_PivotViewPagerSettings_IsInversed' aria-label="Class reference of IsInversed property in PivotView">IsInversed :</a> </td>
            <td>Toggle and display the row and column pagers.</td>
        </tr>
        <tr>
            <td style="vertical-align: top;padding: 4px 0;"><a target='_blank' class='code' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.PivotView.PivotViewPagerSettings.html#Syncfusion_Blazor_PivotView_PivotViewPagerSettings_ShowRowPager' aria-label="Class reference of ShowRowPager property in PivotView">ShowRowPager :</a> </td>
            <td>Show or hide the row pager in the pager UI.</td>
        </tr>
        <tr>
            <td style="vertical-align: top;padding: 4px 0;"><a target='_blank' class='code' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.PivotView.PivotViewPagerSettings.html#Syncfusion_Blazor_PivotView_PivotViewPagerSettings_ShowColumnPager' aria-label="Class reference of ShowColumnPager property in PivotView">ShowColumnPager :</a> </td>
            <td>Show or hide the column pager in the pager UI.</td>
        </tr>
        <tr>
            <td style="vertical-align: top;padding: 4px 0;"><a target='_blank' class='code' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.PivotView.PivotViewPagerSettings.html#Syncfusion_Blazor_PivotView_PivotViewPagerSettings_ShowRowPageSize' aria-label="Class reference of ShowRowPageSize property in PivotView">ShowRowPageSize :</a> </td>
            <td>Show or hide the pre-defined page sizes in the row pager UI.</td>
        </tr>
        <tr>
            <td style="vertical-align: top;padding: 4px 0;"><a target='_blank' class='code' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.PivotView.PivotViewPagerSettings.html#Syncfusion_Blazor_PivotView_PivotViewPagerSettings_ShowColumnPageSize' aria-label="Class reference of ShowColumnPageSize property in PivotView">ShowColumnPageSize :</a> </td>
            <td>Show or hide the pre-defined page sizes in the column pager UI.</td>
        </tr>
        <tr>
            <td style="vertical-align: top;padding: 4px 0;"><a target='_blank' class='code' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.PivotView.PivotViewPagerSettings.html#Syncfusion_Blazor_PivotView_PivotViewPagerSettings_RowPageSizes' aria-label="Class reference of RowPageSizes property in PivotView">RowPageSizes :</a> </td>
            <td>
                Allows you to assign a set of pre-defined page sizes in the pager UI's "Rows per page" dropdown, which
                can be used to change the number of records displayed in row at runtime.
            </td>
        </tr>
        <tr>
            <td style="vertical-align: top;padding: 4px 0;"><a target='_blank' class='code' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.PivotView.PivotViewPagerSettings.html#Syncfusion_Blazor_PivotView_PivotViewPagerSettings_ColumnPageSizes'aria-label="Class reference of ColumnPageSizes property in PivotView">ColumnPageSizes :</a> </td>
            <td>
                Allows you to assign a set of pre-defined page sizes in the pager UI's "Columns per page" dropdown,
                which can be used to change the number of records displayed in column at runtime.
            </td>
        </tr>
        <tr>
            <td style="vertical-align: top;padding: 4px 0;"><a target='_blank' class='code' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.PivotView.PivotViewPagerSettings.html#Syncfusion_Blazor_PivotView_PivotViewPagerSettings_EnableCompactView'>EnableCompactView :</a> </td>
            <td>
                Allows the paging UI to be displayed with minimal design by hiding all paging information except
                navigation options.
            </td>
        </tr>
        <tr>
            <td style="vertical-align: top;padding: 4px 0;"><a target='_blank' class='code' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.PivotView.PivotViewPagerSettings.html#Syncfusion_Blazor_PivotView_PivotViewPagerSettings_Template'>Template :</a> </td>
            <td>
                Allows you to change the appearance of the pager UI by displaying user-defined HTML elements instead of
                built-in HTML elements.
            </td>
        </tr>
    </table>
    <br />
    <p>More information on the paging feature can be found in this <a target='_blank' href='https://blazor.syncfusion.com/documentation/pivot-table/paging' aria-label="Blazor PivotTable Paging documentation" >documentation section</a>.</p>
</ActionDescription>

<div class="col-lg-9 control-section sb-property-border">
    <div class="content-wrapper">
        <SfPivotView TValue="PivotProductDetails" @ref="Parent" Width="100%" Height="600" EnablePaging="true">
            <PivotViewPageSettings CurrentColumnPage="@currentColumnPage" ColumnPageSize="@columnPageSize" CurrentRowPage="@currentRowPage" RowPageSize="@rowPageSize"></PivotViewPageSettings>
            <PivotViewPagerSettings Position=@pagerPosition EnableCompactView=@enableCompactView ShowColumnPager=@showColumnPager ShowRowPager=@showRowPager IsInversed=@isInverse ShowColumnPageSize=@showColumnPageSize ShowRowPageSize=@showRowPageSize></PivotViewPagerSettings>
            <PivotViewDataSourceSettings TValue="PivotProductDetails" ExpandAll=true EnableSorting=true>
                <SfDataManager Url="https://bi.syncfusion.com/northwindservice/api/orders" Adaptor="Syncfusion.Blazor.Adaptors.WebApiAdaptor" CrossDomain="true"></SfDataManager>
                <PivotViewColumns>
                    <PivotViewColumn Name="ProductName" Caption="Product Name"></PivotViewColumn>
                </PivotViewColumns>
                <PivotViewRows>
                    <PivotViewRow Name="ShipCountry" Caption="Ship Country"></PivotViewRow>
                    <PivotViewRow Name="ShipCity" Caption="Ship City"></PivotViewRow>
                </PivotViewRows>
                <PivotViewValues>
                    <PivotViewValue Name="Quantity"></PivotViewValue>
                    <PivotViewValue Name="UnitPrice" Caption="Unit Price"></PivotViewValue>
                </PivotViewValues>
                <PivotViewFormatSettings>
                    <PivotViewFormatSetting Name="UnitPrice" Format="C0"></PivotViewFormatSetting>
                </PivotViewFormatSettings>
            </PivotViewDataSourceSettings>
            <PivotViewGridSettings ColumnWidth="120"></PivotViewGridSettings>
            <PivotViewEvents TValue="PivotProductDetails" OnActionComplete="ActionComplete"></PivotViewEvents>
        </SfPivotView>
    </div>
</div>
<div class="col-lg-3 property-section pivottable-property-section">
    <div class="property-panel-section">
        <div class="property-panel-header" style="padding-bottom:0px; font-size:16px">Properties</div>
        <div class="property-panel-content">
            <table id="property" style="width:100%;height:100%;" class="property-panel-table">
                <tbody>
                    <tr style="height: 50px">
                        <td style="padding-right: 10px;">
                            <div style="white-space: nowrap;">Pager Position: </div>
                        </td>
                        <td>
                            <div>
                                <SfDropDownList TValue="PagerPosition" TItem="PositionDropDownData" DataSource="@positionDropDown" @bind-Value="@pagerPosition" PopupWidth="auto">
                                    <DropDownListFieldSettings Text="Name" Value="Value"></DropDownListFieldSettings>
                                </SfDropDownList>
                            </div>
                        </td>
                    </tr>
                    <tr style="height: 50px">
                        <td style="padding-right: 10px;">
                            <div style="white-space: nowrap;">Show Pager: </div>
                        </td>
                        <td>
                            <div>
                                <SfDropDownList TValue="string" TItem="DropDownData" DataSource="@pagerViewDropDown" @bind-Value=@pagerViewData PopupWidth="auto">
                                    <DropDownListFieldSettings Text="Name" Value="Value"></DropDownListFieldSettings>
                                 <DropDownListEvents TValue="String" TItem="DropDownData" ValueChange="PagerViewDropDownChange"></DropDownListEvents>
                                </SfDropDownList>
                            </div>
                        </td>
                    </tr>
                    <tr style="height: 50px">
                        <td style="padding-right: 10px;">
                            <div style="white-space: nowrap;">Show Page Size: </div>
                        </td>
                        <td>
                            <div>
                                <SfDropDownList TValue="string" TItem="DropDownData" DataSource="@pageSizeDropDown" @bind-Value=@pageSizeData PopupWidth="auto">
                                    <DropDownListFieldSettings Text="Name" Value="Value"></DropDownListFieldSettings>
                                    <DropDownListEvents TValue="String" TItem="DropDownData" ValueChange="PageSizeDropDownChange"></DropDownListEvents>
                                </SfDropDownList>
                            </div>
                        </td>
                    </tr>
                    <tr style="height: 50px">
                        <td style="vertical-align: middle; padding-right: 10px;">
                            <div style="white-space: nowrap;">Compact View: </div>
                        </td>
                        <td style="vertical-align:middle;">
                            <SfCheckBox ValueChange="@CompactViewIsChecked" @bind-Checked="@compactViewIsChecked" TChecked="bool" aria-label="compact view"></SfCheckBox>
                        </td>
                    </tr>
                    <tr style="height: 50px">
                        <td style="vertical-align: middle; padding-right: 10px;">
                            <div style="white-space: nowrap;">Inverse Pager: </div>
                        </td>
                        <td style="vertical-align:middle;">
                            <SfCheckBox ValueChange="@InverseIsChecked" @bind-Checked="@inverseIsChecked" TChecked="bool" aria-label="inverse pager"></SfCheckBox>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<style>
    .e-pivotview {
        min-height: 200px;
    }

    html, body {
        height: 100%;
    }

    .property-panel-table td {
        width: auto;
    }

    .property-panel-table div {
        padding-left: unset;
    }
</style>
@code {
    public SfPivotView<PivotProductDetails> Parent;
    public PagerPosition pagerPosition = PagerPosition.Bottom;
    public bool showRowPager = true;
    public bool showColumnPager = true;
    public bool showColumnPageSize = true;
    public bool showRowPageSize = true;
    public bool compactViewIsChecked = false;
    public bool inverseIsChecked = false;
    public bool enableCompactView = false;
    public bool isInverse = false;
    public string pagerViewData = "Both";
    public string pageSizeData = "Both";
    public int currentColumnPage = 1;
    public int currentRowPage = 1;
    public int rowPageSize = 10;
    public int columnPageSize = 5;
    public List<PositionDropDownData> positionDropDown = new List<PositionDropDownData>()
    {
        new PositionDropDownData() { Name = "Top", Value = PagerPosition.Top },
        new PositionDropDownData() { Name = "Bottom", Value = PagerPosition.Bottom }
    };
    public List<DropDownData> pagerViewDropDown = new List<DropDownData>()
    {
        new DropDownData() { Name = "Row", Value = "Row" },
        new DropDownData() { Name = "Column", Value = "Column" },
        new DropDownData() { Name = "Both", Value = "Both" }
    };
    public List<DropDownData> pageSizeDropDown = new List<DropDownData>()
    {
        new DropDownData() { Name = "Row", Value = "Row" },
        new DropDownData() { Name = "Column", Value = "Column" },
        new DropDownData() { Name = "Both", Value = "Both" },
        new DropDownData() { Name = "None", Value = "None" },
    };
    public void PagerViewDropDownChange(ChangeEventArgs<string, DropDownData> args)
    {
        if(args.Value == "Row") 
        {
            showRowPager = true;
            showColumnPager = false;
        } 
        else if (args.Value == "Column")
        {
            showRowPager = false;
            showColumnPager = true;
        }
        else
        {
            showRowPager = showColumnPager = true;
        }
    }
    public void PageSizeDropDownChange(ChangeEventArgs<string, DropDownData> args)
    {
        if (args.Value == "Row")
        {
            showRowPageSize = true;
            showColumnPageSize = false;
        }
        else if (args.Value == "Column")
        {
            showRowPageSize = false;
            showColumnPageSize = true;
        }
        else if (args.Value == "Both")
        {
            showRowPageSize = showColumnPageSize = true;
        }
        else
        {
            showRowPageSize = showColumnPageSize = false;
        }
    }
    private void CompactViewIsChecked(Syncfusion.Blazor.Buttons.ChangeEventArgs<bool> args)
    {
        enableCompactView = args.Checked;
    }
    private void InverseIsChecked(Syncfusion.Blazor.Buttons.ChangeEventArgs<bool> args)
    {
        isInverse = args.Checked;
    }
    public void ActionComplete(PivotActionCompleteEventArgs<PivotProductDetails> args)
    {
        if (args.ActionName == "Row page navigated")
        {
            currentRowPage = Parent.PageSettings.CurrentRowPage;
        }
        if (args.ActionName == "Row page size changed")
        {
            rowPageSize = Parent.PageSettings.RowPageSize;
        }
        if (args.ActionName == "Column page navigated")
        {
            currentColumnPage = Parent.PageSettings.CurrentColumnPage;
        }
        if (args.ActionName == "Column page size changed")
        {
            columnPageSize = Parent.PageSettings.ColumnPageSize;
        }
    }
    public class DropDownData
    {
        public string Name { get; set; }
        public string Value { get; set; }
    }
    public class PositionDropDownData
    {
        public string Name { get; set; }
        public PagerPosition Value { get; set; }
    }
    public class PivotProductDetails
    {
        public int Quantity { get; set; }
        public double UnitPrice { get; set; }
        public string ProductName { get; set; }
        public string ShipCountry { get; set; }
        public string ShipCity { get; set; }
    }
    
}
