@page "/pivot-table/keyboard-navigation"

@using Syncfusion.Blazor.PivotView
@using BlazorDemos
@*Hidden:Lines*@
@inherits SampleBaseComponent;
@inject NavigationManager NavigationManager


@*End:Hidden*@

<SampleDescription>
    <p>This sample demonstrates how to use keyboard shortcuts to interact with Pivot Table features such as the pivot table, grouping bar, field list, toolbar, calculated field, drill through, and filter dialog.</p>
</SampleDescription>
<ActionDescription>
    <i>Below key combinations can be used in pivot table to initiate various actions</i>
    <ul>
        <li>
            <b>FOCUS</b>
            <ul>
                <li>
                    <span class="key-class"><kbd>Alt</kbd> + <kbd>J</kbd></span>
                    <span> - Focuses on the first component of the sample.</span>
                </li>
            </ul>
        </li>
        <li>
            <b>PIVOT TABLE</b>
            <ul>
                <li>
                    <span class="key-class"><kbd>Tab</kbd></span>
                    <span> - Moves the cell focus right side. If no cells are focused, it moves to the next active element in the browser page. </span>
                </li>
                <li>
                    <span class="key-class"><kbd>Shift</kbd> + <kbd>Tab</kbd></span>
                    <span> - Moves the cell focus left side. If no cells are focused, it moves to the previous active element in the browser page. </span>
                </li>
                <li>
                    <span class="key-class"><kbd>Down arrow</kbd></span>
                    <span> - Moves the cell focus downwards. </span>
                </li>
                <li>
                    <span class="key-class"><kbd>Up arrow</kbd></span>
                    <span> - Moves the cell focus upwards. </span>
                </li>
                <li>
                    <span class="key-class"><kbd>Left arrow</kbd></span>
                    <span> - Moves the cell focus left side. </span>
                </li>
                <li>
                    <span class="key-class"><kbd>Right arrow</kbd></span>
                    <span> - Moves the cell focus right side.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Home</kbd></span>
                    <span> - Goes to the first cell in the current row.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>End</kbd></span>
                    <span> - Goes to the last cell in the current row.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Ctrl</kbd> + <kbd>Home</kbd></span>
                    <span> - Goes to the first cell in the table.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Ctrl</kbd> + <kbd>End</kbd></span>
                    <span> - Goes to the last cell in the table.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Enter</kbd></span>
                    <span> - If the current cell is an expand/collapse cell, it performs expand/collapse operation (drill operation). If the current row/column header is in value sort state, it performs value sorting.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Shift</kbd> + <kbd>Enter</kbd></span>
                    <span> - If value sorting is enabled in the pivot table and the current cell is a header with respect to its value axis, it performs value sorting to either ascending or descending order.</span>
                </li>
            </ul>
        </li>
        <li>
            <b>GROUPING BAR</b>
            <ul>
                <li>
                    <span class="key-class"><kbd>Tab</kbd></span>
                    <span> - Moves to the next active element (field’s button) in the grouping bar. If no active elements present, it moves to the next active element in the browser page.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Shift</kbd> + <kbd>Tab</kbd></span>
                    <span> - Moves to the previous active element (field’s button) in the grouping bar. If no active elements present, it moves to the previous active element in the browser page.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Shift</kbd> + <kbd>F</kbd></span>
                    <span> - If the current active element is a field’s button and if it has a filter icon, the filter dialog will be opened to perform filtering.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Shift</kbd> + <kbd>S</kbd></span>
                    <span> - If the current active element is a field’s button and if it has a sort icon, the sorting will be performed to the selected field.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Shift</kbd> + <kbd>E</kbd></span>
                    <span> - If the current active element is a calculated field’s button and if it has an edit icon, the calculated field dialog will be opened to perform editing the selected calculated field.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Enter</kbd></span>
                    <span> - Performs the selection operation of the current active element. If the current active element is a field’s button and it has a dropdown icon, the aggregation menu will open to perform calculations using aggregation options to the selected value field.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Delete</kbd></span>
                    <span> - If the current active element is a field’s button, the selected field will be removed from the current report.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Down arrow</kbd></span>
                    <span> - If the current active element is a dropdown list, the next item will be selected.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Up arrow</kbd></span>
                    <span> - If the current active element is a dropdown list, the previous item will be selected.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Home</kbd></span>
                    <span> - If the current active element is a dropdown list, the first item will be selected.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>End</kbd></span>
                    <span> - If the current active element is a dropdown list, the last item will be selected.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Alt</kbd> + <kbd>Down</kbd></span>
                    <span> - If the current active element is a dropdown list, the popup will be opened.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Alt</kbd> + <kbd>Down</kbd></span>
                    <span> - If the current active element is a dropdown list, the popup will be closed.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Esc or Escape</kbd></span>
                    <span> - Closes the dropdown list.</span>
                </li>
            </ul>
        </li>
        <li>
            <b>FIELD LIST</b>
            <ul>
                <li>
                    <span class="key-class"><kbd>Ctrl</kbd> + <kbd>Shift</kbd> + <kbd>F</kbd></span>
                    <span> - If the popup field list is enabled in either the pivot table or the pivot chart, the field list dialog will be opened.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Tab</kbd></span>
                    <span> - Moves to the next active element in the field list. If no active elements present, it moves to the next active element in the browser page.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Shift</kbd> + <kbd>Tab</kbd></span>
                    <span> - Moves to the previous active element in the field list. If no active elements present, it moves to the previous active element in the browser page.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Shift</kbd> + <kbd>F</kbd></span>
                    <span> - If the current active element is a field’s button and if it has a filter icon, the filter dialog will be opened to perform filtering.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Shift</kbd> + <kbd>S</kbd></span>
                    <span> - If the current active element is a field’s button and if it has a sort icon, the sorting will be performed to the selected field.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Shift</kbd> + <kbd>E</kbd></span>
                    <span> - If the current active element is a calculated field’s button and if it has an edit icon, the calculated field dialog will be opened to perform editing the selected calculated field.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Enter</kbd></span>
                    <span> - Performs the selection operation of the current active element. If the current active element is a field’s button and if it has a dropdown icon, the aggregation menu will be opened to perform calculations using aggregation options to the selected value field.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Delete</kbd></span>
                    <span> - If the current active element is a field’s button, the selected field will be removed from the current report.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Down arrow</kbd></span>
                    <span> - If the current active element is a tree node, it moves to the next node.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Up arrow</kbd></span>
                    <span> - If the current active element is a tree node, it moves to the prevous node.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Left arrow</kbd></span>
                    <span> - If the current active element is a tree node, it collapses the current node.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Right arrow</kbd></span>
                    <span> - If the current active element is a tree node, it expands the current node.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Home</kbd></span>
                    <span> - If the current active element is a tree node, it goes to the first node.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>End</kbd></span>
                    <span> - If the current active element is a tree node, it goes to the last node.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Space</kbd></span>
                    <span> - If the current active element is a tree node or a checkbox element, it will be either checked or unchecked.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Esc or Escape</kbd></span>
                    <span> - Closes the popup field list dialog.</span>
                </li>
            </ul>
        </li>
        <li>
            <b>TOOLBAR</b>
            <ul>
                <li>
                    <span class="key-class"><kbd>Tab</kbd></span>
                    <span> - Moves to the next active option in the toolbar. If no active elements present, it moves to the next active element in the browser page.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Shift</kbd> + <kbd>Tab</kbd></span>
                    <span> - Moves to the previous active option in the toolbar. If no active elements present, it moves to the previous active element in the browser page.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Enter</kbd></span>
                    <span> - Performs the selection operation of the current active element.</span>
                </li>
            </ul>
        </li>
        <li>
            <b>CALCULATED FIELD</b>
            <ul>
                <li>
                    <span class="key-class"><kbd>Shift</kbd> + <kbd>E</kbd></span>
                    <span> - If the current active element is a field’s button and if it has an edit icon in either the field list or grouping bar UI, the calculated field dialog will be opened to perform editing the selected calculated field.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Tab</kbd></span>
                    <span> - Moves to the next active element in the calculated field dialog. If no active elements present, it moves to the next active element in the browser page.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Shift</kbd> + <kbd>Tab</kbd></span>
                    <span> - Moves to the previous active element in the calculated field dialog. If no active elements present, it moves to the previous active element in the browser page.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Enter</kbd></span>
                    <span> - Performs the selection operation of the current active element. If the current active element is a tree node, it copies the selected field name/formula to the formula text area to perform calculations.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Down arrow</kbd></span>
                    <span> - If the current active element is a tree node, it moves to the next node.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Up arrow</kbd></span>
                    <span> - If the current active element is a tree node, it moves to the prevous node.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Left arrow</kbd></span>
                    <span> - If the current active element is a tree node, it collapses the current node.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Right arrow</kbd></span>
                    <span> - If the current active element is a tree node, it expands the current node. If the current active element is a tree node and has a menu icon, the aggregation menu will be opened to select appropriate aggregation type to the selected field.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Home</kbd></span>
                    <span> - If the current active element is a tree node, it goes to the first node.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>End</kbd></span>
                    <span> - If the current active element is a tree node, it goes to the last node.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Esc or Escape</kbd></span>
                    <span> -  the filter dialog.</span>
                </li>
            </ul>
        </li>
        <li>
            <b>DRILL THROUGH</b>
            <ul>
                <li>
                    <span class="key-class"><kbd>Tab</kbd></span>
                    <span> - Moves to the next active element in the drill-through dialog. If the current active element is a Grid cell, it moves the cell focus to right side. If no active elements present, then it moves to the next active element in the browser page.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Shift</kbd> + <kbd>Tab</kbd></span>
                    <span> - Moves to the previous active element in the drill-through dialog. If the current active element is a Grid cell, it moves the cell focus to left side, If no active elements present, then it moves to the previous active element in the browser page.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Down arrow</kbd></span>
                    <span> - Moves the row/cell focus downwards.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Up arrow</kbd></span>
                    <span> - Moves the row/cell focus upwards.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Left arrow</kbd></span>
                    <span> - Moves the cell focus left side.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Right arrow</kbd></span>
                    <span> - Moves the cell focus left side.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Home</kbd></span>
                    <span> - Goes to the first cell in the current row.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>End</kbd></span>
                    <span> - Goes to the last cell in the current row.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Ctrl</kbd> + <kbd>Home</kbd></span>
                    <span> - Goes to the first cell in the table.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Ctrl</kbd> + <kbd>End</kbd></span>
                    <span> - Goes to the first cell in the table.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Enter</kbd></span>
                    <span> - Performs the selection operation of the current active element.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Esc or Escape</kbd></span>
                    <span> - If the cell is in selected state, the it deselects all rows/cells. If the row/cell is in edit state, it cancels the current entries in the row/cell. If the current active element is not a row/cell, it closes the drill-through dialog.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>F2</kbd></span>
                    <span> - If the cell is in selected state, the it deselects all rows/cells. If the row/cell is in edit state, it cancels the current entries in the row/cell. If the current active element is not a row/cell, it closes the drill-through dialog.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Insert</kbd></span>
                    <span> - Adds a new row/cell in the data grid.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Delete</kbd></span>
                    <span> - Removes the selected row in the data grid.</span>
                </li>
            </ul>
        </li>
        <li>
            <b>FILTER DIALOG</b>
            <ul>
                <li>
                    <span class="key-class"><kbd>Shift</kbd> + <kbd>F</kbd></span>
                    <span> - If the current active element is a field’s button and if it has a filter icon in either the field list or grouping bar UI, the filter dialog will be opened to perform filtering.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Tab</kbd></span>
                    <span> - Moves to the next active element in the filter dialog. If no active elements present, it moves to the next active element in the browser page.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Shift</kbd> + <kbd>Tab</kbd></span>
                    <span> - Moves to the previous active element in the filter dialog. If no active elements present, it moves to the previous active element in the browser page.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Enter</kbd></span>
                    <span> - Performs the selection operation of the current active element. If the current active element is a tab, the current tab element will be selected. If the current active element is a tree node, the current node will be either checked or unchecked. If the current active element is DropDownList, the focus item will be selected, and the popup list will close when it is open. Otherwise, toggles the popup list.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Down arrow</kbd></span>
                    <span> - If the current active element is a tree node, it moves to the next node.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Up arrow</kbd></span>
                    <span> - If the current active element is a tree node, it moves to the prevous node.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Left arrow</kbd></span>
                    <span> - If the current active element is a tree node, it collapses the current node.  If the current active element is a tab, it moves focus to the previous tab element.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Right arrow</kbd></span>
                    <span> - If the current active element is a tree node, it expands the current node.  If the current active element is a tab, it moves focus to the next tab element.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Home</kbd></span>
                    <span> - If the current active element is a tree node, it goes to the first node.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>End</kbd></span>
                    <span> - If the current active element is a tree node, it goes to the last node.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Space</kbd></span>
                    <span> - If the current active element is a tree node or a checkbox element, it will be either checked or unchecked.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Esc or Escape</kbd></span>
                    <span> - Closes the filter dialog.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Alt</kbd> + <kbd>Down</kbd></span>
                    <span> - If the current active element is a DropDownList or DatePicker or DateTimePicker, the popup will be opened.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Alt</kbd> + <kbd>Up</kbd></span>
                    <span> - If the current active element is a DropDownList or DatePicker or DateTimePicker, the popup will be closed.</span>
                </li>
            </ul>
        </li>
    </ul>
    <p>More information on the keyboard navigation can be found in this <a target='_blank' href='https://blazor.syncfusion.com/documentation/pivot-table/accessibility#keyboard-navigation' aria-label="Blazor PivotTable Keyboard Navigation documentation" >documentation section</a>.</p>
</ActionDescription>


<div class="control-section">
    <div class="content-wrapper">
        <SfPivotView @ref="@Pivot" TValue="PivotProductDetails" Height="400" Width="100%" ShowGroupingBar="true" ShowFieldList=true ShowToolbar=true Toolbar="@PivotToolbar" AllowNumberFormatting=true AllowConditionalFormatting=true AllowPdfExport=true AllowExcelExport=true EnableValueSorting=true ShowTooltip=false>
            <PivotViewDataSourceSettings DataSource="@Data" ExpandAll=false EnableSorting=true AllowLabelFilter=true AllowMemberFilter=true AllowValueFilter=true>
                <PivotViewColumns>
                    <PivotViewColumn Name="Year"></PivotViewColumn>
                    <PivotViewColumn Name="Order_Source" Caption="Order Source"></PivotViewColumn>
                </PivotViewColumns>
                <PivotViewRows>
                    <PivotViewRow Name="Country"></PivotViewRow>
                    <PivotViewRow Name="Products"></PivotViewRow>
                </PivotViewRows>
                <PivotViewValues>
                    <PivotViewValue Name="In_Stock" Caption="In Stock"></PivotViewValue>
                    <PivotViewValue Name="Sold" Caption="Units Sold"></PivotViewValue>
                    <PivotViewValue Name="Amount" Caption="Sold Amount"></PivotViewValue>
                </PivotViewValues>
                <PivotViewFilters>
                    <PivotViewFilter Name="Product_Categories" Caption="Product Categories"></PivotViewFilter>
                </PivotViewFilters>
                <PivotViewFormatSettings>
                    <PivotViewFormatSetting Name="Amount" Format="C0" UseGrouping=true></PivotViewFormatSetting>
                </PivotViewFormatSettings>
            </PivotViewDataSourceSettings>
            <PivotViewGridSettings AllowSelection="true" ColumnWidth="120">
                <PivotViewSelectionSettings Mode="@Syncfusion.Blazor.PivotView.SelectionMode.Cell" Type="@PivotTableSelectionType.Multiple" CellSelectionMode="PivotCellSelectionMode.Box"></PivotViewSelectionSettings>
            </PivotViewGridSettings>
            <PivotViewCellEditSettings AllowEditing=true AllowAdding=true AllowDeleting=true Mode="EditMode.Normal" AllowEditOnDblClick="true"></PivotViewCellEditSettings>
            <PivotViewEvents TValue="PivotProductDetails" RenameReport="RenameReport" RemoveReport="RemoveReport" SaveReport="SaveReport" LoadReport="LoadReport" FetchReport="FetchReport"></PivotViewEvents>
        </SfPivotView>
    </div>
</div>

<style>
    .e-pivotview {
        min-height: 200px;
    }

    .key-class {
        display: inline-block;
        width: 130px;
    }
</style>

@code{
    SfPivotView<PivotProductDetails> Pivot;
    public List<ToolbarItems> PivotToolbar = new List<ToolbarItems> {
        ToolbarItems.New,
        ToolbarItems.Save,
        ToolbarItems.SaveAs,
        ToolbarItems.Rename,
        ToolbarItems.Remove,
        ToolbarItems.Load,
        ToolbarItems.Export,
        ToolbarItems.SubTotal,
        ToolbarItems.GrandTotal,
        ToolbarItems.Formatting,
        ToolbarItems.FieldList
    };
    public List<PivotProductDetails> Data { get; set; }
    

    protected override void OnInitialized()
    {
        
        this.Data = PivotProductDetails.GetProductData();
    }

    public string InitReport { get; set; }
    public string[] Name { get; set; }
    public List<string> Report = new List<string>();
    public List<string> ReportName = new List<string>();
    public void SaveReport(SaveReportArgs args)
    {
        int i = 0;
        bool IsSaved = false;
        for (i = 0; i < this.ReportName.Count; i++)
        {
            if (this.ReportName[i] == args.ReportName)
            {
                this.Report[i] = args.Report;
                IsSaved = true;
            }
        }
        if (args.Report != null && !(IsSaved))
        {
            this.Report.Add(args.Report);
            this.ReportName.Add(args.ReportName);
        }
    }
    public void FetchReport(FetchReportArgs args)
    {
        args.ReportName = ReportName.ToArray();

    }
    public async Task LoadReport(LoadReportArgs args)
    {
        int i = 0;
        int j = 0;
        for (i = 0; i < ReportName.Count; i++)
        {
            if (ReportName[i] == args.ReportName)
            {
                j = i;
            }
        }
        await this.Pivot.LoadPersistDataAsync(Report[j]);
    }
    public async Task RemoveReport(RemoveReportArgs args)
    {
        int i = 0;
        for (i = 0; i < ReportName.Count; i++)
        {
            if (ReportName[i] == args.ReportName)
            {
                ReportName.RemoveAt(i);
                Report.RemoveAt(i);
                break;
            }
        }
        if (Report.Count > 0)
        {
            await this.Pivot.LoadPersistDataAsync(Report[0]);
        }
    }
    public void RenameReport(RenameReportArgs args)
    {
        if (args.IsReportExists)
        {
            int j = 0;
            for (j = 0; j < ReportName.Count; j++)
            {
                if (ReportName[j] == args.Rename)
                {
                    ReportName.RemoveAt(j);
                    Report.RemoveAt(j);
                    break;
                }
            }
        }
        int i = 0;
        for (i = 0; i <= (ReportName.Count - 1); i++)
        {
            if (ReportName[i] == args.ReportName)
            {
                ReportName.RemoveAt(i);
                ReportName.Add(args.Rename);
            }
        }

    }

}