@page "/pivot-table/show-hide-totals"

@using Syncfusion.Blazor.PivotView
@using Syncfusion.Blazor.DropDowns
@using Syncfusion.Blazor.Buttons
@using BlazorDemos
@*Hidden:Lines*@
@inherits SampleBaseComponent;
@inject NavigationManager NavigationManager


@*End:Hidden*@

<SampleDescription>
    <p>This sample demonstrates showing and hiding grand totals and sub-totals, as well as change their position in rows, columns, or both at runtime. Also, end users can specify and hide sub-totals of specific fields.</p>
</SampleDescription>
<ActionDescription>
    <p>
        In this sample, you can control the position and visibility of the grand totals and sub-totals by selecting options from the Totals drop-down list. The following options will be displayed based on the drop-down selection:
        <table>
            <tr>
                <td style="vertical-align: top;padding: 4px 0;width:180px"><code>Grand totals position</code></td>
                <td style="padding: 4px 0;">: Allows to display the grand totals either at top or bottom of the row and column axes by selecting the appropriate radio button options.
            To display the grand totals at top, set the property <a target='_blank' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.PivotView.PivotViewDataSourceSettings-1.html#Syncfusion_Blazor_PivotView_PivotViewDataSourceSettings_1_GrandTotalsPosition' aria-label="Class reference of GrandTotalsPosition property in PivotView"> PivotViewDataSourceSettings->GrandTotalsPosition</a> as <b>Top</b>. And, to display the grand totals at bottom, set the property <a target='_blank' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.PivotView.PivotViewDataSourceSettings-1.html#Syncfusion_Blazor_PivotView_PivotViewDataSourceSettings_1_GrandTotalsPosition' aria-label="Class reference of GrandTotalsPosition property in PivotView"> PivotViewDataSourceSettings->GrandTotalsPosition</a> as <b>Bottom</b>.</td>
            </tr>
            <tr>
                <td style="vertical-align: top;padding: 4px 0;"> <code>Hide grand totals</code></td>
                <td style="padding: 4px 0;">: Allows to hide grand totals in row, column, or both by selecting the appropriate radio button options. To hide grand totals in both row and column, set the property<a target='_blank' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.PivotView.PivotViewDataSourceSettings-1.html#Syncfusion_Blazor_PivotView_PivotViewDataSourceSettings_1_ShowGrandTotals' aria-label="Class reference of ShowGrandTotals property in PivotView"> PivotViewDataSourceSettings->ShowGrandTotals</a> as <b>false</b>. To hide the row and column grand totals separately,
            set the property <a target='_blank' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.PivotView.PivotViewDataSourceSettings-1.html#Syncfusion_Blazor_PivotView_PivotViewDataSourceSettings_1_ShowRowGrandTotals' aria-label="Class reference of ShowRowGrandTotals property in PivotView">PivotViewDataSourceSettings->ShowRowGrandTotals</a> and <a target='_blank' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.PivotView.PivotViewDataSourceSettings-1.html#Syncfusion_Blazor_PivotView_PivotViewDataSourceSettings_1_ShowColumnGrandTotals' aria-label="Class reference of ShowColumnGrandTotals property in PivotView">PivotViewDataSourceSettings->ShowColumnGrandTotals</a> as <b>false</b>.</td>
            </tr>
            <tr>
                <td style="vertical-align: top;padding: 4px 0;"><code>Sub-totals position</code></td>
                <td style="padding: 4px 0;">: Allows to display the sub-totals at top, bottom, or default position of the row and column axes by selecting the appropriate radio button options.
            To display the sub-totals at top, set the property <a target='_blank' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.PivotView.PivotViewDataSourceSettings-1.html#Syncfusion_Blazor_PivotView_PivotViewDataSourceSettings_1_SubTotalsPosition' aria-label="Class reference of SubTotalsPosition property in PivotView"> PivotViewDataSourceSettings->SubTotalsPosition</a> as <b>Top</b>. And, to display the sub-totals at bottom, set the property <a target='_blank' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.PivotView.PivotViewDataSourceSettings-1.html#Syncfusion_Blazor_PivotView_PivotViewDataSourceSettings_1_SubTotalsPosition' aria-label="Class reference of SubTotalsPosition property in PivotView"> PivotViewDataSourceSettings->SubTotalsPosition</a> as <b>Bottom</b>.</td>
            </tr>
            <tr>
                <td style="vertical-align: top;padding: 4px 0;"> <code>Hide sub-totals</code></td>
                <td style="padding: 4px 0;">: Allows to hide sub-totals in row, column, or both by selecting the appropriate radio button options. To hide sub-totals in both row and column, set the property<a target='_blank' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.PivotView.PivotViewDataSourceSettings-1.html#Syncfusion_Blazor_PivotView_PivotViewDataSourceSettings_1_ShowSubTotals' aria-label="Class reference of ShowSubTotals property in PivotView"> PivotViewDataSourceSettings->ShowSubTotals</a> as <b>false</b>. To hide the row and column sub-totals separately,
            set the property <a target='_blank' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.PivotView.PivotViewDataSourceSettings-1.html#Syncfusion_Blazor_PivotView_PivotViewDataSourceSettings_1_ShowRowSubTotals' aria-label="Class reference of ShowRowSubTotals property in PivotView">PivotViewDataSourceSettings->ShowRowSubTotals</a> and <a target='_blank' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.PivotView.PivotViewDataSourceSettings-1.html#Syncfusion_Blazor_PivotView_PivotViewDataSourceSettings_1_ShowColumnSubTotals' aria-label="Class reference of ShowColumnSubTotals property in PivotView">PivotViewDataSourceSettings->ShowColumnSubTotals</a> as <b>false</b>.</td>
            </tr>
            <tr>
                <td style="vertical-align: top;padding: 4px 0;"><code>Hide sub-totals for specific field(s)</code></td>
                <td style="padding: 4px 0;">: Allows to hide sub-totals for specific fields in row and column by selecting appropriate fields from the multi-select drop-down.
    To hide sub-totals for a specific field, set the <a target='_blank' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.PivotView.PivotFieldOptions.html#Syncfusion_Blazor_PivotView_PivotFieldOptions_ShowSubTotals' aria-label="Class reference of ShowSubTotals property in PivotView">ShowSubTotals</a> property as <b>false</b> inside the field definition.</td>
            </tr>
        </table>
        </p>
    <p>More information on the totals feature can be found in this <a target='_blank' href='https://blazor.syncfusion.com/documentation/pivot-table/show-hide-totals/' aria-label="Blazor PivotTable Show or Hide Total documentation" >documentation section</a>.</p>
</ActionDescription>

<div class="col-lg-9 control-section sb-property-border">
    <div class="content-wrapper">
        <SfPivotView TValue="PivotProductDetails" Width="100%" Height="500" EnableValueSorting=true ShowTooltip=false>
            <PivotViewDataSourceSettings DataSource="@data" ExpandAll=true EnableSorting=true SubTotalsPosition="@subTotalPosition" 
                GrandTotalsPosition="@grandTotalPosition" ShowColumnGrandTotals="@columnGrandTotal" ShowRowGrandTotals="@rowGrandTotal" ShowGrandTotals="@grandTotal"
                ShowSubTotals="@showSubTotals" ShowRowSubTotals="@showRowSubTotals" ShowColumnSubTotals="@showColumnSubTotals">
                <PivotViewColumns>
                    <PivotViewColumn Name="Year" ShowSubTotals="@columnSubTotal"></PivotViewColumn>
                    <PivotViewColumn Name="Order_Source" Caption="Order Source"></PivotViewColumn>
                </PivotViewColumns>
                <PivotViewRows>
                    <PivotViewRow Name="Country" ShowSubTotals="@rowSubTotal"></PivotViewRow>
                    <PivotViewRow Name="Products"></PivotViewRow>
                </PivotViewRows>
                <PivotViewValues>
                    <PivotViewValue Name="In_Stock" Caption="In Stock"></PivotViewValue>
                    <PivotViewValue Name="Sold" Caption="Units Sold"></PivotViewValue>
                    <PivotViewValue Name="Amount" Caption="Sold Amount"></PivotViewValue>
                </PivotViewValues>
                <PivotViewFilters>
                    <PivotViewFilter Name="Product_Categories" Caption="Product Categories"></PivotViewFilter>
                </PivotViewFilters>
                <PivotViewFormatSettings>
                    <PivotViewFormatSetting Name="Amount" Format="C0" UseGrouping=true></PivotViewFormatSetting>
                </PivotViewFormatSettings>
                <PivotViewFilterSettings>
                    <PivotViewFilterSetting Name="Products" Items="@(new string[] { "Gloves", "Helmets", "Shorts", "Vests" })"></PivotViewFilterSetting>
                </PivotViewFilterSettings>
                <PivotViewDrilledMembers>
                    <PivotViewDrilledMember Name="Country" Items="@drilledMembers"></PivotViewDrilledMember>
                </PivotViewDrilledMembers>
            </PivotViewDataSourceSettings>
            <PivotViewGridSettings ColumnWidth="120"></PivotViewGridSettings>
        </SfPivotView>
    </div>
</div>
<div class="col-lg-3 property-section pivot-table-property-section">
    <div class="property-panel-section">
        <div class="property-panel-header" style="padding-bottom:10px; font-size:16px">Properties</div>
        <div class="property-panel-content">
            <table id="property" style="width: 100%;height:100%;" class="property-panel-table">
                <tbody>
                    <tr style="height: 50px">
                        <td colspan="2">
                            <div style="white-space: nowrap;margin-right:10px">
                                Totals:
                            </div>
                        </td>
                        <td colspan="2">
                            <div>
                                <SfDropDownList TValue="string" TItem="DropDownData" DataSource="@totalTypes" @bind-Value="@selectedType" Width="100%" PopupWidth="100%">
                                    <DropDownListFieldSettings Text="Name" Value="Value"></DropDownListFieldSettings>
                                </SfDropDownList>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table id="property" style="width: 100%;height:100%;" class="property-panel-table">
                <tbody>
                    @if(selectedType == "grandtotals")
                    {
                        <tr>
                            <td>
                                <div style="font-weight: 600; font-size: 13px; padding-top: 20px;">
                                    Grand totals position
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div>
                                    <SfRadioButton Label="Top" Name="GrandTotalPosition" Value=@("GrandTotal/Top") @bind-Checked=selectedGrandTotalPosition ValueChange="OnChangePosition" TChecked="string"> </SfRadioButton>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div>
                                    <SfRadioButton Label="Bottom" Name="GrandTotalPosition" Value=@("GrandTotal/Bottom") @bind-Checked=selectedGrandTotalPosition ValueChange="OnChangePosition" TChecked="string"> </SfRadioButton>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div style="font-weight: 600; font-size: 13px; padding-top: 20px;">
                                    Hide grand totals
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div>
                                    <SfRadioButton Label="Row" Name="Total" Value=@("GrandTotal/Row") @bind-Checked=selectedGrandTotalVisibility ValueChange="OnChange" TChecked="string"></SfRadioButton>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div>
                                    <SfRadioButton Label="Column" Name="Total" Value=@("GrandTotal/Column") @bind-Checked=selectedGrandTotalVisibility ValueChange="OnChange" TChecked="string"></SfRadioButton>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div>
                                    <SfRadioButton Label="Both" Name="Total" Value=@("GrandTotal/Both") @bind-Checked=selectedGrandTotalVisibility ValueChange="OnChange" TChecked="string"></SfRadioButton>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div>
                                    <SfRadioButton Label="None" Name="Total" Value=@("GrandTotal/None") @bind-Checked=selectedGrandTotalVisibility ValueChange="OnChange" TChecked="string"></SfRadioButton>
                                </div>
                            </td>
                        </tr>
                    }
                    else
                    {
                        <tr>
                            <td>
                                <div style="font-weight: 600; font-size: 13px; padding-top: 20px;">
                                    Sub-totals position
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div>
                                    <SfRadioButton Label="Top" Name="SubtotalPosition" Value=@("SubTotal/Top") @bind-Checked=selectedSubTotalPosition ValueChange="OnSubtotalPositionChange" TChecked="string"></SfRadioButton>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div>
                                    <SfRadioButton Label="Bottom" Name="SubtotalPosition" Value=@("SubTotal/Bottom") @bind-Checked=selectedSubTotalPosition ValueChange="OnSubtotalPositionChange" TChecked="string"></SfRadioButton>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div>
                                    <SfRadioButton Label="Auto" Name="SubtotalPosition" Value=@("SubTotal/Auto") @bind-Checked=selectedSubTotalPosition ValueChange="OnSubtotalPositionChange" TChecked="string"></SfRadioButton>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div style="font-weight: 600; font-size: 13px; padding-top: 20px;">
                                    Hide sub-totals
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div>
                                    <SfRadioButton Label="Row" Name="Total" Value=@("SubTotal/Row") @bind-Checked=selectedSubTotalVisibility ValueChange="OnSubtotalVisibilityChange" TChecked="string"></SfRadioButton>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div>
                                    <SfRadioButton Label="Column" Name="Total" Value=@("SubTotal/Column") @bind-Checked=selectedSubTotalVisibility ValueChange="OnSubtotalVisibilityChange" TChecked="string"></SfRadioButton>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div>
                                    <SfRadioButton Label="Both" Name="Total" Value=@("SubTotal/Both") @bind-Checked=selectedSubTotalVisibility ValueChange="OnSubtotalVisibilityChange" TChecked="string"></SfRadioButton>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div>
                                    <SfRadioButton Label="None" Name="Total" Value=@("SubTotal/None") @bind-Checked=selectedSubTotalVisibility EnablePersistence=true ValueChange="OnSubtotalVisibilityChange" TChecked="string"></SfRadioButton>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div style="font-weight: 600; font-size: 13px; padding-top: 20px;">
                                    Hide sub-totals for specific field(s)
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div style="padding-top: 20px;">
                                    <SfMultiSelect TValue="string[]" TItem="DropDownData" Placeholder="Select fields to hide its sub-totals" Mode="@VisualMode.CheckBox" DataSource="@fields" ShowClearButton="false"
                                               EnableSelectionOrder="false" ShowDropDownIcon="true" PopupWidth="100%" AllowFiltering="false" Value="selectedFields" ValueChanged="UpdateSubTotals">
                                        <MultiSelectFieldSettings Text="Name" Value="Value"></MultiSelectFieldSettings>
                                    </SfMultiSelect>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<style>
    .e-pivotview {
        min-height: 200px;
    }

    .pivot-table-property-section {
        overflow: auto;
    }

    .pivot-table-property-section .e-multiselect {
        padding: 0;
    }

    .property-panel-table td {
        width: auto;
    }

    .property-panel-table div {
        padding-left: unset;
    }
</style>

@code {
    
    private List<PivotProductDetails> data { get; set; }
    private string[] drilledMembers = new string[] { "France" };
    private bool rowGrandTotal = true;
    private bool columnGrandTotal = true;
    private bool grandTotal = true;
    private bool showSubTotals = true;
    private bool showRowSubTotals = true;
    private bool showColumnSubTotals = true;
    private bool rowSubTotal = true;
    private bool columnSubTotal = true;
    private string selectedType { get; set; } = "grandtotals";
    private string selectedGrandTotalPosition { get; set; } = "GrandTotal/Bottom";
    private string selectedSubTotalPosition { get; set; } = "SubTotal/Auto";
    private string selectedGrandTotalVisibility { get; set; } = "GrandTotal/None";
    private string selectedSubTotalVisibility { get; set; } = "SubTotal/None";
    private GrandTotalsPosition grandTotalPosition = GrandTotalsPosition.Bottom;
    private SubTotalsPosition subTotalPosition = SubTotalsPosition.Auto;
    private string[] selectedFields { get; set; } = new string[0];

    protected override void OnInitialized()
    {
        
        data = PivotProductDetails.GetProductData();
    }
    private void OnChange(ChangeArgs<string> args)
    {
        if (args.Value == "GrandTotal/Row")
        {
            rowGrandTotal = false;
            grandTotal = columnGrandTotal = true;
        }
        else if (args.Value == "GrandTotal/Column")
        {
            columnGrandTotal = false;
            grandTotal = rowGrandTotal = true;
        }
        else
        {
            grandTotal = args.Value != "GrandTotal/Both";
            columnGrandTotal = rowGrandTotal = true;
        }
    }
    private void OnSubtotalVisibilityChange(ChangeArgs<string> args)
    {
        if (args.Value == "SubTotal/Row")
        {
            showRowSubTotals = false;
            showSubTotals = showColumnSubTotals = true;
        }
        else if (args.Value == "SubTotal/Column")
        {
            showColumnSubTotals = false;
            showSubTotals = showRowSubTotals = true;
        }
        else
        {
            showSubTotals = args.Value != "SubTotal/Both";
            showColumnSubTotals = showRowSubTotals = true;
        }
    }
    private void OnChangePosition(ChangeArgs<string> args)
    {
        grandTotalPosition = args.Value == "GrandTotal/Top" ? GrandTotalsPosition.Top : GrandTotalsPosition.Bottom;
    }
    private void OnSubtotalPositionChange(ChangeArgs<string> args)
    {
        subTotalPosition = args.Value == "SubTotal/Top" ? SubTotalsPosition.Top : args.Value == "SubTotal/Bottom" ? SubTotalsPosition.Bottom : SubTotalsPosition.Auto;
    }
    private void UpdateSubTotals(string[] args)
    {
        selectedFields = args;
        rowSubTotal = columnSubTotal = true;
        if (selectedFields?.Length > 0)
        {
            foreach (string value in selectedFields)
            {
                if (value == "Country")
                {
                    rowSubTotal = false;
                }
                else if (value == "Year")
                {
                    columnSubTotal = false;
                }
            }
        }
    }
    private List<DropDownData> fields = new List<DropDownData>() {
        new DropDownData { Name = "Country", Value = "Country" },
        new DropDownData { Name = "Year", Value = "Year" }
    };
    private List<DropDownData> totalTypes = new List<DropDownData>() {
        new DropDownData { Value = "grandtotals", Name = "Grand totals" },
        new DropDownData { Value = "sustotals", Name = "Sub-totals" }
    };
    public class DropDownData
    {
        public string Name { get; set; }
        public string Value { get; set; }
    }
}
