@page "/Charts/Pie"
@using Syncfusion.EJ2.Blazor.Charts

@*Hidden:Lines*@
@using ej2_blazor_samples
@{
    SampleBrowser.CurrentSampleName = "Pie Chart";
    SampleBrowser.CurrentControlName = "Chart";
    SampleBrowser.CurrentControlCategory = "Chart";
    SampleBrowser.CurrentControl = SampleBrowser.Config.Chart;
    SampleBrowser.ActionDescription = new string[] {
        @"This sample demonstrates pie chart for mobile browser usage statistics. Datalabel shows the Information about the points."
    };
    SampleBrowser.Description = new string[] {
        @"In this example, you can see how to render and configure the pie chart. You can use <code>Border</code>, <code>Fill</code> properties to customize the pie point. <code>DataLabel</code> is used to represent individual data and its value.

        Tooltip is enabled in this example, to see the tooltip in action, hover a point or tap on a point in touch enabled devices."
    };
}
@*End:Hidden*@

<div class="row">
        <div class="col-lg-8 control-section">
            <div class="control-section">
                <EjsAccumulationChart @ref="ChartObj" Title="Mobile Browser Statistics" EnableAnimation="false">
                    <AccumulationChartTooltipSettings Enable="true"></AccumulationChartTooltipSettings>
                    <AccumulationChartLegendSettings Visible="false"></AccumulationChartLegendSettings>
                    <AccumulationChartSeriesCollection>
                        <AccumulationChartSeries DataSource="@dataSource" XName="xValue" YName="yValue" Name="Browser" Radius="@OuterRadius" StartAngle="@StartAngle" EndAngle="@EndAngle"
                                                 InnerRadius="0%"  ExplodeIndex="@ExplodeIndex" Explode="true" ExplodeOffset="@ExplodeRadius">
                            <AccumulationDataLabelSettings Visible="true" Name="xValue" Position="AccumulationLabelPosition.Outside"></AccumulationDataLabelSettings>
                        </AccumulationChartSeries>
                    </AccumulationChartSeriesCollection>
                </EjsAccumulationChart>
            </div>
        </div>
        <div class="col-lg-4 property-section">
            <table id="property" title="Properties" style="width: 100%">
                <tr style="height:50px"><th>Properties</th></tr>
                <tr style="height: 50px">
                    <td style="width: 50%">
                        <div>
                            Pie Angle:
                        </div>
                    </td>
                    <td style="width: 70%;">
                        <div class="">
                            <input type="range" @onchange="changeAngle" value="@value" min="0" max="360" style="width:90%" />
                        </div>
                    </td>
                    <td style="width: 30%">
                        <p id="anglevalue" style="font-weight: normal;"><span>@value</span></p>
                    </td>
                </tr>
                <tr style="height: 50px">
                    <td style="width: 50%">
                        <div>
                            Outer Radius:
                        </div>
                    </td>
                    <td style="width: 50%;">
                        <div data-role="rangeslider">
                            <input type="range" @onchange="ChangeOuterRadius" value="@radiusValue" min="0" max="80" style="width:90%" />
                        </div>
                    </td>
                    <td style="width: 30%">
                        <p id="radius" style="font-weight: normal;"><span>@radiusValue</span></p>
                    </td>
                </tr>
                <tr style="height: 50px">
                    <td style="width: 50%">
                        <div>
                            Explode Radius:
                        </div>
                    </td>
                    <td style="width: 50%;">
                        <div data-role="rangeslider">
                            <input type="range" @onchange="ChangeExplodeRadius" value="@exploderadius" min="0" max="40" style="width:90%" />
                        </div>
                    </td>
                    <td style="width: 30%">
                        <p id="exploderadius" style="font-weight: normal;"><span>@exploderadius</span></p>
                    </td>
                </tr>
                <tr style="height: 50px">
                    <td style="width: 50%">
                        <div>
                            Explode Index:
                        </div>
                    </td>
                    <td style="width: 50%;">
                        <div data-role="rangeslider">
                            <input type="range" @onchange="ChangeExplodeIndex" value="@ExplodeIndex" min="0" max="6" style="width:90%"/>
                        </div>
                    </td>
                    <td style="width: 30%">
                        <p id="explodeindex" style="font-weight: normal;"><span>@ExplodeIndex</span></p>
                    </td>
                </tr>
            </table>
        </div>
        </div>
        @code{
            EjsAccumulationChart ChartObj;
            public int StartAngle = 0, value = 0, EndAngle = 360, radiusValue = 70, exploderadius = 10;
            public double ExplodeIndex = 0;
            public string OuterRadius = "70%", ExplodeRadius = "10%";
            private void changeAngle(Microsoft.AspNetCore.Components.ChangeEventArgs args)
            {
                value = Convert.ToInt32(args.Value);
                StartAngle = +Convert.ToInt32(args.Value);
                EndAngle = +Convert.ToInt32(args.Value);
            }
            private void ChangeOuterRadius(Microsoft.AspNetCore.Components.ChangeEventArgs args)
            {
                radiusValue = Convert.ToInt32(args.Value);
                OuterRadius = args.Value + "%";
            }
            private void ChangeExplodeRadius(Microsoft.AspNetCore.Components.ChangeEventArgs args)
            {
                exploderadius = Convert.ToInt32(args.Value);
                ExplodeRadius = args.Value + "%";
            }
            private void ChangeExplodeIndex(Microsoft.AspNetCore.Components.ChangeEventArgs args)
            {
                ExplodeIndex = Convert.ToInt32(args.Value);
            }

            public class PieData1
            {
                public string xValue { get; set; }
                public double yValue { get; set; }
                public string r { get; set; }
            }
            private List<PieData1> dataSource = new List<PieData1>
{
        new PieData1 { xValue = "Chrome", yValue = 37},
        new PieData1 { xValue = "UC Browse",    yValue = 17},
        new PieData1 { xValue = "iPhone",  yValue = 19 },
        new PieData1 { xValue = "Others", yValue = 4 },
        new PieData1 { xValue = "Opera", yValue = 11 },
        new PieData1 { xValue = "Android", yValue = 12}
    };
        }
