@page "/Charts/Selection"
@using Syncfusion.EJ2.Blazor.Charts
@using Syncfusion.EJ2.Blazor.Buttons

@*Hidden:Lines*@
@using ej2_blazor_samples
@{
    SampleBrowser.CurrentSampleName = "Selection";
    SampleBrowser.CurrentControlName = "Chart";
    SampleBrowser.CurrentControlCategory = "Chart";
    SampleBrowser.CurrentControl = SampleBrowser.Config.Chart;
    SampleBrowser.ActionDescription = new string[] {
        @"<p>
        This sample illustrates the selection feature in chart. To select a specific point, click the point.
    </p>"
    };
    SampleBrowser.Description = new string[] {
        @"<p>
        This sample demonstrates the selection behavior in a chart. Any point or a series can be selected in a chart by clicking or touching the point. 
        We can also select the point while loading chart through <code>selectedDataIndexes</code> properties. Click to select a point or series, 
        click and drag to enable rectangular selection. Rectangular selection will return the collection point that are selected under the region.
    </p>
    <p>
        Tap to select a point or series, double tap and drag to enable rectangular selection in touch enabled devices.
    </p>
    <p>
        Chart supports the following by which can be set using <code>SelectionMode</code> property.
    </p>
    <ul>
            <li><code>Series</code> - Select the series in chart.</li>
            <li><code>Point</code> - Select a point in the series.</li>
            <li><code>Cluster</code> - Select a group of points in the chart.</li>
            <li><code>DragXY</code> - Rectangular selection with respect to both axis.</li>
            <li><code>DragX</code> - Rectangular selection with respect to horizontal axis.</li>
            <li><code>DragY</code> - Rectangular selection with respect to vertical axis.</li>
    </ul>"
    };
}
@*End:Hidden*@
<div class="row">
<div class="control-section col-md-8">
    <EjsChart Title="Age Distribution by Country" SelectionMode="@mode" IsMultiSelect="@enableMultiSelect">
        <ChartArea>
            <ChartAreaBorder Width="0"></ChartAreaBorder>
        </ChartArea>
        <ChartPrimaryXAxis Title="Countries" ValueType="Syncfusion.EJ2.Blazor.Charts.ValueType.Category" Interval="1">
        </ChartPrimaryXAxis>
        <ChartPrimaryYAxis Title="Distribution" Interval="20" LabelFormat="{value}%"></ChartPrimaryYAxis>
        <ChartLegendSettings Visible="true" ToggleVisibility="false"></ChartLegendSettings>
        <ChartSeriesCollection>
            <ChartSeries DataSource="@dataSource" XName='x' YName='y1' Name='Age 0-14' Width=2 Type="ChartSeriesType.Column"></ChartSeries>
            <ChartSeries DataSource="@dataSource" XName='x' YName='y2' Name='Age 15-64' Width=2 Type="ChartSeriesType.Column"></ChartSeries>
            <ChartSeries DataSource="@dataSource" XName='x' YName='y3' Name='Age 65 & Above' Width=2 Type="ChartSeriesType.Column"></ChartSeries>
        </ChartSeriesCollection>
        <ChartTooltipSettings Enable="false"></ChartTooltipSettings>
    </EjsChart>
</div>
<div class="col-md-4 property-section">
    <table id="property" style="width: 100%">        
        <tbody>
            <tr style="height:50px"><th>Properties</th></tr>
            <tr style="height: 50px">
                <td>
                    <div>Selection Mode:</div>
                </td>
                <td>
                    <select @onchange="changeMode">
                        <option value="Point">Point</option>
                        <option value="Series">Series</option>
                        <option value="Cluster">Cluster</option>
                    </select>
                </td>
            </tr>
            <tr id="" style="height: 50px">
                <td>
                    <div> Enable Multi Selection:</div>
                </td>
                <td>
                    <EjsCheckBox Checked="@isMultiSelect" ValueChange="@changeSelection"></EjsCheckBox>
                </td>
            </tr>
        </tbody>
    </table>
</div>
</div>

@code{
    SelectionMode mode = SelectionMode.Point;
    private Boolean enableMultiSelect = false, isMultiSelect = false;
    public void changeMode(Microsoft.AspNetCore.Components.ChangeEventArgs args)
    {
        this.mode = (SelectionMode)Enum.Parse(typeof(SelectionMode), args.Value.ToString(), true);
    }
    private void changeSelection(Syncfusion.EJ2.Blazor.Buttons.ChangeEventArgs args)
    {
        enableMultiSelect = isMultiSelect = args.Checked;
    }
        
    public class SelectionData
    {
        public string x;
        public double y1;
        public double y2;
        public double y3;
    }
    public List<SelectionData> dataSource = new List<SelectionData>
        {
                new SelectionData { x = "CHN", y1 = 17, y2 = 54, y3 = 9 },
                new SelectionData { x = "USA", y1 = 19, y2 = 67, y3 = 14 },
                new SelectionData { x = "IDN", y1 = 29, y2 = 65, y3 = 6 },
                new SelectionData { x = "JAP", y1 = 13, y2 = 61, y3 = 26 },
                new SelectionData { x = "BRZ", y1 = 24, y2 = 68, y3 = 8 },

             };
}