@page "/sparkline/axis-types"
@using Syncfusion.Blazor.Charts
@using Syncfusion.Blazor
@using ThemeHelper
@inject NavigationManager NavigationManager
@*Hidden:Lines*@
@inherits SampleBaseComponent

@*End:Hidden*@

<SampleDescription>
    <p>This sample depicts the various types of axes available in the sparkline.</p>
</SampleDescription>
<ActionDescription>
    <p>In this example, you can see Sparklines with different axis types such as <b>Date-Time, Category</b>, and <b>Numeric</b>. Based on the data, the axis type can be changed using the <a target="_blank" href="https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Charts.SfSparkline-1.html#Syncfusion_Blazor_Charts_SfSparkline_1_ValueType" aria-label="ValueType">ValueType</a> property. Tooltip is enabled in this example. To see the tooltip in action, hover the mouse over the data points or tap on a data point in touch-enabled devices.</p>
    <p>More information about the sparkline axis types can be found in this <a target="_blank" href="https://blazor.syncfusion.com/documentation/sparkline/axis-customization#change-the-value-type-of-the-sparkline-chart" aria-label="documentation section">documentation section</a>.</p>
</ActionDescription>

<div class="control-section">
    <div id="spark-container" class="row">
        <div class="cols-sample-area" align="center">
            <table style="width:80%;">
                <tr>
                    <td align="center">
                        <div><b>Mean Working Hours for a Month</b></div>
                        <div><b><i>(DateTime Axis)</i></b></div>
                    </td>
                    <td style="padding: 10px;" align="center">
                        <div id="datetime" style="width:170px; height:100px">
                            <SfSparkline Theme="@CurrentTheme" XName="Date" YName="HoursWorked" TValue="DateTimeSparkData" DataSource="@DateTimeData"
                                         ValueType="SparklineValueType.DateTime"
                                         Type="@Syncfusion.Blazor.Charts.SparklineType.Column"
                                         LineWidth="1" Height="100px" Width="170px">
                                <SparklineTooltipSettings TValue="DateTimeSparkData" Visible="true" Format="${Date}: ${HoursWorked}hrs">
                                </SparklineTooltipSettings>
                            </SfSparkline>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td align="center">
                        <div><b>Percentage of the Students in a Class</b></div>
                        <div><b><i>(Category Axis)</i></b></div>
                    </td>
                    <td style="padding: 10px;" align="center">
                        <div id="category" style="width:170px; height:100px">
                            <SfSparkline Theme="@CurrentTheme" XName="Name" YName="Percentage" TValue="CategorySparkData" DataSource="@CategoryData"
                                         ValueType="SparklineValueType.Category"
                                         Type="@Syncfusion.Blazor.Charts.SparklineType.Column"
                                         LineWidth="1" Height="100px" Width="170px">
                                <SparklineTooltipSettings TValue="CategorySparkData" Visible="true" Format="${Name}: ${Percentage}%">
                                </SparklineTooltipSettings>
                            </SfSparkline>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td align="center">
                        <div><b>Expenditure Details of Various Trips</b></div>
                        <div><b><i>(Numeric Axis)</i></b></div>
                    </td>
                    <td style="padding: 10px;" align="center">
                        <div id="numeric" style="width:170px; height:100px">
                            <SfSparkline Theme="@CurrentTheme" XName="Year" YName="Expenditure" TValue="NumericSparkData" DataSource="@NumericData"
                                         ValueType="SparklineValueType.Numeric"
                                         Type="@Syncfusion.Blazor.Charts.SparklineType.Column"
                                         LineWidth="1" Height="100px" Width="170px">
                                <SparklineTooltipSettings TValue="NumericSparkData" Visible="true" Format="${Year}: $${Expenditure}">
                                </SparklineTooltipSettings>
                            </SfSparkline>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

@code {
    public Theme CurrentTheme { get; set; }

    public class DateTimeSparkData
    {
        public DateTime Date { get; set; }
        public double HoursWorked { get; set; }
    }

    public class CategorySparkData
    {
        public string Name { get; set; }
        public double Percentage { get; set; }
    }

    public class NumericSparkData
    {
        public double Year { get; set; }
        public double Expenditure { get; set; }
    }

    protected override void OnInitialized()
    {
        CurrentTheme = ThemeHelper.GetCurrentTheme(NavigationManager.Uri);
    }

    public List<DateTimeSparkData> DateTimeData { get; set; } = new List<DateTimeSparkData>
    {
        new DateTimeSparkData { Date = new DateTime(2018, 1, 1), HoursWorked = 4 },
        new DateTimeSparkData { Date = new DateTime(2018, 1, 2), HoursWorked = 4.5 },
        new DateTimeSparkData { Date = new DateTime(2018, 1, 3), HoursWorked = 8 },
        new DateTimeSparkData { Date = new DateTime(2018, 1, 4), HoursWorked = 7 },
        new DateTimeSparkData { Date = new DateTime(2018, 1, 5), HoursWorked = 6 },
        new DateTimeSparkData { Date = new DateTime(2018, 1, 8), HoursWorked = 8 },
        new DateTimeSparkData { Date = new DateTime(2018, 1, 9), HoursWorked = 8 },
        new DateTimeSparkData { Date = new DateTime(2018, 1, 10), HoursWorked = 6.5 },
        new DateTimeSparkData { Date = new DateTime(2018, 1, 11), HoursWorked = 4 },
        new DateTimeSparkData { Date = new DateTime(2018, 1, 12), HoursWorked = 5.5 },
        new DateTimeSparkData { Date = new DateTime(2018, 1, 15), HoursWorked = 8 },
        new DateTimeSparkData { Date = new DateTime(2018, 1, 16), HoursWorked = 6 },
        new DateTimeSparkData { Date = new DateTime(2018, 1, 17), HoursWorked = 6.5 },
        new DateTimeSparkData { Date = new DateTime(2018, 1, 18), HoursWorked = 7.5 },
        new DateTimeSparkData { Date = new DateTime(2018, 1, 19), HoursWorked = 7.5 },
        new DateTimeSparkData { Date = new DateTime(2018, 1, 22), HoursWorked = 4 },
        new DateTimeSparkData { Date = new DateTime(2018, 1, 23), HoursWorked = 8 },
        new DateTimeSparkData { Date = new DateTime(2018, 1, 24), HoursWorked = 6 },
        new DateTimeSparkData { Date = new DateTime(2018, 1, 25), HoursWorked = 7.5 },
        new DateTimeSparkData { Date = new DateTime(2018, 1, 26), HoursWorked = 4.5 },
        new DateTimeSparkData { Date = new DateTime(2018, 1, 29), HoursWorked = 6 },
        new DateTimeSparkData { Date = new DateTime(2018, 1, 30), HoursWorked = 5 },
        new DateTimeSparkData { Date = new DateTime(2018, 1, 31), HoursWorked = 7 }
    };

    public List<CategorySparkData> CategoryData { get; set; } = new List<CategorySparkData>
    {
        new CategorySparkData { Name = "Robert", Percentage = 60 },
        new CategorySparkData { Name = "Andrew", Percentage = 65 },
        new CategorySparkData { Name = "Suyama", Percentage = 70 },
        new CategorySparkData { Name = "Michael", Percentage = 80 },
        new CategorySparkData { Name = "Janet", Percentage = 55 },
        new CategorySparkData { Name = "Davolio", Percentage = 90 },
        new CategorySparkData { Name = "Fuller", Percentage = 75 },
        new CategorySparkData { Name = "Nancy", Percentage = 85 },
        new CategorySparkData { Name = "Margaret", Percentage = 77 },
        new CategorySparkData { Name = "Steven", Percentage = 68 },
        new CategorySparkData { Name = "Laura", Percentage = 96 },
        new CategorySparkData { Name = "Elizabeth", Percentage = 57 }
    };

    public List<NumericSparkData> NumericData { get; set; } = new List<NumericSparkData>
    {
        new NumericSparkData { Year = 2010, Expenditure = 190 },
        new NumericSparkData { Year = 2011, Expenditure = 165 },
        new NumericSparkData { Year = 2012, Expenditure = 158 },
        new NumericSparkData { Year = 2013, Expenditure = 175 },
        new NumericSparkData { Year = 2014, Expenditure = 200 },
        new NumericSparkData { Year = 2015, Expenditure = 180 },
        new NumericSparkData { Year = 2016, Expenditure = 210 }
    };

}