@page "/tree-grid/header-template"

@using Syncfusion.Blazor.TreeGrid
@using Syncfusion.Blazor.Grids
@*Hidden:Lines*@
@inject Microsoft.AspNetCore.Components.NavigationManager UriHelper
@using ej2_blazor_wrapdata
@inherits SampleBaseComponent;
@*End:Hidden*@

<SampleDescription>
    <p>This sample demonstrates Tree Grid header template feature. In this sample, custom icons have been shown in the column headers.</p>
</SampleDescription>
<ActionDescription>
    <p>By using the <a target='_blank' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.TreeGrid.TreeGridColumn.html#Syncfusion_Blazor_TreeGrid_TreeGridColumn_HeaderTemplate'>HeaderTemplate</a> component of <a target='_blank' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.TreeGrid.TreeGridColumn.html'>TreeGridColumn</a>, cusom content can be placed. In this demo, customized template is rendered for all column headers.</p>
    <p>More information on the header template can be found in this <a target='_blank' href='https://blazor.syncfusion.com/documentation/treegrid/columns/#header-template'>documentation section</a>.</p>
</ActionDescription>

<div class="col-lg-12 control-section">
    <div class="content-wrapper">
        <div class="row">
            <SfTreeGrid DataSource="@TreeData" IdMapping="TaskId" ParentIdMapping="ParentId" TreeColumnIndex="0" Height="312">
                <TreeGridColumns>
                    <TreeGridColumn Field="TaskName" HeaderText="Task Name" Width="240">
                        <HeaderTemplate>
                            @{
                                <div class="image">
                                    <img src="@UriHelper.ToAbsoluteUri($"images/tree-grid/task-name.png")" width="20" height="20" class="custom" style="margin-right: 8px; padding-bottom: 1px" />Task Name
                                </div>
                            }
                        </HeaderTemplate>
                    </TreeGridColumn>
                    <TreeGridColumn Field="StartDate" HeaderText="Start Date" Width="120" Type=ColumnType.Date Format="d" TextAlign="TextAlign.Right">
                        <HeaderTemplate>
                            <div class="image">
                                <img src="@UriHelper.ToAbsoluteUri($"images/tree-grid/start-name.png")" width="20" height="20" class="custom" style="margin-right: 8px; padding-bottom: 1px" />Start Date
                            </div>
                        </HeaderTemplate>
                    </TreeGridColumn>
                    <TreeGridColumn Field="Resources" HeaderText="Resources" Width="110" TextAlign="TextAlign.Right">
                        <HeaderTemplate>
                            @{
                                <div class="image">
                                    <img src="@UriHelper.ToAbsoluteUri($"images/tree-grid/resources.png")" width="20" height="20" class="custom" style="margin-right: 8px; padding-bottom: 1px" />Resources
                                </div>
                            }
                        </HeaderTemplate>
                    </TreeGridColumn>
                    <TreeGridColumn Field="Duration" HeaderText="Duration" Width="110" TextAlign="TextAlign.Right">
                        <HeaderTemplate>
                            @{
                                <div class="image">
                                    <img src="@UriHelper.ToAbsoluteUri($"images/tree-grid/duration.png")" width="20" height="20" class="custom" style="margin-right: 8px; padding-bottom: 2px" />Duration
                                </div>
                            }
                        </HeaderTemplate>
                    </TreeGridColumn>
                    <TreeGridColumn Field="Progress" HeaderText="Progress" Width="110" >
                        <HeaderTemplate>
                            @{
                                <div class="image">
                                    <img src="@UriHelper.ToAbsoluteUri($"images/tree-grid/progress.png")" width="20" height="20" class="custom" style="margin-right: 8px; padding-bottom: 2px" />Progress
                                </div>
                            }
                        </HeaderTemplate>
                    </TreeGridColumn>
                </TreeGridColumns>
            </SfTreeGrid>
        </div>
    </div>
</div>

  <style>    
    .bootstrap5-dark img.custom, .bootstrap5 img.custom  {
       padding-bottom: 3px !important;
    }
    </style>

@code {

    private IEnumerable<WrapData> TreeData { get; set; }

    protected override void OnInitialized()
    {
        this.TreeData = WrapData.GetWrapData().ToList();
    }
}
