@page "/MultiSelect/DefaultFunctionalities"

@using Syncfusion.EJ2.RazorComponents.DropDowns

@*Hidden:Lines*@
@using ej2_blazor_samples
@{
    SampleBrowser.CurrentSampleName = "Default Functionalities";
    SampleBrowser.CurrentControlName = "MultiSelect";
    SampleBrowser.CurrentControlCategory = "MultiSelect";
    SampleBrowser.CurrentControl = SampleBrowser.Config.MultiSelect;
    SampleBrowser.ActionDescription = new string[] {
        @"<p>This sample demonstrates the default functionalities of the MultiSelect in ASP.NET CORE application. Type a character in the MultiSelect element or click on this element to choose one or more items from the suggestion list.</p>"
    };
    SampleBrowser.Description = new string[] {
        @" <p>
            The <code>MultiSelect</code> component contains a list of predefined values, from that the user can choose a multiple
            values.
        </p>
        <p>In this sample, the selected items are shown with three different UI modes in three different MultiSelect elements. That three UI modes are listed here below,</p>
        <ul>
            <li><b>Default</b> - on focus-in, the component will act in <code>box mode</code> and on blur, the component will act in <code>delimiter mode</code>.</li>
            <li><b>Box</b> - selected items will be visualized in chip.</li>
            <li><b>Delimiter</b> - selected items will be visualized in text content.</li>
        </ul>
        <p>
            More information on the MultiSelect instantiation can be found in the
            <a href=""https://ej2.syncfusion.com/aspnetcore/documentation/multi-select/getting-started/"" target=""_blank""> documentation section</a>.
        </p>"
    };
}
@*End:Hidden*@

<div class="control-section">
    <div class="control_wrapper">
        <div id='content'>
            <div>
                <h4> Default Mode</h4>
                <EjsMultiSelect ID="default" Mode="@VisualMode.Default" PlaceHolder="Favorite Sports" DataSource="@games"></EjsMultiSelect>
            </div>
            <div class="control-styles">
                <h4>Box Mode</h4>
                <EjsMultiSelect ID="box" Mode="@VisualMode.Box" PlaceHolder="Favorite Sports" DataSource="@games"></EjsMultiSelect>
            </div>

            <div class="control-styles">
                <h4>Delimiter Mode</h4>
                <EjsMultiSelect ID="delimiter" Mode="@VisualMode.Delimiter" PlaceHolder="Favorite Sports" DataSource="@games"></EjsMultiSelect>
            </div>
        </div>
    </div>
</div>

<style>
    .control_wrapper {
        width: 350px;
        margin: 0 auto;
        padding-top: 40px;
    }
</style>

@code{
     public class GameFields
    {
        public string id { get; set; }

        public string text { get; set; }
    }

    List<GameFields> games = new List<GameFields>()
    {
        new GameFields(){ id= "Game1", text= "American Football" },
        new GameFields(){ id= "Game2", text= "Badminton" },
        new GameFields(){ id= "Game3", text= "Basketball" },
        new GameFields(){ id= "Game4", text= "Cricket" },
        new GameFields(){ id= "Game5", text= "Football" },
        new GameFields(){ id= "Game6", text= "Golf" },
        new GameFields(){ id= "Game7", text= "Hockey" },
        new GameFields(){ id= "Game8", text= "Rugby"},
        new GameFields(){ id= "Game9", text= "Snooker" },
        new GameFields(){ id= "Game10", text= "Tennis"},
    };
}
