@page "/gantt-chart/column-template"
@using Syncfusion.Blazor.Gantt
@inject Microsoft.AspNetCore.Components.NavigationManager UriHelper
@*Hidden:Lines*@
@inherits SampleBaseComponent
@inject NavigationManager NavigationManager


@*End:Hidden*@

<SampleDescription>
    <p>A column template is used to customize the column’s look and appearance. The following example explains how to define the template in Gantt Chart column.</p>
</SampleDescription>
<ActionDescription>
    <p>The Gantt Chart provides a way to use a custom layout for each cell using the column template feature. By using the <a aria-label="Navigate to the Template property reference for gantt column" target='_blank' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Gantt.GanttColumn.html#Syncfusion_Blazor_Gantt_GanttColumn_Template'>Template</a> component of <a aria-label="Navigate to the class reference for gantt column" target='_blank' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Gantt.GanttColumn.html'>GanttColumn</a> component, custom content can be placed. Inside the Template, you can access the data using the implicit named parameter <code>Context</code>.</p>
    <p>In this demo, using column template, resource column has been presented with employee photo.</p>
    <p>More information about Column Template feature can be found in this <a aria-label="Navigate to the documentation for column template in gantt chart component" target='_blank' href='https://blazor.syncfusion.com/documentation/gantt-chart/column-template'>documentation</a> section.</p>
</ActionDescription>

<div class="control-section">
    <div class="row">
        <div class="col-md-12">
            <SfGantt DataSource="@TaskCollection" Height="450px" Width="100%" RowHeight=60 TreeColumnIndex="1" ProjectStartDate="@ProjectStart" ProjectEndDate="@ProjectEnd" WorkUnit="WorkUnit.Hour">
                <GanttTaskFields Id="TaskId" Name="TaskName" StartDate="StartDate" EndDate="EndDate" Duration="Duration" Progress="Progress"
                                 ParentID="ParentId" TaskType="TaskType">
                </GanttTaskFields>
                <GanttColumns>
                    <GanttColumn Field="TaskId" HeaderText="ID"></GanttColumn>
                    <GanttColumn Field="TaskName" HeaderText="Task Name" ClipMode="Syncfusion.Blazor.Grids.ClipMode.EllipsisWithTooltip"></GanttColumn>
                    <GanttColumn Field="ResourceName" HeaderText="Resources" Width="220px">
                             <Template>
                                @{
                                    if ((context as ColumnTemplateData.TaskData).ResourceName != null)
                                    {
                                        var template = (context as ColumnTemplateData.TaskData);
                                        <div class="image">
                                        <img role="presentation" src="@UriHelper.ToAbsoluteUri($"{SampleService.WebAssetsPath}images/gantt/{template. ResourceName.Trim().Replace(" ","").ToLower()}.png")" />
                                        <div style="display:inline-block;width:100%;position:relative;left:30px">@(template.ResourceName)</div>
                                        </div>
                                    }
                                  }
                            </Template>
                    </GanttColumn>
                    <GanttColumn Field="Duration" HeaderText="Duration"></GanttColumn>
                    <GanttColumn Field="TaskType" HeaderText="Task Type"></GanttColumn>
                    <GanttColumn Field="StartDate" HeaderText="Start Date"></GanttColumn>
                    <GanttColumn Field="EndDate" HeaderText="End Date"></GanttColumn>
                </GanttColumns>
                <GanttLabelSettings LeftLabel="TaskName" TValue="ColumnTemplateData.TaskData"></GanttLabelSettings>
                <GanttSplitterSettings Position="50%"></GanttSplitterSettings>
            </SfGantt>
        </div>
    </div>
</div>

@code{
    private DateTime ProjectStart = new DateTime(2021, 3, 23);
    private DateTime ProjectEnd = new DateTime(2021, 7, 28);
    private List<ColumnTemplateData.TaskData> TaskCollection { get; set; }
    
    protected override void OnInitialized()
    {
        this.TaskCollection = ColumnTemplateData.GetTaskCollection();
    }

}
