@page "/gantt-chart/multi-taskbar"

@using Syncfusion.Blazor.Gantt
@using Syncfusion.Blazor.Buttons
@*Hidden:Lines*@
@inherits SampleBaseComponent
@*End:Hidden*@

<SampleDescription>
    <p>This example provides a comprehensive explanation of the process for visualizing a list of tasks assigned to a resource within a collapsed parent row. Additionally, it outlines the capability to modify task scheduling while in the collapsed state. This functionality can be enabled by setting the <a aria-label="Navigate to the EnableMultiTaskbar property reference for gantt taskbar settings" target='_blank' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Gantt.GanttTaskbarSettings.html#Syncfusion_Blazor_Gantt_GanttTaskbarSettings_EnableMultiTaskbar'>EnableMultiTaskbar</a> property of <a aria-label="Navigate to the class reference for gantt taskbar settings" target="_blank" href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Gantt.GanttTaskbarSettings.html'>GanttTaskbarSettings</a> to <code>true</code>.</p>
</SampleDescription>
<ActionDescription>
    <p>
        This example demonstrates the ability to facilitate vertical drag-and-drop of taskbars between different resources by setting the <a aria-label="Navigate to the AllowTaskbarDragAndDrop property reference for gantt taskbar settings" target="_blank" href="https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Gantt.GanttTaskbarSettings.html#Syncfusion_Blazor_Gantt_GanttTaskbarSettings_AllowTaskbarDragAndDrop">AllowTaskbarDragAndDrop</a> property of <code>GanttTaskbarSettings</code> to <code>true</code>.
    </p>

    <p>
        In this demo, the resource assignment collection includes both resource IDs and task IDs to facilitate the mapping of resources to tasks. The resource information can be displayed using the <a aria-label="Navigate to the task label property reference for gantt label settings" target="_blank" href="https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Gantt.GanttLabelSettings-1.html#Syncfusion_Blazor_Gantt_GanttLabelSettings_1_TaskLabel">TaskLabel</a> property of the <a aria-label="Navigate to the class reference for gantt label settings" target="_blank" href="https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Gantt.GanttLabelSettings-1.html">GanttLabelSettings</a>. Using the toolbar action, you can perform CRUD operations for resource allocation based on availability and task complexity.
    </p>

    <p>
        Resources can be mapped using the <a aria-label="Navigate to the class reference for gantt resource fields" target="_blank" href="https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Gantt.GanttResource-1.html">GanttResource</a> component with the following properties:
    </p>
    <ul>
        <li><code>Id</code> - Maps the resource ID.</li>
        <li><code>Name</code> - Maps the resource name.</li>
        <li><code>MaxUnits</code> - Maps the resource units.</li>
        <li><code>DataSource</code> - Maps the resource data source.</li>
    </ul>

    <p>
        Resource assignments can be mapped using the <a aria-label="Navigate to the class reference for gantt assignment fields" target="_blank" href="https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Gantt.GanttAssignmentFields-1.html">GanttAssignmentFields</a> component with the following properties:
    </p>
    <ul>
        <li><code>PrimaryKey</code> - Maps the primary key.</li>
        <li><code>TaskID</code> - Maps the task ID.</li>
        <li><code>ResourceID</code> - Maps the resource ID.</li>
        <li><code>DataSource</code> - Maps the resource assignment data source.</li>
    </ul>
</ActionDescription>

<div class="col-lg-12 control-section">
    <div class="content-wrapper">
        <div class="row">
            <div class="e-switch-control">
                <label class="showhide">Allow Taskbar Drag And Drop</label>
                <SfSwitch @bind-Checked="@IsTaskbarDragAndDropEnabled" TChecked="bool"></SfSwitch>
            </div>
            <SfGantt @ref="Gantt" ShowOverallocation="true" TreeColumnIndex="1" RowHeight="38"
                     DataSource="@Tasks" Height="450px" Width="100%"
                     ViewType="ViewType.ResourceView" CollapseAllParentTasks="true"
                     Toolbar="@(new List<object>() { "Add", "Cancel", "Update", "Delete", "Edit", "CollapseAll", "ExpandAll" })"
                     AllowResizing="true" ScrollToTaskbarOnClick="true">
                <GanttTaskFields Id="Id" Name="Name" StartDate="StartDate" EndDate="EndDate"
                                 Duration="Duration" Progress="Progress" ParentID="ParentId"
                                 Work="Work" Dependency="Predecessor">
                </GanttTaskFields>
                <GanttResource DataSource="@Resources" Id="Id" Name="Name" MaxUnits="MaxUnit"
                               Group="Group" TValue="MultiTaskbarData.TaskInfoModel"
                               TResources="MultiTaskbarData.ResourceInfoModel">
                </GanttResource>
                <GanttAssignmentFields DataSource="@Assignments" PrimaryKey="Id"
                                       TaskID="TaskId" ResourceID="ResourceId"
                                       Units="Unit" TValue="MultiTaskbarData.TaskInfoModel"
                                       TAssignment="MultiTaskbarData.AssignmentModel">
                </GanttAssignmentFields>
                <GanttLabelSettings TaskLabel="Name" TValue="MultiTaskbarData.TaskInfoModel"></GanttLabelSettings>
                <GanttEditSettings AllowAdding="true" AllowDeleting="true" AllowEditing="true" AllowTaskbarEditing="true"></GanttEditSettings>
                <GanttTaskbarSettings EnableMultiTaskbar="true" AllowTaskbarDragAndDrop="@IsTaskbarDragAndDropEnabled"></GanttTaskbarSettings>
                <GanttColumns>
                    <GanttColumn Field="Id" Visible="false"></GanttColumn>
                    <GanttColumn Field="Name" HeaderText="Name" Width="250"></GanttColumn>
                    <GanttColumn Field="Work" HeaderText="Work (Hours)"></GanttColumn>
                    <GanttColumn Field="Progress"></GanttColumn>
                    <GanttColumn Field="StartDate" HeaderText="Start Date"></GanttColumn>
                    <GanttColumn Field="EndDate" HeaderText="End Date"></GanttColumn>
                </GanttColumns>
                <GanttSplitterSettings Position="30%"></GanttSplitterSettings>
            </SfGantt>
        </div>
    </div>
</div>

<style>
    .showhide {
        font-size: 15px;
        font-weight: 400;
        margin-bottom: 1px;
        padding: 10px;
    }

    .e-switch-control {
        display: flex;
        align-items: center;
    }
</style>

@code {
    public SfGantt<MultiTaskbarData.TaskInfoModel> Gantt { get; set; }
    private DateTime ProjectStart { get; } = new DateTime(2022, 3, 25);
    private DateTime ProjectEnd { get; } = new DateTime(2022, 5, 10);
    private List<MultiTaskbarData.TaskInfoModel> Tasks { get; set; }
    private List<MultiTaskbarData.ResourceInfoModel> Resources { get; set; }
    private bool IsTaskbarDragAndDropEnabled { get; set; } = true;
    private static List<MultiTaskbarData.AssignmentModel> Assignments { get; set; }

    protected override void OnInitialized()
    {
        Tasks = MultiTaskbarData.GetTaskCollection();
        Resources = MultiTaskbarData.GetResources;
        Assignments = MultiTaskbarData.GetAssignmentCollection();
    }

}
