@page "/gantt-chart/tooltip-template"
@using Syncfusion.Blazor.Gantt
@using BlazorDemos
@inject Microsoft.AspNetCore.Components.NavigationManager UriHelper
@*Hidden:Lines*@
@inherits SampleBaseComponent
@inject NavigationManager NavigationManager


@*End:Hidden*@

<SampleDescription>
    <p>This sample demonstrates the Gantt tooltip template and the editing tooltip template feature. In this sample, the taskbar tooltip and the taskbar editing tooltip are customized.</p>
</SampleDescription>
<ActionDescription>
    <p>The default tooltip in the Gantt Chart component can be customized using the <a aria-label="Navigate to the TaskbarTemplate property reference for gantt tooltip settings" target='_blank' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Gantt.GanttTooltipSettings-1.html#Syncfusion_Blazor_Gantt_GanttTooltipSettings_1_TaskbarTemplate'>GanttTooltipSettings.TaskbarTemplate</a> component.</p>
    <p>The taskbar editing tooltip in the Gantt Chart component can be customized using the <a aria-label="Navigate to the EditingTemplate property reference for gantt tooltip settings" target='_blank' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Gantt.GanttTooltipSettings-1.html#Syncfusion_Blazor_Gantt_GanttTooltipSettings_1_EditingTemplate'>GanttTooltipSettings.EditingTemplate</a> component.</p>
    <p>The tooltip can be enabled or disabled using the <a aria-label="Navigate to the ShowTooltip property reference for gantt tooltip settings" target='_blank' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Gantt.GanttTooltipSettings-1.html#Syncfusion_Blazor_Gantt_GanttTooltipSettings_1_ShowTooltip'>GanttTooltipSettings.ShowTooltip</a> property. More information about tooltip template features can be found in this <a aria-label="Navigate to the documentation for tooltip template in gantt chart component" target='_blank' href='https://blazor.syncfusion.com/documentation/gantt-chart/tooltip/#tooltip-template'>documentation</a> section.</p>
</ActionDescription>

<div class="col-lg-12 control-section">
    <div class="content-wrapper">
        <div class="row">
            <SfGantt DataSource="@TaskCollection" Height="450px" Width="100%" TreeColumnIndex="1" ProjectStartDate="@ProjectStart" ProjectEndDate="@ProjectEnd" WorkUnit="WorkUnit.Hour">
                <GanttTaskFields Id="TaskId" Name="TaskName" StartDate="StartDate" EndDate="EndDate" Duration="Duration" Progress="Progress"
                                 ParentID="ParentId" TaskType="TaskType">
                </GanttTaskFields>
                <GanttColumns>
                    <GanttColumn Field="TaskId" Width="100"></GanttColumn>
                    <GanttColumn Field="TaskName" Width="250" ClipMode="Syncfusion.Blazor.Grids.ClipMode.EllipsisWithTooltip"></GanttColumn>
                    <GanttColumn Field="StartDate" HeaderText="Start Date" MinWidth="120"></GanttColumn>
                    <GanttColumn Field="EndDate" HeaderText="End Date" MinWidth="120"></GanttColumn>
                    <GanttColumn Field="Duration" HeaderText="Duration" MinWidth="120"></GanttColumn>
                    <GanttColumn Field="Progress" HeaderText="Progress" MinWidth="120"></GanttColumn>
                    <GanttColumn Field="TaskType" Width="100"></GanttColumn>
                </GanttColumns>
                <GanttEditSettings AllowTaskbarEditing="true"></GanttEditSettings>
                <GanttTooltipSettings ShowTooltip="true" TValue="TooltipTemplateData.TaskData">
                    <TaskbarTemplate>
                        <table>
                            @{
                                if ((context as TooltipTemplateData.TaskData).ResourceName != null)
                                {
                                    var template = (context as TooltipTemplateData.TaskData);
                                    <tr>
                                        <td rowspan="3" style="padding:3px">
                                            <img src="@UriHelper.ToAbsoluteUri($"{SampleService.WebAssetsPath}images/gantt/{template.ResourceName.Trim().Replace(" ","").ToLower()}.png")" />
                                        </td>
                                        <td style="padding:3px">Task Done By:</td>
                                        <td style="padding:3px">@(template.ResourceName)</td>
                                    </tr>
                                    <tr>
                                        <td style="padding:3px">Starts On:</td>
                                        <td style="padding:3px">@(template.StartDate.ToString("MM/dd/yyyy"))</td>
                                    </tr>
                                    <tr>
                                        <td style="padding:3px">Ends On:</td>
                                        <td style="padding:3px">@(template.EndDate.ToString("MM/dd/yyyy"))</td>
                                    </tr>
                                }
                                else
                                {
                                    <tr>
                                        <td style="padding:3px">Starts On:</td>
                                        <td style="padding:3px">@((context as TooltipTemplateData.TaskData).StartDate.ToString("MM/dd/yyyy"))</td>
                                    </tr>
                                    <tr>
                                        <td style="padding:3px">Ends On:</td>
                                        <td style="padding:3px">@((context as TooltipTemplateData.TaskData).EndDate.ToString("MM/dd/yyyy"))</td>
                                    </tr>
                                }
                            }
                        </table>
                    </TaskbarTemplate>
                    <EditingTemplate>
                        <table>
                            @{
                                var template = (context as TooltipTemplateData.TaskData);
                                if (TaskbarEditAction == "LeftResizing")
                                {
                                     <tr>
                                       <td style="padding:3px">@(template.StartDate.ToString("MMM dd, yyyy"))</td>
                                     </tr>
                                     <tr>
                                       <td style="padding:6px">@(template.Duration) days</td>
                                     </tr>
                                }
                                else if (TaskbarEditAction == "RightResizing")
                                {
                                     <tr>
                                       <td style="padding:3px">@(template.EndDate.ToString("MMM dd, yyyy"))</td>
                                     </tr>
                                     <tr>
                                       <td style="padding:6px">@(template.Duration) days</td>
                                     </tr>
                                }
                                else if (TaskbarEditAction == "ChildDrag" || TaskbarEditAction == "ParentDrag")
                                {
                                     <tr>
                                       <td style="padding:3px">@(template.StartDate.ToString("MMM dd, yyyy"))</td>
                                     </tr>
                                     <tr>
                                       <td style="padding:3px">@(template.EndDate.ToString("MMM dd, yyyy"))</td>
                                     </tr>
                                }
                                else if (TaskbarEditAction == "ProgressResizing")
                                {
                                     <tr>
                                       <td style="padding:3px">@(template.Progress) %</td>
                                     </tr>
                                }
                            }
                     </table>
                </EditingTemplate>
                </GanttTooltipSettings>
                <GanttLabelSettings LeftLabel="TaskName" TValue="TooltipTemplateData.TaskData"></GanttLabelSettings>
                <GanttSplitterSettings Position="40%"></GanttSplitterSettings>
                <GanttEvents TaskbarEditing="TaskbarEditingHandler" TValue="TooltipTemplateData.TaskData"></GanttEvents>
            </SfGantt>
        </div>
    </div>
</div>

@code{
    private DateTime ProjectStart = new DateTime(2021, 3, 23);
    private DateTime ProjectEnd = new DateTime(2021, 7, 28);
    private string TaskbarEditAction { get; set; }
    private List<TooltipTemplateData.TaskData> TaskCollection { get; set; }
    
    protected override void OnInitialized()
    {
        
        this.TaskCollection = TooltipTemplateData.GetTaskCollection();
    }

    private void TaskbarEditingHandler(TaskbarEditingEventArgs<TooltipTemplateData.TaskData> args)
    {
        TaskbarEditAction = args.Action;
    }
    
}
