@page "/card/tile-view"
@using Syncfusion.Blazor.Cards
@using Syncfusion.Blazor.Buttons

@inherits SampleBaseComponent;
<div class="control-section card-control-section tile_layout">
    
    <div class="row e-card-layout" style="text-align:center;">
        <div class="row error" style="display:none;min-height:150px">
            <div class="e-error-content" style="margin:auto;height:inherit;font-size:18px;font-weight:500;color:inherit">No results found. Please try a different search.</div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6">
            <!-- Tile View Layout  -->
            <div id="card_sample_1" class="card_sample">
                <SfCard ID="typescript">
                    <CardImage Image="../images/cards/Tile_1.png"  />
                    <CardHeader Title="ASP.NET MVC" SubTitle="Nick Harrison" />
                    <CardContent Content="ASP.NET Model View Controller design pattern to keep the data, views, and logic clearly separated in apps." />
                    <CardFooter>
                        <CardFooterContent>
                            <SfButton CssClass="e-btn e-outline e-primary" @onclick="@(e =>NavigateToUrlAsync("https://www.syncfusion.com/ebooks/ASPNET_MVC_Succinctly"))">Read More</SfButton>

                        </CardFooterContent>
                    </CardFooter>
                </SfCard>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6">
            <div id="card_sample_2" class="card_sample">
                <SfCard>
                    <CardImage Image="../images/cards/Tile_2.png"  />
                    <CardHeader Title="Node.js" SubTitle="Emanuele DelBono" />
                    <CardContent Content="Node.js is a wildly popular platform for writing web applications that has revolutionized web development in many ways." />
                    <CardFooter>
                        <CardFooterContent>
                            <SfButton CssClass="e-btn e-outline e-primary" @onclick="@(e =>NavigateToUrlAsync("https://www.syncfusion.com/ebooks/nodejs"))">Read More</SfButton>
                        </CardFooterContent>
                    </CardFooter>
                </SfCard>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6">
            <div id="card_sample_3" class="card_sample">
                <SfCard>
                    <CardImage Image="../images/cards/Tile_3.png"  />
                    <CardHeader Title="React.js" SubTitle="Dmitri Nesteruk" />
                    <CardContent Content="React is a JavaScript library that has revolutionized how developers design and think about views in web applications." />
                    <CardFooter>
                        <CardFooterContent>
                            <SfButton CssClass="e-btn e-outline e-primary" @onclick="@(e =>NavigateToUrlAsync("https://www.syncfusion.com/ebooks/reactjs_succinctly"))">Read More</SfButton>
                        </CardFooterContent>
                    </CardFooter>
                </SfCard>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6">
            <div id="card_sample_4" class="card_sample">
                <SfCard>
                    <CardImage Image="../images/cards/Tile_4.png"  />
                    <CardHeader Title="Typescript" SubTitle="Steve Fenton" />
                    <CardContent Content="Microsoft TypeScript extends many familiar features of .NET programming to JavaScript." />
                    <CardFooter>
                        <CardFooterContent>
                            <SfButton CssClass="e-btn e-outline e-primary" @onclick="@(e =>NavigateToUrlAsync("https://www.syncfusion.com/ebooks/typescript"))">Read More</SfButton>
                        </CardFooterContent>
                    </CardFooter>
                </SfCard>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6">
            <div id="card_sample_5" class="card_sample">
                <SfCard>
                    <CardImage Image="../images/cards/Tile_5.png"  />
                    <CardHeader Title="PHP" SubTitle="Jose Roberto Olivas Men" />
                    <CardContent Content="Known for its straightforward simplicity, PHP is an open source, general-purpose scripting language oriented for web development." />
                    <CardFooter>
                        <CardFooterContent>
                            <SfButton CssClass="e-btn e-outline e-primary" @onclick="@(e =>NavigateToUrlAsync("https://www.syncfusion.com/ebooks/php_succinctly"))">Read More</SfButton>
                        </CardFooterContent>
                    </CardFooter>
                </SfCard>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6">
            <div id="card_sample_6" class="card_sample">
                <SfCard>
                    <CardImage Image="../images/cards/Tile_6.png"  />
                    <CardHeader Title="CSS3" SubTitle="Peter Shaw" />
                    <CardContent Content="In CSS3 Succinctly, author Peter Shaw provides an overview of the latest features available for custom cascading style sheets." />
                    <CardFooter>
                        <CardFooterContent>
                            <SfButton CssClass="e-btn e-outline e-primary" @onclick="@(e =>NavigateToUrlAsync("https://www.syncfusion.com/ebooks/css3"))">Read More</SfButton>
                        </CardFooterContent>
                    </CardFooter>
                </SfCard>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6">
            <div id="card_sample_7" class="card_sample">
                <SfCard>
                    <CardImage Image="../images/cards/Tile_7.png"  />
                    <CardHeader Title="ASP.NET Core" SubTitle="Simone Chiaretta and Ugo " />
                    <CardContent Content="In ASP.NET Core Succinctly, seasoned authors Simone Chiaretta and Ugo Lattanzi update you on all the advance concepts" />
                    <CardFooter>
                        <CardFooterContent>
                            <SfButton CssClass="e-btn e-outline e-primary" @onclick="@(e =>NavigateToUrlAsync("https://www.syncfusion.com/ebooks/asp_net_core_succinctly"))">Read More</SfButton>
                        </CardFooterContent>
                    </CardFooter>
                </SfCard>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6">
            <div id="card_sample_8" class="card_sample">
                <SfCard>
                    <CardImage Image="../images/cards/Tile_8.png"  />
                    <CardHeader Title="Aurelia" SubTitle="Matthew Duffield" />
                    <CardContent Content="Aurelia is a relatively new, open-source JavaScript library/framework that simplifies the creation of web-based applications." />
                    <CardFooter>
                        <CardFooterContent>
                            <SfButton CssClass="e-btn e-outline e-primary" @onclick="@(e =>NavigateToUrlAsync("https://www.syncfusion.com/ebooks/aurelia_succinctly"))">Read More</SfButton>
                        </CardFooterContent>
                    </CardFooter>
                </SfCard>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6">
            <div id="card_sample_9" class="card_sample">
                <SfCard>
                    <CardImage Image="../images/cards/Tile_9.png"  />
                    <CardHeader Title="ECMAScript 6" SubTitle="Matthew Duffield" />
                    <CardContent Content="ECMAScript 6 (ES6), also known as ECMAScript 2015, brings new functionality and features to the table that developers are wanting for a long time." />
                    <CardFooter>
                        <CardFooterContent>
                            <SfButton CssClass="e-btn e-outline e-primary" @onclick="@(e =>NavigateToUrlAsync("https://www.syncfusion.com/ebooks/ecmascript_6_succinctly"))">Read More</SfButton>
                        </CardFooterContent>
                    </CardFooter>
                </SfCard>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6">
            <div id="card_sample_10" class="card_sample">
                <SfCard>
                    <CardImage Image="../images/cards/Tile_10.png"  />
                    <CardHeader Title="JavaScript" SubTitle="Cody Lindley" />
                    <CardContent Content="JavaScript Succinctly was written to give readers an accurate, concise examination of JavaScript objects and their supporting nuances." />
                    <CardFooter>
                        <CardFooterContent>
                            <SfButton CssClass="e-btn e-outline e-primary" @onclick="@(e =>NavigateToUrlAsync("https://www.syncfusion.com/ebooks/javascript"))">Read More</SfButton>
                        </CardFooterContent>
                    </CardFooter>
                </SfCard>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6">
            <div id="card_sample_11" class="card_sample">
                <SfCard>
                    <CardImage Image="../images/cards/Tile_11.png"  />
                    <CardHeader Title="Knockout.js" SubTitle="Ryan Hodson" />
                    <CardContent Content="Knockout.js Succinctly is intended for professional web developers who need to build dynamic, scalable user interfaces with minimal code." />
                    <CardFooter>
                        <CardFooterContent>
                            <SfButton CssClass="e-btn e-outline e-primary" @onclick="@(e =>NavigateToUrlAsync("https://www.syncfusion.com/ebooks/knockoutjs"))">Read More</SfButton>
                        </CardFooterContent>
                    </CardFooter>
                </SfCard>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6">
            <div id="card_sample_12" class="card_sample">
                <SfCard>
                    <CardImage Image="../images/cards/Tile_12.png"  />
                    <CardHeader Title="Angular 2" SubTitle="Joseph D. Booth" />
                    <CardContent Content="Angular 2 is a massively popular JavaScript framework built to take advantage of component development in web apps." />
                    <CardFooter>
                        <CardFooterContent>
                            <SfButton CssClass="e-btn e-outline e-primary" @onclick="@(e =>NavigateToUrlAsync("https://www.syncfusion.com/ebooks/angular2_succinctly"))">Read More</SfButton>
                        </CardFooterContent>
                    </CardFooter>
                </SfCard>
            </div>
        </div>
    </div>
</div>
<div id="source_link">
    Source: &#xA0;
    <a href="https://www.syncfusion.com/ebooks/" target="_blank">https://www.syncfusion.com/ebooks</a>

</div>


<style>
    /* Tile view card customization */

    .tile_layout.card-control-section .row.filter .tile_search {
        justify-content: flex-end;
    }

    .tile_layout.card-control-section .row .e-card {
        text-align: left;
        margin: 10px;
    }

    .tile_layout.card-control-section .control-wrapper {
        padding: 0 20px;
    }

    .tile_layout.card-control-section .row.filter {
        margin: 0;
    }

    .tile_layout.card-control-section .e-card .e-card-actions a {
        border: 1px solid;
        display: block;
        margin: auto;
        width: 100px;
        border-radius: inherit;
    }

    .tile_layout.card-control-section .e-card .e-card-image {
        height: 180px;
        width: inherit;
    }

    .tile_layout.card-control-section .row.filter .col-xs-3.col-sm-3.col-lg-3.col-md-3 col-sm-6 {
        display: inline-flex;
        flex-direction: column;
        width: 100%;
    }

    .tile_layout.card-control-section .col-xs-3.col-sm-3.col-lg-3.col-md-3 col-sm-6 {
        width: 100%;
        padding: 10px;
    }

    .card-control-section.tile_layout .e-card-layout {
        margin: auto;
        max-width: 190px;
    }

    #source_link {
        float: right;
        margin-right: 10px;
    }

    .tile_layout.card-control-section .col-xs-6.col-sm-6.col-lg-6.col-md-6 {
        width: 25%;
    }

    .card-control-section.tile_layout .e-card-layout {
        max-width: 850px;
    }

    .e-card .e-card-header .e-card-header-caption .e-card-header-title {
        font-size: 20px;
        font-family: Helvetica, 'Segoe UI';
        font-weight: bold;
    }

    .e-card .e-card-header .e-card-header-caption .e-card-sub-title{
        padding-top: 5px;
    }

    .e-card .e-card-content {
        padding-top: 0px;
        height: 130px;
    }
    
</style>

@code{
    [Inject] public NavigationManager NavigationManager { get; set; }
    [Inject] public IJSRuntime JsRuntime { get; set; }
    public async Task NavigateToUrlAsync(string url)
    {

        await JsRuntime.InvokeAsync<object>("open", url, "_blank");
        
    }
}