@page "/TreeGrid/CellAlignment"

@using Syncfusion.EJ2.Blazor.TreeGrid
@using Syncfusion.EJ2.Blazor.Grids
@using Syncfusion.EJ2.Blazor.Data
@using Syncfusion.EJ2.Blazor.DropDowns

@*Hidden:Lines*@
@using ej2_blazor_samples
@using ej2_blazor_selfdata

@{
    SampleBrowser.CurrentSampleName = "Cell Alignment";
    SampleBrowser.CurrentControlName = "TreeGrid";
    SampleBrowser.CurrentControlCategory = "TreeGrid";
    SampleBrowser.CurrentControl = SampleBrowser.Config.TreeGrid;
    SampleBrowser.ActionDescription = new string[] {
        @"<p>
            This sample demonstrates the text alignment functionalities of the treegrid columns.
        </p>"
    };
    SampleBrowser.Description = new string[] {
        @"<p>
            Align both content and header text of particular column using the <code>textAlign
            </code> property of columns. There are four possible ways to align content and header text of column, they are.
        <br>
    </p>
    <ul>
            <li><code>Right</code></li>
            <li><code>Left</code></li>
            <li><code>Center</code></li>
            <li><code>Justify</code></li>
    </ul>
    
    <br/>

    <p>
            In this sample, we have initially set the <code>textAlign</code> property as Right for Duration, Start Date and End Date columns.        
    </p>
    <p>
            More information about Cell Alignment can be found in this documentation section.
        </p>"
    };
}
@*End:Hidden*@

<div class="col-lg-12 control-section">
     <div class="content-wrapper">
          <div class="row">
               <EjsTreeGrid ID="TreeGrid" DataSource="@treedata" IdMapping="TaskID" ParentIdMapping="ParentItem" TreeColumnIndex="1" AllowPaging="true">
                   <TreeGridPageSettings PageSize="1"></TreeGridPageSettings>
                   <TreeGridColumns>
                        <TreeGridColumn Field="TaskID" HeaderText="Task ID" Width="60" TextAlign="@TextAlign.Right"></TreeGridColumn>
                        <TreeGridColumn Field="TaskName" HeaderText="Task Name" Width="100"></TreeGridColumn>
                        <TreeGridColumn Field="StartDate" HeaderText=" Start Date" Format="yMd" Type="date" Width="90" TextAlign="@TextAlign.Right"></TreeGridColumn>
                        <TreeGridColumn Field="Duration" HeaderText="Duration" Width="80" TextAlign="@TextAlign.Right"></TreeGridColumn>
                        <TreeGridColumn Field="Progress" HeaderText="Progress" Width="80"></TreeGridColumn>
                    </TreeGridColumns>
                </EjsTreeGrid>
           </div>
     </div>
</div>

@*<div class="col-lg-3 property-section">
    <h4 style="margin-top:38px;">Properties</h4>

    <table id="property" style="width: 73%; height: 105px;">
        <tr>
            <td class="left-side" style="padding-right:15px;">Column</td>
            <td>
                <EjsDropDownList ID="columns" Index="0" PopupWidth="110px" DataSource="@names" Change="@onchange">
                    <DropDownListFieldSettings text="id" value="name"></DropDownListFieldSettings>
                </EjsDropDownList>
            </td>
        </tr>

        <tr>
            <td class="left-side" style="padding-right:15px;">Column Index</td>
            <td>
                <EjsDropDownList ID="format" Index="2" PopupWidth="110px" DataSource="@alignment" Change="@indexchange">
                    <DropDownListFieldSettings text="id" value="align"></DropDownListFieldSettings>
                </EjsDropDownList>
            </td>
        </tr>
    </table>
</div>*@

@code{

    EjsTreeGrid treeGrid;

    public class Names
    {
        public string id { get; set; }

        public string name { get; set; }
    }

    public class Alignment
    {
        public string id { get; set; }

        public string align { get; set; }
    }

    List<Names> names = new List<Names>()
    {
        new Names(){ id= "TaskID", name= "Task ID" },
        new Names(){ id= "TaskName", name= "Task Name" },
        new Names(){ id= "StartDate", name= "Start Date" },
        new Names(){ id= "Duration", name= "Duration" },
        new Names(){ id= "Progress", name= "Progress" },
    };

    List<Alignment> alignment = new List<Alignment>()
    {
        new Alignment(){ id= "Right", align= "Right" },
        new Alignment(){ id= "Left", align= "Left" },
        new Alignment(){ id= "Center", align= "Center" },
        new Alignment(){ id= "Justify", align= "Justify" },
    };

    public void onchange(object args)
    {
        //Fix by core team.
    }

    public void indexchange(object args)
    {
        //Fix by core team.
    }

    public List<SelfReferenceData> treedata { get; set; }

    protected override void OnInit()
    {
        this.treedata = SelfReferenceData.GetTree().ToList();
    }
}
