@page "/maps/drill-down"

@using Syncfusion.Blazor.Maps
@using Syncfusion.Blazor.Inputs
@using Syncfusion.Blazor.Buttons

@inherits SampleBaseComponent;

<div id="button" style="font-size:14px;margin-left: 10px;margin-top: 20px;display:@Button;left:50px;top:50px;">
    <button id="category" style="visibility:@Category;color:#337ab7;display:inline-block" @onclick="WorldMapDisplay">
        World Map
    </button>
    <p style="visibility:@Symbol; display:inline-block" id="symbol">&nbsp;&gt;&gt;&nbsp;</p>
    <p id="text" style="display:inline-block;">@Text</p>
</div>
<div class="control-section">
    <SfMaps @ref="@MapsRef" BaseLayerIndex="@LayerIndex" ModelType="@typeof(IDataTemplate)">
        <MapsEvents ShapeSelected="ShapeSelection"/>
        <MapsZoomSettings Enable="false"/>
        <MapsLayers>
            <MapsLayer ShapeData='new {dataOptions ="scripts/MapsData/WorldMap.json"}' LayerType="ShapeLayerType.Geometry" ShapePropertyPath="@ShapePropertyPath"
                ShapeDataPath="Continent" DataSource="@MapLayerDataSource">
                <MapsShapeSettings ColorValuePath="DrillColor"/>                
                <MapsMarkerSettings>
                    <MapsMarker Visible="true" DataSource="@AsiaMarker">
                        <MarkerTemplate>
                            @{
                                var Data = context as IDataTemplate;
                                <div class="markers">
                                        <p>@Data.Name</p>
                                </div>
                            }
                        </MarkerTemplate>
                    </MapsMarker>
                    <MapsMarker Visible="true" DataSource="@AustraliaMarker">
                        <MarkerTemplate>
                            @{
                                var Data = context as IDataTemplate;
                                <div class="markers">
                                        <p>@Data.Name</p>
                                </div>
                            }
                        </MarkerTemplate>
                    </MapsMarker>
                    <MapsMarker Visible="true" DataSource="@AfricaMarker">
                        <MarkerTemplate>
                            @{
                                var Data = context as IDataTemplate;
                                <div class="markers">
                                        <p>@Data.Name</p>
                                </div>
                            }
                        </MarkerTemplate>
                    </MapsMarker>
                    <MapsMarker Visible="true" DataSource="@AfricaMarker">
                        <MarkerTemplate>
                            @{
                                var Data = context as IDataTemplate;
                                <div class="markers">
                                        <p>@Data.Name</p>
                                </div>
                            }
                        </MarkerTemplate>
                    </MapsMarker>
                    <MapsMarker Visible="true" DataSource="@EuropeMarker">
                        <MarkerTemplate>
                            @{
                                var Data = context as IDataTemplate;
                                <div class="markers">
                                        <p>@Data.Name</p>
                                </div>
                            }
                        </MarkerTemplate>
                    </MapsMarker>
                    <MapsMarker Visible="true" DataSource="@NorthAmerica">
                        <MarkerTemplate>
                            @{
                                <div class="markers">
                                    <div>North</div><div>America</div>
                                </div>
                            }
                        </MarkerTemplate>
                    </MapsMarker>
                    <MapsMarker Visible="true" DataSource="@SouthAmericaMarker">
                        <MarkerTemplate>
                            @{
                                <div class="markers">
                                    <div>South</div><div>America</div>
                                </div>
                            }
                        </MarkerTemplate>
                    </MapsMarker>
                </MapsMarkerSettings>
                <MapsLayerTooltipSettings Visible="true" ValuePath="continent"/>
            </MapsLayer>
            <MapsLayer ShapeData='new {dataOptions ="scripts/MapsData/africa.json"}' LayerType="ShapeLayerType.Geometry">
                <MapsShapeSettings Fill="#80306A"/>
                <MapsLayerTooltipSettings Visible="true" ValuePath="name"/>
            </MapsLayer>
            <MapsLayer ShapeData='new {dataOptions ="scripts/MapsData/asia.json"}' LayerType="ShapeLayerType.Geometry">
                <MapsShapeSettings Fill="#462A6D"/>
                <MapsLayerTooltipSettings Visible="true" ValuePath="name"/>
            </MapsLayer>
            <MapsLayer ShapeData='new {dataOptions ="scripts/MapsData/northamerica.json"}' LayerType="ShapeLayerType.Geometry">
                <MapsShapeSettings Fill="#C13664"/>
                <MapsLayerTooltipSettings Visible="true" ValuePath="name"/>
            </MapsLayer>
            <MapsLayer ShapeData='new {dataOptions ="scripts/MapsData/southamerica.json"}' LayerType="ShapeLayerType.Geometry">
                <MapsShapeSettings Fill="#9C3367"/>
                <MapsLayerTooltipSettings Visible="true" ValuePath="name"/>
            </MapsLayer>
            <MapsLayer ShapeData='new {dataOptions ="scripts/MapsData/europe.json"}' LayerType="ShapeLayerType.Geometry">
                <MapsShapeSettings Fill="#2A2870"/>
                <MapsLayerTooltipSettings Visible="true" ValuePath="name"/>
            </MapsLayer>
            <MapsLayer ShapeData='new {dataOptions ="scripts/MapsData/australia.json"}' LayerType="ShapeLayerType.Geometry">
                <MapsShapeSettings Fill="#2A2870"/>
                <MapsLayerTooltipSettings Visible="true" ValuePath="name"/>
            </MapsLayer>
        </MapsLayers>
    </SfMaps>
</div>
    <div align="center">
        <p>
            <i>
                <div align="center">
        <p style="font-size: 16px;color:grey">@Drill</p>
    </div>
    </i>
    </p>
</div>
<style>
    .markers{
        margin-left:0px;
        margin-top:10px;
        font-size: 12px;
        color: white;
        text-shadow: 0px 1px 1px black;
        font-weight: 500
    }
    #category {
        background-color: white; /* Green */
        border: none;
        color: black;
        padding: 1px 2px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
    }
    .markerTemplate {
        height: 30px;
        width: 30px;
        display: block;
        margin: auto;
    }
    #category:hover {
        cursor: pointer;
    }
    .markerTemplate {
        font-size: 12px;
        color: white;
        text-shadow: 0px 1px 1px black;
        font-weight: 500
    }
</style>
@code {
    public string Category = "hidden";
    public string Symbol = "hidden";
    public string Button = "none";
    public string Text = "";
    public string ShapePropertyPath = "continent";
    public string Drill = "Click on a shape to drill";
    SfMaps MapsRef;
    public double LayerIndex = 0;    
    public class MapDataSource {
        public string DrillColor;
        public string Continent;
    };
    public List<MapDataSource> MapLayerDataSource = new List<MapDataSource> {
        new MapDataSource { DrillColor="#C13664", Continent="North America" },
        new MapDataSource { DrillColor="#9C3367", Continent="South America" },
        new MapDataSource { DrillColor="#80306A", Continent="Africa" },
        new MapDataSource { DrillColor="#622D6C", Continent="Europe" },
        new MapDataSource { DrillColor="#462A6D", Continent="Asia" },
        new MapDataSource { DrillColor="#2A2870", Continent="Australia" }
    };
    public class MarkerDataSource {
        public double Latitude;
        public double Longitude;
        public string Name;
    };
    public List<MarkerDataSource> AsiaMarker = new List<MarkerDataSource> {
        new MarkerDataSource { Latitude=50.32087157990324, Longitude=90.015625, Name="Asia" }
    };
    public List<MarkerDataSource> AustraliaMarker = new List<MarkerDataSource> {
        new MarkerDataSource { Latitude=-28.88583769986199, Longitude=130.296875, Name="Australia" }
    };
    public List<MarkerDataSource> AfricaMarker = new List<MarkerDataSource> {
        new MarkerDataSource { Latitude=10.97274101999902, Longitude=16.390625, Name="Africa" }
    };
    public List<MarkerDataSource> EuropeMarker = new List<MarkerDataSource> {
        new MarkerDataSource { Latitude=47.95121990866204, Longitude=18.468749999999998, Name="Europe" }
    };
    public List<MarkerDataSource> NorthAmerica = new List<MarkerDataSource> {
        new MarkerDataSource { Latitude=59.88893689676585, Longitude=-109.3359375, Name="North America" }
    };
    public List<MarkerDataSource> SouthAmericaMarker = new List<MarkerDataSource> {
        new MarkerDataSource { Latitude=-6.64607562172573, Longitude=-55.54687499999999, Name="South America" }
    };
    private void ShapeSelection(IShapeSelectedEventArgs args) {
        Dictionary<string, string> DrillData = Newtonsoft.Json.JsonConvert.DeserializeObject<Dictionary<string, string>>(args.Data.ToString());
        if (MapsRef.BaseLayerIndex == 0)
        {
            if (DrillData["Continent"] == "Africa")
            {
                LayerIndex = 1;
                this.StateHasChanged();

            }
            else if (DrillData["Continent"] == "Asia")
            {
                LayerIndex = 2;
                this.StateHasChanged();
            }
            else if (DrillData["Continent"] == "North America")
            {
                LayerIndex = 3;
                this.StateHasChanged();
            }
            else if (DrillData["Continent"] == "South America")
            {
                LayerIndex = 4;
                this.StateHasChanged();
            }
            else if (DrillData["Continent"] == "Europe")
            {
                LayerIndex = 5;
                this.StateHasChanged();
            }
            else if (DrillData["Continent"] == "Australia")
            {
                LayerIndex = 6;
                this.StateHasChanged();
            }
            Button = "block";
            Category = "visible";
            Text = DrillData["Continent"];
            Symbol = "visible";
            Drill = "";
        }
    }
    public void WorldMapDisplay()
    {
        LayerIndex = 0;
        this.StateHasChanged();
        Category = "hidden";
        Symbol = "hidden";
        Text = "";
        Drill = "Click on a shape to drill";
    }
}