@page "/maps/export"

@using Syncfusion.Blazor.Maps
@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.DropDowns
@using Syncfusion.Blazor.Inputs



@inherits SampleBaseComponent;
    <div class="col-lg-9 control-section sb-property-border">
        <SfMaps @ref="@maps">
            <MapsTitleSettings Text="Location of the Wonders in the World">
                <MapsTitleTextStyle Size="16px"></MapsTitleTextStyle>
            </MapsTitleSettings>
            <MapsLayers>
                <MapsLayer ShapeData="@MapShapeData" LayerType="@layerValue">
                    <MapsShapeSettings Fill="lightgrey">
                        <MapsShapeBorder Color="black" Width="0.1"></MapsShapeBorder>
                    </MapsShapeSettings>
                    <MapsMarkerSettings>
                        <MapsMarker Visible="true" AnimationDuration="0" Shape="MarkerType.Balloon" Fill="#E13E40" Height="20" Width="15" DataSource="@MarkerDataSource">
                            <MapsMarkerTooltipSettings Visible="true" ValuePath="name"></MapsMarkerTooltipSettings>
                        </MapsMarker>
                    </MapsMarkerSettings>
                </MapsLayer>
            </MapsLayers>
        </SfMaps>
    </div>
<div class="col-lg-3 property-section">
<div class="property-panel-header">Properties</div>
    <table title="Properties" style="width: 100%">
        <tbody>
            <tr style="height: 50px">
                <td style="width: 40%">
                    <div>
                        Map Type
                    </div>
                </td>
                <td style="width: 60%;">
                    <div>
                        <SfDropDownList TValue="string" TItem="MapType" DataSource="@mapTypes" Value="@mapValue" Width="95%">
                            <DropDownListEvents TValue="string" ValueChange="mapValueChange"></DropDownListEvents>
                            <DropDownListFieldSettings Text="text" Value="text"></DropDownListFieldSettings>
                        </SfDropDownList>
                    </div>

                </td>
            </tr>
            <tr style="height: 50px">
                <td style="width: 40%">
                    <div>
                        Export Type
                    </div>
                </td>
                <td style="width: 60%;">
                    <div>
                        <SfDropDownList TValue="string" TItem="FileFormatType" DataSource="@FileTypes" Value="@fileType" Width="95%">
                            <DropDownListEvents TValue="string" ValueChange="TreemapValueChange"></DropDownListEvents>
                            <DropDownListFieldSettings Text="text" Value="text"></DropDownListFieldSettings>
                        </SfDropDownList>
                    </div>

                </td>
            </tr>
            <tr style="height: 50px">
                <td style="width: 40%">
                    <div>File Name</div>
                </td>
                <td style="width: 40%;">
                    <div class="e-float-input" style='margin-top: 0px;'>
                        <SfTextBox Value="@fileName" ValueChange="@NameChange"></SfTextBox>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div style="height: 45px;margin-left:70%; text-transform:none !important; width: 80px; ">
                        <SfButton Content="Export" OnClick="ExportClick" CssClass="e-info" IsToggle="true" IsPrimary="true">
                        </SfButton>
                    </div>
                </td>
            </tr>

        </tbody>
    </table>
</div>

@code {
    SfMaps maps;
    public string fileType { get; set; } = "JPEG";
    public string mapValue { get; set; } = "Geometry";
    public ShapeLayerType layerValue = ShapeLayerType.Geometry;
    public string fileName { get; set; } = "Maps";
    public MapDataSettings MapShapeData = new MapDataSettings
    {
        async = true,
        dataOptions = "scripts/MapsData/WorldMap.json",
        type = "GET"
    };
    public class MapDataSettings
    {
        public Boolean async { get; set; }
        public String dataOptions { get; set; }
        public String type { get; set; }
    };
    public class MarkerData
    {
        public double latitude;
        public double longitude;
        public string name;
    };
    public List<MarkerData> MarkerDataSource = new List<MarkerData>
{
        new MarkerData { longitude=116.5703749, latitude=40.4319077, name="The Great Wall of China, China" },
        new MarkerData { longitude=35.4443622, latitude=30.3284544, name="Petra, Jorden" },
        new MarkerData { longitude=78.0421552, latitude=27.1750151, name="Taj Mahal, Agra, India" },
        new MarkerData { longitude=12.4922309, latitude=41.8902102, name="The Roman Colosseum, Rome, Italy" },
        new MarkerData { longitude=-88.5677826, latitude=20.6842849, name="The Chichen Itza, Mexico" },
        new MarkerData { longitude=-72.5449629, latitude=-13.1631412, name="Machu Picchu, Peru" },
        new MarkerData { longitude=-43.2104872, latitude=-22.951916, name="Christ Redeemer, Rio de janeiro, Brazil" }
    };
    public class MapType
    {
        public string id { get; set; }
        public string text { get; set; }
    }

    private List<MapType> mapTypes = new List<MapType>()
    {
        new MapType(){ id= "Geometry", text= "Geometry" },
        new MapType(){ id= "OSM", text= "OSM" },
    };
    public class FileFormatType
    {
        public string id { get; set; }
        public string text { get; set; }
    }

    private List<FileFormatType> FileTypes = new List<FileFormatType>()
{
        new FileFormatType(){ id= "JPEG", text= "JPEG" },
        new FileFormatType(){ id= "PNG", text= "PNG" },
        new FileFormatType(){ id= "SVG", text= "SVG" },
        new FileFormatType(){ id= "PDF", text= "PDF" },
    };
    private void NameChange(Syncfusion.Blazor.Inputs.ChangedEventArgs args)
    {
        fileName = args.Value;
    }
    private void TreemapValueChange(Syncfusion.Blazor.DropDowns.ChangeEventArgs<string> args)
    {
        fileType = args.Value;
    }
    public void mapValueChange(Syncfusion.Blazor.DropDowns.ChangeEventArgs<string> args)
    {
        mapValue = args.Value;
        if (mapValue == "Geometry")
        {
            layerValue = ShapeLayerType.Geometry;
        } else
        {
            layerValue = ShapeLayerType.OSM;
        }
    }
    private void ExportClick(MouseEventArgs args)
    {

        ExportType exportFileType = ExportType.JPEG;
        switch (fileType)
        {
            case "JPEG":
                exportFileType = ExportType.JPEG;
                break;
            case "PNG":
                exportFileType = ExportType.PNG;
                break;
            case "SVG":
                exportFileType = ExportType.SVG;
                break;
            case "PDF":
                exportFileType = ExportType.PDF;
                break;
        }
        maps.Export(exportFileType, fileName);
    }
}