@page "/maps/flight-route"

@using Syncfusion.Blazor.Maps

@inherits SampleBaseComponent;

<SampleDescription>
    <p>This sample demonstrates the flight routes from India to China.</p>
</SampleDescription>
<ActionDescription>
   <p> In this example, you can see how to render the curved lines between two points in a map using the <code><a target='_blank' class='code' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor~Syncfusion.Blazor.Maps.MapsNavigationLine_properties.html'>MapsNavigationLine</a></code>. You can use the <code><a target='_blank' class='code' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor~Syncfusion.Blazor.Maps.MapsNavigationLine~DashArray.html'>DashArray</a></code>, <code><a target='_blank' class='code' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor~Syncfusion.Blazor.Maps.MapsNavigationLine~Width.html'>Width</a></code>, and <code><a target='_blank' class='code' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor~Syncfusion.Blazor.Maps.MapsNavigationLine~Color.html'>Color</a></code> properties to customize the appearance of the navigation lines. Tooltip is enabled in this example.</p>
   <p> More information about navigation line can be found in this <a target='_blank' href='https://blazor.syncfusion.com/documentation/maps/navigation-line'>documentation section</a>.</p>
</ActionDescription>

<div class="control-section">
    <SfMaps ModelType="@typeof(IDataTemplate)">
        <MapsCenterPosition Latitude="30.41078179084589" Longitude="90.52734374999999"/>
        <MapsZoomSettings Enable="false" ZoomFactor="3.5"/>
        <MapsAreaSettings Background="#AEE2FA"/>
        <MapsTitleSettings Text="Flights from India to China">
            <MapsTitleTextStyle Size="16px"/>
        </MapsTitleSettings>
        <MapsLayers>
            <MapsLayer ShapeData='new {dataOptions ="scripts/MapsData/WorldMap.json"}' ShapeDataPath="Name" ShapePropertyPath="@ShapePropertyPath" DataSource="@MapLayerDataSource">
                <MapsShapeSettings Fill="#fcfbf9" ColorValuePath="Name">
                    <MapsShapeBorder Color="#000000" Width="0.1"/>
                    <MapsShapeColorMappings>
                        <MapsShapeColorMapping Value="China" Color="@ShapeColorOne"/>
                        <MapsShapeColorMapping Value="India" Color="@ShapeColorTwo"/>
                    </MapsShapeColorMappings>
                </MapsShapeSettings>
                <MapsNavigationLines>
                    <MapsNavigationLine DashArray="5,1" Visible="true" Angle="-0.2" Color="#000000" Latitude="new double[] { 28.6139391, 39.9041999 }" Longitude="new double[] { 77.2090212, 116.4073963 }"/>
                    <MapsNavigationLine DashArray="5,1" Visible="true" Angle="-0.2" Color="#000000" Latitude="new double[] { 28.6139391, 31.2303904 }" Longitude="new double[] { 77.2090212, 121.4737021 }"/>
                    <MapsNavigationLine DashArray="5,1" Visible="true" Angle="-0.2" Color="#000000" Latitude="new double[] { 28.6139391, 23.12911 }" Longitude="new double[] { 77.2090212, 113.264385 }"/>
                    <MapsNavigationLine DashArray="5,1" Visible="true" Angle="-0.2" Color="#000000" Latitude="new double[] { 28.6139391, 22.396428 }" Longitude="new double[] { 77.2090212, 114.109497 }"/>
                    <MapsNavigationLine DashArray="5,1" Visible="true" Angle="-0.2" Color="#000000" Latitude="new double[] { 19.0759837, 23.12911 }" Longitude="new double[] { 72.8776559, 113.264385 }"/>
                    <MapsNavigationLine DashArray="5,1" Visible="true" Angle="-0.2" Color="#000000" Latitude="new double[] { 13.0826802, 22.396428 }" Longitude="new double[] { 80.2707184, 114.109497 }"/>
                    <MapsNavigationLine DashArray="5,1" Visible="true" Angle="-0.2" Color="#000000" Latitude="new double[] { 22.572646, 24.880095 }" Longitude="new double[] { 88.363895, 102.832891 }"/>
                </MapsNavigationLines>
                <MapsMarkerSettings>
                    <MapsMarker DataSource="@FlightRouteCities" Visible="true" Shape="MarkerType.Circle" Fill="white" Width="4">
                        <MapsMarkerTooltipSettings Visible="true" ValuePath="Name"/>
                        <MapsMarkerBorder Width="1" Color="#000000"/>
                    </MapsMarker>
                    <MapsMarker Visible="true" DataSource="@DelhiCity" Offset="@set">
                        <MarkerTemplate>
                            @{
                                <div style="margin-left:-5px;margin-top:-10px">
                                    New Delhi
                                </div>
                            }
                        </MarkerTemplate>
                    </MapsMarker>
                    <MapsMarker Visible="true" DataSource="@ChennaiCity" Offset="@set">
                        <MarkerTemplate>
                            @{
                                <div style="margin-left:90px;margin-top:0px">
                                    Chennai
                                </div>
                            }
                        </MarkerTemplate>
                    </MapsMarker>
                    <MapsMarker Visible="true" DataSource="@KolkataCity" Offset="@set">
                        <MarkerTemplate>
                            @{
                                <div style="margin-left:90px;margin-top:0px">
                                    Kolkata
                                </div>
                            }
                        </MarkerTemplate>
                    </MapsMarker>
                    <MapsMarker Visible="true" DataSource="@KunmingCity" Offset="@set">
                        <MarkerTemplate>
                            @{
                                <div style="margin-left:90px;margin-top:0px">
                                    Kunming
                                </div>
                            }
                        </MarkerTemplate>
                    </MapsMarker>
                    <MapsMarker Visible="true" DataSource="@MumbaiCity" Offset="@set">
                        <MarkerTemplate>
                            @{
                                <div style="margin-left:10px;margin-top:0px">
                                    Mumbai
                                </div>
                            }
                        </MarkerTemplate>
                    </MapsMarker>
                    <MapsMarker Visible="true" DataSource="@GuangzhouCity" Offset="@set">
                        <MarkerTemplate>
                            @{
                                <div style="margin-left:170px;margin-top:-30px">
                                    Guangzhou
                                </div>
                            }
                        </MarkerTemplate>
                    </MapsMarker>
                    <MapsMarker Visible="true" DataSource="@HongKongCity" Offset="@set">
                        <MarkerTemplate>
                            @{
                                <div style="margin-left:120px;margin-top:20px">
                                    Hong Kong
                                </div>
                            }
                        </MarkerTemplate>
                    </MapsMarker>
                    <MapsMarker Visible="true" DataSource="@ShanghaiCity" Offset="@set">
                        <MarkerTemplate>
                            @{
                                <div style="margin-left:110px;margin-top:0px">
                                    Shanghai
                                </div>
                            }
                        </MarkerTemplate>
                    </MapsMarker>
                    <MapsMarker Visible="true" DataSource="@BeijingCity" Offset="@set">
                        <MarkerTemplate>
                            @{
                                <div style="margin-left:90px;margin-top:0px">
                                    Beijing
                                </div>
                            }
                        </MarkerTemplate>
                    </MapsMarker>
                </MapsMarkerSettings>
            </MapsLayer>
        </MapsLayers>
    </SfMaps>
    <div class="urllink">
        Source:
        <a href="https://www.tibettravel.org/nepal-map/nepal-india-map.html" target="_blank">www.tibettravel.org</a>
    </div>
</div>


@code {
    public string ShapePropertyPath = "name";
    public string ShapeColorOne = "#f7d083";
    public string ShapeColorTwo = "#FFFE99";
    public class OffSet {
        public double x;
        public double y;
    };
    public OffSet set = new OffSet { x = -50, y = 12 };
    public OffSet setValue = new OffSet { x = 0, y = 12 };
    public class MapLayerData {
        public string Name;
    };
    public List<MapLayerData> MapLayerDataSource = new List<MapLayerData> {
        new MapLayerData { Name="India"},
        new MapLayerData { Name="China" }
    };
    public class City {
        public double Latitude;
        public double Longitude;
        public string Name;
    };
    public List<City> FlightRouteCities = new List<City> {
        new City { Name="New Delhi", Latitude=28.6139391, Longitude=77.2090212 },
        new City { Name="Mumbai", Latitude=19.0759837, Longitude=72.8776559 },
        new City { Name="Chennai", Latitude=13.0826802, Longitude=80.2707184 },
        new City { Name="Kolkata", Latitude=22.572646, Longitude=88.363895 },
        new City { Name="Kunming", Latitude=24.880095, Longitude=102.832891 },
        new City { Name="Beijing", Latitude=39.9041999, Longitude=116.4073963 },
        new City { Name="Shanghai", Latitude=31.2303904, Longitude=121.4737021 },
        new City { Name="Hong Kong", Latitude=22.396428, Longitude=114.109497 },
        new City {Name="Guangzhou", Latitude=23.12911, Longitude=113.264385 }
     };
    public List<City> ChennaiCity = new List<City> {
        new City { Name="Chennai", Latitude=13.0826802, Longitude=80.2707184}
    };
    public List<City> KolkataCity = new List<City> {
        new City { Name="Kolkata", Latitude=22.572646, Longitude=88.363895}
    };
    public List<City> KunmingCity = new List<City> {
        new City { Name="Kunming", Latitude=24.880095, Longitude=102.832891}
    };
    public List<City> BeijingCity = new List<City> {
        new City { Name="Beijing", Latitude=39.9041999, Longitude=116.4073963}
    };
    public List<City> DelhiCity = new List<City> {
        new City { Name="New Delhi", Latitude=28.6139391, Longitude=77.2090212}
    };
    public List<City> MumbaiCity = new List<City> {
        new City { Name="Mumbai", Latitude=19.0759837, Longitude=80.2707184}
    };
    public List<City> GuangzhouCity = new List<City> {
        new City { Name="Guangzhou", Latitude=23.12911, Longitude=113.264385}
    };
    public List<City> HongKongCity = new List<City> {
        new City { Name="Hong Kong", Latitude=22.396428, Longitude=114.109497}
    };
    public List<City> ShanghaiCity = new List<City> {
        new City { Name="Shanghai", Latitude=31.2303904, Longitude=121.4737021}
    };
}