@page  "/Maps/HeatMap"

@using Syncfusion.EJ2.Blazor.Maps

@*Hidden:Lines*@
@using ej2_blazor_samples
@{
    SampleBrowser.CurrentSampleName = "HeatMap";
    SampleBrowser.CurrentControlName = "Maps";
    SampleBrowser.CurrentControlCategory = "Maps";
    SampleBrowser.CurrentControl = SampleBrowser.Config.Maps;
    SampleBrowser.ActionDescription = new string[] {
        @"<p>
       This sample visualizes the state wise population of India in the year 2011. Color for each state will be applied based on its value.
   </p>"
    };
    SampleBrowser.Description = new string[] {
    @"<p>
       In this example, you can see how to apply the desired colors for the shapes, if its value is within the specified range using the `MapsShapeColorMapping`. Also, the interactive legend has been placed at the bottom of the map.
        </p>
        Tooltip is enabled in this example. To see the tooltip in action, hover the mouse over a shape or tap a shape in touch enabled devices.
        </p>"
    };
}
@*End:Hidden*@

<div class="control-section">
    <div>
        <EjsMaps Format="n" UseGroupingSeparator="true">
            <MapsTitleSettings Text="State wise India's population - 2011">
                <MapsTitleTextStyle Size="16px"></MapsTitleTextStyle>
            </MapsTitleSettings>
            <MapsLegendSettings Visible="true" Mode="LegendMode.Interactive" Position="LegendPosition.Bottom" Height="10" Width="350" LabelDisplayMode="LabelIntersectAction.Trim" Alignment="Alignment.Center"></MapsLegendSettings>
            <MapsZoomSettings Enable="false"></MapsZoomSettings>
            <MapsLayers>
                <MapsLayer ShapeData='new {dataOptions ="https://cdn.syncfusion.com/maps/map-data/india.json"}' ShapePropertyPath='@("NAME_1")' ShapeDataPath='@("Name")' DataSource="@StateWisePopulation">
                    <MapsLayerTooltipSettings Visible="true" ValuePath="Population" Format="State: ${Name} <br> Population: ${Population}"></MapsLayerTooltipSettings>
                    <MapsShapeSettings ColorValuePath='@("Population")'>
                        <MapsShapeBorder Color="white" Width="0.2"></MapsShapeBorder>
                        <MapsShapeColorMappings>
                            <MapsShapeColorMapping From="60000" To="400000" Color='@("#9fdfdf")' Label="<0.4M"></MapsShapeColorMapping>
                            <MapsShapeColorMapping From="400000" To="10000000" Color='@("#79d2d2")' Label="0.4-10M"></MapsShapeColorMapping>
                            <MapsShapeColorMapping From="10000000" To="20000000" Color='@("#53C6C6")' Label="10-20M"></MapsShapeColorMapping>
                            <MapsShapeColorMapping From="20000000" To="70000000" Color='@("#39acac")' Label="20-70M"></MapsShapeColorMapping>
                            <MapsShapeColorMapping From="70000000" To="100000000" Color='@("#339999")' Label="70-100M"></MapsShapeColorMapping>
                            <MapsShapeColorMapping From="100000000" To="200000000" Color='@("#2d8686")' Label=">100M"></MapsShapeColorMapping>
                        </MapsShapeColorMappings>
                    </MapsShapeSettings>
                </MapsLayer>
            </MapsLayers>
        </EjsMaps>
    </div>
    <div style="float: right; margin-right: 10px;">
        Source:
        <a href="https://en.wikipedia.org/wiki/List_of_states_and_union_territories_of_India_by_population" target="_blank">en.wikipedia.org</a>
    </div>
</div>

@code {
    public class State
    {
        public string Name;
        public double Population;
    };
    public List<State> StateWisePopulation = new List<State>
{
        new State { Name="Uttar Pradesh", Population=199581477 },
        new State { Name="Maharashtra", Population=112372972 },
        new State { Name="Bihar", Population=103804637 },
        new State { Name="West Bengal", Population=91347736 },
        new State { Name="Andhra Pradesh", Population=84665533 },
        new State { Name="Madhya Pradesh", Population=72597565 },
        new State { Name="Tamil Nadu", Population=72138958 },
        new State { Name="Rajasthan", Population=68621012 },
        new State { Name="Karnataka", Population=61130704 },
        new State { Name="Gujarat", Population=60383628 },
        new State { Name="Orissa", Population=41947358 },
        new State { Name="Kerala", Population=33387677 },
        new State { Name="Jharkhand", Population=32966238 },
        new State { Name="Assam", Population=31169272 },
        new State { Name="Punjab", Population=27704236 },
        new State { Name="Haryana", Population=25353081 },
        new State { Name="Chhattisgarh", Population=25540196 },
        new State { Name="Jammu and Kashmir", Population=12548926 },
        new State { Name="Uttaranchal", Population=10116752 },
        new State { Name="Himachal Pradesh", Population=6856509 },
        new State { Name="Tripura", Population=3671032 },
        new State { Name="Meghalaya", Population=2964007 },
        new State { Name="Manipur", Population=2721756 },
        new State { Name="Nagaland", Population=1980602 },
        new State { Name="Goa", Population=1457723 },
        new State { Name="Arunachal Pradesh", Population=1382611 },
        new State { Name="Mizoram", Population=1091014 },
        new State { Name="Sikkim", Population=607688 },
        new State { Name="Delhi", Population=16753235 },
        new State { Name="Puducherry", Population=1244464 },
        new State { Name="Chandigarh", Population=1054686 },
        new State { Name="Andaman and Nicobar", Population=379944 },
        new State { Name="Dadra and Nagar Haveli", Population=342853 },
        new State { Name="Daman and Diu", Population=242911 },
        new State { Name="Lakshadweep", Population=64429 }
    };
}
