@page "/Maps/MapsWithPie"

@using Syncfusion.EJ2.Blazor.Maps
@using Syncfusion.EJ2.Blazor.Charts

@inherits SampleBaseComponent;
<div class="control-section">
    <EjsMaps  ModelType="@typeof(IDataTemplate)">
        <MapsZoomSettings Enable="false"></MapsZoomSettings>
        <MapsTitleSettings Text="Top 6 largest countries age group details">
            <MapsTitleTextStyle Size="16px"></MapsTitleTextStyle>
        </MapsTitleSettings>
        <MapsLegendSettings Visible="true" Position="Syncfusion.EJ2.Blazor.Maps.LegendPosition.Bottom"></MapsLegendSettings>
        <MapsLayers>
            <MapsLayer ShapeData="@MapShapeData">
                <MapsShapeSettings Fill="#E5E5E5">
                    <MapsShapeColorMappings>
                        <MapsShapeColorMapping From="1" To="14" Color='@("#634D6F")' Label="0-14 year"></MapsShapeColorMapping>
                        <MapsShapeColorMapping From="15" To="24" Color='@("#B34D6D")' Label="15-24 year"></MapsShapeColorMapping>
                        <MapsShapeColorMapping From="25" To="54" Color='@("#557C5C")' Label=" 25-54 year"></MapsShapeColorMapping>
                        <MapsShapeColorMapping From="55" To="64" Color='@("#5E55E2")' Label="55-64 year"></MapsShapeColorMapping>
                    </MapsShapeColorMappings>
                </MapsShapeSettings>
                <MapsMarkerSettings>
                    <MapsMarker Visible="true" AnimationDuration="0" DataSource="@PieOne">
                        <MarkerTemplate>
                            @{
                                var data = context as IDataTemplate;
                                <div style="margin-top:-40px;margin-left:-30px;border-style: hidden;">
                                    <EjsAccumulationChart Background="transparent" Height="70px" Width="70px">
                                        <AccumulationChartTooltipSettings Enable="true"></AccumulationChartTooltipSettings>
                                        <AccumulationChartLegendSettings Visible="false"></AccumulationChartLegendSettings>
                                        <AccumulationChartSeriesCollection>
                                            <AccumulationChartSeries Explode="true" ExplodeIndex="0" ExplodeOffset="20%" Name="name" DataSource="@datas[0]" XName="x" YName="y" Palettes='new string[] { "#634D6F", "#B34D6D", "#557C5C", "#5E55E2", "#7C744D" }'>
                                                <AccumulationDataLabelSettings Visible="false"></AccumulationDataLabelSettings>
                                            </AccumulationChartSeries>
                                        </AccumulationChartSeriesCollection>
                                    </EjsAccumulationChart>
                                </div>
                            }
                        </MarkerTemplate>
                    </MapsMarker>
                    <MapsMarker Visible="true" AnimationDuration="0" DataSource="@PieTwo">
                        <MarkerTemplate>
                            @{
                                var data = context as IDataTemplate;
                                <div style="margin-top:-40px;margin-left:-30px;border-style: hidden;">
                                    <EjsAccumulationChart Background="transparent" Height="70px" Width="70px">
                                        <AccumulationChartBorder Width="0"></AccumulationChartBorder>
                                        <AccumulationChartTooltipSettings Enable="true"></AccumulationChartTooltipSettings>
                                        <AccumulationChartLegendSettings Visible="false"></AccumulationChartLegendSettings>
                                        <AccumulationChartSeriesCollection>
                                            <AccumulationChartSeries Explode="true" ExplodeIndex="0" ExplodeOffset="20%" Name="name" DataSource="@datas[1]" XName="x" YName="y" Palettes='new string[] { "#634D6F", "#B34D6D", "#557C5C", "#5E55E2", "#7C744D" }'>
                                                <AccumulationDataLabelSettings Visible="false"></AccumulationDataLabelSettings>
                                            </AccumulationChartSeries>
                                        </AccumulationChartSeriesCollection>
                                    </EjsAccumulationChart>
                                </div>
                            }
                        </MarkerTemplate>
                    </MapsMarker>
                    <MapsMarker Visible="true" AnimationDuration="0" DataSource="@PieThree">
                        <MarkerTemplate>
                            @{
                                var data = context as IDataTemplate;
                                <div style="margin-top:-40px;margin-left:-30px;border-style: hidden;">
                                    <EjsAccumulationChart Background="transparent" Height="70px" Width="70px">
                                        <AccumulationChartTooltipSettings Enable="true"></AccumulationChartTooltipSettings>
                                        <AccumulationChartLegendSettings Visible="false"></AccumulationChartLegendSettings>
                                        <AccumulationChartSeriesCollection>
                                            <AccumulationChartSeries Explode="true" ExplodeIndex="0" ExplodeOffset="20%" Name="name" DataSource="@datas[2]" XName="x" YName="y" Palettes='new string[] { "#634D6F", "#B34D6D", "#557C5C", "#5E55E2", "#7C744D" }'>
                                                <AccumulationDataLabelSettings Visible="false"></AccumulationDataLabelSettings>
                                            </AccumulationChartSeries>
                                        </AccumulationChartSeriesCollection>
                                    </EjsAccumulationChart>
                                </div>
                            }
                        </MarkerTemplate>
                    </MapsMarker>
                    <MapsMarker Visible="true" AnimationDuration="0" DataSource="@PieFour">
                        <MarkerTemplate>
                            @{
                                var data = context as IDataTemplate;
                                <div style="margin-top:-40px;margin-left:-30px;border-style: hidden;">
                                    <EjsAccumulationChart Background="transparent" Height="70px" Width="70px">
                                        <AccumulationChartTooltipSettings Enable="true"></AccumulationChartTooltipSettings>
                                        <AccumulationChartLegendSettings Visible="false"></AccumulationChartLegendSettings>
                                        <AccumulationChartSeriesCollection>
                                            <AccumulationChartSeries Explode="true" ExplodeIndex="0" ExplodeOffset="20%" Name="name" DataSource="@datas[3]" XName="x" YName="y" Palettes='new string[] { "#634D6F", "#B34D6D", "#557C5C", "#5E55E2", "#7C744D" }'>
                                                <AccumulationDataLabelSettings Visible="false"></AccumulationDataLabelSettings>
                                            </AccumulationChartSeries>
                                        </AccumulationChartSeriesCollection>
                                    </EjsAccumulationChart>
                                </div>
                            }
                        </MarkerTemplate>
                    </MapsMarker>
                    <MapsMarker Visible="true" AnimationDuration="0" DataSource="@PieFive">
                        <MarkerTemplate>
                            @{
                                var data = context as IDataTemplate;
                                <div style="margin-top:-40px;margin-left:-30px;">
                                    <EjsAccumulationChart Background="transparent" Height="70px" Width="70px">
                                        <AccumulationChartTooltipSettings Enable="true"></AccumulationChartTooltipSettings>
                                        <AccumulationChartLegendSettings Visible="false"></AccumulationChartLegendSettings>
                                        <AccumulationChartSeriesCollection>
                                            <AccumulationChartSeries Explode="true" ExplodeIndex="0" ExplodeOffset="20%" Name="name" DataSource="@datas[4]" XName="x" YName="y" Palettes='new string[] { "#634D6F", "#B34D6D", "#557C5C", "#5E55E2", "#7C744D" }'>
                                                <AccumulationDataLabelSettings Visible="false"></AccumulationDataLabelSettings>
                                            </AccumulationChartSeries>
                                        </AccumulationChartSeriesCollection>
                                    </EjsAccumulationChart>
                                </div>
                            }
                        </MarkerTemplate>
                    </MapsMarker>
                    <MapsMarker Visible="true" AnimationDuration="0" DataSource="@PieSix">
                        <MarkerTemplate>
                            @{
                                var data = context as IDataTemplate;
                                <div style="margin-top:-40px;margin-left:-30px;">
                                    <EjsAccumulationChart Background="transparent" Height="70px" Width="70px">
                                        <AccumulationChartTooltipSettings Enable="true"></AccumulationChartTooltipSettings>
                                        <AccumulationChartLegendSettings Visible="false"></AccumulationChartLegendSettings>
                                        <AccumulationChartSeriesCollection>
                                            <AccumulationChartSeries Explode="true" ExplodeIndex="0" ExplodeOffset="20%" Name="name" DataSource="@datas[5]" XName="x" YName="y" Palettes='new string[] { "#634D6F", "#B34D6D", "#557C5C", "#5E55E2", "#7C744D" }'>
                                                <AccumulationDataLabelSettings Visible="false"></AccumulationDataLabelSettings>
                                            </AccumulationChartSeries>
                                        </AccumulationChartSeriesCollection>
                                    </EjsAccumulationChart>
                                </div>
                            }
                        </MarkerTemplate>
                    </MapsMarker>
                </MapsMarkerSettings>
            </MapsLayer>
        </MapsLayers>
    </EjsMaps>
</div>

@code {
    public MapDataSettings MapShapeData = new MapDataSettings
    {
        async = true,
        dataOptions = "scripts/MapsData/WorldMap.json",
        type = "GET"
    };
    public class MapDataSettings
    {
        public Boolean async { get; set; }
        public String dataOptions { get; set; }
        public String type { get; set; }
    };
    public class Pie
    {
        public string x;
        public double y;
    }
    public class PieDataSource
    {
        public double latitude;
        public double longitude;
    }
    public List<List<Pie>> datas = new List<List<Pie>> {
        new List<Pie>{ new Pie{ x= "0-14 years", y= 16 }, new Pie{ x= "15-24 years", y= 11.5 }, new Pie{ x= "25-54 years", y= 45.9 }, new Pie{ x= "55-64 years", y= 13.5 } },
        new List<Pie>{ new Pie{ x= "0-14 years", y= 15.5 }, new Pie{ x= "15-24 years", y= 12.9 }, new Pie{ x= "25-54 years", y= 41.4 }, new Pie{ x= "55-64 years", y= 13.3 } },
        new List<Pie>{ new Pie{ x= "0-14 years", y= 20 }, new Pie{ x= "15-24 years", y= 13.7 }, new Pie{ x= "25-54 years", y= 40.2 }, new Pie{ x= "55-64 years", y= 12.3 } },
        new List<Pie>{ new Pie{ x= "0-14 years", y= 17.2 }, new Pie{ x= "15-24 years", y= 15.4 }, new Pie{ x= "25-54 years", y= 46.9 }, new Pie{ x= "55-64 years", y= 11.3 } },
        new List<Pie>{ new Pie{ x= "0-14 years", y= 24.2 }, new Pie{ x= "15-24 years", y= 16.7 }, new Pie{ x= "25-54 years", y= 43.6 }, new Pie{ x= "55-64 years", y= 8.2 } },
        new List<Pie>{ new Pie{ x= "0-14 years", y= 18.1 }, new Pie{ x= "15-24 years", y= 13.4 },new Pie{ x= "25-54 years", y= 42 }, new Pie{ x= "55-64 years", y= 11.8 } }
    };
    public List<PieDataSource> PieOne = new List<PieDataSource> {
        new PieDataSource { latitude =61.938950426660604 , longitude= 97.03125 }
    };
    public List<PieDataSource> PieTwo = new List<PieDataSource> {
        new PieDataSource { latitude = 57.70414723434193, longitude= -114.08203125 }
    };
    public List<PieDataSource> PieThree = new List<PieDataSource> {
        new PieDataSource { latitude = 39.90973623453719, longitude= -103.0078125 }
    };
    public List<PieDataSource> PieFour = new List<PieDataSource> {
        new PieDataSource { latitude = 35.746512259918504, longitude= 102.216796875 }
    };
    public List<PieDataSource> PieFive = new List<PieDataSource> {
        new PieDataSource { latitude = -8.667918002363107, longitude= -52.55859375 }
    };
    public List<PieDataSource> PieSix = new List<PieDataSource> {
        new PieDataSource { latitude =-23.725011735951796 , longitude= 132.978515625 }
    };
}