@page "/Maps/MapsWithPie"

@using Syncfusion.EJ2.Blazor.Maps

@*Hidden:Lines*@
@using ej2_blazor_samples
@{
    SampleBrowser.CurrentSampleName = "Maps With Pie Chart";
    SampleBrowser.CurrentControlName = "Maps";
    SampleBrowser.CurrentControlCategory = "Maps";
    SampleBrowser.CurrentControl = SampleBrowser.Config.Maps;
    SampleBrowser.ActionDescription = new string[] {
            @"<p>
            This sample depicts the zooming and panning options in the maps. You can customize these options by changing the Zooming, Mouse wheel zoom, Pinch zoom, Single-click zoom, and Double-click zoom in the Properties panel.
        </p>"
    };
    SampleBrowser.Description = new string[] {
        @"<p>
            In this example, you can see how to zoom and pan the map. The support has been provided for zooming with toolbar, rectangle zoom, pinch zoom, mouse wheel zoom, single-click and double-click zoom.
        </p>
        <br />
        </ p >"
    };
}
@*End:Hidden*@
    <div class="control-section">
        <EjsMaps>
            <MapsZoomSettings Enable="false"></MapsZoomSettings>
            <MapsTitleSettings Text="Top 6 largest countries age group details">
                <MapsTitleTextStyle Size="16px"></MapsTitleTextStyle>
            </MapsTitleSettings>
            <MapsLegendSettings Visible="true" Position="LegendPosition.Bottom"></MapsLegendSettings>
            <MapsLayers>
                <MapsLayer ShapeData="@MapShapeData">
                    <MapsShapeSettings Fill="#E5E5E5">
                        <MapsShapeColorMappings>
                            <MapsShapeColorMapping From="0" To="4" Color='@("#634D6F")' Label="0-14 year"></MapsShapeColorMapping>
                            <MapsShapeColorMapping From="5" To="14" Color='@("#B34D6D")' Label="15-24 year"></MapsShapeColorMapping>
                            <MapsShapeColorMapping From="15" To="59" Color='@("#557C5C")' Label=" 25-54 year"></MapsShapeColorMapping>
                            <MapsShapeColorMapping From="60" To="100" Color='@("#5E55E2")' Label="55-64 year"></MapsShapeColorMapping>
                        </MapsShapeColorMappings>
                    </MapsShapeSettings>
                    <MapsMarkerSettings>
                        <MapsMarker Visible="true" AnimationDuration="0" DataSource="@PieOne"></MapsMarker>
                        <MapsMarker Visible="true" AnimationDuration="0" DataSource="@PieTwo"></MapsMarker>
                        <MapsMarker Visible="true" AnimationDuration="0" DataSource="@PieThree"></MapsMarker>
                        <MapsMarker Visible="true" AnimationDuration="0" DataSource="@PieFour"></MapsMarker>
                        <MapsMarker Visible="true" AnimationDuration="0" DataSource="@PieFive"></MapsMarker>
                        <MapsMarker Visible="true" AnimationDuration="0" DataSource="@PieSix"></MapsMarker>
                    </MapsMarkerSettings>
                    <MapsLayerTooltipSettings Visible="true" Format="${name} : ${population}%"></MapsLayerTooltipSettings>
                </MapsLayer>
            </MapsLayers>
        </EjsMaps>
    </div>

@code {
    public MapDataSettings MapShapeData = new MapDataSettings{
        async= true,
        dataOptions= "scripts/MapsData/WorldMap.json",
        type= "GET"
    };

    public class MapDataSettings
    {
        public Boolean async { get; set; }
        public String dataOptions { get; set; }
        public String type { get; set; }
    };

    public class PieDataSource {
        public double latitude;
        public double longitude;
    }
    public List<PieDataSource> PieOne = new List<PieDataSource> {
        new PieDataSource { latitude =61.938950426660604 , longitude= 97.03125 }
    };
    public List<PieDataSource> PieTwo = new List<PieDataSource> {
        new PieDataSource { latitude = 57.70414723434193, longitude= -114.08203125 }
    };
    public List<PieDataSource> PieThree = new List<PieDataSource> {
        new PieDataSource { latitude = 39.90973623453719, longitude= -103.0078125 }
    };
    public List<PieDataSource> PieFour = new List<PieDataSource> {
        new PieDataSource { latitude = 35.746512259918504, longitude= 102.216796875 }
    };
    public List<PieDataSource> PieFive = new List<PieDataSource> {
        new PieDataSource { latitude = -8.667918002363107, longitude= -52.55859375 }
    };
    public List<PieDataSource> PieSix = new List<PieDataSource> {
        new PieDataSource { latitude =-23.725011735951796 , longitude= 132.978515625 }
    };
}
