@page "/Maps/MarkerTemplate"


@using Syncfusion.EJ2.Blazor.Maps


@inherits SampleBaseComponent;

<div class="control-section">
    <EjsMaps ModelType="@typeof(IDataTemplate)">
        <MapsTitleSettings Text="Australia cities weather detail">
            <MapsTitleTextStyle Size="16px">
            </MapsTitleTextStyle>
        </MapsTitleSettings>
        <MapsZoomSettings Enable="false">
        </MapsZoomSettings>
        <MapsLayers>
            <MapsLayer ShapeData="@MapShapeData" ShapeDataPath="STATE_name">
                <MapsShapeSettings Autofill="true" Palette="@palette">
                    <MapsShapeBorder Width="0.5" Color="white"></MapsShapeBorder>
                </MapsShapeSettings>
                <MapsMarkerSettings>
                    <MapsMarker Visible="true"  DataSource="MarkerTemperatureOne" AnimationDuration="0">
                        <MarkerTemplate>
                            @{
                                var data = context as IDataTemplate;
                                <div style="margin-left:-45px;margin-top:-20px">
                                    <img class="markerTemplate" src="styles/images/maps/weather-clear.svg" />
                                    <p>@data.Name:@data.Text[0]°C</p>
                                </div>
                            }
                        </MarkerTemplate>
                    </MapsMarker>
                    <MapsMarker Visible="true" DataSource="@MarkerTemperatureTwo">
                        <MarkerTemplate>
                            @{
                                var data = context as IDataTemplate;
                                <div style="margin-left:-45px;margin-top:-20px">
                                    <img class="markerTemplate" src="styles/images/maps/weather-clouds.svg" />
                                    <p>@data.Name:@data.Text[0]°C</p>
                                </div>
                            }
                        </MarkerTemplate>
                    </MapsMarker>
                    <MapsMarker Visible="true" DataSource="@MarkerTemperatureThree">
                        <MarkerTemplate>
                            @{
                                var data = context as IDataTemplate;
                                <div style="margin-left:-45px;margin-top:-20px">
                                    <img class="markerTemplate" src="styles/images/maps/weather-clear.svg" />
                                    <p>@data.Name:@data.Text[0]°C</p>
                                </div>
                            }
                        </MarkerTemplate>
                    </MapsMarker>
                    <MapsMarker Visible="true"   DataSource="@MarkerTemperatureFour">
                        <MarkerTemplate>
                            @{
                                var data = context as IDataTemplate;
                                <div style="margin-left:-45px;margin-top:-20px">
                                    <img class="markerTemplate" src="styles/images/maps/weather-rain.svg" />
                                    <p>@data.Name:@data.Text[0]°C</p>
                                </div>
                            }
                        </MarkerTemplate>
                    </MapsMarker>
                    <MapsMarker Visible="true" DataSource="@MarkerTemperatureFive">
                        <MarkerTemplate>
                            @{
                                var data = context as IDataTemplate;
                                <div style="margin-left:-45px;margin-top:-20px">
                                    <img class="markerTemplate" src="styles/images/maps/weather-clear.svg" />
                                    <p>@data.Name:@data.Text[0]°C</p>
                                </div>
                            }
                        </MarkerTemplate>
                    </MapsMarker>
                    <MapsMarker Visible="true" Height="30" Width="30" DataSource="@MarkerTemperatureSix">
                        <MarkerTemplate>
                            @{
                                var data = context as IDataTemplate;
                                <div style="margin-left:-45px;margin-top:-20px">
                                    <img class="markerTemplate" src="styles/images/maps/weather-clouds.svg" />
                                    <p>@data.Name:@data.Text[0]°C</p>
                                </div>
                            }
                        </MarkerTemplate>
                    </MapsMarker>
                </MapsMarkerSettings>
            </MapsLayer>
        </MapsLayers>
    </EjsMaps>
</div>
<style>
    .markerTemplate {
        height: 30px;
        width: 30px;
        display: block;
        margin: auto;
        font-size: 14px;
    }
</style>
@code {
    public MapDataSettings MapShapeData = new MapDataSettings
    {
        async = true,
        dataOptions = "scripts/MapsData/australia.json",
        type = "GET"
    };
    public class MapDataSettings
    {
        public Boolean async { get; set; }
        public String dataOptions { get; set; }
        public String type { get; set; }
    };
    public string[] palette = new string[] { "#E2B247", "#88DB46", "#42C4E2", "#C08AF8", "#52BACC", "#F4CE2F", "#6986ED" };
    public class Temperatures
    {

        public double latitude;
        public double longitude;
        public string name;
        public double temperature;
    };
    public List<Temperatures> MarkerTemperatureOne = new List<Temperatures>
{
        new Temperatures { name = "Perth", latitude= -31.950527,longitude= 115.860457, temperature= 31.6}
    };
    public List<Temperatures> MarkerTemperatureTwo = new List<Temperatures>
{
        new Temperatures { name = "Adelaide", latitude= -34.928499,longitude= 138.600746, temperature= 28.5}
    };
    public List<Temperatures> MarkerTemperatureThree = new List<Temperatures>
{
        new Temperatures { name = "Townsville", latitude= -19.2589635,longitude= 146.8169483, temperature=31.3}
    };
    public List<Temperatures> MarkerTemperatureFour = new List<Temperatures>
{
        new Temperatures { name = "Sydney", latitude= -33.868820,longitude= 151.209296, temperature= 26.4}
    };
    public List<Temperatures> MarkerTemperatureFive = new List<Temperatures>
{
        new Temperatures { name = "Alice Springs", latitude=-23.698042 ,longitude= 133.880747, temperature= 36.4}
    };
    public List<Temperatures> MarkerTemperatureSix = new List<Temperatures>
{
        new Temperatures { name = "Brisbane", latitude=-27.469771 ,longitude= 153.025124, temperature= 29.1}
    };
}