@page "/maps/tooltip"

@using Syncfusion.Blazor.Maps

@inherits SampleBaseComponent;

<div class="control-section">
    <SfMaps>
        <MapsEvents TooltipRendering="OnTooltipRendering"/>
        <MapsTitleSettings Text="Finalist in Cricket World Cup">
            <MapsTitleTextStyle Size="16px"/>
        </MapsTitleSettings>
        <MapsZoomSettings Enable="false"/>
        <MapsLegendSettings Visible="true" Mode="LegendMode.Interactive" Position="LegendPosition.Left" Orientation="LegendArrangement.Vertical" Height="70%" Width="10"/>
        <MapsLayers>
            <MapsLayer ShapeData='new {dataOptions ="scripts/MapsData/WorldMap.json"}' DataSource="@PerformanceReport"
                        ShapePropertyPath="@ShapePropertyPath" ShapeDataPath="Name">
                <MapsLayerTooltipSettings Visible="true" ValuePath="Name" Format="<b>${City}</b><br>Finalist: <b>${Winner}</b><br>Win: <b>${Runner}"/>
                <MapsShapeSettings Fill="#E5E5E5" ColorValuePath="Winner">
                    <MapsShapeColorMappings>
                        <MapsShapeColorMapping Value="1" Color="@ShapeColorOne"/>
                        <MapsShapeColorMapping Value="2" Color="@ShapeColorTwo"/>
                        <MapsShapeColorMapping Value="3" Color="@ShapeColorThree"/>
                        <MapsShapeColorMapping Value="7" Color="@ShapeColorFour"/>
                    </MapsShapeColorMappings>
                </MapsShapeSettings>
            </MapsLayer>
        </MapsLayers>
    </SfMaps>
    <div class="urllink">
        Source:
        <a href="https://en.wikipedia.org/wiki/List_of_Cricket_World_Cup_finals" target="_blank">en.wikipedia.org</a>
    </div>
</div>

@code {
    public string ShapePropertyPath = "name";
    public string ShapeColorOne = "#b3daff";
    public string ShapeColorTwo = "#80c1ff";
    public string ShapeColorThree = "#1a90ff";
    public string ShapeColorFour = "#005cb3";
    public List<Country> PerformanceReport = new List<Country> {
        new Country { Name="India", Winner="3", Runner="2", City="India" },
        new Country { Name="Dominican Rep.", Winner="3", Runner="2", City="West Indies" },
        new Country { Name="Cuba", Winner="3", Runner="2", City="West Indies" },
        new Country { Name="Jamaica", Winner="3", Runner="2", City="West Indies" },
        new Country { Name="Haiti", Winner="3", Runner="2", City="West Indies" },
        new Country { Name="Guyana", Winner="3", Runner="2", City="West Indies" },
        new Country { Name="Suriname", Winner="3", Runner="2", City="West Indies" },
        new Country { Name="Trinidad and Tobago", Winner="3", Runner="2", City="West Indies" },
        new Country { Name="Sri Lanka", Winner="3", Runner="1", City="Sri Lanka" },
        new Country { Name="United Kingdom", Winner="3", Runner="0", City="England" },
        new Country { Name="Pakistan", Winner="2", Runner="1", City="Pakistan" },
        new Country { Name="new  Zealand", Winner="1", Runner="0", City="new  Zealand" },
        new Country { Name="Australia", Winner="7", Runner="5", City="Australia" }
    };
    public class Country {
        public string Name;
        public string Winner;
        public string Runner;
        public string City;
    }
    public void OnTooltipRendering(Syncfusion.Blazor.Maps.ITooltipRenderEventArgs args) {
        if (args.Data == null) {
            args.Cancel = true;
        }
    }
}