@page "/dashboard-layout/api"

@using Syncfusion.Blazor.Layouts
@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.Inputs

@*Hidden:Lines*@
@inherits SampleBaseComponent
@inject NavigationManager NavigationManager


@*End:Hidden*@

<SampleDescription>
    <p>This <a target='_blank' href='https://www.syncfusion.com/blazor-components/blazor-dashboard' aria-label="Feature Tour of Blazor Dashboard Layout">Blazor Dashboard Layout</a> sample demonstrates the properties of the Dashboard Layout component from the property pane. Select any combination of properties from the property pane to customize the Dashboard Layout.</p>
</SampleDescription>
<ActionDescription>
   <p>This sample allows to configure the <a target='_blank' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Layouts.SfDashboardLayout.html#Syncfusion_Blazor_Layouts_SfDashboardLayout_AllowResizing' aria-label="Class reference of AllowResizing property in Dashboard Layout">AllowResizing</a>, <a target='_blank' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Layouts.SfDashboardLayout.html#Syncfusion_Blazor_Layouts_SfDashboardLayout_CellSpacing' aria-label="Class reference of CellSpacing property in Dashboard Layout">CellSpacing</a>, and <a target='_blank' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Layouts.SfDashboardLayout.html#Syncfusion_Blazor_Layouts_SfDashboardLayout_AllowFloating' aria-label="Class reference of AllowFloating property in Dashboard Layout">AllowFloating</a> properties of the Dashboard Layout component.</p>
</ActionDescription>

<div class="col-lg-8 control-section">
    <div class="content-wrapper" style="max-width: 100%">
        <SfDashboardLayout @ref="dashboardObject" AllowResizing="@AllowResizing" AllowFloating="@AllowFloating" CellSpacing="@CellSpacing" Columns="@Columns">
            <DashboardLayoutPanels>
                <DashboardLayoutPanel Id="1" Row="0" Column="0" SizeX="2" SizeY="2">
                    <HeaderTemplate><div class="e-header-text">Panel 1</div></HeaderTemplate>
                </DashboardLayoutPanel>
                <DashboardLayoutPanel Id="2" Row="0" Column="2" SizeX="2" SizeY="2">
                    <HeaderTemplate><div class="e-header-text">Panel 2</div></HeaderTemplate>
                </DashboardLayoutPanel>
                <DashboardLayoutPanel Id="3" Row="0" Column="4" SizeX="2" SizeY="2">
                    <HeaderTemplate><div class="e-header-text">Panel 3</div></HeaderTemplate>
                </DashboardLayoutPanel>
                <DashboardLayoutPanel Id="4" Row="2" Column="0" SizeX="4" SizeY="2">
                    <HeaderTemplate><div class="e-header-text">Panel 4</div></HeaderTemplate>
                </DashboardLayoutPanel>
                <DashboardLayoutPanel Id="5" Row="2" Column="4" SizeX="2" SizeY="2">
                    <HeaderTemplate><div class="e-header-text">Panel 5</div></HeaderTemplate>
                </DashboardLayoutPanel>
            </DashboardLayoutPanels>
        </SfDashboardLayout>
    </div>
</div>
<div class="col-lg-4 property-section dashboard">
    <div class="property-panel-header">
        Properties
    </div>
    <div class="row property-panel-content">
        <div class="card-body">
            <div class="form-group row">
                <label for="settings-bubble-up-input" class="col-sm-4 col-form-label form-label">AllowFloating</label>
                <div class="col-sm-8">
                    <SfCheckBox  @bind-Checked="@FloatCheck" Name="floating" ValueChange="OnFloatChange" Value="1" TChecked="bool"></SfCheckBox>
                </div>
            </div>
            <div class="form-group row">
                <label for="settings-bubble-up-input" class="col-sm-4 col-form-label form-label">AllowResizing</label>
                <div class="col-sm-8">
                    <SfCheckBox  @bind-Checked="@AllowResizingCheck" Name="resizing" ValueChange="AllowResizingChange" Value="1" TChecked="bool"></SfCheckBox>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-12">
                    <SfButton CssClass="e-primary"  Content="Add Panel" @onclick="AddClick"></SfButton>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-12">
                    <SfButton CssClass="e-danger" Content="Remove Panel" @onclick="RemoveClick"></SfButton>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    SfDashboardLayout dashboardObject;

    public double[] CellSpacing = { 10, 10 };
    public bool FloatCheck = true;
    public bool AllowResizingCheck = true;
    public int Columns = 6;
    public bool AllowFloating { get; set; } = true;
    public bool AllowResizing { get; set; } = true;
    public int Count = 5;
    public int Length { get; set; }
    

    public void OnFloatChange(Syncfusion.Blazor.Buttons.ChangeEventArgs<bool> args)
    {
        this.AllowFloating = args.Checked;
    }

    public void AllowResizingChange(Syncfusion.Blazor.Buttons.ChangeEventArgs<bool> args)
    {
        this.AllowResizing = args.Checked;
    }

    public async Task AddClick(EventArgs args)
    {
        this.Count = this.Count + 1;
        string HeaderText = "Panel " + this.Count.ToString();
        PanelModel panel = new PanelModel
        {
            Id = this.Count.ToString() + "_layout",
            SizeX = 2,
            SizeY = 2,
            Row = 0,
            Column = 0,
            Enabled = true,
            Header = @<div>@HeaderText</div>
        };
        await dashboardObject.AddPanelAsync(panel);
    }


    public async void RemoveClick(EventArgs args)
    {
        List<PanelModel> panel = await this.dashboardObject.Serialize();
        Length = panel.Count;
        if (Length != 0)
        {
            for (var i = Length - 1; i < Length; i++)
            {
                await dashboardObject.RemovePanelAsync(panel[Length - 1 - i].Id);
            }
        }
    }
}


<style>

    .form-label {
        margin-bottom: 0;
        font-size: 12px;
        line-height: 1.5;
        font-size: 13px;
        font-weight: 500;
    }

    .bootstrap5 .e-panel .e-header-text,
    .bootstrap5-dark .e-panel .e-header-text {
        padding: 0;
    }
    .e-panel-header {
        padding: 10px;
        margin-bottom: 0;
        background-color: rgba(0, 0, 0, .03);
    }

    .panel-content {
        vertical-align: middle;
        font-size: 15px;
        font-size: 15px;
        font-weight: 500;
        color: rgba(0, 0, 0, 0.61);
        text-align: center;
    }

    body.tailwind-dark .e-dashboardlayout.e-control .e-panel {
        border: 1px solid #d7d7d7;
        border-radius: 0px;
    }

    .e-panel-content {
        height: calc(100% - 28px);
        width: 100%;
        display: block;
    }

    .e-panel .e-header-text {
        padding: 6px 0 12px 0;
    }

    .e-dashboardlayout.e-control .e-panel .e-panel-header {
        font-size: 15px;
        font-weight: 500;
        height: 37px;
        padding: 10px;
        vertical-align: middle;
        border-bottom: 0.5px solid #e3e3e3;
    }

    .row {
        margin-left: 0px;
        margin-right: 0px;
    }

    .row-header {
        font-size: 13px;
        font-weight: 500;
    }

    .e-panel-content {
        padding: 15px;
    }
    .e-primary, .e-danger {
        width: 125px;
    }

    .mobile .e-primary, .mobile .e-danger {
        width: 150px;
    }

    .tailwind-dark .e-primary,.tailwind-dark .e-danger,
    .highcontrast .e-primary,.highcontrast .e-danger{
        width: 170px;
    }
    .tailwind .sb-demo-section .container-fluid {
        background: #F9FAFB;
    }
    .mobile .e-control.e-lib.e-dashboardlayout.e-responsive {
        z-index: 0;
        overflow: scroll;
    }

    .e-control.e-lib.e-dashboardlayout.e-responsive {
        z-index: 0;
    }
</style>
