@page "/bullet-chart/default-functionalities"
@using Syncfusion.Blazor.Charts
@using Syncfusion.Blazor
@inject NavigationManager NavigationManager
@*Hidden:Lines*@
@using ThemeHelper
@inherits SampleBaseComponent;
@*End:Hidden*@

<ActionDescription>
<p>
    This sample illustrates a default bullet chart to compare the feature (value) bar with the comparative (target) bar.
  </p>
  <p>
    The Blazor Bullet Chart is used to visually compare measures, like the commonly used bar chart. The bullet chart displays one or more measures and compares them with a target value.
  </p>
  <p>
    Tooltip is enabled in this example. To see the tooltip in action, hover over a feature bar or comparative bar on the bullet chart.
  </p>
  <p>
    <strong>See also:</strong>
  </p>
  <ul>
    <li><a target="_blank" rel="noopener" href="https://blazor.syncfusion.com/documentation/bullet-chart/getting-started" aria-label="Navigate to the documentation for getting started with bullet chart component">Bullet Chart - Getting Started</a></li>
  </ul>
</ActionDescription>



<div class="control-section" style="text-align: center">
    <SfBulletChart DataSource="@RevenueData" Theme="@CurrentTheme" ValueField="ActualValue" TargetField="TargetValue" Minimum="0" Maximum="300" Interval="50"
    Title="Revenue" Subtitle="U.S. $" LabelFormat="${value}k" TitlePosition=@TitlePosition Width=@ChartWidth>
        <BulletChartTooltip TValue="ChartData" Enable="true"></BulletChartTooltip>
        <BulletChartMargin Left="@ChartLeftMargin1" Right="15"></BulletChartMargin>
        <BulletChartRangeCollection>
            <BulletChartRange End="150"> </BulletChartRange>
            <BulletChartRange End="250"></BulletChartRange>
            <BulletChartRange End="300"></BulletChartRange>
        </BulletChartRangeCollection>
    </SfBulletChart>

    <SfBulletChart DataSource="@ProfitData" ValueField="ActualValue" Theme="@CurrentTheme" TargetField="TargetValue" Minimum="0" Maximum="30" Interval="5"
    Title="Profit" Subtitle="%" LabelFormat="{value}%" TitlePosition=@TitlePosition Width=@ChartWidth>
        <BulletChartTooltip TValue="ChartData" Enable="true"></BulletChartTooltip>
        <BulletChartMargin Left="@ChartLeftMargin2" Right="15"></BulletChartMargin>
        <BulletChartRangeCollection>
            <BulletChartRange End="20"> </BulletChartRange>
            <BulletChartRange End="25"></BulletChartRange>
            <BulletChartRange End="30"></BulletChartRange>
        </BulletChartRangeCollection>
    </SfBulletChart>

    <SfBulletChart DataSource="@AvgOrderSizeData" ValueField="ActualValue" Theme="@CurrentTheme" TargetField="TargetValue" Minimum="0" Maximum="600" Interval="100"
    Title="Avg Order Size" Subtitle="U.S. $" LabelFormat="${value}" TitlePosition=@TitlePosition  Width=@ChartWidth>
        <BulletChartTooltip TValue="ChartData" Enable="true"></BulletChartTooltip>
        <BulletChartMargin Left="@ChartLeftMargin3" Right="15"></BulletChartMargin>
        <BulletChartRangeCollection>
            <BulletChartRange End="350"> </BulletChartRange>
            <BulletChartRange End="500"></BulletChartRange>
            <BulletChartRange End="600"></BulletChartRange>
        </BulletChartRangeCollection>
    </SfBulletChart>

    <SfBulletChart DataSource="@NewCustomersData" EnableGroupSeparator="false" Theme="@CurrentTheme" ValueField="ActualValue" TargetField="TargetValue" Width=@ChartWidth
    Minimum="0" Maximum="2500" Interval="500" Title="New Customers" Subtitle="Count" TitlePosition=@TitlePosition>
        <BulletChartTooltip TValue="ChartData" Enable="true"></BulletChartTooltip>
        <BulletChartMargin Left="@ChartLeftMargin4" Right="15"></BulletChartMargin>
        <BulletChartRangeCollection>
            <BulletChartRange End="1700"> </BulletChartRange>
            <BulletChartRange End="2000"></BulletChartRange>
            <BulletChartRange End="2500"></BulletChartRange>
        </BulletChartRangeCollection>
    </SfBulletChart>

    <SfBulletChart DataSource="@CustomerSatisfactionData" ValueField="ActualValue" Theme="@CurrentTheme" TargetField="TargetValue" Minimum="0" Maximum="5" Interval="1"
    Title="Cust Satisfaction" Subtitle="Top rating of 5" TitlePosition=@TitlePosition Width=@ChartWidth>
        <BulletChartTooltip TValue="ChartData" Enable="true"></BulletChartTooltip>
        <BulletChartMargin Left="@ChartLeftMargin5" Right="15"></BulletChartMargin>
        <BulletChartRangeCollection>
            <BulletChartRange End="3.7"> </BulletChartRange>
            <BulletChartRange End="4.2"></BulletChartRange>
            <BulletChartRange End="5"></BulletChartRange>
        </BulletChartRangeCollection>
    </SfBulletChart>
</div>

@code{
    public string ChartWidth { get; set; } = "80%";
    public TextPosition TitlePosition { get; set; } = TextPosition.Left;
    public double ChartLeftMargin1 { get; set; } = 62;
    public double ChartLeftMargin2 { get; set; } = 80;
    public double ChartLeftMargin3 { get; set; } = 21.5;
    public double ChartLeftMargin4 { get; set; } = 18;
    public double ChartLeftMargin5 { get; set; } = 12;
    @*Hidden:Lines*@
    public bool IsDevice => SampleService != null && SampleService.IsDevice;
    @*End:Hidden*@

    public class ChartData
    {
        public double ActualValue { get; set; }
        public double TargetValue { get; set; }
    }

    public List<ChartData> RevenueData = new List<ChartData>
    {
        new ChartData { ActualValue = 270, TargetValue = 250 }
    };

    public List<ChartData> ProfitData = new List<ChartData>
    {
        new ChartData { ActualValue = 23, TargetValue = 27 }
    };

    public List<ChartData> AvgOrderSizeData = new List<ChartData>
    {
        new ChartData { ActualValue = 350, TargetValue = 550 }
    };

    public List<ChartData> NewCustomersData = new List<ChartData>
    {
        new ChartData { ActualValue = 1600, TargetValue = 2100 }
    };

    public List<ChartData> CustomerSatisfactionData = new List<ChartData>
    {
        new ChartData { ActualValue = 4.9, TargetValue = 4 }
    };

    public Theme CurrentTheme { get; set; }

    protected override void OnInitialized()
    {
        @*Hidden:Lines*@
        if (IsDevice)
        {
            ChartWidth = "100%";
            TitlePosition = TextPosition.Top;
            ChartLeftMargin1 = ChartLeftMargin2 = ChartLeftMargin3 = ChartLeftMargin4 = ChartLeftMargin5 = 10;
        }
        @*End:Hidden*@
        CurrentTheme= ThemeHelper.GetCurrentTheme(NavigationManager.Uri);
    }

}


