@inject NavigationManager Urihelper
<!DOCTYPE html>
<html lang="en">

<head>
    <style>
        #components-reconnect-modal {
            display: none !important;
        }
    </style>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    @* Added CSP policy to prevent from the JS injection and XSS attacks *@
    @* <meta http-equiv="Content-Security-Policy" content="default-src 'self';  
            script-src 'self' 'unsafe-inline' 'unsafe-eval' https://*.syncfusion.com https://www.youtube.com https://www.googletagmanager.com https://www.google-analytics.com blob:;
            style-src 'self' 'unsafe-inline' data: https://*.googleapis.com https://*.syncfusion.com https://maxcdn.bootstrapcdn.com ;
            img-src 'self' 'unsafe-inline' blob: data: https://*.syncfusion.com https://*.google-analytics.com https://*.analytics.google.com https://*.googletagmanager.com https://*.g.doubleclick.net https://*.google.com https://*.google.co.in https://*.openstreetmap.org https://*.tiles.virtualearth.net https://ej2-aspcore-service.azurewebsites.net https://ej2-azure-aspcore-service.azurewebsites.net https://amazons3.azurewebsites.net https://ej2-ibm-cos-node-file-provider.azurewebsites.net https://syncfusion.atlassian.net ;
            media-src 'self' 'unsafe-inline' blob: data:; 
            connect-src 'self' wss: ws: https://*.syncfusion.com https://www.google-analytics.com/ http://localhost:* https://ej2-aspcore-service.azurewebsites.net https://amazons3.azurewebsites.net https://ej2-ibm-cos-node-file-provider.azurewebsites.net https://ej2-azure-aspcore-service.azurewebsites.net https://services.odata.org ;
            font-src 'self' data: https://fonts.gstatic.com https://maxcdn.bootstrapcdn.com ;
            form-action 'self' https://ej2-aspcore-service.azurewebsites.net https://ej2-azure-aspcore-service.azurewebsites.net https://amazons3.azurewebsites.net https://ej2-ibm-cos-node-file-provider.azurewebsites.net ;"> *@
    <base href="/" />
    <link rel="alternate" hreflang="en" href="@Urihelper.BaseUri" />
    @{#if DEBUG || STAGING}
        <link id="theme" href="_content/Syncfusion.Blazor.Themes/fluent2.css" rel="stylesheet"  />
    @{#else}
        <link id="theme" href="https://cdn.syncfusion.com/blazor/27.1.48/styles/fluent2.css" rel="stylesheet"/>
    @{#endif}
    <SampleMetaData @rendermode="@RenderMode.InteractiveWebAssembly" />
    @{#if NET8_0}
   <link href="Blazor_WASM_Demos_NET8.styles.css" rel="stylesheet" />
    @{#else}
    <link href="@Assets["Blazor_WASM_Demos_NET9.styles.css"]" rel="stylesheet" />
    <ImportMap />
    @{#endif}
</head>

<body>
    <AddHeaderTag @rendermode="@RenderMode.InteractiveWebAssembly" />
    <div hidden id="sync-analytics" data-queue="EJ2 - Blazor - Demos"></div>
    <!-- Google Tag Manager (noscript) -->
    @if (!SampleUtils.IsLocalSample(Urihelper.BaseUri))
    {
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-W8WD8WN" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    }
    <!-- End Google Tag Manager (noscript) -->
    <Routes @rendermode="@(new InteractiveWebAssemblyRenderMode(true))" />
    <script type="module" src="importResources.js"></script>
    <script src="_framework/blazor.web.js"></script>
    @{
    #if DEBUG || STAGING
        }
    <script src="_content/Syncfusion.Blazor.Core/scripts/syncfusion-blazor.min.js" type="text/javascript"></script>
    @{
    #else
    }
    <script src="https://cdn.syncfusion.com/blazor/27.1.48/syncfusion-blazor.min.js" type="text/javascript"></script>
    @{
    #endif
    }
    <div class="dynamic-resources"></div>
    <script>
        window.cultureInfo = {
            get: () => window.localStorage['BlazorCulture'],
            set: (value) => window.localStorage['BlazorCulture'] = value
        };
    </script>
    @if (!SampleUtils.IsLocalSample(Urihelper.BaseUri))
    {
        <script>
            // Google Tag Manager
                setTimeout(function () {
                    (function (w, d, s, l, i) {
                        w[l] = w[l] || []; w[l].push({
                            'gtm.start':
                                new Date().getTime(), event: 'gtm.js'
                        }); var f = d.getElementsByTagName(s)[0],
                            j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                                'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
                    })(window, document, 'script', 'dataLayer', 'GTM-W8WD8WN');}, 2000);
            // End Google Tag Manager
        </script>
    }
</body>

</html>
