@inherits BlazorDemos.AppBase
@inject NavigationManager Urihelper
@inject SampleService SampleService
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    @* Added CSP policy to prevent from the JS injection and XSS attacks *@
    @* <meta http-equiv="Content-Security-Policy" content="default-src 'self';  
            script-src 'self' 'unsafe-inline' 'unsafe-eval' https://*.syncfusion.com https://www.youtube.com https://www.googletagmanager.com https://www.google-analytics.com blob:;
            style-src 'self' 'unsafe-inline' data: https://*.googleapis.com https://*.syncfusion.com https://maxcdn.bootstrapcdn.com ;
            img-src 'self' 'unsafe-inline' blob: data: https://*.syncfusion.com https://*.google-analytics.com https://*.analytics.google.com https://*.googletagmanager.com https://*.g.doubleclick.net https://*.google.com https://*.google.co.in https://*.openstreetmap.org https://*.tiles.virtualearth.net https://ej2-aspcore-service.azurewebsites.net https://ej2-azure-aspcore-service.azurewebsites.net https://amazons3.azurewebsites.net https://ej2-ibm-cos-node-file-provider.azurewebsites.net https://syncfusion.atlassian.net ;
            media-src 'self' 'unsafe-inline' blob: data:; 
            connect-src 'self' wss: ws: https://*.syncfusion.com https://www.google-analytics.com/ https://blazor.syncfusion.com/services/production//ej2-aspcore-service.azurewebsites.net https://amazons3.azurewebsites.net https://ej2-ibm-cos-node-file-provider.azurewebsites.net https://ej2-azure-aspcore-service.azurewebsites.net https://services.odata.org ;
            font-src 'self' data: https://fonts.gstatic.com https://maxcdn.bootstrapcdn.com ;
            form-action 'self' https://ej2-aspcore-service.azurewebsites.net https://ej2-azure-aspcore-service.azurewebsites.net https://amazons3.azurewebsites.net https://ej2-ibm-cos-node-file-provider.azurewebsites.net ;"> *@
    <base href="/" />
    @if (isNET10_0)
    {
        <ResourcePreloader />
    }
    <link rel="alternate" hreflang="en" href="@Urihelper.Uri" />
    <link rel="preconnect" href="https://cdn.syncfusion.com" crossorigin />
    @if (!SampleUtils.IsLocalSample(Urihelper.BaseUri))
    {
        @* Google Tag Manager *@		
      @* Load GTM-P3WXFWCW immediately on page load  *@		
      <script>

            (function (w, d, s, l, i) {
                w[l] = w[l] || []; w[l].push({
                    'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
                }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
            })(window, document, 'script', 'dataLayer', 'GTM-P3WXFWCW');
        </script>
        @* Load GTM-W8WD8WN on user interaction *@		
      <script>

            document.addEventListener("DOMContentLoaded", function () {
                const events = ["mousemove", "scroll", "keydown", "touchstart"];
                function loadGTM() {
                    events.forEach(event => document.removeEventListener(event, loadGTM));
                    (function (w, d, s, l, i) {
                        w[l] = w[l] || []; w[l].push({
                            'gtm.start':
                            new Date().getTime(), event: 'gtm.js'
                        }); var f = d.getElementsByTagName(s)[0],
                        j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                        'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
                    })(window, document, 'script', 'dataLayer', 'GTM-W8WD8WN');
                }
                events.forEach(event => document.addEventListener(event, loadGTM, { once: true }));
            });
        </script>
        @* End Google Tag Manager *@		
 }
    <script>
        function onCommonLayoutStylesLoaded(selectedTheme){
            const theme = document.getElementById('common-layout-style');
            if (theme) {
                const href = theme.getAttribute('href') || '';
                const marker = 'demo-page-comps/';
                const i = href.indexOf(marker);
                if (i !== -1) {
                    const base = href.slice(0, i + marker.length);
                    theme.setAttribute('href', base + selectedTheme + '.min.css');
                }
            }
        }
    </script>
    @* SB's Home pages LCP image preloading and stylesheets *@
    @if (SampleUtils.IsHomePage(Urihelper))
    {
        @if (!isSTAGING && isRELEASE)
        {
            // Preloading LCP image of Home page with high priority based on screen size using media queries.
            <link rel="preload" as="image" href="https://cdn.syncfusion.com/blazor/images/demos/home-banner-mobile.webp" fetchpriority="high" media="(max-width: 450px)" />
            <link rel="preload" as="image" href="https://cdn.syncfusion.com/blazor/images/demos/home-banner-tab.webp" fetchpriority="high" media="(min-width: 456px) and (max-width: 1024px)" />
            <link rel="preload" as="image" href="https://cdn.syncfusion.com/blazor/images/demos/home-banner.webp" fetchpriority="high" media="(min-width: 1025px)" />
            <link rel="stylesheet" type="text/css" href="https://cdn.syncfusion.com/blazor/sb/styles/32.1.19/home-page/fluent2.min.css" />
            <link rel="stylesheet" type="text/css" href="https://cdn.syncfusion.com/blazor/sb/styles/32.1.19/common/bootstrap.min.css" />
            <link rel="stylesheet" type="text/css" href="https://cdn.syncfusion.com/blazor/sb/styles/32.1.19/common/site.min.css" />
            <link rel="stylesheet" type="text/css" href="https://cdn.syncfusion.com/blazor/sb/styles/32.1.19/common/home.min.css" />
            <link rel="stylesheet" type="text/css" href="https://cdn.syncfusion.com/blazor/sb/styles/32.1.19/common/devices.min.css" media="(max-width: 1024px)" />
        }
        else if (!isDEBUG && isSTAGING)
        {
            // Preloading LCP image of Home page with high priority based on screen size using media queries.
            <link rel="preload" as="image" href="@(SampleService.AssetsPath + "images/common/home-banner-mobile.webp")" fetchpriority="high" media="(max-width: 450px)" />
            <link rel="preload" as="image" href="@(SampleService.AssetsPath + "images/common/home-banner-tab.webp")" fetchpriority="high" media="(min-width: 456px) and (max-width: 1024px)" />
            <link rel="preload" as="image" href="@(SampleService.AssetsPath + "images/common/home-banner.webp")" fetchpriority="high" media="(min-width: 1025px)" />
            @if (isNET10_0 || isNET9_0)
            {
                <link rel="stylesheet" type="text/css" href="@Assets[(SampleService.AssetsPath + "styles/component-samples/home-page/fluent2.min.css")]" />
                <link rel="stylesheet" type="text/css" href="@Assets[(SampleService.AssetsPath + "styles/bootstrap.min.css")]" />
                <link rel="stylesheet" type="text/css" href="@Assets[(SampleService.AssetsPath + "styles/site.min.css")]" />
                <link rel="stylesheet" type="text/css" href="@Assets[(SampleService.AssetsPath + "styles/common/home.min.css")]" />
                <link rel="stylesheet" type="text/css" href="@Assets[(SampleService.AssetsPath + "styles/common/devices.min.css")]" media="(max-width: 1024px)" />
            }
            else
            {
                <link rel="stylesheet" type="text/css" href="@(SampleService.AssetsPath + "styles/component-samples/home-page/fluent2.min.css")" />
                <link rel="stylesheet" type="text/css" href="@(SampleService.AssetsPath + "styles/bootstrap.min.css")" />
                <link rel="stylesheet" type="text/css" href="@(SampleService.AssetsPath + "styles/site.min.css")" />
                <link rel="stylesheet" type="text/css" href="@(SampleService.AssetsPath + "styles/common/home.min.css")" />
                <link rel="stylesheet" type="text/css" href="@(SampleService.AssetsPath + "styles/common/devices.min.css")" media="(max-width: 1024px)" />
            }
        }
        else
        {
            // Preloading LCP image of Home page with high priority based on screen size using media queries.
            <link rel="preload" as="image" href="@(SampleService.AssetsPath + "images/common/home-banner-mobile.webp")" fetchpriority="high" media="(max-width: 450px)" />
            <link rel="preload" as="image" href="@(SampleService.AssetsPath + "images/common/home-banner-tab.webp")" fetchpriority="high" media="(min-width: 456px) and (max-width: 1024px)" />
            <link rel="preload" as="image" href="@(SampleService.AssetsPath + "images/common/home-banner.webp")" fetchpriority="high" media="(min-width: 1025px)" />
            @if (isNET10_0 || isNET9_0)
            {
                <link rel="stylesheet" type="text/css" href="@Assets[(SampleService.AssetsPath + "styles/component-samples/home-page/fluent2.min.css")]" />
                <link rel="stylesheet" type="text/css" href="@Assets[(SampleService.AssetsPath + "styles/bootstrap.min.css")]" />
                <link rel="stylesheet" type="text/css" href="@Assets[(SampleService.AssetsPath + "styles/site.css")]" />
                <link rel="stylesheet" type="text/css" href="@Assets[(SampleService.AssetsPath + "styles/common/home.css")]" />
                <link rel="stylesheet" type="text/css" href="@Assets[(SampleService.AssetsPath + "styles/common/devices.css")]" media="(max-width: 1024px)" />
            }
            else
            {
                <link rel="stylesheet" type="text/css" href="@(SampleService.AssetsPath + "styles/component-samples/home-page/fluent2.min.css")" />
                <link rel="stylesheet" type="text/css" href="@(SampleService.AssetsPath + "styles/bootstrap.min.css")" />
                <link rel="stylesheet" type="text/css" href="@(SampleService.AssetsPath + "styles/site.css")" />
                <link rel="stylesheet" type="text/css" href="@(SampleService.AssetsPath + "styles/common/home.css")" />
                <link rel="stylesheet" type="text/css" href="@(SampleService.AssetsPath + "styles/common/devices.css")" media="(max-width: 1024px)" />
            }
        }
    }
    @* SB's Demo pages LCP image preloading and stylesheets *@
    @if (!SampleUtils.IsHomePage(Urihelper))
    {
        @if (!isSTAGING && isRELEASE)
        {
            <link rel="preload" as="image" href="https://cdn.syncfusion.com/blazor/images/demos/ad-bg.webp" fetchpriority="high" />
        }
        else
        {
            <link rel="preload" as="image" href="@(SampleService.AssetsPath + "images/common/ad-bg.webp")" fetchpriority="high" />
        }
        @if (isNET8_0)
        {
            <link href="Blazor_Wasm_Demos_NET8.styles.css" rel="stylesheet" />
        }
        @if (isNET9_0)
        {
            <link href="@Assets["Blazor_Wasm_Demos_NET9.styles.css"]" rel="stylesheet" />
        }
        @if (isNET10_0)
        {
            <link href="@Assets["Blazor_Wasm_Demos_NET10.styles.css"]" rel="stylesheet" />
        }
        // Preloading LCP image of Demo page with high priority.
        @if (!isSTAGING && isRELEASE)
        {
            <link rel="stylesheet" type="text/css" href="https://cdn.syncfusion.com/blazor/sb/styles/32.1.19/common/bootstrap.min.css" />
            <link rel="stylesheet" type="text/css" href="https://cdn.syncfusion.com/blazor/sb/styles/32.1.19/common/highlight.min.css" />
            <link rel="stylesheet" type="text/css" href="https://cdn.syncfusion.com/blazor/sb/styles/32.1.19/common/demos.min.css" />
            <link rel="stylesheet" type="text/css" href="https://cdn.syncfusion.com/blazor/sb/styles/32.1.19/common/devices.min.css" media="(max-width: 1024px)" />
            if(!isBuild){
                <link id="common-layout-style" rel="stylesheet" type="text/css" href="https://cdn.syncfusion.com/blazor/sb/styles/32.1.19/demo-page-comps/fluent2.min.css" />
            }
        }
        else if (!isDEBUG && isSTAGING)
        {
            @if (isNET10_0 || isNET9_0)
            {
                <link rel="stylesheet" type="text/css" href="@Assets[(SampleService.AssetsPath + "styles/bootstrap.min.css")]" />
                <link rel="stylesheet" type="text/css" href="@Assets[(SampleService.AssetsPath + "styles/common/highlight.min.css")]" />
                <link rel="stylesheet" type="text/css" href="@Assets[(SampleService.AssetsPath + "styles/common/demos.min.css")]" />
                <link rel="stylesheet" type="text/css" href="@Assets[(SampleService.AssetsPath + "styles/common/devices.min.css")]" media="(max-width: 1024px)" />
                if(!isBuild){
                    <link id="common-layout-style" rel="stylesheet" type="text/css" href="@Assets[(SampleService.AssetsPath + "styles/component-samples/demo-page-comps/fluent2.min.css")]" />
                }
            }
            else
            {
                <link rel="stylesheet" type="text/css" href="@(SampleService.AssetsPath + "styles/bootstrap.min.css")" />
                <link rel="stylesheet" type="text/css" href="@(SampleService.AssetsPath + "styles/common/highlight.min.css")" />
                <link rel="stylesheet" type="text/css" href="@(SampleService.AssetsPath + "styles/common/demos.min.css")" />
                <link rel="stylesheet" type="text/css" href="@(SampleService.AssetsPath + "styles/common/devices.min.css")" media="(max-width: 1024px)" />
                if(!isBuild){
                    <link id="common-layout-style" rel="stylesheet" type="text/css" href="@(SampleService.AssetsPath + "styles/component-samples/demo-page-comps/fluent2.min.css")" />
                }
            }
        }
        else
        {
            @if (isNET10_0 || isNET9_0)
            {
                <link rel="stylesheet" type="text/css" href="@Assets[(SampleService.AssetsPath + "styles/bootstrap.min.css")]" />
                <link rel="stylesheet" type="text/css" href="@Assets[(SampleService.AssetsPath + "styles/common/highlight.css")]" />
                <link rel="stylesheet" type="text/css" href="@Assets[(SampleService.AssetsPath + "styles/common/demos.css")]" />
                <link rel="stylesheet" type="text/css" href="@Assets[(SampleService.AssetsPath + "styles/common/devices.css")]" media="(max-width: 1024px)" />
                if(!isBuild){
                    <link id="common-layout-style" rel="stylesheet" type="text/css" href="@Assets[(SampleService.AssetsPath + "styles/component-samples/demo-page-comps/fluent2.min.css")]" />
                }
            }
            else
            {
                <link rel="stylesheet" type="text/css" href="@(SampleService.AssetsPath + "styles/bootstrap.min.css")" />
                <link rel="stylesheet" type="text/css" href="@(SampleService.AssetsPath + "styles/common/highlight.css")" />
                <link rel="stylesheet" type="text/css" href="@(SampleService.AssetsPath + "styles/common/demos.css")" />
                <link rel="stylesheet" type="text/css" href="@(SampleService.AssetsPath + "styles/common/devices.css")" media="(max-width: 1024px)" />
                if(!isBuild){
                    <link id="common-layout-style" rel="stylesheet" type="text/css" href="@(SampleService.AssetsPath + "styles/component-samples/demo-page-comps/fluent2.min.css")" />
                }
            }
        }
    }
    <SampleMetaData @rendermode="@RenderMode.InteractiveWebAssembly" />
    @if (!SampleUtils.IsHomePage(Urihelper) && SampleService.IsOldTheme(SampleUtils.GetThemeName(Urihelper.Uri)) || !SampleUtils.IsHomePage(Urihelper) && isBuild)
    {
        <script>
            const theme = document.getElementById('common-layout-style');
            if (theme) {
                theme.disabled = true;
            }
        </script>
        @if (isNET10_0 || isNET9_0)
        {
            <link id="theme" href=@Assets[($"_content/Syncfusion.Blazor.Themes/{SampleUtils.GetThemeName(Urihelper.Uri)}.css")] rel="stylesheet" />
        }
        else
        {
            <link id="theme" href=@($"_content/Syncfusion.Blazor.Themes/{SampleUtils.GetThemeName(Urihelper.Uri)}.css") rel="stylesheet" />
        }
    }
    <DynamicResourceLoader @rendermode="@RenderMode.InteractiveWebAssembly" />
    @if (isNET9_0 || isNET10_0)
    {
        <ImportMap />
    }
</head>

<body class="@SampleUtils.GetThemeName(Urihelper.Uri)">
    <AddHeaderTag @rendermode="@RenderMode.InteractiveWebAssembly" />
    <div hidden id="sync-analytics" data-queue="EJ2 - Blazor - Demos"></div>
    <!-- Google Tag Manager (noscript) -->
    @if (!SampleUtils.IsLocalSample(Urihelper.BaseUri))
    {
        <!--Page Load-->
        <noscript>
            <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-P3WXFWCW" height="0" width="0" style="display:none;visibility:hidden"></iframe>
        </noscript>
        <!--Interaction-->
        <noscript>
            <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-W8WD8WN" height="0" width="0" style="display:none;visibility:hidden"></iframe>
        </noscript>
    }
    <!-- End Google Tag Manager (noscript) -->
    <Routes @rendermode="@(new InteractiveWebAssemblyRenderMode(true))" />
    @if (isNET10_0)
    {
        <script src="@Assets["_framework/blazor.web.js"]"></script>
    }
    else
    {
        <script src="_framework/blazor.web.js"></script>
    }
    @if (isDEBUG || isSTAGING)
    {
        @if (isNET10_0 || isNET9_0)
        {
            <script src="@Assets[(SampleService.AssetsPath + "scripts/common/index.js")]" defer></script>
        }
        else
        {
            <script src="@(SampleService.AssetsPath + "scripts/common/index.js")" defer></script>
        }
    }
    else
    {
        <script src="https://cdn.syncfusion.com/blazor/sb/scripts/32.1.19/index.min.js" defer></script>
    }
    <script>
        window.cultureInfo = {
            get: () => window.localStorage['BlazorCulture'],
            set: (value) => window.localStorage['BlazorCulture'] = value
        };
        function onCompStylesLoaded(hasScript){
            if(hasScript){
                setTimeout(() =>window.sfBlazorSB.dotnetRef.invokeMethodAsync('OnCompStylesLoaded'), 50);
            }
            else{
                setTimeout(() =>window.sfBlazorSB.dotnetRef.invokeMethodAsync('RefreshRightPane'), 50);
            }
        }
        function onCompScriptsLoaded(){
            setTimeout(() =>window.sfBlazorSB.dotnetRef.invokeMethodAsync('OnCompScriptsLoaded'), 1000);
        }
    </script>
</body>

</html>
