@page "/dialog/modal"

@using Syncfusion.Blazor.Popups
@using Syncfusion.Blazor.Buttons

@*Hidden:Lines*@
@inherits SampleBaseComponent
@*End:Hidden*@

<ActionDescription>
<p>
    This example demonstrates the modal behavior of the Blazor Dialog component. Choose the "Close on overlay" option from the property panel to decide whether the Dialog will be closed when clicking on the overlay. Click the "Open" button to display the Dialog again if it is closed.
  </p>
  <p>
    A modal prevents access to the parent application, ensuring that users must interact with the Blazor Dialog before continuing with the parent application.
  </p>
  <p>
    For more information about modal behavior in Dialog, refer to the <a target="_blank" rel="noopener" href="https://blazor.syncfusion.com/documentation/dialog/getting-started/" aria-label="Blazor Dialog Getting Started documentation">getting started documentation</a>.
  </p>
</ActionDescription>


<div class=" col-lg-8 control-section sb-property-border" id="target" style="height:350px;">
    <div>
        @if (this.ShowButton)
        {
            <button class="e-btn" @onclick="@OnButtonClick" aria-label="Open Dialog">Open</button>
        }
    </div>
    <SfDialog Width="335px" Target="#target" IsModal="true" @bind-Visible="Visibility">
        <DialogTemplates>
            <Header> Software Update </Header>
            <Content>
                <p>Your current software version is up to date.</p>
            </Content>
        </DialogTemplates>
        <DialogButtons>
            <DialogButton Content="OK" IsPrimary="true" OnClick="@DialogButtonClick" />
        </DialogButtons>
        <DialogEvents OnOpen="@DialogOpen" Closed="@DialogClose" OnOverlayModalClick="@OverlayClick"></DialogEvents>
        <DialogAnimationSettings Effect="@DialogEffect.None"></DialogAnimationSettings>
    </SfDialog>
</div>
<div class="col-lg-4 property-section">
    <table id="property" title="Properties">
        <tbody>
            <tr><td style="padding: 22px;font-weight: 600;font-size: 15px;"><b>Properties</b></td></tr>
            <tr>
                <td style="width:60%; padding: 27px;">
                    <div style="font-size:13px;">Close on overlay click</div>
                </td>
                <td>
                    <SfCheckBox @ref="CheckboxObj" Checked="false"></SfCheckBox>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<style>
    #target {
        max-height: 800px;
        height: 100%;
    }
</style>

@code {
    private SfCheckBox<bool>? CheckboxObj;
    private bool Visibility { get; set; } = true;
    private bool ShowButton { get; set; } = false;
    
    private void DialogOpen(Object args)
    {
        this.ShowButton = false;
    }

    private void DialogClose(Object args)
    {
        this.ShowButton = true;
    }

    private void OnButtonClick()
    {
        this.Visibility = true;
    }

    private void DialogButtonClick()
    {
        this.Visibility = false;
    }

    private void OverlayClick(OverlayModalClickEventArgs args)
    {
        if (this.CheckboxObj != null && (bool)this.CheckboxObj.Checked)
        {
            this.Visibility = false;
        }
        else
        {
            this.Visibility = true;
        }
    }
}
