@page "/Charts/DefaultFunctionalities"
@using Syncfusion.EJ2.RazorComponents.Charts

@*Hidden:Lines*@
@using ej2_blazor_samples
@{
    SampleBrowser.CurrentSampleName = "Line Chart";
    SampleBrowser.CurrentControlName = "Chart";
    SampleBrowser.CurrentControlCategory = "Chart";
    SampleBrowser.CurrentControl = SampleBrowser.Config.Chart;
    SampleBrowser.ActionDescription = new string[] {
        @"<p>
        This sample visualizes the consumer price data with default line series in the chart.
        Data points are enhanced with marker and tooltip
    </p>"
    };
    SampleBrowser.Description = new string[] {
        @"<p>
        In this example, you can see how to render and configure the line type charts. Line type charts are used to represent time-dependent data, showing trends in data at equal intervals.
        You can use <code>dashArray</code>, <code>width</code>, <code>fill</code> properties to customize the line. <code>marker</code> and <code>dataLabel</code> are used to represent individual data and its value.
    </p>
    <p>
        Tooltip is enabled in this example, to see the tooltip in action, hover a point or tap on a point in touch enabled devices.
    </p>
    <br>

    <p>
        More information on the line series can be found in this
        <a target=""_blank"" href=""http://ej2.syncfusion.com/documentation/chart/api-series.html#type-chartseriestype"">documentation section</a>.
    </p>"
    };
}
@*End:Hidden*@

<div class="control-section">
    <EjsChart id="charts" title="Inflation - Consumer Price" primaryXAxis="@xAxis" primaryYAxis="@yAxis" chartArea="@chartArea">
        <ChartTooltipsettings enable="true"></ChartTooltipsettings>
        <ChartSeriesCollection>
            <ChartSeries dataSource="@dataSource" name="Germany" xName="xValue" width="2"
                         opacity="1" yName="yValue" type="@type" marker="@marker">
            </ChartSeries>
            <ChartSeries dataSource="@dataSource1" name="England" xName="xValue" width="2"
                         opacity="1" yName="yValue1" type="@type" marker="@marker">
            </ChartSeries>
        </ChartSeriesCollection>
    </EjsChart>
</div>

@functions{

    public class LineChartData
    {
        public DateTime xValue;
        public double yValue;
        public double yValue1;
    }

    public Object xAxis = new
    {
        valueType = "DateTime",
        labelFormat = "y",
        intervalType = "Years",
        edgeLabelPlacement =  "Shift",
        majorGridLines = new { width = 0.0000001 }
    };

public Object chartArea = new  {
    border = new  { width = 0.00000001 }
};


    public Object yAxis = new
    {
        labelFormat = "{value}%",
        rangePadding = "None",
        minimum = 0,
        maximum = 100,
        interval = 20,
        lineStyle = new { width = 0.0000001
        },
        majorTickLines =  new { width = 0.000001 },
        minorTickLines = new { width = 0.000001 }
    };

    public Object tooltip = new
    {
        enable = true
    };

public object dataSource =  new List < object > {

                new LineChartData { xValue = new DateTime(2005, 01, 01), yValue = 21, yValue1 = 28 },
                new LineChartData { xValue = new DateTime(2006, 01, 01), yValue = 24, yValue1 = 44 },
                new LineChartData { xValue = new DateTime(2007, 01, 01), yValue = 36, yValue1 = 48 },
                new LineChartData { xValue = new DateTime(2008, 01, 01), yValue = 38, yValue1 = 50 },
                new LineChartData { xValue = new DateTime(2009, 01, 01), yValue = 54, yValue1 = 66 },
                new LineChartData { xValue = new DateTime(2010, 01, 01), yValue = 57, yValue1 = 78 },
                new LineChartData { xValue = new DateTime(2011, 01, 01), yValue = 70, yValue1 = 84 },
            };
public object dataSource1 =  new List < object > {

        new LineChartData { xValue = new DateTime(2005, 01, 01), yValue = 21, yValue1 = 28 },
        new LineChartData { xValue = new DateTime(2006, 01, 01), yValue = 24, yValue1 = 44 },
        new LineChartData { xValue = new DateTime(2007, 01, 01), yValue = 36, yValue1 = 48 },
        new LineChartData { xValue = new DateTime(2008, 01, 01), yValue = 38, yValue1 = 50 },
        new LineChartData { xValue = new DateTime(2009, 01, 01), yValue = 54, yValue1 = 66 },
        new LineChartData { xValue = new DateTime(2010, 01, 01), yValue = 57, yValue1 = 78 },
        new LineChartData { xValue = new DateTime(2011, 01, 01), yValue = 70, yValue1 = 84 },
        };
public object marker = new { visible = true, width = 10, height = 10};
public object marker1 = new { visible = true, width = 10, height = 10};
public ChartSeriesType type = ChartSeriesType.Line;
    public List<object>
    series { get; set; } = new List<object>
        {
        new { xName = "xValue", yName = "yValue", type = "Line", marker = new { visible = true, width = 10, height = 10}, name = "Germany", width = 2,
        dataSource =  new List < object > {

        new LineChartData { xValue = new DateTime(2005, 01, 01), yValue = 21, yValue1 = 28 },
        new LineChartData { xValue = new DateTime(2006, 01, 01), yValue = 24, yValue1 = 44 },
        new LineChartData { xValue = new DateTime(2007, 01, 01), yValue = 36, yValue1 = 48 },
        new LineChartData { xValue = new DateTime(2008, 01, 01), yValue = 38, yValue1 = 50 },
        new LineChartData { xValue = new DateTime(2009, 01, 01), yValue = 54, yValue1 = 66 },
        new LineChartData { xValue = new DateTime(2010, 01, 01), yValue = 57, yValue1 = 78 },
        new LineChartData { xValue = new DateTime(2011, 01, 01), yValue = 70, yValue1 = 84 },
        }
        },
        new { xName = "xValue", yName = "yValue1", type = "Line",  marker = new { visible = true, width = 10, height = 10}, name = "England", width = 2,
        dataSource =  new List < object > {

        new LineChartData { xValue = new DateTime(2005, 01, 01), yValue = 21, yValue1 = 28 },
        new LineChartData { xValue = new DateTime(2006, 01, 01), yValue = 24, yValue1 = 44 },
        new LineChartData { xValue = new DateTime(2007, 01, 01), yValue = 36, yValue1 = 48 },
        new LineChartData { xValue = new DateTime(2008, 01, 01), yValue = 38, yValue1 = 50 },
        new LineChartData { xValue = new DateTime(2009, 01, 01), yValue = 54, yValue1 = 66 },
        new LineChartData { xValue = new DateTime(2010, 01, 01), yValue = 57, yValue1 = 78 },
        new LineChartData { xValue = new DateTime(2011, 01, 01), yValue = 70, yValue1 = 84 },
        }
        }
        };

        }
