@page "/TreeMap/Drilldown"


@using Syncfusion.EJ2.Blazor.TreeMap
@using Syncfusion.EJ2.Blazor.DropDowns
@using Syncfusion.EJ2.Blazor.Buttons

@*Hidden:Lines*@
@using ej2_blazor_samples
@{
        SampleBrowser.CurrentSampleName = "Drilldown";
        SampleBrowser.CurrentControlName = "TreeMap";
        SampleBrowser.CurrentControlCategory = "TreeMap";
        SampleBrowser.CurrentControl = SampleBrowser.Config.TreeMap;
        SampleBrowser.ActionDescription = new string[] {
        @"<p>
        This sample demonstrates drill-down with the continents at the top level followed by regions and countries. By clicking a continent, you can view all the countries available in that continent clearly. Customizations can be done in the treemap, by using the options in the properties panel
    </p>"
    };
        SampleBrowser.Description = new string[] {
        @"<p>
        In this example, you can see how to render a TreeMap with multiple items and drill it further. Change the drill down view and enable the breadcrumb using the options available in the properties panel.
    </p>
    <p>
        Tooltip is enabled in this example. To see the tooltip in action, hover the mouse over an item or tap an item in touch enabled devices.
    </p> "
    };
}
@*End:Hidden*@
    <div class="col-lg-9 control-section sb-property-border">
        <div>
            <EjsTreeMap WeightValuePath=Population Format="n" UseGroupingSeparator="true" EnableDrillDown="true" DrillDownView="@drilldowncheckboxvalue" EnableBreadcrumb="@breadcheckboxvalue" BreadcrumbConnector="@breadcrumbConnector" Palette="@palette"
                        DataSource="@DataSource">
                <TreeMapTitleSettings Text="List of countries by population">
                    <TreeMapTitleTextStyle Size="15px"></TreeMapTitleTextStyle>
                </TreeMapTitleSettings>
                <TreeMapLeafItemSettings LabelPath=Name Fill="6699cc" ShowLabels="false">
                    <TreeMapLeafLabelStyle Size="0px"></TreeMapLeafLabelStyle>
                    <TreeMapLeafBorder Color="Black" Width="0.5">
                    </TreeMapLeafBorder>
                </TreeMapLeafItemSettings>
                <TreeMapLevels>
                    <TreeMapLevel GroupPath="Continent" HeaderAlignment="@header">
                        <TreeMapLevelBorder Color="Black" Width="0.5" ></TreeMapLevelBorder>
                    </TreeMapLevel>
                    <TreeMapLevel GroupPath=States HeaderAlignment="@header">
                        <TreeMapLevelBorder Color="Black" Width="0.5"></TreeMapLevelBorder>
                    </TreeMapLevel>
                    <TreeMapLevel GroupPath="Region" ShowHeader="false" HeaderAlignment="@label">
                        <TreeMapLevelBorder Color="Black" Width="0.5"></TreeMapLevelBorder>
                    </TreeMapLevel>
                </TreeMapLevels>

                <TreeMapTooltipSettings Visible="true" Format="${Name} = ${Population}"></TreeMapTooltipSettings>
            </EjsTreeMap>
        </div>
        <div style="float:right; margin-right:10px;">
            Source:
            <a href=" https=//en.wikipedia.org/wiki/United_States_presidential_election,_2016" target="_blank">en.wikipedia.org</a>
        </div>
    </div>
    <div class="col-lg-3 property-section">
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<br>
        <div class="property-panel-section">
            <div class="property-panel-header">Properties</div>
            <div class="property-panel-content">
                <table style="width:100%" title="Properties">
                    <tbody>
                        <tr style="height: 35px">
                            <td style="width: 70%" class="property-text">
                                Drilldown View
                            </td>
                            <td style="width: 50%">
                                <EjsCheckBox Checked="@drilldowncheckboxvalue" ValueChange="drilldownEnable"></EjsCheckBox>
                            </td>
                        </tr>
                        <tr style="height: 35px">
                            <td style="width: 70%" class="property-text">
                                Enable Breadcrumb
                            </td>
                            <td style="width: 50%">
                                <EjsCheckBox Checked="@breadcheckboxvalue" ValueChange="breadEnable"></EjsCheckBox>
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 70%">
                                <div class="property-text">Breadcrumb Connector</div>
                            </td>
                            <td style="width: 70%;">
                                <div>
                                    <input type="text" value=' - ' disabled=@disabled @onchange="breadcrumbChange" style="width:70px;margin-left:10px" />
                                </div>
                            </td>
                        </tr>
                        <tr style="height: 35px">
                            <td style="width: 70%">
                                Header Alignment
                            </td>
                            <td style="width: 50%">
                                <EjsDropDownList Placeholder="Select smartlabel mode" DataSource="@HeaderAlignment" Value="@headerAlignmentValue" Width="120px">
                                    <DropDownListEvents TValue="string" ValueChange="headerAlignmentvaluechange"></DropDownListEvents>
                                    <DropDownListFieldSettings Text="Name" Value="Value"></DropDownListFieldSettings>
                                </EjsDropDownList>
                            </td>
                        </tr>
                        <tr style="height: 35px">
                            <td style="width: 70%" class="property-text">
                                Label Alignment
                            </td>
                            <td style="width: 50%">
                                <EjsDropDownList Placeholder="Select intersect action" DataSource="@LabelAlignment" Value="@labelAlignmentValue" Width="120px">
                                    <DropDownListEvents TValue="string" ValueChange="@labelAlignmentvaluechange"></DropDownListEvents>
                                    <DropDownListFieldSettings Text="Name" Value="Value"></DropDownListFieldSettings>
                                </EjsDropDownList>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
@code {
    public Boolean drilldowncheckboxvalue;
    public string breadcrumbConnector = "-";
    public Boolean disabled = true;
    public Boolean breadcheckboxvalue;
    public Syncfusion.EJ2.Blazor.TreeMap.Alignment label = Syncfusion.EJ2.Blazor.TreeMap.Alignment.Near;
    public Syncfusion.EJ2.Blazor.TreeMap.Alignment header = Syncfusion.EJ2.Blazor.TreeMap.Alignment.Near;
    public string labelAlignmentValue = "Near";
    public string headerAlignmentValue = "Near";
    public void headerAlignmentvaluechange(Syncfusion.EJ2.Blazor.DropDowns.ChangeEventArgs<string> args)
    {
        headerAlignmentValue = args.Value;
        if (args.Value == "Near")
        {
            header = Syncfusion.EJ2.Blazor.TreeMap.Alignment.Near;
        }
        else if (args.Value == "Far")
        {
            header = Syncfusion.EJ2.Blazor.TreeMap.Alignment.Far;
        }
        else
        {
            header = Syncfusion.EJ2.Blazor.TreeMap.Alignment.Center;
        }
    }
    public void breadcrumbChange(Microsoft.AspNetCore.Components.ChangeEventArgs args) {
        breadcrumbConnector = args.Value.ToString();
    }
    public void labelAlignmentvaluechange(Syncfusion.EJ2.Blazor.DropDowns.ChangeEventArgs<string> args)
    {
        labelAlignmentValue = args.Value;
        if (args.Value == "Near")
        {
            label = Syncfusion.EJ2.Blazor.TreeMap.Alignment.Near;
        }
        else if (args.Value == "Far")
        {
            label = Syncfusion.EJ2.Blazor.TreeMap.Alignment.Far;
        }
        else
        {
            label = Syncfusion.EJ2.Blazor.TreeMap.Alignment.Center;
        }
    }
    public class DropDownList
    {
        public string Value { get; set; }
        public string Name { get; set; }
    };
    public List<DropDownList> HeaderAlignment = new List<DropDownList> {
        new DropDownList { Value="Near", Name="Near" },
        new DropDownList { Value="Far", Name="Far" },
        new DropDownList { Value="Center", Name="Center" }
    };
     public List<DropDownList> LabelAlignment = new List<DropDownList> {
        new DropDownList { Value="Near", Name="Near" },
        new DropDownList { Value="Far", Name="Far" },
        new DropDownList { Value="Center", Name="Center" }
    };
    public void drilldownEnable(Syncfusion.EJ2.Blazor.Buttons.ChangeEventArgs args)
    {
        drilldowncheckboxvalue = args.Checked;
    }
    public void breadEnable(Syncfusion.EJ2.Blazor.Buttons.ChangeEventArgs args)
    {
        breadcheckboxvalue = args.Checked;
        disabled = (breadcheckboxvalue == true) ? false: true;
    }
    public String[] palette = new String[] { "#9999ff", "#CCFF99", "#FFFF99", "#FF9999", "#FF99FF", "#FFCC66" };
    public List<object> DataSource { get; set; } = new List<object> {
         new { Continent= new List<object> {
       new { Name= "Africa",Population= 1216130000, States= new List<object> {
          new  { Name= "Eastern Africa",Population=410637987, Region=new List<object> {
               new { Name="Ethiopia", Population= 107534882},
                new { Name="Tanzania", Population= 59091392},
                new { Name="Kenya", Population= 50950879},
                new { Name="Uganda", Population= 44270563},
                new { Name="Mozambique", Population= 30528673},
                new { Name="Madagascar", Population= 26262810},
                new { Name="Malawi", Population= 19164728},
                new { Name="Zambia", Population= 17609178},
                new { Name="Zimbabwe", Population= 16913261},
                new { Name="Somalia", Population= 15181925},
                new { Name="South, Sudan", Population= 12919053},
                new { Name="Rwanda", Population= 12501156},
                new { Name="Burundi", Population= 11216450},
                new { Name="Eritrea", Population= 5187948},
                new { Name="Mauritius", Population= 1268315},
                new { Name="Djibouti", Population= 971408},
                new { Name="Réunion", Population= 883247},
                new { Name="Comoros", Population= 832347},
                new { Name="Mayotte", Population= 259682},
                new { Name="Seychelles", Population= 95235}
            }  },

       new { Name= "Middle Africa",Population=158562976, Region=new List<object> {
                new { Name="Democratic, Republic of the Congo", Population= 84004989},
                new { Name="Angola", Population= 30774205},
                new { Name="Cameroon", Population= 24678234},
                new { Name="Chad", Population= 15353184},
                new { Name="Congo", Population= 5399895},
                new { Name="Central African, Republic", Population= 4737423},
                new { Name="Gabon", Population= 2067561},
                new { Name="Equatorial Guinea", Population= 1313894},
                new { Name="Sao Tome and Principe", Population= 208818}
            } },
        new { Name= "Northern Africa",Population=229385603, Region= new List<object> {
                new { Name="Egypt", Population= 99375741},
                new { Name="Algeria", Population= 42008054},
                new { Name="Sudan", Population= 41511526},
                new { Name="Morocco", Population= 36191805},
                new { Name="Tunisia", Population= 11659174},
                new { Name="Libya", Population= 6470956},
                new { Name="Western, Sahara", Population= 567421}
            } },
        new { Name= "Southern Africa",Population=64292365, Region=new List<object> {
                new { Name="South Africa", Population= 57398421},
                new { Name="Namibia", Population= 2587801},
                new { Name="Botswana", Population= 2333201},
                new { Name="Lesotho", Population= 2263010},
                new { Name="Swaziland", Population= 1391385}
            } },
        new { Name= "Western Africa", Population=362201579, Region=new List<object> {
                new { Name="Nigeria", Population= 195875237},
                new { Name="Ghana", Population= 29463643},
                new { Name="Côte d'Ivoire", Population= 24905843},
                new { Name="Niger", Population= 22311375},
                new { Name="Burkina Faso", Population= 19751651},
                new { Name="Mali", Population= 19107706},
                new { Name="Senegal", Population= 16294270},
                new { Name="Guinea", Population= 13052608},
                new { Name="Benin", Population= 11485674},
                new { Name="Togo", Population= 7990926},
                new { Name="Sierra Leone", Population= 7719729},
                new { Name="Liberia", Population= 4853516},
                new { Name="Mauritania", Population= 4540068},
                new { Name="Gambia", Population= 2163765},
                new { Name="Guinea-Bissau", Population= 1907268},
                new { Name="Cabo Verde", Population= 553335},
                new { Name="Saint Helena", Population= 4074},
                new { Name="Mayotte", Population= 259682},
                new { Name="Seychelles", Population= 95235}
            } }
       }
         }
    }

},
      new { Continent=new List<object> {
        new { Name= "Asia", Population=4436224000, States=new List<object> {
            new { Name= "Central Asia", Population= 69787760,Region=new List<object> {
                new { Name="Uzbekistan", Population= 32364996 },
                new { Name="Kazakhstan", Population= 18403860 },
                new { Name="Tajikistan", Population= 9107211 },
                new { Name="Kyrgyzstan", Population= 6132932 },
                new { Name="Turkmenistan", Population= 5851466 }
            } },
            new { Name= "Eastern Asia", Population=1641908531,Region=new List<object> {
                new { Name="China", Population= 1415045928},
                new { Name="Japan", Population=  127185332 },
                new { Name="South Korea", Population=   51164435 },
                new { Name="North Korea", Population=25610672 },
                new { Name="Taiwan", Population= 23694089 },
                new { Name="Hong Kong", Population= 7428887 },
                new { Name="Mongolia", Population= 3121772},
                new { Name="Macao", Population= 632418 }
            }  },
            new { Name= "Southeastern Asia", Population=641775797,Region= new List<object> {
                new { Name="Indonesia", Population=  266794980 },
                new { Name="Philippines", Population=    106512074 },
                new { Name="Viet Nam", Population=   96491146 },
                new { Name="Thailand", Population=   69183173 },
                new { Name="Myanmar", Population=    53855735 },
                new { Name="Malaysia", Population=   32042458 },
                new { Name="Cambodia", Population=   16245729 },
                new { Name="Laos", Population=   6961210 },
                new { Name="Singapore", Population=  5791901},
                new { Name="Timor-Leste", Population=    1324094},
                new { Name="Brunei Darussalam", Population=  434076}
            }  },
            new { Name= "Southern Asia", Population= 1846266634,Region= new List<object> {
                new { Name="India", Population=  1354051854},
                new { Name="Pakistan", Population=   200813818},
                new { Name="Bangladesh", Population=     166368149},
                new { Name="Iran", Population=   82011735},
                new { Name="Afghanistan", Population=    36373176},
                new { Name="Nepal", Population=  29624035},
                new { Name="Sri Lanka", Population=  20950041},
                new { Name="Bhutan", Population=     817054},
                new { Name="Maldives", Population=   444259}
            }},
            new { Name= "Western Asia", Population=262938009,Region= new List<object> {
                new { Name="Turkey", Population= 81916871},
                new { Name="Iraq", Population= 39339753},
                new { Name="Saudi Arabia", Population= 33554343},
                new { Name="Yemen", Population= 28915284},
                new { Name="Syria", Population= 18284407},
                new { Name="Azerbaijan", Population= 9923914},
                new { Name="Jordan", Population= 9903802},
                new { Name="United Arab Emirates", Population= 9541615},
                new { Name="Israel", Population= 8452841},
                new { Name="Lebanon", Population= 6093509},
                new { Name="State of Palestine", Population= 5052776},
                new { Name="Oman", Population= 4829946},
                new { Name="Kuwait", Population= 4197128},
                new { Name="Georgia", Population= 3907131},
                new { Name="Armenia", Population= 2934152},
                new { Name="Qatar", Population= 2694849},
                new { Name="Bahrain", Population= 1566993},
                new { Name="Cyprus", Population= 1189085}
            } }
       }
        }}
    },
      new { Continent=new List<object> {
        new { Name= "North America", Population=579024000, States=new List<object> {

        new { Name="Central America", Population=174988756 , Region=new List<object> {
            new { Name="Mexico", Population= 130759074 },
            new { Name="Guatemala", Population= 17245346 },
            new { Name="Honduras", Population= 9417167 },
            new { Name="El, Salvador", Population= 6411558},
            new { Name="Nicaragua", Population= 6284757 },
            new { Name="Costa, Rica", Population= 4953199},
            new { Name="Panama", Population= 4162618 },
            new { Name="Belize", Population= 382444 }
       }},
        new { Name="Northern America", Population=358593810, Region=new List<object> {
            new { Name="U.S.", Population= 322179605 },
            new { Name="Canada", Population=36953765},
            new { Name="Bermuda", Population=61070  },
            new { Name="Greenland", Population=56565},
            new { Name="Saint Pierre & Miquelon", Population=6342   }
        }}
      }
        }}
    },
      new { Continent=new List<object> {
        new { Name= "Europe", Population=738849000, States=new List<object> {
        new { Name="Eastern Europe", Population=291953328, Region=new List<object> {
            new { Name="Russia", Population=143964709 },
            new { Name="Ukraine", Population= 44009214},
            new { Name="Poland", Population=38104832 },
            new { Name="Romania", Population=19580634 },
            new { Name="Crech, Republic", Population=10625250 },
            new { Name="Hungary", Population=9688847 },
            new { Name="Belarus", Population=9452113 },
            new { Name="Bulgaria", Population= 7036848},
            new { Name="Slovakia", Population= 5449816},
            new { Name="Moldova", Population=4041065 }
        } },
        new { Name="Northern Europe", Population=103642971, Region=new List<object> {
            new { Name="United Kingdom", Population= 66573504},
            new { Name="Sweden", Population= 9982709},
            new { Name="Denmark", Population= 5754356},
            new { Name="Finland", Population= 5542517},
            new { Name="Norway", Population= 5353363},
            new { Name="Ireland", Population= 4803748},
            new { Name="Lithuania", Population= 2876475},
            new { Name="Latvia", Population= 1929938},
            new { Name="Estonia", Population= 1306788},
            new { Name="Iceland", Population= 337780},
            new { Name="Channel Islands", Population= 166083},
            new { Name="Isle of Man", Population= 84831},
            new { Name="Faeroe Islands", Population= 49489}
        } },
        new { Name="Southern Europe", Population=152172107, Region=new List<object> {
            new { Name="Italy",Population=  59290969 },
            new { Name="Spain",Population=  46397452},
            new { Name="Greece",Population=  11142161 },
            new { Name="Portugal",Population=  10291196},
            new { Name="Serbia",Population=  8762027 },
            new { Name="Croatia",Population=  4164783 },
            new { Name="Bosnia and Herzegovina",Population=  3503554 },
            new { Name="Albania",Population=  2934363 },
            new { Name="Macedonia",Population=  2085051 },
            new { Name="Slovenia",Population=  2081260 },
            new { Name="Montenegro",Population=  629219},
            new { Name="Malta",Population=  432089 },
            new { Name="Andorra",Population=  76953 },
            new { Name="Gibraltar",Population=  34733 },
            new { Name="San Marino",Population=  33557 },
            new { Name="Holy, See",Population=  801 }
        }},
        new { Name="Western Europe", Population=92746859, Region=new List<object> {
            new { Name="Germany", Population= 82293457 },
            new { Name="France", Population= 65233271 },
            new { Name="Netherlands", Population= 17084459 },
            new { Name="Belgium", Population= 11498519 },
            new { Name="Austria", Population= 8751820 },
            new { Name="Switzerland", Population= 8544034 },
            new { Name="Luxembourg", Population= 590321 },
            new { Name="Monaco", Population= 38897 },
            new { Name="Liechtenstein", Population= 38155 }
        }}
      }
    }}
    }

         };
        }