@page "/TreeMap/Selection"


@using Syncfusion.EJ2.Blazor.TreeMap
@using Syncfusion.EJ2.Blazor.DropDowns
@using Syncfusion.EJ2.Blazor.Buttons

@*Hidden:Lines*@
@using ej2_blazor_samples
@{
    SampleBrowser.CurrentSampleName = "Selection";
    SampleBrowser.CurrentControlName = "TreeMap";
    SampleBrowser.CurrentControlCategory = "TreeMap";
    SampleBrowser.CurrentControl = SampleBrowser.Config.TreeMap;
    SampleBrowser.ActionDescription = new string[] {
        @"<p>
        This sample depicts the details of goods imported by Japan. Selection and highlight options have been enabled in this sample.
    </p>"
    };
    SampleBrowser.Description = new string[] {
        @"<p>
        In this example, you can see the modes available for performing highlight and selection in TreeMap. It can be either enabled or disabled.
    </p>
    <br />
    <p style=""font-weight: 500"">Injecting Module</p>
    <p>
         TreeMap component features are segregated into individual feature-wise modules. To use highlight and selection, inject the <code>Selection</code> module using the <code>TreeMap.Inject(TreeMapSelection)</code>inject the <code>Highlight</code> module using the <code>TreeMap.Inject(TreeMapHighlight)</code> method.
    </ p > "
    };
}
@*End:Hidden*@

<div class="col-lg-9 control-section sb-property-border">
    <div class="control-section">
        <div>
            <EjsTreeMap ID="container" WeightValuePath="sales"
                        DataSource="@Datasource" TValue="ImportExportData">
                <TreeMapTitleSettings Text="Import and Export details of US">
                </TreeMapTitleSettings>
                <TreeMapLevels>
                    <TreeMapLevel GroupPath="dataType" Fill="#c5e2f7" GroupGap="5" HeaderAlignment="@Syncfusion.EJ2.Blazor.TreeMap.Alignment.Center">
                        <TreeMapHeaderStyle Size="16px"></TreeMapHeaderStyle>
                    </TreeMapLevel>
                    <TreeMapLevel GroupPath="product" Fill="#a4d1f2" GroupGap="2" HeaderAlignment="@Syncfusion.EJ2.Blazor.TreeMap.Alignment.Center">
                    </TreeMapLevel>
                </TreeMapLevels>
                <TreeMapLeafItemSettings LabelPath="type" Fill="#8ebfe2" LabelPosition="@Syncfusion.EJ2.Blazor.TreeMap.LabelPosition.Center"
                                         Gap="10">
                </TreeMapLeafItemSettings>
                <TreeMapSelectionSettings Enable="@selectioncheckbox" Fill="#58a0d3" Opacity="1" Mode="@selectionModeValue">
                    <TreeMapSelectionBorder Width="0.3" Color="Black"></TreeMapSelectionBorder>
                </TreeMapSelectionSettings>
                <TreeMapHighlightSettings Enable="@highlightcheckboxvalue" Fill="#71b0dd" Opacity="1" Mode="@highlightModeValue">
                    <TreeMapHighlightBorder Width="0.3" Color="Black"></TreeMapHighlightBorder>
                </TreeMapHighlightSettings>
            </EjsTreeMap>
        </div>
    </div>
    <div style="float: right; margin-right: 10px;">
        Source:
        <a href="https://www.indexmundi.com/united_states/imports_commodities.html" target="_blank">Swww.indexmundi.com</a>
    </div>
</div>
<div class="col-lg-3 property-section">
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<br>
    <div class="property-panel-section">
        <div class="property-panel-header">Properties</div>
        <div class="property-panel-content">
            <table style="width:100%" title="Properties">
                <tbody>
                    <tr style="height: 35px">
                        <td style="width: 50%">
                            <div class="property-text"><b>Highlight</b></div>
                        </td>

                    </tr>
                    <tr style="height: 35px">
                        <td style="width: 70%" class="property-text">
                            Enable
                        </td>
                        <td style="width: 50%">
                            <EjsCheckBox Checked="@highlightcheckboxvalue" ValueChange="highlightValue"></EjsCheckBox>
                        </td>
                    </tr>
                    <tr style="height: 35px">
                        <td style="width: 70%" class="property-text">
                            Mode
                        </td>
                        <td style="width: 50%">
                            <EjsDropDownList Placeholder="Select smartlabel mode" DataSource="@HighlightMode" Value="@highlight" Width="80px">
                                <DropDownListEvents TValue="string" ValueChange="highlightModeValueChange"></DropDownListEvents>
                                <DropDownListFieldSettings Text="Name" Value="Value"></DropDownListFieldSettings>
                            </EjsDropDownList>
                        </td>
                    </tr>
                    <tr style="height: 35px">
                        <td style="width: 50%">
                            <div class="property-text"><b>Selection</b></div>
                        </td>

                    </tr>
                    <tr style="height: 35px">
                        <td style="width: 70%" class="property-text">
                            Enable
                        </td>
                        <td style="width: 50%">
                            <EjsCheckBox Checked="@selectioncheckbox" ValueChange="selectionValueChange"></EjsCheckBox>
                        </td>
                    </tr>
                    <tr style="height: 35px">
                        <td style="width: 70%" class="property-text">
                            Mode
                        </td>
                        <td style="width: 50%">
                            <EjsDropDownList Placeholder="Select smartlabel mode" DataSource="@HighlightMode" Value="@selectionValue" Width="80px">
                                <DropDownListEvents TValue="string" ValueChange="selectionModeValueChange"></DropDownListEvents>
                                <DropDownListFieldSettings Text="Name" Value="Value"></DropDownListFieldSettings>
                            </EjsDropDownList>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
@code{
    public Boolean highlightcheckboxvalue = true;
    public HighLightMode highlightModeValue = HighLightMode.Item;
    public string highlight = "Item";
    public Boolean selectioncheckbox = true;
    public Syncfusion.EJ2.Blazor.TreeMap.SelectionMode selectionModeValue = Syncfusion.EJ2.Blazor.TreeMap.SelectionMode.Item;
    public string selectionValue = "Item";
    public void highlightValue(Syncfusion.EJ2.Blazor.Buttons.ChangeEventArgs args)
    {
        highlightcheckboxvalue = args.Checked;
    }
    public void selectionValueChange(Syncfusion.EJ2.Blazor.Buttons.ChangeEventArgs args)
    {
        selectioncheckbox = args.Checked;
    }
    public class DropdownList
    {
        public string Value { get; set; }
        public string Name { get; set; }
    };
    public List<DropdownList> HighlightMode = new List<DropdownList> {
        new DropdownList { Value="Item", Name="Item" },
        new DropdownList { Value="Child", Name="Child" },
        new DropdownList { Value="Parent", Name="Parent" },
        new DropdownList { Value="All", Name="All" }
    };
    public void highlightModeValueChange(Syncfusion.EJ2.Blazor.DropDowns.ChangeEventArgs<string> args)
    {
        highlight = args.Value;
        if (args.Value == "Item")
        {
            highlightModeValue = HighLightMode.Item;
        }
        else if (args.Value == "Child")
        {
            highlightModeValue = HighLightMode.Child;
        }
        else if (args.Value == "Parent")
        {
            highlightModeValue = HighLightMode.Parent;
        }
        else
        {
            highlightModeValue = HighLightMode.All;
        }
    }
    public void selectionModeValueChange(Syncfusion.EJ2.Blazor.DropDowns.ChangeEventArgs<string> args)
    {
        selectionValue = args.Value;
        if (args.Value == "Item")
        {
            selectionModeValue = Syncfusion.EJ2.Blazor.TreeMap.SelectionMode.Item;
        }
        else if (args.Value == "Child")
        {
            selectionModeValue = Syncfusion.EJ2.Blazor.TreeMap.SelectionMode.Child;
        }
        else if (args.Value == "Parent")
        {
            selectionModeValue = Syncfusion.EJ2.Blazor.TreeMap.SelectionMode.Parent;
        }
        else
        {
            selectionModeValue = Syncfusion.EJ2.Blazor.TreeMap.SelectionMode.All;
        }
    }

    public class ImportExportData
    {
        public string dataType;
        public string product;
        public double sales;
        public string type;
    }

    public List<ImportExportData> Datasource = new List<ImportExportData> {
        new ImportExportData{ dataType= "Import", type="Animal products",product="2010", sales= 20839332874 ,},
        new ImportExportData{ dataType= "Import", type="Animal products",product="2011",  sales= 23098635589 },
        new ImportExportData{ dataType= "Import", type="Chemical products",product="2010",  sales=141637951510 },
        new ImportExportData{ dataType= "Import", type="Chemical products",product="2011",  sales=161550338209  },
        new ImportExportData{ dataType= "Import",  type="Base metals",product="2010",  sales= 86079439944 },
        new ImportExportData{ dataType= "Import",  type="Base metals",product="2011",  sales= 103821671535 },
        new ImportExportData{ dataType= "Import",  type="Textile articles",product="2010",  sales= 97126140830 },
        new ImportExportData{ dataType= "Import",  type="Textile articles",product="2011",  sales= 104980750811 },
        new ImportExportData{ dataType= "Export",   type="Animal products",product="2010",  sales= 15845503378  },
        new ImportExportData{ dataType= "Export", type="Animal products",product="2011" ,  sales= 20650111620 },
        new ImportExportData{ dataType= "Export", type="Chemical products",product="2010" ,  sales=136100054087 },
        new ImportExportData{ dataType= "Export",  type="Chemical products",product="2011",  sales=146341672411  },
        new ImportExportData{ dataType= "Export", type="Base metals",product="2010" ,  sales= 59060592813  },
        new ImportExportData{ dataType= "Export",  type="Base metals",product="2011",  sales= 71785882641 },
        new ImportExportData{ dataType= "Export", type="Textile articles",product="2010" ,  sales=20982380561  },
        new ImportExportData{ dataType= "Export", type="Textile articles",product="2011",  sales=26016143783   },
    };
}