@page "/TreeMap/Tooltip"

@using Syncfusion.EJ2.Blazor.TreeMap

@*Hidden:Lines*@
@using ej2_blazor_samples
@{
    SampleBrowser.CurrentSampleName = "Tooltip";
    SampleBrowser.CurrentControlName = "TreeMap";
    SampleBrowser.CurrentControlCategory = "TreeMap";
    SampleBrowser.CurrentControl = SampleBrowser.Config.TreeMap;
    SampleBrowser.ActionDescription = new string[] {
        @"<p>
            This sample depicts the count of International airports in various countries in South America. On hover, the items details will be displayed in tooltip template.
        </p>"
    };
    SampleBrowser.Description = new string[] {
        @"<p>
            In this example, you can see how to apply equal color mapping and apply colors for treemap items based on certain value.
        </p>
        <p>
            Tooltip template is enabled in this example. To see the tooltip in action, hover the mouse over an item or tap an item in touch enabled devices.
        </p>"
    };
}
@*End:Hidden*@

<div class="control-section">
    <div>
        <EjsTreeMap TValue="AirPortDetails" WeightValuePath="Count"
                    EqualColorValuePath="Count" DataSource="@DataSource" ModelType="@DataSource">
            <TreeMapTitleSettings Text="Country wise International Airport count in South America">
            </TreeMapTitleSettings>
            <TreeMapLeafItemSettings ShowLabels="true"
                                     LabelPath="State" Fill="6699cc"
                                     LabelPosition="@Syncfusion.EJ2.Blazor.TreeMap.LabelPosition.Center">
                <TreeMapLeafColorMappings>
                    <TreeMapLeafColorMapping Value="25" Color="@("#634D6F")"></TreeMapLeafColorMapping>
                    <TreeMapLeafColorMapping Value="12" Color="@("#B34D6D")"></TreeMapLeafColorMapping>
                    <TreeMapLeafColorMapping Value="9" Color="@("#557C5C")"></TreeMapLeafColorMapping>
                    <TreeMapLeafColorMapping Value="7" Color="@("#44537F")"></TreeMapLeafColorMapping>
                    <TreeMapLeafColorMapping Value="6" Color="@("#637392")"></TreeMapLeafColorMapping>
                    <TreeMapLeafColorMapping Value="3" Color="@("#7C754D")"></TreeMapLeafColorMapping>
                    <TreeMapLeafColorMapping Value="2" Color="@("#2E7A64")"></TreeMapLeafColorMapping>
                    <TreeMapLeafColorMapping Value="1" Color="@("#95659A")"></TreeMapLeafColorMapping>
                </TreeMapLeafColorMappings>
                <TreeMapLeafBorder Color="white" Width="1">
                </TreeMapLeafBorder>
            </TreeMapLeafItemSettings>
            <TreeMapLegendSettings Visible="true"
                                   Position="@Syncfusion.EJ2.Blazor.TreeMap.LegendPosition.Top"
                                   Shape="@Syncfusion.EJ2.Blazor.TreeMap.LegendShape.Rectangle">
            </TreeMapLegendSettings>
            <TreeMapTooltipSettings Visible="true">
                <TooltipTemplate>
                    @{
                        var counts = (context as AirPortDetails);
                            <div style="border-radius: 5px;padding-left: 10px;padding-right: 10px;padding-bottom: 6px;padding-top: 6px;background: #EFEFEF;height: 45px;width: 140px; border: 1px #919191;box-shadow: 0px, 2px;">
                                <div id="airplaneicon" >
                                      <img src="styles/images/treemap/airplane.svg" height="32" width="32" style="float:left;height:32px;width:32px;background-repeat: no-repeat;"/>
                                </div>
                                <div id="value" style="float:left;margin-top:-27px;margin-left:33px; Roboto-Bold;font-size: 16px;">
                                    <span id="label" style="margin-left: -5px;padding-left: 8px; color: #5D5D5D;font-family: Roboto-Regular; font-size: 16px;">Airports:</span>
                                    <b style="margin-left: 5px">@counts.Count</b>
                                </div>
                            </div>
                    }
                </TooltipTemplate>             
            </TreeMapTooltipSettings>
        </EjsTreeMap>
    </div>
    <div style="float: right; margin-right: 10px;">
        Source:
        <a href="https://en.wikipedia.org/wiki/List_of_international_airports_by_country" target="_blank">en.wikipedia.org</a>
    </div>
</div>

<style class="cssStyles">
    #airplaneicon {
        background-image: url("styles/image/treemap/airplane.svg");
        background-repeat: no-repeat;
    }

    #displayAirports {
        border-radius: 5px;padding-left: 10px;padding-right: 10px;padding-bottom: 6px;padding-top: 6px;background: #EFEFEF;height: 45px;width: 140px; border: 1px #919191;box-shadow: 0px, 2px;
    }

    #value {
        margin-top: 5px;
        color: #585C60;
        font-family: Roboto-Bold;
        font-size: 16px;
    }

    #label {
        padding-left: 8px;
        color: #5D5D5D;
        font-family: Roboto-Regular;
        font-size: 16px;
    }
</style>

@code {

    public class AirPortDetails
    {
        public string Title;
        public string State;
        public double Count;
    }

    public List<AirPortDetails> DataSource = new List<AirPortDetails> {
        new AirPortDetails { Title= "State wise International Airport count in South America", State= "Brazil", Count= 25 },
        new AirPortDetails { Title= "State wise International Airport count in South America", State= "Colombia", Count= 12 },
        new AirPortDetails { Title= "State wise International Airport count in South America", State= "Argentina", Count= 9 },
        new AirPortDetails { Title= "State wise International Airport count in South America", State= "Ecuador", Count= 7 },
        new AirPortDetails { Title= "State wise International Airport count in South America", State= "Chile", Count= 6 },
        new AirPortDetails { Title= "State wise International Airport count in South America", State= "Peru", Count= 3 },
        new AirPortDetails { Title= "State wise International Airport count in South America", State= "Venezuela", Count= 3 },
        new AirPortDetails { Title= "State wise International Airport count in South America", State= "Bolivia", Count= 2 },
        new AirPortDetails { Title= "State wise International Airport count in South America", State= "Paraguay", Count= 2 },
        new AirPortDetails { Title= "State wise International Airport count in South America", State= "Uruguay", Count= 2 },
        new AirPortDetails { Title= "State wise International Airport count in South America", State= "Falkland Islands", Count= 1 },
        new AirPortDetails { Title= "State wise International Airport count in South America", State= "French Guiana", Count= 1 },
        new AirPortDetails { Title= "State wise International Airport count in South America", State= "Guyana", Count= 1 },
        new AirPortDetails { Title= "State wise International Airport count in South America", State= "Suriname", Count= 1 },
    };
}

<style>
    #airplaneicon {
        background-image: url("styles/images/treemap/airplane.svg");
        background-repeat: no-repeat;
    }

    #displayAirports {
        border-radius: 5px;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 6px;
        padding-top: 6px;
        background: #EFEFEF;
        height: 45px;
        width: 140px;
        border: 1px #919191;
        box-shadow: 0px, 2px;
    }

    #value {
        margin-top: 5px;
        color: #585C60;
        font-family: Roboto-Bold;
        font-size: 16px;
    }

    #label {
        padding-left: 8px;
        color: #5D5D5D;
        font-family: Roboto-Regular;
        font-size: 16px;
    }

    .property-text {
        font-family: "Roboto", "Segoe UI", "GeezaPro", "DejaVu Serif", "sans-serif" !important;
        font-size: 13px !important;
        font-weight: 400 !important;
    }
</style>