@page "/MultiSelect-Dropdown/Default-Functionalities"

@using Syncfusion.Blazor.DropDowns

@*Hidden:Lines*@
@inherits SampleBaseComponent
@*End:Hidden*@

<ActionDescription>
<p>This example demonstrates the default functionalities of <a href="https://www.syncfusion.com/blazor-components/blazor-multiselect-dropdown" aria-label="Navigate to Feature Tour of Blazor MultiSelect">Blazor MultiSelect</a> component for intuitive multi-item selection.</p>

<p>Core features:</p>
<ul>
  <li>Type character in MultiSelect element to filter options</li>
  <li>Click element to select one or more items</li>
  <li>Multiple selection from predefined values available</li>
</ul>

<p>Render modes available:</p>
<ul>
  <li><b>Default</b> – Selected items display as chips when focused; otherwise shown with delimiter character</li>
  <li><b>Box</b> – Selected items display as chips (box type) in MultiSelect input</li>
  <li><b>Delimiter</b> – Selected items display with delimiter character in MultiSelect input</li>
</ul>

<p><b>See also</b></p>
<ul>
  <li><a href="https://blazor.syncfusion.com/documentation/multiselect-dropdown/getting-started/" target="_blank" rel="noopener" aria-label="Navigate to Blazor MultiSelect Getting Started documentation">Getting started with Blazor MultiSelect</a></li>
</ul>
</ActionDescription>


<div class="control-section">
    <div class="control-wrapper">
        <div class="control-modes">
            <label class="example-label">Default Mode</label>
            <SfMultiSelect TValue="string[]" TItem="GameFields" PopupHeight="200px" Mode="@VisualMode.Default" Placeholder="Favorite sports" DataSource="@Games">
                <MultiSelectFieldSettings Text="Text" Value="Id"></MultiSelectFieldSettings>
            </SfMultiSelect>
        </div>
        <div class="control-modes">
            <label class="example-label">Box Mode</label>
            <SfMultiSelect TValue="string[]" TItem="GameFields" PopupHeight="200px" Mode="@VisualMode.Box" Placeholder="Favorite sports" DataSource="@Games">
                <MultiSelectFieldSettings Text="Text" Value="Id"></MultiSelectFieldSettings>
            </SfMultiSelect>
        </div>
        <div class="control-modes">
            <label class="example-label">Delimiter Mode</label>
            <SfMultiSelect TValue="string[]" TItem="GameFields" PopupHeight="200px" Mode="@VisualMode.Delimiter" Placeholder="Favorite sports" DataSource="@Games">
                <MultiSelectFieldSettings Text="Text" Value="Id"></MultiSelectFieldSettings>
            </SfMultiSelect>
        </div>
    </div>
</div>

@code{
    
    public class GameFields
    {
        public string? Id { get; set; }
        public string? Text { get; set; }
    }

    private List<GameFields> Games = new List<GameFields>()
    {
        new GameFields() { Id = "Game1", Text = "American Football" },
        new GameFields() { Id = "Game2", Text = "Badminton" },
        new GameFields() { Id = "Game3", Text = "Basketball" },
        new GameFields() { Id = "Game4", Text = "Cricket" },
        new GameFields() { Id = "Game5", Text = "Football" },
        new GameFields() { Id = "Game6", Text = "Golf" },
        new GameFields() { Id = "Game7", Text = "Hockey" },
        new GameFields() { Id = "Game8", Text = "Rugby" },
        new GameFields() { Id = "Game9", Text = "Snooker" },
        new GameFields() { Id = "Game10", Text = "Tennis" }
    };
}

<style>
    .control-wrapper {
        max-width: 300px;
        margin: 0 auto;
        padding: 25px 0px 0px;
    }

    .example-label {
        font-size: 14px;
        margin-bottom: 6px;
    }

    .control-modes {
        padding: 12px 0px;
    }
</style>