@page "/MultiSelect-Dropdown/Grouping"

@using Syncfusion.Blazor.DropDowns

@*Hidden:Lines*@
@inherits SampleBaseComponent
@inject NavigationManager NavigationManager


@*End:Hidden*@

<SampleDescription>
    <p>This example demonstrates the grouping and grouping with checkbox supports of the MultiSelect. Clicking the checkbox in the group header will select all the items grouped under it. Click the MultiSelect element and then type the character in the search box. It will display the filtered list items based on the typed characters and then select the multiple values through the checkbox.</p>
</SampleDescription>
<ActionDescription>
   <p>The MultiSelect allows to group the relevant items under a corresponding category by mapping the <a href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.DropDowns.MultiSelectFieldSettings.html#Syncfusion_Blazor_DropDowns_MultiSelectFieldSettings_GroupBy' target='_blank' aria-label="Class reference of GroupBy property in MultiSelect Dropdown"> GroupBy</a> field and allows to load the list items. It has built-in support to select multiple values through the checkbox when the <a href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.DropDowns.SfMultiSelect-2.html#Syncfusion_Blazor_DropDowns_SfMultiSelect_2_Mode'> Mode</a> property is set to <code>CheckBox</code> and set <a href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.DropDowns.SfMultiSelect-2.html#Syncfusion_Blazor_DropDowns_SfMultiSelect_2_EnableGroupCheckBox'> EnableGroupCheckBox</a> property is set to <code>true</code>.</p>
   <p><b>See also</b></p>
    <ul>
       <li><a href='https://blazor.syncfusion.com/documentation/multiselect-dropdown/grouping/' target='_blank' aria-label="Blazor MultiSelect DropDown Grouping documentation">Blazor MultiSelect - Grouping</a></li>
       <li><a href='https://blazor.syncfusion.com/documentation/multiselect-dropdown/checkbox-grouping/' target='_blank' aria-label="Blazor MultiSelect DropDown CheckBox Grouping documentation">Blazor MultiSelect - Grouping with CheckBox</a></li>
    </ul>
</ActionDescription>

<div class="control-section col-lg-12">
    <div class="col-lg-6">
        <div class="control-wrapper">
            <label class="example-label">Grouping</label>
            <SfMultiSelect TValue="string[]" TItem="Vegetables" Placeholder="Select vegetables" DataSource="@VegetablesList">
                <MultiSelectFieldSettings GroupBy="Category" Value="Vegetable"></MultiSelectFieldSettings>
            </SfMultiSelect>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="control-wrapper">
            <label class="example-label">Grouping with CheckBox</label>
            <SfMultiSelect TValue="string[]" AllowFiltering="true" TItem="Vegetables" Mode="@VisualMode.CheckBox" Placeholder="Select vegetables" DataSource="@VegetablesList" ShowSelectAll="@ShowSelectAllCheckBox"
                        EnableSelectionOrder="@EnableSelectionOrders" FilterBarPlaceholder="Search Vegetables" EnableGroupCheckBox="@EnableCheckBox" PopupHeight="350px">
                <MultiSelectFieldSettings GroupBy="Category" Value="Vegetable"></MultiSelectFieldSettings>
            </SfMultiSelect>
        </div>
    </div>
</div>

@code{
    public bool ShowSelectAllCheckBox { get; set; } = true;
    public bool EnableSelectionOrders { get; set; } = false;
    public bool EnableCheckBox { get; set; } = true;
    
    public class Vegetables
    {
        public string Vegetable { get; set; }
        public string Category { get; set; }
        public string ID { get; set; }
    }
    List<Vegetables> VegetablesList = new List<Vegetables>()
    {
        new Vegetables() { Vegetable = "Cabbage", Category = "Leafy and Salad", ID = "item1" },
        new Vegetables() { Vegetable = "Chickpea", Category = "Beans", ID = "item2" },
        new Vegetables() { Vegetable = "Garlic", Category = "Bulb and Stem", ID = "item3" },
        new Vegetables() { Vegetable = "Green bean", Category = "Beans", ID = "item4" },
        new Vegetables() { Vegetable = "Horse gram", Category = "Beans", ID = "item5" },
        new Vegetables() { Vegetable = "Nopal", Category = "Bulb and Stem", ID = "item6" },
        new Vegetables() { Vegetable = "Onion", Category = "Bulb and Stem", ID = "item7" },
        new Vegetables() { Vegetable = "Pumpkins", Category = "Leafy and Salad", ID = "item8" },
        new Vegetables() { Vegetable = "Spinach", Category = "Leafy and Salad", ID = "item9" },
        new Vegetables() { Vegetable = "Wheat grass", Category = "Leafy and Salad", ID = "item10" },
        new Vegetables() { Vegetable = "Yarrow", Category = "Leafy and Salad", ID = "item11" }
    };
}

<style>
    .control-wrapper {
        max-width: 280px;
        padding: 30px 0px 0px;
        margin: 0 auto;
    }

    .example-label {
        font-size: 14px;
        margin-bottom: 6px;
    }
</style>