@page "/MultiSelect-Dropdown/Selection-Limit"

@using Syncfusion.Blazor.DropDowns
@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.Inputs

@*Hidden:Lines*@
@inherits SampleBaseComponent
@inject NavigationManager NavigationManager


@*End:Hidden*@

<SampleDescription>
    <p>This example demonstrates the maximum selection limit functionalities with checkbox mode of the MultiSelect. You can restrict the value selection based on the maximum selection length that can be selected.</p>
</SampleDescription>
<ActionDescription>
   <p>The MultiSelect has built-in support to limit the value selection in the component, when the <a href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.DropDowns.SfMultiSelect-2.html#Syncfusion_Blazor_DropDowns_SfMultiSelect_2_MaximumSelectionLength' target='_blank' aria-label="Class reference of MaximumSelectionLength property in MultiSelect Dropdown"> MaximumSelectionLength</a> property is set as 3, maximum of only 3 value will be selected in the MultiSelect.</p>
   <p><b>See also</b></p>
    <ul>
       <li><a href='https://blazor.syncfusion.com/documentation/multiselect-dropdown/checkbox/' target='_blank' aria-label="Blazor MultiSelect DropDown CheckBox documentation">Blazor MultiSelect - CheckBox</a></li>
    </ul>
</ActionDescription>

<div class="col-lg-12">
    <div class="col-lg-8 control-section sb-property-border">
        <div class="control-wrapper">
            <label class="example-label">Select countries</label>
            <SfMultiSelect @bind-Value="@MulVal" AllowFiltering="true" Placeholder="e.g. Australia" Mode="@VisualMode.CheckBox" MaximumSelectionLength="@MaxSelection" DataSource="@Country" ShowDropDownIcon="true" PopupHeight="350px">
                <MultiSelectFieldSettings Text="Name" Value="Code"></MultiSelectFieldSettings>
            </SfMultiSelect>
        </div>
    </div>
    <div class="col-lg-4">
        <div class='property-panel-section'>
            <div class="property-panel-header">Properties</div>
            <div class="property-panel-content">
                <label class="example-label">Set selection limit</label>
                <SfNumericTextBox @ref="NumericObj" TValue="int?" Format="n0" @bind-Value="@numericValue" Min=1 Max=18></SfNumericTextBox>
            </div>
            <div class="property-panel-content">
                <button class="e-btn e-primary apply-limit" @onclick="@ApplySelectionLimit">Apply</button>
            </div>
        </div>
    </div>
</div>

@code{

    
    public SfNumericTextBox<int?> NumericObj;

    public string[] MulVal = null;
    public int MaxSelection { get; set; } = 3;

    private int? numericValue = 3;
    public void ApplySelectionLimit(Microsoft.AspNetCore.Components.Web.MouseEventArgs args)
    {
        this.MulVal = new string[] { };
        MaxSelection = (int)(long)this.NumericObj.Value;
    }

    public class Countries
    {
        public string Name { get; set; }

        public string Code { get; set; }
    }

    private List<Countries> Country = new List<Countries>
    {
        new Countries() { Name = "Australia", Code = "AU" },
        new Countries() { Name = "Bermuda", Code = "BM" },
        new Countries() { Name = "Canada", Code = "CA" },
        new Countries() { Name = "Cameroon", Code = "CM" },
        new Countries() { Name = "Denmark", Code = "DK" },
        new Countries() { Name = "France", Code = "FR" },
        new Countries() { Name = "Finland", Code = "FI" },
        new Countries() { Name = "Germany", Code = "DE" },
        new Countries() { Name = "Greenland", Code = "GL" },
        new Countries() { Name = "Hong Kong", Code = "HK" },
        new Countries() { Name = "India", Code = "IN" },
        new Countries() { Name = "Italy", Code = "IT" },
        new Countries() { Name = "Japan", Code = "JP" },
        new Countries() { Name = "Mexico", Code = "MX" },
        new Countries() { Name = "Norway", Code = "NO" },
        new Countries() { Name = "Poland", Code = "PL" },
        new Countries() { Name = "Switzerland", Code = "CH" },
        new Countries() { Name = "United Kingdom", Code = "GB" },
        new Countries() { Name = "United States", Code = "US" }
    };
}

<style>
    .control-section {
        min-height: 370px;
    }

    .control-wrapper {
        max-width: 300px;
        margin: 0 auto;
        padding: 50px 0px 0px;
    }
    
    .example-label {
        font-size: 14px;
        margin-bottom: 6px;
    }

    .property-panel-content {
        padding: 0px 0px 15px 0px;
    }

    .property-panel-content:last-child {
        padding: 0px 0px 40px 0px;
    }
</style>