@page "/MultiSelect-Dropdown/Template"

@using Syncfusion.Blazor.DropDowns

@*Hidden:Lines*@
@inherits SampleBaseComponent
@inject NavigationManager NavigationManager


@*End:Hidden*@

<SampleDescription>
    <p>This example demonstrates the template functionalities of the MultiSelect. Type a character in the MultiSelect element and choose an item from the customized list.</p>
</SampleDescription>
<ActionDescription>
    <p>The MultiSelect has several options to customize each list item, group title, header and footer elements.</p>
    <p>This example uses the following list of templates in the MultiSelect.</p>
        <ul><li><a href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.DropDowns.MultiSelectModel-1.html#Syncfusion_Blazor_DropDowns_MultiSelectModel_1_ItemTemplate' target='_blank' aria-label="Class reference of ItemTemplate in MultiSelect Dropdown"> ItemTemplate</a> - To customize the list item's content.</li>
            <li><a href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.DropDowns.MultiSelectModel-1.html#Syncfusion_Blazor_DropDowns_MultiSelectModel_1_HeaderTemplate' target='_blank' aria-label="Class reference of HeaderTemplate in MultiSelect Dropdown"> HeaderTemplate</a> - To customize the header element.</li>
            <li><a href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.DropDowns.MultiSelectModel-1.html#Syncfusion_Blazor_DropDowns_MultiSelectModel_1_ValueTemplate' target='_blank' aria-label="Class reference of ValueTemplate in MultiSelect Dropdown"> ValueTemplate</a> - To customize the value element content that holds the selected item's text.</li>
        </ul>
    <p><b>See also</b></p>
    <ul>
       <li><a href='https://blazor.syncfusion.com/documentation/multiselect-dropdown/templates/' target='_blank' aria-label="Blazor MultiSelect DropDown Templates documentation">Blazor MultiSelect - Templates</a></li>
    </ul>
</ActionDescription>

<div class="col-lg-12 control-section multiselect-height">
    <div class="control-wrapper">
        <label class="example-label">Select customers</label>
        <SfMultiSelect TValue="string[]" TItem="EmployeeData" CssClass="template" ModelType="@models" Placeholder="e.g. Andrew Fuller" DataSource="@Data">
            <MultiSelectTemplates TItem="EmployeeData">
                <ItemTemplate>
                    <div>
                        <img class="empImage" src="@(SampleService.WebAssetsPath)images/dropdown-list/employees/@((context as EmployeeData).Eimg).png" alt="employee" />
                        <div class="ename"> @((context as EmployeeData).FirstName) </div>
                        <div class="job">  @((context as EmployeeData).Designation) </div>
                    </div>
                </ItemTemplate>
                <ValueTemplate>
                    <div class="multiselect-width">
                        <img class="value" src="@(SampleService.WebAssetsPath)images/dropdown-list/employees/@((context as EmployeeData).Eimg).png" height="26" width="26" alt="employee">
                        <div class="name"> @((context as EmployeeData).FirstName) </div>
                    </div>
                </ValueTemplate>
                <HeaderTemplate>
                    <div class="header"> <span>Photo</span> <span class="info">Employee Info</span></div>
                </HeaderTemplate>
            </MultiSelectTemplates>
            <MultiSelectFieldSettings Value="FirstName"></MultiSelectFieldSettings>
        </SfMultiSelect>
    </div>
</div>

<style>
    .control-wrapper {
        max-width: 350px;
        margin: 0 auto;
        padding: 50px 0px 0px;
    }

    .example-label {
        font-size: 14px;
        margin-bottom: 6px;
    }

    .header {
        font-weight: 600;
        color: rgba(0, 0, 0, .54);
        height: 48px;
        padding: 15px 0 0 16px;
        font-size: 16px;
        background-color: #f5f5f5;
        font-family: "Segoe UI", "GeezaPro", "DejaVu Serif";
    }
    .fluent-dark .header,
    .fluent2-dark .header,
    .fluent2-highcontrast .header {
        background: #252423;
        color: #2899F5;
     }

     .bootstrap5-dark .header {
        background: #343A40;
        color: #7B848D;
     }


     .fluent .header{
         color: #2899F5;
     }

    .fabric .header {
        background-color: #fff;
        border-bottom: 1px solid #ccc;
        color: #0078d7;
        font-weight: 400;
    }

    .bootstrap .header {
        background-color: #f5f5f5;
        border-bottom: 1px solid #ccc;
        color: #777;
        font-family: "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
        font-weight: 600;
        font-size: 15px;
        height: 48px;
        padding: 15px 0 0 16px;
    }

    .e-bigger.bootstrap .header {
        height: 44px;
        font-size: 13px;
    }

    .highcontrast .header {
        color: #fff;
        background-color: #000;
    }

    .bootstrap4 .header {
        color: #6c757d;
    }

    .bootstrap .info,
    .e-bigger.bootstrap .info {
        margin-left: 25px;
    }

    .bootstrap .job {
        opacity: .54;
        font-size: 14px;
        margin-top: -25px;
        margin-bottom: 20px;
    }

    .e-bigger.bootstrap .job {
        font-size: 15px;
        margin-top: -18px;
        margin-bottom: 17px;
    }

    .bootstrap .ename {
        font-size: 15px;
        margin-top: 20px;
        opacity: .87;
        padding: 3px 0 20px;
    }

    .e-bigger.bootstrap .ename {
        font-size: 16px;
        padding-bottom: 15px;
        line-height: 1.063em;
    }

    .bootstrap .empImage,
    .e-bigger.bootstrap .empImage {
        margin: 0px 10px 0 20px;
    }

    .bootstrap .value {
        left: -9px;
        height: 28px;
        width: 28px;
        margin-top: 6px;
    }

    .e-bigger.bootstrap .value {
        margin-top: 9px;
    }

    .bootstrap .name {
        padding: 9px 30px;
    }

    .e-bigger.bootstrap .name {
        padding: 12px 30px;
    }

    .info {
        margin-left: 17px;
    }

    .ename {
        display: block !important;
        opacity: .87;
        font-size: 16px;
        margin-top: 8px;
    }

    .name {
        padding: 3px 27px;
        opacity: .87;
        line-height: 1.5em;
        margin-top:1px;
    }

    .job {
        opacity: .54;
        font-size: 14px;
        margin-top: -15px;
        margin-bottom: 7px;
    }

    .bootstrap5 .template.e-popup .job,
    .bootstrap-dark .template.e-popup .job,
    .bootstrap5-dark .template.e-popup .job,
    .tailwind .template.e-popup .job,
    .tailwind-dark .template.e-popup .job {
        margin-top: 0;
    }

    .e-bigger.bootstrap5 .template.e-popup .job,
    .e-bigger.bootstrap-dark .template.e-popup .job,
    .e-bigger.bootstrap5-dark .template.e-popup .job,
    .e-bigger.tailwind .template.e-popup .job,
    .e-bigger.tailwind-dark .template.e-popup .job {
        margin-top: -15px;
    }

    .empImage {
        margin: 6px 16px;
        float: left;
        width: 50px;
        height: 50px;
    }

    .value {
        border-radius: 50%;
        float: left;
        margin-top: 2px;
        position: relative; 
        height:22px;
        width:22px;
    }

    .e-bigger:not(.bootstrap):not(.fluent):not(.fluent-dark):not(.material3):not(.material3-dark) .value {
        margin-top: 11px;
    }

    .e-bigger:not(.bootstrap):not(.fluent):not(.fluent-dark) .name {
        padding: 11px 30px;
    }

    .template.e-popup .e-list-item * {
        display: block;
        text-indent: 0;
    }

    .e-bigger:not(.bootstrap) .template .e-dropdownbase .e-list-item {
        line-height: 42px;
        height: 80px;
    }

    .e-bigger:not(.bootstrap) .template.e-popup .empImage {
        margin: 10px 16px;
    }

    .bootstrap4 .template.e-popup .empImage {
        margin: 0px 16px;
    }

    .bootstrap4 .template.e-popup .job {
        margin-top: 0;
    }

    .e-bigger.bootstrap4 .template.e-popup .job {
        margin-top: -15px;
    }

    .template .e-dropdownbase.e-content {
        max-height: 200px !important;
    }

    .multiselect-height {
        height: 450px;
    }

    .padding-top {
        padding-top: 55px;
    }

    .multiselect-width {
        width: 100%;
        height: 100%;
    }

    .e-multi-select-wrapper .e-chips{
        max-width:166px;
        padding: 0 4px 0 0px;
    }
    
    .fluent .e-multi-select-wrapper .e-chips,
    .fluent-dark .e-multi-select-wrapper .e-chips{
        max-width:166px;
        padding: 0 10px 0 2px;
    }
    
    .fluent .value,
    .fluent-dark .value {
        margin-top: 3px;
    }
    
    .e-bigger.material3 .value,
    .e-bigger.material3-dark .value {
        margin-top: 9px;
        margin-left: 2px;
    }

    .material3 .value,
    .material3-dark .value {
        margin: 2px;
    }

    .fluent .name,
    .fluent-dark .name {
        margin-top: 0px;
    }

    .bootstrap4 .value,
    .bootstrap-dark .value {
        margin-left: -7px;
    }

    .bootstrap4 .name,
    .bootstrap-dark .name {
        margin-left: -3px;
    }
</style>

@code {

    Type models = typeof(EmployeeData);
    
    public class EmployeeData
    {
        public string FirstName { get; set; }
        public string Designation { get; set; }
        public string Eimg { get; set; }
    }
    List<EmployeeData>
    Data = new List<EmployeeData>
        {
        new EmployeeData() { FirstName = "Andrew Fuller",  Designation = "Team Lead", Eimg= "7" },
        new EmployeeData() { FirstName = "Anne Dodsworth", Designation = "Developer", Eimg= "1" },
        new EmployeeData() { FirstName = "Janet Leverling", Designation = "HR", Eimg= "3" },
        new EmployeeData() { FirstName = "Laura Callahan", Designation = "Product Manager", Eimg= "2" },
        new EmployeeData() { FirstName = "Margaret Peacock", Designation = "Developer", Eimg= "6" },
        new EmployeeData() { FirstName = "Michael Suyama", Designation = "Team Lead", Eimg= "9" },
        new EmployeeData() { FirstName = "Nancy Davolio", Designation = "Product Manager", Eimg= "4" },
        new EmployeeData() { FirstName = "Robert King", Designation = "Developer", Eimg= "8" },
        new EmployeeData() { FirstName = "Steven Buchanan", Designation = "CEO", Eimg= "10" }
                };
}
