@page "/range-selector/filter"
@using Syncfusion.Blazor.Charts
@using Syncfusion.Blazor.Grids
@using Syncfusion.Blazor
@using System.Net.Http.Json
@inject NavigationManager NavigationManager
@inject HttpClient Http
@*Hidden:Lines*@
@inherits SampleBaseComponent


@*End:Hidden*@

<SampleDescription>
    <p>This sample filters the data by hire date using date-time axis.</p>
</SampleDescription>
<ActionDescription>
    <p>In this example, you can see how to bind the value of the range navigator to the grid control using the <code>Changed</code> event.</p>
     <p>More information about the range navigator can be found in this <a target='_blank' href='https://blazor.syncfusion.com/documentation/range-selector/getting-started' aria-label="documentation section" >documentation section</a>.</p>
</ActionDescription>

@if (FilterData == null)
{
    <div class="stockchartloader"></div>
}
else
{
    <div class="control-section" align="center">
        <h4 align="center" style="font-family: Segoe UI;font-weight: 500; font-style:normal; font-size:15px;"> Filter from Hire Date</h4>
        <div>
            <SfRangeNavigator ValueType="Syncfusion.Blazor.Charts.RangeValueType.DateTime"
                              AllowSnapping="true" IntervalType="RangeIntervalType.Quarter"
                              EnableGrouping="true" GroupBy="RangeIntervalType.Years" Theme="@RangeNavigatorTheme"
                              @bind-Value="@RangeValue" DataSource="@FilterData"
                              XName="HireDate" YName="yValue">
                <RangeNavigatorStyleSettings SelectedRegionColor="@SelectedRegionColor"></RangeNavigatorStyleSettings>
                <RangeNavigatorEvents Changed="onRangeChanged" LabelRender="AxisLabelRendering"></RangeNavigatorEvents>
            </SfRangeNavigator>
        </div> <br>
        <div>
            <SfGrid Width="80%" @ref="GridObj" DataSource="@Data" TValue="ChartData" AllowPaging="true">
                <GridColumns>
                    <GridColumn Field="EmployeeID" HeaderText="Employee ID" TextAlign="TextAlign.Center" Width="150"></GridColumn>
                    <GridColumn Field="FirstName" HeaderText="Name" TextAlign="TextAlign.Center" Width="120"></GridColumn>
                    <GridColumn Field="Title" HeaderText="Title" TextAlign="TextAlign.Center" Width="200"></GridColumn>
                    <GridColumn Field="HireDate" HeaderText="Hire Date" TextAlign="TextAlign.Center" Format="d/M/yyyy" Width="120"></GridColumn>
                </GridColumns>
            </SfGrid>
        </div>
    </div>
}
@code{
    
    public SfGrid<ChartData> GridObj { get; set; }
    public ChartData[] FilterData { get; set; }
    public ChartData[] Data { get; set; }
    string SelectedRegionColor;
    public Theme RangeNavigatorTheme { get; set; }
    public object RangeValue { get; set; } = new object[] { new DateTime(1992, 06, 1), new DateTime(1993, 05, 1) };
    private string currentUri;

    protected override async Task OnInitializedAsync()
    {
	    FilterData = await Http.GetFromJsonAsync<ChartData[]>(NavigationManager.BaseUri + SampleService.WebAssetsPath + "data/range-navigator/employee-data.json");
    }

    public class ChartData
    {
        public double EmployeeID { get; set; }
        public double yValue { get; set; }
        public string FirstName { get; set; }
        public string Title { get; set; }
        public DateTime HireDate { get; set; }
    }

    protected void onRangeChanged(ChangedEventArgs args)
    {
        List<ChartData> FilterData1 = new List<ChartData>();
        for (int i = 0; i < FilterData.Length; i++)
        {
            if (FilterData[i].HireDate >= Convert.ToDateTime(args.Start) && FilterData[i].HireDate <= Convert.ToDateTime(args.End))
            {
                FilterData1.Add(FilterData[i]);
            }
        }
        Data = FilterData1.ToArray();
        StateHasChanged();
    }

    public void AxisLabelRendering(RangeLabelRenderEventArgs args)
    {
        args.Text = args.Text.Contains("Quarter", StringComparison.InvariantCulture) ? args.Text.Replace("Quarter", "Quarter-") : args.Text;
    }

    protected override void OnInitialized()
    {
        
        currentUri = NavigationManager.Uri;
        if (currentUri.IndexOf("material3") > -1)
        {
            if (currentUri.IndexOf("dark") > -1)
            {
                RangeNavigatorTheme = Theme.Material3Dark;
                SelectedRegionColor = "#4EAAFF";
            }
            else
            {
                RangeNavigatorTheme = Theme.Material3;
                SelectedRegionColor = "#6355C7";
            }
        }
        else if (currentUri.IndexOf("material") > -1)
        {
            if (currentUri.IndexOf("dark") > -1)
            {
                RangeNavigatorTheme = Theme.MaterialDark;
                SelectedRegionColor = "#9ECB08";
            }
            else
            {
                RangeNavigatorTheme = Theme.Material;
                SelectedRegionColor = "#00bdae";
            }
        }
        else if (currentUri.IndexOf("fabric") > -1)
        {
            if (currentUri.IndexOf("dark") > -1)
            {
                RangeNavigatorTheme = Theme.FabricDark;
                SelectedRegionColor = "#4472c4";
            }
            else
            {
                RangeNavigatorTheme = Theme.Fabric;
                SelectedRegionColor = "#4472c4";
            }
        }
        else if (currentUri.IndexOf("bootstrap5") > -1)
        {
            if (currentUri.IndexOf("dark") > -1)
            {
                RangeNavigatorTheme = Theme.Bootstrap5Dark;
                SelectedRegionColor = "#8F80F4";
            }
            else
            {
                RangeNavigatorTheme = Theme.Bootstrap5;
                SelectedRegionColor = "#6355C7";
            }
        }
        else if (currentUri.IndexOf("fluent2") > -1)
        {
            // if (currentUri.IndexOf("highcontrast") > -1)
            // {
            //     RangeNavigatorTheme = Theme.Fluent2HighContrast;
            //     SelectedRegionColor = "#9BB449";
            // }
            if (currentUri.IndexOf("dark") > -1)
            {
                RangeNavigatorTheme = Theme.Fluent2Dark;
                SelectedRegionColor = "#9BB449";
            }
            else
            {
                RangeNavigatorTheme = Theme.Fluent2;
                SelectedRegionColor = "#6200EE";
            }
        }
		else if (currentUri.IndexOf("fluent") > -1)
        {
            if (currentUri.IndexOf("dark") > -1)
            {
                RangeNavigatorTheme = Theme.FluentDark;
                SelectedRegionColor = "#1AC9E6";
            }
            else
            {
                RangeNavigatorTheme = Theme.Fluent;
                SelectedRegionColor = "#1AC9E6";
            }
        }
        else if (currentUri.IndexOf("bootstrap4") > -1)
        {
            RangeNavigatorTheme = Theme.Bootstrap4;
            SelectedRegionColor = "#a16ee5";
        }
        else if (currentUri.IndexOf("bootstrap") > -1)
        {
            if (currentUri.IndexOf("dark") > -1)
            {
                RangeNavigatorTheme = Theme.BootstrapDark;
                SelectedRegionColor = "#a16ee5";
            }
            else
            {
                RangeNavigatorTheme = Theme.Bootstrap;
                SelectedRegionColor = "#a16ee5";
            }
        }
        else if (currentUri.IndexOf("highcontrast") > -1)
        {
            RangeNavigatorTheme = Theme.HighContrast;
            SelectedRegionColor = "#79ECE4";
        }
        else if (currentUri.IndexOf("tailwind") > -1)
        {
            if (currentUri.IndexOf("dark") > -1)
            {
                RangeNavigatorTheme = Theme.TailwindDark;
                SelectedRegionColor = "#8B5CF6";
            }
            else
            {
                RangeNavigatorTheme = Theme.Tailwind;
                SelectedRegionColor = "#5A61F6";
            }
        }
        else
        {
            RangeNavigatorTheme = Theme.Bootstrap4;
            SelectedRegionColor = "#a16ee5";
        }
    }
}