@page "/ListBox/Api"

@using Syncfusion.EJ2.Blazor.DropDowns
@inherits SampleBaseComponent;

<div class="col-lg-8 control-section">
    <div id="listbox-control1">
        <EjsListBox @ref="listBox" DataSource="@VegetableData" TValue="string[]" SortOrder="@OrderValue">
            <ListBoxFieldSettings GroupBy="Category" Text="Vegetable" Value="Id"></ListBoxFieldSettings>
            <ListBoxSelectionSettings Mode="@Mode"></ListBoxSelectionSettings>
        </EjsListBox>
    </div>
</div>
<div class="col-lg-4 property-section">
    <table id="property" title="Properties" style="width: 100%">
        <tbody>
            <tr>
                <td style="width: 50%;padding-top:10px">
                    <div>Sort order</div>
                </td>
                <td style="width: 50%;padding-top:10px">
                    <div style="max-width: 200px">
                        <EjsDropDownList PopupHeight="200px" DataSource="@SortItems" @bind-Value="@OrderValue" TValue="string" TItem="ValueDetails">
                            <DropDownListEvents ValueChange="OrderChange" TValue="string"></DropDownListEvents>
                            <DropDownListFieldSettings Text="Text"></DropDownListFieldSettings>
                        </EjsDropDownList>
                    </div>
                </td>
            </tr>
            <tr>
                <td style="width: 50%;padding-top:10px">
                    <div>Selection Mode</div>
                </td>
                <td style="width: 50%;padding-top:10px">
                    <div style="max-width: 200px">
                        <EjsDropDownList PopupHeight="200px" DataSource="@SelectionType" @bind-Value="@SortOrderValue" TValue="string" TItem="ValueDetails">
                            <DropDownListEvents ValueChange="ModeChange" TValue="string"></DropDownListEvents>
                            <DropDownListFieldSettings Text="Text"></DropDownListFieldSettings>
                        </EjsDropDownList>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<style>

    #listbox-control {
        width: 49%;
        margin: auto;
        margin-bottom: 15px;
    }

    @@media screen and (max-width: 590px) {
        #listbox-control {
            width: 100%;
        }
    }
</style>


@code{

    EjsListBox<string[]> listBox;
    SelectionMode Mode = SelectionMode.Single;

    public string OrderValue { get; set; }
     public string SortOrderValue { get; set; }
    private void OrderChange(ChangeEventArgs<string> args)
    {
        this.OrderValue = args.Value;
    }

    private void ModeChange(ChangeEventArgs<string> args)
    {
        if (args.Value.ToString() == "Single")
        {
            this.Mode = SelectionMode.Single;
        }
        else
        {
            this.Mode = SelectionMode.Multiple;
        }
    }

    protected override void OnInitialized()
    {
        this.OrderValue = "None";
        this.SortOrderValue = "Single";
    }

    public List<ValueDetails> SortItems = new List<ValueDetails>
{
        new ValueDetails{ Text = "None" },
        new ValueDetails{ Text = "Ascending" },
        new ValueDetails{ Text = "Descending" }

        };

    public List<ValueDetails> SelectionType = new List<ValueDetails>
{
        new ValueDetails { Text = "Single" },
        new ValueDetails { Text = "Multiple" }
        };

    public class ValueDetails
    {
        public string Text { get; set; }
    }
    public List<object> VegetableData = new List<object>
{
        new { Vegetable = "Cabbage", Category= "Leafy and Salad", Id= "item1" },
        new { Vegetable = "Chickpea", Category= "Beans", Id= "item2" },
        new { Vegetable = "Garlic", Category= "Bulb and Stem", Id= "item3"  },
        new { Vegetable = "Green bean", Category= "Beans", Id= "item4" },
        new { Vegetable = "Horse gram", Category= "Beans", Id= "item5"},
        new { Vegetable = "Nopal", Category= "Bulb and Stem", Id= "item6" },
        new { Vegetable = "Onion", Category= "Bulb and Stem", Id= "item7" },
        new { Vegetable = "Pumpkins", Category= "Leafy and Salad", Id= "item8" },
        new { Vegetable = "Spinach", Category= "Leafy and Salad", Id= "item9" },
        new { Vegetable = "Wheat grass", Category= "Leafy and Salad", Id= "item10" },
        new { Vegetable = "Yarrow", Category = "Leafy and Salad", Id = "item11" }

        };
}
