@page "/docio/mail-merge-event"
@inject Microsoft.JSInterop.IJSRuntime JS
@using System.IO
@using Syncfusion.Blazor.Buttons
@using blazor_samples.Data.FileFormats.DocIO
@inject Microsoft.AspNetCore.Hosting.IHostingEnvironment hostingEnvironment
    <div class="control-section">
        <p style="font-weight:normal">Click the button to view the generated Word document. Please note that Microsoft Word Viewer or Microsoft Word is required to view the resultant Word document.</p>

        <table>
            <tr>
                <td>
                    <h5 class="row">Save As:</h5>
                </td>
                <td>
                    <div class="col-xs-12 col-sm-12 col-lg-1 col-md-6">
                        <SfRadioButton Label="DOC" Name="DOC" Value="SaveOption" Checked="@(documentType == "DOC")" @onchange="@(() => documentType = "DOC")"></SfRadioButton>
                    </div>
                </td>
                <td>
                    <div class="col-xs-12 col-sm-12 col-lg-1 col-md-6">
                        <SfRadioButton Label="DOCX" Name="DOCX" Value="SaveOption" Checked="@(documentType == "DOCX")" @onchange="@(() => documentType = "DOCX")"></SfRadioButton>
                    </div>
                </td>
                <td>
                    <div class="col-xs-12 col-sm-12 col-lg-1 col-md-6">
                        <SfRadioButton Label="WordML" Name="WordML" Value="SaveOption" Checked="@(documentType == "WordML")" @onchange="@(() => documentType = "WordML")"></SfRadioButton>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="4">
                    <div class="button-section">
                        <div id="button-control">
                            <div class="row">
                                <div>
                                    <SfButton @onclick="ViewTemplate">View Template</SfButton>&nbsp;
                                    <SfButton @onclick="GenerateDocument">Generate Document</SfButton>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>

<style>
    .control-section .row {
        margin: 10px 0;
    }
</style>

@code {
    MemoryStream documentStream;
    string documentType = "DOCX";

    /// <summary>
    /// Create and download the simple Word document
    /// </summary>
    public async void GenerateDocument(MouseEventArgs args)
    {
        MailMergeEventService service = new MailMergeEventService(hostingEnvironment);
        documentStream = service.MailMergeEvent(documentType, "Generate Document");
        if (documentStream != null)
        {
            if (documentType == "DOC")
                await JS.SaveAs("Sample.doc", documentStream.ToArray());
            else if (documentType == "WordML")
                await JS.SaveAs("Sample.xml", documentStream.ToArray());
            else
                await JS.SaveAs("Sample.docx", documentStream.ToArray());
        }
    }
    /// <summary>
    /// Create and download the template Word document
    /// </summary>
    public async void ViewTemplate(MouseEventArgs args)
    {
        MailMergeEventService service = new MailMergeEventService(hostingEnvironment);
        documentStream = service.MailMergeEvent(documentType, "View Template");
        await JS.SaveAs("MailMergeEventTemplate.doc", documentStream.ToArray());
    }
}