@page "/listbox/dual-listbox"

@using Syncfusion.Blazor.DropDowns

@*Hidden:Lines*@
@inherits SampleBaseComponent
@*End:Hidden*@

<SampleDescription>
    <p>This sample demonstrates the functionalities of the dual listbox. Select an item from <b>Group A</b> and click the <b>MoveTo</b> button to move the item from <b>Group A</b> to <b>Group B.</b></p>
</SampleDescription>
<ActionDescription>
    <p>The dual listbox allows the user to move items between two listboxes. A dual listbox can be created by configuring the <a target="_blank" href="https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.DropDowns.ListBoxToolbarSettings.html" aria-label="ListBoxToolbarSettings">ListBoxToolbarSettings</a> property along with the <a target="_blank" href="https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.DropDowns.SfListBox-2.html#Syncfusion_Blazor_DropDowns_SfListBox_2_Scope" aria-label="Scope">Scope</a> property. The supported operations are:</p>
    <ul>
        <li><b>Move Up</b> - Moves the selected item in the upward direction.</li>
        <li><b>Move Down</b> - Moves the selected item in the downward direction.</li>
        <li><b>Move To</b> - Moves the selected item to the Group B listbox.</li>
        <li><b>Move From</b> - Moves the selected item from the Group B listbox to Group A.</li>
        <li><b>Move All To</b> - Moves all the items to the Group B listbox.</li>
        <li><b>Move All From</b> - Moves all the items from the Group B listbox to Group A.</li>
    </ul>
    <p>More information about the dual listbox functionalities of the Blazor ListBox component can be found in the <a href="https://blazor.syncfusion.com/documentation/listbox/dual-listbox/" target="_blank" aria-label="documentation section">documentation section</a>.</p>
</ActionDescription>

<div class="col-lg-12 control-section">
    <div id="listbox-control">
        <div class="dual-list-wrapper">
            <div class="dual-list-groupa">
                <h4>Group A</h4>
                <SfListBox Scope="@ScopeGroupB" DataSource="@GroupAItems" TItem="CountryItem" Height="330px" TValue="string[]" @attributes="GroupAAttributes">
                    <ListBoxFieldSettings Text="CountryName" Value="CountryCode"></ListBoxFieldSettings>
                    <ListBoxToolbarSettings Items="@ToolbarActions"></ListBoxToolbarSettings>
                    <ListBoxTemplates TItem="CountryItem">
                        <NoRecordsTemplate>
                            <span>No Data Available</span>
                        </NoRecordsTemplate>
                    </ListBoxTemplates>
                </SfListBox>
            </div>
            <div class="dual-list-groupb">
                <h4>Group B</h4>
                <SfListBox Scope="@ScopeGroupA" DataSource="@GroupBItems" Height="330px" TItem="CountryItem" TValue="string[]" @attributes="GroupBAttributes">
                    <ListBoxFieldSettings Text="CountryName" Value="CountryCode"></ListBoxFieldSettings>
                    <ListBoxTemplates TItem="CountryItem">
                        <NoRecordsTemplate>
                            <span>No Data Available</span>
                        </NoRecordsTemplate>
                    </ListBoxTemplates>
                </SfListBox>
            </div>
        </div>
    </div>
</div>

@code {
    private string[] ToolbarActions { get; set; } = new string[] { "MoveUp", "MoveDown", "MoveTo", "MoveFrom", "MoveAllTo", "MoveAllFrom" };
    private readonly string ScopeGroupA = "scope1";
    private readonly string ScopeGroupB = "scope2";

    private readonly Dictionary<string, object> GroupAAttributes = new Dictionary<string, object> { { "id", "scope1" } };
    private readonly Dictionary<string, object> GroupBAttributes = new Dictionary<string, object> { { "id", "scope2" } };

    private List<CountryItem> GroupAItems { get; set; } = new List<CountryItem>
    {
        new CountryItem { CountryName = "Australia", CountryCode = "AU" },
        new CountryItem { CountryName = "Bermuda", CountryCode = "BM" },
        new CountryItem { CountryName = "Canada", CountryCode = "CA" },
        new CountryItem { CountryName = "Cameroon", CountryCode = "CM" },
        new CountryItem { CountryName = "Denmark", CountryCode = "DK" },
        new CountryItem { CountryName = "France", CountryCode = "FR" },
        new CountryItem { CountryName = "Finland", CountryCode = "FI" },
        new CountryItem { CountryName = "Germany", CountryCode = "DE" },
        new CountryItem { CountryName = "Hong Kong", CountryCode = "HK" }
    };

    private List<CountryItem> GroupBItems { get; set; } = new List<CountryItem>
    {
        new CountryItem { CountryName = "India", CountryCode = "IN" },
        new CountryItem { CountryName = "Italy", CountryCode = "IT" },
        new CountryItem { CountryName = "Japan", CountryCode = "JP" },
        new CountryItem { CountryName = "Mexico", CountryCode = "MX" },
        new CountryItem { CountryName = "Norway", CountryCode = "NO" },
        new CountryItem { CountryName = "Poland", CountryCode = "PL" },
        new CountryItem { CountryName = "Switzerland", CountryCode = "CH" },
        new CountryItem { CountryName = "United Kingdom", CountryCode = "GB" },
        new CountryItem { CountryName = "United States", CountryCode = "US" }
    };

    public class CountryItem
    {
        public string? CountryName { get; set; }
        public string? CountryCode { get; set; }
    }

}

<style>
    .control-section .dual-list-wrapper {
        width: 60%;
        margin: 0 auto 10px;
        display: flex;
    }

    .dual-list-groupa,
    .dual-list-groupb {
        width: 50%;
    }

    .dual-list-groupb .e-listbox-container,
    .dual-list-groupb h4 {
        width: 87%;
        margin-left: 15px;
    }

    @@media screen and (max-width: 590px) {
        .control-section .dual-list-wrapper {
            width: 100%;
        }

        .dual-list-groupa {
            width: 56%;
        }

        .dual-list-groupb {
            width: 44%;
        }
    }

    @@media screen and (max-width: 400px) {
        .dual-list-groupa {
            width: 59%;
        }

        .dual-list-groupb {
            width: 41%;
        }
    }

    #listbox-control {
        margin: auto;
    }

    @@media screen and (max-width: 590px) {
        #listbox-control {
            width: 100%;
        }
    }
</style>