@page "/listbox/dual-listbox"

@using Syncfusion.Blazor.DropDowns

@*Hidden:Lines*@
@inherits SampleBaseComponent
@*End:Hidden*@

<ActionDescription>
<p>This example demonstrates the dual listbox functionality for moving items between two lists.</p>

<p>Dual listbox features:</p>
<ul>
  <li>Select item from <b>Group A</b></li>
  <li>Click <b>MoveTo</b> button to move item to <b>Group B</b></li>
  <li>Configure via <a target="_blank" rel="noopener" href="https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.DropDowns.ListBoxToolbarSettings.html" aria-label="Navigate to ListBoxToolbarSettings class">ListBoxToolbarSettings</a> property with <a target="_blank" rel="noopener" href="https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.DropDowns.SfListBox-2.html#Syncfusion_Blazor_DropDowns_SfListBox_2_Scope" aria-label="Navigate to Scope property">Scope</a> property</li>
</ul>

<p>Supported operations:</p>
<ul>
  <li><b>Move Up</b> – Move selected item upward</li>
  <li><b>Move Down</b> – Move selected item downward</li>
  <li><b>Move To</b> – Move selected item to Group B</li>
  <li><b>Move From</b> – Move selected item from Group B to Group A</li>
  <li><b>Move All To</b> – Move all items to Group B</li>
  <li><b>Move All From</b> – Move all items from Group B to Group A</li>
</ul>

<p><b>See also</b></p>
<ul>
  <li><a href="https://blazor.syncfusion.com/documentation/listbox/dual-listbox/" target="_blank" rel="noopener" aria-label="Navigate to ListBox Dual ListBox documentation">Blazor ListBox - Dual ListBox</a></li>
</ul>
</ActionDescription>


<div class="col-lg-12 control-section">
    <div id="listbox-control">
        <div class="dual-list-wrapper">
            <div class="dual-list-groupa">
                <h4>Group A</h4>
                <SfListBox Scope="@ScopeGroupB" DataSource="@GroupAItems" TItem="CountryItem" Height="330px" TValue="string[]" @attributes="GroupAAttributes">
                    <ListBoxFieldSettings Text="CountryName" Value="CountryCode"></ListBoxFieldSettings>
                    <ListBoxToolbarSettings Items="@ToolbarActions"></ListBoxToolbarSettings>
                    <ListBoxTemplates TItem="CountryItem">
                        <NoRecordsTemplate>
                            <span>No Data Available</span>
                        </NoRecordsTemplate>
                    </ListBoxTemplates>
                </SfListBox>
            </div>
            <div class="dual-list-groupb">
                <h4>Group B</h4>
                <SfListBox Scope="@ScopeGroupA" DataSource="@GroupBItems" Height="330px" TItem="CountryItem" TValue="string[]" @attributes="GroupBAttributes">
                    <ListBoxFieldSettings Text="CountryName" Value="CountryCode"></ListBoxFieldSettings>
                    <ListBoxTemplates TItem="CountryItem">
                        <NoRecordsTemplate>
                            <span>No Data Available</span>
                        </NoRecordsTemplate>
                    </ListBoxTemplates>
                </SfListBox>
            </div>
        </div>
    </div>
</div>

@code {
    private string[] ToolbarActions { get; set; } = new string[] { "MoveUp", "MoveDown", "MoveTo", "MoveFrom", "MoveAllTo", "MoveAllFrom" };
    private readonly string ScopeGroupA = "scope1";
    private readonly string ScopeGroupB = "scope2";

    private readonly Dictionary<string, object> GroupAAttributes = new Dictionary<string, object> { { "id", "scope1" } };
    private readonly Dictionary<string, object> GroupBAttributes = new Dictionary<string, object> { { "id", "scope2" } };

    private List<CountryItem> GroupAItems { get; set; } = new List<CountryItem>
    {
        new CountryItem { CountryName = "Australia", CountryCode = "AU" },
        new CountryItem { CountryName = "Bermuda", CountryCode = "BM" },
        new CountryItem { CountryName = "Canada", CountryCode = "CA" },
        new CountryItem { CountryName = "Cameroon", CountryCode = "CM" },
        new CountryItem { CountryName = "Denmark", CountryCode = "DK" },
        new CountryItem { CountryName = "France", CountryCode = "FR" },
        new CountryItem { CountryName = "Finland", CountryCode = "FI" },
        new CountryItem { CountryName = "Germany", CountryCode = "DE" },
        new CountryItem { CountryName = "Hong Kong", CountryCode = "HK" }
    };

    private List<CountryItem> GroupBItems { get; set; } = new List<CountryItem>
    {
        new CountryItem { CountryName = "India", CountryCode = "IN" },
        new CountryItem { CountryName = "Italy", CountryCode = "IT" },
        new CountryItem { CountryName = "Japan", CountryCode = "JP" },
        new CountryItem { CountryName = "Mexico", CountryCode = "MX" },
        new CountryItem { CountryName = "Norway", CountryCode = "NO" },
        new CountryItem { CountryName = "Poland", CountryCode = "PL" },
        new CountryItem { CountryName = "Switzerland", CountryCode = "CH" },
        new CountryItem { CountryName = "United Kingdom", CountryCode = "GB" },
        new CountryItem { CountryName = "United States", CountryCode = "US" }
    };

    public class CountryItem
    {
        public string? CountryName { get; set; }
        public string? CountryCode { get; set; }
    }

}

<style>
    .control-section .dual-list-wrapper {
        width: 60%;
        margin: 0 auto 10px;
        display: flex;
    }

    .dual-list-groupa,
    .dual-list-groupb {
        width: 50%;
    }

    .dual-list-groupb .e-listbox-container,
    .dual-list-groupb h4 {
        width: 87%;
        margin-left: 15px;
    }

    @@media screen and (max-width: 590px) {
        .control-section .dual-list-wrapper {
            width: 100%;
        }

        .dual-list-groupa {
            width: 56%;
        }

        .dual-list-groupb {
            width: 44%;
        }
    }

    @@media screen and (max-width: 400px) {
        .dual-list-groupa {
            width: 59%;
        }

        .dual-list-groupb {
            width: 41%;
        }
    }

    #listbox-control {
        margin: auto;
    }

    @@media screen and (max-width: 590px) {
        #listbox-control {
            width: 100%;
        }
    }
</style>