@page "/listbox/template"

@using Syncfusion.Blazor.DropDowns

@*Hidden:Lines*@
@inherits SampleBaseComponent
@*End:Hidden*@

<SampleDescription>
    <p>This sample demonstrates the Item template functionality in the ListBox component. Here, SVG icons are used for the visual representation of every list item.</p>
</SampleDescription>
<ActionDescription>
    <p>This sample illustrates how to integrate the <a href="https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.DropDowns.ListBoxTemplates-1.html#Syncfusion_Blazor_DropDowns_ListBoxTemplates_1_ItemTemplate" target="_blank" aria-label="ItemTemplate">ItemTemplate</a> to customize the content of the list items. This can be specified using the ItemTemplate directive. Inside the template, you can access the data using the implicit named parameter <strong>context</strong>.</p>
    <p>More information on the template feature configuration can be found in the <a href="https://blazor.syncfusion.com/documentation/listbox/icons-and-templates/#templates" target="_blank" aria-label="documentation section">documentation section</a>.</p>
</ActionDescription>

<div class="col-lg-12 control-section">
    <div id="listbox-control">
        <SfListBox CssClass="e-template-listbox" TValue="string[]" DataSource="@AvailableItems" TItem="ItemData">
            <ListBoxFieldSettings Text="ItemName"></ListBoxFieldSettings>
            <ListBoxTemplates TItem="ItemData">
                <ItemTemplate>
                    <div class="list-wrapper">
                        <span class="@((context as ItemData).AvatarClass) e-avatar e-avatar-xlarge e-avatar-circle"></span>
                        <span class="text">@((context as ItemData).ItemName)</span>
                        <span class="description">@((context as ItemData).ItemDescription)</span>
                    </div>
                </ItemTemplate>
            </ListBoxTemplates>
        </SfListBox>
    </div>
</div>

@code {

    private List<ItemData> AvailableItems { get; set; } = new List<ItemData>
    {
        new ItemData { ItemName = "JavaScript", AvatarClass = "javascript", ItemDescription = "It is a lightweight interpreted or JIT-compiled programming language." },
        new ItemData { ItemName = "TypeScript", AvatarClass = "typescript", ItemDescription = "It is a typed superset of JavaScript that compiles to plain JavaScript." },
        new ItemData { ItemName = "Angular", AvatarClass = "angular", ItemDescription = "It is a TypeScript-based open-source web application framework." },
        new ItemData { ItemName = "React", AvatarClass = "react", ItemDescription = "A JavaScript library for building user interfaces. It can also render on the server using Node." },
        new ItemData { ItemName = "Vue", AvatarClass = "vue", ItemDescription = "A progressive framework for building user interfaces and it is incrementally adoptable." }
    };

    public class ItemData
    {
        public string? ItemName { get; set; }
        public string? AvatarClass { get; set; }
        public string? ItemDescription { get; set; }
    }

}
@*Hidden:Lines*@
<style>
    #listbox-control {
        max-width: 450px;
        margin: auto;
    }
</style>
@*End:Hidden*@

<style>
	.e-template-listbox .e-list-item {
        line-height: 1.5 !important;
        padding: 0 16px !important;
    }

    .list-wrapper {
        height: inherit;
        position: relative;
        padding: 14px 12px 14px 78px;
    }

    .e-listbox-container .e-list-item {
        height: auto !important;
    }

    .list-wrapper .text,
    .list-wrapper .description {
        display: block;
        margin: 0;
        padding-bottom: 3px;
        white-space: normal;
    }

    .list-wrapper .description {
        font-size: 12px;
        font-weight: 500;
    }

    .e-listbox-container .list-wrapper .text {
        font-weight: bold;
        font-size: 13px;
    }

    .list-wrapper .e-avatar {
        position: absolute;
        left: 5px;
        background-color: transparent;
        font-size: 22px;
        top: calc(50% - 35px);
    }

    .bootstrap4 .list-wrapper .e-avatar {
        top: calc(50% - 28px);
    }

    .javascript {
        background-image: url(@(SampleService.WebAssetsPath + "images/listbox/javascript.svg"));
    }

    .typescript {
        background-image: url(@(SampleService.WebAssetsPath + "images/listbox/typescript.svg"));
    }

    .angular {
        background-image: url(@(SampleService.WebAssetsPath + "images/listbox/angular.svg"));
    }

    .vue {
        background-image: url(@(SampleService.WebAssetsPath + "images/listbox/vue.svg"));
    }

    .react {
        background-image: url(@(SampleService.WebAssetsPath + "images/listbox/react.svg"));
    }
</style>