@page "/range-slider/api"

@using Syncfusion.Blazor.Inputs;
@*Hidden:Lines*@
@inherits SampleBaseComponent
@inject NavigationManager NavigationManager


@*End:Hidden*@

<SampleDescription>
    <p>This sample demonstrates the customization of the <a href='https://www.syncfusion.com/blazor-components/blazor-range-slider' target='_blank' aria-label="Feature Tour of Blazor Range Slider">Blazor Range Slider</a> component by using its properties from the property pane. Select any combination of properties from the property pane to customize the <code>Range Slider</code> component.</p>
</SampleDescription>
<ActionDescription>
    <p>In this demo, the <code>Range Slider</code> is rendered with minimal configuration.</p>
    <p>This sample can be customized further with the combination of Slider properties from the property pane. For example, <a target='_blank' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Inputs.SfSlider-1.html#Syncfusion_Blazor_Inputs_SfSlider_1_Min' aria-label="Class reference of Min property in Range Slider">Min</a>, <a target='_blank' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Inputs.SfSlider-1.html#Syncfusion_Blazor_Inputs_SfSlider_1_Max' aria-label="Class reference of Max property in Range Slider">Max</a>, and <a target='_blank' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Inputs.SfSlider-1.html#Syncfusion_Blazor_Inputs_SfSlider_1_Step' aria-label="Class reference of Step property in Range Slider">Step</a> value can be changed from the property pane.</p>
</ActionDescription>

<div class="col-lg-8 control-section sb-property-border">
    <div class="content-wrapper">
        <div class="slider-wrap">
            <label>MinRange Slider</label>
            @*Initialize the MinRange Slider component*@
            <SfSlider @bind-Value="@Value" Min="@Min" Max="@Max" Step="@Step" Type="@SliderType.MinRange" TValue="int">
                <SliderTicks Placement="@Placement.After" LargeStep="20" SmallStep="5" ShowSmallTicks="true"></SliderTicks>
                <SliderTooltip IsVisible="true" Placement="@TooltipPlacement.Before"></SliderTooltip>
            </SfSlider>
        </div>
    </div>
</div>
<div class="col-lg-4 property-section">
    <div class="property-panel-section">
        <div class="property-panel-header">Properties</div><div class="property-panel-content">
            <table id="property" title="Properties" class="property-panel-table">
                <tbody>
                    <tr>
                        <td style="width: 50%">
                            <div>Min</div>
                        </td>
                        <td style="width: 50%;padding-right: 10px">
                            <div>
                                @*Initialize the Min value Numeric Textbox component*@
                                <SfNumericTextBox TValue="int?" Value="@Min" Min="0" Max="50">
                                    <NumericTextBoxEvents TValue="int?" ValueChange="(e => { Min = (int)e.Value; })"></NumericTextBoxEvents>
                                </SfNumericTextBox>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 50%">
                            <div>Max</div>
                        </td>
                        <td style="width: 50%;padding-right: 10px">
                            <div>
                                @*Initialize the Max value Numeric Textbox component*@
                                <SfNumericTextBox TValue="int?" Value="@Max" Min="51" Max="100">
                                    <NumericTextBoxEvents TValue="int?" ValueChange="(e => { Max = (int)e.Value; })"></NumericTextBoxEvents>
                                </SfNumericTextBox>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 50%">
                            <div>Step</div>
                        </td>
                        <td style="width: 50%;padding-right: 10px">
                            <div>
                                @*Initialize the Step value Numeric Textbox component*@
                                <SfNumericTextBox TValue="int?" Value="@Step" Min="0" Max="100">
                                    <NumericTextBoxEvents TValue="int?" ValueChange="(e => { Step = (int)e.Value; })"></NumericTextBoxEvents>
                                </SfNumericTextBox>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

@code {
    // Specifies the value of MinRange Slider component.
    int Value = 25;
    // Specifies the step value of MinRange Slider component.
    int Step = 1;
    // Specifies the min value of MinRange Slider component.
    int Min = 0;
    // Specifies the max value of MinRange Slider component.
    int Max = 100;
    
}

<style>
    /* Sample specific styles */
    .content-wrapper {
        width: 50%;
        margin: 0 auto;
        min-width: 185px;
    }

    .e-bigger .content-wrapper {
        width: 80%;
    }

    .slider-wrap {
        margin: 40px 0;
    }

    .slider-wrap label {
        padding-bottom: 26px;
        font-size: 13px;
        font-weight: 500;
        margin-top: 15px;
        text-align: center;
        width: 100%;
    }

    .property-panel-table div {
        padding-left: 0;
        padding-right: 5px;
    }
</style>