@page "/range-slider/keyboard-navigation"

@using Syncfusion.Blazor.Inputs

@*Hidden:Lines*@
@inherits SampleBaseComponent
@inject NavigationManager NavigationManager


@*End:Hidden*@

<SampleDescription>
    <p>The <a href='https://www.syncfusion.com/blazor-components/blazor-range-slider' target='_blank' aria-label="Feature Tour of Blazor Range Slider">Blazor Range Slider</a> can be accessed through keyboard shortcuts. In the following sample, various key combinations have been used to access the <code>Range Slider</code> functionalities interactively.</p>
</SampleDescription>
<ActionDescription>
    <p>The <code>Range Slider</code> has built-in keyboard support and allows you to access its functionalities using a keyboard alone. The supported keys are as follows.</p>
    <ul>
        <li>
            <b>Focus</b>
            <ul>
                <li>
                    <span class="key-class"><kbd>Alt</kbd> + <kbd>J</kbd></span>
                    <span> - Focuses on the first Blazor component of the sample.</span>
                </li>
            </ul>
        </li>
        <li>
            <b>Range Slider</b>
            <ul>
                <li>
                    <span class="key-class"><kbd>Right arrow</kbd> or <kbd>Up arrow</kbd></span>
                    <span> - Increases the value of the <code>Range Slider</code>.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Left arrow</kbd> or <kbd>Down arrow</kbd></span>
                    <span> - Decreases the value of the <code>Range Slider</code>.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Home</kbd></span>
                    <span> - Moves to the start value (for <code>Range Slider</code>, when the second thumb is focused and the <code>Home</code> key is pressed, it moves to the first thumb value).</span>
                </li>
                <li>
                    <span class="key-class"><kbd>End</kbd></span>
                    <span> - Moves to the end value (for <code>Range Slider</code>, when the first thumb is focused and the <code>End</code> key is pressed, it moves to the second thumb value).</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Page up</kbd></span>
                    <span> - Increases the <code>Range Slider</code> value based on the <a target='_blank' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Inputs.SliderTicks.html#Syncfusion_Blazor_Inputs_SliderTicks_LargeStep' aria-label="Class reference of LargeStep property in Range Slider">LargeStep</a> value (for the <code>Range Slider</code>, when the first thumb is focused and the <code>Page Up</code> key is pressed, it moves until to the second thumb value).</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Page down</kbd></span>
                    <span> - Decreases the <code>Range Slider</code> value based on the <code>LargeStep</code> value (for the <code>Range Slider</code>, when the second thumb is focused and the <code>Page Down</code> key is pressed, it moves until to the first thumb value).</span>
                </li>
                <li>
                    <span class="key-class"><kbd> Tab</kbd></span>
                    <span> -  Focus on the <code>Range Slider</code> handle (move the focus between the handles in the <code>Range Slider</code>).</span>
                </li>
            </ul>
        </li>
    </ul>
</ActionDescription>

<div class="control-section">
    <div class="content-wrapper">
        <div class="slider-wrap">
            <label>Default Slider</label>
            @*Initialize the MinRange Slider component*@
            <SfSlider Value="25" Min="0" Max="100" Step="10" Type=SliderType.MinRange>
                <SliderTicks Placement="@Placement.Before" LargeStep="20" SmallStep="10" ShowSmallTicks="true"></SliderTicks>
                <SliderTooltip IsVisible="true" Placement="TooltipPlacement.Before" ShowOn="@TooltipShowOn.Focus"></SliderTooltip>
            </SfSlider>
        </div>
        <div class="slider-wrap">
            <label>Range Slider</label>
            @*Initialize the Range Slider component*@
            <SfSlider Value="@Value" Min="0" Max="100" Step="10" Type=SliderType.Range>
                <SliderTicks Placement="@Placement.Before" LargeStep="20" SmallStep="10" ShowSmallTicks="true"></SliderTicks>
                <SliderTooltip IsVisible="true" Placement="TooltipPlacement.Before" ShowOn="@TooltipShowOn.Focus"></SliderTooltip>
            </SfSlider>
        </div>
    </div>
</div>

@code {
    // Specifies the value of the Range Slider.
    int[] Value = { 20, 50 };
    
}

<style>
    /* Sample specific styles */
    .content-wrapper {
        width: 52%;
        margin: 0 auto;
        min-width: 185px;
    }

    .e-bigger .content-wrapper {
        width: 80%;
    }

    .slider-wrap {
        margin-top: 15px;
    }

    .slider-wrap label {
        padding-bottom: 50px;
        font-size: 13px;
        font-weight: 500;
        margin-top: 15px;
        width: 100%;
        text-align: center;
    }

    .key-class {
        display: inline-block;
        width: 190px;
    }
</style>
