@page "/kanban/swimlane-template"
@inject Microsoft.AspNetCore.Components.NavigationManager UriHelper

@using Syncfusion.Blazor.KanbanDemo
@using Syncfusion.Blazor.Kanban
@*Hidden:Lines*@
@inherits SampleBaseComponent;


@*End:Hidden*@

<SampleDescription>
    <p>This sample demonstrates how to customize the swimlane header of Kanban. In this sample, the swimlane header is customized by showing assignee photos along with name.</p>
</SampleDescription>
<ActionDescription>
    <p>The Kanban provides an option to customize its swimlane header using the <a href="https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Kanban.KanbanSwimlaneSettings.html#Syncfusion_Blazor_Kanban_KanbanSwimlaneSettings_Template" aria-label="Class reference of Template property in Kanban">Template</a> property of <a href="https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Kanban.KanbanSwimlaneSettings.html" aria-label="Class reference of KanbanSwimlaneSettings">KanbanSwimlaneSettings</a>.</p>
</ActionDescription>

<div class="col-lg-12 control-section">
    <SfKanban KeyField="Status" DataSource="@cardData">
        <KanbanColumns>
            @foreach (ColumnModel item in columnData)
            {
                <KanbanColumn HeaderText="@item.HeaderText" KeyField="@item.KeyField"/>
            }
        </KanbanColumns>
        <KanbanCardSettings ContentField="Summary" HeaderField="Id"></KanbanCardSettings>
        <KanbanSwimlaneSettings KeyField="AssigneeKey" TextField="Assignee">
            <Template>
                @{
                    SwimlaneSettingsModel swimlane = (SwimlaneSettingsModel)context;
                    <div class="swimlane-template e-swimlane-template-table">
                        <div class="e-swimlane-row-text">
                            <img src="@UriHelper.ToAbsoluteUri($"{SampleService.WebAssetsPath}images/kanban/" + swimlane.KeyField.Replace(" ", "-").ToLower() + ".png")" alt="logo" />
                            <span>@swimlane.TextField</span>
                        </div>
                    </div>
                }
            </Template>
        </KanbanSwimlaneSettings>
    </SfKanban>
</div>

<style>
    .swimlane-template {
        font-size: 15px;
        font-weight: 500;
    }

        .swimlane-template img {
            height: 24px;
            width: 24px;
            border-radius: 50%;
        }

        .swimlane-template span {
            padding-left: 10px;
        }
</style>

@code{
    
    private List<KanbanDataModel> cardData = new KanbanDataModel().GetTasks();
    private List<ColumnModel> columnData = new List<ColumnModel>() {
        new ColumnModel(){ HeaderText= "To Do", KeyField= new List<string>() { "Open"} },
        new ColumnModel(){ HeaderText= "In Progress", KeyField= new List<string>() { "In Progress"} },
        new ColumnModel(){ HeaderText= "Testing", KeyField= new List<string>() { "Testing"} },
        new ColumnModel(){ HeaderText= "Done", KeyField= new List<string>() { "Close" } }
    };
}