@page "/kanban/toggle-columns"

@using Syncfusion.Blazor.KanbanDemo
@using Syncfusion.Blazor.Kanban
@*Hidden:Lines*@
@inherits SampleBaseComponent;
@inject NavigationManager NavigationManager


@*End:Hidden*@

<SampleDescription>
    <p>This sample demonstrates the toggle column feature of Kanban where the user can collapse or expand the columns using expand button in the column header. 
        In this demo, <b>Testing</b> column is collapsed while loading itself.</p>
</SampleDescription>
<ActionDescription>
    <p>The Kanban components allows user to expand or collapse the columns to save space. 
        The remaining columns extend its width to occupy the hidden column space. 
        This feature can be achieved by the following properties of <a href="https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Kanban.KanbanColumn.html" aria-label="Class reference of KanbanColumn">KanbanColumn</a>:
    </p>
    <ul>
        <li><a href="https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Kanban.KanbanColumn.html#Syncfusion_Blazor_Kanban_KanbanColumn_AllowToggle" aria-label="Class reference of AllowToggle property in Kanban">AllowToggle</a> - 
            Enables the expand and collapse behavior in Kanban.</li>
        <li><a href="https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Kanban.KanbanColumn.html#Syncfusion_Blazor_Kanban_KanbanColumn_IsExpanded" aria-label="Class reference of IsExpanded property in Kanban">IsExpanded</a> - 
            Returns the expand and collapse state of the column and can be used to collapse the columns on the page load itself.</li>
    </ul>
</ActionDescription>

<div class="col-lg-12 control-section">
    <SfKanban KeyField="Status" DataSource="@cardData">
        <KanbanColumns>
            @foreach (ColumnModel item in columnData)
            {
                <KanbanColumn HeaderText="@item.HeaderText" KeyField="@item.KeyField" AllowToggle="@item.AllowToggle" IsExpanded="@item.IsExpanded"/>
            }
        </KanbanColumns>
        <KanbanCardSettings HeaderField="Id" ContentField="Summary"/>
    </SfKanban>
</div>

@code{
    
    private List<KanbanDataModel> cardData = new KanbanDataModel().GetTasks();
    private List<ColumnModel> columnData = new List<ColumnModel>() {
        new ColumnModel(){ HeaderText= "To Do", KeyField= new List<string>() { "Open" }, AllowToggle = true, IsExpanded = true },
        new ColumnModel(){ HeaderText= "In Progress", KeyField= new List<string>() { "In Progress" }, AllowToggle = true, IsExpanded = true },
        new ColumnModel(){ HeaderText= "Testing", KeyField= new List<string>() { "Testing" }, AllowToggle = true, IsExpanded = false },
        new ColumnModel(){ HeaderText= "Done", KeyField=new List<string>() { "Close" }, AllowToggle = true, IsExpanded = true }
    };
}