@page "/kanban/toggle-columns"

@using Syncfusion.Blazor.KanbanDemo
@using Syncfusion.Blazor.Kanban
@*Hidden:Lines*@
@inherits SampleBaseComponent;
@*End:Hidden*@

<ActionDescription>
<p>
    This sample demonstrates the toggle column feature, allowing users to collapse or expand columns using the header button. In this demo, the <strong>Testing</strong> column is initially collapsed.
  </p>
  <p>
    The Kanban component enables column collapse/expand to optimize screen space. Remaining columns automatically stretch to occupy free space. Configure this behavior using the following <a href="https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Kanban.KanbanColumn.html" aria-label="Class reference of KanbanColumn">KanbanColumn</a> properties:
  </p>
  <ul>
    <li><a href="https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Kanban.KanbanColumn.html#Syncfusion_Blazor_Kanban_KanbanColumn_AllowToggle" aria-label="Class reference of AllowToggle property in Kanban">AllowToggle</a> – Enables column expand/collapse.</li>
    <li><a href="https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Kanban.KanbanColumn.html#Syncfusion_Blazor_Kanban_KanbanColumn_IsExpanded" aria-label="Class reference of IsExpanded property in Kanban">IsExpanded</a> – Determines initial expand/collapse state.
    </li>
  </ul>
</ActionDescription>


<div class="col-lg-12 control-section">
    <SfKanban KeyField="Status" DataSource="@CardData">
        <KanbanColumns>
            @foreach (ColumnModel item in ColumnData)
            {
                <KanbanColumn HeaderText="@item.HeaderText" KeyField="@item.KeyField" AllowToggle="@item.AllowToggle" IsExpanded="@item.IsExpanded"/>
            }
        </KanbanColumns>
        <KanbanCardSettings HeaderField="Id" ContentField="Summary"/>
    </SfKanban>
</div>

@code{
    private List<KanbanDataModel> CardData = new KanbanDataModel().GetTasks();
    private List<ColumnModel> ColumnData = new List<ColumnModel>()
    {
        new ColumnModel() { HeaderText = "To Do", KeyField = new List<string>() { "Open" }, AllowToggle = true, IsExpanded = true },
        new ColumnModel() { HeaderText = "In Progress", KeyField = new List<string>() { "In Progress" }, AllowToggle = true, IsExpanded = true },
        new ColumnModel() { HeaderText = "Testing", KeyField = new List<string>() { "Testing" }, AllowToggle = true, IsExpanded = false },
        new ColumnModel() { HeaderText = "Done", KeyField = new List<string>() { "Close" }, AllowToggle = true, IsExpanded = true }
    };
}