@page "/kanban/tooltip-template"

@using Syncfusion.Blazor.KanbanDemo
@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.Kanban
@*Hidden:Lines*@
@inherits SampleBaseComponent;
@inject NavigationManager NavigationManager


@*End:Hidden*@

<SampleDescription>
    <p>This example shows how to customize the tooltips that appear when you hover over the cards in Kanban.</p>
</SampleDescription>
<ActionDescription>
    <p>The Kanban provides the following properties for tooltip customization,
    <ul>
        <li><a href="https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Kanban.SfKanban-1.html#Syncfusion_Blazor_Kanban_SfKanban_1_EnableTooltip" aria-label="Class reference of EnableTooltip property in Kanban">EnableTooltip</a> 
            - Decides whether to show tooltip default and templated tooltips. Kanban displays default tooltip or templated content based on the <a href="https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Kanban.KanbanTemplates.html#Syncfusion_Blazor_Kanban_KanbanTemplates_TooltipTemplate" aria-label="Class reference of TooltipTemplate property in Kanban">TooltipTemplate</a> property.</li>
        <li><a href="https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Kanban.KanbanTemplates.html#Syncfusion_Blazor_Kanban_KanbanTemplates_TooltipTemplate" aria-label="Class reference of TooltipTemplate property in Kanban">TooltipTemplate</a>
            - The cards show a tooltip with this templated content when the <a href="https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Kanban.SfKanban-1.html#Syncfusion_Blazor_Kanban_SfKanban_1_EnableTooltip" aria-label="Class reference of EnableTooltip property in Kanban">EnableTooltip</a> is true.</li>
    </ul>
    </p>
</ActionDescription>

<div class="col-lg-9 control-section">
    <SfKanban KeyField="Status" DataSource="@cardData" EnableTooltip="@IsEnableTooltip">
        <KanbanColumns>
            @foreach (ColumnModel item in columnData)
            {
                <KanbanColumn HeaderText="@item.HeaderText" KeyField="@item.KeyField"/>
            }
        </KanbanColumns>
        <KanbanCardSettings ContentField="Summary" HeaderField="Id"/>
        <KanbanTemplates>
            <TooltipTemplate>
                @{
                    KanbanDataModel card = (KanbanDataModel)context;
                    <div class='e-kanbantooltiptemp'>
                        <table>
                            <tr>
                                <td class="details">
                                    <table>
                                        <colgroup>
                                            <col style="width:30%">
                                            <col style="width:70%">
                                        </colgroup>
                                        <tbody>
                                            <tr>
                                                <td class="CardHeader">Assignee:</td>
                                                <td>@card.Assignee</td>
                                            </tr>
                                            <tr>
                                                <td class="CardHeader">Type:</td>
                                                <td>@card.Type</td>
                                            </tr>
                                            <tr>
                                                <td class="CardHeader">Estimate:</td>
                                                <td>@card.Estimate</td>
                                            </tr>
                                            <tr>
                                                <td class="CardHeader">Summary:</td>
                                                <td>@card.Summary</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </div>
                }
            </TooltipTemplate>
        </KanbanTemplates>
    </SfKanban>
</div>
<div class="col-lg-3 property-section">
    <div class="property-panel-header">Properties</div>
    <div class="property-panel-content">
        <table class="property-panel-table" title="Tooltip Template">
            <tbody>
                <tr>
                    <td style="width: 100%">
                        <SfCheckBox TChecked="bool" @bind-Checked="@IsEnableTooltip" Label="Enable Tooltip" ValueChange="@((args) => IsEnableTooltip = args.Checked)"></SfCheckBox>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<style>
    .property-panel-section table {
        width: 100%;
    }

        .property-panel-section table tr {
            height: 50px;
        }

        .property-panel-section table td {
            padding-left: 10px;
            width: 50%;
        }
</style>

@code{
    private bool IsEnableTooltip = true;
    
    private List<KanbanDataModel> cardData = new KanbanDataModel().GetTasks();
    private List<ColumnModel> columnData = new List<ColumnModel>() {
        new ColumnModel(){ HeaderText= "To Do", KeyField= new List<string>() { "Open"} },
        new ColumnModel(){ HeaderText= "In Progress", KeyField= new List<string>() { "In Progress"} },
        new ColumnModel(){ HeaderText= "Testing", KeyField= new List<string>() { "Testing"} },
        new ColumnModel(){ HeaderText= "Done", KeyField= new List<string>() { "Close" } }
    };
}