@page "/kanban/wip-validation"

@using Syncfusion.Blazor.KanbanDemo
@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.DropDowns
@using Syncfusion.Blazor.Inputs
@using Syncfusion.Blazor.Kanban
@*Hidden:Lines*@
@inherits SampleBaseComponent;
@inject NavigationManager NavigationManager


@*End:Hidden*@

<SampleDescription>
    <p>This sample demonstrates how to limit the minimum and maximum number of cards to each column of the Kanban control. Configured the options in the property panel to change the constraint type and related attributes.</p>
</SampleDescription>
<ActionDescription>
    <p>The Kanban component validates the number of cards in the particular column or swimlane using the <a href="https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Kanban.SfKanban-1.html#Syncfusion_Blazor_Kanban_SfKanban_1_ConstraintType" aria-label="Class reference of ConstraintType property in Kanban">ConstraintType</a> property as follows, 
    </p>
    <ul>
        <li><a href="https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Kanban.ConstraintType.html#Syncfusion_Blazor_Kanban_ConstraintType_Column" aria-label="Class reference of Column property in Kanban">Column</a>: Validates the number of cards based on the column. By default, column validation is applied to Kanban board.</li>
        <li><a href="https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Kanban.ConstraintType.html#Syncfusion_Blazor_Kanban_ConstraintType_Swimlane" aria-label="Class reference of Swimlane property in Kanban">Swimlane</a>: Validation applies based on number of cards in a particular column cell and swimlane.</li>
    </ul>
    <p>In this demo, property panel shows the following options: </p>
    <ul>
        <li><code>Columns</code>: You can choose a column and set maximum and minimum limit to the selected column.</li>
        <li><a href="https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Kanban.KanbanColumn.html#Syncfusion_Blazor_Kanban_KanbanColumn_MinCount" aria-label="Class reference of MinCount property in Kanban">MinCount</a>: Minimum limit of cards required for each column. If the cards count does not reach the minimum limit, it will indicate the validation failed state.</li>
        <li><a href="https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Kanban.KanbanColumn.html#Syncfusion_Blazor_Kanban_KanbanColumn_MaxCount" aria-label="Class reference of MaxCount property in Kanban">MaxCount</a>: Maximum limit of cards per column. If the cards count exceeds the maximum limit, it will indicate the validation failed state.</li>
    </ul>
</ActionDescription>

<div class="col-lg-9 control-section">
    <SfKanban KeyField="Status" DataSource="@cardData" ConstraintType="@(IsSwimlaneEnable ? ConstraintType.Swimlane : ConstraintType.Column)">
        <KanbanColumns>
            @foreach (ColumnModel item in columnData)
            {
                <KanbanColumn HeaderText="@item.HeaderText" KeyField="@item.KeyField" AllowToggle="true" ShowItemCount="true" 
                            MinCount="@item.MinCount" MaxCount="@item.MaxCount"/>
            }
        </KanbanColumns>
        <KanbanCardSettings HeaderField="Id" ContentField="Summary"/>
        <KanbanSwimlaneSettings KeyField="Assignee" ShowItemCount="true" AllowDragAndDrop="true"/>
    </SfKanban>
</div>
<div class="col-lg-3 property-section">
    <div class="property-panel-section">
        <div class="property-panel-header">Constraint</div>
        <div class="property-panel-content">
            <table class="property-panel-table" title="Constraint">
                <tbody>
                    <tr>
                        <td style="width: 35%">Type</td>
                        <td style="width: 65%">
                            <SfDropDownList TItem="string" TValue="string" DataSource="@ColumnConstraints" @bind-Value="@ColumnConstraintValue">
                                <DropDownListEvents TItem="string" TValue="string" ValueChange="@((args) => IsSwimlaneEnable = args.Value == "Swimlane")"/>
                            </SfDropDownList>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="property-panel-header">Validate Constraints</div>
        <div class="property-panel-content">
            <table class="property-panel-table" title="Validate Constraints">
                <tbody>
                    <tr>
                        <td style="width: 35%">Columns</td>
                        <td style="width: 65%">
                            <SfDropDownList TItem="string" TValue="string" DataSource="@KanbanColumns" Placeholder="Header Text" ShowClearButton="true" 
                                            @bind-Value="@ColumnKeyValue">
                                <DropDownListFieldSettings Text="HeaderText" Value="KeyField"/>
                                <DropDownListEvents TItem="string" TValue="string" ValueChange="ColumnValueUpdate"/>
                            </SfDropDownList>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 35%">MinCount</td>
                        <td style="width: 65%">
                            <SfNumericTextBox ID="minIndex" TValue="int?" Placeholder="Minimum Count" Min="0" Max="20" @bind-Value=@ColumnMinCount/>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 35%">MaxCount</td>
                        <td style="width: 65%">
                            <SfNumericTextBox ID="maxIndex" TValue="int?" Placeholder="Maximum Count" Min="0" Max="20" @bind-Value=@ColumnMaxCount/>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="2">
                            <SfButton ID="validate" Content="Validate" OnClick="OnColumnValidationUpdate"/>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>

<style>
    .property-panel-section table {
        width: 100%;
    }

        .property-panel-section table tr {
            height: 50px;
        }

        .property-panel-section table td {
            padding-left: 10px;
            width: 50%;
        }

        .property-panel-section table tfoot td {
            padding: 10px 0;
            text-align: center;
        }
</style>

@code{
    private int? ColumnMinCount;
    private int? ColumnMaxCount;
    private string ColumnKeyValue;
    private string ColumnDataValue;
    private bool IsSwimlaneEnable = false;
    private string ColumnConstraintValue = "Column";
    private List<string> ColumnConstraints = new List<string>() { "Column", "Swimlane" };
    private List<string> KanbanColumns = new List<string>() { "To Do", "In Progress", "Testing", "Done" };
    
    private List<KanbanDataModel> cardData = new KanbanDataModel().GetTasks();
    private List<ColumnModel> columnData = new List<ColumnModel>() {
        new ColumnModel(){ HeaderText= "To Do", KeyField= new List<string>() { "Open" }, MinCount = 6, MaxCount = 8 },
        new ColumnModel(){ HeaderText= "In Progress", KeyField= new List<string>() { "In Progress" }, MinCount = 2, MaxCount = 0 },
        new ColumnModel(){ HeaderText= "Testing", KeyField= new List<string>() { "Testing" }, MinCount = 2, MaxCount = 5 },
        new ColumnModel(){ HeaderText= "Done", KeyField=new List<string>() { "Close" }, MinCount = 0, MaxCount = 4 }
    };

    private void ColumnValueUpdate(Syncfusion.Blazor.DropDowns.ChangeEventArgs<string, string> args)
    {
        if (string.IsNullOrEmpty(args.Value))
        {
            this.ColumnKeyValue = null;
            this.ColumnMinCount = null;
            this.ColumnMaxCount = null;
        }
        else
        {
            this.ColumnDataValue = args.Value;
            ColumnModel ColumnData = columnData.Where(e => e.HeaderText == this.ColumnDataValue).FirstOrDefault();
            this.ColumnMinCount = ColumnData.MinCount;
            this.ColumnMaxCount = ColumnData.MaxCount;
        }
    }

    private void OnColumnValidationUpdate()
    {
        if (this.ColumnDataValue != null) {
            ColumnModel ColumnData = columnData.Where(e => e.HeaderText == this.ColumnDataValue).FirstOrDefault();
            ColumnData.MinCount = (int)this.ColumnMinCount;
            ColumnData.MaxCount = (int)this.ColumnMaxCount;
            this.ColumnKeyValue = null;
            this.ColumnDataValue = null;
        }
    }
}
