@page "/Sparkline/DefaultFunctionalities"

@using Syncfusion.EJ2.RazorComponents.Charts

@*Hidden:Lines*@
@using ej2_blazor_samples
@{
        SampleBrowser.CurrentSampleName = "Default Functionalities";
        SampleBrowser.CurrentControlName = "Sparkline";
        SampleBrowser.CurrentControlCategory = "Sparkline";
        SampleBrowser.CurrentControl = SampleBrowser.Config.Sparkline;
        SampleBrowser.ActionDescription = new string[] {
        @"<p>
        This sample visualizes population, population density, population growth rate, and birth rate of various countries from 2005 to 2014.
    </p>"
    };
        SampleBrowser.Description = new string[] {
        @" <p>
        In this example, you can see how to render sparkline in a table and we have customized the color and type of the sparklines.Tooltip is enabled in this example. To see the tooltip in action, hover the mouse over the data points or tap on a data point in touch enabled devices.
    </p>
    <br />
    <p style=""font-weight: 500"">Injecting Module</p>
    <p>

        Sparkline component features are segregated into individual feature-wise modules. To use a tooltip, inject the <code>SparklineTooltip</code> module using the < code > Sparkline.Inject(SparklineTooltip) </ code > method.
    </ p > "
    };
}
@*End:Hidden*@

<div class="control-section">
    <div class="cols-sample-area" align="center">
        <div style="width: 400px; text-align: center; font-size: 17px">
            Population comparision between various countries
        </div>
        <div style="width: 380px; text-align: center; font-size: 12.5px;">
            (From 2005 to 2014)
        </div>
        <br>
        <br>
        <table class="cols-sample-area row" style="width: 100%;">
            <tr>
                <td align="center"></td>
                <td>
                    <div id="population" style="height: 50px;text-align: center">
                        <b>Population</b>
                    </div>
                </td>
                <td>
                    <div id="density" style="height: 50px;text-align: center">
                        <b>Population Density</b>
                    </div>
                </td>
                <td>
                    <div id="growth" style="height: 50px;text-align: center">
                        <b>Population Growth Rate</b>
                    </div>
                </td>
                <td>
                    <div id="birth" style="height: 50px;text-align: center">
                        <b>Birth Rate</b>
                    </div>
                </td>
            </tr>
            <tr style="height: 80px">
                <td align="center">
                    <b>Australia</b>
                </td>
                <td>
                    <div id="p-australia" style="height: 50px;width: 150px;margin-left: 10px">
                        <EjsSparkline ID="p-australia" XName="XValue" YName="YValue" DataSource=@populationInAustralia Type="@Syncfusion.EJ2.RazorComponents.Charts.SparklineType.Line" Fill="#3C78EF" NegativePointColor="#fc5070" LineWidth="2">
                            <SparklineTooltipSettings Visible='true' Format="${XValue} : ${YValue}">
                                <SparklineTrackLineSettings Visible='true' Color="#fc5070" Width="2">
                                </SparklineTrackLineSettings>
                            </SparklineTooltipSettings>
                        </EjsSparkline>
                    </div>
                </td>
                <td>
                    <div id="d-australia" style="height: 50px;width: 150px;margin-left: 10px">
                        <EjsSparkline ID="d-australia" XName="XValue" YName="YValue" DataSource=@populationDensityInAustralia Type="@Syncfusion.EJ2.RazorComponents.Charts.SparklineType.Area" Fill="#3C78EF" NegativePointColor="#fc5070" LineWidth="2">
                            <SparklineBorder Color="#fc5070" Width="2"></SparklineBorder>
                            <SparklineTooltipSettings Visible='true' Format="${XValue} : ${YValue}">
                            </SparklineTooltipSettings>
                        </EjsSparkline>
                    </div>
                </td>
                <td>
                    <div id="g-australia" style="height: 50px;width: 150px;margin-left: 10px">
                    <EjsSparkline ID="g-australia" XName="XValue" YName="YValue" DataSource=@populationGrowthRateInAustralia Type="@Syncfusion.EJ2.RazorComponents.Charts.SparklineType.WinLoss" Fill ="#3C78EF"  NegativePointColor= "#fc5070" LineWidth="2">
                        <SparklineTooltipSettings Visible='true' Format="${XValue} : ${YValue}">
                        </SparklineTooltipSettings>
                    </EjsSparkline>
                    </div>
                </td>
                <td>
                    <div id="b-australia" style="height: 50px;width: 150px;margin-left: 10px">
                        <EjsSparkline ID="b-australia" XName="XValue" YName="YValue" DataSource=@birthRateInAustralia Type="@Syncfusion.EJ2.RazorComponents.Charts.SparklineType.Column" Fill="#3C78EF" NegativePointColor="#fc5070" LineWidth="2">
                            <SparklineAxisSettings MinY="12">
                            </SparklineAxisSettings>
                            <SparklineTooltipSettings Visible='true' Format="${XValue} : ${YValue}">
                            </SparklineTooltipSettings>
                        </EjsSparkline>
                    </div>
                </td>
            </tr>
            <tr style="height: 80px">
                <td align="center">
                    <b>Canada</b>
                </td>
                <td>
                        <div id="p-canada" style="height: 50px;width: 150px;margin-left: 10px">
                            <EjsSparkline ID="p-canada" XName="XValue" YName="YValue" DataSource=@populationInCanada Type="@Syncfusion.EJ2.RazorComponents.Charts.SparklineType.Line" Fill="#3C78EF" NegativePointColor="#fc5070" LineWidth="2">
                                <SparklineTooltipSettings Visible='true' Format="${XValue} : ${YValue}">
                                    <SparklineTrackLineSettings Visible='true' Color="#fc5070" Width="2">
                                    </SparklineTrackLineSettings>
                                </SparklineTooltipSettings>
                            </EjsSparkline>
                        </div>
                </td>
                <td>
                    <div id="d-canada" style="height: 50px;width: 150px;margin-left: 10px">
                        <EjsSparkline ID="d-canada" XName="XValue" YName="YValue" DataSource=@populationDensityInCanada Type="@Syncfusion.EJ2.RazorComponents.Charts.SparklineType.Area" Fill="#3C78EF" NegativePointColor="#fc5070" LineWidth="2">
                            <SparklineBorder Color="#fc5070" Width="2"></SparklineBorder>
                            <SparklineTooltipSettings Visible='true' Format="${XValue} : ${YValue}">
                            </SparklineTooltipSettings>
                        </EjsSparkline>
                    </div>
                </td>
                <td>
                    <div id="g-canada" style="height: 50px;width: 150px;margin-left: 10px">
                        <EjsSparkline ID="g-canada" XName="XValue" YName="YValue" DataSource=@populationGrowthRateInCanada Type="@Syncfusion.EJ2.RazorComponents.Charts.SparklineType.WinLoss" Fill="#3C78EF" NegativePointColor="#fc5070" LineWidth="2">
                            <SparklineTooltipSettings Visible='true' Format="${XValue} : ${YValue}">
                            </SparklineTooltipSettings>
                        </EjsSparkline>
                    </div>
                </td>
                <td>
                    <div id="b-canada" style="height: 50px;width: 150px;margin-left: 10px">
                        <EjsSparkline ID="b-canada" XName="XValue" YName="YValue" DataSource=@birthRateInCanada Type="@Syncfusion.EJ2.RazorComponents.Charts.SparklineType.Column" Fill="#3C78EF" NegativePointColor="#fc5070" LineWidth="2">
                            <SparklineAxisSettings MinY="10.20">
                            </SparklineAxisSettings>
                            <SparklineTooltipSettings Visible='true' Format="${XValue} : ${YValue}">
                            </SparklineTooltipSettings>
                        </EjsSparkline>
                    </div>
                </td>
            </tr>
            <tr style="height: 80px">
                <td align="center">
                    <b>China</b>
                </td>
                <td>
                    <div id="p-china" style="height: 50px;width: 150px;margin-left: 10px">
                        <EjsSparkline ID="p-china" XName="XValue" YName="YValue" DataSource=@populationInChina Type="@Syncfusion.EJ2.RazorComponents.Charts.SparklineType.Line" Fill="#3C78EF" NegativePointColor="#fc5070" LineWidth="2">
                            <SparklineTooltipSettings Visible='true' Format="${XValue} : ${YValue}">
                                <SparklineTrackLineSettings Visible='true' Color="#fc5070" Width="2">
                                </SparklineTrackLineSettings>
                            </SparklineTooltipSettings>
                        </EjsSparkline>
                    </div>
                </td>
                <td>
                    <div id="d-china" style="height: 50px;width: 150px;margin-left: 10px">
                        <EjsSparkline ID="d-china" XName="XValue" YName="YValue" DataSource=@populationDensityInChina Type="@Syncfusion.EJ2.RazorComponents.Charts.SparklineType.Area" Fill="#3C78EF" NegativePointColor="#fc5070" LineWidth="2">
                            <SparklineBorder Color="#fc5070" Width="2"></SparklineBorder>
                            <SparklineTooltipSettings Visible='true' Format="${XValue} : ${YValue}">
                            </SparklineTooltipSettings>
                        </EjsSparkline>
                    </div>
                </td>
                <td>
                    <div id="g-china" style="height: 50px;width: 150px;margin-left: 10px">
                        <EjsSparkline ID="g-china" XName="XValue" YName="YValue" DataSource=@populationGrowthRateInChina Type="@Syncfusion.EJ2.RazorComponents.Charts.SparklineType.WinLoss" Fill="#3C78EF" NegativePointColor="#fc5070" LineWidth="2">
                            <SparklineTooltipSettings Visible='true' Format="${XValue} : ${YValue}">
                            </SparklineTooltipSettings>
                        </EjsSparkline>
                    </div>
                </td>
                <td>
                    <div id="b-china" style="height: 50px;width: 150px;margin-left: 10px">
                        <EjsSparkline ID="b-china" XName="XValue" YName="YValue" DataSource=@birthRateInChina Type="@Syncfusion.EJ2.RazorComponents.Charts.SparklineType.Column" Fill="#3C78EF" NegativePointColor="#fc5070" LineWidth="2">
                            <SparklineAxisSettings MinY="12">
                            </SparklineAxisSettings>
                            <SparklineTooltipSettings Visible='true' Format="${XValue} : ${YValue}">
                            </SparklineTooltipSettings>
                        </EjsSparkline>
                    </div>
                </td>
            </tr>
            <tr style="height: 80px">
                <td align="center">
                    <b>France</b>
                </td>
                <td>
                    <div id="p-france" style="height: 50px;width: 150px;margin-left: 10px">
                        <EjsSparkline ID="p-france" XName="XValue" YName="YValue" DataSource=@populationInFrance Type="@Syncfusion.EJ2.RazorComponents.Charts.SparklineType.Line" Fill="#3C78EF" NegativePointColor="#fc5070" LineWidth="2">
                             <SparklineTooltipSettings Visible='true' Format="${XValue} : ${YValue}">
                                <SparklineTrackLineSettings Visible='true' Color="#fc5070" Width="2">
                                </SparklineTrackLineSettings>
                            </SparklineTooltipSettings>
                        </EjsSparkline>
                    </div>
                </td>
                <td>
                    <div id="d-france" style="height: 50px;width: 150px;margin-left: 10px">
                        <EjsSparkline ID="d-france" XName="XValue" YName="YValue" DataSource=@populationDensityInFrance Type="@Syncfusion.EJ2.RazorComponents.Charts.SparklineType.Area" Fill="#3C78EF" NegativePointColor="#fc5070" LineWidth="2">
                            <SparklineBorder Color="#fc5070" Width="2"></SparklineBorder>
                            <SparklineTooltipSettings Visible='true' Format="${XValue} : ${YValue}">
                            </SparklineTooltipSettings>
                        </EjsSparkline>
                    </div>
                </td>
                <td>
                    <div id="g-france" style="height: 50px;width: 150px;margin-left: 10px">
                        <EjsSparkline ID="g-france" XName="XValue" YName="YValue" DataSource=@populationGrowthRateInFrance Type="@Syncfusion.EJ2.RazorComponents.Charts.SparklineType.WinLoss" Fill="#3C78EF" NegativePointColor="#fc5070" LineWidth="2">
                            <SparklineTooltipSettings Visible='true' Format="${XValue} : ${YValue}">
                            </SparklineTooltipSettings>
                        </EjsSparkline>
                    </div>
                </td>
                <td>
                    <div id="b-france" style="height: 50px;width: 150px;margin-left: 10px">
                        <EjsSparkline ID="b-france" XName="XValue" YName="YValue" DataSource=@birthRateInFrance Type="@Syncfusion.EJ2.RazorComponents.Charts.SparklineType.Column" Fill="#3C78EF" NegativePointColor="#fc5070" LineWidth="2">
                            <SparklineAxisSettings MinY="11.5">
                            </SparklineAxisSettings>
                            <SparklineTooltipSettings Visible='true' Format="${XValue} : ${YValue}">
                            </SparklineTooltipSettings>
                        </EjsSparkline>
                    </div>
                </td>
            </tr>
            <tr style="height: 80px">
                <td align="center">
                    <b>Germany</b>
                </td>
                <td>
                    <div id="p-germany" style="height: 50px;width: 150px;margin-left: 10px">
                        <EjsSparkline ID="p-germany" XName="XValue" YName="YValue" DataSource=@populationInGermany Type="@Syncfusion.EJ2.RazorComponents.Charts.SparklineType.Line" Fill="#3C78EF" NegativePointColor="#fc5070" LineWidth="2">
                            <SparklineTooltipSettings Visible='true' Format="${XValue} : ${YValue}">
                                <SparklineTrackLineSettings Visible='true' Color="#fc5070" Width="2">
                                </SparklineTrackLineSettings>
                            </SparklineTooltipSettings>
                        </EjsSparkline>
                    </div>
                </td>
                <td>
                    <div id="d-germany" style="height: 50px;width: 150px;margin-left: 10px">
                        <EjsSparkline ID="d-germany" XName="XValue" YName="YValue" DataSource=@populationDensityInGermany Type="@Syncfusion.EJ2.RazorComponents.Charts.SparklineType.Area" Fill="#3C78EF" NegativePointColor="#fc5070" LineWidth="2">
                            <SparklineBorder Color="#fc5070" Width="2"></SparklineBorder>
                            <SparklineTooltipSettings Visible='true' Format="${XValue} : ${YValue}">
                            </SparklineTooltipSettings>
                        </EjsSparkline>
                     </div>
                </td>
                <td>
                    <div id="g-germany" style="height: 50px;width: 150px;margin-left: 10px">
                        <EjsSparkline ID="g-germany" XName="XValue" YName="YValue" DataSource=@populationGrowthRateInGermany Type="@Syncfusion.EJ2.RazorComponents.Charts.SparklineType.WinLoss" Fill="#3C78EF" NegativePointColor="#fc5070" LineWidth="2">
                            <SparklineTooltipSettings Visible='true' Format="${XValue} : ${YValue}">
                            </SparklineTooltipSettings>
                        </EjsSparkline>
                    </div>
                </td>
                <td>
                    <div id="b-germany" style="height: 50px;width: 150px;margin-left: 10px">
                        <EjsSparkline ID="b-germany" XName="XValue" YName="YValue" DataSource=@birthRateInGermany Type="@Syncfusion.EJ2.RazorComponents.Charts.SparklineType.Column" Fill="#3C78EF" NegativePointColor="#fc5070" LineWidth="2">
                            <SparklineAxisSettings MinY="8">
                            </SparklineAxisSettings>
                            <SparklineTooltipSettings Visible='true' Format="${XValue} : ${YValue}">
                            </SparklineTooltipSettings>
                        </EjsSparkline>
                    </div>
                </td>
            </tr>
            <tr style="height: 80px">
                <td align="center">
                    <b>India</b>
                </td>
                <td>
                    <div id="p-india" style="height: 50px;width: 150px;margin-left: 10px">
                        <EjsSparkline ID="p-india" XName="XValue" YName="YValue" DataSource=@populationInIndia Type="@Syncfusion.EJ2.RazorComponents.Charts.SparklineType.Line" Fill="#3C78EF" NegativePointColor="#fc5070" LineWidth="2">
                            <SparklineTooltipSettings Visible='true' Format="${XValue} : ${YValue}">
                                <SparklineTrackLineSettings Visible='true' Color="#fc5070" Width="2">
                                </SparklineTrackLineSettings>
                            </SparklineTooltipSettings>
                        </EjsSparkline>
                    </div>
                </td>
                <td>
                    <div id="d-india" style="height: 50px;width: 150px;margin-left: 10px">
                        <EjsSparkline ID="d-india" XName="XValue" YName="YValue" DataSource=@populationDensityInIndia Type="@Syncfusion.EJ2.RazorComponents.Charts.SparklineType.Area" Fill="#3C78EF" NegativePointColor="#fc5070" LineWidth="2">
                            <SparklineBorder Color="#fc5070" Width="2"></SparklineBorder>
                            <SparklineTooltipSettings Visible='true' Format="${XValue} : ${YValue}">
                            </SparklineTooltipSettings>
                        </EjsSparkline>
                    </div>
                </td>
                <td>
                    <div id="g-india" style="height: 50px;width: 150px;margin-left: 10px">
                        <EjsSparkline ID="g-india" XName="XValue" YName="YValue" DataSource=@populationGrowthRateInIndia Type="@Syncfusion.EJ2.RazorComponents.Charts.SparklineType.WinLoss" Fill="#3C78EF" NegativePointColor="#fc5070" LineWidth="2">
                            <SparklineTooltipSettings Visible='true' Format="${XValue} : ${YValue}">
                            </SparklineTooltipSettings>
                        </EjsSparkline>
                    </div>
                </td>
                <td>
                    <div id="b-india" style="height: 50px;width: 150px;margin-left: 10px">
                        <EjsSparkline ID="b-india" XName="XValue" YName="YValue" DataSource=@birthRateInIndia Type="@Syncfusion.EJ2.RazorComponents.Charts.SparklineType.Column" Fill="#3C78EF" NegativePointColor="#fc5070" LineWidth="2">
                            <SparklineAxisSettings minY="19">
                            </SparklineAxisSettings>
                            <SparklineTooltipSettings Visible='true' Format="${XValue} : ${YValue}">
                            </SparklineTooltipSettings>
                        </EjsSparkline>
                    </div>
                </td>
            </tr>
            <tr style="height: 80px">
                <td align="center">
                    <b>Russia</b>
                </td>
                <td>
                    <div id="p-russia" style="height: 50px;width: 150px;margin-left: 10px">
                        <EjsSparkline id="p-russia" XName="XValue" YName="YValue" DataSource=@populationInRussia Type="@Syncfusion.EJ2.RazorComponents.Charts.SparklineType.Line" Fill="#3C78EF" NegativePointColor="#fc5070" LineWidth="2">
                            <SparklineTooltipSettings Visible='true' Format="${XValue} : ${YValue}">
                            <SparklineTrackLineSettings Visible='true' Color="#fc5070" Width="2">
                            </SparklineTrackLineSettings>
                            </SparklineTooltipSettings>
                        </EjsSparkline>
                    </div>
                </td>
                <td>
                    <div id="d-russia" style="height: 50px;width: 150px;margin-left: 10px">
                        <EjsSparkline ID="d-russia" XName="XValue" YName="YValue" DataSource=@populationDensityInRussia Type="@Syncfusion.EJ2.RazorComponents.Charts.SparklineType.Area" Fill="#3C78EF" NegativePointColor="#fc5070" LineWidth="2">
                            <SparklineBorder Color="#fc5070" Width="2"></SparklineBorder>
                            <SparklineTooltipSettings Visible='true' Format="${XValue} : ${YValue}">
                            </SparklineTooltipSettings>
                        </EjsSparkline>
                    </div>
                </td>
                <td>
                    <div id="g-russia" style="height: 50px;width: 150px;margin-left: 10px">
                        <EjsSparkline ID="g-russia" XName="XValue" YName="YValue" DataSource=@populationGrowthRateInRussia Type="@Syncfusion.EJ2.RazorComponents.Charts.SparklineType.WinLoss" Fill="#3C78EF" NegativePointColor="#fc5070" LineWidth="2">
                            <SparklineTooltipSettings Visible='true' Format="${XValue} : ${YValue}">
                            </SparklineTooltipSettings>
                        </EjsSparkline>
                    </div>
                </td>
                <td>
                    <div id="b-russia" style="height: 50px;width: 150px;margin-left: 10px">
                        <EjsSparkline ID="b-russia" XName="XValue" YName="YValue" DataSource=@birthRateInRussia Type="@Syncfusion.EJ2.RazorComponents.Charts.SparklineType.Column" Fill="#3C78EF" NegativePointColor="#fc5070" LineWidth="2">
                            <SparklineAxisSettings MinY="9.5">
                            </SparklineAxisSettings>
                            <SparklineTooltipSettings Visible='true' Format="${XValue} : ${YValue}">
                            </SparklineTooltipSettings>
                        </EjsSparkline>
                    </div>
                </td>
            </tr>
            <tr style="height: 80px">
                <td align="center">
                    <b>Sweden</b>
                </td>
                <td>
                    <div id="p-sweden" style="height: 50px;width: 150px;margin-left: 10px">
                        <EjsSparkline ID="p-sweden" XName="XValue" YName="YValue" DataSource=@populationInSweden Type="@Syncfusion.EJ2.RazorComponents.Charts.SparklineType.Line" Fill="#3C78EF" NegativePointColor="#fc5070" LineWidth="2">
                            <SparklineTooltipSettings Visible='true' Format="${XValue} : ${YValue}">
                            <SparklineTrackLineSettings Visible='true' Color="#fc5070" Width="2">
                            </SparklineTrackLineSettings>
                            </SparklineTooltipSettings>
                        </EjsSparkline>
                    </div>
                </td>
                <td>
                    <div id="d-sweden" style="height: 50px;width: 150px;margin-left: 10px">
                        <EjsSparkline ID="d-sweden" XName="XValue" YName="YValue" DataSource=@populationDensityInSweden Type="@Syncfusion.EJ2.RazorComponents.Charts.SparklineType.Area" Fill="#3C78EF" NegativePointColor="#fc5070" LineWidth="2">
                            <SparklineBorder Color="#fc5070" Width="2"></SparklineBorder>
                            <SparklineTooltipSettings Visible='true' Format="${XValue} : ${YValue}">
                            </SparklineTooltipSettings>
                        </EjsSparkline>
                    </div>
                </td>
                <td>
                    <div id="g-sweden" style="height: 50px;width: 150px;margin-left: 10px">
                        <EjsSparkline ID="g-sweden" XName="XValue" YName="YValue" DataSource=@populationGrowthRateInSweden Type="@Syncfusion.EJ2.RazorComponents.Charts.SparklineType.WinLoss" Fill="#3C78EF" NegativePointColor="#fc5070" LineWidth="2">
                             <SparklineTooltipSettings Visible='true' Format="${XValue} : ${YValue}">
                            </SparklineTooltipSettings>
                        </EjsSparkline>
                    </div>
                </td>
                <td>
                    <div id="b-sweden" style="height: 50px;width: 150px;margin-left: 10px">
                        <EjsSparkline ID="b-sweden" XName="XValue" YName="YValue" DataSource=@birthRateInSweden Type="@Syncfusion.EJ2.RazorComponents.Charts.SparklineType.Column" Fill="#3C78EF" NegativePointColor="#fc5070" LineWidth="2">
                            <SparklineAxisSettings MinY="10">
                            </SparklineAxisSettings>
                            <SparklineTooltipSettings Visible='true' Format="${XValue} : ${YValue}">
                            </SparklineTooltipSettings>
                        </EjsSparkline>
                    </div>
                </td>
            </tr>
            <tr style="height: 80px">
                <td align="center">
                    <b>United Kingdom</b>
                </td>
                <td>
                    <div id="p-uk" style="height: 50px;width: 150px;margin-left: 10px">
                        <EjsSparkline ID="p-uk" XName="XValue" YName="YValue" DataSource=@populationInUK Type="@Syncfusion.EJ2.RazorComponents.Charts.SparklineType.Line" Fill="#3C78EF" NegativePointColor="#fc5070" LineWidth="2">
                            <SparklineTooltipSettings Visible='true' Format="${XValue} : ${YValue}">
                                <SparklineTrackLineSettings Visible='true' Color="#fc5070" Width="2">
                                </SparklineTrackLineSettings>
                            </SparklineTooltipSettings>
                        </EjsSparkline>
                    </div>
                </td>
                <td>
                    <div id="d-uk" style="height: 50px;width: 150px;margin-left: 10px">
                        <EjsSparkline ID="d-uk" XName="XValue" YName="YValue" DataSource=@populationDensityInUK Type="@Syncfusion.EJ2.RazorComponents.Charts.SparklineType.Area" Fill="#3C78EF" NegativePointColor="#fc5070" LineWidth="2">
                             <SparklineBorder Color="#fc5070" Width="2"></SparklineBorder>
                            <SparklineTooltipSettings Visible='true' Format="${XValue} : ${YValue}">
                            </SparklineTooltipSettings>
                        </EjsSparkline>
                    </div>
                </td>
                <td>
                    <div id="g-uk" style="height: 50px;width: 150px;margin-left: 10px">
                        <EjsSparkline ID="g-uk" XName="XValue" YName="YValue" DataSource=@populationGrowthRateInUK Type="@Syncfusion.EJ2.RazorComponents.Charts.SparklineType.WinLoss" Fill="#3C78EF" NegativePointColor="#fc5070" LineWidth="2">
                            <SparklineTooltipSettings Visible='true' Format="${XValue} : ${YValue}">
                            </SparklineTooltipSettings>
                        </EjsSparkline>
                    </div>
                </td>
                <td>
                    <div id="b-uk" style="height: 50px;width: 150px;margin-left: 10px">
                        <EjsSparkline ID="b-uk" XName="XValue" YName="YValue" DataSource=@birthRateInUK Type="@Syncfusion.EJ2.RazorComponents.Charts.SparklineType.Column" Fill="#3C78EF" NegativePointColor="#fc5070" LineWidth="2">
                            <SparklineAxisSettings minY="10">
                            </SparklineAxisSettings>
                            <SparklineTooltipSettings Visible='true' Format="${XValue} : ${YValue}">
                            </SparklineTooltipSettings>
                        </EjsSparkline>
                    </div>
                </td>
            </tr>
            <tr style="height: 80px">
                <td align="center">
                    <b>United Sates</b>
                </td>
                <td>
                    <div id="p-us" style="height: 50px;width: 150px;margin-left: 10px">
                        <EjsSparkline ID="p-us" XName="XValue" YName="YValue" DataSource=@populationInUS Type="@Syncfusion.EJ2.RazorComponents.Charts.SparklineType.Line" Fill="#3C78EF" NegativePointColor="#fc5070" LineWidth="2">
                            <SparklineTooltipSettings Visible='true' Format="${XValue} : ${YValue}">
                                <SparklineTrackLineSettings Visible='true' Color="#fc5070" Width="2">
                                </SparklineTrackLineSettings>
                            </SparklineTooltipSettings>
                        </EjsSparkline>
                    </div>
                </td>
                <td>
                    <div id="d-us" style="height: 50px;width: 150px;margin-left: 10px">
                        <EjsSparkline ID="d-us" XName="XValue" YName="YValue" DataSource=@populationDensityInUS Type="@Syncfusion.EJ2.RazorComponents.Charts.SparklineType.Area" Fill="#3C78EF" NegativePointColor="#fc5070" LineWidth="2">
                            <SparklineBorder Color="#fc5070" Width="2"></SparklineBorder>
                            <SparklineTooltipSettings Visible='true' Format="${XValue} : ${YValue}">
                            </SparklineTooltipSettings>
                        </EjsSparkline>
                    </div>
                </td>
                <td>
                    <div id="g-us" style="height: 50px;width: 150px;margin-left: 10px">
                        <EjsSparkline ID="g-us" XName="XValue" YName="YValue" DataSource=@populationGrowthRateInUS Type="@Syncfusion.EJ2.RazorComponents.Charts.SparklineType.WinLoss" Fill="#3C78EF" NegativePointColor="#fc5070" LineWidth="2">
                            <SparklineTooltipSettings Visible='true' Format="${XValue} : ${YValue}">
                            </SparklineTooltipSettings>
                        </EjsSparkline>
                    </div>
                </td>
                <td>
                    <div id="b-us" style="height: 50px;width: 150px;margin-left: 10px">
                        <EjsSparkline ID="b-us" XName="XValue" YName="YValue" DataSource=@birthRateInUS Type="@Syncfusion.EJ2.RazorComponents.Charts.SparklineType.Column" Fill="#3C78EF" NegativePointColor="#fc5070" LineWidth="2">
                            <SparklineAxisSettings MinY="13">
                            </SparklineAxisSettings>
                            <SparklineTooltipSettings Visible='true' Format="${XValue} : ${YValue}">
                            </SparklineTooltipSettings>
                        </EjsSparkline>
                    </div>
                </td>
            </tr>

        </table>
    </div>
</div>
<style>
    td {
        width: 20%;
    }
</style>

@code {
    public class SparkDataSource {
        public double X;
        public string XValue;
        public double YValue;
    } 

    public List<SparkDataSource> populationInAustralia  = new List<SparkDataSource> {
        new SparkDataSource { X= 0, XValue= "2005", YValue= 20090440 },
        new SparkDataSource { X= 1, XValue= "2006", YValue= 20264080 },
        new SparkDataSource { X= 2, XValue= "2007", YValue= 20434180 },
        new SparkDataSource { X= 3, XValue= "2008", YValue= 21007310 },
        new SparkDataSource { X= 4, XValue= "2009", YValue= 21262640 },
        new SparkDataSource { X= 5, XValue= "2010", YValue= 21515750 },
        new SparkDataSource { X= 6, XValue= "2011", YValue= 21766710 },
        new SparkDataSource { X= 7, XValue= "2012", YValue= 22015580 },
        new SparkDataSource { X= 8, XValue= "2013", YValue= 22262500 },
        new SparkDataSource { X= 9, XValue= "2014", YValue= 22507620 } };

    public List<SparkDataSource> populationDensityInAustralia  = new List<SparkDataSource> {
        new SparkDataSource { X= 0, XValue= "2005", YValue= 2.61 },
        new SparkDataSource { X= 1, XValue= "2006", YValue= 2.64 },
        new SparkDataSource { X= 2, XValue= "2007", YValue= 2.66 },
        new SparkDataSource { X= 3, XValue= "2008", YValue= 2.73 },
        new SparkDataSource { X= 4, XValue= "2009", YValue= 2.75 },
        new SparkDataSource { X= 5, XValue= "2010", YValue= 2.78 },
        new SparkDataSource { X= 6, XValue= "2011", YValue= 2.81 },
        new SparkDataSource { X= 7, XValue= "2012", YValue= 2.84 },
        new SparkDataSource { X= 8, XValue= "2013", YValue= 2.88 },
        new SparkDataSource { X= 9, XValue= "2014", YValue= 2.91 } };

    public List<SparkDataSource> populationGrowthRateInAustralia  = new List<SparkDataSource> {
        new SparkDataSource { X= 0, XValue= "2005", YValue= 1 },
        new SparkDataSource { X= 1, XValue= "2006", YValue= -1 },
        new SparkDataSource { X= 2, XValue= "2007", YValue= -1 },
        new SparkDataSource { X= 3, XValue= "2008", YValue= 1 },
        new SparkDataSource { X= 4, XValue= "2009", YValue= -1 },
        new SparkDataSource { X= 5, XValue= "2010", YValue= -1 },
        new SparkDataSource { X= 6, XValue= "2011", YValue= -1 },
        new SparkDataSource { X= 7, XValue= "2012", YValue= -1 },
        new SparkDataSource { X= 8, XValue= "2013", YValue= -1 },
        new SparkDataSource { X= 9, XValue= "2014", YValue= -1 } 
    };

    public List<SparkDataSource> birthRateInAustralia  = new List<SparkDataSource> {
        new SparkDataSource { X= 0, XValue= "2005", YValue= 12.26 },
        new SparkDataSource { X= 1, XValue= "2006", YValue= 12.14 },
        new SparkDataSource { X= 2, XValue= "2007", YValue= 12.02 },
        new SparkDataSource { X= 3, XValue= "2008", YValue= 12.55 },
        new SparkDataSource { X= 4, XValue= "2009", YValue= 12.47 },
        new SparkDataSource { X= 5, XValue= "2010", YValue= 12.39 },
        new SparkDataSource { X= 6, XValue= "2011", YValue= 12.33 },
        new SparkDataSource { X= 7, XValue= "2012", YValue= 12.28 },
        new SparkDataSource { X= 8, XValue= "2013", YValue= 12.23 },
        new SparkDataSource { X= 9, XValue= "2014", YValue= 12.19 } 
    };

    public List<SparkDataSource> populationInCanada  = new List<SparkDataSource> {
        new SparkDataSource { X= 0, XValue= "2005", YValue= 32805040 },
        new SparkDataSource { X= 1, XValue= "2006", YValue= 33098930 },
        new SparkDataSource { X= 2, XValue= "2007", YValue= 33390140 },
        new SparkDataSource { X= 3, XValue= "2008", YValue= 33212700 },
        new SparkDataSource { X= 4, XValue= "2009", YValue= 33487210 },
        new SparkDataSource { X= 5, XValue= "2010", YValue= 33759740 },
        new SparkDataSource { X= 6, XValue= "2011", YValue= 34030590 },
        new SparkDataSource { X= 7, XValue= "2012", YValue= 34300080 },
        new SparkDataSource { X= 8, XValue= "2013", YValue= 34568210 },
        new SparkDataSource { X= 9, XValue= "2014", YValue= 34834840 } 
    };

    public List<SparkDataSource> populationDensityInCanada  = new List<SparkDataSource> {
        new SparkDataSource { X= 0, XValue= "2005", YValue= 3.29 },
        new SparkDataSource { X= 1, XValue= "2006", YValue= 3.31 },
        new SparkDataSource { X= 2, XValue= "2007", YValue= 3.34 },
        new SparkDataSource { X= 3, XValue= "2008", YValue= 3.33 },
        new SparkDataSource { X= 4, XValue= "2009", YValue= 3.35 },
        new SparkDataSource { X= 5, XValue= "2010", YValue= 3.38 },
        new SparkDataSource { X= 6, XValue= "2011", YValue= 3.41 },
        new SparkDataSource { X= 7, XValue= "2012", YValue= 3.44 },
        new SparkDataSource { X= 8, XValue= "2013", YValue= 3.46 },
        new SparkDataSource { X= 9, XValue= "2014", YValue= 3.49 } 
    };

    public List<SparkDataSource> populationGrowthRateInCanada  = new List<SparkDataSource> {
        new SparkDataSource { X= 0, XValue= "2005", YValue= 1 },
        new SparkDataSource { X= 1, XValue= "2006", YValue= -1 },
        new SparkDataSource { X= 2, XValue= "2007", YValue= -1 },
        new SparkDataSource { X= 3, XValue= "2008", YValue= -1 },
        new SparkDataSource { X= 4, XValue= "2009", YValue= -1 },
        new SparkDataSource { X= 5, XValue= "2010", YValue= -1 },
        new SparkDataSource { X= 6, XValue= "2011", YValue= -1 },
        new SparkDataSource { X= 7, XValue= "2012", YValue= -1 },
        new SparkDataSource { X= 8, XValue= "2013", YValue= -1 },
        new SparkDataSource { X= 9, XValue= "2014", YValue= -1 } 
    };

    public List<SparkDataSource> birthRateInCanada  = new List<SparkDataSource> {
        new SparkDataSource { X= 0, XValue= "2005", YValue= 10.84 },
        new SparkDataSource { X= 1, XValue= "2006", YValue= 10.78 },
        new SparkDataSource { X= 2, XValue= "2007", YValue= 10.75 },
        new SparkDataSource { X= 3, XValue= "2008", YValue= 10.29 },
        new SparkDataSource { X= 4, XValue= "2009", YValue= 10.28 },
        new SparkDataSource { X= 5, XValue= "2010", YValue= 10.28 },
        new SparkDataSource { X= 6, XValue= "2011", YValue= 10.28 },
        new SparkDataSource { X= 7, XValue= "2012", YValue= 10.28 },
        new SparkDataSource { X= 8, XValue= "2013", YValue= 10.28 },
        new SparkDataSource { X= 9, XValue= "2014", YValue= 10.29 } 
    };

    public List<SparkDataSource> populationInChina  = new List<SparkDataSource> {
        new SparkDataSource { X= 0, XValue= "2005", YValue= 1306314000 },
        new SparkDataSource { X= 1, XValue= "2006", YValue= 1313974000 },
        new SparkDataSource { X= 2, XValue= "2007", YValue= 1321852000 },
        new SparkDataSource { X= 3, XValue= "2008", YValue= 1330045000 },
        new SparkDataSource { X= 4, XValue= "2009", YValue= 1338613000 },
        new SparkDataSource { X= 5, XValue= "2010", YValue= 1330141000 },
        new SparkDataSource { X= 6, XValue= "2011", YValue= 1336718000 },
        new SparkDataSource { X= 7, XValue= "2012", YValue= 1343240000 },
        new SparkDataSource { X= 8, XValue= "2013", YValue= 1349586000 },
        new SparkDataSource { X= 9, XValue= "2014", YValue= 1355693000 }
    };

    public List<SparkDataSource> populationDensityInChina  = new List<SparkDataSource> {
        new SparkDataSource { X= 0, XValue= "2005", YValue= 136.12 },
        new SparkDataSource { X= 1, XValue= "2006", YValue= 136.92 },
        new SparkDataSource { X= 2, XValue= "2007", YValue= 137.74 },
        new SparkDataSource { X= 3, XValue= "2008", YValue= 138.59 },
        new SparkDataSource { X= 4, XValue= "2009", YValue= 139.48 },
        new SparkDataSource { X= 5, XValue= "2010", YValue= 138.6 },
        new SparkDataSource { X= 6, XValue= "2011", YValue= 139.29 },
        new SparkDataSource { X= 7, XValue= "2012", YValue= 139.97 },
        new SparkDataSource { X= 8, XValue= "2013", YValue= 140.63 },
        new SparkDataSource { X= 9, XValue= "2014", YValue= 141.26 } 
    };

    public List<SparkDataSource> populationGrowthRateInChina  = new List<SparkDataSource> {
        new SparkDataSource { X= 0, XValue= "2005", YValue= 1 },
        new SparkDataSource { X= 1, XValue= "2006", YValue= 1 },
        new SparkDataSource { X= 2, XValue= "2007", YValue= 1 },
        new SparkDataSource { X= 3, XValue= "2008", YValue= 1 },
        new SparkDataSource { X= 4, XValue= "2009", YValue= 1 },
        new SparkDataSource { X= 5, XValue= "2010", YValue= -1 },
        new SparkDataSource { X= 6, XValue= "2011", YValue= 0 },
        new SparkDataSource { X= 7, XValue= "2012", YValue= -1 },
        new SparkDataSource { X= 8, XValue= "2013", YValue= -1 },
        new SparkDataSource { X= 9, XValue= "2014", YValue= -1 } 
    };

    public List<SparkDataSource> birthRateInChina  = new List<SparkDataSource> {
        new SparkDataSource { X= 0, XValue= "2005", YValue= 13.14 },
        new SparkDataSource { X= 1, XValue= "2006", YValue= 13.25 },
        new SparkDataSource { X= 2, XValue= "2007", YValue= 13.45 },
        new SparkDataSource { X= 3, XValue= "2008", YValue= 13.71 },
        new SparkDataSource { X= 4, XValue= "2009", YValue= 14 },
        new SparkDataSource { X= 5, XValue= "2010", YValue= 12.17 },
        new SparkDataSource { X= 6, XValue= "2011", YValue= 12.29 },
        new SparkDataSource { X= 7, XValue= "2012", YValue= 12.31 },
        new SparkDataSource { X= 8, XValue= "2013", YValue= 12.25 },
        new SparkDataSource { X= 9, XValue= "2014", YValue= 12.17 } 
    };

    public List<SparkDataSource> populationInFrance  = new List<SparkDataSource> {
        new SparkDataSource { X= 0, XValue= "2005", YValue= 60656180 },
        new SparkDataSource { X= 1, XValue= "2006", YValue= 60876140 },
        new SparkDataSource { X= 2, XValue= "2007", YValue= 63713930 },
        new SparkDataSource { X= 3, XValue= "2008", YValue= 64057790 },
        new SparkDataSource { X= 4, XValue= "2009", YValue= 64057790 },
        new SparkDataSource { X= 5, XValue= "2010", YValue= 64768390 },
        new SparkDataSource { X= 6, XValue= "2011", YValue= 65312250 },
        new SparkDataSource { X= 7, XValue= "2012", YValue= 65630690 },
        new SparkDataSource { X= 8, XValue= "2013", YValue= 65951610 },
        new SparkDataSource { X= 9, XValue= "2014", YValue= 66259010 } 
    };

    public List<SparkDataSource> populationDensityInFrance  = new List<SparkDataSource> {
        new SparkDataSource { X= 0, XValue= "2005", YValue= 110.88 },
        new SparkDataSource { X= 1, XValue= "2006", YValue= 111.28 },
        new SparkDataSource { X= 2, XValue= "2007", YValue= 99.02 },
        new SparkDataSource { X= 3, XValue= "2008", YValue= 99.56 },
        new SparkDataSource { X= 4, XValue= "2009", YValue= 99.56 },
        new SparkDataSource { X= 5, XValue= "2010", YValue= 100.66 },
        new SparkDataSource { X= 6, XValue= "2011", YValue= 101.45 },
        new SparkDataSource { X= 7, XValue= "2012", YValue= 101.94 },
        new SparkDataSource { X= 8, XValue= "2013", YValue= 102.44 },
        new SparkDataSource { X= 9, XValue= "2014", YValue= 102.92 } 
    };

    public List<SparkDataSource> populationGrowthRateInFrance  = new List<SparkDataSource> {
        new SparkDataSource { X= 0, XValue= "2005", YValue= 1 },
        new SparkDataSource { X= 1, XValue= "2006", YValue= -1 },
        new SparkDataSource { X= 2, XValue= "2007", YValue= 1 },
        new SparkDataSource { X= 3, XValue= "2008", YValue= -1 },
        new SparkDataSource { X= 4, XValue= "2009", YValue= -1 },
        new SparkDataSource { X= 5, XValue= "2010", YValue= -1 },
        new SparkDataSource { X= 6, XValue= "2011", YValue= -1 },
        new SparkDataSource { X= 7, XValue= "2012", YValue= 0 },
        new SparkDataSource { X= 8, XValue= "2013", YValue= -1 },
        new SparkDataSource { X= 9, XValue= "2014", YValue= -1 } 
    };

    public List<SparkDataSource> birthRateInFrance  = new List<SparkDataSource> {
        new SparkDataSource { X= 0, XValue= "2005", YValue= 12.15 },
        new SparkDataSource { X= 1, XValue= "2006", YValue= 11.99 },
        new SparkDataSource { X= 2, XValue= "2007", YValue= 12.91 },
        new SparkDataSource { X= 3, XValue= "2008", YValue= 12.73 },
        new SparkDataSource { X= 4, XValue= "2009", YValue= 12.57 },
        new SparkDataSource { X= 5, XValue= "2010", YValue= 12.43 },
        new SparkDataSource { X= 6, XValue= "2011", YValue= 12.29 },
        new SparkDataSource { X= 7, XValue= "2012", YValue= 12.72 },
        new SparkDataSource { X= 8, XValue= "2013", YValue= 12.6 },
        new SparkDataSource { X= 9, XValue= "2014", YValue= 12.6 } 
    };


    public List<SparkDataSource> populationInGermany = new List<SparkDataSource> {
        new SparkDataSource { X= 0, XValue= "2005", YValue= 82431390 },
        new SparkDataSource { X= 1, XValue= "2006", YValue= 82422300 },
        new SparkDataSource { X= 2, XValue= "2007", YValue= 82400990 },
        new SparkDataSource { X= 3, XValue= "2008", YValue= 82369550 },
        new SparkDataSource { X= 4, XValue= "2009", YValue= 82329760 },
        new SparkDataSource { X= 5, XValue= "2010", YValue= 82282990 },
        new SparkDataSource { X= 6, XValue= "2011", YValue= 81471830 },
        new SparkDataSource { X= 7, XValue= "2012", YValue= 81305860 },
        new SparkDataSource { X= 8, XValue= "2013", YValue= 81147260 },
        new SparkDataSource { X= 9, XValue= "2014", YValue= 80996690 } 
    };

    public List<SparkDataSource> populationDensityInGermany  = new List<SparkDataSource> {
        new SparkDataSource { X= 0, XValue= "2005", YValue= 230.89 },
        new SparkDataSource { X= 1, XValue= "2006", YValue= 230.86 },
        new SparkDataSource { X= 2, XValue= "2007", YValue= 230.8 },
        new SparkDataSource { X= 3, XValue= "2008", YValue= 230.71 },
        new SparkDataSource { X= 4, XValue= "2009", YValue= 230.6 },
        new SparkDataSource { X= 5, XValue= "2010", YValue= 230.47 },
        new SparkDataSource { X= 6, XValue= "2011", YValue= 228.2 },
        new SparkDataSource { X= 7, XValue= "2012", YValue= 227.73 },
        new SparkDataSource { X= 8, XValue= "2013", YValue= 227.29 },
        new SparkDataSource { X= 9, XValue= "2014", YValue= 226.87 } 
    };

    public List<SparkDataSource> populationGrowthRateInGermany  = new List<SparkDataSource> {
        new SparkDataSource { X= 0, XValue= "2005", YValue= 0 },
        new SparkDataSource { X= 1, XValue= "2006", YValue= 1 },
        new SparkDataSource { X= 2, XValue= "2007", YValue= -1 },
        new SparkDataSource { X= 3, XValue= "2008", YValue= -1 },
        new SparkDataSource { X= 4, XValue= "2009", YValue= -1 },
        new SparkDataSource { X= 5, XValue= "2010", YValue= -1 },
        new SparkDataSource { X= 6, XValue= "2011", YValue= 1 },
        new SparkDataSource { X= 7, XValue= "2012", YValue= 1 },
        new SparkDataSource { X= 8, XValue= "2013", YValue= 1 },
        new SparkDataSource { X= 9, XValue= "2014", YValue= 1 } 
    };

    public List<SparkDataSource> birthRateInGermany  = new List<SparkDataSource> {
        new SparkDataSource { X= 0, XValue= "2005", YValue= 8.33 },
        new SparkDataSource { X= 1, XValue= "2006", YValue= 8.25 },
        new SparkDataSource { X= 2, XValue= "2007", YValue= 8.2 },
        new SparkDataSource { X= 3, XValue= "2008", YValue= 8.18 },
        new SparkDataSource { X= 4, XValue= "2009", YValue= 8.18 },
        new SparkDataSource { X= 5, XValue= "2010", YValue= 8.21 },
        new SparkDataSource { X= 6, XValue= "2011", YValue= 8.3 },
        new SparkDataSource { X= 7, XValue= "2012", YValue= 8.33 },
        new SparkDataSource { X= 8, XValue= "2013", YValue= 8.37 },
        new SparkDataSource { X= 9, XValue= "2014", YValue= 8.42 } 
    };

    public List<SparkDataSource> populationInIndia  = new List<SparkDataSource> {
        new SparkDataSource { X= 0, XValue= "2005", YValue= 1080264000 },
        new SparkDataSource { X= 1, XValue= "2006", YValue= 1095352000 },
        new SparkDataSource { X= 2, XValue= "2007", YValue= 1129866000 },
        new SparkDataSource { X= 3, XValue= "2008", YValue= 1147996000 },
        new SparkDataSource { X= 4, XValue= "2009", YValue= 1166079000 },
        new SparkDataSource { X= 5, XValue= "2010", YValue= 1173108000 },
        new SparkDataSource { X= 6, XValue= "2011", YValue= 1189173000 },
        new SparkDataSource { X= 7, XValue= "2012", YValue= 1205074000 },
        new SparkDataSource { X= 8, XValue= "2013", YValue= 1220800000 },
        new SparkDataSource { X= 9, XValue= "2014", YValue= 1236345000 } 
    };

    public List<SparkDataSource> populationDensityInIndia  = new List<SparkDataSource> {
        new SparkDataSource { X= 0, XValue= "2005", YValue= 328.59 },
        new SparkDataSource { X= 1, XValue= "2006", YValue= 333.18 },
        new SparkDataSource { X= 2, XValue= "2007", YValue= 343.68 },
        new SparkDataSource { X= 3, XValue= "2008", YValue= 349.19 },
        new SparkDataSource { X= 4, XValue= "2009", YValue= 354.73 },
        new SparkDataSource { X= 5, XValue= "2010", YValue= 356.86 },
        new SparkDataSource { X= 6, XValue= "2011", YValue=361.75 },
        new SparkDataSource { X= 7, XValue= "2012", YValue= 366.59 },
        new SparkDataSource { X= 8, XValue= "2013", YValue= 371.37 },
        new SparkDataSource { X= 9, XValue= "2014", YValue= 376.1 } 
    };

    public List<SparkDataSource> populationGrowthRateInIndia  = new List<SparkDataSource> {
        new SparkDataSource { X= 0, XValue= "2005", YValue= 1 },
        new SparkDataSource { X= 1, XValue= "2006", YValue= -1 },
        new SparkDataSource { X= 2, XValue= "2007", YValue= 1 },
        new SparkDataSource { X= 3, XValue= "2008", YValue= -1 },
        new SparkDataSource { X= 4, XValue= "2009", YValue= -1 },
        new SparkDataSource { X= 5, XValue= "2010", YValue= -1 },
        new SparkDataSource { X= 6, XValue= "2011", YValue= -1 },
        new SparkDataSource { X= 7, XValue= "2012", YValue= -1 },
        new SparkDataSource { X= 8, XValue= "2013", YValue= -1 },
        new SparkDataSource { X= 9, XValue= "2014", YValue= -1 } 
    };

    public List<SparkDataSource> birthRateInIndia  = new List<SparkDataSource> {
        new SparkDataSource { X= 0, XValue= "2005", YValue= 22.32 },
        new SparkDataSource { X= 1, XValue= "2006", YValue= 22.01 },
        new SparkDataSource { X= 2, XValue= "2007", YValue= 22.69 },
        new SparkDataSource { X= 3, XValue= "2008", YValue= 22.22 },
        new SparkDataSource { X= 4, XValue= "2009", YValue= 21.76 },
        new SparkDataSource { X= 5, XValue= "2010", YValue= 21.34 },
        new SparkDataSource { X= 6, XValue= "2011", YValue= 20.97 },
        new SparkDataSource { X= 7, XValue= "2012", YValue= 20.6 },
        new SparkDataSource { X= 8, XValue= "2013", YValue= 20.24 },
        new SparkDataSource { X= 9, XValue= "2014", YValue= 19.89 } 
    };


    public List<SparkDataSource> populationInRussia  = new List<SparkDataSource> {
        new SparkDataSource { X= 0, XValue= "2005", YValue= 143420300 },
        new SparkDataSource { X= 1, XValue= "2006", YValue= 142893500 },
        new SparkDataSource { X= 2, XValue= "2007", YValue= 141377800 },
        new SparkDataSource { X= 3, XValue= "2008", YValue= 140702100 },
        new SparkDataSource { X= 4, XValue= "2009", YValue= 140041200 },
        new SparkDataSource { X= 5, XValue= "2010", YValue= 139390200 },
        new SparkDataSource { X= 6, XValue= "2011", YValue= 138739900 },
        new SparkDataSource { X= 7, XValue= "2012", YValue= 142517700 },
        new SparkDataSource { X= 8, XValue= "2013", YValue= 142500500 },
        new SparkDataSource { X= 9, XValue= "2014", YValue= 142470300 } 
    };

    public List<SparkDataSource> populationDensityInRussia  = new List<SparkDataSource> {
        new SparkDataSource { X= 0, XValue= "2005", YValue= 8.4 },
        new SparkDataSource { X= 1, XValue= "2006", YValue= 8.37 },
        new SparkDataSource { X= 2, XValue= "2007", YValue= 8.28 },
        new SparkDataSource { X= 3, XValue= "2008", YValue= 8.24 },
        new SparkDataSource { X= 4, XValue= "2009", YValue= 8.19 },
        new SparkDataSource { X= 5, XValue= "2010", YValue= 8.15 },
        new SparkDataSource { X= 6, XValue= "2011", YValue= 8.11 },
        new SparkDataSource { X= 7, XValue= "2012", YValue= 8.34 },
        new SparkDataSource { X= 8, XValue= "2013", YValue= 8.33 },
        new SparkDataSource { X= 9, XValue= "2014", YValue= 8.33 } 
    };

    public List<SparkDataSource> populationGrowthRateInRussia  = new List<SparkDataSource> {
        new SparkDataSource { X= 0, XValue= "2005", YValue= 1 },
        new SparkDataSource { X= 1, XValue= "2006", YValue= 0 },
        new SparkDataSource { X= 2, XValue= "2007", YValue= -1 },
        new SparkDataSource { X= 3, XValue= "2008", YValue= 1 },
        new SparkDataSource { X= 4, XValue= "2009", YValue= 0 },
        new SparkDataSource { X= 5, XValue= "2010", YValue= 0 },
        new SparkDataSource { X= 6, XValue= "2011", YValue= 0 },
        new SparkDataSource { X= 7, XValue= "2012", YValue= -1 },
        new SparkDataSource { X= 8, XValue= "2013", YValue= 1 },
        new SparkDataSource { X= 9, XValue= "2014", YValue= -1 } 
    };

    public List<SparkDataSource> birthRateInRussia  = new List<SparkDataSource> {
        new SparkDataSource { X= 0, XValue= "2005", YValue= 9.8 },
        new SparkDataSource { X= 1, XValue= "2006", YValue= 9.95 },
        new SparkDataSource { X= 2, XValue= "2007", YValue= 10.92 },
        new SparkDataSource { X= 3, XValue= "2008", YValue= 11.03 },
        new SparkDataSource { X= 4, XValue= "2009", YValue= 11.1 },
        new SparkDataSource { X= 5, XValue= "2010", YValue= 11.11 },
        new SparkDataSource { X= 6, XValue= "2011", YValue= 11.05 },
        new SparkDataSource { X= 7, XValue= "2012", YValue= 10.94 },
        new SparkDataSource { X= 8, XValue= "2013", YValue= 12.11 },
        new SparkDataSource { X= 9, XValue= "2014", YValue= 11.87 } 
    };


    public List<SparkDataSource> populationInSweden  = new List<SparkDataSource> {
        new SparkDataSource { X= 0, XValue= "2005", YValue= 9001774 },
        new SparkDataSource { X= 1, XValue= "2006", YValue= 9016596 },
        new SparkDataSource { X= 2, XValue= "2007", YValue= 9031088 },
        new SparkDataSource { X= 3, XValue= "2008", YValue= 9045389 },
        new SparkDataSource { X= 4, XValue= "2009", YValue= 9059651 },
        new SparkDataSource { X= 5, XValue= "2010", YValue= 9074055 },
        new SparkDataSource { X= 6, XValue= "2011", YValue= 9074055 },
        new SparkDataSource { X= 7, XValue= "2012", YValue= 9103788 },
        new SparkDataSource { X= 8, XValue= "2013", YValue= 9119423 },
        new SparkDataSource { X= 9, XValue= "2014", YValue= 9723809 } 
    };

    public List<SparkDataSource> populationDensityInSweden  = new List<SparkDataSource> {
        new SparkDataSource { X= 0, XValue= "2005", YValue= 20.01 },
        new SparkDataSource { X= 1, XValue= "2006", YValue= 20.04 },
        new SparkDataSource { X= 2, XValue= "2007", YValue= 20.07 },
        new SparkDataSource { X= 3, XValue= "2008", YValue= 20.1 },
        new SparkDataSource { X= 4, XValue= "2009", YValue= 20.12 },
        new SparkDataSource { X= 5, XValue= "2010", YValue= 20.15 },
        new SparkDataSource { X= 6, XValue= "2011", YValue= 20.18 },
        new SparkDataSource { X= 7, XValue= "2012", YValue= 20.22 },
        new SparkDataSource { X= 8, XValue= "2013", YValue= 20.25 },
        new SparkDataSource { X= 9, XValue= "2014", YValue= 21.59 }
    };

    public List<SparkDataSource> populationGrowthRateInSweden  = new List<SparkDataSource> {
        new SparkDataSource { X= 0, XValue= "2005", YValue= 1 },
        new SparkDataSource { X= 1, XValue= "2006", YValue= -1 },
        new SparkDataSource { X= 2, XValue= "2007", YValue= 0 },
        new SparkDataSource { X= 3, XValue= "2008", YValue= 0 },
        new SparkDataSource { X= 4, XValue= "2009", YValue= 0 },
        new SparkDataSource { X= 5, XValue= "2010", YValue= 0 },
        new SparkDataSource { X= 6, XValue= "2011", YValue= 0 },
        new SparkDataSource { X= 7, XValue= "2012", YValue= 1 },
        new SparkDataSource { X= 8, XValue= "2013", YValue= 1 },
        new SparkDataSource { X= 9, XValue= "2014", YValue= 1 } 
    };

    public List<SparkDataSource> birthRateInSweden  = new List<SparkDataSource> {
        new SparkDataSource { X= 0, XValue= "2005", YValue= 10.36 },
        new SparkDataSource { X= 1, XValue= "2006", YValue= 10.27 },
        new SparkDataSource { X= 2, XValue= "2007", YValue= 10.2 },
        new SparkDataSource { X= 3, XValue= "2008", YValue= 10.15 },
        new SparkDataSource { X= 4, XValue= "2009", YValue= 10.13 },
        new SparkDataSource { X= 5, XValue= "2010", YValue= 10.14 },
        new SparkDataSource { X= 6, XValue= "2011", YValue= 10.18 },
        new SparkDataSource { X= 7, XValue= "2012", YValue= 10.24 },
        new SparkDataSource { X= 8, XValue= "2013", YValue= 10.33 },
        new SparkDataSource { X= 9, XValue= "2014", YValue= 11.92 }
     };


    public List<SparkDataSource> populationInUK  = new List<SparkDataSource> {
        new SparkDataSource { X= 0, XValue= "2005", YValue= 60441460 },
        new SparkDataSource { X= 1, XValue= "2006", YValue= 60609150 },
        new SparkDataSource { X= 2, XValue= "2007", YValue= 60776240 },
        new SparkDataSource { X= 3, XValue= "2008", YValue= 60943910 },
        new SparkDataSource { X= 4, XValue= "2009", YValue= 61113200 },
        new SparkDataSource { X= 5, XValue= "2010", YValue= 62348450 },
        new SparkDataSource { X= 6, XValue= "2011", YValue= 62698360 },
        new SparkDataSource { X= 7, XValue= "2012", YValue= 63047160 },
        new SparkDataSource { X= 8, XValue= "2013", YValue= 63395580 },
        new SparkDataSource { X= 9, XValue= "2014", YValue= 63742980 } 
    };

    public List<SparkDataSource> populationDensityInUK  = new List<SparkDataSource> {
        new SparkDataSource { X= 0, XValue= "2005", YValue= 246.88 },
        new SparkDataSource { X= 1, XValue= "2006", YValue= 247.57 },
        new SparkDataSource { X= 2, XValue= "2007", YValue= 248.25 },
        new SparkDataSource { X= 3, XValue= "2008", YValue= 248.93 },
        new SparkDataSource { X= 4, XValue= "2009", YValue= 250.86 },
        new SparkDataSource { X= 5, XValue= "2010", YValue= 255.94 },
        new SparkDataSource { X= 6, XValue= "2011", YValue= 257.37 },
        new SparkDataSource { X= 7, XValue= "2012", YValue= 258.8 },
        new SparkDataSource { X= 8, XValue= "2013", YValue= 260.23 },
        new SparkDataSource { X= 9, XValue= "2014", YValue= 261.66 } 
    };

    public List<SparkDataSource> populationGrowthRateInUK  = new List<SparkDataSource> {
        new SparkDataSource { X= 0, XValue= "2005", YValue= 1 },
        new SparkDataSource { X= 1, XValue= "2006", YValue= 0 },
        new SparkDataSource { X= 2, XValue= "2007", YValue= 0 },
        new SparkDataSource { X= 3, XValue= "2008", YValue= 0 },
        new SparkDataSource { X= 4, XValue= "2009", YValue= 0 },
        new SparkDataSource { X= 5, XValue= "2010", YValue= 1 },
        new SparkDataSource { X= 6, XValue= "2011", YValue= 0 },
        new SparkDataSource { X= 7, XValue= "2012", YValue= -1 },
        new SparkDataSource { X= 8, XValue= "2013", YValue= 0 },
        new SparkDataSource { X= 9, XValue= "2014", YValue= -1 } 
    };

    public List<SparkDataSource> birthRateInUK  = new List<SparkDataSource> {
        new SparkDataSource { X= 0, XValue= "2005", YValue= 10.78 },
        new SparkDataSource { X= 1, XValue= "2006", YValue= 10.71 },
        new SparkDataSource { X= 2, XValue= "2007", YValue= 10.67 },
        new SparkDataSource { X= 3, XValue= "2008", YValue= 10.65 },
        new SparkDataSource { X= 4, XValue= "2009", YValue= 10.65 },
        new SparkDataSource { X= 5, XValue= "2010", YValue= 12.34 },
        new SparkDataSource { X= 6, XValue= "2011", YValue= 12.29 },
        new SparkDataSource { X= 7, XValue= "2012", YValue= 12.27 },
        new SparkDataSource { X= 8, XValue= "2013", YValue= 12.26 },
        new SparkDataSource { X= 9, XValue= "2014", YValue= 12.22 } 
    };

    public List<SparkDataSource> populationInUS  = new List<SparkDataSource> {
        new SparkDataSource { X= 0, XValue= "2005", YValue= 295734100 },
        new SparkDataSource { X= 1, XValue= "2006", YValue= 298444200 },
        new SparkDataSource { X= 2, XValue= "2007", YValue= 301139900 },
        new SparkDataSource { X= 3, XValue= "2008", YValue= 303824600 },
        new SparkDataSource { X= 4, XValue= "2009", YValue= 307212100 },
        new SparkDataSource { X= 5, XValue= "2010", YValue= 310232900 },
        new SparkDataSource { X= 6, XValue= "2011", YValue= 313232000 },
        new SparkDataSource { X= 7, XValue= "2012", YValue= 313847500 },
        new SparkDataSource { X= 8, XValue= "2013", YValue= 316668600 },
        new SparkDataSource { X= 9, XValue= "2014", YValue= 318892100 } 
    };

    public List<SparkDataSource> populationDensityInUS  = new List<SparkDataSource> {
        new SparkDataSource { X= 0, XValue= "2005", YValue= 30.71 },
        new SparkDataSource { X= 1, XValue= "2006", YValue= 30.99 },
        new SparkDataSource { X= 2, XValue= "2007", YValue= 30.65 },
        new SparkDataSource { X= 3, XValue= "2008", YValue= 30.92 },
        new SparkDataSource { X= 4, XValue= "2009", YValue= 31.26 },
        new SparkDataSource { X= 5, XValue= "2010", YValue= 31.57 },
        new SparkDataSource { X= 6, XValue= "2011", YValue= 31.88 },
        new SparkDataSource { X= 7, XValue= "2012", YValue= 31.94 },
        new SparkDataSource { X= 8, XValue= "2013", YValue= 32.23 },
        new SparkDataSource { X= 9, XValue= "2014", YValue= 32.45 } 
    };

    public List<SparkDataSource> populationGrowthRateInUS  = new List<SparkDataSource> {
        new SparkDataSource { X= 0, XValue= "2005", YValue= 1 },
        new SparkDataSource { X= 1, XValue= "2006", YValue= -1 },
        new SparkDataSource { X= 2, XValue= "2007", YValue= -1 },
        new SparkDataSource { X= 3, XValue= "2008", YValue= -1 },
        new SparkDataSource { X= 4, XValue= "2009", YValue= 1 },
        new SparkDataSource { X= 5, XValue= "2010", YValue= -1 },
        new SparkDataSource { X= 6, XValue= "2011", YValue= -1 },
        new SparkDataSource { X= 7, XValue= "2012", YValue= -1 },
        new SparkDataSource { X= 8, XValue= "2013", YValue= -1 },
        new SparkDataSource { X= 9, XValue= "2014", YValue= -1 } 
    };

    public List<SparkDataSource> birthRateInUS  = new List<SparkDataSource> {
        new SparkDataSource { X= 0, XValue= "2005", YValue= 14.14 },
        new SparkDataSource { X= 1, XValue= "2006", YValue= 14.14 },
        new SparkDataSource { X= 2, XValue= "2007", YValue= 14.16 },
        new SparkDataSource { X= 3, XValue= "2008", YValue= 14.18 },
        new SparkDataSource { X= 4, XValue= "2009", YValue= 13.82 },
        new SparkDataSource { X= 5, XValue= "2010", YValue= 13.83 },
        new SparkDataSource { X= 6, XValue= "2011", YValue= 13.83 },
        new SparkDataSource { X= 7, XValue= "2012", YValue= 13.68 },
        new SparkDataSource { X= 8, XValue= "2013", YValue= 13.66 },
        new SparkDataSource { X= 9, XValue= "2014", YValue= 13.42 } 
    };

}





