@page "/Sparkline/SeriesType"

@using Syncfusion.EJ2.RazorComponents.Charts

@*Hidden:Lines*@
@using ej2_blazor_samples
@{
    SampleBrowser.CurrentSampleName = "Series Type";
    SampleBrowser.CurrentControlName = "Sparkline";
    SampleBrowser.CurrentControlCategory = "Sparkline";
    SampleBrowser.CurrentControl = SampleBrowser.Config.Sparkline;
    SampleBrowser.ActionDescription = new string[] {
        @"<p>
            This sample depicts the various types of series available in Sparkline.
        </p>"
    };
    SampleBrowser.Description = new string[] {
        @"<p>
            In this example, you can see the sparkline with various series types such as line, area, column, win loss and pie. Tooltip is enabled in this example. To see the tooltip in action, hover the mouse over the data points or tap on a data point in touch enabled devices.
        </p>"
    };
}
@*End:Hidden*@
<div class="control-section"> 
    <div id="spark-container" class="row">
        <div class="cols-sample-area" align="center" style="margin-top: 8%;">
            <div align="center" class="col-lg-2 col-md-3 col-sm-5 sparent">
                <div class="spark" id="line" align="center" style="height: 87px;">
                    <div class="sparktext" align="center" style="position: absolute; margin-top: 90px; width: 90%;">Power production for a day</div>
                    <EjsSparkline ID="firstSpark" XName="X" YName="YValue" DataSource=@powerProductionData Type="@SparklineType.Line" Fill="#3C78EF" Linewidth="1" Height="@height">
                         <SparklineMarkerSettings Visible='@markerVisible' Size='2.5' Fill="blue">
                         </SparklineMarkerSettings>
                         <SparklineTooltipSettings Visible='true' Format="${X} : ${YValue}">
                             <SparklineTrackLineSettings Visible='true'>
                             </SparklineTrackLineSettings>
                         </SparklineTooltipSettings>
                    </EjsSparkline>
                </div>
            </div>
            <div align="center" class="col-lg-2 col-md-3 col-sm-5 sparent">
                <div class="spark" id="area" align="center" style="height: 87px;">
                    <div class="sparktext" align="center" style="position: absolute; margin-top: 90px; width: 90%;">Average weather comparision</div>
                    <EjsSparkline ID="secondSpark" XName="xval" YName="YValue" Height="@height" DataSource=@weatherData Type="@SparklineType.Area" Fill="#b2cfff" Linewidth="1" valueType="@SparklineValueType.Category">
                         <SparklineBorder  Color="#3C78EF" Width="2"></SparklineBorder>
                         <SparklineTooltipSettings Visible='true' Format="${xval} : ${YValue}°C">
                             <SparklineTrackLineSettings Visible='true'>
                             </SparklineTrackLineSettings>
                         </SparklineTooltipSettings>
                    </EjsSparkline>
                </div>
            </div>
            <div align="center" class="col-lg-2 col-md-3 col-sm-5 sparent">
                <div class="spark" id="column" align="center" style="height: 87px;">
                    <div class="sparktext" align="center" style="position: absolute; margin-top: 90px; width: 90%;">Revenue status</div>
                    <EjsSparkline ID="thirdSpark" XName="xval" YName="YValue" Height="@height" DataSource=@revenueStatusData type="@SparklineType.Column" Fill="#3C78EF" Linewidth="1" ValueType="@SparklineValueType.Category" HighPointColor="#14aa21">
                         <SparklineTooltipSettings Visible='true' Format="${xval} : ${YValue}">
                         </SparklineTooltipSettings>
                    </EjsSparkline>

                </div>
            </div>
            <div align="center" class="col-lg-2 col-md-3 col-sm-5 sparent">
                <div class="spark" id="winloss" align="center" style="height: 87px;">
                    <div class="sparktext" align="center" style="position: absolute; margin-top: 90px;  width: 90%;">Customer satisfaction score</div>
                    <EjsSparkline ID="fourthSpark" XName="xval" YName="YValue" Height="@height" DataSource=@customerStatisficationData Type="@SparklineType.WinLoss" Fill="#3C78EF" Linewidth="1" ValueType="@SparklineValueType.Numeric" NegativePointColor="#fc5070">
                        <SparklineTooltipSettings Visible='true' Format="${xval} : ${YValue}">
                        </SparklineTooltipSettings>
                    </EjsSparkline>
                </div>
            </div>
            <div align="center" class="col-lg-2 col-md-5 col-sm-10 sparent">
                <div class="spark" align="center" style="height: 87px;">
                    <div class="sparkpie" id="firstPie" style="height:40px;width: 29%;">
                        <div align="center" class="pietext" style="position: absolute; margin-top: 40px; margin-left: 2px; width: 29%;">USA</div>
                        <EjsSparkline ID="firstSparkPie" XName="X" YName="Y" DataSource=@usaOlympicsMedals Type="@SparklineType.Pie" Linewidth="1" ValueType="@SparklineValueType.Category">
                            <SparklineTooltipSettings Visible='true' Format="${X} : ${Y}">
                            </SparklineTooltipSettings>
                        </EjsSparkline>
                    </div>
                    <div class="sparkpie" id="secondPie" style="height:40px;width: 29%;">
                        <div align="center" class="pietext" style="position: absolute; margin-top: 40px; margin-left: 2px; width: 29%;">GBR</div>
                        <EjsSparkline ID="secondSparkPie" XName="X" YName="Y" DataSource=@gbrOlympicsMedals Type="@SparklineType.Pie"  Linewidth="1" ValueType="@SparklineValueType.Category">
                             <SparklineTooltipSettings Visible='true' Format="${X} : ${Y}">
                            </SparklineTooltipSettings>
                        </EjsSparkline>
                    </div>
                    <div class="sparkpie" id="thirdPie" style="height:40px;width: 29%;">
                        <div align="center" class="pietext" style="position: absolute; margin-top: 40px; margin-left: 2px; width: 29%;">CHN</div>
                        <EjsSparkline ID="thirdSparkPie" XName="X" YName="Y" DataSource=@chinaOlympicsMedals Type="@SparklineType.Pie" Linewidth="1" ValueType="@SparklineValueType.Category">
                            <SparklineTooltipSettings Visible='true' Format="${X} : ${Y}">
                            </SparklineTooltipSettings>
                        </EjsSparkline>
                    </div>
                    <div class="sparktext" align="center" style="position: absolute; margin-top: 90px; width: 90%;">Olympics medal details</div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    td {
        font-family: "Roboto", "Segoe UI", "GeezaPro", "DejaVu Serif", "sans-serif";
        font-weight: 600;
    }

    .spark {
        border: 1px solid rgb(209, 209, 209);
        border-radius: 2px;
        width: 100%;
    }

    .sparent {
        height: 110px;
        margin-left: 3%;
        margin-right: 0%;
    }

    .sparkpie {
        float: left;
        margin-top: 15px;
        margin-left: 2%;
    }

    .pieparent {
        width: 93%;
    }

    .pietext {
        float: left;
        margin-left: 25%;
    }

    .sparktext {
        text-anchor: middle;
        width: 100%;
    }
</style>

@code  {
    public String height { get; set; } = "80px";
    public class SparkDataSource {
        public double X;
        public double YValue;
    }
    public List<SparkDataSource> powerProductionData  = new List<SparkDataSource> {
        new SparkDataSource { X= 1, YValue= 5 },
        new SparkDataSource { X= 2, YValue= 6 },
        new SparkDataSource { X= 3, YValue= 5 },
        new SparkDataSource { X= 4, YValue= 7 },
        new SparkDataSource { X= 5, YValue= 4 },
        new SparkDataSource { X= 6, YValue= 3 },
        new SparkDataSource { X= 7, YValue= 9 },
        new SparkDataSource { X= 8, YValue= 5 },
        new SparkDataSource { X= 9, YValue= 6 },
        new SparkDataSource { X= 10, YValue= 5 },
        new SparkDataSource { X= 11, YValue= 7 },
        new SparkDataSource { X= 12, YValue= 8 },
        new SparkDataSource { X= 13, YValue= 4 },
        new SparkDataSource { X= 14, YValue= 5 },
        new SparkDataSource { X= 15, YValue= 3 },
        new SparkDataSource { X= 16, YValue= 4 },
        new SparkDataSource { X= 17, YValue= 11 },
        new SparkDataSource { X= 18, YValue= 10 },
        new SparkDataSource { X= 19, YValue= 2 },
        new SparkDataSource { X= 20, YValue= 12 },
        new SparkDataSource { X= 21, YValue= 4 },
        new SparkDataSource { X= 22, YValue= 7 },
        new SparkDataSource { X= 23, YValue= 6 },
        new SparkDataSource { X= 24, YValue= 8 }
    };

    public class SparkData {
        public double X;
        public string xval;
        public double YValue;
    };
    public List<SparkData> weatherData  = new List<SparkData> {
        new SparkData { X= 1, xval= "Jan", YValue= 34 },
        new SparkData { X= 2, xval= "Feb", YValue= 36 },
        new SparkData { X= 3, xval= "Mar", YValue= 32 },
        new SparkData { X= 4, xval= "Apr", YValue= 35 },
        new SparkData { X= 5, xval= "May", YValue= 40 },
        new SparkData { X= 6, xval= "Jun", YValue= 38 },
        new SparkData { X= 7, xval= "Jul", YValue= 33 },
        new SparkData { X= 8, xval= "Aug", YValue= 37 },
        new SparkData { X= 9, xval="Sep", YValue= 34 },
        new SparkData { X= 10, xval= "Oct", YValue= 31 },
        new SparkData { X= 11, xval= "Nov", YValue= 30 },
        new SparkData { X= 12, xval= "Dec", YValue= 29 }
    };


    public List<SparkData> revenueStatusData  = new List<SparkData> {
        new SparkData { X= 1, xval= "Jan", YValue= 10 },
        new SparkData { X= 2, xval= "Feb", YValue= 6 },
        new SparkData { X= 3, xval= "Mar", YValue= 8 },
        new SparkData { X= 4, xval= "Apr", YValue= -5 },
        new SparkData { X= 5, xval= "May", YValue= 11 },
        new SparkData { X= 6, xval= "Jun", YValue= 5 },
        new SparkData { X= 7, xval= "Jul", YValue= -2 },
        new SparkData { X= 8, xval= "Aug", YValue= 7 },
        new SparkData { X= 9, xval= "Sep", YValue= -3 },
        new SparkData { X= 10, xval= "Oct", YValue= 6 },
        new SparkData { X= 11, xval= "Nov", YValue= 8 },
        new SparkData { X= 12, xval= "Dec", YValue= 10 }
    };

    public class SparkDatapie {
        public string X;
        public double Y;
    };

    public List<int> customerStatisficationData { get; set; } = new List<int> {
        12, 15, -10, 13, 15, 6, -12, 17, 13, 0, 8, -10
    };


    public List<SparkDatapie> usaOlympicsMedals  = new List<SparkDatapie> {
        new SparkDatapie { X= "Gold", Y = 46},
        new SparkDatapie { X= "Silver", Y = 37},
        new SparkDatapie { X= "Bronze", Y = 38}
    };


    public List<SparkDatapie> gbrOlympicsMedals  = new List<SparkDatapie> {
        new SparkDatapie { X= "Gold", Y = 27},
        new SparkDatapie { X= "Silver", Y = 23},
        new SparkDatapie { X= "Bronze", Y = 17}
    };


    public List<SparkDatapie> chinaOlympicsMedals  = new List<SparkDatapie> {
        new SparkDatapie { X= "Gold", Y = 26},
        new SparkDatapie { X= "Silver", Y = 18},
        new SparkDatapie { X= "Bronze", Y = 26}
    };

    public class SparkMarker {
        public List<string> Visible;
    };

    public SparkMarker markerVisible = new SparkMarker {
        Visible = new List<string> { "All" }
    };

}