@page "/progress-bar/circular"
@using Syncfusion.Blazor.ProgressBar
@using Syncfusion.Blazor
@using ThemeHelper
@inject NavigationManager Navigation

@*Hidden:Lines*@
@inherits SampleBaseComponent


@*End:Hidden*@
<SampleDescription>
    <p>This sample illustrates a circular progress bar with different state, segments, and animation.</p>
</SampleDescription>
<ActionDescription>
     <p>The Blazor ProgressBar indicates the progress of a task with customizable visuals. In this example, you can see how to render and configure the circular progress bar with multiple <a target='_blank' href='https://blazor.syncfusion.com/documentation/progress-bar/customization#segments' aria-label="segments">segments</a> and different states like <a target='_blank' href='https://blazor.syncfusion.com/documentation/progress-bar/states#determinate' aria-label="determinate">determinate</a>, <a target='_blank' href='https://blazor.syncfusion.com/documentation/progress-bar/states#indeterminate' aria-label="indeterminate">indeterminate, </a> and <a target='_blank' href='https://blazor.syncfusion.com/documentation/progress-bar/states#buffer' aria-label="buffer">buffer</a> state. </p>
     <p>More information about the circular progress bar can be found in this <a target='_blank' href='https://blazor.syncfusion.com/documentation/progress-bar/types#circular' aria-label="documentation section" >documentation section</a>.</p>
</ActionDescription>

<div class="control-section">
    <div class="row" style="margin-top: 4%;">

        <div class="col-lg-3 col-md-3 col-3" align="center">
            <SfProgressBar @ref="ProObj1" Type="ProgressType.Circular" Value="60" Width="160px" Height="160px"
                           Minimum="0" Maximum="100" StartAngle="180" EndAngle="180"
                           Theme="@CurrentTheme">
                <ProgressBarAnimation Enable="true" Duration="2000" Delay="0"></ProgressBarAnimation>
            </SfProgressBar>
            <div class="@labelClass" style="font-family: @FontFamily">Determinate</div>
        </div>

        <div class="col-lg-3 col-md-3 col-3" align="center">
            <SfProgressBar @ref="ProObj2" Type="ProgressType.Circular" Value="30" Width="160px" Height="160px"
                           Minimum="0" Maximum="100" SecondaryProgress="60"
                           Theme="@CurrentTheme">
                <ProgressBarAnimation Enable="true" Duration="2000" Delay="0"></ProgressBarAnimation>
            </SfProgressBar>
            <div class="@labelClass" style="font-family: @FontFamily">Buffer </div>
        </div>

        <div class="col-lg-3 col-md-3 col-3" align="center">
            <SfProgressBar @ref="ProObj3" Type="ProgressType.Circular" Value="100" Width="160px" Height="160px"
                           SegmentCount="4" Minimum="0" Maximum="100"
                           Theme="@CurrentTheme">
                <ProgressBarAnimation Enable="true" Duration="2000" Delay="0"></ProgressBarAnimation>
            </SfProgressBar>
            <div class="@labelClass" style="font-family: @FontFamily">Segment</div>
        </div>

        <div class="col-lg-3 col-md-3 col-3" align="center">
            <SfProgressBar @ref="ProObj4" Type="ProgressType.Circular" Value="20" Width="160px" Height="160px"
                           StartAngle="180" EndAngle="180" CornerRadius="CornerType.Round"
                           IsIndeterminate="true" Minimum="0" Maximum="100"
                           Theme="@CurrentTheme">
                <ProgressBarAnimation Enable="true" Duration="2000" Delay="0"></ProgressBarAnimation>
            </SfProgressBar>
            <div class="@labelClass" style="font-family: @FontFamily">Indeterminate</div>
        </div>
    </div>
    <div class="row" align="center" style="font-family: @FontFamily">
        <button id="reLoad" class="e-control e-btn e-lib e-outline e-primary" @onclick="ProgressRefresh">Reload</button>
    </div>
</div>

@code { 
    public SfProgressBar ProObj1, ProObj2, ProObj3, ProObj4;
    public Theme CurrentTheme { get; set; }
    private string labelClass = "";
    private string currentUri;
    public string FontFamily { get; set; }
    

    public async Task ProgressRefresh()
    {
        await ProObj1.RefreshAsync();
        await ProObj2.RefreshAsync();
        await ProObj3.RefreshAsync();
        await ProObj4.RefreshAsync();
    }

    protected override void OnInitialized()
    {
        
        currentUri = Navigation.Uri;
        FontFamily = ThemeHelper.GetFontFamily(Navigation.Uri);
        if (currentUri.Contains("material3-dark"))
        {
            CurrentTheme = Theme.Material3Dark;
        }
        else if (currentUri.Contains("material3"))
        {
            CurrentTheme = Theme.Material3;
        }
        else if (currentUri.Contains("fabric-dark"))
        {
            CurrentTheme = Theme.FabricDark;
        }
        else if (currentUri.Contains("fabric"))
        {
            CurrentTheme = Theme.Fabric;
        }
        else if (currentUri.Contains("bootstrap5-dark"))
        {
            CurrentTheme = Theme.Bootstrap5Dark;
            labelClass = "progress-text-align-dark";
        }
        else if (currentUri.Contains("bootstrap-dark"))
        {
            CurrentTheme = Theme.BootstrapDark;
        }
        else if (currentUri.Contains("bootstrap5"))
        {
            CurrentTheme = Theme.Bootstrap5;
        }
        // else if (currentUri.Contains("fluent2-highcontrast"))
        // {
        //     CurrentTheme = Theme.Fluent2HighContrast;
        //     labelClass = "progress-text-align-dark";
        // }
        else if (currentUri.Contains("fluent2-dark"))
        {
            CurrentTheme = Theme.Fluent2Dark;
            labelClass = "progress-text-align-dark";
        }
        else if (currentUri.Contains("fluent2"))
        {
            CurrentTheme = Theme.Fluent2;
        }
        else if (currentUri.Contains("fluent-dark"))
        {
            CurrentTheme = Theme.FluentDark;
            labelClass = "progress-text-align-dark";
        }
        else if (currentUri.Contains("fluent"))
        {
            CurrentTheme = Theme.Fluent;
        }
        else if (currentUri.Contains("bootstrap4"))
        {
            CurrentTheme = Theme.Bootstrap4;
        }
        else if (currentUri.Contains("bootstrap"))
        {
            CurrentTheme = Theme.Bootstrap;
        }
        else if (currentUri.Contains("highcontrast"))
        {
            CurrentTheme = Theme.HighContrast;
            labelClass = "progress-text-align-dark";
        }
        else if (currentUri.Contains("tailwind-dark"))
        {
            CurrentTheme = Theme.TailwindDark;
        }
        else if (currentUri.Contains("tailwind"))
        {
            CurrentTheme = Theme.Tailwind;
        }
        else if (currentUri.Contains("material-dark"))
        {
            CurrentTheme = Theme.MaterialDark;
        }
        else if (currentUri.Contains("material"))
        {
            CurrentTheme = Theme.Material;
        }
    }
}

<style>
    #control-container {
        padding: 0px !important;
    }

    .progress-text-align {
        font-family: Roboto-Regular;
        font-size: 14px;
        color: #3D3E3C;
    }

    .progress-text-align-dark {
        font-family: Roboto-Regular;
        font-size: 14px;
        color: white;
    }

    #reLoad {
        border-radius: 4px;
        text-transform: capitalize;
        margin-top: 3%;
    }
</style>