@page "/progress-bar/labels"
@using Syncfusion.Blazor.ProgressBar
@inject NavigationManager Navigation
@using Syncfusion.Blazor
@*Hidden:Lines*@
@inherits SampleBaseComponent


@*End:Hidden*@

<SampleDescription>
    <p>This sample illustrates a linear progress bar with different labels. </p>
</SampleDescription>
<ActionDescription>
    <p> In this example, you can see how to configure labels in the linear progress bar using the <a target='_blank' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.ProgressBar.TextRenderEventArgs.html?&_ga=2.201769297.1522010031.1638758774-218625430.1638525643#Syncfusion_Blazor_ProgressBar_TextRenderEventArgs_Text' aria-label="Text">Text</a> argument in the <a target='_blank' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.ProgressBar.ProgressBarEvents.html?&_ga=2.25103610.1522010031.1638758774-218625430.1638525643#Syncfusion_Blazor_ProgressBar_ProgressBarEvents_TextRender' aria-label="TextRender">TextRender</a> event.</p>
    <p>More information about the labels in progress bar can be found in this <a target='_blank' href='https://blazor.syncfusion.com/documentation/progress-bar/progress-annotation#label' aria-label="documentation section" >documentation section</a>.</p>
</ActionDescription>

<div class="control-section">
    <div class="row linear-parent" align="center">

        <div class="linear-progress">
            <SfProgressBar @ref="ProObj1" Type="ProgressType.Linear" Height="40"
                           Width="100%" ID="Percentage"
                           TrackThickness="24"
                           ProgressThickness="24" Role="ModeType.Success"
                           ShowProgressValue="true"
                           Value="40" Minimum="0" Maximum="100"
                           Theme="@CurrentTheme"
                           TrackColor="@ColorTrack">
                <ProgressBarLabelStyle Text="40% Complete (Success)" TextAlignment="TextAlignmentType.Center" Color="@TextColor" />
                <ProgressBarAnimation Enable="true" Duration="2000" Delay="0" />
            </SfProgressBar>
        </div>

        <div class="linear-progress">
            <SfProgressBar @ref="ProObj2" Type="ProgressType.Linear" Height="40"
                           Width="100%" ID="Ratio"
                           TrackThickness="24"
                           ProgressThickness="24" Role="ModeType.Info"
                           ShowProgressValue="true"
                           Value="50" Minimum="0" Maximum="100"
                           Theme="@CurrentTheme"
                           TrackColor="@ColorTrack">
                <ProgressBarLabelStyle Text="50% Complete (Info)" TextAlignment="TextAlignmentType.Center" Color="@TextColor" />
                <ProgressBarAnimation Enable="true" Duration="2000" Delay="0" />
            </SfProgressBar>
        </div>

        <div class="linear-progress">
            <SfProgressBar @ref="ProObj3" Type="ProgressType.Linear" Height="40"
                           Width="100%" ID="Acutal"
                           TrackThickness="24"
                           ProgressThickness="24" Role="ModeType.Warning"
                           ShowProgressValue="true"
                           Value="60" Minimum="0" Maximum="100"
                           Theme="@CurrentTheme"
                           TrackColor="@ColorTrack">
                <ProgressBarLabelStyle Text="60% Complete (Warning)" TextAlignment="TextAlignmentType.Center" Color="@TextColor" />
                <ProgressBarAnimation Enable="true" Duration="2000" Delay="0" />
            </SfProgressBar>
        </div>

        <div class="linear-progress">
            <SfProgressBar @ref="ProObj4" Type="ProgressType.Linear" Height="40"
                           Width="100%" ID="Custom"
                           TrackThickness="24"
                           ProgressThickness="24" Role="ModeType.Danger"
                           ShowProgressValue="true"
                           Value="70" Minimum="0" Maximum="100"
                           Theme="@CurrentTheme"
                           TrackColor="@ColorTrack">
                <ProgressBarLabelStyle Text="70% Complete (Danger)" TextAlignment="TextAlignmentType.Center" Color="@TextColor" />
                <ProgressBarAnimation Enable="true" Duration="2000" Delay="0" />
            </SfProgressBar>
        </div>
    </div>
    <div class="row" align="center">
        <button id="reLoad" class="e-control e-btn e-lib e-outline e-primary" @onclick="ProgressRefresh">Reload</button>
    </div>
</div>

<style>
    #control-container {
        padding: 0px !important;
    }

    .linear-parent {
        text-align: center;
        margin-top: 2%;
    }

    .linear-button {
        text-align: center;
    }

    .linear-progress {
        width: 80%;
        margin: auto;
        margin-bottom: 3%;
    }

    [id$="Lineartrack"] {
        opacity: 1 !important;
    }

    #reLoad {
        border-radius: 4px;
        text-transform: capitalize;
    }
</style>

@code{
    public SfProgressBar ProObj1, ProObj2, ProObj3, ProObj4;
    public string TextColor { get; set; } = "#FFFFFF";
    public string ColorTrack { get; set; } = null;
    public Theme CurrentTheme { get; set; }
    private string currentUri;
    

    public async Task ProgressRefresh()
    {
        await ProObj1.RefreshAsync();
        await ProObj2.RefreshAsync();
        await ProObj3.RefreshAsync();
        await ProObj4.RefreshAsync();
    }

    protected override void OnInitialized()
    {
        
        currentUri = Navigation.Uri;
        if (currentUri.Contains("material3-dark"))
        {
            CurrentTheme = Theme.Material3Dark;
        }
        else if (currentUri.Contains("material3"))
        {
            CurrentTheme = Theme.Material3;
        }
        else if (currentUri.Contains("fabric-dark"))
        {
            CurrentTheme = Theme.FabricDark;
        }
        else if (currentUri.Contains("fabric"))
        {
            CurrentTheme = Theme.Fabric;
        }
        else if (currentUri.Contains("bootstrap-dark"))
        {
            CurrentTheme = Theme.BootstrapDark;
        }
        else if (currentUri.Contains("bootstrap5-dark"))
        {
            CurrentTheme = Theme.Bootstrap5Dark;
        }
        else if (currentUri.Contains("bootstrap5"))
        {
            CurrentTheme = Theme.Bootstrap5;
        }
        // else if (currentUri.Contains("fluent2-highcontrast"))
        // {
        //     CurrentTheme = Theme.Fluent2HighContrast;
        // }
        else if (currentUri.Contains("fluent2-dark"))
        {
            CurrentTheme = Theme.Fluent2Dark;
        }
        else if (currentUri.Contains("fluent2"))
        {
            CurrentTheme = Theme.Fluent2;
        }
        else if (currentUri.Contains("fluent-dark"))
        {
            CurrentTheme = Theme.FluentDark;
        }
        else if (currentUri.Contains("fluent"))
        {
            CurrentTheme = Theme.Fluent;
        }
        else if (currentUri.Contains("bootstrap4"))
        {
            CurrentTheme = Theme.Bootstrap4;
        }
        else if (currentUri.Contains("bootstrap"))
        {
            CurrentTheme = Theme.Bootstrap;
        }
        else if (currentUri.Contains("highcontrast"))
        {
            CurrentTheme = Theme.HighContrast;
            TextColor = "#000000";
            ColorTrack = "#969696";
        }
        else if (currentUri.Contains("tailwind-dark"))
        {
            CurrentTheme = Theme.TailwindDark;
        }
        else if (currentUri.Contains("tailwind"))
        {
            CurrentTheme = Theme.Tailwind;
        }
        else if (currentUri.Contains("material-dark"))
        {
            CurrentTheme = Theme.MaterialDark;
        }
        else if (currentUri.Contains("material"))
        {
            CurrentTheme = Theme.Material;
            ColorTrack = "#eee";
        }
    }
}