@page "/progress-bar/radius"
@using Syncfusion.Blazor.ProgressBar
@using Syncfusion.Blazor
@using ThemeHelper
@inject NavigationManager Navigation
@*Hidden:Lines*@
@inherits SampleBaseComponent


@*End:Hidden*@

<SampleDescription>
    <p>A circular progress bar with different radius, inner-radius, pie progress, track, and progress thickness is shown in this example.</p>
</SampleDescription>
<ActionDescription>
    <p> In this demo, you can see how to configure the radius, inner radius, pie progress, track and progress thickness of a circular progress bar using the <a target='_blank' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.ProgressBar.SfProgressBar.html#Syncfusion_Blazor_ProgressBar_SfProgressBar_Radius' aria-label="Radius">Radius</a>, <a target='_blank' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.ProgressBar.SfProgressBar.html#Syncfusion_Blazor_ProgressBar_SfProgressBar_InnerRadius' aria-label="InnerRadius">InnerRadius</a>, <a target='_blank' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.ProgressBar.SfProgressBar.html#Syncfusion_Blazor_ProgressBar_SfProgressBar_TrackColor' aria-label="TrackColor">TrackColor</a>, <a target='_blank' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.ProgressBar.SfProgressBar.html#Syncfusion_Blazor_ProgressBar_SfProgressBar_TrackThickness' aria-label="TrackThickness">TrackThickness</a>, and <a target='_blank' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.ProgressBar.SfProgressBar.html#Syncfusion_Blazor_ProgressBar_SfProgressBar_ProgressThickness' aria-label="ProgressThickness">ProgressThickness</a> properties.</p>
    <p>More information about the radius and inner radius for circular progress bar can be found in this <a target='_blank' href='https://blazor.syncfusion.com/documentation/progress-bar/customization#radius' aria-label="documentation section" >documentation section</a>.</p>
</ActionDescription>

<div class="control-section">
    <div class="row" style="margin-top: 4%;">
        <div class="col-lg-3 col-md-3 col-3" align="center">
            <SfProgressBar ID="FullBackground"
                           @ref="ProObj1"
                           Type="ProgressType.Circular"
                           Minimum="0"
                           Maximum="100"
                           Value="60"
                           Width="160px"
                           Height="170px"
                           Radius="100%"
                           InnerRadius="190%"
                           ProgressThickness="10"
                           TrackThickness="80"
                           ProgressColor="@ProgressColor"
                           CornerRadius="CornerType.Round"
                           TrackColor="@FullTrackColor"
                           Theme="@CurrentTheme">
                <ProgressBarAnimation Enable="true" Duration="3000" Delay="0" />
                <ProgressBarAnnotations>
                    <ProgressBarAnnotation>
                        <ContentTemplate>
                            <div style='font-size:20px;font-weight:bold;color:@color;font-family: @FontFamily'><span>60%</span></div>
                        </ContentTemplate>
                    </ProgressBarAnnotation>
                </ProgressBarAnnotations>
            </SfProgressBar>
        </div>

        <div class="col-lg-3 col-md-3 col-3" align="center">
            <SfProgressBar ID="OuterRadius"
                           @ref="ProObj2"
                           Type="ProgressType.Circular"
                           Value="90"
                           Minimum="0"
                           Maximum="100"
                           Width="160px"
                           Height="170px"
                           InnerRadius="72"
                           ProgressThickness="8"
                           CornerRadius="CornerType.Round"
                           Theme="@CurrentTheme">
                <ProgressBarAnimation Enable="true" Duration="3000" Delay="0" />
            </SfProgressBar>
        </div>

        <div class="col-lg-3 col-md-3 col-3" align="center">
            <SfProgressBar ID="OnRadius"
                           @ref="ProObj3"
                           Type="ProgressType.Circular"
                           Value="90"
                           Minimum="0"
                           Maximum="100"
                           Width="160px"
                           Height="170px"
                           TrackThickness="3"
                           ProgressThickness="8"
                           CornerRadius="CornerType.Round"
                           Theme="@CurrentTheme">
                <ProgressBarAnimation Enable="true" Duration="3000" Delay="0" />
            </SfProgressBar>
        </div>

        <div class="col-lg-3 col-md-3 col-3" align="center">
            <SfProgressBar ID="Pie"
                           @ref="ProObj4"
                           Type="ProgressType.Circular"
                           Value="70"
                           Minimum="0"
                           Maximum="100"
                           Width="160px"
                           Height="170px"
                           EnablePieProgress="true"
                           CornerRadius="CornerType.Round"
                           Theme="@CurrentTheme">
                <ProgressBarAnimation Enable="true" Duration="3000" Delay="0" />
            </SfProgressBar>
        </div>
    </div>
    <div class="row" align="center" style="font-family: @FontFamily">
        <button id="reLoad" class="e-control e-btn e-lib e-outline e-primary" @onclick="ProgressRefresh">Reload</button>
    </div>
</div>

@code{ 
    public SfProgressBar ProObj1, ProObj2, ProObj3, ProObj4;
    public Theme CurrentTheme { get; set; }
    public string FullTrackColor { get; set; }
    public string ProgressColor { get; set;} = "#FFFFFF";
    public string color { get; set; } = "#FFFFFF";
    public string FontFamily { get; set; }
    private string currentUri;
    

    public async Task ProgressRefresh()
    {
        await ProObj1.RefreshAsync();
        await ProObj2.RefreshAsync();
        await ProObj3.RefreshAsync();
        await ProObj4.RefreshAsync();
    }

    protected override void OnInitialized()
    {
        
        currentUri = Navigation.Uri;
        FontFamily = ThemeHelper.GetFontFamily(Navigation.Uri);
        if (currentUri.Contains("material3-dark"))
        {
            CurrentTheme = Theme.Material3Dark;
            ProgressColor = "#D0BCFF";
            color = "#D0BCFF";
        }
        else if (currentUri.Contains("material3"))
        {
            CurrentTheme = Theme.Material3;
            ProgressColor = "#6750A4";
            color = "#6750A4";
        }
        else if (currentUri.Contains("fabric-dark"))
        {
            CurrentTheme = Theme.FabricDark;
            ProgressColor = "#9A9A9A";
            color = "#9A9A9A";
        }
        else if (currentUri.Contains("fabric"))
        {
            CurrentTheme = Theme.Fabric;
            ProgressColor = "#0078D6";
            color = "#0078D6";
        }
        else if (currentUri.Contains("bootstrap-dark"))
        {
            CurrentTheme = Theme.BootstrapDark;
            ProgressColor = "#9A9A9A";
            color = "#9A9A9A";
        }
        else if (currentUri.Contains("bootstrap5-dark"))
        {
            CurrentTheme = Theme.Bootstrap5Dark;
            ProgressColor = "#0D6EFD";
            color = "#0D6EFD";
        }
        else if (currentUri.Contains("bootstrap5"))
        {
            CurrentTheme = Theme.Bootstrap5;
            ProgressColor = "#0D6EFD";
            color = "#0D6EFD";
        }
        // else if (currentUri.Contains("fluent2-highcontrast"))
        // {
        //     CurrentTheme = Theme.Fluent2HighContrast;
        //     ProgressColor = "#1AEBFF";
        //     color = "#1AEBFF";
        // }
        else if (currentUri.Contains("fluent2-dark"))
        {
            CurrentTheme = Theme.Fluent2Dark;
            ProgressColor = "#115EA3";
            color = "#115EA3";
        }
        else if (currentUri.Contains("fluent2"))
        {
            CurrentTheme = Theme.Fluent2;
            ProgressColor = "#0F6CBD";
            color = "#0F6CBD";
        }
        else if (currentUri.Contains("fluent-dark"))
        {
            CurrentTheme = Theme.FluentDark;
            ProgressColor = "#0D6EFD";
            color = "#0D6EFD";
        }
        else if (currentUri.Contains("fluent"))
        {
            CurrentTheme = Theme.Fluent;
            ProgressColor = "#0D6EFD";
            color = "#0D6EFD";
        }
        else if (currentUri.Contains("bootstrap4"))
        {
            CurrentTheme = Theme.Bootstrap4;
            ProgressColor = "#007bff";
            color = "#007bff";
        }
        else if (currentUri.Contains("bootstrap"))
        {
            CurrentTheme = Theme.Bootstrap;
            ProgressColor = "#317ab9";
            color = "#317ab9";
        }
        else if (currentUri.Contains("highcontrast"))
        {
            CurrentTheme = Theme.HighContrast;
            ProgressColor = "#FFD939";
            color = "#FFD939";
        }
        else if (currentUri.Contains("tailwind-dark"))
        {
            CurrentTheme = Theme.TailwindDark;
            ProgressColor = "#22D3EE";
            color = "#22D3EE";
        }
        else if (currentUri.Contains("tailwind"))
        {
            CurrentTheme = Theme.Tailwind;
            ProgressColor = "#4F46E5";
            color = "#4F46E5";
        }
        else if (currentUri.Contains("material-dark"))
        {
            CurrentTheme = Theme.MaterialDark;
            ProgressColor = "#9A9A9A";
            color = "#9A9A9A";
        }
        else if (currentUri.Contains("material"))
        {
            CurrentTheme = Theme.Material;
            ProgressColor = "#E3165B";
            color = "#E3165B";
        }
    }
}

<style>
    #control-container {
        padding: 0px !important;
    }

    .progress-text-align {
        font-family: Roboto-Regular;
        font-size: 14px;
        color: #3D3E3C;
    }

    #reLoad {
        border-radius: 4px;
        text-transform: capitalize;
        margin-top: 3%;
    }
</style>