@page "/Mention/Multiple-List"

@using Syncfusion.Blazor.Data
@using Syncfusion.Blazor.DropDowns

@*Hidden:Lines*@
@inherits SampleBaseComponent
@inject NavigationManager NavigationManager


@*End:Hidden*@

<SampleDescription>
    <p>This sample demonstrates the different mentioned characters that are used to render the suggestion list. Type the <code>@@</code> or <code>#</code> or <code>$</code> or <code>%</code> characters to select or tag the name from respective suggestion lists.</p>
</SampleDescription>
<ActionDescription>
    <p>In the above sample, the following are configured for the contenteditable div element with @@Mention integrated.</p>
    <ul>
        <li><code>@@</code> - Typing <code>@@</code> lists out the suggestions of the employee names.</li>
        <li><code>#</code> - Typing <code>#</code> lists the project names.</li>
        <li><code>$</code> - Typing <code>$</code> lists out the cost of the project.</li>
        <li><code>%</code> - Typing <code>%</code> lists the status of the project.</li>
    </ul>
</ActionDescription>

<div id="mention-controls">
    <table>
        <tr>
            <td>
                <label id="label">Start typing <code>@@</code>, <code>#</code>, <code>$</code> or <code>%</code> to select the respective values</label>
                <div id="multipleList" aria-label="Type Here" placeHolder="Type here..!"></div>
            </td>
        </tr>
    </table>
</div>

<SfMention TItem="EmployeeData" Target="#multipleList" Query="@Query" PopupWidth="180px" PopupHeight="250px" SuggestionCount=15 AllowSpaces="true">
    <SfDataManager Url="https://blazor.syncfusion.com/services/production/api/Employees" Adaptor="Syncfusion.Blazor.Adaptors.WebApiAdaptor" CrossDomain=true></SfDataManager>
    <MentionFieldSettings Text="FirstName" Value="EmployeeID"></MentionFieldSettings>
</SfMention>

<SfMention MentionChar="@ProjMentionChar" TItem="MentionData" Target="#multipleList" DataSource="@ProjectData">
    <DisplayTemplate>
        <span class="e-success">@((context as MentionData).Value)</span>
    </DisplayTemplate>
    <ChildContent>
        <MentionFieldSettings Text="Value"></MentionFieldSettings>
    </ChildContent>
</SfMention>

<SfMention MentionChar="@CostMentionChar" TItem="MentionData" Target="#multipleList" DataSource="@UseCostData">
    <DisplayTemplate>
        <span class="e-error">@((context as MentionData).Value)</span>
    </DisplayTemplate>
    <ChildContent>
        <MentionFieldSettings Text="Value"></MentionFieldSettings>
    </ChildContent>
</SfMention>

<SfMention MentionChar="@StatusMentionChar" TItem="MentionData" Target="#multipleList" DataSource="@StatusData">
    <DisplayTemplate>
        <span class="e-warning">@((context as MentionData).Value)</span>
    </DisplayTemplate>
    <ChildContent>
        <MentionFieldSettings Text="Value"></MentionFieldSettings>
    </ChildContent>
</SfMention>

<style>
    #multipleList {
        min-height: 100px;
        border: 1px solid #D7D7D7;
        width: 600px;
        font-size: 14px;
        padding: 8px;
        border-radius: 4px;
    }
    #mention-controls {
        margin: 0 auto;
        width: 600px;
    }
    #mention-controls #label {
        font-size: 15px;
        font-weight: 600;
    }
    div#multipleList[placeholder]:empty:before {
        content: attr(placeholder);
        color: #555;
    }
    @@media screen and (max-width: 1010px) {
        #multipleList,
        #mention-controls, #mention-controls table{
            width: 100%;
        }
    }
</style>

@code {
    private char ProjMentionChar { get; set; } = '#';
    private char CostMentionChar { get; set; } = '$';
    private char StatusMentionChar { get; set; } = '%';
    private Query Query = new Query();
    
    public class EmployeeData
    {
        public int EmployeeID { get; set; }
        public string FirstName { get; set; }
        public string Designation { get; set; }
        public string Country { get; set; }
    }
  public class MentionData
  {  
    public string Id { get; set; }
    public string Value { get; set; }
  }
  List<MentionData> ProjectData = new List<MentionData> {
    new MentionData() { Id="Project1", Value="ERP" },
    new MentionData() { Id="Project2", Value="Help desk" },
    new MentionData() { Id="Project3", Value="Banking" },
    new MentionData() { Id="Project4", Value="Chat Box" },
    new MentionData() { Id="Project5", Value="Accounts" }
  };

  List<MentionData> UseCostData = new List<MentionData> {
    new MentionData() { Id="Cost1", Value="$1000" },
    new MentionData() { Id="Cost2", Value="$1500" },
    new MentionData() { Id="Cost3", Value="$3000" },
    new MentionData() { Id="Cost4", Value="$3250" },
    new MentionData() { Id="Cost5", Value="$5000" }
  };

  List<MentionData> StatusData = new List<MentionData> {
    new MentionData() { Id="Status1", Value="Open" },
    new MentionData() { Id="Status2", Value="In-progress" },
    new MentionData() { Id="Status3", Value="Hold" },
    new MentionData() { Id="Status4", Value="Closed" }
  };
}
