@page "/data-form/custom-editors"

@*Hidden:Lines*@
@using BlazorDemos.Models.Form
@inherits SampleBaseComponent
@*End:Hidden*@

@using Syncfusion.Blazor.DataForm
@using Syncfusion.Blazor.Calendars
@using Syncfusion.Blazor.Inputs

<SampleDescription>
    <p>
        The example provided below illustrates the process of using custom editors in place of the default editors in a Blazor Data Form component.
    </p>
</SampleDescription>

<ActionDescription>
    <p>
        The Blazor Data Form component provides default editors component based on the type of the field. You can also override this through the <code>EditorType</code> property. The Data Form component is equipped with the following editor options.
    </p>
    <ul>
        <li><code>TextBox</code></li>
        <li><code>TextArea</code></li>
        <li><code>DropdownList</code></li>
        <li><code>ComboBox</code></li>
        <li><code>AutoComplete</code></li>
        <li><code>Checkbox</code></li>
        <li><code>DatePicker</code></li>
        <li><code>DateTimePicker</code></li>
        <li><code>TimePicker</code></li>
        <li><code>Password</code></li>
        <li><code>Switch</code></li>
    </ul>
</ActionDescription>

<div class="col-lg-12 control-section">
   
    <div class="control-wrapper">
        <h4 class="control-header">Hotel Booking</h4>
        <SfDataForm ID="MyForm"
                    Model="@_hotelBookingModel"
                    ColumnCount="2"
                    ColumnSpacing="20px"
                    ButtonsAlignment="FormButtonsAlignment.Right">
            <FormValidator>
                <DataAnnotationsValidator></DataAnnotationsValidator>
            </FormValidator>
            <FormItems>
                <FormItem Field="@nameof(_hotelBookingModel.FirstName)" ColumnSpan="1" Placeholder="Enter first name"/>
                <FormItem Field="@nameof(_hotelBookingModel.LastName)" ColumnSpan="1" Placeholder="Enter last name"/>
                <FormItem Field="@nameof(_hotelBookingModel.PhoneNumber)" ColumnSpan="2">
                    <Template>
                        <label class="e-form-label">Phone Number</label>
                        <SfMaskedTextBox Mask="+(00) 0000000000" Placeholder="Enter phone number" @bind-Value="_hotelBookingModel.PhoneNumber"></SfMaskedTextBox>
                    </Template>
                </FormItem>
                <FormItem Field="@nameof(_hotelBookingModel.Email)" ColumnSpan="2" Placeholder="someone@example.com" />
                <FormItem Field="@nameof(_hotelBookingModel.CheckIn)" EditorType="FormEditorType.DateTimePicker" ColumnSpan="1">
                </FormItem>
                <FormItem Field="@nameof(_hotelBookingModel.CheckOut)" ColumnSpan="1">
                    <Template>
                        <label class="e-form-label">Check Out</label>
                        <SfDateTimePicker TValue="DateTime?" @bind-Value="_hotelBookingModel.CheckOut" Placeholder="Enter check out date" Min="_hotelBookingModel.CheckIn "></SfDateTimePicker>
                    </Template>
                </FormItem>
                <FormItem Field="@nameof(_hotelBookingModel.AdultCount)" ColumnSpan="1" Placeholder="Enter adults count"/>
                <FormItem Field="@nameof(_hotelBookingModel.RoomPreferences)" ColumnSpan="1" EditorType="FormEditorType.ComboBox"/>
                <FormItem Field="@nameof(_hotelBookingModel.Address)" ColumnSpan="2" EditorType="FormEditorType.TextArea"/>
                <FormItem Field="@nameof(_hotelBookingModel.Accept)" ColumnSpan="2" EditorType="FormEditorType.Switch"/>
                </FormItems>
        </SfDataForm>
    </div>
</div>
<style>
    .mobile .control-wrapper {
        max-width: 100%;
    }
    .control-wrapper {
        max-width: 470px;
        margin: 0 auto;
        padding: 0px 0px 0px;
    }

    .control-header {
        text-align: center;
    }

</style>
@code {
    private HotelBooking _hotelBookingModel = new HotelBooking();
}
