@page "/data-form/form-group"

@*Hidden:Lines*@
@using BlazorDemos.Models.Form
@inherits SampleBaseComponent
@inject NavigationManager NavigationManager
@*End:Hidden*@



<SampleDescription>
    <p>The Blazor Data Form component enables you to create groups with descriptive label text and a layout organized into columns.</p>
</SampleDescription>

<ActionDescription>
    <p>
        The <code>FormGroup</code> component can organize FormItems into logical groups. It configures the label of the group, the number of columns, and the spacing between the items.
    </p>
</ActionDescription>

@using Syncfusion.Blazor.DataForm
@using Syncfusion.Blazor.Buttons
@using System.ComponentModel.DataAnnotations


<div class="col-lg-12 control-section">
    @if (string.IsNullOrEmpty(SuccessMessage))
    {
        
        <div class="control-wrapper">
            <h4 class="control-header">Employee Details</h4>
            <SfDataForm ID="MyForm"
                        Model="@EmployeeDetails"
                        ColumnCount=2
                        ColumnSpacing="20px"
                        ButtonsAlignment="FormButtonsAlignment.Right" OnValidSubmit="ValidSubmitHandler">
                <FormValidator>
                    <DataAnnotationsValidator></DataAnnotationsValidator>
                </FormValidator>
                <FormItems>
                    <FormGroup LabelText="Employee Information">
                        <FormItem Field="@nameof(EmployeeDetails.EmployeeId)" LabelText="Employee Id" />
                        <FormItem Field="@nameof(EmployeeDetails.FirstName)" LabelText="First Name" />
                        <FormItem Field="@nameof(EmployeeDetails.LastName)" LabelText="Last Name" />
                        <FormItem Field="@nameof(EmployeeDetails.Designation)" LabelText="Designation" />
                        <FormItem Field="@nameof(EmployeeDetails.ReportingPerson)" LabelText="Reporting Person" />
                        <FormItem Field="@nameof(EmployeeDetails.ManagerName)" LabelText="Manager Name" />
                    </FormGroup>
                    <FormGroup LabelText="Personal Data">
                        <FormItem Field="@nameof(EmployeeDetails.DateOfBirth)" EditorType="FormEditorType.DatePicker" LabelText="Date of birth" />
                        <FormItem Field="@nameof(EmployeeDetails.PersonalMailId)" LabelText="Personal Mail" Placeholder="someone@example.com" />
                        <FormItem Field="@nameof(EmployeeDetails.BloodGroup)" LabelText="Blood group" Placeholder="Enter blood group" />
                        <FormItem Field="@nameof(EmployeeDetails.Country)" LabelText="Country" EditorType="FormEditorType.AutoComplete" />
                        <FormItem Field="@nameof(EmployeeDetails.AddressLine)" EditorType="FormEditorType.TextArea" LabelText="Address Line" />
                    </FormGroup>
                </FormItems>

                <FormButtons>
                    <SfButton>Update</SfButton>
                </FormButtons>

            </SfDataForm>
        </div>
    }
    else
    {
        <div class="alert alert-success">
            @SuccessMessage
        </div>
    }
</div>

<style>
    .mobile .control-wrapper {
        max-width: 100%;
    }
    .control-wrapper {
        max-width: 75%;
        margin: 0 auto;
        padding: 0px 0px 0px;
    }

    .control-header {
        margin-bottom: 20px;
        text-align: center;
    }

    .alert.alert-success {
        width:260px;
        margin: 0px auto;
        text-align: center;
    }
</style>
@code {

    public string SuccessMessage { get; set; }

    public async Task ValidSubmitHandler()
    {
        SuccessMessage = "Data updated Successfully!";
        await Task.Delay(2000);
        SuccessMessage = string.Empty;
        StateHasChanged();
    }

    private EmployeeDetails EmployeeDetails = new EmployeeDetails()
        {
            EmployeeId = 1001,
            FirstName = "Anne",
            LastName = "Dodsworth",
            Department = "Web",
            Designation = "Developer",
            ReportingPerson = "Andrew Fuller",
            ManagerName = "Nancy Davolio",
            DateOfBirth = new DateTime(2000, 10, 10),
            AddressLine = @"2501, Aerial Center Parkway, Suite 111, Morrisville",
            Country = Country.UnitedStates
        };
}

