@page "/Calendar/Date-Range"

@using Syncfusion.Blazor.Calendars

@*Hidden:Lines*@
@inherits SampleBaseComponent;
@*End:Hidden*@
<ActionDescription>
<p>
    This sample demonstrates date range selection in the Calendar component, where a specific date range from the 5th to 27th of a month has been set. All other dates are out of range and restricted from selection.
  </p>
  <p>
    The Date Range example explains how to enable date selection within a specific range in the Calendar using the <a href="https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Calendars.CalendarBase-1.html#Syncfusion_Blazor_Calendars_CalendarBase_1_Min" target="_blank" rel="noopener" aria-label="Class reference of Min property in Calendar">Min</a> and <a href="https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Calendars.CalendarBase-1.html#Syncfusion_Blazor_Calendars_CalendarBase_1_Max" target="_blank" rel="noopener" aria-label="Class reference of Max property in Calendar">Max</a> properties.
  </p>
  <p>
    In this example, the date selection range is restricted between the 5th and 27th of the month, providing a practical approach to limiting selectable dates.
  </p>
  <p>
    <strong>See also:</strong>
  </p>
  <ul>
    <li><a href="https://blazor.syncfusion.com/documentation/calendar/date-range/" target="_blank" rel="noopener" aria-label="Blazor Calendar Date Range documentation">Blazor Calendar - Date Range</a></li>
  </ul>
</ActionDescription>


<div class="control-section">
    <div class="control-wrapper">
        <SfCalendar TValue="DateTime?" Min="@MinDate" Max="@MaxDate" @bind-Value="@SelectedDate" HtmlAttributes="@(new Dictionary<string, object> { {"aria-label", "Date range calendar"} })" ></SfCalendar>
        <span class="example-label">Selected date is: <b>@(SelectedDate?.ToString("M/d/yyyy"))</b></span>
    </div>
</div>

<style>
    .control-wrapper {
        max-width: 300px;
        margin: 0 auto;
        padding: 20px 0px 10px;
    }

    .example-label {
        font-size: 14px;
        display: block;
        margin: 0;
        padding: 20px 0px 0px;
    }
</style>

@code {
    public DateTime MinDate { get; set; } = new DateTime(DateTime.Now.Year, DateTime.Now.Month, 05);
    public DateTime MaxDate { get; set; } = new DateTime(DateTime.Now.Year, DateTime.Now.Month, 27);
    public DateTime? SelectedDate { get; set; } = DateTime.Now;
}