@page "/BulletChart/DefaultFunctionalities"
@using Syncfusion.EJ2.Blazor.Charts

@inherits SampleBaseComponent;

<div class="control-section">
    <EjsBulletChart DataSource="@BulletChartData0" ValueField="value" TargetField="target" Minimum="0" Maximum="300" Interval="50"
                    Title="Revenue" Subtitle="U.S. $ (1,000s)" LabelFormat="${value}" TitlePosition="TextPosition.Left" Width="80%">
        <BulletChartAnimation Enable="false"></BulletChartAnimation>
        <BulletChartTooltip Enable="true"></BulletChartTooltip>
        <BulletChartMargin Left="35" Right="15"></BulletChartMargin>
        <BulletChartRangeCollection>
            <BulletChartRange End=150> </BulletChartRange>
            <BulletChartRange End=250></BulletChartRange>
            <BulletChartRange End=300></BulletChartRange>
        </BulletChartRangeCollection>   
    </EjsBulletChart>

    <EjsBulletChart DataSource="@BulletChartData1" ValueField="value" TargetField="target" Minimum="0" Maximum="30" Interval="5"
                    Title="Profit" Subtitle="%" LabelFormat="{value}%" TitlePosition="TextPosition.Left" Width="80%">
        <BulletChartAnimation Enable="false"></BulletChartAnimation>
        <BulletChartTooltip Enable="true"></BulletChartTooltip>
        <BulletChartMargin Left="80" Right="15"></BulletChartMargin>
        <BulletChartRangeCollection>
            <BulletChartRange End=20> </BulletChartRange>
            <BulletChartRange End=25></BulletChartRange>
            <BulletChartRange End=30></BulletChartRange>
        </BulletChartRangeCollection>   
    </EjsBulletChart>

    <EjsBulletChart DataSource="@BulletChartData2" ValueField="value" TargetField="target" Minimum="0" Maximum="600" Interval="100"
                    Title="Avg Order Size" Subtitle="U.S. $" LabelFormat="${value}" TitlePosition="TextPosition.Left" Width="80%">
        <BulletChartAnimation Enable="false"></BulletChartAnimation>
        <BulletChartTooltip Enable="true"></BulletChartTooltip>
        <BulletChartMargin Left="21.5" Right="15"></BulletChartMargin>
        <BulletChartRangeCollection>
            <BulletChartRange End=350> </BulletChartRange>
            <BulletChartRange End=500></BulletChartRange>
            <BulletChartRange End=600></BulletChartRange>
        </BulletChartRangeCollection>   
    </EjsBulletChart>

    <EjsBulletChart DataSource="@BulletChartData3" EnableGroupSeparator="true" ValueField="value" TargetField="target" Width="80%"
                    Minimum="0" Maximum="2500" Interval="500" Title="New Customers" Subtitle="Count" TitlePosition="TextPosition.Left">
        <BulletChartAnimation Enable="false"></BulletChartAnimation>
        <BulletChartTooltip Enable="true"></BulletChartTooltip>
        <BulletChartMargin Left="18" Right="15"></BulletChartMargin>
        <BulletChartRangeCollection>
            <BulletChartRange End=1700> </BulletChartRange>
            <BulletChartRange End=2000></BulletChartRange>
            <BulletChartRange End=2500></BulletChartRange>
        </BulletChartRangeCollection>
    </EjsBulletChart>

    <EjsBulletChart DataSource="@BulletChartData4" ValueField="value" TargetField="target" Minimum="0" Maximum="5" Interval="1"
                    Title="Cust Satisfication" Subtitle="Top Rating of 5" TitlePosition="TextPosition.Left" Width="80%">
        <BulletChartAnimation Enable="false"></BulletChartAnimation>
        <BulletChartTooltip Enable="true"></BulletChartTooltip>
        <BulletChartMargin Left="7" Right="15"></BulletChartMargin>
        <BulletChartRangeCollection>
            <BulletChartRange End=3.7> </BulletChartRange>
            <BulletChartRange End=4.2></BulletChartRange>
            <BulletChartRange End=5></BulletChartRange>
        </BulletChartRangeCollection>
    </EjsBulletChart>
</div>

@code{
    public class ChartData
    {
        public double value { get; set; }
        public double target { get; set; }
    }
    public List<ChartData> BulletChartData0 = new List<ChartData>
    {
        new ChartData { value = 270, target = 250 }
    };
    public List<ChartData> BulletChartData1 = new List<ChartData>
    {
        new ChartData { value = 23, target = 27 }
    };
    public List<ChartData> BulletChartData2 = new List<ChartData>
    {
        new ChartData { value = 350, target = 550 }
    };
    public List<ChartData> BulletChartData3 = new List<ChartData>
    {
        new ChartData { value = 1600, target = 2100 }
    };
    public List<ChartData> BulletChartData4 = new List<ChartData>
    {
        new ChartData { value = 4.9, target = 4 }
    };
}
