@page "/MultiSelect/DefaultFunctionalities"

@using Syncfusion.EJ2.Blazor.DropDowns

@inherits SampleBaseComponent;

<div class="control-section">
    <div class="control_wrapper">
        <div id='content'>
            <div>
                <h4> Default Mode</h4>
                <EjsMultiSelect TValue="string[]" Mode="@VisualMode.Default" Placeholder="Favorite Sports" DataSource="@Games">
                    <MultiSelectFieldSettings Text="Text" Value="ID"></MultiSelectFieldSettings>
                </EjsMultiSelect>
            </div>
            <div class="control-styles">
                <h4>Box Mode</h4>
                <EjsMultiSelect TValue="string[]" Mode="@VisualMode.Box" Placeholder="Favorite Sports" DataSource="@Games">
                    <MultiSelectFieldSettings Text="Text" Value="ID"></MultiSelectFieldSettings>
                </EjsMultiSelect>
            </div>

            <div class="control-styles">
                <h4>Delimiter Mode</h4>
                <EjsMultiSelect TValue="string[]" Mode="@VisualMode.Delimiter" Placeholder="Favorite Sports" DataSource="@Games">
                    <MultiSelectFieldSettings Text="Text" Value="ID"></MultiSelectFieldSettings>
                </EjsMultiSelect>
            </div>
        </div>
    </div>
</div>

@code{
    public class GameFields
    {
        public string ID { get; set; }

        public string Text { get; set; }
    }

    private List<GameFields> Games = new List<GameFields>()
{
        new GameFields(){ ID= "Game1", Text= "American Football" },
        new GameFields(){ ID= "Game2", Text= "Badminton" },
        new GameFields(){ ID= "Game3", Text= "Basketball" },
        new GameFields(){ ID= "Game4", Text= "Cricket" },
        new GameFields(){ ID= "Game5", Text= "Football" },
        new GameFields(){ ID= "Game6", Text= "Golf" },
        new GameFields(){ ID= "Game7", Text= "Hockey" },
        new GameFields(){ ID= "Game8", Text= "Rugby"},
        new GameFields(){ ID= "Game9", Text= "Snooker" },
        new GameFields(){ ID= "Game10", Text= "Tennis"},
    };
}

<style>
    .control_wrapper {
        width: 350px;
        margin: 0 auto;
        padding-top: 40px;
    }
</style>