@page "/TextBox/Default-Functionalities"

@using Syncfusion.Blazor.Inputs

@*Hidden:Lines*@
@inherits SampleBaseComponent
@inject NavigationManager NavigationManager


@*End:Hidden*@

<SampleDescription>
    <p>This example demonstrates the default functionalities of the <a href='https://www.syncfusion.com/blazor-components/blazor-textbox/' target='_blank' aria-label="Feature Tour of Blazor TextBox">TextBox</a> component. Type a character in the TextBox element or focus-in to the TextBox for floating the label text. The label will be positioned back to TextBox on focus-out without value.</p>
</SampleDescription>
<ActionDescription>
    <p>TextBoxes are the input elements that allow to get input from the user. It allows the user either to edit or display the input values.</p><br>
    <p><b>Outlined & Filled Textbox :</b></p>
    <p>You can render the following two types of text fields in the material theme by adding <b>e-outline</b> and <b>e-filled</b> class to <a href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Inputs.SfTextBox.html#Syncfusion_Blazor_Inputs_SfTextBox_CssClass' target='_blank' aria-label="Class reference of CssClass property in TextBox">CssClass</a> API.
        <ul>
            <li>Filled text fields</li>
            <li>Outlined text fields</li>
        </ul>
    </p>
    <p><b>Floating Label :</b></p>
    <p>The floating label textbox floats the label above the textbox after focusing or filling with value in the textbox. You can create the floating label textbox by using the <a href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Inputs.SfTextBox.html#Syncfusion_Blazor_Inputs_SfTextBox_FloatLabelType' target='_blank' aria-label="Class reference of FloatLabelType property in TextBox">FloatLabelType</a> API.
        <ul>
            <li><b>Never</b> - The placeholder text should never float.</li>
            <li><b>Always</b> - The placeholder text floats above the textbox always.</li>
            <li><b>Auto</b> - The placeholder text floats above the textbox while focusing or entering a value in the textbox.</li>
        </ul>
    </p>
    <p><b>Floating Label & Elements : </b></p>
    <p>You can render the floating textbox with icons by adding the icon using the <a href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Inputs.SfTextBox.html#Syncfusion_Blazor_Inputs_SfTextBox_AddIconAsync_System_String_System_String_' aria-label="Class reference of AddIconAsync method in TextBox">AddIconAsync</a> method.</p>
    <p><b>RTL TextBox : </b></p>
    <p>You can render the textbox in right to left direction by enabling the <a href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Inputs.SfTextBox.html#Syncfusion_Blazor_Inputs_SfTextBox_EnableRtl' target='_blank' aria-label="Class reference of EnableRtl property in TextBox">EnableRtl</a> API.</p>
    <p><b>Disabled TextBox : </b></p>
    <p>You can render the textbox with disabled state using <a href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Inputs.SfTextBox.html#Syncfusion_Blazor_Inputs_SfTextBox_Enabled' target='_blank' aria-label="Class reference of Enabled property in TextBox">Enabled</a> API.</p>
    <p><b>Readonly TextBox : </b></p>
    <p>You can render the readonly textbox by enabling <a href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Inputs.SfTextBox.html#Syncfusion_Blazor_Inputs_SfTextBox_Readonly' target='_blank' aria-label="Class reference of Readonly property in TextBox">Readonly</a> API.</p>
    <p><b>Validation states : </b></p>
    <p>You can apply the validation styles to the textbox by adding <b>e-success</b>, <b>e-warning</b>, <b>e-error</b> class to the <a href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Inputs.SfTextBox.html#Syncfusion_Blazor_Inputs_SfTextBox_CssClass' target='_blank' aria-label="Class reference of CssClass property in TextBox">CssClass</a> API.</p>
    <p><b>Sizing : </b></p>
    <p>You can render the textbox in a small size by adding <b>e-small</b> class to the <a href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Inputs.SfTextBox.html#Syncfusion_Blazor_Inputs_SfTextBox_CssClass' target='_blank' aria-label="Class reference of CssClass property in TextBox">CssClass</a> API. Also, you can set the custom width to the textbox by using <a href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Inputs.SfTextBox.html#Syncfusion_Blazor_Inputs_SfTextBox_Width' target='_blank'>Width</a> API.</p>      
    <p><b>Input & elements : </b></p>
    <p>You can append or prepend the icons to the textbox using the <a href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Inputs.SfTextBox.html#Syncfusion_Blazor_Inputs_SfTextBox_AddIconAsync_System_String_System_String_' aria-label="Class reference of AddIconAsync method in TextBox">AddIconAsync</a> method.</p>
    <p><b>See also</b></p>
    <ul>
        <li><a href='https://blazor.syncfusion.com/documentation/textbox/getting-started/' target='_blank' aria-label="Blazor TextBox Getting Started documentation">Getting started with Blazor TextBox</a></li>
    </ul>
</ActionDescription>

<div class="col-lg-12 control-section">
    <div class="content-wrapper">
        <div class="row material">
            <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                <b class="example-label">Outlined and Filled</b>
            </div>
        </div>
        <div class="row material">
            <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                <SfTextBox CssClass="e-outline" Placeholder="Outlined" FloatLabelType="@FloatLabelType.Auto"></SfTextBox>
            </div>
            <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                <SfTextBox CssClass="e-filled" Placeholder="Filled" FloatLabelType="@FloatLabelType.Auto"></SfTextBox>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                <b class="example-label">Floating Label</b>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                <SfTextBox Placeholder="First Name" FloatLabelType="@FloatLabelType.Auto"></SfTextBox>
            </div>
            <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                <SfTextBox EnableRtl="true" Placeholder="Last Name" FloatLabelType="@FloatLabelType.Auto"></SfTextBox>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-lg-12 col-md-12">
                <SfTextBox @ref="TextBoxDropDownObj" Placeholder="Country" FloatLabelType="@FloatLabelType.Auto" Created="@AddDropDownIcon"></SfTextBox>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                <b class="example-label">Inputs</b>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                <SfTextBox Placeholder="Enter Name"></SfTextBox>
            </div>
            <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                <SfTextBox Placeholder="Last Name" EnableRtl="true"></SfTextBox>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                <SfTextBox Placeholder="Password" Value="Password" Type="InputType.Password"></SfTextBox>
            </div>
            <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                <SfTextBox Type="InputType.Email" Placeholder="Enter Email"></SfTextBox>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                <SfTextBox Enabled="false" Placeholder="Disabled"></SfTextBox>
            </div>
            <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                <SfTextBox Placeholder="ReadOnly" Readonly="true"></SfTextBox>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                <b class="example-label">Validation States</b>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4 col-sm-4 col-lg-4 col-md-4">
                <SfTextBox Placeholder="Success" CssClass="e-success"></SfTextBox>
            </div>
            <div class="col-xs-4 col-sm-4 col-lg-4 col-md-4">
                <SfTextBox Placeholder="Warning" CssClass="e-warning"></SfTextBox>
            </div>
            <div class="col-xs-4 col-sm-4 col-lg-4 col-md-4">
                <SfTextBox Placeholder="Error" CssClass="e-error"></SfTextBox>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                <b class="example-label">Sizing</b>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6 small-textbox">
                <SfTextBox Placeholder="Small" CssClass="e-small"></SfTextBox>
            </div>
            <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                <SfTextBox Placeholder="Normal"></SfTextBox>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                <b class="example-label">Input &amp; Elements</b>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                <SfTextBox @ref="TextBoxDateObj" Placeholder="Date of Birth" Created="@AddDateIcon"></SfTextBox>
            </div>
            <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                <SfTextBox @ref="TextBoxUploadObj" Placeholder="Upload Picture" Created="@AddUploadIcon"></SfTextBox>
            </div>
        </div>
    </div>
</div>

<style>
    .content-wrapper {
        width: 90%;
        margin: 0 auto;
        min-width: 85px;
    }

    b.example-label {
        font-size: 14px;
    }

    .content-wrapper div.row {
        padding: 15px 0px;
    }

    .small-textbox {
        padding-top: 5px;
    }

    .tailwind .small-textbox,
    .tailwind-dark .small-textbox {
        padding-top: 3px;
    }
    
    .e-bigger .small-textbox {
        padding-top: 10px;
    }

    .tailwind .e-bigger .small-textbox,
    .tailwind-dark .e-bigger .small-textbox {
        padding-top: 1px;
    }

    @@media only screen and (max-width: 480px) {
        .content-wrapper {
            width: 92%;
        }

        .col-xs-6,
        .col-xs-4,
        .col-xs-12 {
            padding: 10px 5px;
            width: 100%;
        }

        .content-wrapper div.row {
            padding: 0px;
        }
    }

    .fabric .row.material,
    .bootstrap .row.material,
    .bootstrap4 .row.material,
    .bootstrap5 .row.material,
    .highcontrast .row.material,
    .tailwind .row.material,
    .fluent .row.material,
    .fabric-dark .row.material,
    .bootstrap-dark .row.material,
    .bootstrap5-dark .row.material,
    .tailwind-dark .row.material,
    .fluent-dark .row.material,
    .fluent2-dark .row.material,
    .fluent2-highcontrast .row.material,
    .fluent2 .row.material {
        display: none;
    }


</style>

@code  {
    SfTextBox TextBoxDropDownObj;
    SfTextBox TextBoxDateObj;
    SfTextBox TextBoxUploadObj;
    

    public void AddDropDownIcon()
    {
        this.TextBoxDropDownObj.AddIconAsync("append", "e-icons e-chevron-down");
    }

    public void AddDateIcon()
    {
        this.TextBoxDateObj.AddIconAsync("append", "e-icons e-agenda-date-range");
    }

    public void AddUploadIcon()
    {
        this.TextBoxUploadObj.AddIconAsync("prepend", "e-icons e-upload-1");
    }
}
