@page "/carousel/default-functionalities"

@using Syncfusion.Blazor.Navigations
@inject NavigationManager UriHelper
@*Hidden:Lines*@
@inherits SampleBaseComponent
@*End:Hidden*@

<ActionDescription>
<p>This sample demonstrates basic rendering of the <a href="https://www.syncfusion.com/blazor-components/blazor-carousel" target="_blank" rel="noopener" aria-label="Feature Tour of Blazor Carousel">Blazor Carousel</a> component using <code>CarouselItem</code> components.</p>
    
    <p>The Carousel component provides an effective slideshow experience for images and content. This demo showcases a natural images slideshow with automatic transitions every <b>5 seconds</b> by default. Manual slide navigation is available through previous and next navigation icons.</p>
    
    <p>For detailed Carousel documentation, refer to the <a target="_blank" rel="noopener" href="https://blazor.syncfusion.com/documentation/carousel/getting-started" aria-label="Blazor Carousel Getting Started documentation">getting started guide</a>.</p>
</ActionDescription>


<div class="control-section default-carousel-section">
    <div class="col-lg-12 content-wrapper">
        <div class="carousel-sample">
            <SfCarousel CssClass="default-carousel">
                <CarouselItem>
                    <figure class="img-container">
                        <img src="@UriHelper.ToAbsoluteUri($"{SampleService?.WebAssetsPath}images/carousel/bridge.png")" alt="Golden Gate Bridge, San Francisco" style="height:100%;width:100%;" />
                        <figcaption class="img-caption">Golden Gate Bridge, San Francisco</figcaption>
                    </figure>
                </CarouselItem>
                <CarouselItem>
                    <figure class="img-container">
                        <img src="@UriHelper.ToAbsoluteUri($"{SampleService?.WebAssetsPath}images/carousel/trees.png")" alt="Spring Flower Trees" style="height:100%;width:100%;" />
                        <figcaption class="img-caption">Spring Flower Trees</figcaption>
                    </figure>
                </CarouselItem>
                <CarouselItem>
                    <figure class="img-container">
                        <img src="@UriHelper.ToAbsoluteUri($"{SampleService?.WebAssetsPath}images/carousel/waterfall.png")" alt="Oddadalen Waterfalls, Norway" style="height:100%;width:100%;" />
                        <figcaption class="img-caption">Oddadalen Waterfalls, Norway</figcaption>
                    </figure>
                </CarouselItem>
                <CarouselItem>
                    <figure class="img-container">
                        <img src="@UriHelper.ToAbsoluteUri($"{SampleService?.WebAssetsPath}images/carousel/sea.png")" alt="Anse Source d'Argent, Seychelles" style="height:100%;width:100%;" />
                        <figcaption class="img-caption">Anse Source d'Argent, Seychelles</figcaption>
                    </figure>
                </CarouselItem>
                <CarouselItem>
                    <figure class="img-container">
                        <img src="@UriHelper.ToAbsoluteUri($"{SampleService?.WebAssetsPath}images/carousel/rocks.png")" alt="Stonehenge, England" style="height:100%;width:100%;" />
                        <figcaption class="img-caption">Stonehenge, England</figcaption>
                    </figure>
                </CarouselItem>
            </SfCarousel>
        </div>
    </div>
</div>

<style>
    .default-carousel-section .carousel-sample {
        margin: 0 auto 2em;
        max-width: 500px;
        height: 300px;
    }

    .default-carousel .e-carousel-items .e-carousel-item .img-container {
        height: 100%;
    }

    .default-carousel .e-carousel-items .e-carousel-item .img-caption {
        bottom: 5em;
        color: #fff;
        font-size: 12pt;
        height: 2em;
        position: relative;
        padding: 0.3em 1em;
        text-align: center;
        width: 100%;
    }
</style>