@page "/carousel/keyboard-interactions"

@using Syncfusion.Blazor.Navigations
@inject Microsoft.AspNetCore.Components.NavigationManager UriHelper

@*Hidden:Lines*@
@inherits SampleBaseComponent


@*End:Hidden*@

<SampleDescription>
    <p> This sample demonstrates the keyboard interactions with the <a href="https://www.syncfusion.com/blazor-components/blazor-carousel" target="_blank" aria-label="Feature Tour of Blazor Carousel">Blazor Carousel</a> component.</p>
</SampleDescription>
<ActionDescription>
    <p>
        The <code>Blazor Carousel</code> component can be interacted with keyboard navigation. Below key
        combinations can be used in Carousel to initiate various actions.
    </p>
    <ul>
        <li><b>Alt + J</b> keys to focus the carousel component (done at application end).</li>
        <li><b>Arrows</b> keys to navigate between slides.</li>
        <li><b>Home</b> to navigate to the first slide.</li>
        <li><b>End</b> to navigate to the last slide.</li>
        <li><b>Space</b> to play/pause the slide transitions.</li>
        <li><b>Enter</b> to perform the respective action on its focus.</li>
    </ul>
    <p>
        More information about the Blazor Carousel component can be found in this <a target="_blank" href="https://blazor.syncfusion.com/documentation/carousel/getting-started" aria-label="Blazor Carousel Getting Started documentation" >documentation section</a>.
    </p>
</ActionDescription>


<div class="control-section keyboard-carousel-section">
    <div class="col-lg-12 content-wrapper">
        <div class="carousel-sample">
            <SfCarousel CssClass="kb-carousel" AutoPlay="false" ShowPlayButton="true">
                @foreach (CountryDetails country in CountryData)
                {
                    <CarouselItem>
                        <div class="country-detail-container">
                            <div class="col-sm-5 detail-container">
                                <div class="heading">@country.Name</div>
                                <div class="description">@country.Description</div>
                                <a class="detail" href="@country.URL" target="_blank">READ MORE</a>
                            </div>
                            <div class="col-sm-5 image-container">
                                <picture>
                                    <img src="@(UriHelper.ToAbsoluteUri($"{SampleService.WebAssetsPath}images/carousel/" + country.ImageName))" alt="@country.Name" style="height:100%;width:100%;" />
                                </picture>
                            </div>
                        </div>
                    </CarouselItem>
                }
            </SfCarousel>
        </div>
        <div id="source_link">
            Source: &nbsp;
            <table>
                <tr>
                    <td>
                        <a href="https://en.wikipedia.org/" target="_blank">https://en.wikipedia.org/</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

@code {
    
    List<CountryDetails> CountryData = new List<CountryDetails>() {
        new CountryDetails {
            ID = 1,
            Name = "San Francisco",
            Description = "San Francisco, officially the City and County of San Francisco, is a cultural, commercial, and financial center in the U.S. state of California.",
            ImageName = "san-francisco.png",
            URL= "https://en.wikipedia.org/wiki/San_Francisco"
        },
        new CountryDetails {
            ID = 2,
            Name = "London",
            Description = "London, the capital of England and the United Kingdom, is a 21st-century city with history stretching back to Roman times. At its centre stand the imposing Houses of Parliament, the iconic ‘Big Ben’ clock tower and Westminster Abbey, site of British monarch coronations.",
            ImageName = "london.png",
            URL= "https://en.wikipedia.org/wiki/London"
        },
        new CountryDetails {
            ID = 3,
            Name = "Tokyo",
            Description = "Tokyo, Japan’s busy capital, mixes the ultramodern and the traditional, from neon-lit skyscrapers to historic temples. The opulent Meiji Shinto Shrine is known for its towering gate and surrounding woods. The Imperial Palace sits amid large public gardens.",
            ImageName = "tokyo.png",
            URL= "https://en.wikipedia.org/wiki/Tokyo"
        },
        new CountryDetails {
            ID = 4,
            Name = "Moscow",
            Description = "Moscow, on the Moskva River in western Russia, is the nation’s cosmopolitan capital. In its historic core is the Kremlin, a complex that’s home to the president and tsarist treasures in the Armoury. Outside its walls is Red Square, Russia's symbolic center.",
            ImageName = "moscow.png",
            URL= "https://en.wikipedia.org/wiki/Moscow"
        }
    };

    public class CountryDetails
    {
        public int ID { get; set; }
        public string Name { get; set; }
        public string Description { get; set; }
        public string ImageName { get; set; }
        public string URL { get; set; }
    }
}
<style>
    .keyboard-carousel-section .carousel-sample {
        background-color: #f5f9fd;
        border-radius: 1.5em;
        margin: 0 auto 2em;
        max-width: 80%;
        height: 500px;
    }

    .kb-carousel .e-carousel-items .e-carousel-item .country-detail-container {
        align-items: center;
        display: flex;
        height: 100%;
        justify-content: center;
        padding: 1em;
    }

        .kb-carousel .e-carousel-items .e-carousel-item .country-detail-container .heading {
            font-size: 1.5em;
            color: #1a1a1a;
            letter-spacing: 0;
            font-weight: 500;
            margin: 1rem 0 1.6rem;
        }

        .kb-carousel .e-carousel-items .e-carousel-item .country-detail-container .description {
            font-size: 1.5rem;
            color: #1a1a1a;
            letter-spacing: 0.2px;
            line-height: 2.7rem;
            padding: 0 0 5rem;
            text-align: justify;
        }

            .kb-carousel .e-carousel-items .e-carousel-item .country-detail-container .description a {
                text-decoration: underline;
            }

    .kb-carousel .e-carousel-navigators .e-previous .e-btn:not(:disabled) .e-btn-icon,
    .kb-carousel .e-carousel-navigators .e-next .e-btn:not(:disabled) .e-btn-icon,
    .kb-carousel .e-carousel-navigators .e-play-pause .e-btn:not(:disabled) .e-btn-icon {
        color: #4d8fe4;
        font-size: 1.5rem;
        line-height: normal;
    }

    .kb-carousel .e-carousel-navigators .e-play-pause .e-btn {
        height: 5rem;
        width: 5rem;
    }

        .kb-carousel .e-carousel-navigators .e-play-pause .e-btn:not(:disabled) .e-btn-icon {
            font-size: 2.4rem;
        }

        .kb-carousel .e-carousel-navigators .e-previous .e-btn:not(:disabled):hover,
        .kb-carousel .e-carousel-navigators .e-next .e-btn:not(:disabled):hover,
        .kb-carousel .e-carousel-navigators .e-play-pause .e-btn:not(:disabled):hover,
        .kb-carousel .e-carousel-navigators .e-previous .e-btn:not(:disabled):focus,
        .kb-carousel .e-carousel-navigators .e-next .e-btn:not(:disabled):focus,
        .kb-carousel .e-carousel-navigators .e-play-pause .e-btn:not(:disabled):focus,
        .kb-carousel .e-carousel-navigators .e-previous .e-btn:not(:disabled):active,
        .kb-carousel .e-carousel-navigators .e-next .e-btn:not(:disabled):active,
        .kb-carousel .e-carousel-navigators .e-play-pause .e-btn:not(:disabled):active {
            background-color: #d2e3f8;
        }

    .kb-carousel .e-carousel-indicators.e-default .e-indicator-bar .e-indicator div {
        background-color: #e5e5e5;
        border: 0px !important;
    }

    .kb-carousel .e-carousel-indicators.e-default .e-indicator-bar.e-active .e-indicator div {
        background-color: #4d8fe4 !important;
    }

    @@media screen and (max-width: 480px) {
        .keyboard-carousel-section .carousel-sample {
            max-height: 400px;
            max-width: 100%;
        }

        .kb-carousel .e-carousel-items .e-carousel-item .country-detail-container .description {
            font-size: 1.25rem;
        }

        .kb-carousel .e-carousel-items .e-carousel-item .country-detail-container .image-container {
            display: none;
        }
    }

    #source_link {
        float: right;
        margin-right: 10px;
    }

    .bootstrap5-dark .keyboard-carousel-section .carousel-sample,
    .fluent-dark .keyboard-carousel-section .carousel-sample,
    .tailwind-dark .keyboard-carousel-section .carousel-sample,
    .material-dark .keyboard-carousel-section .carousel-sample,
    .fabric-dark .keyboard-carousel-section .carousel-sample,
    .bootstrap-dark .keyboard-carousel-section .carousel-sample,
    .highcontrast .keyboard-carousel-section .carousel-sample,
    .material3-dark .keyboard-carousel-section .carousel-sample,
    .fluent2-dark .keyboard-carousel-section .carousel-sample,
    .fluent2-highcontrast .keyboard-carousel-section .carousel-sample {
        background-color: #26292E;
    }

    .bootstrap5-dark .kb-carousel .e-carousel-items .e-carousel-item .country-detail-container .heading,
    .fluent-dark .kb-carousel .e-carousel-items .e-carousel-item .country-detail-container .heading,
    .tailwind-dark .kb-carousel .e-carousel-items .e-carousel-item .country-detail-container .heading,
    .material-dark .kb-carousel .e-carousel-items .e-carousel-item .country-detail-container .heading,
    .fabric-dark .kb-carousel .e-carousel-items .e-carousel-item .country-detail-container .heading,
    .bootstrap-dark .kb-carousel .e-carousel-items .e-carousel-item .country-detail-container .heading,
    .highcontrast .kb-carousel .e-carousel-items .e-carousel-item .country-detail-container .heading,
    .material3-dark .kb-carousel .e-carousel-items .e-carousel-item .country-detail-container .heading,
    .fluent2-dark .kb-carousel .e-carousel-items .e-carousel-item .country-detail-container .heading,
    .fluent2-highcontrast .kb-carousel .e-carousel-items .e-carousel-item .country-detail-container .heading {
        color: #bbbbbb;
    }

    .bootstrap5-dark .kb-carousel .e-carousel-items .e-carousel-item .country-detail-container .description,
    .fluent-dark .kb-carousel .e-carousel-items .e-carousel-item .country-detail-container .description,
    .tailwind-dark .kb-carousel .e-carousel-items .e-carousel-item .country-detail-container .description,
    .material-dark .kb-carousel .e-carousel-items .e-carousel-item .country-detail-container .description,
    .fabric-dark .kb-carousel .e-carousel-items .e-carousel-item .country-detail-container .description,
    .bootstrap-dark .kb-carousel .e-carousel-items .e-carousel-item .country-detail-container .description,
    .highcontrast .kb-carousel .e-carousel-items .e-carousel-item .country-detail-container .description,
    .material3-dark .kb-carousel .e-carousel-items .e-carousel-item .country-detail-container .description,
    .fluent2-dark .kb-carousel .e-carousel-items .e-carousel-item .country-detail-container .description,
    .fluent2-highcontrast .kb-carousel .e-carousel-items .e-carousel-item .country-detail-container .description {
        color: #9f9f9f
    }

    .bootstrap5-dark .kb-carousel .e-carousel-navigators .e-btn:not(:disabled):hover,
    .bootstrap5-dark .kb-carousel .e-carousel-navigators .e-btn:not(:disabled):focus,
    .fluent-dark .kb-carousel .e-carousel-navigators .e-btn:not(:disabled):hover,
    .fluent-dark .kb-carousel .e-carousel-navigators .e-btn:not(:disabled):focus,
    .tailwind-dark .kb-carousel .e-carousel-navigators .e-btn:not(:disabled):hover,
    .tailwind-dark .kb-carousel .e-carousel-navigators .e-btn:not(:disabled):focus,
    .material-dark .kb-carousel .e-carousel-navigators .e-btn:not(:disabled):hover,
    .material-dark .kb-carousel .e-carousel-navigators .e-btn:not(:disabled):focus,
    .fabric-dark .kb-carousel .e-carousel-navigators .e-btn:not(:disabled):hover,
    .fabric-dark .kb-carousel .e-carousel-navigators .e-btn:not(:disabled):focus,
    .bootstrap-dark .kb-carousel .e-carousel-navigators .e-btn:not(:disabled):hover,
    .bootstrap-dark .kb-carousel .e-carousel-navigators .e-btn:not(:disabled):focus,
    .highcontrast .kb-carousel .e-carousel-navigators .e-btn:not(:disabled):hover,
    .highcontrast .kb-carousel .e-carousel-navigators .e-btn:not(:disabled):focus,
    .material3-dark .kb-carousel .e-carousel-navigators .e-btn:not(:disabled):hover,
    .material3-dark .kb-carousel .e-carousel-navigators .e-btn:not(:disabled):focus,
    .fluent2-dark .kb-carousel .e-carousel-navigators .e-btn:not(:disabled):hover,
    .fluent2-dark .kb-carousel .e-carousel-navigators .e-btn:not(:disabled):focus,
    .fluent2-highcontrast .kb-carousel .e-carousel-navigators .e-btn:not(:disabled):hover,
    .fluent2-highcontrast .kb-carousel .e-carousel-navigators .e-btn:not(:disabled):focus {
        background-color: #4e4e4e;
    }

    .bootstrap5-dark .kb-carousel .e-carousel-navigators .e-btn:not(:disabled) .e-btn-icon,
    .fluent-dark .kb-carousel .e-carousel-navigators .e-btn:not(:disabled) .e-btn-icon,
    .tailwind-dark .kb-carousel .e-carousel-navigators .e-btn:not(:disabled) .e-btn-icon,
    .material-dark .kb-carousel .e-carousel-navigators .e-btn:not(:disabled) .e-btn-icon,
    .fabric-dark .kb-carousel .e-carousel-navigators .e-btn:not(:disabled) .e-btn-icon,
    .bootstrap-dark .kb-carousel .e-carousel-navigators .e-btn:not(:disabled) .e-btn-icon,
    .highcontrast .kb-carousel .e-carousel-navigators .e-btn:not(:disabled) .e-btn-icon,
    .material3-dark .kb-carousel .e-carousel-navigators .e-btn:not(:disabled) .e-btn-icon,
    .fluent2-dark .kb-carousel .e-carousel-navigators .e-btn:not(:disabled) .e-btn-icon,
    .fluent2-highcontrast .kb-carousel .e-carousel-navigators .e-btn:not(:disabled) .e-btn-icon {
        color: #dfdfdf;
    }

    .bootstrap5-dark .kb-carousel .e-carousel-indicators .e-indicator-bar .e-indicator div,
    .fluent-dark .kb-carousel .e-carousel-indicators .e-indicator-bar .e-indicator div,
    .tailwind-dark .kb-carousel .e-carousel-indicators .e-indicator-bar .e-indicator div,
    .material-dark .kb-carousel .e-carousel-indicators .e-indicator-bar .e-indicator div,
    .fabric-dark .kb-carousel .e-carousel-indicators .e-indicator-bar .e-indicator div,
    .bootstrap-dark .kb-carousel .e-carousel-indicators .e-indicator-bar .e-indicator div,
    .highcontrast .kb-carousel .e-carousel-indicators .e-indicator-bar .e-indicator div,
    .material3-dark .kb-carousel .e-carousel-indicators .e-indicator-bar .e-indicator div,
    .fluent2-dark .kb-carousel .e-carousel-indicators .e-indicator-bar .e-indicator div,
    .fluent2-highcontrast .kb-carousel .e-carousel-indicators .e-indicator-bar .e-indicator div {
        background-color: #626262;
    }

    .kb-carousel .e-carousel-indicators {
        margin: 16px;
    }

    .kb-carousel .e-carousel-navigators .e-play-pause span.e-play-icon {
        margin-left: 4px;
        margin-top: 2px;
    }
</style>
