@page "/carousel/partial-visible"

@using Syncfusion.Blazor.Navigations
@inject Microsoft.AspNetCore.Components.NavigationManager UriHelper

@*Hidden:Lines*@
@inherits SampleBaseComponent


@*End:Hidden*@

<SampleDescription>
    <p>
        This sample demonstrates the partial visible functionality of the <a href="https://www.syncfusion.com/blazor-components/blazor-carousel" target="_blank" aria-label="Feature Tour of Blazor Carousel">Blazor Carousel</a> component.
    </p>
</SampleDescription>
<ActionDescription>
    <p>
        The <code>Blazor Carousel</code> component shows partially visible previous/next slides by setting the <code>PartialVisible</code> property to true. 
        By default, this property is set to <code>false</code>.
    </p>
    <p>
        See also 
    </p>
    <p>
        <a target="_blank" href="https://blazor.syncfusion.com/documentation/carousel/getting-started" aria-label="Blazor Carousel Getting Started documentation">Blazor Carousel Getting Started</a>.
    </p>
</ActionDescription>

<div class="control-section partial-carousel-section">
    <div class="col-lg-12 content-wrapper">
        <div class="carousel-sample">
            <SfCarousel CssClass="partial-carousel" AutoPlay=true PartialVisible=true>
                <CarouselItem>
                   <figure class="img-container">
                       <img src="@UriHelper.ToAbsoluteUri($"{SampleService.WebAssetsPath}images/carousel/bridge.png")" alt="bridge" style="height:100%;width:100%;" />
                        <figcaption class="img-caption">Golden Gate Bridge, San Francisco</figcaption>
                    </figure>
                </CarouselItem>
                <CarouselItem>
                    <figure class="img-container">
                        <img src="@UriHelper.ToAbsoluteUri($"{SampleService.WebAssetsPath}images/carousel/trees.png")" alt="trees" style="height:100%;width:100%;" />
                        <figcaption class="img-caption">Spring Flower Trees</figcaption>
                    </figure>
                </CarouselItem>
                <CarouselItem>
                    <figure class="img-container">
                        <img src="@UriHelper.ToAbsoluteUri($"{SampleService.WebAssetsPath}images/carousel/waterfall.png")" alt="waterfall" style="height:100%;width:100%;" />
                        <figcaption class="img-caption">Oddadalen Waterfalls, Norway</figcaption>
                    </figure>
                </CarouselItem>
                <CarouselItem>
                    <figure class="img-container">
                        <img src="@UriHelper.ToAbsoluteUri($"{SampleService.WebAssetsPath}images/carousel/sea.png")" alt="sea" style="height:100%;width:100%;" />
                        <figcaption class="img-caption">Anse Source d`Argent, Seychelles</figcaption>
                    </figure>
                </CarouselItem>
                <CarouselItem>
                    <figure class="img-container">
                        <img src="@UriHelper.ToAbsoluteUri($"{SampleService.WebAssetsPath}images/carousel/rocks.png")" alt="rocks" style="height:100%;width:100%;" />
                        <figcaption class="img-caption">Stonehenge, England</figcaption>
                    </figure>
                </CarouselItem>
            </SfCarousel>
        </div>
    </div>
</div>


<style>
    .partial-carousel-section .carousel-sample {
        margin: 0 auto 2em;
        max-width: 650px;
        height: 300px;
    }

    .partial-carousel .e-carousel-items .e-carousel-item .img-container {
        margin: 0 10px;
        width: 100%;
        height: 100%;
    }

    .partial-carousel .e-carousel-items .e-carousel-item .img-caption {
        bottom: 4em;
        color: #fff;
        font-size: 12pt;
        height: 2em;
        position: relative;
        padding: 0.3em 1em;
        text-align: center;
        width: 100%;
    }
    @@media screen and (max-width: 480px) {
        .partial-carousel-section .carousel-sample {
            height: 150px;
            margin-top: 80px;
        }

        .partial-carousel .e-carousel-items .e-carousel-item .img-caption {
            position: absolute;
            top: 0;
            font-size: 12px;
            text-align: left;
        }
    }
</style>