@page "/carousel/templates"

@using Syncfusion.Blazor.Navigations
@using Syncfusion.Blazor.Cards
@using Syncfusion.Blazor.Buttons
@inject Microsoft.AspNetCore.Components.NavigationManager UriHelper
@*Hidden:Lines*@
@inherits SampleBaseComponent


@*End:Hidden*@

<SampleDescription>
    <p>
        This sample demonstrates the customization of the <a href="https://www.syncfusion.com/blazor-components/blazor-carousel" target="_blank" aria-label="Feature Tour of Blazor Carousel">Blazor Carousel</a> component using various templates.
    </p>
</SampleDescription>
<ActionDescription>
    <p>
        In this demo, the <code>Blazor Carousel</code> component is customized by using the templates. The
        navigators and indicators are customized using <code>PreviousButtonTemplate</code>, <code>NextButtonTemplate</code>, <code>IndicatorsTemplate</code>.
        The carousel item is customized using <code>Template</code> option.
    </p>
    <p>
        More information about customizing Blazor Carousel component can be found can be found in this <a target="_blank" href="https://blazor.syncfusion.com/documentation/carousel/getting-started" aria-label="Blazor Carousel Getting Started documentation" >documentation section</a>.
    </p>
</ActionDescription>

<div class="control-section template-carousel-section">
    <div class="col-lg-12 content-wrapper">
        <div class="carousel-sample">
            <SfCarousel AnimationEffect="CarouselAnimationEffect.Fade" CssClass="templateCarousel">
                <ChildContent>
                    <CarouselItem>
                        <figure class="img-container">
                            <img src="@UriHelper.ToAbsoluteUri($"{SampleService.WebAssetsPath}images/carousel/cardinal.png")" alt="cardinal" style="height:100%;width:100%;" />
                        </figure>
                    </CarouselItem>
                    <CarouselItem>
                        <figure class="img-container">
                            <img src="@UriHelper.ToAbsoluteUri($"{SampleService.WebAssetsPath}images/carousel/hunei.png")" alt="hunei" style="height:100%;width:100%;" />
                        </figure>
                    </CarouselItem>
                    <CarouselItem>
                        <figure class="img-container">
                            <img src="@UriHelper.ToAbsoluteUri($"{SampleService.WebAssetsPath}images/carousel/costa-rica.png")" alt="costa-rica" style="height:100%;width:100%;" />
                        </figure>
                    </CarouselItem>
                    <CarouselItem>
                        <figure class="img-container">
                            <img src="@UriHelper.ToAbsoluteUri($"{SampleService.WebAssetsPath}images/carousel/kaohsiung.png")" alt="kaohsiung" style="height:100%;width:100%;" />
                        </figure>
                    </CarouselItem>
                    <CarouselItem>
                        <figure class="img-container">
                            <img src="@UriHelper.ToAbsoluteUri($"{SampleService.WebAssetsPath}images/carousel/bee-eater.png")" alt="bee-eater" style="height:100%;width:100%;" />
                        </figure>
                    </CarouselItem>
                </ChildContent>
                <PreviousButtonTemplate>
                    <SfButton CssClass="e-flat e-outline nav-btn" title="Previous">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40" width="40" height="40">
                            <path d="m13.5 7.01 13 13m-13 13 13-13"></path>
                        </svg>
                    </SfButton>
                </PreviousButtonTemplate>
                <NextButtonTemplate>
                    <SfButton CssClass="e-flat e-outline nav-btn" title="Next">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40" width="40" height="40">
                            <path d="m13.5 7.01 13 13m-13 13 13-13"></path>
                        </svg>
                    </SfButton>
                </NextButtonTemplate>
                <IndicatorsTemplate>
                    <div class="indicator">
                        <img src="@UriHelper.ToAbsoluteUri($"{SampleService.WebAssetsPath}images/carousel/" + indicatorImage[context.Index] + ".png")" alt="image" style="height:100%;width:100%;" />
                    </div>
                </IndicatorsTemplate>
            </SfCarousel>
        </div>
    </div>
</div>

@code{
    private List<string> indicatorImage = new List<string>() { "cardinal", "hunei", "costa-rica", "kaohsiung", "bee-eater" };
    
}

<style>
    .template-carousel-section .carousel-sample {
        margin: 0 auto 2em;
        max-width: 500px;
        height: 350px;
    }

    .templateCarousel .e-carousel-items,
    .templateCarousel .e-carousel-navigators {
        height: calc(100% - 3rem);
    }

    .templateCarousel .e-carousel-navigators .e-previous,
    .templateCarousel .e-carousel-navigators .e-next,
    .templateCarousel .e-carousel-navigators .nav-btn {
        padding: 0;
    }

    .templateCarousel .e-carousel-navigators .nav-btn:active,
    .templateCarousel .e-carousel-navigators .nav-btn:focus,
    .templateCarousel .e-carousel-navigators .nav-btn:hover {
        background-color: transparent !important;
        color: inherit;
    }

    .templateCarousel .e-carousel-navigators svg {
        fill: none;
        stroke: currentColor;
        stroke-linecap: square;
        stroke-width: 8px;
        height: 2rem;
        vertical-align: middle;
        width: 2rem;
    }

    .templateCarousel .e-carousel-navigators .e-previous svg {
        transform: rotate(180deg);
    }

    .templateCarousel .e-carousel-indicators .e-indicator-bars .e-indicator-bar .indicator {
        background-color: #ECECEC;
        border-radius: 0.25rem;
        cursor: pointer;
        height: 3.5rem;
        margin: 0.5rem;
        width: 5rem;
    }

    .templateCarousel .e-carousel-indicators .e-indicator-bars .e-indicator-bar.e-active .indicator {
        background-color: #3C78EF;
    }

    @@media screen and (max-width: 480px) {
        .template-carousel-section .carousel-sample {
            width: 100%;
            height: 250px;
        }

        .templateCarousel .img-container {
            margin: 12px;
        }
    }
</style>
