@page "/TreeGrid/CheckboxColumn"

@using Syncfusion.EJ2.RazorComponents.TreeGrid
@using Syncfusion.EJ2.RazorComponents.Data
@using Syncfusion.EJ2.RazorComponents.Grids
@using Syncfusion.EJ2.RazorComponents

@*Hidden:Lines*@
@using ej2_blazor_samples
@using ej2_blazor_treedata

@{
    SampleBrowser.CurrentSampleName = "Checkbox Column";
    SampleBrowser.CurrentControlName = "TreeGrid";
    SampleBrowser.CurrentControlCategory = "TreeGrid";
    SampleBrowser.CurrentControl = SampleBrowser.Config.TreeGrid;
    SampleBrowser.ActionDescription = new string[] {
        @"<p>
            This sample demonstrates the checkbox column selection functionality of TreeGrid. Click on any parent record checkbox then the child record checkboxes will get selected and parent record checkbox will get selected while checking all of its child items.
        </p>"
    };
    SampleBrowser.Description = new string[] {
        @"<p>
            The TreeGrid component can be rendered with checkbox on existing column and also this can be enabled by <code>showCheckbox</code> property as true in columns API.
        </p>
        <p>
            For hierarchy selection between the records, we need to enable the <code>autoCheckHierarchy</code> property.
        </p>
        <p>
            While using TreeGrid in a touch device, you have an option to select the checkboxes by tapping on the checkbox.
        </p>
        <p>
            More information on the TreeGrid instantiation can be found in this documentation section.
        </p>"
    };
}
@*End:Hidden*@

<div class="col-lg-12 control-section">
    <div class="content-wrapper">
        <div class="row">
            <EjsTreeGrid ID="TreeGrid" AllowPaging="true" ChildMapping="Children" TreeColumnIndex="1" AutoCheckHierarchy="true">
                <EjsDataManager Json="@treedata" Adaptor="Adaptors.JsonAdaptor"></EjsDataManager>
                <TreeGridColumns>
                    <TreeGridColumn Field="TaskId" HeaderText="Task ID" Width="80" TextAlign="@Syncfusion.EJ2.RazorComponents.Grids.TextAlign.Right"></TreeGridColumn>
                    <TreeGridColumn Field="TaskName" HeaderText="Task Name" Width="160" ShowCheckbox="true"></TreeGridColumn>
                    <TreeGridColumn Field="StartDate" HeaderText=" Start Date" Format="yMd" Type="date" Width="90" TextAlign="@Syncfusion.EJ2.RazorComponents.Grids.TextAlign.Right"></TreeGridColumn>
                    <TreeGridColumn Field="Duration" HeaderText="Duration" Width="100" TextAlign="@Syncfusion.EJ2.RazorComponents.Grids.TextAlign.Right"></TreeGridColumn>
                    <TreeGridColumn Field="Progress" HeaderText="Progress" Width="100" TextAlign="@Syncfusion.EJ2.RazorComponents.Grids.TextAlign.Right"></TreeGridColumn>
                    <TreeGridColumn Field="Priority" HeaderText="Priority" Width="80"></TreeGridColumn>
                </TreeGridColumns>
            </EjsTreeGrid>
        </div>
    </div>
</div>

@code{

    EjsTreeGrid treeGrid;

    public TreeData.BusinessObject[] treedata { get; set; }

    protected override void OnInit()
    {
       this.treedata = TreeData.GetDefaultData().Cast<TreeData.BusinessObject>().ToArray();
    }
 }
