@page "/TreeGrid/ColumnMenu"

@using Syncfusion.EJ2.Blazor.TreeGrid
@using Syncfusion.EJ2.Blazor.Grids
@using Syncfusion.EJ2.Blazor.Data
@using Syncfusion.EJ2.Blazor

@*Hidden:Lines*@
@using ej2_blazor_samples
@using ej2_blazor_treedata

@{
    SampleBrowser.CurrentSampleName = "Column Menu";
    SampleBrowser.CurrentControlName = "TreeGrid";
    SampleBrowser.CurrentControlCategory = "TreeGrid";
    SampleBrowser.CurrentControl = SampleBrowser.Config.TreeGrid;
    SampleBrowser.ActionDescription = new string[] {
        @"<p>
            This sample demonstrates the default functionalities of the Column Menu. Click on multiple icon of each column to open the column menu.
        </p>"
    };
    SampleBrowser.Description = new string[] {
        @"
    <p>
        TreeGrid has an option to show column menu while click on multiple icon of each column. The column menu has an integrated option to interact the features like sorting, filtering, column chooser and and autoFit.  
        This features can be enabled by defining the <code>showColumnMenu
        </code> as true. The default items are
        <br>
    </p>
    <ul>
            <li><code>SortAscending</code> - Sort the current column in ascending order.</li>
            <li><code>SortDescending</code> - Sort the current column in descending order.</li>
            <li><code>AutoFit</code> - Auto fit current column.</li>
            <li><code>AutoFitAll</code> - Auto fit all columns.</li>
            <li><code>ColumnChooser</code> - Choose the column visibility.</li>
            <li><code>Filter</code> - Filter option is shown to filter the current column.
    </ul>
    
    <br/>

    <p>
        In this demo, Column Menu feature has enabled by defining <code>showColumnMenu
        </code> as true with sorting, filtering and column chooser options.
    </p>"
    };
}
@*End:Hidden*@

<div class="col-lg-12 control-section">
    <div class="content-wrapper">
        <div class="row">
            @*<EjsTreeGrid ID="treegrid" ref="treeGrid" ChildMapping="Children" TreeColumnIndex="1" DataSource="@treedata" Columns="@treecolumns" AllowPaging="true" EnableHierarchySelection="true"></EjsTreeGrid>*@

            <EjsTreeGrid ID="TreeGrid" height="380" ChildMapping="Children" AllowPaging="true" TreeColumnIndex="1" ShowColumnMenu="true" AllowSorting="true" AllowFiltering="true" AllowResizing="true">
                <EjsDataManager Json="@treedata" Adaptor="Adaptors.JsonAdaptor"></EjsDataManager>
                <TreeGridColumns>
                    <TreeGridColumn Field="TaskId" HeaderText="Task ID" Width="90" TextAlign="@TextAlign.Right"></TreeGridColumn>
                    <TreeGridColumn Field="TaskName" HeaderText="Task Name" Width="190"></TreeGridColumn>
                    <TreeGridColumn Field="StartDate" HeaderText=" Start Date" Format="yMd" Type="date" Width="90" TextAlign="@TextAlign.Right"></TreeGridColumn>
                    <TreeGridColumn Field="EndDate" HeaderText="End Date" Format="yMd" Type="date" Width="100" TextAlign="@TextAlign.Right"></TreeGridColumn>
                    <TreeGridColumn Field="Duration" HeaderText="Duration" Width="80" TextAlign="@TextAlign.Right"></TreeGridColumn>
                    <TreeGridColumn Field="Priority" HeaderText="Priority" Width="80"></TreeGridColumn>
                </TreeGridColumns>
            </EjsTreeGrid>

        </div>
    </div>
</div>

@code{

    EjsTreeGrid treeGrid;

    public TreeData.BusinessObject[] treedata { get; set; }

    protected override void OnInit()
    {
        this.treedata = TreeData.GetDefaultData().Cast<TreeData.BusinessObject>().ToArray();
    }
}
