@page "/TreeGrid/Editing"

@using Syncfusion.EJ2.RazorComponents.TreeGrid
@using Syncfusion.EJ2.RazorComponents.Grids;

@*Hidden:Lines*@
@using ej2_blazor_samples
@using ej2_blazor_treedata

@{
    SampleBrowser.CurrentSampleName = "Inline Editing";
    SampleBrowser.CurrentControlName = "TreeGrid";
    SampleBrowser.CurrentControlCategory = "TreeGrid";
    SampleBrowser.CurrentControl = SampleBrowser.Config.TreeGrid;
    SampleBrowser.ActionDescription = new string[] {
        @"<p>
            This sample demonstrates CRUD operations in TreeGrid. You can perform CRUD operations as follows,
        </p>
        <ul>
           <li><code>Add </code> - To add new record, click Add toolbar button.</li>
           <li><code>Edit</code> - To edit record, double click a row or click toolbar Edit button after selected a row.</li>
           <li><code>Delete</code> - To delete record, click toolbar Delete button after selected a row.</li>
           <li><code>Update, Cancel</code> - You can save or discard changes by click toolbar Update and Cancel button respectively.</li>
       </ul>"
    };
    SampleBrowser.Description = new string[] {
        @"<p>
            The TreeGrid supports CRUD operations. This CRUD operations can be configured in TreeGrid using <code>editSettings</code>. Also, it has different modes to manipulate the datasource.
        </p>
        <p>
           The available modes are,
        </p>
        <ul>
           <li><code>Row </code></li>
           <li><code>Cell</code></li>
           <li><code>Dialog</code></li>
        </ul>
        <p>
          In this demo, Row mode is enabled for editing by default. You can start editing any row by double clicking on it or clicking on toolbar’s Edit button, then the currently selected row will be changed to edited state. You can change the row values and save edited data to the datasource.
        </p>
        <br>
        <p>
            More information about Edit Modes can be found in this documentation section.
        </p>"
    };
}
@*End:Hidden*@

<div class="col-lg-12 control-section">
    <div class="content-wrapper">
        <div class="row">
            <EjsTreeGrid ID="TreeGrid" DataSource="@treedata" IdMapping="TaskID" ParentIdMapping="ParentItem" TreeColumnIndex="1" AllowPaging="true" Height="480">
                <TreeGridEditSettings allowAdding="true" allowEditing="true" allowDeleting="true" Mode="@Syncfusion.EJ2.RazorComponents.TreeGrid.EditMode.Row"></TreeGridEditSettings>
                <TreeGridPageSettings PageSize="4"></TreeGridPageSettings>
                <TreeGridColumns>
                    <TreeGridColumn Field="TaskID" HeaderText="Task ID" Width="60" IsPrimaryKey="true" TextAlign="@Syncfusion.EJ2.RazorComponents.Grids.TextAlign.Right"></TreeGridColumn>
                    <TreeGridColumn Field="TaskName" HeaderText="Task Name" Width="120"></TreeGridColumn>
                    <TreeGridColumn Field="StartDate" HeaderText=" Start Date" Format="yMd" Type="date" Width="90" TextAlign="@Syncfusion.EJ2.RazorComponents.Grids.TextAlign.Right" EditType="datepickeredit"></TreeGridColumn>
                    <TreeGridColumn Field="Duration" HeaderText="Duration" Width="80" TextAlign="@Syncfusion.EJ2.RazorComponents.Grids.TextAlign.Right"></TreeGridColumn>
                    <TreeGridColumn Field="Progress" HeaderText="Progress" Width="80"></TreeGridColumn>
                </TreeGridColumns>
            </EjsTreeGrid>

        </div>
    </div>
</div>

@code{

    EjsTreeGrid treeGrid;
 
    public List<SelfReferenceData> treedata { get; set; }

    protected override void OnInit()
    {
       this.treedata = SelfReferenceData.GetTree().ToList();
    }
 }
