@page "/image-editor/file-restrict"

@using Syncfusion.Blazor.ImageEditor
@using Syncfusion.Blazor.Inputs
@using Syncfusion.Blazor.DropDowns
@using Syncfusion.Blazor.SplitButtons

@*Hidden:Lines*@
@inherits SampleBaseComponent
@*End:Hidden*@

<SampleDescription>
    <p>This sample demonstrates the file restriction feature in the <a href="https://www.syncfusion.com/blazor-components/blazor-wysiwyg-image-editor" aria-label="Blazor Image Editor">Blazor Image Editor</a>, which allows customization of file extensions, minimum and maximum file sizes, and drag-and-drop functionality.</p>
</SampleDescription>

<ActionDescription>
    <p>This sample highlights the enhanced configuration capabilities of the Blazor Image Editor component using the <b>UploadSettings</b> property. The following features are included:</p>
    <ul>
        <li><b>File Extensions</b>: Use a multi-select dropdown to dynamically choose allowed file extensions. Supported extensions include <code>jpeg</code>, <code>jpg</code>, <code>png</code>, <code>svg</code>, <code>webp</code>, and <code>bmp</code>.</li>
        <li><b>File Size</b>: Two numeric textboxes are provided to set the minimum and maximum file sizes (in bytes). These values dynamically update the <code>UploadSettings</code> property.</li>
        <li><b>Dynamic Updates</b>: Changes made to the numeric textboxes or the dropdown options immediately reflect in the component's <code>UploadSettings</code>.</li>
        <li>
            <b>Upload Settings</b>: Predefined settings include:
            <ul>
                <li><b>Allowed Extensions</b>: <code>.jpeg</code>, <code>.png</code>, <code>.svg</code>, <code>.webp</code>, <code>.bmp</code></li>
                <li><b>Minimum File Size</b>: 1 KB</li>
                <li><b>Maximum File Size</b>: 100 KB</li>
            </ul>
        </li>
    </ul>
    <p>For more information about the Image Editor and its configuration options, refer to the <a target='_blank' href='https://blazor.syncfusion.com/documentation/image-editor/getting-started-with-web-app'>documentation section</a>.</p>
</ActionDescription>
<div class="control-section">
    <div style="text-align: center;">
        <div class="e-img-editor-dropdown-container">
            <label>Size As</label><br />
            <SfDropDownButton Content="@FileType" class="custom-dropdown-btn">
                <DropDownButtonEvents ItemSelected="ItemSelected"></DropDownButtonEvents>
                <DropDownMenuItems>
                    <DropDownMenuItem Text="MB" Id="MB" HtmlAttributes="@MbAttributes"></DropDownMenuItem>
                    <DropDownMenuItem Text="KB" Id="KB" HtmlAttributes="@KbAttributes"></DropDownMenuItem>
                </DropDownMenuItems>
            </SfDropDownButton>
        </div>
        <div class="e-img-editor-numeric-textbox-container">
            <label>Minimum Size</label><br />
            <SfNumericTextBox TValue="double" Width="150px" Min=1 @bind-Value="MinSize">
                <NumericTextBoxEvents TValue="double" ValueChange="@MinFileValueChange"></NumericTextBoxEvents>
            </SfNumericTextBox>
        </div>
        <div class="e-img-editor-numeric-textbox-container">
            <label>Maximum Size</label><br />
            <SfNumericTextBox TValue="double" Width="150px" Min=1 @bind-Value="@MaxSize">
                <NumericTextBoxEvents TValue="double" ValueChange="@MaxFileValueChange"></NumericTextBoxEvents>
            </SfNumericTextBox>
        </div>
        <div class="e-img-editor-dropdown-container">
            <label>Allowed Extensions</label><br />
            <SfMultiSelect TValue="string[]" Width="250px" ShowSelectAll="true" Mode="VisualMode.CheckBox" TItem="FileExtension" Placeholder="Select File Extensions"
                       @bind-Value="@SelectedExtensions" DataSource="@FileExtensionsList">
                <MultiSelectFieldSettings Text="Name" Value="Value"></MultiSelectFieldSettings>
                <MultiSelectEvents TItem="FileExtension" TValue="string[]" ValueChange="@UpdateAllowedFileExtensions"></MultiSelectEvents>
            </SfMultiSelect>
        </div>
    </div>
    <div class="e-img-editor-sample">
        <SfImageEditor @ref="ImageEditor" Height="500px">
            <ImageEditorEvents Created="UpdateFileSize"></ImageEditorEvents>
            <ImageEditorUploadSettings @ref="UploadSettings" MinFileSize="@MinFileSize" MaxFileSize="@MaxFileSize" AllowedExtensions="@AllowedExtensions"></ImageEditorUploadSettings>
        </SfImageEditor>
    </div>
</div>

@code {
    SfImageEditor ImageEditor { get; set; }
    ImageEditorUploadSettings UploadSettings;
    private string AllowedExtensions { get; set; } = ".jpeg, .jpg, .png, .svg, .webp, .bmp";
    private string[] SelectedExtensions { get; set; } = { "jpeg", "jpg", "png", "svg", "webp", "bmp" };
    private double MinSize { get; set; } = 1;
    private double MaxSize { get; set; } = 100;
    private double MinFileSize { get; set; } = 1; // 1KB default
    private double MaxFileSize { get; set; } = 100; // 100KB default
    private string FileType { get; set; } = "KB";
    private Dictionary<string, object> MbAttributes;
    private Dictionary<string, object> KbAttributes = new Dictionary<string, object> { { "class", "e-selected" } };
    public class FileExtension
    {
        public string Name { get; set; }
        public string Value { get; set; }
    }
    private List<FileExtension> FileExtensionsList = new List<FileExtension>
    {
        new FileExtension { Name = "JPEG", Value = "jpeg" },
        new FileExtension { Name = "JPG", Value = "jpg" },
        new FileExtension { Name = "PNG", Value = "png" },
        new FileExtension { Name = "SVG", Value = "svg" },
        new FileExtension { Name = "WebP", Value = "webp" },
        new FileExtension { Name = "BMP", Value = "bmp" }
    };

    private void UpdateAllowedFileExtensions(MultiSelectChangeEventArgs<string[]> args)
    {   
        if (args.Value is null || args.Value.Length == 0)
        {
            AllowedExtensions = ".jpeg, .jpg, .png, .svg, .webp, .bmp";
        }
        else
        {
            AllowedExtensions = string.Join(", ", args.Value);
        }
        
    }

    private void MinFileValueChange(Syncfusion.Blazor.Inputs.ChangeEventArgs<double> args)
    {
        MinSize = args.Value;
        MinFileSize = ConvertToBytes(args.Value);
    }

    private void MaxFileValueChange(Syncfusion.Blazor.Inputs.ChangeEventArgs<double> args)
    {
        MaxSize = args.Value;
        MaxFileSize = ConvertToBytes(args.Value);
    }

    private void ItemSelected(MenuEventArgs args)
    {
        FileType = args.Item.Text;
        if (args.Item.Text == "MB")
        {
            MbAttributes = new Dictionary<string, object> { { "class", "e-selected" } };
            KbAttributes = new Dictionary<string, object>();
        }
        else
        {
            MbAttributes = new Dictionary<string, object>();
            KbAttributes = new Dictionary<string, object> { { "class", "e-selected" } };
        }
        UpdateFileSize();
    }

    private void UpdateFileSize()
    {
        MinFileSize = ConvertToBytes(MinSize);
        MaxFileSize = ConvertToBytes(MaxSize);
    }

    private double ConvertToBytes(double value)
    {
        return value * (FileType == "MB" ? 1024 * 1024 : 1024);
    }
}
<style>
    .e-image-editor {
        margin-top: 20px;
    }

    .e-img-editor-sample {
        height: 80vh;
        width: 100%;
        margin-top: 18px;
    }

    .e-img-editor-numeric-textbox-container, .e-img-editor-dropdown-container {
        display: inline-block;
        margin-right: 30px;
        text-align: left;
    }

    #dropdownbtn {
        font-weight: 400;
    }

    .material3 .custom-dropdown-btn,
    .material3-dark .custom-dropdown-btn {
        margin-top: 5px;
    }

    @@media only screen and (max-width: 700px) {
        .e-img-editor-dropdown-container, .e-img-editor-numeric-textbox-container {
            display: block;
            margin-right: 0;
            margin-bottom: 20px;
            text-align: center;
        }

        .e-img-editor-sample {
            height: 75vh;
            width: 100%;
        }
    }
</style>
