@page "/chart-wizard/default-functionalities"
@using Syncfusion.Blazor
@using Syncfusion.Blazor.ChartWizard
@*Hidden:Lines*@
@using ThemeHelper
@*End:Hidden*@

@inject NavigationManager NavigationManager
@inject ISyncfusionStringLocalizer LocaleProvider
@*Hidden:Lines*@
@inherits SampleBaseComponent
@*End:Hidden*@

<ActionDescription>
<p>The Blazor Chart Wizard offers an intuitive interface for creating and customizing charts with comprehensive styling options, flexible data binding, and multiple export features.</p>

<p>Configure chart elements including titles, legends, axes, and series styling across supported types such as Line, Area, Column, Bar, Scatter, and Pie. Render the wizard to instantly visualize your provided data and export charts to common formats for sharing and reporting. For detailed guidance, see the <a target="_blank" href="https://blazor.syncfusion.com/documentation/chart-wizard" aria-label="Navigate to the documentation for Chart Wizard">documentation section</a>.</p>
</ActionDescription>

<div class="control-section chart-wizard-container">
    <SfChartWizard Width="@Width" Theme="@Theme">
        <ChartSettings DataSource="@OlympicsDataSource"
                       CategoryFields="@categories"
                       SeriesType="ChartWizardSeriesType.Bar"
                       SeriesFields="@chartSeries">
        </ChartSettings>
    </SfChartWizard>
</div>

<style>
    .chart-wizard-container {
        display: flex;
        justify-content: center;
    }
</style>

@code {
    private readonly List<string> chartSeries = new() { "Gold", "Silver", "Bronze" };
    private readonly List<string> categories = new() { "Country", "CountryCode" };
    private string Width { get; set; } = "80%";
    private Theme Theme { get; set; }

    protected override void OnInitialized()
    {
        Theme = ThemeHelper.GetCurrentTheme(NavigationManager.Uri);
        @*Hidden:Lines*@
        Width = SampleService != null && SampleService.IsDevice ? "100%" : "80%";
        @*End:Hidden*@
    }

    private readonly List<OlympicsData> OlympicsDataSource = new()
    {
        new OlympicsData { Country = "USA", CountryCode = "USA", Gold = 40, Silver = 44, Bronze = 42 },
        new OlympicsData { Country = "China", CountryCode = "CHN", Gold = 40, Silver = 27, Bronze = 24 },
        new OlympicsData { Country = "Great Britain", CountryCode = "GBR", Gold = 14, Silver = 22, Bronze = 29 },
        new OlympicsData { Country = "France", CountryCode = "FRA", Gold = 16, Silver = 26, Bronze = 22 },
        new OlympicsData { Country = "Australia", CountryCode = "AUS", Gold = 18, Silver = 19, Bronze = 16 },
        new OlympicsData { Country = "Japan", CountryCode = "JPN", Gold = 20, Silver = 12, Bronze = 13 },
        new OlympicsData { Country = "Italy", CountryCode = "ITA", Gold = 12, Silver = 13, Bronze = 15 },
        new OlympicsData { Country = "Netherlands", CountryCode = "NLD", Gold = 15, Silver = 7,  Bronze = 12 },
        new OlympicsData { Country = "Germany", CountryCode = "DEU", Gold = 12, Silver = 13, Bronze = 8  },
        new OlympicsData { Country = "South Korea", CountryCode = "KOR", Gold = 13, Silver = 9,  Bronze = 10 }
    };


    public class OlympicsData
    {
        public string? Country { get; set; }
        public string? CountryCode { get; set; }
        public int Gold { get; set; }
        public int Silver { get; set; }
        public int Bronze { get; set; }
    }
}