@using Syncfusion.Blazor.Popups
@using Syncfusion.Blazor.DropDowns
@using Syncfusion.Blazor.Diagram
@using Syncfusion.Blazor.Inputs
@using Syncfusion.Blazor.Buttons
@inject IJSRuntime jsRuntime
@namespace TextToMindMapDiagram

<SfDialog @ref="@ExportDialog" @bind-Visible="@exportDialogVisible" AllowDragging="true" Width="400px" ShowCloseIcon="true">
    <DialogEvents OnOpen="OnDialogOpening"></DialogEvents>
    <DialogTemplates>
        <Header>Export Diagram</Header>
        <Content>
            <div id="exportDialogContent">
                <div class="row">
                    <div class="row"> File Name </div> <div class="row db-dialog-child-prop-row">
                        <input type="text" id="exportfileName" value="@diagramfileName" @onchange="@FileNameChangeHandler">
                    </div>
                </div>
                <div class="row db-dialog-prop-row">
                    <div class="col-xs-6 db-col-left">
                        <div class="row"> Format </div>
                        <div class="row db-dialog-child-prop-row">
                            <SfDropDownList ID="exportFormat" TValue="Formats" TItem="string" Placeholder="JPG" @bind-Value="@CurrentFormatValue" DataSource="@formatValues">
                            </SfDropDownList>
                        </div>
                    </div>
                    <div class="col-xs-6 db-col-right">
                        <div class="row"> Region </div> <div class="row db-dialog-child-prop-row">
                            <SfDropDownList ID="exportRegion" TValue="Regions" TItem="string" Placeholder="Content" @bind-Value="@CurrentRegionValue" DataSource="@RegionValues">
                            </SfDropDownList>
                        </div>
                    </div>
                </div>
                <div class="row db-dialog-prop-row" style="margin-top: 16px">
                    <SfCheckBox ID="exportMultiplePage" TChecked="bool" Label="Scale to fit entire page to single page" Checked="@IsMultiplePageExport" ValueChange="@MultiplePageExport">
                    </SfCheckBox>
                </div>
            </div>
        </Content>
    </DialogTemplates>
    <DialogAnimationSettings Effect="@DialogEffect.None"></DialogAnimationSettings>
    <DialogButtons>
        <DialogButton OnClick="@ExportHandler" Content="Export" CssClass="e-flat e-db-primary" IsPrimary="true">
        </DialogButton>
        <DialogButton OnClick="@CloseDialogHandler" Content="Cancel" CssClass="e-flat">
        </DialogButton>
    </DialogButtons>
</SfDialog>
@code {
    /// <summary>
    /// Object reference for menubar items.
    /// </summary>
    internal DiagramMenuBar Parent;
    /// <summary>
    /// Gets or sets the diagram file name when export the diagram.
    /// </summary>
    private string diagramfileName = "Text to Mindmap";
    /// <summary>
    /// Object reference for dialog box.
    /// </summary>
    public SfDialog ExportDialog;
    /// <summary>
    /// Gets or sets the export dialog box visibility setting.
    /// </summary>
    private bool exportDialogVisible = false;
    //// <summary>
    /// Gets a value indicating whether the diagram spans multiple pages when exported.
    /// </summary>
    bool IsMultiplePageExport = false;
    /// <summary>
    /// This method is used to change the file name when exporting a diagram.
    /// </summary>
    private void FileNameChangeHandler(ChangeEventArgs args)
    {
        if(args.Value!=null)
          diagramfileName = args.Value.ToString();
    }
    /// <summary>
    /// This method is used to enable the multiple page options.
    /// </summary>
    private void MultiplePageExport(Syncfusion.Blazor.Buttons.ChangeEventArgs<bool> args)
    {
        IsMultiplePageExport = args.Checked;
    }
    /// <summary>
    /// Gets or sets the event callback that will be invoked when the suggestions popup before it opens
    /// </summary>
    private async Task OnDialogOpening(Syncfusion.Blazor.Popups.BeforeOpenEventArgs args)
    {
        diagramfileName = diagramfileName;
    }
    /// <summary>
    /// This method is used Exports the diagram to an PNG/SVG/PDF/JPEG/ file.
    /// </summary>
    private async Task ExportHandler()
    {
        DiagramRect pageBounds = Parent.Parent.Diagram.GetPageBounds();
        DiagramExportSettings options = new DiagramExportSettings()
        { 
            FitToPage = IsMultiplePageExport,
            Region = (DiagramPrintExportRegion)Enum.Parse(typeof(DiagramPrintExportRegion), CurrentRegionValue.ToString(), true),
            PageHeight =  pageBounds.Height,
            PageWidth =  pageBounds.Width,
        };
        await ExportDialog.HideAsync();
        await Parent.ExportDiagram(options, CurrentFormatValue.ToString(), diagramfileName);
    }
    /// <summary>
    /// This method is used close the export diaglog box.
    /// </summary>
    private async Task CloseDialogHandler()
    {
        await ExportDialog.HideAsync();
    }
    /// <summary>
    /// Private collection of format values obtained from the 'Formats' enum.
    /// </summary>
    private IEnumerable<string> formatValues = Enum.GetNames(typeof(Formats));
    /// <summary>
    /// Represents the currently selected format value for image and document files.
    /// </summary>
    private Formats CurrentFormatValue { get; set; } = Formats.JPEG;
    /// <summary>
    /// Represents the supported formats for image and document files.
    /// </summary>
    private enum Formats
    {
        JPEG,
        PNG,
        SVG,
        PDF
    }
    /// <summary>
    /// Collection of region values obtained from the 'Regions' enum.
    /// </summary>
    private IEnumerable<string> RegionValues = Enum.GetNames(typeof(Regions));
    /// <summary>
    /// Gets or sets the currently selected region value.
    /// Default value is 'PageSettings'.
    /// </summary>
    private Regions CurrentRegionValue { get; set; } = Regions.PageSettings;
    /// <summary>
    /// Represents the different regions used in image and document files.
    /// </summary>
    private enum Regions
    {
        PageSettings,
        Content,
    }
}
