@using Syncfusion.Blazor.Popups
@using Syncfusion.Blazor.DropDowns
@using Syncfusion.Blazor.Diagram
@using Syncfusion.Blazor.Inputs
@using Syncfusion.Blazor.Buttons
@inject IJSRuntime jsRuntime
@namespace TextToMindMapDiagram

<SfDialog @ref="@ExportDialog" @bind-Visible="@exportDialogVisible" AllowDragging="true" Width="400px" ShowCloseIcon="true" CssClass="custom-dialog">
    <DialogEvents OnOpen="OnDialogOpening"></DialogEvents>
    <DialogTemplates>
        <Header>Export Diagram</Header>
        <Content>
            <div id="exportDialogContent">
                <div>
                    <div> File Name </div> <div class="db-dialog-child-prop-row">
                        <input type="text" id="exportfileName" value="@diagramfileName" @onchange="@FileNameChangeHandler">
                    </div>
                </div>
                <div class="db-dialog-prop-row">
                    <div class="col-xs-6 db-col-left">
                        <div> Format </div>
                        <div class="db-dialog-child-prop-row">
                            <SfDropDownList ID="exportFormat" TValue="Formats" TItem="string" Placeholder="JPG" @bind-Value="@CurrentFormatValue" DataSource="@formatValues">
                            </SfDropDownList>
                        </div>
                    </div>
                    <div class="col-xs-6 db-col-right">
                        <div> Region </div> <div class="db-dialog-child-prop-row">
                            <SfDropDownList ID="exportRegion" TValue="Regions" TItem="string" Placeholder="Content" @bind-Value="@CurrentRegionValue" DataSource="@RegionValues">
                            </SfDropDownList>
                        </div>
                    </div>
                </div>
                <div id="exportMultiplePageDiv" class="db-dialog-prop-row">
                    <SfCheckBox ID="exportMultiplePage" TChecked="bool" Label="Scale to fit entire page to single page" Checked="@IsMultiplePageExport" ValueChange="@MultiplePageExport">
                    </SfCheckBox>
                </div>
            </div>
        </Content>
    </DialogTemplates>
    <DialogAnimationSettings Effect="@DialogEffect.None"></DialogAnimationSettings>
    <DialogButtons>
        <DialogButton OnClick="@ExportHandler" Content="Export" CssClass="e-flat e-db-primary" IsPrimary="true">
        </DialogButton>
        <DialogButton OnClick="@CloseDialogHandler" Content="Cancel" CssClass="e-flat">
        </DialogButton>
    </DialogButtons>
</SfDialog>

