@page "/gantt-chart/editing"

@using Syncfusion.Blazor.Gantt
@using blazor_samples
@using ej2_blazor_ganttdata

@inherits SampleBaseComponent;
<div class="col-lg-12 control-section">
    <div class="content-wrapper">
        <div class="row">
            <SfGantt DataSource="@TaskCollection" Height="450px" Width="100%" HighlightWeekends="true" Resources="@ResourceCollection"
                      Toolbar="@(new List<string>(){ "Add", "Edit", "Update", "Delete", "Cancel", "ExpandAll", "CollapseAll"})"
                      AllowSelection="true" GridLines="GridLine.Both" TreeColumnIndex="1"
                      ResourceNameMapping="ResourceName" ResourceIDMapping="ResourceId" 
                      ProjectStartDate="@ProjectStart" ProjectEndDate="@ProjectEnd">
                <GanttTaskFields Id="TaskId" Name="TaskName" StartDate="StartDate" EndDate="EndDate" Duration="Duration" Progress="Progress"
                                 Dependency="Predecessor" Child="SubTasks" Notes="Notes" ResourceInfo="ResourceId"></GanttTaskFields>
                <GanttEditSettings AllowAdding="true" AllowDeleting="true" AllowEditing="true" AllowTaskbarEditing="true" ShowDeleteConfirmDialog="true"
                                  ></GanttEditSettings>
               
                <GanttColumns>
                    <GanttColumn Field="TaskId" Width="100"></GanttColumn>
                    <GanttColumn Field="TaskName" HeaderText="Job Name" Width="250"></GanttColumn>
                    <GanttColumn Field="StartDate"></GanttColumn>
                    <GanttColumn Field="Duration"></GanttColumn>
                    <GanttColumn Field="Progress"></GanttColumn>
                    <GanttColumn Field="Predecessor"></GanttColumn>
                </GanttColumns>
                <GanttLabelSettings>
                    <LeftLabelTemplate>
                        <div class="e-left-label-inner-div" style="height:22px;margin-top:7px;">
                            <span class="e-label">@((context as GanttData.TaskData).TaskName)</span>
                        </div>
                    </LeftLabelTemplate>
                </GanttLabelSettings>
                <GanttTimelineSettings>
                    <GanttTopTierSettings Unit="TimelineViewMode.Week" Format="MMM dd, y"></GanttTopTierSettings>
                    <GanttBottomTierSettings Unit="TimelineViewMode.Day"></GanttBottomTierSettings>
                </GanttTimelineSettings>
            </SfGantt>
        </div>
    </div>
</div>

@code{
    public DateTime ProjectStart = new DateTime(2019, 3, 25);
    public DateTime ProjectEnd = new DateTime(2019, 7, 28);
    public List<GanttData.TaskData> TaskCollection { get; set; }
    public List<GanttData.TaskResources> ResourceCollection { get; set; }
    protected override void OnInitialized()
    {
        this.TaskCollection = GanttData.EditingData().ToList();
        this.ResourceCollection = GanttData.EditingResources();
    }
}