@page "/Dialog/MultipleDialogs"

@using Syncfusion.EJ2.Blazor
@using Syncfusion.EJ2.Blazor.Popups
@using Syncfusion.EJ2.Blazor.Buttons

@inherits SampleBaseComponent;

<div class="col-lg-12 control-section" id="target">    
    <button id="dialogBtn" class="e-btn" @onclick="@OnClicked">Open Dialog</button>
    <EjsDialog @ref="FirstDialogObj" Width="330px" Visible="true" Height="260px" Target="#target" ShowCloseIcon="true">
        <DialogTemplates>
            <Header> First Dialog </Header>
            <Content> <p>This is the first dialog and acts as a parent dialog, you can open the second (child) dialog by clicking 'Next'.</p></Content>
        </DialogTemplates>
        <DialogButtons>
            <DialogButton ButtonModel="@DefaultButton" OnClick="@DlgButtonClick"></DialogButton>
        </DialogButtons>        
    </EjsDialog>
    <EjsDialog @ref="SecondDialogObj" @bind-Visible="@Visibility" IsModal="true" Width="285px" Height="215px" Target="#target" ShowCloseIcon="true">
        <DialogTemplates>
            <Header> Second Dialog</Header>
            <Content> <p>This is the second dialog and act as a child dialog.</p></Content>
        </DialogTemplates>
        <DialogButtons>
            <DialogButton ButtonModel="@DefaultButton1" OnClick="@Dlg2ButtonClick"></DialogButton>
        </DialogButtons>
    </EjsDialog>
</div>

@code {
    EjsDialog FirstDialogObj;
    EjsDialog SecondDialogObj;

    private bool Visibility { get; set; } = false;
    private void OnClicked()
    {
        this.FirstDialogObj.Show();
    }
    private void DlgButtonClick(object arg)
    {
        this.SecondDialogObj.Show();
    }
    private void Dlg2ButtonClick(object arg)
    {
        this.SecondDialogObj.Hide();
    }

    public ButtonModel DefaultButton = new ButtonModel { Content = "Next", IsPrimary = true };
    public ButtonModel DefaultButton1 = new ButtonModel {  Content = "Close", IsPrimary = true };
}
