@page "/datagrid/adaptive-rendering"

@using Syncfusion.Blazor.Grids
@using Syncfusion.Blazor.Buttons
@using BlazorDemos
@using blazor_griddata
@*Hidden:Lines*@
@inherits SampleBaseComponent
@inject NavigationManager NavigationManager


@*End:Hidden*@

<SampleDescription>
    <p>This sample shows the rendering order of DataGrid row elements as well as adaptive dialogs.</p>
</SampleDescription>
<ActionDescription>
    <p>The <a target='_blank' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Grids.SfGrid-1.html#Syncfusion_Blazor_Grids_SfGrid_1_EnableAdaptiveUI' aria-label="Navigate to the EnableAdaptiveUI property reference for DataGrid component">EnableAdaptiveUI</a> property is used to render the grid filter, sort, edit, and column chooser dialogs adaptively. The <a target='_blank' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Grids.SfGrid-1.html#Syncfusion_Blazor_Grids_SfGrid_1_RowRenderingMode' aria-label="Navigate to the RowRenderingMode property reference for DataGrid component">RowRenderingMode</a> property is used to render the DataGrid row elements in the following ways,</p>
    <ul>
        <li><a target='_blank' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Grids.RowDirection.html#Syncfusion_Blazor_Grids_RowDirection_Horizontal' aria-label="Navigate to the fields reference for Horizontal in DataGrid row direction">Horizontal</a> - Displays the grid row elements horizontally.</li>
        <li><a target='_blank' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Grids.RowDirection.html#Syncfusion_Blazor_Grids_RowDirection_Vertical' aria-label="Navigate to the fields reference for Vertical in DataGrid row direction">Vertical</a> - Renders the grid row elements vertically.</li>
    </ul>
    <p>By defining the <a target='_blank' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Grids.GridPageSettings.html#Syncfusion_Blazor_Grids_GridPageSettings_PageSizes' aria-label="Navigate to the PageSizes property reference for DataGrid component">PageSizes</a> property in the <a target='_blank' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Grids.GridPageSettings.html' aria-label="Navigate to the class reference for GridPageSettings">GridPageSettings</a> , you can specify a customized list of page sizes, and it will be displayed in the pager dropdown.</p>
    <p>More information about the Adaptive UI feature can be found in this <a target='_blank' href='https://blazor.syncfusion.com/documentation/datagrid/adaptive-layout' aria-label="Navigate to the documentation for Adaptive UI Layout in DataGrid component">documentation</a> section.</p>
</ActionDescription>

<div class="col-lg-12 control-section">
   <div class="content-wrapper">
      <div class="row">
         <div class="content-wrapper e-bigger e-adaptive-demo">
            <div class="e-mobile-layout">
               <div class="e-mobile-content">
                  <SfGrid DataSource="@GridData" AllowSorting="true" AllowFiltering="true" EnableAdaptiveUI="true" Toolbar="@(new List <string> () { "Add", "Edit", "Delete", "Cancel", "Update", "Search","ColumnChooser" })" ShowColumnChooser="true" RowRenderingMode="RowDirection.Vertical" Height="100%" Width="100%" AllowPaging="true">
                      <GridPageSettings PageSizes="true"></GridPageSettings>
                      <GridFilterSettings Type="@FilterType.Excel"></GridFilterSettings>
                      <GridEditSettings AllowAdding="true" AllowEditing="true" AllowDeleting="true" Mode="EditMode.Dialog"></GridEditSettings>
                      <GridAggregates>
                         <GridAggregate>
                            <GridAggregateColumns>
                               <GridAggregateColumn Field=@nameof(OrdersDetails.Freight) Type="AggregateType.Sum" Format="C2">
                                  <FooterTemplate>
                                     @{
                                     var aggregate = (context as AggregateTemplateContext);
                                     <div>
                                        <p>Sum: @aggregate.Sum</p>
                                     </div>
                                     }
                                  </FooterTemplate>
                               </GridAggregateColumn>
                            </GridAggregateColumns>
                         </GridAggregate>
                      </GridAggregates>
                      <GridColumns>
                         <GridColumn Field=@nameof(OrdersDetails.OrderID) HeaderText="Order ID" IsPrimaryKey="true" ValidationRules="@(new ValidationRules{ Required=true, Number=true})" Width="120"></GridColumn>
                         <GridColumn Field=@nameof(OrdersDetails.CustomerID) HeaderText="Customer ID" Width="150"></GridColumn>
                         <GridColumn Field=@nameof(OrdersDetails.OrderDate) HeaderText=" Order Date" Format="d" Type="ColumnType.Date" Width="130"></GridColumn>
                         <GridColumn Field=@nameof(OrdersDetails.Freight) Format="C2" ShowInColumnChooser="false" Width="120"></GridColumn>
                      </GridColumns>
                  </SfGrid>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>

 @code {
     
  public List < OrdersDetails > GridData { get; set; }
  protected override void OnInitialized() {
      
    GridData = OrdersDetails.GetAllRecords();
  }
}

 @*Hidden:Lines*@
 <style> 
/* The device with borders */
 .e-mobile-layout {
     position: relative;
     width: 370px;
     height: 640px;
     margin: auto;
     border: 16px #f4f4f4 solid;
     border-top-width: 60px;
     border-bottom-width: 60px;
     border-radius: 36px;
     box-shadow: 0 0px 2px rgb(144 144 144), 0 0px 10px rgb(0 0 0 / 16%);
}
.e-grid{
    position: absolute;
}
 .e-mobile-layout:before, .e-mobile-layout:after {
     content: '';
     display: block;
     position: absolute;
     transform: translate(-50%, -50%);
     left: 50%;
}
/* The horizontal line on the top of the device */
 .e-mobile-layout:before {
     width: 60px;
     height: 5px;
     top: -30px;
     background: #ebebeb;
     border-radius: 10px;
}
/* The circle at the bottom of the device */
 .e-mobile-layout:after {
     width: 35px;
     height: 35px;
     bottom: -65px;
     background: #e8e8e8;
     border-radius: 50%;
}
/* The screen (or content) of the device */
 .e-mobile-layout .e-mobile-content {
     overflow-x: hidden;
     width: 328px;
     height: 521px;
     background: white;
     border: 0px solid #dddddd;
}
 .highcontrast .e-mobile-layout {
     border: 16px #000000 solid;
     border-top-width: 60px;
     border-bottom-width: 60px;
     box-shadow: -1px 2px white, -2px -2px white, 2px -2px white, 2px 1px white;
}
 .e-responsive-dialog {
     box-shadow: none;
     border: 1px solid #dddddd;
}
.material .e-responsive-dialog,
.material3-dark .e-responsive-dialog,
.material3 .e-responsive-dialog {
	top: 1px !important;
}
 #adaptivebrowser:not(.e-grid.e-row-responsive) > .e-gridcontent {
     height: calc(100% - 224px) !important;
}
/* Render the mobile pager by default */
 @@media (max-width: 3840px) {
     .e-adaptive-demo .e-pager .e-pager-default:hover {
    background: transparent;
}
     .e-adaptive-demo .e-pager div.e-parentmsgbar {
         box-sizing: border-box;
         display: inline-block;
         float: initial;
         padding-bottom: 0;
         padding-right: 0;
         padding-top: 0;
         text-align: center;
         vertical-align: top;
         width: calc(50% - 48px);
    }

    .e-adaptive-demo .e-pager .e-pagercontainer, .e-adaptive-demo .e-pager .e-parentmsgbar .e-pagecountmsg {
        display: none;
    }
     .e-adaptive-demo .e-pager .e-icons {
         font-size: 11px;
    }
     .e-adaptive-demo .e-pager .e-mfirst, .e-adaptive-demo .e-pager .e-mprev, .e-adaptive-demo .e-pager .e-mnext, .e-adaptive-demo .e-pager .e-mlast {
         border: 0;
         box-sizing: border-box;
         display: inline-block;
    }
     .e-adaptive-demo .e-pager .e-mfirst {
         margin-right: 4px;
         text-align: right;
         width: calc(5% + 11px);
    }
     .e-adaptive-demo .e-pager .e-mprev {
         margin: 0 4px;
         text-align: right;
         width: 5%;
    }
     .e-adaptive-demo .e-pager .e-mnext {
         margin: 0 4px;
         text-align: left;
         width: 5%;
    }
     .e-adaptive-demo .e-pager .e-mlast {
         margin-left: 4px;
         text-align: left;
         width: calc(5% + 11px);
    }
     .e-adaptive-demo .e-bigger .e-pager, .e-adaptive-demo .e-pager.e-bigger {
         padding: 6px 0;
    }
     .e-adaptive-demo .e-bigger .e-pager.e-rtl div.e-parentmsgbar, .e-adaptive-demo .e-pager.e-bigger.e-rtl div.e-parentmsgbar {
         margin-right: 0;
    }
     .e-adaptive-demo .e-bigger .e-pager div.e-parentmsgbar, .e-adaptive-demo .e-pager.e-bigger div.e-parentmsgbar {
         padding: 0;
    }

    .e-adaptive-demo .e-pager .e-input-group:not(.e-disabled) .e-ddl-icon:hover,
    .e-adaptive-demo .e-input-group .e-clear-icon:hover {
        background: transparent;
    }
}
 </style>
 @*End:Hidden*@
