@page "/datagrid/batch-editing"

@using Syncfusion.Blazor.Grids
@using Syncfusion.Blazor.DropDowns
@*Hidden:Lines*@
@using BlazorDemos
@using blazor_ordersdetails
@inherits SampleBaseComponent
@inject NavigationManager NavigationManager


@*End:Hidden*@

<ActionDescription>
<p>This sample demonstrates how to use batch editing mode in the DataGrid to perform CRUD operations efficiently.</p>
  
  <p>The Blazor DataGrid batch editing feature enables you to start editing by double-clicking a cell and modifying its value. You can perform CRUD operations as follows:</p>
  <ul>
    <li><strong>Add</strong> - Click the Add toolbar button to create a new record.</li>
    <li><strong>Edit</strong> - Double-click a row or click the Edit toolbar button after selecting a row to modify data.</li>
    <li><strong>Delete</strong> - Click the Delete toolbar button after selecting a row to remove a record.</li>
    <li><strong>Update</strong> - Click the Update toolbar button to save all edited changes.</li>
    <li><strong>Cancel</strong> - Click the Cancel toolbar button to discard all edited changes.</li>
  </ul>
  
  <p>CRUD operations are configured in the DataGrid using the <a target='_blank' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Grids.GridEditSettings.html' aria-label="Navigate to the class reference for GridEditSettings">GridEditSettings</a> component. You must define at least one column as a primary key using the <a target='_blank' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Grids.GridColumn.html#Syncfusion_Blazor_Grids_GridColumn_IsPrimaryKey' aria-label="Navigate to the IsPrimaryKey property reference for Grid column">IsPrimaryKey</a> property in the <a target='_blank' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Grids.GridColumn.html' aria-label="Navigate to the class reference for GridColumn">GridColumn</a> component.</p>
  
  <p>The available edit modes are:</p>
  <ul>
    <li><strong>Inline</strong> - Edit records directly within the grid rows</li>
    <li><strong>Dialog</strong> - Edit records in a modal dialog</li>
  </ul>
  
  <p>By default, new rows are added at the top of the DataGrid. You can change this behavior by setting the <a target='_blank' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Grids.GridEditSettings.html#Syncfusion_Blazor_Grids_GridEditSettings_NewRowPosition' aria-label="Navigate to the NewRowPosition property reference for Grid edit settings">NewRowPosition</a> property to <strong>Batch</strong> in <code>GridEditSettings</code>.</p>
  
  <p>In this demo, batch mode is enabled by setting the <a target='_blank' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Grids.GridEditSettings.html#Syncfusion_Blazor_Grids_GridEditSettings_Mode' aria-label="Navigate to the Mode property reference for Grid edit settings">Mode</a> property to <strong>Batch</strong> in the <code>GridEditSettings</code> component. Begin editing by double-clicking a cell and changing its value. When navigating to a new cell, the edited cell is highlighted to indicate which cells have been modified. Bulk save all edited data to the datasource by clicking the <strong>Update</strong> button on the toolbar.</p>
  
  <p>For more detailed information about batch editing, refer to the <a target='_blank' href='https://blazor.syncfusion.com/documentation/datagrid/batch-editing' aria-label="Navigate to the documentation for Batch editing in DataGrid component">batch editing documentation</a>.</p>
</ActionDescription>


<div class="col-lg-12 control-section">
    <div class="content-wrapper">
        <div class="row">
            <SfGrid DataSource="@GridData" Toolbar="@(new List<string>() { "Add", "Delete", "Update", "Cancel" })" AllowPaging="true">
                <GridEditSettings AllowAdding="true" AllowDeleting="true" AllowEditing="true" Mode="EditMode.Batch"></GridEditSettings>
                <GridColumns>
                    <GridColumn Field=@nameof(OrdersDetails.OrderID) HeaderText="Order ID" IsPrimaryKey="true" ValidationRules="@(new ValidationRules{ Required=true, Number=true})" TextAlign="TextAlign.Right" Width="140"></GridColumn>
                    <GridColumn Field=@nameof(OrdersDetails.CustomerID) HeaderText="Customer ID" ValidationRules="@(new ValidationRules{ Required=true})" Width="150"></GridColumn>
                    <GridColumn Field=@nameof(OrdersDetails.Freight) ValidationRules="@(new ValidationRules{ Required=true, Range = new object[]{1, 1000}})" EditType="EditType.NumericEdit" Format="C2" TextAlign="TextAlign.Right" Width="140"></GridColumn>
                    <GridColumn Field=@nameof(OrdersDetails.OrderDate) HeaderText="Order Date" EditType="EditType.DatePickerEdit" Format="d" Type="ColumnType.Date" TextAlign="TextAlign.Right" Width="160"></GridColumn>
                    <GridColumn Field=@nameof(OrdersDetails.ShipCountry) HeaderText="Ship Country" EditType="EditType.DropDownEdit" EditorSettings="@ShipCountryEditParams" Width="150"></GridColumn>
                </GridColumns>
            </SfGrid>
        </div>
    </div>
</div>

@code {

    public List<OrdersDetails>? GridData { get; set; }
    public IEditorSettings ShipCountryEditParams = new DropDownEditCellParams
        {
            Params = new DropDownListModel<object, object>()
            {
                DataSource = new List<OrdersDetails>()
                {
                    new OrdersDetails() { ShipCountry = "Denmark" },
                    new OrdersDetails() { ShipCountry = "Brazil" },
                    new OrdersDetails() { ShipCountry = "Germany" },
                    new OrdersDetails() { ShipCountry = "Austria" },
                    new OrdersDetails() { ShipCountry = "Switzerland" }
                },
                PopupWidth = "100%"
            }
        };


    protected override void OnInitialized()
    {

        GridData = OrdersDetails.GetAllRecords();
    }

}