@page "/datagrid/context-menu"

@using Syncfusion.Blazor.Grids
@using Syncfusion.Blazor.DropDowns
@*Hidden:Lines*@
@using BlazorDemos
@using blazor_ordersdetails
@inherits SampleBaseComponent
@inject NavigationManager NavigationManager


@*End:Hidden*@

<ActionDescription>
<p>This sample demonstrates the DataGrid context menu feature that appears on right-click actions.</p>
  
  <p>Right-click anywhere on the Blazor DataGrid to display the context menu with available operations. Configure the context menu items by setting the <a target='_blank' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Grids.SfGrid-1.html#Syncfusion_Blazor_Grids_SfGrid_1_ContextMenuItems' aria-label="Navigate to the ContextMenuItems property reference for DataGrid component">ContextMenuItems</a> property to predefined options. Menu items are displayed based on their target context.</p>
  
  <p>The available default context menu items are:</p>
  <ul>
    <li><strong>Edit</strong> - Edit the current record.</li>
    <li><strong>Delete</strong> - Delete the current record.</li>
    <li><strong>Save</strong> - Save the edited record.</li>
    <li><strong>Cancel</strong> - Cancel the editing state.</li>
    <li><strong>Copy</strong> - Copy the selected records to clipboard.</li>
    <li><strong>PdfExport</strong> - Export the DataGrid to PDF format.</li>
    <li><strong>ExcelExport</strong> - Export the DataGrid to Excel format.</li>
    <li><strong>CsvExport</strong> - Export the DataGrid to CSV format.</li>
    <li><strong>SortAscending</strong> - Sort the current column in ascending order.</li>
    <li><strong>SortDescending</strong> - Sort the current column in descending order.</li>
    <li><strong>FirstPage</strong> - Navigate to the first page.</li>
    <li><strong>PrevPage</strong> - Navigate to the previous page.</li>
    <li><strong>LastPage</strong> - Navigate to the last page.</li>
    <li><strong>NextPage</strong> - Navigate to the next page.</li>
  </ul>
  
  <p>In this demo, the context menu is enabled with the default set of items.</p>
  
  <p>For more detailed information about the context menu feature, refer to the <a target='_blank' href='https://blazor.syncfusion.com/documentation/datagrid/context-menu' aria-label="Navigate to the documentation for context-menu in DataGrid component">context menu documentation</a>.</p>
</ActionDescription>


<div class="col-lg-12 control-section">
    <div class="content-wrapper">
        <div class="row">
            <SfGrid DataSource="@GridData" AllowSorting="true" AllowExcelExport="true" AllowPdfExport="true" ContextMenuItems="@(new List<object>() { "AutoFit", "AutoFitAll", "SortAscending", "SortDescending","Copy", "Edit", "Delete", "Save", "Cancel","PdfExport", "ExcelExport", "CsvExport", "FirstPage", "PrevPage","LastPage", "NextPage"})" AllowPaging="true">
                <GridEditSettings AllowAdding="true" AllowDeleting="true" AllowEditing="true"></GridEditSettings>
                <GridColumns>
                    <GridColumn Field=@nameof(OrdersDetails.OrderID) HeaderText="Order ID" TextAlign="TextAlign.Right" IsPrimaryKey="true" Width="120"></GridColumn>
                    <GridColumn Field=@nameof(OrdersDetails.CustomerID) HeaderText="Customer ID" EditType="EditType.DropDownEdit" EditorSettings="@CustomerIDEditParams" Width="150"></GridColumn>
                    <GridColumn Field=@nameof(OrdersDetails.OrderDate) HeaderText="Order Date" EditType="EditType.DatePickerEdit" Format="d" Type="ColumnType.Date" TextAlign="TextAlign.Right" Width="160"></GridColumn>
                    <GridColumn Field=@nameof(OrdersDetails.Freight) EditType="EditType.NumericEdit" Format="C2" ValidationRules="@(new ValidationRules{ Required=true, Range = new object[]{1, 1000}})" TextAlign="TextAlign.Right" Width="200" MinWidth="100"></GridColumn>
                    <GridColumn Field=@nameof(OrdersDetails.ShipCountry) HeaderText="Ship Country" EditType="EditType.DropDownEdit" EditorSettings="@ShipCountryEditParams" Width="150"></GridColumn>
                </GridColumns>
            </SfGrid>
        </div>
    </div>
</div>

@code {

    public List<OrdersDetails>? GridData { get; set; }
    public IEditorSettings ShipCountryEditParams = new DropDownEditCellParams
        {
            Params = new DropDownListModel<object, object>()
            {
                DataSource = new List<OrdersDetails>()
                {
                    new OrdersDetails() { ShipCountry = "Denmark" },
                    new OrdersDetails() { ShipCountry = "Brazil" },
                    new OrdersDetails() { ShipCountry = "Germany" },
                    new OrdersDetails() { ShipCountry = "Austria" },
                    new OrdersDetails() { ShipCountry = "Switzerland" }
                },
                PopupWidth = "100%"
            }
        };
    public IEditorSettings CustomerIDEditParams = new DropDownEditCellParams
        {
            Params = new DropDownListModel<object, object>()
            {
                DataSource = new List<OrdersDetails>()
                {
                    new OrdersDetails(){ CustomerID="ALFKI"},
                    new OrdersDetails(){ CustomerID="ANATR"},
                    new OrdersDetails(){ CustomerID="ANTON"},
                    new OrdersDetails(){ CustomerID="BLONP"},
                    new OrdersDetails(){ CustomerID="BOLID"}
                },
                PopupWidth = "100%"
            }
        };

    protected override void OnInitialized()
    {

        GridData = OrdersDetails.GetAllRecords();
    }
}