@page "/datagrid/row-template"

@using Syncfusion.Blazor.Grids
@using blazor_griddata
@inject Microsoft.AspNetCore.Components.NavigationManager UriHelper
@*Hidden:Lines*@
@inherits SampleBaseComponent
@inject NavigationManager NavigationManager


@*End:Hidden*@

<SampleDescription>
  <p>This example shows how to use the DataGrid component's row template feature. Each DataGrid row in this example has been rendered using the template.</p>  
</SampleDescription>
<ActionDescription>
    <p>The Blazor DataGrid Row template feature allows you to change the appearance and behavior of the DataGrid rows. The <a target='_blank' href='https://help.syncfusion.com/cr/aspnetcore-blazor/Syncfusion.Blazor.Grids.GridTemplates.html' aria-label="Navigate to the class reference for GridTemplates">GridTemplates</a> component should be wrapped around the <a target='_blank' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Grids.GridTemplates.html#Syncfusion_Blazor_Grids_GridTemplates_RowTemplate' aria-label="Navigate to the RowTemplate property reference for Grid templates">RowTemplate</a>. <code>RowTemplate</code> content must be <b>TD</b> elements, with the number of <b>TD</b> elements matching the number of DataGrid columns.</p>
   <p>In this demo, employee information with Employee Photo is presented in the first column and Employee details such as Name, Address and so on are presented in the second column.</p>
    <p>More information about the Row template feature can be found in this <a target='_blank' href='https://blazor.syncfusion.com/documentation/datagrid/row-template' aria-label="Navigate to the documentation for row template in DataGrid component">documentation</a> section.</p>
</ActionDescription>

<div class="col-lg-12 control-section">
    <div class="content-wrapper">
        <div class="row">
            <SfGrid DataSource="@GridData" Height="335">
                <GridTemplates>
                    <RowTemplate>
                        @{
                            var employee = (context as Employee);
                            <td class="photo">
                                 <img src="@UriHelper.ToAbsoluteUri($"{SampleService.WebAssetsPath}images/data-grid/{employee.EmployeeID}.png")" alt="@employee.EmployeeID" /></td>
                            <td class="details">
                                <table class="CardTable" cellpadding="3" cellspacing="2">
                                    <colgroup>
                                        <col width="50%">
                                        <col width="50%">
                                    </colgroup>
                                    <tbody>
                                        <tr>
                                            <td class="CardHeader">First Name </td>
                                            <td>@employee.FirstName </td>
                                        </tr>
                                        <tr>
                                            <td class="CardHeader">Last Name</td>
                                            <td>@employee.LastName </td>
                                        </tr>
                                        <tr>
                                            <td class="CardHeader">
                                                Title
                                            </td>
                                            <td>
                                                @employee.Title
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="CardHeader">
                                                Birth Date
                                            </td>
                                            <td>
                                                @employee.BirthDate.ToShortDateString()
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="CardHeader">
                                                Hire Date
                                            </td>
                                            <td>
                                                @employee.HireDate.ToShortDateString()
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        }
                    </RowTemplate>
                </GridTemplates>
                <GridColumns>
                    <GridColumn HeaderText="Employee Image" Width="150" TextAlign="TextAlign.Center" > </GridColumn>
                    <GridColumn HeaderText="Employee Details" Width="200" TextAlign="TextAlign.Center"></GridColumn>
                </GridColumns>
            </SfGrid>
        </div>
    </div>
</div>

@code{

    public List<Employee> GridData { get; set; }
    

    protected override void OnInitialized()
    {
        
        GridData = Employee.GetAllRecords();
    }
}

@*Hidden:Lines*@
<style type="text/css" class="cssStyles">
    .photo img {
        width: 100px;
        height: 100px;
        border-radius: 50px;
        box-shadow: inset 0 0 1px #e0e0e0, inset 0 0 14px rgba(0, 0, 0, 0.2);
    }

    .photo,
    .details {
        border-color: #e0e0e0;
        border-style: solid;
    }

    .photo {
        border-width: 1px 0px 0px 0px;
        text-align: center;
    }

    .details {
        border-width: 1px 0px 0px 0px;
        padding-left: 18px;
    }

    .e-bigger .details {
        padding-left: 25px;
    }

    .e-device .details {
        padding-left: 8px;
    }

    .details > table {
        width: 100%;
    }

    .CardHeader {
        font-weight: 600;
    }

    td {
        padding: 2px 2px 3px 4px;
    }
</style>
@*End:Hidden*@