@page "/datagrid/keyboard-navigation"

@using Syncfusion.Blazor.Grids
@using Syncfusion.Blazor.DropDowns
@using BlazorDemos
@using blazor_griddata
@*Hidden:Lines*@
@inherits SampleBaseComponent
@inject NavigationManager NavigationManager


@*End:Hidden*@

<SampleDescription>
    <p>Keyboard shortcuts can be used to interact with DataGrid functionality. In the example below, various key combinations can be used to interact with the grid.</p>
</SampleDescription>
<ActionDescription>
    <i>The key combinations listed below can be used in the grid to initiate various actions.</i>
    <ul>
         <li>
            <b>FOCUS ELEMENTS</b>
            <ul>
                <li>
                    <span class="key-class"><kbd>Alt</kbd> + <kbd>J</kbd></span>
                    <span> - Moves the focus to the grid element.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Home</kbd></span>
                    <span> - Moves the focus to the first cell of the focused row.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>End</kbd></span>
                    <span> - Moves the focus to the last cell of the focused row.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Ctrl</kbd> + <kbd>Home</kbd></span>
                    <span> - Moves the focus to the first Cell of the first row in our
                    DataGrid component.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Ctrl</kbd> + <kbd>End</kbd></span>
                    <span> - Moves the focus to the last Cell of the last row in our DataGrid
                    component.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Down arrow</kbd></span>
                    <span> - Moves the cell focus downward from the focused cell.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Up arrow</kbd></span>
                    <span> - Moves the cell focus upward from the focused cell.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Left arrow</kbd></span>
                    <span> - Moves the cell focus left side from the focused cell.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Right arrow</kbd></span>
                    <span> - Moves the cell focus right side from the focused cell.</span>
                </li>
                 <li>
                    <span class="key-class"><kbd>Alt</kbd> + <kbd>W</kbd></span>
                    <span> - Move the focus to the first cell of the grid content.</span>
                </li>
            </ul>
        </li>
        <li>
            <b>PAGER</b>
            <ul>
                <li>
                    <span class="key-class"><kbd>Page down</kbd></span>
                    <span> - Navigates to the next page.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Page up</kbd></span>
                    <span> - Navigates to the previous page.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Ctrl</kbd> + <kbd>Alt</kbd> + <kbd>Page down</kbd></span>
                    <span> - Navigates to the last page.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Ctrl</kbd> + <kbd>Alt</kbd> + <kbd>Page up</kbd></span>
                    <span> - Navigates to the first page.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Alt</kbd> + <kbd>Page down</kbd></span>
                    <span> - Navigates to the last pager.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Alt</kbd> + <kbd>Page up</kbd></span>
                    <span> - Navigates to the first pager.</span>
                </li>
            </ul>
        </li>       
        <li>
            <b>SELECTION</b>
            <ul>
                <li>
                    <span class="key-class"><kbd>Shift</kbd> + <kbd>Down arrow</kbd></span>
                    <span> - Extends the row/cell selection downwards from the
                    selected row/cell.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Shift</kbd> + <kbd>Up arrow</kbd></span>
                    <span> - Extends the row/cell selection upwards from the selected
                    row/cell.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Shift</kbd> + <kbd>Left arrow</kbd></span>
                    <span> - Extends the cell selection to the left side from the
                    selected cell.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Shift</kbd> + <kbd>Right arrow</kbd></span>
                    <span> - Extends the cell selection to the right side from the
                    selected cell.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Shift</kbd> + <kbd>Enter</kbd></span>
                    <span> - Moves the row/cell selection upward from the selected row.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Tab</kbd></span>
                    <span> - Moves the cell selection right side from the selected cell.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Shift</kbd> + <kbd>Tab</kbd></span>
                    <span> - Moves the cell selection left side from the selected cell.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Esc</kbd></span>
                    <span> - Deselects all the selected row/cells.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Ctrl</kbd> + <kbd>A</kbd></span>
                    <span> - Select all the row/cells in the current page.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Up arrow</kbd></span>
                    <span> - Moves up a row/cell selection from the selected row/cell.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Down arrow</kbd></span>
                    <span> - Moves down a row/cell selection from the selected row/cell.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Right arrow</kbd></span>
                    <span> - Moves to the right cell selection from the selected cell.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Left arrow</kbd></span>
                    <span> - Moves to the left cell selection from the selected cell.</span>
                </li>
            </ul>
        </li>
        <li>
            <b>EDITING</b>
            <ul>
                <li>
                    <span class="key-class"><kbd>F2</kbd></span>
                    <span> - Starts editing of selected row if Mode is Normal/Dialog or Starts editing of
                    selected cell if Mode is Batch.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Esc</kbd></span>
                    <span> - Cancels the editing of the particular row/cell.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Del</kbd></span>
                    <span> - Deletes the current selected record.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Insert</kbd></span>
                    <span> - Creates a new add form depending on the NewRowPosition.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Tab</kbd></span>
                    <span> - Navigates to the next editable cell if the Mode is Normal or Dialog / Saves the
                    current cell and starts editing the next cell if Mode is Batch.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Shift</kbd> + <kbd>Tab</kbd></span>
                    <span> - Navigates to the previous editable cell if the Mode is Normal or
                    Dialog / Saves the current cell and starts editing the previous cell if Mode is Batch.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Enter</kbd></span>
                    <span> - Saves the current form if the Mode is Normal or Dialog / Saves the current cell
                    and starts editing the next row cell if Mode is Batch.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Shift</kbd> + <kbd>Enter</kbd></span>
                    <span> - Saves the current cell and starts editing the previous row
                    cell if Mode is Batch.</span>
                </li>
            </ul>
        </li>
         <li>
            <b>FILTERING</b>
            <ul>
                <li>
                    <span class="key-class"><kbd>Alt</kbd> + <kbd>Down arrow</kbd></span>
                    <span> - Opens the filter menu(excel, menu and checkbox filter) when its header element is in focused state.</span>
                </li>
            </ul>
        </li>
         <li>
            <b>SORTING</b>
            <ul>
                <li>
                    <span class="key-class"><kbd>Ctrl</kbd> + <kbd>Enter</kbd></span>
                    <span> - Performs multi-sorting on a column when its header element is in focused state.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Shift</kbd> + <kbd>Enter</kbd></span>
                    <span> - Clears sorting for the focused header column.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Enter</kbd></span>
                    <span> - Performs sorting(ascending/descending) on a column when its header element is in focused state.</span>
                </li>
            </ul>
        </li>
        <li>
            <b>GROUPING</b>
            <ul>
                <li>
                    <span class="key-class"><kbd>Alt</kbd> + <kbd>Down arrow</kbd></span>
                    <span> - Expands the Selected Grouped Cell.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Ctrl</kbd> + <kbd>Down arrow</kbd></span>
                    <span> - Expands all the Visible Group.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Alt</kbd> + <kbd>Up arrow</kbd></span>
                    <span> - Collapses the selected group.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Ctrl</kbd> + <kbd>Up arrow</kbd></span>
                    <span> - Collapses all the visible groups.</span>
                </li>
            </ul>
        </li>
        <li>
            <b>COPY</b>
            <ul>
                <li>
                    <span class="key-class"><kbd>Ctrl</kbd> + <kbd>C</kbd></span>
                    <span> - Copy selected rows or cells data into clipboard.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Ctrl</kbd> + <kbd>Shift</kbd> + <kbd>H</kbd></span>
                    <span> - Copy selected rows or cells data with header
                    into clipboard.</span>
                </li>
            </ul>
        </li>
        <li>
            <b>PRINT</b>
            <ul>
                <li>
                    <span class="key-class"><kbd>Ctrl</kbd> + <kbd>P</kbd></span>
                    <span> - Prints the DataGrid.</span>
                </li>
            </ul>
        </li>
    </ul>
</ActionDescription>


<div class="col-lg-12 control-section">
    <div class="content-wrapper">
        <div class="row">

            <SfGrid DataSource="@GridData" Height="400" AllowFiltering="true" AllowGrouping="true"
                Toolbar="@(new List<string>() { "Add", "Edit", "Delete", "Update", "Cancel" })" AllowPaging="true" AllowSorting="true">
                <GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.Menu"></GridFilterSettings>
                <GridEditSettings AllowAdding="true" AllowDeleting="true" AllowEditing="true"></GridEditSettings>
                <GridSelectionSettings Type="SelectionType.Multiple" Mode="Syncfusion.Blazor.Grids.SelectionMode.Cell">
                </GridSelectionSettings>
                <GridColumns>
                    <GridColumn Field=@nameof(OrdersDetails.OrderID) HeaderText="Order ID" IsPrimaryKey="true"
                        ValidationRules="@(new ValidationRules{ Required=true, Number=true})"
                        TextAlign="TextAlign.Right" Width="140"></GridColumn>
                    <GridColumn Field=@nameof(OrdersDetails.CustomerID) HeaderText="Customer ID"
                        ValidationRules="@(new ValidationRules{ Required=true})" Width="150">
                        <EditTemplate>
                            <SfAutoComplete TItem="Customer" TValue="string" ID="CustomerID" 
                                @bind-Value="@((context as OrdersDetails).CustomerID)" DataSource="@CustomerData">
                                <AutoCompleteFieldSettings Value="CustomerID"></AutoCompleteFieldSettings>
                            </SfAutoComplete>
                        </EditTemplate>
                    </GridColumn>
                    <GridColumn Field=@nameof(OrdersDetails.Freight) ValidationRules="@(new ValidationRules{ Required=true, Range = new object[]{1, 1000}})" AllowGrouping="false"
                        EditType="EditType.NumericEdit" Format="C2" TextAlign="TextAlign.Right" Width="140">
                    </GridColumn>
                    <GridColumn Field=@nameof(OrdersDetails.OrderDate) HeaderText="Order Date"
                        EditType="EditType.DatePickerEdit" Format="d" Type="ColumnType.Date" TextAlign="TextAlign.Right"
                        Width="160"></GridColumn>
                    <GridColumn Field=@nameof(OrdersDetails.ShipCountry) HeaderText="Ship Country"
                        EditType="EditType.DropDownEdit" Width="150"></GridColumn>
                </GridColumns>
            </SfGrid>

        </div>
    </div>
</div>

@code {

    public List<OrdersDetails> GridData { get; set; }
    

    protected override void OnInitialized()
    {
        
        GridData = OrdersDetails.GetAllRecords();
    }
    public class Customer
    {
        public string CustomerID { get; set; }
    }
    List<Customer> CustomerData = new List<Customer>
    {
        new Customer() { CustomerID= "ALFKI" },
        new Customer() { CustomerID= "ANATR"},
        new Customer() { CustomerID= "ANTON"},
        new Customer() { CustomerID= "BLONP" },
        new Customer() { CustomerID= "BOLID"},
    };
}

@*Hidden:Lines*@
<style>
    .key-class {
        display: inline-block;
        width: 190px;
    }
</style>
@*End:Hidden*@