@page "/gantt-chart/advanced-filtering"

@using Syncfusion.Blazor.Buttons;
@using Syncfusion.Blazor.Data
@using Syncfusion.Blazor.Gantt
@using Syncfusion.Blazor.Grids;
@using Syncfusion.Blazor.Navigations
@using Syncfusion.Blazor.QueryBuilder;
@using BlazorDemos.Pages.GanttChart.Data

@*Hidden:Lines*@
@inject SampleService SampleService
@implements IDisposable
@*End:Hidden*@

<SampleDescription>
    <p>
		This sample demonstrates how to integrate the <code>QueryBuilder</code> component with the <a class="e-gantt-advancefiltering-reference-link" aria-label="Navigate to the explore Syncfusion Blazor Gantt Chart component"
                                                                                         href="https://www.syncfusion.com/blazor-components/blazor-gantt-chart"
                                                                                         target="_blank">Blazor Gantt Chart</a> to enable complex filtering capabilities.
    </p>

    <p>
        In this example, a filter query is constructed using the <a class="e-gantt-advancefiltering-reference-link" aria-label="Navigate to the documentation for getting started with query builder component" target="_blank" href="https://blazor.syncfusion.com/documentation/query-builder/getting-started">QueryBuilder</a> interface and then applied to the Gantt Chart by updating its
        <a class="e-gantt-advancefiltering-reference-link" aria-label="Navigate to the query property reference for gantt chart component" target="_blank" href="https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Gantt.SfGantt-1.html#Syncfusion_Blazor_Gantt_SfGantt_1_Query">Query</a> property.
    </p>

    <p>
		The <code>QueryBuilder</code> tool is placed inside a <a class="e-gantt-advancefiltering-reference-link" aria-label="Navigate to the documentation for getting started with sidebar component" target="_blank" href="https://blazor.syncfusion.com/documentation/sidebar/getting-started">SideBar</a>
        component, which becomes visible when the toolbar button is clicked.
    </p>

    <p>
        This integration allows for advanced, condition-based filtering, making it easier to analyze and manage project data with precision. Logical operations are performed on task fields during the filtering process, enabling highly customizable and targeted data views.
    </p>
</SampleDescription>

<div class="control-section e-gantt-advanceFilter-sample">
	<div style="padding-left: 10px; padding-right: 20px;">
		@if (IsSidebarVisible)
		{
			<SfSidebar Animate="false" Width="65%" Type="SidebarType.Over" Target="#GanttAdvancedFilter" Position="SidebarPosition.Right" @bind-IsOpen="IsSidebarOpen">
				<ChildContent>
					<div class="title-header">
						<div class="e-gantt-advance-filtering-title">
							Advanced Filters
						</div>
						<span id="close" class="e-close" @onclick="@CloseSidebar" style="position: absolute; top: 2%; right: 4%;"></span>
					</div>
					<div>
						<SfQueryBuilder @ref="QueryBuilder" DataSource="@QueryBuilderDataSource" AllowValidation="true" Width="100%">
							<QueryBuilderEvents TValue="ColumnDetail" RuleChanged="UpdateRule" Created="OnCreated"></QueryBuilderEvents>
							<QueryBuilderColumns>
								<QueryBuilderColumn Field="TaskId" Label="ID" Type=Syncfusion.Blazor.QueryBuilder.ColumnType.Number></QueryBuilderColumn>
								<QueryBuilderColumn Field="TaskName" Label="Task Name" Type=Syncfusion.Blazor.QueryBuilder.ColumnType.String></QueryBuilderColumn>
								<QueryBuilderColumn Field="StartDate" Label="Start Date" Type=Syncfusion.Blazor.QueryBuilder.ColumnType.Date></QueryBuilderColumn>
								<QueryBuilderColumn Field="Duration" Label="Duration" Type=Syncfusion.Blazor.QueryBuilder.ColumnType.String></QueryBuilderColumn>
								<QueryBuilderColumn Field="EndDate" Label="End Date" Type=Syncfusion.Blazor.QueryBuilder.ColumnType.Date></QueryBuilderColumn>
							</QueryBuilderColumns>
						</SfQueryBuilder>
					</div>
					<div style="padding: 2%; float: right;">
						<SfButton style="background: #0078d4; border-color: #0078d4; color: #fff;" @onclick="ApplyFilters">Apply</SfButton>
						<SfButton style="margin-left: 5px;" @onclick="ClearFilters">Clear</SfButton>
					</div>
				</ChildContent>
			</SfSidebar>
		}
	</div>

	<SfGantt @ref="GanttInstance" ID="GanttAdvancedFilter" DataSource="@TaskCollection" AllowResizing="true" Height="450px" Width="100%" HighlightWeekends="true"
			 TreeColumnIndex="1" ProjectStartDate="@(new DateTime(2021, 3, 24))" ProjectEndDate="@(new DateTime(2021, 7, 6))"
			 Query="@SearchQuery" ScrollToTaskbarOnClick="true" Toolbar="@ToolbarItems">
		<GanttTaskFields Id="TaskId" Name="TaskName" StartDate="StartDate" EndDate="EndDate"
						 Duration="Duration" ParentID="ParentId" Dependency="Predecessor"></GanttTaskFields>
		<GanttColumns>
			<GanttColumn Field="TaskId" HeaderText="ID"></GanttColumn>
			<GanttColumn Field="TaskName" HeaderText="Task Name" ClipMode="Syncfusion.Blazor.Grids.ClipMode.EllipsisWithTooltip" Width="280px"></GanttColumn>
			<GanttColumn Field="StartDate" HeaderText="Start Date"></GanttColumn>
			<GanttColumn Field="Duration" HeaderText="Duration"></GanttColumn>
			<GanttColumn Field="EndDate" HeaderText="End Date"></GanttColumn>
		</GanttColumns>
		<GanttSplitterSettings Position="380px"></GanttSplitterSettings>
		<GanttLabelSettings LeftLabel="TaskName" TValue="FilterData.TaskData"></GanttLabelSettings>
		<GanttEvents TValue="FilterData.TaskData" RowSelected="OnRowSelected" OnToolbarClick="ToolbarClickHandler"></GanttEvents>
	</SfGantt>
</div>

@code{
	
	/// <summary>
	/// Initializes the Advanced Filtering sample with task data.
	/// </summary>
	protected override void OnInitialized()
	{
		TaskCollection = FilterData.GetTaskCollection();
		@*Hidden:Lines*@
		SampleService.TouchMousePreferenceChanged += OnTouchMousePreferenceChanged;
		@*End:Hidden*@
	}

	@*Hidden:Lines*@
	private async void OnTouchMousePreferenceChanged()
	{
		await GanttInstance.RefreshAsync();
		await GanttInstance.CallStateHasChangedAsync();
	}

	public void Dispose()
	{
		SampleService.TouchMousePreferenceChanged -= OnTouchMousePreferenceChanged;
	}
	@*End:Hidden*@
}
<style>
	.container-fluid {
		padding: 0px !important;
	}

	.e-gantt-advanceFilter-sample #wrapper #close:before {
		font-family: 'e-icons' !important;
		content: '\e109';
	}

	.e-gantt-advanceFilter-sample .material3 .e-sidebar-absolute,
	.fluent .e-sidebar-absolute,
	.fluent2 .e-sidebar-absolute,
	.bootstrap5 .e-sidebar-absolute,
	.tailwind .e-sidebar-absolute {
		background: #f3f2f1;
	}

	.material3-dark .e-sidebar-absolute,
	.fluent-dark .e-sidebar-absolute,
	.fluent2-dark .e-sidebar-absolute,
	.bootstrap5-dark .e-sidebar-absolute,
	.tailwind-dark .e-sidebar-absolute,
	.highcontrast .e-sidebar-absolute,
	.fluent2-highcontrast .e-sidebar-absolute {
		background: #0C0D0E;
	}

	.material3 .e-query-builder,
	.fluent .e-query-builder,
	.fluent2 .e-query-builder,
	.bootstrap5 .e-query-builder,
	.tailwind .e-query-builder {
		background: #fff;
	}

	.material3-dark .e-query-builder,
	.fluent-dark .e-query-builder,
	.fluent2-dark .e-query-builder,
	.bootstrap5-dark .e-query-builder,
	.tailwind-dark .e-query-builder,
	.highcontrast .e-query-builder,
	.fluent2-highcontrast .e-query-builder {
		background: #000000;
	}

	.material3 .e-filter-icon::before,
	.material3-dark .e-filter-icon::before,
	.material3 .e-filter-icon::before {
		content: '\e7f7';
		font-family: 'e-icons';
		font-size: 13px;
	}

	.material .e-filter-icon::before,
	.material-dark .e-filter-icon::before,
	.material .e-filter-icon::before {
		content: '\e251';
		font-family: 'e-icons';
		font-size: 13px;
	}

	.tailwind .e-filter-icon::before,
	.tailwind-dark .e-filter-icon::before {
		content: '\e7f7';
		font-family: 'e-icons';
		font-size: 13px;
	}

	.bootstrap4 .e-filter-icon::before {
		content: '\e714';
		font-family: 'e-icons';
		font-size: 13px;
	}

	.fabric .e-close::before,
	.fabric-dark .e-close::before {
		content: '\e7fc';
		font-family: 'e-icons';
	}

	.tailwind .e-close::before,
	.tailwind-dark .e-close::before {
		content: '\e7e7';
		font-family: 'e-icons';
	}

	.bootstrap4 .e-close::before {
		content: '\e745';
		font-family: 'e-icons';
	}

	.fabric .e-filter-icon::before,
	.fabric-dark .e-filter-icon::before,
	.highcontrast .e-filter-icon::before {
		content: '\e7f7';
		font-family: 'e-icons';
		font-size: 13px;
	}

	.bootstrap .e-filter-icon::before,
	.bootstrap-dark .e-filter-icon::before {
		content: '\e249';
		font-family: 'e-icons';
		font-size: 13px;
	}

	.e-gantt-advanceFilter-sample .bootstrap4 .e-filter-icon::before {
		content: '\e714';
		font-family: 'e-icons';
		font-size: 13px;
	}

	.fabric .e-filter-icon::before,
	.fabric-dark .e-filter-icon::before,
	.highcontrast .e-filter-icon::before {
		content: '\e250';
		font-family: 'e-icons';
		font-size: 13px;
	}

	.fluent .e-filter-icon::before, .fluent-dark .e-filter-icon::before,
	.tailwind3 .e-filter-icon::before, .tailwind3-dark .e-filter-icon::before,
	.fluent2 .e-filter-icon::before, .fluent2-dark .e-filter-icon::before, .fluent2-highcontrast .e-filter-icon::before,
	.bootstrap5\.3 .e-filter-icon::before, .bootstrap5\.3-dark .e-filter-icon::before, .bootstrap5 .e-filter-icon::before, .bootstrap5-dark .e-filter-icon::before {
		content: '\e7f7';
		font-family: 'e-icons';
		font-size: 13px;
	}	

	@@media screen and (max-width: 768px) {
		.e-gantt-advanceFilter-sample .e-bigger .e-sidebar {
			width: 100% !important;
		}
	}
	.e-gantt-advanceFilter-sample .e-btn-icon.e-icon-left {
		margin-top: -1px;
	}
</style>
