@page "/gantt-chart/filtering"

@using Syncfusion.Blazor.DropDowns
@using Syncfusion.Blazor.Gantt
@using Syncfusion.Blazor.Navigations
@using BlazorDemos.Pages.GanttChart.Data

@*Hidden:Lines*@
@inject SampleService SampleService
@implements IDisposable
@*End:Hidden*@

<ActionDescription>
    <p>
		This sample demonstrates the filtering feature in the <a class="e-gantt-filtering-reference-link" aria-label="Navigate to the explore Syncfusion Blazor Gantt Chart component"
                                                                 href="https://www.syncfusion.com/blazor-components/blazor-gantt-chart"
																 target="_blank" rel="noopener">Blazor Gantt Chart</a>, which allows viewing a reduced set of records based on specific filter criteria. To enable filtering, set the <a class="e-gantt-filtering-reference-link" aria-label="Navigate to the AllowFiltering property reference for gantt chart component" target='_blank' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Gantt.SfGantt-1.html#Syncfusion_Blazor_Gantt_SfGantt_1_AllowFiltering'>AllowFiltering</a> property to <code>true</code>.
    </p>
    <p>
		The Gantt Chart also supports multiple filtering modes through the <a class="e-gantt-filtering-reference-link" aria-label="Navigate to the HierarchyMode property reference for gantt filter settings" target="_blank" rel="noopener" href="https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Gantt.GanttFilterSettings.html#Syncfusion_Blazor_Gantt_GanttFilterSettings_HierarchyMode">HierarchyMode</a> property. These modes determine how related records are displayed when a filter is applied:
    </p>
    <ul>
        <li><code>Parent</code> - Displays filtered records along with their parent tasks. If no parent exists, only the filtered records are shown.</li>
        <li><code>Child</code> - Displays filtered records along with their child tasks. If no child exists, only the filtered records are shown.</li>
        <li><code>Both</code> - Displays filtered records along with both parent and child tasks. If no related tasks exist, only the filtered records are shown.</li>
        <li><code>None</code> - Displays only the filtered records without any hierarchical context.</li>
    </ul>
    <p>
        These options provide flexibility in how task relationships are visualized during filtering.
    </p>
    <p>
		For further details, refer to the <a class="e-gantt-filtering-reference-link" aria-label="Navigate to the documentation for filtering in gantt chart component" target="_blank" rel="noopener" href="https://blazor.syncfusion.com/documentation/gantt-chart/filtering">documentation</a>.
    </p>
</ActionDescription>

<div class="control-section e-gantt-filter-sample">
	<SfGantt @ref="GanttInstance" DataSource="@TaskCollection" Height="550px" Width="100%" HighlightWeekends="true" TreeColumnIndex="1" AllowFiltering="true" AllowSorting="true"
			 ProjectStartDate="@(new DateTime(2021, 3, 24))" ProjectEndDate="@(new DateTime(2021, 7, 6))" ScrollToTaskbarOnClick="true" Toolbar="@ToolbarItems">
		<GanttTaskFields Id="TaskId" Name="TaskName" StartDate="StartDate" EndDate="EndDate" Duration="Duration" ParentID="ParentId" Dependency="Predecessor"></GanttTaskFields>
		<GanttColumns>
			<GanttColumn Field="TaskId" HeaderText="Task ID" Width="120"></GanttColumn>
			<GanttColumn Field="TaskName" HeaderText="Service Name" Width="250" ClipMode="Syncfusion.Blazor.Grids.ClipMode.EllipsisWithTooltip"></GanttColumn>
			<GanttColumn Field="StartDate" HeaderText="Start Time" Width="130"></GanttColumn>
			<GanttColumn Field="Duration" HeaderText="Duration" Width="130"></GanttColumn>
			<GanttColumn Field="EndDate" HeaderText="End Time" Width="130"></GanttColumn>
		</GanttColumns>
		<GanttFilterSettings HierarchyMode="@CurrentHierarchyMode"></GanttFilterSettings>
		<GanttSplitterSettings Position="60%"></GanttSplitterSettings>
		<GanttLabelSettings LeftLabel="TaskName" TValue="FilterData.TaskData"></GanttLabelSettings>
	</SfGantt>
</div>
@code{
    /// <summary>
    /// Initializes the Filtering sample with task data and toolbar configuration.
    /// </summary>
    protected override void OnInitialized()
    {
        TaskCollection = FilterData.GetTaskCollection();
        ToolbarItems = new List<Object>
        {
            new ItemModel
            {
                Id = "HierarchyLabel",
                Template = (RenderFragment)(builder =>
                {
                    builder.OpenElement(0, "label");
                    builder.AddAttribute(1, "class", "showhide");
                    builder.AddAttribute(2, "style", "margin-right: 10px;");
                    builder.AddContent(3, "Hierarchy Mode:");
                    builder.CloseElement();
                })
            },
            new ItemModel
            {
                Id = "HierarchyDropDown",
                Align = ItemAlign.Left,
                Template = (RenderFragment)(builder =>
                {
                    builder.OpenComponent<SfDropDownList<string, HierarchyModeFields>>(0);
                    builder.AddAttribute(1, "Width", "150px");
                    builder.AddAttribute(2, "DataSource", HierarchyModes);
                    builder.AddAttribute(3, "Placeholder", "Select Mode");
                    builder.AddAttribute(4, "Value", selectedHierarchyMode);
                    builder.AddAttribute(5, "ValueChanged", EventCallback.Factory.Create<string>(this, v => selectedHierarchyMode = v));
                    builder.AddAttribute(6, "Text", "Text");
                    builder.AddAttribute(7, "ValueField", "Id");
                    builder.AddAttribute(8, "TItem", typeof(HierarchyModeFields));
                    builder.AddAttribute(9, "ChildContent", (RenderFragment)(childBuilder =>
                    {
                        childBuilder.OpenComponent<DropDownListFieldSettings>(0);
                        childBuilder.AddAttribute(1, "Text", "Text");
                        childBuilder.AddAttribute(2, "Value", "Id");
                        childBuilder.CloseComponent();
                        childBuilder.OpenComponent<DropDownListEvents<string, HierarchyModeFields>>(3);
                        childBuilder.AddAttribute(4, "ValueChange", EventCallback.Factory.Create<ChangeEventArgs<string, HierarchyModeFields>>(this, OnHierarchyModeChanged));
                        childBuilder.CloseComponent();
                    }));
                    builder.CloseComponent();
                })
            }
        };
        @*Hidden:Lines*@
        SampleService.TouchMousePreferenceChanged += OnTouchMousePreferenceChanged;
        @*End:Hidden*@
    }
    @*Hidden:Lines*@
    private async void OnTouchMousePreferenceChanged()
    {
        await GanttInstance.RefreshAsync();
        await GanttInstance.CallStateHasChangedAsync();
    }

    public void Dispose()
    {
        SampleService.TouchMousePreferenceChanged -= OnTouchMousePreferenceChanged;
    }
    @*End:Hidden*@
}
<style>
	.container-fluid {
		padding: 0px !important;
	}

	.e-gantt-filter-sample {
		padding: 20px;
	}

		.e-gantt-filter-sample .showhide {
			font-size: 14px;
			font-weight: 700;
			margin-bottom: 0px;
		}

		.e-gantt-filter-sample .e-toolbar .e-toolbar-item > * {
			margin-right: 5px;
		}

		.e-gantt-filtering-reference-link {
			text-decoration: none !important;
		}

		.e-gantt-filtering-reference-link:hover,
		.e-gantt-filtering-reference-link:focus {
			text-decoration: underline !important;
		}
</style>
