@page "/gantt-chart/multi-taskbar"

@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.Gantt
@using BlazorDemos.Pages.GanttChart.Data

@*Hidden:Lines*@
@inject SampleService SampleService
@implements IDisposable
@*End:Hidden*@

<SampleDescription>
    <p>
		This sample demonstrates how to visualize tasks assigned to a resource within a collapsed parent row using the <a class="e-gantt-multitaskbar-reference-link" aria-label="Navigate to the explore Syncfusion Blazor Gantt Chart component"
                                                                                                                          href="https://www.syncfusion.com/blazor-components/blazor-gantt-chart"
                                                                                                                          target="_blank">Blazor Gantt Chart</a>, along with the ability to modify task scheduling while the row remains collapsed. This functionality is enabled by setting the
		<a class="e-gantt-multitaskbar-reference-link" aria-label="Navigate to the EnableMultiTaskbar property reference
for gantt taskbar settings" target='_blank' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Gantt.GanttTaskbarSettings.html#Syncfusion_Blazor_Gantt_GanttTaskbarSettings_EnableMultiTaskbar'>EnableMultiTaskbar</a> property of
		<a class="e-gantt-multitaskbar-reference-link" aria-label="Navigate to the class reference for gantt taskbar settings" target="_blank" href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Gantt.GanttTaskbarSettings.html'>GanttTaskbarSettings</a> to <code>true</code>.
    </p>

    <p>
        It also showcases vertical drag-and-drop support for taskbars between different resources. To enable this feature,
		set the <a class="e-gantt-multitaskbar-reference-link" aria-label="Navigate to the AllowTaskbarDragAndDrop property reference for gantt taskbar settings"
			   target="_blank" href="https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Gantt.GanttTaskbarSettings.html#Syncfusion_Blazor_Gantt_GanttTaskbarSettings_AllowTaskbarDragAndDrop">AllowTaskbarDragAndDrop</a> 
        property of <code>GanttTaskbarSettings</code> to <code>true</code>.
    </p>

    <p>
        In this demo, resource assignments are defined using a collection that includes both resource IDs and task IDs, allowing tasks 
        to be mapped to specific resources. Task-related resource information is displayed using the
		<a class="e-gantt-multitaskbar-reference-link" aria-label="Navigate to the task label property reference for gantt label settings" target="_blank" href="https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Gantt.GanttLabelSettings-1.html#Syncfusion_Blazor_Gantt_GanttLabelSettings_1_TaskLabel">TaskLabel</a> property of the
		<a class="e-gantt-multitaskbar-reference-link" aria-label="Navigate to the class reference for gantt label settings" target="_blank" href="https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Gantt.GanttLabelSettings-1.html">GanttLabelSettings</a>.
    </p>


    <p>
		Resources are mapped using the <a class="e-gantt-multitaskbar-reference-link" aria-label="Navigate to the class reference for gantt resource fields" target="_blank" href="https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Gantt.GanttResource-2.html">GanttResource</a> component with the following properties:
    </p>
    <ul>
        <li><code>Id</code> – Maps the resource ID.</li>
        <li><code>Name</code> – Maps the resource name.</li>
        <li><code>MaxUnits</code> – Defines the maximum allocation units for a resource.</li>
        <li><code>DataSource</code> – Specifies the data source for resource mapping.</li>
    </ul>

    <p>
		Resource assignments can be mapped using the <a class="e-gantt-multitaskbar-reference-link" aria-label="Navigate to the class reference for gantt assignment fields" target="_blank" href="https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Gantt.GanttAssignmentFields-2.html">GanttAssignmentFields</a> component with the following properties:
    </p>
    <ul>
        <li><code>PrimaryKey</code> – Maps the primary key field.</li>
        <li><code>TaskID</code> – Maps the task identifier.</li>
        <li><code>ResourceID</code> – Maps the resource identifier.</li>
        <li><code>DataSource</code> – Specifies the data source for resource assignment mapping.</li>
    </ul>

    <p>
        The toolbar provides built-in options for add, update, delete, expand, and collapse operations, enabling interactive task management.
    </p>
    <p>
		For further details, refer to the <a class="e-gantt-multitaskbar-reference-link" aria-label="Navigate to the documentation for MultiTaskbar in gantt chart component" target="_blank" href="https://blazor.syncfusion.com/documentation/gantt-chart/resource-view#multi-taskbar">documentation</a>.
    </p>
</SampleDescription>

<div class="control-section e-gantt-multi-taskbar-sample">
	<div class="e-switch-control">
		<label class="showhide">Allow Taskbar Drag And Drop</label>
		<SfSwitch @bind-Checked="@IsTaskbarDragAndDropEnabled" TChecked="bool"></SfSwitch>
	</div>

	<SfGantt @ref="GanttInstance" DataSource="@TaskCollection" Height="450px" Width="100%"
			 ShowOverallocation="true" TreeColumnIndex="1" RowHeight="38"
			 ViewType="ViewType.ResourceView" CollapseAllParentTasks="true"
			 Toolbar="@(new List<object>() { "Add", "Cancel", "Update", "Delete", "Edit", "CollapseAll", "ExpandAll" })"
			 AllowResizing="true" ScrollToTaskbarOnClick="true">
		<GanttTaskFields Id="Id" Name="Name" StartDate="StartDate" EndDate="EndDate"
						 Duration="Duration" Progress="Progress" ParentID="ParentId"
						 Work="Work" Dependency="Predecessor">
		</GanttTaskFields>
		<GanttResource DataSource="@Resources" Id="Id" Name="Name" MaxUnits="MaxUnit"
					   Group="Group" TValue="MultiTaskbarData.TaskInfoModel"
					   TResources="MultiTaskbarData.ResourceInfoModel">
		</GanttResource>
		<GanttAssignmentFields DataSource="@Assignments" PrimaryKey="Id"
							   TaskID="TaskId" ResourceID="ResourceId"
							   Units="Unit" TValue="MultiTaskbarData.TaskInfoModel"
							   TAssignment="MultiTaskbarData.AssignmentModel">
		</GanttAssignmentFields>
		<GanttLabelSettings TaskLabel="Name" TValue="MultiTaskbarData.TaskInfoModel"></GanttLabelSettings>
		<GanttEditSettings AllowAdding="true" AllowDeleting="true" AllowEditing="true" AllowTaskbarEditing="true"></GanttEditSettings>
		<GanttTaskbarSettings EnableMultiTaskbar="true" AllowTaskbarDragAndDrop="@IsTaskbarDragAndDropEnabled"></GanttTaskbarSettings>
		<GanttColumns>
			<GanttColumn Field="Id" Visible="false"></GanttColumn>
			<GanttColumn Field="Name" HeaderText="Name" Width="250"></GanttColumn>
			<GanttColumn Field="Work" HeaderText="Work (Hours)"></GanttColumn>
			<GanttColumn Field="Progress"></GanttColumn>
			<GanttColumn Field="StartDate" HeaderText="Start Date"></GanttColumn>
			<GanttColumn Field="EndDate" HeaderText="End Date"></GanttColumn>
		</GanttColumns>
		<GanttSplitterSettings Position="30%"></GanttSplitterSettings>
	</SfGantt>
</div>

@code {
	public SfGantt<MultiTaskbarData.TaskInfoModel>? GanttInstance { get; set; }
	public List<MultiTaskbarData.TaskInfoModel> TaskCollection { get; set; } = new List<MultiTaskbarData.TaskInfoModel>();
	public List<MultiTaskbarData.ResourceInfoModel> Resources { get; set; } = new List<MultiTaskbarData.ResourceInfoModel>();
	public static List<MultiTaskbarData.AssignmentModel> Assignments { get; set; } = new List<MultiTaskbarData.AssignmentModel>();
	public bool IsTaskbarDragAndDropEnabled { get; set; } = true;

	/// <summary>
	/// Initializes the sample by loading task, resource, and assignment data, and configuring the toolbar.
	/// </summary>
	protected override void OnInitialized()
	{
		TaskCollection = MultiTaskbarData.GetTaskCollection();
		Resources = MultiTaskbarData.GetResources;
		Assignments = MultiTaskbarData.GetAssignmentCollection();
		@*Hidden:Lines*@
		SampleService.TouchMousePreferenceChanged += OnTouchMousePreferenceChanged;
		@*End:Hidden*@
	}

	@*Hidden:Lines*@
	private async void OnTouchMousePreferenceChanged()
	{
		await GanttInstance.RefreshAsync();
		await GanttInstance.CallStateHasChangedAsync();
	}

	public void Dispose()
	{
		SampleService.TouchMousePreferenceChanged -= OnTouchMousePreferenceChanged;
	}
	@*End:Hidden*@
}
<style>
	.container-fluid {
		padding: 0px !important;
	}

	.e-gantt-multi-taskbar-sample {
		padding: 20px;
	}

		.e-gantt-multi-taskbar-sample .showhide {
			font-size: 15px;
			font-weight: 400;
			margin-bottom: 1px;
			padding: 10px;
		}

		.e-gantt-multi-taskbar-sample .e-switch-control {
			display: flex;
			align-items: center;
		}

	.e-gantt-multitaskbar-reference-link {
		text-decoration: none !important;
	}

	.e-gantt-multitaskbar-reference-link:hover,
	.e-gantt-multitaskbar-reference-link:focus {
		text-decoration: underline !important;
	}
</style>