@page "/gantt-chart/resource-view"

@using Syncfusion.Blazor.Gantt
@using Syncfusion.Blazor.Navigations
@using Syncfusion.Blazor.Buttons
@using BlazorDemos.Pages.GanttChart.Data

@*Hidden:Lines*@
@inject SampleService SampleService
@implements IDisposable
@*End:Hidden*@

<SampleDescription>

    <p>
        This sample demonstrates the resource breakdown view in the <a class="e-gantt-resourceview-reference-link" aria-label="Navigate to the explore Syncfusion Blazor Gantt Chart component"
                                                                       href="https://www.syncfusion.com/blazor-components/blazor-gantt-chart"
                                                                       target="_blank">Blazor Gantt Chart</a>, which visualizes tasks
        assigned to each resource in a hierarchical structure. Tasks can be reassigned or edited directly within the chart. 
        If a task has no assigned resource, it will appear under the <b>Unassigned Tasks</b> category.
        To enable this feature, set the <a class="e-gantt-resourceview-reference-link" aria-label="Navigate to the ViewType property reference for gantt chart component"
        target="_blank" href="https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Gantt.SfGantt-1.html#Syncfusion_Blazor_Gantt_SfGantt_1_ViewType">ViewType</a> 
        property to <code>ResourceView</code>.
    </p>
    <p>
        When a resource is assigned multiple tasks scheduled on the same date, it results in overallocation. The number of overallocation instances is indicated 
        in square brackets next to the resource name. This feature can be activated by setting the 
        <a class="e-gantt-resourceview-reference-link" aria-label="Navigate to the ShowOverallocation property reference for gantt chart component" target='_blank' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Gantt.SfGantt-1.html#Syncfusion_Blazor_Gantt_SfGantt_1_ShowOverallocation'>ShowOverallocation</a>
        property to <code>true</code>.
    </p>
    <p>
        This sample also demonstrates how to plan and allocate resources based on task complexity and availability. Tasks without assigned resources can be 
        reassigned using row drag and drop, which requires the 
        <a class="e-gantt-resourceview-reference-link" aria-label="Navigate to the AllowRowDragAndDrop property reference for gantt chart component" target="_blank" href="https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Gantt.SfGantt-1.html#Syncfusion_Blazor_Gantt_SfGantt_1_AllowRowDragAndDrop">AllowRowDragAndDrop</a>
        property to be set to <code>true</code>.
    </p>
    <p>
        Resources are defined using the <a class="e-gantt-resourceview-reference-link" aria-label="Navigate to the class reference for gantt resource fields" target="_blank" href="https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Gantt.GanttResource-2.html">GanttResource</a> component with the following properties:
    </p>
    <ul>
        <li><code>Id</code> – Maps the resource ID.</li>
        <li><code>Name</code> – Maps the resource name.</li>
        <li><code>MaxUnits</code> – Defines the maximum allocation units for a resource.</li>
        <li><code>DataSource</code> – Specifies the data source for resource mapping.</li>
    </ul>
    <p>
        Resource assignments are configured using the <a class="e-gantt-resourceview-reference-link" aria-label="Navigate to the class reference for gantt assignment fields" target="_blank" href="https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Gantt.GanttAssignmentFields-2.html">GanttAssignmentFields</a> component:
    </p>
    <ul>
        <li><code>PrimaryKey</code> – Maps the primary key field.</li>
        <li><code>TaskID</code> – Maps the task identifier.</li>
        <li><code>ResourceID</code> – Maps the resource identifier.</li>
        <li><code>DataSource</code> – Specifies the data source for resource assignment mapping.</li>
    </ul>
    <p>
        A toggle button in this sample allows switching between resource view and project view, making it easy to access different perspectives and make informed decisions.
    </p>
    <p>
        Additionally the toolbar provides built-in options for add, update, delete, expand, and collapse operations, enabling interactive task management.
    </p>
    <p>
        For further details, refer to the <a class="e-gantt-resourceview-reference-link" aria-label="Navigate to the class reference for gantt resource fields" target="_blank" href="https://blazor.syncfusion.com/documentation/gantt-chart/resource-view">documentation</a>.
    </p>
</SampleDescription>

<div class="control-section e-gantt-resource-view-sample">
	<div class="e-switch-control">
		<label class="showhide"> Project View </label>
		<SfSwitch ValueChange="Resource" @bind-Checked="@IsCheck" TChecked="bool"></SfSwitch>
		<label class="showhide"> Resource View </label>
	</div>
    <SfGantt @ref="GanttInstance" DataSource="@TaskCollection" Height="450px" Width="100%" ShowOverallocation="@ShowOverallocation" TreeColumnIndex="1" AllowRowDragAndDrop="true" RowHeight="37"
			 Toolbar="@ToolbarItems" AllowResizing ViewType="@viewType">
		<GanttTaskFields Id="Id" Name="Name" StartDate="StartDate" EndDate="EndDate" Duration="Duration" Progress="Progress"
						 ParentID="ParentId" Work="Work" Dependency="Predecessor">
		</GanttTaskFields>
		<GanttResource DataSource="ResourceCollection" Id="Id" Name="Name" MaxUnits="MaxUnit" Group="Group" TValue="ResourceViewData.TaskData" TResources="ResourceViewData.ResourceInfoModel"></GanttResource>
		<GanttAssignmentFields DataSource="AssignmentCollection" PrimaryKey="Id" TaskID="TaskId" ResourceID="ResourceId" TValue="ResourceViewData.TaskData" TAssignment="ResourceViewData.AssignmentModel"></GanttAssignmentFields>
		<GanttLabelSettings RightLabel="Resources" TaskLabel="Progress" TValue="ResourceViewData.TaskData"></GanttLabelSettings>
		<GanttEditSettings AllowAdding="true" AllowDeleting="true" AllowEditing="true" AllowTaskbarEditing="true"></GanttEditSettings>
		<GanttColumns>
			<GanttColumn Field="Id" Visible=false></GanttColumn>
			<GanttColumn Field="Name" HeaderText="Name" Width="250"></GanttColumn>
			<GanttColumn Field="Work" HeaderText="Work (Hours)"></GanttColumn>
			<GanttColumn Field="Progress"></GanttColumn>
			<GanttColumn Field="StartDate" HeaderText="Start Date"></GanttColumn>
			<GanttColumn Field="Duration" HeaderText="Duration"></GanttColumn>
		</GanttColumns>
		<GanttEvents OnToolbarClick="ToolbarClickHandler" TValue="ResourceViewData.TaskData"></GanttEvents>
	</SfGantt>
</div>
@code{
    /// <summary>
    /// Initializes the sample by loading task, resource, and assignment data, and configuring the toolbar.
    /// </summary>
    protected override void OnInitialized()
    {
        TaskCollection = ResourceViewData.GetTaskCollection();
        ResourceCollection = ResourceViewData.GetResources;
        AssignmentCollection = ResourceViewData.GetAssignmentCollection();
        UpdateToolbar();
        @*Hidden:Lines*@
        SampleService.TouchMousePreferenceChanged += OnTouchMousePreferenceChanged;
        @*End:Hidden*@
    }
    @*Hidden:Lines*@
    private async void OnTouchMousePreferenceChanged()
    {
        await GanttInstance.RefreshAsync();
        await GanttInstance.CallStateHasChangedAsync();
    }

    public void Dispose()
    {
        SampleService.TouchMousePreferenceChanged -= OnTouchMousePreferenceChanged;
    }
    @*End:Hidden*@
}
<style>
	.container-fluid {
		padding: 0px !important;
	}

	.e-gantt-resource-view-sample {
		padding: 20px;
	}

		.e-gantt-resource-view-sample .showhide {
			font-size: 15px;
			font-weight: 400;
			margin-bottom: 1px;
			padding: 10px;
		}

		.e-gantt-resource-view-sample .e-switch-control {
			display: flex;
			align-items: center;
		}

        .e-gantt-resourceview-reference-link {
            text-decoration: none !important;
        }

        .e-gantt-resourceview-reference-link:hover,
        .e-gantt-resourceview-reference-link:focus {
            text-decoration: underline !important;
        }

</style>