@page "/gantt-chart/tooltip-template"

@using Syncfusion.Blazor.Gantt
@using BlazorDemos.Pages.GanttChart.Data

@inject NavigationManager UriHelper
@*Hidden:Lines*@
@inherits SampleBaseComponent
@inject SampleService SampleService
@implements IDisposable
@*End:Hidden*@

<ActionDescription>
	<p>
		This sample demonstrates how to customize both the taskbar tooltip and the editing tooltip in the <a class="e-gantt-tooltiptemplate-reference-link" aria-label="Navigate to the explore Syncfusion Blazor Gantt Chart component"
																											 href="https://www.syncfusion.com/blazor-components/blazor-gantt-chart"
																											 target="_blank" rel="noopener">Blazor Gantt Chart</a>.
	</p>
	<p>
		The default tooltip can be customized using the <a class="e-gantt-tooltiptemplate-reference-link" aria-label="Navigate to the TaskbarTemplate property reference for gantt tooltip settings" target="_blank" rel="noopener" href="https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Gantt.GanttTooltipSettings-1.html#Syncfusion_Blazor_Gantt_GanttTooltipSettings_1_TaskbarTemplate">GanttTooltipSettings.TaskbarTemplate</a> property,
		allowing tailored content to be displayed when hovering over a taskbar. Similarly, the editing tooltip shown during
		taskbar interactions such as resizing or dragging can be customized using the <a class="e-gantt-tooltiptemplate-reference-link" aria-label="Navigate to the EditingTemplate property reference for gantt tooltip settings" target="_blank" rel="noopener" href="https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Gantt.GanttTooltipSettings-1.html#Syncfusion_Blazor_Gantt_GanttTooltipSettings_1_EditingTemplate">GanttTooltipSettings.EditingTemplate</a> property.
	</p>
	<p>
		Tooltip visibility can be controlled using the <a class="e-gantt-tooltiptemplate-reference-link" aria-label="Navigate to the ShowTooltip property reference for gantt tooltip settings" target="_blank" rel="noopener" href="https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Gantt.GanttTooltipSettings-1.html#Syncfusion_Blazor_Gantt_GanttTooltipSettings_1_ShowTooltip">GanttTooltipSettings.ShowTooltip</a> property, which enables or disables tooltip display as needed.
	</p>
	<p>
		For further details, refer to the <a class="e-gantt-tooltiptemplate-reference-link" aria-label="Navigate to the documentation for tooltip template in gantt chart component" target="_blank" rel="noopener" href="https://blazor.syncfusion.com/documentation/gantt-chart/tooltip/#tooltip-template">documentation</a>.
	</p>

</ActionDescription>

<div class="control-section e-gantt-tooltip-template-sample">
	<SfGantt @ref="GanttInstance" DataSource="@TaskCollection" Height="450px" Width="100%" TreeColumnIndex="1" ProjectStartDate="@(new DateTime(2021, 3, 23))" ProjectEndDate="@(new DateTime(2021, 7, 28))" WorkUnit="WorkUnit.Hour">
		<GanttTaskFields Id="TaskId" Name="TaskName" StartDate="StartDate" EndDate="EndDate" Duration="Duration" Progress="Progress"
						 ParentID="ParentId" TaskType="TaskType">
		</GanttTaskFields>
		<GanttColumns>
			<GanttColumn Field="TaskId" Width="100"></GanttColumn>
			<GanttColumn Field="TaskName" Width="250" ClipMode="Syncfusion.Blazor.Grids.ClipMode.EllipsisWithTooltip"></GanttColumn>
			<GanttColumn Field="StartDate" HeaderText="Start Date" MinWidth="120"></GanttColumn>
			<GanttColumn Field="EndDate" HeaderText="End Date" MinWidth="120"></GanttColumn>
			<GanttColumn Field="Duration" HeaderText="Duration" MinWidth="120"></GanttColumn>
			<GanttColumn Field="Progress" HeaderText="Progress" MinWidth="120"></GanttColumn>
			<GanttColumn Field="TaskType" Width="100"></GanttColumn>
		</GanttColumns>
		<GanttEditSettings AllowTaskbarEditing="true"></GanttEditSettings>
		<GanttTooltipSettings ShowTooltip="true" TValue="TooltipTemplateData.TaskData">
			<TaskbarTemplate>
				<table>
					@{
						if (!string.IsNullOrEmpty((context as TooltipTemplateData.TaskData)?.ResourceName))
						{
							var template = (context as TooltipTemplateData.TaskData);
							<tr>
								<td rowspan="3" style="padding:3px">
									<img src="@UriHelper.ToAbsoluteUri($"{SampleService.WebAssetsPath}images/gantt/{template.ResourceName.Trim().Replace(" ","").ToLower()}.png")" />
								</td>
								<td style="padding:3px">Task Done By:</td>
								<td style="padding:3px">@(template.ResourceName)</td>
							</tr>
							<tr>
								<td style="padding:3px">Starts On:</td>
								<td style="padding:3px">@(template.StartDate.ToString("MM/dd/yyyy"))</td>
							</tr>
							<tr>
								<td style="padding:3px">Ends On:</td>
								<td style="padding:3px">@(template.EndDate.ToString("MM/dd/yyyy"))</td>
							</tr>
						}
						else
						{
							<tr>
								<td style="padding:3px">Starts On:</td>
								<td style="padding:3px">@((context as TooltipTemplateData.TaskData).StartDate.ToString("MM/dd/yyyy"))</td>
							</tr>
							<tr>
								<td style="padding:3px">Ends On:</td>
								<td style="padding:3px">@((context as TooltipTemplateData.TaskData).EndDate.ToString("MM/dd/yyyy"))</td>
							</tr>
						}
					}
				</table>
			</TaskbarTemplate>
			<EditingTemplate>
				<table>
					@{
						var template = (context as TooltipTemplateData.TaskData);
						if (TaskbarEditAction == "LeftResizing")
						{
							<tr>
								<td style="padding:3px">@(template.StartDate.ToString("MMM dd, yyyy"))</td>
							</tr>
							<tr>
								<td style="padding:6px">@(template.Duration) days</td>
							</tr>
						}
						else if (TaskbarEditAction == "RightResizing")
						{
							<tr>
								<td style="padding:3px">@(template.EndDate.ToString("MMM dd, yyyy"))</td>
							</tr>
							<tr>
								<td style="padding:6px">@(template.Duration) days</td>
							</tr>
						}
						else if (TaskbarEditAction == "ChildDrag" || TaskbarEditAction == "ParentDrag")
						{
							<tr>
								<td style="padding:3px">@(template.StartDate.ToString("MMM dd, yyyy"))</td>
							</tr>
							<tr>
								<td style="padding:3px">@(template.EndDate.ToString("MMM dd, yyyy"))</td>
							</tr>
						}
						else if (TaskbarEditAction == "ProgressResizing")
						{
							<tr>
								<td style="padding:3px">@(template.Progress) %</td>
							</tr>
						}
					}
				</table>
			</EditingTemplate>
		</GanttTooltipSettings>
		<GanttLabelSettings LeftLabel="TaskName" TValue="TooltipTemplateData.TaskData"></GanttLabelSettings>
		<GanttSplitterSettings Position="40%"></GanttSplitterSettings>
		<GanttEvents TaskbarEditing="TaskbarEditingHandler" TValue="TooltipTemplateData.TaskData"></GanttEvents>
	</SfGantt>
</div>

@code {
	public SfGantt<TooltipTemplateData.TaskData>? GanttInstance { get; set; }
	public List<TooltipTemplateData.TaskData> TaskCollection { get; set; } = new List<TooltipTemplateData.TaskData>();
	public string TaskbarEditAction { get; set; } = string.Empty;

	/// <summary>
	/// Initializes the task collection for the Gantt Chart tooltip template sample.
	/// </summary>
	protected override void OnInitialized()
	{
		TaskCollection = TooltipTemplateData.GetTaskCollection();
		@*Hidden:Lines*@
		SampleService.TouchMousePreferenceChanged += OnTouchMousePreferenceChanged;
		@*End:Hidden*@
	}

	/// <summary>
	/// Captures the taskbar editing action and updates the tooltip display accordingly.
	/// </summary>
	private void TaskbarEditingHandler(TaskbarEditingEventArgs<TooltipTemplateData.TaskData> args)
	{
		TaskbarEditAction = args.Action;
	}
	@*Hidden:Lines*@
	private async void OnTouchMousePreferenceChanged()
	{
		await GanttInstance.RefreshAsync();
		await GanttInstance.CallStateHasChangedAsync();
	}

	public void Dispose()
	{
		SampleService.TouchMousePreferenceChanged -= OnTouchMousePreferenceChanged;
	}
	@*End:Hidden*@
}
<style>
	.container-fluid {
		padding: 0px !important;
	}

	.e-gantt-tooltip-template-sample {
		padding: 20px;
	}

	.e-gantt-tooltiptemplate-reference-link {
		text-decoration: none !important;
	}

	.e-gantt-tooltiptemplate-reference-link:hover,
	.e-gantt-tooltiptemplate-reference-link:focus {
		text-decoration: underline !important;
	}
</style>