@page "/TimePicker/Forms-Validation"

@using Syncfusion.Blazor.Calendars;
@using Syncfusion.Blazor.Buttons;
@using System.ComponentModel.DataAnnotations;

@*Hidden:Lines*@
@inherits SampleBaseComponent;
@*End:Hidden*@
<ActionDescription>
<p>
    This sample demonstrates form validation using Data Annotations with the TimePicker component. Type the time in the input element or choose time from the timepicker popup. If the input value is valid, the form is ready to submit. Otherwise, an error message will be displayed.
  </p>
  <p>
    The form enables validation with data annotation attributes by clicking the submit button externally. All validation rules are processed by the <code>DataAnnotationsValidator</code>.
  </p>
  <p>
    <strong>Validation rules configured:</strong>
  </p>
  <ul>
    <li><strong>Required:</strong> The field must have a valid time value</li>
    <li><strong>Range:</strong> The time must fall within the specified range (9:00 AM to 6:00 PM)</li>
  </ul>
</ActionDescription>


<div class="col-lg-12 control-section">
    <div class="control-wrapper">
        @if (string.IsNullOrEmpty(Message))
        {
            <EditForm Model="@_annotation" OnValidSubmit="@OnValidSubmit" OnInvalidSubmit="@OnInvalidSubmit">
                <DataAnnotationsValidator />
                <div class="form-group">
                    <label class="example-label">Select a Time</label>
                    <SfTimePicker id='TimePick' TValue="DateTime?" @bind-Value="@_annotation.Time" Placeholder="Select a time" ShowClearButton="true" FullScreen="true"></SfTimePicker>
                    <ValidationMessage For="@(() => _annotation.Time)" />
                </div>
                <div class="submit-btn">
                    <SfButton type="submit" IsPrimary="true">Submit</SfButton>
                </div>
            </EditForm>
        }
        else
        {
            <div class="alert alert-success">
                @Message
            </div>
        }
    </div>
</div>


<style>
    .control-wrapper {
        max-width: 200px;
        margin: 0 auto;
        padding: 50px 0px 0px;
    }

    .example-label {
        font-size: 14px;
        margin-bottom: 6px;
    }

    .submit-btn {
        display: flex;
        justify-content: center;
        padding: 10px 0px 0px;
    }

    .validation-message {
        color: red;
        padding: 5px 0px 0px;
    }
</style>

@code {
    private string Message = string.Empty;
    
    private async void OnValidSubmit()
    {
        Message = "Form Submitted Successfully!";
        await Task.Delay(2000);
        Message = string.Empty;
        _annotation.Time = null;
        StateHasChanged();
    }
    private void OnInvalidSubmit()
    {
        Message = string.Empty;
    }
    private Annotation _annotation = new Annotation();
    public class Annotation
    {
        [Required(ErrorMessage = "The Time field is required.")]
        [Range(typeof(DateTime), "09:00:00", "18:00:00", ParseLimitsInInvariantCulture = true, ErrorMessage = "The time should be between 9 AM and 6 PM.")]
        public DateTime? Time { get; set; } = null;
    }
}