@page "/TimePicker/Time-Range"

@using Syncfusion.Blazor.Calendars;
@using Syncfusion.Blazor.Buttons;

@*Hidden:Lines*@
@inherits SampleBaseComponent;
@inject NavigationManager NavigationManager




@*End:Hidden*@
<SampleDescription>
    <p>Select a start time from the first TimePicker and then the second TimePicker will be enabled. Select an end time from the second TimePicker to get a <b>time range</b>. Click the Business hours checkbox to change both the TimePickers to <b>read-only</b> state.</p>
</SampleDescription>
<ActionDescription>
    <p>Time Range example illustrates the appointment time selection scenario with the start and end time option. Here, two TimePicker components are used to select the start and end time.</p>
    <p>Before the start time selection, the end time TimePicker is in disable state. When the start time is selected, then you will be able to select the end time or else, need to select the entire business hours 9:00 to 18:00 from the <b>Business hours</b> option. Once the options are checked, both the TimePicker components goes to readonly state.</p>
    <p><b>See also</b></p>
    <ul>
        <li><a href='https://blazor.syncfusion.com/documentation/timepicker/time-range/' target='_blank' aria-label="Blazor TimePicker Range documentation">Blazor TimePicker - Range</a></li>
    </ul>
</ActionDescription>

<div class="control-section col-lg-12">
    <div class="control-wrapper">
        <div class="example-content">
            <label class="example-label">Start Time</label>
            <SfTimePicker @ref="@StartTime" TValue="DateTime?" @bind-Value="@BusinessStart" Enabled="@StartEnable" Readonly="@StartRead" Placeholder="Select a start time" ShowClearButton="true" FullScreen="true">
                <TimePickerEvents TValue="DateTime?" ValueChange="@EnableComponent"></TimePickerEvents>
            </SfTimePicker>
        </div>
        <div class="example-content">
            <label class="example-label">End Time</label>
            <SfTimePicker TValue="DateTime?" @bind-Value="@BusinessEnd" Step="@Steps" Placeholder="Select a end time" Min="@EndMin" Enabled="@EndEnable" Readonly="@EndRead" ShowClearButton="true" FullScreen="true">
                <TimePickerEvents TValue="DateTime?"></TimePickerEvents>
            </SfTimePicker>
        </div>
        <div class="example-content">
            <SfCheckBox label="Business hours" @bind-Checked="@IsChecked" @onchange="@BusinessHour"></SfCheckBox>
        </div>
    </div>
</div>

<style>
    .control-wrapper {
        max-width: 200px;
        margin: 0 auto;
        padding: 40px 0px 0px;
    }

    .example-label {
        font-size: 14px;
        margin-bottom: 6px;
    }

    .example-content {
        padding: 0px 0px 20px 0px;
    }

    .example-content:last-child {
        padding: 0px 0px 40px 0px;
    }
</style>

@code {
    private Boolean IsChecked;
    private SfTimePicker<DateTime?> StartTime;
    private DateTime? BusinessStart { get; set; }
    private DateTime? BusinessEnd { get; set; }
    private Boolean StartEnable = true;
    private Boolean EndEnable = false;
    private DateTime EndMin { get; set; }
    private Boolean StartRead = false;
    private Boolean EndRead = false;
    private int Steps = 30;
    

    private void EnableComponent()
    {
        if (BusinessStart != null)
        {
            EndEnable = true;
            EndMin = new DateTime(DateTime.Now.Year, DateTime.Now.Month, DateTime.Now.Day, StartTime.Value.Value.Hour, StartTime.Value.Value.Minute, StartTime.Value.Value.Second).AddMinutes(Steps);
        }
        else
        {
            EndEnable = false;
            BusinessEnd = null;
        }

    }
    private void BusinessHour()
    {
        if (IsChecked)
        {
            BusinessStart = new DateTime(DateTime.Now.Year, DateTime.Now.Month, DateTime.Now.Day, 09, 00, 00);
            EndEnable = true;
            BusinessEnd = new DateTime(DateTime.Now.Year, DateTime.Now.Month, DateTime.Now.Day, 18, 00, 00);
            StartRead = true;
            EndRead = true;
        }
        else
        {
            BusinessStart = null;
            BusinessEnd = null;
            StartRead = false;
            EndRead = false;
            EndEnable = false;
        }
    }
}
