@page "/pdf-viewer-2/document-list"

@using Syncfusion.Blazor.Popups;
@using Syncfusion.Blazor.Buttons;
@using Syncfusion.Blazor.Navigations;
@using Syncfusion.Blazor.Grids;
@using Syncfusion.Blazor.SfPdfViewer;

@inject NavigationManager NavigationManager

@*Hidden:Lines*@
@inherits SampleBaseComponent
@*End:Hidden*@

<SampleDescription>
   <p>This demonstration showcases the process of presenting a list of PDF documents in a grid layout and accessing the document for viewing or editing through the PDF Viewer within a dialog box.</p>
</SampleDescription>
<ActionDescription>
 
@*WASM:Block*@
@{ #if (WASM) }
    <p>More information on adding annotation programmatically can be found in this <a target='_blank' href='https://blazor.syncfusion.com/documentation/pdfviewer-2/getting-started/web-assembly-application' aria-label="documentation section for View PDF files using PDF Viewer Component in the Blazor WASM app"> documentation section</a>.</p>
@{ #endif }
@*End:WASM*@

@*Server:Block*@
@{ #if !(WASM) }
    <p>More information on adding annotation programmatically can be found in this <a target='_blank' href='https://blazor.syncfusion.com/documentation/pdfviewer-2/getting-started/server-side-application' aria-label="documentation section for View PDF files using PDF Viewer Component in the Blazor Server app"> documentation section</a>.</p>
@{ #endif }
@*End:Server*@
</ActionDescription>

<div class="col-lg-12 control-section" id="target">
    @*Hidden:Lines*@  
        <SfGrid DataSource="@DataItem">
        <GridEvents CommandClicked="CommandClick" TValue="Data"></GridEvents>
            <GridColumns>
                <GridColumn HeaderText="File Name">
                    <Template>
                        <div>
                            @if (context is Data data)
                            {
                                <div class="file-name-container">
                                    <div class="file-name-content">
                                        <div class="icon-and-text">
                                            <svg width="24" height="30" viewBox="0 0 24 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M0 3C0 1.34315 1.34315 0 3 0H13.7574C14.553 0 15.3161 0.316071 15.8787 0.87868L23.1213 8.12132C23.6839 8.68393 24 9.44699 24 10.2426V27C24 28.6569 22.6569 30 21 30H3C1.34315 30 0 28.6569 0 27V3Z" fill="#F54848" />
                                                <path d="M14.5 11H22V10.5042C22 9.76949 21.7304 9.0603 21.2422 8.51114L16.9463 3.67818C15.9974 2.61074 14.6374 2 13.2092 2H13V9.5C13 10.3284 13.6716 11 14.5 11Z" fill="#FFB7B7" />
                                                <path d="M16.3787 22V14.7273H21.3432V16.1549H18.1365V17.6463H21.0271V19.0774H18.1365V22H16.3787Z" fill="white" />
                                                <path d="M11.7622 22H9.07397V14.7273H11.7586C12.4996 14.7273 13.1377 14.8729 13.6727 15.1641C14.2101 15.4529 14.6244 15.8696 14.9156 16.4141C15.2068 16.9562 15.3524 17.6049 15.3524 18.3601C15.3524 19.1177 15.2068 19.7687 14.9156 20.3132C14.6268 20.8577 14.2137 21.2756 13.6762 21.5668C13.1388 21.8556 12.5008 22 11.7622 22ZM10.8318 20.5014H11.6947C12.1019 20.5014 12.4464 20.4328 12.7281 20.2955C13.0122 20.1558 13.2264 19.9297 13.3709 19.6172C13.5176 19.3023 13.591 18.8833 13.591 18.3601C13.591 17.8369 13.5176 17.4202 13.3709 17.1101C13.2241 16.7976 13.0074 16.5727 12.721 16.4354C12.4369 16.2957 12.0865 16.2259 11.6699 16.2259H10.8318V20.5014Z" fill="white" />
                                                <path d="M2.55054 22V14.7273H5.5548C6.09931 14.7273 6.56924 14.8338 6.9646 15.0469C7.36233 15.2576 7.66891 15.5523 7.88434 15.9311C8.09978 16.3076 8.2075 16.7455 8.2075 17.2451C8.2075 17.7469 8.09741 18.1861 7.87724 18.5625C7.65944 18.9366 7.34812 19.2266 6.94329 19.4326C6.53846 19.6385 6.05788 19.7415 5.50153 19.7415H3.64784V18.3566H5.17483C5.43998 18.3566 5.66133 18.3104 5.83889 18.2181C6.01881 18.1257 6.15494 17.9967 6.24727 17.831C6.3396 17.6629 6.38576 17.4676 6.38576 17.2451C6.38576 17.0201 6.3396 16.826 6.24727 16.6627C6.15494 16.4969 6.01881 16.3691 5.83889 16.2791C5.65897 16.1892 5.43761 16.1442 5.17483 16.1442H4.30835V22H2.55054Z" fill="white" />
                                            </svg>
                                            <div class="file-name-text">@data.FileName</div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </Template>
                </GridColumn>
                <GridColumn HeaderText="Author" Field="Author"></GridColumn>
                <GridColumn HeaderText="Actions" TextAlign="TextAlign.Center">
                 <GridCommandColumns>
                 <GridCommandColumn  ButtonOption="@(new CommandButtonOptions() { IconCss = "e-icons e-eye", CssClass = "e-flat" })"></GridCommandColumn>
                 <GridCommandColumn  ButtonOption="@(new CommandButtonOptions() { IconCss = "e-icons e-edit", CssClass = "e-flat" })"></GridCommandColumn>
                 </GridCommandColumns>
                </GridColumn>
            </GridColumns>
        </SfGrid>

   @*End:Hidden*@
    <SfDialog Header="@HeaderText" Width="90%" Height="90%" IsModal=true ShowCloseIcon="true" @bind-Visible="@dialogVisible">
        <DialogTemplates>
            <Content>
            @if(isDialogOpended)
            {
                <div>
                    <SfPdfViewer2 @ref="viewer" DocumentPath="@DocumentPath" EnableTextSelection="@enableTextSelection" EnableStickyNotesAnnotation="@enableStickyNotesAnnotation" ToolbarSettings="@ToolbarSettings" AnnotationSettings="@annotationSettings" ContextMenuSettings="@ContextMenuSettings" Height="775px" Width="100%">
                    <PdfViewerEvents DocumentLoaded="@DocumentLoaded"></PdfViewerEvents>
                    </SfPdfViewer2>
                </div>
            }
            </Content>
        </DialogTemplates>     
        <DialogEvents Opened="OnOpen" Closed="OnClose"></DialogEvents> 
    </SfDialog>
</div>

@code {
    SfPdfViewer2 viewer;
    bool dialogVisible { get; set; } = false;
    private string DocumentPath { get; set; } = "";
    private string HeaderText;
    bool enableStickyNotesAnnotation { get; set; } = true;
    bool isDialogOpended { get; set; } = false;
    PdfViewerAnnotationSettings annotationSettings;
    PdfViewerToolbarSettings ToolbarSettings;
    PdfViewerContextMenuSettings ContextMenuSettings;
    bool enableTextSelection { get; set; } = false;
    bool isReadOnlyMode { get; set; } = false;

    private async Task DocumentLoaded(LoadEventArgs args)
    { 
        if(isReadOnlyMode)
        {
            List<FormField> fields = await viewer.RetrieveFormFieldsAsync();
            for (int i = 0; i < fields.Count(); i++)
            {
                fields[i].IsReadOnly = true;
                await viewer.UpdateFormFieldsAsync(fields[i]);      
            } 
        }
    }
    private void OnOpen()
    {
        isDialogOpended = true;
    }

    private void OnClose()
    {
        isDialogOpended = false;
    }
    @*Hidden:Lines*@
    private void CommandClick(CommandClickEventArgs<Data> args)
    {
        if (args.CommandColumn.ButtonOption.IconCss == "e-icons e-eye")
        {
            this.dialogVisible = true;
            HeaderText = args.RowData.FileName;
            string fileDataPath = NavigationManager.BaseUri + SampleService.WebAssetsPath;

    @*Server:Block*@
#if !(WASM || WEBAPP)
        // Sets the PDF document path for initial loading.
        DocumentPath = "wwwroot/data/pdfviewer2/" + args.RowData.FilePath;
#endif
    @*End:Server*@

    @*WebAssembly:Block*@
#if (WASM || WEBAPP)
        // Sets the PDF document path for initial loading.
        DocumentPath = fileDataPath + "data/pdfviewer2/" + args.RowData.FilePath;
#endif
    @*End:WebAssembly*@

        annotationSettings = new PdfViewerAnnotationSettings()
        {
            IsLock = true
        };
        ToolbarSettings = new PdfViewerToolbarSettings()
        {
            ToolbarItems = new List<Syncfusion.Blazor.SfPdfViewer.ToolbarItem>()
            {
                Syncfusion.Blazor.SfPdfViewer.ToolbarItem.OpenOption,
                Syncfusion.Blazor.SfPdfViewer.ToolbarItem.PageNavigationTool,
                Syncfusion.Blazor.SfPdfViewer.ToolbarItem.MagnificationTool,               
                Syncfusion.Blazor.SfPdfViewer.ToolbarItem.PanTool,
                Syncfusion.Blazor.SfPdfViewer.ToolbarItem.PrintOption,
            },
            MobileToolbarItems = new List<MobileToolbarItem>()
            {
                MobileToolbarItem.Open,
                MobileToolbarItem.Search
            }
        };

        ContextMenuSettings = new PdfViewerContextMenuSettings()
        {
             EnableContextMenu = false
        };

        enableStickyNotesAnnotation = false;
        enableTextSelection = false;
        isReadOnlyMode = true;
        }
        else if (args.CommandColumn.ButtonOption.IconCss == "e-icons e-edit")
        {
             this.dialogVisible = true;
             HeaderText = args.RowData.FileName;
        string fileDataPath = NavigationManager.BaseUri + SampleService.WebAssetsPath;

      @*Server:Block*@
      #if !(WASM || WEBAPP)
        // Sets the PDF document path for initial loading.
        DocumentPath = "wwwroot/data/pdfviewer2/" + args.RowData.FilePath;
      #endif
       @*End:Server*@

      @*WebAssembly:Block*@
      #if (WASM || WEBAPP)
        // Sets the PDF document path for initial loading.
        DocumentPath = fileDataPath + "data/pdfviewer2/" + args.RowData.FilePath;
      #endif
      @*End:WebAssembly*@

        annotationSettings = new PdfViewerAnnotationSettings()
        {
            IsLock = false
        };
        ToolbarSettings = new PdfViewerToolbarSettings()
        {
            ToolbarItems = new List<Syncfusion.Blazor.SfPdfViewer.ToolbarItem>()
            {
                Syncfusion.Blazor.SfPdfViewer.ToolbarItem.OpenOption,
                Syncfusion.Blazor.SfPdfViewer.ToolbarItem.PageNavigationTool,
                Syncfusion.Blazor.SfPdfViewer.ToolbarItem.MagnificationTool,
                Syncfusion.Blazor.SfPdfViewer.ToolbarItem.SelectionTool,
                Syncfusion.Blazor.SfPdfViewer.ToolbarItem.PanTool,
                Syncfusion.Blazor.SfPdfViewer.ToolbarItem.UndoRedoTool,
                Syncfusion.Blazor.SfPdfViewer.ToolbarItem.CommentTool,               
                Syncfusion.Blazor.SfPdfViewer.ToolbarItem.SearchOption,
                Syncfusion.Blazor.SfPdfViewer.ToolbarItem.AnnotationEditTool,
                Syncfusion.Blazor.SfPdfViewer.ToolbarItem.PrintOption,
                Syncfusion.Blazor.SfPdfViewer.ToolbarItem.DownloadOption
            },
            MobileToolbarItems = new List<MobileToolbarItem>()
            {
                MobileToolbarItem.Open,
                MobileToolbarItem.UndoRedo,
                MobileToolbarItem.EditAnnotation,
                MobileToolbarItem.Search
            }
        };
        ContextMenuSettings = new PdfViewerContextMenuSettings()
        {
                 EnableContextMenu = true
        };
        enableStickyNotesAnnotation = true;
        enableTextSelection = true;
        isReadOnlyMode = false;
        }
    }
    
    @*End:Hidden*@
    protected override void OnInitialized()
    {
        DataItem = Enumerable.Range(1, 5).Select(x => new Data()
        {
            FileName = GetFileName(x),
            FilePath = GetFilePath(x),
            Author = GetAuthor(x)
        }).ToList();
    }

    public List<Data> DataItem { get; set; }

    private string GetFileName(int index)
    {
        string[] fileNames = {"PDF Succinctly.pdf", "Hive Succinctly.pdf","GIS Succinctly.pdf","JavaScript Succinctly.pdf","HTTP Succinctly.pdf"  };

        if (index >= 1 && index <= fileNames.Length)
        {
            return fileNames[index - 1];
        }
        return string.Empty;
    }

    private string GetAuthor(int index)
    {
        string[] fileNames = { "Ryan Hodson", "Elton Stoneman","Peter Shaw","Cody Lindley","Scott Allen"  };

        if (index >= 1 && index <= fileNames.Length)
        {
            return fileNames[index - 1];
        }
        return string.Empty;
    }

    private string GetFilePath(int index)
    {
        string[] filepathlist = {"pdf-succinctly.pdf", "hive-succinctly.pdf", "gis-succinctly.pdf", "javascript-succinctly.pdf", "http-succinctly.pdf" };

        if (index >= 1 && index <= filepathlist.Length)
        {
            return filepathlist[index - 1];
        }
        return string.Empty;
    }

    public class Data
    {
        public string FileName { get; set; }
        public string FilePath { get; set; }
        public string Author { get; set; }
    }
}
@*Hidden:Lines*@
<style>
.file-name-container {
    display: flex;
    justify-content: left;
}

.file-name-content {
    display: flex;
    align-items: center;
}

.icon-and-text {
    display: flex;
    align-items: left;
}

.file-name-text {
    text-align: center;
    margin-left: 8px; 
    margin-top: 5px;
}
</style>
@*End:Hidden*@