@page "/pdf-viewer-2/invisible-digital-signature"

@using System
@using System.IO
@inject IJSRuntime JSRuntime
@using Syncfusion.Pdf
@using Syncfusion.Pdf.Parsing
@using System.Security.Cryptography.X509Certificates
@using Syncfusion.Pdf.Security
@using Syncfusion.Blazor.Navigations
@using Syncfusion.Blazor.Notifications
@using Syncfusion.Blazor.Inputs
@using Syncfusion.Blazor.Buttons
@using Microsoft.JSInterop
@using System.Threading
@using Syncfusion.Blazor.SfPdfViewer



@*Hidden:Lines*@
@inherits SampleBaseComponent;

@*End:Hidden*@

<SampleDescription>
    <p>This sample showcases the process of digitally signing a PDF document from the code behind using Syncfusion's SfPdfViewer and PDF Library.</p>
</SampleDescription>

<ActionDescription>
    <p>This sample operates correctly when a signature field is present in the PDF document. If all signature fields are signed, the "Finish Signing" button becomes enabled. Clicking this button adds a digital signature certificate programmatically and reloads the digitally signed document into the viewer.</p>
    <br />
    <p>The below are the messages shown in the respective scenarios:</p>
    <br />
    <p>1. The document has been digitally signed, but it has been modified since it was signed and at least one signature is invalid.</p>
    <ul>
        <li>This message appears if the digitally signed document is edited after reloading.</li>
    </ul>
    <p>2. The document has been digitally signed and at least one signature has a problem.</p>
    <ul>
        <li>This message is shown if the digital signature is not registered on the machine and is not in the trusted list. Adding the certificate to the trusted list is necessary.</li>
    </ul>
    <p>3. The document has been digitally signed and all the signatures are valid.</p>
    <ul>
        <li>This message indicates that the document is digitally signed without any issues.</li>
    </ul>
@*WASM:Block*@
@{ #if (WASM) }
    <p>More information about the SfPdfViewer can be found in this<a target='_blank' href='https://blazor.syncfusion.com/documentation/pdfviewer-2/getting-started/web-assembly-application' aria-label="documentation section for View PDF files using PDF Viewer Component in the Blazor WASM app"> documentation section</a>.</p>
@{ #endif }
@*End:WASM*@

@*Server:Block*@
@{ #if !(WASM) }
    <p>More information about the SfPdfViewer can be found in this<a target='_blank' href='https://blazor.syncfusion.com/documentation/pdfviewer-2/getting-started/server-side-application' aria-label="documentation section for View PDF files using PDF Viewer Component in the Blazor Server app"> documentation section</a>.</p>
@{ #endif }
@*End:Server*@
</ActionDescription>

<div style="display:none">
<SfUploader @ref="@uploadFiles" ID="UploadFiles" ShowFileList="false" AllowedExtensions="@extensionType">
    <UploaderEvents OnUploadStart="@FileUploadSelected" Created="createdHandler"></UploaderEvents>
    <UploaderAsyncSettings SaveUrl="https://services.syncfusion.com/aspnet/production/api/FileUploader/Save" RemoveUrl="https://services.syncfusion.com/aspnet/production/api/FileUploader/Remove"></UploaderAsyncSettings>
</SfUploader>
</div>
<SfToolbar>
    <ToolbarEvents Clicked="@ToolbarClick"></ToolbarEvents>
    <ToolbarItems>
        <ToolbarItem PrefixIcon="e-icons e-folder-open" TooltipText="Open file" Id="pdfviewer_open" Align="ItemAlign.Left" CssClass="e-pv-open-document-container">
        </ToolbarItem>
        <ToolbarItem Text="Complete Signing" Width="150px" Disabled="@buttonVisibility" Align="ItemAlign.Right" TooltipText="Finish Signing" id="pdfviewer_sign" CssClass="e-pv-button-container"></ToolbarItem>
        <ToolbarItem PrefixIcon="e-icons e-download" TooltipText="Download File" id="Download" Disabled="@downloadVisibility" Align=@ItemAlign.Right CssClass="e-pv-download-document-container"></ToolbarItem>
    </ToolbarItems>
</SfToolbar>

<div class="blazor">
    <div class="test-message">
        <SfMessage Severity="MessageSeverity.Success" ShowIcon="true" ShowCloseIcon="true" @bind-Visible="@successVisible">@message</SfMessage>
        <SfMessage Severity="MessageSeverity.Error" ShowIcon="true" ShowCloseIcon="true" @bind-Visible="@errorVisible">@message</SfMessage>
        <SfMessage Severity="MessageSeverity.Warning" ShowIcon="true" ShowCloseIcon="true" @bind-Visible="@warningVisible">@message</SfMessage>
    </div>
    <div class="toolbar-test" id="toolbar-box">

    <SfPdfViewer2 @ref="Viewer" DocumentPath="@DocumentPath" Height="640px" Width="100%" ZoomMode="ZoomMode.FitToPage" EnableToolbar="false" EnableAnnotationToolbar="false" EnableNavigationToolbar="false">
    <PdfViewerEvents DocumentLoaded="ValidateSiganture" AddSignature="SignatureAdded"></PdfViewerEvents>
    </SfPdfViewer2>

    </div>
</div>


@code {
    @*Server:Block*@
    #if !(WASM)
    SfPdfViewer2 Viewer;
    private string DocumentPath { get; set; } = "wwwroot/data/pdfviewer2/InvisibleDigitalSignature.pdf";
#endif
    @*End:Server*@

    @*WebAssembly:Block*@
    #if (WASM)
    private string DocumentPath { get; set; } = "wwwroot/data/pdfviewer2/invisible-digital-signature.pdf";
    SfPdfViewer2 Viewer;
#endif
    @*End:WebAssembly*@
    SfUploader uploadFiles;
    private string extensionType = ".pdf";
    string message = "";
    //Specifies the visibility of the complete signing.
    private bool buttonVisibility = true;
    //Specifies the visibility of the download icon
    private bool downloadVisibility = true;
    private bool successVisible = false;
    private bool errorVisible = false;
    private bool warningVisible = false;
    string docBase64;
    Thread thread;
    // Specifies whether the document has a digital signature or not.
    private bool hasDigitalSignature = false;

    public async Task createdHandler()
    {
       await JSRuntime.InvokeVoidAsync("created");
    }

    //Triggers while validating the signature in the document.
    public async Task ValidateSiganture()
    {
        byte[] contentPDF = null;
        if (!String.IsNullOrEmpty(docBase64))
        {
            contentPDF = Convert.FromBase64String(docBase64.Replace("data:application/pdf;base64,", ""));
        }
        else
        {
            contentPDF = await Viewer.GetDocumentAsync();
        }
        //Loads a PDF document.
        PdfLoadedDocument document = new PdfLoadedDocument(contentPDF);
        PdfLoadedForm form = document.Form;
        if (form != null)
        {
            foreach (PdfLoadedField field in form.Fields)
            {
                if (field is PdfLoadedSignatureField)
                {
                    //Gets the first signature field of the PDF document.
                    PdfLoadedSignatureField signatureField = field as PdfLoadedSignatureField;
                    if (signatureField.IsSigned)
                    {
                        hasDigitalSignature = true;
                        //X509Certificate2Collection to check the signers identity using root certificates.
                        X509Certificate2Collection collection = new X509Certificate2Collection();
                         @*Server:Block*@
                         #if !(WASM)
                         //Create new X509Certificate2 with the root certificate.
                        X509Certificate2 certificate = new X509Certificate2("wwwroot/data/pdfviewer/localhost.pfx", "Syncfusion@123");
                         #endif
                         @*End:Server*@

                         @*WASM:Block*@
                         #if (WASM)
                         //Create new X509Certificate2 with the root certificate
                        X509Certificate2 certificate = new X509Certificate2("wwwroot/data/pdfviewer2/localhost.pfx", "Syncfusion@123");
                         #endif
                         @*End:WASM*@
                         //Add the certificate to the collection.
                        collection.Add(certificate);
                        //Validate all signatures in loaded PDF document and get the list of validation result.
                        PdfSignatureValidationResult result = signatureField.ValidateSignature(collection);
                        //Checks whether the document is modified or not.
                        if (result.IsDocumentModified)
                        {
                            errorVisible = true;
                            successVisible = false;
                            warningVisible = false;
                            downloadVisibility = false;
                            message = "The document has been digitally signed, but it has been modified since it was signed and at least one signature is invalid .";
                        }
                        else
                        {
                            //Checks whether the signature is valid or not.
                            if (result.IsSignatureValid)
                            {
                                if (result.SignatureStatus.ToString() == "Unknown")
                                {
                                    errorVisible = false;
                                    successVisible = false;
                                    warningVisible = true;
                                    message = "The document has been digitally signed and at least one signature has problem";
                                }
                                else
                                {
                                    errorVisible = false;
                                    successVisible = true;
                                    warningVisible = false;
                                    downloadVisibility = false;
                                    message = "The document has been digitally signed and all the signatures are valid.";
                                    thread = new Thread(() =>
                                    {
                                        Thread.Sleep(5000);
                                        successVisible = false;
                                        InvokeAsync(StateHasChanged);
                                        thread = null;
                                    });
                                    thread.Start();
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    //This method will get invoked while clicking the toolbar items.
    public async Task ToolbarClick(ClickEventArgs args)
    {
        if (args.Item != null)
        {
            switch (args.Item.CssClass)
            {
                case "e-pv-button-container":
                    //Reloads the PDF document with digital signature.
                    var contentPDF = await Viewer.GetDocumentAsync();
                    PdfLoadedDocument loadedDocument = new PdfLoadedDocument(contentPDF);
                    //Get the first page of the document.
                    PdfPageBase loadedPage = loadedDocument.Pages[0];
                    @*Server:Block*@
                    #if !(WASM)
                    //Create new X509Certificate2 with the root certificate.
                    X509Certificate2 certificate = new X509Certificate2("wwwroot/data/pdfviewer/localhost.pfx", "Syncfusion@123");
                    #endif
                    @*End:Server*@
                    @*WASM:Block*@
                    #if (WASM)
                    //Create new X509Certificate2 with the root certificate
                    X509Certificate2 certificate = new X509Certificate2("wwwroot/data/pdfviewer2/localhost.pfx", "Syncfusion@123");
                    #endif
                    @*End:WASM*@
                    PdfCertificate pdfCertificate = new PdfCertificate(certificate);
                    //Creates a digital signature.
                    PdfSignature signature = new PdfSignature(loadedDocument, loadedPage, pdfCertificate, "Signature");
                    signature.Certificated = true;
                    MemoryStream str = new MemoryStream();
                    //Saves the document.
                    loadedDocument.Save(str);
                    byte[] docBytes = str.ToArray();
                    docBase64 = "data:application/pdf;base64," + Convert.ToBase64String(docBytes);
                    // Loads the digitally signed document.
                    await Viewer.LoadAsync(docBase64);
                    buttonVisibility = true;
                    downloadVisibility = false;
                    break;
                case "e-pv-download-document-container":
                    //Downloads the PDF document being loaded in the PDFViewer.
                    Viewer.DownloadFileName = "DigitallySignedDocument";
                    await Viewer.DownloadAsync();
                    break;
            }
        }
    }

    //Triggers when changes occur in uploaded file list by selecting or dropping files.
    public async Task FileUploadSelected(UploadingEventArgs args)
    {
        if (args.FileData.Type == "pdf")
        {
            buttonVisibility = true;
            downloadVisibility = true;
            errorVisible = false;
            successVisible = false;
            warningVisible = false;
            hasDigitalSignature = false;
            docBase64 = args.FileData.RawFile.ToString();
            //Loads the PDF docuent from the given base64 string in the SfPdfViewer.
            await Viewer.LoadAsync(docBase64, null);
            await uploadFiles.ClearAllAsync();
        }
    }

    //Triggers while adding the signature in signature field.
    public async Task SignatureAdded(AddSignatureEventArgs args)
    {
        List<FormField> field;
        //To retrieve the form fields in the loaded PDF Document.
        field = await Viewer.RetrieveFormFieldsAsync();
        int signatureFieldCount = 0;
        int signaturesCount = 0;
        for (var i = 0; i < field.Count; i++)
        {
            if (field[i].Type.ToString() == ("SignatureField"))
            {
                signatureFieldCount++;
            }
            if (field[i].Value != "" && field[i].Value != null && field[i].Type.ToString() == ("SignatureField"))
            {
                signaturesCount++;
            }
        }
        // Checks whether all the signature fields are signed or not.
        if (signatureFieldCount == signaturesCount)
        {
            //Checks whether the document has a digital signature or not.
            if (!hasDigitalSignature)
            {
                buttonVisibility = false;
            }
        }
    }

}
@*Hidden:Lines*@
<!--Style for custom toolbar-->
<style>
    .test-message .e-message.e-success {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 109;
        width: calc(100% - 18px);
    }

    .test-message .e-message.e-warning {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 109;
        width: calc(100% - 18px);
    }

    .test-message .e-message.e-error {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 109;
        width: calc(100% - 18px);
    }

    .test-message {
        position: relative;
    }

</style>
@*End:Hidden*@
