@page "/scheduler/adaptive-rows"

@using Syncfusion.Blazor.Schedule
@using Syncfusion.Blazor.Buttons
@*Hidden:Lines*@
@inherits SampleBaseComponent
@inject NavigationManager NavigationManager


@*End:Hidden*@

<SampleDescription>
    <p>This example showcases how the work-cells of Scheduler auto-adjust its height based on the number of appointments present in those time ranges. </p>
</SampleDescription>
<ActionDescription>
    <p>
        In this example, the <a href="https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Schedule.SfSchedule-1.html#Syncfusion_Blazor_Schedule_SfSchedule_1_EnableAutoRowHeight" aria-label="Class reference of EnableAutoRowHeight property in Scheduler">EnableAutoRowHeight</a> property is set as <code>true</code> to auto-adjust the height of work cells based
        on the number of appointments present in the same time ranges. Also, this functionality is applicable only on
        all the timeline views as well as on the calendar month view. When this option is disabled, the height of the work
        cells remains static and at the time of exceeding appointments count, the <b>+n more</b> text indicator
        will be shown at the bottom of the cells.
    </p>
</ActionDescription>

<div class="col-lg-12" style="padding-top:15px">
    <SfCheckBox @bind-Checked="@AdaptiveRow" Label="Auto Row Height"></SfCheckBox>
</div>
<div class="col-lg-12 control-section">
    <SfSchedule TValue="ScheduleData.RoomData" Width="100%" Height="650px" @bind-CurrentView="@CurrentView" @bind-SelectedDate="@SelectedDate" EnableAutoRowHeight="@AdaptiveRow">
        <ScheduleViews>
            <ScheduleView Option="View.TimelineDay"></ScheduleView>
            <ScheduleView Option="View.TimelineWeek"></ScheduleView>
        </ScheduleViews>
        <ScheduleGroup EnableCompactView="false" Resources="@groupData"></ScheduleGroup>
        <ScheduleResources>
            <ScheduleResource TItem="RoomsData" TValue="int[]" DataSource="@ResourceData" Field="RoomId" Title="Room Type" Name="MeetingRoom" TextField="Name" IdField="Id" ColorField="Color" AllowMultiple="true"></ScheduleResource>
        </ScheduleResources>
        <ScheduleEventSettings DataSource="@DataSource">
            <ScheduleField>
                <FieldSubject Title="Summary" Name="Subject"></FieldSubject>
                <FieldLocation Title="Location" Name="Location"></FieldLocation>
                <FieldDescription Title="Comments" Name="Description"></FieldDescription>
                <FieldStartTime Title="From" Name="StartTime"></FieldStartTime>
                <FieldEndTime Title="To" Name="EndTime"></FieldEndTime>
            </ScheduleField>
        </ScheduleEventSettings>
    </SfSchedule>
</div>

@code{
    private DateTime SelectedDate { get; set; } = new DateTime(DateTime.Today.Year, 1, 3);
    private View CurrentView { get; set; } = View.TimelineWeek;
    private bool AdaptiveRow { get; set; } = true;
    private List<ScheduleData.RoomData> DataSource { get; set; } = new ScheduleData().GetRoomData();
    private string[] groupData = new string[] { "MeetingRoom" };
    
    private List<RoomsData> ResourceData { get; set; } = new List<RoomsData> {
        new RoomsData { Name = "Room A", Id = 1, Color = "#1aaa55" },
        new RoomsData { Name = "Room B", Id = 2, Color = "#357cd2" },
        new RoomsData { Name = "Room C", Id = 3, Color = "#7fa900" },
        new RoomsData { Name = "Room D", Id = 4, Color = "#ea7a57" },
        new RoomsData { Name = "Room E", Id = 5, Color = "#00bdae" },
        new RoomsData { Name = "Room F", Id = 6, Color = "#f57f17" },
        new RoomsData { Name = "Room G", Id = 7, Color = "#8e24aa" },
        new RoomsData { Name = "Room H", Id = 8, Color = "#3090C7" },
        new RoomsData { Name = "Room I", Id = 9, Color = "#df5286" },
        new RoomsData { Name = "Room J", Id = 10, Color = "#fec200" }
    };
    public class RoomsData
    {
        public string Name { get; set; }
        public string Color { get; set; }
        public int Id { get; set; }
    }
}

<style>
    .e-schedule .e-timeline-view .e-resource-left-td {
        width: 120px;
    }

    .e-schedule .e-timeline-view .e-block-appointment {
        align-items: center;
        display: flex;
        justify-content: center;
    }

    @@media screen and (max-width: 480px) {
        .e-schedule .e-timeline-view .e-resource-left-td {
            width: 85px;
        }

        .e-schedule .e-timeline-view .e-resource-cells {
            padding-left: unset;
        }
    }
</style>
