@page "/scheduler/agenda-view"

@using Syncfusion.Blazor.Schedule
@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.Inputs
@*Hidden:Lines*@
@inherits SampleBaseComponent
@inject NavigationManager NavigationManager


@*End:Hidden*@

<SampleDescription>
    <p> This demo showcases the agenda view and the configurations available in it.</p>
</SampleDescription>
<ActionDescription>
    <p>
        In this demo, Agenda view loads the initial data for the next 7 days count from the date value assigned to the
        <a href="https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Schedule.SfSchedule-1.html#Syncfusion_Blazor_Schedule_SfSchedule_1_SelectedDate" aria-label="Class reference of SelectedDate property in Scheduler">SelectedDate</a> property of the Scheduler. The initial data loading for 7 days count is due to the default value assigned to the
        <a href="https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Schedule.SfSchedule-1.html#Syncfusion_Blazor_Schedule_SfSchedule_1_AgendaDaysCount" aria-label="Class reference of AgendaDaysCount property in Scheduler">AgendaDaysCount</a> property which can be customized as per the user needs.
    </p>
    <p> By default, the days which doesn't have any events will be hidden on this view, but setting the <a href="https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Schedule.SfSchedule-1.html#Syncfusion_Blazor_Schedule_SfSchedule_1_HideEmptyAgendaDays" aria-label="Class reference of HideEmptyAgendaDays property in Scheduler">HideEmptyAgendaDays</a> property to false will allow the <code>No events</code> text to be displayed against the dates that have no events.</p>
</ActionDescription>

<div class="col-lg-9 control-section">
    <SfSchedule TValue="ScheduleData.AppointmentData" HideEmptyAgendaDays="@HideEmptyAgendaDays" AgendaDaysCount="@DaysCount" CssClass="ScheduleAgenda" Width="100%" Height="650px" @bind-SelectedDate="@CurrentDate">
        <ScheduleViews>
            <ScheduleView Option="View.Agenda"></ScheduleView>
        </ScheduleViews>
        <ScheduleEvents TValue="ScheduleData.AppointmentData" EventRendered="OnEventRendered"></ScheduleEvents>
        <ScheduleEventSettings DataSource="@dataSource"></ScheduleEventSettings>
    </SfSchedule>
</div>
<div class="col-lg-3 property-section">
    <div class="property-panel-section">
        <div class="property-panel-header">Properties</div>
        <div class="property-panel-content">
            <table id='property' class='property-panel-table' style="width: 100%;">
                <tbody>
                    <tr>
                        <td>
                            <SfNumericTextBox TValue="int" Format="n0" Placeholder="Days Count" FloatLabelType="Syncfusion.Blazor.Inputs.FloatLabelType.Always" @bind-Value="@DaysCount" Min=1 Max=15></SfNumericTextBox>
                        </td>
                    </tr>
                    <tr style="height: 50px">
                        <td>
                            <SfCheckBox @bind-Checked="@HideEmptyAgendaDays" Label="Hide Empty Days"></SfCheckBox>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

@code{
    private DateTime CurrentDate { get; set; } = new DateTime(DateTime.Today.Year, 1, 9);
    private List<ScheduleData.AppointmentData> dataSource = new ScheduleData().GetScheduleData();
    private bool HideEmptyAgendaDays { get; set; } = true;
    private int DaysCount { get; set; } = 7;
    

    public void OnEventRendered(EventRenderedArgs<ScheduleData.AppointmentData> args)
    {
        args.Attributes = ScheduleData.ApplyCategoryColor(args.Data.CategoryColor, args.Attributes, View.Agenda);
    }
}

<style>
    .ScheduleAgenda .e-m-date:hover {
        text-decoration: none !important;
    }
</style>