@page "/scheduler/date-wise-grouping"

@using Syncfusion.Blazor.Schedule
@using Syncfusion.Blazor.Buttons

@*Hidden:Lines*@
@inherits SampleBaseComponent
@inject NavigationManager NavigationManager


@*End:Hidden*@

<SampleDescription>
    <p>This demo illustrates the daily tasks of two employees grouped by date-wise.</p>
</SampleDescription>
<ActionDescription>
    <p>
        In this demo, there are 2 resources defined namely <strong>Alice</strong> and <strong>Smith</strong> under the resource
        <code>DataSource</code>. The Scheduler can be switched to group by date, by setting <code>true</code> to the option
        <a href="https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Schedule.ScheduleGroup.html#Syncfusion_Blazor_Schedule_ScheduleGroup_ByDate">ByDate</a> within the <code>ScheduleGroup</code> property.
    </p>
    <p>
        The different work days for the each resources are provided by using the <code>WorkDaysField</code> property and the Scheduler
        will be displayed the provided dates alone when <code>HideNonWorkingDays</code> property set as <code>true</code>.
    </p>
</ActionDescription>

<div class="col-lg-12" style="padding-top:15px">
    <SfCheckBox  @bind-Checked="@HideNonWorkingDays" Label="Hide non working days"></SfCheckBox>
</div>
<div class="col-lg-12 control-section">
    <SfSchedule TValue="ScheduleData.ResourceData" Width="100%" Height="650px" @bind-SelectedDate="@CurrentDate">
        <ScheduleGroup ByDate="true" HideNonWorkingDays="@HideNonWorkingDays" Resources="@groupData"></ScheduleGroup>
        <ScheduleResources>
            <ScheduleResource TItem="ResourceData" TValue="int[]" DataSource="@OwnersData" Field="TaskId" Title="Assignee" Name="Owners" TextField="Text" IdField="Id" ColorField="Color" WorkDaysField="WorkDays" AllowMultiple="true"></ScheduleResource>
        </ScheduleResources>
        <ScheduleViews>
            <ScheduleView Option="View.Day"></ScheduleView>
            <ScheduleView Option="View.Week"></ScheduleView>
            <ScheduleView MaxEventsPerRow="1" Option="View.Month"></ScheduleView>
            <ScheduleView Option="View.Agenda"></ScheduleView>
        </ScheduleViews>
        <ScheduleEventSettings DataSource="@dataSource">
            <ScheduleField>
                <FieldSubject Name="Subject" Title="Task"></FieldSubject>
                <FieldLocation Name="Location" Title="Project Name"></FieldLocation>
                <FieldDescription Name="Description" Title="Comments"></FieldDescription>
            </ScheduleField>
        </ScheduleEventSettings>
    </SfSchedule>
</div>

@code{
    private DateTime CurrentDate { get; set; } = new DateTime(DateTime.Today.Year, 1, 12);
    private List<ScheduleData.ResourceData> dataSource = new ScheduleData().GetResourceData();
    private bool HideNonWorkingDays { get; set; } = true;
    private string[] groupData = new string[] { "Owners" };
    
    private List<ResourceData> OwnersData { get; set; } = new List<ResourceData> {
        new ResourceData { Text = "Alice", Id= 1, Color = "#df5286", WorkDays = new int[] { 1, 2, 3, 4} },
        new ResourceData { Text = "Smith", Id= 2, Color = "#5978ee", WorkDays = new int[] { 2, 3, 5 } }
    };
    public class ResourceData
    {
        public string Text { get; set; }
        public int Id { get; set; }
        public string Color { get; set; }
        public int[] WorkDays { get; set; }
    }
}
