@page "/scheduler/quick-info-template"

@using Syncfusion.Blazor.Schedule
@using Syncfusion.Blazor.Inputs
@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.DropDowns
@using System.Globalization
@*Hidden:Lines*@
@inherits SampleBaseComponent
@inject NavigationManager NavigationManager


@*End:Hidden*@

<SampleDescription>
    <p> In this demo, the quick popup of appointments and cells is customized using the <code>ScheduleQuickInfoTemplates</code> property.</p>
</SampleDescription>
<ActionDescription>
    <p>In this demo, the quick popup is customized based on the office required appointment related fields which can be achieved by using the <a href="https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Schedule.ScheduleQuickInfoTemplates.html">ScheduleQuickInfoTemplates</a> option.</p>
    <p>The <code>ScheduleQuickInfoTemplates</code> has three options <code>Header</code>, <code>Content</code>, and <code>Footer</code>, where you can customize the particular portion of quick popup. You can also customize the quick popups opened on cell or event alone using the <a href="https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Schedule.ScheduleQuickInfoTemplates.html#Syncfusion_Blazor_Schedule_ScheduleQuickInfoTemplates_TemplateType">TemplateType</a> property in <code>ScheduleQuickInfoTemplates</code> option.</p>
</ActionDescription>

<div class="control-section">
    <SfSchedule TValue="ScheduleData.RoomData" @ref="ScheduleRef" CssClass="quick-info" Width="100%" Height="650px" @bind-SelectedDate="@CurrentDate" @bind-CurrentView="@CurrentView">
        <ScheduleQuickInfoTemplates>
            <HeaderTemplate>
                <SfButton OnClick="PopupClose" IconCss="e-icons e-close-icon" CssClass="e-close e-flat e-round e-small" type="button"></SfButton>
                <div class="quick-info-header">
                    <div class="quick-info-header-content" style="@(GetHeaderStyles((context as ScheduleData.RoomData)))">
                        <div class="quick-info-title">
                            @((context as ScheduleData.RoomData).Id == default(int) ? "Add Appointment" : "Appointment Details")
                        </div>
                        <div class="duration-text">@(GetEventDetails((context as ScheduleData.RoomData)))</div>
                    </div>
                </div>
            </HeaderTemplate>
            <ContentTemplate>
                @if ((context as ScheduleData.RoomData).Id == default(int) )
                {
                    <div class="e-cell-content">
                        <div class="content-area">
                            <SfTextBox @ref="SubjectRef" @bind-Value="@((context as ScheduleData.RoomData).Subject)" Created="Created" Placeholder="Title"></SfTextBox>
                        </div>
                        <div class="content-area">
                            <SfDropDownList @ref="EventTypeRef" TValue="int?" TItem="ScheduleData.RoomsData" Index="0" DataSource="@ResourceData" Placeholder="Choose Type">
                                <DropDownListFieldSettings Text="Name" Value="Id"></DropDownListFieldSettings>
                            </SfDropDownList>
                        </div>
                        <div class="content-area">
                            <SfTextBox @ref="DescriptionRef" @bind-Value="@((context as ScheduleData.RoomData).Description)" Placeholder="Notes"></SfTextBox>
                        </div>
                    </div>
                    @if (isCreated)
                    {
                        Task.Run(async () => await SetFocus());
                    }
                }
                else
                {
                    ScheduleData.RoomData Data = context as ScheduleData.RoomData;
                    <div class="event-content">
                        <div class="meeting-type-wrap">
                            <label>Subject</label>:
                            <span>@(Data.Subject)</span>
                        </div>
                        <div class="meeting-subject-wrap">
                            <label>Type</label>:
                            <span>@((Data.RoomId != 0) ? ResourceData.Where(item => item.Id.Equals(Data.RoomId)).FirstOrDefault().Name : "")</span>
                        </div>
                        <div class="notes-wrap">
                            <label>Notes</label>:
                            <span>@(Data.Description)</span>
                        </div>
                    </div>
                }
            </ContentTemplate>
            <FooterTemplate>
                @if ((context as ScheduleData.RoomData).Id == default(int) )
                {
                    <div class="cell-footer">
                        <SfButton Content="More Details" OnClick="@(e => OnMoreDetailsClick(e, (context as ScheduleData.RoomData), false))"></SfButton>
                        <SfButton Content="Add" IsPrimary="true" OnClick="@(e => OnAdd(e, (context as ScheduleData.RoomData)))"></SfButton>
                    </div>
                }
                else
                {
                    <div class="event-footer">
						<SfButton CssClass="e-event-delete" Content="Delete" OnClick="@(e => OnDelete(context as ScheduleData.RoomData))"></SfButton>
                        <SfButton IsPrimary="true" Content="More Details" OnClick="@(e => OnMoreDetailsClick(e, (context as ScheduleData.RoomData), true))"></SfButton>
                    </div>
                }
            </FooterTemplate>
        </ScheduleQuickInfoTemplates>
        <ScheduleViews>
            <ScheduleView Option="View.Day"></ScheduleView>
            <ScheduleView Option="View.Week"></ScheduleView>
            <ScheduleView Option="View.Month"></ScheduleView>
        </ScheduleViews>
        <ScheduleResources>
            <ScheduleResource TItem="ScheduleData.RoomsData" TValue="int" DataSource="@ResourceData" Field="RoomId" Title="Room Type" Name="MeetingRoom" TextField="Name" IdField="Id" ColorField="Color" AllowMultiple="false"></ScheduleResource>
        </ScheduleResources>
        <ScheduleEventSettings DataSource="@DataSource"></ScheduleEventSettings>
    </SfSchedule>
</div>

@code{
    private DateTime CurrentDate { get; set; } = new DateTime(DateTime.Today.Year, 1, 9);
    private View CurrentView { get; set; } = View.Week;
    SfSchedule<ScheduleData.RoomData> ScheduleRef;
    SfDropDownList<int?, ScheduleData.RoomsData> EventTypeRef;
    SfTextBox SubjectRef;
    SfTextBox DescriptionRef;
    bool isCreated;
    

    private string GetEventDetails(ScheduleData.RoomData data)
    {
        return data.StartTimeValue.Value.ToString("dddd dd, MMMM yyyy", CultureInfo.InvariantCulture) + " (" + data.StartTimeValue.Value.ToString("hh:mm tt", CultureInfo.InvariantCulture) + "-" + data.EndTimeValue.Value.ToString("hh:mm tt", CultureInfo.InvariantCulture) + ")";
    }
    private string GetHeaderStyles(ScheduleData.RoomData data)
    {
        if (data.Id == default(int) )
        {
            //CellClick Header Styles
            return "align-items: center ; color: #919191;";
        }
        else
        {
            //EventClick Header Styles
            return "background:" + this.ResourceData.Where(item => item.Id.Equals(data.RoomId)).FirstOrDefault().Color + "; color: #FFFFFF;";
        }
    }
    private async Task SetFocus()
    {
        if (isCreated)
        {
            await Task.Delay(20);
            await SubjectRef.FocusAsync();
        }
    }
    private async Task PopupClose()
    {
        await ScheduleRef.CloseQuickInfoPopupAsync();
    }
    private async Task Created()
    {
        await Task.Yield();
        await SubjectRef.FocusAsync();
        isCreated = true;
    }
    private async void OnMoreDetailsClick(MouseEventArgs args, ScheduleData.RoomData data, bool isEventData)
    {
        await ScheduleRef.CloseQuickInfoPopupAsync();
        if (isEventData == false)
        {
            ScheduleData.RoomData eventData = new ScheduleData.RoomData
            {
                Id = new Random().Next(1000),
                Subject = SubjectRef.Value ?? "",
                StartTime = data.StartTime,
                EndTime = data.EndTime,
                Location = data.Location,
                Description = DescriptionRef.Value ?? "",
                IsAllDay = data.IsAllDay,
                RoomId = EventTypeRef.Value.Value,
                RecurrenceException = data.RecurrenceException,
                RecurrenceID = data.RecurrenceID,
                RecurrenceRule = data.RecurrenceRule
            };
            await ScheduleRef.OpenEditorAsync(eventData, CurrentAction.Add);
        }
        else
        {
            ScheduleData.RoomData eventData = new ScheduleData.RoomData
            {
                Id = data.Id,
                Subject = data.Subject,
                Location = data.Location,
                Description = data.Description,
                StartTime = data.StartTime,
                EndTime = data.EndTime,
                IsAllDay = data.IsAllDay,
                RoomId = data.RoomId,
                RecurrenceException = data.RecurrenceException,
                RecurrenceID = data.RecurrenceID,
                RecurrenceRule = data.RecurrenceRule
            };
            await ScheduleRef.OpenEditorAsync(eventData, !string.IsNullOrEmpty(eventData.RecurrenceRule) ? CurrentAction.EditOccurrence : CurrentAction.Save);
        }
    }

    private async Task OnDelete(ScheduleData.RoomData data)
    {
        await ScheduleRef.CloseQuickInfoPopupAsync();
        await ScheduleRef.DeleteEventAsync(data, !string.IsNullOrEmpty(data.RecurrenceRule) ? CurrentAction.DeleteOccurrence : CurrentAction.Delete);
    }

    private async Task OnAdd(MouseEventArgs args, ScheduleData.RoomData data)
    {
        ScheduleData.RoomData cloneData = new ScheduleData.RoomData
        {
            Id = new Random().Next(1000),
            Subject = SubjectRef.Value ?? "Add title",
            Description = DescriptionRef.Value ?? "Add notes",
            StartTime = data.StartTime,
            EndTime = data.EndTime,
            RoomId = EventTypeRef.Value.Value,
            Location = data.Location,
            IsAllDay = data.IsAllDay,
            RecurrenceException = data.RecurrenceException,
            RecurrenceID = data.RecurrenceID,
            RecurrenceRule = data.RecurrenceRule
        };
        await ScheduleRef.CloseQuickInfoPopupAsync();
        await ScheduleRef.AddEventAsync(cloneData);
    }
    public List<ScheduleData.RoomData> DataSource = new ScheduleData().GetRoomsData();
    private List<ScheduleData.RoomsData> ResourceData { get; set; } = new List<ScheduleData.RoomsData> {
        new ScheduleData.RoomsData { Name = "Jammy", Id = 1, Color = "#ea7a57", Capacity = 20, Type = "Conference" },
        new ScheduleData.RoomsData { Name = "Tweety", Id = 2, Color = "#7fa900", Capacity = 7, Type = "Cabin" },
        new ScheduleData.RoomsData { Name = "Nestle", Id = 3, Color = "#5978ee", Capacity = 5, Type = "Cabin" },
        new ScheduleData.RoomsData { Name = "Phoenix", Id = 4, Color = "#fec200", Capacity = 15, Type = "Conference" },
        new ScheduleData.RoomsData { Name = "Mission", Id = 5, Color = "#df5286", Capacity = 25, Type = "Conference" },
        new ScheduleData.RoomsData { Name = "Hangout", Id = 6, Color = "#00bdae", Capacity = 10, Type = "Cabin" },
        new ScheduleData.RoomsData { Name = "Rick Roll", Id = 7, Color = "#865fcf", Capacity = 20, Type = "Conference" },
        new ScheduleData.RoomsData { Name = "Rainbow", Id = 8, Color = "#1aaa55", Capacity = 8, Type = "Cabin" },
        new ScheduleData.RoomsData { Name = "Swarm", Id = 9, Color = "#df5286", Capacity = 30, Type = "Conference" },
        new ScheduleData.RoomsData { Name = "Photogenic", Id = 10, Color = "#710193", Capacity = 25, Type = "Conference" }
    };
}
<style>
    .quick-info .e-quick-popup-wrapper .e-cell-popup .e-popup-content {
        padding: 0 14px;
    }
    /*HeaderStyles*/
    .quick-info-header {
        background-color: white;
        padding: 8px 18px;
    }

    .quick-info-header-content {
        justify-content: flex-end;
        display: flex;
        flex-direction: column;
        padding: 5px 10px 5px;
    }

    .quick-info-title {
        font-weight: 500;
        font-size: 16px;
        letter-spacing: 0.48px;
        height: 22px;
    }

    .duration-text {
        font-size: 11px;
        letter-spacing: 0.33px;
        height: 14px;
    }
    /*ContentStyles*/
    .content-area {
        padding: 10px;
        width: 100%;
    }

    .event-content {
        height: 90px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 15px;
    }

    .meeting-type-wrap, .meeting-subject-wrap, .notes-wrap {
        font-size: 11px;
        color: #666;
        letter-spacing: 0.33px;
        height: 24px;
        padding: 5px;
    }

    .event-content div label {
        display: inline-block;
        min-width: 45px;
        color: #666;
    }

    .event-content div span {
        font-size: 11px;
        color: #151515;
        letter-spacing: 0.33px;
        line-height: 14px;
        padding-left: 8px;
    }

    .quick-info .e-popup-content {
    }
    /*FooterStyles*/
    .cell-footer.e-btn {
        background-color: #ffffff;
        border-color: #878787;
        color: #878787;
    }

    .cell-footer {
        padding-top: 10px;
    }

    .e-quick-popup-wrapper .e-cell-popup .e-popup-content {
        padding: 0 14px;
    }

    .e-schedule .e-quick-popup-wrapper .e-close {
        display: none;
    }

    .e-quick-popup-wrapper .e-close {
        position: relative;
        right: -90%;
    }

    .material-dark .e-quick-popup-wrapper .e-event-popup .e-popup-header,
    .material-dark .quick-info-header {
        background-color: #424242;
    }

    .highcontrast .quick-info-header,
    .tailwind-dark .quick-info-header,
    .bootstrap-dark .quick-info-header,
    .fluent-dark .quick-info-header,
    .bootstrap5-dark .quick-info-header,
    .fabric-dark .quick-info-header,
    .material3-dark .quick-info-header,
    .fluent2-dark .quick-info-header,
    .fluent2-highcontrast .quick-info-header {
        background-color: transparent;
    }

    .tailwind-dark .quick-info-header-content,
    .bootstrap-dark .quick-info-header-content,
    .fabric-dark .quick-info-header-content,
    .highcontrast .quick-info-header-content,
    .fluent-dark .quick-info-header-content,
    .material3-dark .quick-info-header-content,
    .fluent2-dark .quick-info-header-content,
    .fluent2-highcontrast .quick-info-header-content {
        color: #fff !important;
    }

    .tailwind-dark .event-content div label,
    .tailwind-dark .event-content div span,
    .bootstrap-dark .event-content div label,
    .bootstrap-dark .event-content div span,
    .bootstrap5-dark .event-content div label,
    .bootstrap5-dark .event-content div span,
    .fluent-dark .event-content div label,
    .fluent-dark .event-content div span,
    .fabric-dark .event-content div label,
    .fabric-dark .event-content div span,
    .highcontrast .event-content div label,
    .highcontrast .event-content div span,
    .material3-dark .event-content div label,
    .material3-dark .event-content div span,
    .material-dark .event-content div label,
    .material-dark .event-content div span,
    .fluent2-dark .event-content div label,
    .fluent2-dark .event-content div span,
    .fluent2-highcontrast .event-content div label,
    .fluent2-highcontrast .event-content div span {
        color: #fff;
    }

    .material .e-quick-popup-wrapper .e-popup-footer,
    .material-dark .e-quick-popup-wrapper .e-popup-footer,
    .material3 .e-quick-popup-wrapper .e-popup-footer,
    .material3-dark .e-quick-popup-wrapper .e-popup-footer {
        display: block !important;
        padding: 0px 18px 8px 22px !important;
    }

    .material3 .e-quick-popup-wrapper .e-event-popup .e-popup-header,
    .material3-dark .e-quick-popup-wrapper .e-event-popup .e-popup-header {
        border-radius: 12px;
    }
</style>
