@page "/scheduler/tooltip-template"

@using Syncfusion.Blazor.Schedule
@using Syncfusion.Blazor.Buttons
@inject Microsoft.AspNetCore.Components.NavigationManager UriHelper

@*Hidden:Lines*@
@inherits SampleBaseComponent


@*End:Hidden*@

<SampleDescription>
    <p> This demo illustrates how to enable tooltip on Scheduler events as well as the way to customize it. The tooltip can be customized to display any of the information in a formatted style by using the tooltip template option. </p>
</SampleDescription>
<ActionDescription>
    <p>
        In this demo, the tooltip is enabled to display on events by setting true to <a href="https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Schedule.ScheduleEventSettings-1.html#Syncfusion_Blazor_Schedule_ScheduleEventSettings_1_EnableTooltip">EnableTooltip</a> option within the <code>ScheduleEventSettings</code> property. After enabling the default tooltip, it is customized to display the needed event information along with
        the appropriate images by using the <a href="https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Schedule.ScheduleEventSettings-1.html#Syncfusion_Blazor_Schedule_ScheduleEventSettings_1_TooltipTemplate">TooltipTemplate</a> option within the <code>ScheduleEventSettings</code>.
    </p>
    <p>The <code>TooltipTemplate</code> option will not work, if <code>EnableTooltip</code> is set to false. In mobile devices, tap holding the events will open the tooltip. </p>
</ActionDescription>

<div class="col-lg-12" style="padding-top:15px">
    <div class="form-row">
        <SfCheckBox @bind-Checked="@EnableTooltip" Label="Enable Tooltip"></SfCheckBox>
    </div>
</div>
<div class="col-lg-12 control-section">
    <SfSchedule TValue="ScheduleData.EventsData" Width="100%" Height="650px" @bind-SelectedDate="@CurrentDate" @bind-CurrentView="@CurrentView">
        <ScheduleEvents TValue="ScheduleData.EventsData" EventRendered="OnEventRendered"></ScheduleEvents>
        <ScheduleEventSettings TValue="ScheduleData.EventsData" DataSource="@dataSource" EnableTooltip="@EnableTooltip">
            <TooltipTemplate>
                @{
                    var eventData = (context as ScheduleData.EventsData);
                    <div class="tooltip-wrap">
                        <div class="image @eventData.EventType"></div>
                        <div class="content-area">
                            <div class="name">@eventData.Subject</div>
                            @if (@eventData.City != null)
                            {<div class="city">@eventData.City</div>}
                            <div class="time">From&nbsp;:&nbsp;@eventData.StartTime</div>
                            <div class="time">To&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;@eventData.EndTime</div>
                        </div>
                    </div>
                }
            </TooltipTemplate>
        </ScheduleEventSettings>
        <ScheduleViews>
            <ScheduleView Option="View.Day"></ScheduleView>
            <ScheduleView Option="View.Week"></ScheduleView>
            <ScheduleView Option="View.WorkWeek"></ScheduleView>
            <ScheduleView Option="View.Month"></ScheduleView>
            <ScheduleView Option="View.Agenda"></ScheduleView>
        </ScheduleViews>
    </SfSchedule>
</div>

@code{
    public View CurrentView { get; set; } = View.Week;
    private DateTime CurrentDate { get; set; } = new DateTime(DateTime.Today.Year, 1, 16);
    List<ScheduleData.EventsData> dataSource = new ScheduleData().GetEventsData();
    private bool EnableTooltip { get; set; } = true;
    
    public void OnEventRendered(EventRenderedArgs<ScheduleData.EventsData> args)
    {
        args.Attributes = ScheduleData.ApplyCategoryColor(args.Data.CategoryColor, args.Attributes, CurrentView);
    }
}
<style>
        .e-schedule-event-tooltip .tooltip-wrap {
            display: flex;
            align-items: center;
        }

        .e-schedule-event-tooltip .tooltip-wrap .image {
            background-image: url('@UriHelper.ToAbsoluteUri($"{SampleService.WebAssetsPath}images/scheduler/public-event.png")');
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            width: 50px;
            height: 50px;
        }

        .tailwind-dark .e-schedule-event-tooltip .tooltip-wrap .image,
        .bootstrap5-dark .e-schedule-event-tooltip .tooltip-wrap .image {
            background-color: #1F294A;
        }
        .bootstrap-dark .e-schedule-event-tooltip .tooltip-wrap .image {
            background-color: #1a1a1a;
        }
        .fabric-dark .e-schedule-event-tooltip .tooltip-wrap .image,
        .material-dark .e-schedule-event-tooltip .tooltip-wrap .image {
            background-color: #000;
        }

    .material3-dark .e-schedule-event-tooltip .tooltip-wrap .image {
        background-color: #313033;
    }

        .e-schedule-event-tooltip .tooltip-wrap .content-area {
            padding-left: 6px;
            font-size: 12px;
        }

        .e-schedule-event-tooltip .tooltip-wrap .maintenance {
            background-image: url('@UriHelper.ToAbsoluteUri($"{SampleService.WebAssetsPath}images/scheduler/public-event.png")');
        }

        .fabric .e-schedule-event-tooltip .tooltip-wrap .maintenance,
        .fluent .e-schedule-event-tooltip .tooltip-wrap .maintenance,
        .highcontrast .e-schedule-event-tooltip .tooltip-wrap .maintenance,
        .fluent2 .e-schedule-event-tooltip .tooltip-wrap .maintenance {
            background-image: url('@UriHelper.ToAbsoluteUri($"{SampleService.WebAssetsPath}images/scheduler/maintenance1.png")');
        }

        .e-schedule-event-tooltip .tooltip-wrap .public-event {
            background-image: url('@UriHelper.ToAbsoluteUri($"{SampleService.WebAssetsPath}images/scheduler/maintenance.png")');
        }

        .fabric .e-schedule-event-tooltip .tooltip-wrap .image,
        .fluent .e-schedule-event-tooltip .tooltip-wrap .image,
        .highcontrast .e-schedule-event-tooltip .tooltip-wrap .image,
        .fluent2 .e-schedule-event-tooltip .tooltip-wrap .image,
        .fabric .e-schedule-event-tooltip .tooltip-wrap .public-event,
        .fluent .e-schedule-event-tooltip .tooltip-wrap .public-event,
        .highcontrast .e-schedule-event-tooltip .tooltip-wrap .public-event,
        .fluent2 .e-schedule-event-tooltip .tooltip-wrap .public-event {
            background-image: url('@UriHelper.ToAbsoluteUri($"{SampleService.WebAssetsPath}images/scheduler/public-event1.png")');
        }

        .e-schedule-event-tooltip .tooltip-wrap .family-event {
            background-image: url('@UriHelper.ToAbsoluteUri($"{SampleService.WebAssetsPath}images/scheduler/family-event.png")');
        }

        .fabric .e-schedule-event-tooltip .tooltip-wrap .family-event,
        .fluent .e-schedule-event-tooltip .tooltip-wrap .family-event,
        .highcontrast .e-schedule-event-tooltip .tooltip-wrap .family-event,
        .fluent2 .e-schedule-event-tooltip .tooltip-wrap .family-event {
            background-image: url('@UriHelper.ToAbsoluteUri($"{SampleService.WebAssetsPath}images/scheduler/family-event1.png")');
        }

        .e-schedule-event-tooltip .tooltip-wrap .commercial-event {
            background-image: url('@UriHelper.ToAbsoluteUri($"{SampleService.WebAssetsPath}images/scheduler/commercial-event.png")');
        }

        .fabric .e-schedule-event-tooltip .tooltip-wrap .commercial-event,
        .fluent .e-schedule-event-tooltip .tooltip-wrap .commercial-event,
        .highcontrast .e-schedule-event-tooltip .tooltip-wrap .commercial-event,
        .fluent2 .e-schedule-event-tooltip .tooltip-wrap .commercial-event {
            background-image: url('@UriHelper.ToAbsoluteUri($"{SampleService.WebAssetsPath}images/scheduler/commercial-event1.png")');
        }

        .e-schedule-event-tooltip .tooltip-wrap .name {
            font-weight: 500;
            font-size: 14px;
        }
</style>
