@page "/ai-filemanager/smart-filemanager"
@page "/file-manager/ai-smart-filemanager"

@using FileManagerAI.Services
@using BlazorDemos.Service
@using Syncfusion.Blazor.FileManager
@using Syncfusion.Blazor.Popups
@using System;
@using System.IO;
@using System.Text;
@using System.Threading.Tasks;
@using Syncfusion.Blazor.DropDowns
@using Syncfusion.Blazor.Notifications
@using Syncfusion.Pdf;
@using Syncfusion.Pdf.Graphics;
@using Syncfusion.Pdf.Grid;
@using Syncfusion.Drawing;
@using Syncfusion.Pdf.Parsing;
@using System.Text.RegularExpressions;
@using Syncfusion.DocIO;
@using Syncfusion.DocIO.DLS;
@using Syncfusion.Blazor.Spinner;
@using Syncfusion.Blazor.Buttons;
@*Hidden:Lines*@
@inherits SampleBaseComponent
@*End:Hidden*@
@inject FileManagerService FileManagerService
@inject AzureAIService AzureAIService
@inject NavigationManager NavigationManager

<ActionDescription>
<p>
    The Blazor File Manager is enhanced with AI capabilities, providing Smart Search, Content Summary, and Intelligent Organization. These features enable users to efficiently retrieve files, get concise file content overviews, and automatically categorize files for seamless management.
  </p>
  <p>
    Explore our <strong>Smart AI demos</strong> with limited AI token usage directly in your browser. To dive deeper and experiment with these features locally using your own API key, check out our <a href="https://github.com/syncfusion/smart-ai-samples/tree/master/blazor" target="_blank" rel="noopener" aria-label="Navigate to the Syncfusion Smart AI Samples GitHub repository"><strong>Syncfusion Smart AI Samples</strong></a> on GitHub.
  </p>
  <p>
    This component demonstrates how AI-driven operations can facilitate smarter file retrieval and management. Use Smart Search for semantically enhanced results and view file summaries at a glance to understand file contents without opening them.
  </p>
</ActionDescription>



@*Hidden:Lines*@
<AINotification></AINotification>
@*End:Hidden*@

@*Hidden:Lines*@
<AIToastNotification></AIToastNotification>
@*End:Hidden*@

<div class="control-section">
    <div class="file-manager">
        <SfFileManager ShowTooltip="false" TValue="FileManagerDirectoryContent" ID="@FileManagerId" @ref="FileManager" Height="500px" @bind-SelectedItems="SelectedItems">
            <FileManagerSearchSettings AllowSearchOnTyping=false></FileManagerSearchSettings>
            <FileManagerToolbarSettings ToolbarItems="@Items"></FileManagerToolbarSettings>
            <FileManagerContextMenuSettings File="@FileItems" Folder="@FolderItems"></FileManagerContextMenuSettings>
            <FileManagerEvents TValue="FileManagerDirectoryContent" OnRead="OnReadAsync" ItemsDeleting="ItemsDeletingAsync" FolderCreating="FolderCreatingAsync" Searching="SearchingAsync" ItemRenaming="ItemRenamingAsync" ItemsMoving="ItemsMovingAsync" ItemsUploaded="ItemsUploadedAsync" BeforeDownload="BeforeDownload" BeforeImageLoad="BeforeImageLoadAsync" OnFileOpen="OnFileOpen" MenuOpened="MenuOpened" OnMenuClick="OnMenuClick" FileSelected="FileSelected" ToolbarItemClicked="ToolbarItemClicked"></FileManagerEvents>
            <div id="FileManagerSpinner">
                <SfSpinner @bind-Visible="@VisibleProperty" ZIndex="1006">
                </SfSpinner>
            </div>
        </SfFileManager>
    </div>
</div>

<div>
    <SfDialog ID="Summary" Width="600" Height="90%" ZIndex="1000" EnableResize="true" AllowDragging="true" IsModal=true ShowCloseIcon="true" @bind-Visible="@IsDialogVisible" Target=@("#"+FileManagerId)>
        <DialogTemplates>
            <Header>@DialogTitle</Header>
            <Content>
                <div class="Summary-Dialog">
                    @if (!isContentGenerating)
                    {
                        @((MarkupString)DialogContent)
                    }
                    else
                    {
                        <SfSkeleton CssClass="skeletonRectangle" Shape=SkeletonType.Rectangle Width="100%" Height="20px"></SfSkeleton>
                        <SfSkeleton CssClass="skeletonRectangle" Shape=SkeletonType.Rectangle Width="80%" Height="20px"></SfSkeleton>
                        <SfSkeleton CssClass="skeletonRectangle" Shape=SkeletonType.Rectangle Width="70%" Height="20px"></SfSkeleton>
                        <SfSkeleton CssClass="skeletonRectangle" Shape=SkeletonType.Rectangle Width="50%" Height="20px"></SfSkeleton>
                    }
                </div>
            </Content>
        </DialogTemplates>
        <DialogEvents OnOverlayModalClick="DialogOverlay" OnClose="OnClose" />
    </SfDialog>
</div>

<style>

    .container {
        display: flex;
        width: 100%;
    }


    #FileManagerSpinner .e-spinner-inner {
        margin-top: 160px;
        margin-left: 216px;
    }

    .split-container {
        display: flex;
        padding-top: 10px
    }

    .split-left, .split-right {
        flex: 1;
        padding: 10px;
    }

    .flex-container {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .rich-label {
        font-size: 1.2em;
        color: #333;
        font-weight: bold;
    }

    .feature-description {
        border: 1px solid #d1d9e0;
        border-radius: 10px;
        padding: 5px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        font-family: Arial, sans-serif;
        margin: 20px 0;
    }

    .feature-description h4 {
        color: #2a3f54;
        font-size: 1.3em;
        margin-bottom: 15px;
    }

    .feature-description ul {
        list-style-type: disc;
        padding-left: 20px;
    }

    .feature-description li {
        color: #596775;
        font-size: 1em;
        line-height: 1.4;
        margin-bottom: 10px;
    }

    .feature-description li:last-of-type {
        margin-bottom: 0;
    }
</style>
