@page "/ComboBox/Cascading"

@using Syncfusion.EJ2.Blazor.DropDowns

@*Hidden:Lines*@
@using ej2_blazor_samples
@{
    SampleBrowser.CurrentSampleName = "Cascading";
    SampleBrowser.CurrentControlName = "ComboBox";
    SampleBrowser.CurrentControlCategory = "ComboBox";
    SampleBrowser.CurrentControl = SampleBrowser.Config.ComboBox;
    SampleBrowser.ActionDescription = new string[] {
        @"<p>
            This sample demonstrates the cascading functionalities of the ComboBox. Choose a country from countries ComboBox, then respective states will be loaded in the second ComboBox
            and the same has to done between states and cities ComboBox.
        </p>"
    };
    SampleBrowser.Description = new string[] {
            @"<p>The <code>Cascading</code> ComboBox is the series of ComboBox, where the value of one ComboBox depends on the another
            ComboBox value. This can be configured by using the <code>ValueChange</code> event of parent ComboBox. Within
            that change event handler, you should load the data to child ComboBox based on the selected value of parent ComboBox.</p>"
    };
}
@*End:Hidden*@

<div class="col-lg-12 control-section">
    <div class='control-wrapper'>
        <div class="padding-top">
            <EjsComboBox TValue="string" Placeholder="Select a country" AllowCustom=false PopupHeight="auto" DataSource="@Country">
                <ComboBoxEvents TValue="string" ValueChange="ChangeCountry"></ComboBoxEvents>
                <ComboBoxFieldSettings Text="CountryName" Value="CountryId"></ComboBoxFieldSettings>
            </EjsComboBox>
        </div>
        <div class="padding-top">
            <EjsComboBox Enabled="@EnableStateDropDown" Value="@StateValue" Placeholder="Select a state" Query="@StateQuery" AllowCustom=false PopupHeight="auto" DataSource="@States">
                <ComboBoxFieldSettings Text="StateName" Value="StateId"></ComboBoxFieldSettings>
            </EjsComboBox>
        </div>
    </div>
</div>

<style>

    .control-wrapper {
        margin: 0 auto;
        width: 250px;
    }

    .control-section .padding-top {
        padding-top: 35px
    }
</style>


@code {
    public bool EnableStateDropDown = false;
    public string StateValue { get; set; } = null;
    public string StateQuery { get; set; } = null;

    public void ChangeCountry(@Syncfusion.EJ2.Blazor.DropDowns.ChangeEventArgs<string> args)
    {
        this.EnableStateDropDown = true;
        this.StateQuery = "new ej.data.Query().where('CountryId', 'equal', '" + args.Value + "')";
        this.StateValue = null;
        this.StateHasChanged();
    }

    public class State
    {
        public string StateName { get; set; }

        public string CountryId { get; set; }

        public string StateId { get; set; }
    }

    public class Countries
    {
        public string CountryName { get; set; }

        public string CountryId { get; set; }
    }

    public List<Countries> Country = new List<Countries>() {
        new Countries(){ CountryName= "Australia", CountryId= "2" },
        new Countries(){ CountryName= "United States", CountryId= "1" },
    };

    public List<State> States = new List<State>() {
        new State() { StateName= "New York", CountryId= "1", StateId= "101" },
        new State() { StateName= "Queensland", CountryId= "2", StateId= "104" },
        new State() { StateName= "Tasmania ", CountryId= "2", StateId= "105" },
        new State() { StateName= "Victoria", CountryId= "2", StateId= "106" },
        new State() { StateName= "Virginia", CountryId= "1", StateId= "102" },
        new State() { StateName= "Washington", CountryId= "1", StateId= "103" }
    };
}
