@page "/Charts/StockChart"
@using Syncfusion.EJ2.RazorComponents.Charts
@using System;
@using System.Collections.Generic;
@using System.Linq;
@using System.Threading.Tasks;
@using Newtonsoft.Json;
@*Hidden:Lines*@
@using ej2_blazor_samples
@{
    SampleBrowser.CurrentSampleName = "Stock Chart";
    SampleBrowser.CurrentControlName = "StockChart";
    SampleBrowser.CurrentControlCategory = "StockChart";
    SampleBrowser.CurrentControl = SampleBrowser.Config.StockChart;
    SampleBrowser.ActionDescription = new string[] {
        @"<p>
        This sample visualizes stock chart.
    </p>"
    };
    SampleBrowser.Description = new string[] {
        @"<p>
        In this example, you can see how to render and configure the Stock chart.
        <code>CandleSeries</code> is used to represent selected data value.
    </p>
    <br>"
    };
}
@*End:Hidden*@

<div class="control-section">
    <EjsStockChart id="stockChart" Title="AAPL Stock Price" series="@seriesData" primaryXAxis="@xAxis" primaryYAxis="@yAxis" tooltip="@tooltip" dataSource="@data">
    </EjsStockChart>
</div>

@functions{




    public Object xAxis = new
    {
        valueType = "DateTime",
        labelFormat = "y",
        intervalType = "Years",
        edgelabelPalcement = "Shift",
        majorGridLines = new { width = 0.0000001 }
    };



    public Object yAxis = new
    {
        labelFormat = "{value}M",
        rangePadding = "None",
        title = "Revenue",
        majorTickLines = new { width = 0.000001 },
        minorTickLines = new { width = 0.000001 }
    };

    public Object tooltip = new
    {
        enable = true,
        shared = true
    };



    public Object crosshair = new
    {
        enable = true,
        lineType = "Vertical"
    };

    public List<object> data { get; set; } = new List<object> {

            new LineChartData { xValue = new DateTime(2005, 01, 01), yValue = 21, yValue1 = 28 },
            new LineChartData { xValue = new DateTime(2006, 01, 01), yValue = 24, yValue1 = 44 },
            new LineChartData { xValue = new DateTime(2007, 01, 01), yValue = 36, yValue1 = 48 },
            new LineChartData { xValue = new DateTime(2008, 01, 01), yValue = 38, yValue1 = 50 },
            new LineChartData { xValue = new DateTime(2009, 01, 01), yValue = 54, yValue1 = 66 },
            new LineChartData { xValue = new DateTime(2010, 01, 01), yValue = 57, yValue1 = 78 },
            new LineChartData { xValue = new DateTime(2011, 01, 01), yValue = 70, yValue1 = 84 },
        };

    public class LineChartData
    {
        public DateTime xValue;
        public double yValue;
        public double yValue1;
    };




    public List<object> seriesData { get; set; } = new List<object>
    {
        new { xName = "xValue", type = "Line", yName = "yValue" }
    };    

};
