@page "/DropDown-Tree/customization"

@using Syncfusion.Blazor.Navigations
@using Syncfusion.Blazor.Inputs
@inject Microsoft.AspNetCore.Components.NavigationManager UriHelper
@*Hidden:Lines*@
@inherits SampleBaseComponent
@inject NavigationManager NavigationManager


@*End:Hidden*@


<SampleDescription>
    <p>This sample provides an explanation of the template functionalities and configuration of items within the Dropdown Tree component using icons or images. Click on the icon or double-click on it to expand or collapse it and to show the icons or images that are configured with it.</p>
</SampleDescription>
<ActionDescription>
    <p>The <code>Dropdown Tree </code>component has the built-in option to customize each item's appearance with the icons and images by mapping the <code>IconCss</code> and <code>ImageUrl</code> fields.</p>
    <p>The Dropdown Tree component  has been provided with several options to customize list item, header, and footer elements.</p>
    <p>
        This sample uses the following list of templates in the Dropdown Tree component:
        <ul>
            <li><code>ItemTemplate</code>       - To customize the list items' content.</li>
            <li><code>HeaderTemplate </code> - To customize the header element.</li>
            <li><code>FooterTemplate </code>  - To customize the footer element.</li>
        </ul>
    </p>
</ActionDescription>

<div class="col-lg-12 control-section dropdowntree-icons">
    <div class="row">
        <div class="col-lg-6">
            <div class="control-wrapper">
                <label for="icons" class="customization-label">Icons and Images</label>
                <SfDropDownTree TItem="TreeItem" TValue="string" ID="icons" Placeholder="Select a folder or file" PopupHeight="230px" CssClass="dropdowntree-icon" Text="Videos" FloatLabelType="FloatLabelType.Always">
                    <DropDownTreeField TItem="TreeItem" DataSource="TreeDataSource" ID="NodeId" Text="NodeText" Expanded="Expanded" Child="@("NodeChild")" IconCss="Icon" ImageUrl="Image"></DropDownTreeField>
                </SfDropDownTree>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="control-wrapper">
                <label for="template" class="customization-label">Template</label>
                <SfDropDownTree TItem="EmployeeData" TValue="string" ID="template" CssClass="ddt-template" Placeholder="Select an employee" PopupHeight="230px" FloatLabelType="FloatLabelType.Auto">
                    <ChildContent>
                        <DropDownTreeField TItem="EmployeeData" DataSource="Data" ID="Id" Text="Name" HasChildren="HasChild" ParentID="PId"></DropDownTreeField>
                    </ChildContent>

                    <ItemTemplate>
                        <div>
                            <img class="eimage" src="@UriHelper.ToAbsoluteUri($"{SampleService.WebAssetsPath}images/dropdown-tree/employees/{(context as EmployeeData).Eimg}.png")" />
                            <span class="e-badge icons">
                                <span class="@((context as EmployeeData).Status)"></span>
                            </span>
                            <div class="details">
                                <span class="ename">@((context as EmployeeData).Name)</span>
                                <span class="ejob">@((context as EmployeeData).Job)</span>
                            </div>
                        </div>
                    </ItemTemplate>

                    <FooterTemplate>
                        <div class="footer">
                            <div class="footer-content">
                                <span class="e-badge">
                                    <span class="display available">
                                        <span class="status online"></span>
                                        Available
                                    </span>
                                    <span class="display meeting">
                                        <span class="status busy"></span>
                                        Busy
                                    </span>
                                    <span class="display unavailable">
                                        <span class="status away"></span>
                                        Away
                                    </span>
                                </span>
                            </div>
                        </div>
                    </FooterTemplate>

                </SfDropDownTree>
            </div>
        </div>
    </div>
</div>

<style>
    .control-wrapper {
        max-width: 300px;
        margin: 0 auto;
        padding: 10px 0px 0px;
    }

    .dropdowntree-icon .e-treeview .e-list-img {
        width: 25px;
        height: 25px;
    }

    .customization-label {
        font-size: 14px;
        margin-bottom: 6px;
    }

    @@media (max-width: 900px) {
        .control-wrapper {
            padding: 30px 0px 0px;
        }
    }

    /* Loading sprite image for Dropdown Tree component  */
    .dropdowntree-icon .e-treeview .e-list-icon {
        background-repeat: no-repeat;
        background-image: url('@UriHelper.ToAbsoluteUri($"{SampleService.WebAssetsPath}images/dropdown-tree/file-icons.png")');
        height: 20px;
    }

    /* Specify the icon positions based upon class name */
    .dropdowntree-icon .e-treeview .e-list-icon.folder {
        background-position: -10px -552px
    }

    .e-bigger .dropdowntree-icon .e-treeview .e-list-icon.folder {
        background-position: -10px -550px;
    }

    .dropdowntree-icon .e-treeview .e-list-icon.docx {
        background-position: -10px -20px
    }

    .dropdowntree-icon .e-treeview .e-list-icon.ppt {
        background-position: -10px -48px
    }

    .dropdowntree-icon .e-treeview .e-list-icon.pdf {
        background-position: -10px -104px
    }

    .dropdowntree-icon .e-treeview .e-list-icon.images {
        background-position: -10px -132px
    }

    .dropdowntree-icon .e-treeview .e-list-icon.zip {
        background-position: -10px -188px
    }

    .dropdowntree-icon .e-treeview .e-list-icon.audio {
        background-position: -10px -244px
    }

    .dropdowntree-icon .e-treeview .e-list-icon.video {
        background-position: -10px -272px
    }

    .dropdowntree-icon .e-treeview .e-list-icon.exe {
        background-position: -10px -412px
    }

    /*template styles*/
    .e-rtl.ddt-template .e-badge.icons {
        left: 0;
        right: unset;
    }

    .e-rtl.ddt-template .eimage {
        padding: 11px 0 11px 16px;
        float: right;
    }

    .ddt-template .footer {
        vertical-align: middle;
        padding: 5px;
        text-align: center;
    }

    .ddt-template .footer {
        background-color: #F5F5F5;
        color: #718292;
        box-sizing: border-box;
        font-weight: bold;
    }

    .material3 .ddt-template .e-list-text,
    .material3-dark .ddt-template .e-list-text {
        padding: 4px 8px;
    }

    .highcontrast .ddt-template .footer,
    .highcontrast .ddt-template .footer-content .e-badge {
        color: #fff;
        background-color: #000;
    }

    .material-dark .ddt-template .footer,
    .material-dark .ddt-template .footer-content .e-badge {
        color: #fff;
        background-color: #333;
    }

    .fabric-dark .ddt-template .footer,
    .fabric-dark .ddt-template .footer-content .e-badge {
        color: #fff;
        background-color: #3333;
    }

    .bootstrap-dark .ddt-template .footer,
    .bootstrap-dark .ddt-template .footer-content .e-badge {
        color: #fff;
        background-color: #1A1A1A;
    }

    .bootstrap5-dark .ddt-template .footer,
    .bootstrap5-dark .ddt-template .footer-content .e-badge {
        color: #fff;
        background-color: #212529;
    }

    .tailwind-dark .ddt-template .footer,
    .tailwind-dark .ddt-template .footer-content .e-badge {
        color: #fff;
        background-color: #1f2937;
    }

    .e-bigger .e-ddt.ddt-template .e-treeview .e-fullrow,
    .e-ddt.ddt-template .e-treeview .e-fullrow {
        height: 72px;
    }

    .e-ddt.ddt-template .e-treeview .e-list-text {
        line-height: normal;
    }

    .e-ddt.ddt-template .e-treeview .e-list-parent.e-ul {
        width: 100%;
    }

    .ddt-template .eimage {
        float: left;
        padding: 11px 16px 11px 0;
        height: 45px;
        width: 45px;
        box-sizing: content-box;
    }

    .ddt-template .ename {
        font-size: 14px;
        padding: 14px 0 0;
    }

    .ddt-template .ejob {
        font-size: 13px;
        color: #979A9C;
        opacity: .87;
        padding-top: 5px;
    }

    .ddt-template .e-badge.icons {
        padding: 0;
        right: 26px;
        position: relative;
        top: 25px;
        background: transparent;
    }

    .ddt-template .details {
        display: inline-grid;
    }

    .ddt-template .footer-content .e-badge {
        display: flex;
    }

    .ddt-template .display {
        width: 100%;
    }

    .ddt-template .status {
        margin-right: 10px;
    }

    .ddt-template .footer .e-badge.icons {
        position: relative;
    }

    .ddt-template .e-badge.icons span,
    .ddt-template .status {
        width: 10px;
        height: 10px;
        display: inline-block;
        border-radius: 50%;
    }

    .ddt-template .busy {
        background-color: #FF292F;
    }

    .ddt-template .online {
        background-color: #00DB52;
    }

    .ddt-template .away {
        background-color: #FFB900;
    }

    .e-ddt.e-popup.ddt-template .e-treeview {
        display: block;
    }
</style>

@code {
    List<TreeItem> TreeDataSource = new List<TreeItem>();
    List<EmployeeData> Data = new List<EmployeeData>
    {
        new EmployeeData() { Id = "1", Name = "Steven Buchanan", Job = "General Manager", Eimg = "10", HasChild = true, Expanded = true, Status = "busy" },
        new EmployeeData() { Id = "2", PId = "1", Name = "Laura Callahan", Job = "Product Manager", Eimg = "2", HasChild = true, Status = "online" },
        new EmployeeData() { Id = "3", PId = "2", Name = "Andrew Fuller", Job = "Team Lead", Eimg = "7", HasChild = true, Status = "away" },
        new EmployeeData() { Id = "4", PId = "3", Name = "Anne Dodsworth", Job = "Developer", Eimg = "1", Status = "busy" },
        new EmployeeData() { Id = "10", PId = "3", Name = "Lilly", Job = "Developer", Eimg = "5", Status = "online" },
        new EmployeeData() { Id = "5", PId = "1", Name = "Nancy Davolio", Job = "Product Manager", Eimg = "4", HasChild = true, Status = "away" },
        new EmployeeData() { Id = "6", PId = "5", Name = "Michael Suyama", Job = "Team Lead", Eimg = "9", HasChild = true, Status = "online" },
        new EmployeeData() { Id = "7", PId = "6", Name = "Robert King", Job = "Developer", Eimg = "8", Status = "online" },
        new EmployeeData() { Id = "11", PId = "6", Name = "Mary", Job = "Developer", Eimg = "6", Status = "away" },
        new EmployeeData() { Id = "9", PId = "1", Name = "Janet Leverling", Job = "HR", Eimg = "3", Status = "online" }
    };

    protected override void OnInitialized()
    {
        base.OnInitialized();
        TreeDataSource = new List<TreeItem>
        {
            new TreeItem
            {
                NodeId = "01",
                NodeText = "Music",
                Icon = "folder",
                NodeChild = new List<TreeItem>
                {
                    new TreeItem { NodeId = "01-01", NodeText = "Gouttes.mp3", Icon = "audio" }
                }
            },
            new TreeItem
            {
                NodeId = "02",
                NodeText = "Videos",
                Icon = "folder",
                Expanded = true,
                NodeChild = new List<TreeItem>
                {
                    new TreeItem { NodeId = "02-01", NodeText = "Naturals.mp4", Icon = "video" },
                    new TreeItem { NodeId = "02-02", NodeText = "Wild.mpeg", Icon = "video" }
                }
            },
            new TreeItem
            {
                NodeId = "03",
                NodeText = "Documents",
                Icon = "folder",
                NodeChild = new List<TreeItem>
                {
                    new TreeItem { NodeId = "03-01", NodeText = "Environment Pollution.docx", Icon = "docx" },
                    new TreeItem { NodeId = "03-02", NodeText = "Global Water, Sanitation, & Hygiene.docx", Icon = "docx" },
                    new TreeItem { NodeId = "03-03", NodeText = "Global Warming.ppt", Icon = "ppt" },
                    new TreeItem { NodeId = "03-04", NodeText = "Social Network.pdf", Icon = "pdf" },
                    new TreeItem { NodeId = "03-05", NodeText = "Youth Empowerment.pdf", Icon = "pdf" }
                }
            },
            new TreeItem
            {
                NodeId = "04",
                NodeText = "Pictures",
                Icon = "folder",
                NodeChild = new List<TreeItem>
                {
                    new TreeItem
                    {
                        NodeId = "04-01",
                        NodeText = "Camera Roll",
                        Icon = "folder",
                        NodeChild = new List<TreeItem>
                        {
                            new TreeItem { NodeId = "04-01-01", NodeText = "WIN_20160726_094117.JPG", Image = $"{SampleService.WebAssetsPath}images/dropdown-tree/employees/9.png" },
                            new TreeItem { NodeId = "04-01-02", NodeText = "WIN_20160726_094118.JPG", Image = $"{SampleService.WebAssetsPath}images/dropdown-tree/employees/3.png" }
                        }
                    }
                }
            },
            new TreeItem
            {
                NodeId = "05",
                NodeText = "Downloads",
                Icon = "folder",
                NodeChild = new List<TreeItem>
                {
                    new TreeItem { NodeId = "05-01", NodeText = "UI-Guide.pdf", Icon = "pdf" },
                    new TreeItem { NodeId = "05-02", NodeText = "Tutorials.zip", Icon = "zip" },
                    new TreeItem { NodeId = "05-03", NodeText = "Game.exe", Icon = "exe" },
                    new TreeItem { NodeId = "05-04", NodeText = "TypeScript.7z", Icon = "zip" }
                }
            }
        };
    }

    class TreeItem
    {
        public string NodeId { get; set; }
        public string NodeText { get; set; }
        public string Icon { get; set; }
        public string Image { get; set; }
        public bool Expanded { get; set; }
        public bool Selected { get; set; }
        public List<TreeItem> NodeChild { get; set; }
    }

    class EmployeeData
    {
        public string Id { get; set; }
        public string Name { get; set; }
        public string Job { get; set; }
        public string Eimg { get; set; }
        public bool HasChild { get; set; }
        public bool Expanded { get; set; }
        public string Status { get; set; }
        public string PId { get; set; }
    }
}
