@page "/arc-gauge/default"

@using Syncfusion.Blazor
@using Syncfusion.Blazor.CircularGauge
@using ThemeHelper
@inject NavigationManager NavigationManager

@*Hidden:Lines*@
@inherits SampleBaseComponent;



@*End:Hidden*@

<SampleDescription>
    <p>This sample shows the arc gauge's default rendering. It also shows the most popular social media platforms and the percentage of female users.</p>
</SampleDescription>
<ActionDescription>
    <p>In this example, you can see how to render a default arc gauge. The arc gauge helps in the visualization of numerical values of scales in a semi-circular manner. You can use <a target="_blank" href="https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.CircularGauge.CircularGaugeAxis.html" aria-label="Class reference of CircularGaugeAxes">CircularGaugeAxes</a>, <a target="_blank" href="https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.CircularGauge.CircularGaugeRange.html" aria-label="Class reference of CircularGaugeRanges">CircularGaugeRanges</a> and <a target="_blank" href="https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.CircularGauge.CircularGaugeAnnotation.html">CircularGaugeAnnotations</a> oriented properties to customize the default appearance of the arc gauge.</p>
    <p>More information on the arc gauge can be found in this <a target='_blank' href='https://blazor.syncfusion.com/documentation/circular-gauge/getting-started' aria-label="Blazor Circular Gauge Getting Started documentation" >documentation section</a>.</p>
</ActionDescription>

<style>
    .titleText {
        font-family:inherit;
        font-size: 22px;
        margin-top: 7px;
    }
    .tailwind div.titleText,
    .tailwind-dark div.titleText {
        font-size: 22px;
        margin-top: 2px;
    }
    .annotation {
        font-family: inherit;
        font-size: 18px;
        font-family: inherit;
    }

    .material div.titleText, .material-dark div.titleText, .bootstrap-dark div.titleText, .bootstrap div.titleText,
    .bootstrap4 div.titleText {
        margin-top: 9px;
    }
</style>
<style type="text/css" media="screen and (max-width:550px)">
    .titleText {
        font-size: 18px;
     }
 </style>
<style type="text/css" media="screen and (max-width:420px)">
    .titleText {
        font-size: 15px;
        margin-top: 8px;
    }
    .annotation {
        font-size: 12px;
        font-family: inherit;
        margin-top: -6px;
    }
    .tailwind div.titleText,
    .tailwind-dark div.titleText {
        font-size: 15px;
        margin-top: 0px;
    }
</style>

<div class="control-section" align="center">
    <SfCircularGauge Height="500px" Title="Female (% usage) on popular social network" Theme="@Theme">
        <CircularGaugeTitleStyle Size="18px" FontFamily="inherit" FontWeight="@FontWeight"></CircularGaugeTitleStyle>
        <CircularGaugeAxes>
            <CircularGaugeAxis StartAngle="0" EndAngle="270" Minimum="0" Maximum="100" Radius="100%">
                <CircularGaugeAnnotations>
                    <CircularGaugeAnnotation Angle="@YoutubeAngle" ZIndex="1" Radius="@YouTubeRadius">
                        <ContentTemplate>
                            <div class="titleText" aria-level="1" role = "heading" style="color:#c8eab7;font-family:inherit;">YouTube</div>
                        </ContentTemplate>
                    </CircularGaugeAnnotation>
                    <CircularGaugeAnnotation Angle="@InstagramAngle" ZIndex="1" Radius="@InstagramRadius">
                        <ContentTemplate>
                            <div class="titleText" aria-level="2" role = "heading" style="color:#82cdbc;font-family:inherit;">Instagram</div>
                        </ContentTemplate>
                    </CircularGaugeAnnotation>
                    <CircularGaugeAnnotation Angle="@TwitterAngle" ZIndex="1" Radius="@TwitterRadius">
                        <ContentTemplate>
                            <div class="titleText" aria-level="3" role = "heading" style="color:#43b6c4;font-family:inherit;">Twitter</div>
                        </ContentTemplate>
                    </CircularGaugeAnnotation>
                    <CircularGaugeAnnotation Angle="@FacebookAngle" ZIndex="1" Radius="@FacebookRadius">
                        <ContentTemplate>
                            <div class="titleText" aria-level="4" role = "heading" style="color:#1d91bf;font-family:inherit;">Facebook</div>
                        </ContentTemplate>
                    </CircularGaugeAnnotation>
                    <CircularGaugeAnnotation Angle="@TiktokAngle" ZIndex="1" Radius="@TiktokRadius">
                        <ContentTemplate>
                            <div class="titleText" aria-level="5" role = "heading" style="color:#205ea8;font-family:inherit;">TikTok</div>
                        </ContentTemplate>
                    </CircularGaugeAnnotation>
                    <CircularGaugeAnnotation Angle="191" ZIndex="1" Radius="89%">
                        <ContentTemplate>
                            <div class="annotation">68%</div>
                        </ContentTemplate>
                    </CircularGaugeAnnotation>
                    <CircularGaugeAnnotation Angle="125" ZIndex="1" Radius="75%">
                        <ContentTemplate>
                            <div class="annotation">43%</div>
                        </ContentTemplate>
                    </CircularGaugeAnnotation>
                    <CircularGaugeAnnotation Angle="@InstagramValueAngle" ZIndex="1" Radius="@InstagramValueRadius">
                        <ContentTemplate>
                            <div class="annotation">21%</div>
                        </ContentTemplate>
                    </CircularGaugeAnnotation>
                    <CircularGaugeAnnotation Angle="214" ZIndex="1" Radius="48%">
                        <ContentTemplate>
                            <div class="annotation">75%</div>
                        </ContentTemplate>
                    </CircularGaugeAnnotation>
                    <CircularGaugeAnnotation Angle="134" ZIndex="1" Radius="@TikTokValueRadius">
                        <ContentTemplate>
                            <div class="annotation">44%</div>
                        </ContentTemplate>
                    </CircularGaugeAnnotation>
                </CircularGaugeAnnotations>
                <CircularGaugeAxisLineStyle Width="0"></CircularGaugeAxisLineStyle>
                <CircularGaugeAxisLabelStyle Position="Position.Inside">
                    <CircularGaugeAxisLabelFont Size="0px">
                    </CircularGaugeAxisLabelFont>
                </CircularGaugeAxisLabelStyle>
                <CircularGaugeAxisMajorTicks Height="0" Width="0">
                </CircularGaugeAxisMajorTicks>
                <CircularGaugeAxisMinorTicks Height="0" Width="0">
                </CircularGaugeAxisMinorTicks>
                <CircularGaugeRanges>
                    <CircularGaugeRange Start="0" End="68" Color="#c8eab7" Radius="94%" StartWidth="22" EndWidth="22" />
                    <CircularGaugeRange Start="74" End="100" Color="#7a7f82" Radius="89%" StartWidth="1" EndWidth="1" />
                    <CircularGaugeRange Start="0" End="43" Color="#82cdbc" Radius="80%" StartWidth="22" EndWidth="22" />
                    <CircularGaugeRange Start="49" End="100" Color="#7a7f82" Radius="75%" StartWidth="1" EndWidth="1" />
                    <CircularGaugeRange Start="0" End="21" Color="#43b6c4" Radius="66%" StartWidth="22" EndWidth="22" />
                    <CircularGaugeRange Start="28" End="100" Color="#7a7f82" Radius="61%" StartWidth="1" EndWidth="1" />
                    <CircularGaugeRange Start="0" End="75" Color="#1d91bf" Radius="52%" StartWidth="22" EndWidth="22" />
                    <CircularGaugeRange Start="84" End="100" Color="#7a7f82" Radius="47%" StartWidth="1" EndWidth="1" />
                    <CircularGaugeRange Start="0" End="44" Color="#205ea8" Radius="38%" StartWidth="22" EndWidth="22" />
                    <CircularGaugeRange Start="55" End="100" Color="#7a7f82" Radius="34%" StartWidth="1" EndWidth="1" />
                </CircularGaugeRanges>
                <CircularGaugePointers>
                    <CircularGaugePointer Radius="0%">
                        <CircularGaugeCap Radius="0">
                            <CircularGaugeCapBorder Width="0"></CircularGaugeCapBorder>
                        </CircularGaugeCap>
                    </CircularGaugePointer>
                </CircularGaugePointers>
            </CircularGaugeAxis>
        </CircularGaugeAxes>
    </SfCircularGauge>
</div>

@code {

    public Theme Theme { get; set; }
    public string FontWeight = "500";
    public double YoutubeAngle = 346;
    public string YouTubeRadius = "93%";
    public double InstagramAngle = 342;
    public string InstagramRadius = "80%";
    public double TwitterAngle = 343;
    public string TwitterRadius = "65%";
    public double FacebookAngle = 333;
    public string FacebookRadius = "54%";
    public double TiktokAngle = 332;
    public string TiktokRadius = "39%";
    public string TikTokValueRadius = "33%";
    public string InstagramValueRadius = "61%";
    public double InstagramValueAngle = 66;

    protected override void OnInitialized()
    {

        Theme = ThemeHelper.GetCurrentTheme(NavigationManager.Uri);
        if (SampleService.IsDevice || (Theme == Theme.Tailwind || Theme == Theme.TailwindDark))
        {
            InstagramValueRadius = "60%";
            InstagramValueAngle = 67;
        } else
        {
            InstagramValueRadius = "61%";
            InstagramValueAngle = 66;
        }

        if (Theme == Theme.Tailwind || Theme == Theme.TailwindDark)
        {
            YoutubeAngle = 345;
            InstagramAngle = 340;
            TwitterAngle = 341;
            FacebookAngle = 330;
            TiktokAngle = 329;
            YouTubeRadius = "91%";
            TwitterRadius = "64%";
            InstagramRadius = "79%";
            FacebookRadius = "54%";
            TiktokRadius = "38%";
            FontWeight = "500";
        }
        else if (Theme == Theme.Bootstrap5 || Theme == Theme.Bootstrap5Dark) {
            FontWeight = "500";
        }
        else if (Theme == Theme.Fluent ||Theme == Theme.FluentDark) {
            FontWeight = "600";
        }
        else {
            FontWeight = "normal";
        }
    }
}
