@page "/arc-gauge/key-performance-indicator"

@using Syncfusion.Blazor
@using Syncfusion.Blazor.CircularGauge
@using ThemeHelper
@inject NavigationManager NavigationManager

@*Hidden:Lines*@
@inherits SampleBaseComponent;



@*End:Hidden*@

<SampleDescription>
    <p>This sample shows an arc gauge with a key performance indicator (KPI), which is a measurable value that shows how an organization meets key business objectives.</p>
</SampleDescription>
<ActionDescription>
    <p>In this example, you can see how to render an arc gauge showing key performance indicator (KPI). You can use <a target="_blank" href="https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.CircularGauge.CircularGaugeAxis.html" aria-label="Class reference of CircularGaugeAxes">CircularGaugeAxes</a>, <a target="_blank" href="https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.CircularGauge.CircularGaugeRange.html" aria-label="Class reference of CircularGaugeRanges">CircularGaugeRanges</a>, <a target="_blank" href="https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.CircularGauge.CircularGaugePointer.html" aria-label="Class reference of CircularGaugePointers">CircularGaugePointers</a> and <a target="_blank" href="https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.CircularGauge.CircularGaugeAnnotation.html" aria-label="Class reference of CircularGaugeAnnotations">CircularGaugeAnnotations</a> oriented properties to customize the appearance of the arc gauge, in order to achieve the desired outcome.</p>
    <p>More information on the arc gauge can be found in this <a target='_blank' href='https://blazor.syncfusion.com/documentation/circular-gauge/getting-started' aria-label="Blazor Circular Gauge Getting Started documentation" >documentation section</a>.</p>
</ActionDescription>

<div class="control-section" style="line-height: 0.5">
    <SfCircularGauge Theme="@Theme">
        <CircularGaugeAxes>
            <CircularGaugeAxis StartAngle="220" EndAngle="140" Minimum="0" Maximum="100" Radius="90%">
                <CircularGaugeAxisLineStyle Width="0"></CircularGaugeAxisLineStyle>
                <CircularGaugeAxisLabelStyle Position="Position.Outside" Offset="-18">
                    <CircularGaugeAxisLabelFont Size="0px">
                    </CircularGaugeAxisLabelFont>
                </CircularGaugeAxisLabelStyle>
                <CircularGaugeAxisMajorTicks Height="0" Width="0">
                </CircularGaugeAxisMajorTicks>
                <CircularGaugeAxisMinorTicks Height="0" Width="0">
                </CircularGaugeAxisMinorTicks>
                <CircularGaugePointers>
                    <CircularGaugePointer Radius="0%">
                        <CircularGaugeCap Radius="0">
                            <CircularGaugeCapBorder Width="0"></CircularGaugeCapBorder>
                        </CircularGaugeCap>
                    </CircularGaugePointer>
                    <CircularGaugePointer Value="30"
                                          Type="PointerType.Marker"
                                          MarkerShape="GaugeShape.Circle"
                                          MarkerHeight="30"
                                          MarkerWidth="30" Radius="@PointerRadius" Color="#bdbdbf">
                        <CircularGaugePointerAnimation Enable=false></CircularGaugePointerAnimation>
                    </CircularGaugePointer>
                    <CircularGaugePointer Value="50"
                                          Type="PointerType.Marker"
                                          MarkerShape="GaugeShape.Circle"
                                          MarkerHeight="30"
                                          MarkerWidth="30" Radius="@PointerRadius" Color="#626866">
                        <CircularGaugePointerAnimation Enable=false></CircularGaugePointerAnimation>
                    </CircularGaugePointer>
                    <CircularGaugePointer Value="76.6"
                                          Type="PointerType.Marker"
                                          MarkerShape="GaugeShape.InvertedTriangle"
                                          MarkerHeight="30"
                                          MarkerWidth="30" Radius="92%" Color="#b6b6b6">
                    </CircularGaugePointer>
                </CircularGaugePointers>
                <CircularGaugeRanges>
                    <CircularGaugeRange Start="0" End="100" StartWidth="30" EndWidth="30" Color="#e3e3e3" Radius="90%" RoundedCornerRadius="20"></CircularGaugeRange>
                    <CircularGaugeRange Start="30" End="50" StartWidth="30" EndWidth="30" Radius="90%">
                        <LinearGradient StartValue="0%" EndValue="60%">
                            <ColorStops>
                                <ColorStop Opacity="0.9" Offset="10%" Color="White"></ColorStop>
                                <ColorStop Opacity="0.9" Offset="90%" Color="#84cbb5"></ColorStop>
                            </ColorStops>
                        </LinearGradient>
                    </CircularGaugeRange>
                </CircularGaugeRanges>
                <CircularGaugeAnnotations>
                    <CircularGaugeAnnotation Angle="@TriangleAngle" ZIndex="1" Radius="@TriangleRadius">
                        <ContentTemplate>
                            <div class="triangle-up"></div>
                        </ContentTemplate>
                    </CircularGaugeAnnotation>
                    <CircularGaugeAnnotation Angle="@AnnotationTextAngle" ZIndex="1" Radius="@AnnotationTextRadius">
                        <ContentTemplate>
                            <div class="percentage" style="color:#84cbb5;font-family:inherit">Current</div>
                        </ContentTemplate>
                    </CircularGaugeAnnotation>
                    <CircularGaugeAnnotation Angle="@AnnotationNumberAngle" ZIndex="1" Radius="@AnnotationNumberRadius">
                        <ContentTemplate>
                            <div class="annotationText" style="color:#84cbb5;font-family:inherit">76.6%</div>
                        </ContentTemplate>
                    </CircularGaugeAnnotation>
                    <CircularGaugeAnnotation Angle="@StartAnnotationAngle" ZIndex="1" Radius="@StartAnnotationRadius">
                        <ContentTemplate>
                            <div style="font-family:inherit;font-size:22px;">0</div>
                        </ContentTemplate>
                    </CircularGaugeAnnotation>
                    <CircularGaugeAnnotation Angle="@EndAnnotationAngle" ZIndex="1" Radius="@EndAnnotationRadius">
                        <ContentTemplate>
                            <div style="font-family:inherit;font-size:22px;">100</div>
                        </ContentTemplate>
                    </CircularGaugeAnnotation>
                </CircularGaugeAnnotations>
            </CircularGaugeAxis>
        </CircularGaugeAxes>
    </SfCircularGauge>
</div>

<style>
        .percentage {
            font-size: 25px;
            margin-left: 10px;
        }
       .annotationText {
           margin-top: 0px;
           font-size: 44px;
       }

       .tailwind div.annotationText, .tailwind-dark div.annotationText {
           font-size: 44px;
            margin-top: -17px;
            margin-left: -7px;
       }
      .triangle-up {
        width: 20;
        height: 20;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 20px solid #84cbb5;
        margin-top: -19px;
      }

    .tailwind div.triangle-up, .tailwind-dark div.triangle-up {
        margin-top: -12px;
    }

    .material div.triangle-up, .material-dark div.triangle-up, .bootstrap-dark div.triangle-up, .bootstrap div.triangle-up,
    .bootstrap4 div.triangle-up {
        margin-top: -23px;
    }
</style>
<style type="text/css" media="screen and (max-width:420px)">
    .percentage {
        font-size: 20px;
        margin-left: 5px;
     }
    .annotationText {
        font-size: 30px;
    }
    .tailwind div.annotationText, .tailwind-dark div.annotationText {
        font-size: 30px;
        margin-top: -14px;
        margin-left: -16px;
    }

    .fluent div.annotationText, .fluent-dark div.annotationText, .bootstrap5 div.annotationText, .bootstrap5 div.annotationText {
        margin-top: 3px;
        margin-left: -12px;
     }
    .triangle-up {
        width: 20px;
        height: 20px;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 20px solid #84cbb5;
        margin-top: -12px;
      }

    .tailwind div.triangle-up, .tailwind-dark div.triangle-up {
        margin-top: -12px;
    }
    .material div.annotationText, .material-dark div.annotationText, .bootstrap-dark div.annotationText, .bootstrap div.annotationText,
    .bootstrap4 div.annotationText, .fabric div.annotationText, .fabric-dark div.annotationText {
        font-size: 30px;
        margin-top: 5px;
        margin-left: -5px;
    }
    .material div.triangle-up, .material-dark div.triangle-up, .bootstrap-dark div.triangle-up, .bootstrap div.triangle-up,
    .bootstrap4 div.triangle-up, .fabric div.triangle-up, .fabric-dark div.triangle-up {
        margin-top: -14px;
    }
    .material3 div.triangle-up, .material3-dark div.triangle-up {
        margin-top: -21px;
    }
</style>

@code {
    
    public Theme Theme { get; set; }
    public double TriangleAngle = 262;
    public string PointerRadius = "82%";
    public string TriangleRadius = "32%";
    public double AnnotationTextAngle = 360;
    public string AnnotationTextRadius = "28%";
    public double AnnotationNumberAngle = 80;
    public string AnnotationNumberRadius = "8%";
    public double StartAnnotationAngle = 214;
    public string StartAnnotationRadius = "80%";
    public double EndAnnotationAngle = 149;
    public string EndAnnotationRadius = "78%";

    protected override void OnInitialized()
    {
        
        if (SampleService.IsDevice)
        {
            PointerRadius = "81%";   
        }
        Theme = ThemeHelper.GetCurrentTheme(NavigationManager.Uri);
        if (Theme == Theme.Tailwind || Theme == Theme.TailwindDark)
        {
            TriangleAngle = 270;
            TriangleRadius = "33%";
            AnnotationTextRadius = "28%";
            AnnotationNumberAngle = 280;
            AnnotationNumberRadius = "-12%";
        }
    }
}