@page "/arc-gauge/patterns"

@using Syncfusion.Blazor
@using Syncfusion.Blazor.CircularGauge
@using ThemeHelper
@inject NavigationManager NavigationManager

@*Hidden:Lines*@
@inherits SampleBaseComponent;



@*End:Hidden*@

<SampleDescription>
    <p>This sample includes a wide range of arc gauges with varying appearances based on the built-in features and customization options.</p>
</SampleDescription>
<ActionDescription>
    <p>In this example, you can see how to render an arc gauge in various styles. You can use <a target="_blank" href="https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.CircularGauge.CircularGaugeAxis.html" aria-label="Class reference of CircularGaugeAxes">CircularGaugeAxes</a>, <a target="_blank" href="https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.CircularGauge.CircularGaugeRange.html" aria-label="Class reference of CircularGaugeRanges">CircularGaugeRanges</a>, <a target="_blank" href="https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.CircularGauge.CircularGaugePointer.html" aria-label="Class reference of CircularGaugePointers">CircularGaugePointers</a> and <a target="_blank" href="https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.CircularGauge.CircularGaugeAnnotation.html" aria-label="Class reference of CirculargaugeAnnotations">CirculargaugeAnnotations</a> oriented properties to customize the appearance of the arc gauge, in order to achieve the desired outcome.</p>
    <p>More information on the arc gauge can be found in this <a target='_blank' href='https://blazor.syncfusion.com/documentation/circular-gauge/getting-started' aria-label="Blazor Circular Gauge Getting Started documentation" >documentation section</a>.</p>
</ActionDescription>
<style>
    .gaugeOneText { font-family: inherit; margin-left: -16px;margin-top: -28px;}
    .tailwind div.gaugeOneText, .tailwind-dark div.gaugeOneText { margin-left: 2px;margin-top: 10px; }
    .gaugeTwoFirstText { font-family: inherit; margin-left: -13px;margin-top: -10px; }
    .tailwind div.gaugeTwoFirstText, .tailwind-dark div.gaugeTwoFirstText { margin-left: -5px;margin-top: 0px; }
    .gaugeTwoTwoText { font-family: inherit; margin-top: -30px;margin-left: -13px; }
    .tailwind div.gaugeTwoTwoText, .tailwind-dark div.gaugeTwoTwoText { margin-left: 0px;margin-top: -5px; }
    .gaugeTwoThirdText { font-family: inherit; margin-left: 10px;margin-top: -10px; }
    .tailwind div.gaugeTwoThirdText, .tailwind-dark div.gaugeTwoThirdText { margin-top: -10px; }
    .gaugeThreeFirstText { font-family: inherit; margin-top: -20px;margin-left: -28px; }
    .tailwind div.gaugeThreeFirstText, .tailwind-dark div.gaugeThreeFirstText { margin-left: -3px;margin-top: 0px; }
    .gaugeFourFirstText { font-family: inherit; margin-left: -24px; margin-top: -10px; }
    .tailwind div.gaugeFourFirstText, .tailwind-dark div.gaugeFourFirstText { margin-left: 5px;margin-top: 12px; }
    .gaugeFiveFirstText {font-family: inherit; margin-left: -30px;margin-top: -20px; }
    .gaugeSixFirstText { text-align: center;font-size: 22px;font-family: inherit;margin-left: -15px; margin-top: 3px; }
    .tailwind div.gaugeSixFirstText, .tailwind-dark div.gaugeSixFirstText {text-align: center;font-size: 22px;font-family: inherit;margin-left: -16px; margin-top: -14px;}
    
    .gaugeAlign {
        width: 50%;
    }
</style>
<div class="control-section">
    <table>
        <tr>
            <td class="gaugeAlign">
                <SfCircularGauge Height="280px" Width="300px" Background="transparent" Theme="@Theme">
                    <CircularGaugeAxes>
                        <CircularGaugeAxis StartAngle="230" EndAngle="130" Radius="110%">
                            <CircularGaugeAxisLineStyle Width="30" Color="#f6f7f9"></CircularGaugeAxisLineStyle>
                            <CircularGaugeAxisLabelStyle Position="Position.Outside" Offset="25">
                                <CircularGaugeAxisLabelFont Size="12px" FontFamily="inherit">
                                </CircularGaugeAxisLabelFont>
                            </CircularGaugeAxisLabelStyle>
                            <CircularGaugeAxisMajorTicks Interval="10" Width="0">
                            </CircularGaugeAxisMajorTicks>
                            <CircularGaugeAxisMinorTicks Height="0" Width="0">
                            </CircularGaugeAxisMinorTicks>
                            <CircularGaugePointers>
                                    <CircularGaugePointer Value="38" Type="PointerType.RangeBar" PointerWidth="28" Radius="118%" Color="#7edfb4">
                                        <CircularGaugePointerAnimation  Duration="1800" />
                                    </CircularGaugePointer>
                                    <CircularGaugePointer Value="38" Type="PointerType.Marker" MarkerShape="GaugeShape.Rectangle" MarkerHeight="3" MarkerWidth="28" Radius="100%" Color="black">
                                        <CircularGaugePointerAnimation  Duration="1800" />
                                    </CircularGaugePointer>
                            </CircularGaugePointers>
                            <CircularGaugeRanges>
                                <CircularGaugeRange Start="0" End="38" StartWidth="10" EndWidth="10" Color="#7edfb4" Radius="86%"></CircularGaugeRange>
                                <CircularGaugeRange Start="38" End="50" StartWidth="10" EndWidth="10" Radius="87%" Color="#7edfb4"></CircularGaugeRange>
                                <CircularGaugeRange Start="50" End="75" StartWidth="10" EndWidth="10" Radius="87%" Color="#f99d4c"></CircularGaugeRange>
                                <CircularGaugeRange Start="75" End="100" StartWidth="10" EndWidth="10" Radius="87%" Color="#e96920"></CircularGaugeRange>
                            </CircularGaugeRanges>
                            <CircularGaugeAnnotations>
                                <CircularGaugeAnnotation Angle="@GaugeOneAngle" ZIndex="1" Radius="@GaugeOneRadius">
                                    <ContentTemplate>
                                        <div class="gaugeOneText" style="font-size:30px;">38</div>
                                    </ContentTemplate>
                                </CircularGaugeAnnotation>
                            </CircularGaugeAnnotations>
                        </CircularGaugeAxis>
                    </CircularGaugeAxes>
                    </SfCircularGauge>
            </td>
            <td class="gaugeAlign">
                <SfCircularGauge Height="280px" Width="300px" CenterY="63%" Background="transparent" Theme="@Theme">
                    <CircularGaugeAxes>
                        <CircularGaugeAxis StartAngle="270" EndAngle="90" Radius="100%">
                            <CircularGaugeAxisLineStyle Width="30" Color="#f6f7f9"></CircularGaugeAxisLineStyle>
                            <CircularGaugeAxisLabelStyle Position="Position.Outside" Offset="20">
                                <CircularGaugeAxisLabelFont Size="0px"></CircularGaugeAxisLabelFont>
                                </CircularGaugeAxisLabelStyle>
                                <CircularGaugeAxisMajorTicks Height="0" Interval="10">
                                </CircularGaugeAxisMajorTicks>
                                <CircularGaugeAxisMinorTicks Height="0" Width="0">
                                </CircularGaugeAxisMinorTicks>
                                <CircularGaugePointers>
                                    <CircularGaugePointer Value="75" Type="PointerType.RangeBar" PointerWidth="40" Radius="125%" Color="#d6f5e8">
                                </CircularGaugePointer>
                                <CircularGaugePointer Value="75" Type="PointerType.RangeBar" PointerWidth="30" Radius="115%" Color="#7edfb4">
                                </CircularGaugePointer>
                            </CircularGaugePointers>
                            <CircularGaugeAnnotations>
                                <CircularGaugeAnnotation Angle="@GaugeTwoAngleOne" ZIndex="1" Radius="@GaugeTwoRadiusOne">
                                    <ContentTemplate>
                                          <div class="gaugeTwoTwoText" style="font-size:25px;font-family:inherit">75%</div>
                                    </ContentTemplate>
                                </CircularGaugeAnnotation>
                                <CircularGaugeAnnotation Angle="@GaugeTwoAngleTwo" ZIndex="1" Radius="@GaugeTwoRadiusTwo">
                                    <ContentTemplate>
                                        <div class="gaugeTwoFirstText" style="font-size:22px;">0%</div>
                                    </ContentTemplate>
                                </CircularGaugeAnnotation>
                                <CircularGaugeAnnotation Angle="@GaugeTwoAngleThree" ZIndex="1" Radius="@GaugeTwoRadiusThree">
                                    <ContentTemplate>
                                        <div class="gaugeTwoThirdText" style="font-size:22px;">100%</div>
                                    </ContentTemplate>
                                    </CircularGaugeAnnotation>
                            </CircularGaugeAnnotations>
                        </CircularGaugeAxis>
                    </CircularGaugeAxes>
                </SfCircularGauge>
            </td>
            <td class="gaugeAlign">
                <SfCircularGauge Height="280px" Width="300px" Background="transparent" Theme="@Theme">
                    <CircularGaugeAxes>
                        <CircularGaugeAxis StartAngle="220" EndAngle="140" Radius="90%" Minimum="0" Maximum="600">
                            <CircularGaugeAxisLineStyle Width="0" Color="Transparent"/>
                            <CircularGaugeAxisLabelStyle Position="Position.Outside">
                                <CircularGaugeAxisLabelFont Size="0px" />
                            </CircularGaugeAxisLabelStyle>
                            <CircularGaugeAxisMajorTicks Height="0" Interval="0" />
                            <CircularGaugeAxisMinorTicks Height="0" />
                            <CircularGaugePointers>
                                <CircularGaugePointer Value="450" Radius="94%" Type="PointerType.Marker"  MarkerShape="GaugeShape.Circle" Color="white" MarkerWidth="17" MarkerHeight="17">
                                    <CircularGaugePointerBorder Color="#77e6b4" Width="7" />
                                    <CircularGaugePointerAnimation Enable="false"></CircularGaugePointerAnimation>
                                </CircularGaugePointer>
                            </CircularGaugePointers>
                            <CircularGaugeRanges>
                                <CircularGaugeRange Start="0" End="298" StartWidth="12" EndWidth="12" Color="#ff5353" RoundedCornerRadius="10"></CircularGaugeRange>
                                <CircularGaugeRange Start="300" End="397" StartWidth="12" EndWidth="12" RoundedCornerRadius="10" Color="#ffd223"></CircularGaugeRange>
                                <CircularGaugeRange Start="400" End="497" StartWidth="12" EndWidth="12" RoundedCornerRadius="10" Color="#77e6b4"></CircularGaugeRange>
                                <CircularGaugeRange Start="500" End="600" StartWidth="12" EndWidth="12" RoundedCornerRadius="10" Color="#21d683"></CircularGaugeRange>
                            </CircularGaugeRanges>
                            <CircularGaugeAnnotations>
                                <CircularGaugeAnnotation Angle="@GaugeThreeAngle" ZIndex="1" Radius="@GaugeThreeRadius">
                                    <ContentTemplate>
                                        <div class="gaugeThreeFirstText" style="font-size:30px;font-family:inherit">450 <br /> </div>
                                    </ContentTemplate>
                                </CircularGaugeAnnotation>
                                <CircularGaugeAnnotation Angle="0" ZIndex="1" Radius="112%">
                                    <ContentTemplate>
                                        <div style="font-size:12px;margin-left: -5px;"> 300 </div>
                                    </ContentTemplate>
                                </CircularGaugeAnnotation>
                                <CircularGaugeAnnotation Angle="50" ZIndex="1" Radius="116%">
                                    <ContentTemplate>
                                        <div style="font-size:12px"> 400 </div>
                                    </ContentTemplate>
                                </CircularGaugeAnnotation>
                                <CircularGaugeAnnotation Angle="94" ZIndex="1" Radius="116%">
                                    <ContentTemplate>
                                        <div style="font-size:12px;margin-top: -5px;margin-left: -7px;"> 500 </div>
                                    </ContentTemplate>
                                </CircularGaugeAnnotation>
                            </CircularGaugeAnnotations>
                        </CircularGaugeAxis>
                    </CircularGaugeAxes>
                </SfCircularGauge>
            </td>
        </tr>
        <tr>
            <td class="gaugeAlign">
                <SfCircularGauge Height="280px" Width="300px" Background="transparent" Theme="@Theme">
                    <CircularGaugeAxes>
                        <CircularGaugeAxis StartAngle="220" EndAngle="140" Radius="90%" Minimum="0" Maximum="100">
                            <CircularGaugeAxisLineStyle Width="0" />
                            <CircularGaugeAxisLabelStyle Position="Position.Outside">
                                <CircularGaugeAxisLabelFont Size="0px" />
                            </CircularGaugeAxisLabelStyle>
                            <CircularGaugeAxisMajorTicks Height="0" />
                            <CircularGaugeAxisMinorTicks Height="0" />
                            <CircularGaugePointers>
                                <CircularGaugePointer Type="PointerType.RangeBar" Value="21" RoundedCornerRadius="10" Color="#a8f789" PointerWidth="25" Radius="90%">
                                    <CircularGaugePointerAnimation Enable="false"></CircularGaugePointerAnimation>
                                </CircularGaugePointer>
                                <CircularGaugePointer Type="PointerType.Marker" MarkerShape="GaugeShape.Circle" Value="22" Color="white" MarkerWidth="30" MarkerHeight="30" Radius="80%">
                                    <CircularGaugePointerAnimation Enable="false"></CircularGaugePointerAnimation>
                                </CircularGaugePointer>
                                <CircularGaugePointer Type="PointerType.Marker" MarkerShape="GaugeShape.Circle" Value="22" Color="#a8f789" MarkerWidth="18" MarkerHeight="18" Radius="80%">
                                    <CircularGaugePointerAnimation Enable="false"></CircularGaugePointerAnimation>
                                </CircularGaugePointer>
                            </CircularGaugePointers>
                            <CircularGaugeRanges>
                                <CircularGaugeRange Start="0" End="100" Radius="90%" StartWidth="25" EndWidth="25" Color="#E0E0E0" RoundedCornerRadius="20">
                                </CircularGaugeRange>
                                <CircularGaugeRange Start="70" End="100" Radius="90%" StartWidth="25" EndWidth="25" Color="#ed5e4b" RoundedCornerRadius="20">
                                </CircularGaugeRange>
                                <CircularGaugeRange Start="21" End="75" Radius="90%" StartWidth="25" EndWidth="25" Color="#ffe852">
                                    <LinearGradient StartValue="65%" EndValue="100%">
                                        <ColorStops>
                                        <ColorStop Color="#ffe852" Offset="20%" Opacity="0.9"></ColorStop>
                                        <ColorStop Color="#ed5e4b" Offset="100%" Opacity="0.9"></ColorStop>
                                        </ColorStops>
                                    </LinearGradient>
                                </CircularGaugeRange>
                            </CircularGaugeRanges>
                            <CircularGaugeAnnotations>
                                <CircularGaugeAnnotation Angle="@GaugeFourAngle" ZIndex="1" Radius="@GaugeFourRadius">
                                    <ContentTemplate>
                                        <div class="gaugeFourFirstText" style="font-family:inherit;font-size:30px;">21%</div>
                                    </ContentTemplate>
                                </CircularGaugeAnnotation>
                            </CircularGaugeAnnotations>
                        </CircularGaugeAxis>
                    </CircularGaugeAxes>
                </SfCircularGauge> 
            </td>
            <td class="gaugeAlign">
                <SfCircularGauge Height="280px" Width="300px" Background="transparent" Theme="@Theme">
                    <CircularGaugeAxes>
                        <CircularGaugeAxis StartAngle="220" EndAngle="140" Radius="90%" Minimum="0" Maximum="100">
                            <CircularGaugeAxisLineStyle Width="0" />
                            <CircularGaugeAxisLabelStyle Position="Position.Outside">
                                <CircularGaugeAxisLabelFont Size="0px" />
                            </CircularGaugeAxisLabelStyle>
                            <CircularGaugeAxisMajorTicks Height="0" />
                            <CircularGaugeAxisMinorTicks Height="0" />
                            <CircularGaugePointers>
                                <CircularGaugePointer Type="PointerType.RangeBar" Value="54" RoundedCornerRadius="20" Color="#ffe852" PointerWidth="30" Radius="90%">
                                    <CircularGaugePointerAnimation Enable="false"></CircularGaugePointerAnimation>
                                </CircularGaugePointer>
                            </CircularGaugePointers>
                            <CircularGaugeRanges>
                                <CircularGaugeRange Start="0" End="100" Radius="90%" StartWidth="30" EndWidth="30" Color="#E0E0E0" RoundedCornerRadius="20">
                                </CircularGaugeRange>
                                <CircularGaugeRange Start="3" End="30" Radius="105%" StartWidth="10" EndWidth="10" Color="#a8f789" RoundedCornerRadius="10">
                                </CircularGaugeRange>
                                <CircularGaugeRange Start="31" End="70" Radius="105%" StartWidth="10" EndWidth="10" Color="#ffe852" RoundedCornerRadius="10">
                                </CircularGaugeRange>
                                <CircularGaugeRange Start="71" End="96" Radius="105%" StartWidth="10" EndWidth="10" Color="#ed5e4b" RoundedCornerRadius="10">
                                </CircularGaugeRange>
                            </CircularGaugeRanges>
                            <CircularGaugeAnnotations>
                                <CircularGaugeAnnotation Angle="@GaugeFiveAngle" ZIndex="1" Radius="@GaugeFiveRadius">
                                    <ContentTemplate>
                                        <div class="gaugeFiveFirstText" style="font-family:inherit;font-size:30px;">54%</div>
                                    </ContentTemplate>
                                </CircularGaugeAnnotation>
                            </CircularGaugeAnnotations>
                        </CircularGaugeAxis>
                    </CircularGaugeAxes>
                </SfCircularGauge> 
            </td>
            <td class="gaugeAlign">
                <SfCircularGauge Height="280px" Width="300px" Background="transparent" Theme="@Theme">
                    <CircularGaugeAxes>
                        <CircularGaugeAxis StartAngle="220" EndAngle="140" Radius="90%" Minimum="0" Maximum="100">
                            <CircularGaugeAxisLineStyle Width="0" />
                            <CircularGaugeAxisLabelStyle Position="Position.Outside" Offset="-5" AutoAngle="true">
                                <CircularGaugeAxisLabelFont Size="0px" FontFamily="inherit"/>
                            </CircularGaugeAxisLabelStyle>
                            <CircularGaugeAxisMajorTicks Height="0" />
                            <CircularGaugeAxisMinorTicks Height="0" />
                            <CircularGaugePointers>
                                <CircularGaugePointer Value="0" Color="#7edfb4" Radius="80%" MarkerWidth="38" MarkerHeight="3" Type="PointerType.Marker" MarkerShape="GaugeShape.Rectangle">
                                    <CircularGaugePointerAnimation Enable="false"></CircularGaugePointerAnimation>
                                </CircularGaugePointer>
                                <CircularGaugePointer Value="1" Color="#7edfb4" Radius="80%" MarkerWidth="38" MarkerHeight="3" Type="PointerType.Marker" MarkerShape="GaugeShape.Rectangle">
                                    <CircularGaugePointerAnimation Enable="false"></CircularGaugePointerAnimation>
                                </CircularGaugePointer>
                                <CircularGaugePointer Value="2" Color="#7edfb4" Radius="80%" MarkerWidth="38" MarkerHeight="3" Type="PointerType.Marker" MarkerShape="GaugeShape.Rectangle">
                                    <CircularGaugePointerAnimation Enable="false"></CircularGaugePointerAnimation>
                                </CircularGaugePointer>
                                <CircularGaugePointer Value="3" Color="#7edfb4" Radius="80%" MarkerWidth="38" MarkerHeight="3" Type="PointerType.Marker" MarkerShape="GaugeShape.Rectangle">
                                    <CircularGaugePointerAnimation Enable="false"></CircularGaugePointerAnimation>
                                </CircularGaugePointer>
                                <CircularGaugePointer Value="4" Color="#7edfb4" Radius="80%" MarkerWidth="38" MarkerHeight="3" Type="PointerType.Marker" MarkerShape="GaugeShape.Rectangle">
                                    <CircularGaugePointerAnimation Enable="false"></CircularGaugePointerAnimation>
                                </CircularGaugePointer>
                                <CircularGaugePointer Value="5" Color="#7edfb4" Radius="80%" MarkerWidth="38" MarkerHeight="3" Type="PointerType.Marker" MarkerShape="GaugeShape.Rectangle">
                                    <CircularGaugePointerAnimation Enable="false"></CircularGaugePointerAnimation>
                                </CircularGaugePointer>
                                <CircularGaugePointer Value="6" Color="#7edfb4" Radius="80%" MarkerWidth="38" MarkerHeight="3" Type="PointerType.Marker" MarkerShape="GaugeShape.Rectangle">
                                    <CircularGaugePointerAnimation Enable="false"></CircularGaugePointerAnimation>
                                </CircularGaugePointer>
                                <CircularGaugePointer Value="7" Color="#7edfb4" Radius="80%" MarkerWidth="38" MarkerHeight="3" Type="PointerType.Marker" MarkerShape="GaugeShape.Rectangle">
                                    <CircularGaugePointerAnimation Enable="false"></CircularGaugePointerAnimation>
                                </CircularGaugePointer>
                                <CircularGaugePointer Value="8" Color="#7edfb4" Radius="80%" MarkerWidth="38" MarkerHeight="3" Type="PointerType.Marker" MarkerShape="GaugeShape.Rectangle">
                                    <CircularGaugePointerAnimation Enable="false"></CircularGaugePointerAnimation>
                                </CircularGaugePointer>
                                <CircularGaugePointer Value="9" Color="#7edfb4" Radius="80%" MarkerWidth="38" MarkerHeight="3" Type="PointerType.Marker" MarkerShape="GaugeShape.Rectangle">
                                    <CircularGaugePointerAnimation Enable="false"></CircularGaugePointerAnimation>
                                </CircularGaugePointer>
                                <CircularGaugePointer Value="10" Color="#7edfb4" Radius="80%" MarkerWidth="38" MarkerHeight="3" Type="PointerType.Marker" MarkerShape="GaugeShape.Rectangle">
                                    <CircularGaugePointerAnimation Enable="false"></CircularGaugePointerAnimation>
                                </CircularGaugePointer>
                                <CircularGaugePointer Value="11" Color="#7edfb4" Radius="80%" MarkerWidth="38" MarkerHeight="3" Type="PointerType.Marker" MarkerShape="GaugeShape.Rectangle">
                                    <CircularGaugePointerAnimation Enable="false"></CircularGaugePointerAnimation>
                                </CircularGaugePointer>
                                <CircularGaugePointer Value="12" Color="#7edfb4" Radius="80%" MarkerWidth="38" MarkerHeight="3" Type="PointerType.Marker" MarkerShape="GaugeShape.Rectangle">
                                    <CircularGaugePointerAnimation Enable="false"></CircularGaugePointerAnimation>
                                </CircularGaugePointer>
                                <CircularGaugePointer Value="13" Color="#7edfb4" Radius="80%" MarkerWidth="38" MarkerHeight="3" Type="PointerType.Marker" MarkerShape="GaugeShape.Rectangle">
                                    <CircularGaugePointerAnimation Enable="false"></CircularGaugePointerAnimation>
                                </CircularGaugePointer>
                                <CircularGaugePointer Value="14" Color="#7edfb4" Radius="80%" MarkerWidth="38" MarkerHeight="3" Type="PointerType.Marker" MarkerShape="GaugeShape.Rectangle">
                                    <CircularGaugePointerAnimation Enable="false"></CircularGaugePointerAnimation>
                                </CircularGaugePointer>
                                <CircularGaugePointer Value="15" Color="#7edfb4" Radius="80%" MarkerWidth="38" MarkerHeight="3" Type="PointerType.Marker" MarkerShape="GaugeShape.Rectangle">
                                    <CircularGaugePointerAnimation Enable="false"></CircularGaugePointerAnimation>
                                </CircularGaugePointer>
                                <CircularGaugePointer Value="16" Color="#7edfb4" Radius="80%" MarkerWidth="38" MarkerHeight="3" Type="PointerType.Marker" MarkerShape="GaugeShape.Rectangle">
                                    <CircularGaugePointerAnimation Enable="false"></CircularGaugePointerAnimation>
                                </CircularGaugePointer>
                                <CircularGaugePointer Value="17" Color="#7edfb4" Radius="80%" MarkerWidth="38" MarkerHeight="3" Type="PointerType.Marker" MarkerShape="GaugeShape.Rectangle">
                                    <CircularGaugePointerAnimation Enable="false"></CircularGaugePointerAnimation>
                                </CircularGaugePointer>
                                <CircularGaugePointer Value="18" Color="#7edfb4" Radius="80%" MarkerWidth="38" MarkerHeight="3" Type="PointerType.Marker" MarkerShape="GaugeShape.Rectangle">
                                    <CircularGaugePointerAnimation Enable="false"></CircularGaugePointerAnimation>
                                </CircularGaugePointer>
                                <CircularGaugePointer Value="19" Color="#7edfb4" Radius="80%" MarkerWidth="38" MarkerHeight="3" Type="PointerType.Marker" MarkerShape="GaugeShape.Rectangle">
                                    <CircularGaugePointerAnimation Enable="false"></CircularGaugePointerAnimation>
                                </CircularGaugePointer>
                                <CircularGaugePointer Value="20" Color="#7edfb4" Radius="80%" MarkerWidth="38" MarkerHeight="3" Type="PointerType.Marker" MarkerShape="GaugeShape.Rectangle">
                                    <CircularGaugePointerAnimation Enable="false"></CircularGaugePointerAnimation>
                                </CircularGaugePointer>
                                <CircularGaugePointer Value="21" Color="#7edfb4" Radius="80%" MarkerWidth="38" MarkerHeight="3" Type="PointerType.Marker" MarkerShape="GaugeShape.Rectangle">
                                    <CircularGaugePointerAnimation Enable="false"></CircularGaugePointerAnimation>
                                </CircularGaugePointer>
                                <CircularGaugePointer Value="22" Color="#7edfb4" Radius="80%" MarkerWidth="38" MarkerHeight="3" Type="PointerType.Marker" MarkerShape="GaugeShape.Rectangle">
                                    <CircularGaugePointerAnimation Enable="false"></CircularGaugePointerAnimation>
                                </CircularGaugePointer>
                                <CircularGaugePointer Value="23" Color="#7edfb4" Radius="80%" MarkerWidth="38" MarkerHeight="3" Type="PointerType.Marker" MarkerShape="GaugeShape.Rectangle">
                                    <CircularGaugePointerAnimation Enable="false"></CircularGaugePointerAnimation>
                                </CircularGaugePointer>
                                <CircularGaugePointer Value="24" Color="#7edfb4" Radius="80%" MarkerWidth="38" MarkerHeight="3" Type="PointerType.Marker" MarkerShape="GaugeShape.Rectangle">
                                    <CircularGaugePointerAnimation Enable="false"></CircularGaugePointerAnimation>
                                </CircularGaugePointer>
                                <CircularGaugePointer Value="25" Color="#7edfb4" Radius="80%" MarkerWidth="38" MarkerHeight="3" Type="PointerType.Marker" MarkerShape="GaugeShape.Rectangle">
                                    <CircularGaugePointerAnimation Enable="false"></CircularGaugePointerAnimation>
                                </CircularGaugePointer>
                                <CircularGaugePointer Value="26" Color="#7edfb4" Radius="80%" MarkerWidth="38" MarkerHeight="3" Type="PointerType.Marker" MarkerShape="GaugeShape.Rectangle">
                                    <CircularGaugePointerAnimation Enable="false"></CircularGaugePointerAnimation>
                                </CircularGaugePointer>
                                <CircularGaugePointer Value="27" Color="#7edfb4" Radius="80%" MarkerWidth="38" MarkerHeight="3" Type="PointerType.Marker" MarkerShape="GaugeShape.Rectangle">
                                    <CircularGaugePointerAnimation Enable="false"></CircularGaugePointerAnimation>
                                </CircularGaugePointer>
                                <CircularGaugePointer Value="28" Color="#7edfb4" Radius="80%" MarkerWidth="38" MarkerHeight="3" Type="PointerType.Marker" MarkerShape="GaugeShape.Rectangle">
                                    <CircularGaugePointerAnimation Enable="false"></CircularGaugePointerAnimation>
                                </CircularGaugePointer>
                                <CircularGaugePointer Value="29" Color="#7edfb4" Radius="80%" MarkerWidth="38" MarkerHeight="3" Type="PointerType.Marker" MarkerShape="GaugeShape.Rectangle">
                                    <CircularGaugePointerAnimation Enable="false"></CircularGaugePointerAnimation>
                                </CircularGaugePointer>
                                <CircularGaugePointer Value="30" Color="#7edfb4" Radius="80%" MarkerWidth="38" MarkerHeight="3" Type="PointerType.Marker" MarkerShape="GaugeShape.Rectangle">
                                    <CircularGaugePointerAnimation Enable="false"></CircularGaugePointerAnimation>
                                </CircularGaugePointer>
                                <CircularGaugePointer Value="31" Color="#7edfb4" Radius="80%" MarkerWidth="38" MarkerHeight="3" Type="PointerType.Marker" MarkerShape="GaugeShape.Rectangle">
                                    <CircularGaugePointerAnimation Enable="false"></CircularGaugePointerAnimation>
                                </CircularGaugePointer>
                                <CircularGaugePointer Value="32" Color="#7edfb4" Radius="80%" MarkerWidth="38" MarkerHeight="3" Type="PointerType.Marker" MarkerShape="GaugeShape.Rectangle">
                                    <CircularGaugePointerAnimation Enable="false"></CircularGaugePointerAnimation>
                                </CircularGaugePointer>
                                <CircularGaugePointer Value="33" Color="#7edfb4" Radius="80%" MarkerWidth="38" MarkerHeight="3" Type="PointerType.Marker" MarkerShape="GaugeShape.Rectangle">
                                    <CircularGaugePointerAnimation Enable="false"></CircularGaugePointerAnimation>
                                </CircularGaugePointer>
                                <CircularGaugePointer Value="34" Color="#7edfb4" Radius="80%" MarkerWidth="38" MarkerHeight="3" Type="PointerType.Marker" MarkerShape="GaugeShape.Rectangle">
                                    <CircularGaugePointerAnimation Enable="false"></CircularGaugePointerAnimation>
                                </CircularGaugePointer>
                                <CircularGaugePointer Value="35" Color="#7edfb4" Radius="80%" MarkerWidth="38" MarkerHeight="3" Type="PointerType.Marker" MarkerShape="GaugeShape.Rectangle">
                                    <CircularGaugePointerAnimation Enable="false"></CircularGaugePointerAnimation>
                                </CircularGaugePointer>
                                <CircularGaugePointer Value="36" Color="#7edfb4" Radius="80%" MarkerWidth="38" MarkerHeight="3" Type="PointerType.Marker" MarkerShape="GaugeShape.Rectangle">
                                    <CircularGaugePointerAnimation Enable="false"></CircularGaugePointerAnimation>
                                </CircularGaugePointer>
                                <CircularGaugePointer Value="37" Color="#7edfb4" Radius="80%" MarkerWidth="38" MarkerHeight="3" Type="PointerType.Marker" MarkerShape="GaugeShape.Rectangle">
                                    <CircularGaugePointerAnimation Enable="false"></CircularGaugePointerAnimation>
                                </CircularGaugePointer>
                                <CircularGaugePointer Value="38" Color="#7edfb4" Radius="80%" MarkerWidth="38" MarkerHeight="3" Type="PointerType.Marker" MarkerShape="GaugeShape.Rectangle">
                                    <CircularGaugePointerAnimation Enable="false"></CircularGaugePointerAnimation>
                                </CircularGaugePointer>
                                <CircularGaugePointer Value="39" Color="#7edfb4" Radius="80%" MarkerWidth="38" MarkerHeight="3" Type="PointerType.Marker" MarkerShape="GaugeShape.Rectangle">
                                    <CircularGaugePointerAnimation Enable="false"></CircularGaugePointerAnimation>
                                </CircularGaugePointer>
                                <CircularGaugePointer Value="40" Color="#7edfb4" Radius="80%" MarkerWidth="38" MarkerHeight="3" Type="PointerType.Marker" MarkerShape="GaugeShape.Rectangle">
                                    <CircularGaugePointerAnimation Enable="false"></CircularGaugePointerAnimation>
                                </CircularGaugePointer>
                                <CircularGaugePointer Value="41" Color="#7edfb4" Radius="80%" MarkerWidth="38" MarkerHeight="3" Type="PointerType.Marker" MarkerShape="GaugeShape.Rectangle">
                                    <CircularGaugePointerAnimation Enable="false"></CircularGaugePointerAnimation>
                                </CircularGaugePointer>
                                <CircularGaugePointer Value="42" Color="#7edfb4" Radius="80%" MarkerWidth="38" MarkerHeight="3" Type="PointerType.Marker" MarkerShape="GaugeShape.Rectangle">
                                    <CircularGaugePointerAnimation Enable="false"></CircularGaugePointerAnimation>
                                </CircularGaugePointer>
                                <CircularGaugePointer Value="43" Color="#7edfb4" Radius="80%" MarkerWidth="38" MarkerHeight="3" Type="PointerType.Marker" MarkerShape="GaugeShape.Rectangle">
                                    <CircularGaugePointerAnimation Enable="false"></CircularGaugePointerAnimation>
                                </CircularGaugePointer>
                                <CircularGaugePointer Value="44" Color="#7edfb4" Radius="80%" MarkerWidth="38" MarkerHeight="3" Type="PointerType.Marker" MarkerShape="GaugeShape.Rectangle">
                                    <CircularGaugePointerAnimation Enable="false"></CircularGaugePointerAnimation>
                                </CircularGaugePointer>
                                <CircularGaugePointer Value="45" Color="#7edfb4" Radius="80%" MarkerWidth="38" MarkerHeight="3" Type="PointerType.Marker" MarkerShape="GaugeShape.Rectangle">
                                    <CircularGaugePointerAnimation Enable="false"></CircularGaugePointerAnimation>
                                </CircularGaugePointer>
                                <CircularGaugePointer Value="46" Color="#7edfb4" Radius="80%" MarkerWidth="38" MarkerHeight="3" Type="PointerType.Marker" MarkerShape="GaugeShape.Rectangle">
                                    <CircularGaugePointerAnimation Enable="false"></CircularGaugePointerAnimation>
                                </CircularGaugePointer>
                                <CircularGaugePointer Value="47" Color="#7edfb4" Radius="80%" MarkerWidth="38" MarkerHeight="3" Type="PointerType.Marker" MarkerShape="GaugeShape.Rectangle">
                                    <CircularGaugePointerAnimation Enable="false"></CircularGaugePointerAnimation>
                                </CircularGaugePointer>
                                <CircularGaugePointer Value="48" Color="#7edfb4" Radius="80%" MarkerWidth="38" MarkerHeight="3" Type="PointerType.Marker" MarkerShape="GaugeShape.Rectangle">
                                    <CircularGaugePointerAnimation Enable="false"></CircularGaugePointerAnimation>
                                </CircularGaugePointer>
                                <CircularGaugePointer Value="49" Color="#7edfb4" Radius="80%" MarkerWidth="38" MarkerHeight="3" Type="PointerType.Marker" MarkerShape="GaugeShape.Rectangle">
                                    <CircularGaugePointerAnimation Enable="false"></CircularGaugePointerAnimation>
                                </CircularGaugePointer>
                                <CircularGaugePointer Value="50" Color="#7edfb4" Radius="80%" MarkerWidth="38" MarkerHeight="3" Type="PointerType.Marker" MarkerShape="GaugeShape.Rectangle">
                                    <CircularGaugePointerAnimation Enable="false"></CircularGaugePointerAnimation>
                                </CircularGaugePointer>
                                <CircularGaugePointer Value="51" Color="#7edfb4" Radius="80%" MarkerWidth="38" MarkerHeight="3" Type="PointerType.Marker" MarkerShape="GaugeShape.Rectangle">
                                    <CircularGaugePointerAnimation Enable="false"></CircularGaugePointerAnimation>
                                </CircularGaugePointer>
                                <CircularGaugePointer Value="52" Color="#7edfb4" Radius="80%" MarkerWidth="38" MarkerHeight="3" Type="PointerType.Marker" MarkerShape="GaugeShape.Rectangle">
                                    <CircularGaugePointerAnimation Enable="false"></CircularGaugePointerAnimation>
                                </CircularGaugePointer>
                                <CircularGaugePointer Value="53" Color="#7edfb4" Radius="80%" MarkerWidth="38" MarkerHeight="3" Type="PointerType.Marker" MarkerShape="GaugeShape.Rectangle">
                                    <CircularGaugePointerAnimation Enable="false"></CircularGaugePointerAnimation>
                                </CircularGaugePointer>
                                <CircularGaugePointer Value="54" Color="#7edfb4" Radius="80%" MarkerWidth="38" MarkerHeight="3" Type="PointerType.Marker" MarkerShape="GaugeShape.Rectangle">
                                    <CircularGaugePointerAnimation Enable="false"></CircularGaugePointerAnimation>
                                </CircularGaugePointer>
                                <CircularGaugePointer Value="55" Color="#7edfb4" Radius="80%" MarkerWidth="38" MarkerHeight="3" Type="PointerType.Marker" MarkerShape="GaugeShape.Rectangle">
                                    <CircularGaugePointerAnimation Enable="false"></CircularGaugePointerAnimation>
                                </CircularGaugePointer>
                                <CircularGaugePointer Value="56" Color="#7edfb4" Radius="80%" MarkerWidth="38" MarkerHeight="3" Type="PointerType.Marker" MarkerShape="GaugeShape.Rectangle">
                                    <CircularGaugePointerAnimation Enable="false"></CircularGaugePointerAnimation>
                                </CircularGaugePointer>
                                <CircularGaugePointer Value="57" Color="#7edfb4" Radius="80%" MarkerWidth="38" MarkerHeight="3" Type="PointerType.Marker" MarkerShape="GaugeShape.Rectangle">
                                    <CircularGaugePointerAnimation Enable="false"></CircularGaugePointerAnimation>
                                </CircularGaugePointer>
                                <CircularGaugePointer Value="58" Color="#7edfb4" Radius="80%" MarkerWidth="38" MarkerHeight="3" Type="PointerType.Marker" MarkerShape="GaugeShape.Rectangle">
                                    <CircularGaugePointerAnimation Enable="false"></CircularGaugePointerAnimation>
                                </CircularGaugePointer>
                                <CircularGaugePointer Value="59" Color="#7edfb4" Radius="80%" MarkerWidth="38" MarkerHeight="3" Type="PointerType.Marker" MarkerShape="GaugeShape.Rectangle">
                                    <CircularGaugePointerAnimation Enable="false"></CircularGaugePointerAnimation>
                                </CircularGaugePointer>
                                <CircularGaugePointer Value="60" Color="#7edfb4" Radius="80%" MarkerWidth="38" MarkerHeight="3" Type="PointerType.Marker" MarkerShape="GaugeShape.Rectangle">
                                    <CircularGaugePointerAnimation Enable="false"></CircularGaugePointerAnimation>
                                </CircularGaugePointer>
                                <CircularGaugePointer Value="61" Color="#7edfb4" Radius="80%" MarkerWidth="38" MarkerHeight="3" Type="PointerType.Marker" MarkerShape="GaugeShape.Rectangle">
                                    <CircularGaugePointerAnimation Enable="false"></CircularGaugePointerAnimation>
                                </CircularGaugePointer>
                                <CircularGaugePointer Value="62" Color="#7edfb4" Radius="80%" MarkerWidth="38" MarkerHeight="3" Type="PointerType.Marker" MarkerShape="GaugeShape.Rectangle">
                                    <CircularGaugePointerAnimation Enable="false"></CircularGaugePointerAnimation>
                                </CircularGaugePointer>
                                <CircularGaugePointer Value="63" Color="#7edfb4" Radius="80%" MarkerWidth="38" MarkerHeight="3" Type="PointerType.Marker" MarkerShape="GaugeShape.Rectangle">
                                    <CircularGaugePointerAnimation Enable="false"></CircularGaugePointerAnimation>
                                </CircularGaugePointer>
                                <CircularGaugePointer Value="64" Color="#7edfb4" Radius="80%" MarkerWidth="38" MarkerHeight="3" Type="PointerType.Marker" MarkerShape="GaugeShape.Rectangle">
                                    <CircularGaugePointerAnimation Enable="false"></CircularGaugePointerAnimation>
                                </CircularGaugePointer>
                                <CircularGaugePointer Value="65" Color="#7edfb4" Radius="80%" MarkerWidth="38" MarkerHeight="3" Type="PointerType.Marker" MarkerShape="GaugeShape.Rectangle">
                                    <CircularGaugePointerAnimation Enable="false"></CircularGaugePointerAnimation>
                                </CircularGaugePointer>
                                <CircularGaugePointer Value="66" Color="#7edfb4" Radius="80%" MarkerWidth="38" MarkerHeight="3" Type="PointerType.Marker" MarkerShape="GaugeShape.Rectangle">
                                    <CircularGaugePointerAnimation Enable="false"></CircularGaugePointerAnimation>
                                </CircularGaugePointer>
                                <CircularGaugePointer Value="67" Color="#7edfb4" Radius="80%" MarkerWidth="38" MarkerHeight="3" Type="PointerType.Marker" MarkerShape="GaugeShape.Rectangle">
                                    <CircularGaugePointerAnimation Enable="false"></CircularGaugePointerAnimation>
                                </CircularGaugePointer>
                                <CircularGaugePointer Value="68" Color="#7edfb4" Radius="80%" MarkerWidth="38" MarkerHeight="3" Type="PointerType.Marker" MarkerShape="GaugeShape.Rectangle">
                                    <CircularGaugePointerAnimation Enable="false"></CircularGaugePointerAnimation>
                                </CircularGaugePointer>
                                <CircularGaugePointer Value="69" Color="#7edfb4" Radius="80%" MarkerWidth="38" MarkerHeight="3" Type="PointerType.Marker" MarkerShape="GaugeShape.Rectangle">
                                    <CircularGaugePointerAnimation Enable="false"></CircularGaugePointerAnimation>
                                </CircularGaugePointer>
                                <CircularGaugePointer Value="70" Color="#7edfb4" Radius="80%" MarkerWidth="38" MarkerHeight="3" Type="PointerType.Marker" MarkerShape="GaugeShape.Rectangle">
                                    <CircularGaugePointerAnimation Enable="false"></CircularGaugePointerAnimation>
                                </CircularGaugePointer>
                                <CircularGaugePointer Value="71" Color="#7edfb4" Radius="80%" MarkerWidth="38" MarkerHeight="3" Type="PointerType.Marker" MarkerShape="GaugeShape.Rectangle">
                                    <CircularGaugePointerAnimation Enable="false"></CircularGaugePointerAnimation>
                                </CircularGaugePointer>
                                <CircularGaugePointer Value="72" Color="#7edfb4" Radius="80%" MarkerWidth="38" MarkerHeight="3" Type="PointerType.Marker" MarkerShape="GaugeShape.Rectangle">
                                    <CircularGaugePointerAnimation Enable="false"></CircularGaugePointerAnimation>
                                </CircularGaugePointer>
                                <CircularGaugePointer Value="73" Color="#7edfb4" Radius="80%" MarkerWidth="38" MarkerHeight="3" Type="PointerType.Marker" MarkerShape="GaugeShape.Rectangle">
                                    <CircularGaugePointerAnimation Enable="false"></CircularGaugePointerAnimation>
                                </CircularGaugePointer>
                                <CircularGaugePointer Value="74" Color="#7edfb4" Radius="80%" MarkerWidth="38" MarkerHeight="3" Type="PointerType.Marker" MarkerShape="GaugeShape.Rectangle">
                                    <CircularGaugePointerAnimation Enable="false"></CircularGaugePointerAnimation>
                                </CircularGaugePointer>
                                <CircularGaugePointer Value="75" Color="#7edfb4" Radius="80%" MarkerWidth="38" MarkerHeight="3" Type="PointerType.Marker" MarkerShape="GaugeShape.Rectangle">
                                    <CircularGaugePointerAnimation Enable="false"></CircularGaugePointerAnimation>
                                </CircularGaugePointer>
                                <CircularGaugePointer Value="76" Color="#7edfb4" Radius="80%" MarkerWidth="38" MarkerHeight="3" Type="PointerType.Marker" MarkerShape="GaugeShape.Rectangle">
                                    <CircularGaugePointerAnimation Enable="false"></CircularGaugePointerAnimation>
                                </CircularGaugePointer>
                                <CircularGaugePointer Value="77" Color="#7edfb4" Radius="80%" MarkerWidth="38" MarkerHeight="3" Type="PointerType.Marker" MarkerShape="GaugeShape.Rectangle">
                                    <CircularGaugePointerAnimation Enable="false"></CircularGaugePointerAnimation>
                                </CircularGaugePointer>
                                <CircularGaugePointer Value="78" Color="#7edfb4" Radius="80%" MarkerWidth="38" MarkerHeight="3" Type="PointerType.Marker" MarkerShape="GaugeShape.Rectangle">
                                    <CircularGaugePointerAnimation Enable="false"></CircularGaugePointerAnimation>
                                </CircularGaugePointer>
                                <CircularGaugePointer Value="79" Color="#7edfb4" Radius="80%" MarkerWidth="38" MarkerHeight="3" Type="PointerType.Marker" MarkerShape="GaugeShape.Rectangle">
                                    <CircularGaugePointerAnimation Enable="false"></CircularGaugePointerAnimation>
                                </CircularGaugePointer>
                                <CircularGaugePointer Value="80" Color="#7edfb4" Radius="80%" MarkerWidth="38" MarkerHeight="3" Type="PointerType.Marker" MarkerShape="GaugeShape.Rectangle">
                                    <CircularGaugePointerAnimation Enable="false"></CircularGaugePointerAnimation>
                                </CircularGaugePointer>
                            </CircularGaugePointers>
                            <CircularGaugeRanges>
                                <CircularGaugeRange Start="0" End="100" StartWidth="38" EndWidth="38" Color="#f6f7f9" Radius="98%"></CircularGaugeRange>
                            </CircularGaugeRanges>
                            <CircularGaugeAnnotations>
                                <CircularGaugeAnnotation Angle="@GaugeSixAngle" ZIndex="1" Radius="@GaugeSixRadius">
                                    <ContentTemplate>
                                        <div class="gaugeSixFirstText">80% <br /> <div style="font-family:inherit"> Completed </div> </div>
                                    </ContentTemplate>
                                </CircularGaugeAnnotation>
                            </CircularGaugeAnnotations>
                        </CircularGaugeAxis>
                    </CircularGaugeAxes>
                </SfCircularGauge>
            </td>
        </tr>
    </table>
</div>

@code {

    public Theme Theme { get; set; }
    public double GaugeOneAngle = 160;
    public string GaugeOneRadius = "25%";
    public double GaugeTwoAngleOne = 90;
    public string GaugeTwoRadiusOne = "12%";
    public double GaugeTwoAngleTwo = 252;
    public string GaugeTwoRadiusTwo = "100%";
    public double GaugeTwoAngleThree = 106;
    public string GaugeTwoRadiusThree = "106%";
    public double GaugeThreeAngle = 146;
    public string GaugeThreeRadius = "24%";
    public double GaugeFourAngle = 132;
    public string GaugeFourRadius = "20%";
    public double GaugeFiveAngle = 136;
    public string GaugeFiveRadius = "21%";
    public double GaugeSixAngle = 76;
    public string GaugeSixRadius = "10%";

    protected override void OnInitialized()
    {

        Theme = ThemeHelper.GetCurrentTheme(NavigationManager.Uri);
        if (Theme == Theme.Tailwind || Theme == Theme.TailwindDark)
        {
            GaugeOneAngle = 182;
            GaugeOneRadius ="2%";
            GaugeTwoAngleOne = 2;
            GaugeTwoRadiusOne = "16%";
            GaugeTwoAngleTwo = 255;
            GaugeTwoRadiusThree = "105%";
            GaugeTwoAngleThree = 105;
            GaugeThreeRadius = "4%";
            GaugeThreeAngle = 105;
            GaugeFourAngle = 98;
            GaugeFourRadius = "2%";
            GaugeSixAngle = 77;
            GaugeSixRadius = "10%";
        }
    }
}
