@page "/Grid/DetailTemplate"

@using Syncfusion.EJ2.Blazor.Grids

@*Hidden:Lines*@
@using ej2_blazor_samples
@using ej2_blazor_griddata
@inject Microsoft.AspNetCore.Components.NavigationManager UriHelper

@{
    SampleBrowser.CurrentSampleName = "Detail Template";
    SampleBrowser.CurrentControlName = "DataGrid";
    SampleBrowser.CurrentControlCategory = "DataGrid";
    SampleBrowser.CurrentControl = SampleBrowser.Config.DataGrid;
    SampleBrowser.ActionDescription = new string[] {
        @"<p>This sample demonstrates the Grid component with the detail template feature. Click the expand button
            in each Grid row to show the detailed information about a row.</p>"
    };
    SampleBrowser.Description = new string[]{
        @"<p>The detail template provides additional information about a particular row on expanding or collapsing the detail content. The <code><a target='_blank' class='code' href='https://help.syncfusion.com/cr/aspnetcore-blazor/Syncfusion.EJ2.Blazor~Syncfusion.EJ2.Blazor.Grids.GridModel%601~DetailTemplate.html'>DetailTemplate</a></code> should be wrapped around the <code><a target='_blank' class='code' href='https://help.syncfusion.com/cr/aspnetcore-blazor/Syncfusion.EJ2.Blazor~Syncfusion.EJ2.Blazor.Grids.GridTemplates.html'>GridTemplates</a></code> component with the required content.</p>
        <p>In this demo, we have presented Employee Information with image in the detail row.</p>"
    };
}
@*End:Hidden*@


<div class="col-lg-12 control-section">
    <div class="content-wrapper">
        <div class="row">

            <EjsGrid ModelType="@Model" DataSource="@GridData">
                <GridTemplates>
                    <DetailTemplate>
                        @{
                            var employee = context as Employee;
                        }
                        <table class="detailtable" width="100%">
                            <colgroup>
                                <col width="35%">
                                <col width="35%">
                                <col width="30%">
                            </colgroup>
                            <tbody>
                                <tr>
                                    <td rowspan="4" style="text-align: center;">
                                        <img class="photo" src="@UriHelper.ToAbsoluteUri($"images/Grid/{employee.EmployeeID}.png")" alt="@employee.EmployeeID" />
                                    </td>
                                    <td>
                                        <span style="font-weight: 500;">First Name: </span> @employee.FirstName
                                    </td>
                                    <td>
                                        <span style="font-weight: 500;">Postal Code: </span> @employee.PostalCode
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span style="font-weight: 500;">Last Name: </span> @employee.LastName
                                    </td>
                                    <td>
                                        <span style="font-weight: 500;">City: </span> @employee.City
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span style="font-weight: 500;">Address: </span> @employee.Address
                                    </td>
                                    <td>
                                        <span style="font-weight: 500;">Hire Date: </span> @employee.HireDate.ToShortDateString()
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </DetailTemplate>
                </GridTemplates>
                <GridColumns>
                    <GridColumn Field=@nameof(Employee.FirstName) HeaderText="First Name" Width="110"></GridColumn>
                    <GridColumn Field=@nameof(Employee.LastName) HeaderText="Last Name" Width="110"></GridColumn>
                    <GridColumn Field=@nameof(Employee.Title) HeaderText="Title" Width="150"></GridColumn>
                    <GridColumn Field=@nameof(Employee.Country) HeaderText="Country" Width="110"></GridColumn>
                </GridColumns>
            </EjsGrid>
        </div>
    </div>
</div>

@code{

    public List<Employee> GridData { get; set; }
    public Employee Model = new Employee();

    protected override void OnInitialized()
    {
        GridData = Employee.GetAllRecords();
    }
}

<style type="text/css" class="cssStyles">
    .detailtable td {
        font-size: 13px;
        padding: 4px;
        max-width: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .photo {
        width: 100px;
        height: 100px;
        border-radius: 50px;
        box-shadow: inset 0 0 1px #e0e0e0, inset 0 0 14px rgba(0,0,0,0.2);
    }
</style>
