@page "/Grid/Selection"

@using Syncfusion.EJ2.Blazor.Grids
@using ej2_blazor_samples
@using ej2_blazor_griddata
@inherits SampleBaseComponent;

<div class="col-lg-12 control-section">
    <div class="content-wrapper">
        <div class="row">
            <EjsGrid DataSource="@GridData" AllowSelection="true" AllowPaging="true">
                    <GridSelectionSettings Type="Syncfusion.EJ2.Blazor.Grids.SelectionType.Multiple"></GridSelectionSettings>
                    <GridPageSettings PageCount="5"></GridPageSettings>
                    <GridColumns>
                        <GridColumn Field=@nameof(OrdersDetails.OrderID) HeaderText="Order ID" IsPrimaryKey="true" TextAlign="TextAlign.Right"  Width="120"></GridColumn>
                        <GridColumn Field=@nameof(OrdersDetails.CustomerID) HeaderText="Customer ID" Width="150"></GridColumn>
                        <GridColumn Field=@nameof(OrdersDetails.Freight) HeaderText="Freight" TextAlign="TextAlign.Right"  Width="120" Format="C2"></GridColumn>
                        <GridColumn Field=@nameof(OrdersDetails.ShipCity) HeaderText="Ship City" Width="150"></GridColumn>
                        <GridColumn Field=@nameof(OrdersDetails.ShipCountry) HeaderText="Ship Country" Width="150"></GridColumn>
                    </GridColumns>
                </EjsGrid>
        </div>
    </div>
</div>

@*<div class="col-lg-3 property-section">
    <h4 style="margin-top:38px;">Properties</h4>

    <table id="property" style="width: 73%; height: 105px;">
        <tr>
            <td class="left-side" style="padding-right:15px;">Selection Type</td>
            <td>
                <EjsDropDownList ID="types" Index="0" PopupWidth="110px" DataSource="@types" Change="@onchange">
                    <DropDownListFieldSettings text="id" value="type"></DropDownListFieldSettings>
                </EjsDropDownList>
            </td>
        </tr>
        <tr>
            <td class="left-side" style="padding-right:15px;">Selection Mode</td>
            <td>
                <EjsDropDownList ID="mode" Index="0" PopupWidth="110px" DataSource="@modes" Change="@onmodechange">
                    <DropDownListFieldSettings text="id" value="mode"></DropDownListFieldSettings>
                </EjsDropDownList>
            </td>
        </tr>
    </table>
</div>*@

@code{

    public List<OrdersDetails> GridData { get; set; }

    public class SelectionType
    {
        public string id { get; set; }

        public string type { get; set; }
    }

    private List<SelectionType> types = new List<SelectionType>()
    {
        new SelectionType(){ id= "Multiple", type= "Multiple" },
        new SelectionType(){ id= "Single", type= "Single" },
    };

    public class Mode
    {
        public string id { get; set; }

        public string mode { get; set; }
    }

    private List<Mode> modes = new List<Mode>()
    {
        new Mode(){ id= "Row", mode= "Row" },
        new Mode(){ id= "Cell", mode= "Cell" },
        new Mode(){ id= "Both", mode= "Both" },
    };

    protected override void OnInitialized()
    {
        GridData = OrdersDetails.GetAllRecords();
    }
}
