@page "/toolbar/default-functionalities"

@using Syncfusion.Blazor.Navigations
@using Syncfusion.Blazor.Buttons;

@*Hidden:Lines*@
@inherits SampleBaseComponent
@inject NavigationManager NavigationManager


@*End:Hidden*@

<SampleDescription>
    <p> This sample demonstrates the default functionalities of the <a href="https://www.syncfusion.com/blazor-components/blazor-toolbar" aria-label="Feature Tour of Blazor Toolbar">Blazor Toolbar</a>. </p>
</SampleDescription>
<ActionDescription>
    <p>The <strong>Blazor Toolbar</strong> is a graphical control on which commands/buttons will be displayed in horizontal order. By default, scrolling mode is enabled when content exceeds the available view area. </p> <br>
    <p>You can use left/right navigation icon or touch swipe to see the hidden commands of the Toolbar.</p>
    <ul>
        <li>Initially, the toolbar is rendered with the <code> left and right navigation</code> icon, and you can see hidden commands by <code>moving in the right or left</code> direction.</li>
        <li>  When you reach <code>right/left end of toolbar</code>, corresponding  navigation direction will be disabled.</li>
        <li> You can continuously scroll the toolbar content by holding on the navigation icon.</li>
        <li> On <code>mobile devices</code>, navigation icons are not available. You can touch swipe to see the hidden commands of the toolbar.</li>
    </ul><br />
</ActionDescription>

<div class="col-lg-12 control-section e-sample-resize-container">
    <SfToolbar>
        <ToolbarItems>
            <ToolbarItem PrefixIcon="e-icons e-cut" TooltipText="Cut"></ToolbarItem>
            <ToolbarItem PrefixIcon="e-icons e-copy" TooltipText="Copy"></ToolbarItem>
            <ToolbarItem PrefixIcon="e-icons e-paste" TooltipText="Paste"></ToolbarItem>
            <ToolbarItem Type="@ItemType.Separator"></ToolbarItem>
            <ToolbarItem PrefixIcon="e-icons e-bold" TooltipText="Bold"></ToolbarItem>
            <ToolbarItem PrefixIcon="e-icons e-underline" TooltipText="Underline"></ToolbarItem>
            <ToolbarItem PrefixIcon="e-icons e-italic" TooltipText="Italic"></ToolbarItem>
            <ToolbarItem Type="@ItemType.Separator"></ToolbarItem>
            <ToolbarItem PrefixIcon="e-icons e-align-left" TooltipText="Align-Left"></ToolbarItem>
            <ToolbarItem PrefixIcon="e-icons e-align-right" TooltipText="Align-Right"></ToolbarItem>
            <ToolbarItem PrefixIcon="e-icons e-align-center" TooltipText="Align-Center"></ToolbarItem>
            <ToolbarItem PrefixIcon="e-icons e-justify" TooltipText="Align-Justify"></ToolbarItem>
            <ToolbarItem Type="@ItemType.Separator"></ToolbarItem>
            <ToolbarItem PrefixIcon="e-icons e-list-unordered" TooltipText="Bullets"></ToolbarItem>
            <ToolbarItem PrefixIcon="e-icons e-list-ordered" TooltipText="Numbering"></ToolbarItem>
            <ToolbarItem Type="@ItemType.Separator"></ToolbarItem>
            <ToolbarItem PrefixIcon="e-icons e-undo" TooltipText="Undo"></ToolbarItem>
            <ToolbarItem PrefixIcon="e-icons e-redo" TooltipText="Redo"></ToolbarItem>
            <ToolbarItem Type="@ItemType.Separator"></ToolbarItem>
            <ToolbarItem PrefixIcon="e-icons e-upload-1" TooltipText="Upload"></ToolbarItem>
            <ToolbarItem PrefixIcon="e-icons e-download" TooltipText="Download"></ToolbarItem>
            <ToolbarItem Type="@ItemType.Separator"></ToolbarItem>
            <ToolbarItem PrefixIcon="e-icons e-increase-indent" TooltipText="Text Indent"></ToolbarItem>
            <ToolbarItem PrefixIcon="e-icons e-decrease-indent" TooltipText="Text Outdent"></ToolbarItem>
            <ToolbarItem Type="@ItemType.Separator"></ToolbarItem>
            <ToolbarItem PrefixIcon="e-icons e-erase" TooltipText="Clear"></ToolbarItem>
            <ToolbarItem PrefixIcon="e-icons e-refresh" TooltipText="Reload"></ToolbarItem>
            <ToolbarItem PrefixIcon="e-icons e-export" TooltipText="Export"></ToolbarItem>
        </ToolbarItems>
    </SfToolbar>
</div>


<style>
    .e-sample-resize-container {
        max-width: 700px;
    }
</style>
