@page "/toolbar/keyboard-interaction"

@using Syncfusion.Blazor.Navigations

@*Hidden:Lines*@
@inherits SampleBaseComponent
@*End:Hidden*@

<ActionDescription>
<p>This sample demonstrates keyboard shortcut support for the Blazor Toolbar.</p>
    
    <p>Supported keyboard shortcuts:</p>
    
    <ul>
        <li><b>Focus</b>
            <ul>
                <li><span class="key-class"><kbd>Alt</kbd> + <kbd>J</kbd></span> - Focus first sample component</li>
            </ul>
        </li>
        <li><b>Toolbar Items</b>
            <ul>
                <li><span class="key-class"><kbd>Home</kbd></span> - Move focus to first item</li>
                <li><span class="key-class"><kbd>End</kbd></span> - Move focus to last item</li>
                <li><span class="key-class"><kbd>Down Arrow</kbd></span> - Focus next popup element</li>
                <li><span class="key-class"><kbd>Up Arrow</kbd></span> - Focus previous popup element</li>
                <li><span class="key-class"><kbd>Left Arrow</kbd></span> - Focus previous element</li>
                <li><span class="key-class"><kbd>Right Arrow</kbd></span> - Focus next element</li>
                <li><span class="key-class"><kbd>Enter</kbd></span> - Trigger toolbar element click or open popup</li>
                <li><span class="key-class"><kbd>Esc</kbd></span> - Close popup</li>
            </ul>
        </li>
    </ul>
</ActionDescription>


<div class="col-lg-12 control-section">
    <div class="e-sample-resize-container">
        <SfToolbar OverflowMode="@OverflowMode.Popup">
            <ToolbarItems>
                <ToolbarItem PrefixIcon="e-icons e-cut" TooltipText="Cut" aria-label="Cut operation"></ToolbarItem>
                <ToolbarItem PrefixIcon="e-icons e-copy" TooltipText="Copy" aria-label="Copy operation"></ToolbarItem>
                <ToolbarItem PrefixIcon="e-icons e-paste" TooltipText="Paste" aria-label="Paste operation"></ToolbarItem>
                <ToolbarItem Type="@ItemType.Separator"></ToolbarItem>
                <ToolbarItem PrefixIcon="e-icons e-bold" TooltipText="Bold" aria-label="Bold style"></ToolbarItem>
                <ToolbarItem PrefixIcon="e-icons e-underline" TooltipText="Underline" aria-label="Underline style"></ToolbarItem>
                <ToolbarItem PrefixIcon="e-icons e-italic" TooltipText="Italic" aria-label="Italic style"></ToolbarItem>
                <ToolbarItem Type="@ItemType.Separator"></ToolbarItem>
                <ToolbarItem PrefixIcon="e-icons e-align-left" TooltipText="Align-Left" aria-label="Left-align opearation"></ToolbarItem>
                <ToolbarItem PrefixIcon="e-icons e-align-right" TooltipText="Align-Right" aria-label="Right-align opearation"></ToolbarItem>
                <ToolbarItem PrefixIcon="e-icons e-align-center" TooltipText="Align-Center" aria-label="Center-align opearation"></ToolbarItem>
                <ToolbarItem PrefixIcon="e-icons e-justify" TooltipText="Align-Justify" aria-label="Justify-align opearation"></ToolbarItem>
                <ToolbarItem Type="@ItemType.Separator"></ToolbarItem>
                <ToolbarItem PrefixIcon="e-icons e-list-unordered" TooltipText="Bullets" aria-label="Unordered list"></ToolbarItem>
                <ToolbarItem PrefixIcon="e-icons e-list-ordered" TooltipText="Numbering" aria-label="Ordered list"></ToolbarItem>
                <ToolbarItem Type="@ItemType.Separator"></ToolbarItem>
                <ToolbarItem PrefixIcon="e-icons e-undo" TooltipText="Undo" aria-label="Undo operation"></ToolbarItem>
                <ToolbarItem PrefixIcon="e-icons e-redo" TooltipText="Redo" aria-label="Redo operation"></ToolbarItem>
                <ToolbarItem Type="@ItemType.Separator"></ToolbarItem>
                <ToolbarItem PrefixIcon="e-icons e-upload-1" TooltipText="Upload" aria-label="Upload operation"></ToolbarItem>
                <ToolbarItem PrefixIcon="e-icons e-download" TooltipText="Download" aria-label="Download operation"></ToolbarItem>
                <ToolbarItem Type="@ItemType.Separator"></ToolbarItem>
                <ToolbarItem PrefixIcon="e-icons e-increase-indent" TooltipText="Text Indent" aria-label="Text indent operation"></ToolbarItem>
                <ToolbarItem PrefixIcon="e-icons e-decrease-indent" TooltipText="Text Outdent" aria-label="Text outdent operation"></ToolbarItem>
                <ToolbarItem Type="@ItemType.Separator"></ToolbarItem>
                <ToolbarItem PrefixIcon="e-icons e-erase" TooltipText="Clear" aria-label="Clear operation"></ToolbarItem>
                <ToolbarItem PrefixIcon="e-icons e-refresh" TooltipText="Reload" aria-label="Reload operation"></ToolbarItem>
                <ToolbarItem PrefixIcon="e-icons e-export" TooltipText="Export" aria-label="Export operation"></ToolbarItem>
            </ToolbarItems>
        </SfToolbar>
    </div>
</div>


<style>
    .key-class {
        display: inline-block;
        width: 130px;
    }
    .e-sample-resize-container {
        max-width: 700px;
    }
</style>
