@page "/toolbar/keyboard-interaction"

@using Syncfusion.Blazor.Navigations

@*Hidden:Lines*@
@inherits SampleBaseComponent
@inject NavigationManager NavigationManager


@*End:Hidden*@

<SampleDescription>
    <p> This demo showcases the keyboard shortcuts applicable on Blazor Toolbar.</p>
</SampleDescription>
<ActionDescription>
    <i>Below key combinations can be used in Toolbar to initiate various actions.</i>
    <ul>
        <li>
            <b>FOCUS</b>
            <ul>
                <li>
                    <span class="key-class"><kbd>Alt</kbd> + <kbd>J</kbd></span>
                    <span> - Focuses on the first component of the sample.</span>
                </li>
            </ul>
        </li>
        <li>
            <b>TOOLBAR ITEMS</b>
            <ul>
                <li>
                    <span class="key-class"><kbd>Home</kbd></span>
                    <span> - Moves the focus to the first item of the Toolbar.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>End</kbd></span>
                    <span> - Moves the focus to the last item of the Toolbar.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Down arrow</kbd></span>
                    <span> - Focuses the next popup element.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Up arrow</kbd></span>
                    <span> - Focuses the previous popup element.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Left arrow</kbd></span>
                    <span> - Focuses the previous element.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Right arrow</kbd></span>
                    <span> - Focuses the next element.</span>
                </li>
                <li>
                    <span class="key-class"><kbd>Enter</kbd></span>
                    <span>
                        - When focused on a ToolBar command, clicking the key triggers the click of Toolbar
                        element. When popup drop-down icon is focused, the popup opens.
                    </span>
                </li>
                <li>
                    <span class="key-class"><kbd>Esc</kbd></span>
                    <span> - Closes popup.</span>
                </li>
            </ul>
        </li>
    </ul>
</ActionDescription>

<div class="col-lg-12 control-section">
    <div class="e-sample-resize-container">
        <SfToolbar OverflowMode="@OverflowMode.Popup">
            <ToolbarItems>
                <ToolbarItem PrefixIcon="e-icons e-cut" TooltipText="Cut"></ToolbarItem>
                <ToolbarItem PrefixIcon="e-icons e-copy" TooltipText="Copy"></ToolbarItem>
                <ToolbarItem PrefixIcon="e-icons e-paste" TooltipText="Paste"></ToolbarItem>
                <ToolbarItem Type="@ItemType.Separator"></ToolbarItem>
                <ToolbarItem PrefixIcon="e-icons e-bold" TooltipText="Bold"></ToolbarItem>
                <ToolbarItem PrefixIcon="e-icons e-underline" TooltipText="Underline"></ToolbarItem>
                <ToolbarItem PrefixIcon="e-icons e-italic" TooltipText="Italic"></ToolbarItem>
                <ToolbarItem Type="@ItemType.Separator"></ToolbarItem>
                <ToolbarItem PrefixIcon="e-icons e-align-left" TooltipText="Align-Left"></ToolbarItem>
                <ToolbarItem PrefixIcon="e-icons e-align-right" TooltipText="Align-Right"></ToolbarItem>
                <ToolbarItem PrefixIcon="e-icons e-align-center" TooltipText="Align-Center"></ToolbarItem>
                <ToolbarItem PrefixIcon="e-icons e-justify" TooltipText="Align-Justify"></ToolbarItem>
                <ToolbarItem Type="@ItemType.Separator"></ToolbarItem>
                <ToolbarItem PrefixIcon="e-icons e-list-unordered" TooltipText="Bullets"></ToolbarItem>
                <ToolbarItem PrefixIcon="e-icons e-list-ordered" TooltipText="Numbering"></ToolbarItem>
                <ToolbarItem Type="@ItemType.Separator"></ToolbarItem>
                <ToolbarItem PrefixIcon="e-icons e-undo" TooltipText="Undo"></ToolbarItem>
                <ToolbarItem PrefixIcon="e-icons e-redo" TooltipText="Redo"></ToolbarItem>
                <ToolbarItem Type="@ItemType.Separator"></ToolbarItem>
                <ToolbarItem PrefixIcon="e-icons e-upload-1" TooltipText="Upload"></ToolbarItem>
                <ToolbarItem PrefixIcon="e-icons e-download" TooltipText="Download"></ToolbarItem>
                <ToolbarItem Type="@ItemType.Separator"></ToolbarItem>
                <ToolbarItem PrefixIcon="e-icons e-increase-indent" TooltipText="Text Indent"></ToolbarItem>
                <ToolbarItem PrefixIcon="e-icons e-decrease-indent" TooltipText="Text Outdent"></ToolbarItem>
                <ToolbarItem Type="@ItemType.Separator"></ToolbarItem>
                <ToolbarItem PrefixIcon="e-icons e-erase" TooltipText="Clear"></ToolbarItem>
                <ToolbarItem PrefixIcon="e-icons e-refresh" TooltipText="Reload"></ToolbarItem>
                <ToolbarItem PrefixIcon="e-icons e-export" TooltipText="Export"></ToolbarItem>
            </ToolbarItems>
        </SfToolbar>
    </div>
</div>


<style>
    .key-class {
        display: inline-block;
        width: 130px;
    }
    .e-sample-resize-container {
        max-width: 700px;
    }
</style>
