@page "/avatar/listview"
@using Syncfusion.Blazor.Lists
@*Hidden:Lines*@
@inherits SampleBaseComponent
@inject NavigationManager NavigationManager




@*End:Hidden*@

<SampleDescription>
        <p>This sample demonstrates the integration of avatar component into listview to create contacts applications.</p>
</SampleDescription>
<ActionDescription>
    <p>The avatar can be used with other components to create various applications. Here, the avatar is used to display images or their initials from the persons contact lists.</p>
    <p>Here, the xsmall avatar is used in circle type. To change the size of the avatar to xsmall and circle style, add <code>.e-avatar-xsmall</code> and <code>.e-avatar-circle</code>.</p>
</ActionDescription>

<div class="control-section">
    <!-- Listview element -->
    <SfListView DataSource="@DataSource" HeaderTitle="Contacts" ShowHeader=true SortOrder="SortOrder.Ascending">
        <ListViewFieldSettings TValue="DataModel" Text="text"></ListViewFieldSettings>
        <ListViewTemplates TValue="DataModel">
            <Template>
                <div class="listWrapper">
                    @if (@context.avatar != "")
                    {
                        <span class="e-avatar e-avatar-small e-avatar-circle">@context.avatar</span>
                    }
                    else
                    {
                        <span class="@context.pic e-avatar e-avatar-small e-avatar-circle"> </span>
                    }
                    <span class="list-text">@context.text</span>
                </div>
            </Template>
        </ListViewTemplates>
    </SfListView>
</div>
@code {
    
    List<DataModel> DataSource = new List<DataModel>()
    {
        new DataModel { id= "s_01", text= "Robert", avatar= "", pic= "pic04"},
        new DataModel { id= "s_02", text= "Nancy", avatar= "N", pic= ""},
        new DataModel { id= "s_03", text= "John", avatar= "", pic= "pic01"},
        new DataModel { id= "s_05", text= "Andrew", avatar= "A", pic= ""},
        new DataModel { id= "s_06", text= "Margaret", avatar= "", pic= "pic02"},
        new DataModel { id= "s_07", text= "Steven", avatar= "", pic= "pic03" },
        new DataModel { id= "s_08", text= "Michael", avatar= "M", pic= ""},
    };
    // Specifies the model class for ListView datasource.
    class DataModel
    {
        public string id { get; set; }
        public string text { get; set; }
        public string avatar { get; set; }
        public string pic { get; set; }
    }
}
<style>
    .control-section {
        overflow: auto;
    }
    /* Listview Customization */
    .e-control.e-listview {
        max-width: 350px;
        margin: auto;
        border-radius: 3px;
    }
    body.material .e-control.e-listview,
    body.material-dark .e-control.e-listview,
    body.fabric .e-control.e-listview,
    body.fabric-dark .e-control.e-listview,
    body.bootstrap .e-control.e-listview,
    body.bootstrap-dark .e-control.e-listview,
    body.highcontrast .e-control.e-listview {
        border: 1px solid #dddddd;
    }
    .e-control.e-listview .listWrapper {
        width: inherit;
        height: inherit;
        position: relative;
        display: flex;
    }
    .e-control.e-listview .e-list-header {
        height: 54px;
    }
    body.material .e-control.e-listview .e-list-item,
    body.material-dark .e-control.e-listview .e-list-item {
        line-height: 50px;
    }
    body.tailwind-dark .e-control.e-listview .e-list-item {
        line-height: 35px;
        padding-top: 0px;
    }
    .material .e-control.e-listview .e-list-header .e-text {
        line-height: 22px;
    }
    .fabric .e-control.e-listview .e-list-header .e-text {
        line-height: 22px;
    }
    .bootstrap .e-control.e-listview .e-list-header .e-text {
        line-height: 13px;
    }
    .highcontrast .e-control.e-listview .e-list-header .e-text {
        line-height: 20px;
    }
    .e-bigger .e-listview:not(.e-list-template) .e-list-item, .e-listview:not(.e-list-template) .e-list-item {
        cursor: pointer;
        height: 50px;
        line-height: 44px;
        border: 0;
    }
    .tailwind .e-control.e-listview .e-list-item {
        line-height: 50px;
        padding-top: 0;
        padding-bottom: 0;
    }
    /* Badge Positioning */
    .e-control.e-listview .e-badge {
        margin-top: 12px;
    }
    .e-control.e-listview .listWrapper .list-text {
        width: 60%;
        display: inline-block;
        vertical-align: middle;
        margin: auto 50px auto 20px;
    }
    /* Avatar Positioning */
    .e-control.e-listview .listWrapper .e-avatar {
        font-size: 10px;
        margin: auto 0;
        left: 5px;
    }
    /* Avatar Background Customization */
    .e-control.e-listview .e-list-item:nth-child(1) .e-avatar {
        background-color: #039BE5;
    }
    .e-control.e-listview .e-list-item:nth-child(3) .e-avatar {
        background-color: #E91E63;
    }
    .e-control.e-listview .e-list-item:nth-child(5) .e-avatar {
        background-color: #009688;
    }
    /* Avatar images using 'background-image' property */
    .pic01 {
        background-image: url(@(SampleService.WebAssetsPath + "images/avatar/pic01.png"));
    }
    .pic02 {
        background-image: url(@(SampleService.WebAssetsPath + "images/avatar/pic02.png"));
    }
    .pic03 {
        background-image: url(@(SampleService.WebAssetsPath + "images/avatar/pic03.png"));
    }
    .pic04 {
        background-image: url(@(SampleService.WebAssetsPath + "images/avatar/pic04.png"));
    }
    .bootstrap4 .e-listview .e-text .e-headertext {
        font-size: 16px;
    }
    .bootstrap4 .e-control.e-listview .e-list-item,
    .bootstrap5 .e-control.e-listview .e-list-item {
        line-height: 30px;
        font-size: 14px;
        padding: 8px 16px 8px 16px;
    }
    body.bootstrap5-dark .e-control.e-listview .e-list-item,
    body.bootstrap5 .e-control.e-listview .e-list-item,
    body.bootstrap4 .e-control.e-listview .e-list-item,
    body.fluent .e-control.e-listview .e-list-item,
    body.fluent-dark .e-control.e-listview .e-list-item {
        padding-top: 0px;
    }
</style>
