@page "/"

<div class="sf-blazor-home">
    <!-- Header -->
    <div id="header-bar">
        <div class='header-logo'>
            <a href="https://www.syncfusion.com/blazor-components" target="_blank" rel="noopener noreferrer">
                <div class="subheader-logo"> </div>
            </a>
        </div>
        <div class="head-text"></div>

        <!-- For desktop search -->
        <div id="searching" class="desk-search bh-hide">
            <input id="search-box" type="text" placeholder='Search for components or features..'
                   onfocusout="hideSearchDesktop()" />
            <div id='search-popup' class='sb-search-result e-hidden'></div>
        </div>
        <!-- For mobile search -->
        <div id="mbSearch" class="bh-hide">
            <input id="mob-search-box" type="text" placeholder='Search for components or features..'
                   onfocus="mobilefocus()" onfocusout="hideSearch()" />
            <div id='mob-search-popup' class='sb-search-result e-hidden'></div>
        </div>
        <div id="mob-search" class="sb-icons"> </div>
    </div>

    <!-- image banner -->
    <div class="banner-image">
        <div class="container">
            <div class="row">
                <h1 class="banner-text">Syncfusion Blazor Components - Demos and Showcase Web Apps</h1>
                <p class="banner-text1">
                    The Syncfusion Blazor components library is the only suite that you will ever
                    need to build an application. It contains 60+ high-performance, light-weight, and responsive UI
                    controls in a single package
                </p>
            </div>
        </div>
    </div>

    <!-- mobile image banner -->
    <section id="mob-banner-img" class="row" style="display:none;position: relative;">
        <h1 class="banner-text">Syncfusion Blazor Components - Demos and Showcase Web Apps</h1>
        <div>
            <p class="banner-text1">
                The Syncfusion Blazor components library is the only suite that you will ever need
                to build an application. It contains 60+ high-performance, light-weight, and responsive UI controls in a
                single package
            </p>
        </div>
        <div class="mob-banner-img1">
            <img src="./styles/images/blazor/mobile_image.png" style="width: 97%;height: 100%;margin-top: 10px;">
        </div>
    </section>

    <!-- body -->
    <div class='content-body'>
        <div class="container-fluid">

            <!-- Components list section -->
            <div class="row" style="padding-bottom: 55px">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="tab-content">
                        <div class="row" style="margin-top: 60px;">
                            <div class="componet-head">
                                Syncfusion Blazor UI & DataViz Components
                            </div>
                            <div class="container sample-list">
                                <div class="col-sm-6 col-md-3 col-xs-6 sample-group">
                                    <div class="catagory">Grids</div>
                                    <ul class="list--hover">
                                        <li>
                                            <a href="https://blazor.syncfusion.com/demos/datagrid/overview/" @onclick="@(() => NavToSample("datagrid/overview"))" @onclick:preventDefault
                                               rel="noopener noreferrer">
                                                <span class="sb-icons sb-icon-grid"></span>
                                                <span>DataGrid</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://blazor.syncfusion.com/demos/pivot-table/default-functionalities/" @onclick="@(() => NavToSample("pivot-table/default-functionalities"))" @onclick:preventDefault
                                               rel="noopener noreferrer">
                                                <span class="sb-icons sb-icon-pivot"></span>
                                                <span>Pivot Table</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://blazor.syncfusion.com/demos/tree-grid/default-functionalities/" @onclick="@(() => NavToSample("tree-grid/default-functionalities"))" @onclick:preventDefault
                                               rel="noopener noreferrer">
                                                <span class="sb-icons sb-icon-treegrid"></span>
                                                <span>Tree Grid</span>
                                            </a>
                                        </li>
                                    </ul>
                                    <div class="catagory">Data Visualization</div>
                                    <ul class="list--hover">
                                        <li>
                                            <a href="https://blazor.syncfusion.com/demos/chart/line/" @onclick="@(() => NavToSample("chart/line"))" @onclick:preventDefault
                                               rel="noopener noreferrer">
                                                <span class="sb-icons sb-icon-charts"></span>
                                                <span>Charts</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://blazor.syncfusion.com/demos/stock-chart/stock-chart/" @onclick="@(() => NavToSample("stock-chart/stock-chart"))" @onclick:preventDefault
                                               rel="noopener noreferrer">
                                                <span class="sb-icons sb-icon-stockchart"></span>
                                                <span>Stock Chart</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://blazor.syncfusion.com/demos/circular-gauge/default-functionalities/" @onclick="@(() => NavToSample("circular-gauge/default-functionalities"))" @onclick:preventDefault
                                               rel="noopener noreferrer">
                                                <span class="sb-icons sb-icon-circulargauge"></span>
                                                <span>Circular Gauge</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://blazor.syncfusion.com/demos/diagram/flowchart/" @onclick="@(() => NavToSample("diagram/flowchart"))" @onclick:preventDefault
                                               rel="noopener noreferrer">
                                                <span class="sb-icons sb-icon-diagram"></span>
                                                <span>Diagram</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://blazor.syncfusion.com/demos/heatmap-chart/default-functionalities/" @onclick="@(() => NavToSample("heatmap-chart/default-functionalities"))" @onclick:preventDefault
                                               rel="noopener noreferrer">
                                                <span class="sb-icons sb-icon-heatmap"></span>
                                                <span>HeatMap Chart</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://blazor.syncfusion.com/demos/linear-gauge/default-functionalities/" @onclick="@(() => NavToSample("linear-gauge/default-functionalities"))" @onclick:preventDefault
                                               rel="noopener noreferrer">
                                                <span class="sb-icons sb-icon-lineargauge"></span>
                                                <span>Linear Gauge</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://blazor.syncfusion.com/demos/maps/default-functionalities/" @onclick="@(() => NavToSample("maps/default-functionalities"))" @onclick:preventDefault
                                               rel="noopener noreferrer">
                                                <span class="sb-icons sb-icon-maps"></span>
                                                <span>Maps</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://blazor.syncfusion.com/demos/range-selector/range-navigator/" @onclick="@(() => NavToSample("range-selector/range-navigator"))" @onclick:preventDefault
                                               rel="noopener noreferrer">
                                                <span class="sb-icons sb-icon-range_navigator"></span>
                                                <span>Range Selector</span>
                                            </a>
                                        </li>

                                        <li>
                                            <a href="https://blazor.syncfusion.com/demos/smith-chart/default-functionalities/" @onclick="@(() => NavToSample("smith-chart/default-functionalities"))" @onclick:preventDefault
                                               rel="noopener noreferrer">
                                                <span class="sb-icons sb-icon-smith_chart"></span>
                                                <span>Smith Chart</span>
                                            </a>
                                        </li>

                                        <li>
                                            <a href="https://blazor.syncfusion.com/demos/barcodes/default-functionalities/" @onclick="@(() => NavToSample("barcodes/default-functionalities"))" @onclick:preventDefault
                                               rel="noopener noreferrer">
                                                <span class="sb-icons sb-icon-barcode"></span>
                                                <span>Barcode Generator</span>
                                            </a>
                                        </li>

                                        <li>
                                            <a href="https://blazor.syncfusion.com/demos/sparkline/default-functionalities/" @onclick="@(() => NavToSample("sparkline/default-functionalities"))" @onclick:preventDefault
                                               rel="noopener noreferrer">
                                                <span class="sb-icons sb-icon-sparkline"></span>
                                                <span>Sparkline Charts</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://blazor.syncfusion.com/demos/treemap/default-functionalities/" @onclick="@(() => NavToSample("treemap/default-functionalities"))" @onclick:preventDefault
                                               rel="noopener noreferrer">
                                                <span class="sb-icons sb-icon-treemap"></span>
                                                <span>TreeMap</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://blazor.syncfusion.com/demos/bullet-chart/default-functionalities/" @onclick="@(() => NavToSample("bullet-chart/default-functionalities"))" @onclick:preventDefault
                                               rel="noopener noreferrer">
                                                <span class="sb-icons sb-icon-bulletchart"></span>
                                                <span>Bullet Chart</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://blazor.syncfusion.com/demos/kanban/overview/" @onclick="@(() => NavToSample("kanban/overview"))" @onclick:preventDefault
                                               rel="noopener noreferrer">
                                                <span class="sb-icons sb-icon-kanban"></span>
                                                <span>Kanban</span>
                                                <div class="e-badge badge-css">
                                                    PREVIEW
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                    <div class="catagory">Forms</div>
                                    <ul class="list--hover">
                                        <li>
                                            <a href="https://blazor.syncfusion.com/demos/query-builder/default-functionalities/" @onclick="@(() => NavToSample("query-builder/default-functionalities"))" @onclick:preventDefault
                                               rel="noopener noreferrer">
                                                <span class="sb-icons sb-icon-filterbuilder"></span>
                                                <span>Query Builder</span>
                                                <div class="e-badge badge-css">
                                                    PREVIEW
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                    <div class="catagory">File Format</div>
                                    <ul class="list--hover">
                                        <li>
                                            <a href="https://blazor.syncfusion.com/demos/docio/hello-world/" @onclick="@(() => NavToSample("docio/hello-world"))" @onclick:preventDefault
                                               rel="noopener noreferrer">
                                                <span class="sb-icons sb-icon-DOC"></span>
                                                <span>DocIO</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://blazor.syncfusion.com/demos/pdf/hello-world/" @onclick="@(() => NavToSample("pdf/hello-world"))" @onclick:preventDefault
                                               rel="noopener noreferrer">
                                                <span class="sb-icons sb-icon-PDF"></span>
                                                <span>PDF</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://blazor.syncfusion.com/demos/presentation/getting-started/" @onclick="@(() => NavToSample("presentation/getting-started"))" @onclick:preventDefault
                                               rel="noopener noreferrer">
                                                <span class="sb-icons sb-icon-PPT"></span>
                                                <span>Presentation</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://blazor.syncfusion.com/demos/xlsio/create-excel/" @onclick="@(() => NavToSample("xlsio/create-excel"))" @onclick:preventDefault
                                               rel="noopener noreferrer">
                                                <span class="sb-icons sb-icon-XLS"></span>
                                                <span>XlsIO</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-sm-6 col-md-3 col-xs-6 sample-group">
                                    <div class="catagory">Editors</div>
                                    <ul class="list--hover">
                                        <li>
                                            <a href="https://blazor.syncfusion.com/demos/rich-text-editor/default-functionalities/" @onclick="@(() => NavToSample("rich-text-editor/default-functionalities"))" @onclick:preventDefault
                                               rel="noopener noreferrer">
                                                <span class="sb-icons sb-icon-RTE"></span>
                                                <span>Rich Text Editor</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://blazor.syncfusion.com/demos/document-editor/default-functionalities/" @onclick="@(() => NavToSample("document-editor/default-functionalities"))" @onclick:preventDefault
                                               rel="noopener noreferrer">
                                                <span class="sb-icons sb-icon-document_editor"> </span>
                                                <span>Word Processor</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://blazor.syncfusion.com/demos/in-place-editor/overview/" @onclick="@(() => NavToSample("in-place-editor/overview"))" @onclick:preventDefault
                                               rel="noopener noreferrer">
                                                <span class="sb-icons sb-icon-insideeditor"></span>
                                                <span>In-place Editor</span>
                                            </a>
                                        </li>
                                    </ul>
                                    <div class="catagory">Calendars</div>
                                    <ul class="list--hover">
                                        <li>
                                            <a href="https://blazor.syncfusion.com/demos/scheduler/default-functionalities/" @onclick="@(() => NavToSample("scheduler/default-functionalities"))" @onclick:preventDefault
                                               rel="noopener noreferrer">
                                                <span class="sb-icons sb-icon-schedule"></span>
                                                <span>Scheduler</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://blazor.syncfusion.com/demos/calendar/default-functionalities/" @onclick="@(() => NavToSample("calendar/default-functionalities"))" @onclick:preventDefault
                                               rel="noopener noreferrer">
                                                <span class="sb-icons sb-icon-calendar"></span>
                                                <span>Calendar</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://blazor.syncfusion.com/demos/datepicker/default-functionalities/" @onclick="@(() => NavToSample("datepicker/default-functionalities"))" @onclick:preventDefault
                                               rel="noopener noreferrer">
                                                <span class="sb-icons sb-icon-datepicker"></span>
                                                <span>DatePicker</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://blazor.syncfusion.com/demos/daterangepicker/default-functionalities/" @onclick="@(() => NavToSample("daterangepicker/default-functionalities"))" @onclick:preventDefault
                                               rel="noopener noreferrer">
                                                <span class="sb-icons sb-icon-daterangepicker"></span>
                                                <span>DateRangePicker</span>
                                                <div class="e-badge badge-css">
                                                    PREVIEW
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://blazor.syncfusion.com/demos/datetime-picker/default-functionalities/" @onclick="@(() => NavToSample("datetime-picker/default-functionalities"))" @onclick:preventDefault
                                               rel="noopener noreferrer">
                                                <span class="sb-icons sb-icon-datetimepicker"></span>
                                                <span>DateTime Picker</span>
                                                <div class="e-badge badge-css">
                                                    PREVIEW
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://blazor.syncfusion.com/demos/timepicker/default-functionalities/" @onclick="@(() => NavToSample("timepicker/default-functionalities"))" @onclick:preventDefault
                                               rel="noopener noreferrer">
                                                <span class="sb-icons sb-icon-timepicker"></span>
                                                <span>TimePicker</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://blazor.syncfusion.com/demos/gantt-chart/default-functionalities/" @onclick="@(() => NavToSample("gantt-chart/default-functionalities"))" @onclick:preventDefault
                                               rel="noopener noreferrer">
                                                <span class="sb-icons sb-icon-gantt"></span>
                                                <span>Gantt Chart</span>
                                                <div class="e-badge badge-css">
                                                    PREVIEW
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                    <div class="catagory">Buttons</div>
                                    <ul class="list--hover">
                                        <li>
                                            <a href="https://blazor.syncfusion.com/demos/buttons/default-functionalities/" @onclick="@(() => NavToSample("buttons/default-functionalities"))" @onclick:preventDefault
                                               rel="noopener noreferrer">
                                                <span class="sb-icons sb-icon-button"></span>
                                                <span>Button</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://blazor.syncfusion.com/demos/buttons/dropdown-menu/" @onclick="@(() => NavToSample("buttons/dropdown-menu"))" @onclick:preventDefault
                                               rel="noopener noreferrer">
                                                <span class="sb-icons sb-icon-dropdownbutton"></span>
                                                <span>Dropdown Menu</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://blazor.syncfusion.com/demos/buttons/progress-button/" @onclick="@(() => NavToSample("buttons/progress-button"))" @onclick:preventDefault
                                               rel="noopener noreferrer">
                                                <span class="sb-icons sb-icon-progressbutton"></span>
                                                <span>Progress Button</span>
                                                <div class="e-badge badge-css">
                                                    PREVIEW
                                                </div>
                                            </a>
                                        </li>

                                        <li>
                                            <a href="https://blazor.syncfusion.com/demos/buttons/split-button/" @onclick="@(() => NavToSample("buttons/split-button"))" @onclick:preventDefault
                                               rel="noopener noreferrer">
                                                <span class="sb-icons sb-icon-splitbutton"></span>
                                                <span>Split Button</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://blazor.syncfusion.com/demos/chips/default-functionalities/" @onclick="@(() => NavToSample("chips/default-functionalities"))" @onclick:preventDefault
                                               rel="noopener noreferrer">
                                                <span class="sb-icons sb-icon-chip"></span>
                                                <span>Chips</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>

                                <div class="col-sm-6 col-md-3 col-xs-6 sample-group">
                                    <div class="catagory">Dropdowns</div>
                                    <ul class="list--hover">
                                        <li>
                                            <a href="https://blazor.syncfusion.com/demos/autocomplete/default-functionalities/" @onclick="@(() => NavToSample("autocomplete/default-functionalities"))" @onclick:preventDefault
                                               rel="noopener noreferrer">
                                                <span class="sb-icons sb-icon-autocomplete"></span>
                                                <span>AutoComplete</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://blazor.syncfusion.com/demos/combobox/default-functionalities/" @onclick="@(() => NavToSample("combobox/default-functionalities"))" @onclick:preventDefault
                                               rel="noopener noreferrer">
                                                <span class="sb-icons sb-icon-combobox"></span>
                                                <span>ComboBox</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://blazor.syncfusion.com/demos/dropdown-list/default-functionalities/" @onclick="@(() => NavToSample("dropdown-list/default-functionalities"))" @onclick:preventDefault
                                               rel="noopener noreferrer">
                                                <span class="sb-icons sb-icon-dropdownlist"></span>
                                                <span>Dropdown List</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://blazor.syncfusion.com/demos/multiselect-dropdown/default-functionalities/" @onclick="@(() => NavToSample("multiselect-dropdown/default-functionalities"))" @onclick:preventDefault
                                               rel="noopener noreferrer">
                                                <span class="sb-icons sb-icon-multiselect"></span>
                                                <span>MultiSelect Dropdown</span>
                                                <div class="e-badge badge-css">
                                                    PREVIEW
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://blazor.syncfusion.com/demos/listbox/default-functionalities/" @onclick="@(() => NavToSample("listbox/default-functionalities"))" @onclick:preventDefault
                                               rel="noopener noreferrer">
                                                <span class="sb-icons sb-icon-listbox"></span>
                                                <span>ListBox</span>
                                            </a>
                                        </li>
                                    </ul>
                                    <div class="catagory">Navigation</div>
                                    <ul class="list--hover">
                                        <li>
                                            <a href="https://blazor.syncfusion.com/demos/accordion/default-functionalities/" @onclick="@(() => NavToSample("accordion/default-functionalities"))" @onclick:preventDefault
                                               rel="noopener noreferrer">
                                                <span class="sb-icons sb-icon-accordion"></span>
                                                <span>Accordion</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://blazor.syncfusion.com/demos/context-menu/default-functionalities/" @onclick="@(() => NavToSample("context-menu/default-functionalities"))" @onclick:preventDefault
                                               rel="noopener noreferrer">
                                                <span class="sb-icons sb-icon-contextmenu"></span>
                                                <span>Context Menu</span>
                                                <div class="e-badge badge-css">
                                                    PREVIEW
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://blazor.syncfusion.com/demos/menu-bar/default-functionalities/" @onclick="@(() => NavToSample("menu-bar/default-functionalities"))" @onclick:preventDefault
                                               rel="noopener noreferrer">
                                                <span class="sb-icons sb-icon-menu"></span>
                                                <span>Menu Bar</span>
                                                <div class="e-badge badge-css">
                                                    PREVIEW
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://blazor.syncfusion.com/demos/sidebar/default-functionalities/" @onclick="@(() => NavToSample("sidebar/default-functionalities"))" @onclick:preventDefault
                                               rel="noopener noreferrer">
                                                <span class="sb-icons sb-icon-sidebar"></span>
                                                <span>Sidebar</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://blazor.syncfusion.com/demos/tabs/default-functionalities/" @onclick="@(() => NavToSample("tabs/default-functionalities"))" @onclick:preventDefault
                                               rel="noopener noreferrer">
                                                <span class="sb-icons sb-icon-tab"></span>
                                                <span>Tabs</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://blazor.syncfusion.com/demos/toolbar/default-functionalities/" @onclick="@(() => NavToSample("toolbar/default-functionalities"))" @onclick:preventDefault
                                               rel="noopener noreferrer">
                                                <span class="sb-icons sb-icon-toolbar"></span>
                                                <span>Toolbar</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://blazor.syncfusion.com/demos/treeview/default-functionalities/" @onclick="@(() => NavToSample("treeview/default-functionalities"))" @onclick:preventDefault
                                               rel="noopener noreferrer">
                                                <span class="sb-icons sb-icon-treeview"></span>
                                                <span>TreeView</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://blazor.syncfusion.com/demos/file-manager/overview/" @onclick="@(() => NavToSample("file-manager/overview"))" @onclick:preventDefault
                                               rel="noopener noreferrer">
                                                <span class="sb-icons sb-icon-filemanager"></span>
                                                <span>File Manager</span>
                                                <div class="e-badge badge-css">
                                                    PREVIEW
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                    <div class="catagory">Notifications</div>
                                    <ul class="list--hover">
                                        <li>
                                            <a href="https://blazor.syncfusion.com/demos/progress-bar/linear/" @onclick="@(() => NavToSample("progress-bar/linear"))" @onclick:preventDefault
                                               rel="noopener noreferrer">
                                                <span class="sb-icons sb-icon-progressBar"></span>
                                                <span>ProgressBar</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://blazor.syncfusion.com/demos/toast/default-functionalities/" @onclick="@(() => NavToSample("toast/default-functionalities"))" @onclick:preventDefault
                                               rel="noopener noreferrer">
                                                <span class="sb-icons sb-icon-toast"></span>
                                                <span>Toast</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://blazor.syncfusion.com/demos/spinner/default-functionalities/" @onclick="@(() => NavToSample("spinner/default-functionalities"))" @onclick:preventDefault
                                               rel="noopener noreferrer">
                                                <span class="sb-icons sb-icon-spinner"></span>
                                                <span>Spinner</span>
                                                <div class="e-badge badge-css">
                                                    PREVIEW
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>

                                <div class="col-sm-6 col-md-3 col-xs-6 sample-group">
                                    <div class="catagory">Inputs</div>
                                    <ul class="list--hover">
                                        <li>
                                            <a href="https://blazor.syncfusion.com/demos/textbox/default-functionalities/" @onclick="@(() => NavToSample("textbox/default-functionalities"))" @onclick:preventDefault
                                               rel="noopener noreferrer">
                                                <span class="sb-icons sb-icon-textbox"></span>
                                                <span>TextBox</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://blazor.syncfusion.com/demos/input-mask/default-functionalities/" @onclick="@(() => NavToSample("input-mask/default-functionalities"))" @onclick:preventDefault
                                               rel="noopener noreferrer">
                                                <span class="sb-icons sb-icon-maskedtextbox"></span>
                                                <span>Input Mask</span>
                                                <div class="e-badge badge-css">
                                                    PREVIEW
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://blazor.syncfusion.com/demos/numeric-textbox/default-functionalities/" @onclick="@(() => NavToSample("numeric-textbox/default-functionalities"))" @onclick:preventDefault
                                               rel="noopener noreferrer">
                                                <span class="sb-icons sb-icon-numerictextbox"></span>
                                                <span>Numeric TextBox</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://blazor.syncfusion.com/demos/buttons/radio-button/" @onclick="@(() => NavToSample("buttons/radio-button"))" @onclick:preventDefault
                                               rel="noopener noreferrer">
                                                <span class="sb-icons sb-icon-radiobutton"></span>
                                                <span>Radio Button</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://blazor.syncfusion.com/demos/buttons/checkbox/" @onclick="@(() => NavToSample("buttons/checkbox"))" @onclick:preventDefault
                                               rel="noopener noreferrer">
                                                <span class="sb-icons sb-icon-checkbox"></span>
                                                <span>Checkbox</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://blazor.syncfusion.com/demos/color-picker/default-functionalities/" @onclick="@(() => NavToSample("color-picker/default-functionalities"))" @onclick:preventDefault
                                               rel="noopener noreferrer">
                                                <span class="sb-icons sb-icon-colorpicker"></span>
                                                <span>Color Picker</span>
                                                <div class="e-badge badge-css">
                                                    PREVIEW
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://blazor.syncfusion.com/demos/file-upload/default-functionalities/" @onclick="@(() => NavToSample("file-upload/default-functionalities"))" @onclick:preventDefault
                                               rel="noopener noreferrer">
                                                <span class="sb-icons sb-icon-uploader"></span>
                                                <span>File Upload</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://blazor.syncfusion.com/demos/range-slider/default/" @onclick="@(() => NavToSample("range-slider/default"))" @onclick:preventDefault
                                               rel="noopener noreferrer">
                                                <span class="sb-icons sb-icon-slider"></span>
                                                <span>Range Slider</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://blazor.syncfusion.com/demos/buttons/toggle-switch-button/" @onclick="@(() => NavToSample("buttons/toggle-switch-button"))" @onclick:preventDefault
                                               rel="noopener noreferrer">
                                                <span class="sb-icons sb-icon-switch"></span>
                                                <span>Toggle Switch Button</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>

                                <div class="col-sm-6 col-md-3 col-xs-6 sample-group">
                                    <div class="catagory">Layout</div>
                                    <ul class="list--hover">
                                        <li>
                                            <a href="https://blazor.syncfusion.com/demos/dialog/default-functionalities/" @onclick="@(() => NavToSample("dialog/default-functionalities"))" @onclick:preventDefault
                                               rel="noopener noreferrer">
                                                <span class="sb-icons sb-icon-dialog"></span>
                                                <span>Dialog</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://blazor.syncfusion.com/demos/listview/default-functionalities/" @onclick="@(() => NavToSample("listview/default-functionalities"))" @onclick:preventDefault
                                               rel="noopener noreferrer">
                                                <span class="sb-icons sb-icon-listview">
                                                </span>
                                                <span>ListView</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://blazor.syncfusion.com/demos/tooltip/default/" @onclick="@(() => NavToSample("tooltip/default"))" @onclick:preventDefault
                                               rel="noopener noreferrer">
                                                <span class="sb-icons sb-icon-tooltip"></span>
                                                <span>Tooltip</span>
                                                <!-- <div class="e-badge badge-css">
                                                    PREVIEW
                                                </div> -->
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://blazor.syncfusion.com/demos/splitter/default-functionalities/" @onclick="@(() => NavToSample("splitter/default-functionalities"))" @onclick:preventDefault
                                               rel="noopener noreferrer">
                                                <span class="sb-icons sb-icon-splitter"></span>
                                                <span>Splitter</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://blazor.syncfusion.com/demos/dashboard-layout/default/" @onclick="@(() => NavToSample("dashboard-layout/default"))" @onclick:preventDefault
                                               rel="noopener noreferrer">
                                                <span class="sb-icons sb-icon-dashboardlayout"></span>
                                                <span>Dashboard Layout</span>
                                                <!-- <div class="e-badge badge-css">
                                                    PREVIEW
                                                </div> -->
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://blazor.syncfusion.com/demos/card/basic-card/" @onclick="@(() => NavToSample("card/basic-card"))" @onclick:preventDefault
                                               rel="noopener noreferrer">
                                                <span class="sb-icons sb-icon-card"></span>
                                                <span>Card</span>
                                            </a>
                                        </li>
                                    </ul>
                                    <div class="catagory">Viewer</div>
                                    <ul class="list--hover">
                                        <li>
                                            <a href="https://blazor.syncfusion.com/demos/pdf-viewer/default-functionalities/" @onclick="@(() => NavToSample("pdf-viewer/default-functionalities"))" @onclick:preventDefault
                                               rel="noopener noreferrer">
                                                <span class="sb-icons sb-icon-pdfviewer"></span>
                                                <span>PDF Viewer</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- trusted company list section -->
            <section id="company-list">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 col-xs-12 text-center">
                            <h4>
                                Trusted by the world’s leading companies
                            </h4>
                            <div class="desk-image">
                                <img alt="Syncfusion Trusted Companies"
                                     src="https://cdn.syncfusion.com/content/images/FT/common/Syncfusion-trusted-companies.png">
                            </div>
                            <div class="mob-image">
                                <img alt="Syncfusion Trusted Companies"
                                     src="https://cdn.syncfusion.com/content/images/FT/common/Syncfusion-trusted-companies-mobile.png">
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- Showcase sample slide show -->
            <div class="row" style="padding-top: 55px">
                <div class="sample-head">
                    Showcase Applications
                </div>
            </div>

            <div class="carousel-wrapper">
                <CarouselComponent></CarouselComponent>
            </div>

            <!-- footer section -->
            <div id="footer-warpper" class="segment">
                <div class="container">
                    <div class=" col-lg-offset-1 col-lg-2 col-md-3 col-sm-8 col-xs-12 hidden-xs content-list ">

                        <div class="top-content content-medium">PRODUCTS</div>
                        <ul class="list-unstyled">
                            <li class="content-small">
                                <a href="https://www.syncfusion.com/products/essential-studio">
                                    Developer Platform
                                </a>
                            </li>
                            <li class="content-small">
                                <a href="https://www.syncfusion.com/products/dashboard">
                                    Bold
                                    BI
                                </a>
                            </li>
                            <li class="content-small">
                                <a href="https://www.syncfusion.com/reporting-tool">
                                    Bold
                                    Reports
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class=" col-lg-offset-1 col-lg-2 col-md-3 col-sm-8 col-xs-12 hidden-xs content-list ">

                        <div class="top-content content-medium">EXPLORE OUR PRODUCTS</div>
                        <ul class="list-unstyled">
                            <li class="content-small"><a href="https://www.syncfusion.com/downloads">Free Trial</a></li>
                            <li class="content-small">
                                <a href="https://www.syncfusion.com/sales/products">Pricing</a>
                            </li>
                        </ul>
                    </div>
                    <div class=" col-lg-offset-1 col-lg-2 col-md-3 col-sm-8 col-xs-12 hidden-xs content-list ">

                        <div class="top-content content-medium">RESOURCES</div>
                        <ul class="list-unstyled">
                            <li class="content-small"><a href="https://www.syncfusion.com/ebooks">Ebooks</a></li>
                            <li class="content-small"><a href="https://www.syncfusion.com/kb">Knowledge Base</a></li>
                            <li class="content-small">
                                <a href="https://www.syncfusion.com/resources/techportal/whitepapers">Whitepapers</a>
                            </li>
                            <li class="content-small">
                                <a href="https://www.syncfusion.com/company/case-studies">
                                    Case
                                    Studies
                                </a>
                            </li>
                            <li class="content-small"><a href="https://www.syncfusion.com/faq">.NET FAQ</a></li>
                        </ul>
                    </div>
                    <div class=" col-lg-offset-1 col-lg-2 col-md-3 col-sm-8 col-xs-12 hidden-xs content-list ">

                        <div class="top-content content-medium">LEARNING &amp; SUPPORT</div>
                        <ul class="list-unstyled">
                            <li class="content-small">
                                <a href="https://blazor.syncfusion.com/demos/Grid/DefaultFunctionalities">Demos</a>
                            </li>
                            <li class="content-small"><a href="https://www.syncfusion.com/blogs">Blog</a></li>
                            <li class="content-small">
                                <a href="https://ej2.syncfusion.com/blazor/documentation/"
                                   target="_blank">Documentation</a>
                            </li>
                            <li class="content-small">
                                <a href="https://www.syncfusion.com/forums/blazor-components">
                                    Community
                                    Forum
                                </a>
                            </li>
                            <li class="content-small">
                                <a href="https://www.syncfusion.com/support/directtrac/incidents/newincident">
                                    Contact
                                    Support
                                </a>
                            </li>
                            <li class="content-small">
                                <a href="https://www.syncfusion.com/feedback"
                                   target="_blank">Features &amp; Bugs</a>
                            </li>
                            <li class="content-small">
                                <a href="https://www.syncfusion.com/tutorial-videos">
                                    Tutorial
                                    Videos
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class=" col-lg-offset-1 col-lg-2 col-md-3 col-sm-8 col-xs-12 hidden-xs content-list ">

                        <div class="top-content content-medium">COMPANY</div>
                        <ul class="list-unstyled">
                            <li class="content-small">
                                <a href="https://www.syncfusion.com/company/about-us">About Us</a>
                            </li>
                            <li class="content-small">
                                <a href="https://www.syncfusion.com/company/about-us/customerlist">Customers</a>
                            </li>
                            <li class="content-small"><a href="https://www.syncfusion.com/blogs">Blog</a></li>
                            <li class="content-small">
                                <a href="https://www.syncfusion.com/company/news-press-release">News &amp; Events</a>
                            </li>
                            <li class="content-small">
                                <a href="https://www.syncfusion.com/company/careers">Careers</a>
                            </li>
                            <li class="content-small">
                                <a href="https://www.syncfusion.com/company/partners">Partners</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div id="footer-bottom">
                <div class="container">
                    <div class="row">

                        <div class="col-sm-8 hidden-xs content-small ">
                            <div class="footer-syncfusion-logo">
                                <a class="sync-logo-img" title="Syncfusion" href="/">
                                </a>
                            </div>
                            <div class="link">
                                <a class="social-link" href="https://www.syncfusion.com/privacy">Privacy Policy</a> |
                                <a class="social-link" href="https://www.syncfusion.com/cookie-policy">Cookie Policy</a>
                                |
                                <a class="social-link" href="https://www.syncfusion.com/terms-of-use">Terms of Use</a>

                            </div>

                            <div id="copyright-desktop">
                                <a class="social-link" href="https://www.syncfusion.com/copyright">
                                    Copyright © 2001 - @(DateTime.Now.Year) Syncfusion Inc. All Rights Reserved
                                </a>
                            </div>
                        </div>
                        <div class="col-sm-4  hidden-xs footer-contact-section">
                            <div class="footer-contact-fax">
                                <ul class="list-unstyled">
                                    <li class="list-content">Fax: +1 919.573.0306</li>
                                    <li class="list-content">US: +1 919.481.1974</li>
                                    <li class="list-content">UK: +44 20 7084 6215</li>
                                </ul>
                            </div>
                            <div class="footer-contact-mail">
                                <ul class="list-unstyled">
                                    <li class="list-content">Toll Free: 1-888-9DOTNET</li>
                                    <li class="list-content">
                                        <a href="mailto:sales@syncfusion.com">sales@syncfusion.com</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-sm-12 footer-icons-section">
                                <ul id="footer-icon-desktop">
                                    <li>
                                        <a rel="nofollow" class="social-icon footerSpriteAll"
                                           id="footer_icon_facebook_desktop" target="_blank"
                                           href="https://www.facebook.com/Syncfusion">
                                            <i class="sb-icons footer-social-icon socicon-facebook"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a rel="nofollow" class="social-icon footerSpriteAll"
                                           id="footer_icon_twitter_desktop" target="_blank"
                                           href="https://twitter.com/Syncfusion">
                                            <i class="sb-icons footer-social-icon socicon-twitter"></i>
                                        </a>
                                    </li>

                                    <li>
                                        <a rel="nofollow" class="social-icon footerSpriteAll"
                                           id="footer_icon_linkedin_desktop" target="_blank"
                                           href="https://www.linkedin.com/company/syncfusion?trk=top_nav_home">
                                            <i class="sb-icons footer-social-icon socicon-linkedin"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a rel="nofollow" class="social-icon footerSpriteAll"
                                           id="footer_icon_youtube_desktop" target="_blank"
                                           href="https://www.youtube.com/syncfusioninc">
                                            <i class="sb-icons footer-social-icon socicon-youtube"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>

                        </div>

                        <!-- Mobile view footer -->
                        <div class="visible-xs mobile-footer text-center">
                            <h2> <b>CONTACT US</b></h2>
                            <ul class="footer-contact-fax">
                                <li class="list-content">Fax: +1 919.573.0306</li>
                                <li class="list-content">US: +1 919.481.1974</li>
                                <li class="list-content">UK: +44 20 7084 6215</li>
                                <li class="list-content">Toll Free: 1-888-9DOTNET</li>

                            </ul>

                            <ul id="footer-icon">

                                <li>
                                    <a rel="nofollow" class="social-icon footerSpriteAll" id="footer_icon_facebook"
                                       target="_blank" href="https://www.facebook.com/Syncfusion">
                                        <i class="sb-icons footer-social-icon socicon-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a rel="nofollow" class="social-icon footerSpriteAll" id="footer_icon_twitter"
                                       target="_blank" href="https://twitter.com/Syncfusion">
                                        <i class="sb-icons footer-social-icon socicon-twitter"></i>
                                    </a>
                                </li>

                                <li>
                                    <a rel="nofollow" class="social-icon footerSpriteAll" id="footer_icon_linkedin"
                                       target="_blank"
                                       href="https://www.linkedin.com/company/syncfusion?trk=top_nav_home">
                                        <i class="sb-icons footer-social-icon socicon-linkedin"></i>
                                    </a>
                                </li>
                                <li>
                                    <a rel="nofollow" class="social-icon footerSpriteAll" id="footer_icon_youtube"
                                       target="_blank" href="https://www.youtube.com/syncfusioninc">
                                        <i class="sb-icons footer-social-icon socicon-youtube"></i>
                                    </a>
                                </li>


                            </ul>
                            <div class="copyright">
                                <div class="link">
                                    <a class="social-link" href="https://www.syncfusion.com/privacy">Privacy Policy</a>
                                    |
                                    <a class="social-link" href="https://www.syncfusion.com/cookie-policy">
                                        Cookie
                                        Policy
                                    </a> |
                                    <a class="social-link" href="https://www.syncfusion.com/terms-of-use">
                                        Terms of
                                        Use
                                    </a>

                                </div>

                                <div id="copyright">
                                    <a class="social-link" href="https://www.syncfusion.com/copyright">
                                        Copyright © 2001 - @(DateTime.Now.Year) Syncfusion Inc. All Rights Reserved
                                    </a>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>

            </div>
        </div>
    </div>
</div>

@code{
    [Inject]
    protected SampleService SampleService { get; set; }

    [Inject]
    protected NavigationManager UriHelper { get; set; }

    [Inject]
    protected IJSRuntime JsRuntime { get; set; }

    private void NavToSample(string path)
    {
        SampleService.Spinner.Show();
        UriHelper.NavigateTo(path + "?theme=bootstrap4");
    }

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            JsRuntime.InvokeVoidAsync("initSearch");
            SampleService.Spinner.Hide();
        }
    }
}
