@page "/HeatMapChart/CalendarHeatmap"
@using Syncfusion.EJ2.Blazor.HeatMap
@using EJ2HeatMap = Syncfusion.EJ2.Blazor.HeatMap

@*Hidden:Lines*@
@using ej2_blazor_samples
@using ej2_blazor_heatmapdata
@{
    SampleBrowser.CurrentSampleName = "Calendar Heatmap";
    SampleBrowser.CurrentControlName = "HeatMapChart";
    SampleBrowser.CurrentControlCategory = "HeatMapChart";
    SampleBrowser.CurrentControl = SampleBrowser.Config.HeatMapChart;
    SampleBrowser.ActionDescription = new string[] {
        @"<p>
        This sample visualizes the summary of user activities in GitLab account such as merge requests, push events and comments across 52 weeks in a year.
     </p>"
    };
    SampleBrowser.Description = new string[] {
        @"<p>
        In this example, you can see how to display a calendar data using heatmap. You can make the axis labels to display at specific time intervals along the datetime axis using the <code>ShowLabelOn</code> property in both axis directives.&nbsp;
        </p>
    <p>
        Tooltip is enabled in this example, to see the tooltip in action, hover a point or tap on a point in touch enabled devices.
    </p>
"
    };
}
@*End:Hidden*@
<div class="control-section">
    <div class="row">
        <div class="col-md-12">
            <EjsHeatMap DataSource="@DataSource" Height="300px">
                <HeatMapTitle Text="Annual Summary of User Activities in GitLab" TextStyle="@TextStyle"></HeatMapTitle>
                <HeatMapXAxis OpposedPosition="true"
                              Minimum="@XMinimum"
                              Maximum="@XMaximum"
                              IntervalType="@EJ2HeatMap.IntervalType.Days"
                              ValueType="@EJ2HeatMap.ValueType.DateTime"
                              LabelFormat="MMM"
                              ShowLabelOn="@EJ2HeatMap.LabelType.Months"
                              Increment="7"
                              LabelIntersectAction="@EJ2HeatMap.LabelIntersectAction.Rotate45">
                </HeatMapXAxis>
                <HeatMapYAxis Labels="@YLabels" IsInversed="true"></HeatMapYAxis>
                <HeatMapPaletteSettings Type="@EJ2HeatMap.PaletteType.Fixed" EmptyPointColor="white">
                    <HeatMapPalettes>
                        <HeatMapPalette Value="0" Color="rgb(238,238,238)" Label="No contributions"></HeatMapPalette>
                        <HeatMapPalette Value="1" Color="rgb(172, 213, 242)" Label="1-15 contributions"></HeatMapPalette>
                        <HeatMapPalette Value="16" Color="rgb(127, 168, 201)" Label="16-31 contributions"></HeatMapPalette>
                        <HeatMapPalette Value="32" Color="rgb(82, 123, 160)" Label="31-49 contributions"></HeatMapPalette>
                        <HeatMapPalette Value="50" Color="rgb(37, 78, 119)" Label="50+ contributions"></HeatMapPalette>
                    </HeatMapPalettes>
                </HeatMapPaletteSettings>
                <HeatMapCellSettings ShowLabel="false" Border="@Border"></HeatMapCellSettings>
                <HeatMapLegendSettings ShowLabel="true"
                                       Position="@EJ2HeatMap.LegendPosition.Bottom"
                                       Width="20%"
                                       Alignment="@EJ2HeatMap.Alignment.Near"
                                       LabelDisplayType="@EJ2HeatMap.LabelDisplayType.None"
                                       EnableSmartLegend="true">
                </HeatMapLegendSettings>
            </EjsHeatMap>
        </div>
    </div>
</div>
@code{

    string[] YLabels = new string[] { "Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat" };

    FontModel TextStyle = new FontModel() { Size = "15px", FontWeight = "500", FontStyle = "Normal" };

    DateTime XMinimum = new DateTime(2017, 6, 23);

    DateTime XMaximum = new DateTime(2018, 6, 30);

    BorderModel Border = new BorderModel() { Color = "White" };

    int?[,] DataSource = HeatMapData.GetCalendarData();
}
