@page "/HeatMapChart/ColorAndSize"

@using Syncfusion.EJ2.Blazor.HeatMap
@using EJ2HeatMap = Syncfusion.EJ2.Blazor.HeatMap

@*Hidden:Lines*@
@using ej2_blazor_samples
@using ej2_blazor_heatmapdata
@{
    SampleBrowser.CurrentSampleName = "Color And Size";
    SampleBrowser.CurrentControlName = "HeatMapChart";
    SampleBrowser.CurrentControlCategory = "HeatMapChart";
    SampleBrowser.CurrentControl = SampleBrowser.Config.HeatMapChart;
    SampleBrowser.ActionDescription = new string[] {
        @"<p>
       This sample illustrates the number of commercial air craft accidents and the fatalities across the world between 2012 and 2017. Each data point interprets the accident count and the fatality associated with the accident, the size of the bubble depicts the accident count and the shade of the bubble depicts the fatality count.
     </p>"
    };
}
@*End:Hidden*@
    <div class="control-section">
        <div class="row">
            <div class="col-md-12">
                <EjsHeatMap DataSource="@Data">
                    <HeatMapDataSourceSettings IsJsonData="true" AdaptorType="AdaptorType.Cell" XDataMapping="Year" YDataMapping="Months">
                        <HeatMapBubbleDataMapping Size = "Accidents" Color = "Fatalities" ></HeatMapBubbleDataMapping>
                    </HeatMapDataSourceSettings>
                    <HeatMapTitle Text="Commercial Aviation Accidents and Fatalities by year 2012 - 2017" TextStyle="@TextStyle"></HeatMapTitle>
                    <HeatMapXAxis Labels="@XLabels">
                    </HeatMapXAxis>
                    <HeatMapYAxis Labels="@YLabels"></HeatMapYAxis>
                    <HeatMapPaletteSettings Type="@EJ2HeatMap.PaletteType.Gradient">
                        <HeatMapPalettes>
                            <HeatMapPalette Color="#C06C84"></HeatMapPalette>
                            <HeatMapPalette Color="#355C7D"></HeatMapPalette>
                        </HeatMapPalettes>
                    </HeatMapPaletteSettings>
                    <HeatMapCellSettings ShowLabel="false" Border="@Border" TileType="CellType.Bubble" BubbleType="BubbleType.SizeAndColor"></HeatMapCellSettings>
                    <HeatMapLegendSettings Visible="true"></HeatMapLegendSettings>
                </EjsHeatMap>
            </div>
        </div>
        <div style="float: right; margin-right: 10px;">
            Source:
            <a href="https://en.wikipedia.org" target='_blank'>https://en.wikipedia.org/</a>

        </div>
    </div>

@code{
    string[] YLabels = new string[] { "Jan-Feb", "Mar-Apr", "May-Jun", "Jul-Aug", "Sep-Oct", "Nov-Dec" };
    string[] XLabels = new string[] { "2017", "2016", "2015", "2014", "2013", "2012" };
    FontModel TextStyle = new FontModel() { Size = "15px", FontWeight = "500", FontStyle = "Normal" };
    BorderModel Border = new BorderModel() { Width = 0 };
   public class HeatMapData
    {
        public string Year { get; set; }
        public string Months { get; set; }
        public int? Accidents { get; set; }
        public int? Fatalities { get; set; }
    }

  public HeatMapData[] Data = new HeatMapData[] {
               new HeatMapData { Year= "2017", Months="Jan-Feb", Accidents= 4, Fatalities= 39 },
               new HeatMapData { Year= "2017", Months="Mar-Apr", Accidents= 3, Fatalities= 8 },
               new HeatMapData { Year= "2017", Months="May-Jun", Accidents= 1, Fatalities= 3 },
               new HeatMapData { Year= "2017", Months="Jul-Aug", Accidents= 1, Fatalities= 0 },
               new HeatMapData { Year= "2017", Months="Sep-Oct", Accidents= 4, Fatalities= 4 },
               new HeatMapData { Year= "2017", Months="Nov-Dec", Accidents= 2, Fatalities= 15 },
               new HeatMapData { Year= "2016", Months="Jan-Feb", Accidents= 4, Fatalities= 28 },
               new HeatMapData { Year= "2016", Months="Mar-Apr", Accidents= 5, Fatalities= 92 },
               new HeatMapData { Year= "2016", Months="May-Jun", Accidents= 5, Fatalities= 73 },
               new HeatMapData { Year= "2016", Months="Jul-Aug", Accidents= 3, Fatalities= 1 },
               new HeatMapData { Year= "2016", Months="Sep-Oct", Accidents= 3, Fatalities= 4 },
               new HeatMapData { Year= "2016", Months="Nov-Dec", Accidents= 4, Fatalities= 126 },
               new HeatMapData { Year= "2015", Months="Jan-Feb", Accidents= 1, Fatalities= 45 },
               new HeatMapData { Year= "2015", Months="Mar-Apr", Accidents= 5, Fatalities= 152 },
               new HeatMapData { Year= "2015", Months="May-Jun", Accidents= 0, Fatalities= 0 },
               new HeatMapData { Year= "2015", Months="Jul-Aug", Accidents= 4, Fatalities= 54 },
               new HeatMapData { Year= "2015", Months="Sep-Oct", Accidents= 5, Fatalities= 243 },
               new HeatMapData { Year= "2015", Months="Nov-Dec", Accidents= 2, Fatalities= 45 },
               new HeatMapData { Year= "2014", Months="Jan-Feb", Accidents= 2, Fatalities= 18 },
               new HeatMapData { Year= "2014", Months="Mar-Apr", Accidents= 3, Fatalities= 239 },
               new HeatMapData { Year= "2014", Months="May-Jun", Accidents= 0, Fatalities= 0 },
               new HeatMapData { Year= "2014", Months="Jul-Aug", Accidents= 4, Fatalities= 501 },
               new HeatMapData { Year= "2014", Months="Sep-Oct", Accidents= 1, Fatalities= 2 },
               new HeatMapData { Year= "2014", Months="Nov-Dec", Accidents= 4, Fatalities= 162 },
               new HeatMapData { Year= "2013", Months="Jan-Feb", Accidents= 2, Fatalities= 68 },
               new HeatMapData { Year= "2013", Months="Mar-Apr", Accidents= 3, Fatalities= 7 },
               new HeatMapData { Year= "2013", Months="May-Jun", Accidents= 2, Fatalities= 12 },
               new HeatMapData { Year= "2013", Months="Jul-Aug", Accidents= 4, Fatalities= 15 },
               new HeatMapData { Year= "2013", Months="Sep-Oct", Accidents= 2, Fatalities= 64 },
               new HeatMapData { Year= "2013", Months="Nov-Dec", Accidents= 3, Fatalities= 83 },
               new HeatMapData { Year= "2012", Months="Jan-Feb", Accidents= 0, Fatalities= 0 },
               new HeatMapData { Year= "2012", Months="Mar-Apr", Accidents= 2, Fatalities= 158 },
               new HeatMapData { Year= "2012", Months="May-Jun", Accidents= 5, Fatalities= 90 },
               new HeatMapData { Year= "2012", Months="Jul-Aug", Accidents= 0, Fatalities= 0 },
               new HeatMapData { Year= "2012", Months="Sep-Oct", Accidents= 3, Fatalities= 33 },
               new HeatMapData { Year= "2012", Months="Nov-Dec", Accidents= 4, Fatalities= 42 }
};
}
