@page "/HeatMapChart/LegendPlacement"

@using Syncfusion.EJ2.Blazor.HeatMap
@using Syncfusion.EJ2.Blazor.DropDowns
@using EJ2HeatMap = Syncfusion.EJ2.Blazor.HeatMap

@*Hidden:Lines*@
@using ej2_blazor_samples
@using ej2_blazor_heatmapdata
@{
    SampleBrowser.CurrentSampleName = "Legend Placement";
    SampleBrowser.CurrentControlName = "HeatMapChart";
    SampleBrowser.CurrentControlCategory = "HeatMapChart";
    SampleBrowser.CurrentControl = SampleBrowser.Config.HeatMapChart;
    SampleBrowser.ActionDescription = new string[] {
        @"<p>
        This sample visualizes the hourly weather forecast for some major European cities. The data label is disabled in this sample, the tooltip displays the data point values.
     </p>"
    };
    SampleBrowser.Description = new string[] {
        @"<p>
         In this example, you can see how to change the display position of the Heatmap legend. You can change the display position of legend to left, right, bottom and top by using the <code>Position</code> property in <code>HeatMapLegendSettings</code>.

         Tooltip is enabled in this example, to see the tooltip in action, hover a point or tap on a point in touch enabled devices.
    </p>"
    };
}
@*End:Hidden*@
<div class="col-lg-9 control-section">
    <div class="row">
        <EjsHeatMap DataSource="@DataSource">
            <HeatMapTitle Text="Hourly Weather Forecast (in Celsius)" TextStyle="@TextStyle"></HeatMapTitle>
            <HeatMapXAxis Labels="@XLabels"
                          LabelRotation="45"
                          LabelIntersectAction="@EJ2HeatMap.LabelIntersectAction.None">
            </HeatMapXAxis>
            <HeatMapYAxis Labels="@YLabels"></HeatMapYAxis>
            <HeatMapPaletteSettings>
                <HeatMapPalettes>
                    <HeatMapPalette Value="0" Color="#6EB5D0"></HeatMapPalette>
                    <HeatMapPalette Value="10" Color="#7EDCA2"></HeatMapPalette>
                    <HeatMapPalette Value="19" Color="#DCD57E"></HeatMapPalette>
                    <HeatMapPalette Value="22" Color="#DCD57E"></HeatMapPalette>
                </HeatMapPalettes>
            </HeatMapPaletteSettings>
            <HeatMapCellSettings ShowLabel="false" Format="{value} C"></HeatMapCellSettings>
            <HeatMapLegendSettings Position="@CurrentLegentPosition"></HeatMapLegendSettings>
        </EjsHeatMap>
    </div>
</div>
<div class="col-lg-3 property-section">
    <div><h5>Legend Plaement</h5></div>
    <EjsDropDownList TValue="string" PopupHeight="230px" Index=0 Placeholder="Select a game" DataSource="@LegendPlacements">
        <DropDownListEvents TValue="string" ValueChange="@(e => { Enum.TryParse<EJ2HeatMap.LegendPosition>(e.Value, out CurrentLegentPosition); })"></DropDownListEvents>
        <DropDownListFieldSettings Text="Text" Value="Id"></DropDownListFieldSettings>
    </EjsDropDownList>
</div>

@code{
    EJ2HeatMap.LegendPosition CurrentLegentPosition;
    string[] XLabels = new string[] { "London", "Berlin", "Madrid", "Paris", "Rome", "Lisbon", "Dublin" };
    string[] YLabels = new string[] { "12AM", "2AM", "4AM", "6AM", "8AM", "10AM", "12PM", "2PM", "4PM", "6PM", "8PM", "10PM" };
    FontModel TextStyle = new FontModel() { Size = "15px", FontWeight = "500", FontStyle = "Normal" };
    int[,] DataSource = HeatMapData.GetLegendData();
    List<DataModel> LegendPlacements = new List<DataModel>();
    protected override void OnInitialized()
    {
        base.OnInitialized();
        LegendPlacements.Add(new DataModel { Id = "0", Text = "Left" });
        LegendPlacements.Add(new DataModel { Id = "1", Text = "Right" });
        LegendPlacements.Add(new DataModel { Id = "2", Text = "Top" });
        LegendPlacements.Add(new DataModel { Id = "3", Text = "Bottom" });
    }
    class DataModel
    {
        public string Id { get; set; }
        public string Text { get; set; }
    }
}