@page "/HeatMapChart/LegendPlacement"

@using Syncfusion.EJ2.Blazor.HeatMap

@*Hidden:Lines*@
@using ej2_blazor_samples
@using ej2_blazor_heatmapdata
@{
    SampleBrowser.CurrentSampleName = "Legend Placement";
    SampleBrowser.CurrentControlName = "HeatMapChart";
    SampleBrowser.CurrentControlCategory = "HeatMapChart";
    SampleBrowser.CurrentControl = SampleBrowser.Config.HeatMapChart;
    SampleBrowser.ActionDescription = new string[] {
        @"<p>
        This sample visualizes the hourly weather forecast for some major European cities. The data label is disabled in this sample, the tooltip displays the data point values. In property panel, the options are available to change the display position of the Heatmap legend axes by means of dropdown.
     </p>"
    };
    SampleBrowser.Description = new string[] {
        @"<p>
         In this example, you can see how to change the display position of the Heatmap legend. You can change the display position of legend to left, right, bottom and top by using the <code>position</code> property in <code>legendSettings</code>.

         Tooltip is enabled in this example, to see the tooltip in action, hover a point or tap on a point in touch enabled devices.
    </p>"
    };
}
@*End:Hidden*@
<div class="row">
    <div>
        <Ejsheatmap DataSource="@heatmapData">
            <HeatMapTitle Text="Hourly Weather Forecast (in Celsius)" TextStyle="@TextStyle"></HeatMapTitle>
            <HeatMapXAxis Labels="@xLabels" LabelRotation="45" LabelIntersectAction="@Syncfusion.EJ2.Blazor.HeatMap.LabelIntersectAction.None"></HeatMapXAxis>
            <HeatMapYAxis Labels="@yLabels"></HeatMapYAxis>
            <HeatMapPaletteSettings>
                <HeatMapPalettes>
                    <HeatMapPalette Value="0" Color="#6EB5D0"></HeatMapPalette>
                    <HeatMapPalette Value="10" Color="#7EDCA2"></HeatMapPalette>
                    <HeatMapPalette Value="19" Color="#DCD57E"></HeatMapPalette>
                    <HeatMapPalette Value="22" Color="#DCD57E"></HeatMapPalette>
                </HeatMapPalettes>
            </HeatMapPaletteSettings>
            <HeatMapCellSettings ShowLabel="false" Format="{value} C"></HeatMapCellSettings>
            <HeatMapLegendSettings Position="@Syncfusion.EJ2.Blazor.HeatMap.LegendPosition.Left"></HeatMapLegendSettings>
        </Ejsheatmap>
    </div>
</div>

@code{

    private string[] xLabels = new string[] { "London", "Berlin", "Madrid", "Paris", "Rome", "Lisbon", "Dublin" };

    private string[] yLabels =  new string[] { "12AM", "2AM", "4AM", "6AM", "8AM", "10AM", "12PM", "2PM", "4PM", "6PM", "8PM", "10PM" };

    public FontModel TextStyle = new FontModel() { Size = "15px", FontWeight = "500", FontStyle = "Normal" };

    public object heatmapData = HeatMapData.GetLegendData();

    public class Legendposition
    {
        public string text { get; set; }
    }

    List<Legendposition> types = new List<Legendposition>()
        {
        new Legendposition(){ text= "Left" },
        new Legendposition(){ text= "Right" },
        new Legendposition(){ text= "Top" },
        new Legendposition(){ text= "Bottom" }
        };
    }
