@page "/HeatMapChart/OpposedAxis"

@using Syncfusion.EJ2.Blazor.HeatMap
@using EJ2HeatMap = Syncfusion.EJ2.Blazor.HeatMap
@using Syncfusion.EJ2.Blazor.Buttons;
@using MSComponents = Microsoft.AspNetCore.Components

@*Hidden:Lines*@
@using ej2_blazor_samples
@using ej2_blazor_heatmapdata
@{
    SampleBrowser.CurrentSampleName = "Opposed Axis";
    SampleBrowser.CurrentControlName = "HeatMapChart";
    SampleBrowser.CurrentControlCategory = "HeatMapChart";
    SampleBrowser.CurrentControl = SampleBrowser.Config.HeatMapChart;
    SampleBrowser.ActionDescription = new string[] {
        @"<p>This sample illustrates the monthly flight arrivals at JFK international airport, New York. The data label is disabled in this sample, the tooltip displays the data point values.</p>"
    };
    SampleBrowser.Description = new string[] {
        @"<p>
         In this example, you can see how to change the display position of the axis. You can change the display position of axes by enabling the <code>OpposedPosition</code> property for each axis.

         Tooltip is enabled in this example, to see the tooltip in action, hover a point or tap on a point in touch enabled devices.
    </p>"
    };
}
@*End:Hidden*@
<div class="col-lg-9 control-section">
    <div class="row">
        <EjsHeatMap DataSource="@DataSource">
            <HeatMapTitle Text="Monthly Flight Traffic at JFK Airport" TextStyle="@TextStyle"></HeatMapTitle>
            <HeatMapXAxis Labels="@XLabels"
                          LabelRotation="45"
                          LabelIntersectAction="@EJ2HeatMap.LabelIntersectAction.None"
                          OpposedPosition="@XOpposedPosition">
            </HeatMapXAxis>
            <HeatMapYAxis Labels="@YLabels" OpposedPosition="@YOpposedPosition"></HeatMapYAxis>
            <HeatMapCellSettings ShowLabel="false" Border="@Border" Format="{value} flights"></HeatMapCellSettings>
            <HeatMapLegendSettings Visible="false"></HeatMapLegendSettings>
        </EjsHeatMap>
    </div>
</div>
<div class="col-lg-3 property-section">
    <div><h5>Properties</h5></div>
    <table id="property" title="Properties" style="width: 100%">
        <tbody>
            <tr style="height: 50px">
                <td style="width: 40%;">
                    <div>
                        <EjsCheckBox Label="Change X-Axis Position" OnChange="ValueXChange"></EjsCheckBox>
                    </div>
                </td>
            </tr>
            <tr style="height: 50px">
                <td style="width: 40%;">
                    <div>
                        <EjsCheckBox Label="Reverse Y-Axis Origin" OnChange="ValueYChange"></EjsCheckBox>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
@code{
    public bool YOpposedPosition = false;
    public bool XOpposedPosition = false;
    string[] XLabels = new string[] { "2007", "2008", "2009", "2010", "2011", "2012", "2013", "2014", "2015", "2016", "2017" };

    string[] YLabels = new string[] { "Jan", "Feb", "Mar", "Apr", "May", "Jun", "July", "Aug", "Sept", "Oct", "Nov", "Dec" };

    FontModel TextStyle = new FontModel() { Size = "15px", FontWeight = "500", FontStyle = "Normal" };

    BorderModel Border = new BorderModel() { Width = 0 };

    int[,] DataSource = HeatMapData.GetOpposedData();
    public void ValueXChange(MSComponents.ChangeEventArgs args)
    {
        XOpposedPosition = (bool)args.Value;

    }
    public void ValueYChange(MSComponents.ChangeEventArgs args)
    {
        YOpposedPosition = (bool)args.Value;
    }
}

