@using ej2_blazor_samples
@using ej2_blazor_samples.Shared
@using Newtonsoft.Json
@using Syncfusion.EJ2.Blazor.Lists
@using Syncfusion.EJ2.Blazor.Navigations
@using System.Reflection
@using Microsoft.AspNetCore.Components

@inject Microsoft.AspNetCore.Components.NavigationManager UriHelper
@inject IJSRuntime JsRuntime;

@typeparam  TValue

<EjsTreeView ID="components-tree" Fields="@DataSource" CssClass="@treeviewClass" FullRowSelect="true" ExpandOn="@ExpandOnSettings.Click" @ref="ComponentsTree" TValue="object">
    <TreeViewEvents NodeSelected="OnNodeClick" TValue="object"></TreeViewEvents>
</EjsTreeView>

<div id="controlSamples" class="time-duration">
    <div id="sb-left-back1" class="back" role="button" tabindex="0" @onclick="@OnToggle">
        <div class="e-icons sb-icons back-icon"></div>
        <div class='control-name'>All Controls</div>
    </div>
    <EjsListView id="sample-list" CssClass="@listClass" DataSource="@ListDataSource" Fields="@ListFields" @ref="SampleList" TValue="object">
        <ListViewEvents Selected="OnSampleSelect" TValue="object"></ListViewEvents>
    </EjsListView>
</div>

@code {

    EjsListView<object> SampleList;
    EjsTreeView<object> ComponentsTree;

    public string treeviewClass { get; set; } = "e-view time-duration sb-hide";

    public string listClass { get; set; } = "e-view sb-control-list-top";

    public Syncfusion.EJ2.Blazor.Navigations.TreeViewFieldsSettings<object> DataSource = new Syncfusion.EJ2.Blazor.Navigations.TreeViewFieldsSettings<object>
    {
        DataSource = SampleBrowser.SampleList.GroupBy(groupBy => groupBy.Category).Select(samples =>
        {
            List<SampleList> SampleItems = samples.ToList();
            SampleItems.OrderBy(orderBy => orderBy.Order);
            SampleItems.ForEach(sampleItem =>
            {
                sampleItem.Samples.ForEach(currentSample =>
                {
                    SampleBrowser.SampleUrls.Add(currentSample.Url);
                });
            });
            return new { dataSource = SampleItems, Name = SampleItems[0].Category, UID = samples.Key, expanded = true };
        }),
        Id = "UID",
        Text = "Name",
        Child = "dataSource"
    };

    private void OnNodeClick(object args)
    {
        string argsString = JsonConvert.SerializeObject(args);
        TreeViewEventModel Data = JsonConvert.DeserializeObject<TreeViewEventModel>(argsString, new JsonSerializerSettings { NullValueHandling = NullValueHandling.Ignore });
        if (Data.nodeData.parentID != null)
        {
            SampleBrowser.CurrentControl = SampleBrowser.Config.GetType().GetProperty(Data.nodeData.text).GetValue(SampleBrowser.Config) as List<Sample>;
            this.listClass = "e-view sb-control-list-top";
            this.treeviewClass = "e-view time-duration sb-hide";
            this.ListDataSource = SampleBrowser.CurrentControl;
            base.StateHasChanged();
            JsRuntime.InvokeAsync<Object>("viewSwitch", this.listClass);
        }
    }

    public void OnToggle()
    {
        if (this.treeviewClass.Contains("sb-hide"))
        {
            this.treeviewClass = "e-view time-duration";
            this.listClass = "sb-hide";
            this.ComponentsTree.DataBind();
            JsRuntime.InvokeAsync<Object>("viewSwitch", this.listClass);
        }
    }

    private void OnSampleSelect(Syncfusion.EJ2.Blazor.Lists.SelectEventArgs<object> args)
    {
        string argsString = JsonConvert.SerializeObject(args);
        ListViewEvent sampleData = JsonConvert.DeserializeObject<ListViewEvent>(argsString, new JsonSerializerSettings { NullValueHandling = NullValueHandling.Ignore });
        string compareUrl = string.Empty;
        List<string> ActionDescriptionItems = new List<string>();
        List<string> DescriptionItems = new List<string>();
        if (SampleBrowser.CurrentUrl != sampleData.data.Url || sampleData.data.Url != compareUrl)
        {
            compareUrl = SampleBrowser.CurrentUrl;
            if (SampleBrowser.ActionDescription != null)
            {
                foreach (string Element in SampleBrowser.ActionDescription)
                {
                    ActionDescriptionItems.Add(Element);
                }
                JsRuntime.InvokeAsync<Object>("updateActionDescription", ActionDescriptionItems);
            }
            else
            {
                JsRuntime.InvokeAsync<Object>("updateActionDescription", new List<string>());
            }
            if (SampleBrowser.Description != null)
            {
                foreach (string Element in SampleBrowser.Description)
                {
                    DescriptionItems.Add(Element);
                }
                JsRuntime.InvokeAsync<Object>("updateDescription", DescriptionItems);
            }
            else
            {
                JsRuntime.InvokeAsync<Object>("updateDescription", new List<string>());
            }

            JsRuntime.InvokeAsync<Object>("destroyControl", new List<string>());


            JsRuntime.InvokeAsync<Object>("persistTheme");
            UriHelper.NavigateTo(sampleData.data.Url);
            SampleBrowser.CurrentUrl = sampleData.data.Url;
            JsRuntime.InvokeAsync<Object>("persistURL", SampleBrowser.CurrentUrl);
            JsRuntime.InvokeAsync<string>("callResizeEvent");
        }
    }


    List<Sample> ListDataSource { get; set; } = new List<Sample>();

    protected override void OnAfterRender(bool firstRender)
    {
        this.ListDataSource = SampleBrowser.CurrentControl;
        this.SampleList.DataSource = this.ListDataSource;
        this.SampleList.DataBind();
        JsRuntime.InvokeAsync<string>("callResizeEvent");
    }

    Syncfusion.EJ2.Blazor.Lists.ListViewFieldSettings ListFields = new Syncfusion.EJ2.Blazor.Lists.ListViewFieldSettings
    {
        Id = "UID",
        GroupBy = "Category",
        Text = "Name",
        SortBy = "Order"
    };
}
