@page "/maps/bubbles"

@using Syncfusion.Blazor.Maps
@using Syncfusion.Blazor
@using ThemeHelper
@inject NavigationManager NavigationManager
@*Hidden:Lines*@
@inherits SampleBaseComponent


@*End:Hidden*@

<SampleDescription>
    <p>This sample uses bubbles to represent the total number of social media users on Facebook, Twitter, Instagram, Snapchat, and Tiktok across various countries.</p>
</SampleDescription>
<ActionDescription>
    <p>In this example, you can see how to configure and render bubbles in a map. The <a target='_blank' class='code' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Maps.MapsBubbleSettings.html#Syncfusion_Blazor_Maps_MapsBubbleSettings_BubbleSettings' aria-label="Class reference of MapsBubbleSettings">MapsBubbleSettings</a> is used to configure and render the bubbles in the map, and the size of the bubbles represents the values from the data source. You can also bind the desired color to the bubbles. The tooltip is also enabled in this example.</p>
    <p>More information about bubbles can be found in this <a target='_blank' href='https://blazor.syncfusion.com/documentation/maps/bubble' aria-label="Blazor Maps with Bubble documentation" >documentation section</a>.</p>
</ActionDescription>

<style>
    .facebookImageStyle {
        background: @FacebookImageColor;
        border: 8px solid @FacebookImageColor;
        border-radius: 35px;
        width: 65px;
    }

    .twitterImageStyle {
        background: @TwitterImageColor;
        border: 8px solid @TwitterImageColor;
        border-radius: 35px;
        width: 65px;
    }

    .instagramImageStyle {
        background: @InstagramImageColor;
        border: 8px solid @InstagramImageColor;
        border-radius: 35px;
        width: 65px;
    }

    .snapchatImageStyle {
        background: @SnapchatImageColor;
        border: 8px solid @SnapchatImageColor;
        border-radius: 35px;
        width: 65px;
    }

    .tiktokImageStyle {
        background: @TiktokImageColor;
        border: 8px solid @TiktokImageColor;
        border-radius: 35px;
        width: 65px;
    }
    
</style>
<div class="control-section">
    <SfMaps Format="N0" Background="transparent" Theme="@Theme">
        <MapsAreaSettings Background="transparent" />
        <MapsTitleSettings Text="Social Media Users Statistics">
            <MapsTitleTextStyle Size="16px" FontFamily="Segoe UI" />
        </MapsTitleSettings>
        <MapsLayers>
            <MapsLayer TValue="string" ShapeData='new {dataOptions = SampleService.WebAssetsPath + "data/maps/world-map.json"}' ShapeDataPath="Name" ShapePropertyPath="@ShapePropertyPath">
                <MapsShapeSettings Fill="@ShapeColor" Opacity="0.3" />
                <MapsBubbleSettings>
                    <MapsBubble TValue="BubbleDataSource" Visible="true" ValuePath="Value" Fill="@BubbleColor" MinRadius="10" MaxRadius="50" Opacity="0.5" DataSource="@DataSource" AnimationDuration="0">
                        <MapsBubbleTooltipSettings Visible="true" ValuePath="Name" Format="${Name} : ${Value}M users" Fill="@TooltipFill">
                            <MapsBubbleTooltipTextStyle FontFamily="Segoe UI" Color="white" />
                            <MapsBubbleTooltipBorder Color="white" Width="1" Opacity="0.5" />
                        </MapsBubbleTooltipSettings>
                        <MapsBubbleBorder Color="@BorderColor" Width="1" Opacity="0.5" />
                        <MapsBubbleHighlightSettings Enable="true" Fill="@BubbleColor" Opacity="0.4">
                            <MapsBubbleHighlightBorder Color="@BubbleColor"></MapsBubbleHighlightBorder>
                        </MapsBubbleHighlightSettings>
                    </MapsBubble>
                </MapsBubbleSettings>
            </MapsLayer>
        </MapsLayers>
    </SfMaps>
</div>

<div align="center" style="margin-top: -6%;">
    <img src="@(SampleService.WebAssetsPath + "images/maps/maps-facebook.png")" style="cursor: pointer;" width="40" class="@FacebookStyle" alt="facebook" @onclick="TriggerFaceBook">&nbsp;&nbsp;&nbsp;&nbsp;
    <img src="@(SampleService.WebAssetsPath + "images/maps/maps-twitter.png")" style="cursor: pointer;" width="40" class="@TwitterStyle" alt="twitter" @onclick="TriggerTwitter">&nbsp;&nbsp;&nbsp;&nbsp;
    <img src="@(SampleService.WebAssetsPath + "images/maps/maps-instagram.png")" style="cursor: pointer;" width="40" class="@InstagramStyle" alt="instagram" @onclick="TriggerInstagram">&nbsp;&nbsp;&nbsp;&nbsp;
    <img src="@(SampleService.WebAssetsPath + "images/maps/maps-snapchat.png")" style="cursor: pointer;" width="40" class="@SnapchatStyle" alt="snapchat" @onclick="TriggerSnapchart">&nbsp;&nbsp;&nbsp;&nbsp;
    <img src="@(SampleService.WebAssetsPath + "images/maps/maps-tiktok.png")" style="cursor: pointer;" width="40" class="@TiktokStyle" alt="tiktok" @onclick="TriggerTiktok">&nbsp;&nbsp;&nbsp;&nbsp;
</div>

@code {
    public Theme Theme { get; set; }
    public string[] ShapePropertyPath { get; set; } = { "name" };
    public IEnumerable<object> DataSource { get; set; } = FaceBookData;
    public static bool IsLightTheme = true;
    public string BubbleColor { get; set; } = IsLightTheme ? "#0f3bb1" : "#87a7ff";
    public string ShapeColor { get; set; } = IsLightTheme ? "#396eda" : "#4884ff";
    public string TooltipFill { get; set; } = IsLightTheme ? "#234194" : "#3455b0";
    public string BorderColor { get; set; } = "white";
    public string FacebookImageColor = IsLightTheme ? "#EAEEF7" : "#27314C";
    public string TwitterImageColor = string.Empty;
    public string InstagramImageColor = string.Empty;
    public string SnapchatImageColor = string.Empty;
    public string TiktokImageColor = string.Empty;
    public string FacebookStyle = "facebookImageStyle";
    public string TwitterStyle = string.Empty;
    public string InstagramStyle = string.Empty;
    public string SnapchatStyle = string.Empty;
    public string TiktokStyle = string.Empty;
    
    public void imageStyle(string facebookStyle, string twitterStyle, string instagramStyle, string snapchatStyle, string tiktokStyle)
    {
        FacebookStyle = facebookStyle;
        TwitterStyle = twitterStyle;
        InstagramStyle = instagramStyle;
        SnapchatStyle = snapchatStyle;
        TiktokStyle = tiktokStyle;
    }
    public void TriggerFaceBook()
    {
        this.TriggerMapsColor("FaceBook");
    }
    public void TriggerTwitter()
    {
        this.TriggerMapsColor("Twitter");
    }
    public void TriggerInstagram()
    {
        this.TriggerMapsColor("Instagram");
    }
    public void TriggerSnapchart()
    {
        this.TriggerMapsColor("Snapchart");
    }
    public void TriggerTiktok()
    {
        TriggerMapsColor("Tiktok");
    }
    private void TriggerMapsColor(string socialMedia)
    {
        switch (socialMedia)
        {
            case "Snapchart":
                DataSource = SnapchartData;
                ShapeColor = IsLightTheme ? "#d4b930" : "#e3e249";
                BubbleColor = IsLightTheme ? "#b69602" : "#fefd02";
                BorderColor = "white";
                TooltipFill = IsLightTheme ? "#ad900c" : "#e1e11e";
                SnapchatImageColor = IsLightTheme ? "#FFF8CC" : "#645A17";
                this.imageStyle(string.Empty, string.Empty, string.Empty, "snapchatImageStyle", string.Empty);
                break;
            case "Instagram":
                DataSource = InstagramData;
                ShapeColor = IsLightTheme ? "#9f77d5" : "#a668f6";
                BubbleColor = IsLightTheme ? "#f96314" : "#fdad26";
                BorderColor = "white";
                TooltipFill = IsLightTheme ? "#af5a42" : "#ca8208";
                InstagramImageColor = IsLightTheme ? "#FDEAEC" : "#564436";
                this.imageStyle(string.Empty, string.Empty, "instagramImageStyle", string.Empty, string.Empty);
                break;
            case "Twitter":
                DataSource = TwitterData;
                BubbleColor = IsLightTheme ? "#117cb3" : "#38b8fb";
                ShapeColor = IsLightTheme ? "#56aaeb" : "#209aff";
                BorderColor = "white";
                TooltipFill = IsLightTheme ? "#1b81bc" : "#419acf";
                TwitterImageColor = IsLightTheme ? "#E5F1FA" : "#173C54";
                this.imageStyle(string.Empty, "twitterImageStyle", string.Empty, string.Empty, string.Empty);
                break;
            case "FaceBook":
                DataSource = FaceBookData;
                BubbleColor = IsLightTheme ? "#0f3bb1" : "#87a7ff";
                ShapeColor = IsLightTheme ? "#396eda" : "#4884ff";
                BorderColor = "white";
                TooltipFill = IsLightTheme ? "#234194" : "#3455b0";
                FacebookImageColor = IsLightTheme ? "#EAEEF7" : "#27314C";
                this.imageStyle("facebookImageStyle", string.Empty, string.Empty, string.Empty, string.Empty);
                break;
            case "Tiktok":
                DataSource = TiktokData;
                ShapeColor = IsLightTheme ? "#48c1bc" : "#32d8d2";
                BubbleColor = IsLightTheme ? "#fa3c72" : "#da0b45";
                BorderColor = "white";
                TooltipFill = IsLightTheme ? "#56396c" : "#bd4a77";
                TiktokImageColor = IsLightTheme ? "#F1D2DD" : "#6E515E";
                this.imageStyle(string.Empty, string.Empty, string.Empty, string.Empty, "tiktokImageStyle");
                break;
        }
    }
    public static List<BubbleDataSource> FaceBookData = new List<BubbleDataSource> {
        new BubbleDataSource { Name="India", Value=280 },
        new BubbleDataSource { Name="United States", Value=190 },
        new BubbleDataSource { Name="Indonesia", Value=130 },
        new BubbleDataSource { Name="Brazil", Value=120 },
        new BubbleDataSource { Name="Mexico", Value=86 },
        new BubbleDataSource { Name="Philippines", Value=72 },
        new BubbleDataSource { Name="Vietnam", Value=63 },
        new BubbleDataSource { Name="Thailand", Value=48 },
        new BubbleDataSource { Name="Egypt", Value=41 },
        new BubbleDataSource { Name="Bangladesh", Value=37 },
        new BubbleDataSource { Name="Pakistan", Value=37 },
        new BubbleDataSource { Name="Turkey", Value=37 },
        new BubbleDataSource { Name="United Kingdom", Value=37 },
        new BubbleDataSource { Name="Colombia", Value=33 },
        new BubbleDataSource { Name="France", Value=32 }
    };
    public List<BubbleDataSource> TwitterData = new List<BubbleDataSource> {
        new BubbleDataSource { Name="United States", Value=64 },
        new BubbleDataSource { Name="Japan", Value=48 },
        new BubbleDataSource { Name="Russia", Value=23 },
        new BubbleDataSource { Name="United Kingdom", Value=17 },
        new BubbleDataSource { Name="Saudi Arabia", Value=15 },
        new BubbleDataSource { Name="Brazil", Value=14 },
        new BubbleDataSource { Name="Turkey", Value=13 },
        new BubbleDataSource { Name="India", Value=13 },
        new BubbleDataSource { Name="Indonesia", Value=11 },
        new BubbleDataSource { Name="Mexico", Value=10 },
        new BubbleDataSource { Name="France", Value=8 },
        new BubbleDataSource { Name="Spain", Value=8 },
        new BubbleDataSource { Name="Canada", Value=8 },
        new BubbleDataSource { Name="Thailand", Value=7 },
        new BubbleDataSource { Name="Philippines", Value=7 },
        new BubbleDataSource { Name="South Africa", Value=6 }
    };
    public List<BubbleDataSource> TiktokData = new List<BubbleDataSource> {
        new BubbleDataSource { Name="United States", Value=39 },
        new BubbleDataSource { Name="Turkey", Value=28 },
        new BubbleDataSource { Name="Russia", Value=24 },
        new BubbleDataSource { Name="Mexico", Value=19 },
        new BubbleDataSource { Name="Brazil", Value=18 },
        new BubbleDataSource { Name="Pakistan", Value=11 },
        new BubbleDataSource { Name="Saudi Arabia", Value=9 },
        new BubbleDataSource { Name="France", Value=9 },
        new BubbleDataSource { Name="Germany", Value=8 },
        new BubbleDataSource { Name="Egypt", Value=8 },
        new BubbleDataSource { Name="Italy", Value=7 },
        new BubbleDataSource { Name="United Kingdom", Value=6 },
        new BubbleDataSource { Name="Spain", Value=6 },
        new BubbleDataSource { Name="Poland", Value=5 }
    };
    public List<BubbleDataSource> InstagramData = new List<BubbleDataSource> {
        new BubbleDataSource { Name="United States", Value=120 },
        new BubbleDataSource { Name="India", Value=88 },
        new BubbleDataSource { Name="Brazil", Value=82 },
        new BubbleDataSource { Name="Indonesia", Value=64 },
        new BubbleDataSource { Name="Russia", Value=46 },
        new BubbleDataSource { Name="Turkey", Value=39 },
        new BubbleDataSource { Name="Japan", Value=31 },
        new BubbleDataSource { Name="Mexico", Value=26 },
        new BubbleDataSource { Name="United Kingdom", Value=25 },
        new BubbleDataSource { Name="Germany", Value=22 },
        new BubbleDataSource { Name="Italy", Value=21 },
        new BubbleDataSource { Name="France", Value=19 },
        new BubbleDataSource { Name="Argentina", Value=18 },
        new BubbleDataSource { Name="Spain", Value=17 },
        new BubbleDataSource { Name="Canada", Value=13 },
        new BubbleDataSource { Name="South Korea", Value=13 }
    };
    public List<BubbleDataSource> SnapchartData = new List<BubbleDataSource> {
        new BubbleDataSource { Name="United States", Value=102 },
        new BubbleDataSource { Name="India", Value=28 },
        new BubbleDataSource { Name="France", Value=21 },
        new BubbleDataSource { Name="United Kingdom", Value=18 },
        new BubbleDataSource { Name="Saudi Arabia", Value=16 },
        new BubbleDataSource { Name="Mexico", Value=16 },
        new BubbleDataSource { Name="Japan", Value=31 },
        new BubbleDataSource { Name="Mexico", Value=26 },
        new BubbleDataSource { Name="Brazil", Value=13 },
        new BubbleDataSource { Name="Germany", Value=11 },
        new BubbleDataSource { Name="Canada", Value=9 },
        new BubbleDataSource { Name="Turkey", Value=8 },
        new BubbleDataSource { Name="Russia", Value=8 },
        new BubbleDataSource { Name="Philippines", Value=8 },
        new BubbleDataSource { Name="Iraq", Value=7 },
        new BubbleDataSource { Name="Egypt", Value=7 }
    };
    public class BubbleDataSource
    {
        public string Name { get; set; }
        public double Value { get; set; }
    }
    protected override void OnInitialized()
    {
        
        Theme = ThemeHelper.GetCurrentTheme(NavigationManager.Uri);
        IsLightTheme = !(Theme.ToString().IndexOf("Dark") > -1 || Theme.ToString().IndexOf("HighContrast") > -1);
        this.TriggerMapsColor("FaceBook");
    }
}