@page "/maps/osm-navigation-lines"

@using Syncfusion.Blazor.Maps
@using Syncfusion.Blazor
@using ThemeHelper
@using System.Net.Http.Json
@inject NavigationManager NavigationManager
@inject HttpClient Http
@*Hidden:Lines*@
@inherits SampleBaseComponent


@*End:Hidden*@

<SampleDescription>
    <p>This sample illustrates the flight route from Los Angeles to Mexico using navigation line in the OpenStreetMap.</p>
</SampleDescription>
<ActionDescription>
    <p>In this example, you can see how to configure and render the OpenStreetMap with navigation line. The OpenStreetMap is rendered by specifying the appropriate URL in the <a target='_blank' class='code' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Maps.MapsLayer-1.html#Syncfusion_Blazor_Maps_MapsLayer_1_UrlTemplate' aria-label="Class reference of UrlTemplate property in Maps">UrlTemplate</a> of the <a target='_blank' class='code' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Maps.MapsLayer-1.html' aria-label="Class reference of MapsLayer">MapsLayer</a>. The lines between two points in map can be rendered using <a target='_blank' class='code' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Maps.MapsNavigationLine.html' aria-label="Class reference of MapsNavigationLine">MapsNavigationLine</a>.</p>
    <p>More information about OpenStreetMap with navigation line can be found in this <a target='_blank' href='https://blazor.syncfusion.com/documentation/maps/providers/openstreetmap#adding-markers-and-navigation-line' aria-label="lazor Maps OpenStreetMap documentation" >documentation section</a>.</p>
</ActionDescription>

<div class="control-section">
    <SfMaps Theme="@Theme" Background="transparent">
        <MapsAreaSettings Background="transparent" />
        <MapsTitleSettings Text="Flight Route From Los Angeles to Mexico City">
            <MapsTitleTextStyle Size="16px" FontFamily="Segoe UI" />
        </MapsTitleSettings>
        <MapsZoomSettings Enable="false" ZoomFactor="5" />
        <MapsCenterPosition Latitude="@Latitude" Longitude="@Longitude" />
        <MapsLayers>
            <MapsLayer UrlTemplate="https://a.tile.openstreetmap.org/level/tileX/tileY.png" TValue="string">
                <MapsNavigationLines>
                    <MapsNavigationLine Visible="true" Width="10" Angle="-0.05" Color="#00ace6"
                                        Latitude="@naviagtionLineOne" Longitude="@naviagtionLineTwo" />
                </MapsNavigationLines>
                <MapsMarkerSettings>
                    <MapsMarker Visible="true" Shape="MarkerType.Circle" Fill="#FFFFFF" Height="15" Width="15" DataSource="@AirportLocation" TValue="MarkerLocation" AnimationDuration="0">
                        <MapsMarkerBorder Width="1" Color="#000000" />
                        <MapsMarkerTooltipSettings Visible="true" ValuePath="Name">
                            <MapsMarkerTooltipTextStyle FontFamily="Segoe UI"></MapsMarkerTooltipTextStyle>
                        </MapsMarkerTooltipSettings>
                    </MapsMarker>
                    <MapsMarker Visible="true" DataSource="@AirportDistance" TValue="MarkerLocation">
                        <MarkerTemplate>
                            @{
                                <div>
                                    <img class="markerTemplate" src="@(SampleService.WebAssetsPath + "images/maps/map-tooltip.svg")" alt="Showing Distance" style="margin-left:-56px" />
                                </div>
                            }
                        </MarkerTemplate>
                    </MapsMarker>
                    <MapsMarker Visible="true" DataSource="@LosAngelsLocation" TValue="MarkerLocation">
                        <MarkerTemplate>
                            @{
                                <div>
                                    <div style="text-align: right; font-weight:500; font-size: 13px;color: black;">
                                        <b>Los Angeles<br />International Airport</b>
                                    </div>
                                </div>
                            }
                        </MarkerTemplate>
                    </MapsMarker>
                    <MapsMarker Visible="true" DataSource="@MexicoLocation" TValue="MarkerLocation">
                        <MarkerTemplate>
                            @{
                                <div>
                                    <div style="text-align: right; font-weight:500; font-size: 13px;color: black;margin-top:17px;margin-left:-10px"><b>Mexico</b></div>
                                </div>
                            }
                        </MarkerTemplate>
                    </MapsMarker>
                    <MapsMarker Visible="true" DataSource="@MexicoLocationShape" TValue="MarkerLocation">
                        <MarkerTemplate>
                            @{
                                <div style="pointer-events:none">
                                    <img src="@(SampleService.WebAssetsPath + "images/maps/group.svg")" alt="Showing City Location" style="height:30px;width:20px;margin-top: 39%;" />
                                </div>
                            }
                        </MarkerTemplate>
                    </MapsMarker>
                    <MapsMarker Visible="true" DataSource="@MexicoLocations" TValue="MarkerLocation">
                        <ChildContent>
                            <MapsMarkerTooltipSettings Visible="true" ValuePath="Name">
                                <MapsMarkerTooltipTextStyle FontFamily="Segoe UI"></MapsMarkerTooltipTextStyle>
                            </MapsMarkerTooltipSettings>
                        </ChildContent>
                        <MarkerTemplate>
                            @{
                                <div style="margin-top:6px;pointer-events:none">
                                    <img src="@(SampleService.WebAssetsPath + "images/maps/ballon.png")" alt="Showing City Location" style="height:30px;width:20px;" />
                                </div>
                            }
                        </MarkerTemplate>
                    </MapsMarker>
                </MapsMarkerSettings>
            </MapsLayer>
        </MapsLayers>
    </SfMaps>
    <div class="urllink">
        <a href="https://www.openstreetmap.org/copyright" target="_blank">© OpenStreetMap contributors</a>
    </div>
    <br />
    <div class="urllink">
        Source:
        <a href="https://www.google.co.in/maps/dir/Los+Angeles,+CA,+USA/Mexico+City,+Mexico/26.3645122,-117.6940069,5z/data=!4m14!4m13!1m5!1m1!1s0x80c2c75ddc27da13:0xe22fdf6f254608f4!2m2!1d-118.2436849!2d34.0522342!1m5!1m1!1s0x85ce0036b1352927:0xdefd9e4ee8d18a5b!2m2!1d-99.1013498!2d19.2464696!3e4?hl=en" target="_blank">www.google.co.in/maps</a>
    </div>
</div>

@code  {
    
    public double Latitude = 27.0902;
    public double Longitude = -105.7129;
    public class MarkerLocation
    {
        public double Latitude { get; set; }
        public double Longitude { get; set; }
        public string Name { get; set; }
    };
    public double[] naviagtionLineOne = new double[] { 23.6445, 34.0522 };
    public double[] naviagtionLineTwo = new double[] { -102.832, -118.2437 };
    public List<MarkerLocation> AirportLocation = new List<MarkerLocation> {
        new MarkerLocation { Latitude=34.0522, Longitude=-118.2437, Name="Los Angeles International Airport" }
    };
    public List<MarkerLocation> MexicoLocationShape = new List<MarkerLocation> {
        new MarkerLocation { Latitude=23.6445, Longitude=-102.832, Name="Mexico" },
    };
    public List<MarkerLocation> AirportDistance = new List<MarkerLocation> {
        new MarkerLocation { Latitude=28.5, Longitude=-110.400, Name="tooltip" },
    };
    public List<MarkerLocation> LosAngelsLocation = new List<MarkerLocation> {
        new MarkerLocation { Latitude=34.7000, Longitude=-121.5000, Name="Los Angeles City" },
    };
    public List<MarkerLocation> MexicoLocation = new List<MarkerLocation> {
       new MarkerLocation { Latitude=24.0005, Longitude=-101.200, Name="Mexico City" },
    };
    public List<MarkerLocation> MexicoLocations = new List<MarkerLocation> {
        new MarkerLocation { Latitude=24.2005, Longitude=-102.832, Name="Mexico City" },
    };
    public Theme Theme { get; set; }
    protected override void OnInitialized()
    {
        
        Theme = ThemeHelper.GetCurrentTheme(NavigationManager.Uri);
        if (SampleService.IsDevice)
        {
            Latitude = 28.0902;
            Longitude = -106.40;
        }
    }
    
}