@page "/maps/osm-with-marker-clustering"

@using Syncfusion.Blazor.Maps
@using Syncfusion.Blazor
@using ThemeHelper
@inject NavigationManager NavigationManager
@*Hidden:Lines*@
@inherits SampleBaseComponent
@*End:Hidden*@

<SampleDescription>
    <p>This sample showcases popular attractions from multiple countries, displayed as markers and marker clusters on an OpenStreetMap. The marker clusters are enabled for each country, with distinct settings representing each country on the map.</p>
</SampleDescription>
<ActionDescription>
    <p>In this example, markers represent popular attractions from around the world, with each set as a separate data source for each country. The marker cluster feature is enabled for these markers to provide a clearer and more organized view. To do so, enable the <a target="_blank" href="https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Maps.MapsMarkerClusterSettings.html#Syncfusion_Blazor_Maps_MapsMarkerClusterSettings_AllowClustering">AllowClustering</a> property within the <a target="_blank" href="https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Maps.MapsMarkerClusterSettings.html">MapsMarkerClusterSettings</a>, which groups nearby markers together. Each cluster displays a tooltip with details such as the name, state, and country of the attraction. The <code>MapsMarkerClusterSettings</code> can be further customized with options like <a target="_blank" href="https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Maps.MapsMarkerClusterSettings.html#Syncfusion_Blazor_Maps_MapsMarkerClusterSettings_Shape">Shape</a>, <a target="_blank" href="https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Maps.MapsMarkerClusterSettings.html#Syncfusion_Blazor_Maps_MapsMarkerClusterSettings_Width">Width</a>, <a target="_blank" href="https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Maps.MapsMarkerClusterSettings.html#Syncfusion_Blazor_Maps_MapsMarkerClusterSettings_Height">Height</a>, and <a target="_blank" href="https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Maps.MapsLayerMarkerClusterLabelStyle.html">MapsLayerMarkerClusterLabelStyle</a> to adjust the appearance of the cluster. Additionally, the <a target="_blank" href="https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Maps.MapsMarkerClusterSettings.html#Syncfusion_Blazor_Maps_MapsMarkerClusterSettings_AllowClusterExpand">AllowClusterExpand</a> property is enabled, allowing users to expand a cluster by clicking on it, revealing the individual markers in an equidistant layout.</p>
</ActionDescription>

<div class="control-section">
    <SfMaps Format="N0" EnableGroupingSeparator="true" Theme="@Theme" Background="transparent">
        <MapsAreaSettings Background="transparent" />
        <MapsZoomSettings Enable="true" ZoomFactor="2">
            <MapsZoomToolbarSettings>
                <MapsZoomToolbarButton ToolbarItems="new List<ToolbarItem>() { ToolbarItem.Zoom,
                                   ToolbarItem.ZoomIn, ToolbarItem.ZoomOut, ToolbarItem.Pan, ToolbarItem.Reset }"></MapsZoomToolbarButton>
            </MapsZoomToolbarSettings>
        </MapsZoomSettings>
        <MapsTitleSettings Text="Popular attractions around the world">
            <MapsTitleTextStyle Size="16px" FontFamily="inherit" />
        </MapsTitleSettings>
        <MapsLayers>
            <MapsLayer UrlTemplate="https://a.tile.openstreetmap.org/level/tileX/tileY.png" TValue="string">
                <MapsMarkerSettings>
                    <MapsMarker Visible="true" TValue="City" DataSource="@MarkerDataFrance" Shape="MarkerType.Circle" Fill="#b38600" Height="15" Width="15">
                        <MapsMarkerBorder Color="#e6f2ff" Width="2"></MapsMarkerBorder>
                        <MapsMarkerClusterSettings AllowClustering="true" AllowClusterExpand="true" Shape="MarkerType.Image" ImageUrl="@(SampleService.WebAssetsPath + "images/maps/cluster-france.svg")" Height="40" Width="40">
                            <MapsLayerMarkerClusterLabelStyle Color="White" Size="10px"></MapsLayerMarkerClusterLabelStyle>
                        </MapsMarkerClusterSettings>
                        <MapsMarkerTooltipSettings Visible="true" ValuePath="Name" Format="<b>Name:<b> ${Name} <br/> <b>State:<b> ${State} <br/> <b>Country:<b> ${Country}">
                            <MapsMarkerTooltipTextStyle FontFamily="inherit"></MapsMarkerTooltipTextStyle>
                        </MapsMarkerTooltipSettings>
                    </MapsMarker>
                    <MapsMarker Visible="true" TValue="City" DataSource="@MarkerDataUSA" Shape="MarkerType.Circle" Fill="#bf4040" Height="15" Width="15">
                        <MapsMarkerBorder Color="#e6f2ff" Width="2"></MapsMarkerBorder>
                        <MapsMarkerClusterSettings AllowClustering="true" AllowClusterExpand="true" Shape="MarkerType.Image" ImageUrl="@(SampleService.WebAssetsPath + "images/maps/cluster-usa.svg")" Height="40" Width="40">
                            <MapsLayerMarkerClusterLabelStyle Color="White" Size="10px"></MapsLayerMarkerClusterLabelStyle>
                        </MapsMarkerClusterSettings>
                        <MapsMarkerTooltipSettings Visible="true" ValuePath="Name" Format="<b>Name:<b> ${Name} <br/> <b>State:<b> ${State} <br/> <b>Country:<b> ${Country}">
                            <MapsMarkerTooltipTextStyle FontFamily="inherit"></MapsMarkerTooltipTextStyle>
                        </MapsMarkerTooltipSettings>
                    </MapsMarker>
                    <MapsMarker Visible="true" TValue="City" DataSource="@MarkerDataIndia" Shape="MarkerType.Circle" Fill="#00b3b3" Height="15" Width="15">
                        <MapsMarkerBorder Color="#e6f2ff" Width="2"></MapsMarkerBorder>
                        <MapsMarkerClusterSettings AllowClustering="true" AllowClusterExpand="true" Shape="MarkerType.Image" ImageUrl="@(SampleService.WebAssetsPath + "images/maps/cluster-india.svg")" Height="40" Width="40">
                            <MapsLayerMarkerClusterLabelStyle Color="White" Size="10px"></MapsLayerMarkerClusterLabelStyle>
                        </MapsMarkerClusterSettings>
                        <MapsMarkerTooltipSettings Visible="true" ValuePath="Name" Format="<b>Name:<b> ${Name} <br/> <b>State:<b> ${State} <br/> <b>Country:<b> ${Country}">
                            <MapsMarkerTooltipTextStyle FontFamily="inherit"></MapsMarkerTooltipTextStyle>
                        </MapsMarkerTooltipSettings>
                    </MapsMarker>
                    <MapsMarker Visible="true" TValue="City" DataSource="@MarkerDataChina" Shape="MarkerType.Circle" Fill="#b366ff" Height="15" Width="15">
                        <MapsMarkerBorder Color="#e6f2ff" Width="2"></MapsMarkerBorder>
                        <MapsMarkerClusterSettings AllowClustering="true" AllowClusterExpand="true" Shape="MarkerType.Image" ImageUrl="@(SampleService.WebAssetsPath + "images/maps/cluster-china.svg")" Height="40" Width="40">
                            <MapsLayerMarkerClusterLabelStyle Color="White" Size="10px"></MapsLayerMarkerClusterLabelStyle>
                        </MapsMarkerClusterSettings>
                        <MapsMarkerTooltipSettings Visible="true" ValuePath="Name" Format="<b>Name:<b> ${Name} <br/> <b>State:<b> ${State} <br/> <b>Country:<b> ${Country}">
                            <MapsMarkerTooltipTextStyle FontFamily="inherit"></MapsMarkerTooltipTextStyle>
                        </MapsMarkerTooltipSettings>
                    </MapsMarker>
                </MapsMarkerSettings>
            </MapsLayer>
        </MapsLayers>
    </SfMaps>
</div>

@code {
    public class City
    {
        public double Latitude { get; set; }
        public double Longitude { get; set; }
        public string Name { get; set; }
        public string State { get; set; }
        public string Country { get; set; }
    }

    private List<City> MarkerDataFrance = new List<City> {
          new City { Latitude= 48.8584, Longitude= 2.2945, Name= "Eiffel Tower", State= "Paris", Country= "France" },
          new City { Latitude= 48.8606, Longitude= 2.3376, Name= "Louvre Museum", State= "Paris", Country= "France" },
          new City { Latitude= 48.8529, Longitude= 2.3500, Name= "Notre-Dame Cathedral", State= "Paris", Country= "France" },
          new City { Latitude= 48.6360, Longitude= 1.5115, Name= "Mont Saint-Michel", State= "Normandy", Country= "France" },
          new City { Latitude= 48.8049, Longitude= 2.1204, Name= "Versailles", State= "Normandy", Country= "France" },
          new City { Latitude= 43.7102, Longitude= 7.2620, Name= "French Riviera", State= "Provence-Alpes-Côte d Azur", Country= "France" },
          new City { Latitude= 47.6167, Longitude= 1.5167, Name= "Château de Chambord", State= "Centre-Val de Loire", Country= "France" },
          new City { Latitude= 48.8738, Longitude= 2.2950, Name= "Arc de Triomphe", State= "Paris", Country= "France" },
          new City { Latitude= 48.8566, Longitude= 2.3522, Name= "Sainte-Chapelle", State= "Paris", Country= "France" },
          new City { Latitude= 49.4144, Longitude= 0.8322, Name= "The D-Day Landing Beaches", State= "Normandy", Country= "France" }
    };

    private List<City> MarkerDataUSA = new List<City> {
          new City { Latitude= 35.019028, Longitude= -85.339439,  Name= "Ruby Falls", State= "Tennessee", Country= "United States of America" },
          new City { Latitude= 35.654613, Longitude= -105.996979, Name= "Meow Wolf Santa Fe", State= "New Mexico", Country= "United States of America" },
          new City { Latitude= 36.107216, Longitude= -115.175804, Name= "City Center of Las Vegas", State= "Nevada", Country= "United States of America" },
          new City { Latitude= 36.879047, Longitude= -111.510498, Name= "Horseshoe Bend", State= "Arizona", Country= "United States of America" },
          new City { Latitude= 36.011955, Longitude= -113.810951, Name= "Grand Canyon West Skywalk", State= "Arizona", Country= "United States of America" },
          new City { Latitude= 44.460438, Longitude= -110.828377, Name= "Old Faithful", State= "Wyoming", Country= "United States of America" },
          new City { Latitude= 33.839165, Longitude= -118.391113, Name= "Redondo Beach Pier", State= "California", Country= "United States of America" },
          new City { Latitude= 36.117615, Longitude= -115.168381, Name= "High Roller, Las Vegas", State= "Nevada", Country= "United States of America" },
          new City { Latitude= 36.082027, Longitude= -115.172897, Name= "Welcome to Fabulous Las Vegas Sign", State= "Nevada", Country= "United States of America" },
          new City { Latitude= 28.521894, Longitude= -80.681702, Name= "Kennedy Space Center Visitor Complex", State= "Florida", Country= "United States of America" }
    };

    private List<City> MarkerDataIndia = new List<City> {
          new City { Latitude= 26.985901, Longitude= 75.850700, Name= "Amber Fort, Amer", State= "Rajastan", Country= "India" },
          new City { Latitude= 22.957390, Longitude= 77.625275, Name= "Bhimbetka, Raisen District", State= "Madhya Pradesh", Country= "India" },
          new City { Latitude= 26.809330, Longitude= 75.540527, Name= "Bagru Fort, Bagru", State= "Rajasthan", Country= "India" },
          new City { Latitude= 25.489504, Longitude= 80.330116, Name= "Kalinjar Fort, Banda", State= "Uttar Pradesh", Country= "India" },
          new City { Latitude= 27.988890, Longitude= 76.388336, Name= "Neemrana", State= "Rajasthan", Country= "India" },
          new City { Latitude= 17.382330, Longitude= 78.401604, Name= "Golconda Fort", State= "Hyderabad", Country= "India" },
          new City { Latitude= 28.657211, Longitude= 77.233978, Name= "Bhagirath Palace", State= "New Delhi", Country= "India" },
          new City { Latitude= 18.544689, Longitude= 73.825478, Name= "Raj Bhavan", State= "Maharashtra", Country= "India" },
          new City { Latitude= 22.718435, Longitude= 75.855217, Name= "Rajwada, Indore", State= "Madhya Pradesh", Country= "India" },
          new City { Latitude= 27.173891, Longitude= 78.042068, Name= "The Taj Mahal", State= "Uttar Pradesh", Country= "India" }
    };

    private List<City> MarkerDataChina = new List<City> {
         new City { Latitude= 40.4319, Longitude= 116.5704, Name= "Great Wall of China", State= "Beijing", Country= "China" },
         new City { Latitude= 39.9163, Longitude= 116.3972, Name= "Forbidden City", State= "Beijing", Country= "China" },
         new City { Latitude= 34.3848, Longitude= 109.2734, Name= "Terracotta Army", State= "Shaanxi Province", Country= "China" },
         new City { Latitude= 39.8825, Longitude= 116.4122, Name= "Temple of Heaven", State= "Beijing", Country= "China" },
         new City { Latitude= 39.9990, Longitude= 116.2754, Name= "Summer Palace", State= "Beijing", Country= "China" },
         new City { Latitude= 30.2470, Longitude= 120.1614, Name= "Hangzhou", State= "Zhejiang Province", Country= "China" },
         new City { Latitude= 31.2400, Longitude= 121.4900, Name= "Shanghai Tower", State= "Shanghai", Country= "China" }
    };

    public Theme Theme { get; set; }
    protected override void OnInitialized()
    {
        Theme = ThemeHelper.GetCurrentTheme(NavigationManager.Uri);
    }
}