@page "/linear-gauge/container"

@using Syncfusion.Blazor
@using Syncfusion.Blazor.LinearGauge
@using Syncfusion.Blazor.DropDowns
@using Syncfusion.Blazor.Popups;
@using ThemeHelper
@inject NavigationManager NavigationManager
@*Hidden:Lines*@
@inherits SampleBaseComponent


@*End:Hidden*@

<SampleDescription>
    <p>This sample shows the different types of containers, such as normal, thermometer, and rounded rectangle. The linear gauge's orientation can also be changed from vertical to horizontal.</p>
</SampleDescription>
<ActionDescription>
    <p>The linear gauge can be rendered vertically or horizontally depending on the option selected in the <b>Orientation</b> drop-down list. You can also select the container type from the <b>Container Type</b> drop-down list.</p>
    <p>More information on the containers can be found in this <a target='_blank' href='https://blazor.syncfusion.com/documentation/linear-gauge/linear-gauge-appearance#customizing-the-linear-gauge-container' aria-label="Blazor Linear Gauge Custom Container documentation" >documentation section</a>. Likewise, information about orientation can be found in this <a target='_blank' href='https://blazor.syncfusion.com/documentation/linear-gauge/axis#orientation' aria-label="Blazor Linear Gauge Axis Orientation documentation" >documentation section</a>.</p>
</ActionDescription>

<style>
    tr {
        height: 40px;
    }

    td {
        width: 50%
    }

    .name {
        overflow: hidden;
        text-overflow: ellipsis;
    }
</style>

<div class="col-lg-8 control-section sb-property-border">
    <SfLinearGauge Title="Temparature Measure" Orientation="@GaugeOrientation" Theme="@Theme" Background="transparent">
        <LinearGaugeTitleStyle FontFamily="inherit"></LinearGaugeTitleStyle>
        <LinearGaugeContainer Width="13" RoundedCornerRadius="5" Type="@GaugeContainerType">
            <LinearGaugeContainerBorder Width="1"></LinearGaugeContainerBorder>
            <LinearGaugeAxes>
                <LinearGaugeAxis Minimum="0" Maximum="180">
                    <LinearGaugeLine Width="0" />
                    <LinearGaugeMajorTicks Color="#9e9e9e" Interval="20" Height="20" />
                    <LinearGaugeMinorTicks Color="#9e9e9e" Interval="10" Height="10" />
                    <LinearGaugeAxisLabelStyle>
                        <LinearGaugeAxisLabelFont FontFamily="inherit"></LinearGaugeAxisLabelFont>
                    </LinearGaugeAxisLabelStyle>
                    <LinearGaugePointers>
                        <LinearGaugePointer PointerValue="90" Height="13" Width="13" Type="Point.Bar" Color="#f02828" />
                    </LinearGaugePointers>
                </LinearGaugeAxis>
                <LinearGaugeAxis Minimum="0" Maximum="180" OpposedPosition="true">
                    <LinearGaugeLine Width="0" />
                    <LinearGaugeMajorTicks Color="#9e9e9e" Interval="20" Height="20" />
                    <LinearGaugeMinorTicks Color="#9e9e9e" Interval="10" Height="10" />
                    <LinearGaugeAxisLabelStyle>
                        <LinearGaugeAxisLabelFont FontFamily="inherit"></LinearGaugeAxisLabelFont>
                    </LinearGaugeAxisLabelStyle>
                    <LinearGaugePointers>
                        <LinearGaugePointer Width="0" />
                    </LinearGaugePointers>
                </LinearGaugeAxis>
            </LinearGaugeAxes>
        </LinearGaugeContainer>
    </SfLinearGauge>
</div>
<div class="col-lg-4 property-section">
    <div class="property-panel-section">
        <div class="property-panel-header">Properties</div>
        <div class="property-panel-content">
            <table style="width: 100%">
                <tbody>
                    <tr>
                        <td>
                            <div>Orientation</div>
                        </td>
                        <td>
                            <div style="width:100%">
                                <SfDropDownList TValue="string" TItem="OrientationData" DataSource="@GaugeOrientData" @bind-Value="@OrientationValue">
                                    <DropDownListEvents TValue="string" TItem="OrientationData" ValueChange="OrintationChange" />
                                    <DropDownListFieldSettings text="Name" value="Name" />
                                </SfDropDownList>
                            </div>
                        </td>
                    </tr>
                    <br />
                    <tr>
                        <td>
                            <div>Container Type</div>
                        </td>
                        <td>
                            <div style="width:100%">
                                <SfTooltip @ref="DropdownTooltip" ID="Tooltip" Target=".e-list-item .name[title]"></SfTooltip>
                                <SfDropDownList TValue="string" TItem="ContainerTypeData" DataSource="@ContainerTypeDatas" @bind-Value="@ContainerTypeValue">
                                    <DropDownListEvents TValue="string" TItem="ContainerTypeData" ValueChange="ContainerTypeChange" Opened="OnOpen" OnClose="OnClose" />
                                    <DropDownListFieldSettings text="Name" value="Name" />
                                    <DropDownListTemplates TItem="ContainerTypeData">
                                        <ItemTemplate>
                                            <div class="name" title="@((context as ContainerTypeData).Name)"> @((context as ContainerTypeData).Name) </div>
                                        </ItemTemplate>
                                    </DropDownListTemplates>
                                </SfDropDownList>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

@code {
    public SfTooltip DropdownTooltip;
    public bool IsOpen { get; set; }
    public Theme Theme { get; set; }
    public Orientation GaugeOrientation = Orientation.Vertical;
    public ContainerType GaugeContainerType = ContainerType.Thermometer;
    public string OrientationValue = "Vertical";
    public string ContainerTypeValue = "Thermometer";
    

    public List<OrientationData> GaugeOrientData = new List<OrientationData> {
        new OrientationData{ Name = "Vertical"},
        new OrientationData{ Name = "Horizontal"},
    };

    public List<ContainerTypeData> ContainerTypeDatas = new List<ContainerTypeData> {
        new ContainerTypeData{ Name = "Thermometer"},
        new ContainerTypeData{ Name = "Normal"},
        new ContainerTypeData{ Name = "Rounded Rectangle"},
    };

    private void OrintationChange(ChangeEventArgs<string, OrientationData> args)
    {
        OrientationValue = (args.Value).ToString();
        GaugeOrientation = this.OrientationValue == "Vertical" ? Orientation.Vertical : Orientation.Horizontal;
    }

    private void ContainerTypeChange(ChangeEventArgs<string, ContainerTypeData> args)
    {
        ContainerTypeValue = (args.Value).ToString();
        if (ContainerTypeValue == "Thermometer")
            GaugeContainerType = ContainerType.Thermometer;
        else if (ContainerTypeValue == "Normal")
            GaugeContainerType = ContainerType.Normal;
        else
            GaugeContainerType = ContainerType.RoundedRectangle;
    }

    public void OnOpen(PopupEventArgs args)
    {
        IsOpen = true;
    }

    public void OnClose(PopupEventArgs args)
    {
        DropdownTooltip.CloseAsync();
    }

    protected override async Task OnInitializedAsync()
    {
        Theme = ThemeHelper.GetCurrentTheme(NavigationManager.Uri);
        if (IsOpen)
        {
            await DropdownTooltip.RefreshAsync();
        }
    }
    public class OrientationData
    {
        public string Name { get; set; }
    }

    public class ContainerTypeData
    {
        public string Name { get; set; }
    }
}
