@page "/linear-gauge/labels"

@using Syncfusion.Blazor
@using Syncfusion.Blazor.LinearGauge
@using Syncfusion.Blazor.Buttons
@using ThemeHelper
@inject NavigationManager NavigationManager
@*Hidden:Lines*@
@inherits SampleBaseComponent


@*End:Hidden*@

<SampleDescription>
    <p>This sample demonstrates the various options for customizing the axis labels, such as styling, formatting, replacing text, and setting offset in the linear gauge.</p>
</SampleDescription>
<ActionDescription>
    <p>
        In this example, you can see how to render and configure axis labels in the linear gauge. The properties in the <a target='_blank' class='code' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.LinearGauge.LinearGaugeAxisLabelStyle.html' aria-label="Class reference of LinearGaugeAxisLabelStyle">LinearGaugeAxisLabelStyle</a> can be used to style, format, and offset the label, while the label's text can be changed dynamically via the <a target='_blank' class='code' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.LinearGauge.LinearGaugeEvents.html#Syncfusion_Blazor_LinearGauge_LinearGaugeEvents_AxisLabelRendering' aria-label="Class reference of AxisLabelRendering event in LinearGauge">AxisLabelRendering</a> event.
    </p>
    <p>More information on the axis labels can be found in this <a target='_blank' href='https://blazor.syncfusion.com/documentation/linear-gauge/axis#labels-customization' aria-label="Blazor Linear Gauge Axis label documentation" >documentation section</a>.</p>
</ActionDescription>

<style>
    .divclass {
        padding: 6px;
        color: white;
        border: solid #0074E3;
        cursor: pointer;
    }
</style>

<div class="control-section">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-lg-12 col-md-12">
            <div align="center" style="margin: auto;width: 30%;padding: 10px;">
                <table>
                    <tbody>
                        <tr>
                            <td>
                                <div class="divclass" style="width:86px;color:@HorizontalTextColor;font-size:15px;border: 2px solid #0074E3;background-color:@HorizontalBackgroundColor;text-align:center;" @onclick="HorizontalGauge">
                                    Horizontal
                                </div>
                            </td>
                            <td>
                                <div class="divclass" style="width:86px;color:@VerticalTextColor;font-size:15px;border: 2px solid #0074E3;background-color:@VerticalBackgroundColor;text-align:center;" @onclick="VerticalGauge">
                                    Vertical
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <pre style="background-color: inherit; border:hidden"></pre>
    <div class="row">
        <div class="@ClassStyle" align="center">
            <SfLinearGauge Title="Custom labels" AnimationDuration="1500" Orientation="@GaugeOrientation" Theme="@Theme" Height="@Height" Width="@Width" Background="transparent">
                <LinearGaugeTitleStyle FontWeight="499" FontFamily="inherit"></LinearGaugeTitleStyle>
                <LinearGaugeAxes>
                    <LinearGaugeAxis Minimum="5" Maximum="20" OpposedPosition="true">
                        <LinearGaugeLine Width="5" />
                        <LinearGaugeMajorTicks Interval="5" Height="7" Width="1" />
                        <LinearGaugeMinorTicks Interval="2.5" Height="3" />
                        <LinearGaugeAxisLabelStyle Format="${value}">
                            <LinearGaugeAxisLabelFont FontFamily="inherit"></LinearGaugeAxisLabelFont>
                        </LinearGaugeAxisLabelStyle>
                        <LinearGaugePointers>
                            <LinearGaugePointer Width="0" />
                        </LinearGaugePointers>
                    </LinearGaugeAxis>
                </LinearGaugeAxes>
            </SfLinearGauge>
        </div>
        <div class="@ClassStyle" align="center">
            <SfLinearGauge Title="Text labels" Orientation="@GaugeOrientation" Theme="@Theme" Height="@Height" Width="@Width" Background="transparent">
                <LinearGaugeTitleStyle FontWeight="499" FontFamily="inherit"></LinearGaugeTitleStyle>
                <LinearGaugeEvents AxisLabelRendering="AxisLabelChange" />
                <LinearGaugeAxes>
                    <LinearGaugeAxis Minimum="5" Maximum="20" OpposedPosition="true">
                        <LinearGaugeLine Width="5" />
                        <LinearGaugeMajorTicks Interval="5" Height="0" />
                        <LinearGaugeMinorTicks Interval="2.5" Height="0" />
                        <LinearGaugeAxisLabelStyle Offset="10">
                            <LinearGaugeAxisLabelFont FontFamily="inherit"></LinearGaugeAxisLabelFont>
                        </LinearGaugeAxisLabelStyle>
                        <LinearGaugePointers>
                            <LinearGaugePointer PointerValue="20" Height="15" Width="15" Color="#0DC9AB" Placement="Placement.Near" MarkerType="MarkerType.Circle" Offset="7" />
                            <LinearGaugePointer PointerValue="15" Height="15" Width="15" Color="#0DC9AB" Placement="Placement.Near" MarkerType="MarkerType.Circle" Offset="7" />
                            <LinearGaugePointer PointerValue="10" Height="15" Width="15" Color="#0DC9AB" Placement="Placement.Near" MarkerType="MarkerType.Circle" Offset="7" />
                            <LinearGaugePointer PointerValue="5" Height="15" Width="15" Color="@DeliveredPointerColor" Placement="Placement.Near" MarkerType="MarkerType.Circle" Offset="7" />
                        </LinearGaugePointers>
                        <LinearGaugeRanges>
                            <LinearGaugeRange Start="15" End="20" StartWidth="5" EndWidth="5" Color="#0DC9AB" />
                            <LinearGaugeRange Start="10" End="15" StartWidth="5" EndWidth="5" Color="#0DC9AB" />
                        </LinearGaugeRanges>
                    </LinearGaugeAxis>
                </LinearGaugeAxes>
            </SfLinearGauge>
        </div>
        <div class="@ClassStyle" align="center">
            <SfLinearGauge Title="Label offset" AnimationDuration="1500" Orientation="@GaugeOrientation" Theme="@Theme" Height="@Height" Width="@Width" Background="transparent">
                <LinearGaugeTitleStyle FontWeight="499" FontFamily="inherit"></LinearGaugeTitleStyle>
                <LinearGaugeAxes>
                    <LinearGaugeAxis Minimum="0" Maximum="100" OpposedPosition="true">
                        <LinearGaugeLine Width="5" />
                        <LinearGaugeMajorTicks Interval="20" Height="7" Width="1" />
                        <LinearGaugeMinorTicks Interval="10" Height="3" />
                        <LinearGaugeAxisLabelStyle Offset="5">
                            <LinearGaugeAxisLabelFont FontFamily="inherit"></LinearGaugeAxisLabelFont>
                        </LinearGaugeAxisLabelStyle>
                        <LinearGaugePointers>
                            <LinearGaugePointer Width="0" />
                        </LinearGaugePointers>
                    </LinearGaugeAxis>
                </LinearGaugeAxes>
            </SfLinearGauge>
        </div>
        <div class="@ClassStyle" align="center">
            <SfLinearGauge Title="Label customization" AnimationDuration="1500"  Orientation="@GaugeOrientation" Theme="@Theme" Height="@Height" Width="@Width" Background="transparent">
                <LinearGaugeTitleStyle FontWeight="499" FontFamily="inherit"></LinearGaugeTitleStyle>
                <LinearGaugeAxes>
                    <LinearGaugeAxis Minimum="0" Maximum="100" OpposedPosition="true">
                        <LinearGaugeLine Width="5" />
                        <LinearGaugeMajorTicks Interval="20" Height="7" Width="1" />
                        <LinearGaugeMinorTicks Interval="10" Height="3" />
                        <LinearGaugeAxisLabelStyle>
                            <LinearGaugeAxisLabelFont Color="#F93106" FontFamily="inherit" />
                        </LinearGaugeAxisLabelStyle>
                        <LinearGaugePointers>
                            <LinearGaugePointer Width="0" />
                        </LinearGaugePointers>
                    </LinearGaugeAxis>
                </LinearGaugeAxes>
            </SfLinearGauge>
        </div>
    </div>
</div>

@code {
    public Theme Theme { get; set; }
    public string VerticalBackgroundColor = "#0074E3";
    public string HorizontalBackgroundColor = "white";
    public string VerticalTextColor = "white";
    public string HorizontalTextColor = "black";
    public string Width = "150px";
    public string Height = "350px";
    public string ClassStyle = "col-xs-6 col-sm-6 col-lg-3 col-md-3";
    public Orientation GaugeOrientation = Orientation.Vertical;
    public string DeliveredPointerColor = "#E5E7EB";
    

    public void AxisLabelChange(AxisLabelRenderEventArgs args)
    {
        if (args.Text == "20")
            args.Text = "Ordered";
        else if (args.Text == "15")
            args.Text = "Packed";
        else if (args.Text == "10")
            args.Text = "Shipped";
        else if (args.Text == "5")
            args.Text = "Delivered";
        else
            args.Text = " ";
    }

    private void VerticalGauge()
    {
        GaugeOrientation = Orientation.Vertical;
        Width = "150px";
        Height = "350px";
        VerticalBackgroundColor = "#0074E3";
        HorizontalBackgroundColor = "white";
        VerticalTextColor = "white";
        HorizontalTextColor = "black";
        ClassStyle = "col-xs-6 col-sm-6 col-lg-3 col-md-3";
    }

    private void HorizontalGauge()
    {
        GaugeOrientation = Orientation.Horizontal;
        Width = "450px";
        Height = "150px";
        ClassStyle = "";
        VerticalBackgroundColor = "white";
        HorizontalBackgroundColor = "#0074E3";
        VerticalTextColor = "black";
        HorizontalTextColor = "white";
    }

    protected override void OnInitialized()
    {
        
        Theme = ThemeHelper.GetCurrentTheme(NavigationManager.Uri);
        if (Theme == Theme.Bootstrap5 || Theme == Theme.Tailwind || Theme == Theme.Fluent || Theme == Theme.Fluent2)
        {
            DeliveredPointerColor = "#E5E7EB";
        }
        else if (Theme == Theme.BootstrapDark || Theme == Theme.FabricDark)
        {
            DeliveredPointerColor = "#C8C8C8";
        }
        else if (Theme == Theme.Material || Theme == Theme.Bootstrap || Theme == Theme.Fabric)
        {
            DeliveredPointerColor = "#a6a6a6";
        }
        else if (Theme == Theme.Bootstrap5Dark || Theme == Theme.FluentDark || Theme.ToString().IndexOf("Fluent2Dark") > -1 || Theme.ToString().IndexOf("Fluent2HighContrast") > -1)
        {
            DeliveredPointerColor = "#343A40";
        }
        else if (Theme == Theme.TailwindDark)
        {
            DeliveredPointerColor = "#374151";
        }
        else if (Theme == Theme.Bootstrap4)
        {
            DeliveredPointerColor = "#ADB5BD";
        }
        else if (Theme == Theme.Material3)
        {
            DeliveredPointerColor = "#C4C7C5";
        }
        else {
            DeliveredPointerColor = "#FFFFFF";
        }
    }
}