@page "/linear-gauge/slider"

@using Syncfusion.Blazor
@using Syncfusion.Blazor.LinearGauge
@using ThemeHelper
@inject NavigationManager NavigationManager
@*Hidden:Lines*@
@inherits SampleBaseComponent


@*End:Hidden*@

<SampleDescription>
    <p>This sample demonstrates how to create a slider component by utilizing the functionalities available in the linear gauge.</p>
</SampleDescription>
<ActionDescription>
    <p>In this example, you can see how to render and configure a new slider component in the linear gauge. This can be accomplished by combining axis, range, and pointer. The pointer has been made interactive, so the value changes as you drag it.</p>
    <p>More information on the linear gauge can be found in this <a target='_blank' href='https://blazor.syncfusion.com/documentation/linear-gauge/getting-started' aria-label="Blazor Linear Gauge Getting Started documentation" >documentation section</a>.</p>
</ActionDescription>

<div class="control-section">
    <div align="center">
        <SfLinearGauge Title="Enabled" Orientation="Orientation.Horizontal" Theme="@Theme" Height="@Height" Width="@Width" Background="transparent" Format="N0">
            <LinearGaugeEvents OnDrag="OnDrag" OnDragEnd="OnDragEnd" />
            <LinearGaugeTitleStyle FontWeight="499" FontFamily="inherit" />
            <LinearGaugeTooltipSettings Enable="true" ShowAtMousePosition="true">
                <LinearGaugeTooltipTextStyle FontFamily="inherit"></LinearGaugeTooltipTextStyle>
            </LinearGaugeTooltipSettings>
            <LinearGaugeAxes>
                <LinearGaugeAxis Minimum="0" Maximum="100" OpposedPosition="true">
                    <LinearGaugeLine Width="5" Color="#C2DEF8" />
                    <LinearGaugeMajorTicks Interval="20" Height="0" />
                    <LinearGaugeMinorTicks Interval="10" Height="0" />
                    <LinearGaugeAxisLabelStyle Offset="10">
                        <LinearGaugeAxisLabelFont FontFamily="inherit"></LinearGaugeAxisLabelFont>
                    </LinearGaugeAxisLabelStyle>
                    <LinearGaugePointers>
                        <LinearGaugePointer PointerValue="@FirstPointerValue" Height="5" Width="5" Placement="Placement.Center" Color="#0074E3" Offset="12" Type="Point.Bar" />
                        <LinearGaugePointer PointerValue="@FirstPointerValue" Height="23" Width="23" Placement="Placement.Center" Color="#0074E3" EnableDrag="true" Offset="-15" MarkerType="MarkerType.Circle" />
                    </LinearGaugePointers>
                </LinearGaugeAxis>
            </LinearGaugeAxes>
        </SfLinearGauge>
        <SfLinearGauge Title="Disabled" Orientation="Orientation.Horizontal" Theme="@Theme" Height="@Height" Width="@Width" Background="transparent">
            <LinearGaugeTitleStyle FontWeight="499" FontFamily="inherit" />
            <LinearGaugeAxes>
                <LinearGaugeAxis Minimum="0" Maximum="100" OpposedPosition="true">
                    <LinearGaugeLine Width="5" Color="#E0E0E0" />
                    <LinearGaugeMajorTicks Interval="20" Height="0" />
                    <LinearGaugeMinorTicks Interval="10" Height="0" />
                    <LinearGaugeAxisLabelStyle Offset="10">
                        <LinearGaugeAxisLabelFont FontFamily="inherit"></LinearGaugeAxisLabelFont>
                    </LinearGaugeAxisLabelStyle>
                    <LinearGaugePointers>
                        <LinearGaugePointer PointerValue="50" Height="5" Width="5" Offset="12" Placement="Placement.Center" Color="#ADADAD" Type="Point.Bar" />
                        <LinearGaugePointer PointerValue="50" Height="23" Width="23" Offset="-15" Placement="Placement.Center" Color="#ADADAD" MarkerType="MarkerType.Circle" />
                    </LinearGaugePointers>
                </LinearGaugeAxis>
            </LinearGaugeAxes>
        </SfLinearGauge>
    </div>
</div>

@code {
    public Theme Theme { get; set; }
    public string Width = "450px";
    public string Height = "150px";
    public double FirstPointerValue = 50;
    

    public void OnDragEnd(PointerDragEventArgs args)
    {
        FirstPointerValue = args.CurrentValue;
    }

    public void OnDrag(PointerDragEventArgs args)
    {
        FirstPointerValue = args.CurrentValue;
    }

    protected override void OnInitialized()
    {
        
        Theme = ThemeHelper.GetCurrentTheme(NavigationManager.Uri);
    }
}