@page "/linear-gauge/track"

@using Syncfusion.Blazor
@using Syncfusion.Blazor.LinearGauge
@using Syncfusion.Blazor.Buttons
@using ThemeHelper
@inject NavigationManager NavigationManager
@*Hidden:Lines*@
@inherits SampleBaseComponent


@*End:Hidden*@

<SampleDescription>
    <p>This sample demonstrates the basic axis, its edge style, range color for axis, inversed and opposed axis.</p>
</SampleDescription>
<ActionDescription>
    <p>
        In this example, you can see how to render and configure axis in the linear gauge. The <a target='_blank' class='code' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.LinearGauge.LinearGaugeContainer.html#Syncfusion_Blazor_LinearGauge_LinearGaugeContainer_RoundedCornerRadius' aria-label="Class reference of RoundedCornerRadius property in Linear Gauge">RoundedCornerRadius</a>, <a target='_blank' class='code' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.LinearGauge.LinearGaugeAxisLabelStyle.html#Syncfusion_Blazor_LinearGauge_LinearGaugeAxisLabelStyle_UseRangeColor' aria-label="Class reference of UseRangeColor property in Linear Gauge">UseRangeColor</a>, <a target='_blank' class='code' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.LinearGauge.LinearGaugeAxis.html#Syncfusion_Blazor_LinearGauge_LinearGaugeAxis_IsInversed' aria-label="Class reference of IsInversed property in Linear Gauge">IsInversed</a>, and <a target='_blank' class='code' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.LinearGauge.LinearGaugeAxis.html#Syncfusion_Blazor_LinearGauge_LinearGaugeAxis_OpposedPosition' aria-label="Class reference of OpposedPosition property in Linear Gauge">OpposedPosition</a> properties can be used to set the edge style, range color for axis, inversed and opposed axis respectively.
    </p>
    <p>More information on the axis can be found in this <a target='_blank' href='https://blazor.syncfusion.com/documentation/linear-gauge/axis' aria-label="Blazor Linear Gauge Axis documentation" >documentation section</a>.</p>
</ActionDescription>

<style>
    .divclass {
        padding: 6px;
        color: white;
        border: solid #0074E3;
        cursor:pointer;
    }
</style>

<div class="control-section" style="margin-left: -15px;">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-lg-12 col-md-12">
            <div align="center" style="margin: auto;width: 30%;padding: 10px;">
                <table>
                    <tbody>
                        <tr>
                            <td>
                                <div class="divclass" style="width:86px;color:@HorizontalTextColor;font-size:15px;border: 2px solid #0074E3;background-color:@HorizontalBackgroundColor;text-align:center;" @onclick="HorizontalGauge">
                                    Horizontal
                                </div>
                            </td>
                            <td>
                                <div class="divclass" style="width:86px;color:@VerticalTextColor;font-size:15px;border: 2px solid #0074E3;background-color:@VerticalBackgroundColor;text-align:center;" @onclick="VerticalGauge">
                                    Vertical
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <pre style="background-color: inherit; border:hidden"></pre>
    <div class="row">
        <div align="center" style="float: left;padding: @Padding;"></div>
        <div class="@ClassStyle" align="center">
            <SfLinearGauge Title="Default axis" Orientation="@GaugeOrientation" Theme="@Theme" Height="@Height" Width="@Width" Background="transparent">
                <LinearGaugeTitleStyle FontWeight="499" FontFamily="inherit" />
                <LinearGaugeAxes>
                    <LinearGaugeAxis Minimum="0" Maximum="100" OpposedPosition="true">
                        <LinearGaugeLine Width="5" />
                        <LinearGaugeMajorTicks Interval="20" Height="7" Width="1" />
                        <LinearGaugeMinorTicks Interval="10" Height="3" />
                        <LinearGaugeAxisLabelStyle>
                            <LinearGaugeAxisLabelFont FontFamily="inherit"></LinearGaugeAxisLabelFont>
                        </LinearGaugeAxisLabelStyle>
                        <LinearGaugePointers>
                            <LinearGaugePointer Width="0" />
                        </LinearGaugePointers>
                    </LinearGaugeAxis>
                </LinearGaugeAxes>
            </SfLinearGauge>
        </div>
        <div class="@ClassStyle" align="center">
            <SfLinearGauge Title="Edge style" Orientation="@GaugeOrientation" Theme="@Theme" Height="@Height" Width="@Width" Background="transparent">
                <LinearGaugeTitleStyle FontWeight="499" FontFamily="inherit" />
                <LinearGaugeContainer Width="20" RoundedCornerRadius="10" Type="ContainerType.RoundedRectangle">
                    <LinearGaugeContainerBorder Width="1" />
                    <LinearGaugeAxes>
                        <LinearGaugeAxis Minimum="0" Maximum="100" OpposedPosition="true">
                            <LinearGaugeLine Width="0" />
                            <LinearGaugeMajorTicks Interval="20" Height="7" Width="1" />
                            <LinearGaugeMinorTicks Interval="10" Height="3" />
                            <LinearGaugeAxisLabelStyle>
                                <LinearGaugeAxisLabelFont FontFamily="inherit"></LinearGaugeAxisLabelFont>
                            </LinearGaugeAxisLabelStyle>
                            <LinearGaugePointers>
                                <LinearGaugePointer Width="0" />
                            </LinearGaugePointers>
                        </LinearGaugeAxis>
                    </LinearGaugeAxes>
                </LinearGaugeContainer>
            </SfLinearGauge>
        </div>
        <div class="@ClassStyle" align="center">
            <SfLinearGauge Title="Range color for axis" Orientation="@GaugeOrientation" Theme="@Theme" Height="@Height" Width="@Width" Background="transparent">
                <LinearGaugeTitleStyle FontWeight="499" FontFamily="inherit" />
                <LinearGaugeAxes>
                    <LinearGaugeAxis Minimum="0" Maximum="100" OpposedPosition="true">
                        <LinearGaugeLine Width="0" />
                        <LinearGaugeMajorTicks Interval="20" Height="7" Width="1" />
                        <LinearGaugeMinorTicks Interval="10" Height="3" />
                        <LinearGaugeAxisLabelStyle UseRangeColor="true">
                            <LinearGaugeAxisLabelFont FontFamily="inherit"></LinearGaugeAxisLabelFont>
                        </LinearGaugeAxisLabelStyle>
                        <LinearGaugeRanges>
                            <LinearGaugeRange Start="0" End="30" Color="#F45656" StartWidth="5" EndWidth="5" Offset="-5" />
                            <LinearGaugeRange Start="30" End="60" Color="#FFC93E" StartWidth="5" EndWidth="5" Offset="-5" />
                            <LinearGaugeRange Start="60" End="100" Color="#0DC9AB" StartWidth="5" EndWidth="5" Offset="-5" />
                        </LinearGaugeRanges>
                        <LinearGaugePointers>
                            <LinearGaugePointer Width="0" />
                        </LinearGaugePointers>
                    </LinearGaugeAxis>
                </LinearGaugeAxes>
            </SfLinearGauge>
        </div>
        <div class="@ClassStyle" align="center">
            <SfLinearGauge Title="Inversed axis" Orientation="@GaugeOrientation" Theme="@Theme" Height="@Height" Width="@Width" Background="transparent">
                <LinearGaugeTitleStyle FontWeight="499" FontFamily="inherit" />
                <LinearGaugeAxes>
                    <LinearGaugeAxis Minimum="0" Maximum="100" OpposedPosition="true" IsInversed="true">
                        <LinearGaugeLine Width="5" />
                        <LinearGaugeMajorTicks Interval="20" Height="7" Width="1" />
                        <LinearGaugeMinorTicks Interval="10" Height="3" />
                        <LinearGaugeAxisLabelStyle>
                            <LinearGaugeAxisLabelFont FontFamily="inherit"></LinearGaugeAxisLabelFont>
                        </LinearGaugeAxisLabelStyle>
                        <LinearGaugePointers>
                            <LinearGaugePointer Width="0" />
                        </LinearGaugePointers>
                    </LinearGaugeAxis>
                </LinearGaugeAxes>
            </SfLinearGauge>
        </div>
        <div class="@ClassStyle" align="center">
            <SfLinearGauge Title="Opposed axis" Orientation="@GaugeOrientation" Theme="@Theme" Height="@Height" Width="@Width" Background="transparent">
                <LinearGaugeTitleStyle FontWeight="499" FontFamily="inherit" />
                <LinearGaugeAxes>
                    <LinearGaugeAxis Minimum="0" Maximum="100" OpposedPosition="true">
                        <LinearGaugeLine Width="5" />
                        <LinearGaugeMajorTicks Interval="20" Height="7" Width="1" Position="Position.Outside" />
                        <LinearGaugeMinorTicks Interval="10" Height="3" Position="Position.Outside" />
                        <LinearGaugeAxisLabelStyle Position="Position.Outside">
                            <LinearGaugeAxisLabelFont FontFamily="inherit"></LinearGaugeAxisLabelFont>
                        </LinearGaugeAxisLabelStyle>
                        <LinearGaugePointers>
                            <LinearGaugePointer Width="0" />
                        </LinearGaugePointers>
                    </LinearGaugeAxis>
                </LinearGaugeAxes>
            </SfLinearGauge>
        </div>
    </div>
</div>

@code {
    public Theme Theme { get; set; }
    public string VerticalBackgroundColor = "#0074E3";
    public string HorizontalBackgroundColor = "white";
    public string VerticalTextColor = "white";
    public string HorizontalTextColor = "black";
    public string Width = "150px";
    public string Height = "350px";
    public string Padding = "32px";
    public string ClassStyle = "col-xs-4 col-sm-4 col-lg-2 col-md-2 ";
    public Orientation GaugeOrientation = Orientation.Vertical;
    

    private void VerticalGauge()
    {
        GaugeOrientation = Orientation.Vertical;
        Width = "150px";
        Height = "350px";
        Padding = "32px";
        VerticalBackgroundColor = "#0074E3";
        HorizontalBackgroundColor = "white";
        VerticalTextColor = "white";
        HorizontalTextColor = "black";
        ClassStyle = "col-xs-4 col-sm-4 col-lg-2 col-md-2 ";
    }

    private void HorizontalGauge()
    {
        GaugeOrientation = Orientation.Horizontal;
        Width = "450px";
        Height = "150px";
        Padding = "0px";
        ClassStyle = "";
        VerticalBackgroundColor = "white";
        HorizontalBackgroundColor = "#0074E3";
        VerticalTextColor = "black";
        HorizontalTextColor = "white";
    }

    protected override void OnInitialized()
    {
        
        Theme = ThemeHelper.GetCurrentTheme(NavigationManager.Uri);
    }
}