@page "/tree-grid/adaptive"

@using Syncfusion.Blazor.TreeGrid
@using Syncfusion.Blazor.Grids
@*Hidden:Lines*@
@using ej2_blazor_selfdata
@inherits SampleBaseComponent;
@inject NavigationManager NavigationManager


@*End:Hidden*@

<SampleDescription>
    <p>This sample demonstrates the adaptive rendering behavior of Tree Grid features such as filtering, paging, searching and so on. </p>
</SampleDescription>
<ActionDescription>
    <p>
        To enable adaptive behavior, set the <a aria-label="Navigate to the documentation for the EnableAdaptiveUI property in the Tree Grid component" target='_blank' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.TreeGrid.SfTreeGrid-1.html#Syncfusion_Blazor_TreeGrid_SfTreeGrid_1_EnableAdaptiveUI'>EnableAdaptiveUI</a> property to true. The filtering, CRUD actions, paging, and other various user interactions in Tree Grid will be adaptive to smaller screens. For example, filtering opens the UI for user in a pop-up occupying the entire screen.
    </p>
    <p>
        For more information, refer to this
        <a aria-label="Navigate to documentation for Adaptive UI Layout in tree grid component" target='_blank' href='https://blazor.syncfusion.com/documentation/treegrid/adaptive-layout'>documentation section</a>.
    </p>
</ActionDescription>

<div class="col-lg-12 control-section">
   <div class="content-wrapper">
      <div class="row">
         <div class="content-wrapper e-bigger e-adaptive-demo">
            <div class="e-mobile-layout">
               <div class="e-mobile-content">
                        <SfTreeGrid DataSource="@TreeData" AllowSorting="true" AllowFiltering="true" IdMapping="TaskID" ParentIdMapping="ParentID" TreeColumnIndex="1" EnableAdaptiveUI="true" Toolbar="@(new List<string>() { "Add", "Edit", "Delete", "Cancel", "Update", "Search" })" Height="100%" Width="100%" AllowPaging="true">
                            <TreeGridFilterSettings Type="@Syncfusion.Blazor.TreeGrid.FilterType.Excel"></TreeGridFilterSettings>
                            <TreeGridPageSettings PageSize="2" PageSizeMode="PageSizeMode.Root" ></TreeGridPageSettings>
                            <TreeGridEditSettings AllowAdding="true" AllowEditing="true" AllowDeleting="true" Mode="Syncfusion.Blazor.TreeGrid.EditMode.Dialog"></TreeGridEditSettings>
                            <TreeGridColumns>
                                <TreeGridColumn Field="TaskID" HeaderText="Task ID" IsPrimaryKey="true" Width="135" ValidationRules="@(new ValidationRules() { Required = true, Number = true })" TextAlign="TextAlign.Right"></TreeGridColumn>
                                <TreeGridColumn Field="TaskName" HeaderText="Task Name" Width="280" ValidationRules="@(new ValidationRules() { Required = true })" TextAlign="TextAlign.Left"></TreeGridColumn>
                                <TreeGridColumn Field="Duration" HeaderText="Duration" Width="140" TextAlign="TextAlign.Right"></TreeGridColumn>
                                <TreeGridColumn Field="Progress" HeaderText="Progress" Width="145" EditType="Syncfusion.Blazor.Grids.EditType.DropDownEdit"></TreeGridColumn>
                            </TreeGridColumns>
                        </SfTreeGrid>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code{

    private List<SelfReferenceData> TreeData { get; set; }


    protected override void OnInitialized()
    {

        this.TreeData = SelfReferenceData.GetTree().Take(30).ToList();
    }
}
 @*Hidden:Lines*@
 <style>
/* The device with borders */
 .e-mobile-layout {
     position: relative;
     width: 370px;
     height: 640px;
     margin: auto;
     border: 16px #f4f4f4 solid;
     border-top-width: 60px;
     border-bottom-width: 60px;
     border-radius: 36px;
     box-shadow: 0 0px 2px rgb(144 144 144), 0 0px 10px rgb(0 0 0 / 16%);
}
  .e-treegrid {
        position: absolute;
 }
 .e-mobile-layout:before, .e-mobile-layout:after {
     content: '';
     display: block;
     position: absolute;
     transform: translate(-50%, -50%);
     left: 50%;
}
/* The horizontal line on the top of the device */
 .e-mobile-layout:before {
     width: 60px;
     height: 5px;
     top: -30px;
     background: #ebebeb;
     border-radius: 10px;
}
/* The circle at the bottom of the device */
 .e-mobile-layout:after {
     width: 35px;
     height: 35px;
     bottom: -65px;
     background: #e8e8e8;
     border-radius: 50%;
}
/* The screen (or content) of the device */
 .e-mobile-layout .e-mobile-content {
     overflow-x: hidden;
     width: 328px;
     height: 521px;
     background: white;
     border: 0px solid #dddddd;
}
 .highcontrast .e-mobile-layout {
     border: 16px #000000 solid;
     border-top-width: 60px;
     border-bottom-width: 60px;
     box-shadow: -1px 2px white, -2px -2px white, 2px -2px white, 2px 1px white;
}
 .e-responsive-dialog {
     box-shadow: none;
     border: 1px solid #dddddd;
}
 #adaptivebrowser:not(.e-grid.e-row-responsive) > .e-gridcontent {
     height: calc(100% - 224px) !important;
}
/* Render the mobile pager by default */
 @@media (max-width: 3840px) {
     .e-adaptive-demo .e-pager {
         padding: 13px 0;
    }
     .e-adaptive-demo .e-pager div.e-parentmsgbar {
         box-sizing: border-box;
         display: inline-block;
         float: initial;
         padding-bottom: 0;
         padding-right: 0;
         padding-top: 0;
         text-align: center;
         vertical-align: top;
         width: calc(50% - 48px);
    }
     .e-adaptive-demo .e-pager .e-pagesizes, .e-adaptive-demo .e-pager .e-pagecountmsg, .e-adaptive-demo .e-pager .e-pagercontainer {
         display: none;
    }
     .e-adaptive-demo .e-pager .e-icons {
         font-size: 11px;
    }
     .e-adaptive-demo .e-pager .e-mfirst, .e-adaptive-demo .e-pager .e-mprev, .e-adaptive-demo .e-pager .e-mnext, .e-adaptive-demo .e-pager .e-mlast {
         border: 0;
         box-sizing: border-box;
         display: inline-block;
         padding: 1% 5%;
    }
     .e-adaptive-demo .e-pager .e-mfirst {
         margin-right: 4px;
         text-align: right;
         width: calc(10% + 11px);
    }
     .e-adaptive-demo .e-pager .e-mprev {
         margin: 0 4px;
         text-align: right;
         width: 10%;
    }
     .e-adaptive-demo .e-pager .e-mnext {
         margin: 0 4px;
         text-align: left;
         width: 10%;
    }
     .e-adaptive-demo .e-pager .e-mlast {
         margin-left: 4px;
         text-align: left;
         width: calc(10% + 11px);
    }
     .e-adaptive-demo .e-bigger .e-pager, .e-adaptive-demo .e-pager.e-bigger {
         padding: 19px 0;
    }
     .e-adaptive-demo .e-bigger .e-pager.e-rtl div.e-parentmsgbar, .e-adaptive-demo .e-pager.e-bigger.e-rtl div.e-parentmsgbar {
         margin-right: 0;
    }
     .e-adaptive-demo .e-bigger .e-pager div.e-parentmsgbar, .e-adaptive-demo .e-pager.e-bigger div.e-parentmsgbar {
         padding: 0;
    }
}
/*Dark theme layout*/
.tailwind-dark .e-mobile-layout,
.material-dark .e-mobile-layout,
.fabric-dark .e-mobile-layout,
.fluent-dark .e-mobile-layout,
.bootstrap-dark .e-mobile-layout,
.bootstrap5-dark .e-mobile-layout {
    border: 16px rgb(255 255 255 / 10%) solid;
    border-top-width: 58px;
    border-bottom-width: 58px;
}
.tailwind-dark .e-mobile-layout::before,
.tailwind-dark .e-mobile-layout::after,
.material-dark .e-mobile-layout::before,
.material-dark .e-mobile-layout::after,
.fabric-dark .e-mobile-layout::before,
.fabric-dark .e-mobile-layout::after,
.fluent-dark .e-mobile-layout::before,
.fluent-dark .e-mobile-layout::after,
.bootstrap-dark .e-mobile-layout::before,
.bootstrap-dark .e-mobile-layout::after,
.bootstrap5-dark .e-mobile-layout::before,
.bootstrap5-dark .e-mobile-layout::after {
    background: rgb(255 255 255  / 20%);
}

.fluent-dark .e-grid .e-gridheader {
    background-color: rgb(41, 40, 39);
}

 </style>
 @*End:Hidden*@
