@page "/tree-grid/command-column"

@using Syncfusion.Blazor.TreeGrid
@using Syncfusion.Blazor.Grids;

@*Hidden:Lines*@
@using TaskData
@inherits SampleBaseComponent;
@*End:Hidden*@

<SampleDescription>
    <p>
        This sample demonstrates the command column editing functionality in Tree Grid. CRUD operations can be performed using the action buttons available in the command column.
    </p>
</SampleDescription>

<ActionDescription>
    <p>
        Command column editing is configured using the <a target="_blank" href="https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.TreeGrid.TreeGridCommandColumn.html">TreeGridCommandColumn</a> component inside a <a target="_blank" href="https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.TreeGrid.TreeGridColumn.html">TreeGridColumn</a>.
    </p>

    <p>
        The available predefined command buttons are configured using the <a target="_blank" href="https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.TreeGrid.TreeGridCommandColumn.html#Syncfusion_Blazor_TreeGrid_TreeGridCommandColumn_Type">Type</a> property of <code>TreeGridCommandColumn</code>.
        The <code>Type</code> includes the following,
         <ul>
            <li><code>CommandButtonType.Edit </code></li>
            <li><code>CommandButtonType.Delete</code></li>
            <li><code>CommandButtonType.Cancel</code></li>
            <li><code>CommandButtonType.Save</code></li>
        </ul>
    </p>

    <p>
        In this demo, clicking the Edit, Delete, Save, or Cancel buttons in the command column allows you to manage records directly within the Tree Grid.
    </p>

    <p>
        More information about command column editing can be found in this 
        <a target="_blank" href="https://blazor.syncfusion.com/documentation/treegrid/editing/command-column-editing">documentation</a> section.
    </p>
</ActionDescription>


<div class="col-lg-12 control-section">
    <div class="content-wrapper">
        <div class="row">
            <SfTreeGrid DataSource="@TreeData" IdMapping="TaskID" ParentIdMapping="ParentID" TreeColumnIndex="1" AllowPaging="true" Height="400">
                <TreeGridPageSettings PageSize="2"></TreeGridPageSettings>
                <TreeGridEditSettings AllowAdding="true" AllowEditing="true" AllowDeleting="true" Mode="Syncfusion.Blazor.TreeGrid.EditMode.Row"></TreeGridEditSettings>
                <TreeGridColumns>
                    <TreeGridColumn Field="TaskID" HeaderText="Task ID" Width="80" ValidationRules="@(new ValidationRules() { Required=true, Number=true })" IsPrimaryKey="true" TextAlign="TextAlign.Right"></TreeGridColumn>
                    <TreeGridColumn Field="TaskName" ClipMode="ClipMode.EllipsisWithTooltip" HeaderText="Task Name" ValidationRules="@(new ValidationRules() { Required=true })" Width="165"></TreeGridColumn>
                    <TreeGridColumn Field="AssignedTo" HeaderText="Assigned" Width="145" EditorSettings="DurationParams"></TreeGridColumn>
                    <TreeGridColumn Field="Progress" HeaderText="Status" Width="100" EditType="Syncfusion.Blazor.Grids.EditType.DropDownEdit"></TreeGridColumn>
                    <TreeGridColumn Field="StartDate" HeaderText="Start Date" Format="dd/MM/yyyy" Type=ColumnType.Date Width="110" TextAlign="TextAlign.Right" EditType=EditType.DatePickerEdit></TreeGridColumn>
                    <TreeGridColumn Field="EndDate" HeaderText="End Date" Format="dd/MM/yyyy" Type=ColumnType.Date Width="110" TextAlign="TextAlign.Right" EditType=EditType.DatePickerEdit></TreeGridColumn>
                    <TreeGridColumn HeaderText="Manage Records" Width="140">
                        <TreeGridCommandColumns>
                            <TreeGridCommandColumn Type="CommandButtonType.Edit" ButtonOption="@(new CommandButtonOptions() {IconCss="e-icons e-edit", CssClass="e-flat" })"></TreeGridCommandColumn>
                            <TreeGridCommandColumn Type="CommandButtonType.Delete" ButtonOption="@(new CommandButtonOptions() {IconCss="e-icons e-delete", CssClass="e-flat" })"></TreeGridCommandColumn>
                            <TreeGridCommandColumn Type="CommandButtonType.Save" ButtonOption="@(new CommandButtonOptions() {IconCss="e-icons e-save", CssClass="e-flat" })"></TreeGridCommandColumn>
                            <TreeGridCommandColumn Type="CommandButtonType.Cancel" ButtonOption="@(new CommandButtonOptions() {IconCss="e-icons e-cancel-icon", CssClass="e-flat" })"></TreeGridCommandColumn>
                        </TreeGridCommandColumns>
                    </TreeGridColumn>
                </TreeGridColumns>
            </SfTreeGrid>
        </div>
    </div>
</div>

@code{

    private List<TaskData> TreeData { get; set; } = new List<TaskData>();
    
    private Syncfusion.Blazor.Grids.NumericEditCellParams DurationParams = new Syncfusion.Blazor.Grids.NumericEditCellParams()
    {
        Params = new Syncfusion.Blazor.Inputs.NumericTextBoxModel<object>() { Format = "N2", ShowSpinButton = true }
    };

    protected override void OnInitialized()
    {
        TreeData = TaskData.GetTree().ToList();
    }
}
