@page "/tree-grid/command-column"

@using Syncfusion.Blazor.TreeGrid
@using Syncfusion.Blazor.Grids;

@*Hidden:Lines*@
@using ej2_blazor_selfdata
@inherits SampleBaseComponent;
@inject NavigationManager NavigationManager


@*End:Hidden*@

<SampleDescription>
    <p>This sample shows CRUD operations in Tree Grid using the command column. You can perform CRUD operations as follows, </p>
    <ul><li><code>Edit</code> - To edit a record, double-click a row or click Edit button from command column.</li>
        <li><code>Delete</code> - To delete a record, click Delete button from command column.</li>
        <li><code>Update, Cancel</code> -You can save or discard changes by clicking Update and Cancel button from command column respectively.</li>
    </ul>
</SampleDescription>
<ActionDescription>
 <p>The Tree Grid allows you to display CRUD action buttons in a column by using the <a aria-label="Navigate to the class reference to tree grid command column" target='_blank' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.TreeGrid.TreeGridCommandColumn.html'>TreeGridCommandColumn</a> component of <a aria-label="Navigate to the class reference to tree grid column" target='_blank' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.TreeGrid.TreeGridColumn.html'>TreeGridColumn</a>. The predefined command button can be defined by setting the following values to <a aria-label="Navigate to the type property reference for tree grid command column" target='_blank' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.TreeGrid.TreeGridCommandColumn.html#Syncfusion_Blazor_TreeGrid_TreeGridCommandColumn_Type'>Type</a> property of <code>TreeGridCommandColumn</code>.</p>
    <ul><li><code>CommandButtonType.Edit </code></li>
        <li><code>CommandButtonType.Delete</code></li>
        <li><code>CommandButtonType.Cancel</code></li>
        <li><code>CommandButtonType.Save</code></li>
    </ul>
    <p>More information on command column feature can be found in this <a aria-label="Navigate to the documentation for the command column edition in the tree grid component" target='_blank' href='https://blazor.syncfusion.com/documentation/treegrid/editing/command-column-editing'>documentation</a> section.</p>
</ActionDescription>


<div class="col-lg-12 control-section">
    <div class="content-wrapper">
        <div class="row">
            <SfTreeGrid DataSource="@TreeData" IdMapping="TaskID" ParentIdMapping="ParentID" TreeColumnIndex="1" AllowPaging="true" Height="400">
                <TreeGridPageSettings PageSize="2"></TreeGridPageSettings>
                <TreeGridEditSettings AllowAdding="true" AllowEditing="true" AllowDeleting="true" Mode="Syncfusion.Blazor.TreeGrid.EditMode.Row"></TreeGridEditSettings>
                <TreeGridColumns>
                    <TreeGridColumn Field="TaskID" HeaderText="Task ID" Width="80" ValidationRules="@(new ValidationRules() { Required=true, Number=true })" IsPrimaryKey="true" TextAlign="TextAlign.Right"></TreeGridColumn>
                    <TreeGridColumn Field="TaskName" HeaderText="Task Name" ValidationRules="@(new ValidationRules() { Required=true })" Width="165"></TreeGridColumn>
                    <TreeGridColumn Field="StartDate" HeaderText="Start Date" Format="d" Type=ColumnType.Date Width="120" TextAlign="TextAlign.Right" EditType=EditType.DatePickerEdit></TreeGridColumn>
                    <TreeGridColumn Field="Duration" HeaderText="Duration" Width="100"  ValidationRules="@(new ValidationRules() { Number = true , Min = 0 })" TextAlign="TextAlign.Right" EditorSettings="DurationParams"></TreeGridColumn>
                    <TreeGridColumn Field="Progress" HeaderText="Progress" Width="110" EditType="Syncfusion.Blazor.Grids.EditType.DropDownEdit"></TreeGridColumn>
                    <TreeGridColumn HeaderText="Manage Records" Width="180">
                        <TreeGridCommandColumns>
                            <TreeGridCommandColumn Type="CommandButtonType.Edit" ButtonOption="@(new CommandButtonOptions() {IconCss="e-icons e-edit", CssClass="e-flat" })"></TreeGridCommandColumn>
                            <TreeGridCommandColumn Type="CommandButtonType.Delete" ButtonOption="@(new CommandButtonOptions() {IconCss="e-icons e-delete", CssClass="e-flat" })"></TreeGridCommandColumn>
                            <TreeGridCommandColumn Type="CommandButtonType.Save" ButtonOption="@(new CommandButtonOptions() {IconCss="e-icons e-save", CssClass="e-flat" })"></TreeGridCommandColumn>
                            <TreeGridCommandColumn Type="CommandButtonType.Cancel" ButtonOption="@(new CommandButtonOptions() {IconCss="e-icons e-cancel-icon", CssClass="e-flat" })"></TreeGridCommandColumn>
                        </TreeGridCommandColumns>
                    </TreeGridColumn>
                </TreeGridColumns>
            </SfTreeGrid>
        </div>
    </div>
</div>

@code{

    private List<SelfReferenceData> TreeData { get; set; }


    private Syncfusion.Blazor.Grids.NumericEditCellParams DurationParams = new Syncfusion.Blazor.Grids.NumericEditCellParams()
    {
        Params = new Syncfusion.Blazor.Inputs.NumericTextBoxModel<object>() { Format = "N2", ShowSpinButton = true }
    };

    protected override void OnInitialized()
    {

        this.TreeData = SelfReferenceData.GetTree().ToList();

    }
}
