@page "/tree-grid/exporting"

@using Syncfusion.Blazor.TreeGrid
@using Syncfusion.Blazor.Grids;

@*Hidden:Lines*@
@using ej2_blazor_selfdata
@inherits SampleBaseComponent;
@inject NavigationManager NavigationManager


@*End:Hidden*@

<SampleDescription>
    <p>This sample shows client-side exporting of the Tree Grid, which allows you to export its data to Excel, Pdf, and CSV formats. To export Tree Grid data to the desired format, use the toolbar buttons.</p>
</SampleDescription>
<ActionDescription>
    <p>In this demo, toolbar actions are defined in <a aria-label="Navigate to the OnToolbarClick event reference for tree grid component" target='_blank' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.TreeGrid.TreeGridEvents-1.html#Syncfusion_Blazor_TreeGrid_TreeGridEvents_1_OnToolbarClick'>OnToolbarClick</a> event to export the Tree Grid data using the <a aria-label="Navigate to the ExportToExcelAsync method reference for tree grid component" target='_blank' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.TreeGrid.SfTreeGrid-1.html#Syncfusion_Blazor_TreeGrid_SfTreeGrid_1_ExportToExcelAsync'>ExportToExcelAsync</a>, <a aria-label="Navigate to the ExportToPdfAsync method reference for tree grid component" target='_blank' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.TreeGrid.SfTreeGrid-1.html#Syncfusion_Blazor_TreeGrid_SfTreeGrid_1_ExportToPdfAsync'>ExportToPdfAsync</a>, and <a aria-label="Navigate to the ExportToCsvAsync method reference for tree grid component" target='_blank' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.TreeGrid.SfTreeGrid-1.html#Syncfusion_Blazor_TreeGrid_SfTreeGrid_1_ExportToCsvAsync_Syncfusion_Blazor_Grids_ExcelExportProperties_System_Nullable_System_Boolean__System_Object_System_Nullable_System_Boolean__'>ExportToCsvAsync</a> methods.</p>
    <p>More information on exporting can be found in <a aria-label="Navigate to the documentation for excel export in the tree grid component" target='_blank' href='https://blazor.syncfusion.com/documentation/treegrid/excel-export/'>Excel Export</a> and <a aria-label="Navigate to the documentation for pdf export in the tree grid component" target='_blank' href='https://blazor.syncfusion.com/documentation/treegrid/exporting/'>Pdf Export</a> documentation section.</p>
</ActionDescription>

<div class="col-lg-12 control-section">
    <div class="content-wrapper">
        <div class="row">
              <SfTreeGrid @ref="TreeGrid" AllowPdfExport="true" AllowExcelExport="true" DataSource="@TreeData" IdMapping="TaskID" ParentIdMapping="ParentID" Height="312" TreeColumnIndex="1" AllowPaging="true" Toolbar="@(new List<string>() { "PdfExport", "ExcelExport", "CsvExport" })">
                <TreeGridEvents OnToolbarClick="Toolbarclick" TValue="SelfReferenceData"></TreeGridEvents>
                <TreeGridPageSettings PageSize="2"></TreeGridPageSettings>
                <TreeGridColumns>
                    <TreeGridColumn Field="TaskID" HeaderText="Task ID" Width="100" IsPrimaryKey="true" TextAlign="@TextAlign.Right"></TreeGridColumn>
                    <TreeGridColumn Field="TaskName" HeaderText="Task Name" Width="170"></TreeGridColumn>
                    <TreeGridColumn Field="StartDate" HeaderText="Start Date" Format="d" Type=ColumnType.Date Width="140" TextAlign="@TextAlign.Right" EditType=EditType.DatePickerEdit></TreeGridColumn>
                    <TreeGridColumn Field="Duration" HeaderText="Duration" Format="n" Width="100" TextAlign="@TextAlign.Right"></TreeGridColumn>
                    <TreeGridColumn Field="Progress" HeaderText="Progress" Width="110"></TreeGridColumn>
                    <TreeGridColumn Field="Priority" HeaderText="Priority" Width="100"></TreeGridColumn>

                </TreeGridColumns>
            </SfTreeGrid>

        </div>
    </div>
</div>

@code{

    private SfTreeGrid<SelfReferenceData> TreeGrid;

    private List<SelfReferenceData> TreeData { get; set; }


    protected override void OnInitialized()
    {

        this.TreeData = SelfReferenceData.GetTree().ToList();
    }

    public async Task Toolbarclick(Syncfusion.Blazor.Navigations.ClickEventArgs args)
    {
        if (args.Item.Text == "PDF Export")
        {
            await this.TreeGrid.ExportToPdfAsync();
        }
        else if (args.Item.Text == "Excel Export")
        {
            await this.TreeGrid.ExportToExcelAsync();
        }
        else if (args.Item.Text == "CSV Export")
        {
            await this.TreeGrid.ExportToCsvAsync();
        }
    }
}
