@page "/tree-grid/exporting"

@using Syncfusion.Blazor.Grids
@using Syncfusion.Blazor.TreeGrid
@using Syncfusion.Blazor.Navigations

@*Hidden:Lines*@
@using BillOfMaterials
@inherits SampleBaseComponent;
@*End:Hidden*@
<SampleDescription>
    <p>This sample demonstrates client-side exporting in the Tree Grid to generate Excel, PDF, and CSV files from hierarchical data using built-in commands and APIs.</p>
</SampleDescription>

<ActionDescription>
    <p>
        Exporting is enabled by setting the <a target="_blank" href="https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.TreeGrid.SfTreeGrid-1.html#Syncfusion_Blazor_TreeGrid_SfTreeGrid_1_AllowPdfExport">AllowPdfExport</a> and <a target="_blank" href="https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.TreeGrid.SfTreeGrid-1.html#Syncfusion_Blazor_TreeGrid_SfTreeGrid_1_AllowExcelExport">AllowExcelExport</a> properties to <b>true</b>.
    </p>
    <p>
        In this demo, the toolbar includes <b>PDF Export</b>, <b>Excel Export</b>, and <b>CSV Export</b> buttons. Click actions are handled in the <a target="_blank" href="https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.TreeGrid.TreeGridEvents-1.html#Syncfusion_Blazor_TreeGrid_TreeGridEvents_1_OnToolbarClick">OnToolbarClick</a> event, which triggers the corresponding export methods: <a target="_blank" href="https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.TreeGrid.SfTreeGrid-1.html#Syncfusion_Blazor_TreeGrid_SfTreeGrid_1_ExportToPdfAsync">ExportToPdfAsync</a>, <a target="_blank" href="https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.TreeGrid.SfTreeGrid-1.html#Syncfusion_Blazor_TreeGrid_SfTreeGrid_1_ExportToExcelAsync">ExportToExcelAsync</a>, and <a target="_blank" href="https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.TreeGrid.SfTreeGrid-1.html#Syncfusion_Blazor_TreeGrid_SfTreeGrid_1_ExportToCsvAsync_Syncfusion_Blazor_Grids_ExcelExportProperties_">ExportToCsvAsync</a>.
    </p>
    <p>
        More information about exporting can be found in the
        <a target="_blank" href="https://blazor.syncfusion.com/documentation/treegrid/excel-export/">Excel Export</a> and
        <a target="_blank" href="https://blazor.syncfusion.com/documentation/treegrid/exporting/">PDF Export</a> documentation sections.
    </p>
</ActionDescription>

<div class="col-lg-12 control-section">
    <div class="content-wrapper">
        <div class="row">
            <SfTreeGrid  ID="TreeGrid" @ref="TreeGridInstance" DataSource="@TreeData" IdMapping="ItemId" ParentIdMapping="ParentId" Height="312" TreeColumnIndex="1" AllowPdfExport="true" AllowExcelExport="true" Toolbar="@(new List<string>() { "PdfExport", "ExcelExport", "CsvExport" })">
                <TreeGridEvents TValue="BomItem" OnToolbarClick="Toolbarclick" />
                <TreeGridColumns>
                    <TreeGridColumn Field="ItemId" HeaderText="Part Number" Width="100" IsPrimaryKey="true" />
                    <TreeGridColumn Field="Name" HeaderText="Description" ClipMode="ClipMode.EllipsisWithTooltip" Width="160"></TreeGridColumn>
                    <TreeGridColumn Field="Qty" HeaderText="Quantity" Width="100" TextAlign="@TextAlign.Right" Format="N0" />
                    <TreeGridColumn Field="MakeBuy" HeaderText="Source" Width="100" TextAlign="@TextAlign.Left"></TreeGridColumn>
                    <TreeGridColumn Field="UnitCost" HeaderText="Unit Cost" Width="100" TextAlign="@TextAlign.Right" Format="C2"></TreeGridColumn>
                </TreeGridColumns>
            </SfTreeGrid>
        </div>
    </div>
</div>

@code {
    private SfTreeGrid<BomItem> TreeGridInstance = default!;
    private List<BomItem> TreeData = new();

    protected override void OnInitialized()
    {
        TreeData = BillOfMaterials.GetBomData();
    }


    public async Task Toolbarclick(Syncfusion.Blazor.Navigations.ClickEventArgs args)
    {
        if (args.Item.Id == "TreeGrid_gridcontrol_pdfexport")
        {
            await TreeGridInstance.ExportToPdfAsync();
        }
        else if (args.Item.Id == "TreeGrid_gridcontrol_excelexport")
        {
            await TreeGridInstance.ExportToExcelAsync();
        }
        else if (args.Item.Id == "TreeGrid_gridcontrol_csvexport")
        {
            await TreeGridInstance.ExportToCsvAsync();
        }
    }
}