@page "/tree-grid/header-template"

@using Syncfusion.Blazor.TreeGrid
@using Syncfusion.Blazor.Grids
@*Hidden:Lines*@
@inject Microsoft.AspNetCore.Components.NavigationManager UriHelper
@using ej2_blazor_wrapdata
@inherits SampleBaseComponent;


@*End:Hidden*@

<SampleDescription>
    <p>This sample demonstrates Tree Grid header template feature. In this sample, custom icons have been shown in the column headers.</p>
</SampleDescription>
<ActionDescription>
    <p>By using the <a aria-label="Navigate to the Header Template reference for tree grid column" target='_blank' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.TreeGrid.TreeGridColumn.html#Syncfusion_Blazor_TreeGrid_TreeGridColumn_HeaderTemplate'>HeaderTemplate</a> component of <a aria-label="Navigate to the class reference for tree grid column" target='_blank' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.TreeGrid.TreeGridColumn.html'>TreeGridColumn</a>, cusom content can be placed. In this demo, customized template is rendered for all column headers.</p>
    <p>More information on the header template can be found in this <a aria-label="Navigate to the documentation for the header template in the tree grid column" target='_blank' href='https://blazor.syncfusion.com/documentation/treegrid/columns/columns#header-template'>documentation section</a>.</p>
</ActionDescription>

<div class="col-lg-12 control-section">
    <div class="content-wrapper">
        <div class="row">
            <SfTreeGrid DataSource="@TreeData" IdMapping="TaskId" ParentIdMapping="ParentId" TreeColumnIndex="0" Height="312">
                <TreeGridColumns>
                    <TreeGridColumn Field="TaskName" HeaderText="Task Name" Width="270">
                        <HeaderTemplate>
                            @{
                                <div class="image">
                                    <img src="@UriHelper.ToAbsoluteUri($"{SampleService.WebAssetsPath}images/tree-grid/task-name.png")" width="20" height="20" class="taskName" style="margin-right: 8px; padding-bottom: 1px" alt="Task Name Icon" />Task Name
                                </div>
                            }
                        </HeaderTemplate>
                    </TreeGridColumn>
                    <TreeGridColumn Field="StartDate" HeaderText="Start Date" Width="120" Type=ColumnType.Date Format="d" TextAlign="TextAlign.Right">
                        <HeaderTemplate>
                            <div class="image">
                                <img src="@UriHelper.ToAbsoluteUri($"{SampleService.WebAssetsPath}images/tree-grid/start-name.png")" width="20" height="20" class="startDate" style="margin-right: 8px; padding-bottom: 1px" alt="Calendar Icon" />Start Date
                            </div>
                        </HeaderTemplate>
                    </TreeGridColumn>
                    <TreeGridColumn Field="Resources" HeaderText="Resources" Width="120" TextAlign="TextAlign.Right">
                        <HeaderTemplate>
                            @{
                                <div class="image">
                                    <img src="@UriHelper.ToAbsoluteUri($"{SampleService.WebAssetsPath}images/tree-grid/resources.png")" width="20" height="20" class="resources" style="margin-right: 8px; padding-bottom: 1px" alt="Resources Icon" />Resources
                                </div>
                            }
                        </HeaderTemplate>
                    </TreeGridColumn>
                    <TreeGridColumn Field="Duration" HeaderText="Duration" Width="120" TextAlign="TextAlign.Right">
                        <HeaderTemplate>
                            @{
                                <div class="image">
                                    <img src="@UriHelper.ToAbsoluteUri($"{SampleService.WebAssetsPath}images/tree-grid/duration.png")" width="20" height="20" class="duration" style="margin-right: 8px; padding-bottom: 2px" alt="Timer Icon" />Duration
                                </div>
                            }
                        </HeaderTemplate>
                    </TreeGridColumn>
                    <TreeGridColumn Field="Progress" HeaderText="Progress" Width="120" >
                        <HeaderTemplate>
                            @{
                                <div class="image">
                                    <img src="@UriHelper.ToAbsoluteUri($"{SampleService.WebAssetsPath}images/tree-grid/progress.png")" width="20" height="20" class="Progress" style="margin-right: 8px; padding-bottom: 2px" alt="Progress Icon" />Progress
                                </div>
                            }
                        </HeaderTemplate>
                    </TreeGridColumn>
                </TreeGridColumns>
            </SfTreeGrid>
        </div>
    </div>
</div>

@*Hidden:Lines*@
  <style>
    .bootstrap5-dark img.taskName, .bootstrap5 img.taskName, .bootstrap5-dark img.startDate, .bootstrap5 img.startDate,
    .bootstrap5-dark img.resources, .bootstrap5 img.resources, .bootstrap5-dark img.duration, .bootstrap5 img.duration,
    .bootstrap5-dark img.Progress, .bootstrap5 img.Progress, .tailwind img.taskName, .tailwind img.startDate,
    .tailwind img.duration, .tailwind img.resources, .tailwind img.Progress  {
       padding-bottom: 3px !important;
    }

    .bootstrap5-dark img.taskName, .material-dark img.taskName, .fabric-dark img.taskName, .bootstrap-dark img.taskName,
    .bootstrap4-dark img.taskName, .tailwind-dark img.taskName, .highcontrast img.taskName, .fluent-dark img.taskName, .material3-dark img.taskName, .fluent2-dark img.taskName, .fluent2-highcontrast img.taskName {
       content: url(@UriHelper.ToAbsoluteUri($"{SampleService.WebAssetsPath}images/tree-grid/task-name-dark.png"));
    }

    .bootstrap5-dark img.startDate, .material-dark img.startDate, .fabric-dark img.startDate, .bootstrap-dark img.startDate,
    .bootstrap4-dark img.startDate, .tailwind-dark img.startDate, .highcontrast img.startDate, .fluent-dark img.startDate, .material3-dark img.startDate, .fluent2-dark img.startDate, .fluent2-highcontrast img.startDate {
       content: url(@UriHelper.ToAbsoluteUri($"{SampleService.WebAssetsPath}images/tree-grid/start-date-dark.png"));
    }

    .bootstrap5-dark img.resources, .material-dark img.resources, .fabric-dark img.resources, .bootstrap-dark img.resources,
    .bootstrap4-dark img.resources, .tailwind-dark img.resources, .highcontrast img.resources, .fluent-dark img.resources, .material3-dark img.resources, .fluent2-dark img.resources, .fluent2-highcontrast img.resources {
       content: url(@UriHelper.ToAbsoluteUri($"{SampleService.WebAssetsPath}images/tree-grid/resources-dark.png"));
    }

    .bootstrap5-dark img.duration, .material-dark img.duration, .fabric-dark img.duration, .bootstrap-dark img.duration,
    .bootstrap4-dark img.duration, .tailwind-dark img.duration, .highcontrast img.duration, .fluent-dark img.duration, .material3-dark img.duration, .fluent2-dark img.duration, .fluent2-highcontrast img.duration {
       content: url(@UriHelper.ToAbsoluteUri($"{SampleService.WebAssetsPath}images/tree-grid/duration-dark.png"));
    }

    .bootstrap5-dark img.Progress, .material-dark img.Progress, .fabric-dark img.Progress, .bootstrap-dark img.Progress,
    .bootstrap4-dark img.Progress, .tailwind-dark img.Progress, .highcontrast img.Progress, .fluent-dark img.Progress, .material3-dark img.Progress, .fluent2-dark img.Progress, .fluent2-highcontrast img.Progress {
       content: url(@UriHelper.ToAbsoluteUri($"{SampleService.WebAssetsPath}images/tree-grid/progress-dark.png"));
    }
  </style>
@*End:Hidden*@

@code {

    private IEnumerable<WrapData> TreeData { get; set; }


    protected override void OnInitialized()
    {

        this.TreeData = WrapData.GetWrapData().ToList();
    }
}

