@page "/treemap/drill-down"

@using Syncfusion.Blazor
@using Syncfusion.Blazor.TreeMap
@using Syncfusion.Blazor.DropDowns
@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.Inputs
@using ThemeHelper
@inject NavigationManager NavigationManager
@*Hidden:Lines*@
@inherits SampleBaseComponent


@*End:Hidden*@

<SampleDescription>
    <p>This sample demonstrates drill-down, beginning with continents and progressing to countries and states. By selecting a continent from the TreeMap, you can clearly see all of the countries available in that continent. Similarly, by selecting a country, you can see all of its states.</p>
</SampleDescription>
<ActionDescription>
    <p>In this example, you can see how to render and configure a TreeMap with multiple items, as well as drill-down and drill-up functionality. You can also change the drill-down view, customize the breadcrumb, and change the header alignment using the options in the properties panel.</p>
    <p>More information about drill-down can be found in this <a target='_blank' href='https://blazor.syncfusion.com/documentation/treemap/drill-down' aria-label="Blazor TreeMap Drilldown documentation" >documentation section</a>.</p>
</ActionDescription>

<div class="col-lg-9 control-section sb-property-border">
    <SfTreeMap WeightValuePath="Population" EnableDrillDown="true" DrillDownView="@DrilldownCheckBoxValue" EnableBreadcrumb="@AllowBreadcrumb" BreadcrumbConnector="@BreadCrumbConnector" Palette="@Palette"
               DataSource="@WorldPopulation" Theme="@Theme">
        <TreeMapTitleSettings Text="Most Populated Continents 2021">
            <TreeMapTitleTextStyle Size="15px" FontFamily="Segoe UI" />
        </TreeMapTitleSettings>
        <TreeMapLeafItemSettings LabelPath=Name Fill="6699cc" ShowLabels="false">
            <TreeMapLeafLabelStyle Size="0px" />
            <TreeMapLeafBorder Color="#000000" Width="0.5" />
        </TreeMapLeafItemSettings>
        <TreeMapLevels>
            <TreeMapLevel GroupPath="Continent" HeaderAlignment="@Header">
                <TreeMapLevelBorder Color="#000000" Width="0.5" />
                <TreeMapHeaderStyle FontFamily="Segoe UI"></TreeMapHeaderStyle>
            </TreeMapLevel>
            <TreeMapLevel GroupPath="Country" HeaderAlignment="@Header">
                <TreeMapLevelBorder Color="#000000" Width="0.5" />
                <TreeMapHeaderStyle FontFamily="Segoe UI"></TreeMapHeaderStyle>
            </TreeMapLevel>
            <TreeMapLevel GroupPath="State" HeaderAlignment="@Label">
                <TreeMapLevelBorder Color="#000000" Width="0.5" />
                <TreeMapHeaderStyle FontFamily="Segoe UI"></TreeMapHeaderStyle>
            </TreeMapLevel>
        </TreeMapLevels>
    </SfTreeMap>
    <div class="urllink">
        Source:
        <a href=" https=//en.wikipedia.org/wiki/United_States_presidential_election,_2016" target="_blank">en.wikipedia.org</a>
    </div>
</div>
<div id="drilldown" class="col-lg-3 property-section">
    <div class="property-panel-section">
        <div class="property-panel-header">Properties</div>
        <div class="property-panel-content">
            <table style="width:100%" title="Properties">
                <tbody>
                    <tr>
                        <td class="property-text">
                            Drilldown View
                        </td>
                        <td>
                            <div style="padding-left:10px;">
                                <SfCheckBox Checked="@DrilldownCheckBoxValue" ValueChange="DrilldownEnable" TChecked="bool" />
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="property-text">
                            <div class="property-text">Enable Breadcrumb</div>
                        </td>
                        <td>
                            <div style="padding-left:10px;">
                                <SfCheckBox Checked="@AllowBreadcrumb" ValueChange="BreadEnable" TChecked="bool" />
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="property-text">Breadcrumb Connector</div>
                        </td>
                        <td style="padding-left:10px">
                            <div>
                                <SfTextBox Value=" - " Enabled="@AllowBreadcrumb" OnChange="BreadcrumbChange" Width="100%"></SfTextBox>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Header Alignment
                        </td>
                        <td style="padding-left:10px">
                            <SfDropDownList Placeholder="Select smartlabel mode" DataSource="@HeaderAlignment" @bind-Value="@headerAlignmentValue" Width="100%">
                                <DropDownListEvents TValue="string" TItem="HeaderDropDownList" ValueChange="HeaderAlignmentvaluechange" />
                                <DropDownListFieldSettings Text="Name" Value="Value" />
                            </SfDropDownList>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<style>
    tr {
        height: 50px;
    }

    td {
        width: 50%;
    }

    .fluent2 #drilldown .property-panel-content .e-checkbox-wrapper .e-icons, .fluent2-dark #drilldown .property-panel-content .e-checkbox-wrapper .e-icons {
        margin-left: 0px
    }
</style>
@code {
    public Theme Theme { get; set; }
    public bool DrilldownCheckBoxValue = true;
    public string BreadCrumbConnector = " - ";
    public bool AllowBreadcrumb = true;
    public Alignment Label = Alignment.Near;
    public Alignment Header = Alignment.Near;
    public string headerAlignmentValue = "Near";
    
    protected override void OnInitialized()
    {
        
        Theme = ThemeHelper.GetCurrentTheme(NavigationManager.Uri);
    }
    public void HeaderAlignmentvaluechange(Syncfusion.Blazor.DropDowns.ChangeEventArgs<string, HeaderDropDownList> args)
    {
        headerAlignmentValue = args.Value;
        if (args.Value == "Near")
        {
            Header = Alignment.Near;
        }
        else if (args.Value == "Far")
        {
            Header = Alignment.Far;
        }
        else
        {
            Header = Alignment.Center;
        }
    }
    public void BreadcrumbChange(Microsoft.AspNetCore.Components.ChangeEventArgs args)
    {
        BreadCrumbConnector = args.Value.ToString();
    }
    public class HeaderDropDownList
    {
        public string Value { get; set; }
        public string Name { get; set; }
    };
    public List<HeaderDropDownList> HeaderAlignment = new List<HeaderDropDownList> {
        new HeaderDropDownList { Value="Near", Name="Near" },
        new HeaderDropDownList { Value="Far", Name="Far" },
        new HeaderDropDownList { Value="Center", Name="Center" }
    };
    public void DrilldownEnable(Syncfusion.Blazor.Buttons.ChangeEventArgs<bool> args)
    {
        DrilldownCheckBoxValue = args.Checked;
    }
    public void BreadEnable(Syncfusion.Blazor.Buttons.ChangeEventArgs<bool> args)
    {
        AllowBreadcrumb = args.Checked;
    }
    public string[] Palette = new string[] { "#9999ff", "#CCFF99", "#FFFF99", "#FF9999", "#FF99FF", "#FFCC66" };

    public class WorldPopulationDetails
    {
        public string Continent { get; set; }
        public string Country { get; set; }
        public string State { get; set; }
        public double Population { get; set; }
    }

    List<WorldPopulationDetails> WorldPopulation = new List<WorldPopulationDetails>() {
        new WorldPopulationDetails() { Continent = "Asia", Country = "India", State = "Uttar Pradesh", Population = 199812.341 },
        new WorldPopulationDetails() { Continent = "Asia", Country = "India", State = "Maharashtra", Population = 112374.333 },
        new WorldPopulationDetails() { Continent = "Asia", Country = "India", State = "Bihar", Population = 104099.452 },
        new WorldPopulationDetails() { Continent = "Asia", Country = "India", State = "West Bengal", Population = 91276.115 },
        new WorldPopulationDetails() { Continent = "Asia", Country = "India", State = "Madhya Pradesh", Population = 72626.809 },
        new WorldPopulationDetails() { Continent = "Asia", Country = "India", State = "Tamil Nadu", Population = 72147.03 },
        new WorldPopulationDetails() { Continent = "Asia", Country = "India", State = "Rajasthan", Population = 68548.437 },
        new WorldPopulationDetails() { Continent = "Asia", Country = "India", State = "Karnataka", Population = 61095.297 },
        new WorldPopulationDetails() { Continent = "Asia", Country = "India", State = "Gujarat", Population = 60439.692 },
        new WorldPopulationDetails() { Continent = "Asia", Country = "India", State = "Andhra Pradesh", Population = 49576.777 },
        new WorldPopulationDetails() { Continent = "Asia", Country = "India", State = "Odisha", Population = 41974.218 },
        new WorldPopulationDetails() { Continent = "Asia", Country = "India", State = "Telangana", Population = 35004 },
        new WorldPopulationDetails() { Continent = "Asia", Country = "India", State = "Kerala", Population = 33406.061 },
        new WorldPopulationDetails() { Continent = "Asia", Country = "India", State = "Jharkhand", Population = 32988.134 },
        new WorldPopulationDetails() { Continent = "Asia", Country = "India", State = "Assam", Population = 31205.576 },
        new WorldPopulationDetails() { Continent = "Asia", Country = "India", State = "Punjab", Population = 27743.338 },
        new WorldPopulationDetails() { Continent = "Asia", Country = "India", State = "Chhattisgarh", Population = 25545.198 },
        new WorldPopulationDetails() { Continent = "Asia", Country = "India", State = "Haryana", Population = 25351.462 },
        new WorldPopulationDetails() { Continent = "Asia", Country = "India", State = "Delhi", Population = 16787.941 },
        new WorldPopulationDetails() { Continent = "Asia", Country = "India", State = "Jammu & Kashmir", Population = 12258.433 },
        new WorldPopulationDetails() { Continent = "Asia", Country = "India", State = "Uttarakhand", Population = 10086.292 },
        new WorldPopulationDetails() { Continent = "Asia", Country = "India", State = "Himachal Pradesh", Population = 6864.602 },
        new WorldPopulationDetails() { Continent = "Asia", Country = "India", State = "Tripura", Population = 3673.917 },
        new WorldPopulationDetails() { Continent = "Asia", Country = "India", State = "Meghalaya", Population = 2966.889 },
        new WorldPopulationDetails() { Continent = "Asia", Country = "India", State = "Manipur", Population = 2855.794 },
        new WorldPopulationDetails() { Continent = "Asia", Country = "India", State = "Nagaland", Population = 1978.502 },
        new WorldPopulationDetails() { Continent = "Asia", Country = "India", State = "Goa", Population = 1458.545 },
        new WorldPopulationDetails() { Continent = "Asia", Country = "India", State = "Arunachal Pradesh", Population = 1383.727 },
        new WorldPopulationDetails() { Continent = "Asia", Country = "India", State = "Puducherry", Population = 1247.953 },
        new WorldPopulationDetails() { Continent = "Asia", Country = "India", State = "Mizoram", Population = 1097.206 },
        new WorldPopulationDetails() { Continent = "Asia", Country = "India", State = "Chandigarh", Population = 1055.45 },
        new WorldPopulationDetails() { Continent = "Asia", Country = "India", State = "Sikkim", Population = 610.577 },
        new WorldPopulationDetails() { Continent = "Asia", Country = "China", State = "Guangdong", Population = 126010 },
        new WorldPopulationDetails() { Continent = "Asia", Country = "China", State = "Shandong", Population = 101530 },
        new WorldPopulationDetails() { Continent = "Asia", Country = "China", State = "Henan", Population = 99370 },
        new WorldPopulationDetails() { Continent = "Asia", Country = "China", State = "Jiangsu", Population = 84750 },
        new WorldPopulationDetails() { Continent = "Asia", Country = "China", State = "Sichuan", Population = 83670 },
        new WorldPopulationDetails() { Continent = "Asia", Country = "China", State = "Hebei", Population = 74610 },
        new WorldPopulationDetails() { Continent = "Asia", Country = "China", State = "Hunan", Population = 66440 },
        new WorldPopulationDetails() { Continent = "Asia", Country = "China", State = "Zheijiang", Population = 64570 },
        new WorldPopulationDetails() { Continent = "Asia", Country = "China", State = "Anhui", Population = 61030 },
        new WorldPopulationDetails() { Continent = "Asia", Country = "China", State = "Hubei", Population = 57750 },
        new WorldPopulationDetails() { Continent = "Asia", Country = "China", State = "Guangxi", Population = 50130 },
        new WorldPopulationDetails() { Continent = "Asia", Country = "China", State = "Yunnan", Population = 47210 },
        new WorldPopulationDetails() { Continent = "Asia", Country = "China", State = "Jiangsi", Population = 45190 },
        new WorldPopulationDetails() { Continent = "Asia", Country = "China", State = "Liaoning", Population = 42590 },
        new WorldPopulationDetails() { Continent = "Asia", Country = "China", State = "Fujian", Population = 41540 },
        new WorldPopulationDetails() { Continent = "Asia", Country = "China", State = "Shaanxi", Population = 39530 },
        new WorldPopulationDetails() { Continent = "Asia", Country = "China", State = "Guizhou", Population = 38560 },
        new WorldPopulationDetails() { Continent = "Asia", Country = "China", State = "Shanxi", Population = 34920 },
        new WorldPopulationDetails() { Continent = "Asia", Country = "China", State = "Chongqing", Population = 32050 },
        new WorldPopulationDetails() { Continent = "Asia", Country = "China", State = "Heilongjiang", Population = 31850 },
        new WorldPopulationDetails() { Continent = "Asia", Country = "China", State = "Xinjiang", Population = 25850 },
        new WorldPopulationDetails() { Continent = "Asia", Country = "China", State = "Gansu", Population = 25020 },
        new WorldPopulationDetails() { Continent = "Asia", Country = "China", State = "Shanghai", Population = 24870 },
        new WorldPopulationDetails() { Continent = "Asia", Country = "China", State = "Jilin", Population = 24070 },
        new WorldPopulationDetails() { Continent = "Asia", Country = "China", State = "Inner Mongolia", Population = 24040 },
        new WorldPopulationDetails() { Continent = "Asia", Country = "China", State = "Beijing", Population = 21890 },
        new WorldPopulationDetails() { Continent = "Asia", Country = "China", State = "Tianjin", Population = 13870 },
        new WorldPopulationDetails() { Continent = "Asia", Country = "China", State = "Hainan", Population = 10080 },
        new WorldPopulationDetails() { Continent = "Asia", Country = "China", State = "Ningxia", Population = 7200 },
        new WorldPopulationDetails() { Continent = "Asia", Country = "China", State = "Qinghai", Population = 59200 },
        new WorldPopulationDetails() { Continent = "Asia", Country = "China", State = "Tibet", Population = 36500 },
        new WorldPopulationDetails() { Continent = "Asia", Country = "Indonesia", Population = 273523.615 },
        new WorldPopulationDetails() { Continent = "Asia", Country = "Pakistan", Population = 220892.34 },
        new WorldPopulationDetails() { Continent = "Asia", Country = "Bangladesh", Population = 164689.383 },
        new WorldPopulationDetails() { Continent = "Asia", Country = "Japan", Population = 126476.461 },
        new WorldPopulationDetails() { Continent = "Asia", Country = "Philippines", Population = 109581.078 },
        new WorldPopulationDetails() { Continent = "Asia", Country = "Vietnam", Population = 97338.579 },
        new WorldPopulationDetails() { Continent = "Asia", Country = "Turkey", Population = 84339.067 },
        new WorldPopulationDetails() { Continent = "Asia", Country = "Iran", Population = 83992.949 },
        new WorldPopulationDetails() { Continent = "Asia", Country = "Thailand", Population = 69799.978 },
        new WorldPopulationDetails() { Continent = "Asia", Country = "Myanmar", Population = 54409.8 },
        new WorldPopulationDetails() { Continent = "Asia", Country = "South Korea", Population = 51269.185 },
        new WorldPopulationDetails() { Continent = "Asia", Country = "Iraq", Population = 40222.493 },
        new WorldPopulationDetails() { Continent = "Asia", Country = "Afghanistan", Population = 38928.346 },
        new WorldPopulationDetails() { Continent = "Asia", Country = "Saudi Arabia", Population = 34813.871 },
        new WorldPopulationDetails() { Continent = "Asia", Country = "Uzbekistan", Population = 33469.203 },
        new WorldPopulationDetails() { Continent = "Asia", Country = "Malaysia", Population = 32365.999 },
        new WorldPopulationDetails() { Continent = "Asia", Country = "Yemen", Population = 29825.964 },
        new WorldPopulationDetails() { Continent = "Asia", Country = "Nepal", Population = 29136.808 },
        new WorldPopulationDetails() { Continent = "Asia", Country = "Tajikistan", Population = 25778.816 },
        new WorldPopulationDetails() { Continent = "Asia", Country = "Israel", Population = 8655.535 },
        new WorldPopulationDetails() { Continent = "Asia", Country = "Hong Kong", Population = 7496.981 },
        new WorldPopulationDetails() { Continent = "Asia", Country = "Laos", Population = 7275.56 },
        new WorldPopulationDetails() { Continent = "Asia", Country = "Lebanon", Population = 6825.445 },
        new WorldPopulationDetails() { Continent = "Asia", Country = "Kyrgyzstan", Population = 6524.195 },
        new WorldPopulationDetails() { Continent = "Asia", Country = "Turkmenistan", Population = 6031.2 },
        new WorldPopulationDetails() { Continent = "Asia", Country = "Singapore", Population = 5850.342 },
        new WorldPopulationDetails() { Continent = "Asia", Country = "State of Palestine", Population = 5101.414 },
        new WorldPopulationDetails() { Continent = "Asia", Country = "Oman", Population = 5106.626 },
        new WorldPopulationDetails() { Continent = "Asia", Country = "Kuwait", Population = 4270.571 },
        new WorldPopulationDetails() { Continent = "Asia", Country = "Georgia", Population = 3989.167 },
        new WorldPopulationDetails() { Continent = "Asia", Country = "Mongolia", Population = 3278.29 },
        new WorldPopulationDetails() { Continent = "Asia", Country = "Armenia", Population = 2963.243 },
        new WorldPopulationDetails() { Continent = "Asia", Country = "Qatar", Population = 2881.053 },
        new WorldPopulationDetails() { Continent = "Africa", Country = "Nigeria", State = "Lagos", Population = 14862 },
        new WorldPopulationDetails() { Continent = "Africa", Country = "Nigeria", State = "Kano", Population = 4103 },
        new WorldPopulationDetails() { Continent = "Africa", Country = "Nigeria", State = "Ibadan", Population = 3649 },
        new WorldPopulationDetails() { Continent = "Africa", Country = "Nigeria", State = "Kaduna", Population = 1133 },
        new WorldPopulationDetails() { Continent = "Africa", Country = "Nigeria", State = "Port Harcourt", Population = 3171 },
        new WorldPopulationDetails() { Continent = "Africa", Country = "Nigeria", State = "Benin City", Population = 1782 },
        new WorldPopulationDetails() { Continent = "Africa", Country = "Nigeria", State = "Maiduguri", Population = 803 },
        new WorldPopulationDetails() { Continent = "Africa", Country = "Nigeria", State = "Zaria", Population = 736 },
        new WorldPopulationDetails() { Continent = "Africa", Country = "Nigeria", State = "Aba", Population = 1114 },
        new WorldPopulationDetails() { Continent = "Africa", Country = "Nigeria", State = "Jos", Population = 917 },
        new WorldPopulationDetails() { Continent = "Africa", Country = "Nigeria", State = "Ilorin", Population = 974 },
        new WorldPopulationDetails() { Continent = "Africa", Country = "Nigeria", State = "Oyo", Population = 441 },
        new WorldPopulationDetails() { Continent = "Africa", Country = "Nigeria", State = "Uyo", Population = 1200 },
        new WorldPopulationDetails() { Continent = "Africa", Country = "Nigeria", State = "Enugu", Population = 795 },
        new WorldPopulationDetails() { Continent = "Africa", Country = "Nigeria", State = "Lokoja", Population = 741 },
        new WorldPopulationDetails() { Continent = "Africa", Country = "Nigeria", State = "Abuja", Population = 3464 },
        new WorldPopulationDetails() { Continent = "Africa", Country = "Nigeria", State = "Sokoto", Population = 662 },
        new WorldPopulationDetails() { Continent = "Africa", Country = "Nigeria", State = "Onitsha", Population = 1483 },
        new WorldPopulationDetails() { Continent = "Africa", Country = "Nigeria", State = "Warri", Population = 899 },
        new WorldPopulationDetails() { Continent = "Africa", Country = "Nigeria", State = "Ikorodu", Population = 989 },
        new WorldPopulationDetails() { Continent = "Africa", Country = "Nigeria", State = "Okene", Population = 478 },
        new WorldPopulationDetails() { Continent = "Africa", Country = "Nigeria", State = "Igbidu", Population = 465 },
        new WorldPopulationDetails() { Continent = "Africa", Country = "Nigeria", State = "Calabar", Population = 605 },
        new WorldPopulationDetails() { Continent = "Africa", Country = "Nigeria", State = "Katsina", Population = 487 },
        new WorldPopulationDetails() { Continent = "Africa", Country = "Nigeria", State = "Ado Ekiti", Population = 497 },
        new WorldPopulationDetails() { Continent = "Africa", Country = "Nigeria", State = "Akure", Population = 691 },
        new WorldPopulationDetails() { Continent = "Africa", Country = "Nigeria", State = "Bauchi", Population = 621 },
        new WorldPopulationDetails() { Continent = "Africa", Country = "Nigeria", State = "Ikeja", Population = 313.196 },
        new WorldPopulationDetails() { Continent = "Africa", Country = "Nigeria", State = "Makurdi", Population = 422 },
        new WorldPopulationDetails() { Continent = "Africa", Country = "Nigeria", State = "Minna", Population = 463 },
        new WorldPopulationDetails() { Continent = "Africa", Country = "Nigeria", State = "Effon Alaaye", Population = 396 },
        new WorldPopulationDetails() { Continent = "Africa", Country = "Nigeria", State = "Ilesa", Population = 371 },
        new WorldPopulationDetails() { Continent = "Africa", Country = "Nigeria", State = "Umuahia", Population = 817 },
        new WorldPopulationDetails() { Continent = "Africa", Country = "Nigeria", State = "Ondo", Population = 445 },
        new WorldPopulationDetails() { Continent = "Africa", Country = "Nigeria", State = "Ikot Ekpene", Population = 254.806 },
        new WorldPopulationDetails() { Continent = "Africa", Country = "Nigeria", State = "Ife", Population = 385 },
        new WorldPopulationDetails() { Continent = "Africa", Country = "Nigeria", State = "Gombe", Population = 529 },
        new WorldPopulationDetails() { Continent = "Africa", Country = "Nigeria", State = "Jimeta", Population = 248.148 },
        new WorldPopulationDetails() { Continent = "Africa", Country = "Nigeria", State = "Atani", Population = 230 },
        new WorldPopulationDetails() { Continent = "Africa", Country = "Nigeria", State = "Gusau", Population = 226.857 },
        new WorldPopulationDetails() { Continent = "Africa", Country = "Nigeria", State = "Mubi", Population = 225.705 },
        new WorldPopulationDetails() { Continent = "Africa", Country = "Nigeria", State = "Ikire", Population = 222.16 },
        new WorldPopulationDetails() { Continent = "Africa", Country = "Nigeria", State = "Owerri", Population = 908 },
        new WorldPopulationDetails() { Continent = "Africa", Country = "Nigeria", State = "Shagamu", Population = 214.558 },
        new WorldPopulationDetails() { Continent = "Africa", Country = "Nigeria", State = "Ijebu-Ode", Population = 209.175 },
        new WorldPopulationDetails() { Continent = "Africa", Country = "Nigeria", State = "Ugep", Population = 200.276 },
        new WorldPopulationDetails() { Continent = "Africa", Country = "Nigeria", State = "Nnewi", Population = 1114 },
        new WorldPopulationDetails() { Continent = "Africa", Country = "Nigeria", State = "Ise-Ekiti", Population = 190.063 },
        new WorldPopulationDetails() { Continent = "Africa", Country = "Nigeria", State = "Ila Orangun", Population = 179.192 },
        new WorldPopulationDetails() { Continent = "Africa", Country = "Nigeria", State = "Saki", Population = 178.677 },
        new WorldPopulationDetails() { Continent = "Africa", Country = "Nigeria", State = "Bida", Population = 171.656 },
        new WorldPopulationDetails() { Continent = "Africa", Country = "Nigeria", State = "Awka", Population = 167.738 },
        new WorldPopulationDetails() { Continent = "Africa", Country = "Nigeria", State = "Ado-Ekiti", Population = 497 },
        new WorldPopulationDetails() { Continent = "Africa", Country = "Nigeria", State = "Inisa", Population = 164.161 },
        new WorldPopulationDetails() { Continent = "Africa", Country = "Nigeria", State = "Suleja", Population = 162.135 },
        new WorldPopulationDetails() { Continent = "Africa", Country = "Nigeria", State = "Sapele", Population = 161.686 },
        new WorldPopulationDetails() { Continent = "Africa", Country = "Nigeria", State = "Osogbo", Population = 731 },
        new WorldPopulationDetails() { Continent = "Africa", Country = "Nigeria", State = "Kisi", Population = 155.51 },
        new WorldPopulationDetails() { Continent = "Africa", Country = "Nigeria", State = "Gbongan", Population = 139.485 },
        new WorldPopulationDetails() { Continent = "Africa", Country = "Nigeria", State = "Ejigbo", Population = 138.357 },
        new WorldPopulationDetails() { Continent = "Africa", Country = "Nigeria", State = "Funtua", Population = 136.811 },
        new WorldPopulationDetails() { Continent = "Africa", Country = "Nigeria", State = "Igboho", Population = 136.764 },
        new WorldPopulationDetails() { Continent = "Africa", Country = "Nigeria", State = "Buguma", Population = 135.404 },
        new WorldPopulationDetails() { Continent = "Africa", Country = "Nigeria", State = "Ikirun", Population = 134.24 },
        new WorldPopulationDetails() { Continent = "Africa", Country = "Nigeria", State = "Abakaliki", Population = 602 },
        new WorldPopulationDetails() { Continent = "Africa", Country = "Nigeria", State = "Okrika", Population = 133.271 },
        new WorldPopulationDetails() { Continent = "Africa", Country = "Nigeria", State = "Amaigbo", Population = 127.3 },
        new WorldPopulationDetails() { Continent = "Africa", Country = "Nigeria", State = "Lafia", Population = 348 },
        new WorldPopulationDetails() { Continent = "Africa", Country = "Nigeria", State = "Gashua", Population = 125.817 },
        new WorldPopulationDetails() { Continent = "Africa", Country = "Nigeria", State = "Modakeke", Population = 119.529 },
        new WorldPopulationDetails() { Continent = "Africa", Country = "Ethiopia", State = "Tigray", Population = 7070 },
        new WorldPopulationDetails() { Continent = "Africa", Country = "Ethiopia", State = "Afar", Population = 1812.002 },
        new WorldPopulationDetails() { Continent = "Africa", Country = "Ethiopia", State = "Amhara", Population = 108113.15 },
        new WorldPopulationDetails() { Continent = "Africa", Country = "Ethiopia", State = "Dire Dawa", Population = 493 },
        new WorldPopulationDetails() { Continent = "Africa", Country = "Ethiopia", State = "Gambela", Population = 435.999 },
        new WorldPopulationDetails() { Continent = "Africa", Country = "Ethiopia", State = "Benishangul Gumuz", Population = 1127.001 },
        new WorldPopulationDetails() { Continent = "Africa", Country = "Ethiopia", State = "Oromia", Population = 3500 },
        new WorldPopulationDetails() { Continent = "Africa", Country = "Ethiopia", State = "Addis Ababa", Population = 5006 },
        new WorldPopulationDetails() { Continent = "Africa", Country = "Egypt", Population = 102334.404 },
        new WorldPopulationDetails() { Continent = "Africa", Country = "DR Congo", State = "Kinshasa", Population = 11575 },
        new WorldPopulationDetails() { Continent = "Africa", Country = "DR Congo", State = "Kongo Central", Population = 5575 },
        new WorldPopulationDetails() { Continent = "Africa", Country = "DR Congo", State = "Kwango", Population = 1994.036 },
        new WorldPopulationDetails() { Continent = "Africa", Country = "DR Congo", State = "Kwilu", Population = 5174.718 },
        new WorldPopulationDetails() { Continent = "Africa", Country = "DR Congo", State = "Mai-Ndombe", Population = 1768.327 },
        new WorldPopulationDetails() { Continent = "Africa", Country = "DR Congo", State = "Kasaï", Population = 3199.891 },
        new WorldPopulationDetails() { Continent = "Africa", Country = "DR Congo", State = "Kasaï-Central", Population = 2976.806 },
        new WorldPopulationDetails() { Continent = "Africa", Country = "DR Congo", State = "Kasaï-Oriental", Population = 2702.43 },
        new WorldPopulationDetails() { Continent = "Africa", Country = "DR Congo", State = "Lomami", Population = 2048.839 },
        new WorldPopulationDetails() { Continent = "Africa", Country = "DR Congo", State = "Sankuru", Population = 1374.239 },
        new WorldPopulationDetails() { Continent = "Africa", Country = "DR Congo", State = "Maniema", Population = 2333 },
        new WorldPopulationDetails() { Continent = "Africa", Country = "DR Congo", State = "South Kivu", Population = 5772 },
        new WorldPopulationDetails() { Continent = "Africa", Country = "DR Congo", State = "North Kivu", Population = 6655 },
        new WorldPopulationDetails() { Continent = "Africa", Country = "DR Congo", State = "Ituri", Population = 4241.236 },
        new WorldPopulationDetails() { Continent = "Africa", Country = "DR Congo", State = "Haut-Uele", Population = 1920.867 },
        new WorldPopulationDetails() { Continent = "Africa", Country = "DR Congo", State = "Tshopo", Population = 2614.63 },
        new WorldPopulationDetails() { Continent = "Africa", Country = "DR Congo", State = "Bas-Uele", Population = 1093.845 },
        new WorldPopulationDetails() { Continent = "Africa", Country = "DR Congo", State = "Nord-Ubangi", Population = 1482.076 },
        new WorldPopulationDetails() { Continent = "Africa", Country = "DR Congo", State = "Mongala", Population = 1793.564 },
        new WorldPopulationDetails() { Continent = "Africa", Country = "DR Congo", State = "Sud-Ubangi", Population = 2744.345 },
        new WorldPopulationDetails() { Continent = "Africa", Country = "DR Congo", State = "Équateur", Population = 1626.606 },
        new WorldPopulationDetails() { Continent = "Africa", Country = "DR Congo", State = "Tshuapa", Population = 1316.855 },
        new WorldPopulationDetails() { Continent = "Africa", Country = "DR Congo", State = "Tanganyika", Population = 2482.001 },
        new WorldPopulationDetails() { Continent = "Africa", Country = "DR Congo", State = "Haut-Lomami", Population = 2540.127 },
        new WorldPopulationDetails() { Continent = "Africa", Country = "DR Congo", State = "Lualaba", Population = 1677.288 },
        new WorldPopulationDetails() { Continent = "Africa", Country = "DR Congo", State = "Haut-Katanga", Population = 3960.945 },
        new WorldPopulationDetails() { Continent = "Africa", Country = "Tanzania", Population = 59734.218 },
        new WorldPopulationDetails() { Continent = "Africa", Country = "South Africa", Population = 59308.69 },
        new WorldPopulationDetails() { Continent = "Africa", Country = "Kenya", Population = 53771.296 },
        new WorldPopulationDetails() { Continent = "Africa", Country = "Uganda", Population = 45741.007 },
        new WorldPopulationDetails() { Continent = "Africa", Country = "Algeria", Population = 43851.044 }, 
        new WorldPopulationDetails() { Continent = "Africa", Country = "Sudan", Population = 43849.26 },
        new WorldPopulationDetails() { Continent = "Africa", Country = "Morocco", Population = 36910.56 },
        new WorldPopulationDetails() { Continent = "Africa", Country = "Angola", Population = 32866.272 },
        new WorldPopulationDetails() { Continent = "Africa", Country = "Mozambique", Population = 31255.435 },
        new WorldPopulationDetails() { Continent = "Africa", Country = "Ghana", Population = 31072.94 },
        new WorldPopulationDetails() { Continent = "Africa", Country = "Madagascar", Population = 27.691 },
        new WorldPopulationDetails() { Continent = "Africa", Country = "Cameroon", Population = 26545.863 },
        new WorldPopulationDetails() { Continent = "Africa", Country = "Ivory Coast", Population = 26378.274 },
        new WorldPopulationDetails() { Continent = "Africa", Country = "Niger", Population = 24206.644 },
        new WorldPopulationDetails() { Continent = "Africa", Country = "Burkina Faso", Population = 20903.273 },
        new WorldPopulationDetails() { Continent = "Africa", Country = "Mali", Population = 20250.833 },
        new WorldPopulationDetails() { Continent = "Africa", Country = "Malawi", Population = 19129.952 },
        new WorldPopulationDetails() { Continent = "Africa", Country = "Zambia", Population = 18383.955 },
        new WorldPopulationDetails() { Continent = "Africa", Country = "Senegal", Population = 16743.927 },
        new WorldPopulationDetails() { Continent = "Africa", Country = "Chad", Population = 16425.864 },
        new WorldPopulationDetails() { Continent = "Africa", Country = "Somalia", Population = 15893.222 },
        new WorldPopulationDetails() { Continent = "Africa", Country = "Zimbabwe", Population = 14862.924 },
        new WorldPopulationDetails() { Continent = "Africa", Country = "Guinea", Population = 13132.795 },
        new WorldPopulationDetails() { Continent = "Africa", Country = "Rwanda", Population = 12952.218 },
        new WorldPopulationDetails() { Continent = "Africa", Country = "Benin", Population = 12123.2 },
        new WorldPopulationDetails() { Continent = "Africa", Country = "Tunisia", Population = 11818.619 },
        new WorldPopulationDetails() { Continent = "Africa", Country = "Burundi", Population = 11890.784 },
        new WorldPopulationDetails() { Continent = "Africa", Country = "South Sudan", Population = 11193.725 },
        new WorldPopulationDetails() { Continent = "Africa", Country = "Togo", Population = 8278.724 },
        new WorldPopulationDetails() { Continent = "Africa", Country = "Sierra Leone", Population = 7976.983 },
        new WorldPopulationDetails() { Continent = "Africa", Country = "Libya", Population = 6871.292 },
        new WorldPopulationDetails() { Continent = "Africa", Country = "Congo", Population = 5518.087 },
        new WorldPopulationDetails() { Continent = "Africa", Country = "Liberia", Population = 5057.681 },
        new WorldPopulationDetails() { Continent = "Africa", Country = "Central African Republic", Population = 4829.767 },
        new WorldPopulationDetails() { Continent = "Africa", Country = "Mauritania", Population = 4649.658 },
        new WorldPopulationDetails() { Continent = "Africa", Country = "Eritrea", Population = 3546.421 },
        new WorldPopulationDetails() { Continent = "Africa", Country = "Namibia", Population = 2540.905 },
        new WorldPopulationDetails() { Continent = "Africa", Country = "Gambia", Population = 2416.668 },
        new WorldPopulationDetails() { Continent = "Africa", Country = "Botswana", Population = 2351.627 },
        new WorldPopulationDetails() { Continent = "Africa", Country = "Gabon", Population = 2225.734 },
        new WorldPopulationDetails() { Continent = "Africa", Country = "Lesotho", Population = 2142.249 },
        new WorldPopulationDetails() { Continent = "Africa", Country = "Guinea-Bissau", Population = 1968.001 },
        new WorldPopulationDetails() { Continent = "Africa", Country = "Equatorial Guinea", Population = 1402.985 },
        new WorldPopulationDetails() { Continent = "Africa", Country = "Mauritius", Population = 1271.768 },
        new WorldPopulationDetails() { Continent = "Africa", Country = "Eswatini", Population = 1160.164 },
        new WorldPopulationDetails() { Continent = "Africa", Country = "Djibouti", Population = 988 },
        new WorldPopulationDetails() { Continent = "Africa", Country = "Réunion", Population = 895.312 },
        new WorldPopulationDetails() { Continent = "Africa", Country = "Comoros", Population = 869.601 },
        new WorldPopulationDetails() { Continent = "Africa", Country = "Western Sahara", Population = 597.339 },
        new WorldPopulationDetails() { Continent = "Africa", Country = "Cabo Verde", Population = 555.987 },
        new WorldPopulationDetails() { Continent = "Africa", Country = "Mayotte", Population = 272.815 },
        new WorldPopulationDetails() { Continent = "Africa", Country = "Sao Tome & Principe", Population = 219.159 },
        new WorldPopulationDetails() { Continent = "Africa", Country = "Seychelles", Population = 98.347 },
        new WorldPopulationDetails() { Continent = "Africa", Country = "Saint Helena", Population = 6.077 },
        new WorldPopulationDetails() { Continent = "Europe", Population = 747636.026 }
    };
}