@page "/treemap/print"

@using Syncfusion.Blazor
@using Syncfusion.Blazor.TreeMap
@using Syncfusion.Blazor.Inputs
@using Syncfusion.Blazor.DropDowns
@using Syncfusion.Blazor.Buttons
@using ThemeHelper
@inject NavigationManager NavigationManager
@*Hidden:Lines*@
@inherits SampleBaseComponent


@*End:Hidden*@

<SampleDescription>
    <p>This sample demonstrates the print and export functionalities of the TreeMap component.</p>
</SampleDescription>
<ActionDescription>
    <p>
        In this example, you can see how to print and export the rendered TreeMap. You can add print functionality by using the <a target='_blank' class='code' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.TreeMap.SfTreeMap-1.html#methods' aria-label="Class reference of PrintAsync method in TreeMap">PrintAsync</a> method when <a target='_blank' class='code' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.TreeMap.SfTreeMap-1.html#Syncfusion_Blazor_TreeMap_SfTreeMap_1_AllowPrint' aria-label="Class reference of AllowPrint property in TreeMap">AllowPrint</a> is set as <b>true</b>. Also, you can add export functionality by using the <a target='_blank' class='code' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.TreeMap.SfTreeMap-1.html#methods' aria-label="Class reference of ExportAsync method in TreeMap">ExportAsync</a> method when <a target='_blank' class='code' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.TreeMap.SfTreeMap-1.html#Syncfusion_Blazor_TreeMap_SfTreeMap_1_AllowImageExport' aria-label="Class reference of AllowImageExport property in TreeMap">AllowImageExport</a> and <a target='_blank' class='code' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.TreeMap.SfTreeMap-1.html#Syncfusion_Blazor_TreeMap_SfTreeMap_1_AllowPdfExport' aria-label="Class reference of AllowPdfExport property in TreeMap">AllowPdfExport</a> is set as <b>true</b>. The TreeMap can be exported to JPEG, PNG, SVG, and PDF formats.
    </p>
    <p>More information about print and export can be found in this <a target='_blank' href='https://blazor.syncfusion.com/documentation/treemap/print-and-export' aria-label="Blazor TreeMap Print and Export documentation" >documentation section</a>.</p>
</ActionDescription>

<div class="col-lg-9 control-section sb-property-border">
    <SfTreeMap @ref="@TreemapRef" WeightValuePath="Percentage" RangeColorValuePath="Percentage" DataSource="@LeafDatasource"
               LayoutType="LayoutMode.SliceAndDiceVertical" AllowPdfExport="true" AllowPrint="true" AllowImageExport="true" Theme="@Theme">
        <TreeMapTitleSettings Text="Top 10 Best Selling Smartphone Brands - 2017">
            <TreeMapTitleTextStyle Size="15px" FontFamily="Segoe UI" />
        </TreeMapTitleSettings>
        <TreeMapTooltipSettings Visible="true" Format="${Product} (+${Percentage}) %">
            <TreeMapTooltipTextStyle FontFamily="Segoe UI"></TreeMapTooltipTextStyle>
        </TreeMapTooltipSettings>
        <TreeMapLeafItemSettings LabelPath="Product" Fill="#6699cc" LabelFormat="${Product} (+${Percentage}) %" LabelPosition="@Syncfusion.Blazor.TreeMap.LabelPosition.Center">
            <TreeMapLeafColorMappings>
                <TreeMapLeafColorMapping StartRange="1.3" EndRange="22" Color="@LeafColor" MinOpacity="0.5" MaxOpacity="1" />
            </TreeMapLeafColorMappings>
            <TreeMapLeafBorder Color="#000000" Width="0.5" />
            <TreeMapLeafLabelStyle FontFamily="Segoe UI" />
        </TreeMapLeafItemSettings>
    </SfTreeMap>
    <div class="urllink">
        Source:
        <a href="http://zeenews.india.com/photos/business/worlds-10-best-selling-smartphone-brands-2033958/samsung-2033959" target="_blank" aria-label="zeenews.india.com">zeenews.india.com</a>
    </div>
</div>
<div class="col-lg-3 property-section">
    <div class="property-panel-section">
        <div class="property-panel-header">Properties</div>
        <div class="property-panel-content">
            <table style="width: 100%">
                <tbody>
                    <tr>
                        <td>
                            <div class="property-text">Export Type</div>
                        </td>
                        <td>
                            <div>
                                <SfDropDownList TValue="string" TItem="FileTypeList" DataSource="@FileTypes" Value="@FileType" Width="100%">
                                    <DropDownListEvents TItem="FileTypeList" TValue="string" ValueChange="TreemapValueChange" />
                                    <DropDownListFieldSettings Text="Name" Value="Name" />
                                </SfDropDownList>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="property-text">File Name</div>
                        </td>
                        <td>
                            <div>
                                <SfTextBox Value="@FileName" ValueChange="@NameChange" Placeholder="Enter the file name" Width="100%" />
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td align="right" style="padding-right: 5%;">
                            <SfButton Content="Export" OnClick="ExportClick" IsToggle="true" IsPrimary="true" />
                        </td>
                        <td align="left" style="padding-left: 5%;">
                            <SfButton @onclick="PrintButton" Content="Print" IsPrimary="true" IsToggle="true" />
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>
<style>
    tr {
        height: 50px;
    }

    td {
        width: 50%;
    }
</style>
@code {
    
    public Theme Theme { get; set; }
    private string[] LeafColor = new string[] { "#FAB665" };
    private string FileType { get; set; } = "JPEG";
    private string FileName { get; set; } = "TreeMap";
    SfTreeMap<SmartPhoneData> TreemapRef;
    private string ExportValue { get; set; } = "JPEG";
    public class FileTypeList
    {
        public string Name { get; set; }
    }
    private List<FileTypeList> FileTypes = new List<FileTypeList> {
        new FileTypeList { Name="JPEG" },
        new FileTypeList { Name="PNG" },
        new FileTypeList { Name="SVG" },
        new FileTypeList { Name="PDF" }
    };
    protected override void OnInitialized()
    {
        
        Theme = ThemeHelper.GetCurrentTheme(NavigationManager.Uri);
    }
    private async Task ExportClick(MouseEventArgs args)
    {
        ExportType ExportFileType = ExportType.JPEG;
        switch (FileType)
        {
            case "JPEG":
                ExportFileType = ExportType.JPEG;
                break;
            case "PNG":
                ExportFileType = ExportType.PNG;
                break;
            case "SVG":
                ExportFileType = ExportType.SVG;
                break;
            case "PDF":
                ExportFileType = ExportType.PDF;
                break;
        }
        await TreemapRef.ExportAsync(ExportFileType, FileName);
    }
    private void TreemapValueChange(Syncfusion.Blazor.DropDowns.ChangeEventArgs<string, FileTypeList> args)
    {
        FileType = args.Value;
    }
    private void NameChange(ChangedEventArgs args)
    {
        FileName = args.Value;
    }
    public async Task PrintButton()
    {
        await TreemapRef.PrintAsync();
    }
    public class SmartPhoneData
    {
        public string Product { get; set; }
        public double Percentage { get; set; }
    }
    public List<SmartPhoneData> LeafDatasource = new List<SmartPhoneData> {
        new SmartPhoneData{ Product="Samsung", Percentage=22 },
        new SmartPhoneData{ Product="Apple", Percentage=11.2 },
        new SmartPhoneData{ Product="Huawei", Percentage=10.5},
        new SmartPhoneData{ Product="Oppo", Percentage=8.4 },
        new SmartPhoneData{ Product="Vivo", Percentage=6.6},
        new SmartPhoneData{ Product="Xiaomi", Percentage=6.3 },
        new SmartPhoneData{ Product="LG", Percentage=3.6 },
        new SmartPhoneData{ Product="ZTE", Percentage=3.3},
        new SmartPhoneData{ Product="Lenovo", Percentage=3.2},
        new SmartPhoneData{ Product="Alcate", Percentage=1.3},
    };
}