@page "/treemap/tooltip"

@using Syncfusion.Blazor
@using Syncfusion.Blazor.TreeMap
@using ThemeHelper
@inject NavigationManager NavigationManager
@*Hidden:Lines*@
@inherits SampleBaseComponent


@*End:Hidden*@

<SampleDescription>
    <p>This sample represents the number of international airports in various South American countries. We used a custom HTML element as a tooltip template to display the airport count in the TreeMap.</p>
</SampleDescription>
<ActionDescription>
    <p>In this example, we provided equal colour mapping for TreeMap items based on a specific value. The tooltip is enabled; to see it in action, hover your mouse over an item or tap an item on touch-enabled devices.</p>
    <p>More information about tooltip can be found in this <a target='_blank' href='https://blazor.syncfusion.com/documentation/treemap/tooltip' aria-label="Blazor TreeMap Tooltip documentation" >documentation section</a>.</p>
</ActionDescription>

<div class="control-section">
    <SfTreeMap TValue="AirPortDetails" WeightValuePath="Count" EqualColorValuePath="Count" DataSource="@DataSource" Theme="@Theme">
        <TreeMapTitleSettings Text="International Airport Count in South America">
            <TreeMapTitleTextStyle Size="15px" FontFamily="Segoe UI" />
        </TreeMapTitleSettings>
        <TreeMapLeafItemSettings ShowLabels="true" LabelPath="State" Fill="6699cc" LabelPosition="LabelPosition.Center">
            <TreeMapLeafColorMappings>
                <TreeMapLeafColorMapping LeafValue="25" Color="@LeafColorOne" />
                <TreeMapLeafColorMapping LeafValue="12" Color="@LeafColorTwo" />
                <TreeMapLeafColorMapping LeafValue="9" Color="@LeafColorThree" />
                <TreeMapLeafColorMapping LeafValue="7" Color="@LeafColorFour" />
                <TreeMapLeafColorMapping LeafValue="6" Color="@LeafColorFive" />
                <TreeMapLeafColorMapping LeafValue="3" Color="@LeafColorSix" />
                <TreeMapLeafColorMapping LeafValue="2" Color="@LeafColorSeven" />
                <TreeMapLeafColorMapping LeafValue="1" Color="@LeafColorEight" />
            </TreeMapLeafColorMappings>
            <TreeMapLeafBorder Color="#FFFFFF" Width="1" />
            <TreeMapLeafLabelStyle FontFamily="Segoe UI" Size="12px"></TreeMapLeafLabelStyle>
        </TreeMapLeafItemSettings>
        <TreeMapLegendSettings Visible="true" Position="LegendPosition.Top" Shape="LegendShape.Rectangle">
            <TreeMapLegendTextStyle FontFamily="Segoe UI"></TreeMapLegendTextStyle>
        </TreeMapLegendSettings>
        <TreeMapTooltipSettings Visible="true">
            <TooltipTemplate>
                @{
                    var AirportCount = (context as AirPortDetails);
                    <div class="displayAirports">
                        <div class="airplaneicon">
                            <img src="@(SampleService.WebAssetsPath + "images/treemap/airplane.svg")" height="32" width="32" style="float:left;background-repeat:no-repeat;" />
                        </div>
                        <div class="value">
                            <span class="label">Airports:&nbsp;<b>@AirportCount.Count</b></span>
                        </div>
                    </div>
                }
            </TooltipTemplate>
        </TreeMapTooltipSettings>
    </SfTreeMap>
    <div class="urllink">
        Source:
        <a href="https://en.wikipedia.org/wiki/List_of_international_airports_by_country" target="_blank" aria-label="en.wikipedia.org">en.wikipedia.org</a>
    </div>
</div>

<style class="cssStyles">
    .airplaneicon {
        background-image: url("@(SampleService.WebAssetsPath + "images/treemap/airplane.svg")");
        background-repeat: no-repeat;
    }

    .displayAirports {
        border-radius: 5px;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 6px;
        padding-top: 6px;
        background: #EFEFEF;
        height: 45px;
        width: 140px;
        border: 1px #919191;
        box-shadow: 0px, 2px;
    }

    .value {
        float: left;
        margin-top: -27px;
        color: #585C60;
        font-family: Roboto-Bold;
        font-size: 16px;
    }

    .label {
        margin-left: 26px;
        padding-left: 8px;
        color: #5D5D5D;
        font-family: Roboto-Regular;
        font-size: 16px;
    }
</style>
@code {
    
    public Theme Theme { get; set; }
    public string[] LeafColorOne = new string[] { "#634D6F" };
    public string[] LeafColorTwo = new string[] { "#B34D6D" };
    public string[] LeafColorThree = new string[] { "#557C5C" };
    public string[] LeafColorFour = new string[] { "#44537F" };
    public string[] LeafColorFive = new string[] { "#637392" };
    public string[] LeafColorSix = new string[] { "#7C754D" };
    public string[] LeafColorSeven = new string[] { "#2E7A64" };
    public string[] LeafColorEight = new string[] { "#95659A" };
    public class AirPortDetails
    {
        public string Title { get; set; }
        public string State { get; set; }
        public int Count { get; set; }
    }
    public List<AirPortDetails> DataSource = new List<AirPortDetails> {
        new AirPortDetails { Title="State wise International Airport count in South America", State="Brazil", Count=25 },
        new AirPortDetails { Title="State wise International Airport count in South America", State="Colombia", Count=12 },
        new AirPortDetails { Title="State wise International Airport count in South America", State="Argentina", Count=9 },
        new AirPortDetails { Title="State wise International Airport count in South America", State="Ecuador", Count=7 },
        new AirPortDetails { Title="State wise International Airport count in South America", State="Chile", Count=6 },
        new AirPortDetails { Title="State wise International Airport count in South America", State="Peru", Count=3 },
        new AirPortDetails { Title="State wise International Airport count in South America", State="Venezuela", Count=3 },
        new AirPortDetails { Title="State wise International Airport count in South America", State="Bolivia", Count=2 },
        new AirPortDetails { Title="State wise International Airport count in South America", State="Paraguay", Count=2 },
        new AirPortDetails { Title="State wise International Airport count in South America", State="Uruguay", Count=2 },
        new AirPortDetails { Title="State wise International Airport count in South America", State="Falkland Islands", Count=1 },
        new AirPortDetails { Title="State wise International Airport count in South America", State="French Guiana", Count=1 },
        new AirPortDetails { Title="State wise International Airport count in South America", State="Guyana", Count=1 },
        new AirPortDetails { Title="State wise International Airport count in South America", State="Suriname", Count=1 },
    };
    protected override void OnInitialized()
    {
        
        Theme = ThemeHelper.GetCurrentTheme(NavigationManager.Uri);
    }
}