@page "/pager/paging-api"

@using Syncfusion.Blazor.Navigations
@using Syncfusion.Blazor.Inputs
@*Hidden:Lines*@
@inherits SampleBaseComponent
@inject NavigationManager NavigationManager


@*End:Hidden*@

<ActionDescription>
<p>This sample demonstrates Pager API usage for dynamic configuration changes.</p>
    
    <p>The Blazor Pager component provides rich APIs for controlling pagination behavior:</p>
    
    <ul>
        <li><b>PageSize</b> - Customize and control items displayed per page</li>
        <li><b>NumericItemsCount</b> - Define number of numeric elements for navigation</li>
        <li><b>CurrentPage</b> - Set currently viewed page</li>
        <li><b>TotalItemsCount</b> - Specify total items in dataset</li>
    </ul>
    
    <p>These APIs enable comprehensive pager customization through intuitive numeric elements, dropdowns, and buttons.</p>
</ActionDescription>



<div class="col-lg-8 control-section">
    <div class="content-wrapper">
        <div class="row">
            <div class="frame" style="margin-top: 90px;">
            <SfPager @ref="Pager" CurrentPage="@CurrentPage" TotalItemsCount=@TotalCount NumericItemsCount=@PageCount PageSize=@PageSize ></SfPager>
            </div>
        </div>
    </div>
</div>

<div class="col-lg-3 property-section" style="left: 10px; margin-left: 30px">
    <table id="property" style="width: 100%; height: 300px;">
            <tr>
                <td class="left-side" style="padding-right:15px;"><h4>Properties</h4></td>
            </tr>
            <tr>
                <td class="left-side" style="padding-right:15px;">Page Count</td>
                <td>
                    <SfNumericTextBox TValue="int" @bind-Value="@PageCount" Width="117px" Min="1" Max="@MaxPageCount">
                        <NumericTextBoxEvents TValue="int" ValueChange="@PageCountChanged"></NumericTextBoxEvents>
                    </SfNumericTextBox>
                </td>
            </tr>
            <tr>
                <td class="left-side" style="padding-right:15px;">Page Size</td>
                <td>
                    <SfNumericTextBox TValue="int" @bind-Value="@PageSize" Width="117px" Min="1" Max="@MaxPageSize">
                        <NumericTextBoxEvents TValue="int" ValueChange="@PageSizeChanged"></NumericTextBoxEvents>
                    </SfNumericTextBox>
                </td>
            </tr>
            <tr>
                <td class="left-side" style="padding-right:15px;">Current Page</td>
                <td>
                    <SfNumericTextBox TValue="int" @bind-Value="@CurrentPage" Width="117px" Min="1" Max="@MaxCurrentPage">
                        <NumericTextBoxEvents TValue="int" ValueChange="@CurrentPageChanged"></NumericTextBoxEvents>
                    </SfNumericTextBox>
                </td>
            </tr>
            <tr>
                <td class="left-side" style="padding-right:15px;">Total Items </td>
                <td>
                    <SfNumericTextBox TValue="int" @bind-Value="@TotalCount" Width="115px" Min="1">
                        <NumericTextBoxEvents TValue="int" ValueChange="@TotalItemsCountChanged"></NumericTextBoxEvents>
                    </SfNumericTextBox>
                </td>
            </tr>
    </table>
</div>

@code
{
    public SfPager? Pager { get; set; }
    public int TotalCount { get; set; } = 20;
    public int CurrentPage { get; set; } = 1;
    public int PageSize { get; set; } = 1;
    public int PageCount { get; set; } = 4;
    public int MaxPageSize { get; set; } = 20;
    public int MaxPageCount { get; set; } = 5;
    public int MaxCurrentPage { get; set; } = 20;
    

    public void PageCountChanged(ChangeEventArgs<int> args)
    {
        PageCount = args.Value;
    }

    public void PageSizeChanged(ChangeEventArgs<int> args)
    {
        PageSize = PageSize > TotalCount ? TotalCount : args.Value;
        double calculatePages = (double)TotalCount / (double)PageSize;
        int totalPages = (int)calculatePages;
        if (calculatePages.ToString().Contains("."))
        {
            totalPages = (int)calculatePages + 1;
        }
        MaxCurrentPage = totalPages;
        MaxPageCount = totalPages > 5 ? 5 : totalPages;
        CurrentPage = CurrentPage > totalPages ? totalPages : CurrentPage;
        PageCount = PageCount > totalPages ? totalPages : PageCount;
    }

    public void CurrentPageChanged(ChangeEventArgs<int> args)
    {
        CurrentPage = args.Value;
    }

    public void TotalItemsCountChanged(ChangeEventArgs<int> args)
    {
        TotalCount = args.Value;
        double calculatePages = (double)TotalCount / (double)PageSize;
        int totalPages = (int)calculatePages;
        if (calculatePages.ToString().Contains("."))
        {
            totalPages = (int)calculatePages + 1;
        }
        MaxCurrentPage = totalPages;
        MaxPageSize = TotalCount;
        MaxPageCount = totalPages <= 5 ? totalPages : 5;
        CurrentPage = CurrentPage > totalPages ? totalPages : CurrentPage;
        PageCount = PageCount > totalPages ? totalPages : PageCount;
    } 
}

@*Hidden:Lines*@
<style>
    .frame {
    border: 1px solid #BBBCBB;
    border-radius: 10px;
    color: #5C5C5C;
    padding: 30px;
    display: block;
}
</style>
 @*End:Hidden*@
