@page "/Diagrams/ComplexHierarchicalTree"

@using Syncfusion.EJ2.Blazor.Diagrams
@using System.Collections.ObjectModel
@using Syncfusion.EJ2.Blazor.Buttons
@using Syncfusion.EJ2.Blazor.Inputs
@using Syncfusion.EJ2.Blazor.DropDowns
@using Newtonsoft.Json
@inherits SampleBaseComponent;
@*Hidden:Lines*@
<style>
    #diagram {
        display: block;
    }

    .row {
        display: block;
    }

    .image-pattern-style {
        background-color: white;
        background-size: contain;
        background-repeat: no-repeat;
        height: 75px;
        width: calc((100% - 18px) / 3);
        cursor: pointer;
        border: 1px solid #D5D5D5;
        background-position: center;
        float: left;
    }

    .row {
        margin-left: 0px;
        margin-right: 0px;
    }

    .row-header {
        font-size: 15px;
        font-weight: 600;
    }

    .e-checkbox-wrapper .e-label {
        font-size: 12px;
    }

    .e-selected-style {
        border-color: #006CE6;
        border-width: 2px;
    }

    .property-panel-header {
        margin-left: 0px;
        font-weight: 600;
        padding-top: 10px;
        padding-bottom: 15px;
    }

    .col-xs-6 {
        padding-left: 0px;
        padding-right: 0px;
    }

    .sb-property-border {
        border-right: 1px solid #D7D7D7;
    }
</style>
@*End:Hidden*@
<div class="col-lg-8 control-section sb-property-border">
    <div id="diagram-space" class="content-wrapper">
        <EjsDiagram @ref="@diagram" id="diagram" Width="100%" Tool="@DiagramTools.ZoomPan" Height="580px" NodeDefaults="@NodeDefaults" ConnectorDefaults="@ConnectorDefaults" Layout="@LayoutValue">
            <DiagramDataSource Id="Name" ParentId="ReportingPerson" DataMapSettings="@datamap" DataSource="@dataSource">
            </DiagramDataSource>
            <DiagramPageSettings FitOptions="@FitOptions"></DiagramPageSettings>
            <DiagramSnapSettings Constraints="SnapConstraints.None"></DiagramSnapSettings>
        </EjsDiagram>
    </div>
</div>
<div class="col-lg-4 property-section">
    <div class="property-panel-header">
        Layout Settings
    </div>
    <div class="row property-panel-content" id="appearance" style="padding-top: 10px">
        <div class="row row-header">
            Appearance
        </div>
        <div class="row" style="padding-top: 8px ">
            <div class="@dict["topToBottom"]" @onclick="ToptoBottomClick" id="topToBottom" style="background-image: url(//ej2.syncfusion.com/demos/src/diagram/Images/common-orientation/toptobottom.png); margin-right: 3px ">
            </div>
            <div class="@dict["bottomToTop"]" @onclick="BottomtoTopClick" id="bottomToTop" style="background-image: url(//ej2.syncfusion.com/demos/src/diagram/Images/common-orientation/bottomtotop.png); margin: 0px 3px">
            </div>
            <div class="@dict["leftToRight"]" @onclick="LefttoRightClick" id="leftToRight" style="background-image: url(//ej2.syncfusion.com/demos/src/diagram/Images/common-orientation/lefttoright.png); margin-right: 3px">
            </div>
        </div>
        <div class="row" style="padding-top: 8px">
            <div class="@dict["rightToLeft"]" @onclick="RighttoLeftClick" id="rightToLeft" style="background-image: url(//ej2.syncfusion.com/demos/src/diagram/Images/common-orientation/righttoleft.png); margin: 0px 3px">
            </div>
        </div>
    </div>
    <div class="row property-panel-content" style="padding-top: 10px;">
        <div class="row row-header">
            Behavior
        </div>
        <div class="row" style="padding-top: 8px">
            <div style="display: table;height: 35px;padding-left: 0px" class="col-xs-5">
                <div style="display: table-cell; vertical-align: middle">Margin X</div>
            </div>
            <div class="col-xs-7">
                <EjsNumericTextBox TValue="int?" ID="xmargin" Format="###.##" Width="120px" Min="20" Max="60" Step="2" Value="@xmargin">
                    <NumericTextBoxEvents TValue="int?" ValueChange="marginLeftChange"></NumericTextBoxEvents>
                </EjsNumericTextBox>
            </div>
        </div>
        <div class="row" style="padding-top: 8px">
            <div style="display: table;height: 35px;padding-left: 0px" class="col-xs-5">
                <div style="display: table-cell; vertical-align: middle">Margin Y</div>
            </div>
            <div class="col-xs-7">
                <EjsNumericTextBox TValue="int?" ID="ymargin" Format="###.##" Width="120px" Min="20" Max="60" Step="2" Value="@ymargin">
                    <NumericTextBoxEvents TValue="int?" ValueChange="marginTopChange"></NumericTextBoxEvents>
                </EjsNumericTextBox>
            </div>
        </div>
        <div class="row" style="padding-top: 8px">
            <div style="display: table;height: 35px;padding-left: 0px" class="col-xs-5">
                <div style="display: table-cell; vertical-align: middle">Horizontal Spacing</div>
            </div>
            <div class="col-xs-7">
                <EjsNumericTextBox TValue="int?" ID="hSpacing" Format="###.##" Width="120px" Min="20" Max="60" Step="2" Value="@HValue">
                    <NumericTextBoxEvents TValue="int?" ValueChange="hSpacingChange"></NumericTextBoxEvents>
                </EjsNumericTextBox>
            </div>
        </div>
        <div class="row" style="padding-top: 8px">
            <div style="display: table;height: 35px;padding-left: 0px" class="col-xs-5">
                <div style="display: table-cell; vertical-align: middle">Vertical Spacing</div>
            </div>
            <div class="col-xs-7">
                <EjsNumericTextBox TValue="int?" ID="vSpacing" Format="###.##" Width="120px" Min="20" Max="60" Step="2" Value="@VValue">
                    <NumericTextBoxEvents TValue="int?" ValueChange="vSpacingChange"></NumericTextBoxEvents>
                </EjsNumericTextBox>
            </div>
        </div>
    </div>
</div>

@functions
    {
    static string selecteditem = "image-pattern-style e-selected-style";
    static string unselecteditem = "image-pattern-style";
    DiagramFitOptions FitOptions = new DiagramFitOptions()
    {
        CanFit = true,
        Mode = FitModes.Width

    };
    Dictionary<string, string> dict = new Dictionary<string, string>() { { "topToBottom", selecteditem }, { "bottomToTop", unselecteditem }, { "leftToRight", unselecteditem }, { "rightToLeft", unselecteditem } };
    EjsDiagram diagram;
    EjsCheckBox checkBox;
    public int? HValue { get; set; } = 40;
    public int? VValue { get; set; } = 40;
    public int? xmargin { get; set; } = 40;
    public int? ymargin { get; set; } = 40;
    DiagramLayout LayoutValue = new DiagramLayout()
    {
        Type = LayoutType.ComplexHierarchicalTree,
        HorizontalSpacing = 40,
        VerticalSpacing = 40,
        Orientation = LayoutOrientation.TopToBottom,
        Margin = new LayoutMargin() { Left = 20, Top = 20 }
    };
    List<DiagramDataMapSetting> datamap { get; set; } = new List<DiagramDataMapSetting>() {
        new DiagramDataMapSetting() { Property = "Style.fill", Field = "fillColor" },
        new DiagramDataMapSetting() { Property = "Style.strokeColor", Field = "border" }
    };

    TreeInfo LayoutInfo = new TreeInfo()
    {
        CanEnableSubTree = true,
        GetAssistantDetails = new AssistantsDetails() { Assistants = new string[] { "Assistant General Manager" }, Root = "General Manager" }
    };


    DiagramNode NodeDefaults = new DiagramNode
    {
        Height = 40,
        Width = 40,
        Annotations = new ObservableCollection<DiagramNodeAnnotation>()
{
            new DiagramNodeAnnotation() { Offset = new NodeAnnotationOffset(){ Y =0.5, X= 0.5}, Id = "label"}
        },
        Shape = new DiagramShape() { BasicShape = BasicShapes.Rectangle, CornerRadius = 7, Type = Syncfusion.EJ2.Blazor.Diagrams.Shapes.Basic }
    };

    DiagramConnector ConnectorDefaults = new DiagramConnector
    {
        Type = Segments.Orthogonal,
        CornerRadius = 7,
        TargetDecorator = new ConnectorTargetDecorator() { Width = 7, Height = 7 },
        Style = new ConnectorShapeStyle() { StrokeColor = "#6d6d6d" }
    };

    private void hSpacingChange(Syncfusion.EJ2.Blazor.Inputs.ChangeEventArgs args)
    {
        updateLayoutSettings("horizontalSpacing", args.Value);
    }
    private void vSpacingChange(Syncfusion.EJ2.Blazor.Inputs.ChangeEventArgs args)
    {
        updateLayoutSettings("verticalSpacing", args.Value);
    }
    private void marginTopChange(Syncfusion.EJ2.Blazor.Inputs.ChangeEventArgs args)
    {
        updateLayoutSettings("marginTop", args.Value);
    }
    private void marginLeftChange(Syncfusion.EJ2.Blazor.Inputs.ChangeEventArgs args)
    {
        updateLayoutSettings("marginLeft", args.Value);
    }
    private void ToptoBottomClick()
    {
        diagram.Layout.Orientation = LayoutOrientation.TopToBottom;
        updateSelection("topToBottom");
    }
    private void LefttoRightClick()
    {
        diagram.Layout.Orientation = LayoutOrientation.LeftToRight;
        updateSelection("leftToRight");
    }
    private void RighttoLeftClick()
    {
        diagram.Layout.Orientation = LayoutOrientation.RightToLeft;
        updateSelection("rightToLeft");
    }
    private void BottomtoTopClick()
    {
        diagram.Layout.Orientation = LayoutOrientation.BottomToTop;
        updateSelection("bottomToTop");
    }

    private void updateSelection(string id)
    {
        for (int i = 0; i < dict.Count; i++)
        {
            var value = dict.Values.ElementAt(i);
            var key = dict.Keys.ElementAt(i);
            if (dict.ContainsKey(id) && key == id)
            {
                value = selecteditem;
            }
            else
            {
                value = unselecteditem;
            }
            dict.Remove(key);
            dict.Add(key, value);
        }

        StateHasChanged();
    }
    private void updateLayoutSettings(string propertyName, double propertyValue)
    {

        switch (propertyName)
        {
            case "horizontalSpacing":
                diagram.Layout.HorizontalSpacing = propertyValue;
                break;
            case "verticalSpacing":
                diagram.Layout.VerticalSpacing = propertyValue;
                break;
            case "marginLeft":
                diagram.Layout.Margin.Left = propertyValue;
                break;
            case "marginTop":
                diagram.Layout.Margin.Top = propertyValue;
                break;
        }
        diagram.DataBind();
    }
    public class DataModel
    {
        public string Name;
        public string fillColor;
        public string border;
        public string[] ReportingPerson;
    }
    public object dataSource = new List<object>()
{
        new DataModel { Name = "node11", fillColor = "#e7704c", border = "#c15433" },
        new DataModel {  Name = "node12", ReportingPerson = new string[]{ "node114" }, fillColor = "#efd46e", border = "#d6b123" },
        new DataModel {  Name = "node13", ReportingPerson = new string[] { "node12" }, fillColor = "#58b087", border = "#16955e" },
        new DataModel {  Name = "node14", ReportingPerson = new string[] { "node12" }, fillColor = "#58b087", border = "#16955e" },
        new DataModel {  Name = "node15", ReportingPerson = new string[] { "node12" }, fillColor = "#58b087", border = "#16955e" },
        new DataModel {  Name = "node16", ReportingPerson = new string[] {}, fillColor = "#14ad85" },
        new DataModel {  Name = "node17", ReportingPerson = new string[] { "node13", "node14", "node15" }, fillColor = "#659be5", border = "#3a6eb5" },
        new DataModel {  Name = "node18", ReportingPerson = new string[] {}, fillColor = "#14ad85" },
        new DataModel {  Name = "node19", ReportingPerson = new string[] { "node16", "node17", "node18" }, fillColor = "#8dbe6c", border = "#489911" },
        new DataModel {  Name = "node110", ReportingPerson = new string[] { "node16", "node17", "node18" }, fillColor = "#8dbe6c", border = "#489911" },
        new DataModel {  Name = "node111", ReportingPerson = new string[] { "node16", "node17", "node18", "node116" }, fillColor = "#8dbe6c", border = "#489911" },
        new DataModel {  Name = "node21", fillColor = "#e7704c", border = "#c15433" },
        new DataModel {  Name = "node22", ReportingPerson = new string[] { "node114" }, fillColor = "#efd46e", border = "#d6b123" },
        new DataModel {  Name = "node23", ReportingPerson = new string[] { "node22" }, fillColor = "#58b087", border = "#16955e" },
        new DataModel {  Name = "node24", ReportingPerson = new string[] { "node22" }, fillColor = "#58b087", border = "#16955e" },
        new DataModel {  Name = "node25", ReportingPerson = new string[] { "node22" }, fillColor = "#58b087", border = "#16955e" },
        new DataModel {  Name = "node26", ReportingPerson = new string[] {}, fillColor = "#14ad85" },
        new DataModel {  Name = "node27", ReportingPerson = new string[] { "node23", "node24", "node25" }, fillColor = "#659be5", border = "#3a6eb5" },
        new DataModel {  Name = "node28", ReportingPerson = new string[] {}, fillColor = "#14ad85" },
        new DataModel {  Name = "node29", ReportingPerson = new string[] { "node26", "node27", "node28", "node116" }, fillColor = "#8dbe6c", border = "#489911" },
        new DataModel {  Name = "node210", ReportingPerson = new string[] { "node26", "node27", "node28" }, fillColor = "#8dbe6c", border = "#489911" },
        new DataModel {  Name = "node211", ReportingPerson = new string[] { "node26", "node27", "node28" }, fillColor = "#8dbe6c", border = "#489911" },
        new DataModel {  Name = "node31", fillColor = "#e7704c", border = "#c15433" },
        new DataModel {  Name = "node114", ReportingPerson = new string[] { "node11", "node21", "node31" }, fillColor = "#f3904a", border = "#d3722e" },
        new DataModel {  Name = "node116", ReportingPerson = new string[] { "node12", "node22" }, fillColor = "#58b087", border = "#16955e" }
    };

}
