@page "/Diagrams/DefaultFunctionalities"

@using Syncfusion.EJ2.Blazor.Diagrams

@*Hidden:Lines*@
@using ej2_blazor_samples
@{
    SampleBrowser.CurrentSampleName = "Default Functionalities";
    SampleBrowser.CurrentControlName = "Diagram";
    SampleBrowser.CurrentControlCategory = "Diagram";
    SampleBrowser.CurrentControl = SampleBrowser.Config.Diagram;
    SampleBrowser.ActionDescription = new string[] {
        @"<p>
        This sample visualizes the processing of an order placed using credit card with built-in flow shapes in Syncfusion EJ2 Typescript Diagram.
    </p>
"
    };
    SampleBrowser.Description = new string[] {
        @"<p>
        This example shows how to create a simple flow chart using the diagram control. The <code>DiagramNodes</code> property can
        be used to define different stages of a process. To define the flow between different stages, the <code>DiagramConnectors</code>        property
        can be used.
    </p>

    <p>
        To easily build flow diagrams, few shapes are predefined and added to symbol palette. You can drag-and-drop predefined shapes
        into the drawing area. The <code>Symbols</code> property allows you to add predefined symbols to the palette.
    </p>

    <p>
        In this example, undo and redo support is enabled.
    </p>
    <br>"
    };
}
@*End:Hidden*@

<div class="control-section">
    <link href="https://ej2.syncfusion.com/javascript/demos/src/diagram/styles/diagram-common.css" rel="stylesheet">
    
    <div id="diagram-space">
        <EjsDiagram Width="100%" Height="690px">
            <DiagramSnapSettings>
                <HorizontalGridlines LineColor="#e0e0e0 " LineIntervals="@lineIntervals">
                </HorizontalGridlines>
                <VerticalGridlines LineColor="#e0e0e0" LineIntervals="@lineIntervals">
                </VerticalGridlines>
            </DiagramSnapSettings>
            <DiagramNodes>
                <DiagramNode Id="NewIdea" Height="60" Width="145" OffsetX="350" OffsetY="80">
                    <DiagramFlowShape Shape="@FlowShapes.Terminator" Type="@Syncfusion.EJ2.Blazor.Diagrams.Shapes.Flow"></DiagramFlowShape>
                    <NodeShapeStyle Fill="#357BD2" StrokeColor="white"></NodeShapeStyle>
                    <DiagramNodeAnnotations>
                        <DiagramNodeAnnotation Content="Place Order">
                            <NodeAnnotationStyle Fill="transparent" Color="white"></NodeAnnotationStyle>
                        </DiagramNodeAnnotation>
                    </DiagramNodeAnnotations>
                </DiagramNode>
                <DiagramNode Id="Meeting" Height="60" Width="145" OffsetX="350" OffsetY="160">
                    <DiagramFlowShape Shape="@FlowShapes.Process" Type="@Syncfusion.EJ2.Blazor.Diagrams.Shapes.Flow"></DiagramFlowShape>
                    <NodeShapeStyle Fill="#357BD2" StrokeColor="white"></NodeShapeStyle>
                    <DiagramNodeAnnotations>
                        <DiagramNodeAnnotation Content="Start Transaction">
                            <NodeAnnotationStyle Fill="transparent" Color="white"></NodeAnnotationStyle>
                        </DiagramNodeAnnotation>
                    </DiagramNodeAnnotations>
                </DiagramNode>
                <DiagramNode Id="BoardDecision" Height="60" Width="145" OffsetX="350" OffsetY="240">
                    <DiagramFlowShape Shape="@FlowShapes.Process" Type="@Syncfusion.EJ2.Blazor.Diagrams.Shapes.Flow"></DiagramFlowShape>
                    <NodeShapeStyle Fill="#357BD2" StrokeColor="white"></NodeShapeStyle>
                    <DiagramNodeAnnotations>
                        <DiagramNodeAnnotation Content="Verification">
                            <NodeAnnotationStyle Fill="transparent" Color="white"></NodeAnnotationStyle>
                        </DiagramNodeAnnotation>
                    </DiagramNodeAnnotations>
                </DiagramNode>
                <DiagramNode Id="Project" Height="60" Width="145" OffsetX="350" OffsetY="330">
                    <DiagramFlowShape Shape="@FlowShapes.Decision" Type="@Syncfusion.EJ2.Blazor.Diagrams.Shapes.Flow"></DiagramFlowShape>
                    <NodeShapeStyle Fill="#357BD2" StrokeColor="white"></NodeShapeStyle>
                    <DiagramNodeAnnotations>
                        <DiagramNodeAnnotation Content="Credit card valid?">
                            <NodeAnnotationStyle Fill="transparent" Color="white"></NodeAnnotationStyle>
                        </DiagramNodeAnnotation>
                    </DiagramNodeAnnotations>
                </DiagramNode>
                <DiagramNode Id="End" Height="60" Width="145" OffsetX="350" OffsetY="430">
                    <DiagramFlowShape Shape="@FlowShapes.Decision" Type="@Syncfusion.EJ2.Blazor.Diagrams.Shapes.Flow"></DiagramFlowShape>
                    <NodeShapeStyle Fill="#357BD2" StrokeColor="white"></NodeShapeStyle>
                    <DiagramNodeAnnotations>
                        <DiagramNodeAnnotation Content="Funds available?">
                            <NodeAnnotationStyle Fill="transparent" Color="white"></NodeAnnotationStyle>
                        </DiagramNodeAnnotation>
                    </DiagramNodeAnnotations>
                </DiagramNode>
                <DiagramNode Id="node11" Height="60" Width="145" OffsetX="580" OffsetY="330">
                    <DiagramFlowShape Shape="@FlowShapes.Process" Type="@Syncfusion.EJ2.Blazor.Diagrams.Shapes.Flow"></DiagramFlowShape>
                    <NodeShapeStyle Fill="#357BD2" StrokeColor="white"></NodeShapeStyle>
                    <DiagramNodeAnnotations>
                        <DiagramNodeAnnotation Content="Enter payment method">
                            <NodeAnnotationStyle Fill="transparent" Color="white"></NodeAnnotationStyle>
                        </DiagramNodeAnnotation>
                    </DiagramNodeAnnotations>
                </DiagramNode>
                <DiagramNode Id="transaction_entered" Height="60" Width="145" OffsetX="350" OffsetY="630">
                    <DiagramFlowShape Shape="@FlowShapes.Terminator" Type="@Syncfusion.EJ2.Blazor.Diagrams.Shapes.Flow"></DiagramFlowShape>
                    <NodeShapeStyle Fill="#357BD2" StrokeColor="white"></NodeShapeStyle>
                    <DiagramNodeAnnotations>
                        <DiagramNodeAnnotation Content="Log transaction">
                            <NodeAnnotationStyle Fill="transparent" Color="white"></NodeAnnotationStyle>
                        </DiagramNodeAnnotation>
                    </DiagramNodeAnnotations>
                </DiagramNode>
                <DiagramNode Id="node12" Height="60" Width="145" OffsetX="530" OffsetY="630">
                    <DiagramFlowShape Shape="@FlowShapes.Process" Type="@Syncfusion.EJ2.Blazor.Diagrams.Shapes.Flow"></DiagramFlowShape>
                    <NodeShapeStyle Fill="#357BD2" StrokeColor="white"></NodeShapeStyle>
                    <DiagramNodeAnnotations>
                        <DiagramNodeAnnotation Content="Reconcile the entries">
                            <NodeAnnotationStyle Fill="transparent" Color="white"></NodeAnnotationStyle>
                        </DiagramNodeAnnotation>
                    </DiagramNodeAnnotations>
                </DiagramNode>
                <DiagramNode Id="transaction_completed" Height="60" Width="145" OffsetX="350" OffsetY="530">
                    <DiagramFlowShape Shape="@FlowShapes.Process" Type="@Syncfusion.EJ2.Blazor.Diagrams.Shapes.Flow"></DiagramFlowShape>
                    <NodeShapeStyle Fill="#357BD2" StrokeColor="white"></NodeShapeStyle>
                    <DiagramNodeAnnotations>
                        <DiagramNodeAnnotation Content="Complete Transaction">
                            <NodeAnnotationStyle Fill="transparent" Color="white"></NodeAnnotationStyle>
                        </DiagramNodeAnnotation>
                    </DiagramNodeAnnotations>
                </DiagramNode>
                <DiagramNode Id="Data" Height="60" Width="145" OffsetX="160" OffsetY="530">
                    <DiagramFlowShape Shape="@FlowShapes.Data" Type="@Syncfusion.EJ2.Blazor.Diagrams.Shapes.Flow"></DiagramFlowShape>
                    <NodeShapeStyle Fill="#357BD2" StrokeColor="white"></NodeShapeStyle>
                    <DiagramNodeAnnotations>
                        <DiagramNodeAnnotation Content="Send e-mail">
                            <NodeAnnotationStyle Fill="transparent" Color="white"></NodeAnnotationStyle>
                        </DiagramNodeAnnotation>
                    </DiagramNodeAnnotations>
                </DiagramNode>
                <DiagramNode Id="node10" Height="70" Width="145" OffsetX="525" OffsetY="530">
                    <DiagramFlowShape Shape="@FlowShapes.DirectData" Type="@Syncfusion.EJ2.Blazor.Diagrams.Shapes.Flow"></DiagramFlowShape>
                    <NodeShapeStyle Fill="#357BD2" StrokeColor="white"></NodeShapeStyle>
                    <DiagramNodeAnnotations>
                        <DiagramNodeAnnotation Content="Customer Database">
                            <NodeAnnotationStyle Fill="transparent" Color="white"></NodeAnnotationStyle>
                        </DiagramNodeAnnotation>
                    </DiagramNodeAnnotations>
                </DiagramNode>
            </DiagramNodes>
            <DiagramConnectors>
                <DiagramConnector Id="connector1" SourceID="NewIdea" TargetID="Meeting">
                </DiagramConnector>
                <DiagramConnector Id="connector2" SourceID="Meeting" TargetID="BoardDecision"></DiagramConnector>
                <DiagramConnector Id="connector3" SourceID="BoardDecision" TargetID="Project"></DiagramConnector>
                <DiagramConnector Id="connector4" SourceID="Project" TargetID="End">
                    <DiagramConnectorAnnotations>
                        <DiagramConnectorAnnotation Content="Yes">
                            <ConnectorAnnotationStyle Fill="white"></ConnectorAnnotationStyle>
                        </DiagramConnectorAnnotation>
                    </DiagramConnectorAnnotations>
                </DiagramConnector>
                <DiagramConnector Id="connector5" SourceID="End" TargetID="transaction_completed">
                    <DiagramConnectorAnnotations>
                        <DiagramConnectorAnnotation Content="Yes">
                            <ConnectorAnnotationStyle Fill="white"></ConnectorAnnotationStyle>
                        </DiagramConnectorAnnotation>
                    </DiagramConnectorAnnotations>
                </DiagramConnector>
                <DiagramConnector Id="connector6" SourceID="transaction_completed" TargetID="transaction_entered"></DiagramConnector>
                <DiagramConnector Id="connector7" SourceID="transaction_completed" TargetID="Data"></DiagramConnector>
                <DiagramConnector Id="connector8" SourceID="transaction_completed" TargetID="node10"></DiagramConnector>
                <DiagramConnector Id="connector9" SourceID="node11" TargetID="Meeting" Type="@Segments.Orthogonal" Segments="@segment1"></DiagramConnector>
                <DiagramConnector Id="connector10" SourceID="End" TargetID="node11" Type="@Segments.Orthogonal" Segments="@segment2">
                    <DiagramConnectorAnnotations>
                        <DiagramConnectorAnnotation Content="No">
                            <ConnectorAnnotationStyle Fill="white"></ConnectorAnnotationStyle>
                        </DiagramConnectorAnnotation>
                    </DiagramConnectorAnnotations>
                </DiagramConnector>
                <DiagramConnector Id="connector11" SourceID="Project" TargetID="node11">
                    <DiagramConnectorAnnotations>
                        <DiagramConnectorAnnotation Content="No">
                            <ConnectorAnnotationStyle Fill="white"></ConnectorAnnotationStyle>
                        </DiagramConnectorAnnotation>
                    </DiagramConnectorAnnotations>
                </DiagramConnector>
                <DiagramConnector Id="connector12" SourceID="transaction_entered" TargetID="node12"></DiagramConnector>
            </DiagramConnectors>
        </EjsDiagram>
    </div>
</div>

@code{
    private double[] lineIntervals { get; set; } = new double[] {
                1, 9, 0.25, 9.75, 0.25, 9.75, 0.25, 9.75, 0.25, 9.75, 0.25, 9.75, 0.25, 9.75, 0.25, 9.75, 0.25, 9.75, 0.25, 9.75
                };

    private List<object> segment1 { get; set; } = new List<object> {
        new { direction= "Top", type= "Orthogonal", length= 120 }
    };
    private List<object> segment2 { get; set; } = new List<object>{
        new  { direction= "Right", type= "Orthogonal", length= 100 }
    };

 
}

