@page "/Diagrams/FlowExecution"

@using Syncfusion.EJ2.Blazor.Diagrams

@*Hidden:Lines*@
@using ej2_blazor_samples
@{
    SampleBrowser.CurrentSampleName = "Flow Execution";
    SampleBrowser.CurrentControlName = "Diagram";
    SampleBrowser.CurrentControlCategory = "Diagram";
    SampleBrowser.CurrentControl = SampleBrowser.Config.Diagram;
    SampleBrowser.ActionDescription = new string[] {
        @" <p>
            This sample demonstrates how we can process and get the consecutive nodes and connectors respectively.
        </p>"
    };
    SampleBrowser.Description = new string[] {
        @"<p>
            We can get the inward connections and outward connections of the node using <code>InEdges</code> and <code>OutEdges</code>        properties of the node. By using this connector’s name collection, we can find the node using <code>GetObject</code>.
            And also, we can get the nodes connected on the connector using <code>SourceNode</code> and <code>TargetNode</code>        properties of the connector.
        </p>
        <br>"
    };
}
@*End:Hidden*@

<div class="control-section">
    <EjsDiagram Width="100%" Height="499px">
        <DiagramSnapSettings Constraints="@SnapConstraints.None">
        </DiagramSnapSettings>
        <DiagramNodes>
            <DiagramNode Id="node1" Width="150" Height="50" OffsetX="100" OffsetY="125">
                <DiagramFlowShape Type="@Syncfusion.EJ2.Blazor.Diagrams.Shapes.Flow" Shape="@FlowShapes.Terminator"></DiagramFlowShape>
                <NodeShapeStyle Fill="#FBF6E1" StrokeColor="#E8DFB6" StrokeWidth="2"> </NodeShapeStyle>
                <DiagramNodeAnnotations>
                    <DiagramNodeAnnotation Content="Begin">
                    </DiagramNodeAnnotation>
                </DiagramNodeAnnotations>
            </DiagramNode>
            <DiagramNode Id="node2" Width="150" Height="50" OffsetX="300" OffsetY="125">
                <DiagramFlowShape Type="@Syncfusion.EJ2.Blazor.Diagrams.Shapes.Flow" Shape="@FlowShapes.Process"></DiagramFlowShape>
                <NodeShapeStyle Fill="#FBF6E1" StrokeColor="#E8DFB6" StrokeWidth="2"> </NodeShapeStyle>
                <DiagramNodeAnnotations>
                    <DiagramNodeAnnotation Content="Specify Collection">
                    </DiagramNodeAnnotation>
                </DiagramNodeAnnotations>
                <DiagramPorts>
                    <DiagramPort Id="node2port">
                        <NodePortOffset X="1" Y="0.5"></NodePortOffset>
                    </DiagramPort>
                </DiagramPorts>
            </DiagramNode>
            <DiagramNode Id="node3" Width="150" Height="50" OffsetX="500" OffsetY="125">
                <DiagramFlowShape Type="@Syncfusion.EJ2.Blazor.Diagrams.Shapes.Flow" Shape="@FlowShapes.Decision"></DiagramFlowShape>
                <NodeShapeStyle Fill="#FBF6E1" StrokeColor="#E8DFB6" StrokeWidth="2"> </NodeShapeStyle>
                <DiagramNodeAnnotations>
                    <DiagramNodeAnnotation Content="Particulars required?">
                    </DiagramNodeAnnotation>
                </DiagramNodeAnnotations>
                <DiagramPorts>
                    <DiagramPort Id="node3port1">
                        <NodePortOffset X="0.5" Y="1"></NodePortOffset>
                    </DiagramPort>
                </DiagramPorts>
            </DiagramNode>
            <DiagramNode Id="node4" Width="150" Height="50" OffsetX="730" OffsetY="125">
                <DiagramFlowShape Type="@Syncfusion.EJ2.Blazor.Diagrams.Shapes.Flow" Shape="@FlowShapes.Process"></DiagramFlowShape>
                <NodeShapeStyle Fill="#FBF6E1" StrokeColor="#E8DFB6" StrokeWidth="2"> </NodeShapeStyle>
                <DiagramNodeAnnotations>
                    <DiagramNodeAnnotation Content="Specify Particulars?">
                    </DiagramNodeAnnotation>
                </DiagramNodeAnnotations>
            </DiagramNode>
            <DiagramNode Id="node5" Width="150" Height="50" OffsetX="500" OffsetY="225">
                <DiagramFlowShape Type="@Syncfusion.EJ2.Blazor.Diagrams.Shapes.Flow" Shape="@FlowShapes.Process"></DiagramFlowShape>
                <NodeShapeStyle Fill="#FBF6E1" StrokeColor="#E8DFB6" StrokeWidth="2"> </NodeShapeStyle>
                <DiagramNodeAnnotations>
                    <DiagramNodeAnnotation Content="Design Collection">
                    </DiagramNodeAnnotation>
                </DiagramNodeAnnotations>
                <DiagramPorts>
                    <DiagramPort Id="node5port">
                        <NodePortOffset X="1" Y="0.5"></NodePortOffset>
                    </DiagramPort>
                </DiagramPorts>
            </DiagramNode>
            <DiagramNode Id="node6" Width="150" Height="50" OffsetX="500" OffsetY="325">
                <DiagramFlowShape Type="@Syncfusion.EJ2.Blazor.Diagrams.Shapes.Flow" Shape="@FlowShapes.Process"></DiagramFlowShape>
                <NodeShapeStyle Fill="#FBF6E1" StrokeColor="#E8DFB6" StrokeWidth="2"> </NodeShapeStyle>
                <DiagramNodeAnnotations>
                    <DiagramNodeAnnotation Content="Cluster of Events">
                    </DiagramNodeAnnotation>
                </DiagramNodeAnnotations>
            </DiagramNode>
            <DiagramNode Id="node7" Width="150" Height="50" OffsetX="500" OffsetY="420">
                <DiagramFlowShape Type="@Syncfusion.EJ2.Blazor.Diagrams.Shapes.Flow" Shape="@FlowShapes.Process"></DiagramFlowShape>
                <NodeShapeStyle Fill="#FBF6E1" StrokeColor="#E8DFB6" StrokeWidth="2"> </NodeShapeStyle>
                <DiagramNodeAnnotations>
                    <DiagramNodeAnnotation Content="Start the process">
                    </DiagramNodeAnnotation>
                </DiagramNodeAnnotations>
            </DiagramNode>
            <DiagramNode Id="node8" Width="150" Height="50" OffsetX="730" OffsetY="320">
                <DiagramFlowShape Type="@Syncfusion.EJ2.Blazor.Diagrams.Shapes.Flow" Shape="@FlowShapes.Process"></DiagramFlowShape>
                <NodeShapeStyle Fill="#FBF6E1" StrokeColor="#E8DFB6" StrokeWidth="2"> </NodeShapeStyle>
                <DiagramNodeAnnotations>
                    <DiagramNodeAnnotation Content="Record and analyze results">
                    </DiagramNodeAnnotation>
                </DiagramNodeAnnotations>
                <DiagramPorts>
                    <DiagramPort Id="node8port">
                        <NodePortOffset X="1" Y="0.5"></NodePortOffset>
                    </DiagramPort>
                </DiagramPorts>
            </DiagramNode>
            <DiagramNode Id="node9" Width="150" Height="50" OffsetX="730" OffsetY="420">
                <DiagramFlowShape Type="@Syncfusion.EJ2.Blazor.Diagrams.Shapes.Flow" Shape="@FlowShapes.Terminator"></DiagramFlowShape>
                <NodeShapeStyle Fill="#FBF6E1" StrokeColor="#E8DFB6" StrokeWidth="2"> </NodeShapeStyle>
                <DiagramNodeAnnotations>
                    <DiagramNodeAnnotation Content="End">
                    </DiagramNodeAnnotation>
                </DiagramNodeAnnotations>
            </DiagramNode>
        </DiagramNodes>
        <DiagramConnectors>
            <DiagramConnector Id="connector1" SourceID="node1" TargetID="node2">
                <ConnectorShapeStyle StrokeColor="#8D8D8D"></ConnectorShapeStyle>
                <ConnectorTargetDecorator Shape="@DecoratorShapes.Arrow">
                    <DecoratorShapeStyle StrokeColor="#8D8D8D" Fill="#8D8D8D"></DecoratorShapeStyle>
                </ConnectorTargetDecorator>
            </DiagramConnector>
            <DiagramConnector Id="connector2" SourceID="node2" TargetID="node3">
                <ConnectorShapeStyle StrokeColor="#8D8D8D"></ConnectorShapeStyle>
                <ConnectorTargetDecorator Shape="@DecoratorShapes.Arrow">
                    <DecoratorShapeStyle StrokeColor="#8D8D8D" Fill="#8D8D8D"></DecoratorShapeStyle>
                </ConnectorTargetDecorator>
            </DiagramConnector>
            <DiagramConnector Id="connector3" SourceID="node3" TargetID="node4">
                <ConnectorShapeStyle StrokeColor="#8D8D8D"></ConnectorShapeStyle>
                <ConnectorTargetDecorator Shape="@DecoratorShapes.Arrow">
                    <DecoratorShapeStyle StrokeColor="#8D8D8D" Fill="#8D8D8D"></DecoratorShapeStyle>
                </ConnectorTargetDecorator>
                <DiagramConnectorAnnotations>
                    <DiagramConnectorAnnotation Content="Yes">
                        <ConnectorAnnotationStyle Fill="white"></ConnectorAnnotationStyle>
                    </DiagramConnectorAnnotation>
                </DiagramConnectorAnnotations>
            </DiagramConnector>
            <DiagramConnector Id="connector4" SourceID="node3" TargetID="node5">
                <ConnectorShapeStyle StrokeColor="#8D8D8D"></ConnectorShapeStyle>
                <ConnectorTargetDecorator Shape="@DecoratorShapes.Arrow">
                    <DecoratorShapeStyle StrokeColor="#8D8D8D" Fill="#8D8D8D"></DecoratorShapeStyle>
                </ConnectorTargetDecorator>
                <DiagramConnectorAnnotations>
                    <DiagramConnectorAnnotation Content="No">
                        <ConnectorAnnotationStyle Fill="white"></ConnectorAnnotationStyle>
                    </DiagramConnectorAnnotation>
                </DiagramConnectorAnnotations>
            </DiagramConnector>
            <DiagramConnector Id="connector5" SourceID="node5" TargetID="node6">
                <ConnectorShapeStyle StrokeColor="#8D8D8D"></ConnectorShapeStyle>
                <ConnectorTargetDecorator Shape="@DecoratorShapes.Arrow">
                    <DecoratorShapeStyle StrokeColor="#8D8D8D" Fill="#8D8D8D"></DecoratorShapeStyle>
                </ConnectorTargetDecorator>
            </DiagramConnector>
            <DiagramConnector Id="connector6" SourceID="node6" TargetID="node7">
                <ConnectorShapeStyle StrokeColor="#8D8D8D"></ConnectorShapeStyle>
                <ConnectorTargetDecorator Shape="@DecoratorShapes.Arrow">
                    <DecoratorShapeStyle StrokeColor="#8D8D8D" Fill="#8D8D8D"></DecoratorShapeStyle>
                </ConnectorTargetDecorator>
            </DiagramConnector>
            <DiagramConnector Id="connector7" SourceID="node8" TargetID="node6">
                <ConnectorShapeStyle StrokeColor="#8D8D8D"></ConnectorShapeStyle>
                <ConnectorTargetDecorator Shape="@DecoratorShapes.Arrow">
                    <DecoratorShapeStyle StrokeColor="#8D8D8D" Fill="#8D8D8D"></DecoratorShapeStyle>
                </ConnectorTargetDecorator>
            </DiagramConnector>
            <DiagramConnector Id="connector8" SourceID="node7" TargetID="node9">
                <ConnectorShapeStyle StrokeColor="#8D8D8D"></ConnectorShapeStyle>
                <ConnectorTargetDecorator Shape="@DecoratorShapes.Arrow">
                    <DecoratorShapeStyle StrokeColor="#8D8D8D" Fill="#8D8D8D"></DecoratorShapeStyle>
                </ConnectorTargetDecorator>
            </DiagramConnector>
            <DiagramConnector Id="connector9" SourceID="node4" TargetID="node5" TargetPortID="node5port" Type="@Segments.Orthogonal" Segments="@segment1">
                <ConnectorShapeStyle StrokeColor="#8D8D8D"></ConnectorShapeStyle>
                <ConnectorTargetDecorator Shape="@DecoratorShapes.Arrow">
                    <DecoratorShapeStyle StrokeColor="#8D8D8D" Fill="#8D8D8D"></DecoratorShapeStyle>
                </ConnectorTargetDecorator>
            </DiagramConnector>
        </DiagramConnectors>
    </EjsDiagram>
</div>
@code{
    private List<object> segment1 { get; set; } = new List<object> {
        new { direction= "Bottom", type= "Orthogonal", length= 220 }
    };
}

