@page "/Diagrams/FlowExecution"

@using Syncfusion.EJ2.Blazor.Buttons
@using Syncfusion.EJ2.Blazor.Diagrams
@using System.Collections.ObjectModel
@using DiagramShapes = Syncfusion.EJ2.Blazor.Diagrams.Shapes
@using DiagramSegments = Syncfusion.EJ2.Blazor.Diagrams.Segments
@inherits SampleBaseComponent;

<link href="https://ej2.syncfusion.com/javascript/demos/src/diagram/styles/diagram-common.css" rel="stylesheet">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

<div class="col-lg-8 control-section" style="border-right: 1px solid #D7D7D7">
    <div id="diagram-space" class="content-wrapper">
        <EjsDiagram Width="100%" Height="580px" @ref="@diagram"
                    Nodes="@NodeCollection"
                    Connectors="@ConnectorCollection">
            <DiagramSnapSettings Constraints="@SnapConstraints.None"></DiagramSnapSettings>
            <DiagramEvents SelectionChanged="@OnSelectionChanged"></DiagramEvents>
        </EjsDiagram>
    </div>
</div>
<div class="col-lg-4 property-section">
    <style>
        .row {
            margin-left: 0px;
            margin-right: 0px;
            display: block;
        }

        .col-xs-7 {
            width: 300px;
            padding-left: 0px;
            padding-right: 0px;
        }
    </style>
    <div class="property-panel-header">
        Choose a flow
    </div>

    <div class="row property-panel-content">
        <div class="row" style="padding-top: 8px">
            <div class="col-xs-7">
                <EjsRadioButton Label="None" Name="radio" Value="UnhighlightAll" Checked="true" @onchange="OnCheckedItemChange"></EjsRadioButton>
            </div>
        </div>
        <div class="row" style="padding-top: 8px">
            <div class="col-xs-7">
                <EjsRadioButton Label="Incoming connections" Name="radio" Value="LinksInto" @onchange="OnCheckedItemChange"></EjsRadioButton>
            </div>
        </div>
        <div class="row" style="padding-top: 8px">
            <div class="col-xs-7">
                <EjsRadioButton Label="Outgoing connections" Name="radio" Value="LinksOutOf" @onchange="OnCheckedItemChange"></EjsRadioButton>
            </div>
        </div>
        <div class="row" style="padding-top: 8px">
            <div class="col-xs-7">
                <EjsRadioButton Label="Incoming and outgoing connections" Name="radio" Value="LinksConnected" @onchange="OnCheckedItemChange"></EjsRadioButton>
            </div>
        </div>
        <div class="row" style="padding-top: 8px">
            <div class="col-xs-7">
                <EjsRadioButton Label="Incoming nodes" Name="radio" Value="NodesInto" @onchange="OnCheckedItemChange"></EjsRadioButton>
            </div>
        </div>
        <div class="row" style="padding-top: 8px">
            <div class="col-xs-7">
                <EjsRadioButton Label="Outgoing nodes" Name="radio" Value="NodesOutOf" @onchange="OnCheckedItemChange"></EjsRadioButton>
            </div>
        </div>
        <div class="row" style="padding-top: 8px">
            <div class="col-xs-7">
                <EjsRadioButton Label="Incoming and outgoing nodes" Name="radio" Value="NodesConnected" @onchange="OnCheckedItemChange"></EjsRadioButton>
            </div>
        </div>
        <div class="row" style="padding-top: 8px">
            <div class="col-xs-7">
                <EjsRadioButton Label="Adjacent nodes" Name="radio" Value="NodesReachable" @onchange="OnCheckedItemChange"></EjsRadioButton>
            </div>
        </div>
    </div>
</div>


@functions
{
    int connectorCount;
    string currentButton;
    List<DiagramConnector> highLightedConnector = new List<DiagramConnector>();
    List<DiagramNode> highLightedNode = new List<DiagramNode>();
    List<DiagramConnector> reachableConnectors = new List<DiagramConnector>();

    // Reference to diagram
    EjsDiagram diagram;

    // Defines diagram's nodes collection
    public ObservableCollection<DiagramNode> NodeCollection { get; set; }

    // Defines diagram's connector collection
    public ObservableCollection<DiagramConnector> ConnectorCollection { get; set; }

    /// <summary>
    /// Initializing the objects
    /// </summary>
    protected override void OnInitialized()
    {
        InitDiagramModel();
    }
    private void OnSelectionChanged(IBlazorSelectionChangeEventArgs args)
    {
        if (args.State == EventState.Changed)
            ApplyChanges(currentButton);
    }
    private void InitDiagramModel()
    {
        NodeCollection = new ObservableCollection<DiagramNode>();
        ConnectorCollection = new ObservableCollection<DiagramConnector>();

        CreateNode("node1", 100, 125, FlowShapes.Terminator, "Begin");
        CreateNode("node2", 300, 125, FlowShapes.Process, "Specify collection");
        CreateNode("node3", 500, 125, FlowShapes.Decision, "Particulars \n required?");
        CreateNode("node4", 730, 125, FlowShapes.Process, "Specify particulars");
        CreateNode("node5", 500, 225, FlowShapes.Process, "Design collection");
        CreateNode("node6", 500, 320, FlowShapes.Process, "Cluster of events");
        CreateNode("node7", 500, 420, FlowShapes.Process, "Start the process");
        CreateNode("node8", 730, 320, FlowShapes.Process, "Record and analyze \n results");
        CreateNode("node9", 730, 420, FlowShapes.Terminator, "End");

        Syncfusion.EJ2.Blazor.Diagrams.DiagramConnectorSegment segment1 = new Syncfusion.EJ2.Blazor.Diagrams.DiagramConnectorSegment()
        {
            Type = DiagramSegments.Orthogonal,
            Length = 75,
            Direction = Direction.Bottom
        };

        CreateConnector("node1", "node2");
        CreateConnector("node2", "node3");
        CreateConnector("node3", "node4", "Yes");
        CreateConnector("node3", "node5", "No");
        CreateConnector("node5", "node6");
        CreateConnector("node6", "node7");
        CreateConnector("node8", "node6");
        CreateConnector("node7", "node9");
        CreateConnector("node4", "node5", default(string), segment1);
    }

    private void CreateNode(string id, double x, double y, FlowShapes shape, string label)
    {
        DiagramNodeAnnotation annotation = new DiagramNodeAnnotation() { Content = label };

        DiagramNode diagramNode = new DiagramNode()
        {
            Id = id,
            OffsetX = x,
            OffsetY = y,
            Width = 150,
            Height = 50,
            Shape = new DiagramShape() { Type = DiagramShapes.Flow, FlowShape = shape },
            Annotations = new ObservableCollection<DiagramNodeAnnotation>() { annotation },
            Style = new NodeShapeStyle() { Fill = "#FBF6E1", StrokeColor = "#E8DFB6", StrokeWidth = 2 }
        };

        NodeCollection.Add(diagramNode);
    }

    private void CreateConnector(string sourceId, string targetId, string label = default(string), Syncfusion.EJ2.Blazor.Diagrams.DiagramConnectorSegment segment = null)
    {
        DiagramConnector diagramConnector = new DiagramConnector()
        {
            Id = string.Format("connector{0}", ++connectorCount),
            SourceID = sourceId,
            TargetID = targetId,
            Style = new ConnectorShapeStyle() { StrokeWidth = 2, StrokeColor = "#8D8D8D" },
            TargetDecorator = new ConnectorTargetDecorator()
            {
                Style = new DecoratorShapeStyle() { StrokeColor = "#8D8D8D", Fill = "#8D8D8D" }
            }
        };

        if (label != default(string))
        {
            var annotation = new DiagramConnectorAnnotation()
            {
                Content = label,
                Style = new AnnotationStyle()
                {
                    Fill = "white"
                }
            };
            diagramConnector.Annotations = new ObservableCollection<DiagramConnectorAnnotation>() { annotation };
        }

        if (segment != null)
        {
            diagramConnector.Type = DiagramSegments.Orthogonal;
            diagramConnector.Segments = new ObservableCollection<Syncfusion.EJ2.Blazor.Diagrams.DiagramConnectorSegment>() { segment };
        }

        ConnectorCollection.Add(diagramConnector);
    }

    private void OnCheckedItemChange(Microsoft.AspNetCore.Components.ChangeEventArgs args)
    {
        currentButton = args.Value.ToString();
        ApplyChanges(currentButton);
    }

    public void ApplyChanges(string selectedButton)
    {
        UnHighLight();
        switch (selectedButton)
        {
            case "LinksInto":
                LinkedConnector(false);
                break;
            case "LinksOutOf":
                LinkedConnector(true);
                break;
            case "LinksConnected":
                LinkedConnector(false);
                LinkedConnector(true);
                break;
            case "NodesInto":
                LinkedNode(false);
                break;
            case "NodesOutOf":
                LinkedNode(true);
                break;
            case "NodesConnected":
                LinkedNode(false);
                LinkedNode(true);
                break;
            case "NodesReachable":
                ChildrenFlow();
                break;
        }
    }

    public async void LinkedConnector(bool isOutEdge)
    {
        if (diagram.SelectedItems.Nodes.Count > 0)
        {
            string nodeId = this.diagram.SelectedItems.Nodes[0].Id;
            string[] edges = await diagram.getEdges(nodeId, isOutEdge);
            foreach (string edge in edges)
            {
                DiagramConnector connector = diagram.GetConnector(edge);
                highLightedConnector.Add(connector);
                connector.Style.StrokeColor = "#1413F8";
                connector.TargetDecorator.Style.StrokeColor = "#1413F8";
                connector.TargetDecorator.Style.Fill = "#1413F8";
            }
        }
    }

    public async void LinkedNode(bool isOutEdge)
    {
        if (diagram.SelectedItems.Nodes.Count > 0)
        {
            string nodeId = this.diagram.SelectedItems.Nodes[0].Id;
            string[] edges = await diagram.getEdges(nodeId, isOutEdge);
            foreach (string edge in edges)
            {
                DiagramConnector connector = diagram.GetConnector(edge);
                DiagramNode node = null;
                if (isOutEdge)
                {
                    node = diagram.GetNode(connector.TargetID);
                }
                else
                {
                    node = diagram.GetNode(connector.SourceID);
                }

                highLightedNode.Add(node);
                node.Style.StrokeColor = "#1413F8";
            }
        }
    }

    public async void ChildrenFlow()
    {
        if (diagram.SelectedItems.Nodes.Count > 0)
        {
            string nodeId = this.diagram.SelectedItems.Nodes[0].Id;
            await FindReachable(nodeId);
            if (reachableConnectors.Count > 0)
            {
                foreach (DiagramConnector connector in reachableConnectors)
                {
                    highLightedConnector.Add(connector);
                    connector.Style.StrokeColor = "#1413F8";
                    connector.TargetDecorator.Style.StrokeColor = "#1413F8";
                    connector.TargetDecorator.Style.Fill = "#1413F8";
                }

                reachableConnectors.Clear();
            }
        }
    }

    public async Task<List<DiagramConnector>> FindReachable(string nodeId)
    {
        string[] edges = await diagram.getEdges(nodeId, true);
        foreach (string edge in edges)
        {
            DiagramConnector connector = diagram.GetConnector(edge);
            if (reachableConnectors.Contains(connector))
            {
                continue;
            }

            if (connector.Annotations == null || connector.Annotations.Count == 0 || connector.Annotations[0].Content != "No")
            {
                reachableConnectors.Add(connector);
                await FindReachable(connector.TargetID);
            }
        }
        return reachableConnectors;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            //OnAfterRenderAsync will be triggered after the component rendered.
            await Task.Delay(500);
            diagram.Select(new ObservableCollection<DiagramNode>() { diagram.Nodes[2] }, null);
            StateHasChanged();
        }
    }
    public void UnHighLight()
    {
        foreach (DiagramNode node in highLightedNode)
        {
            node.Style.StrokeColor = "#E8DFB6";
        }

        foreach (DiagramConnector connector in highLightedConnector)
        {
            connector.Style.StrokeColor = "#8D8D8D";
            connector.TargetDecorator.Style.StrokeColor = "#8D8D8D";
            connector.TargetDecorator.Style.Fill = "#8D8D8D";
        }

        highLightedNode.Clear();
        highLightedConnector.Clear();
    }

}
