@page "/Diagrams/hierarchical-tree"

@using Syncfusion.EJ2.Blazor.Diagrams
@using System.Collections.ObjectModel
@using Syncfusion.EJ2.Blazor.Buttons
@using Syncfusion.EJ2.Blazor.Inputs
@using Syncfusion.EJ2.Blazor.DropDowns
@using Newtonsoft.Json
@inherits SampleBaseComponent;
@*Hidden:Lines*@
<style>

    #diagram {
        display: block;
    }

    .row {
        display: block;
    }

    .image-pattern-style {
        background-color: white;
        background-size: contain;
        background-repeat: no-repeat;
        height: 75px;
        width: calc((100% - 12px) / 2);
        cursor: pointer;
        border: 1px solid #D5D5D5;
        background-position: center;
        float: left;
    }

    .row {
        margin-left: 0px;
        margin-right: 0px;
    }

    .row-header {
        font-size: 13px;
        font-weight: 600;
    }

    .e-checkbox-wrapper .e-label {
        font-size: 12px;
    }

    .e-selected-style {
        border-color: #006CE6;
        border-width: 2px;
    }

    .col-xs-6 {
        padding-left: 0px;
        padding-right: 0px;
    }

    .sb-property-border {
        border-right: 1px solid #D7D7D7;
    }
</style>
@*End:Hidden*@
<div class="col-lg-8 control-section sb-property-border">
    <div class="content-wrapper">
        <EjsDiagram @ref="@diagram" id="diagram" Width="100%" Height="690px" Layout="@LayoutValue" Tool="@DiagramTools.ZoomPan" ConnectorDefaults="@ConnectorDefault" NodeDefaults="@NodeDefaults">
            <DiagramDataSource Id="Name" ParentId="Category" DataSource="@DataSource" DataMapSettings="@datamap">
            </DiagramDataSource>
            <DiagramSnapSettings Constraints="@SnapConstraints.None"></DiagramSnapSettings>
            <DiagramPageSettings FitOptions="@FitOptions"></DiagramPageSettings>
        </EjsDiagram>
    </div>
</div>
<div class="col-lg-4 property-section">
    <div class="property-panel-header">
        Properties
    </div>
    <div class="row property-panel-content" id="appearance">
        <div class="row row-header">
            Appearance
        </div>
        <div class="row" style="padding-top: 8px">
            <div class="@dict["topToBottom"]" @onclick="@ToptoBottomClick" id="topToBottom" style="background-image: url(//ej2.syncfusion.com/demos/src/diagram/Images/common-orientation/toptobottom.png); margin-right: 3px">
            </div>
            <div class="@dict["bottomToTop"]" @onclick="@BottomtoTopClick" id="bottomToTop" style="background-image: url(//ej2.syncfusion.com/demos/src/diagram/Images/common-orientation/bottomtotop.png); margin: 0px 3px">
            </div>
        </div>
        <div class="row" style="padding-top: 8px">
            <div class="@dict["leftToRight"]" @onclick="@LefttoRightClick" id="leftToRight" style="background-image: url(//ej2.syncfusion.com/demos/src/diagram/Images/common-orientation/lefttoright.png); margin-right: 3px">
            </div>
            <div class="@dict["rightToLeft"]" @onclick="@RighttoLeftClick" id="rightToLeft" style="background-image: url(//ej2.syncfusion.com/demos/src/diagram/Images/common-orientation/righttoleft.png); margin: 0px 3px">
            </div>
        </div>
    </div>
    <div class="row property-panel-content" style="padding-top: 10px">
        <div class="row row-header">
            Behavior
        </div>
        <div class="row" style="padding-top: 8px">
            <div style="display: table;height: 35px;" class="col-xs-6">
                <div style="display: table-cell; vertical-align: middle">Horizontal Spacing</div>
            </div>
            <div class="col-xs-6">
                <EjsNumericTextBox TValue="int?" ID="hSpacing" Format="###.##" Width="100%" Min="20" Max="60" Step="2" Value="@HValue">
                    <NumericTextBoxEvents TValue="int?" ValueChange="HSpacingChange"></NumericTextBoxEvents>
                </EjsNumericTextBox>
            </div>
        </div>
        <div class="row" style="padding-top: 8px">
            <div style="display: table;height: 35px;" class="col-xs-6">
                <div style="display: table-cell; vertical-align: middle">Vertical Spacing</div>
            </div>
            <div class="col-xs-6">
                <EjsNumericTextBox TValue="int?" ID="vSpacing" Format="###.##" Width="100%" Min="20" Max="60" Step="2" Value="@VValue">
                    <NumericTextBoxEvents TValue="int?" ValueChange="VSpacingChange"></NumericTextBoxEvents>
                </EjsNumericTextBox>
            </div>
        </div>
    </div>
</div>




@functions{
    EjsDiagram diagram;
    EjsCheckBox checkBox;
    public int? HValue { get; set; } = 40;
    public int? VValue { get; set; } = 40;
    static string selecteditem = "image-pattern-style e-selected-style";
    static string unselecteditem = "image-pattern-style";
    DiagramFitOptions FitOptions = new DiagramFitOptions()
    {
        CanFit = true,
        Mode = FitModes.Width

    };
    Dictionary<string, string> dict = new Dictionary<string, string>() { { "topToBottom", selecteditem }, { "bottomToTop", unselecteditem }, { "leftToRight", unselecteditem }, { "rightToLeft", unselecteditem } };
    TreeInfo LayoutInfo = new TreeInfo()
    {
        CanEnableSubTree = true,
        Orientation = SubTreeOrientation.Horizontal

    };
    DiagramLayout LayoutValue = new DiagramLayout() { };


    List<DiagramDataMapSetting> datamap { get; set; } = new List<DiagramDataMapSetting>() {
        new DiagramDataMapSetting() { Property = "Shape.TextContent", Field = "Name" ,},
        new DiagramDataMapSetting() { Property = "Style.StrokeColor", Field = "FillColor" ,},
        new DiagramDataMapSetting() { Property = "Style.Fill", Field = "FillColor" ,},
        };

    DiagramConnector ConnectorDefault = new DiagramConnector()
    {
        TargetDecorator = new ConnectorTargetDecorator() { Shape = DecoratorShapes.None },
        Type = Segments.Orthogonal,
        Style = new ConnectorShapeStyle() { StrokeColor = "#6d6d6d" },
        Constraints = 0,
        CornerRadius = 5
    };

    DiagramNode NodeDefaults = new DiagramNode
    {
        Style = new NodeShapeStyle() { Fill = "#659be5", StrokeColor = "none", Color = "white", StrokeWidth = 2, },
        BackgroundColor = "#659be5",
        Shape = new DiagramShape() { Type = Syncfusion.EJ2.Blazor.Diagrams.Shapes.Text, Margin = new BasicShapeMargin() { Left = 5, Right = 5, Bottom = 5, Top = 5 } },
        ExpandIcon = new NodeExpandIcon()
        {
            Height = 10,
            Width = 10,
            Shape = IconShapes.None,
            Fill = "lightgray",
            Offset = new IconOffset() { X = 0.5, Y = 1 },
            VerticalAlignment = VerticalAlignment.Auto,
            Margin = new ExpandIconMargin() { Bottom = 0, Left = 0, Right = 0, Top = 0 }
        },
        CollapseIcon = new NodeCollapseIcon()
        {
            Offset = new IconOffset() { X = 0.5, Y = 1 },
            VerticalAlignment = VerticalAlignment.Auto,
            Height = 10,
            Width = 10,
            Shape = IconShapes.None,
            Fill = "lightgray",
            Padding = new IconPadding() { Top = 5 }
        }

    };

    public class HierarchicalDetails
    {
        public string Name { get; set; }
        public string FillColor { get; set; }
        public string Category { get; set; }

    }
    public List<object> DataSource = new List<object>()
{
                new HierarchicalDetails(){ Name ="Diagram", Category="",FillColor="#659be5"},
                new HierarchicalDetails(){ Name ="Layout", Category="Diagram",FillColor="#659be5"},
                new HierarchicalDetails(){ Name ="Tree Layout", Category="Layout",FillColor="#659be5"},
                new HierarchicalDetails(){ Name ="Organizational Chart", Category="Layout",FillColor="#659be5"},
                new HierarchicalDetails(){ Name ="Hierarchical Tree", Category="Tree Layout",FillColor="#659be5"},
                new HierarchicalDetails(){ Name ="Radial Tree", Category="Tree Layout",FillColor="#659be5"},
                new HierarchicalDetails(){ Name ="Mind Map", Category="Hierarchical Tree",FillColor="#659be5"},
                new HierarchicalDetails(){ Name ="Family Tree", Category="Hierarchical Tree",FillColor="#659be5"},
                new HierarchicalDetails(){ Name ="Management", Category="Organizational Chart",FillColor="#659be5"},
                new HierarchicalDetails(){ Name ="Human Resources", Category="Management",FillColor="#659be5"},
                new HierarchicalDetails(){ Name ="University", Category="Management",FillColor="#659be5"},
                new HierarchicalDetails(){ Name ="Business", Category="#Management",FillColor="#659be5"}
                };



    protected override void OnInitialized()
    {
        LayoutValue = new DiagramLayout()
        {
            Type = LayoutType.HierarchicalTree,
            VerticalSpacing = 30,
            HorizontalSpacing = 30,
            EnableAnimation = true,
            LayoutInfo = this.LayoutInfo

        };

    }

    private void updateSelection(string id)
    {
        for (int i = 0; i < dict.Count; i++)
        {
            var value = dict.Values.ElementAt(i);
            var key = dict.Keys.ElementAt(i);
            if (dict.ContainsKey(id) && key == id)
            {
                value = selecteditem;
            }
            else
            {
                value = unselecteditem;
            }
            dict.Remove(key);
            dict.Add(key, value);
        }
    }

    public class ImageFields
    {
        public string Text { get; set; }
    }
    private List<Syncfusion.EJ2.Blazor.SplitButtons.ItemModel> Images = new List<Syncfusion.EJ2.Blazor.SplitButtons.ItemModel>() {
                        new Syncfusion.EJ2.Blazor.SplitButtons.ItemModel(){Text ="JPG" },
                        new Syncfusion.EJ2.Blazor.SplitButtons.ItemModel(){Text="PNG" },
                        new Syncfusion.EJ2.Blazor.SplitButtons.ItemModel(){Text="BMP" },
                        new Syncfusion.EJ2.Blazor.SplitButtons.ItemModel(){Text="SVG" }
                };


    private void HSpacingChange(Syncfusion.EJ2.Blazor.Inputs.ChangeEventArgs args)
    {
        HValue = (int)args.Value;
        diagram.Layout.HorizontalSpacing = args.Value;
        StateHasChanged();
    }
    private void VSpacingChange(Syncfusion.EJ2.Blazor.Inputs.ChangeEventArgs args)
    {
        VValue = (int)args.Value;
        diagram.Layout.VerticalSpacing = args.Value;
        StateHasChanged();

    }

    private void ToptoBottomClick()
    {
        updateSelection("topToBottom");
        diagram.Layout.Orientation = LayoutOrientation.TopToBottom;
        StateHasChanged();

    }
    private void LefttoRightClick()
    {
        updateSelection("leftToRight");
        diagram.Layout.Orientation = LayoutOrientation.LeftToRight;
        StateHasChanged();

    }
    private void RighttoLeftClick()
    {
        updateSelection("rightToLeft");
        diagram.Layout.Orientation = LayoutOrientation.RightToLeft;
        StateHasChanged();

    }
    private void BottomtoTopClick()
    {
        updateSelection("bottomToTop");
        diagram.Layout.Orientation = LayoutOrientation.BottomToTop;
        StateHasChanged();

    }
}


