@page "/Diagrams/Nodes"

@using Syncfusion.EJ2.Blazor.Diagrams

@*Hidden:Lines*@
@using ej2_blazor_samples
@{
    SampleBrowser.CurrentSampleName = "Nodes";
    SampleBrowser.CurrentControlName = "Diagram";
    SampleBrowser.CurrentControlCategory = "Diagram";
    SampleBrowser.CurrentControl = SampleBrowser.Config.Diagram;
    SampleBrowser.ActionDescription = new string[] {
        @"    <p>
        This sample visualizes the different stages of a software development life cycle using a circular flow diagram.
    </p>"
    };
    SampleBrowser.Description = new string[] {
       @"<p>
        This example shows how to add nodes to a diagram control and how to customize the appearance of the nodes. The
        <code>NodeShapeStyle</code> property of the node can be used to customize the appearance of the nodes.
    </p>
    <br>"
    };
}
@*End:Hidden*@

    <div class="control-section">
        <EjsDiagram Width="100%" Height="700px">
            <DiagramSnapSettings Constraints="@SnapConstraints.None">
            </DiagramSnapSettings>
            <DiagramNodes>
                <DiagramNode Id="sdlc" Height="100" Width="100" OffsetX="300" OffsetY="288">
                    <DiagramBasicShape Shape="@BasicShapes.Ellipse" Type="@Syncfusion.EJ2.Blazor.Diagrams.Shapes.Basic"></DiagramBasicShape>
                    <NodeShapeStyle Fill="#37909A" StrokeColor="#024249"></NodeShapeStyle>
                    <DiagramNodeAnnotations>
                        <DiagramNodeAnnotation Content="SDLC">
                            <NodeAnnotationMargin Left="10" Right="10"></NodeAnnotationMargin>
                            <NodeAnnotationStyle Color="white" Fill="None" StrokeColor="None"></NodeAnnotationStyle>
                        </DiagramNodeAnnotation>
                    </DiagramNodeAnnotations>
                </DiagramNode>
                <DiagramNode Id="support" Height="100" Width="100" OffsetX="150" OffsetY="250">
                    <DiagramBasicShape Shape="@BasicShapes.Ellipse" Type="@Syncfusion.EJ2.Blazor.Diagrams.Shapes.Basic"></DiagramBasicShape>
                    <NodeShapeStyle Fill="#37909A" StrokeColor="#024249"></NodeShapeStyle>
                    <DiagramNodeAnnotations>
                        <DiagramNodeAnnotation Content="Support">
                            <NodeAnnotationMargin Left="10" Right="10"></NodeAnnotationMargin>
                            <NodeAnnotationStyle Color="white" Fill="None" StrokeColor="None"></NodeAnnotationStyle>
                        </DiagramNodeAnnotation>
                    </DiagramNodeAnnotations>
                </DiagramNode>
                <DiagramNode Id="analysis" Height="100" Width="100" OffsetX="300" OffsetY="150">
                    <DiagramBasicShape Shape="@BasicShapes.Ellipse" Type="@Syncfusion.EJ2.Blazor.Diagrams.Shapes.Basic"></DiagramBasicShape>
                    <NodeShapeStyle Fill="#37909A" StrokeColor="#024249"></NodeShapeStyle>
                    <DiagramNodeAnnotations>
                        <DiagramNodeAnnotation Content="Analysis">
                            <NodeAnnotationMargin Left="10" Right="10"></NodeAnnotationMargin>
                            <NodeAnnotationStyle Color="white" Fill="None" StrokeColor="None"></NodeAnnotationStyle>
                        </DiagramNodeAnnotation>
                    </DiagramNodeAnnotations>
                </DiagramNode>
                <DiagramNode Id="design" Height="100" Width="100" OffsetX="450" OffsetY="250">
                    <DiagramBasicShape Shape="@BasicShapes.Ellipse" Type="@Syncfusion.EJ2.Blazor.Diagrams.Shapes.Basic"></DiagramBasicShape>
                    <NodeShapeStyle Fill="#37909A" StrokeColor="#024249"></NodeShapeStyle>
                    <DiagramNodeAnnotations>
                        <DiagramNodeAnnotation Content="Design">
                            <NodeAnnotationMargin Left="10" Right="10"></NodeAnnotationMargin>
                            <NodeAnnotationStyle Color="white" Fill="None" StrokeColor="None"></NodeAnnotationStyle>
                        </DiagramNodeAnnotation>
                    </DiagramNodeAnnotations>
                </DiagramNode>
                <DiagramNode Id="implement" Height="100" Width="100" OffsetX="400" OffsetY="400">
                    <DiagramBasicShape Shape="@BasicShapes.Ellipse" Type="@Syncfusion.EJ2.Blazor.Diagrams.Shapes.Basic"></DiagramBasicShape>
                    <NodeShapeStyle Fill="#37909A" StrokeColor="#024249"></NodeShapeStyle>
                    <DiagramNodeAnnotations>
                        <DiagramNodeAnnotation Content="Implement">
                            <NodeAnnotationMargin Left="10" Right="10"></NodeAnnotationMargin>
                            <NodeAnnotationStyle Color="white" Fill="None" StrokeColor="None"></NodeAnnotationStyle>
                        </DiagramNodeAnnotation>
                    </DiagramNodeAnnotations>
                </DiagramNode>
                <DiagramNode Id="deploy" Height="100" Width="100" OffsetX="200" OffsetY="400">
                    <DiagramBasicShape Shape="@BasicShapes.Ellipse" Type="@Syncfusion.EJ2.Blazor.Diagrams.Shapes.Basic"></DiagramBasicShape>
                    <NodeShapeStyle Fill="#37909A" StrokeColor="#024249"></NodeShapeStyle>
                    <DiagramNodeAnnotations>
                        <DiagramNodeAnnotation Content="Deploy">
                            <NodeAnnotationMargin Left="10" Right="10"></NodeAnnotationMargin>
                            <NodeAnnotationStyle Color="white" Fill="None" StrokeColor="None"></NodeAnnotationStyle>
                        </DiagramNodeAnnotation>
                    </DiagramNodeAnnotations>
                </DiagramNode>
            </DiagramNodes>
            <DiagramConnectors>
                <DiagramConnector Id="connector1" SourceID="analysis" TargetID="design">
                    <ConnectorShapeStyle StrokeColor="#024249" StrokeWidth="2"></ConnectorShapeStyle>
                    <ConnectorTargetDecorator Shape="@DecoratorShapes.Arrow">
                        <DecoratorShapeStyle StrokeColor="#024249" Fill="#024249"></DecoratorShapeStyle>
                    </ConnectorTargetDecorator>
                </DiagramConnector>
                <DiagramConnector Id="connector2" SourceID="design" TargetID="implement">
                    <ConnectorShapeStyle StrokeColor="#024249" StrokeWidth="2"></ConnectorShapeStyle>
                    <ConnectorTargetDecorator Shape="@DecoratorShapes.Arrow">
                        <DecoratorShapeStyle StrokeColor="#024249" Fill="#024249"></DecoratorShapeStyle>
                    </ConnectorTargetDecorator>
                </DiagramConnector>
                <DiagramConnector Id="connector3" SourceID="implement" TargetID="deploy">
                    <ConnectorShapeStyle StrokeColor="#024249" StrokeWidth="2"></ConnectorShapeStyle>
                    <ConnectorTargetDecorator Shape="@DecoratorShapes.Arrow">
                        <DecoratorShapeStyle StrokeColor="#024249" Fill="#024249"></DecoratorShapeStyle>
                    </ConnectorTargetDecorator>
                </DiagramConnector>
                <DiagramConnector Id="connector4" SourceID="deploy" TargetID="support">
                    <ConnectorShapeStyle StrokeColor="#024249" StrokeWidth="2"></ConnectorShapeStyle>
                    <ConnectorTargetDecorator Shape="@DecoratorShapes.Arrow">
                        <DecoratorShapeStyle StrokeColor="#024249" Fill="#024249"></DecoratorShapeStyle>
                    </ConnectorTargetDecorator>
                </DiagramConnector>
                <DiagramConnector Id="connector5" SourceID="support" TargetID="analysis">
                    <ConnectorShapeStyle StrokeColor="#024249" StrokeWidth="2"></ConnectorShapeStyle>
                    <ConnectorTargetDecorator Shape="@DecoratorShapes.Arrow">
                        <DecoratorShapeStyle StrokeColor="#024249" Fill="#024249"></DecoratorShapeStyle>
                    </ConnectorTargetDecorator>
                </DiagramConnector>
            </DiagramConnectors>
        </EjsDiagram> 
    </div>