@page "/Diagrams/OrganizationModel"

@using Syncfusion.EJ2.Blazor.Diagrams

@*Hidden:Lines*@
@using ej2_blazor_samples
@{
    SampleBrowser.CurrentSampleName = "Organization Chart";
    SampleBrowser.CurrentControlName = "Diagram";
    SampleBrowser.CurrentControlCategory = "Diagram";
    SampleBrowser.CurrentControl = SampleBrowser.Config.Diagram;
    SampleBrowser.ActionDescription = new string[] {
        @"<p>
        This sample illustrates a simple business management structure that is built from an external data source. Hierarchical tree
        layout algorithm is used to build organizational charts.</p>"
    };
    SampleBrowser.Description = new string[] {
        @"<p>
        This example shows how to generate an organizational chart from an external data source. The spacing between the objects can also be customized in the chart. The
        <code>HorizontalSpacing</code> and
        <code>VerticalSpacing</code> properties of
        <code>DiagramLayout</code> can be used to customize the space between objects in a tree. The
        <code>LayoutOrientation</code> property of
        <code>DiagramLayout</code> can be used to change the orientation of the chart. The
        <code>GetLayoutInfo</code> property of
        <code>DiagramLayout</code> can be used to customize the tree structure.

    </p>"
    };
}
@*End:Hidden*@

<div class="control-section">
    <EjsDiagram Width="100%" Height="499px" Tool="@DiagramTools.ZoomPan">
        <DiagramSnapSettings Constraints="@SnapConstraints.None">
        </DiagramSnapSettings>
        <DiagramLayout Type="@LayoutType.OrganizationalChart">
        </DiagramLayout>
        <DiagramNodes>
            <DiagramNode Id="node1" Height="50" Width="120">
                <DiagramText Type="@Syncfusion.EJ2.Blazor.Diagrams.Shapes.Text" Content="Board"></DiagramText>
                <NodeShapeStyle Fill="#71AF17" StrokeColor="none" Color="white" StrokeWidth="2"></NodeShapeStyle>
            </DiagramNode>
            <DiagramNode Id="node2" Height="50" Width="120">
                <DiagramText Type="@Syncfusion.EJ2.Blazor.Diagrams.Shapes.Text" Content="General Manager"></DiagramText>
                <NodeShapeStyle Fill="#71AF17" StrokeColor="none" Color="white" StrokeWidth="2"></NodeShapeStyle>
            </DiagramNode>
            <DiagramNode Id="node19" Height="50" Width="120">
                <DiagramText Type="@Syncfusion.EJ2.Blazor.Diagrams.Shapes.Text" Content="Operations Manager"></DiagramText>
                <NodeShapeStyle Fill="#1859b7" StrokeColor="none" Color="white" StrokeWidth="2"></NodeShapeStyle>
            </DiagramNode>
            <DiagramNode Id="node4" Height="50" Width="120">
                <DiagramText Type="@Syncfusion.EJ2.Blazor.Diagrams.Shapes.Text" Content="Human Resource Manager"></DiagramText>
                <NodeShapeStyle Fill="#1859b7" StrokeColor="none" Color="white" StrokeWidth="2"></NodeShapeStyle>
            </DiagramNode>
            <DiagramNode Id="node5" Height="50" Width="120">
                <DiagramText Type="@Syncfusion.EJ2.Blazor.Diagrams.Shapes.Text" Content="Trainers"></DiagramText>
                <NodeShapeStyle Fill="#2e95d8" StrokeColor="none" Color="white" StrokeWidth="2"></NodeShapeStyle>
            </DiagramNode>
            <DiagramNode Id="node6" Height="50" Width="120">
                <DiagramText Type="@Syncfusion.EJ2.Blazor.Diagrams.Shapes.Text" Content="Recruiting Team"></DiagramText>
                <NodeShapeStyle Fill="#2e95d8" StrokeColor="none" Color="white" StrokeWidth="2"></NodeShapeStyle>
            </DiagramNode>
            <DiagramNode Id="node18" Height="50" Width="120">
                <DiagramText Type="@Syncfusion.EJ2.Blazor.Diagrams.Shapes.Text" Content="Finance Ass. Manager"></DiagramText>
                <NodeShapeStyle Fill="#2e95d8" StrokeColor="none" Color="white" StrokeWidth="2"></NodeShapeStyle>
            </DiagramNode>
            <DiagramNode Id="node7" Height="50" Width="120">
                <DiagramText Type="@Syncfusion.EJ2.Blazor.Diagrams.Shapes.Text" Content="Design Manager"></DiagramText>
                <NodeShapeStyle Fill="#1859b7" StrokeColor="none" Color="white" StrokeWidth="2"></NodeShapeStyle>
            </DiagramNode>
            <DiagramNode Id="node8" Height="50" Width="120">
                <DiagramText Type="@Syncfusion.EJ2.Blazor.Diagrams.Shapes.Text" Content="Design Supervisor"></DiagramText>
                <NodeShapeStyle Fill="#2e95d8" StrokeColor="none" Color="white" StrokeWidth="2"></NodeShapeStyle>
            </DiagramNode>
            <DiagramNode Id="node9" Height="50" Width="120">
                <DiagramText Type="@Syncfusion.EJ2.Blazor.Diagrams.Shapes.Text" Content="Development Supervisor"></DiagramText>
                <NodeShapeStyle Fill="#2e95d8" StrokeColor="none" Color="white" StrokeWidth="2"></NodeShapeStyle>
            </DiagramNode>
            <DiagramNode Id="node10" Height="50" Width="120">
                <DiagramText Type="@Syncfusion.EJ2.Blazor.Diagrams.Shapes.Text" Content="Drafting Supervisor"></DiagramText>
                <NodeShapeStyle Fill="#2e95d8" StrokeColor="none" Color="white" StrokeWidth="2"></NodeShapeStyle>
            </DiagramNode>
            <DiagramNode Id="node11" Height="50" Width="120">
                <DiagramText Type="@Syncfusion.EJ2.Blazor.Diagrams.Shapes.Text" Content="Statistics Department"></DiagramText>
                <NodeShapeStyle Fill="#2e95d8" StrokeColor="none" Color="white" StrokeWidth="2"></NodeShapeStyle>
            </DiagramNode>
            <DiagramNode Id="node12" Height="50" Width="120">
                <DiagramText Type="@Syncfusion.EJ2.Blazor.Diagrams.Shapes.Text" Content="Lagistics Department"></DiagramText>
                <NodeShapeStyle Fill="#2e95d8" StrokeColor="none" Color="white" StrokeWidth="2"></NodeShapeStyle>
            </DiagramNode>
            <DiagramNode Id="node13" Height="50" Width="120">
                <DiagramText Type="@Syncfusion.EJ2.Blazor.Diagrams.Shapes.Text" Content="Marketing Manager"></DiagramText>
                <NodeShapeStyle Fill="#1859b7" StrokeColor="none" Color="white" StrokeWidth="2"></NodeShapeStyle>
            </DiagramNode>
            <DiagramNode Id="node14" Height="50" Width="120">
                <DiagramText Type="@Syncfusion.EJ2.Blazor.Diagrams.Shapes.Text" Content="Overseas Sales Manager"></DiagramText>
                <NodeShapeStyle Fill="#2e95d8" StrokeColor="none" Color="white" StrokeWidth="2"></NodeShapeStyle>
            </DiagramNode>
            <DiagramNode Id="node15" Height="50" Width="120">
                <DiagramText Type="@Syncfusion.EJ2.Blazor.Diagrams.Shapes.Text" Content="Petrolium Manager"></DiagramText>
                <NodeShapeStyle Fill="#2e95d8" StrokeColor="none" Color="white" StrokeWidth="2"></NodeShapeStyle>
            </DiagramNode>
            <DiagramNode Id="node16" Height="50" Width="120">
                <DiagramText Type="@Syncfusion.EJ2.Blazor.Diagrams.Shapes.Text" Content="Service Department Manager"></DiagramText>
                <NodeShapeStyle Fill="#2e95d8" StrokeColor="none" Color="white" StrokeWidth="2"></NodeShapeStyle>
            </DiagramNode>
            <DiagramNode Id="node17" Height="50" Width="120">
                <DiagramText Type="@Syncfusion.EJ2.Blazor.Diagrams.Shapes.Text" Content="Quality Control Department"></DiagramText>
                <NodeShapeStyle Fill="#2e95d8" StrokeColor="none" Color="white" StrokeWidth="2"></NodeShapeStyle>
            </DiagramNode>
        </DiagramNodes>
        <DiagramConnectors>
            <DiagramConnector Id="connector1" Type=Segments.Orthogonal SourceID="node1" TargetID="node2">
                <ConnectorTargetDecorator Shape="@DecoratorShapes.None">
                </ConnectorTargetDecorator>
            </DiagramConnector>
            <DiagramConnector Id="connector3" Type=Segments.Orthogonal SourceID="node2" TargetID="node4">
                <ConnectorTargetDecorator Shape="@DecoratorShapes.None">
                </ConnectorTargetDecorator>
            </DiagramConnector>
            <DiagramConnector Id="connector4" Type=Segments.Orthogonal SourceID="node2" TargetID="node7">
                <ConnectorTargetDecorator Shape="@DecoratorShapes.None">
                </ConnectorTargetDecorator>
            </DiagramConnector>
            <DiagramConnector Id="connector5" Type=Segments.Orthogonal SourceID="node2" TargetID="node19">
                <ConnectorTargetDecorator Shape="@DecoratorShapes.None">
                </ConnectorTargetDecorator>
            </DiagramConnector>
            <DiagramConnector Id="connector6" Type=Segments.Orthogonal SourceID="node2" TargetID="node13">
                <ConnectorTargetDecorator Shape="@DecoratorShapes.None">
                </ConnectorTargetDecorator>
            </DiagramConnector>
            <DiagramConnector Id="connector7" Type=Segments.Orthogonal SourceID="node4" TargetID="node5">
                <ConnectorTargetDecorator Shape="@DecoratorShapes.None">
                </ConnectorTargetDecorator>
            </DiagramConnector>
            <DiagramConnector Id="connector8" Type=Segments.Orthogonal SourceID="node4" TargetID="node6">
                <ConnectorTargetDecorator Shape="@DecoratorShapes.None">
                </ConnectorTargetDecorator>
            </DiagramConnector>
            <DiagramConnector Id="connector9" Type=Segments.Orthogonal SourceID="node4" TargetID="node18">
                <ConnectorTargetDecorator Shape="@DecoratorShapes.None">
                </ConnectorTargetDecorator>
            </DiagramConnector>
            <DiagramConnector Id="connector10" Type=Segments.Orthogonal SourceID="node7" TargetID="node8">
                <ConnectorTargetDecorator Shape="@DecoratorShapes.None">
                </ConnectorTargetDecorator>
            </DiagramConnector>
            <DiagramConnector Id="connector11" Type=Segments.Orthogonal SourceID="node7" TargetID="node9">
                <ConnectorTargetDecorator Shape="@DecoratorShapes.None">
                </ConnectorTargetDecorator>
            </DiagramConnector>
            <DiagramConnector Id="connector12" Type=Segments.Orthogonal SourceID="node7" TargetID="node10">
                <ConnectorTargetDecorator Shape="@DecoratorShapes.None">
                </ConnectorTargetDecorator>
            </DiagramConnector>
            <DiagramConnector Id="connector13" Type=Segments.Orthogonal SourceID="node19" TargetID="node11">
                <ConnectorTargetDecorator Shape="@DecoratorShapes.None">
                </ConnectorTargetDecorator>
            </DiagramConnector>
            <DiagramConnector Id="connector14" Type=Segments.Orthogonal SourceID="node19" TargetID="node12">
                <ConnectorTargetDecorator Shape="@DecoratorShapes.None">
                </ConnectorTargetDecorator>
            </DiagramConnector>
            <DiagramConnector Id="connector15" Type=Segments.Orthogonal SourceID="node13" TargetID="node14">
                <ConnectorTargetDecorator Shape="@DecoratorShapes.None">
                </ConnectorTargetDecorator>
            </DiagramConnector>
            <DiagramConnector Id="connector16" Type=Segments.Orthogonal SourceID="node13" TargetID="node15">
                <ConnectorTargetDecorator Shape="@DecoratorShapes.None">
                </ConnectorTargetDecorator>
            </DiagramConnector>
            <DiagramConnector Id="connector17" Type=Segments.Orthogonal SourceID="node13" TargetID="node16">
                <ConnectorTargetDecorator Shape="@DecoratorShapes.None">
                </ConnectorTargetDecorator>
            </DiagramConnector>
            <DiagramConnector Id="connector18" Type=Segments.Orthogonal SourceID="node13" TargetID="node17">
                <ConnectorTargetDecorator Shape="@DecoratorShapes.None">
                </ConnectorTargetDecorator>
            </DiagramConnector>
        </DiagramConnectors>
    </EjsDiagram>
</div>
