@page "/Diagrams/PrintandExport"

@using Syncfusion.EJ2.Blazor.Diagrams

@*Hidden:Lines*@
@using ej2_blazor_samples
@{
    SampleBrowser.CurrentSampleName = "Print and Export";
    SampleBrowser.CurrentControlName = "Diagram";
    SampleBrowser.CurrentControlCategory = "Diagram";
    SampleBrowser.CurrentControl = SampleBrowser.Config.Diagram;
    SampleBrowser.ActionDescription = new string[] {
        @" <p>
            This sample demonstrates printing and exporting the diagram as images.

        </p>"
    };
    SampleBrowser.Description = new string[] {
        @"<p>
            This example shows how to print the diagram and how to export the diagram as image (*.jpg, *.png, and *bmp) and
            in SVG format. The <code>ExportDiagram</code> method can be used to export the diagram. The <code>ExportDiagram</code>
            method takes the exporting options (file formats, mode of export, and the region to export) as input. The <code>Print</code>
            method can be used to print the diagrams.
        </p>

        <br>"
    };
}
@*End:Hidden*@

<div class="control-section">
    <EjsDiagram Width="100%" Height="499px">
        <DiagramSnapSettings Constraints="@SnapConstraints.None">
        </DiagramSnapSettings>
        <DiagramNodes>
            <DiagramNode Id="sourceNode1" Width="100" Height="50" OffsetX="120" OffsetY="100">
                <NodeShapeStyle Fill="#d5f5d5" StrokeColor="#868686"> </NodeShapeStyle>
                <DiagramNodeAnnotations>
                    <DiagramNodeAnnotation Content="Source Document">
                        <NodeAnnotationMargin Left="15" Right="15" Top="15" Bottom="15"></NodeAnnotationMargin>
                    </DiagramNodeAnnotation>
                </DiagramNodeAnnotations>
            </DiagramNode>
            <DiagramNode Id="censusNode2" Width="100" Height="75" OffsetX="120" OffsetY="200">
                <DiagramBasicShape Type="@Syncfusion.EJ2.Blazor.Diagrams.Shapes.Basic" Shape="@BasicShapes.Diamond"></DiagramBasicShape>
                <NodeShapeStyle Fill="#e2f3fa" StrokeColor="#8f908f"> </NodeShapeStyle>
                <DiagramNodeAnnotations>
                    <DiagramNodeAnnotation Content="Census Record">
                        <NodeAnnotationMargin Left="15" Right="15" Top="15" Bottom="15"></NodeAnnotationMargin>
                    </DiagramNodeAnnotation>
                </DiagramNodeAnnotations>
            </DiagramNode>
            <DiagramNode Id="booksNode3" Width="100" Height="75" OffsetX="120" OffsetY="325">
                <DiagramBasicShape Type="@Syncfusion.EJ2.Blazor.Diagrams.Shapes.Basic" Shape="@BasicShapes.Diamond"></DiagramBasicShape>
                <NodeShapeStyle Fill="#e2f3fa" StrokeColor="#8f908f"> </NodeShapeStyle>
                <DiagramNodeAnnotations>
                    <DiagramNodeAnnotation Content="Books and Magazine">
                    </DiagramNodeAnnotation>
                </DiagramNodeAnnotations>
            </DiagramNode>
            <DiagramNode Id="recordNode4" Width="125" Height="50" OffsetX="320" OffsetY="200">
                <NodeShapeStyle Fill="#d5f5d5" StrokeColor="#868686"> </NodeShapeStyle>
                <DiagramNodeAnnotations>
                    <DiagramNodeAnnotation Content="Record Template">
                    </DiagramNodeAnnotation>
                </DiagramNodeAnnotations>
            </DiagramNode>
            <DiagramNode Id="traditionalNode5" Width="125" Height="50" OffsetX="320" OffsetY="325">
                <NodeShapeStyle Fill="#d5f5d5" StrokeColor="#868686"> </NodeShapeStyle>
                <DiagramNodeAnnotations>
                    <DiagramNodeAnnotation Content="Traditional Template">
                    </DiagramNodeAnnotation>
                </DiagramNodeAnnotations>
            </DiagramNode>
            <DiagramNode Id="nontraditionalNode6" Width="135" Height="50" OffsetX="120" OffsetY="425">
                <NodeShapeStyle Fill="#faebee" StrokeColor="#faebee"> </NodeShapeStyle>
                <DiagramNodeAnnotations>
                    <DiagramNodeAnnotation Content="Nontraditional">
                    </DiagramNodeAnnotation>
                </DiagramNodeAnnotations>
            </DiagramNode>
            <DiagramNode Id="Radial1" Width="125" Height="50" OffsetX="850" OffsetY="225">
                <DiagramBasicShape Type="@Syncfusion.EJ2.Blazor.Diagrams.Shapes.Basic" Shape="@BasicShapes.Ellipse"></DiagramBasicShape>
                <NodeShapeStyle Fill="#fef0db" StrokeColor="#a8a8a8"> </NodeShapeStyle>
                <DiagramNodeAnnotations>
                    <DiagramNodeAnnotation Content="Health Fitness">
                    </DiagramNodeAnnotation>
                </DiagramNodeAnnotations>
            </DiagramNode>
            <DiagramNode Id="Radial2" Width="125" Height="75" OffsetX="850" OffsetY="100">
                <DiagramBasicShape Type="@Syncfusion.EJ2.Blazor.Diagrams.Shapes.Basic" Shape="@BasicShapes.Ellipse"></DiagramBasicShape>
                <NodeShapeStyle Fill="#faebee" StrokeColor="#a8a8a8"> </NodeShapeStyle>
                <DiagramNodeAnnotations>
                    <DiagramNodeAnnotation Content="Diet">
                    </DiagramNodeAnnotation>
                </DiagramNodeAnnotations>
            </DiagramNode>
            <DiagramNode Id="Radial3" Width="125" Height="75" OffsetX="1075" OffsetY="175">
                <DiagramBasicShape Type="@Syncfusion.EJ2.Blazor.Diagrams.Shapes.Basic" Shape="@BasicShapes.Ellipse"></DiagramBasicShape>
                <NodeShapeStyle Fill="#faebee" StrokeColor="#a8a8a8"> </NodeShapeStyle>
                <DiagramNodeAnnotations>
                    <DiagramNodeAnnotation Content="Flexibility">
                    </DiagramNodeAnnotation>
                </DiagramNodeAnnotations>
            </DiagramNode>
            <DiagramNode Id="Radial4" Width="125" Height="75" OffsetX="1000" OffsetY="350">
                <DiagramBasicShape Type="@Syncfusion.EJ2.Blazor.Diagrams.Shapes.Basic" Shape="@BasicShapes.Ellipse"></DiagramBasicShape>
                <NodeShapeStyle Fill="#faebee" StrokeColor="#a8a8a8"> </NodeShapeStyle>
                <DiagramNodeAnnotations>
                    <DiagramNodeAnnotation Content="Muscular Endurance">
                    </DiagramNodeAnnotation>
                </DiagramNodeAnnotations>
            </DiagramNode>
            <DiagramNode Id="Radial5" Width="125" Height="75" OffsetX="675" OffsetY="175">
                <DiagramBasicShape Type="@Syncfusion.EJ2.Blazor.Diagrams.Shapes.Basic" Shape="@BasicShapes.Ellipse"></DiagramBasicShape>
                <NodeShapeStyle Fill="#faebee" StrokeColor="#a8a8a8"> </NodeShapeStyle>
                <DiagramNodeAnnotations>
                    <DiagramNodeAnnotation Content="Cardiovascular Strength">
                    </DiagramNodeAnnotation>
                </DiagramNodeAnnotations>
            </DiagramNode>
            <DiagramNode Id="Radial6" Width="125" Height="75" OffsetX="770" OffsetY="350">
                <DiagramBasicShape Type="@Syncfusion.EJ2.Blazor.Diagrams.Shapes.Basic" Shape="@BasicShapes.Ellipse"></DiagramBasicShape>
                <NodeShapeStyle Fill="#faebee" StrokeColor="#a8a8a8"> </NodeShapeStyle>
                <DiagramNodeAnnotations>
                    <DiagramNodeAnnotation Content="Muscular Strength">
                    </DiagramNodeAnnotation>
                </DiagramNodeAnnotations>
            </DiagramNode>
        </DiagramNodes>
        <DiagramConnectors>
            <DiagramConnector Id="connector1" SourceID="sourceNode1" TargetID="censusNode2">
                <ConnectorShapeStyle StrokeColor="#6d6d6d"></ConnectorShapeStyle>
            </DiagramConnector>
            <DiagramConnector Id="connector2" SourceID="censusNode2" TargetID="booksNode3">
                <ConnectorShapeStyle StrokeColor="#6d6d6d"></ConnectorShapeStyle>
                <DiagramConnectorAnnotations>
                    <DiagramConnectorAnnotation Content="No">
                        <ConnectorAnnotationStyle Fill="white"></ConnectorAnnotationStyle>
                    </DiagramConnectorAnnotation>
                </DiagramConnectorAnnotations>
            </DiagramConnector>
            <DiagramConnector Id="connector3" SourceID="booksNode3" TargetID="nontraditionalNode6">
                <ConnectorShapeStyle StrokeColor="#6d6d6d"></ConnectorShapeStyle>
                <DiagramConnectorAnnotations>
                    <DiagramConnectorAnnotation Content="No">
                        <ConnectorAnnotationStyle Fill="white"></ConnectorAnnotationStyle>
                    </DiagramConnectorAnnotation>
                </DiagramConnectorAnnotations>
            </DiagramConnector>
            <DiagramConnector Id="connector4" SourceID="censusNode2" TargetID="recordNode4">
                <ConnectorShapeStyle StrokeColor="#6d6d6d"></ConnectorShapeStyle>
                <DiagramConnectorAnnotations>
                    <DiagramConnectorAnnotation Content="Yes">
                        <ConnectorAnnotationStyle Fill="white"></ConnectorAnnotationStyle>
                    </DiagramConnectorAnnotation>
                </DiagramConnectorAnnotations>
            </DiagramConnector>
            <DiagramConnector Id="connector5" SourceID="booksNode3" TargetID="traditionalNode5">
                <ConnectorShapeStyle StrokeColor="#6d6d6d"></ConnectorShapeStyle>
                <DiagramConnectorAnnotations>
                    <DiagramConnectorAnnotation Content="Yes">
                        <ConnectorAnnotationStyle Fill="white"></ConnectorAnnotationStyle>
                    </DiagramConnectorAnnotation>
                </DiagramConnectorAnnotations>
            </DiagramConnector>
            <DiagramConnector Id="connector6" SourceID="Radial1" TargetID="Radial2">
                <ConnectorShapeStyle StrokeColor="#6d6d6d"></ConnectorShapeStyle>
                <DiagramConnectorAnnotations>
                    <DiagramConnectorAnnotation Content="Yes">
                        <ConnectorAnnotationStyle Fill="white"></ConnectorAnnotationStyle>
                    </DiagramConnectorAnnotation>
                </DiagramConnectorAnnotations>
            </DiagramConnector>
            <DiagramConnector Id="connector7" SourceID="Radial1" TargetID="Radial3">
                <ConnectorShapeStyle StrokeColor="#6d6d6d"></ConnectorShapeStyle>
                <DiagramConnectorAnnotations>
                    <DiagramConnectorAnnotation Content="Yes">
                        <ConnectorAnnotationStyle Fill="white"></ConnectorAnnotationStyle>
                    </DiagramConnectorAnnotation>
                </DiagramConnectorAnnotations>
            </DiagramConnector>
            <DiagramConnector Id="connector8" SourceID="Radial1" TargetID="Radial4">
                <ConnectorShapeStyle StrokeColor="#6d6d6d"></ConnectorShapeStyle>
                <DiagramConnectorAnnotations>
                    <DiagramConnectorAnnotation Content="Yes">
                        <ConnectorAnnotationStyle Fill="white"></ConnectorAnnotationStyle>
                    </DiagramConnectorAnnotation>
                </DiagramConnectorAnnotations>
            </DiagramConnector>
            <DiagramConnector Id="connector9" SourceID="Radial1" TargetID="Radial5">
                <ConnectorShapeStyle StrokeColor="#6d6d6d"></ConnectorShapeStyle>
                <DiagramConnectorAnnotations>
                    <DiagramConnectorAnnotation Content="Yes">
                        <ConnectorAnnotationStyle Fill="white"></ConnectorAnnotationStyle>
                    </DiagramConnectorAnnotation>
                </DiagramConnectorAnnotations>
            </DiagramConnector>
            <DiagramConnector Id="connector10" SourceID="Radial1" TargetID="Radial6">
                <ConnectorShapeStyle StrokeColor="#6d6d6d"></ConnectorShapeStyle>
                <DiagramConnectorAnnotations>
                    <DiagramConnectorAnnotation Content="Yes">
                        <ConnectorAnnotationStyle Fill="white"></ConnectorAnnotationStyle>
                    </DiagramConnectorAnnotation>
                </DiagramConnectorAnnotations>
            </DiagramConnector>

        </DiagramConnectors>
    </EjsDiagram>
</div>
 
