@page "/Diagrams/UMLActivity"

@using Syncfusion.EJ2.Blazor.Diagrams

@*Hidden:Lines*@
@using ej2_blazor_samples
@{
    SampleBrowser.CurrentSampleName = "UML Activity Diagram";
    SampleBrowser.CurrentControlName = "Diagram";
    SampleBrowser.CurrentControlCategory = "Diagram";
    SampleBrowser.CurrentControl = SampleBrowser.Config.Diagram;
    SampleBrowser.ActionDescription = new string[] {
        @" <p>
            This sample represents the message flow from one activity to another in customer service using built-in UML activity shapes.

        </p>"
    };
    SampleBrowser.Description = new string[] {
        @"<p>
            This example shows how to create activity shapes using diagram <code>DiagramUmlActivityShape</code> shapes. The <code>Type</code> property of the
        <code>Shape</code> can be used to create <code>DiagramUmlActivityShape</code> nodes. The <code>Shape</code> property of the shape allows you to create UML
        activity shapes.
        </p>
        <br>"
    };
}
@*End:Hidden*@

<div id="umlActivityDiagram" style="width: 100%; height: 521px">
    <link href="https://ej2.syncfusion.com/javascript/demos/src/diagram/styles/diagram-common.css" rel="stylesheet">
    <div id="diagram-space">
        <EjsDiagram Width="100%" Height="505px">
            <DiagramSnapSettings Constraints="@SnapConstraints.None">
            </DiagramSnapSettings>
            <DiagramNodes>
                <DiagramNode Id="Start" Height="40" Width="40" OffsetX="300" OffsetY="25">
                    <DiagramUmlActivityShape Shape="@UmlActivityShapes.InitialNode" Type="@Syncfusion.EJ2.Blazor.Diagrams.Shapes.UmlActivity"></DiagramUmlActivityShape>
                    <NodeShapeStyle Fill="#444" StrokeColor="#444"></NodeShapeStyle>
                </DiagramNode>
                <DiagramNode Id="ReceiveCall" Height="40" Width="105" OffsetX="300" OffsetY="85">
                    <NodeShapeStyle StrokeColor="#444"></NodeShapeStyle>
                    <DiagramUmlActivityShape Shape="@UmlActivityShapes.Action" Type="@Syncfusion.EJ2.Blazor.Diagrams.Shapes.UmlActivity"></DiagramUmlActivityShape>
                    <DiagramNodeAnnotations>
                        <DiagramNodeAnnotation Content="'Receive Customer Call">
                        </DiagramNodeAnnotation>
                    </DiagramNodeAnnotations>
                </DiagramNode>
                <DiagramNode Id="node2" Height="10" Width="70" OffsetX="300" OffsetY="130">
                    <DiagramUmlActivityShape Shape="@UmlActivityShapes.ForkNode" Type="@Syncfusion.EJ2.Blazor.Diagrams.Shapes.UmlActivity"></DiagramUmlActivityShape>
                    <NodeShapeStyle Fill="#444" StrokeColor="#444"></NodeShapeStyle>
                    <DiagramPorts>
                        <DiagramPort Id="port1" Shape="@PortShapes.Square">
                            <NodePortOffset X="0.2" Y="1"></NodePortOffset>
                        </DiagramPort>
                        <DiagramPort Id="port2" Shape="@PortShapes.Square">
                            <NodePortOffset X="0.8" Y="1"></NodePortOffset>
                        </DiagramPort>
                        <DiagramPort Id="port3" Shape="@PortShapes.Square">
                            <NodePortOffset X="0.2" Y="0.01"></NodePortOffset>
                        </DiagramPort>
                        <DiagramPort Id="port4" Shape="@PortShapes.Square">
                            <NodePortOffset X="0.8" Y="0.01"></NodePortOffset>
                        </DiagramPort>
                    </DiagramPorts>
                </DiagramNode>
                <DiagramNode Id="Determine" Height="40" Width="105" OffsetX="180" OffsetY="210">
                    <DiagramUmlActivityShape Shape="@UmlActivityShapes.Action" Type="@Syncfusion.EJ2.Blazor.Diagrams.Shapes.UmlActivity"></DiagramUmlActivityShape>
                    <DiagramNodeAnnotations>
                        <DiagramNodeAnnotation Content="Determine Type of call">
                        </DiagramNodeAnnotation>
                    </DiagramNodeAnnotations>
                    <DiagramPorts>
                        <DiagramPort Id="portLeft" Shape="@PortShapes.Square">
                            <NodePortOffset X="0.01" Y="0.5"></NodePortOffset>
                        </DiagramPort>
                        <DiagramPort Id="portRight" Shape="@PortShapes.Square">
                            <NodePortOffset X="1" Y="0.5"></NodePortOffset>
                        </DiagramPort>
                        <DiagramPort Id="portBottom" Shape="@PortShapes.Square">
                            <NodePortOffset X="0.5" Y="1"></NodePortOffset>
                        </DiagramPort>
                        <DiagramPort Id="portTop" Shape="@PortShapes.Square">
                            <NodePortOffset X="0.5" Y="0.01"></NodePortOffset>
                        </DiagramPort>
                    </DiagramPorts>
                </DiagramNode>
                <DiagramNode Id="Log" Height="40" Width="105" OffsetX="420" OffsetY="210">
                    <NodeShapeStyle StrokeColor="#444"></NodeShapeStyle>
                    <DiagramUmlActivityShape Shape="@UmlActivityShapes.Action" Type="@Syncfusion.EJ2.Blazor.Diagrams.Shapes.UmlActivity"></DiagramUmlActivityShape>
                    <DiagramNodeAnnotations>
                        <DiagramNodeAnnotation Content="Customer Logging a Call">
                        </DiagramNodeAnnotation>
                    </DiagramNodeAnnotations>
                    <DiagramPorts>
                        <DiagramPort Id="portLeft" Shape="@PortShapes.Square">
                            <NodePortOffset X="0.01" Y="0.5"></NodePortOffset>
                        </DiagramPort>
                        <DiagramPort Id="portRight" Shape="@PortShapes.Square">
                            <NodePortOffset X="1" Y="0.5"></NodePortOffset>
                        </DiagramPort>
                        <DiagramPort Id="portBottom" Shape="@PortShapes.Square">
                            <NodePortOffset X="0.5" Y="1"></NodePortOffset>
                        </DiagramPort>
                        <DiagramPort Id="portTop" Shape="@PortShapes.Square">
                            <NodePortOffset X="0.5" Y="0.01"></NodePortOffset>
                        </DiagramPort>
                    </DiagramPorts>
                </DiagramNode>
                <DiagramNode Id="node5" Height="50" Width="50" OffsetX="180" OffsetY="290">
                    <DiagramUmlActivityShape Shape="@UmlActivityShapes.Decision" Type="@Syncfusion.EJ2.Blazor.Diagrams.Shapes.UmlActivity"></DiagramUmlActivityShape>
                    <NodeShapeStyle StrokeColor="#444"></NodeShapeStyle>
                    <DiagramPorts>
                        <DiagramPort Id="portLeft" Shape="@PortShapes.Square">
                            <NodePortOffset X="0.01" Y="0.5"></NodePortOffset>
                        </DiagramPort>
                        <DiagramPort Id="portRight" Shape="@PortShapes.Square">
                            <NodePortOffset X="1" Y="0.5"></NodePortOffset>
                        </DiagramPort>
                        <DiagramPort Id="portBottom" Shape="@PortShapes.Square">
                            <NodePortOffset X="0.5" Y="1"></NodePortOffset>
                        </DiagramPort>
                        <DiagramPort Id="portTop" Shape="@PortShapes.Square">
                            <NodePortOffset X="0.5" Y="0.01"></NodePortOffset>
                        </DiagramPort>
                    </DiagramPorts>
                </DiagramNode>
                <DiagramNode Id="transfer_sales" Height="40" Width="105" OffsetX="100" OffsetY="360">
                    <DiagramUmlActivityShape Shape="@UmlActivityShapes.Action" Type="@Syncfusion.EJ2.Blazor.Diagrams.Shapes.UmlActivity"></DiagramUmlActivityShape>
                    <DiagramNodeAnnotations>
                        <DiagramNodeAnnotation Content="Transfer the call to Sales">
                        </DiagramNodeAnnotation>
                    </DiagramNodeAnnotations>
                    <DiagramPorts>
                        <DiagramPort Id="portLeft" Shape="@PortShapes.Square">
                            <NodePortOffset X="0.01" Y="0.5"></NodePortOffset>
                        </DiagramPort>
                        <DiagramPort Id="portRight" Shape="@PortShapes.Square">
                            <NodePortOffset X="1" Y="0.5"></NodePortOffset>
                        </DiagramPort>
                        <DiagramPort Id="portBottom" Shape="@PortShapes.Square">
                            <NodePortOffset X="0.5" Y="1"></NodePortOffset>
                        </DiagramPort>
                        <DiagramPort Id="portTop" Shape="@PortShapes.Square">
                            <NodePortOffset X="0.5" Y="0.01"></NodePortOffset>
                        </DiagramPort>
                    </DiagramPorts>
                </DiagramNode>
                <DiagramNode Id="transfer_desk" Height="40" Width="105" OffsetX="275" OffsetY="360">
                    <NodeShapeStyle StrokeColor="#444"></NodeShapeStyle>
                    <DiagramUmlActivityShape Shape="@UmlActivityShapes.Action" Type="@Syncfusion.EJ2.Blazor.Diagrams.Shapes.UmlActivity"></DiagramUmlActivityShape>
                    <DiagramNodeAnnotations>
                        <DiagramNodeAnnotation Content="Transfer the call to Help Desk">
                        </DiagramNodeAnnotation>
                    </DiagramNodeAnnotations>
                    <DiagramPorts>
                        <DiagramPort Id="portLeft" Shape="@PortShapes.Square">
                            <NodePortOffset X="0.01" Y="0.5"></NodePortOffset>
                        </DiagramPort>
                        <DiagramPort Id="portRight" Shape="@PortShapes.Square">
                            <NodePortOffset X="1" Y="0.5"></NodePortOffset>
                        </DiagramPort>
                        <DiagramPort Id="portBottom" Shape="@PortShapes.Square">
                            <NodePortOffset X="0.5" Y="1"></NodePortOffset>
                        </DiagramPort>
                        <DiagramPort Id="portTop" Shape="@PortShapes.Square">
                            <NodePortOffset X="0.5" Y="0.01"></NodePortOffset>
                        </DiagramPort>
                    </DiagramPorts>
                </DiagramNode>
                <DiagramNode Id="node8" Height="50" Width="50" OffsetX="180" OffsetY="430">
                    <NodeShapeStyle StrokeColor="#444"></NodeShapeStyle>
                    <DiagramUmlActivityShape Shape="@UmlActivityShapes.MergeNode" Type="@Syncfusion.EJ2.Blazor.Diagrams.Shapes.UmlActivity"></DiagramUmlActivityShape>
                    <DiagramPorts>
                        <DiagramPort Id="portLeft" Shape="@PortShapes.Square">
                            <NodePortOffset X="0.01" Y="0.5"></NodePortOffset>
                        </DiagramPort>
                        <DiagramPort Id="portRight" Shape="@PortShapes.Square">
                            <NodePortOffset X="1" Y="0.5"></NodePortOffset>
                        </DiagramPort>
                        <DiagramPort Id="portBottom" Shape="@PortShapes.Square">
                            <NodePortOffset X="0.5" Y="1"></NodePortOffset>
                        </DiagramPort>
                        <DiagramPort Id="portTop" Shape="@PortShapes.Square">
                            <NodePortOffset X="0.5" Y="0.01"></NodePortOffset>
                        </DiagramPort>
                    </DiagramPorts>
                </DiagramNode>
                <DiagramNode Id="node9" Height="10" Width="70" OffsetX="300" OffsetY="500">
                    <NodeShapeStyle Fill="#444" StrokeColor="#444"></NodeShapeStyle>
                    <DiagramPorts>
                        <DiagramPort Id="port1" Shape="@PortShapes.Square">
                            <NodePortOffset X="0.2" Y="1"></NodePortOffset>
                        </DiagramPort>
                        <DiagramPort Id="port2" Shape="@PortShapes.Square">
                            <NodePortOffset X="0.8" Y="1"></NodePortOffset>
                        </DiagramPort>
                        <DiagramPort Id="port3" Shape="@PortShapes.Square">
                            <NodePortOffset X="0.2" Y="0.01"></NodePortOffset>
                        </DiagramPort>
                        <DiagramPort Id="port4" Shape="@PortShapes.Square">
                            <NodePortOffset X="0.8" Y="0.01"></NodePortOffset>
                        </DiagramPort>
                    </DiagramPorts>
                    <DiagramUmlActivityShape Shape="@UmlActivityShapes.JoinNode" Type="@Syncfusion.EJ2.Blazor.Diagrams.Shapes.UmlActivity"></DiagramUmlActivityShape>
                </DiagramNode>
                <DiagramNode Id="CloseCall" Height="40" Width="105" OffsetX="300" OffsetY="550">
                    <NodeShapeStyle StrokeColor="#444"></NodeShapeStyle>
                    <DiagramUmlActivityShape Shape="@UmlActivityShapes.Action" Type="@Syncfusion.EJ2.Blazor.Diagrams.Shapes.UmlActivity"></DiagramUmlActivityShape>
                    <DiagramNodeAnnotations>
                        <DiagramNodeAnnotation Content="Close Call">
                            <NodeAnnotationMargin Left="10" Right="10" Top="10" Bottom="10"></NodeAnnotationMargin>
                        </DiagramNodeAnnotation>
                    </DiagramNodeAnnotations>
                    <DiagramPorts>
                        <DiagramPort Id="portLeft" Shape="@PortShapes.Square">
                            <NodePortOffset X="0.01" Y="0.5"></NodePortOffset>
                        </DiagramPort>
                        <DiagramPort Id="portRight" Shape="@PortShapes.Square">
                            <NodePortOffset X="1" Y="0.5"></NodePortOffset>
                        </DiagramPort>
                        <DiagramPort Id="portBottom" Shape="@PortShapes.Square">
                            <NodePortOffset X="0.5" Y="1"></NodePortOffset>
                        </DiagramPort>
                        <DiagramPort Id="portTop" Shape="@PortShapes.Square">
                            <NodePortOffset X="0.5" Y="0.01"></NodePortOffset>
                        </DiagramPort>
                    </DiagramPorts>
                </DiagramNode>
                <DiagramNode Id="node11" Height="40" Width="40" OffsetX="300" OffsetY="615">
                    <NodeShapeStyle Fill="#444" StrokeColor="#444"></NodeShapeStyle>
                    <DiagramUmlActivityShape Shape="@UmlActivityShapes.FinalNode" Type="@Syncfusion.EJ2.Blazor.Diagrams.Shapes.UmlActivity"></DiagramUmlActivityShape>
                    <DiagramPorts>
                        <DiagramPort Id="portLeft" Shape="@PortShapes.Square">
                            <NodePortOffset X="0.01" Y="0.5"></NodePortOffset>
                        </DiagramPort>
                        <DiagramPort Id="portRight" Shape="@PortShapes.Square">
                            <NodePortOffset X="1" Y="0.5"></NodePortOffset>
                        </DiagramPort>
                        <DiagramPort Id="portBottom" Shape="@PortShapes.Square">
                            <NodePortOffset X="0.5" Y="1"></NodePortOffset>
                        </DiagramPort>
                        <DiagramPort Id="portTop" Shape="@PortShapes.Square">
                            <NodePortOffset X="0.5" Y="0.01"></NodePortOffset>
                        </DiagramPort>
                    </DiagramPorts>
                </DiagramNode>
            </DiagramNodes>
            <DiagramConnectors>
                <DiagramConnector Id="connector1" SourceID="Start" TargetID="ReceiveCall" Type="@Segments.Orthogonal" CornerRadius="10">
                    <ConnectorTargetDecorator Shape="@DecoratorShapes.OpenArrow">
                        <DecoratorShapeStyle StrokeColor="#444" Fill="#444"></DecoratorShapeStyle>
                    </ConnectorTargetDecorator>
                </DiagramConnector>
                <DiagramConnector Id="connector2" SourceID="ReceiveCall" TargetID="node2" Type="@Segments.Orthogonal" CornerRadius="10">
                    <ConnectorTargetDecorator Shape="@DecoratorShapes.OpenArrow">
                        <DecoratorShapeStyle StrokeColor="#444" Fill="#444"></DecoratorShapeStyle>
                    </ConnectorTargetDecorator>
                </DiagramConnector>
                <DiagramConnector Id="connector3" SourceID="node2" TargetID="Determine" SourcePortID="port1" TargetPortID="portTop"
                                  Type="@Segments.Orthogonal" CornerRadius="10" Segments="@segment1">
                    <ConnectorTargetDecorator Shape="@DecoratorShapes.OpenArrow">
                        <DecoratorShapeStyle StrokeColor="#444" Fill="#444"></DecoratorShapeStyle>
                    </ConnectorTargetDecorator>
                </DiagramConnector>
                <DiagramConnector Id="connector4" SourceID="node2" TargetID="Log" SourcePortID="port2" TargetPortID="portTop"
                                  Type="@Segments.Orthogonal" CornerRadius="10" Segments="@segment2">
                    <ConnectorTargetDecorator Shape="@DecoratorShapes.OpenArrow">
                        <DecoratorShapeStyle StrokeColor="#444" Fill="#444"></DecoratorShapeStyle>
                    </ConnectorTargetDecorator>
                </DiagramConnector>
                <DiagramConnector Id="connector5" SourceID="Determine" TargetID="node5" Type="@Segments.Orthogonal" CornerRadius="10">
                    <ConnectorTargetDecorator Shape="@DecoratorShapes.OpenArrow">
                        <DecoratorShapeStyle StrokeColor="#444" Fill="#444"></DecoratorShapeStyle>
                    </ConnectorTargetDecorator>
                </DiagramConnector>
                <DiagramConnector Id="connector6" SourceID="node5" TargetID="transfer_sales" SourcePortID="portLeft" TargetPortID="portTop"
                                  Type="@Segments.Orthogonal" CornerRadius="10">
                    <DiagramActivityFlow Type="@ConnectionShapes.UmlActivity" Flow="@UmlActivityFlows.Object"></DiagramActivityFlow>
                    <DiagramConnectorAnnotations>
                        <DiagramConnectorAnnotation Content="type=New customer" Offset="0.715">
                            <ConnectorAnnotationStyle Color="black" Fill="white" TextWrapping="@TextWrap.NoWrap"></ConnectorAnnotationStyle>
                        </DiagramConnectorAnnotation>
                    </DiagramConnectorAnnotations>
                    <ConnectorTargetDecorator Shape="@DecoratorShapes.OpenArrow">
                        <DecoratorShapeStyle StrokeColor="#444" Fill="#444"></DecoratorShapeStyle>
                    </ConnectorTargetDecorator>
                </DiagramConnector>
                <DiagramConnector Id="connector7" SourceID="node5" TargetID="transfer_desk" SourcePortID="portRight" TargetPortID="portTop"
                                  Type="@Segments.Orthogonal" CornerRadius="10">
                    <DiagramActivityFlow Type="@ConnectionShapes.UmlActivity" Flow="@UmlActivityFlows.Object"></DiagramActivityFlow>
                    <DiagramConnectorAnnotations>
                        <DiagramConnectorAnnotation Content="type=Existing Customer" Offset="0.75">
                            <ConnectorAnnotationStyle Color="black" Fill="white" TextWrapping="@TextWrap.NoWrap"></ConnectorAnnotationStyle>
                        </DiagramConnectorAnnotation>
                    </DiagramConnectorAnnotations>
                    <ConnectorTargetDecorator Shape="@DecoratorShapes.OpenArrow">
                        <DecoratorShapeStyle StrokeColor="#444" Fill="#444"></DecoratorShapeStyle>
                    </ConnectorTargetDecorator>
                </DiagramConnector>
                <DiagramConnector Id="connector8" SourceID="transfer_sales" TargetID="node8" SourcePortID="portBottom" TargetPortID="portLeft"
                                  Type="@Segments.Orthogonal" CornerRadius="10" Segments="@segment3">
                    <ConnectorTargetDecorator Shape="@DecoratorShapes.OpenArrow">
                        <DecoratorShapeStyle StrokeColor="#444" Fill="#444"></DecoratorShapeStyle>
                    </ConnectorTargetDecorator>
                </DiagramConnector>
                <DiagramConnector Id="connector9" SourceID="transfer_desk" TargetID="node8" SourcePortID="portBottom" TargetPortID="portRight"
                                  Type="@Segments.Orthogonal" CornerRadius="10" Segments="@segment4">
                    <ConnectorTargetDecorator Shape="@DecoratorShapes.OpenArrow">
                        <DecoratorShapeStyle StrokeColor="#444" Fill="#444"></DecoratorShapeStyle>
                    </ConnectorTargetDecorator>
                </DiagramConnector>
                <DiagramConnector Id="connector10" SourceID="node8" TargetID="node9" SourcePortID="portBottom" TargetPortID="port3"
                                  Type="@Segments.Orthogonal" CornerRadius="10">
                    <ConnectorTargetDecorator Shape="@DecoratorShapes.OpenArrow">
                        <DecoratorShapeStyle StrokeColor="#444" Fill="#444"></DecoratorShapeStyle>
                    </ConnectorTargetDecorator>
                </DiagramConnector>
                <DiagramConnector Id="connector11" SourceID="Log" TargetID="node9" SourcePortID="portBottom" TargetPortID="port4"
                                  Type="@Segments.Orthogonal" CornerRadius="10" Segments="@segment5">
                    <ConnectorTargetDecorator Shape="@DecoratorShapes.OpenArrow">
                        <DecoratorShapeStyle StrokeColor="#444" Fill="#444"></DecoratorShapeStyle>
                    </ConnectorTargetDecorator>
                </DiagramConnector>
                <DiagramConnector Id="connector12" SourceID="node9" TargetID="CloseCall" Type="@Segments.Orthogonal" CornerRadius="10">
                    <ConnectorTargetDecorator Shape="@DecoratorShapes.OpenArrow">
                        <DecoratorShapeStyle StrokeColor="#444" Fill="#444"></DecoratorShapeStyle>
                    </ConnectorTargetDecorator>
                </DiagramConnector>
                <DiagramConnector Id="connector13" SourceID="CloseCall" TargetID="node11" Type="@Segments.Orthogonal" CornerRadius="10">
                    <ConnectorTargetDecorator Shape="@DecoratorShapes.OpenArrow">
                        <DecoratorShapeStyle StrokeColor="#444" Fill="#444"></DecoratorShapeStyle>
                    </ConnectorTargetDecorator>
                </DiagramConnector>
            </DiagramConnectors>
        </EjsDiagram>
    </div>
</div>

@code{
   
    private List<object> segment1 { get; set; } = new List<object> {
        new { direction= "Bottom", type= "Orthogonal", length= 20 },
        new { direction="Left", type="Orthogonal", length=50 }
    };
    private List<object> segment2 { get; set; } = new List<object>{
        new { direction= "Bottom", type= "Orthogonal", length= 20 },
        new { direction="Right", type="Orthogonal", length=50 }
    };
    private List<object> segment3 { get; set; } = new List<object>{
        new { direction= "Bottom", type= "Orthogonal", length= 50 }
    };
    private List<object> segment4 { get; set; } = new List<object>{
        new { direction= "Bottom", type= "Orthogonal", length= 50 }
    };
    private List<object> segment5 { get; set; } = new List<object>{
        new { direction= "Bottom", type= "Orthogonal", length= 213 },
        new { direction="Left", type="Orthogonal", length=50 }
    };

}

<style>
  .sb-mobile-palette {
            width: 210px;
            height: 100%;
            float: left;
        }

        .sb-mobile-palette-bar {
            display: none;
        }

        .container-fluid {
            padding-bottom: 15px;
        }
/**/
        .sb-mobile-palette-open {
            position: absolute;
            display: block;
            right: 15px;
        }
</style>
