@page "/Schedule/Timeline"

@using Syncfusion.EJ2.RazorComponents.Schedule

@*Hidden:Lines*@
@using ej2_blazor_samples
@{
    SampleBrowser.CurrentSampleName = "Timeline View";
    SampleBrowser.CurrentControlName = "Scheduler";
    SampleBrowser.CurrentControlCategory = "Scheduler";
    SampleBrowser.CurrentControl = SampleBrowser.Config.Schedule;
    SampleBrowser.ActionDescription = new string[] {
@"<p>This demo showcases how the timeline scheduler looks like with its default set of configurations.</p>"
};
    SampleBrowser.Description = new string[] {
@"<p>
    Like the vertical scheduler, timeline view has the similar view types such as
</p>
<ul>
    <li>Timeline Day</li>
    <li>Timeline Week</li>
    <li>Timeline WorkWeek</li>
    <li>Timeline Month</li>
</ul>
<p>The Agenda and MonthAgenda views shares the same layout for both the vertical and timeline views.</p>"
};
}
@*End:Hidden*@

<div class="col-lg-12 control-section">
    <div class="schedule-wrapper">
        <EjsSchedule id="schedule" height="650px" selectedDate="new DateTime(2019, 1, 10)" EventSettings="@ScheduleData">
            <ScheduleViews>
                <ScheduleView option="@timelineDay" allowVirtualScrolling="false"></ScheduleView>
                <ScheduleView option="@timelineWeek" allowVirtualScrolling="false"></ScheduleView>
                <ScheduleView option="@timelineWorkWeek" allowVirtualScrolling="false"></ScheduleView>
                <ScheduleView option="@timelineMonth" allowVirtualScrolling="false"></ScheduleView>
                <ScheduleView option="@agenda" allowVirtualScrolling="false"></ScheduleView>
            </ScheduleViews>
        </EjsSchedule>
    </div>
</div>

@functions{
    static ScheduleData data = new ScheduleData();
    private object viewList { get; set; } = new string[] { "TimelineDay", "TimelineWeek", "TimelineWorkWeek", "TimelineMonth", "Agenda" };
    [Parameter]
    private object ScheduleData { get; set; } = new
    {
        dataSource = data.GetScheduleData()
    };
public View timelineDay = View.TimelineDay;
public View timelineWeek = View.TimelineWeek;
public View timelineWorkWeek = View.TimelineWorkWeek;
public View timelineMonth = View.TimelineMonth;
public View agenda = View.Agenda;
}
