@page "/query-builder/overview"

@using Syncfusion.Blazor
@using Syncfusion.Blazor.QueryBuilder
@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.Navigations
@using Syncfusion.Blazor.Inputs
@using Syncfusion.Blazor.Popups
@using System.Text.Json
@using System.Text.Json.Serialization
@using Syncfusion.Blazor.SplitButtons

<div class="e-main-content">
    <div class="e-top-content">
        <SfDropDownButton IconCss="e-icons e-settings" CssClass="e-caret-hide">
            <PopupContent>
                <div class="e-main-content e-settings-popup-content">
                    <table id="property" title="Properties">
                        <tbody>
                            <span style="font-size: 14px;"><b>Properties</b></span>
                            <tr>
                                <td style="padding-top:15px">
                                    <SfCheckBox Label="Enable lock rule" LabelPosition="Syncfusion.Blazor.Buttons.LabelPosition.After" @bind-Checked="lockRule" TChecked="bool"></SfCheckBox>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding-top:15px">
                                    <SfCheckBox Label="Enable lock group" LabelPosition="Syncfusion.Blazor.Buttons.LabelPosition.After" @bind-Checked="lockGroup" TChecked="bool"></SfCheckBox>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding-top:15px">
                                    <SfCheckBox Label="Enable clone rule" LabelPosition="Syncfusion.Blazor.Buttons.LabelPosition.After" @bind-Checked="cloneRule" TChecked="bool"></SfCheckBox>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding-top:15px">
                                    <SfCheckBox Label="Enable clone group" LabelPosition="Syncfusion.Blazor.Buttons.LabelPosition.After" @bind-Checked="cloneGroup" TChecked="bool"></SfCheckBox>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding-top:15px">
                                    <SfCheckBox Label="Enable rule delete" LabelPosition="Syncfusion.Blazor.Buttons.LabelPosition.After" @bind-Checked="ruleDelete" TChecked="bool"></SfCheckBox>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding-top:15px">
                                    <SfCheckBox Label="Enable group insert" LabelPosition="Syncfusion.Blazor.Buttons.LabelPosition.After" @bind-Checked="groupInsert" TChecked="bool"></SfCheckBox>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding-top:15px">
                                    <SfCheckBox Label="Enable group delete" LabelPosition="Syncfusion.Blazor.Buttons.LabelPosition.After" @bind-Checked="groupDelete" TChecked="bool"></SfCheckBox>
                                </td>
                            </tr>
            
                            <tr>
                                <td style="padding-top:15px">
                                    <SfCheckBox Label="Enable summary view" LabelPosition="Syncfusion.Blazor.Buttons.LabelPosition.After" @bind-Checked="summaryView" TChecked="bool"></SfCheckBox>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding-top:15px">
                                    <SfCheckBox Label="Enable not condition" LabelPosition="Syncfusion.Blazor.Buttons.LabelPosition.After" @bind-Checked="enableNotCondition" TChecked="bool"></SfCheckBox>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </PopupContent>
        </SfDropDownButton>
        <SfDropDownButton Content="Import" CssClass="e-caret-hide">
            <DropDownButtonEvents ItemSelected="ItemSelected"></DropDownButtonEvents>
            <DropDownMenuItems>
                <DropDownMenuItem Text="Import Parameter SQL"></DropDownMenuItem>
                <DropDownMenuItem Text="Import Named Parameter SQL"></DropDownMenuItem>
                <DropDownMenuItem Text="Import MongoDB Query"></DropDownMenuItem>
            </DropDownMenuItems>
        </SfDropDownButton>
                
    </div>
    <div>
        <SfQueryBuilder TValue="EmployeeDetails" @ref="QueryBuilderObj" SummaryView="@summaryView" EnableNotCondition="@enableNotCondition">
            <QueryBuilderEvents TValue="EmployeeDetails" Changed="QueryBuilderChanged"></QueryBuilderEvents>
            <QueryBuilderShowButtons CloneGroup="@cloneGroup" CloneRule="@cloneRule" LockRule="@lockRule" LockGroup="@lockGroup" RuleDelete="@ruleDelete" GroupInsert="@groupInsert" GroupDelete="@groupDelete"></QueryBuilderShowButtons>
            <QueryBuilderRule Condition="and" Rules="@Rules"></QueryBuilderRule>
            <QueryBuilderColumns>
                <QueryBuilderColumn Field="EmployeeID" Label="Employee ID" Type="ColumnType.Number"></QueryBuilderColumn>
                <QueryBuilderColumn Field="FirstName" Label="First Name" Type="ColumnType.String"></QueryBuilderColumn>
                <QueryBuilderColumn Field="LastName" Label="Last Name" Type="ColumnType.String"></QueryBuilderColumn>
                <QueryBuilderColumn Field="IsDeveloper" Label="IsDeveloper" Type="ColumnType.Boolean"></QueryBuilderColumn>
                <QueryBuilderColumn Field="Age" Label="Age" Type="ColumnType.Number"></QueryBuilderColumn>
                <QueryBuilderColumn Field="PrimaryFramework" Label="Primary Framework" Type="ColumnType.String"></QueryBuilderColumn>
                <QueryBuilderColumn Field="HireDate" Label="Hire Date" Type="ColumnType.Date"></QueryBuilderColumn>
                <QueryBuilderColumn Field="Country" Label="Country" Type="ColumnType.String"></QueryBuilderColumn>
            </QueryBuilderColumns>
        </SfQueryBuilder>
    </div>
    <div class="e-bottom-content">
        <div class="e-query-preview">
            <SfTab>
                <TabEvents Selected="TabChanged" Created="TabCreated">
                </TabEvents>
                <TabItems>
                    <TabItem>
                        <ChildContent>
                            <TabHeader Text="SQL"></TabHeader>
                        </ChildContent>
                        <ContentTemplate>
                            <div class="preview">
                                <div class="content">
                                    <SfRadioButton CssClass="e-radio-btns" Label="Inline" Name="Inline" Value="Inline" TChecked="string" @onchange="OnChange" @bind-Checked="QueryType"></SfRadioButton>
                                    <SfRadioButton CssClass="e-radio-btns" Label="Parameter" Name="Parameter" Value="Parameter" TChecked="string" @onchange="OnChange" @bind-Checked="QueryType"></SfRadioButton>
                                    <SfRadioButton CssClass="e-radio-btns" Label="Named Parameter" Name="Named Parameter" Value="Named Parameter" TChecked="string" @onchange="OnChange" @bind-Checked="QueryType"></SfRadioButton>
                                    <div id="content" style="margin-top: 10px;">
                                        <SfTextBox Multiline=true Readonly=true Value="@ExportContent" CssClass="e-text-area-content e-sql-content"></SfTextBox>
                                    </div>
                                </div>
                            </div>
                        </ContentTemplate>
                    </TabItem>
                    <TabItem>
                        <ChildContent>
                            <TabHeader Text="JSON"></TabHeader>
                        </ChildContent>
                        <ContentTemplate>
                            <div id="content" style="margin-top: 10px;">
                                <SfTextBox Multiline=true Readonly=true Value="@ExportContent" CssClass="e-text-area-content e-json-content"></SfTextBox>
                            </div>
                        </ContentTemplate>
                    </TabItem>
                    <TabItem>
                        <ChildContent>
                            <TabHeader Text="MongoDB"></TabHeader>
                        </ChildContent>
                        <ContentTemplate>
                            <div id="content" style="margin-top: 10px;">
                                <SfTextBox Multiline=true Readonly=true Value="@ExportContent" CssClass="e-text-area-content e-mongo-content"></SfTextBox>
                            </div>
                        </ContentTemplate>
                    </TabItem>
                </TabItems>
            </SfTab>
            <SfDialog ShowCloseIcon="true" @ref="DialogObj" Height="420px" Width="700px" IsModal="true" @bind-Visible="@IsVisible">
                <DialogTemplates>
                    <Header>@Header</Header>
                    <Content>
                        <form>
                            <textarea class="content-area" id="content-area" @bind="ImportContent"></textarea>
                        </form>
                    </Content>
                </DialogTemplates>
                <DialogAnimationSettings Effect="@DialogAnimationEffect" Duration=400 Delay="0" />
                <DialogButtons>
                    <DialogButton Content="Import" IsPrimary="true" OnClick="@ImportClick" />
                    <DialogButton Content="Cancel" OnClick="@CancelClick" />
                </DialogButtons>
            </SfDialog>
        </div>
    </div>
</div>

@code {
    private List<RuleModel> Rules = new List<RuleModel>()
    {
        new RuleModel { Label="First Name", Field="FirstName", Type="String", Operator="equal", Value = "Andre" },
        // new RuleModel { Label="Last Name", Field="LastName", Type="String", Operator="in", Value = new string[] { "Davolio", "Buchanan" } },
        new RuleModel { Label="Last Name", Field="LastName", Type="String", Operator="equal", Value = "Davolio" },
        new RuleModel { Label="Age", Field="Age", Type="Number", Operator="equal", Value = 29 },
        new RuleModel {
            Condition = "or", Rules = new List<RuleModel>() {
                new RuleModel { Label= "Is Developer", Field = "IsDeveloper", Type = "Boolean", Operator = "equal", Value = true },
                new RuleModel { Label= "Primary Framework", Field = "PrimaryFramework", Type = "String", Operator = "equal", Value = "React" }
            }
        }
    };

    public class EmployeeDetails
    {
        public int EmployeeID { get; set; }
        public string FirstName { get; set; }
        public string LastName { get; set; }
        public int Age { get; set; }
        public bool IsDeveloper { get; set; }
        public string PrimaryFramework { get; set; }
        public DateTime HireDate { get; set; }
        public string Country { get; set; }
    }

    SfDialog DialogObj;
    SfQueryBuilder<EmployeeDetails> QueryBuilderObj;
    private bool IsVisible = false;
    private string Header;
    private DialogEffect DialogAnimationEffect = DialogEffect.Zoom;
    private ParameterSql ParameterSql;
    private NamedParameterSql ParameterNamedSQL;
    private string ExportContent = "";
    private string ImportContent = "";
    private string QueryType = "Inline";
    private bool lockRule = false;
    private bool lockGroup = false;
    private bool cloneRule = false;
    private bool cloneGroup = false;
    private bool summaryView = false;
    private bool enableNotCondition = false;
    private bool ruleDelete = true;
    private bool groupInsert = true;
    private bool groupDelete = true;
    private int selectedTabIndex = 0;

    private void ItemSelected(MenuEventArgs args)
    {
        this.IsVisible = true;
        switch(args.Item.Text)
        {
            case "Import Parameter SQL":
                ParameterSql = QueryBuilderObj.GetParameterSql(QueryBuilderObj.GetValidRules());
                ImportContent = JsonSerializer.Serialize(ParameterSql, new JsonSerializerOptions { WriteIndented = true });
                Header = "Parameter SQL";
                break;
            case "Import Named Parameter SQL":
                ParameterNamedSQL = QueryBuilderObj.GetNamedParameterSql(QueryBuilderObj.GetValidRules());
                ImportContent = JsonSerializer.Serialize(ParameterNamedSQL, new JsonSerializerOptions { WriteIndented = true });
                Header = "Named Parameter SQL";
                break;
            default:
                string mongoQuery = QueryBuilderObj.GetMongoQuery(QueryBuilderObj.GetValidRules());
                JsonDocument jsonDocument = JsonDocument.Parse(mongoQuery);
                ImportContent = JsonSerializer.Serialize(jsonDocument.RootElement, new JsonSerializerOptions
                    {
                        WriteIndented = true
                    });
                Header = "MongoDB Query";
                break;
        }
    }

    private void CancelClick()
    {
        this.IsVisible = false;
    }

    private void ImportClick()
    {
        if (Header == "MongoDB Query")
        {
            QueryBuilderObj.SetMongoQuery(ImportContent);
        }
        else if (Header == "Named Parameter SQL")
        {
            ParameterNamedSQL = JsonSerializer.Deserialize<NamedParameterSql>(ImportContent);
            QueryBuilderObj.SetNamedParameterSql(ParameterNamedSQL);
        }
        else if (Header == "Parameter SQL")
        {
            ParameterSql = JsonSerializer.Deserialize<ParameterSql>(ImportContent);
            QueryBuilderObj.SetParameterSql(ParameterSql);
        }
        UpdateTextContent();
        this.IsVisible = false;
    }

    private void QueryBuilderChanged(Syncfusion.Blazor.QueryBuilder.ChangeEventArgs args)
    {
        UpdateContent();
    }

    public void TabCreated()
    {
        UpdateTextContent();
    }

    public void TabChanged(Syncfusion.Blazor.Navigations.SelectEventArgs args)
    {
        selectedTabIndex = args.SelectedIndex;
        UpdateContent();
    }

    private void UpdateContent()
    {
        switch (selectedTabIndex)
        {
            case 0:
                UpdateTextContent();
                break;
            case 1:
                ConvertJSON();
                break;
            case 2:
                ConvertMongoDBQuery();
                break;
        }
    }

    private void OnChange(Microsoft.AspNetCore.Components.ChangeEventArgs args)
    {
        QueryType = args.Value.ToString();
        UpdateTextContent();
    }

    private void UpdateTextContent()
    {
        RuleModel Rule = QueryBuilderObj.GetValidRules();
        switch (QueryType)
        {
            case "Inline":
                ExportContent = QueryBuilderObj.GetSqlFromRules(Rule);
                break;
            case "Parameter":
                ParameterSql = QueryBuilderObj.GetParameterSql(Rule);
                ExportContent = JsonSerializer.Serialize(ParameterSql, new JsonSerializerOptions { WriteIndented = true });
                break;
            case "Named Parameter":
                ParameterNamedSQL = QueryBuilderObj.GetNamedParameterSql(Rule);
                ExportContent = JsonSerializer.Serialize(ParameterNamedSQL, new JsonSerializerOptions { WriteIndented = true });
                break;
        }
    }

    private void ConvertJSON()
    {
        ExportContent = JsonSerializer.Serialize(QueryBuilderObj.GetValidRules(), new JsonSerializerOptions
            {
                DefaultIgnoreCondition = JsonIgnoreCondition.WhenWritingNull,
                WriteIndented = true,
                Converters = { new CustomConverter() }
            });
    }

    private void ConvertMongoDBQuery()
    {
        string mongoQuery = (QueryBuilderObj.GetMongoQuery(QueryBuilderObj.GetValidRules()));
        JsonDocument jsonDocument = JsonDocument.Parse(mongoQuery);
        ExportContent = JsonSerializer.Serialize(jsonDocument.RootElement, new JsonSerializerOptions
            {
                WriteIndented = true
            });
    }

    public class CustomConverter : JsonConverter<RuleModel>
    {
        public override RuleModel Read(ref Utf8JsonReader reader, Type typeToConvert, JsonSerializerOptions options)
        {
            throw new NotImplementedException();
        }

        public override void Write(Utf8JsonWriter writer, RuleModel value, JsonSerializerOptions options)
        {
            writer.WriteStartObject();
            if (value.Condition != null)
            {
                writer.WriteString("Condition", value.Condition);
            }
            if (value.Operator != null)
            {
                writer.WriteString("Operator", value.Operator);
            }
            if (value.Field != null)
            {
                writer.WriteString("Field", value.Field);
            }
            if (value.Type != null)
            {
                writer.WriteString("Type", value.Type);
            }
            if (value.Not != null)
            {
                writer.WriteBoolean("Not", value.Not.Value);
            }
            if (value.Value != null)
            {
                writer.WritePropertyName("Value");
                JsonSerializer.Serialize(writer, value.Value, options);
            }
            if (value.Rules != null)
            {
                writer.WritePropertyName("Rules");
                JsonSerializer.Serialize(writer, value.Rules, options);
            }
            writer.WriteEndObject();
        }
    }
}
<style>
    .e-main-content {
        border: 1px solid #ccc;
        padding: 10px;
        margin: 5px;
    }
    .e-settings-popup-content {
        width: 220px;
    }
    .e-bottom-content {
        margin-top: 50px;
    }
    .e-query-preview .e-tab {
        height: 200px;
    }
    .e-query-preview .preview {
        margin-top: 20px;
    }
    .e-query-preview .content {
        margin: 10px;
    }
    .e-text-area-content {
        margin: 10px;
        overflow: auto;
        border: none;
        height: 300px;
        width: 98%;
    }
    .e-text-area-content:focus-visible {
        outline: none;
    }
    .e-query-preview .e-sql-content,
    .e-query-preview .e-mongo-content,
    .e-query-preview .e-json-content {
        margin: 10px;
        border: none;
        height: 200px;
        width: 98%;
    }
    .e-query-preview .e-mongo-content,
    .e-query-preview .e-json-content {
        height: 320px;
    }
    .e-custom-radio-btn {
        margin-left: 20px;
    }
    .content-area {
        height: 303px !important;
        width: 100% !important;
        overflow-x: hidden;
        padding: 10px;
    }
    .e-pre-content {
        width: 0px;
    }
    .e-radio-btns {
        margin-left: 20px;
    }
    .e-top-content {
        margin-bottom: 6px;
        height: 32px;
    }
    .e-top-content .e-icons.e-settings:before {
        padding-left: 8px;
    }
    .e-top-content .e-dropdown-btn {
        float: right;
    }
    .e-top-content .e-caret-hide {
        margin-left: 10px;
    }
</style>
