@inject NavigationManager Urihelper
<!DOCTYPE html>
<html lang="en">

<head>
    <style>
        #components-reconnect-modal {
            display: none !important;
        }
    </style>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="alternate" hreflang="en" href="@Urihelper.BaseUri" />
    <link rel="preconnect" href="https://cdn.syncfusion.com" crossorigin />

@* SB's Home pages LCP image preloading and stylesheets *@
@{#if !STAGING && RELEASE}
	@if (SampleUtils.IsHomePage(Urihelper))
	{
		// Preloading LCP image of Home page with high priority based on screen size using media queries.
		<link rel="preload" as="image" href="https://cdn.syncfusion.com/blazor/images/demos/home-banner-mobile.webp" fetchpriority="high" media="(max-width: 450px)" />
		<link rel="preload" as="image" href="https://cdn.syncfusion.com/blazor/images/demos/home-banner-tab.webp" fetchpriority="high" media="(min-width: 456px) and (max-width: 1024px)" />
		<link rel="preload" as="image" href="https://cdn.syncfusion.com/blazor/images/demos/home-banner.webp" fetchpriority="high" media="(min-width: 1025px)" />
		<link rel="stylesheet" type="text/css" href="https://cdn.syncfusion.com/blazor/sb/styles/30.1.37/home-page/fluent2.min.css" />
		<link rel="stylesheet" type="text/css" href="https://cdn.syncfusion.com/blazor/sb/styles/30.1.37/common/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="https://cdn.syncfusion.com/blazor/sb/styles/30.1.37/common/site.min.css" />
		<link rel="stylesheet" type="text/css" href="https://cdn.syncfusion.com/blazor/sb/styles/30.1.37/common/home.min.css" />
		<link rel="stylesheet" type="text/css" href="https://cdn.syncfusion.com/blazor/sb/styles/30.1.37/common/devices.min.css" media="(max-width: 1024px)" />
	}
@{#elif !DEBUG && STAGING}
@{#if NET8_0}
	@if (SampleUtils.IsHomePage(Urihelper))
	{
		// Preloading LCP image of Home page with high priority based on screen size using media queries.
		<link rel="preload" as="image" href="_content/Blazor_Server_Common_NET8/images/common/home-banner-mobile.webp" fetchpriority="high" media="(max-width: 450px)" />
		<link rel="preload" as="image" href="_content/Blazor_Server_Common_NET8/images/common/home-banner-tab.webp" fetchpriority="high" media="(min-width: 456px) and (max-width: 1024px)" />
		<link rel="preload" as="image" href="_content/Blazor_Server_Common_NET8/images/common/home-banner.webp" fetchpriority="high" media="(min-width: 1025px)" />
		<link rel="stylesheet" type="text/css" href="_content/Syncfusion.Blazor.Themes/fluent2.css" />
		<link rel="stylesheet" type="text/css" href="_content/Blazor_Server_Common_NET8/styles/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="_content/Blazor_Server_Common_NET8/styles/site.min.css" />
		<link rel="stylesheet" type="text/css" href="_content/Blazor_Server_Common_NET8/styles/common/home.min.css" />
		<link rel="stylesheet" type="text/css" href="_content/Blazor_Server_Common_NET8/styles/common/devices.min.css" media="(max-width: 1024px)" />
	}
@{#endif}
@{#if NET9_0}
	@if (SampleUtils.IsHomePage(Urihelper))
	{
		// Preloading LCP image of Home page with high priority based on screen size using media queries.
		<link rel="preload" as="image" href="_content/Blazor_Server_Common_NET9/images/common/home-banner-mobile.webp" fetchpriority="high" media="(max-width: 450px)" />
		<link rel="preload" as="image" href="_content/Blazor_Server_Common_NET9/images/common/home-banner-tab.webp" fetchpriority="high" media="(min-width: 456px) and (max-width: 1024px)" />
		<link rel="preload" as="image" href="_content/Blazor_Server_Common_NET9/images/common/home-banner.webp" fetchpriority="high" media="(min-width: 1025px)" />
		<link rel="stylesheet" type="text/css" href="_content/Syncfusion.Blazor.Themes/fluent2.css" />
		<link rel="stylesheet" type="text/css" href="_content/Blazor_Server_Common_NET9/styles/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="_content/Blazor_Server_Common_NET9/styles/site.min.css" />
		<link rel="stylesheet" type="text/css" href="_content/Blazor_Server_Common_NET9/styles/common/home.min.css" />
		<link rel="stylesheet" type="text/css" href="_content/Blazor_Server_Common_NET9/styles/common/devices.min.css" media="(max-width: 1024px)" />
	}
@{#endif}
@{#else}
@{#if NET8_0}
	@if (SampleUtils.IsHomePage(Urihelper))
	{
		// Preloading LCP image of Home page with high priority based on screen size using media queries.
		<link rel="preload" as="image" href="_content/Blazor_Server_Common_NET8/images/common/home-banner-mobile.webp" fetchpriority="high" media="(max-width: 450px)" />
		<link rel="preload" as="image" href="_content/Blazor_Server_Common_NET8/images/common/home-banner-tab.webp" fetchpriority="high" media="(min-width: 456px) and (max-width: 1024px)" />
		<link rel="preload" as="image" href="_content/Blazor_Server_Common_NET8/images/common/home-banner.webp" fetchpriority="high" media="(min-width: 1025px)" />
		<link rel="stylesheet" type="text/css" href="_content/Syncfusion.Blazor.Themes/fluent2.css" />
		<link rel="stylesheet" type="text/css" href="_content/Blazor_Server_Common_NET8/styles/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="_content/Blazor_Server_Common_NET8/styles/site.css" />
		<link rel="stylesheet" type="text/css" href="_content/Blazor_Server_Common_NET8/styles/common/home.css" />
		<link rel="stylesheet" type="text/css" href="_content/Blazor_Server_Common_NET8/styles/common/devices.css" media="(max-width: 1024px)" />
	}
@{#endif}
@{#if NET9_0}
	@if (SampleUtils.IsHomePage(Urihelper))
	{
		// Preloading LCP image of Home page with high priority based on screen size using media queries.
		<link rel="preload" as="image" href="_content/Blazor_Server_Common_NET9/images/common/home-banner-mobile.webp" fetchpriority="high" media="(max-width: 450px)" />
		<link rel="preload" as="image" href="_content/Blazor_Server_Common_NET9/images/common/home-banner-tab.webp" fetchpriority="high" media="(min-width: 456px) and (max-width: 1024px)" />
		<link rel="preload" as="image" href="_content/Blazor_Server_Common_NET9/images/common/home-banner.webp" fetchpriority="high" media="(min-width: 1025px)" />
		<link rel="stylesheet" type="text/css" href="_content/Syncfusion.Blazor.Themes/fluent2.css" />
		<link rel="stylesheet" type="text/css" href="_content/Blazor_Server_Common_NET9/styles/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="_content/Blazor_Server_Common_NET9/styles/site.css" />
		<link rel="stylesheet" type="text/css" href="_content/Blazor_Server_Common_NET9/styles/common/home.css" />
		<link rel="stylesheet" type="text/css" href="_content/Blazor_Server_Common_NET9/styles/common/devices.css" media="(max-width: 1024px)" />
	}
@{#endif}
@{#endif}

@* SB's Demo pages LCP image preloading and stylesheets *@
@{#if !STAGING && RELEASE}
	@if (!SampleUtils.IsHomePage(Urihelper))
	{
		// Preloading LCP image of Demo page with high priority.
		<link rel="preload" as="image" href="https://cdn.syncfusion.com/blazor/images/demos/ad-bg.webp" fetchpriority="high" />
	}
@{#else}
@{#if NET8_0}
	@if (!SampleUtils.IsHomePage(Urihelper))
	{
		// Preloading LCP image of Demo page with high priority.
		<link rel="preload" as="image" href="_content/blazor_server_common_net8/images/common/ad-bg.webp" fetchpriority="high" />
	}
@{#endif}
@{#if NET9_0}
	@if (!SampleUtils.IsHomePage(Urihelper))
	{
		// Preloading LCP image of Demo page with high priority.
		<link rel="preload" as="image" href="_content/blazor_server_common_net9/images/common/ad-bg.webp" fetchpriority="high" />
	}
@{#endif}
@{#endif}

@{#if NET8_0}
	@if (!SampleUtils.IsHomePage(Urihelper))
	{
		<link href="Blazor_Server_Demos_NET8.styles.css" rel="stylesheet" />
	}
@{#endif}
@{#if NET9_0}
	@if (!SampleUtils.IsHomePage(Urihelper))
	{
		<link href="@Assets["Blazor_Server_Demos_NET9.styles.css"]" rel="stylesheet" />
	}
@{#endif}

@{#if !STAGING && RELEASE}
	@if (!SampleUtils.IsHomePage(Urihelper))
	{
		<link rel="stylesheet" type="text/css" href="https://cdn.syncfusion.com/blazor/sb/styles/30.1.37/common/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="https://cdn.syncfusion.com/blazor/sb/styles/30.1.37/common/demos.min.css" />
		<link rel="stylesheet" type="text/css" href="https://cdn.syncfusion.com/blazor/sb/styles/30.1.37/common/devices.min.css" media="(max-width: 1024px)" />
	}
@{#elif !DEBUG && STAGING}
@{#if NET8_0}
	@if (!SampleUtils.IsHomePage(Urihelper))
	{
		<link rel="stylesheet" type="text/css" href="_content/Blazor_Server_Common_NET8/styles/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="_content/blazor_server_common_net8/styles/common/demos.min.css" />
		<link rel="stylesheet" type="text/css" href="_content/Blazor_Server_Common_NET8/styles/common/devices.min.css" media="(max-width: 1024px)" />
	}
@{#endif}
@{#if NET9_0}
	@if (!SampleUtils.IsHomePage(Urihelper))
	{
		<link rel="stylesheet" type="text/css" href="_content/Blazor_Server_Common_NET9/styles/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="_content/blazor_server_common_net9/styles/common/demos.min.css" />
		<link rel="stylesheet" type="text/css" href="_content/Blazor_Server_Common_NET9/styles/common/devices.min.css" media="(max-width: 1024px)" />
	}
@{#endif}
@{#else}
@{#if NET8_0}
	@if (!SampleUtils.IsHomePage(Urihelper))
	{
		<link rel="stylesheet" type="text/css" href="_content/Blazor_Server_Common_NET8/styles/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="_content/blazor_server_common_net8/styles/common/demos.css" />
		<link rel="stylesheet" type="text/css" href="_content/Blazor_Server_Common_NET8/styles/common/devices.css" media="(max-width: 1024px)" />
	}
@{#endif}
@{#if NET9_0}
	@if (!SampleUtils.IsHomePage(Urihelper))
	{
		<link rel="stylesheet" type="text/css" href="_content/Blazor_Server_Common_NET9/styles/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="_content/blazor_server_common_net9/styles/common/demos.css" />
		<link rel="stylesheet" type="text/css" href="_content/Blazor_Server_Common_NET9/styles/common/devices.css" media="(max-width: 1024px)" />
	}
@{#endif}
@{#endif}
    <SampleMetaData @rendermode="@RenderMode.InteractiveServer" />
@{#if NET9_0}
    <ImportMap />
@{#endif}
</head>

<body>
    <AddHeaderTag @rendermode="@RenderMode.InteractiveServer" />
    <div hidden id="sync-analytics" data-queue="EJ2 - Blazor - Demos"></div>
    <!-- Google Tag Manager (noscript) -->
@if (!SampleUtils.IsLocalSample(Urihelper.BaseUri)) {
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-W8WD8WN" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
}
    <!-- End Google Tag Manager (noscript) -->
    <Routes @rendermode="@(new InteractiveServerRenderMode(true))" />
    <script src="_framework/blazor.web.js"></script>
@{#if DEBUG || STAGING}
@{#if NET8_0}
    <script src="_content/Blazor_Server_Common_NET8/scripts/common/index.js" defer></script>
@{#else}
    <script src="_content/Blazor_Server_Common_NET9/scripts/common/index.js" defer></script>
@{#endif}
@{#else}
    <script src="https://cdn.syncfusion.com/blazor/sb/scripts/29.2.4/index.min.js" defer></script>
@{#endif}
@if (!SampleUtils.IsLocalSample(Urihelper.BaseUri)) {
    <script>
        // Google Tag Manager
        function initializeGTM() {
            (function (w, d, s, l, i) {
                w[l] = w[l] || []; w[l].push({
                    'gtm.start':
                        new Date().getTime(), event: 'gtm.js'
                }); var f = d.getElementsByTagName(s)[0],
                    j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                        'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
            })(window, document, 'script', 'dataLayer', 'GTM-W8WD8WN');
        }
        // End Google Tag Manager
    </script>
}
</body>

</html>
