@page "/DateRangePicker/Format"

@using Syncfusion.Blazor.Calendars
@using System
@using Syncfusion.Blazor.DropDowns
@using Newtonsoft.Json
@inherits SampleBaseComponent;

<SampleDescription>
    <p>In the <a target='_blank' href='https://www.syncfusion.com/blazor-components/blazor-daterangepicker/'>Blazor DateRangePicker</a> example, the has been configured with the <code>dd-MMM-yy hh:mm tt</code> date time format.</p>
</SampleDescription>
<ActionDescription>
    <p>Format sample explains the support of custom date time format in the DateRangePicker component by using the <a href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Calendars.SfDateRangePicker-1.html#Syncfusion_Blazor_Calendars_SfDateRangePicker_1_Format' target='_blank'> Format</a> property.</p>
</ActionDescription>

<div class="control-section col-lg-12">
    <div class="col-lg-8">
        <div id="wrapper" class="datepicker-section">
            <SfDateRangePicker TValue="DateTime?" Format="@FormatString" StartDate="@Start" EndDate="@End" ShowClearButton="true"></SfDateRangePicker>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="content property-section">
            <div class="property">Properties</div>
            <table>
                <tbody>
                    <tr>
                        <td>
                            <div class="property-label">Format</div>
                        </td>
                        <td>
                            <div>
                                <SfDropDownList TItem="DateFormat" TValue="string" PopupHeight="230px" @bind-Index="@Index" DataSource="@Formats">
                                    <DropDownListEvents TValue="string" TItem="DateFormat" ValueChange="OnChange"></DropDownListEvents>
                                    <DropDownListFieldSettings Text="Text" Value="ID"></DropDownListFieldSettings>
                                </SfDropDownList>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<style>
    #wrapper {
        max-width: 300px;
        margin: 0px auto;
        padding-top: 50px;
    }

     .property {
        padding: 5px 0 0 10px;
        padding-bottom: 20px;
        font-weight: 600;
        font-size: 15px;
    }

    .property-label {
        margin: 10px;
        width: 100px;
        font-size: 13px;
    }
</style>

@code {
    public DateTime? Start { get; set; } = DateTime.Now;
    public DateTime? End { get; set; } = DateTime.Now.AddDays(20);
    
    public class DateFormat
    {
        public string ID { get; set; }

        public string Text { get; set; }
    }
    public string FormatString { get; set; } = "dd/MMM/yy hh:mm tt";
    private List<DateFormat> Formats = new List<DateFormat>() {
        new DateFormat(){ ID= "format1", Text= "dd/MMM/yy hh:mm tt" },
        new DateFormat(){ ID= "format2", Text= "yyyy/MM/dd HH:mm" },
        new DateFormat(){ ID= "format3", Text= "dd/MMMM/yyyy" },
     };
     private int? Index { get; set; } = 0;
    public void OnChange(Syncfusion.Blazor.DropDowns.ChangeEventArgs<string, DateFormat> args)
    {
        this.FormatString = args.ItemData?.Text;
    }
}