@page "/progress-bar/linear"
@using Syncfusion.Blazor.ProgressBar
@inject NavigationManager Navigation

@inherits SampleBaseComponent;

<div class="control-section">
    <div class="row linear-parent">
        <div>
            <div class="@LabelClass">Determinate</div>
            <SfProgressBar @ref="ProObj1" Type="ProgressType.Linear" Height="60"
                           Value="100" Minimum="0" Maximum="100"
                           Theme="@CurrentTheme">
                <ProgressBarAnimation Enable="true" Duration="2000" Delay="0" />
            </SfProgressBar>
        </div>
        <div>
            <div class="@LabelClass">Indeterminate</div>
            <SfProgressBar @ref="ProObj2" Type="ProgressType.Linear" Height="60"
                           IsIndeterminate="true" Value="20" Minimum="0" Maximum="100"
                           Theme="@CurrentTheme">
                <ProgressBarAnimation Enable="true" Duration="2000" Delay="0" />
            </SfProgressBar>
        </div>
        <div>
            <div class="@LabelClass">Segment</div>
            <SfProgressBar @ref="ProObj4" Type="ProgressType.Linear" Height="60"
                           SegmentCount="8" Value="100" Minimum="0" Maximum="100"
                           Theme="@CurrentTheme">
                <ProgressBarAnimation Enable="true" Duration="2000" Delay="0" />
            </SfProgressBar>
        </div>
        <div>
            <div class="@LabelClass">Buffer</div>
            <SfProgressBar @ref="ProObj3" Type="ProgressType.Linear" Height="60"
                           SecondaryProgress="60" Value="40" Minimum="0" Maximum="100"
                           Theme="@CurrentTheme">
                <ProgressBarAnimation Enable="true" Duration="2000" Delay="0" />
            </SfProgressBar>
        </div>
        <div>
            <div class="@LabelClass">Active</div>
            <SfProgressBar @ref="ProObj5" Type="ProgressType.Linear" Height="60"
                           IsActive="true" Value="100" Minimum="0" Maximum="100"
                           Theme="@CurrentTheme">
                <ProgressBarAnimation Enable="true" Duration="2000" Delay="0" />
            </SfProgressBar>
        </div>
    </div>
    <div class="row linear-parent">
          <button id="reLoad" @onclick="ProgressRefresh" class="e-control e-btn e-lib e-outline e-primary">Reload</button>
    </div>
</div>

@code{
    SfProgressBar ProObj1, ProObj2, ProObj3, ProObj4, ProObj5;

    public void ProgressRefresh()
    {
        ProObj1.Refresh();
        ProObj2.Refresh();
        ProObj3.Refresh();
        ProObj4.Refresh();
        ProObj5.Refresh();
    }

    string CurrentUri;
    ProgressTheme CurrentTheme;
    string LabelClass = "col-lg-12 col-sm-12 progressbar-label";
    protected override void OnInitialized()
    {
        CurrentUri = Navigation.Uri;
        if (CurrentUri.IndexOf("material") > -1)
        {
            CurrentTheme = ProgressTheme.Material;
            LabelClass = "col-lg-12 col-sm-12 progressbar-label-material";
        }
        else if (CurrentUri.IndexOf("fabric") > -1)
        {
            CurrentTheme = ProgressTheme.Fabric;
            LabelClass = "col-lg-12 col-sm-12 progressbar-label-material";
        }
        else if (CurrentUri.IndexOf("bootstrap4") > -1)
        {
            CurrentTheme = ProgressTheme.Bootstrap4;
            LabelClass = "col-lg-12 col-sm-12 progressbar-label-bootstrap";
        }
        else if (CurrentUri.IndexOf("bootstrap") > -1)
        {
            CurrentTheme = ProgressTheme.Bootstrap;
            LabelClass = "col-lg-12 col-sm-12 progressbar-label-bootstrap";
        }
        else if (CurrentUri.IndexOf("highcontrast") > -1)
        {
            CurrentTheme = ProgressTheme.HighContrast;
            LabelClass = "col-lg-12 col-sm-12 progressbar-label-dark";
        }
        else
        {
            CurrentTheme = ProgressTheme.Bootstrap4;
            LabelClass = "col-lg-12 col-sm-12 progressbar-label-material";
        }
    }

}
<style>


    #control-container {
        padding: 0px !important;
    }
    .linear-parent {
        text-align: center;
        width: 80%;
        margin: auto;
    }

    .progressbar-label-material {
        text-align: left;
        font-family: Roboto-Regular;
        font-size: 14px;
        color: #3D3E3C;
        margin-left: 10px;
        padding: 0px;     
        top: 20px;
    }    

    .progressbar-label-bootstrap {
        text-align: left;
        font-family: Roboto-Regular;
        font-size: 14px;
        color: #3D3E3C;
        margin-left: 10px;
        padding: 0px;       
    }

    .progressbar-label-dark {
        text-align: left;
        font-family: Roboto-Regular;
        font-size: 14px;
        color: white;
        margin-left: 10px;
        padding: 0px;
        top: 20px;       
    }

    #reLoad {
        border-radius: 4px;
        text-transform: capitalize;
    }
</style>