@page "/chart-3d/stacked-column"

@using Syncfusion.Blazor
@using Syncfusion.Blazor.Chart3D
@using ThemeHelper

@inject NavigationManager NavigationManager
@*Hidden:Lines*@
@inherits SampleBaseComponent


@*End:Hidden*@
<SampleDescription>
    <p>
        This example showcases a 3D stacked column chart that visualizes the steel production of countries, grouped by continent. The legend in the sample provides information about these series, making it easy to understand the data and its grouping.
    </p>
</SampleDescription>
<ActionDescription>
    <p>
        In this example, you can explore the rendering and configuration of a 3D stacked column chart. This type of chart stacks points in the series vertically, providing a visual representation of cumulative values.
        To customize the rendering of axis labels, the <code>AxisLabelRendering</code> event for the 3D chart can be triggered, allowing for precise control over label appearance. 
        Moreover, the <code>StackingGroup</code> property enables grouping of stacked collections based on category, offering flexibility in data organization.
    </p>
</ActionDescription>

<div class="control-section" align="center">
    <SfChart3D WallColor="transparent" EnableRotation="true" RotationAngle="7" TiltAngle="10" Depth="100" Width="@Width" Height="@Height" Title="Steel Production by Countries, Grouped by Continent" Theme="@Theme" AxisLabelRendering="AxisLabelRender">
        <Chart3DPrimaryXAxis ValueType="Syncfusion.Blazor.Chart3D.ValueType.Category" Interval="1"></Chart3DPrimaryXAxis>
        <Chart3DPrimaryYAxis Maximum="@Maximum" Interval="10"></Chart3DPrimaryYAxis>
        <Chart3DSeriesCollection>
            <Chart3DSeries DataSource="@Column3DPoints" XName="X" YName="Y" Name="Iran" StackingGroup="Asia" ColumnWidth="0.6" Type="Chart3DSeriesType.StackingColumn"></Chart3DSeries>
            <Chart3DSeries DataSource="@Column3DPoints1" XName="X" YName="Y" Name="Indonesia" StackingGroup="Asia" ColumnWidth="0.6" Type="Chart3DSeriesType.StackingColumn"></Chart3DSeries>
            <Chart3DSeries DataSource="@Column3DPoints2" XName="X" YName="Y" Name="Italy" StackingGroup="Europe" ColumnWidth="0.6" Type="Chart3DSeriesType.StackingColumn"></Chart3DSeries>
            <Chart3DSeries DataSource="@Column3DPoints3" XName="X" YName="Y" Name="France" StackingGroup="Europe" ColumnWidth="0.6" Type="Chart3DSeriesType.StackingColumn"></Chart3DSeries>
        </Chart3DSeriesCollection>
        <Chart3DTooltipSettings Enable="true" Format="${point.x} : <b>${point.y} Mmt"></Chart3DTooltipSettings>
        <Chart3DLegendSettings EnableHighlight="true"></Chart3DLegendSettings>
    </SfChart3D>
</div>

@code {
    private Theme Theme { get; set; }
    public string Width { get; set; }
    public string Height { get; set; } = "400";
    public double Maximum { get; set; }
    public List<ColumnChart3DData> Column3DPoints { get; set; } = new List<ColumnChart3DData>
    {
         new ColumnChart3DData { X= "2018", Y= 24.5 },
         new ColumnChart3DData { X= "2019", Y= 25.6 },
         new ColumnChart3DData { X= "2020", Y= 29 },
         new ColumnChart3DData { X= "2021", Y= 28.5 },
         new ColumnChart3DData { X= "2022", Y= 30.6 },
    };

    public List<ColumnChart3DData> Column3DPoints1 { get; set; } = new List<ColumnChart3DData>
    {
         new ColumnChart3DData { X= "2018", Y= 6.2 },
         new ColumnChart3DData { X= "2019", Y= 15.6 },
         new ColumnChart3DData { X= "2020", Y= 14.3 },
         new ColumnChart3DData { X= "2021", Y= 9.3 },
         new ColumnChart3DData { X= "2022", Y= 7.8 },
    };

    public List<ColumnChart3DData> Column3DPoints2 { get; set; } = new List<ColumnChart3DData>
    {
         new ColumnChart3DData { X= "2018", Y= 24.5 },
         new ColumnChart3DData { X= "2019", Y= 23.2 },
         new ColumnChart3DData { X= "2020", Y= 20.4 },
         new ColumnChart3DData { X= "2021", Y= 23.2 },
         new ColumnChart3DData { X= "2022", Y= 24.5 },
    };

    public List<ColumnChart3DData> Column3DPoints3 { get; set; } = new List<ColumnChart3DData>
    {
         new ColumnChart3DData { X= "2018", Y= 15.4 },
         new ColumnChart3DData { X= "2019", Y= 21.1 },
         new ColumnChart3DData { X= "2020", Y= 13.9 },
         new ColumnChart3DData { X= "2021", Y= 11.6 },
         new ColumnChart3DData { X= "2022", Y= 14.4 },
    };

    protected override void OnInitialized()
    {
        Theme = ThemeHelper.GetCurrentTheme(NavigationManager.Uri);
        Width = SampleService.IsDevice ? "100%" : "75%";
        Maximum = SampleService.IsDevice ? 50 : 60;
    }

    public void AxisLabelRender(Chart3DAxisLabelRenderEventArgs args)
    {
        if (args.Axis.Name == "PrimaryYAxis")
        {
            args.Text = args.Text + " Mmt";
        }
    }

    public class ColumnChart3DData
    {
        public string X { get; set; }
        public double Y { get; set; }
    }
}