@page "/dashboard-layout/api"

@using Syncfusion.Blazor.Layouts
@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.Inputs

@inherits SampleBaseComponent;

<div class="col-lg-8 control-section">
    <div class="content-wrapper" style="max-width: 100%">
        <SfDashboardLayout @ref="dashboardObject" AllowResizing="@AllowResizing" AllowFloating="@AllowFloating" CellSpacing="@CellSpacing" Columns="@Columns">
            <DashboardLayoutPanels>
                <DashboardLayoutPanel Id="1" Row="0" Col="0" SizeX="2" SizeY="2">
                    <HeaderTemplate><div>Panel 1</div></HeaderTemplate>
                </DashboardLayoutPanel>
                <DashboardLayoutPanel Id="2" Row="0" Col="2" SizeX="2" SizeY="2">
                    <HeaderTemplate><div>Panel 2</div></HeaderTemplate>
                </DashboardLayoutPanel>
                <DashboardLayoutPanel Id="3" Row="0" Col="4" SizeX="2" SizeY="2">
                    <HeaderTemplate><div>Panel 3</div></HeaderTemplate>
                </DashboardLayoutPanel>
                <DashboardLayoutPanel Id="4" Row="2" Col="0" SizeX="4" SizeY="2">
                    <HeaderTemplate><div>Panel 4</div></HeaderTemplate>
                </DashboardLayoutPanel>
                <DashboardLayoutPanel Id="5" Row="2" Col="4" SizeX="2" SizeY="2">
                    <HeaderTemplate><div>Panel 5</div></HeaderTemplate>
                </DashboardLayoutPanel>
            </DashboardLayoutPanels>
        </SfDashboardLayout>
    </div>
</div>
<div class="col-lg-4 property-section dashboard">
    <div class="property-panel-header">
        Properties
    </div>
    <div class="row property-panel-content">
        <div class="card-body">
            <div class="form-group row">
                <label for="settings-bubble-up-input" class="col-sm-4 col-form-label form-label">AllowFloating</label>
                <div class="col-sm-8">
                    <SfCheckBox  @bind-Checked="@FloatCheck" Name="floating" ValueChange="OnFloatChange" Value="1"></SfCheckBox>
                </div>
            </div>
            <div class="form-group row">
                <label for="settings-bubble-up-input" class="col-sm-4 col-form-label form-label">AllowResizing</label>
                <div class="col-sm-8">
                    <SfCheckBox  @bind-Checked="@ResizeCheck" Name="resizing" ValueChange="OnChange" Value="2"></SfCheckBox>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-12">
                    <SfButton CssClass="e-primary"  Content="Add Panel" @onclick="AddClick"></SfButton>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-12">
                    <SfButton CssClass="e-danger" Content="Remove Panel" @onclick="RemoveClick"></SfButton>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    SfDashboardLayout dashboardObject;

    public double[] CellSpacing = { 10, 10 };
    public bool FloatCheck = true;
    public bool ResizeCheck = true;
    public int Columns = 6;
    public bool AllowFloating { get; set; } = true;
    public bool AllowResizing { get; set; } = true;
    public int Count = 5;
    public int Length { get; set; }

    public void OnFloatChange(Syncfusion.Blazor.Buttons.ChangeEventArgs args)
    {
        this.AllowFloating = args.Checked;
    }
    public void OnChange(Syncfusion.Blazor.Buttons.ChangeEventArgs args)
    {
        this.AllowResizing = args.Checked;
    }

    public void AddClick(EventArgs args)
    {
        this.Count = this.Count + 1;
        string HeaderText = "Panel " + this.Count.ToString();
        PanelModel panel = new PanelModel
        {
            Id = this.Count.ToString() + "_layout",
            SizeX = 2,
            SizeY = 2,
            Row = 0,
            Col = 0,
            Enabled = true,
            Header = @<div>@HeaderText</div>
        };
        dashboardObject.AddPanel(panel);
    }


    public async void RemoveClick(EventArgs args)
    {
        List<PanelModel> panel = await this.dashboardObject.Serialize();
        Length = panel.Count;
        if (Length != 0)
        {
            for (var i = Length - 1; i < Length; i++)
            {
                await dashboardObject.RemovePanel(panel[Length - 1 - i].Id);
            }
        }
    }
}


<style>

    .form-label {
        margin-bottom: 0;
        font-size: 12px;
        line-height: 1.5;
        font-size: 13px;
        font-weight: 500;
    }

    .e-panel-header {
        padding: 10px;
        margin-bottom: 0;
        background-color: rgba(0, 0, 0, .03);
    }

    .panel-content {
        vertical-align: middle;
        font-size: 15px;
        font-size: 15px;
        font-weight: 500;
        color: rgba(0, 0, 0, 0.61);
        text-align: center;
    }

    .e-panel-content {
        height: calc(100% - 28px);
        width: 100%;
        display: block;
    }

    .e-panel .e-header-text {
        padding: 12px 0 12px 0;
    }

    .e-dashboardlayout.e-control .e-panel .e-panel-header {
        font-size: 15px;
        font-weight: 500;
        height: 37px;
        padding: 10px;
        vertical-align: middle;
        border-bottom: 0.5px solid #e3e3e3;
    }

    .row {
        margin-left: 0px;
        margin-right: 0px;
    }

    .row-header {
        font-size: 13px;
        font-weight: 500;
    }

    .e-panel-content {
        padding: 15px;
    }
    .e-primary, .e-danger {
        width: 125px;
    }
</style>
