@page "/color-picker/api"

@using Syncfusion.Blazor.Inputs
@using Syncfusion.Blazor.DropDowns
@using Syncfusion.Blazor.Buttons
@*Hidden:Lines*@
@inherits SampleBaseComponent
@*End:Hidden*@

<SampleDescription>
    <p>This sample demonstrates customization of the ColorPicker component by using its properties from the property pane. Select any combination of properties from the property pane to customize the ColorPicker component.</p>
</SampleDescription>
<ActionDescription>
   <p>In this sample, <code><a target="_blank" href="https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Inputs.SfColorPicker.html" aria-label="ColorPicker">ColorPicker</a></code> is rendered with default configuration.</p>
   <p>This sample can be customized further with the combination of color picker properties from the property pane. For example,</p>
      <ul><li>Control (Apply/Cancel) buttons can be enabled or disabled using <b>Show Buttons</b> checkbox from the property pane.</li>
           <li>You can select the color by entering the color value in the property pane <b>Value</b> textbox.</li>
           <li>You can switch to <b>Picker</b> and <b>Palette</b> modes by clicking and selecting the <b>Mode</b> from select mode dropdownlist.</li>
           <li>you can enable or disable the ColorPicker using <b>Disabled</b> checkbox from property pane.</li>
           <li>you can enable or disable the mode switcher using <b>Mode Switcher</b> checkbox from property pane.</li>
       </ul>
    <p>More information about Blazor ColorPicker component can be found in this <a target="_blank" href="https://blazor.syncfusion.com/documentation/color-picker/mode-and-value#rendering-palette-at-initial-load" aria-label="documentation section">documentation</a> section.</p>
</ActionDescription>

<div class="control-section">
    <div class="col-lg-8 control-section">
        <div id="colorpicker-control">
            <h4>Choose a color</h4>
            <SfColorPicker @bind-Value="@SelectedColor" Mode="@ColorPickerMode" ModeSwitcher="@IsModeSwitcherEnabled" ShowButtons="@IsButtonVisible" Disabled="@IsDisabled"></SfColorPicker>
        </div>
    </div>
    <div class="col-lg-4 property-section">
        <table id="property" title="Properties" style="width: 100%">
            <tbody>
            <tr>
                <td style="width: 50%;padding-top:10px">
                    <div>Selected Color</div>
                </td>
                <td style="width: 50%;padding-top:10px">
                    <div style="max-width: 200px">
                        <SfTextBox ID="selectedColorTextBox" @bind-Value="@SelectedColor"></SfTextBox>
                    </div>
                </td>
            </tr>
            <tr>
                <td style="width: 50%;padding-top:10px">
                    <div>Color Picker Mode</div>
                </td>
                <td style="width: 50%;padding-top:10px">
                    <div style="max-width: 200px">
                        <SfDropDownList DataSource="@ColorPickerModes" @bind-Value="@SelectedMode" PopupHeight="200px" TValue="string" TItem="string">
                            <DropDownListEvents ValueChange="@OnColorPickerModeChanged" TValue="string" TItem="string"></DropDownListEvents>
                        </SfDropDownList>
                    </div>
                </td>
            </tr>
            <tr>
                <td style="width: 50%;padding-top:15px">
                    <div>Disable Picker</div>
                </td>
                <td style="width: 50%;padding-top:15px">
                    <SfCheckBox @bind-Checked="@IsDisabled" TChecked="bool"></SfCheckBox>
                </td>
            </tr>
            <tr>
                <td style="width: 50%;padding-top:15px">
                    <div>Show Buttons</div>
                </td>
                <td style="width: 50%;padding-top:15px">
                    <SfCheckBox @bind-Checked="@IsButtonVisible" TChecked="bool"></SfCheckBox>
                </td>
            </tr>
            <tr>
                <td style="width: 50%;padding-top:15px">
                    <div>Enable Mode Switcher</div>
                </td>
                <td style="width: 50%;padding-top:15px">
                    <SfCheckBox @bind-Checked="@IsModeSwitcherEnabled" TChecked="bool"></SfCheckBox>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

@code {
    private bool IsDisabled { get; set; }
    private bool IsModeSwitcherEnabled { get; set; } = true;
    private bool IsButtonVisible { get; set; } = true;
    private string SelectedColor { get; set; } = "#0db1e7";
    private ColorPickerMode ColorPickerMode { get; set; } = ColorPickerMode.Picker;
    private string SelectedMode { get; set; } = "Picker";
    private string[] ColorPickerModes { get; set; } = new string[] { "Picker", "Palette" };

    private void OnColorPickerModeChanged(Syncfusion.Blazor.DropDowns.ChangeEventArgs<string, string> args)
    {
        ColorPickerMode = args.Value == "Picker" ? ColorPickerMode.Picker : ColorPickerMode.Palette;
    }

}

<style>
    .property-panel-content {
        padding: 0 10px 10px 0;
        overflow: auto;
    }
    #colorpicker-control {
        margin: 30px auto;
        padding-top: 50px;
        text-align: center;
    }
    #colorpicker-control h4 {
        margin-bottom: 20px;
    }
    .mobile #colorpicker-control h4 {
        font-size: 20px;
    }
</style>