@page "/pdf-viewer/invisible-digital-signature"

@using System
@using System.IO
@inject IJSRuntime JSRuntime
@using Syncfusion.Pdf
@using Syncfusion.Pdf.Parsing
@using System.Security.Cryptography.X509Certificates
@using Syncfusion.Pdf.Security
@using Syncfusion.Blazor.Navigations
@using Syncfusion.Blazor.Notifications
@using Syncfusion.Blazor.Inputs
@using Syncfusion.Blazor.Buttons
@using Microsoft.JSInterop
@using System.Threading
@*WebAssembly:Block*@
@{ #if (WASM) }
@using Syncfusion.Blazor.PdfViewer
@{ #endif }
@*End:WebAssembly*@

@*Server:Block*@
@{ #if !(WASM) }
@using Syncfusion.Blazor.PdfViewerServer
@{ #endif }
@*End:Server*@


@*Hidden:Lines*@
@inherits SampleBaseComponent;

@*End:Hidden*@

<SampleDescription>
    <p>This sample demonstrates how to digitally sign a PDF document from code behind using Syncfusion's PDF Viewer and PDF Library.</p>
</SampleDescription>

<ActionDescription>
    <p>This sample works properly only if there is a signature field in the PDF document. If all the signature fields are signed, then the Finish Signing button will be enabled. Clicking the Finish Signing button will add a digital signature certificate, programmatically, and then reload the digitally signed document into the viewer.</p>
    <br />
    <p>The below are the messages shown in the respective scenarios:</p>
    <br />
    <p>1. The document has been digitally signed, but it has been modified since it was signed and at least one signature is invalid.</p>
    <ul>
        <li>If the digitally signed document is edited after reloading.</li>
    </ul>
    <p>2. The document has been digitally signed and at least one signature has a problem.</p>
    <ul>
        <li>If the digital signature is not registered in the machine, which is not in the trusted list. Such certificate has to be added to the trusted list.</li>
    </ul>
    <p>3. The document has been digitally signed and all the signatures are valid.</p>
    <ul>
        <li>If the document is digitally signed without issues.</li>
    </ul>
@*WASM:Block*@
@{ #if (WASM) }
    <p>More information about the PDF Viewer can be found in this<a target='_blank' href='https://blazor.syncfusion.com/documentation/pdfviewer/getting-started/web-assembly-application/' aria-label="documentation section" > documentation section</a>.</p>
@{ #endif }
@*End:WASM*@

@*Server:Block*@
@{ #if !(WASM) }
    <p>More information about the PDF Viewer can be found in this<a target='_blank' href='https://blazor.syncfusion.com/documentation/pdfviewer/getting-started/server-side-application/' aria-label="documentation section" > documentation section</a>.</p>
@{ #endif }
@*End:Server*@
</ActionDescription>

<div style="display:none">
<SfUploader @ref="@uploadFiles" ID="UploadFiles" ShowFileList="false" AllowedExtensions="@extensionType">
    <UploaderEvents OnUploadStart="@FileUploadSelected" Created="createdHandler"></UploaderEvents>
    <UploaderAsyncSettings SaveUrl="https://aspnetmvc.syncfusion.com/services/api/uploadbox/Save" RemoveUrl="https://aspnetmvc.syncfusion.com/services/api/uploadbox/Remove"></UploaderAsyncSettings>
</SfUploader>
</div>
<SfToolbar>
    <ToolbarEvents Clicked="@ToolbarClick"></ToolbarEvents>
    <ToolbarItems>
        <ToolbarItem PrefixIcon="e-icons e-folder-open" TooltipText="Open file" Id="pdfviewer_open" Align="ItemAlign.Left" CssClass="e-pv-open-document-container">
        </ToolbarItem>
        <ToolbarItem Text="Complete Signing" Width="150px" Disabled="@buttonVisibility" Align="ItemAlign.Right" TooltipText="Finish Signing" id="pdfviewer_sign" CssClass="e-pv-button-container"></ToolbarItem>
        <ToolbarItem PrefixIcon="e-icons e-download" TooltipText="Download File" id="Download" Disabled="@downloadVisibility" Align=@ItemAlign.Right CssClass="e-pv-download-document-container"></ToolbarItem>
    </ToolbarItems>
</SfToolbar>

<div class="blazor">
    <div class="test-message">
        <SfMessage Severity="MessageSeverity.Success" ShowIcon="true" ShowCloseIcon="true" @bind-Visible="@successVisible">@message</SfMessage>
        <SfMessage Severity="MessageSeverity.Error" ShowIcon="true" ShowCloseIcon="true" @bind-Visible="@errorVisible">@message</SfMessage>
        <SfMessage Severity="MessageSeverity.Warning" ShowIcon="true" ShowCloseIcon="true" @bind-Visible="@warningVisible">@message</SfMessage>
    </div>
    <div class="toolbar-test" id="toolbar-box">
@*WASM:Block*@
@{ #if WASM }
    <SfPdfViewer @ref="viewer" DocumentPath="@DocumentPath" Height="640px" Width="100%" ZoomMode="ZoomMode.FitToPage" EnableToolbar="false" EnableAnnotationToolbar="false" EnableNavigationToolbar="false" ServiceUrl="https://blazor.syncfusion.com/services/production/api/pdfviewer">
    <PdfViewerEvents DocumentLoaded="ValidateSiganture" AddSignature="SignatureAdded"></PdfViewerEvents>
    </SfPdfViewer>
@{ #endif }
@*End:WASM*@

@*Server:Block*@
@{ #if !(WASM) }
    <SfPdfViewerServer @ref="viewer" DocumentPath="@DocumentPath" Height="640px" Width="100%" ZoomMode="ZoomMode.FitToPage" EnableToolbar="false" EnableAnnotationToolbar="false" EnableNavigationToolbar="false">
    <PdfViewerEvents DocumentLoaded="ValidateSiganture" AddSignature="SignatureAdded"></PdfViewerEvents>
    </SfPdfViewerServer>
@{ #endif }
@*End:Server*@
    </div>
</div>


@code {
    @*Server:Block*@
    #if !(WASM)
    SfPdfViewerServer viewer;
    private string DocumentPath { get; set; } = "wwwroot/data/pdfviewer/InvisibleDigitalSignature.pdf";
#endif
    @*End:Server*@

    @*WebAssembly:Block*@
    #if (WASM)
    private string DocumentPath { get; set; } = "InvisibleDigitalSignature.pdf";
    SfPdfViewer viewer;
#endif
    @*End:WebAssembly*@
    SfUploader uploadFiles;
    private string extensionType = ".pdf";
    string message = "";
    //Specifies the visibility of the complete signing.
    private bool buttonVisibility = true;
    //Specifies the visibility of the download icon
    private bool downloadVisibility = true;
    private bool successVisible = false;
    private bool errorVisible = false;
    private bool warningVisible = false;
    string docBase64;
    Thread thread;
    // Specifies whether the document has a digital signature or not.
    private bool hasDigitalSignature = false;

    public async Task createdHandler()
    {
       await JSRuntime.InvokeVoidAsync("created");
    }

    //Triggers while validating the signature in the document.
    public async Task ValidateSiganture()
    {
        byte[] contentPDF = null;
        if (!String.IsNullOrEmpty(docBase64))
        {
            contentPDF = Convert.FromBase64String(docBase64.Replace("data:application/pdf;base64,", ""));
        }
        else
        {
            contentPDF = await viewer.GetDocumentAsync();
        }
        //Loads a PDF document.
        PdfLoadedDocument document = new PdfLoadedDocument(contentPDF);
        PdfLoadedForm form = document.Form;
        if (form != null)
        {
            foreach (PdfLoadedField field in form.Fields)
            {
                if (field is PdfLoadedSignatureField)
                {
                    //Gets the first signature field of the PDF document.
                    PdfLoadedSignatureField signatureField = field as PdfLoadedSignatureField;
                    if (signatureField.IsSigned)
                    {
                        hasDigitalSignature = true;
                        //X509Certificate2Collection to check the signers identity using root certificates.
                        X509Certificate2Collection collection = new X509Certificate2Collection();
                         @*Server:Block*@
                         #if !(WASM)
                         //Create new X509Certificate2 with the root certificate.
                        X509Certificate2 certificate = new X509Certificate2("wwwroot/data/pdfviewer/localhost.pfx", "Syncfusion@123");
                         #endif
                         @*End:Server*@

                         @*WASM:Block*@
                         #if (WASM)
                         //Create new X509Certificate2 with the root certificate
                        X509Certificate2 certificate = new X509Certificate2("data/pdfviewer/localhost.pfx", "Syncfusion@123");
                         #endif
                         @*End:WASM*@
                         //Add the certificate to the collection.
                        collection.Add(certificate);
                        //Validate all signatures in loaded PDF document and get the list of validation result.
                        PdfSignatureValidationResult result = signatureField.ValidateSignature(collection);
                        //Checks whether the document is modified or not.
                        if (result.IsDocumentModified)
                        {
                            errorVisible = true;
                            successVisible = false;
                            warningVisible = false;
                            downloadVisibility = false;
                            message = "The document has been digitally signed, but it has been modified since it was signed and at least one signature is invalid .";
                        }
                        else
                        {
                            //Checks whether the signature is valid or not.
                            if (result.IsSignatureValid)
                            {
                                if (result.SignatureStatus.ToString() == "Unknown")
                                {
                                    errorVisible = false;
                                    successVisible = false;
                                    warningVisible = true;
                                    message = "The document has been digitally signed and at least one signature has problem";
                                }
                                else
                                {
                                    errorVisible = false;
                                    successVisible = true;
                                    warningVisible = false;
                                    downloadVisibility = false;
                                    message = "The document has been digitally signed and all the signatures are valid.";
                                    thread = new Thread(() =>
                                    {
                                        Thread.Sleep(5000);
                                        successVisible = false;
                                        InvokeAsync(StateHasChanged);
                                        thread = null;
                                    });
                                    thread.Start();
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    //This method will get invoked while clicking the toolbar items.
    public async Task ToolbarClick(ClickEventArgs args)
    {
        if (args.Item != null)
        {
            switch (args.Item.CssClass)
            {
                case "e-pv-button-container":
                    //Reloads the PDF document with digital signature.
                    var contentPDF = await viewer.GetDocumentAsync();
                    PdfLoadedDocument loadedDocument = new PdfLoadedDocument(contentPDF);
                    //Get the first page of the document.
                    PdfPageBase loadedPage = loadedDocument.Pages[0];
                    @*Server:Block*@
                    #if !(WASM)
                    //Create new X509Certificate2 with the root certificate.
                    X509Certificate2 certificate = new X509Certificate2("wwwroot/data/pdfviewer/localhost.pfx", "Syncfusion@123");
                    #endif
                    @*End:Server*@
                    @*WASM:Block*@
                    #if (WASM)
                    //Create new X509Certificate2 with the root certificate
                    X509Certificate2 certificate = new X509Certificate2("data/pdfviewer/localhost.pfx", "Syncfusion@123");
                    #endif
                    @*End:WASM*@
                    PdfCertificate pdfCertificate = new PdfCertificate(certificate);
                    //Creates a digital signature.
                    PdfSignature signature = new PdfSignature(loadedDocument, loadedPage, pdfCertificate, "Signature");
                    signature.Certificated = true;
                    MemoryStream str = new MemoryStream();
                    //Saves the document.
                    loadedDocument.Save(str);
                    byte[] docBytes = str.ToArray();
                    docBase64 = "data:application/pdf;base64," + Convert.ToBase64String(docBytes);
                    // Loads the digitally signed document.
                    await viewer.LoadAsync(docBase64);
                    buttonVisibility = true;
                    downloadVisibility = false;
                    break;
                case "e-pv-download-document-container":
                    //Downloads the PDF document being loaded in the PDFViewer.
                    viewer.DownloadFileName = "DigitallySignedDocument";
                    await viewer.DownloadAsync();
                    break;
            }
        }
    }

    //Triggers when changes occur in uploaded file list by selecting or dropping files.
    public async Task FileUploadSelected(UploadingEventArgs args)
    {
        if (args.FileData.Type == "pdf")
        {
            buttonVisibility = true;
            downloadVisibility = true;
            errorVisible = false;
            successVisible = false;
            warningVisible = false;
            hasDigitalSignature = false;
            docBase64 = args.FileData.RawFile.ToString();
            //Loads the PDF docuent from the given base64 string in the PDF Viewer.
            await viewer.LoadAsync(docBase64, null);
            await uploadFiles.ClearAllAsync();
        }
    }

    //Triggers while adding the signature in signature field.
    public async Task SignatureAdded(AddSignatureEventArgs args)
    {
        List<FormField> field;
        //To retrieve the form fields in the loaded PDF Document.
        field = await viewer.RetrieveFormFieldsAsync();
        int signatureFieldCount = 0;
        int signaturesCount = 0;
        for (var i = 0; i < field.Count; i++)
        {
            if (field[i].Type.ToString() == ("SignatureField"))
            {
                signatureFieldCount++;
            }
            if (field[i].Value != "" && field[i].Value != null && field[i].Type.ToString() == ("SignatureField"))
            {
                signaturesCount++;
            }
        }
        // Checks whether all the signature fields are signed or not.
        if (signatureFieldCount == signaturesCount)
        {
            //Checks whether the document has a digital signature or not.
            if (!hasDigitalSignature)
            {
                buttonVisibility = false;
            }
        }
    }

}
@*Hidden:Lines*@
<!--Style for custom toolbar-->
<style>
    .test-message .e-message.e-success {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 109;
        width: calc(100% - 18px);
    }

    .test-message .e-message.e-warning {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 109;
        width: calc(100% - 18px);
    }

    .test-message .e-message.e-error {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 109;
        width: calc(100% - 18px);
    }

    .test-message {
        position: relative;
    }

</style>
@*End:Hidden*@
