@page "/circular-gauge/apple-watch-rings"

@using Syncfusion.Blazor
@using Syncfusion.Blazor.CircularGauge
@using ThemeHelper
@inject NavigationManager NavigationManager
@*Hidden:Lines*@
@inherits SampleBaseComponent


@*End:Hidden*@

<SampleDescription>
    <p>This sample resembles the appearance of Apple watch rings. This is similar to an activity tracker, which records the specifics of each move, exercise, and stand.</p>
</SampleDescription>
<ActionDescription>
    <p>In this example, you can see how to make the circular gauge look like the Apple watch rings. Ranges have rounded corners and annotations are used to indicate the move, exercise, and stand values.</p>
    <p>More information on the annotations can be found in this <a target='_blank' href='https://blazor.syncfusion.com/documentation/circular-gauge/annotations' aria-label="Blazor Circular Gauge Annotation documentation" >documentation section</a>.</p>
</ActionDescription>

<style>
    .panel {
        width: 190px !important;
        height: 70px !important;
        margin-left: 5% !important;
        margin-top: 10% !important;
        border-color: lightgray;
        float: left;
        background-color: transparent;
    }

    .content {
        float: left !important;
        margin-left: 62px !important;
        margin-top: 10px !important;
        text-align: left !important;
        position: absolute;
        width: 120px;
    }

    .tailwind div.content, .tailwind-dark div.content, .bootstrap4 div.content, .bootstrap-dark div.content, .bootstrap div.content {
         width: 125px;
    }

    .imagePosition {
        width: 22px;
        height: 22px;
    }

    .tailwind img.annotation-position, .tailwind-dark img.annotation-position, .fabric img.annotation-position, .fabric-dark img.annotation-position {
        line-height: 0px;
        vertical-align: initial;
    }

    .firstcontent {
        font-size: 17px;
    }

    .secondcontent {
        font-size: 19px;
    }

    .panelAlign {
        float: left;
        margin-top: 5px
    }

     @@media screen and (max-width: 1160px) {
        .panel {
            width: 165px !important;
        }

        .firstcontent {
            font-size: 13px !important;
        }

        .secondcontent {
            font-size: 15px !important;
        }

        .content {
            margin-top: 15px !important;
        }
    }

    @@media screen and (max-width: 990px) {
        .panel {
            width: 50% !important;
            height: 80px !important;
            margin-left: 27% !important;
            margin-top: 0% !important;
        }

        .panelAlign {
            margin-left: 8% !important;
            margin-top: 1% !important;
        }

        .content {
            margin-left: 18% !important;
            margin-top: 2% !important;
        }

        .firstcontent {
            font-size: 16px !important;
        }

        .secondcontent {
            font-size: 18px !important;
        }        
    }


    @@media screen and (max-width: 410px) {

        .subgauge {
            margin-left: 3% !important;
        }

        .panel {
            width: 52% !important;
        }

        .content {
            margin-top: 3% !important;
            margin-left: 22% !important;
        }
    }

</style>

<div class="control-section" align="center">
    <div class="row">
        <div class="cols-sample-area" align="center">
            <div class="col-lg-9 col-md-9" style="margin-left: -5%">
                <SfCircularGauge Width="400px" Height="400px" Theme="@Theme" Background="transparent">
                    <CircularGaugeAxes>
                        <CircularGaugeAxis StartAngle="0" EndAngle="360" Minimum="0" Maximum="100">
                            <CircularGaugeAnnotations>
                                <CircularGaugeAnnotation Angle="7" Radius="80%" ZIndex="1">
                                    <ContentTemplate>
                                        <div>
                                            <img class="imagePosition annotation-position" src="@(SampleService.WebAssetsPath + "images/circular-gauge/image1.svg")" />
                                        </div>
                                    </ContentTemplate>
                                </CircularGaugeAnnotation>
                                <CircularGaugeAnnotation Angle="10" Radius="58%" ZIndex="1">
                                    <ContentTemplate>
                                        <div><img class="imagePosition annotation-position" src="@(SampleService.WebAssetsPath + "images/circular-gauge/image2.svg")" /></div>
                                    </ContentTemplate>
                                </CircularGaugeAnnotation>
                                <CircularGaugeAnnotation Angle="12" Radius="36%" ZIndex="1">
                                    <ContentTemplate>
                                        <div><img class="imagePosition annotation-position" src="@(SampleService.WebAssetsPath + "images/circular-gauge/image3.svg")" /></div>
                                    </ContentTemplate>
                                </CircularGaugeAnnotation>
                            </CircularGaugeAnnotations>
                            <CircularGaugeAxisLineStyle Width="0.01" />
                            <CircularGaugeAxisLabelStyle Position="Position.Inside" UseRangeColor="true">
                                <CircularGaugeAxisLabelFont Size="0px" Color="transparent" />
                            </CircularGaugeAxisLabelStyle>
                            <CircularGaugeAxisMajorTicks Height="0.01" />
                            <CircularGaugeAxisMinorTicks Height="0.01" />
                            <CircularGaugeRanges>
                                <CircularGaugeRange Start="0" End="100" Radius="90%" StartWidth="40" EndWidth="40" Color="#fa114f" Opacity="0.2" />
                                <CircularGaugeRange Start="0" End="100" Radius="68%" StartWidth="40" EndWidth="40" Color="#99ff01" Opacity="0.2" />
                                <CircularGaugeRange Start="0" End="100" Radius="46%" StartWidth="40" EndWidth="40" Color="#00d8fe" Opacity="0.2" />
                            </CircularGaugeRanges>
                            <CircularGaugePointers>
                                <CircularGaugePointer RoundedCornerRadius="25" Value="65" Type="PointerType.RangeBar" Radius="90%" Color="#fa114f" PointerWidth="40">
                                    <CircularGaugePointerAnimation Enable="true" />
                                </CircularGaugePointer>
                                <CircularGaugePointer RoundedCornerRadius="25" Value="43" Type="PointerType.RangeBar" Radius="68%" Color="#99ff01" PointerWidth="40">
                                    <CircularGaugePointerAnimation Enable=true />
                                </CircularGaugePointer>
                                <CircularGaugePointer RoundedCornerRadius="25" Value="58" Type="PointerType.RangeBar" Radius="46%" Color="#00d8fe" PointerWidth="40">
                                    <CircularGaugePointerAnimation Enable="true" />
                                </CircularGaugePointer>
                            </CircularGaugePointers>
                        </CircularGaugeAxis>
                    </CircularGaugeAxes>
                </SfCircularGauge>
            </div>
            <div class="col-lg-3 col-md-3" style="margin-left: -9%">
                <div class="panel" align="center">
                    <div class="panelAlign">
                        <SfCircularGauge Height="65px" Width="65px" Theme="@Theme" Background="transparent">
                            <CircularGaugeAxes>
                                <CircularGaugeAxis StartAngle="0" EndAngle="360" Minimum="0" Maximum="100">
                                    <CircularGaugeAnnotations>
                                        <CircularGaugeAnnotation Angle="186" Radius="-18%" ZIndex="1">
                                            <ContentTemplate>
                                                <div><img class="annotation-position" style="width:17px;height:17px;margin-top:@FirstGaugeMarginTop;margin-left:@FirstGaugeMarginLeft;" src="@(SampleService.WebAssetsPath + "images/circular-gauge/image1.svg")" /></div>
                                            </ContentTemplate>
                                        </CircularGaugeAnnotation>
                                    </CircularGaugeAnnotations>
                                    <CircularGaugeAxisLineStyle Width="0.01" />
                                    <CircularGaugeAxisLabelStyle Position="Position.Inside" UseRangeColor="true">
                                        <CircularGaugeAxisLabelFont Size="0px" Color="transparent" />
                                    </CircularGaugeAxisLabelStyle>
                                    <CircularGaugeAxisMajorTicks Height="0.01" />
                                    <CircularGaugeAxisMinorTicks Height="0.01" />
                                    <CircularGaugeRanges>
                                        <CircularGaugeRange Start="0" End="100" Radius="100%" StartWidth="8" EndWidth="8" Color="#fa114f" Opacity="0.2" />
                                    </CircularGaugeRanges>
                                    <CircularGaugePointers>
                                        <CircularGaugePointer RoundedCornerRadius="5" Value="65" Type="PointerType.RangeBar" Radius="100%" Color="#fa114f" PointerWidth="8">
                                            <CircularGaugePointerAnimation Enable="true" />
                                        </CircularGaugePointer>
                                    </CircularGaugePointers>
                                </CircularGaugeAxis>
                            </CircularGaugeAxes>
                        </SfCircularGauge>
                    </div>
                    <div class="content">
                        <span class="firstcontent">MOVE</span>
                        <span class="firstcontent" style="color: #fa114f;">65%</span><br />
                        <span class="secondcontent" style="color: #fa114f;">338/520 CAL</span>
                    </div>
                </div>
                <br />
                <div class="panel" align="center">
                    <div class="panelAlign">
                        <SfCircularGauge Height="65px" Width="65px" Theme="@Theme" Background="transparent">
                            <CircularGaugeAxes>
                                <CircularGaugeAxis StartAngle="0" EndAngle="360" Minimum="0" Maximum="100">
                                    <CircularGaugeAnnotations>
                                        <CircularGaugeAnnotation Angle="186" Radius="-16%" ZIndex="1">
                                            <ContentTemplate>
                                                <div><img class="annotation-position" style="width:15px;height:15px;margin-left:@SecondGaugeMarginLeft;margin-top:@SecondGaugeMarginTop" src="@(SampleService.WebAssetsPath + "images/circular-gauge/image2.svg")" /></div>
                                            </ContentTemplate>
                                        </CircularGaugeAnnotation>
                                    </CircularGaugeAnnotations>
                                    <CircularGaugeAxisLineStyle Width="0.01" />
                                    <CircularGaugeAxisLabelStyle Position="Position.Inside" UseRangeColor="true">
                                        <CircularGaugeAxisLabelFont Size="0px" Color="transparent" />
                                    </CircularGaugeAxisLabelStyle>
                                    <CircularGaugeAxisMajorTicks Height="0.01" />
                                    <CircularGaugeAxisMinorTicks Height="0.01" />
                                    <CircularGaugeRanges>
                                        <CircularGaugeRange Start="0" End="100" Radius="100%" StartWidth="8" EndWidth="8" Color="#99ff01" Opacity="0.2" />
                                    </CircularGaugeRanges>
                                    <CircularGaugePointers>
                                        <CircularGaugePointer RoundedCornerRadius="5" Value="43" Type="PointerType.RangeBar" Radius="100%" Color="#99ff01" PointerWidth="8">
                                            <CircularGaugePointerAnimation Enable="true" />
                                        </CircularGaugePointer>
                                    </CircularGaugePointers>
                                </CircularGaugeAxis>
                            </CircularGaugeAxes>
                        </SfCircularGauge>
                    </div>
                    <div class="content">
                        <span class="firstcontent">EXERCISE</span>
                        <span class="firstcontent" style="color: #99ff01;">43%</span><br />
                        <span class="secondcontent" style="color: #99ff01;">13/30 MIN</span>
                    </div>
                </div>
                <br />
                <div class="panel" align="center">
                    <div class="panelAlign">
                        <SfCircularGauge Height="65px" Width="65px" Theme="@Theme" Background="transparent">
                            <CircularGaugeAxes>
                                <CircularGaugeAxis StartAngle="0" EndAngle="360" Minimum="0" Maximum="100">
                                    <CircularGaugeAnnotations>
                                        <CircularGaugeAnnotation Angle="186" Radius="-18%" ZIndex="1">
                                            <ContentTemplate>
                                                <div><img class="annotation-position" style="width:17px;height:17px;margin-left:@ThirdGaugeMarginLeft;margin-top:@ThirdGaugeMarginTop" src="@(SampleService.WebAssetsPath + "images/circular-gauge/image3.svg")" /></div>
                                            </ContentTemplate>
                                        </CircularGaugeAnnotation>
                                    </CircularGaugeAnnotations>
                                    <CircularGaugeAxisLineStyle Width="0.01" />
                                    <CircularGaugeAxisLabelStyle Position="Position.Inside" UseRangeColor="true">
                                        <CircularGaugeAxisLabelFont Size="0px" Color="transparent" />
                                    </CircularGaugeAxisLabelStyle>
                                    <CircularGaugeAxisMajorTicks Height="0.01" />
                                    <CircularGaugeAxisMinorTicks Height="0.01" />
                                    <CircularGaugeRanges>
                                        <CircularGaugeRange Start="0" End="100" Radius="100%" StartWidth="8" EndWidth="8" Color="#00d8fe" Opacity="0.2" />
                                    </CircularGaugeRanges>
                                    <CircularGaugePointers>
                                        <CircularGaugePointer RoundedCornerRadius="5" Value="65" Type="PointerType.RangeBar" Radius="100%" Color="#00d8fe" PointerWidth="8">
                                            <CircularGaugePointerAnimation Enable="true" />
                                        </CircularGaugePointer>
                                    </CircularGaugePointers>
                                </CircularGaugeAxis>
                            </CircularGaugeAxes>
                        </SfCircularGauge>
                    </div>
                    <div class="content">
                        <span class="firstcontent">STAND</span>
                        <span class="firstcontent" style="color: #00d8fe">58%</span><br />
                        <span class="secondcontent" style="color: #00d8fe;">7/12 HR</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code {

    public Theme Theme { get; set; }
    public string FirstGaugeMarginLeft = "2px";
    public string FirstGaugeMarginTop = "7px";
    public string SecondGaugeMarginLeft = "1px";
    public string SecondGaugeMarginTop = "5px";
    public string ThirdGaugeMarginLeft = "0px";
    public string ThirdGaugeMarginTop = "5px";

    protected override void OnInitialized()
    {

        Theme = ThemeHelper.GetCurrentTheme(NavigationManager.Uri);
        if (Theme == Theme.Bootstrap5) {
            FirstGaugeMarginLeft = "1px";
            FirstGaugeMarginTop = "7px";
            SecondGaugeMarginLeft = "1px";
            SecondGaugeMarginTop = "6px";
            ThirdGaugeMarginLeft = "0px";
            ThirdGaugeMarginTop = "6px";
        }
        if (Theme == Theme.Tailwind || Theme == Theme.TailwindDark || Theme == Theme.Fabric || Theme == Theme.FabricDark) {
            FirstGaugeMarginTop = "11px";
            FirstGaugeMarginLeft = "2px";
            SecondGaugeMarginTop = "10px";
            SecondGaugeMarginLeft = "1px";
            ThirdGaugeMarginTop = "11px";
        }
    }
}