@page "/circular-gauge/image-pointer"

@using Syncfusion.Blazor
@using Syncfusion.Blazor.CircularGauge
@using ThemeHelper
@inject NavigationManager NavigationManager
@*Hidden:Lines*@
@inherits SampleBaseComponent


@*End:Hidden*@

<SampleDescription>
    <p>This sample visualizes the shot put distance covered by the athletes using the image pointer in the circular gauge.</p>
</SampleDescription>
<ActionDescription>
    <p>In this example, you can see how to use an image to customize the pointer in the circular gauge. The image can be added to the circular gauge's pointer primarily through the use of the <a target='_blank' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.CircularGauge.CircularGaugePointer.html#Syncfusion_Blazor_CircularGauge_CircularGaugePointer_Type' aria-label="Class reference of Type property in Circular Gauge">Type</a>, <a target='_blank' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.CircularGauge.CircularGaugePointer.html#Syncfusion_Blazor_CircularGauge_CircularGaugePointer_MarkerShape' aria-label="Class reference of MarkerShape property in Circular Gauge">MarkerShape</a>, and <a target='_blank' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.CircularGauge.CircularGaugePointer.html#Syncfusion_Blazor_CircularGauge_CircularGaugePointer_ImageUrl' aria-label="Class reference of ImageUrl property in Circular Gauge">ImageUrl</a> properties in the <a target='_blank' class='code' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.CircularGauge.CircularGaugePointer.html' aria-label="Class reference of CircularGaugePointer">CircularGaugePointer</a>.</p>
    <p>More information on the pointers can be found in this <a target='_blank' href='https://blazor.syncfusion.com/documentation/circular-gauge/pointers#image-marker-pointer' aria-label="Blazor Circular Gauge Pointer documentation" >documentation section</a>.</p>
</ActionDescription>

<style>
    .templateAlign {
        font-size: 14px;
        color: #9E9E9E;
    }

    .annotationText {
        margin-top: @MarginTop;
        margin-left: @MarginLeft;
    }
</style>

<div class="control-section">
    <SfCircularGauge CenterY="57%" Title="Shot Put Distance" Theme="@Theme" Background="transparent">
        <CircularGaugeTitleStyle FontFamily="inherit" />
        <CircularGaugeAxes>
            <CircularGaugeAxis StartAngle="200" EndAngle="130" Minimum="0" Maximum="14" Radius="80%">
                <CircularGaugeAxisLineStyle Width="0" />
                <CircularGaugeAxisMajorTicks Width="0" />
                <CircularGaugeAxisMinorTicks Width="0" />
                <CircularGaugeAxisLabelStyle>
                    <CircularGaugeAxisLabelFont Size="0px" />
                </CircularGaugeAxisLabelStyle>
                <CircularGaugePointers>
                    <CircularGaugePointer Type="PointerType.Marker" Value="12" MarkerShape="GaugeShape.Image" ImageUrl="@(SampleService.WebAssetsPath + "images/circular-gauge/football.png")" Radius="@ImageRadiusOne" MarkerWidth="28" MarkerHeight="28">
                        <CircularGaugePointerAnimation Enable="true" Duration="1500" />
                    </CircularGaugePointer>
                    <CircularGaugePointer Type="PointerType.Marker" Value="11" MarkerShape="GaugeShape.Image" ImageUrl="@(SampleService.WebAssetsPath + "images/circular-gauge/basketball.png")" Radius="@ImageRadiusTwo" MarkerWidth="28" MarkerHeight="28">
                        <CircularGaugePointerAnimation Enable="true" Duration="1200" />
                    </CircularGaugePointer>
                    <CircularGaugePointer Type="PointerType.Marker" Value="10" MarkerShape="GaugeShape.Image" ImageUrl="@(SampleService.WebAssetsPath + "images/circular-gauge/golf-ball.png")" Radius="@ImageRadiusThree" MarkerWidth="28" MarkerHeight="28">
                        <CircularGaugePointerAnimation Enable="true" Duration="900" />
                    </CircularGaugePointer>
                    <CircularGaugePointer Type="PointerType.Marker" Value="12" MarkerShape="GaugeShape.Image" ImageUrl="@(SampleService.WebAssetsPath + "images/circular-gauge/athletics.png")" Radius="@ImageRadiusFour" MarkerWidth="@MarkerSize" MarkerHeight="@MarkerSize">
                        <CircularGaugePointerAnimation Enable="false" Duration="0" />
                    </CircularGaugePointer>
                    <CircularGaugePointer Type="PointerType.Marker" Value="0" MarkerShape="GaugeShape.Image" ImageUrl="@(SampleService.WebAssetsPath + "images/circular-gauge/girl1.png")" Radius="@ImageRadiusFive" MarkerWidth="28" MarkerHeight="28">
                        <CircularGaugePointerAnimation Enable="true" Duration="1500" />
                    </CircularGaugePointer>
                    <CircularGaugePointer Type="PointerType.Marker" Value="0" MarkerShape="GaugeShape.Image" ImageUrl="@(SampleService.WebAssetsPath + "images/circular-gauge/man1.png")" Radius="@ImageRadiusSix" MarkerWidth="28" MarkerHeight="28">
                        <CircularGaugePointerAnimation Enable="true" Duration="1500" />
                    </CircularGaugePointer>
                    <CircularGaugePointer Type="PointerType.Marker" Value="0" MarkerShape="GaugeShape.Image" ImageUrl="@(SampleService.WebAssetsPath + "images/circular-gauge/man2.png")" Radius="@ImageRadiusSeven" MarkerWidth="28" MarkerHeight="28">
                        <CircularGaugePointerAnimation Enable="true" Duration="1500" />
                    </CircularGaugePointer>
                </CircularGaugePointers>
                <CircularGaugeRanges>
                    <CircularGaugeRange Start="0" End="12" Radius="115%" Color="#01aebe" StartWidth="25" EndWidth="25" />
                    <CircularGaugeRange Start="0" End="11" Radius="85%" Color="#3bceac" StartWidth="25" EndWidth="25" />
                    <CircularGaugeRange Start="0" End="10" Radius="55%" Color="#ee4266" StartWidth="25" EndWidth="25" />
                </CircularGaugeRanges>
                <CircularGaugeAnnotations>
                    <CircularGaugeAnnotation Content="12 M" Radius="@RadiusOne" Angle="@AngleOne" ZIndex="1">
                        <CircularGaugeAnnotationTextStyle FontFamily="inherit" Size="14px" Color="#9E9E9E"></CircularGaugeAnnotationTextStyle>
                    </CircularGaugeAnnotation>
                    <CircularGaugeAnnotation Content="11 M" Radius="@RadiusTwo" Angle="@AngleTwo" ZIndex="1">
                        <CircularGaugeAnnotationTextStyle FontFamily="inherit" Size="14px" Color="#9E9E9E"></CircularGaugeAnnotationTextStyle>
                    </CircularGaugeAnnotation>
                    <CircularGaugeAnnotation Content="10 M" Radius="@RadiusThree" Angle="@AngleThree" ZIndex="1">
                        <CircularGaugeAnnotationTextStyle FontFamily="inherit" Size="14px" Color="#9E9E9E"></CircularGaugeAnnotationTextStyle>
                    </CircularGaugeAnnotation>
                    <CircularGaugeAnnotation Radius="118%" Angle="189" ZIndex="1">
                        <ContentTemplate>
                            <div class="annotationText"><span class="templateAlign">Doe</span></div>
                        </ContentTemplate>
                    </CircularGaugeAnnotation>
                    <CircularGaugeAnnotation Radius="88%" Angle="180" ZIndex="1">
                        <ContentTemplate>
                            <div class="annotationText"><span class="templateAlign">Almaida</span></div>
                        </ContentTemplate>
                    </CircularGaugeAnnotation>
                    <CircularGaugeAnnotation Radius="60%" Angle="176" ZIndex="1">
                        <ContentTemplate>
                            <div class="annotationText"><span class="templateAlign">John</span></div>
                        </ContentTemplate>
                    </CircularGaugeAnnotation>
                </CircularGaugeAnnotations>
            </CircularGaugeAxis>
        </CircularGaugeAxes>
    </SfCircularGauge>
</div>

@code {
    public Theme Theme { get; set; }
    public string MarginLeft = "0px";
    public string MarginTop = "-30px";
    public string RadiusOne = "108%";
    public string RadiusTwo = "80%";
    public string RadiusThree = "50%";
    public double AngleOne = 98;
    public double AngleTwo = 81;
    public double AngleThree = 69;
    public string ImageRadiusOne = "108%";
    public string ImageRadiusTwo = "78%";
    public string ImageRadiusThree = "48%";
    public string ImageRadiusFour = "0%";
    public string ImageRadiusFive = "108%";
    public string ImageRadiusSix = "78%";
    public string ImageRadiusSeven = "48%";
    public double MarkerSize = 90;

    protected override void OnInitialized()
    {

        Theme = ThemeHelper.GetCurrentTheme(NavigationManager.Uri);
        if (SampleService.IsDevice)
        {
            MarginLeft = "12px";
            MarginTop = "-25px";
            AngleOne = 100;
            AngleTwo = 84;
            AngleThree = 74;
            RadiusOne= "109%";
            RadiusTwo= "77%";
            RadiusThree = "45%";
            ImageRadiusOne = "106%";
            ImageRadiusTwo = "76%";
            ImageRadiusThree = "46%";
            ImageRadiusFive = "106%";
            ImageRadiusSix = "76%";
            ImageRadiusSeven = "46%";
            MarkerSize = 68;
        } else {
            MarginLeft = "0px";
            MarginTop = "-30px";
            AngleOne = 98;
            AngleTwo = 81;
            AngleThree = 69;
            RadiusOne = "108%";
            RadiusTwo = "80%";
            RadiusThree = "50%";
            ImageRadiusOne = "108%";
            ImageRadiusTwo = "78%";
            ImageRadiusThree = "48%";
            ImageRadiusFive = "108%";
            ImageRadiusSix = "78%";
            ImageRadiusSeven = "48%";
            MarkerSize = 90;
        }
    }
}
