
@page "/rich-text-editor/api"

@using Syncfusion.Blazor
@using Syncfusion.Blazor.RichTextEditor
@using Syncfusion.Blazor.Inputs
@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.Popups

@inherits SampleBaseComponent;

<div class="col-lg-8 control-section" id="target">
    <div class="control-wrapper">
        <div class="sample-container">
            <div class="default-section">
                <SfDialog @ref="DialogObj" @bind-Visible="@Visibility" Content="@Content" Header="@Header" Target="#target" Height="200px" Width="400px" ShowCloseIcon="true">
                    <DialogButtons>
                        <DialogButton ButtonModel="@DialogBtn" OnClick="@DlgButtonClick"></DialogButton>
                    </DialogButtons>
                </SfDialog>
                <SfRichTextEditor @ref="defaultAPIObj" @bind-Value="@RteValue" ShowCharCount="true" MaxLength="@MaxLength" Readonly="@ReadOnly" Enabled="@Enabled" EnableHtmlEncode="@EnableHtmlEncode">
                </SfRichTextEditor>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-4 property-section">
    <div id="property" title="Properties">
        <table id="property" title="Properties">
            <tbody>
                <tr>
                    <td>
                        <div>Maximum Length </div>
                    </td>
                    <td>
                        <div>
                            <SfNumericTextBox Step="1" @bind-Value="@MaxLength" Min="555" Max="2000" Format="n0">
                            </SfNumericTextBox>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div>ReadOnly </div>
                    </td>
                    <td>
                        <div>
                            <SfCheckBox @bind-Checked="@Checkbox1" ValueChange="ReadOnlyChange"></SfCheckBox>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div>Enabled </div>
                    </td>
                    <td>
                        <div>
                            <SfCheckBox @bind-Checked="@Checkbox2" ValueChange="EnableChange"></SfCheckBox>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div>Enable Html Encode </div>
                    </td>
                    <td>
                        <div>
                            <SfCheckBox @bind-Checked="@Checkbox3" ValueChange="EnableHtmlChange"></SfCheckBox>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <div>
                            <button id="getVal" class="btn btn-default" @onclick="GetValueClick">Get Value</button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <div>
                            <button id="selectall" class="btn btn-default" @onclick="SelectAllonClick">Select All </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<style>
    .property-section table td {
        width: 50%;
    }

    .property-section table div {
        padding-left: 10px;
        padding-top: 10px;
    }
</style>

@code {
    SfRichTextEditor defaultAPIObj;
    SfDialog DialogObj;

    public double MaxLength { get; set; } = 560;
    public bool Visibility = false;
    public bool ReadOnly = false;
    public bool Enabled = true;
    public bool EnableHtmlEncode = false;
    public string Content;
    public string RteValue = @"<p>Rich Text Editor is a WYSIWYG editing control which will reduce the effort for users while trying to express their formatting word content as HTML or Markdown format.</p><p><b>API’s:</b></p><ul><li><p>MaxLength - allows to restrict the maximum length to be entered.</p></li><li><p>ReadOnly - allows to change it as non-editable state.</p></li><li><p>Enabled - enable or disable the RTE component.</p></li><li><p>EnableHtmlEncode - Get the encoded string value through value property and source code panel</p></li><li><p>GetValue - get the value of RTE.</p></li></ul>";
    public bool Checkbox1 { get; set; } = false;
    public bool Checkbox2 { get; set; } = true;
    public bool Checkbox3 { get; set; } = false;
    public string Header = "RichTextEditor's Value";

    public Syncfusion.Blazor.Buttons.ButtonModel DialogBtn = new Syncfusion.Blazor.Buttons.ButtonModel { Content = "Ok", IsPrimary = true };

    public void MaxlengthChange(Syncfusion.Blazor.Inputs.ChangeEventArgs args)
    {
        this.MaxLength = args.Value;
    }

    public void ReadOnlyChange(Syncfusion.Blazor.Buttons.ChangeEventArgs args)
    {
        this.ReadOnly = args.Checked;
    }

    public void EnableChange(Syncfusion.Blazor.Buttons.ChangeEventArgs args)
    {
        this.Enabled = args.Checked;
    }

    public void EnableHtmlChange(Syncfusion.Blazor.Buttons.ChangeEventArgs args)
    {
        this.EnableHtmlEncode = args.Checked;
    }

    public void GetValueClick()
    {
        this.Content = this.RteValue;
        this.DialogObj.Show();
    }

    public void SelectAllonClick()
    {
        this.defaultAPIObj.SelectAll();
    }

    public void DlgButtonClick(object arg)
    {
        this.DialogObj.Hide();
    }
}

