
@page "/RichTextEditor/Paste-Cleanup"

@using Syncfusion.EJ2.Blazor
@using Syncfusion.EJ2.Blazor.RichTextEditor
@using Syncfusion.EJ2.Blazor.DropDowns

@inherits SampleBaseComponent;

<div class="col-lg-8 control-section">
    <div class="control-section">
        <EjsRichTextEditor @ref="RteObj" ID="defaultRte" value="@value">
            <RichTextEditorPasteCleanupSettings Prompt="@Prompt" PlainText="@Plaintext" KeepFormat="@Keepformat" DeniedAttrs="@Deniedattr" AllowedStyleProps="@Allowedstyle" DeniedTags="@Deniedtags"></RichTextEditorPasteCleanupSettings>
        </EjsRichTextEditor>
    </div>
</div>
<div class="col-lg-4 property-section">
    <div title="Properties">
        <table id="property" title="Properties">
            <tbody>
                <tr>
                    <td>
                        <div>Format Option</div>
                    </td>
                    <td>
                        <div>
                            <EjsDropDownList @ref="DropObj" TItem="GameFields" TValue="string" PopupHeight="200px" Index="@index" DataSource="@Options">
                                <DropDownListEvents TValue="string" ValueChange="valueChange"></DropDownListEvents>
                                <DropDownListFieldSettings Text="Text" Value="ID"></DropDownListFieldSettings>
                            </EjsDropDownList>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div>Denied Tags </div>
                    </td>
                    <td>
                        <div>
                            <input id="deniedTags" type="text" @bind="@deniedTagsvalue" class="e-input" @onblur="deniedTagsblur" placeholder="img[!href], h1" />
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div>Denied Attributes </div>
                    </td>
                    <td>
                        <div>
                            <input id="deniedAttributes" type="text" @bind="@deniedAttributesvalue" class="e-input" @onblur="deniedAttributesblur" placeholder="id, title" />
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div>Allowed Style Properties </div>
                    </td>
                    <td>
                        <div>
                            <input id="allowedStyleProperties" type="text" @bind="@allowedStylePropertiesvalue" class="e-input" @onblur="allowedStylePropertiesblur" placeholder="href, style" />
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<style>
    .property-section table td {
        width: 50%;
    }

    .property-section table div {
        padding-left: 10px;
        padding-top: 10px;
    }
</style>

@code {

    EjsRichTextEditor RteObj;
    EjsDropDownList<string, GameFields> DropObj;

    public string deniedTagsvalue;
    public string deniedAttributesvalue;
    public string allowedStylePropertiesvalue;
    public int? index = 0;
    public bool Prompt = true;
    public bool Plaintext = false;
    public bool Keepformat = false;
    public string[] Deniedattr { get; set; }
    public string[] Allowedstyle { get; set; }
    public string[] Deniedtags { get; set; }

    public class GameFields
    {
        public string ID { get; set; }

        public string Text { get; set; }
    }

    private List<GameFields>
    Options = new List<GameFields>
        () {
        new GameFields(){ ID= "prompt", Text= "Prompt" },
        new GameFields(){ ID= "plainText", Text= "Plain Text" },
        new GameFields(){ ID= "keepFormat", Text= "Keep Format" },
        new GameFields(){ ID= "cleanFormat", Text= "Clean Format" },
                        };

    public void valueChange(@Syncfusion.EJ2.Blazor.DropDowns.ChangeEventArgs<string> args)
    {
        if (args.Value == "prompt")
        {
            this.Prompt = true;
        }
        else if (args.Value == "plainText")
        {
            this.Prompt = false;
            this.Plaintext = true;
        }
        else if (args.Value == "keepFormat")
        {
            this.Prompt = false;
            this.Plaintext = false;
            this.Keepformat = true;
        }
        else if (args.Value == "cleanFormat")
        {
            this.Prompt = false;
            this.Plaintext = false;
            this.Keepformat = false;
        }
    }

    public void deniedTagsblur(Microsoft.AspNetCore.Components.Web.FocusEventArgs e)
    {
        if (this.deniedTagsvalue != null)
        {
            this.Deniedtags = this.deniedTagsvalue.Split(',');
        }
    }

    public void deniedAttributesblur(Microsoft.AspNetCore.Components.Web.FocusEventArgs e)
    {
        if (this.deniedAttributesvalue != null)
        {
            this.Deniedattr = this.deniedAttributesvalue.Split(',');
        }
    }

    public void allowedStylePropertiesblur(Microsoft.AspNetCore.Components.Web.FocusEventArgs e)
    {
        if (this.allowedStylePropertiesvalue != null)
        {
            this.Allowedstyle = this.allowedStylePropertiesvalue.Split(',');
        }
    }

    private string value { get; set; } = @"<p>RichTextEditor is a WYSIWYG editing control which will reduce the effort for users while trying to express their formatting word content as HTML or Markdown format.</p><p><b>Paste Cleanup properties:</b></p><ul><li><p>prompt - specifies whether to enable the prompt when pasting in RichTextEditor.</p></li><li><p>plainText - specifies whether to paste as plain text or not in RichTextEditor.</p></li><li><p>keepFormat- specifies whether to keep or remove the format when pasting in RichTextEditor.</p></li><li><p>deniedTags - specifies the tags to restrict when pasting in RichTextEditor.</p></li><li><p>deniedAttributes - specifies the attributes to restrict when pasting in RichTextEditor.</p></li><li><p>allowedStyleProperties - specifies the allowed style properties when pasting in RichTextEditor.</p></li></ul>";

}
