
@page "/rich-text-editor/paste-cleanup"

@using Syncfusion.Blazor
@using Syncfusion.Blazor.RichTextEditor
@using Syncfusion.Blazor.DropDowns

@inherits SampleBaseComponent;

<div class="col-lg-8 control-section">
    <div class="control-section">
        <SfRichTextEditor value="@Value">
            <RichTextEditorPasteCleanupSettings Prompt="@Prompt" PlainText="@Plaintext" KeepFormat="@Keepformat" DeniedAttrs="@Deniedattr" AllowedStyleProps="@Allowedstyle" DeniedTags="@Deniedtags"></RichTextEditorPasteCleanupSettings>
        </SfRichTextEditor>
    </div>
</div>
<div class="col-lg-4 property-section">
    <div title="Properties">
        <table id="property" title="Properties">
            <tbody>
                <tr>
                    <td>
                        <div>Format Option</div>
                    </td>
                    <td>
                        <div>
                            <SfDropDownList @ref="DropObj" TItem="GameFields" TValue="string" PopupHeight="200px" Index="@Index" DataSource="@Options">
                                <DropDownListEvents TValue="string" ValueChange="valueChange"></DropDownListEvents>
                                <DropDownListFieldSettings Text="Text" Value="ID"></DropDownListFieldSettings>
                            </SfDropDownList>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div>Denied Tags </div>
                    </td>
                    <td>
                        <div>
                            <input type="text" @bind="@DeniedTagsvalue" class="e-input" @onblur="deniedTagsblur" placeholder="img[!href], h1" />
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div>Denied Attributes </div>
                    </td>
                    <td>
                        <div>
                            <input type="text" @bind="@DeniedAttributesvalue" class="e-input" @onblur="deniedAttributesblur" placeholder="id, title" />
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div>Allowed Style Properties </div>
                    </td>
                    <td>
                        <div>
                            <input type="text" @bind="@AllowedStylePropertiesvalue" class="e-input" @onblur="allowedStylePropertiesblur" placeholder="href, style" />
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<style>
    .property-section table td {
        width: 50%;
    }

    .property-section table div {
        padding-left: 10px;
        padding-top: 10px;
    }
</style>

@code {
    SfDropDownList<string, GameFields> DropObj;

    private string DeniedTagsvalue;
    private string DeniedAttributesvalue;
    private string AllowedStylePropertiesvalue;
    private int? Index = 0;
    private bool Prompt = true;
    private bool Plaintext = false;
    private bool Keepformat = false;
    private string[] Deniedattr { get; set; }
    private string[] Allowedstyle { get; set; }
    private string[] Deniedtags { get; set; }
    private string Value { get; set; } = @"<p>Rich Text Editor is a WYSIWYG editing control which will reduce the effort for users while trying to express their formatting word content as HTML or Markdown format.</p><p><b>Paste Cleanup properties:</b></p><ul><li><p>Prompt - specifies whether to enable the prompt when pasting in Rich Text Editor.</p></li><li><p>PlainText - specifies whether to paste as plain text or not in Rich Text Editor.</p></li><li><p>KeepFormat- specifies whether to keep or remove the format when pasting in Rich Text Editor.</p></li><li><p>DeniedTags - specifies the tags to restrict when pasting in Rich Text Editor.</p></li><li><p>DeniedAttributes - specifies the attributes to restrict when pasting in Rich Text Editor.</p></li><li><p>AllowedStyleProperties - specifies the allowed style properties when pasting in Rich Text Editor.</p></li></ul>";

    private class GameFields
    {
        public string ID { get; set; }
        public string Text { get; set; }
    }

    private List<GameFields> Options = new List<GameFields> ()
    {
        new GameFields(){ ID= "prompt", Text= "Prompt" },
        new GameFields(){ ID= "plainText", Text= "Plain Text" },
        new GameFields(){ ID= "keepFormat", Text= "Keep Format" },
        new GameFields(){ ID= "cleanFormat", Text= "Clean Format" },
    };

    private void valueChange(@Syncfusion.Blazor.DropDowns.ChangeEventArgs<string> args)
    {
        if (args.Value == "prompt")
        {
            this.Prompt = true;
        }
        else if (args.Value == "plainText")
        {
            this.Prompt = false;
            this.Plaintext = true;
        }
        else if (args.Value == "keepFormat")
        {
            this.Prompt = false;
            this.Plaintext = false;
            this.Keepformat = true;
        }
        else if (args.Value == "cleanFormat")
        {
            this.Prompt = false;
            this.Plaintext = false;
            this.Keepformat = false;
        }
    }

    private void deniedTagsblur(Microsoft.AspNetCore.Components.Web.FocusEventArgs e)
    {
        if (this.DeniedTagsvalue != null)
        {
            this.Deniedtags = this.DeniedTagsvalue.Split(',');
        }
    }

    private void deniedAttributesblur(Microsoft.AspNetCore.Components.Web.FocusEventArgs e)
    {
        if (this.DeniedAttributesvalue != null)
        {
            this.Deniedattr = this.DeniedAttributesvalue.Split(',');
        }
    }

    private void allowedStylePropertiesblur(Microsoft.AspNetCore.Components.Web.FocusEventArgs e)
    {
        if (this.AllowedStylePropertiesvalue != null)
        {
            this.Allowedstyle = this.AllowedStylePropertiesvalue.Split(',');
        }
    }
}