@using Syncfusion.Blazor.Popups

@inject IJSRuntime jsRuntime
@namespace TextToMindMapDiagram

<SfDialog @ref="@SaveDialog" @bind-Visible="@SaveDialogVisible" AllowDragging="true" Width="335px" ShowCloseIcon="true" CssClass="custom-dialog">
    <DialogTemplates>
        <Header>Save Diagram</Header>
        <Content>
            <div id="saveDialogContent">
                <div>
                    <div>File Name</div><div class="db-dialog-child-prop-row">
                        <input type="text" id="saveFileName" value="@diagramfileName">
                    </div>
                </div>
            </div>
        </Content>
    </DialogTemplates>
    <DialogAnimationSettings Effect="@DialogEffect.None"></DialogAnimationSettings>
    <DialogButtons>
        <DialogButton OnClick="@BtnSave" Content="Save" CssClass="e-flat e-db-primary" IsPrimary="true">
        </DialogButton>
        <DialogButton OnClick="@btnCancelClick" Content="Cancel" CssClass="e-flat">
        </DialogButton>
    </DialogButtons>
</SfDialog>


