@using Syncfusion.Blazor.Navigations
@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.SplitButtons
@using Syncfusion.Blazor.DropDowns
@using Syncfusion.Blazor.Inputs

@namespace TextToMindMapDiagram

<div class='db-toolbar-editor'>
    <div class='@toolbarClassName'>

        <div ID="toolbarEditor" class="e-control e-toolbar e-lib e-keyboard" style="display:@MindmapToolbarVisibility">
            <SfToolbar @ref="@Toolbar" OverflowMode=OverflowMode.Extended>
                <ToolbarEvents Clicked="@ToolbarEditorClick"></ToolbarEvents>
                <ToolbarItems>
                    <ToolbarItem @ref="@UndoItem" ShowTextOn="DisplayMode.Overflow" PrefixIcon="e-icons sf-icon-Undo tb-icons" Align="ItemAlign.Left" TooltipText="Undo" CssClass="tb-item-start tb-item-undo"></ToolbarItem>
                    <ToolbarItem @ref="@RedoItem" ShowTextOn="DisplayMode.Overflow" PrefixIcon="e-icons sf-icon-Redo tb-icons" Align="ItemAlign.Left" TooltipText="Redo" CssClass="tb-item-end tb-item-redo"></ToolbarItem>
                    <ToolbarItem Type="@ItemType.Separator"></ToolbarItem>
                    <ToolbarItem @ref="@PointerItem" ShowTextOn="DisplayMode.Overflow" PrefixIcon="e-icons sf-icon-Selector tb-icons" Align="ItemAlign.Left" TooltipText="Pointer" CssClass="@PointerItemCssClass"></ToolbarItem>
                    <ToolbarItem @ref="@PanItem" ShowTextOn="DisplayMode.Overflow" PrefixIcon="e-icons sf-icon-Pan tb-icons" Align="ItemAlign.Left" TooltipText="Pan Tool" CssClass="@PanItemCssClass"></ToolbarItem>
                    <ToolbarItem Type="@ItemType.Separator"></ToolbarItem>
                    <ToolbarItem @ref="@AddChid" ShowTextOn="DisplayMode.Overflow" PrefixIcon="e-icons sf-icon-add-child tb-icons" Align="ItemAlign.Left" TooltipText="Add Child" CssClass="tb-item-start tb-item-child"></ToolbarItem>
                    <ToolbarItem @ref="@AddSibling" ShowTextOn="DisplayMode.Overflow" PrefixIcon="e-icons sf-icon-add-sibling tb-icons" Align="ItemAlign.Left" TooltipText="Add Sibling" CssClass="@addSiblingCssName"></ToolbarItem>
                    <ToolbarItem Type="@ItemType.Separator"></ToolbarItem>
                    <ToolbarItem @ref="@ZoomItem" ShowTextOn="DisplayMode.Overflow" PrefixIcon="e-icons tb-item-end tb-zoom-dropdown-btn" id="MindMapZoom" Align="ItemAlign.Right">
                        <Template>
                            <SfDropDownButton ID="btnZoomIncrement" @ref="@ZoomItemDropdown" Content="@ZoomItemDropdownContent" CssClass="e-zoomoption e-dropdown-custom">
                                <DropDownButtonEvents ItemSelected="@DrawZoomChange"></DropDownButtonEvents>
                                <DropDownMenuItems>
                                    <DropDownMenuItem Text="Zoom In"></DropDownMenuItem>
                                    <DropDownMenuItem Text="Zoom Out"></DropDownMenuItem>
                                    <DropDownMenuItem Text="Zoom to Fit"></DropDownMenuItem>
                                    <DropDownMenuItem Text="Zoom to 50%"></DropDownMenuItem>
                                    <DropDownMenuItem Text="Zoom to 100%"></DropDownMenuItem>
                                    <DropDownMenuItem Text="Zoom to 200%"></DropDownMenuItem>
                                </DropDownMenuItems>
                            </SfDropDownButton>
                        </Template>
                    </ToolbarItem>
                </ToolbarItems>
            </SfToolbar>
        </div>
    </div>

</div>

