@using Syncfusion.Blazor.Popups
@using Syncfusion.Blazor.DropDowns
@using Syncfusion.Blazor.Diagram
@using Syncfusion.Blazor.Inputs
@using Syncfusion.Blazor.Buttons
@inject IJSRuntime jsRuntime
@namespace TextToMindMapDiagram

<SfDialog @ref="@ExportDialog" @bind-Visible="@exportDialogVisible" IsModal="true" AllowDragging="true" Width="400px" ShowCloseIcon="true" CssClass="custom-dialog">
    <DialogEvents OnOpen="OnDialogOpening"></DialogEvents>
    <DialogTemplates>
        <Header>Export Diagram</Header>
        <Content>
            <div id="exportDialogContent">
                <div class="row">
                    <div class="row"> File Name </div> <div class="row db-dialog-child-prop-row">
                        <input type="text" id="exportfileName" value="@diagramfileName" @onchange="@FileNameChangeHandler">
                    </div>
                </div>
                <div class="row db-dialog-prop-row">
                    <div class="col-xs-6 db-col-left">
                        <div class="row"> Format </div>
                        <div class="row db-dialog-child-prop-row">
                            <SfDropDownList ID="exportFormat" TValue="Formats" TItem="string" Placeholder="JPG" @bind-Value="@CurrentFormatValue" DataSource="@formatValues">
                            </SfDropDownList>
                        </div>
                    </div>
                    <div class="col-xs-6 db-col-right">
                        <div class="row"> Region </div> <div class="row db-dialog-child-prop-row" >
                            <SfDropDownList ID="exportRegion" TValue="Regions" TItem="string" Placeholder="Content" @bind-Value="@CurrentRegionValue" DataSource="@RegionValues">
                            </SfDropDownList>
                        </div>
                    </div>
                </div>
                <div id="exportMultiplePageDiv" class="row db-dialog-prop-row" style="margin-top: 16px;">
                    <SfCheckBox ID="exportMultiplePage" TChecked="bool" Label="Scale to fit entire page to single page" Checked="@IsMultiplePageExport" ValueChange="@MultiplePageExport">
                    </SfCheckBox>
                </div>
            </div>
        </Content>
    </DialogTemplates>
    <DialogAnimationSettings Effect="@DialogEffect.None"></DialogAnimationSettings>
    <DialogButtons>
        <DialogButton OnClick="@ExportHandler" Content="Export" CssClass="e-flat e-db-primary" IsPrimary="true">
        </DialogButton>
        <DialogButton OnClick="@CloseDialogHandler" Content="Cancel" CssClass="e-flat">
        </DialogButton>
    </DialogButtons>
</SfDialog>

<style>
    .row {
        margin-left: 0px;
        margin-right: 0px;
    }

    .db-dialog-child-prop-row{
        margin-top: 6px;
    }

    #exportfileName {
       width:100%   
    }

    .db-col-left {
        padding-left: 0px;
        padding-right: 3px;
    }

    .db-dialog-child-prop-row {
        margin-top: 6px;
    }

    .db-col-right {
        padding-left: 0px;
        padding-right: 0px;
    }

    .e-checkbox-wrapper .e-frame,
    .e-bigger .e-checkbox-wrapper .e-frame {
      margin : 0px;
    }
</style>

