@using Syncfusion.Blazor.Navigations
@using Syncfusion.Blazor.DropDowns
@using Syncfusion.Blazor.Diagram
@using Syncfusion.Blazor.Inputs
@using Syncfusion.Blazor.SplitButtons
@namespace TextToFlowchartDiagram

<div style="border: 1px solid #ccc;">
        <SfToolbar>
            <ToolbarEvents Clicked="@ToolbarEditorClick"></ToolbarEvents>
            <ToolbarItems>
                <ToolbarItem TooltipText="New Diagram" PrefixIcon="e-icons e-circle-add"></ToolbarItem>
                <ToolbarItem TooltipText="Open Diagram" PrefixIcon="e-icons e-folder-open"></ToolbarItem>
                <ToolbarItem TooltipText="Save Diagram" PrefixIcon="e-icons e-save"></ToolbarItem>
                <ToolbarItem TooltipText="Print Diagram" PrefixIcon="e-icons e-print"></ToolbarItem>
                <ToolbarItem>
                    <Template>
                        <SfDropDownButton IconCss="e-icons e-export">
                            <DropDownButtonEvents ItemSelected="@SelectedItem"></DropDownButtonEvents>
                            <DropDownMenuItems>
                                <DropDownMenuItem Text="JPG"></DropDownMenuItem>
                                <DropDownMenuItem Text="PNG"></DropDownMenuItem>
                                <DropDownMenuItem Text="SVG"></DropDownMenuItem>
                            </DropDownMenuItems>
                        </SfDropDownButton>
                    </Template>
                </ToolbarItem>
                <ToolbarItem Type="ItemType.Separator"></ToolbarItem>
                <ToolbarItem PrefixIcon="e-icons e-pan" TooltipText="Pan"> </ToolbarItem>
                <ToolbarItem PrefixIcon="e-icons e-mouse-pointer" TooltipText="Select"></ToolbarItem>
                <ToolbarItem Type="@ItemType.Separator"></ToolbarItem>
                <ToolbarItem>
                    <Template>
                        <SfDropDownButton Content="@ZoomItemDropdownContent">
                            <DropDownButtonEvents ItemSelected="@SelectedZoomItem"></DropDownButtonEvents>
                            <DropDownMenuItems>
                                <DropDownMenuItem Text="Zoom In"></DropDownMenuItem>
                                <DropDownMenuItem Text="Zoom Out"></DropDownMenuItem>
                                <DropDownMenuItem Text="Zoom to Fit"></DropDownMenuItem>
                                <DropDownMenuItem Text="Zoom to 50%"></DropDownMenuItem>
                                <DropDownMenuItem Text="Zoom to 100%"></DropDownMenuItem>
                                <DropDownMenuItem Text="Zoom to 200%"></DropDownMenuItem>
                            </DropDownMenuItems>
                        </SfDropDownButton>
                    </Template>
                </ToolbarItem>
            </ToolbarItems>
        </SfToolbar>
    </div>



