@page "/stock-chart/candlestick-volume"
@using Syncfusion.Blazor
@using Syncfusion.Blazor.Charts
@inject NavigationManager NavigationManager
@*Hidden:Lines*@
@using ThemeHelper
@*End:Hidden*@
@using System.Net.Http.Json
@inject HttpClient Http
@*Hidden:Lines*@
@inherits SampleBaseComponent;


@*End:Hidden*@


<ActionDescription>
<p>This <a target="_blank" rel="noopener" href="https://www.syncfusion.com/blazor-components/blazor-stock-chart">Blazor Stock Chart</a> sample visualizes AAPL stock prices with a Candlestick series for OHLC data and a Column series displaying trading volume. Tooltip and crosshair provide precise value and time period inspection.</p>

<p>Key features:</p>
<ul>
  <li>Use the <a target="_blank" rel="noopener" href="https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Charts.PeriodSelector.html" aria-label="Navigate to Period Selector">Period Selector</a> to quickly filter by common time ranges</li>
  <li>Use the <a target="_blank" rel="noopener" href="https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Charts.RangeNavigatorPeriodSelectorSettings.html" aria-label="Navigate to Range Selector">Range Selector</a> for custom date range selection</li>
  <li>Legend is enabled to toggle series visibility</li>
  <li>Customize legend appearance using <code>StockChartLegendSettings</code> to match application styling</li>
</ul>

<p>This configuration effectively correlates price trends (candles) with volume spikes (columns), revealing momentum patterns and confirming price movements within the selected period.</p>
</ActionDescription>


@if (StockData == null)
{
    <div class="stock-chart-loader"></div> 
}
else
{
    <div class="@LoaderClass"></div>
    <div class="@ChartContainerClass">
        <SfStockChart Title="AAPL Historical" Height="@ChartHeight" Theme="@CurrentTheme">
            <StockChartEvents OnLoaded="@OnChartLoaded" AxisLabelRendering="OnAxisLabelRender"></StockChartEvents>
            <StockChartChartArea>
                <StockChartChartAreaBorder Width="0"></StockChartChartAreaBorder>
            </StockChartChartArea>
            <StockChartPrimaryXAxis>
                <StockChartAxisMajorGridLines Width="0"></StockChartAxisMajorGridLines>
                <StockChartAxisCrosshairTooltip Enable="true"></StockChartAxisCrosshairTooltip>
            </StockChartPrimaryXAxis>
            <StockChartPrimaryYAxis>
                <StockChartAxisLineStyle Width="0"></StockChartAxisLineStyle>
            </StockChartPrimaryYAxis>
            <StockChartTooltipSettings Enable="true" Format="High : <b>${point.high}</b><br/>Low : <b>${point.low}</b><br/>Open : <b>${point.open}</b><br/>Close : <b>${point.close}</b><br/>Volume : <b>${point.volume}</b>"></StockChartTooltipSettings>
            <StockChartCrosshairSettings Enable="true"></StockChartCrosshairSettings>
            <StockChartAxes>
                <StockChartAxis RowIndex="1" Name="yAxis1" LabelPosition="AxisPosition.Inside" EdgeLabelPlacement="EdgeLabelPlacement.Hide">                    
                    <StockChartAxisLineStyle Width="0"></StockChartAxisLineStyle>
                    <StockChartAxisMajorTickLines Width="0"></StockChartAxisMajorTickLines>
                </StockChartAxis>
            </StockChartAxes>
            <StockChartRows>
                <StockChartRow Height="30%"></StockChartRow>
                <StockChartRow Height="70%"></StockChartRow>
            </StockChartRows>
            <StockChartSeriesCollection>
                <StockChartSeries DataSource="@StockData" Type="ChartSeriesType.Candle" XName="date" YName="high" YAxisName="yAxis1" High="high" Low="low" Name="Apple Inc"></StockChartSeries>
                <StockChartSeries DataSource="@StockData" Type="ChartSeriesType.Column" XName="date" YName="volume" High="high" Low="low" Name="Volume">
                    <StockChartPrimaryYAxis LabelFormat="{value}M">   
                        <StockChartAxisLineStyle Width="0"></StockChartAxisLineStyle>
                        <StockChartAxisMajorTickLines Width="0"></StockChartAxisMajorTickLines>
                    </StockChartPrimaryYAxis>
                </StockChartSeries>
            </StockChartSeriesCollection>
            <StockChartLegendSettings Visible="true"></StockChartLegendSettings>
            <StockChartChartArea>
                <StockChartChartAreaBorder Width="0"></StockChartChartAreaBorder>
            </StockChartChartArea>
        </SfStockChart>
    </div>
    <style>
        .stock-chart-loader {
            border: 6px solid #f3f3f3;
            border-top: 6px solid #7a0fff;
            width: 40px;
            height: 40px;
            position: absolute;
            top: 46%;
            left: 46%;
            border-radius: 50%;
            -webkit-animation: loader 2s linear infinite;
            animation: loader 2s linear infinite;
        }

        .stock-chart-container {
            visibility: hidden;
        }

        div[id*="_stockChart_rangeSelector_leftTooltip"], div[id*="_stockChart_rangeSelector_rightTooltip"] {
            top: 10px !important;
        }

        div[id*="_selector_Secondary_Element"] {
            transform: translate(0px, @TranslateY) !important;
        }

        .e-tbar-btn {
            border-color: transparent !important;
        }
    </style>
}
@code {

    private ChartData[]? StockData { get; set; }
    private string ChartHeight { get; set; } = "500";
    private string LoaderClass { get; set; } = "stock-chart-loader";
    private string ChartContainerClass { get; set; } = "stock-chart-container";
    private string TranslateY { get; set; } = "-5px";
    private Theme CurrentTheme { get; set; } = Theme.Bootstrap4;

    protected override async Task OnInitializedAsync()
    {
        SetThemeProperties();
        StockData = await Http.GetFromJsonAsync<ChartData[]>(NavigationManager.BaseUri + SampleService?.WebAssetsPath + "data/stock-chart/chart-data.json");
    }

    public class ChartData
    {
        public DateTime date { get; set; }
        public double open { get; set; }
        public double low { get; set; }
        public double close { get; set; }
        public double high { get; set; }
        public double volume { get; set; }
    }

    private void OnChartLoaded(StockChartEventArgs args)
    {
        LoaderClass = string.Empty;
        ChartContainerClass = string.Empty;
        StateHasChanged();
    }

    private void OnAxisLabelRender(StockChartAxisLabelRenderEventArgs args)
    {
        if (args.Text.Contains("M"))
        {
            args.Text = args.Text.Replace("0000000M", "M", StringComparison.InvariantCulture);
        }
    }

    private void SetThemeProperties()
    {
        CurrentTheme = ThemeHelper.GetCurrentTheme(NavigationManager.Uri);

        if (CurrentTheme == Theme.Material3 || CurrentTheme == Theme.Material3Dark ||
            CurrentTheme == Theme.Bootstrap4 || CurrentTheme == Theme.Material ||
            CurrentTheme == Theme.MaterialDark)
        {
            TranslateY = "-7px";
        }
    }
}