@page "/stock-chart/hide-selector"
@using Syncfusion.Blazor
@using Syncfusion.Blazor.Charts
@inject NavigationManager NavigationManager
@*Hidden:Lines*@
@using ThemeHelper
@*End:Hidden*@
@using System.Net.Http.Json
@inject HttpClient Http
@*Hidden:Lines*@
@inherits SampleBaseComponent;


@*End:Hidden*@

<ActionDescription>
<p>This sample displays AAPL stock prices with the Range Selector hidden. Tooltip and Crosshair present value and period details on hover or tap interactions.</p>

<p>Configuration:</p>
<ul>
  <li>Control Range Selector visibility using the <a target="_blank" rel="noopener" href="https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Charts.SfStockChart.html#Syncfusion_Blazor_Charts_SfStockChart_EnableSelector" aria-label="Navigate to EnableSelector property">EnableSelector</a> property</li>
  <li>Hiding the Range Selector delivers a streamlined interface</li>
  <li>Beneficial when custom filtering widgets or external controls manage date ranges</li>
</ul>

<p>Interaction: Tooltip is enabled for insight into data points. Learn more about supported series in the <a target="_blank" rel="noopener" href="https://blazor.syncfusion.com/documentation/stock-chart/series-types" aria-label="Navigate to the documentation section">series types documentation</a>.</p>
</ActionDescription>


@if (StockChartData == null)
{
    <div class="stock-chart-loader"></div>
}
else
{
    <div class="@LoaderClass"></div>
    <div class="@ChartContainerClass">
        <SfStockChart Title="AAPL Stock Price" EnableSelector="false" Theme="@CurrentTheme">
            <StockChartEvents OnLoaded="@OnChartLoaded"></StockChartEvents>
            <StockChartPrimaryXAxis>
                <StockChartAxisMajorGridLines Width="0"></StockChartAxisMajorGridLines>
                <StockChartAxisCrosshairTooltip Enable="true"></StockChartAxisCrosshairTooltip>
            </StockChartPrimaryXAxis>
            <StockChartPrimaryYAxis>
                <StockChartAxisLineStyle Width="0"></StockChartAxisLineStyle>
                <StockChartAxisMajorTickLines Width="0"></StockChartAxisMajorTickLines>
            </StockChartPrimaryYAxis>
            <StockChartTooltipSettings Enable="true"></StockChartTooltipSettings>
            <StockChartCrosshairSettings Enable="true"></StockChartCrosshairSettings>
            <StockChartSeriesCollection>
                <StockChartSeries DataSource="@StockChartData" XName="date" YName="close" Type="ChartSeriesType.Line"></StockChartSeries>
            </StockChartSeriesCollection>
            <StockChartChartArea>
                <StockChartChartAreaBorder Width="0"></StockChartChartAreaBorder>
            </StockChartChartArea>
        </SfStockChart>
    </div>
    <style>
        .stock-chart-loader {
            border: 6px solid #f3f3f3;
            border-top: 6px solid #7a0fff;
            width: 40px;
            height: 40px;
            position: absolute;
            top: 46%;
            left: 46%;
            border-radius: 50%;
            -webkit-animation: loader 2s linear infinite;
            animation: loader 2s linear infinite;
        }
        .stock-chart-container {
            visibility: hidden;
        }

        div[id*="_selector_Secondary_Element"] {
            transform: translate(0px, @TranslateY) !important;
        }

        .e-tbar-btn {
            border-color: transparent !important;
        }
    </style>
}

@code {
    private ChartData[]? StockChartData { get; set; }
    private string LoaderClass { get; set; } = "stock-chart-loader";
    private string ChartContainerClass { get; set; } = "stock-chart-container";
    private Theme CurrentTheme { get; set; }
    private string TranslateY { get; set; } = "-5px";

    protected override async Task OnInitializedAsync()
    {
        SetTheme();
        StockChartData = await Http.GetFromJsonAsync<ChartData[]>(NavigationManager.BaseUri + SampleService?.WebAssetsPath + "data/stock-chart/chart-data.json");
    }

    public class ChartData
    {
        public DateTime date { get; set; }
        public double open { get; set; }
        public double low { get; set; }
        public double close { get; set; }
        public double high { get; set; }
        public double volume { get; set; }
    }

    private void OnChartLoaded(StockChartEventArgs args)
    {
        LoaderClass = string.Empty;
        ChartContainerClass = string.Empty;
        StateHasChanged();
    }

    private void SetTheme()
    {
        CurrentTheme = ThemeHelper.GetCurrentTheme(NavigationManager.Uri);
        if (CurrentTheme == Theme.Material3 || CurrentTheme == Theme.Material3Dark ||
            CurrentTheme == Theme.Bootstrap4 || CurrentTheme == Theme.Material ||
            CurrentTheme == Theme.MaterialDark)
        {
            TranslateY = "-7px";
        }
    }
}