@page "/chart-3d/stacked-bar-100"

@using Syncfusion.Blazor
@using Syncfusion.Blazor.Chart3D
@using ThemeHelper

@inject NavigationManager NavigationManager
@*Hidden:Lines*@
@inherits SampleBaseComponent


@*End:Hidden*@
<SampleDescription>
    <p>
        This example of a 100% 3D stacked bar chart visualizes motor vehicle production by manufacturer using a stacked bar series. Click on the legend to toggle the visibility of the series for better comparison.
    </p>
</SampleDescription>
<ActionDescription>
    <p>
        In this example, you'll learn how to render and configure a 100% 3D stacked bar chart. This type of chart displays multiple series of data as stacked bars, guaranteeing that the cumulative proportion of each stacked element always totals 100%.
        Additionally, the <code>EnableRotation</code> property enables users to rotate the chart using mouse and touch interactions. To rotate the chart, simply hold down the mouse button on the chart and move the mouse, or double tap and drag on a touch-enabled device.
    </p>
</ActionDescription>

<div class="control-section" align="center">
    <SfChart3D EnableRotation="true" RotationAngle="22" Depth="100" Width="@ChartWidth" Height="@ChartHeight" Title="Motor Vehicle Production by Manufacturer" Theme="@CurrentTheme">
        <Chart3DPrimaryXAxis ValueType="Syncfusion.Blazor.Chart3D.ValueType.Category" LabelPlacement="LabelPlacement.BetweenTicks"></Chart3DPrimaryXAxis>
        <Chart3DPrimaryYAxis Interval="@YAxisInterval" EdgeLabelPlacement="EdgeLabelPlacement.Shift"></Chart3DPrimaryYAxis>
        <Chart3DSeriesCollection>
            <Chart3DSeries DataSource="@VehicleProductionData" XName="Year" YName="GeneralMotors" Name="General Motors" ColumnWidth="0.5" Type="Chart3DSeriesType.StackingBar100"></Chart3DSeries>
            <Chart3DSeries DataSource="@VehicleProductionData" XName="Year" YName="Honda" Name="Honda" ColumnWidth="0.5" Type="Chart3DSeriesType.StackingBar100"></Chart3DSeries>
            <Chart3DSeries DataSource="@VehicleProductionData" XName="Year" YName="Suzuki" Name="Suzuki" ColumnWidth="0.5" Type="Chart3DSeriesType.StackingBar100"></Chart3DSeries>
            <Chart3DSeries DataSource="@VehicleProductionData" XName="Year" YName="BMW" Name="BMW" ColumnWidth="0.5" Type="Chart3DSeriesType.StackingBar100"></Chart3DSeries>
        </Chart3DSeriesCollection>
        <Chart3DTooltipSettings Enable="true" Format="${point.x} : <b>${point.y} (${point.percentage}%)</b>"></Chart3DTooltipSettings>
        <Chart3DLegendSettings EnableHighlight="true"></Chart3DLegendSettings>
    </SfChart3D>
</div>

@code {
    private Theme CurrentTheme { get; set; }
    public string? ChartWidth { get; set; }
    public string ChartHeight { get; set; } = "400px";
    public double YAxisInterval { get; set; }

    public List<VehiclesProductionData> VehicleProductionData { get; set; } = new List<VehiclesProductionData>
    {
        new VehiclesProductionData { Year = "2013", GeneralMotors = 9628912, Honda = 4298390, Suzuki = 2842133, BMW = 2006366 },
        new VehiclesProductionData { Year = "2014", GeneralMotors = 9609326, Honda = 4513769, Suzuki = 3016710, BMW = 2165566 },
        new VehiclesProductionData { Year = "2015", GeneralMotors = 7485587, Honda = 4543838, Suzuki = 3034081, BMW = 2279503 },
        new VehiclesProductionData { Year = "2016", GeneralMotors = 7793066, Honda = 4999266, Suzuki = 2945295, BMW = 2359756 },
        new VehiclesProductionData { Year = "2017", GeneralMotors = 6856880, Honda = 5235842, Suzuki = 3302336, BMW = 2505741 }
    };

    protected override void OnInitialized()
    {
        CurrentTheme = ThemeHelper.GetCurrentTheme(NavigationManager.Uri);
        ChartWidth = SampleService != null && SampleService.IsDevice ? "100%" : "70%";
        YAxisInterval = SampleService != null && SampleService.IsDevice ? 20 : 10;
    }

    public class VehiclesProductionData
    {
        public string? Year { get; set; }
        public double GeneralMotors { get; set; }
        public double Honda { get; set; }
        public double Suzuki { get; set; }
        public double BMW { get; set; }
    }
}