@page "/chart-3d/stacked-column-100"

@using Syncfusion.Blazor
@using Syncfusion.Blazor.Chart3D
@*Hidden:Lines*@
@using ThemeHelper
@*End:Hidden*@
@inject NavigationManager NavigationManager
@*Hidden:Lines*@
@inherits SampleBaseComponent


@*End:Hidden*@
<ActionDescription>
<p>
    This example features a 100% 3D stacked column chart that visualizes motor vehicle production by manufacturer using a stacked column series. Mouse over or touch the respective series legend to highlight the series points, making it easier to differentiate them from other series points.
  </p>
  <p>
    In this example, you can explore the rendering and configuration of the 100% 3D stacked column chart. This type of chart displays multiple series of data as stacked columns, ensuring that the cumulative proportion of each stacked element always totals 100%.
  </p>
  <p>
    To enhance user interaction, the <code>Chart3DLegendSettings.EnableHighlight</code> property of a 3D chart can be utilized to enable the legend highlight feature in the 100% 3D stacked column chart, allowing users to easily differentiate between series.
  </p>
</ActionDescription>


<div class="control-section" align="center">
    <SfChart3D WallColor="transparent" EnableRotation="true" RotationAngle="7" TiltAngle="10" Depth="100" Width="@ChartWidth" Height="@ChartHeight" Title="Motor Vehicle Production by Manufacturer" Theme="@CurrentTheme">
        <Chart3DPrimaryXAxis ValueType="Syncfusion.Blazor.Chart3D.ValueType.Category" LabelPlacement="LabelPlacement.BetweenTicks"></Chart3DPrimaryXAxis>
        <Chart3DPrimaryYAxis Interval="@YAxisInterval" RangePadding="ChartRangePadding.None"></Chart3DPrimaryYAxis>
        <Chart3DSeriesCollection>
            <Chart3DSeries DataSource="@VehicleProductionData" XName="Year" YName="GeneralMotors" Name="General Motors" ColumnWidth="0.5" Type="Chart3DSeriesType.StackingColumn100"></Chart3DSeries>
            <Chart3DSeries DataSource="@VehicleProductionData" XName="Year" YName="Honda" Name="Honda" ColumnWidth="0.5" Type="Chart3DSeriesType.StackingColumn100"></Chart3DSeries>
            <Chart3DSeries DataSource="@VehicleProductionData" XName="Year" YName="Suzuki" Name="Suzuki" ColumnWidth="0.5" Type="Chart3DSeriesType.StackingColumn100"></Chart3DSeries>
            <Chart3DSeries DataSource="@VehicleProductionData" XName="Year" YName="BMW" Name="BMW" ColumnWidth="0.5" Type="Chart3DSeriesType.StackingColumn100"></Chart3DSeries>
        </Chart3DSeriesCollection>
        <Chart3DTooltipSettings Enable="true" Format="${point.x} : <b>${point.y} (${point.percentage}%)</b>"></Chart3DTooltipSettings>
        <Chart3DLegendSettings EnableHighlight="true"></Chart3DLegendSettings>
    </SfChart3D>
</div>

@code {
    private Theme CurrentTheme { get; set; }
    public string? ChartWidth { get; set; }
    public string ChartHeight { get; set; } = "400";
    public double YAxisInterval { get; set; }

    public List<VehicleProductionDataModel> VehicleProductionData { get; set; } = new List<VehicleProductionDataModel>
    {
        new VehicleProductionDataModel { Year = "2013", GeneralMotors = 9628912, Honda = 4298390, Suzuki = 2842133, BMW = 2006366 },
        new VehicleProductionDataModel { Year = "2014", GeneralMotors = 9609326, Honda = 4513769, Suzuki = 3016710, BMW = 2165566 },
        new VehicleProductionDataModel { Year = "2015", GeneralMotors = 7485587, Honda = 4543838, Suzuki = 3034081, BMW = 2279503 },
        new VehicleProductionDataModel { Year = "2016", GeneralMotors = 7793066, Honda = 4999266, Suzuki = 2945295, BMW = 2359756 },
        new VehicleProductionDataModel { Year = "2017", GeneralMotors = 6856880, Honda = 5235842, Suzuki = 3302336, BMW = 2505741 }
    };

    protected override void OnInitialized()
    {
        CurrentTheme = ThemeHelper.GetCurrentTheme(NavigationManager.Uri);
        ChartWidth = "75%";
        YAxisInterval = 20;
        @*Hidden:Lines*@
        if (SampleService != null && SampleService.IsDevice)
        {
            ChartWidth = "100%";
            YAxisInterval = 25;
        }
        @*End:Hidden*@
    }

    public class VehicleProductionDataModel
    {
        public string? Year { get; set; }
        public double GeneralMotors { get; set; }
        public double Honda { get; set; }
        public double Suzuki { get; set; }
        public double BMW { get; set; }
    }
}