@page "/pivot-table/aggregation"

@using Syncfusion.Blazor.PivotView
@using Syncfusion.Blazor.DropDowns
@using Syncfusion.Blazor.Inputs
@inherits SampleBaseComponent;
@using blazor_samples
@using ej2_blazor_productdetails

    <div class="col-lg-9 control-section sb-property-border">
        <div class="content-wrapper">
            <SfPivotView TValue="PivotProductDetails" Height="300" ShowFieldList=true EnableValueSorting=true ShowTooltip=false>
                <PivotViewDataSourceSettings DataSource="@Data" ExpandAll=false EnableSorting=true>
                    <PivotViewColumns>
                        <PivotViewColumn Name="Products"></PivotViewColumn>
                        <PivotViewColumn Name="Country"></PivotViewColumn>
                    </PivotViewColumns>
                    <PivotViewRows>
                        <PivotViewRow Name="Year"></PivotViewRow>
                        <PivotViewRow Name="Quarter"></PivotViewRow>
                    </PivotViewRows>
                    <PivotViewValues>
                        <PivotViewValue Name="Sold" Caption="Units Sold" Type="@UnitSoldAggregateType"></PivotViewValue>
                        <PivotViewValue Name="Amount" Caption="Sold Amount" Type=@SoldAmountAggregateType></PivotViewValue>
                    </PivotViewValues>
                    <PivotViewFormatSettings>
                        <PivotViewFormatSetting Name="Amount" Format="C0" UseGrouping=true></PivotViewFormatSetting>
                    </PivotViewFormatSettings>
                    <PivotViewDrilledMembers>
                        <PivotViewDrilledMember Name="Country" Items="@DrilledMembers"></PivotViewDrilledMember>
                    </PivotViewDrilledMembers>
                </PivotViewDataSourceSettings>
                <PivotViewGridSettings ColumnWidth="120"></PivotViewGridSettings>
            </SfPivotView>
        </div>
    </div>
    <div class="col-lg-3 property-section">
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<br>
        <div class="property-panel-section">
            <div class="property-panel-header" style="padding-bottom:10px; font-size:16px">Properties</div>
            <div class="property-panel-content">
                <table id="property" style="width:100%" class="property-panel-table">
                    <tbody>
                        <tr style="height: 50px">
                            <td>
                                <div>
                                    <SfDropDownList TValue="string" TItem="DropDownData" Index=0 DataSource="@UnitSoldAggregateTypes" FloatLabelType=FloatLabelType.Auto Placeholder="Units Sold">
                                        <DropDownListEvents TValue="string" ValueChange="OnUnitSoldTypeChange"></DropDownListEvents>
                                        <DropDownListFieldSettings Text="Name" Value="Value"></DropDownListFieldSettings>
                                    </SfDropDownList>
                                </div>
                            </td>
                        </tr>
                        <tr style="height: 50px">
                            <td>
                                <div>
                                    <SfDropDownList TValue="string" TItem="DropDownData" Index=1 DataSource="@SoldAmountAggregateTypes" FloatLabelType=FloatLabelType.Auto Placeholder="Sold Amount">
                                        <DropDownListEvents TValue="string" ValueChange="OnSoldAmountTypeChange"></DropDownListEvents>
                                        <DropDownListFieldSettings Text="Name" Value="Value"></DropDownListFieldSettings>
                                    </SfDropDownList>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <style>
        .e-pivotview {
            min-height: 200px;
        }
    </style>

@code{
    public Syncfusion.Blazor.PivotView.SummaryTypes UnitSoldAggregateType = Syncfusion.Blazor.PivotView.SummaryTypes.Sum;
    public Syncfusion.Blazor.PivotView.SummaryTypes SoldAmountAggregateType = Syncfusion.Blazor.PivotView.SummaryTypes.Avg;
    public string[] DrilledMembers = new string[] { "France" };

    public List<PivotProductDetails> Data { get; set; }

    protected override void OnInitialized()
    {
        this.Data = PivotProductDetails.GetProductData();
    }

    public void OnUnitSoldTypeChange(@Syncfusion.Blazor.DropDowns.ChangeEventArgs<string> args)
    {
        this.UnitSoldAggregateType = (Syncfusion.Blazor.PivotView.SummaryTypes)Enum.Parse(typeof(Syncfusion.Blazor.PivotView.SummaryTypes), args.Value, true);
    }

    public void OnSoldAmountTypeChange(@Syncfusion.Blazor.DropDowns.ChangeEventArgs<string> args)
    {
        this.SoldAmountAggregateType = (Syncfusion.Blazor.PivotView.SummaryTypes)Enum.Parse(typeof(Syncfusion.Blazor.PivotView.SummaryTypes), args.Value, true);
    }

    List<DropDownData> UnitSoldAggregateTypes = new List<DropDownData>() {
        new DropDownData { Name = "Sum", Value = "Sum" },
        new DropDownData { Name = "Avg", Value = "Avg" },
        new DropDownData { Name = "Min", Value = "Min" },
        new DropDownData { Name = "Max", Value = "Max" },
        new DropDownData { Name = "Count", Value = "Count" },
        new DropDownData { Name = "Distinct Count", Value = "DistinctCount" },
        new DropDownData { Name = "Product", Value = "Product" },
        new DropDownData { Name = "Index", Value = "Index" },
        new DropDownData { Name = "Population StDev", Value = "PopulationStDev" },
        new DropDownData { Name = "Sample StDev", Value = "SampleStDev" },
        new DropDownData { Name = "Population Var", Value = "PopulationVar" },
        new DropDownData { Name = "Sample Var", Value = "SampleVar" },
        new DropDownData { Name = "Running Totals", Value = "RunningTotals" },
        new DropDownData { Name = "% of Column Total", Value = "PercentageOfColumnTotal" },
        new DropDownData { Name = "% of Row Total", Value = "PercentageOfRowTotal" },
        new DropDownData { Name = "% of Parent Total", Value = "PercentageOfParentTotal" },
        new DropDownData { Name = "% of Parent Column Total", Value = "PercentageOfParentColumnTotal" },
        new DropDownData { Name = "% of Parent Row Total", Value = "PercentageOfParentRowTotal" }
    };

    List<DropDownData> SoldAmountAggregateTypes = new List<DropDownData>() {
        new DropDownData { Name = "Sum", Value = "Sum" },
        new DropDownData { Name = "Avg", Value = "Avg" },
        new DropDownData { Name = "Min", Value = "Min" },
        new DropDownData { Name = "Max", Value = "Max" },
        new DropDownData { Name = "Product", Value = "Product" },
        new DropDownData { Name = "Index", Value = "Index" },
        new DropDownData { Name = "Population StDev", Value = "PopulationStDev" },
        new DropDownData { Name = "Sample StDev", Value = "SampleStDev" },
        new DropDownData { Name = "Population Var", Value = "PopulationVar" },
        new DropDownData { Name = "Sample Var", Value = "SampleVar" },
        new DropDownData { Name = "Running Totals", Value = "RunningTotals" },
        new DropDownData { Name = "% of Column Total", Value = "PercentageOfColumnTotal" },
        new DropDownData { Name = "% of Row Total", Value = "PercentageOfRowTotal" },
        new DropDownData { Name = "% of Parent Total", Value = "PercentageOfParentTotal" },
        new DropDownData { Name = "% of Parent Column Total", Value = "PercentageOfParentColumnTotal" },
        new DropDownData { Name = "% of Parent Row Total", Value = "PercentageOfParentRowTotal" }
    };

    public class DropDownData
    {
        public string Name { get; set; }
        public string Value { get; set; }
    }
}