@page "/rich-text-editor/insert-media";

@using Syncfusion.Blazor.RichTextEditor;

@*Hidden:Lines*@
@inherits SampleBaseComponent
@*End:Hidden*@

<ActionDescription>
<p>
    This sample demonstrates the option to insert media into the Rich Text Editor content. Click the audio and video buttons in the toolbar to insert media.
  </p>
  <p>
    <strong>Video Tools:</strong> Used to insert a video into the Rich Text Editor. When you click on the video, a quick toolbar appears with customization options:
  </p>
  <ul>
    <li><a href="https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.RichTextEditor.VideoToolbarCommand.html#Syncfusion_Blazor_RichTextEditor_VideoToolbarCommand_VideoReplace" aria-label="Class reference of Video Replace property in Rich Text Editor">Replace</a> - Replace the video with another video.</li>
    <li><a href="https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.RichTextEditor.VideoToolbarCommand.html#Syncfusion_Blazor_RichTextEditor_VideoToolbarCommand_VideoAlign" aria-label="Class reference of Video Align property in Rich Text Editor">Align</a> - Align the video with left, right, and justify options.</li>
    <li><a href="https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.RichTextEditor.VideoToolbarCommand.html#Syncfusion_Blazor_RichTextEditor_VideoToolbarCommand_VideoRemove" aria-label="Class reference of Video Delete property in Rich Text Editor">Delete</a> - Delete the video.</li>
    <li><a href="https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.RichTextEditor.VideoToolbarCommand.html#Syncfusion_Blazor_RichTextEditor_VideoToolbarCommand_VideoLayoutOption" aria-label="Class reference of Video Layout Option property in Rich Text Editor">Layout Option</a> - Display the video as inline or with a break.</li>
  </ul>
  <p>
    <strong>Audio Tools:</strong> Used to insert audio into the Rich Text Editor. When you click on the audio, a quick toolbar appears with customization options:
  </p>
  <ul>
    <li><a href="https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.RichTextEditor.AudioToolbarCommand.html#Syncfusion_Blazor_RichTextEditor_AudioToolbarCommand_Replace" aria-label="Class reference of Audio Replace property in Rich Text Editor">Replace</a> - Replace the audio with another audio file.</li>
    <li><a href="https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.RichTextEditor.AudioToolbarCommand.html#Syncfusion_Blazor_RichTextEditor_AudioToolbarCommand_AudioRemove" aria-label="Class reference of Audio Delete property in Rich Text Editor">Delete</a> - Delete the audio.</li>
    <li><a href="https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.RichTextEditor.AudioToolbarCommand.html#Syncfusion_Blazor_RichTextEditor_AudioToolbarCommand_AudioLayoutOption" aria-label="Class reference of Audio Display property in Rich Text Editor">Display</a> - Display the audio as inline or with a break.</li>
  </ul>
  <p>
    <strong>Note:</strong> For security reasons, embed video URLs are restricted in this demo. If you want to insert an embed URL video, set the <a href="https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.RichTextEditor.SfRichTextEditor.html#Syncfusion_Blazor_RichTextEditor_SfRichTextEditor_EnableHtmlSanitizer" aria-label="Class reference of EnableHtmlSanitizer property in Rich Text Editor">EnableHtmlSanitizer</a> property to <code>false</code> in your application.
  </p>
</ActionDescription>



<div class="control-section">
    <div class="control-wrapper">
        <div class="">
            <SfRichTextEditor>
                <p>Rich Text Editor allows inserting video and audio from online sources and the local computers where you want to insert a video and audio into your content. It also supports drag-and-drop for audio and video files, providing a simple way to add media directly into your editor.</p>
                    <p><b>Get started with Quick Toolbar to click on a video</b></p>
                    <p>Using the quick toolbar, users can replace, align, display, dimension, and delete the selected video.</p>
                    <p>
                        <video controls>
                            <source src="https://cdn.syncfusion.com/ej2/richtexteditor-resources/RTE-Ocean-Waves.mp4" type="video/mp4" />
                        </video>
                    </p>
                    <p><b>Get started with Quick Toolbar to click on an audio</b></p>
                    <p>Using the quick toolbar, users can replace, display, and delete the selected audio.</p>
                    <p>
                        <audio controls>
                            <source src="https://cdn.syncfusion.com/ej2/richtexteditor-resources/RTE-Audio.wav" type="audio/mp3" />
                        </audio>
                    </p>
                <RichTextEditorToolbarSettings Items="@Items" />
                <RichTextEditorVideoSettings SaveUrl="@SaveURL" Path="@Path"></RichTextEditorVideoSettings>
                <RichTextEditorAudioSettings SaveUrl="@SaveURL" Path="@Path"></RichTextEditorAudioSettings>
            </SfRichTextEditor>
        </div>
    </div>
</div>

@code {
    private string SaveURL = "https://blazor.syncfusion.com/services/production/api/RichTextEditor/SaveFile";
    private string Path = "https://blazor.syncfusion.com/services/production/RichTextEditor/";
    private List<ToolbarItemModel> Items = new List<ToolbarItemModel>()
    {
        new ToolbarItemModel() { Command = ToolbarCommand.Bold },
        new ToolbarItemModel() { Command = ToolbarCommand.Italic },
        new ToolbarItemModel() { Command = ToolbarCommand.Underline },
        new ToolbarItemModel() { Command = ToolbarCommand.Separator },
        new ToolbarItemModel() { Command = ToolbarCommand.Formats },
        new ToolbarItemModel() { Command = ToolbarCommand.Alignments },
        new ToolbarItemModel() { Command = ToolbarCommand.Blockquote },
        new ToolbarItemModel() { Command = ToolbarCommand.OrderedList },
        new ToolbarItemModel() { Command = ToolbarCommand.UnorderedList },
        new ToolbarItemModel() { Command = ToolbarCommand.Separator },
        new ToolbarItemModel() { Command = ToolbarCommand.CreateLink },
        new ToolbarItemModel() { Command = ToolbarCommand.Image },
        new ToolbarItemModel() { Command = ToolbarCommand.Audio },
        new ToolbarItemModel() { Command = ToolbarCommand.Video },
        new ToolbarItemModel() { Command = ToolbarCommand.Separator },
        new ToolbarItemModel() { Command = ToolbarCommand.SourceCode },
        new ToolbarItemModel() { Command = ToolbarCommand.Undo },
        new ToolbarItemModel() { Command = ToolbarCommand.Redo },
    };
}
