@page "/circular-gauge/compass"


@using Syncfusion.Blazor.CircularGauge
@using Syncfusion.Blazor.DropDowns

@*Hidden:Lines*@
@using blazor_samples
@{
	SampleBrowser.CurrentSampleName = "Direction Compass";
	SampleBrowser.CurrentControlName = "CircularGauge";
	SampleBrowser.CurrentControlCategory = "CircularGauge";
    SampleBrowser.TitleTag = "CircularGauge . Compass . Syncfusion Blazor Components - Preview";
    SampleBrowser.MetaDescription = "This demo of Syncfusion Blazor Circular Gauge component illustrates how to make a direction compass by using the circular Gauge";
	SampleBrowser.CurrentControl = SampleBrowser.Config.CircularGauge;
	SampleBrowser.ActionDescription = new string[] {
		@" <p>
			This sample illustrates how to make a direction compass by using the features in gauge. Color of the needle and direction labels can be customized by using options.
		</p>"
	};
	SampleBrowser.Description = new string[] {
		@"<p>
			Circular gauge can be customized as per a user requirement. In this example, a direction compass has been depicted by adding <code> needles </code> and by customizing the <code> labels</code> to show the direction.
		</p>
		<p>
			More information on the gauge can be found in this
			<a target=""_blank"" href=""http://ej2.syncfusion.com/documentation"">documentation section</a>.
		</p>"
	};
}
@*End:Hidden*@
@inherits SampleBaseComponent;
<div class="col-lg-9 control-section sb-property-border">
		<SfCircularGauge>
            <CircularGaugeEvents AxisLabelRendering="Axis"></CircularGaugeEvents>
			<CircularGaugeAxes>
				<CircularGaugeAxis Radius="70%" StartAngle="0" EndAngle="360" Minimum="0" Maximum="8">
					<CircularGaugeAxisLabelStyle AutoAngle="true" HiddenLabel="HiddenLabel.Last" Offset="10">
						<CircularGaugeAxisLabelFont FontFamily="Roboto" Size="12px" Color="@GaugeLabelColor">
						</CircularGaugeAxisLabelFont>
					</CircularGaugeAxisLabelStyle>
					<CircularGaugeRanges>
						<CircularGaugeRange Color="@GaugeLabelColor" Start="7" End="7"> </CircularGaugeRange>
					</CircularGaugeRanges>
					<CircularGaugeAxisLineStyle Width="10" Color="#E0E0E0">
					</CircularGaugeAxisLineStyle>
					<CircularGaugeAxisMajorTicks Height="15" Interval="1">
					</CircularGaugeAxisMajorTicks>
					<CircularGaugeAxisMinorTicks Height="10" Interval="0.5">
					</CircularGaugeAxisMinorTicks>
					<CircularGaugePointers>
						<CircularGaugePointer Value="7" Radius="50%" Color="@GaugePointerColor" PointerWidth="20">
							<CircularGaugeCap Radius="0">
								<CircularGaugeCapBorder Width="0">
								</CircularGaugeCapBorder>
							</CircularGaugeCap>
						</CircularGaugePointer>
						<CircularGaugePointer Value="3" Radius="50%" Color="#9E9E9E" PointerWidth="20">
							<CircularGaugeCap Radius="0">
								<CircularGaugeCapBorder Width="0">
								</CircularGaugeCapBorder>
							</CircularGaugeCap>
						</CircularGaugePointer>
					</CircularGaugePointers>
				</CircularGaugeAxis>
			</CircularGaugeAxes>
		</SfCircularGauge>
	</div>
<div class="col-md-3 property-section">
	<div class="property-panel-section">
		<div class="property-panel-header">Properties</div>
		<div class="property-panel-content">
			<table style="width: 100%">
				<tr style="height: 50px">
                    <td style="width: 60%">
						<div class="property-text">Pointer Color</div>
					</td>
					<td style="width: 60%;">
                        <div style="margin-left: -10px">
							<SfDropDownList  DataSource="@PointerColorData" Value="@pointerColorValue" >
                                <DropDownListEvents TValue="string" ValueChange="@PointerColorChange"></DropDownListEvents>
                                <DropDownListFieldSettings Text="Name" Value="Name"></DropDownListFieldSettings>
							</SfDropDownList>
						</div>
					</td>
				</tr>
				<tr style="height: 50px">
                        <td style="width: 60%">
						<div class="property-text">Label Color</div>
					</td>
					<td style="width: 60%;">
                        <div style="margin-left: -10px">
                            <SfDropDownList DataSource="@LabelColorData" Value="@labelColorValue">
                                <DropDownListEvents TValue="string" ValueChange="@LabelColorChange"></DropDownListEvents>
                                <DropDownListFieldSettings Text="Name" Value="Name"></DropDownListFieldSettings>
                            </SfDropDownList>
						</div>
					</td>
				</tr>
			</table>
		</div>
		</div>
	</div>

@code{
	public string[] Values = {"N", "NE", "E", "SE", "S", "SW", "W", "NW", " " };
	private String pointerColorValue = "#f03e3e";
	private String labelColorValue = "#f03e3e";
	private String GaugePointerColor = "#f03e3e";
	private String GaugeLabelColor = "#f03e3e";
	private List<object> labels = new List<object> { "N", "NE", "E", "SE", "S", "SW", "W", "NW", " " };
	public class PointerColor
	{
		public string Name { get; set; }
	}
	public List<PointerColor> PointerColorData = new List<PointerColor>
	{
		new PointerColor{ Name = "#f03e3e"},
		new PointerColor{ Name = "#4472c4"},
		new PointerColor{ Name = "#ed7d31"},
	};
	public class LabelColor
	{
		public string Name { get; set; }
	}
	public List<LabelColor> LabelColorData = new List<LabelColor>
	{
		new LabelColor{ Name = "#f03e3e"},
		new LabelColor{ Name = "#4472c4"},
		new LabelColor{ Name = "#ed7d31"},
	};
	private void PointerColorChange(Syncfusion.Blazor.DropDowns.ChangeEventArgs<string> args)
	{
		pointerColorValue = (args.Value).ToString();
		GaugePointerColor = pointerColorValue;
	}
	private void LabelColorChange(Syncfusion.Blazor.DropDowns.ChangeEventArgs<string> args)
	{
		labelColorValue = (args.Value).ToString();
		GaugeLabelColor = labelColorValue;
	}
	void Axis(Syncfusion.Blazor.CircularGauge.IAxisLabelRenderEventArgs args)
    {
        args.Text = Values[Convert.ToInt32(args.Value)];
    }
} 
