@page "/circular-gauge/customization"

@using Syncfusion.Blazor.CircularGauge
@using Syncfusion.Blazor.DropDowns
@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.Inputs

@inherits SampleBaseComponent;

<div class="col-lg-9 control-section sb-property-border">
    <div style="display:@Gauge1">
        <SfCircularGauge>
            <CircularGaugeEvents></CircularGaugeEvents>
            <CircularGaugeAxes>
                <CircularGaugeAxis StartAngle="300" EndAngle="60" Minimum="999" Maximum="2000" Radius="80%">
                    <CircularGaugeAxisLineStyle Width="0.01">
                    </CircularGaugeAxisLineStyle>
                    <CircularGaugeAxisMajorTicks Width="0.01">
                    </CircularGaugeAxisMajorTicks>
                    <CircularGaugeAxisMinorTicks Width="0.01">
                    </CircularGaugeAxisMinorTicks>
                    <CircularGaugeAxisLabelStyle>
                        <CircularGaugeAxisLabelFont Size="0px">
                        </CircularGaugeAxisLabelFont>
                    </CircularGaugeAxisLabelStyle>
                    <CircularGaugePointers>
                        <CircularGaugePointer Type="PointerType.RangeBar" Value=@TickValue Radius="90%" Color="@RangeBarColorValue" PointerWidth="30">
                            <CircularGaugePointerAnimation Enable="false" Duration="0">
                            </CircularGaugePointerAnimation>
                        </CircularGaugePointer>
                        <CircularGaugePointer Value=@TickValue Radius="90%" Color="@PointerColorValue" PointerWidth="9">
                            <CircularGaugePointerAnimation Enable="false" Duration="0">
                            </CircularGaugePointerAnimation>
                            <CircularGaugeCap Radius="10" Color="@PointerColorValue">
                                <CircularGaugeCapBorder Width="0" Color="@PointerColorValue">
                                </CircularGaugeCapBorder>
                            </CircularGaugeCap>
                        </CircularGaugePointer>
                        <CircularGaugeRanges>
                            <CircularGaugeRange Start="1000" End="2000" Radius="90%" StartWidth="30" EndWidth="30" Color="@RangeColorValue">
                            </CircularGaugeRange>
                        </CircularGaugeRanges>
                    </CircularGaugePointers>
                    <CircularGaugeAnnotations>
                        <CircularGaugeAnnotation Angle="0" Radius="110%" ZIndex="1">
                            <ContentTemplate>
                                <div style='color:#666666;font-size:35px; margin-left:-40px; margin-top:-20px'>@TickValue</div>
                            </ContentTemplate>
                        </CircularGaugeAnnotation>
                    </CircularGaugeAnnotations>
                </CircularGaugeAxis>
            </CircularGaugeAxes>
        </SfCircularGauge>
    </div>
    <div style="display:@Gauge2">
        <SfCircularGauge>
            <CircularGaugeAxes>
                <CircularGaugeAxis StartAngle="180" EndAngle="180" Minimum="0" Maximum="100" Radius="80%">
                    <CircularGaugeAxisLineStyle Width="0.01">
                    </CircularGaugeAxisLineStyle>
                    <CircularGaugeAxisMajorTicks Width="0.01">
                    </CircularGaugeAxisMajorTicks>
                    <CircularGaugeAxisMinorTicks Width="0.01">
                    </CircularGaugeAxisMinorTicks>
                    <CircularGaugeAxisLabelStyle>
                        <CircularGaugeAxisLabelFont Size="0px">
                        </CircularGaugeAxisLabelFont>
                    </CircularGaugeAxisLabelStyle>
                    <CircularGaugePointers>
                        <CircularGaugePointer Type="PointerType.RangeBar" Value=@TickValue2 Radius="80%" Color="@RangeBarColorValueTwo" PointerWidth="30">
                        </CircularGaugePointer>
                        <CircularGaugeRanges>
                            <CircularGaugeRange Start="0" End="100" Radius="80%" StartWidth="30" EndWidth="30" Color="@RangeColorValueTwo">
                            </CircularGaugeRange>
                        </CircularGaugeRanges>
                    </CircularGaugePointers>
                    <CircularGaugeAnnotations>
                        <CircularGaugeAnnotation Angle="180" Radius="0%" ZIndex="1">
                            <ContentTemplate>
                                <div style='color:#666666;font-size:35px; margin-left:-40px; margin-top:-35px'>@TickValue2 GB</div>
                            </ContentTemplate>
                        </CircularGaugeAnnotation>
                        <CircularGaugeAnnotation Angle="180" Radius="25%" ZIndex="1">
                            <ContentTemplate>
                                <div style='color:#666666;font-size:15px; margin-left:-20px; margin-top:-35px'>Used</div>
                            </ContentTemplate>
                        </CircularGaugeAnnotation>
                    </CircularGaugeAnnotations>

                </CircularGaugeAxis>
            </CircularGaugeAxes>
        </SfCircularGauge>
    </div>
</div>

<div class="col-lg-3 property-section">
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<br>
    <div class="property-panel-section">
        <div class="property-panel-header">Properties</div>
        <div class="property-panel-content">
            <table id="property" style="width:100%" title="Properties">
                <tbody>
                    <tr style="height: 50px">
                        <td>
                            <button style="width:50px;height:50px;background-color:white" @onclick="GaugeClick">
                                <img src="styles/images/circulargauge/Gauge1.png" style="width:70px;height:60px;background-color:white;margin-top:-10px;margin-left:-10px;" />
                            </button>
                            <div style="display:@Gauge1;left: 0px;background: #ff4081;padding-top: 0px;height: 4px !important;width: 60px;margin: 2px 2px 2px 8px;"></div>
                        </td>
                        <td>
                            <button style="width:50px;height:50px;background-color:white" @onclick="NetClick">
                                <img src="styles/images/circulargauge/Gauge2.png" style="width:70px;height:60px;background-color:white; margin-top:-10px;margin-left:-10px;" />
                            </button>
                            <div style="display:@Gauge2;left: 0px;background: #ff4081;padding-top: 0px;height: 4px !important;width: 60px;margin: 2px 2px 2px 8px;"></div>
                        </td>
                    </tr>
                    <br />
                    <tr>
                        <td>
                            <div>Current Value<span>&nbsp;&nbsp;&nbsp;@tick</span> </div>
                        </td>
                        <td>
                            <SfSlider TValue="double" Value="@tick" Min="@Min" Max="@Max" Type=SliderType.MinRange>
                                <SliderEvents TValue="double" ValueChange="TickChange"></SliderEvents>
                            </SfSlider>
                        </td>
                    </tr>&nbsp;
                    <tr style="height: 35px; ">
                        <td style="width: 70%" class="property-text">
                            RangeBar Color
                        </td>
                        <td style="width: 50%;display:@Gauge1">
                            <SfDropDownList DataSource="@RangeBarColor" Value="@RangeBarColorValue" Width="120px">
                                <DropDownListEvents TValue="string" ValueChange="RangeBarColorchange"></DropDownListEvents>
                                <DropDownListFieldSettings Text="Name" Value="Value"></DropDownListFieldSettings>
                            </SfDropDownList>
                        </td>
                        <td style="width: 50%;display:@Gauge2">
                            <SfDropDownList DataSource="@RangeBarColorTwo" Value="@RangeBarColorValueTwo" Width="120px">
                                <DropDownListEvents TValue="string" ValueChange="RangeBarColorTwochange"></DropDownListEvents>
                                <DropDownListFieldSettings Text="Name" Value="Value"></DropDownListFieldSettings>
                            </SfDropDownList>
                        </td>
                    </tr>
                    <tr style="height: 35px;">
                        <td style="width: 70%" class="property-text">
                            Range Color
                        </td>
                        <td style="width: 50%;display:@Gauge1">
                            <SfDropDownList DataSource="@RangeColor" Value="@RangeColorValue" Width="120px">
                                <DropDownListEvents TValue="string" ValueChange="RangeColorchange"></DropDownListEvents>
                                <DropDownListFieldSettings Text="Name" Value="Value"></DropDownListFieldSettings>
                            </SfDropDownList>
                        </td>
                        <td style="width: 50%;display:@Gauge2">
                            <SfDropDownList DataSource="@RangeColorTwo" Value="@RangeColorValueTwo" Width="120px">
                                <DropDownListEvents TValue="string" ValueChange="RangeColorTwochange"></DropDownListEvents>
                                <DropDownListFieldSettings Text="Name" Value="Value"></DropDownListFieldSettings>
                            </SfDropDownList>
                        </td>
                    </tr>
                    <tr style="height: 35px;">
                        <td style="width: 70%;" class="property-text">
                            Pointer Color
                        </td>
                        <td style="width: 50%;">
                            <SfDropDownList DataSource="@PointerColor" Value="@PointerColorValue" Width="120px" Enabled="@pointerColorDisable">
                                <DropDownListEvents TValue="string" ValueChange="PointerColorchange"></DropDownListEvents>
                                <DropDownListFieldSettings Text="Name" Value="Value"></DropDownListFieldSettings>
                            </SfDropDownList>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<style>
    button:focus {
        outline: white auto 0px;
    }
</style>

@code{
    public string Gauge1 = "block";
    public string Gauge2 = "none";
    public string visible = "visible";
    public Boolean pointerColorDisable = true;
    public double Min = 1000;
    public double Max = 2000;
    public double tick = 1800;
    public double TickValue2 = 50.5;
    public string RangeBarColorValue = "#FFDD00";
    public string RangeColorValue = "#E0E0E0";
    public string RangeBarColorValueTwo = "#FF2680";
    public string RangeColorValueTwo = "#E0E0E0";
    public string PointerColorValue = "#424242";
    public double TickValue = 1800;
    public void GaugeClick(Microsoft.AspNetCore.Components.Web.MouseEventArgs args)
    {
        Gauge2 = "none";
        Gauge1 = "block";
        pointerColorDisable = true;
        Min = 1000;
        Max = 2000;
        tick = (TickValue == 1800) ? 1800 : TickValue;
    }
    public void NetClick(Microsoft.AspNetCore.Components.Web.MouseEventArgs args)
    {
        Gauge1 = "none";
        Gauge2 = "block";
        pointerColorDisable = false;
        Min = 0;
        Max = 100;
        tick = (TickValue2 == 50.5) ? 50.5 : TickValue2;
        TickValue2 = (TickValue2 == 50.5) ? 50.5 : TickValue2;
    }

    private void TickChange(Syncfusion.Blazor.Inputs.SliderChangeEventArgs<double> args)
    {
        tick = args.Value;
        if (Min == 0)
        {
            TickValue2 = args.Value;
        }
        else
        {
            TickValue = args.Value;
        }
    }
    public class DropdownList
    {
        public string Value { get; set; }
        public string Name { get; set; }
    };
    public List<DropdownList> RangeBarColor = new List<DropdownList> {
        new DropdownList { Value="#FFDD00", Name="#FFDD00" },
        new DropdownList { Value="#00bdae", Name="#00bdae" },
        new DropdownList { Value="#FF2680", Name="#FF2680" }
    };
    public List<DropdownList> RangeColor = new List<DropdownList> {
        new DropdownList { Value="#E0E0E0", Name="#E0E0E0" },
        new DropdownList { Value="#7bb4eb", Name="#7bb4eb" },
        new DropdownList { Value="#ea7a57", Name="#ea7a57" }
    };
    public List<DropdownList> PointerColor = new List<DropdownList> {
        new DropdownList { Value="#424242", Name="#424242" },
        new DropdownList { Value="#6f6fe2", Name="#6f6fe2" },
        new DropdownList { Value="#9e480e", Name="#9e480e" }
    };
    public List<DropdownList> RangeBarColorTwo = new List<DropdownList> {
        new DropdownList { Value="#FF2680", Name="#FF2680" },
        new DropdownList { Value="#00bdae", Name="#00bdae" },
        new DropdownList { Value="#FFDD00", Name="#FFDD00" },
    };
    public List<DropdownList> RangeColorTwo = new List<DropdownList> {
        new DropdownList { Value="#E0E0E0", Name="#E0E0E0" },
        new DropdownList { Value="#7bb4eb", Name="#7bb4eb" },
        new DropdownList { Value="#ea7a57", Name="#ea7a57" }
    };
    public List<DropdownList> PointerColorTwo = new List<DropdownList> {
        new DropdownList { Value="#424242", Name="#424242" },
        new DropdownList { Value="#6f6fe2", Name="#6f6fe2" },
        new DropdownList { Value="#9e480e", Name="#9e480e" }
    };
    public void RangeBarColorchange(Syncfusion.Blazor.DropDowns.ChangeEventArgs<string> args)
    {

        RangeBarColorValue = args.Value;
    }
    public void RangeBarColorTwochange(Syncfusion.Blazor.DropDowns.ChangeEventArgs<string> args)
    {

        RangeBarColorValueTwo = args.Value;
    }
    public void RangeColorchange(Syncfusion.Blazor.DropDowns.ChangeEventArgs<string> rangeArgs)
    {
        RangeColorValue = rangeArgs.Value;
    }
    public void RangeColorTwochange(Syncfusion.Blazor.DropDowns.ChangeEventArgs<string> rangeArgs)
    {
        RangeColorValueTwo = rangeArgs.Value;
    }
    public void PointerColorchange(Syncfusion.Blazor.DropDowns.ChangeEventArgs<string> rangeArgs)
    {
        PointerColorValue = rangeArgs.Value;
    }
}