@page "/chart/area"

@using Syncfusion.Blazor
@using ThemeHelper
@using Syncfusion.Blazor.Charts

@inject NavigationManager NavigationManager
@*Hidden:Lines*@
@inherits SampleBaseComponent


@*End:Hidden*@

<SampleDescription>
    <p>This <a target='_blank' href='https://www.syncfusion.com/blazor-components/blazor-charts/chart-types/area-chart' aria-label="Navigate to documentation for area-chart in chart types">Blazor Area Chart</a> example visualizes music sales data by format in US by using a default area series in the chart.</p>
</SampleDescription>
<ActionDescription>
    <p>In this example, you can see how the area type chart can be rendered and configured. It is like the line chart, which represents time-dependent data and shows trends at equal intervals, but the area is closed and filled with the color of the series.</p>
    <p>More information about the area series can be found in this <a target='_blank' href='https://blazor.syncfusion.com/documentation/chart/chart-types/area' aria-label="Navigate to documentation for area in chart types">documentation section</a>.</p>
</ActionDescription>

<div class="control-section" align='center'>
    <SfChart Title="US Music Sales By Format" Theme="@Theme" Width="@Width">
        <ChartArea><ChartAreaBorder Width="0"></ChartAreaBorder></ChartArea>
        <ChartPrimaryXAxis Minimum="new DateTime(1973, 01, 01)" Maximum="new DateTime(2018, 01, 01)" ValueType="Syncfusion.Blazor.Charts.ValueType.DateTime" LabelFormat="yyyy" IntervalType="IntervalType.Years" EdgeLabelPlacement="EdgeLabelPlacement.Shift">
            <ChartAxisMajorGridLines Width="0"></ChartAxisMajorGridLines>
            <ChartAxisMinorTickLines Width="1"></ChartAxisMinorTickLines>
        </ChartPrimaryXAxis>
        <ChartPrimaryYAxis Title="In Billions (USD)" Minimum="0" Maximum="25" Interval="5">
            <ChartAxisMajorTickLines Width="0"></ChartAxisMajorTickLines>
            <ChartAxisLineStyle Width="0"></ChartAxisLineStyle>
        </ChartPrimaryYAxis>
        <ChartSeriesCollection>
            <ChartSeries DataSource="@Compact" XName="Period" YName="USD" Type="ChartSeriesType.Area">
                <ChartSeriesBorder Width="1.5" Color="white"></ChartSeriesBorder>
            </ChartSeries>
            <ChartSeries DataSource="@Download" XName="Period" YName="USD" Type="ChartSeriesType.Area">
                <ChartSeriesBorder Width="1.5" Color="white"></ChartSeriesBorder>
            </ChartSeries>
            <ChartSeries DataSource="@Streaming" XName="Period" YName="USD" Type="ChartSeriesType.Area">
                <ChartSeriesBorder Width="1.5" Color="white"></ChartSeriesBorder>
            </ChartSeries>
            <ChartSeries DataSource="@Casette" XName="Period" YName="USD" Type="ChartSeriesType.Area">
                <ChartSeriesBorder Width="1.5" Color="white"></ChartSeriesBorder>
            </ChartSeries>
            <ChartSeries DataSource="@Vinyl" XName="Period" YName="USD" Type="ChartSeriesType.Area">
                <ChartSeriesBorder Width="1.5" Color="white"></ChartSeriesBorder>
            </ChartSeries>
            <ChartSeries DataSource="@Track" XName="Period" YName="USD" Type="ChartSeriesType.Area">
                <ChartSeriesBorder Width="1.5" Color="white"></ChartSeriesBorder>
            </ChartSeries>
            <ChartSeries DataSource="@Other" XName="Period" YName="USD" Type="ChartSeriesType.Area">
                <ChartSeriesBorder Width="1.5" Color="white"></ChartSeriesBorder>
            </ChartSeries>
        </ChartSeriesCollection>
        <ChartAnnotations>
            <ChartAnnotation CoordinateUnits="Units.Point" X="new DateTime(2006, 01, 01)" Y="0.7">
                <ContentTemplate>
                    <div style="font-weight: bold; font-size: @Size; color: white; font-family: @FontFamily; text-shadow: @TextShadow;">OTHERS</div>
                </ContentTemplate>
            </ChartAnnotation>
            <ChartAnnotation CoordinateUnits="Units.Point" X="new DateTime(2015, 01, 01)" Y="1.2">
                <ContentTemplate>
                    <div style="font-weight: bold; font-size: @Size; color: white; font-family: @FontFamily; text-shadow: @TextShadow;">STREAMING</div>
                </ContentTemplate>
            </ChartAnnotation>
            <ChartAnnotation CoordinateUnits="Units.Point" X="new DateTime(2011, 06, 01)" Y="1.9">
                <ContentTemplate>
                    <div style="font-weight: bold; font-size: @Size; color: white; font-family: @FontFamily; text-shadow: @TextShadow;">DOWNLOAD</div>
                </ContentTemplate>
            </ChartAnnotation>
            <ChartAnnotation CoordinateUnits="Units.Point" X="new DateTime(2001, 01, 01)" Y="10">
                <ContentTemplate>
                    <div style="font-weight: bold; font-size: @Size; color: white; font-family: @FontFamily; text-shadow: @TextShadow;">COMPACT DISC</div>
                </ContentTemplate>
            </ChartAnnotation>
            <ChartAnnotation CoordinateUnits="Units.Point" X="new DateTime(1990, 01, 01)" Y="3">
                <ContentTemplate>
                    <div style="font-weight: bold; font-size: @Size; color: white; font-family: @FontFamily; text-shadow: @TextShadow;">CASSETTE</div>
                </ContentTemplate>
            </ChartAnnotation>
            <ChartAnnotation CoordinateUnits="Units.Point" X="new DateTime(1977, 01, 01)" Y="6">
                <ContentTemplate>
                    <div style="font-weight: bold; font-size: @Size; color: white; font-family: @FontFamily; text-shadow: @TextShadow;">VINYL</div>
                </ContentTemplate>
            </ChartAnnotation>
            <ChartAnnotation CoordinateUnits="Units.Point" X="new DateTime(1976, 01, 01)" Y="1.5">
                <ContentTemplate>
                    <div style="font-weight: bold; font-size: @Size; color: white; font-family: @FontFamily; text-shadow: @TextShadow;">8-TRACK</div>
                </ContentTemplate>
            </ChartAnnotation>
        </ChartAnnotations>
    </SfChart>
</div>

@code{

    
    private Theme Theme { get; set; }
    public string Width { get; set; } = "90%";
    public string Size { get; set; } = "11px";
    public string FontFamily { get; set; }
    public string TextShadow { get; set; } = "";
    public class AreaChartData {
        public DateTime Period { get; set; }
        public double USD { get; set; }
    }

    public List<AreaChartData> Other { get; set; } = new List<AreaChartData>
    {
        new AreaChartData { Period = new DateTime(1988, 01, 01), USD = -0.16 },
        new AreaChartData { Period = new DateTime(1989, 01, 01), USD = -0.17 },
        new AreaChartData { Period = new DateTime(1990, 01, 01), USD = -0.08 },
        new AreaChartData { Period = new DateTime(1992, 01, 01), USD = 0.08 },
        new AreaChartData { Period = new DateTime(1996, 01, 01), USD = 0.161 },
        new AreaChartData { Period = new DateTime(1998, 01, 01), USD = 0.48 },
        new AreaChartData { Period = new DateTime(1999, 01, 01), USD = 1.16 },
        new AreaChartData { Period = new DateTime(2001, 01, 01), USD = 0.40 },
        new AreaChartData { Period = new DateTime(2002, 01, 01), USD = 0.32 },
        new AreaChartData { Period = new DateTime(2003, 01, 01), USD = 0.807 },
        new AreaChartData { Period = new DateTime(2005, 01, 01), USD = 1.12 },
        new AreaChartData { Period = new DateTime(2006, 01, 01), USD = 1.614 },
        new AreaChartData { Period = new DateTime(2008, 01, 01), USD = 1.210 },
        new AreaChartData { Period = new DateTime(2009, 01, 01), USD = 1.12 },
        new AreaChartData { Period = new DateTime(2011, 01, 01), USD = 0.64 },
        new AreaChartData { Period = new DateTime(2013, 01, 01), USD = 0.161 },
        new AreaChartData { Period = new DateTime(2018, 01, 01), USD = 0.080 }
    };

    public List<AreaChartData> Track { get; set; } = new List<AreaChartData>
    {
        new AreaChartData { Period = new DateTime(1973, 01, 01), USD = 2.58 },
        new AreaChartData { Period = new DateTime(1975, 01, 01), USD = 2.25 },
        new AreaChartData { Period = new DateTime(1977, 01, 01), USD = 3.55 },
        new AreaChartData { Period = new DateTime(1978, 01, 01), USD = 2.42 },
        new AreaChartData { Period = new DateTime(1981, 01, 01), USD = -0.24 },
        new AreaChartData { Period = new DateTime(1982, 01, 01), USD = -0 }
    };

    public List<AreaChartData> Streaming { get; set; } = new List<AreaChartData>
    {
        new AreaChartData { Period = new DateTime(2011, 01, 01), USD = 0.48 },
        new AreaChartData { Period = new DateTime(2013, 01, 01), USD = 1.61 },
        new AreaChartData { Period = new DateTime(2015, 01, 01), USD = 2.17 },
        new AreaChartData { Period = new DateTime(2017, 01, 01), USD = 7.18 }
    };

    public List<AreaChartData> Download { get; set; } = new List<AreaChartData>
    {
        new AreaChartData { Period = new DateTime(2004, 01, 01), USD = 0.48 },
        new AreaChartData { Period = new DateTime(2007, 01, 01), USD = 1.45 },
        new AreaChartData { Period = new DateTime(2012, 01, 01), USD = 2.82 },
        new AreaChartData { Period = new DateTime(2013, 01, 01), USD = 2.58 },
        new AreaChartData { Period = new DateTime(2015, 01, 01), USD = 2.01 },
        new AreaChartData { Period = new DateTime(2016, 01, 01), USD = 1.61 },
        new AreaChartData { Period = new DateTime(2017, 01, 01), USD = 0.80 }
    };

    public List<AreaChartData> Compact { get; set; } = new List<AreaChartData>
    {
        new AreaChartData { Period = new DateTime(1990, 01, 01), USD = 0.69 },
        new AreaChartData { Period = new DateTime(1992, 01, 01), USD = 2.86 },
        new AreaChartData { Period = new DateTime(1995, 01, 01), USD = 10.2 },
        new AreaChartData { Period = new DateTime(1996, 01, 01), USD = 13.0 },
        new AreaChartData { Period = new DateTime(1997, 01, 01), USD = 14.35 },
        new AreaChartData { Period = new DateTime(1998, 01, 01), USD = 15.17 },
        new AreaChartData { Period = new DateTime(1999, 01, 01), USD = 14.89 },
        new AreaChartData { Period = new DateTime(2000, 01, 01), USD = 18.96 },
        new AreaChartData { Period = new DateTime(2001, 01, 01), USD = 18.78 },
        new AreaChartData { Period = new DateTime(2004, 01, 01), USD = 14.25 },
        new AreaChartData { Period = new DateTime(2005, 01, 01), USD = 14.24 },
        new AreaChartData { Period = new DateTime(2006, 01, 01), USD = 12.34 },
        new AreaChartData { Period = new DateTime(2007, 01, 01), USD = 9.34 },
        new AreaChartData { Period = new DateTime(2008, 01, 01), USD = 4.45 },
        new AreaChartData { Period = new DateTime(2010, 01, 01), USD = 1.46 },
        new AreaChartData { Period = new DateTime(2011, 01, 01), USD = 0.64 }
    };

    public List<AreaChartData> Casette { get; set; } = new List<AreaChartData>
    {
        new AreaChartData { Period = new DateTime(1976, 01, 01), USD = 0.08 },
        new AreaChartData { Period = new DateTime(1979, 01, 01), USD = 1.85 },
        new AreaChartData { Period = new DateTime(1980, 01, 01), USD = 2.0 },
        new AreaChartData { Period = new DateTime(1982, 01, 01), USD = 3.55 },
        new AreaChartData { Period = new DateTime(1984, 01, 01), USD = 5.40 },
        new AreaChartData { Period = new DateTime(1985, 01, 01), USD = 5.24 },
        new AreaChartData { Period = new DateTime(1988, 01, 01), USD = 6.94 },
        new AreaChartData { Period = new DateTime(1989, 01, 01), USD = 6.85 },
        new AreaChartData { Period = new DateTime(1990, 01, 01), USD = 7.02 },
        new AreaChartData { Period = new DateTime(1992, 01, 01), USD = 5.81 },
        new AreaChartData { Period = new DateTime(1993, 01, 01), USD = 5.32 },
        new AreaChartData { Period = new DateTime(1994, 01, 01), USD = 4.03 },
        new AreaChartData { Period = new DateTime(1997, 01, 01), USD = 2.25 },
        new AreaChartData { Period = new DateTime(1998, 01, 01), USD = 2.01 },
        new AreaChartData { Period = new DateTime(1999, 01, 01), USD = 0.80 },
        new AreaChartData { Period = new DateTime(2001, 01, 01), USD = 0.40 }
    };

    public List<AreaChartData> Vinyl { get; set; } = new List<AreaChartData>
    {
        new AreaChartData { Period = new DateTime(1973, 01, 01), USD = 7.74 },
        new AreaChartData { Period = new DateTime(1974, 01, 01), USD = 7.58 },
        new AreaChartData { Period = new DateTime(1976, 01, 01), USD = 8.23 },
        new AreaChartData { Period = new DateTime(1977, 01, 01), USD = 9.68 },
        new AreaChartData { Period = new DateTime(1978, 01, 01), USD = 10.16 },
        new AreaChartData { Period = new DateTime(1979, 01, 01), USD = 8.15 },
        new AreaChartData { Period = new DateTime(1981, 01, 01), USD = 6.77 },
        new AreaChartData { Period = new DateTime(1982, 01, 01), USD = 5.64 },
        new AreaChartData { Period = new DateTime(1984, 01, 01), USD = 4.35 },
        new AreaChartData { Period = new DateTime(1985, 01, 01), USD = 2.50 },
        new AreaChartData { Period = new DateTime(1989, 01, 01), USD = 0.64 },
        new AreaChartData { Period = new DateTime(1990, 01, 01), USD = 0 }
    };

    protected override void OnInitialized()
    {
        
        Theme = ThemeHelper.GetCurrentTheme(NavigationManager.Uri);
        if (SampleService.IsDevice)
        {
            Size = "6px";
            TextShadow = "1px 1px black";
            Width = "100%";
            StateHasChanged();
        }
        FontFamily = ThemeHelper.GetFontFamily(NavigationManager.Uri);
    }
}
