@page "/chart/bar"

@using Syncfusion.Blazor
@*Hidden:Lines*@
@using ThemeHelper
@*End:Hidden*@
@using Syncfusion.Blazor.Charts

@inject NavigationManager NavigationManager
@*Hidden:Lines*@
@inherits SampleBaseComponent


@*End:Hidden*@

<SampleDescription>
    <p>This example demonstrates the global smartphone sales trends by brand from 2021 to 2023 using a bar chart. The data is visualized with bars representing unit sales for different brands, highlighting the comparative performance of each brand over the years.</p>
</SampleDescription>
<ActionDescription>
    <p>
       This example demonstrates the global smartphone sales trends by brand from 2021 to 2023 using a bar chart. The data is visualized with bars representing unit sales for different brands, highlighting the comparative performance of each brand over the years.
    </p>
    <p><code>Tooltip</code> is enabled in this example. To see the tooltip in action, hover over a point or tap on a point in touch-enabled devices.
        More information about the bar series can be found in this <a target='_blank' href='https://blazor.syncfusion.com/documentation/chart/chart-types/bar' aria-label="Navigate to the documentation for Bar Charts in chart component">documentation section</a>.
    </p>
</ActionDescription>

<div class="control-section" align='center'>
    <SfChart Title="Global Smartphone Sales Trends by Brand (2021-2023)" SubTitle="Source: wikipedia.org" Width="@Width" Theme="@Theme">
        <ChartTitleStyle TextOverflow="TextOverflow.Wrap"></ChartTitleStyle>
        <ChartSubTitleStyle TextOverflow="TextOverflow.Wrap"></ChartSubTitleStyle>
        <ChartArea><ChartAreaBorder Width="0"></ChartAreaBorder></ChartArea>
        <ChartMargin Bottom="12"></ChartMargin>
        <ChartPrimaryXAxis ValueType="Syncfusion.Blazor.Charts.ValueType.Category">
            <ChartAxisMajorGridLines Width="0"></ChartAxisMajorGridLines>
            <ChartAxisMajorTickLines Width="0"></ChartAxisMajorTickLines>
        </ChartPrimaryXAxis>
        <ChartPrimaryYAxis Title="Units Sold (in Millions)" LabelFormat="{value}M" EdgeLabelPlacement="EdgeLabelPlacement.Shift" Maximum="300">
            <ChartAxisMajorTickLines Width="0"></ChartAxisMajorTickLines>
            <ChartAxisLineStyle Width="0"></ChartAxisLineStyle>
        </ChartPrimaryYAxis>
        <ChartTooltipSettings Enable="true" EnableHighlight="true" Header="<b>${series.name}</b>" Format="${point.x} : <b>${point.y}</b>"></ChartTooltipSettings>
        <ChartLegendSettings Visible="true" ShapeHeight="9" ShapeWidth="9" EnableHighlight="true"></ChartLegendSettings>
        <ChartSeriesCollection>
            <ChartSeries DataSource="@AppleData" XName="Year" YName="Count" Name="Apple" Width="2" ColumnSpacing="0.3" Type="ChartSeriesType.Bar" LegendShape="LegendShape.Rectangle">
                <ChartCornerRadius BottomRight="4" TopRight="4" />
                <ChartMarker>
                    <ChartDataLabel Visible="false" Position="LabelPosition.Top">
                        <ChartDataLabelFont FontWeight="600" Color="#ffffff"></ChartDataLabelFont>
                    </ChartDataLabel>
                </ChartMarker>
            </ChartSeries>
            <ChartSeries DataSource="@XiaomiData" XName="Year" YName="Count" Name="Xiaomi" Width="2" ColumnSpacing="0.3" Type="ChartSeriesType.Bar" LegendShape="LegendShape.Rectangle">
                <ChartCornerRadius BottomRight="4" TopRight="4" />
                <ChartMarker>
                    <ChartDataLabel Visible="false" Position="LabelPosition.Top">
                        <ChartDataLabelFont FontWeight="600" Color="#ffffff"></ChartDataLabelFont>
                    </ChartDataLabel>
                </ChartMarker>
            </ChartSeries>
            <ChartSeries DataSource="@OppoData" XName="Year" YName="Count" Name="Oppo" Width="2" ColumnSpacing="0.3" Type="ChartSeriesType.Bar" LegendShape="LegendShape.Rectangle">
                <ChartCornerRadius BottomRight="4" TopRight="4" />
                <ChartMarker>
                    <ChartDataLabel Visible="false" Position="LabelPosition.Top">
                        <ChartDataLabelFont FontWeight="600" Color="#ffffff"></ChartDataLabelFont>
                    </ChartDataLabel>
                </ChartMarker>
            </ChartSeries>
        </ChartSeriesCollection>
    </SfChart>
</div>

@code{

    
    private Theme Theme { get; set; }
    public string Width { get; set; } = "90%";
    public List<SalesData> AppleData = new List<SalesData>
    {
        new SalesData { Year = "2021", Count = 237 },
        new SalesData { Year = "2022", Count = 226.4 },
        new SalesData { Year = "2023", Count = 234.6 }
    };

    public List<SalesData> XiaomiData = new List<SalesData>
    {
        new SalesData { Year = "2021", Count = 190 },
        new SalesData { Year = "2022", Count = 153.1 },
        new SalesData { Year = "2023", Count = 145.9 }
    };

    public List<SalesData> OppoData = new List<SalesData>
    {
        new SalesData { Year = "2021", Count = 143 },
        new SalesData { Year = "2022", Count = 103.3 },
        new SalesData { Year = "2023", Count = 103.1 }
    };

    public class SalesData
    {
        public string? Year { get; set; }
        public double Count { get; set; }
    }

    protected override void OnInitialized()
    {
        Theme = ThemeHelper.GetCurrentTheme(NavigationManager.Uri);
        @*Hidden:Lines*@
         if (SampleService != null && SampleService.IsDevice)
        {
            Width = "100%";
        }
        @*End:Hidden*@
    }

}
