@page "/chart/custom-animation"

@using Syncfusion.Blazor.Charts
@*Hidden:Lines*@
@using ThemeHelper
@*End:Hidden*@
@using Syncfusion.Blazor
@inject NavigationManager NavigationManager
@*Hidden:Lines*@
@inherits SampleBaseComponent
@*End:Hidden*@

<SampleDescription>
    <p>This sample visualizes the almond yield per hectare data for different countries using a spline series in the chart. The data points are enhanced with tooltip and the animation delay is configured to provide a smooth, staggered effect.</p>
</SampleDescription>

<ActionDescription>
    <p>
        In this example, you can see how to render and configure a spline chart with multiple series representing almond yield across different countries over time. Spline charts are ideal for visualizing smooth trends in data over equal intervals, particularly time-dependent data.The <code>Width</code> and <code>Animation</code> properties are used to customize the appearance and behavior of the spline. The staggered animations enhance the visual experience by introducing each spline in sequence.
    </p>
    <p>
        <code>Tooltip</code> is enabled in this example. To see the tooltip in action, hover over a point or tap on a point on touch-enabled devices.
    </p>
    <p>
        More information about the spline series can be found in this <a target='_blank' href='https://blazor.syncfusion.com/documentation/chart/chart-types/spline' aria-label="Navigate to the documentation for spline chart">documentation section</a>.
    </p>
</ActionDescription>

<div class="control-section" align='center'>
    <SfChart Title="Almond Yield Comparison Across Countries (2010–2022)" Width="@Width" Theme="@Theme">
        <ChartTitleStyle TextOverflow="TextOverflow.Wrap"></ChartTitleStyle>
        <ChartMargin Bottom="40"></ChartMargin>    
        <ChartArea>
            <ChartAreaBorder Width="0"></ChartAreaBorder>
        </ChartArea>
        <ChartPrimaryXAxis ValueType="Syncfusion.Blazor.Charts.ValueType.DateTime" LabelFormat="yyyy"
            EdgeLabelPlacement="EdgeLabelPlacement.Shift">
            <ChartAxisMajorGridLines Width="0"></ChartAxisMajorGridLines>
        </ChartPrimaryXAxis>
        <ChartPrimaryYAxis Minimum="0" Maximum="8" Interval="2" Title="Yield (In Tons per Hectare)"
            EdgeLabelPlacement="EdgeLabelPlacement.Shift">
            <ChartAxisMajorTickLines Width="0"></ChartAxisMajorTickLines>
            <ChartAxisMinorTickLines Width="0"></ChartAxisMinorTickLines>
            <ChartAxisLineStyle Width="0"></ChartAxisLineStyle>
        </ChartPrimaryYAxis>
        <ChartSeriesCollection>
            <ChartSeries Type="ChartSeriesType.Spline" Width="3" Name="United States"
                        DataSource="@ChartData" XName="X" YName="Y1">
                <ChartSeriesAnimation Enable="true" Duration="1500"></ChartSeriesAnimation>
            </ChartSeries>
            <ChartSeries Type="ChartSeriesType.Spline" Width="3" Name="China"
                        DataSource="@ChartData" XName="X" YName="Y2">
                <ChartSeriesAnimation Enable="true" Delay="1300" Duration="1500"></ChartSeriesAnimation>
            </ChartSeries>
            <ChartSeries Type="ChartSeriesType.Spline" Width="3" Name="Afghanistan"
                        DataSource="@ChartData" XName="X" YName="Y3">
                <ChartSeriesAnimation Enable="true" Delay="2600" Duration="1500"></ChartSeriesAnimation>
            </ChartSeries>
            <ChartSeries Type="ChartSeriesType.Spline" Width="3" Name="Yemen"
                        DataSource="@ChartData" XName="X" YName="Y4">
                <ChartSeriesAnimation Enable="true" Delay="3900" Duration="1500"></ChartSeriesAnimation>
            </ChartSeries>
            <ChartSeries Type="ChartSeriesType.Spline" Width="3" Name="Australia"
                        DataSource="@ChartData" XName="X" YName="Y">
                <ChartSeriesAnimation Enable="true" Delay="5200" Duration="1500"></ChartSeriesAnimation>
            </ChartSeries>
            <ChartLegendSettings Visible="true" EnableHighlight="true"></ChartLegendSettings>
        </ChartSeriesCollection>
        <ChartTooltipSettings Enable="true" Shared="true" Format="${series.name}: <b>${point.y}</b>" Header="<b>Almond Yield - ${point.x}</b>">
        </ChartTooltipSettings>
    </SfChart>
</div>
@code {


    private Theme Theme { get; set; }
    public string Width { get; set; } = "90%";

    protected override void OnInitialized()
    {
        Theme = ThemeHelper.GetCurrentTheme(NavigationManager.Uri);
        @*Hidden:Lines*@
        if (SampleService != null && SampleService.IsDevice)
        {
            Width = "100%";
        }
        @*End:Hidden*@
    }

    public List<DataPoint> ChartData = new List<DataPoint> {
        new DataPoint { X = new DateTime(2010, 1, 1), Y = 5.00, Y1 = 4.54, Y2 = 3.62, Y3 = 2.92, Y4 = 1.87 },
        new DataPoint { X = new DateTime(2011, 1, 1), Y = 5.69, Y1 = 4.50, Y2 = 3.23, Y3 = 3.00, Y4 = 1.87 },
        new DataPoint { X = new DateTime(2012, 1, 1), Y = 4.99, Y1 = 4.60, Y2 = 4.19, Y3 = 2.97, Y4 = 1.85 },
        new DataPoint { X = new DateTime(2013, 1, 1), Y = 5.65, Y1 = 5.04, Y2 = 2.99, Y3 = 2.97, Y4 = 1.84 },
        new DataPoint { X = new DateTime(2014, 1, 1), Y = 5.43, Y1 = 4.39, Y2 = 3.07, Y3 = 2.00, Y4 = 1.84 },
        new DataPoint { X = new DateTime(2015, 1, 1), Y = 5.51, Y1 = 3.86, Y2 = 3.19, Y3 = 1.88, Y4 = 1.65 },
        new DataPoint { X = new DateTime(2016, 1, 1), Y = 6.12, Y1 = 4.12, Y2 = 3.28, Y3 = 1.81, Y4 = 1.69 },
        new DataPoint { X = new DateTime(2017, 1, 1), Y = 6.68, Y1 = 6.35, Y2 = 4.12, Y3 = 1.79, Y4 = 1.38 },
        new DataPoint { X = new DateTime(2018, 1, 1), Y = 5.52, Y1 = 3.90, Y2 = 3.39, Y3 = 1.75, Y4 = 1.72 },
        new DataPoint { X = new DateTime(2019, 1, 1), Y = 5.59, Y1 = 4.01, Y2 = 3.46, Y3 = 1.75, Y4 = 1.31 },
        new DataPoint { X = new DateTime(2020, 1, 1), Y = 5.46, Y1 = 4.64, Y2 = 3.52, Y3 = 1.78, Y4 = 1.75 },
        new DataPoint { X = new DateTime(2021, 1, 1), Y = 6.08, Y1 = 4.12, Y2 = 3.58, Y3 = 1.74, Y4 = 1.29 },
        new DataPoint { X = new DateTime(2022, 1, 1), Y = 6.23, Y1 = 3.64, Y2 = 3.40, Y3 = 1.73, Y4 = 1.64 }
    };

    public class DataPoint
    {
        public DateTime X { get; set; }
        public double Y { get; set; }
        public double Y1 { get; set; }
        public double Y2 { get; set; }
        public double Y3 { get; set; }
        public double Y4 { get; set; }
    }
}
