@page "/chart/dashed-line"

@using Syncfusion.Blazor.Charts
@using ThemeHelper
@using Syncfusion.Blazor
@inject NavigationManager NavigationManager
@*Hidden:Lines*@
@inherits SampleBaseComponent


@*End:Hidden*@

<SampleDescription>
    <p>This sample illustrates global population trends from 1950 to 2100, with solid lines representing historical data and dashed lines for projections.</p>
</SampleDescription>
<ActionDescription>
    <p>
      In this example, you will see how to render and configure a line chart. Line charts are used to represent time-dependent data, showing trends in data at equal intervals. You can use 
        <a target='_blank' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Charts.ChartSeries.html#Syncfusion_Blazor_Charts_ChartSeries_DashArray' aria-label="Navigate to the DashArray property reference for chart series">DashArray</a>, <a target='_blank' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Charts.ChartSeries.html#Syncfusion_Blazor_Charts_ChartSeries_Width' aria-label="Navigate to the Width property reference for chart series">Width</a>, and <a target='_blank' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Charts.ChartSeries.html#Syncfusion_Blazor_Charts_ChartSeries_Fill' aria-label="Navigate to the Fill property reference for chart series">Fill</a> properties to customize the line.
    </p>
    <p><code>Tooltip</code> is enabled in this example. To see the tooltip in action, hover a point or tap on a point in touch enabled devices.</p>
    <p>More information about the dashed line can be found in this <a target='_blank' href='https://blazor.syncfusion.com/documentation/chart/chart-types/line#series-customization' aria-label="Navigate to the documentation for Series customization in line chart">documentation section</a>.</p>
</ActionDescription>



<div class="control-section" align='center'>
    <SfChart Title="Global Population Trends by Age Group (1950–2100)" SubTitle="Source: ourworldindata.org" Width="@Width" Theme="@Theme">
        <ChartTitleStyle TextOverflow="TextOverflow.Wrap"></ChartTitleStyle>
        <ChartSubTitleStyle TextOverflow="TextOverflow.Wrap"></ChartSubTitleStyle>
        <ChartEvents OnAxisLabelRender="AxisLabelRender" SharedTooltipRender="SharedTooltipRender"></ChartEvents>
        <ChartArea><ChartAreaBorder Width="0"></ChartAreaBorder></ChartArea>
       <ChartPrimaryXAxis ValueType="Syncfusion.Blazor.Charts.ValueType.Double" Minimum="1950" Maximum="2100" Interval="30" LabelRotation="@Rotation" LabelIntersectAction="@Label">
            <ChartAxisLineStyle Width="0"></ChartAxisLineStyle>
            <ChartAxisMajorTickLines Width="0"></ChartAxisMajorTickLines>
            <ChartAxisMajorGridLines Width="0"></ChartAxisMajorGridLines>
        </ChartPrimaryXAxis>
        <ChartPrimaryYAxis Title="Population (in Billions)" Maximum="12e9" Interval="2e9">
            <ChartAxisLineStyle Width="0"></ChartAxisLineStyle>
            <ChartAxisMajorTickLines Width="0"></ChartAxisMajorTickLines>
        </ChartPrimaryYAxis>
        <ChartTooltipSettings Enable="true" Shared="true"></ChartTooltipSettings>
        <ChartLegendSettings Visible="true"></ChartLegendSettings>
        <ChartCrosshairSettings Enable="false" LineType="LineType.Vertical">
        </ChartCrosshairSettings>
        <ChartSeriesCollection>
            <ChartSeries DataSource="@LineData" XName="X" Width="2" YName="Y" Type="ChartSeriesType.Line" Name="Total">
                <ChartMarker Visible="false" Width="7" Height="7">
                </ChartMarker>
            </ChartSeries>
            <ChartSeries DataSource="@DashedLineData" XName="X" Width="2" YName="Y" Type="ChartSeriesType.Line" TooltipFormat="Total: ${point.y}" DashArray="4,4">
                <ChartMarker Visible="false" Width="7" Height="7">
                </ChartMarker>
            </ChartSeries>
            <ChartSeries DataSource="@LineData" XName="X" Width="2" YName="Y1" Type="ChartSeriesType.Line" Name="Ages 65+">
                <ChartMarker Visible="false" Width="7" Height="7">
                </ChartMarker>
            </ChartSeries>
             <ChartSeries DataSource="@DashedLineData" XName="X" Width="2" YName="Y1" Type="ChartSeriesType.Line" TooltipFormat="Ages 65+: ${point.y}" DashArray="4,4">
                <ChartMarker Visible="false" Width="7" Height="7">
                </ChartMarker>
            </ChartSeries>
            <ChartSeries DataSource="@LineData" XName="X" Width="2" YName="Y2" Type="ChartSeriesType.Line" Name="Ages 25-64">
                <ChartMarker Visible="false" Width="7" Height="7">
                </ChartMarker>
            </ChartSeries>
            <ChartSeries DataSource="@DashedLineData" XName="X" Width="2" YName="Y2" Type="ChartSeriesType.Line" TooltipFormat="Ages 25-64: ${point.y}" DashArray="4,4">
                <ChartMarker Visible="false" Width="7" Height="7">
                </ChartMarker>
            </ChartSeries>
            <ChartSeries DataSource="@LineData" XName="X" Width="2" YName="Y3" Type="ChartSeriesType.Line" Name="Under-25s">
                <ChartMarker Visible="false" Width="7" Height="7">
                </ChartMarker>
            </ChartSeries>
            <ChartSeries DataSource="@DashedLineData" XName="X" Width="2" YName="Y3" Type="ChartSeriesType.Line" TooltipFormat="Under-25s: ${point.y}" DashArray="4,4">
                <ChartMarker Visible="false" Width="7" Height="7">
                </ChartMarker>
            </ChartSeries>
            <ChartSeries DataSource="@LineData" XName="X" Width="2" YName="Y4" Type="ChartSeriesType.Line" Name="Under-15s">
                <ChartMarker Visible="false" Width="7" Height="7">
                </ChartMarker>
            </ChartSeries>
            <ChartSeries DataSource="@DashedLineData" XName="X" Width="2" YName="Y4" Type="ChartSeriesType.Line" TooltipFormat="Under-15s: ${point.y}" DashArray="4,4">
                <ChartMarker Visible="false" Width="7" Height="7">
                </ChartMarker>
            </ChartSeries>
            <ChartSeries DataSource="@LineData" XName="X" Width="2" YName="Y5" Type="ChartSeriesType.Line" Name="Under-5s">
                <ChartMarker Visible="false" Width="7" Height="7">
                </ChartMarker>
            </ChartSeries>
            <ChartSeries DataSource="@DashedLineData" XName="X" Width="2" YName="Y5" Type="ChartSeriesType.Line" TooltipFormat="Under-5s: ${point.y}" DashArray="4,4">
                <ChartMarker Visible="false" Width="7" Height="7">
                </ChartMarker>
            </ChartSeries>
        </ChartSeriesCollection>
    </SfChart>
</div>
<style>
g[id^="chart"][id$="SeriesGroup1"], 
g[id^="chart"][id$="SeriesGroup3"], 
g[id^="chart"][id$="SeriesGroup5"], 
g[id^="chart"][id$="SeriesGroup7"], 
g[id^="chart"][id$="SeriesGroup9"], 
g[id^="chart"][id$="SeriesGroup11"] {
    stroke-dasharray: 4px 4px;
    stroke-linejoin: round;
    stroke-linecap: round;
    -webkit-animation: dash 1s linear infinite;
    animation: dash 1s linear infinite;
}
 @@-webkit-keyframes dash {
        100% {
            stroke-dashoffset: -20px;
        }
    }
 
    @@keyframes dash {
        100% {
            stroke-dashoffset: -20px;
        }
    }

    @@keyframes opac {
        0% {
            stroke-opacity: 1;
            stroke-width: 0px;
        }
        100% {
            stroke-opacity: 0;
            stroke-width: 10px;
        }
    }
</style>

@code{
    
    private Theme Theme { get; set; }
    public string Width { get; set; } = "90%";
    public LabelIntersectAction Label { get; set; } = LabelIntersectAction.Trim;
    public double Rotation { get; set; } = 0;
    public class PopulationData
    {
        public int X { get; set; }
        public double Y { get; set; }
        public double Y1 { get; set; }
        public double Y2 { get; set; }
        public double Y3 { get; set; }
        public double Y4 { get; set; }
        public double Y5 { get; set; }
    };

    public List<PopulationData> LineData = new List<PopulationData>
    {
     new PopulationData  { X= 1950, Y= 2493092843, Y1= 126304100, Y2= 1042159246, Y3= 1324614904, Y4= 867732396, Y5= 343353092 },
     new PopulationData  { X= 1951, Y= 2536927039, Y1= 127874077, Y2= 1059306957, Y3= 1349731048, Y4= 887027436, Y5= 357004128 },
     new PopulationData  { X= 1952, Y= 2584086332, Y1= 129789937, Y2= 1077187100, Y3= 1377093884, Y4= 908405828, Y5= 369808784 },
     new PopulationData  { X= 1953, Y= 2634106246, Y1= 132153416, Y2= 1096035634, Y3= 1405901764, Y4= 931753376, Y5= 382937200 },
     new PopulationData  { X= 1954, Y= 2685894869, Y1= 134605062, Y2= 1115476219, Y3= 1435798628, Y4= 956729584, Y5= 394915600 },
     new PopulationData  { X= 1955, Y= 2740213784, Y1= 136880366, Y2= 1135578064, Y3= 1467741048, Y4= 983973024, Y5= 405901520 },
     new PopulationData  { X= 1956, Y= 2795409978, Y1= 139125007, Y2= 1155761749, Y3= 1500508948, Y4= 1011888692, Y5= 415775920 },
     new PopulationData  { X= 1957, Y= 2852618346, Y1= 141568323, Y2= 1175591988, Y3= 1535443604, Y4= 1042438600, Y5= 425253344 },
     new PopulationData  { X= 1958, Y= 2911249658, Y1= 144363555, Y2= 1195306118, Y3= 1571565948, Y4= 1074936332, Y5= 433848472 },
     new PopulationData  { X= 1959, Y= 2965950358, Y1= 147197383, Y2= 1214751313, Y3= 1603988080, Y4= 1103604040, Y5= 437784216 },
     new PopulationData  { X= 1960, Y= 3015470890, Y1= 149860352, Y2= 1233928643, Y3= 1631668376, Y4= 1127544516, Y5= 436596448 },
     new PopulationData  { X= 1961, Y= 3064869656, Y1= 152850029, Y2= 1253708611, Y3= 1658297144, Y4= 1148386820, Y5= 434964720 },
     new PopulationData  { X= 1962, Y= 3123374299, Y1= 156395576, Y2= 1274900546, Y3= 1692063800, Y4= 1173295688, Y5= 438972640 },
     new PopulationData  { X= 1963, Y= 3192807820, Y1= 160302497, Y2= 1296562666, Y3= 1735927828, Y4= 1206503268, Y5= 452062216 },
     new PopulationData  { X= 1964, Y= 3264487340, Y1= 164451917, Y2= 1317979479, Y3= 1782040416, Y4= 1239592904, Y5= 469172200 },
     new PopulationData  { X= 1965, Y= 3334533717, Y1= 169108161, Y2= 1338894058, Y3= 1826515176, Y4= 1268384936, Y5= 485583192 },
     new PopulationData  { X= 1966, Y= 3404041107, Y1= 174013799, Y2= 1359285314, Y3= 1870725008, Y4= 1295130168, Y5= 501321120 },
     new PopulationData  { X= 1967, Y= 3473412894, Y1= 179017542, Y2= 1379099986, Y3= 1915277412, Y4= 1319254600, Y5= 511678312 },
     new PopulationData  { X= 1968, Y= 3545187239, Y1= 184229600, Y2= 1398152460, Y3= 1962786172, Y4= 1343769016, Y5= 515962920 },
     new PopulationData  { X= 1969, Y= 3619491592, Y1= 189539722, Y2= 1417310770, Y3= 2012621136, Y4= 1369478312, Y5= 520507776 },
     new PopulationData  { X= 1970, Y= 3694683801, Y1= 195016711, Y2= 1437190872, Y3= 2062454968, Y4= 1393771016, Y5= 526956400 },
     new PopulationData  { X= 1971, Y= 3769847834, Y1= 200588292, Y2= 1459336606, Y3= 2109900176, Y4= 1417853552, Y5= 534032664 },
     new PopulationData  { X= 1972, Y= 3844917687, Y1= 206390747, Y2= 1484884110, Y3= 2153618424, Y4= 1440422400, Y5= 541213960 },
     new PopulationData  { X= 1973, Y= 3920805030, Y1= 212422892, Y2= 1512563538, Y3= 2195792440, Y4= 1462497824, Y5= 546365040 },
     new PopulationData  { X= 1974, Y= 3996416108, Y1= 218717961, Y2= 1542270558, Y3= 2235399592, Y4= 1486019592, Y5= 548583600 },
     new PopulationData  { X= 1975, Y= 4070735264, Y1= 225166613, Y2= 1574702706, Y3= 2270835680, Y4= 1508916512, Y5= 548458064 },
     new PopulationData  { X= 1976, Y= 4144246391, Y1= 231559948, Y2= 1608826064, Y3= 2303827704, Y4= 1530800952, Y5= 547089112 },
     new PopulationData  { X= 1977, Y= 4217863819, Y1= 238154900, Y2= 1645110360, Y3= 2334563496, Y4= 1547645704, Y5= 545866904 },
     new PopulationData  { X= 1978, Y= 4292097508, Y1= 245024620, Y2= 1683215588, Y3= 2363819640, Y4= 1556720360, Y5= 545028776 },
     new PopulationData  { X= 1979, Y= 4368539472, Y1= 252002993, Y2= 1722489600, Y3= 2394006664, Y4= 1565820904, Y5= 546646552 },
     new PopulationData  { X= 1980, Y= 4447606208, Y1= 258253409, Y2= 1764580050, Y3= 2424729928, Y4= 1578266056, Y5= 551846088 },
     new PopulationData  { X= 1981, Y= 4528777285, Y1= 263195672, Y2= 1808778556, Y3= 2456757336, Y4= 1592682840, Y5= 559671496 },
     new PopulationData  { X= 1982, Y= 4612673436, Y1= 267593878, Y2= 1854986672, Y3= 2490043408, Y4= 1610230968, Y5= 570399848 },
     new PopulationData  { X= 1983, Y= 4697327604, Y1= 272017870, Y2= 1901816808, Y3= 2523439120, Y4= 1626733184, Y5= 581810632 },
     new PopulationData  { X= 1984, Y= 4782175500, Y1= 277170763, Y2= 1945941806, Y3= 2559004464, Y4= 1641254336, Y5= 591666648 },
     new PopulationData  { X= 1985, Y= 4868943460, Y1= 283540500, Y2= 1988008110, Y3= 2597331592, Y4= 1656735296, Y5= 601095160 },
     new PopulationData  { X= 1986, Y= 4958072822, Y1= 290665853, Y2= 2029712638, Y3= 2637625464, Y4= 1673777344, Y5= 610851352 },
     new PopulationData  { X= 1987, Y= 5049746378, Y1= 298201619, Y2= 2075990698, Y3= 2675478592, Y4= 1693431288, Y5= 620493512 },
     new PopulationData  { X= 1988, Y= 5141992550, Y1= 306184817, Y2= 2129663112, Y3= 2706062632, Y4= 1713928864, Y5= 629807696 },
     new PopulationData  { X= 1989, Y= 5234431714, Y1= 314703670, Y2= 2184634986, Y3= 2735005000, Y4= 1735347000, Y5= 639046304 },
     new PopulationData  { X= 1990, Y= 5327803075, Y1= 323619711, Y2= 2238415822, Y3= 2765674296, Y4= 1758562896, Y5= 647145312 },
     new PopulationData  { X= 1991, Y= 5418735879, Y1= 332665856, Y2= 2291717918, Y3= 2794254864, Y4= 1780282120, Y5= 650732200 },
     new PopulationData  { X= 1992, Y= 5505989821, Y1= 341998187, Y2= 2343506204, Y3= 2820384936, Y4= 1799662128, Y5= 648925872 },
     new PopulationData  { X= 1993, Y= 5591544841, Y1= 351680100, Y2= 2396466244, Y3= 2843295464, Y4= 1817863560, Y5= 645336136 },
     new PopulationData  { X= 1994, Y= 5675551281, Y1= 361762416, Y2= 2450773196, Y3= 2862909328, Y4= 1833093864, Y5= 640546200 },
     new PopulationData  { X= 1995, Y= 5758878997, Y1= 371721306, Y2= 2505532870, Y3= 2881513424, Y4= 1845505312, Y5= 634154088 },
     new PopulationData  { X= 1996, Y= 5842055726, Y1= 381398079, Y2= 2560800906, Y3= 2899738688, Y4= 1855881872, Y5= 629364568 },
     new PopulationData  { X= 1997, Y= 5924787787, Y1= 391326985, Y2= 2615527344, Y3= 2917806576, Y4= 1862965920, Y5= 627307696 },
     new PopulationData  { X= 1998, Y= 6007066714, Y1= 401296934, Y2= 2670641308, Y3= 2934990720, Y4= 1867940384, Y5= 626110096 },
     new PopulationData  { X= 1999, Y= 6089006330, Y1= 411254796, Y2= 2725406328, Y3= 2952195672, Y4= 1872029008, Y5= 625629808 },
     new PopulationData  { X= 2000, Y= 6171703018, Y1= 421660833, Y2= 2778339060, Y3= 2971541416, Y4= 1875006224, Y5= 626535704 },
     new PopulationData  { X= 2001, Y= 6254936479, Y1= 432645199, Y2= 2829812884, Y3= 2992304680, Y4= 1876577360, Y5= 628668808 },
     new PopulationData  { X= 2002, Y= 6337730319, Y1= 444024330, Y2= 2880295052, Y3= 3013226576, Y4= 1876397640, Y5= 631412760 },
     new PopulationData  { X= 2003, Y= 6420361649, Y1= 455436352, Y2= 2930943312, Y3= 3033788328, Y4= 1875994912, Y5= 634725280 },
     new PopulationData  { X= 2004, Y= 6503377778, Y1= 466713013, Y2= 2983841408, Y3= 3052619880, Y4= 1875497888, Y5= 638468416 },
     new PopulationData  { X= 2005, Y= 6586970145, Y1= 478036109, Y2= 3038958536, Y3= 3069761136, Y4= 1874478024, Y5= 641820944 },
     new PopulationData  { X= 2006, Y= 6671452018, Y1= 489424846, Y2= 3096159140, Y3= 3085641296, Y4= 1876181776, Y5= 645167776 },
     new PopulationData  { X= 2007, Y= 6757308750, Y1= 500428766, Y2= 3156555272, Y3= 3100083760, Y4= 1882180592, Y5= 649871160 },
     new PopulationData  { X= 2008, Y= 6844457675, Y1= 510794361, Y2= 3218017656, Y3= 3115390608, Y4= 1891210304, Y5= 656122824 },
     new PopulationData  { X= 2009, Y= 6932766459, Y1= 521178808, Y2= 3279351504, Y3= 3131965312, Y4= 1902480200, Y5= 663301136 },
     new PopulationData  { X= 2010, Y= 7021732131, Y1= 532057050, Y2= 3342060220, Y3= 3147327512, Y4= 1914573024, Y5= 670391464 },
     new PopulationData  { X= 2011, Y= 7110923797, Y1= 544982124, Y2= 3404883628, Y3= 3160754888, Y4= 1927465608, Y5= 676963504 },
     new PopulationData  { X= 2012, Y= 7201202531, Y1= 560697398, Y2= 3467181704, Y3= 3173003520, Y4= 1942243728, Y5= 683539920 },
     new PopulationData  { X= 2013, Y= 7291793608, Y1= 577848182, Y2= 3528461544, Y3= 3185146168, Y4= 1958086304, Y5= 689121936 },
     new PopulationData  { X= 2014, Y= 7381616239, Y1= 596508339, Y2= 3588072904, Y3= 3196678576, Y4= 1973723728, Y5= 692944144 },
     new PopulationData  { X= 2015, Y= 7470491904, Y1= 617227976, Y2= 3646515492, Y3= 3206377680, Y4= 1987689968, Y5= 695586976 },
     new PopulationData  { X= 2016, Y= 7558554580, Y1= 639011154, Y2= 3701427400, Y3= 3217734760, Y4= 2000603912, Y5= 697616160 },
     new PopulationData  { X= 2017, Y= 7645618013, Y1= 662249068, Y2= 3750580264, Y3= 3232394080, Y4= 2013577872, Y5= 697928096 },
     new PopulationData  { X= 2018, Y= 7729902724, Y1= 686727264, Y2= 3796508740, Y3= 3246253968, Y4= 2024111456, Y5= 695282048 },
     new PopulationData  { X= 2019, Y= 7811293714, Y1= 711960159, Y2= 3840671552, Y3= 3258218608, Y4= 2031520384, Y5= 690617536 },
     new PopulationData  { X= 2020, Y= 7887001284, Y1= 736844945, Y2= 3882253576, Y3= 3267423136, Y4= 2035060496, Y5= 683431016 },
     new PopulationData  { X= 2021, Y= 7954448405, Y1= 758737437, Y2= 3921248932, Y3= 3273956664, Y4= 2034484160, Y5= 673691560 },
     new PopulationData  { X= 2022, Y= 8021407170, Y1= 782133168, Y2= 3959728840, Y3= 3279020696, Y4= 2030820152, Y5= 663098224 },
     new PopulationData  { X= 2023, Y= 8091734935, Y1= 808366320, Y2= 3999849852, Y3= 3282968992, Y4= 2024582768, Y5= 654028320 }
    };

    public List<PopulationData> DashedLineData = new List<PopulationData>
    {
     new PopulationData  { X= 2024, Y= 8161972549, Y1= 832893775, Y2= 4041127600, Y3= 3287364176, Y4= 2016800712, Y5= 647339928 },
     new PopulationData  { X= 2025, Y= 8231613090, Y1= 856250699, Y2= 4083270100, Y3= 3291462584, Y4= 2008312288, Y5= 643562112 },
     new PopulationData  { X= 2026, Y= 8300678442, Y1= 879523781, Y2= 4125853768, Y3= 3294628960, Y4= 1999255032, Y5= 642354544 },
     new PopulationData  { X= 2027, Y= 8369094318, Y1= 906337883, Y2= 4164244648, Y3= 3297797216, Y4= 1988692880, Y5= 642333896 },
     new PopulationData  { X= 2028, Y= 8436618862, Y1= 939269399, Y2= 4196151560, Y3= 3300437224, Y4= 1977677632, Y5= 643121856 },
     new PopulationData  { X= 2029, Y= 8503285348, Y1= 973321243, Y2= 4226977848, Y3= 3302176512, Y4= 1967410000, Y5= 644104488 },
     new PopulationData  { X= 2030, Y= 8569124886, Y1= 1005909636, Y2= 4259440112, Y3= 3302914224, Y4= 1957758448, Y5= 645159856 },
     new PopulationData  { X= 2031, Y= 8634119339, Y1= 1037534710, Y2= 4293141648, Y3= 3302530704, Y4= 1948442800, Y5= 646407664 },
     new PopulationData  { X= 2032, Y= 8698229878, Y1= 1067916691, Y2= 4328669872, Y3= 3300680448, Y4= 1939621776, Y5= 647795032 },
     new PopulationData  { X= 2033, Y= 8761449104, Y1= 1099339870, Y2= 4363884728, Y3= 3297213208, Y4= 1933196616, Y5= 649316048 },
     new PopulationData  { X= 2034, Y= 8823784961, Y1= 1132103324, Y2= 4398236688, Y3= 3292384736, Y4= 1929351040, Y5= 650938824 },
     new PopulationData  { X= 2035, Y= 8885210190, Y1= 1164947923, Y2= 4432201432, Y3= 3286943024, Y4= 1928467400, Y5= 652611688 },
     new PopulationData  { X= 2036, Y= 8945686606, Y1= 1197331535, Y2= 4466044920, Y3= 3281129608, Y4= 1930347416, Y5= 654300584 },
     new PopulationData  { X= 2037, Y= 9005152615, Y1= 1228347839, Y2= 4501631624, Y3= 3273929248, Y4= 1933528488, Y5= 655969000 },
     new PopulationData  { X= 2038, Y= 9063572896, Y1= 1258209093, Y2= 4537724896, Y3= 3266334544, Y4= 1937577584, Y5= 657564864 },
     new PopulationData  { X= 2039, Y= 9120928391, Y1= 1286729880, Y2= 4573373208, Y3= 3259459480, Y4= 1941800352, Y5= 659039168 },
     new PopulationData  { X= 2040, Y= 9177190247, Y1= 1313365950, Y2= 4609289768, Y3= 3253098224, Y4= 1945997736, Y5= 660367176 },
     new PopulationData  { X= 2041, Y= 9232281559, Y1= 1338564237, Y2= 4645330944, Y3= 3246879800, Y4= 1950197896, Y5= 661489608 },
     new PopulationData  { X= 2042, Y= 9286110411, Y1= 1362737926, Y2= 4680925880, Y3= 3240876080, Y4= 1954263112, Y5= 662356952 },
     new PopulationData  { X= 2043, Y= 9338661330, Y1= 1386381265, Y2= 4713715064, Y3= 3236933616, Y4= 1958137824, Y5= 662970856 },
     new PopulationData  { X= 2044, Y= 9389873699, Y1= 1410883374, Y2= 4742169672, Y3= 3235133696, Y4= 1961688736, Y5= 663280416 },
     new PopulationData  { X= 2050, Y= 9664378588, Y1= 1575447386, Y2= 4835760816, Y3= 3250602296, Y4= 1969375024, Y5= 656480224 },
     new PopulationData  { X= 2051, Y= 9704192320, Y1= 1605226113, Y2= 4844144088, Y3= 3252088520, Y4= 1967690048, Y5= 654007048 },
     new PopulationData  { X= 2052, Y= 9742264492, Y1= 1636146498, Y2= 4850402672, Y3= 3252811384, Y4= 1965120824, Y5= 651310896 },
     new PopulationData  { X= 2053, Y= 9778614529, Y1= 1666900774, Y2= 4855886048, Y3= 3252752744, Y4= 1961706808, Y5= 648487560 },
     new PopulationData  { X= 2054, Y= 9813251648, Y1= 1697317280, Y2= 4860845360, Y3= 3251848568, Y4= 1957465520, Y5= 645583536 },
     new PopulationData  { X= 2055, Y= 9846237603, Y1= 1728208872, Y2= 4864514728, Y3= 3250089464, Y4= 1952463848, Y5= 642681416 },
     new PopulationData  { X= 2056, Y= 9877680349, Y1= 1756711135, Y2= 4869826392, Y3= 3247539920, Y4= 1946856608, Y5= 639881648 },
     new PopulationData  { X= 2057, Y= 9907637176, Y1= 1781513004, Y2= 4878093952, Y3= 3244244176, Y4= 1940773248, Y5= 637237832 },
     new PopulationData  { X= 2058, Y= 9936164370, Y1= 1804535251, Y2= 4887447256, Y3= 3240213768, Y4= 1934278320, Y5= 634775320 },
     new PopulationData  { X= 2059, Y= 9963337060, Y1= 1826347801, Y2= 4897402304, Y3= 3235472944, Y4= 1927497464, Y5= 632551472 },
     new PopulationData  { X= 2060, Y= 9989232308, Y1= 1847284669, Y2= 4907618176, Y3= 3230074872, Y4= 1920598744, Y5= 630575696 },
     new PopulationData  { X= 2061, Y= 10013916270, Y1= 1867330861, Y2= 4918122112, Y3= 3224058080, Y4= 1913686984, Y5= 628789408 },
     new PopulationData  { X= 2062, Y= 10037466618, Y1= 1886351815, Y2= 4928959744, Y3= 3217507576, Y4= 1906901904, Y5= 627198472 },
     new PopulationData  { X= 2063, Y= 10059950016, Y1= 1904498006, Y2= 4939934640, Y3= 3210489672, Y4= 1900366608, Y5= 625805136 },
     new PopulationData  { X= 2064, Y= 10081402757, Y1= 1922221123, Y2= 4950744240, Y3= 3203043384, Y4= 1894148856, Y5= 624574264 },
     new PopulationData  { X= 2065, Y= 10101849556, Y1= 1940535516, Y2= 4960409512, Y3= 3195214824, Y4= 1888309832, Y5= 623473544 },
     new PopulationData  { X= 2066, Y= 10121317193, Y1= 1959106385, Y2= 4969198200, Y3= 3187081312, Y4= 1882872968, Y5= 622484536 },
     new PopulationData  { X= 2067, Y= 10139808403, Y1= 1977096755, Y2= 4977840088, Y3= 3178729376, Y4= 1877849024, Y5= 621558184 },
     new PopulationData  { X= 2068, Y= 10157301910, Y1= 1994915171, Y2= 4985798336, Y3= 3170167920, Y4= 1873207184, Y5= 620635120 },
     new PopulationData  { X= 2069, Y= 10173782143, Y1= 2012984882, Y2= 4992611728, Y3= 3161436008, Y4= 1868919280, Y5= 619666904 },
     new PopulationData  { X= 2070, Y= 10189241966, Y1= 2031474339, Y2= 4998041720, Y3= 3152639040, Y4= 1864932264, Y5= 618624416 },
     new PopulationData  { X= 2071, Y= 10203681578, Y1= 2050499789, Y2= 5001903664, Y3= 3143862112, Y4= 1861167368, Y5= 617503712 },
     new PopulationData  { X= 2072, Y= 10217055191, Y1= 2070381773, Y2= 5003800576, Y3= 3135166880, Y4= 1857552744, Y5= 616275552 },
     new PopulationData  { X= 2073, Y= 10229327843, Y1= 2091255671, Y2= 5003495224, Y3= 3126601880, Y4= 1854016664, Y5= 614925336 },
     new PopulationData  { X= 2074, Y= 10240485124, Y1= 2112931045, Y2= 5001147520, Y3= 3118184600, Y4= 1850474008, Y5= 613451984 },
     new PopulationData  { X= 2075, Y= 10250496479, Y1= 2134750926, Y2= 4997397320, Y3= 3109926536, Y4= 1846843016, Y5= 611835360 },
     new PopulationData  { X= 2076, Y= 10259351451, Y1= 2156452037, Y2= 4992464888, Y3= 3101832760, Y4= 1843085824, Y5= 610058640 },
     new PopulationData  { X= 2077, Y= 10267044976, Y1= 2178944733, Y2= 4985414808, Y3= 3093896656, Y4= 1839135408, Y5= 608133872 },
     new PopulationData  { X= 2078, Y= 10273556402, Y1= 2201309734, Y2= 4977186456, Y3= 3086056968, Y4= 1834902648, Y5= 606047560 },
     new PopulationData  { X= 2079, Y= 10278887444, Y1= 2222493561, Y2= 4968812480, Y3= 3078281136, Y4= 1830335488, Y5= 603796000 },
     new PopulationData  { X= 2080, Y= 10283078029, Y1= 2242689112, Y2= 4960173392, Y3= 3070529528, Y4= 1825417720, Y5= 601410976 },
     new PopulationData  { X= 2081, Y= 10286161702, Y1= 2262268062, Y2= 4951073056, Y3= 3062701512, Y4= 1820123000, Y5= 598887944 },
     new PopulationData  { X= 2082, Y= 10288205101, Y1= 2281150810, Y2= 4941677928, Y3= 3054765416, Y4= 1814462232, Y5= 596255952 },
     new PopulationData  { X= 2083, Y= 10289247340, Y1= 2297665959, Y2= 4933818992, Y3= 3046682416, Y4= 1808454080, Y5= 593561400 },
     new PopulationData  { X= 2084, Y= 10289315221, Y1= 2311723214, Y2= 4927702760, Y3= 3038378040, Y4= 1802108200, Y5= 590819136 },
     new PopulationData  { X= 2085, Y= 10288456631, Y1= 2322939251, Y2= 4923711016, Y3= 3029807368, Y4= 1795441424, Y5= 588034952 },
     new PopulationData  { X= 2086, Y= 10286708315, Y1= 2331487672, Y2= 4921728216, Y3= 3020946312, Y4= 1788451736, Y5= 585227688 },
     new PopulationData  { X= 2087, Y= 10284111359, Y1= 2338720283, Y2= 4920486208, Y3= 3011759712, Y4= 1781182624, Y5= 582399832 },
     new PopulationData  { X= 2088, Y= 10280704571, Y1= 2345116023, Y2= 4919642816, Y3= 3002229656, Y4= 1773690544, Y5= 579574520 },
     new PopulationData  { X= 2089, Y= 10276518216, Y1= 2351323914, Y2= 4918577464, Y3= 2992360824, Y4= 1766029280, Y5= 576795080 },
     new PopulationData  { X= 2090, Y= 10271565096, Y1= 2357459993, Y2= 4917129168, Y3= 2982145848, Y4= 1758239920, Y5= 574064480 },
     new PopulationData  { X= 2091, Y= 10265861685, Y1= 2363618518, Y2= 4915399152, Y3= 2971591416, Y4= 1750350392, Y5= 571396696 },
     new PopulationData  { X= 2092, Y= 10259408415, Y1= 2369870272, Y2= 4913338544, Y3= 2960721080, Y4= 1742401792, Y5= 568800952 },
     new PopulationData  { X= 2093, Y= 10252184759, Y1= 2376041244, Y2= 4910899928, Y3= 2949564544, Y4= 1734451728, Y5= 566264600 },
     new PopulationData  { X= 2094, Y= 10244185824, Y1= 2382123990, Y2= 4908000336, Y3= 2938161648, Y4= 1726545712, Y5= 563775664 },
     new PopulationData  { X= 2095, Y= 10235403633, Y1= 2388126286, Y2= 4904583056, Y3= 2926534408, Y4= 1718694168, Y5= 561335384 },
     new PopulationData  { X= 2096, Y= 10225850878, Y1= 2394065867, Y2= 4900634528, Y3= 2914702448, Y4= 1710937968, Y5= 558952208 },
     new PopulationData  { X= 2097, Y= 10215549325, Y1= 2399936776, Y2= 4896124768, Y3= 2902732248, Y4= 1703303144, Y5= 556640024 },
     new PopulationData  { X= 2098, Y= 10204489848, Y1= 2405753390, Y2= 4890990312, Y3= 2890660088, Y4= 1695792608, Y5= 554391472 },
     new PopulationData  { X= 2099, Y= 10192689014, Y1= 2411559196, Y2= 4885172224, Y3= 2878513592, Y4= 1688423552, Y5= 552193472 },
     new PopulationData  { X= 2100, Y= 10180160751, Y1= 2417301901, Y2= 4878640816, Y3= 2866316728, Y4= 1681182000, Y5= 550027496 }
    };

    protected override void OnInitialized()
    {
        Theme = ThemeHelper.GetCurrentTheme(NavigationManager.Uri);
        if (SampleService.IsDevice)
        {
            Rotation = -45;
            Label = LabelIntersectAction.None;
            Width = "100%";
        }
    }

    private void AxisLabelRender(AxisLabelRenderEventArgs args)
    {
        if (args.Axis.Interval == 2e9)
        {
            args.Text = (Convert.ToDouble(args.Text) / 1e9).ToString("0");
        }
    }

    public void SharedTooltipRender(SharedTooltipRenderEventArgs args)
    {
        if (args.Data is List<PointInfo> dataList && dataList.Count > 0)
        {
            List<string> tooltipText = new List<string>();

            foreach (var pointInfo in dataList)
            {
                double pointYValue = Convert.ToDouble(pointInfo.PointY);
                string value = pointYValue.ToString("N0", System.Globalization.CultureInfo.InvariantCulture);

                if (pointYValue >= 1_000_000_000)
                {
                    value = (pointYValue / 1_000_000_000).ToString("0.##") + " B";
                }
                else if (pointYValue >= 1_000_000)
                {
                    value = (pointYValue / 1_000_000).ToString("0.##") + " M";
                }
                if (!string.IsNullOrEmpty(pointInfo.SeriesName))
                {
                    tooltipText.Add($"{pointInfo.SeriesName}: <b>{value}</b>");
                }
                else 
                {
                    int index = dataList.IndexOf(pointInfo);
                    string defaultTooltip = args.Text[index]?.Split(':')[0];
                    tooltipText.Add($"{defaultTooltip}: <b>{value}</b>");
                }
            }
            args.Text = tooltipText;
        }
    }

}
