@page "/chart/chart-legend-template"

@using Syncfusion.Blazor
@*Hidden:Lines*@
@using ThemeHelper
@*End:Hidden*@
@using Syncfusion.Blazor.Charts

@inject NavigationManager NavigationManager

@*Hidden:Lines*@
@inherits SampleBaseComponent
@*End:Hidden*@

<ActionDescription>
<p>This sample illustrates how to customize chart legends by using legend item templates. Each legend entry is enhanced with visual elements and styled text, providing a more informative representation of the corresponding series data.</p>

<p>In this example, the chart displays automobile production by category from 2022 to 2025. Legend items are customized using the <code>LegendItemTemplate</code> property in <a target='_blank' href='https://blazor.syncfusion.com/documentation/chart/chart-types/line' aria-label="Navigate to the documentation for chart legends in the chart component">ChartSeries</a>. This approach enables you to:</p>
<ul>
  <li>Add custom images and icons to legend items</li>
  <li>Apply custom styling to enhance visual clarity</li>
  <li>Improve data interpretation by visually associating icons with categories such as Truck, Car, Bike, and Bicycle</li>
</ul>

<p>More information on legend item templates can be found in this <a target='_blank' href='https://blazor.syncfusion.com/documentation/chart/legend' aria-label="Navigate to the documentation for the legend template in the chart component">documentation section</a>.</p>
</ActionDescription>



<div class="control-section" align='center'>
    <SfChart Title="Automobile Production by Category (2022-2025)" Theme="@Theme" Width="@Width">
        <ChartArea><ChartAreaBorder Width="0"></ChartAreaBorder></ChartArea>
        <ChartPrimaryXAxis ValueType="Syncfusion.Blazor.Charts.ValueType.Category" LabelPlacement="LabelPlacement.OnTicks" EdgeLabelPlacement="EdgeLabelPlacement.Shift">
            <ChartAxisMajorGridLines Width="0"></ChartAxisMajorGridLines>
        </ChartPrimaryXAxis>
        <ChartPrimaryYAxis Interval="20" Minimum="0" Maximum="120" Title="Production (in millions)">
            <ChartAxisLineStyle Width="0"></ChartAxisLineStyle>
            <ChartAxisMajorTickLines Width="0"></ChartAxisMajorTickLines>
        </ChartPrimaryYAxis>
        <ChartTooltipSettings Enable="true"></ChartTooltipSettings>
        <ChartSeriesCollection>
            <ChartSeries DataSource="@ProductionData" XName="Year" YName="TruckProduction" Name="Truck" Fill="rgba(75, 135, 185, 1)" ColumnSpacing="0.3" Type="ChartSeriesType.Column">
                <LegendItemTemplate>
                    <div id='templateConatainerStyle'>
                        <img src="@(SampleService?.WebAssetsPath + "images/chart/truck-legend.png")" width="3" alt="Legend Icon" />
                        <div class='templateText' style="font-family:@FontFamily; font-style: medium; font-size:14px; padding-right: @Padding">
                            <span>Truck</span>
                        </div>
                    </div>
                </LegendItemTemplate>
            </ChartSeries>
            <ChartSeries DataSource="@ProductionData" XName="Year" YName="CarProduction" Name="Car" Fill="rgba(192, 108, 132, 1)" ColumnSpacing="0.3" Type="ChartSeriesType.Column">
                <LegendItemTemplate>
                    <div id='templateConatainerStyle'>
                        <img src="@(SampleService?.WebAssetsPath + "images/chart/car-legend.png")" width="3" alt="Legend Icon" />
                        <div class='templateText' style="font-family:@FontFamily; font-style: medium; font-size:14px; padding-right: @Padding">
                            <span>Car</span>
                        </div>
                    </div>
                </LegendItemTemplate>
            </ChartSeries>
            <ChartSeries DataSource="@ProductionData" XName="Year" YName="BikeProduction" Name="Bike" Fill="rgba(246, 114, 128, 1)" ColumnSpacing="0.3" Type="ChartSeriesType.Column">
                <LegendItemTemplate>
                    <div id='templateConatainerStyle'>
                        <img src="@(SampleService?.WebAssetsPath + "images/chart/bike-legend.png")" width="3" alt="Legend Icon" />
                        <div class='templateText' style="font-family:@FontFamily; font-style: medium; font-size:14px; padding-right: @Padding">
                            <span>Bike</span>
                        </div>
                    </div>
                </LegendItemTemplate>
            </ChartSeries>
            <ChartSeries DataSource="@ProductionData" XName="Year" YName="BicycleProduction" Name="Bicycle" Fill="rgba(248, 177, 149, 1)" ColumnSpacing="0.3" Type="ChartSeriesType.Column">
                <LegendItemTemplate>
                    <div id='templateConatainerStyle'>
                        <img src="@(SampleService?.WebAssetsPath + "images/chart/cycle-legend.png")" width="3" alt="Legend Icon" />
                        <div class='templateText' style="font-family:@FontFamily; font-style: medium; font-size:14px; padding-right: @Padding">
                            <span>BiCycle</span>
                        </div>
                    </div>
                </LegendItemTemplate>
            </ChartSeries>
        </ChartSeriesCollection>
        <ChartLegendSettings Visible="true" Position="LegendPosition.Right"></ChartLegendSettings>
    </SfChart>
</div>

<style>
    #templateConatainerStyle img {
        border-radius: 0px;
        width: 30px;
        padding: 4px;
        height: 30px;
    }

    #templateConatainerStyle .templateText {
        float: right;
        padding: 2px;
        line-height: 20px;
        text-align: center;
    }
</style>

@code {

    public Theme Theme { get; set; }
    public string Width { get; set; } = "90%";
    public string? FontFamily { get; set; }
    public string Padding { get; set; } = "6px";

    public class Production
    {
        public string? Year { get; set; }
        public double TruckProduction { get; set; }
        public double CarProduction { get; set; }
        public double BikeProduction { get; set; }
        public double BicycleProduction { get; set; }
    }

    private readonly List<Production> ProductionData = new()
    {
        new() { Year = "2022", TruckProduction = 38, CarProduction = 49, BikeProduction = 60, BicycleProduction = 67 },
        new() { Year = "2023", TruckProduction = 20, CarProduction = 40, BikeProduction = 50, BicycleProduction = 60 },
        new() { Year = "2024", TruckProduction = 60, CarProduction = 75, BikeProduction = 84, BicycleProduction = 95 },
        new() { Year = "2025", TruckProduction = 50, CarProduction = 65, BikeProduction = 80, BicycleProduction = 90 }
    };

    protected override void OnInitialized()
    {
        Theme = ThemeHelper.GetCurrentTheme(NavigationManager.Uri);
        @*Hidden:Lines*@
        if (SampleService != null && SampleService.IsDevice)
        {
            Width = "100%";
            Padding = "1px";
        }
        @*End:Hidden*@
        FontFamily = ThemeHelper.GetFontFamily(NavigationManager.Uri);
    }
}