@page "/chart/line-zone"

@using Syncfusion.Blazor.Charts
@using Syncfusion.Blazor
@*Hidden:Lines*@
@using ThemeHelper
@*End:Hidden*@
@inject NavigationManager NavigationManager
@*Hidden:Lines*@
@inherits SampleBaseComponent


@*End:Hidden*@

<SampleDescription>
    <p> This sample visualizes the annual mean precipitation in United States with multi-colored line series in the chart. Data points are enhanced with segments and tooltips.</p>
</SampleDescription>
<ActionDescription>
    <p> In this example, you can see how to render and configure the points in a particular range by using <code>MultiColoredLine</code> series. Points under the range can be customized with <a target='_blank' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Charts.ChartSegment.html#Syncfusion_Blazor_Charts_ChartSegment_Color' aria-label="Navigate to the color property reference for chart segment">Color</a>, and <a target='_blank' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Charts.ChartSegment.html#Syncfusion_Blazor_Charts_ChartSegment_DashArray' aria-label="Navigate to the DashArray property reference for chart segment">DashArray</a> properties in <code>ChartSegment</code>.</p>
    <p><code>Tooltip</code> is enabled in this example. To see a tooltip in action, hover over or tap on the chart.</p>
</ActionDescription>

<div class="control-section" align='center'>
    <SfChart Title="Annual Mean Precipitation in the United States (1895-2025)" SubTitle="Source: ncei.noaa.gov" Width="@Width" Theme="@Theme">
        <ChartTitleStyle TextOverflow="TextOverflow.Wrap"></ChartTitleStyle>
        <ChartSubTitleStyle TextOverflow="TextOverflow.Wrap"></ChartSubTitleStyle>
        <ChartEvents Loaded="ChartLoaded"></ChartEvents>
        <ChartArea><ChartAreaBorder Width="0"></ChartAreaBorder></ChartArea>
        <ChartPrimaryXAxis ValueType="Syncfusion.Blazor.Charts.ValueType.DateTime" Minimum="new DateTime(1895, 1, 1)" Maximum="new DateTime(2025, 1, 1)" LabelFormat="yyyy" Interval="20" IntervalType="IntervalType.Years" EdgeLabelPlacement="EdgeLabelPlacement.Shift">
            <ChartAxisMajorGridLines Width="0"></ChartAxisMajorGridLines>
        </ChartPrimaryXAxis>
        <ChartPrimaryYAxis LabelFormat="{value}mm" RangePadding="ChartRangePadding.None" Minimum="10" Maximum="110" Interval="20" Title="Precipitation (mm)">
            <ChartAxisLineStyle Width="0"></ChartAxisLineStyle>
            <ChartAxisMajorTickLines Width="0"></ChartAxisMajorTickLines>
        </ChartPrimaryYAxis>
        <ChartTooltipSettings Header="<b>Rainfall</b>" Enable="true" ShowNearestTooltip="true" Format="${point.x} : <b>${point.y}</b>"></ChartTooltipSettings>        
        <ChartAnnotations>
           @foreach (var annotationData in LineZoneAnnotation)
            {
                @if (annotationData.Visible)
                {
                    <ChartAnnotation X="@annotationData.X" Y="@annotationData.Y" CoordinateUnits="Units.Point">
                        <ContentTemplate>
                            <div style="font-family: @FontFamily">
                                <table style="width: 100%">
                                    <tr>
                                        <td class="chartPadding @annotationData.CssClass">
                                            @annotationData.Label
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </ContentTemplate>
                    </ChartAnnotation>
                }
            }
        </ChartAnnotations>
        <ChartSeriesCollection>
            <ChartSeries DataSource="@LineZoneData" XName="X" Width="2"
                         SegmentAxis="Segment.Y" YName="Y" Type="ChartSeriesType.MultiColoredLine">
                <ChartMarker Visible="true" IsFilled="true">
                     <ChartMarkerBorder Width="2" Color="white"></ChartMarkerBorder>
                </ChartMarker>
                <ChartSegments>
                    <ChartSegment Value="50" Color="#D32F2F">
                    </ChartSegment>
                    <ChartSegment Value="65" Color="#228B22"></ChartSegment>
                    <ChartSegment Color="#0047AB"></ChartSegment>
                </ChartSegments>
            </ChartSeries>
        </ChartSeriesCollection>
    </SfChart>
</div>
<style>
    .chartCircle {
        width: 10px;
        height: 10px;
        border-radius: 15px;
    }
    .blueCircle {
        color: #0047AB;
        font-weight: bold;
    }
    .greenCircle {
        color: #228B22;
        font-weight: bold;
    }
    .redCircle {
        color: #D32F2F;
        font-weight: bold;
    }
    .chartPadding {
        padding-left: 5px;
        font-size: 14px;
    }
   
</style>

@code {

    
    public string? FontFamily { get; set; }
    public string Width { get; set; } = "90%";
    public class ChartData
    {
        public DateTime X { get; set; }
        public double Y { get; set; }
       
    }
    public List<ChartData> LineZoneData = new List<ChartData>
    {
        new ChartData { X= new DateTime(1895, 1, 1), Y= 84.07 },
        new ChartData { X= new DateTime(1896, 1, 1), Y= 60.96 },
        new ChartData { X= new DateTime(1897, 1, 1), Y= 60.71 },
        new ChartData { X= new DateTime(1898, 1, 1), Y= 61.72 },
        new ChartData { X= new DateTime(1899, 1, 1), Y= 66.04 },
        new ChartData { X= new DateTime(1900, 1, 1), Y= 44.2 },
        new ChartData { X= new DateTime(1901, 1, 1), Y= 50.55 },
        new ChartData { X= new DateTime(1902, 1, 1), Y= 36.83 },
        new ChartData { X= new DateTime(1903, 1, 1), Y= 57.66 },
        new ChartData { X= new DateTime(1904, 1, 1), Y= 45.97 },
        new ChartData { X= new DateTime(1905, 1, 1), Y= 55.37 },
        new ChartData { X= new DateTime(1906, 1, 1), Y= 64.26 },
        new ChartData { X= new DateTime(1907, 1, 1), Y= 69.85 },
        new ChartData { X= new DateTime(1908, 1, 1), Y= 46.23 },
        new ChartData { X= new DateTime(1909, 1, 1), Y= 69.6 },
        new ChartData { X= new DateTime(1910, 1, 1), Y= 54.61 },
        new ChartData { X= new DateTime(1911, 1, 1), Y= 62 },
        new ChartData { X= new DateTime(1912, 1, 1), Y= 49.53 },
        new ChartData { X= new DateTime(1913, 1, 1), Y= 72.9 },
        new ChartData { X= new DateTime(1914, 1, 1), Y= 63.5 },
        new ChartData { X= new DateTime(1915, 1, 1), Y= 69.85 },
        new ChartData { X= new DateTime(1916, 1, 1), Y= 96.27 },
        new ChartData { X= new DateTime(1917, 1, 1), Y= 55.63 },
        new ChartData { X= new DateTime(1918, 1, 1), Y= 61.21 },
        new ChartData { X= new DateTime(1919, 1, 1), Y= 48.51 },
        new ChartData { X= new DateTime(1920, 1, 1), Y= 56.13 },
        new ChartData { X= new DateTime(1921, 1, 1), Y= 53.34 },
        new ChartData { X= new DateTime(1922, 1, 1), Y= 51.56 },
        new ChartData { X= new DateTime(1923, 1, 1), Y= 62 },
        new ChartData { X= new DateTime(1924, 1, 1), Y= 50.8 },
        new ChartData { X= new DateTime(1925, 1, 1), Y= 58.17 },
        new ChartData { X= new DateTime(1926, 1, 1), Y= 59.94 },
        new ChartData { X= new DateTime(1927, 1, 1), Y= 44.96 },
        new ChartData { X= new DateTime(1928, 1, 1), Y= 32.51 },
        new ChartData { X= new DateTime(1929, 1, 1), Y= 59.94 },
        new ChartData { X= new DateTime(1930, 1, 1), Y= 65.53 },
        new ChartData { X= new DateTime(1931, 1, 1), Y= 39.62 },
        new ChartData { X= new DateTime(1932, 1, 1), Y= 82.55 },
        new ChartData { X= new DateTime(1933, 1, 1), Y= 57.15 },
        new ChartData { X= new DateTime(1934, 1, 1), Y= 46.23 },
        new ChartData { X= new DateTime(1935, 1, 1), Y= 60.96 },
        new ChartData { X= new DateTime(1936, 1, 1), Y= 73.15 },
        new ChartData { X= new DateTime(1937, 1, 1), Y= 92.71 },
        new ChartData { X= new DateTime(1938, 1, 1), Y= 53.59 },
        new ChartData { X= new DateTime(1939, 1, 1), Y= 62.99 },
        new ChartData { X= new DateTime(1940, 1, 1), Y= 49.02 },
        new ChartData { X= new DateTime(1941, 1, 1), Y= 52.58 },
        new ChartData { X= new DateTime(1942, 1, 1), Y= 40.13 },
        new ChartData { X= new DateTime(1943, 1, 1), Y= 56.64 },
        new ChartData { X= new DateTime(1944, 1, 1), Y= 47.75 },
        new ChartData { X= new DateTime(1945, 1, 1), Y= 45.72 },
        new ChartData { X= new DateTime(1946, 1, 1), Y= 64.26 },
        new ChartData { X= new DateTime(1947, 1, 1), Y= 61.72 },
        new ChartData { X= new DateTime(1948, 1, 1), Y= 50.29 },
        new ChartData { X= new DateTime(1949, 1, 1), Y= 80.26 },
        new ChartData { X= new DateTime(1950, 1, 1), Y= 85.34 },
        new ChartData { X= new DateTime(1951, 1, 1), Y= 59.44 },
        new ChartData { X= new DateTime(1952, 1, 1), Y= 62 },
        new ChartData { X= new DateTime(1953, 1, 1), Y= 66.8 },
        new ChartData { X= new DateTime(1954, 1, 1), Y= 64.52 },
        new ChartData { X= new DateTime(1955, 1, 1), Y= 42.67 },
        new ChartData { X= new DateTime(1956, 1, 1), Y= 57.66 },
        new ChartData { X= new DateTime(1957, 1, 1), Y= 53.85 },
        new ChartData { X= new DateTime(1958, 1, 1), Y= 58.17 },
        new ChartData { X= new DateTime(1959, 1, 1), Y= 55.63 },
        new ChartData { X= new DateTime(1960, 1, 1), Y= 57.4 },
        new ChartData { X= new DateTime(1961, 1, 1), Y= 37.59 },
        new ChartData { X= new DateTime(1962, 1, 1), Y= 56.13 },
        new ChartData { X= new DateTime(1963, 1, 1), Y= 39.88 },
        new ChartData { X= new DateTime(1964, 1, 1), Y= 61.72 },
        new ChartData { X= new DateTime(1965, 1, 1), Y= 59.44 },
        new ChartData { X= new DateTime(1966, 1, 1), Y= 59.94 },
        new ChartData { X= new DateTime(1967, 1, 1), Y= 54.36 },
        new ChartData { X= new DateTime(1968, 1, 1), Y= 55.12 },
        new ChartData { X= new DateTime(1969, 1, 1), Y= 76.45 },
        new ChartData { X= new DateTime(1970, 1, 1), Y= 53.09 },
        new ChartData { X= new DateTime(1971, 1, 1), Y= 51.56 },
        new ChartData { X= new DateTime(1972, 1, 1), Y= 59.18 },
        new ChartData { X= new DateTime(1973, 1, 1), Y= 62.99 },
        new ChartData { X= new DateTime(1974, 1, 1), Y= 80.01 },
        new ChartData { X= new DateTime(1975, 1, 1), Y= 66.29 },
        new ChartData { X= new DateTime(1976, 1, 1), Y= 44.7 },
        new ChartData { X= new DateTime(1977, 1, 1), Y= 40.13 },
        new ChartData { X= new DateTime(1978, 1, 1), Y= 80.52 },
        new ChartData { X= new DateTime(1979, 1, 1), Y= 84.07 },
        new ChartData { X= new DateTime(1980, 1, 1), Y= 67.06 },
        new ChartData { X= new DateTime(1981, 1, 1), Y= 24.89 },
        new ChartData { X= new DateTime(1982, 1, 1), Y= 72.14 },
        new ChartData { X= new DateTime(1983, 1, 1), Y= 52.83 },
        new ChartData { X= new DateTime(1984, 1, 1), Y= 34.29 },
        new ChartData { X= new DateTime(1985, 1, 1), Y= 36.07 },
        new ChartData { X= new DateTime(1986, 1, 1), Y= 36.83 },
        new ChartData { X= new DateTime(1987, 1, 1), Y= 55.12 },
        new ChartData { X= new DateTime(1988, 1, 1), Y= 50.04 },
        new ChartData { X= new DateTime(1989, 1, 1), Y= 52.07 },
        new ChartData { X= new DateTime(1990, 1, 1), Y= 70.61 },
        new ChartData { X= new DateTime(1991, 1, 1), Y= 60.2 },
        new ChartData { X= new DateTime(1992, 1, 1), Y= 52.83 },
        new ChartData { X= new DateTime(1993, 1, 1), Y= 81.28 },
        new ChartData { X= new DateTime(1994, 1, 1), Y= 56.9 },
        new ChartData { X= new DateTime(1995, 1, 1), Y= 80.77 },
        new ChartData { X= new DateTime(1996, 1, 1), Y= 71.63 },
        new ChartData { X= new DateTime(1997, 1, 1), Y= 71.37 },
        new ChartData { X= new DateTime(1998, 1, 1), Y= 85.09 },
        new ChartData { X= new DateTime(1999, 1, 1), Y= 79.5 },
        new ChartData { X= new DateTime(2000, 1, 1), Y= 54.36 },
        new ChartData { X= new DateTime(2001, 1, 1), Y= 46.99 },
        new ChartData { X= new DateTime(2002, 1, 1), Y= 51.05 },
        new ChartData { X= new DateTime(2003, 1, 1), Y= 33.78 },
        new ChartData { X= new DateTime(2004, 1, 1), Y= 50.04 },
        new ChartData { X= new DateTime(2005, 1, 1), Y= 68.58 },
        new ChartData { X= new DateTime(2006, 1, 1), Y= 66.29 },
        new ChartData { X= new DateTime(2007, 1, 1), Y= 56.39 },
        new ChartData { X= new DateTime(2008, 1, 1), Y= 56.13 },
        new ChartData { X= new DateTime(2009, 1, 1), Y= 40.64 },
        new ChartData { X= new DateTime(2010, 1, 1), Y= 66.55 },
        new ChartData { X= new DateTime(2011, 1, 1), Y= 41.91 },
        new ChartData { X= new DateTime(2012, 1, 1), Y= 53.09 },
        new ChartData { X= new DateTime(2013, 1, 1), Y= 60.2 },
        new ChartData { X= new DateTime(2014, 1, 1), Y= 34.8 },
        new ChartData { X= new DateTime(2015, 1, 1), Y= 46.48 },
        new ChartData { X= new DateTime(2016, 1, 1), Y= 51.82 },
        new ChartData { X= new DateTime(2017, 1, 1), Y= 82.04 },
        new ChartData { X= new DateTime(2018, 1, 1), Y= 46.99 },
        new ChartData { X= new DateTime(2019, 1, 1), Y= 65.02 },
        new ChartData { X= new DateTime(2020, 1, 1), Y= 70.1 },
        new ChartData { X= new DateTime(2021, 1, 1), Y= 53.09 },
        new ChartData { X= new DateTime(2022, 1, 1), Y= 41.66 },
        new ChartData { X= new DateTime(2023, 1, 1), Y= 74.68 },
        new ChartData { X= new DateTime(2024, 1, 1), Y= 82.8 },
        new ChartData { X= new DateTime(2025, 1, 1), Y= 35.31 }
    };
    private Theme Theme { get; set; }

    protected override void OnInitialized()
    {
        
        Theme = ThemeHelper.GetCurrentTheme(NavigationManager.Uri);
        @*Hidden:Lines*@
        if (SampleService != null && SampleService.IsDevice)
        {
            Width = "100%";
        }
        @*End:Hidden*@
        FontFamily = ThemeHelper.GetFontFamily(NavigationManager.Uri);
    }
    
    public class AnnotationData
    {
        public bool Visible { get; set; }
        public DateTime X { get; set; }
        public string? Y { get; set; }
        public string? Label { get; set; }
        public string? CssClass { get; set; }
    }

    public List<AnnotationData> LineZoneAnnotation = new List<AnnotationData>
    {
        new AnnotationData() { Visible = true, Y ="100.5", X = new DateTime(1915, 3, 1), Label = "High", CssClass = "blueCircle" },
        new AnnotationData() { Visible = true, Y ="66", X = new DateTime(1959, 1, 1), Label = "Medium", CssClass = "greenCircle" },
        new AnnotationData() { Visible = true, Y ="22.5", X = new DateTime(1980, 8, 1), Label = "Low", CssClass = "redCircle" }
    };

    public async void ChartLoaded(LoadedEventArgs args)
    {
        LineZoneAnnotation.ForEach(item => item.Visible = true);
        await Task.Delay(1500);
        StateHasChanged();
    }

}