@page "/chart/line-layout"

@using Syncfusion.Blazor.Charts
@using Syncfusion.Blazor
@*Hidden:Lines*@
@using ThemeHelper
@*End:Hidden*@
@using Syncfusion.Blazor.Layouts;
@inject NavigationManager NavigationManager
@*Hidden:Lines*@
@inherits SampleBaseComponent


@*End:Hidden*@


<SampleDescription>
    <p>
        This Line Layout Chart example illustrates annual milk production and monthly traffic data for desktop and mobile devices using the default line series in the chart.
    </p>
</SampleDescription>
<ActionDescription>
    <p>
        In this example, you can see how to render and configure line-type charts with layouts. You can use the <code>DashArray</code>, <code>Width</code>, and <code>Fill</code> properties to customize the line. The <code>ChartMarker</code> and <code>ChartDataLabel</code> options are used to represent individual data points and their values.
    </p>
    <p>Tooltips are enabled in this example, to see the tooltip in action, hover a point or tap on a point in touch enabled devices.The <code>EnableHighlight</code> property in the tooltip allows the corresponding series to be highlighted when a data point is hovered over.</p>
    <p>
        More information about the line series customization can be found in this <a target='_blank' href='https://blazor.syncfusion.com/documentation/chart/chart-types/line#series-customization' aria-label="Navigate to the documentation for line series customization in chart component">documentation section</a>.
    </p>
</ActionDescription>

<style>
    .e-panel {
        cursor: move !important;
    }
    .e-dashboardlayout {
        padding: 20px;
        z-index: 0;
    }
</style>

<div class="control-section">
    <SfDashboardLayout CellSpacing="@(new double[]{15 ,15 })" Columns="3">
        <DashboardLayoutPanels>
            <DashboardLayoutPanel>
                <HeaderTemplate>
                    Line Chart
                </HeaderTemplate>
                <ContentTemplate>
                    <SfChart ID="Chart1" Theme="@Theme"  Width="@Width" Title="Milk Production Over the Years" SubTitle="Yearly data from 2018 to 2023"  Background="Transparent">
                        <ChartArea>
                            <ChartAreaBorder Width="0"></ChartAreaBorder>
                        </ChartArea>
                        <ChartPrimaryXAxis ValueType="Syncfusion.Blazor.Charts.ValueType.Category"
                            EdgeLabelPlacement="EdgeLabelPlacement.Shift">
                            <ChartAxisMajorGridLines Width="0"></ChartAxisMajorGridLines>
                            <ChartAxisMajorTickLines Width="0"></ChartAxisMajorTickLines>
                        </ChartPrimaryXAxis>
                        <ChartPrimaryYAxis Maximum="580" Minimum="500" Interval="20" RangePadding="ChartRangePadding.None">
                            <ChartAxisLineStyle Width="0"></ChartAxisLineStyle>
                            <ChartAxisMajorTickLines Width="0"></ChartAxisMajorTickLines>
                            <ChartAxisMinorTickLines Width="0"></ChartAxisMinorTickLines>
                            <ChartAxisLabelStyle Color="Transparent"></ChartAxisLabelStyle>
                        </ChartPrimaryYAxis>
                        <ChartSeriesCollection>
                            <ChartSeries DataSource="@AnnualMilkProduction" XName="Year" YName="IndiaProduction"
                                Width="2" Type="ChartSeriesType.Line">
                            </ChartSeries>
                        </ChartSeriesCollection>
                        <ChartTitleStyle TextAlignment="Alignment.Near"></ChartTitleStyle>
                        <ChartSubTitleStyle TextAlignment="Alignment.Near"></ChartSubTitleStyle>
                        <ChartTooltipSettings Enable="true" Shared="true"
                            Format="Year: <b>${point.x}</b><br/>Production: <b>${point.y} units</b>" Header="" />
                    </SfChart>
                </ContentTemplate>
            </DashboardLayoutPanel>
            <DashboardLayoutPanel Column=1>
                <HeaderTemplate>
                    Dashed Line Chart
                </HeaderTemplate>
                <ContentTemplate>
                    <SfChart ID="Chart2" Theme="@Theme"  Width="@Width" Title="Milk Production Over the Years" SubTitle="Yearly data from 2018 to 2023"  Background="Transparent">
                        <ChartArea>
                            <ChartAreaBorder Width="0"></ChartAreaBorder>
                        </ChartArea>
                        <ChartPrimaryXAxis ValueType="Syncfusion.Blazor.Charts.ValueType.Category"
                            EdgeLabelPlacement="EdgeLabelPlacement.Shift">
                            <ChartAxisMajorGridLines Width="0"></ChartAxisMajorGridLines>
                            <ChartAxisMajorTickLines Width="0"></ChartAxisMajorTickLines>
                        </ChartPrimaryXAxis>
                        <ChartPrimaryYAxis Maximum="580" Minimum="500" Interval="20" RangePadding="ChartRangePadding.None">
                            <ChartAxisLineStyle Width="0"></ChartAxisLineStyle>
                            <ChartAxisMajorTickLines Width="0"></ChartAxisMajorTickLines>
                            <ChartAxisMinorTickLines Width="0"></ChartAxisMinorTickLines>
                            <ChartAxisLabelStyle Color="Transparent"></ChartAxisLabelStyle>
                        </ChartPrimaryYAxis>
                        <ChartSeriesCollection>
                            <ChartSeries DataSource="@AnnualMilkProduction" XName="Year" YName="IndiaProduction"
                                Width="2" Type="ChartSeriesType.Line" DashArray="5,5">
                            </ChartSeries>
                        </ChartSeriesCollection>
                        <ChartTitleStyle TextAlignment="Alignment.Near"></ChartTitleStyle>
                        <ChartSubTitleStyle TextAlignment="Alignment.Near"></ChartSubTitleStyle>
                        <ChartTooltipSettings Enable="true" Shared="true"
                            Format="Year: <b>${point.x}</b><br/>Production: <b>${point.y} units</b>" Header="" />
                    </SfChart>
                </ContentTemplate>
            </DashboardLayoutPanel>
            <DashboardLayoutPanel Column=2>
                <HeaderTemplate>
                    Line Chart with Marker
                </HeaderTemplate>
                <ContentTemplate>
                    <SfChart ID="Chart3" Theme="@Theme"  Width="@Width" Title="Milk Production Over the Years" SubTitle="Yearly data from 2018 to 2023"  Background="Transparent">
                        <ChartArea>
                            <ChartAreaBorder Width="0"></ChartAreaBorder>
                        </ChartArea>
                        <ChartPrimaryXAxis ValueType="Syncfusion.Blazor.Charts.ValueType.Category"
                            EdgeLabelPlacement="EdgeLabelPlacement.Shift">
                            <ChartAxisMajorGridLines Width="0"></ChartAxisMajorGridLines>
                            <ChartAxisMajorTickLines Width="0"></ChartAxisMajorTickLines>
                        </ChartPrimaryXAxis>
                        <ChartPrimaryYAxis Maximum="580" Minimum="500" Interval="20" RangePadding="ChartRangePadding.None">
                            <ChartAxisLineStyle Width="0"></ChartAxisLineStyle>
                            <ChartAxisMajorTickLines Width="0"></ChartAxisMajorTickLines>
                            <ChartAxisMinorTickLines Width="0"></ChartAxisMinorTickLines>
                            <ChartAxisLabelStyle Color="Transparent"></ChartAxisLabelStyle>
                        </ChartPrimaryYAxis>
                        <ChartSeriesCollection>
                            <ChartSeries DataSource="@AnnualMilkProduction" XName="Year" YName="IndiaProduction"
                                Width="2" Type="ChartSeriesType.Line">
                                <ChartMarker Visible="true" IsFilled="true" Width="6" Height="6"></ChartMarker>
                            </ChartSeries>
                        </ChartSeriesCollection>
                        <ChartTitleStyle TextAlignment="Alignment.Near"></ChartTitleStyle>
                        <ChartSubTitleStyle TextAlignment="Alignment.Near"></ChartSubTitleStyle>
                        <ChartTooltipSettings Enable="true" Shared="true"
                            Format="Year: <b>${point.x}</b><br/>Production: <b>${point.y} units</b>" Header="" />
                    </SfChart>
                </ContentTemplate>
            </DashboardLayoutPanel>
            <DashboardLayoutPanel Row=1>
                <HeaderTemplate>
                    Line Chart with Different Marker Shape
                </HeaderTemplate>
                <ContentTemplate>
                    <SfChart ID="Chart4" Theme="@Theme"  Width="@Width" Title="Milk Production Over the Years" SubTitle="Yearly data from 2018 to 2023"  Background="Transparent">
                        <ChartArea>
                            <ChartAreaBorder Width="0"></ChartAreaBorder>
                        </ChartArea>
                        <ChartPrimaryXAxis ValueType="Syncfusion.Blazor.Charts.ValueType.Category"
                            EdgeLabelPlacement="EdgeLabelPlacement.Shift">
                            <ChartAxisMajorGridLines Width="0"></ChartAxisMajorGridLines>
                            <ChartAxisMajorTickLines Width="0"></ChartAxisMajorTickLines>
                        </ChartPrimaryXAxis>
                        <ChartPrimaryYAxis Maximum="580" Minimum="500" Interval="20" RangePadding="ChartRangePadding.None">
                            <ChartAxisLineStyle Width="0"></ChartAxisLineStyle>
                            <ChartAxisMajorTickLines Width="0"></ChartAxisMajorTickLines>
                            <ChartAxisMinorTickLines Width="0"></ChartAxisMinorTickLines>
                            <ChartAxisLabelStyle Color="Transparent"></ChartAxisLabelStyle>
                        </ChartPrimaryYAxis>
                        <ChartSeriesCollection>
                            <ChartSeries DataSource="@AnnualMilkProduction" XName="Year" YName="IndiaProduction"
                                Width="2" Type="ChartSeriesType.Line">
                                <ChartMarker Visible="true" Width="8" Height="8" Shape="ChartShape.Triangle"
                                    IsFilled="true"></ChartMarker>
                            </ChartSeries>
                        </ChartSeriesCollection>
                        <ChartTitleStyle TextAlignment="Alignment.Near"></ChartTitleStyle>
                        <ChartSubTitleStyle TextAlignment="Alignment.Near"></ChartSubTitleStyle>
                        <ChartTooltipSettings Enable="true" Shared="true"
                            Format="Year: <b>${point.x}</b><br/>Production: <b>${point.y} units</b>" Header="" />
                    </SfChart>
                </ContentTemplate>
            </DashboardLayoutPanel>
            <DashboardLayoutPanel Row=1 Column=1>
                <HeaderTemplate>
                    Line Chart with Marker Customization
                </HeaderTemplate>
                <ContentTemplate>
                    <SfChart ID="Chart5" Theme="@Theme"  Width="@Width" Title="Milk Production Over the Years" SubTitle="Yearly data from 2018 to 2023"  Background="Transparent">
                        <ChartArea>
                            <ChartAreaBorder Width="0"></ChartAreaBorder>
                        </ChartArea>
                        <ChartEvents OnPointRender="PointRender"></ChartEvents>
                        <ChartPrimaryXAxis ValueType="Syncfusion.Blazor.Charts.ValueType.Category"
                            EdgeLabelPlacement="EdgeLabelPlacement.Shift">
                            <ChartAxisMajorGridLines Width="0"></ChartAxisMajorGridLines>
                            <ChartAxisMajorTickLines Width="0"></ChartAxisMajorTickLines>
                        </ChartPrimaryXAxis>
                        <ChartPrimaryYAxis Maximum="580" Minimum="500" Interval="20" RangePadding="ChartRangePadding.None">
                            <ChartAxisLineStyle Width="0"></ChartAxisLineStyle>
                            <ChartAxisMajorTickLines Width="0"></ChartAxisMajorTickLines>
                            <ChartAxisMinorTickLines Width="0"></ChartAxisMinorTickLines>
                            <ChartAxisLabelStyle Color="Transparent"></ChartAxisLabelStyle>
                        </ChartPrimaryYAxis>
                        <ChartSeriesCollection>
                            <ChartSeries DataSource="@AnnualMilkProduction" XName="Year" YName="IndiaProduction"
                                Width="2" Type="ChartSeriesType.Line" Fill="green">
                                <ChartMarker Visible="true" IsFilled="true" Width="10" Height="10">
                                    <ChartMarkerBorder Width="0"></ChartMarkerBorder>
                                </ChartMarker>
                            </ChartSeries>
                        </ChartSeriesCollection>
                        <ChartTitleStyle TextAlignment="Alignment.Near"></ChartTitleStyle>
                        <ChartSubTitleStyle TextAlignment="Alignment.Near"></ChartSubTitleStyle>
                        <ChartTooltipSettings Enable="true" Shared="true"
                            Format="Year: <b>${point.x}</b><br/>Production: <b>${point.y} units</b>" Header="" />
                    </SfChart>
                </ContentTemplate>
            </DashboardLayoutPanel>
            <DashboardLayoutPanel Row=1 Column=2>
                <HeaderTemplate>
                    Line Chart with Datalabels
                </HeaderTemplate>
                <ContentTemplate>
                    <SfChart ID="Chart6" Theme="@Theme"  Width="@Width" Title="Milk Production Over the Years" SubTitle="Yearly data from 2018 to 2023"  Background="Transparent">
                        <ChartArea>
                            <ChartAreaBorder Width="0"></ChartAreaBorder>
                        </ChartArea>
                        <ChartPrimaryXAxis ValueType="Syncfusion.Blazor.Charts.ValueType.Category"
                            EdgeLabelPlacement="EdgeLabelPlacement.Shift">
                            <ChartAxisMajorGridLines Width="0"></ChartAxisMajorGridLines>
                            <ChartAxisMajorTickLines Width="0"></ChartAxisMajorTickLines>
                        </ChartPrimaryXAxis>
                        <ChartPrimaryYAxis Maximum="580" Minimum="500" Interval="20" RangePadding="ChartRangePadding.None">
                            <ChartAxisLineStyle Width="0"></ChartAxisLineStyle>
                            <ChartAxisMajorTickLines Width="0"></ChartAxisMajorTickLines>
                            <ChartAxisMinorTickLines Width="0"></ChartAxisMinorTickLines>
                            <ChartAxisLabelStyle Color="Transparent"></ChartAxisLabelStyle>
                        </ChartPrimaryYAxis>
                        <ChartSeriesCollection>
                            <ChartSeries DataSource="@AnnualMilkProduction" XName="Year" YName="IndiaProduction"
                                Width="2" Type="ChartSeriesType.Line">
                                <ChartMarker Visible="true" IsFilled="true" Width="6" Height="6">
                                    <ChartDataLabel Visible="true">
                                        <ChartDataLabelFont Color="@Color"></ChartDataLabelFont>
                                    </ChartDataLabel>
                                </ChartMarker>
                            </ChartSeries>
                        </ChartSeriesCollection>
                        <ChartTitleStyle TextAlignment="Alignment.Near"></ChartTitleStyle>
                        <ChartSubTitleStyle TextAlignment="Alignment.Near"></ChartSubTitleStyle>
                        <ChartTooltipSettings Enable="true" Shared="true"
                            Format="Year: <b>${point.x}</b><br/>Production: <b>${point.y} units</b>" Header="" />
                    </SfChart>
                </ContentTemplate>
            </DashboardLayoutPanel>
            <DashboardLayoutPanel Row=2>
                <HeaderTemplate>
                    Line Chart with Datalabel Customization
                </HeaderTemplate>
                <ContentTemplate>
                    <SfChart ID="Chart7" Theme="@Theme"  Width="@Width" Title="Milk Production Over the Years" SubTitle="Yearly data from 2018 to 2023"  Background="Transparent">
                        <ChartArea>
                            <ChartAreaBorder Width="0"></ChartAreaBorder>
                        </ChartArea>
                        <ChartPrimaryXAxis ValueType="Syncfusion.Blazor.Charts.ValueType.Category"
                            EdgeLabelPlacement="EdgeLabelPlacement.Shift">
                            <ChartAxisMajorGridLines Width="0"></ChartAxisMajorGridLines>
                            <ChartAxisMajorTickLines Width="0"></ChartAxisMajorTickLines>
                        </ChartPrimaryXAxis>
                        <ChartPrimaryYAxis Maximum="580" Minimum="500" Interval="20" RangePadding="ChartRangePadding.None">
                            <ChartAxisLineStyle Width="0"></ChartAxisLineStyle>
                            <ChartAxisMajorTickLines Width="0"></ChartAxisMajorTickLines>
                            <ChartAxisMinorTickLines Width="0"></ChartAxisMinorTickLines>
                            <ChartAxisLabelStyle Color="Transparent"></ChartAxisLabelStyle>
                        </ChartPrimaryYAxis>
                        <ChartSeriesCollection>
                            <ChartSeries DataSource="@AnnualMilkProduction" XName="Year" YName="IndiaProduction"
                                Width="2" Type="ChartSeriesType.Line">
                                <ChartMarker Visible="true" IsFilled="true" Width="6" Height="6">
                                    <ChartDataLabel Visible="true" Fill="Transparent" Format="{value} units" EnableRotation="true" Angle="-45">
                                         <ChartDataLabelFont Color="@Color"></ChartDataLabelFont>
                                         <ChartDataLabelBorder Width="0"></ChartDataLabelBorder>
                                    </ChartDataLabel>
                                </ChartMarker>
                            </ChartSeries>
                        </ChartSeriesCollection>
                        <ChartTitleStyle TextAlignment="Alignment.Near"></ChartTitleStyle>
                        <ChartSubTitleStyle TextAlignment="Alignment.Near"></ChartSubTitleStyle>
                        <ChartTooltipSettings Enable="true" Shared="true"
                            Format="Year: <b>${point.x}</b><br/>Production: <b>${point.y} units</b>" Header="" />
                    </SfChart>
                </ContentTemplate>
            </DashboardLayoutPanel>
            <DashboardLayoutPanel Row=2 Column=1 SizeX=2>
                <HeaderTemplate>
                    Line Chart with Multipe DataSeries
                </HeaderTemplate>
                <ContentTemplate>
                    <SfChart ID="Chart8" Theme="@Theme"  Width="@Width" Title="Monthly Traffic Analysis" SubTitle="Desktop vs Mobile"  Background="Transparent">
                        <ChartArea>
                            <ChartAreaBorder Width="0"></ChartAreaBorder>
                        </ChartArea>
                        <ChartPrimaryXAxis ValueType="Syncfusion.Blazor.Charts.ValueType.Category"
                            EdgeLabelPlacement="EdgeLabelPlacement.Shift">
                            <ChartAxisMajorGridLines Width="0"></ChartAxisMajorGridLines>
                            <ChartAxisMajorTickLines Width="0"></ChartAxisMajorTickLines>
                        </ChartPrimaryXAxis>
                        <ChartPrimaryYAxis Maximum="50" Minimum="350" Interval="60">
                            <ChartAxisLineStyle Width="0"></ChartAxisLineStyle>
                            <ChartAxisMajorTickLines Width="0"></ChartAxisMajorTickLines>
                            <ChartAxisMinorTickLines Width="0"></ChartAxisMinorTickLines>
                            <ChartAxisLabelStyle Color="Transparent"></ChartAxisLabelStyle>
                        </ChartPrimaryYAxis>
                        <ChartSeriesCollection>
                            <ChartSeries DataSource="@MonthlyTrafficData" XName="Month" Name="Desktop Traffic"
                                YName="Desktop" Width="2" Type="ChartSeriesType.Line">
                                <ChartMarker Visible="true" Width="6" Height="6" IsFilled="true">
                                </ChartMarker>
                            </ChartSeries>
                            <ChartSeries DataSource="@MonthlyTrafficData" XName="Month" Name="Mobile Traffic"
                                YName="Mobile" Width="2" Type="ChartSeriesType.Line">
                                <ChartMarker Visible="true" Width="6" Height="6" IsFilled="true">
                                </ChartMarker>
                            </ChartSeries>
                        </ChartSeriesCollection>
                        <ChartTitleStyle TextAlignment="Alignment.Near"></ChartTitleStyle>
                        <ChartSubTitleStyle TextAlignment="Alignment.Near"></ChartSubTitleStyle>
                        <ChartTooltipSettings Enable="true" Shared="true" Header="" />
                        <ChartLegendSettings Visible="false"></ChartLegendSettings>
                    </SfChart>
                </ContentTemplate>
            </DashboardLayoutPanel>
        </DashboardLayoutPanels>
    </SfDashboardLayout>
</div>

@code {


    private Theme Theme { get; set; }
    public string Color {get; set;} = "black";
    public string Width { get; set; } = "100%";
    public List<string> Colors = new List<string> { "red", "blue", "green", "yellow", "orange", "purple" };
    protected override void OnInitialized()
    {
        Theme = ThemeHelper.GetCurrentTheme(NavigationManager.Uri);
        if(NavigationManager.Uri.Contains("dark") || NavigationManager.Uri.Contains("highcontrast"))
        {
            Color = "white";
        }
        else
        {
            Color = "black";
        }
    }
    private List<AnnualMilkProductionDetails> AnnualMilkProduction = new List<AnnualMilkProductionDetails>
    {
        new AnnualMilkProductionDetails { Year = "2018", IndiaProduction = 520, Name = "520 units" },
        new AnnualMilkProductionDetails { Year = "2019", IndiaProduction = 540, Name = "540 units" },
        new AnnualMilkProductionDetails { Year = "2020", IndiaProduction = 530, Name = "530 units" },
        new AnnualMilkProductionDetails { Year = "2021", IndiaProduction = 550, Name = "550 units" },
        new AnnualMilkProductionDetails { Year = "2022", IndiaProduction = 540, Name = "540 units" },
        new AnnualMilkProductionDetails { Year = "2023", IndiaProduction = 560, Name = "560 units" }
    };

    private List<MonthlyTrafficDataDetails> MonthlyTrafficData = new List<MonthlyTrafficDataDetails>
    {
        new MonthlyTrafficDataDetails { Month = "January", Desktop = 186, Mobile = 80 },
        new MonthlyTrafficDataDetails { Month = "February", Desktop = 305, Mobile = 200 },
        new MonthlyTrafficDataDetails { Month = "March", Desktop = 237, Mobile = 120 },
        new MonthlyTrafficDataDetails { Month = "April", Desktop = 73, Mobile = 190 },
        new MonthlyTrafficDataDetails { Month = "May", Desktop = 209, Mobile = 130 },
        new MonthlyTrafficDataDetails { Month = "June", Desktop = 214, Mobile = 140 }
    };

    public class AnnualMilkProductionDetails
    {
        public string? Year { get; set; }
        public int IndiaProduction { get; set; }
        public string? Name { get; set; }
    }

    public class MonthlyTrafficDataDetails
    {
        public string? Month { get; set; }
        public int Desktop { get; set; }
        public int Mobile { get; set; }
    }

    public void PointRender(PointRenderEventArgs args)
    {
        if (args.Point.Index >= 0 && args.Point.Index < Colors.Count)
        {
            args.Fill = Colors[args.Point.Index];
        }
    }
}