@page "/chart/multiple-axis"

@using Syncfusion.Blazor
@using ThemeHelper
@using Syncfusion.Blazor.Charts

@inject NavigationManager NavigationManager
@*Hidden:Lines*@
@inherits SampleBaseComponent


@*End:Hidden*@

<SampleDescription>
    <p>This example shows how to use a chart's multiple axes to depict temperatures in both Celsius and Fahrenheit.</p>
</SampleDescription>
<ActionDescription>
    <p>In this example, you can see how to render and configure multiple axes. Use an <a target='_blank' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Charts.ChartAxes.html' aria-label="Navigate to the class reference for chart Axes">Axes</a> collection to render a secondary axis in the chart that can be bound to a specific series using <a target='_blank' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Charts.ChartSeries.html#Syncfusion_Blazor_Charts_ChartSeries_YAxisName' aria-label="Navigate to the YAxisName property reference for chart series">YAxisName</a> and <a target='_blank' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Charts.ChartSeries.html#Syncfusion_Blazor_Charts_ChartSeries_XAxisName' aria-label="Navigate to the XAxisName property reference for chart series">XAxisName</a> properties in the series. You can also customize the secondary axis similar to the primary axis.</p>
    <p><code>Tooltip</code> is enabled in this example. To see the tooltip in action, hover over a data point or tap one on touch-enabled devices.</p>
    <p>More information about the multiple axes can be found in this <a target='_blank' href='https://blazor.syncfusion.com/documentation/chart/axis-customization/#multiple-axis' aria-label="Navigate to the documentation for multiple-axis in chart component">documentation section</a>.</p>
</ActionDescription>

<div class="control-section" align='center'>
    <SfChart Title="Weather Data" Width="@Width" Theme="@Theme">
        <ChartArea><ChartAreaBorder Width="0"></ChartAreaBorder></ChartArea>
        <ChartPrimaryXAxis ValueType="Syncfusion.Blazor.Charts.ValueType.Category">
            <ChartAxisMinorGridLines Width="0"></ChartAxisMinorGridLines>
            <ChartAxisMajorGridLines Width="0"></ChartAxisMajorGridLines>
            <ChartAxisMajorTickLines Width="0"></ChartAxisMajorTickLines>
        </ChartPrimaryXAxis>
        <ChartPrimaryYAxis Minimum="0" Maximum="100" Interval="20" LabelFormat="{value}°F">
            <ChartAxisLineStyle Width="0"></ChartAxisLineStyle>
            <ChartAxisMajorTickLines Width="0"></ChartAxisMajorTickLines>
        </ChartPrimaryYAxis>
        <ChartAxes>
            <ChartAxis Minimum="24" Maximum="36" Interval="2" OpposedPosition="true" RowIndex="0" Name="yAxis2" LabelFormat="{value}°C">
                <ChartAxisLineStyle Width="0"></ChartAxisLineStyle>
                <ChartAxisMajorGridLines Width="0"></ChartAxisMajorGridLines>
            </ChartAxis>
        </ChartAxes>
        <ChartTooltipSettings Enable="true"></ChartTooltipSettings>
        <ChartSeriesCollection>
            <ChartSeries DataSource="@ChartPoints" XName="Day" YName="DEU_Temp" Opacity="1" Name="Germany" Width="2" Type="ChartSeriesType.Column">
                <ChartMarker Visible="true" Height="7" Width="7">
                </ChartMarker>
            </ChartSeries>
            <ChartSeries DataSource="@ChartPoints" YAxisName="yAxis2" XName="Day" YName="JPN_Temp" Opacity="1" Name="Japan" Width="2" Type="ChartSeriesType.Spline">
                <ChartMarker Visible="true" Height="7" Width="7" IsFilled="true">
                </ChartMarker>
            </ChartSeries>
        </ChartSeriesCollection>
        <ChartAnnotations>
            <ChartAnnotation X="SUN" Y="70" CoordinateUnits="Syncfusion.Blazor.Charts.Units.Point">
                <ContentTemplate>
                    <div><img src="@(SampleService.WebAssetsPath + "images/chart/cloud.png")" style="width: 41px; height: 41px" alt="Cloud Picture" /></div>
                </ContentTemplate>
            </ChartAnnotation>
            <ChartAnnotation YAxisName="yAxis2" X="SAT" Y="35" CoordinateUnits="Syncfusion.Blazor.Charts.Units.Point">
                <ContentTemplate>
                    <div><img src="@(SampleService.WebAssetsPath + "images/chart/sunny.png")" style="width: 41px; height: 41px" alt="Sunny Picture" /></div>
                </ContentTemplate>
            </ChartAnnotation>
        </ChartAnnotations>
        <ChartLegendSettings Visible="false"></ChartLegendSettings>
    </SfChart>
</div>

@code{

    
    private Theme Theme { get; set; }
    public string Width { get; set; } = "90%";
    private string SUN = "SUN", SAT = "SAT";
    public List<CategoryData> ChartPoints { get; set; } = new List<CategoryData>
    {
        new CategoryData { Day = "SUN", DEU_Temp = 35, JPN_Temp = 31 },
        new CategoryData { Day = "MON", DEU_Temp = 40, JPN_Temp = 28 },
        new CategoryData { Day = "TUE", DEU_Temp = 50, JPN_Temp = 29 },
        new CategoryData { Day = "WED", DEU_Temp = 70, JPN_Temp = 30 },
        new CategoryData { Day = "THU", DEU_Temp = 65, JPN_Temp = 33 },
        new CategoryData { Day = "FRI", DEU_Temp = 55, JPN_Temp = 32},
        new CategoryData { Day = "SAT", DEU_Temp = 50, JPN_Temp = 34 },
    };

    protected override void OnInitialized()
    {
        
        Theme = ThemeHelper.GetCurrentTheme(NavigationManager.Uri);
        if (SampleService.IsDevice)
        {
            Width = "100%";
        }
    }

    public class CategoryData
    {
        public string Day { get; set; }
        public double JPN_Temp { get; set; }
        public double DEU_Temp { get; set; }
    }
}
