@page "/chart/scatter"

@using Syncfusion.Blazor
@using Syncfusion.Blazor.Charts
@using ThemeHelper
@inject NavigationManager NavigationManager
@*Hidden:Lines*@
@inherits SampleBaseComponent


@*End:Hidden*@

<SampleDescription>
    <p>This <a target='_blank' href='https://www.syncfusion.com/blazor-components/blazor-charts/chart-types/scatter-chart' aria-label="Navigate to explore the Blazor Scatter Plot Chart">Blazor Scatter Plot Chart</a> example compares the shoulder and chest measurements for different age groups using the default scatter series.</p>
</SampleDescription>
<ActionDescription>
    <p>In this example, you can see how to render and configure the scatter chart. The scatter chart is used to plot data with two numeric parameters. You can use the <a target='_blank' href='https://help.syncfusion.com/cr/blazor/Syncfusion.Blazor.Charts.ChartShape.html' aria-label="Navigate to the class reference for chart shape">Shape</a> property in the marker to change the scatter shape.</p>
    <p><code>Tooltip</code> is enabled in this example. To see the tooltip in action, hover over a point or tap on a point in touch-enabled devices.</p>
    <p>More information about the scatter series can be found in this <a target='_blank' href='https://blazor.syncfusion.com/documentation/chart/chart-types/scatter' aria-label="Navigate to the documentation for scatter in chart component">documentation section</a>.</p>
</ActionDescription>

<div class="control-section" align='center'>
    <SfChart id="container" Width="@Width" Theme="@Theme">
        <ChartArea><ChartAreaBorder Width="0"></ChartAreaBorder></ChartArea>
        <ChartPrimaryXAxis Minimum="40" Maximum="56" Title="Shoulder Breadth (cm)">
            <ChartAxisMajorGridLines Width="0"></ChartAxisMajorGridLines>
        </ChartPrimaryXAxis>
        <ChartPrimaryYAxis Minimum="70" Maximum="140" Interval="10" Title="Bust Chest Circumference (cm)" RangePadding="ChartRangePadding.None">
            <ChartAxisMajorTickLines Width="0"></ChartAxisMajorTickLines>
            <ChartAxisLineStyle Width="0"></ChartAxisLineStyle>
        </ChartPrimaryYAxis>
        <ChartTooltipSettings Enable="true"></ChartTooltipSettings>
        <ChartLegendSettings Visible="true" EnableHighlight="true"></ChartLegendSettings>
        <ChartSeriesCollection>
            <ChartSeries DataSource="@Cluster1Value" Name="18-20 Years" XName="Breadth" Width="2"
                         YName="Circumference" Type="ChartSeriesType.Scatter">
                <ChartMarker Height="10" Width="10" Shape="ChartShape.Circle">
                </ChartMarker>
            </ChartSeries>
            <ChartSeries DataSource="@Cluster2Value" Name="21-25 Years" XName="Breadth"
                         YName="Circumference" Type="ChartSeriesType.Scatter">
                <ChartMarker Height="10" Width="10" Shape="ChartShape.Circle">
                </ChartMarker>
            </ChartSeries>
            <ChartSeries DataSource="@Cluster3Value" Name="26-30 Years" XName="Breadth"
                         YName="Circumference" Type="ChartSeriesType.Scatter">
                <ChartMarker Height="10" Width="10" Shape="ChartShape.Circle">
                </ChartMarker>
            </ChartSeries>
            <ChartSeries DataSource="@Cluster4Value" Name="31-35 years" XName="Breadth"
                         YName="Circumference" Type="ChartSeriesType.Scatter">
                <ChartMarker Height="10" Width="10" Shape="ChartShape.Circle">
                </ChartMarker>
            </ChartSeries>
            <ChartSeries DataSource="@Cluster5Value" Name="36+ Years" XName="Breadth"
                         YName="Circumference" Type="ChartSeriesType.Scatter">
                <ChartMarker Height="10" Width="10" Shape="ChartShape.Circle">
                </ChartMarker>
            </ChartSeries>
        </ChartSeriesCollection>
    </SfChart>   
</div>

@code{

    
    private Theme Theme { get; set; }
    public string Width { get; set; } = "90%";

    public List<ScatterChartData> Cluster1Value { get; set; } = new List<ScatterChartData>
    {
        new ScatterChartData { Breadth = 41.3, Circumference = 78.1 },
        new ScatterChartData { Breadth = 41.3, Circumference = 78.04 },
        new ScatterChartData { Breadth = 42.9, Circumference = 78.9 },
        new ScatterChartData { Breadth = 42.4, Circumference = 80.4 },
        new ScatterChartData { Breadth = 42.3, Circumference = 81.7 },
        new ScatterChartData { Breadth = 42.1, Circumference = 83.9 },
        new ScatterChartData { Breadth = 41.9, Circumference = 82.9 },
        new ScatterChartData { Breadth = 41.6, Circumference = 84.6 },
        new ScatterChartData { Breadth = 41.6, Circumference = 84.6 },
        new ScatterChartData { Breadth = 41.5, Circumference = 85.1 },
        new ScatterChartData { Breadth = 41.5, Circumference = 84.3 },
        new ScatterChartData { Breadth = 41.5, Circumference = 84.3 },
        new ScatterChartData { Breadth = 41.9, Circumference = 87.9 },
        new ScatterChartData { Breadth = 42.6, Circumference = 84.0 },
        new ScatterChartData { Breadth = 42.6, Circumference = 84.0 },
        new ScatterChartData { Breadth = 42.9, Circumference = 84.9 },
        new ScatterChartData { Breadth = 42.9, Circumference = 84.9 },
        new ScatterChartData { Breadth = 43.4, Circumference = 85.8 },
        new ScatterChartData { Breadth = 43.1, Circumference = 83.5 },
        new ScatterChartData { Breadth = 42.9, Circumference = 82.2 },
        new ScatterChartData { Breadth = 43.2, Circumference = 81.7 },
        new ScatterChartData { Breadth = 43.5, Circumference = 82.8 },
        new ScatterChartData { Breadth = 43.7, Circumference = 82.7 },
        new ScatterChartData { Breadth = 43.5, Circumference = 81.3 },
        new ScatterChartData { Breadth = 43.7, Circumference = 80.9 },
        new ScatterChartData { Breadth = 43.7, Circumference = 80.9 },
        new ScatterChartData { Breadth = 43.5, Circumference = 89.4 },
        new ScatterChartData { Breadth = 43.5, Circumference = 79.4 },
        new ScatterChartData { Breadth = 43.7, Circumference = 89.0 },
        new ScatterChartData { Breadth = 43.5, Circumference = 88.4 },
        new ScatterChartData { Breadth = 43.5, Circumference = 88.4 },
        new ScatterChartData { Breadth = 43.4, Circumference = 89.4 },
        new ScatterChartData { Breadth = 43.0, Circumference = 91.5 },
        new ScatterChartData { Breadth = 42.6, Circumference = 87.9 },
        new ScatterChartData { Breadth = 42.9, Circumference = 88.4 },
        new ScatterChartData { Breadth = 42.9, Circumference = 86.8 },
        new ScatterChartData { Breadth = 42.9, Circumference = 86.8 },
        new ScatterChartData { Breadth = 43.1, Circumference = 88.5 },
        new ScatterChartData { Breadth = 44.2, Circumference = 84.7 },
        new ScatterChartData { Breadth = 44.2, Circumference = 84.7 },
        new ScatterChartData { Breadth = 44.1, Circumference = 88.6 },
        new ScatterChartData { Breadth = 44.1, Circumference = 88.6 },
        new ScatterChartData { Breadth = 43.9, Circumference = 87.6 },
        new ScatterChartData { Breadth = 44.0, Circumference = 86.6 },
        new ScatterChartData { Breadth = 44.3, Circumference = 86.5 },
        new ScatterChartData { Breadth = 44.3, Circumference = 86.59 },
        new ScatterChartData { Breadth = 44.5, Circumference = 86.9 },
        new ScatterChartData { Breadth = 44.5, Circumference = 85.5 },
        new ScatterChartData { Breadth = 44.8, Circumference = 85.8 },
        new ScatterChartData { Breadth = 45.0, Circumference = 84.6 },
        new ScatterChartData { Breadth = 45.0, Circumference = 84.64 },
        new ScatterChartData { Breadth = 44.9, Circumference = 82.7 },
        new ScatterChartData { Breadth = 44.8, Circumference = 83.7 },
        new ScatterChartData { Breadth = 44.89, Circumference = 83.75 },
        new ScatterChartData { Breadth = 44.6, Circumference = 83.3 },
        new ScatterChartData { Breadth = 44.65, Circumference = 83.37 },
        new ScatterChartData { Breadth = 44.65, Circumference = 84.5 },
        new ScatterChartData { Breadth = 44.65, Circumference = 84.53 },
        new ScatterChartData { Breadth = 44.2, Circumference = 81.8 },
        new ScatterChartData { Breadth = 44.9, Circumference = 80.2 },
        new ScatterChartData { Breadth = 45.1, Circumference = 85.5 },
        new ScatterChartData { Breadth = 44.7, Circumference = 87.1 },
        new ScatterChartData { Breadth = 44.70, Circumference = 87.10 },
        new ScatterChartData { Breadth = 44.70, Circumference = 87.1 },
        new ScatterChartData { Breadth = 44.9, Circumference = 86.8 },
        new ScatterChartData { Breadth = 45.1, Circumference = 87.2 },
        new ScatterChartData { Breadth = 45.0, Circumference = 88.6 },
        new ScatterChartData { Breadth = 45.0, Circumference = 89.4 },
        new ScatterChartData { Breadth = 45.0, Circumference = 89.4 },
        new ScatterChartData { Breadth = 44.7, Circumference = 88.5 },
        new ScatterChartData { Breadth = 44.4, Circumference = 88.3 },
        new ScatterChartData { Breadth = 44.4, Circumference = 88.39 },
        new ScatterChartData { Breadth = 44.5, Circumference = 89.4 },
        new ScatterChartData { Breadth = 44.4, Circumference = 90.0 },
        new ScatterChartData { Breadth = 43.9, Circumference = 89.3 },
        new ScatterChartData { Breadth = 44.2, Circumference = 90.2 },
        new ScatterChartData { Breadth = 44.0, Circumference = 91.2 },
        new ScatterChartData { Breadth = 44.0, Circumference = 91.24 },
        new ScatterChartData { Breadth = 44.1, Circumference = 88.5 },
        new ScatterChartData { Breadth = 44.16, Circumference = 88.53 },
        new ScatterChartData { Breadth = 44.16, Circumference = 88.535 },
        new ScatterChartData { Breadth = 44.2, Circumference = 91.7 },
        new ScatterChartData { Breadth = 44.2, Circumference = 91.75 },
        new ScatterChartData { Breadth = 43.9, Circumference = 92.79 },
        new ScatterChartData { Breadth = 43.9, Circumference = 92.7 },
        new ScatterChartData { Breadth = 44.2, Circumference = 94.8 },
        new ScatterChartData { Breadth = 44.0, Circumference = 93.8 },
        new ScatterChartData { Breadth = 44.0, Circumference = 93.81 },
        new ScatterChartData { Breadth = 44.4, Circumference = 95.6 },
        new ScatterChartData { Breadth = 44.8, Circumference = 97.4 },
        new ScatterChartData { Breadth = 44.8, Circumference = 93.6 },
        new ScatterChartData { Breadth = 44.8, Circumference = 93.67 },
        new ScatterChartData { Breadth = 44.6, Circumference = 92.5 },
        new ScatterChartData { Breadth = 44.7, Circumference = 94.5 },
        new ScatterChartData { Breadth = 45.2, Circumference = 92.2 },
        new ScatterChartData { Breadth = 45.2, Circumference = 92.24 },
        new ScatterChartData { Breadth = 45.1, Circumference = 94.0 },
        new ScatterChartData { Breadth = 45.1, Circumference = 94.0 },
        new ScatterChartData { Breadth = 44.9, Circumference = 90.4 },
        new ScatterChartData { Breadth = 44.9, Circumference = 89.4 },
        new ScatterChartData { Breadth = 44.7, Circumference = 90.4 },
        new ScatterChartData { Breadth = 44.7, Circumference = 90.45 },
        new ScatterChartData { Breadth = 41.3, Circumference = 78.0 },
        new ScatterChartData { Breadth = 42.9, Circumference = 78.9 },
        new ScatterChartData { Breadth = 42.4, Circumference = 80.4 },
        new ScatterChartData { Breadth = 42.3, Circumference = 81.7 },
        new ScatterChartData { Breadth = 42.1, Circumference = 83.9 },
        new ScatterChartData { Breadth = 41.9, Circumference = 82.9 },
        new ScatterChartData { Breadth = 41.6, Circumference = 84.6 },
        new ScatterChartData { Breadth = 41.6, Circumference = 84.60 },
        new ScatterChartData { Breadth = 41.5, Circumference = 85.1 },
        new ScatterChartData { Breadth = 41.5, Circumference = 84.3 },
        new ScatterChartData { Breadth = 41.5, Circumference = 84.34 },
        new ScatterChartData { Breadth = 41.9, Circumference = 87.9 },
        new ScatterChartData { Breadth = 42.6, Circumference = 84.0 },
        new ScatterChartData { Breadth = 42.6, Circumference = 84.0 },
        new ScatterChartData { Breadth = 42.9, Circumference = 84.9 },
        new ScatterChartData { Breadth = 42.9, Circumference = 84.9 },
        new ScatterChartData { Breadth = 43.4, Circumference = 85.8 },
        new ScatterChartData { Breadth = 43.1, Circumference = 83.5 },
        new ScatterChartData { Breadth = 42.9, Circumference = 82.2 },
        new ScatterChartData { Breadth = 43.2, Circumference = 81.7 },
        new ScatterChartData { Breadth = 43.5, Circumference = 82.8 },
        new ScatterChartData { Breadth = 43.7, Circumference = 82.7 },
        new ScatterChartData { Breadth = 43.5, Circumference = 81.3 },
        new ScatterChartData { Breadth = 43.7, Circumference = 80.9 },
        new ScatterChartData { Breadth = 43.7, Circumference = 80.94 },
        new ScatterChartData { Breadth = 43.5, Circumference = 79.4 },
        new ScatterChartData { Breadth = 43.5, Circumference = 79.40 },
        new ScatterChartData { Breadth = 43.7, Circumference = 89.0 },
        new ScatterChartData { Breadth = 43.5, Circumference = 88.4 },
        new ScatterChartData { Breadth = 43.5, Circumference = 88.42 },
        new ScatterChartData { Breadth = 43.4, Circumference = 89.45 },
        new ScatterChartData { Breadth = 43.0, Circumference = 91.5 },
        new ScatterChartData { Breadth = 42.6, Circumference = 87.9 },
        new ScatterChartData { Breadth = 42.9, Circumference = 88.4 },
        new ScatterChartData { Breadth = 42.9, Circumference = 86.8 },
        new ScatterChartData { Breadth = 42.95, Circumference = 86.89 },
        new ScatterChartData { Breadth = 43.1, Circumference = 88.5 },
        new ScatterChartData { Breadth = 44.2, Circumference = 84.7 },
        new ScatterChartData { Breadth = 44.2, Circumference = 84.7 },
        new ScatterChartData { Breadth = 44.1, Circumference = 88.6 },
        new ScatterChartData { Breadth = 44.1, Circumference = 88.66 },
        new ScatterChartData { Breadth = 43.9, Circumference = 87.6 },
        new ScatterChartData { Breadth = 44.0, Circumference = 86.6 },
        new ScatterChartData { Breadth = 44.3, Circumference = 86.5 },
        new ScatterChartData { Breadth = 44.3, Circumference = 86.5 },
        new ScatterChartData { Breadth = 44.5, Circumference = 86.9 },
        new ScatterChartData { Breadth = 44.57, Circumference = 85.5 },
        new ScatterChartData { Breadth = 44.8, Circumference = 85.8 },
        new ScatterChartData { Breadth = 45.0, Circumference = 84.6 },
        new ScatterChartData { Breadth = 45.0, Circumference = 84.64 },
        new ScatterChartData { Breadth = 44.9, Circumference = 82.7 },
        new ScatterChartData { Breadth = 44.8, Circumference = 83.7 },
        new ScatterChartData { Breadth = 44.8, Circumference = 83.75 },
        new ScatterChartData { Breadth = 44.6, Circumference = 83.3 },
        new ScatterChartData { Breadth = 44.65, Circumference = 83.37 },
        new ScatterChartData { Breadth = 44.65, Circumference = 84.5 },
        new ScatterChartData { Breadth = 44.65, Circumference = 84.53 },
        new ScatterChartData { Breadth = 44.2, Circumference = 81.8 },
        new ScatterChartData { Breadth = 44.9, Circumference = 80.2 },
        new ScatterChartData { Breadth = 45.1, Circumference = 85.5 },
        new ScatterChartData { Breadth = 44.7, Circumference = 87.1 },
        new ScatterChartData { Breadth = 44.7, Circumference = 87.10 },
        new ScatterChartData { Breadth = 44.70, Circumference = 87.10 },
        new ScatterChartData { Breadth = 44.9, Circumference = 86.8 },
        new ScatterChartData { Breadth = 45.1, Circumference = 87.2 },
        new ScatterChartData { Breadth = 45.0, Circumference = 88.6 },
        new ScatterChartData { Breadth = 45.0, Circumference = 89.4 },
        new ScatterChartData { Breadth = 45.0, Circumference = 89.41 },
        new ScatterChartData { Breadth = 44.7, Circumference = 88.5 },
        new ScatterChartData { Breadth = 44.4, Circumference = 88.3 },
        new ScatterChartData { Breadth = 44.4, Circumference = 88.3 },
        new ScatterChartData { Breadth = 44.5, Circumference = 89.4 },
        new ScatterChartData { Breadth = 44.4, Circumference = 90.0 },
        new ScatterChartData { Breadth = 43.9, Circumference = 89.3 },
        new ScatterChartData { Breadth = 44.20, Circumference = 90.2 },
        new ScatterChartData { Breadth = 44.0, Circumference = 91.2 },
        new ScatterChartData { Breadth = 44.0, Circumference = 91.24 },
        new ScatterChartData { Breadth = 44.1, Circumference = 88.5 },
        new ScatterChartData { Breadth = 44.1, Circumference = 88.53 },
        new ScatterChartData { Breadth = 44.16, Circumference = 88.5 },
        new ScatterChartData { Breadth = 44.2, Circumference = 91.7 },
        new ScatterChartData { Breadth = 44.2, Circumference = 91.75 },
        new ScatterChartData { Breadth = 43.9, Circumference = 92.7 },
        new ScatterChartData { Breadth = 43.9, Circumference = 92.79 },
        new ScatterChartData { Breadth = 44.2, Circumference = 94.8 },
        new ScatterChartData { Breadth = 44.0, Circumference = 93.8 },
        new ScatterChartData { Breadth = 44.0, Circumference = 93.81 },
        new ScatterChartData { Breadth = 44.4, Circumference = 95.6 },
        new ScatterChartData { Breadth = 44.8, Circumference = 97.4 },
        new ScatterChartData { Breadth = 44.8, Circumference = 93.6 },
        new ScatterChartData { Breadth = 44.81, Circumference = 93.67 },
        new ScatterChartData { Breadth = 44.6, Circumference = 92.5 },
        new ScatterChartData { Breadth = 44.7, Circumference = 94.57 },
        new ScatterChartData { Breadth = 45.2, Circumference = 92.2 },
        new ScatterChartData { Breadth = 45.2, Circumference = 92.24 },
        new ScatterChartData { Breadth = 45.1, Circumference = 94.0 },
        new ScatterChartData { Breadth = 45.1, Circumference = 94.0 },
        new ScatterChartData { Breadth = 44.9, Circumference = 90.4 },
        new ScatterChartData { Breadth = 44.9, Circumference = 89.4 },
        new ScatterChartData { Breadth = 44.7, Circumference = 90.4 },
        new ScatterChartData { Breadth = 44.7, Circumference = 90.45 },
    };

    public List<ScatterChartData> Cluster2Value { get; set; } = new List<ScatterChartData>
    {
        new ScatterChartData { Breadth = 45.6, Circumference = 91.6 },
        new ScatterChartData { Breadth = 46.0, Circumference = 92.6 },
        new ScatterChartData { Breadth = 46.4, Circumference = 94.7 },
        new ScatterChartData { Breadth = 46.9, Circumference = 97.3 },
        new ScatterChartData { Breadth = 46.9, Circumference = 97.3 },
        new ScatterChartData { Breadth = 46.8, Circumference = 98.7 },
        new ScatterChartData { Breadth = 46.84, Circumference = 98.72 },
        new ScatterChartData { Breadth = 45.4, Circumference = 95.9 },
        new ScatterChartData { Breadth = 45.4, Circumference = 94.8 },
        new ScatterChartData { Breadth = 45.2, Circumference = 97.2 },
        new ScatterChartData { Breadth = 45.2, Circumference = 95.9 },
        new ScatterChartData { Breadth = 45.3, Circumference = 97.4 },
        new ScatterChartData { Breadth = 46.2, Circumference = 96.6 },
        new ScatterChartData { Breadth = 46.2, Circumference = 98.3 },
        new ScatterChartData { Breadth = 46.3, Circumference = 96.9 },
        new ScatterChartData { Breadth = 46.3, Circumference = 96.9 },
        new ScatterChartData { Breadth = 46.0, Circumference = 97.0 },
        new ScatterChartData { Breadth = 46.0, Circumference = 97.7 },
        new ScatterChartData { Breadth = 45.7, Circumference = 97.5 },
        new ScatterChartData { Breadth = 45.7, Circumference = 98.8 },
        new ScatterChartData { Breadth = 45.79, Circumference = 98.88 },
        new ScatterChartData { Breadth = 45.79, Circumference = 98.88 },
        new ScatterChartData { Breadth = 45.6, Circumference = 98.7 },
        new ScatterChartData { Breadth = 45.63, Circumference = 98.75 },
        new ScatterChartData { Breadth = 45.5, Circumference = 99.9 },
        new ScatterChartData { Breadth = 45.6, Circumference = 101.4 },
        new ScatterChartData { Breadth = 45.7, Circumference = 102.6 },
        new ScatterChartData { Breadth = 45.7, Circumference = 102.62 },
        new ScatterChartData { Breadth = 45.3, Circumference = 101.3 },
        new ScatterChartData { Breadth = 45.3, Circumference = 103.0 },
        new ScatterChartData { Breadth = 45.1, Circumference = 100.7 },
        new ScatterChartData { Breadth = 45.1, Circumference = 100.70 },
        new ScatterChartData { Breadth = 45.5, Circumference = 102.7 },
        new ScatterChartData { Breadth = 45.5, Circumference = 103.9 },
        new ScatterChartData { Breadth = 45.4, Circumference = 105.3 },
        new ScatterChartData { Breadth = 45.2, Circumference = 108.1 },
        new ScatterChartData { Breadth = 45.6, Circumference = 108.2 },
        new ScatterChartData { Breadth = 45.5, Circumference = 107.3 },
        new ScatterChartData { Breadth = 46.3, Circumference = 107.6 },
        new ScatterChartData { Breadth = 45.9, Circumference = 106.0 },
        new ScatterChartData { Breadth = 45.8, Circumference = 104.9 },
        new ScatterChartData { Breadth = 45.9, Circumference = 104.1 },
        new ScatterChartData { Breadth = 46.0, Circumference = 103.7 },
        new ScatterChartData { Breadth = 46.07, Circumference = 105.3 },
        new ScatterChartData { Breadth = 46.0, Circumference = 105.31 },
        new ScatterChartData { Breadth = 46.3, Circumference = 105.4 },
        new ScatterChartData { Breadth = 46.3, Circumference = 105.43 },
        new ScatterChartData { Breadth = 46.5, Circumference = 105.1 },
        new ScatterChartData { Breadth = 46.58, Circumference = 105.17 },
        new ScatterChartData { Breadth = 46.6, Circumference = 104.5 },
        new ScatterChartData { Breadth = 46.7, Circumference = 104.2 },
        new ScatterChartData { Breadth = 46.5, Circumference = 102.9 },
        new ScatterChartData { Breadth = 46.4, Circumference = 102.7 },
        new ScatterChartData { Breadth = 46.0, Circumference = 102.6 },
        new ScatterChartData { Breadth = 46.2, Circumference = 104.1 },
        new ScatterChartData { Breadth = 46.2, Circumference = 104.15 },
        new ScatterChartData { Breadth = 46.2, Circumference = 104.15 },
        new ScatterChartData { Breadth = 46.3, Circumference = 101.3 },
        new ScatterChartData { Breadth = 46.6, Circumference = 100.4 },
        new ScatterChartData { Breadth = 46.4, Circumference = 99.6 },
        new ScatterChartData { Breadth = 46.4, Circumference = 100.2 },
        new ScatterChartData { Breadth = 46.1, Circumference = 100.29 },
        new ScatterChartData { Breadth = 45.9, Circumference = 99.5 },
        new ScatterChartData { Breadth = 46.94, Circumference = 102.0 },
        new ScatterChartData { Breadth = 46.9, Circumference = 102.07 },
        new ScatterChartData { Breadth = 47.1, Circumference = 99.8 },
        new ScatterChartData { Breadth = 46.8, Circumference = 101.1 },
        new ScatterChartData { Breadth = 47.0, Circumference = 101.2 },
        new ScatterChartData { Breadth = 47.7, Circumference = 96.7 },
        new ScatterChartData { Breadth = 47.5, Circumference = 98.9 },
        new ScatterChartData { Breadth = 47.5, Circumference = 100.3 },
        new ScatterChartData { Breadth = 47.5, Circumference = 100.38 },
        new ScatterChartData { Breadth = 47.5, Circumference = 101.5 },
        new ScatterChartData { Breadth = 47.2, Circumference = 102.9 },
        new ScatterChartData { Breadth = 46.8, Circumference = 103.7 },
        new ScatterChartData { Breadth = 47.1, Circumference = 102.4 },
        new ScatterChartData { Breadth = 46.9, Circumference = 104.2 },
        new ScatterChartData { Breadth = 47.0, Circumference = 105.2 },
        new ScatterChartData { Breadth = 46.7, Circumference = 106.4 },
        new ScatterChartData { Breadth = 47.1, Circumference = 106.0 },
        new ScatterChartData { Breadth = 46.9, Circumference = 106.0 },
        new ScatterChartData { Breadth = 47.0, Circumference = 106.4 },
        new ScatterChartData { Breadth = 47.2, Circumference = 106.5 },
        new ScatterChartData { Breadth = 47.2, Circumference = 108.2 },
        new ScatterChartData { Breadth = 47.2, Circumference = 109.1 },
        new ScatterChartData { Breadth = 47.0, Circumference = 109.9 },
        new ScatterChartData { Breadth = 46.9, Circumference = 108.3 },
        new ScatterChartData { Breadth = 46.5, Circumference = 108.9 },
        new ScatterChartData { Breadth = 47.1, Circumference = 113.9 },
        new ScatterChartData { Breadth = 46.3, Circumference = 113.5 },
        new ScatterChartData { Breadth = 46.3, Circumference = 110.8 },
        new ScatterChartData { Breadth = 46.32, Circumference = 110.8 },
        new ScatterChartData { Breadth = 46.4, Circumference = 111.7 },
        new ScatterChartData { Breadth = 46.8, Circumference = 112.2 },
        new ScatterChartData { Breadth = 46.9, Circumference = 112.2 },
        new ScatterChartData { Breadth = 47.1, Circumference = 111.7 },
        new ScatterChartData { Breadth = 47.3, Circumference = 110.8 },
        new ScatterChartData { Breadth = 47.4, Circumference = 106.8 },
    };

    public List<ScatterChartData> Cluster3Value { get; set; } = new List<ScatterChartData>
    {
        new ScatterChartData { Breadth = 47.6, Circumference = 96.5 },
        new ScatterChartData { Breadth = 47.6, Circumference = 98.3 },
        new ScatterChartData { Breadth = 47.5, Circumference = 100.2 },
        new ScatterChartData { Breadth = 47.5, Circumference = 103.0 },
        new ScatterChartData { Breadth = 47.6, Circumference = 104.3 },
        new ScatterChartData { Breadth = 47.8, Circumference = 103.7 },
        new ScatterChartData { Breadth = 48.3, Circumference = 102.9 },
        new ScatterChartData { Breadth = 48.2, Circumference = 103.7 },
        new ScatterChartData { Breadth = 48.3, Circumference = 103.8 },
        new ScatterChartData { Breadth = 48.6, Circumference = 103.7 },
        new ScatterChartData { Breadth = 48.7, Circumference = 104.4 },
        new ScatterChartData { Breadth = 48.8, Circumference = 103.7 },
        new ScatterChartData { Breadth = 48.3, Circumference = 105.5 },
        new ScatterChartData { Breadth = 48.3, Circumference = 105.52 },
        new ScatterChartData { Breadth = 48.4, Circumference = 106.2 },
        new ScatterChartData { Breadth = 48.46, Circumference = 104.7 },
        new ScatterChartData { Breadth = 48.7, Circumference = 104.9 },
        new ScatterChartData { Breadth = 48.7, Circumference = 104.99 },
        new ScatterChartData { Breadth = 48.7, Circumference = 104.9 },
        new ScatterChartData { Breadth = 48.8, Circumference = 106.66 },
        new ScatterChartData { Breadth = 49.3, Circumference = 106.2 },
        new ScatterChartData { Breadth = 49.0, Circumference = 106.0 },
        new ScatterChartData { Breadth = 49.2, Circumference = 104.3 },
        new ScatterChartData { Breadth = 49.7, Circumference = 109.8 },
        new ScatterChartData { Breadth = 49.6, Circumference = 108.0 },
        new ScatterChartData { Breadth = 49.5, Circumference = 108.0 },
        new ScatterChartData { Breadth = 49.3, Circumference = 106.7 },
        new ScatterChartData { Breadth = 49.1, Circumference = 106.78 },
        new ScatterChartData { Breadth = 49.0, Circumference = 108.3 },
        new ScatterChartData { Breadth = 49.1, Circumference = 109.2 },
        new ScatterChartData { Breadth = 49.3, Circumference = 108.0 },
        new ScatterChartData { Breadth = 48.9, Circumference = 107.3 },
        new ScatterChartData { Breadth = 47.7, Circumference = 106.9 },
        new ScatterChartData { Breadth = 48.1, Circumference = 106.6 },
        new ScatterChartData { Breadth = 47.9, Circumference = 105.9 },
        new ScatterChartData { Breadth = 47.9, Circumference = 107.5 },
        new ScatterChartData { Breadth = 47.8, Circumference = 107.0 },
        new ScatterChartData { Breadth = 47.8, Circumference = 107.0 },
        new ScatterChartData { Breadth = 48.3, Circumference = 107.06 },
        new ScatterChartData { Breadth = 48.1, Circumference = 108.1 },
        new ScatterChartData { Breadth = 48.4, Circumference = 107.7 },
        new ScatterChartData { Breadth = 48.2, Circumference = 107.71 },
        new ScatterChartData { Breadth = 48.3, Circumference = 108.8 },
        new ScatterChartData { Breadth = 48.31, Circumference = 109.8 },
        new ScatterChartData { Breadth = 48.0, Circumference = 108.8 },
        new ScatterChartData { Breadth = 47.9, Circumference = 109.3 },
        new ScatterChartData { Breadth = 47.8, Circumference = 109.9 },
        new ScatterChartData { Breadth = 47.8, Circumference = 110.9 },
        new ScatterChartData { Breadth = 47.82, Circumference = 112.4 },
        new ScatterChartData { Breadth = 48.1, Circumference = 112.6 },
        new ScatterChartData { Breadth = 47.9, Circumference = 111.3 },
        new ScatterChartData { Breadth = 47.9, Circumference = 111.32 },
        new ScatterChartData { Breadth = 48.6, Circumference = 112.9 },
        new ScatterChartData { Breadth = 48.0, Circumference = 113.2 },
        new ScatterChartData { Breadth = 47.8, Circumference = 108.8 },
        new ScatterChartData { Breadth = 49.0, Circumference = 115.0 },
        new ScatterChartData { Breadth = 48.9, Circumference = 115.0 },
        new ScatterChartData { Breadth = 47.6, Circumference = 108.2 },
        new ScatterChartData { Breadth = 47.6, Circumference = 110.0 },
        new ScatterChartData { Breadth = 47.7, Circumference = 108.6 },
        new ScatterChartData { Breadth = 47.9, Circumference = 117.5 },
        new ScatterChartData { Breadth = 48.3, Circumference = 118.3 },
        new ScatterChartData { Breadth = 48.6, Circumference = 118.9 },
        new ScatterChartData { Breadth = 48.7, Circumference = 122.3 },
        new ScatterChartData { Breadth = 49.4, Circumference = 120.8 },
        new ScatterChartData { Breadth = 49.3, Circumference = 117.7 },
        new ScatterChartData { Breadth = 48.6, Circumference = 115.9 },
        new ScatterChartData { Breadth = 48.7, Circumference = 116.4 },
        new ScatterChartData { Breadth = 48.3, Circumference = 115.5 },
        new ScatterChartData { Breadth = 49.2, Circumference = 115.2 },
        new ScatterChartData { Breadth = 49.5, Circumference = 115.27 },
        new ScatterChartData { Breadth = 48.6, Circumference = 113.2 },
        new ScatterChartData { Breadth = 48.5, Circumference = 112.4 },
        new ScatterChartData { Breadth = 49.0, Circumference = 113.2 },
        new ScatterChartData { Breadth = 48.9, Circumference = 112.5 },
        new ScatterChartData { Breadth = 48.8, Circumference = 110.9 },
        new ScatterChartData { Breadth = 48.6, Circumference = 109.8 },
        new ScatterChartData { Breadth = 48.6, Circumference = 108.0 },
        new ScatterChartData { Breadth = 48.5, Circumference = 110.4 },
        new ScatterChartData { Breadth = 48.5, Circumference = 108.8 },
        new ScatterChartData { Breadth = 48.8, Circumference = 110.6 },
        new ScatterChartData { Breadth = 48.8, Circumference = 110.65 },
        new ScatterChartData { Breadth = 49.0, Circumference = 109.8 },
        new ScatterChartData { Breadth = 49.2, Circumference = 111.6 },
        new ScatterChartData { Breadth = 48.8, Circumference = 111.9 },
        new ScatterChartData { Breadth = 48.9, Circumference = 111.6 },
        new ScatterChartData { Breadth = 49.3, Circumference = 111.4 },
        new ScatterChartData { Breadth = 49.3, Circumference = 111.42 },
        new ScatterChartData { Breadth = 49.3, Circumference = 111.6 },
        new ScatterChartData { Breadth = 49.4, Circumference = 112.1 },
        new ScatterChartData { Breadth = 49.5, Circumference = 112.9 },
        new ScatterChartData { Breadth = 49.7, Circumference = 113.2 },
        new ScatterChartData { Breadth = 49.9, Circumference = 113.3 },
        new ScatterChartData { Breadth = 49.6, Circumference = 113.7 },
        new ScatterChartData { Breadth = 48.9, Circumference = 111.3 },
        new ScatterChartData { Breadth = 49.0, Circumference = 112.0 },
        new ScatterChartData { Breadth = 48.8, Circumference = 109.3 },
    };

    public List<ScatterChartData> Cluster4Value { get; set; } = new List<ScatterChartData>
    {
        new ScatterChartData { Breadth = 50.3, Circumference = 107.0 },
        new ScatterChartData { Breadth = 50.1, Circumference = 107.5 },
        new ScatterChartData { Breadth = 50.0, Circumference = 110.2 },
        new ScatterChartData { Breadth = 49.8, Circumference = 110.7 },
        new ScatterChartData { Breadth = 50.0, Circumference = 111.2 },
        new ScatterChartData { Breadth = 50.0, Circumference = 112.0 },
        new ScatterChartData { Breadth = 50.1, Circumference = 112.17 },
        new ScatterChartData { Breadth = 50.0, Circumference = 113.2 },
        new ScatterChartData { Breadth = 50.6, Circumference = 113.4 },
        new ScatterChartData { Breadth = 50.3, Circumference = 114.7 },
        new ScatterChartData { Breadth = 50.3, Circumference = 115.3 },
        new ScatterChartData { Breadth = 50.2, Circumference = 116.5 },
        new ScatterChartData { Breadth = 49.8, Circumference = 116.8 },
        new ScatterChartData { Breadth = 49.9, Circumference = 117.9 },
        new ScatterChartData { Breadth = 49.94, Circumference = 121.9 },
        new ScatterChartData { Breadth = 50.3, Circumference = 123.2 },
        new ScatterChartData { Breadth = 50.6, Circumference = 121.4 },
        new ScatterChartData { Breadth = 50.9, Circumference = 121.0 },
        new ScatterChartData { Breadth = 50.7, Circumference = 118.4 },
        new ScatterChartData { Breadth = 50.70, Circumference = 118.2 },
        new ScatterChartData { Breadth = 50.8, Circumference = 117.1 },
        new ScatterChartData { Breadth = 50.8, Circumference = 115.2 },
        new ScatterChartData { Breadth = 50.9, Circumference = 112.7 },
        new ScatterChartData { Breadth = 50.6, Circumference = 112.4 },
        new ScatterChartData { Breadth = 50.5, Circumference = 111.5 },
        new ScatterChartData { Breadth = 50.7, Circumference = 110.6 },
        new ScatterChartData { Breadth = 50.7, Circumference = 111.3 },
        new ScatterChartData { Breadth = 50.8, Circumference = 110.9 },
        new ScatterChartData { Breadth = 51.0, Circumference = 111.8 },
        new ScatterChartData { Breadth = 50.7, Circumference = 108.8 },
        new ScatterChartData { Breadth = 50.6, Circumference = 108.2 },
        new ScatterChartData { Breadth = 50.65, Circumference = 108.2 },
        new ScatterChartData { Breadth = 51.2, Circumference = 108.6 },
        new ScatterChartData { Breadth = 51.8, Circumference = 112.0 },
        new ScatterChartData { Breadth = 52.3, Circumference = 113.6 },
        new ScatterChartData { Breadth = 51.1, Circumference = 115.4 },
        new ScatterChartData { Breadth = 51.8, Circumference = 115.7 },
        new ScatterChartData { Breadth = 51.7, Circumference = 117.2 },
        new ScatterChartData { Breadth = 52.0, Circumference = 119.5 },
        new ScatterChartData { Breadth = 52.0, Circumference = 120.6 },
        new ScatterChartData { Breadth = 51.9, Circumference = 122.9 },
        new ScatterChartData { Breadth = 51.9, Circumference = 124.8 },
        new ScatterChartData { Breadth = 51.17, Circumference =  124.7 },
        new ScatterChartData { Breadth = 52.3, Circumference = 128.0 },
        new ScatterChartData { Breadth = 52.3, Circumference = 128.0 },
        new ScatterChartData { Breadth = 52.6, Circumference = 124.9 },
        new ScatterChartData { Breadth = 52.7, Circumference = 124.2 },
        new ScatterChartData { Breadth = 52.5, Circumference = 120.2 },
        new ScatterChartData { Breadth = 52.8, Circumference = 119.7 }
    };

    public List<ScatterChartData> Cluster5Value { get; set; } = new List<ScatterChartData>
    {
        new ScatterChartData { Breadth = 53.1, Circumference = 121.3 },
        new ScatterChartData { Breadth = 53.0, Circumference = 122.4 },
        new ScatterChartData { Breadth = 54.6, Circumference = 133.4 },
        new ScatterChartData { Breadth = 53.3, Circumference = 122.6 },
        new ScatterChartData { Breadth = 53.6, Circumference = 125.4 },
        new ScatterChartData { Breadth = 53.9, Circumference = 128.5 },
        new ScatterChartData { Breadth = 53.3, Circumference = 125.7 },
        new ScatterChartData { Breadth = 53.3, Circumference = 125.78 },
        new ScatterChartData { Breadth = 54.0, Circumference = 127.0 },
        new ScatterChartData { Breadth = 54.0, Circumference = 127.05 },
        new ScatterChartData { Breadth = 53.1, Circumference = 127.3 },
        new ScatterChartData { Breadth = 53.6, Circumference = 121.36 },
        new ScatterChartData { Breadth = 52.6, Circumference = 123.4 },
        new ScatterChartData { Breadth = 54.0, Circumference = 123.2 },
        new ScatterChartData { Breadth = 53.8, Circumference = 124.8 },
        new ScatterChartData { Breadth = 53.3, Circumference = 123.3 },
        new ScatterChartData { Breadth = 53.3, Circumference = 124.3 },
        new ScatterChartData { Breadth = 53.8, Circumference = 123.6 },
        new ScatterChartData { Breadth = 53.8, Circumference = 124.61 },
        new ScatterChartData { Breadth = 53.5, Circumference = 123.5 }
    };

    protected override void OnInitialized()
    {
        
        Theme = ThemeHelper.GetCurrentTheme(NavigationManager.Uri);
        if (SampleService.IsDevice)
        {
            Width = "100%";
        }
    }

    public class ScatterChartData
    {
        public double Breadth { get; set; }
        public double Circumference { get; set; }
    }

}
