@page "/NumericTextBox/RangeValidation"

@using Syncfusion.EJ2.Blazor.Inputs
@using Syncfusion.EJ2.Blazor.Buttons

@inherits SampleBaseComponent;

<div class="control-section col-lg-12 range">
    <div class="col-lg-8">
        <div class='content rangevalidation'>
            <div class="control-label">
                Numeric TextBox
            </div>
            <EjsNumericTextBox TValue="double?" Min="@setMin" Max="@setMax" Value=15 Step=@setIncrement></EjsNumericTextBox>
        </div>

    </div>
    <div class="col-lg-4">
        <div class='content property-section'>
            <div class="property">Properties</div>
            <table>
                <tbody>
                    <tr>
                        <td>
                            <div class="selectionText">Min Value </div>
                        </td>
                        <td>
                            <div>
                                <EjsNumericTextBox @ref="MinObj" TValue="double?" Format="n0" @bind-Value="@minValue"></EjsNumericTextBox>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="selectionText">Max Value </div>
                        </td>
                        <td>
                            <div>
                                <EjsNumericTextBox @ref="MaxObj" TValue="double?" Width="100%" Format="n0" @bind-Value="@maxValue"></EjsNumericTextBox>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="selectionText">Increment step </div>
                        </td>
                        <td>
                            <div>
                                <EjsNumericTextBox @ref="StepObj" TValue="double?" Width="100%" Format="n0" @bind-Value="@stepValue"></EjsNumericTextBox>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <button class="e-btn apply-limit" @onclick="@ApplyRange">Apply</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

@code{

    public EjsNumericTextBox<double?> MinObj;

    public EjsNumericTextBox<double?> MaxObj;

    public EjsNumericTextBox<double?> StepObj;

    private double setMin { get; set; } = 10;

    private double setMax { get; set; } = 100;

    private double setIncrement { get; set; } = 1;

    private double? minValue = 10;

    private double? maxValue = 100;

    private double? stepValue = 1;

    public void ApplyRange(Microsoft.AspNetCore.Components.Web.MouseEventArgs args)
    {
        setMin = (double)this.MinObj.Value;
        setMax = (double)this.MaxObj.Value;
        setIncrement = (double)this.StepObj.Value;

    }
}

<style>
    .control-section.range {
        margin-top: 20px;
    }

    .rangevalidation {
        width: 55%;
        margin-left: 80px;
    }

    .selectionText {
        margin: 10px;
        width: 100px;
    }

    .apply-limit {
        margin-top: 10px;
    }

    .control-label {
        padding: 24px 0px 10px 0px;
        font-size: 12px;
    }

    .property {
        padding-left: 10px;
        padding-bottom: 20px;
        font-weight: 600;
        font-size: 15px;
    }
</style>