@page "/TreeMap/DefaultFunctionalities"


@using Syncfusion.EJ2.RazorComponents.TreeMap
@using Syncfusion.EJ2.RazorComponents.DropDowns

@*Hidden:Lines*@
@using ej2_blazor_samples
@{
        SampleBrowser.CurrentSampleName = "Default Functionalities";
        SampleBrowser.CurrentControlName = "TreeMap";
        SampleBrowser.CurrentControlCategory = "TreeMap";
        SampleBrowser.CurrentControl = SampleBrowser.Config.TreeMap;
        SampleBrowser.ActionDescription = new string[] {
        @"<p>
        This sample visualizes the car sales of various countries in 2017 by rendering the countries at top level and car manufacturing companies as leaf items.
    </p>"
    };
        SampleBrowser.Description = new string[] {
        @"<p>
        In this example, you can see how to render a treemap with the provided data source. Palette color is applied for the items in treemap. Default legend is enabled in this example to represent the items in top level.
    </p>
    <p>
        Tooltip is enabled in this example. To see the tooltip in action, hover the mouse over an item or tap an item in touch enabled devices.
    </p>
    <br />
    <p style=""font-weight: 500"">Injecting Module</p>
    <p>
        Treemap component features are segregated into individual feature-wise modules. To use a tooltip, inject the
        <code>Tooltip</code> module using the < code > Treemap.Inject(TreeMapTooltip) </ code > method, and use a legend by injecting the<code> Legend</ code > module using the < code > Treemap.Inject(TreeMapLegend) </ code > method.


            </ p > "
    };
}
@*End:Hidden*@

<div class="control-section">
    <div>
        <EjsTreeMap ID="Layout" titleSettings="@titleSettings" UseGroupingSeparator="true" legendSettings="@legendSettings" WeightValuePath="Sales" Palette="@palette" RangeColorValuePath="Sales" Format="n" TooltipSettings="@tooltipSettings" DataSource=@datasource LeafItemSettings="@leaf" Levels="@Level"></EjsTreeMap>
    </div>
    <div style="float: right; margin-right: 10px;">
        Source:
        <a href=" https://www.factorywarrantylist.com/car-sales-by-country.html/" target="_blank"> www.factorywarrantylist.com</a>
    </div>
</div>
@code {
    public object titleSettings { get; set; } = new {
        text = "Car Sales by Country - 2017",
        textStyle = new { size = "15px" }
    };
    public object legendSettings { get; set; } = new
    {
        visible= true,
        position= "Top",
        shape= "Rectangle"
    };
    public object tooltipSettings { get; set; } = new
    {
        visible = true
    };
    public object leaf { get; set; } = new
    {
        labelPath=  "Company",
        border=new { color= "white", width= 0.5 }
    };
    public List<TreeMapLevel> Level { get; set; } = new List<TreeMapLevel>()
        {
        new TreeMapLevel() { GroupPath= "Continent", Border= new { color= "white", width= 0.5 }}
        };
    public string[] palette =new string[] {
         "#C33764" , "#AB3566" , "#993367", "#853169", "#742F6A", "#632D6C", "#532C6D", "#412A6F", "#312870", "#1D2671"
        };
    public List<object> datasource { get; set; } = new List<object> {
              new { Continent= "China", Company= "Volkswagen", Sales= 3005994 },
              new { Continent= "China", Company= "General Motors", Sales= 1230044 },
              new { Continent= "China", Company= "Honda", Sales= 1197023 },
              new { Continent= "United States", Company= "General Motors", Sales=3042775  },
              new { Continent= "United States", Company= "Ford", Sales=2599193  },
              new { Continent= "United States", Company= "Toyota", Sales=2449587  },
              new { Continent= "Japan",Company= "Toyota", Sales=1527977  },
              new { Continent= "Japan", Company= "Honda", Sales=706982 },
              new { Continent= "Japan", Company= "Suzuki", Sales=623041  },
              new { Continent= "Germany",Company= "Volkswagen", Sales=655977  },
              new { Continent= "Germany", Company= "Mercedes", Sales=310845  },
              new { Continent= "Germany", Company= "BMW", Sales=261931  },
              new { Continent= "United Kingdom", Company= "Ford ", Sales=319442  },
              new { Continent= "United Kingdom", Company= "Vauxhall", Sales= 251146 },
              new { Continent= "United Kingdom", Company= "Volkswagen", Sales=206994  },
              new { Continent= "India", Company= "Maruti Suzuki", Sales=1443654  },
              new { Continent= "India", Company= "Hyundai", Sales=476241  },
              new { Continent= "India", Company= "Mahindra", Sales=205041  },
              new { Continent= "France", Company= "Renault", Sales=408183 },
              new { Continent= "France", Company= "Peugeot", Sales=336242 },
              new { Continent= "France", Company= "Citroen", Sales=194986  },
              new { Continent= "Brazil", Company= "Flat Chrysler", Sales=368842  },
              new { Continent= "Brazil", Company= "General Motors", Sales= 348351 },
              new { Continent= "Brazil", Company= "Volkswagen", Sales= 245895 },
              new { Continent= "Italy", Company= "Flat Chrysler", Sales=386260  },
              new { Continent= "Italy", Company= "Volkswagen", Sales= 138984 },
              new { Continent= "Italy", Company= "Ford", Sales= 125144 },
              new { Continent= "Canada", Company= "Ford", Sales=305086},
              new { Continent= "Canada", Company= "FCA", Sales=278011 },
              new { Continent= "Canada", Company= "GM", Sales= 266884 },
        };
}