@page "/TreeMap/selection"


@using Syncfusion.EJ2.RazorComponents.TreeMap

@*Hidden:Lines*@
@using ej2_blazor_samples
@{
        SampleBrowser.CurrentSampleName = "Selection";
        SampleBrowser.CurrentControlName = "TreeMap";
        SampleBrowser.CurrentControlCategory = "TreeMap";
        SampleBrowser.CurrentControl = SampleBrowser.Config.TreeMap;
        SampleBrowser.ActionDescription = new string[] {
        @"<p>
        This sample depicts the details of Imports made by Japan. Selection and highlight has been enabled in this sample.
    </p>"
    };
        SampleBrowser.Description = new string[] {
        @"<p>
        In this example, you can see the modes available for performing highlight and selection in treemap. It can be either enabled or disabled.
    </p>
    <br />
    <p style=""font-weight: 500"">Injecting Module</p>
    <p>

        Treemap component features are segregated into individual feature-wise modules. To use highlight and selection, inject the <code>Selection</code> module using the < code > Treemap.Inject(TreeMapSelection) </ code > inject the<code> Highlight</ code > module using the < code > Treemap.Inject(TreeMapHighlight) </ code > method.


             </ p > "
    };
}
@*End:Hidden*@

<div class="control-section">
    <EjsTreeMap ID="Tree-map" WeightValuePath="sales" SelectionSettings="@selectionSettings" Levels="@level" HighlightSettings="@highlightSettings" TitleSettings="@titleSettings" DataSource=@datasource LeafItemSettings="@leaf"></EjsTreeMap>
</div>

@functions {
public object titleSettings { get; set; } = new
{
    text = "Import and Export details of US",
    textStyle = new { size = "15px" }
};
public object selectionSettings { get; set; } = new
{
    enable = true,
    fill = "#58a0d3",
    border = new { width = 0.3 },
    color = "black",
    opacity = "1"
};
public object leaf { get; set; } = new
{
    labelPath = "type",
    fill = "#8ebfe2",
    labelPosition = "Center",
    gap = 10
};

public object highlightSettings { get; set; } = new
{
    enable = true,
    fill = "#71b0dd",
    border = new { width = 0.3, color = "black" },
    opacity = "1"
};
public List<object> level { get; set; } = new List<object>
{
new{ groupPath= "dataType", fill= "#c5e2f7", headerStyle= new{ size= "16px" }, headerAlignment= "Center", groupGap= 5 },
new  { groupPath= "product", fill= "#a4d1f2", headerAlignment= "Center" , groupGap= 2 }
};
public List<object> datasource { get; set; } = new List<object> {
new { dataType= "Import and export details of Japan", product= "Plastics and Rubber", type= "Plastics and articles thereof", sales= 15309826454 },
new { dataType= "Import and export details of Japan", product= "Plastics and Rubber", type= "Rubber and articles thereof", sales= 7263996232 },
new { dataType= "Import and export details of Japan", product= "Live Animals and Animal Products", type= "Meat and edible meat", sales= 8598356166 },
new { dataType= "Import and export details of Japan", product= "Live Animals and Animal Products", type= "Fish and others", sales= 12651200133 },
new { dataType= "Import and export details of Japan", product= "Live Animals and Animal Products", type= "Dairy produce", sales= 1562558758 },
new { dataType= "Import and export details of Japan", product= "Vehicles", type= "tramway rolling stock", sales= 17798869241 },
new { dataType= "Import and export details of Japan", product= "Vehicles", type= "Aircraft", sales= 3666688232 }
};
} 