@page "/kanban/stacked-header"

@using ej2_blazor_kanban_data_models

@using Syncfusion.Blazor.Kanban

@inherits SampleBaseComponent;

<div class="control-section">
    <SfKanban KeyField="Status" DataSource="@Tasks" EnableTooltip="true">
        <KanbanColumns>
            @foreach (ColumnsModel item in columnData)
            {
                <KanbanColumn HeaderText="@item.HeaderText" KeyField="@item.KeyField">
                </KanbanColumn>
            }
        </KanbanColumns>
        <KanbanCardSettings ContentField="Summary" HeaderField="Id"></KanbanCardSettings>
        <KanbanStackedHeaders>
            @foreach (StackedHeadersModel item in stackedHeaderData)
            {
                <KanbanStackedHeader Text="@item.Text" KeyFields="@item.KeyFields"></KanbanStackedHeader>
            }
        </KanbanStackedHeaders>
    </SfKanban>
</div>

@code {
    private List<KanbanDataModel> Tasks = new KanbanDataModel().GetTasks();

    private List<ColumnsModel> columnData = new List<ColumnsModel>() {
        new ColumnsModel(){ HeaderText= "Open", KeyField= "Open" },
        new ColumnsModel(){ HeaderText= "In Progress", KeyField= "InProgress"},
        new ColumnsModel(){ HeaderText= "In Review", KeyField= "Review" },
        new ColumnsModel(){ HeaderText= "Completed", KeyField= "Close" }
    };
    private List<StackedHeadersModel> stackedHeaderData = new List<StackedHeadersModel>() {
        new StackedHeadersModel(){ Text= "To Do", KeyFields= "Open" },
        new StackedHeadersModel(){ Text= "Development Phase", KeyFields= "InProgress, Review" },
        new StackedHeadersModel(){ Text= "Done", KeyFields= "Close" }
    };
}