@page "/"

<PageTitle>Blazor Components Examples &amp; Demos | Syncfusion</PageTitle>

<HeadContent>
    <meta name="description" content="Explore demos of Syncfusion Blazor components. Build robust web applications with ease. Experience a wide range of features and functionality." />
    <link rel="canonical" href="@cURL">
</HeadContent>

@using Blazor_MAUI_Demos.Shared;
@using Syncfusion.Blazor.Buttons;
@using Syncfusion.Blazor.Popups;
@using Microsoft.Maui.Devices;

@inject NavigationManager UriHelper;
@inject SampleService SampleService;
@inject IJSRuntime JsRuntime;

@{
    bool IsMobileMode = false;
    @if (DeviceInfo.Current.Platform == DevicePlatform.Android || DeviceInfo.Current.Platform == DevicePlatform.iOS)
    {
        IsMobileMode = DeviceInfo.Current.Idiom == DeviceIdiom.Phone ? true : IsMobileMode;
    }
}

<div class="sf-blazor-home" @onclick="OnAppClick">
    <div class="top-row">
        <div class="first-row">
            <div class="toggle-icons" @onclick="OnToggleClick" @onclick:stopPropagation="true" role="button" tabindex="0" aria-label="Toggle Sidebar" title='Toggle Sidebar'>
                <svg id="always-visible" width="16" height="16" viewBox="0 0 16 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0.78125 8.28125H15.2188V9.59375H0.78125V8.28125ZM0.78125 4.34375H15.2188V5.65625H0.78125V4.34375ZM0.78125 0.40625H15.2188V1.71875H0.78125V0.40625Z" fill="white" />
                </svg>
            </div>
            <h1>Blazor Components</h1>
            <div>
                <div class="search-icon" @ontouchstart="@(async () => { await ShowTooltip("search-icon"); })" @onmouseover="@(async () => { await ShowTooltip("search-icon"); })">
                    <span class="sb-icons" role="button" aria-label="Search Samples" @onclick="OnRenderSearch">
                        <svg width="18" height="18" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M5.125 1.84375H4.95312L4.79688 1.85938L4.46875 1.90625L4.15625 2L3.84375 2.10938L3.5625 2.25L3.29688 2.40625L3.04688 2.59375L2.8125 2.8125L2.59375 3.04688L2.40625 3.29688L2.25 3.5625L2.10938 3.84375L2 4.15625L1.90625 4.46875L1.85938 4.79688L1.84375 5.125L1.85938 5.46875L1.90625 5.78125L2 6.10938L2.10938 6.40625L2.25 6.6875L2.40625 6.95312L2.59375 7.21875L2.8125 7.45312L3.04688 7.65625L3.29688 7.84375L3.5625 8.01562L3.84375 8.15625L4.15625 8.26562L4.46875 8.34375L4.79688 8.39062L5.125 8.40625L5.46875 8.39062L5.78125 8.34375L6.10938 8.26562L6.40625 8.15625L6.6875 8.01562L6.95312 7.84375L7.21875 7.65625L7.45312 7.45312L7.65625 7.21875L7.84375 6.95312L8.01562 6.6875L8.15625 6.40625L8.26562 6.10938L8.34375 5.78125L8.39062 5.46875L8.40625 5.125L8.39062 4.79688L8.34375 4.46875L8.26562 4.15625L8.15625 3.84375L8.01562 3.5625L7.84375 3.29688L7.65625 3.04688L7.45312 2.8125L7.21875 2.59375L6.95312 2.40625L6.6875 2.25L6.40625 2.10938L6.09375 2L5.78125 1.90625L5.46875 1.85938L5.125 1.84375ZM5.125 0.53125L5.35938 0.546875L5.59375 0.5625L5.82812 0.59375L6.04688 0.625L6.28125 0.671875L6.48438 0.734375L6.70312 0.8125L6.90625 0.890625L7.10938 0.984375L7.3125 1.09375L7.5 1.20312L7.6875 1.3125L7.875 1.45312L8.04688 1.57812L8.21875 1.73438L8.375 1.875L8.53125 2.04688L8.67188 2.20312L8.8125 2.375L8.9375 2.5625L9.0625 2.75L9.17188 2.9375L9.26562 3.14062L9.35938 3.34375L9.4375 3.54688L9.51562 3.76562L9.57812 3.98438L9.625 4.20312L9.67188 4.42188L9.70312 4.65625L9.71875 4.89062V5.125V5.34375L9.70312 5.54688L9.67188 5.76562L9.64062 5.96875L9.60938 6.17188L9.54688 6.375L9.42188 6.76562L9.26562 7.125L9.0625 7.48438L8.84375 7.8125L8.59375 8.125L8.96875 8.5L9.53125 8.59375L13.4688 12.5312L12.5312 13.4688L8.59375 9.53125L8.5 8.96875L8.14062 8.59375L7.98438 8.73438L7.65625 8.96875L7.3125 9.17188L6.95312 9.34375L6.5625 9.48438L6.17188 9.60938L5.96875 9.64062L5.76562 9.67188L5.54688 9.70312L5.34375 9.71875H5.125H4.89062L4.65625 9.70312L4.42188 9.67188L4.20312 9.625L3.98438 9.57812L3.76562 9.51562L3.54688 9.4375L3.34375 9.35938L3.14062 9.26562L2.9375 9.17188L2.75 9.0625L2.5625 8.9375L2.375 8.8125L2.20312 8.67188L2.04688 8.53125L1.875 8.375L1.73438 8.21875L1.57812 8.04688L1.45312 7.875L1.3125 7.6875L1.20312 7.5L1.09375 7.3125L0.984375 7.10938L0.890625 6.90625L0.8125 6.70312L0.734375 6.48438L0.671875 6.28125L0.625 6.04688L0.59375 5.82812L0.5625 5.59375L0.546875 5.35938L0.53125 5.125L0.546875 4.89062L0.5625 4.65625L0.59375 4.42188L0.625 4.20312L0.671875 3.98438L0.734375 3.76562L0.8125 3.54688L0.890625 3.34375L0.984375 3.14062L1.09375 2.9375L1.20312 2.75L1.3125 2.5625L1.45312 2.375L1.57812 2.20312L1.73438 2.04688L1.875 1.875L2.04688 1.73438L2.20312 1.57812L2.375 1.45312L2.5625 1.3125L2.75 1.20312L2.9375 1.09375L3.14062 0.984375L3.34375 0.890625L3.54688 0.8125L3.76562 0.734375L3.98438 0.671875L4.20312 0.625L4.42188 0.59375L4.65625 0.5625L4.89062 0.546875L5.125 0.53125Z" fill="white" />
                        </svg>
                    </span>
                    <span class="sb-tooltiptext">Search Samples</span>
                </div>
                <div id="searchContainer" class="@searchContainer">
                    <SearchComponent @ref="@searchRef"></SearchComponent>
                </div>
            </div>
            <div class="git-icon" @ontouchstart="@(async () => { await ShowTooltip("git-icon"); })" @onmouseover="@(async () => { await ShowTooltip("git-icon"); })">
                <a href='https://github.com/syncfusion/blazor-samples' target="_blank" rel="noopener">
                    <svg width="18" id="github-icon" height="20" viewBox="0 0 18 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M3.20775 1.99878C3.20739 1.99833 3.2132 1.99816 3.22628 1.99963C3.21465 1.99998 3.20811 1.99924 3.20775 1.99878ZM3.65776 2.14217C3.70049 2.16132 3.74565 2.18261 3.79316 2.20616C4.27029 2.44267 4.7852 2.80709 5.09642 3.09626L5.57644 3.54226L6.177 3.28023C7.08829 2.88263 8.13784 2.65334 9.26119 2.65334C10.3845 2.65334 11.4341 2.88263 12.3454 3.28023L12.9624 3.54943L13.444 3.0791C13.9892 2.54667 14.4462 2.31625 14.7814 2.20891C14.8657 2.1819 14.9457 2.16149 15.022 2.14607C15.0285 2.20947 15.0324 2.28355 15.0324 2.36997C15.0324 2.81179 14.928 3.44791 14.673 4.33555L14.5374 4.80749L14.8279 5.20335C15.3883 5.96696 15.6962 6.83921 15.6962 7.75768C15.6962 8.6391 15.2185 9.75424 14.3572 10.7068C13.5025 11.6521 12.3974 12.2955 11.318 12.3958L11.3205 12.4226C11.1878 12.4021 11.0519 12.3915 10.9134 12.3915V14.3915C11.2736 14.3915 11.5656 14.6835 11.5656 15.0437V20.0004H13.5656V15.0437C13.5656 14.6373 13.4742 14.2522 13.3108 13.9079C14.2858 13.4783 15.1522 12.8097 15.8407 12.0481C16.9252 10.8486 17.6962 9.27646 17.6962 7.75768C17.6962 6.54698 17.3378 5.41485 16.7199 4.43118C16.9191 3.65782 17.0324 2.96853 17.0324 2.36997C17.0324 1.65535 16.8692 0.942652 16.3565 0.406996L16.0612 0.0983973H15.6341L15.6252 0.0983968C15.3389 0.0983741 14.8142 0.0983323 14.1714 0.304201C13.6633 0.4669 13.1133 0.746715 12.5405 1.20848C11.529 0.849814 10.4201 0.653337 9.26119 0.653337C8.09434 0.653337 6.97815 0.852521 5.96101 1.21589C5.57411 0.921208 5.1218 0.632529 4.6814 0.414228C4.3591 0.254464 3.99269 0.106875 3.63063 0.0393716C3.31311 -0.0198292 2.73839 -0.0659129 2.26001 0.320414L2.08394 0.462611L1.98625 0.666768C1.59405 1.48641 1.62493 2.41933 1.69436 3.0963C1.72549 3.39979 1.77018 3.69506 1.80724 3.93989L1.82463 4.0552C1.84111 4.16537 1.85419 4.25761 1.86409 4.33496C1.20847 5.34074 0.82615 6.50731 0.82615 7.75768C0.82615 10.5157 2.6612 12.8067 5.17912 13.9789C5.0361 14.3048 4.95672 14.665 4.95672 15.0437V15.9826C4.859 15.9469 4.7537 15.9029 4.64096 15.8497C4.25793 15.6689 3.85044 15.4113 3.45364 15.1176C2.64893 14.5221 1.9926 13.8575 1.78091 13.5929C1.4359 13.1616 0.806604 13.0917 0.375342 13.4367C-0.0559202 13.7817 -0.125842 14.411 0.219168 14.8423C0.558222 15.2661 1.34759 16.0472 2.26395 16.7253C2.72769 17.0685 3.24958 17.4046 3.78733 17.6584C4.14653 17.8279 4.54386 17.9756 4.95672 18.0526V20.0004H6.95672V15.0437C6.95672 14.6835 7.24874 14.3915 7.60895 14.3915V12.3915C7.5278 12.3915 7.4475 12.3951 7.36821 12.4023C7.25176 12.3744 7.13405 12.3557 7.05681 12.3436C6.93849 12.3251 6.80188 12.3062 6.67368 12.2884L6.59779 12.2779C6.4412 12.2561 6.3026 12.2362 6.1927 12.2169C6.1479 12.2091 6.11509 12.2026 6.09264 12.1977C4.06111 11.2798 2.82615 9.57818 2.82615 7.75768C2.82615 6.83921 3.13406 5.96696 3.69448 5.20335L3.8883 4.93926V4.61168C3.8883 4.33894 3.84164 4.02012 3.80261 3.75923L3.78372 3.63379C3.74646 3.38709 3.70976 3.14409 3.68393 2.89225C3.65472 2.60751 3.64555 2.35744 3.65776 2.14217ZM6.06513 12.191L6.07071 12.1925C6.06684 12.1915 6.06506 12.191 6.06513 12.191Z" fill="white" />
                    </svg>
                </a>
                <span class="sb-tooltiptext">Explore in Github</span>
            </div>
            <div class="setting-icon">
                <div class="toggle-settings-icon" @ontouchstart="@(async () => { await ShowTooltip("toggle-settings-icon"); })" @onmouseover="@(async () => { await ShowTooltip("toggle-settings-icon"); })" @onclick="OnSettingsClick" @onclick:stopPropagation="true" role="button" tabindex="0" aria-label="Toggle settings" >
                    <svg width="18" height="20" viewBox="0 0 18 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M9 8.14453L8.80469 8.16406L8.62891 8.18359L8.45312 8.24219L8.27734 8.30078L8.12109 8.37891L7.96484 8.47656L7.82812 8.57422L7.69141 8.69141L7.57422 8.82812L7.47656 8.96484L7.37891 9.12109L7.30078 9.27734L7.24219 9.45312L7.18359 9.62891L7.16406 9.80469L7.14453 10L7.16406 10.1953L7.18359 10.3711L7.24219 10.5469L7.30078 10.7227L7.37891 10.8789L7.47656 11.0352L7.57422 11.1719L7.69141 11.3086L7.82812 11.4258L7.96484 11.5234L8.12109 11.6211L8.27734 11.6992L8.45312 11.7578L8.62891 11.8164L8.80469 11.8359L9 11.8555L9.19531 11.8359L9.37109 11.8164L9.54688 11.7578L9.72266 11.6992L9.87891 11.6211L10.0352 11.5234L10.1719 11.4258L10.3086 11.3086L10.4258 11.1719L10.543 11.0352L10.6211 10.8789L10.6992 10.7227L10.7773 10.5469L10.8164 10.3711L10.8359 10.1953L10.8555 10L10.8359 9.80469L10.8164 9.62891L10.7773 9.45312L10.6992 9.27734L10.6211 9.12109L10.543 8.96484L10.4258 8.82812L10.3086 8.69141L10.1719 8.57422L10.0352 8.47656L9.87891 8.37891L9.72266 8.30078L9.54688 8.24219L9.37109 8.18359L9.19531 8.16406L9 8.14453ZM9 6.30859H9.19531L9.37109 6.32812L9.74219 6.36719L10.0938 6.46484L10.4453 6.58203L10.7578 6.73828L11.0703 6.93359L11.3633 7.14844L11.6172 7.38281L11.8516 7.65625L12.0664 7.92969L12.2617 8.24219L12.418 8.55469L12.5352 8.90625L12.6328 9.25781L12.6914 9.62891V10V10.3711L12.6328 10.7422L12.5352 11.0938L12.418 11.4453L12.2617 11.7578L12.0664 12.0703L11.8516 12.3438L11.6172 12.6172L11.3633 12.8516L11.0703 13.0664L10.7578 13.2422L10.4453 13.3984L10.0938 13.5352L9.74219 13.6133L9.37109 13.6719L9 13.6914L8.62891 13.6719L8.25781 13.6133L7.90625 13.5352L7.55469 13.3984L7.24219 13.2422L6.92969 13.0664L6.65625 12.8516L6.38281 12.6172L6.14844 12.3438L5.93359 12.0703L5.75781 11.7578L5.60156 11.4453L5.46484 11.0938L5.38672 10.7422L5.32812 10.3711L5.30859 10L5.32812 9.62891L5.38672 9.25781L5.46484 8.90625L5.60156 8.55469L5.75781 8.24219L5.93359 7.92969L6.14844 7.65625L6.38281 7.38281L6.65625 7.14844L6.92969 6.93359L7.24219 6.73828L7.55469 6.58203L7.90625 6.46484L8.25781 6.36719L8.62891 6.32812L9 6.30859ZM8.35547 2.59766L8.16016 3.84766L8.02344 4.90234L7.04688 5.29297L6.75391 5.42969L6.46094 5.58594L6.1875 5.76172L5.875 5.97656L5.05469 6.60156L2.92578 5.74219L2.26172 6.85547L4.09766 8.28125L3.96094 9.31641L3.92188 10V10.3125L4.09766 11.7188L2.26172 13.1445L2.92578 14.2773L5.07422 13.3984L5.91406 14.043L6.1875 14.2383L6.48047 14.4141L6.75391 14.5703L7.04688 14.707L8.02344 15.0977L8.35547 17.4023H9.64453L9.97656 15.0977L10.9727 14.707L11.2461 14.5703L11.5391 14.4141L11.832 14.2383L12.125 14.0234L12.9453 13.3984L15.0938 14.2578L15.7383 13.1445L13.9219 11.7188L14.0391 10.6641L14.0977 10L14.0781 9.53125L13.9219 8.28125L15.7383 6.83594L15.0742 5.72266L12.9258 6.60156L12.0859 5.95703L11.793 5.76172L11.5195 5.58594L11.2266 5.42969L10.9336 5.29297L9.95703 4.90234L9.64453 2.59766H8.35547ZM7.14453 0.761719H10.8555H10.9336L11.0117 0.78125L11.0898 0.820312L11.1484 0.859375L11.207 0.917969L11.2461 0.996094L11.2852 1.05469L11.3047 1.13281L11.6562 3.59375L12.0664 3.76953L12.4766 3.98438L12.8477 4.23828L13.2188 4.49219L15.5234 3.57422L15.6016 3.55469H15.6797H15.7969L15.9141 3.61328L16.0117 3.67188L16.0898 3.76953L17.9258 6.97266L17.9648 7.05078L17.9844 7.12891V7.20703V7.30469L17.9648 7.38281L17.9258 7.44141L17.8867 7.51953L17.8281 7.57812L15.875 9.10156L15.9141 9.53125L15.9336 10L15.9141 10.4688L15.875 10.8984L17.8281 12.4219L17.8867 12.4805L17.9258 12.5586L17.9648 12.6172L17.9844 12.6953V12.793V12.8711L17.9648 12.9492L17.9258 13.0273L16.0898 16.2305L16.0117 16.3281L15.9141 16.3867L15.7969 16.4453H15.7383H15.6016L15.5234 16.4258L13.2188 15.5078L12.8477 15.7617L12.4766 15.9961L12.0664 16.2109L11.6562 16.4062L11.3047 18.8672L11.2852 18.9453L11.2461 19.0039L11.207 19.082L11.1484 19.1406L11.0898 19.1797L11.0117 19.2188L10.9336 19.2383H10.8555H7.14453H7.06641L6.98828 19.2188L6.91016 19.1797L6.85156 19.1406L6.79297 19.082L6.75391 19.0039L6.71484 18.9453L6.69531 18.8672L6.34375 16.4062L5.93359 16.2109L5.54297 16.0156L5.15234 15.7617L4.78125 15.5078L2.47656 16.4258L2.41797 16.4453H2.32031H2.20312L2.08594 16.3867L1.98828 16.3281L1.91016 16.2305L0.0742188 13.0273L0.0351562 12.9492L0.015625 12.8711V12.793V12.6953L0.0351562 12.6172L0.0742188 12.5586L0.113281 12.4805L0.171875 12.4219L2.125 10.8984L2.08594 10.4492L2.06641 10L2.08594 9.55078L2.125 9.10156L0.171875 7.57812L0.113281 7.51953L0.0742188 7.44141L0.0351562 7.38281L0.015625 7.30469V7.20703V7.12891L0.0351562 7.05078L0.0742188 6.97266L1.91016 3.76953L1.98828 3.67188L2.08594 3.61328L2.14453 3.57422L2.26172 3.55469H2.39844L2.47656 3.57422L4.78125 4.49219L5.15234 4.23828L5.54297 4.00391L5.93359 3.78906L6.34375 3.59375L6.69531 1.13281L6.71484 1.05469L6.75391 0.996094L6.79297 0.917969L6.85156 0.859375L6.91016 0.820312L6.98828 0.78125L7.06641 0.761719H7.14453Z" fill="white" />
                    </svg>
                    <span class="sb-tooltiptext">Toggle Settings</span>
                </div>
            </div>

        </div>
    </div>
    @if (isToggled)
    {
        <div class=@ToggleClass>
            <div style="display: flex;">
                <div class="sf-syncfusion-icons">
                    <svg width="44" height="42" viewBox="0 0 44 42" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M10.897 5.64697H0V16.389H10.897V5.64697Z" fill="#49454E" />
                        <path d="M35.5435 0.000188044L28.3586 8.33643L36.8151 15.4191L44 7.08287L35.5435 0.000188044Z" fill="#49454E" />
                        <path d="M23.8535 5.64697H12.9565V16.389H23.8535V5.64697Z" fill="#49454E" />
                        <path d="M10.897 18.4194H0V29.1614H10.897V18.4194Z" fill="#49454E" />
                        <path d="M23.8535 18.4194H12.9565V29.1614H23.8535V18.4194Z" fill="#49454E" />
                        <path d="M36.8101 18.4194H25.9131V29.1614H36.8101V18.4194Z" fill="#49454E" />
                        <path d="M10.897 31.2583H0V42.0003H10.897V31.2583Z" fill="#49454E" />
                        <path d="M23.8535 31.2583H12.9565V42.0003H23.8535V31.2583Z" fill="#49454E" />
                        <path d="M36.8775 31.2583H25.9805V42.0003H36.8775V31.2583Z" fill="#49454E" />
                    </svg>
                </div>
                <div style="margin-top:9px;">
                    <span class="sf-names" style="display: inline-block; vertical-align: middle;">Syncfusion</span>
                    <br>
                    <span class="sf-components">Blazor Components</span>
                </div>
            </div>
            <div class="containers">
                <div class="items">
                    <a href="https://blazor.syncfusion.com/demos/">
                        <div class="icons">
                            <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M8.94141 10.4453L5.64062 15.9141L6.12891 16.1289L6.48047 16.2656L6.85156 16.3633L7.22266 16.4609L7.59375 16.5195L7.98438 16.5586L8.35547 16.5781L8.74609 16.5977L9.17578 16.5586L9.625 16.5195L10.0352 16.4414L10.4648 16.3242L10.875 16.1875L11.2852 16.0312L11.6758 15.8359L12.0664 15.6211L12.4375 15.3867L12.7891 15.1328L13.1211 14.8594L13.4336 14.5469L13.7266 14.2344L14 13.8828L14.2539 13.5312L14.4688 13.1602L14.6445 12.8477L14.8008 12.5156L14.9375 12.1836L15.0547 11.8516L15.1523 11.5L15.2305 11.1484L15.2891 10.7969L15.3281 10.4453H8.94141ZM4.35156 4.54688L4.07812 4.78125L3.82422 5.01562L3.57031 5.28906L3.33594 5.54297L3.12109 5.83594L2.90625 6.12891L2.73047 6.44141L2.55469 6.75391L2.37891 7.14453L2.20312 7.55469L2.08594 7.98438L1.96875 8.39453L1.89062 8.82422L1.85156 9.25391L1.83203 9.70312V10.1328L1.87109 10.5625L1.92969 10.9922L2.00781 11.4219L2.125 11.8516L2.28125 12.2617L2.4375 12.6523L2.63281 13.043L2.86719 13.4336L3.02344 13.6875L3.19922 13.9219L3.39453 14.1562L3.58984 14.3906L3.80469 14.6055L4.01953 14.8008L4.23438 14.9961L4.58594 15.2891L7.86719 9.83984L4.35156 4.54688ZM4.50781 3.04297L4.625 3.0625L4.74219 3.10156L4.85938 3.16016L4.95703 3.23828L5.01562 3.33594L8.92188 9.21484H15.9727H16.0898L16.207 9.25391L16.3242 9.3125L16.4023 9.39062L16.4805 9.46875L16.5391 9.58594L16.5781 9.70312V9.82031V10.3477L16.5195 10.8555L16.4414 11.3633L16.3242 11.8516L16.168 12.3594L15.9922 12.8281L15.7773 13.3164L15.543 13.7656L15.2695 14.2148L14.9766 14.625L14.6641 15.0352L14.3125 15.4062L13.9414 15.7578L13.5508 16.0898L13.1211 16.4023L12.6914 16.6758L12.2422 16.9297L11.7734 17.1641L11.3047 17.3398L10.8164 17.4961L10.3086 17.6328L9.80078 17.7305L9.29297 17.7891L8.76562 17.8086H8.25781L7.75 17.7695L7.24219 17.7109L6.73438 17.5938L6.22656 17.457L5.73828 17.3008L5.26953 17.1055L4.80078 16.8711L4.35156 16.5977L3.92188 16.3242L3.51172 16.0117L3.14062 15.6602L2.76953 15.3086L2.4375 14.918L2.10547 14.5078L1.8125 14.0781L1.55859 13.6289L1.32422 13.1797L1.12891 12.7109L0.953125 12.2227L0.816406 11.7148L0.71875 11.207L0.640625 10.6992L0.601562 10.1914V9.66406L0.621094 9.15625L0.679688 8.64844L0.777344 8.14062L0.894531 7.63281L1.05078 7.14453L1.24609 6.67578L1.46094 6.20703L1.71484 5.73828L1.98828 5.30859L2.28125 4.89844L2.61328 4.50781L2.96484 4.13672L3.35547 3.78516L3.74609 3.45312L4.17578 3.16016L4.25391 3.10156L4.33203 3.08203L4.42969 3.0625L4.50781 3.04297ZM10.2891 1.42188H10.0938H9.78125L9.46875 1.46094L9.15625 1.51953L8.84375 1.57812L8.53125 1.65625L8.23828 1.75391L7.92578 1.87109L7.65234 2.00781L10.582 6.75391H16.1484L16.1094 6.44141L16.0508 6.12891L15.9727 5.81641L15.875 5.52344L15.7773 5.21094L15.6602 4.91797L15.5234 4.64453L15.3672 4.35156L15.1523 4.01953L14.918 3.70703L14.6641 3.39453L14.3906 3.12109L14.0977 2.84766L13.8047 2.59375L13.4727 2.37891L13.1406 2.16406L12.8086 1.98828L12.457 1.85156L12.1055 1.71484L11.7539 1.61719L11.4023 1.53906L11.0312 1.46094L10.6602 1.42188H10.2891ZM10.3086 0.191406L10.7578 0.210938L11.207 0.25L11.6367 0.328125L12.0859 0.425781L12.4961 0.542969L12.9258 0.699219L13.3359 0.894531L13.7266 1.08984L14.1367 1.34375L14.5273 1.61719L14.8984 1.91016L15.25 2.24219L15.582 2.57422L15.8945 2.94531L16.168 3.33594L16.4219 3.72656L16.6562 4.15625L16.8516 4.58594L17.0273 5.03516L17.1641 5.48438L17.2617 5.95312L17.3398 6.42188L17.3984 6.89062L17.418 7.37891L17.3984 7.49609L17.3594 7.61328L17.3008 7.71094L17.2227 7.80859L17.125 7.88672L17.0273 7.94531L16.9102 7.98438H16.793L10.1523 7.96484L9.99609 7.92578L9.85938 7.84766L9.76172 7.75L6.24609 2.10547L6.20703 1.98828L6.16797 1.87109V1.75391L6.1875 1.63672L6.22656 1.51953L6.28516 1.42188L6.36328 1.32422L6.46094 1.26562L6.87109 1.01172L7.08594 0.914062L7.51562 0.71875L7.96484 0.542969L8.41406 0.40625L8.88281 0.308594L9.35156 0.230469L9.82031 0.191406H10.3086Z" fill="#49454E" />
                            </svg>
                        </div>
                        <p class="sf-contents">Product page</p>
                    </a>
                </div>
                <div class="items">
                    <a href="https://blazor.syncfusion.com/documentation/datagrid/getting-started">
                        <div class="icons">
                            <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M3.66797 8.02344H9L9.11719 8.04297L9.23438 8.08203L9.35156 8.14062L9.42969 8.21875L9.50781 8.29688L9.56641 8.41406L9.60547 8.51172L9.625 8.64844L9.60547 8.76562L9.56641 8.88281L9.50781 8.98047L9.42969 9.07812L9.35156 9.15625L9.23438 9.21484L9.11719 9.25391H9H3.66797H3.55078L3.43359 9.21484L3.31641 9.15625L3.23828 9.07812L3.16016 8.98047L3.10156 8.88281L3.0625 8.76562V8.64844V8.51172L3.10156 8.41406L3.16016 8.29688L3.23828 8.21875L3.31641 8.14062L3.43359 8.08203L3.55078 8.04297L3.66797 8.02344ZM3.66797 4.74219H14.7422L14.8594 4.76172L14.9766 4.80078L15.0938 4.85938L15.1719 4.9375L15.25 5.01562L15.3086 5.13281L15.3477 5.23047L15.3672 5.36719L15.3477 5.48438L15.3086 5.60156L15.25 5.69922L15.1719 5.79688L15.0938 5.875L14.9766 5.93359L14.8594 5.97266H14.7422H3.66797H3.55078L3.43359 5.93359L3.31641 5.875L3.23828 5.79688L3.16016 5.69922L3.10156 5.60156L3.0625 5.48438V5.36719V5.23047L3.10156 5.13281L3.16016 5.01562L3.23828 4.9375L3.31641 4.85938L3.43359 4.80078L3.55078 4.76172L3.66797 4.74219ZM3.25781 1.87109L3.0625 1.89062L2.88672 1.91016L2.71094 1.96875L2.53516 2.02734L2.37891 2.10547L2.22266 2.18359L2.08594 2.30078L1.94922 2.41797L1.83203 2.55469L1.73438 2.69141L1.63672 2.84766L1.55859 3.00391L1.5 3.17969L1.44141 3.35547L1.42188 3.53125V3.72656V15.9141V15.9727L1.44141 16.0312L1.48047 16.0703L1.53906 16.1094H1.57812L1.63672 16.1289L1.69531 16.1094L1.75391 16.0703L4.64453 13.668L4.85938 13.4922L5.07422 13.3555L5.30859 13.2383L5.5625 13.1406L5.81641 13.0625L6.07031 13.0039L6.34375 12.9648L6.61719 12.9453H14.7422H14.9375L15.1133 12.9062L15.2891 12.8672L15.4648 12.8086L15.6211 12.7305L15.7773 12.6328L15.9141 12.5352L16.0508 12.418L16.168 12.2812L16.2656 12.1445L16.3633 11.9883L16.4414 11.832L16.5 11.6562L16.5586 11.4805L16.5781 11.2852V11.1094V3.72656V3.53125L16.5586 3.35547L16.5 3.17969L16.4414 3.00391L16.3633 2.84766L16.2656 2.69141L16.168 2.55469L16.0508 2.41797L15.9141 2.30078L15.7773 2.18359L15.6211 2.10547L15.4648 2.02734L15.2891 1.96875L15.1133 1.91016L14.9375 1.89062L14.7422 1.87109H3.25781ZM3.25781 0.640625H14.7422L15.0547 0.660156L15.3672 0.71875L15.6602 0.777344L15.9336 0.894531L16.207 1.01172L16.4609 1.16797L16.6953 1.34375L16.9102 1.53906L17.125 1.77344L17.3008 2.00781L17.4375 2.26172L17.5742 2.51562L17.6719 2.80859L17.75 3.10156L17.7891 3.25781L17.8086 3.57031L17.8281 11.1094L17.8086 11.4219L17.75 11.7344L17.6719 12.0273L17.5742 12.3008L17.4375 12.5742L17.3008 12.8281L17.125 13.0625L16.9102 13.2773L16.6953 13.4727L16.4609 13.6484L16.207 13.8047L15.9336 13.9414L15.6602 14.0391L15.3672 14.1172L15.2109 14.1367L14.8984 14.1758H6.61719L6.44141 14.1953L6.28516 14.2148L6.12891 14.2539L5.97266 14.293L5.83594 14.3516L5.69922 14.4297L5.5625 14.5078L5.42578 14.6055L2.53516 17.0273L2.35938 17.1445L2.16406 17.2422L1.96875 17.3008L1.77344 17.3398L1.57812 17.3594L1.38281 17.3398L1.1875 17.2812L1.01172 17.2227L0.835938 17.125L0.679688 17.0078L0.542969 16.8711L0.425781 16.7148L0.328125 16.5391L0.25 16.3438L0.210938 16.2461L0.191406 16.0312L0.171875 3.72656L0.191406 3.41406L0.25 3.10156L0.328125 2.80859L0.425781 2.51562L0.5625 2.26172L0.699219 2.00781L0.875 1.77344L1.08984 1.53906L1.30469 1.34375L1.53906 1.16797L1.79297 1.01172L2.06641 0.894531L2.33984 0.777344L2.63281 0.71875L2.94531 0.660156L3.25781 0.640625Z" fill="#49454E" />
                            </svg>
                        </div>
                    <p class="sf-contents">Documentation</p>
                    </a>
                </div>
                <div class="items">
                    <a href="https://www.syncfusion.com/forums/blazor-components/">
                        <div class="icons">
                            <svg width="18" height="20" viewBox="0 0 18 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M11.1875 2.42188V4.08203L11.207 4.6875L11.2656 5.15625L11.3242 5.41016L11.4023 5.64453L11.5 5.83984L11.5977 5.99609L11.6953 6.11328L11.832 6.23047L11.9102 6.28906L12.0859 6.36719L12.2812 6.44531L12.5352 6.52344L12.9648 6.60156L13.5117 6.62109H15.4062L11.1875 2.42188ZM4.39062 1.54297L4.13672 1.5625L3.86328 1.60156L3.60938 1.67969L3.35547 1.75781L3.12109 1.875L2.90625 2.01172L2.71094 2.16797L2.51562 2.32422L2.33984 2.51953L2.18359 2.73438L2.06641 2.94922L1.94922 3.18359L1.85156 3.41797L1.79297 3.67188L1.75391 3.94531L1.73438 4.21875V15.7812L1.75391 16.0547L1.79297 16.3281L1.85156 16.582L1.94922 16.8164L2.06641 17.0508L2.18359 17.2656L2.33984 17.4805L2.51562 17.6562L2.71094 17.832L2.90625 17.9883L3.12109 18.125L3.35547 18.2422L3.60938 18.3203L3.86328 18.3984L4.13672 18.4375H4.39062H13.6094H13.8828L14.1367 18.3984L14.3906 18.3203L14.6445 18.2422L14.8789 18.125L15.0938 17.9883L15.2891 17.832L15.4844 17.6562L15.6602 17.4805L15.8164 17.2656L15.9531 17.0508L16.0508 16.8164L16.1484 16.582L16.207 16.3281L16.2461 16.0547L16.2656 15.7812V7.85156H13.7266H13.2773L12.8477 7.8125L12.457 7.75391L12.0859 7.67578L11.7148 7.55859L11.4023 7.40234L11.2461 7.32422L11.1094 7.22656L10.9531 7.10938L10.8359 6.99219L10.7188 6.85547L10.6016 6.71875L10.5039 6.58203L10.4062 6.42578L10.2695 6.09375L10.1523 5.74219L10.0547 5.37109L9.99609 4.96094L9.97656 4.53125L9.95703 4.08203V1.5625L4.39062 1.54297ZM4.39062 0.332031H10.582H10.7188L10.8164 0.371094L10.9141 0.429688L11.0117 0.507812L17.3203 6.79688L17.3789 6.89453L17.4375 6.99219L17.4766 7.08984L17.4961 7.20703V15.7812L17.4766 16.1719L17.418 16.5625L17.3203 16.9336L17.1836 17.3047L17.0273 17.6367L16.832 17.9688L16.5977 18.2617L16.3633 18.5352L16.0703 18.7891L15.7773 19.0039L15.6211 19.1211L15.2891 19.2969L14.9375 19.4336L14.5664 19.5508L14.1953 19.6289L13.8047 19.668H4.39062L4 19.6484L3.60938 19.5898L3.23828 19.4922L2.88672 19.375L2.53516 19.1992L2.22266 19.0039L1.92969 18.7891L1.65625 18.5352L1.40234 18.2617L1.16797 17.9492L1.07031 17.793L0.894531 17.4609L0.738281 17.1289L0.621094 16.7578L0.542969 16.3672L0.503906 15.9766V4.21875L0.523438 3.82812L0.582031 3.4375L0.679688 3.06641L0.816406 2.69531L0.972656 2.36328L1.16797 2.03125L1.40234 1.73828L1.65625 1.46484L1.92969 1.21094L2.22266 0.996094L2.53516 0.800781L2.88672 0.625L3.23828 0.507812L3.60938 0.410156L4 0.351562L4.39062 0.332031Z" fill="#49454E" />
                            </svg>
                        </div>
                        <p class="sf-contents">Forum</p>
                    </a>
                </div>
                <div class="items">
                    <a href="https://www.syncfusion.com/blogs/">
                        <div class="icons">
                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M17.5781 13.5547H17.5391L17.4805 13.5742L17.3633 13.6328L17.1875 13.7695L14.1992 16.7383L14.1211 16.875L13.9844 17.9102L15 17.7539L15.0977 17.7148L18.0469 14.7852L18.1836 14.6289L18.2812 14.4531L18.3203 14.3359V14.2383L18.2617 14.1016L18.1445 13.9453L17.9492 13.75L17.793 13.6328L17.6953 13.5742L17.5781 13.5547ZM17.6172 12.3242L17.793 12.3438L17.9688 12.3828L18.125 12.4414L18.3008 12.5L18.457 12.5977L18.6133 12.7148L18.7695 12.832L18.9062 12.9688L19.0625 13.1445L19.1992 13.3203L19.3164 13.4961L19.4141 13.6719L19.4922 13.8672L19.5312 14.0625L19.5508 14.2578V14.4727L19.5117 14.6484L19.4727 14.8242L19.3945 15L19.3164 15.1562L19.2188 15.293L19.0234 15.5469L15.918 18.6328L15.8203 18.7109L15.625 18.8281L15.4102 18.9258L15.1953 18.9844L14.0625 19.1406H13.9453H13.8086L13.6719 19.1211L13.5352 19.1016L13.3984 19.0625L13.2812 18.9844L13.1641 18.9062L13.0664 18.8281L12.9688 18.7109L12.8906 18.5938L12.832 18.4766L12.793 18.3594L12.7539 18.2227L12.7344 18.0859V17.9492L12.9102 16.6992L12.9688 16.4648L13.0664 16.2695L13.1641 16.0742L13.3203 15.8789L16.3477 12.8711L16.6016 12.6562L16.7383 12.5586L16.8945 12.4805L17.0508 12.4219L17.2266 12.3633L17.4219 12.3242H17.6172ZM5.15625 11.0938H10.8984L11.0156 11.1133L11.1328 11.1523L11.2305 11.2109L11.3281 11.2695L11.4062 11.3672L11.4648 11.4648L11.5039 11.582V11.7188V11.8359L11.4648 11.9531L11.4062 12.0508L11.3281 12.1484L11.2305 12.2266L11.1328 12.2852L11.0156 12.3242H10.8984H5.15625H5.03906L4.92188 12.2852L4.80469 12.2266L4.72656 12.1484L4.64844 12.0508L4.58984 11.9531L4.55078 11.8359L4.53125 11.7188L4.55078 11.582L4.58984 11.4648L4.64844 11.3672L4.72656 11.2695L4.80469 11.2109L4.92188 11.1523L5.03906 11.1133L5.15625 11.0938ZM5.15625 6.99219H13.3594L13.4766 7.01172L13.5938 7.05078L13.6914 7.10938L13.7891 7.16797L13.8672 7.26562L13.9258 7.38281L13.9648 7.48047V7.61719V7.73438L13.9258 7.85156L13.8672 7.94922L13.7891 8.04688L13.6914 8.125L13.5938 8.18359L13.4766 8.22266H13.3594H5.15625H5.03906L4.92188 8.18359L4.80469 8.125L4.72656 8.04688L4.64844 7.94922L4.58984 7.85156L4.55078 7.73438L4.53125 7.61719L4.55078 7.48047L4.58984 7.38281L4.64844 7.26562L4.72656 7.16797L4.80469 7.10938L4.92188 7.05078L5.03906 7.01172L5.15625 6.99219ZM5.97656 0.859375H12.5391L13.1641 0.878906L13.7695 0.9375L14.0625 0.976562L14.3359 1.03516L14.6094 1.11328L14.8828 1.19141L15.1367 1.28906L15.3906 1.38672L15.625 1.50391L15.8398 1.62109L16.0547 1.77734L16.2695 1.91406L16.4648 2.08984L16.6602 2.26562L16.8359 2.44141L16.9922 2.65625L17.1484 2.85156L17.2852 3.06641L17.4219 3.30078L17.5391 3.53516L17.6367 3.78906L17.7344 4.04297L17.8125 4.29688L17.8711 4.57031L17.9297 4.86328L17.9883 5.13672L18.0273 5.44922L18.0664 6.05469V9.66797L18.0469 9.78516L18.0273 9.90234L17.9688 10L17.8906 10.0977L17.793 10.1758L17.6953 10.2344L17.5781 10.2734H17.4609H17.3242L17.207 10.2344L17.1094 10.1758L17.0117 10.0977L16.9336 10L16.8945 9.90234L16.8555 9.78516L16.8359 9.66797V6.09375L16.7969 5.56641L16.7188 5.07812L16.6211 4.62891L16.4844 4.23828L16.3281 3.86719L16.1328 3.53516L15.918 3.26172L15.6641 3.00781L15.3711 2.79297L15.0586 2.59766L14.6875 2.42188L14.2773 2.28516L13.8477 2.1875L13.3594 2.12891L12.8125 2.08984H5.68359L5.15625 2.12891L4.66797 2.1875L4.21875 2.28516L3.82812 2.42188L3.45703 2.59766L3.14453 2.79297L2.85156 3.00781L2.59766 3.26172L2.38281 3.53516L2.1875 3.86719L2.01172 4.23828L1.89453 4.62891L1.77734 5.07812L1.71875 5.56641L1.67969 6.09375V17.0312V17.1289L1.73828 17.1875L1.79688 17.2266L1.83594 17.2461H10.4883L10.6055 17.2656L10.7227 17.2852L10.8203 17.3438L10.918 17.4219L10.9961 17.5195L11.0547 17.6172L11.0938 17.7344V17.8516V17.9883L11.0547 18.1055L10.9961 18.2031L10.918 18.3008L10.8203 18.3789L10.7227 18.418L10.6055 18.457L10.4883 18.4766H1.875H1.73828L1.58203 18.4375L1.44531 18.418L1.30859 18.3594L1.19141 18.3008L1.07422 18.2227L0.957031 18.1445L0.859375 18.0469L0.761719 17.9492L0.683594 17.8516L0.605469 17.7148L0.546875 17.5977L0.507812 17.4609L0.46875 17.3242L0.449219 17.1875V17.0312V6.38672L0.46875 5.74219L0.527344 5.13672L0.566406 4.86328L0.625 4.57031L0.703125 4.29688L0.78125 4.04297L0.878906 3.78906L0.976562 3.53516L1.09375 3.30078L1.21094 3.06641L1.36719 2.85156L1.50391 2.65625L1.67969 2.44141L1.85547 2.26562L2.03125 2.08984L2.24609 1.91406L2.44141 1.77734L2.65625 1.62109L2.89062 1.50391L3.125 1.38672L3.37891 1.28906L3.63281 1.19141L3.88672 1.11328L4.16016 1.03516L4.45312 0.976562L4.74609 0.9375L5.33203 0.878906L5.97656 0.859375Z" fill="#49454E" />
                            </svg>
                        </div>
                        <p class="sf-contents">Blog</p>
                    </a>
                </div>
                <div class="items">
                        <a href="https://support.syncfusion.com/kb">
                        <div class="icons">
                            <svg width="16" height="18" viewBox="0 0 16 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M8 16.1484H8.39062L8.76172 16.168L9.15234 16.207L9.52344 16.2461L9.91406 16.3047L10.2852 16.3828L10.6562 16.4609L11.0273 16.5586L11.1445 16.6172L11.2617 16.6758L11.3398 16.7539L11.3984 16.8516L11.457 16.9688L11.4766 17.0859V17.2031L11.457 17.3203L11.418 17.4375L11.3398 17.5352L11.2617 17.6328L11.1641 17.6914L11.0664 17.75L10.9492 17.7695H10.832L10.6953 17.75L10.3633 17.6523L10.0312 17.5742L9.69922 17.5156L9.36719 17.457L9.01562 17.418L8.68359 17.3984L8.33203 17.3789H8H7.64844L7.31641 17.3984L6.98438 17.418L6.63281 17.457L6.30078 17.5156L5.96875 17.5742L5.63672 17.6523L5.30469 17.75L5.16797 17.7695H5.05078L4.93359 17.7305L4.83594 17.6914L4.73828 17.6328L4.64062 17.5352L4.58203 17.4375L4.54297 17.3203L4.52344 17.2031V17.0859L4.54297 16.9688L4.58203 16.8516L4.66016 16.7539L4.73828 16.6758L4.83594 16.6172L4.95312 16.5586L5.34375 16.4609L5.71484 16.3828L6.08594 16.3047L6.47656 16.2461L6.84766 16.207L7.23828 16.168L7.60938 16.1484H8ZM8.01953 5.03516H8.09766L8.15625 5.05469L8.3125 5.11328L8.41016 5.19141L8.48828 5.26953L8.54688 5.38672L8.58594 5.48438L8.60547 5.60156V5.71875L8.58594 5.83594L8.52734 5.95312L7.84375 7.16406H8.64453L8.76172 7.18359L8.89844 7.22266L9.03516 7.26172L9.15234 7.33984L9.25 7.41797L9.36719 7.53516L9.44531 7.65234L9.50391 7.78906L9.54297 7.92578L9.5625 8.0625V8.19922L9.54297 8.33594L9.50391 8.47266L9.46484 8.58984L8.52734 10.2109L8.46875 10.3086L8.37109 10.4062L8.27344 10.4648L8.15625 10.5039L8.03906 10.5234H7.92188L7.80469 10.4844L7.6875 10.4453L7.58984 10.3672L7.51172 10.2891L7.45312 10.1719L7.41406 10.0742L7.39453 9.95703V9.83984L7.41406 9.72266L7.47266 9.60547L8.15625 8.39453H7.35547L7.21875 8.375L7.10156 8.33594L6.96484 8.27734L6.84766 8.21875L6.73047 8.14062L6.63281 8.02344L6.55469 7.90625L6.47656 7.76953L6.4375 7.63281L6.41797 7.49609L6.4375 7.35938L6.45703 7.22266L6.47656 7.08594L6.53516 6.96875L7.51172 5.26953L7.57031 5.21094L7.70703 5.11328L7.86328 5.05469L8.01953 5.03516ZM7.94141 1.46094H7.62891L7.33594 1.5L7.04297 1.53906L6.76953 1.59766L6.47656 1.65625L6.20312 1.73438L5.94922 1.83203L5.67578 1.92969L5.42188 2.06641L5.16797 2.18359L4.93359 2.32031L4.69922 2.47656L4.46484 2.65234L4.25 2.80859L4.03516 3.00391L3.83984 3.19922L3.64453 3.39453L3.46875 3.60938L3.29297 3.82422L3.13672 4.05859L2.98047 4.29297L2.84375 4.52734L2.70703 4.78125L2.60938 5.03516L2.49219 5.30859L2.41406 5.5625L2.33594 5.83594L2.25781 6.12891L2.21875 6.40234L2.17969 6.69531L2.16016 6.98828L2.14062 7.28125L2.16016 7.67188L2.21875 8.0625L2.29688 8.45312L2.39453 8.82422L2.53125 9.19531L2.6875 9.56641L2.86328 9.91797L3.05859 10.2695L3.29297 10.6016L3.52734 10.9141L3.78125 11.207L4.05469 11.5L4.34766 11.7734L4.64062 12.0078L4.95312 12.2422L5.34375 12.4961L5.46094 12.6133L5.53906 12.75L5.57812 12.9062V14.0781L10.2656 14.0977L10.4414 14.0781L10.4609 12.8867L10.5 12.75L10.5781 12.6133L10.6758 12.4961L11.2031 12.1445L11.6133 11.8125L12.0234 11.4414L12.3945 11.0312L12.7266 10.6016L13.0195 10.1328L13.1562 9.87891L13.2734 9.64453L13.3906 9.39062L13.4883 9.11719L13.5859 8.86328L13.6641 8.58984L13.7227 8.31641L13.7812 8.04297L13.8203 7.76953L13.8398 7.47656L13.8594 7.20312V6.91016L13.8398 6.61719L13.8008 6.34375L13.7422 6.05078L13.6836 5.75781L13.6055 5.46484L13.5078 5.17188L13.3906 4.87891L13.2539 4.60547L13.0977 4.3125L12.9414 4.05859L12.7461 3.78516L12.5508 3.55078L12.3359 3.29688L12.1211 3.08203L11.8867 2.86719L11.6328 2.67188L11.3789 2.47656L11.125 2.32031L10.832 2.16406L10.5586 2.00781L10.2656 1.89062L9.95312 1.77344L9.66016 1.67578L9.34766 1.59766L8.99609 1.53906L8.625 1.48047L8.27344 1.46094H7.94141ZM7.90234 0.230469H8.33203L8.74219 0.269531L9.17188 0.328125L9.60156 0.40625L9.99219 0.503906L10.3633 0.601562L10.7148 0.738281L11.0664 0.894531L11.418 1.07031L11.75 1.26562L12.082 1.46094L12.3945 1.69531L12.6875 1.92969L12.9805 2.18359L13.2344 2.45703L13.4883 2.75L13.7422 3.0625L13.957 3.375L14.1523 3.70703L14.3477 4.03906L14.5039 4.39062L14.6406 4.72266L14.7578 5.07422L14.875 5.42578L14.9531 5.75781L15.0117 6.10938L15.0508 6.44141L15.0703 6.77344L15.0898 7.10547L15.0703 7.45703L15.0508 7.76953L15.0117 8.10156L14.9531 8.43359L14.8945 8.74609L14.7969 9.05859L14.6992 9.37109L14.582 9.68359L14.4648 9.97656L14.3281 10.2695L14.1914 10.543L14.0156 10.8359L13.8594 11.0898L13.6641 11.3633L13.4883 11.6172L13.2734 11.8711L13.0781 12.1055L12.8633 12.3203L12.6289 12.5547L12.3945 12.75L12.1602 12.9453L11.9258 13.1406L11.6719 13.3164V14.2148L11.6328 14.4492L11.5938 14.5664L11.5352 14.6836L11.4375 14.8398L11.3203 14.9766L11.1836 15.0742L11.0273 15.1719L10.8516 15.2305L10.6758 15.2891L10.4805 15.3086H10.2656H5.75391H5.40234L5.22656 15.2695L5.05078 15.2305L4.89453 15.1523L4.73828 15.0742L4.67969 15.0156L4.54297 14.8789L4.44531 14.7227L4.38672 14.5664L4.34766 14.3711V13.3164L3.99609 13.0625L3.66406 12.8086L3.33203 12.5156L3.01953 12.1836L2.70703 11.8516L2.43359 11.5195L2.16016 11.1484L1.92578 10.7578L1.69141 10.3672L1.49609 9.95703L1.32031 9.52734L1.18359 9.09766L1.06641 8.66797L0.988281 8.21875L0.929688 7.75L0.910156 7.28125L0.929688 6.92969L0.949219 6.57812L0.988281 6.22656L1.06641 5.875L1.14453 5.54297L1.22266 5.21094L1.33984 4.87891L1.45703 4.56641L1.61328 4.25391L1.76953 3.94141L1.92578 3.64844L2.10156 3.375L2.29688 3.10156L2.51172 2.82812L2.72656 2.57422L2.96094 2.32031L3.21484 2.08594L3.46875 1.87109L3.72266 1.65625L3.99609 1.46094L4.28906 1.28516L4.58203 1.10938L4.875 0.953125L5.1875 0.816406L5.5 0.679688L5.83203 0.5625L6.16406 0.464844L6.49609 0.386719L6.84766 0.328125L7.19922 0.269531L7.55078 0.25L7.90234 0.230469Z" fill="#49454E" />
                            </svg>
                        </div>
                        <p class="sf-contents">Knowledge base</p>
                    </a>
                </div>

            </div>
            <hr />
            <h3 class="sf-other-products">Other Products</h3>
            <div class="containers">
                <div class="items">
                    <a href="https://ej2.syncfusion.com/home/aspnetcore.html#platform">
                        <div class="icons">
                            <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M4.5 1C2.567 1 1 2.567 1 4.5V12.5C1 14.433 2.567 16 4.5 16H12.5C14.433 16 16 14.433 16 12.5V8.5C16 8.22386 16.2239 8 16.5 8C16.7761 8 17 8.22386 17 8.5V12.5C17 14.9853 14.9853 17 12.5 17H4.5C2.01472 17 0 14.9853 0 12.5V4.5C0 2.01472 2.01472 0 4.5 0H8.5C8.77614 0 9 0.223858 9 0.5C9 0.776142 8.77614 1 8.5 1H4.5ZM16 1.70711L6.85355 10.8536C6.65829 11.0488 6.34171 11.0488 6.14645 10.8536C5.95118 10.6583 5.95118 10.3417 6.14645 10.1464L15.2929 1H11.5C11.2239 1 11 0.776142 11 0.5C11 0.223858 11.2239 0 11.5 0H16.5H17V0.5V5.5C17 5.77614 16.7761 6 16.5 6C16.2239 6 16 5.77614 16 5.5V1.70711Z" fill="#424242" />
                            </svg>
                        </div>
                        <p class="sf-other-product-name">ASP.NET Core Demo</p>
                    </a>
                </div>
                <div class="items">
                    <a href="https://ej2.syncfusion.com/home/aspnetmvc.html#platform">
                        <div class="icons">
                            <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M4.5 1C2.567 1 1 2.567 1 4.5V12.5C1 14.433 2.567 16 4.5 16H12.5C14.433 16 16 14.433 16 12.5V8.5C16 8.22386 16.2239 8 16.5 8C16.7761 8 17 8.22386 17 8.5V12.5C17 14.9853 14.9853 17 12.5 17H4.5C2.01472 17 0 14.9853 0 12.5V4.5C0 2.01472 2.01472 0 4.5 0H8.5C8.77614 0 9 0.223858 9 0.5C9 0.776142 8.77614 1 8.5 1H4.5ZM16 1.70711L6.85355 10.8536C6.65829 11.0488 6.34171 11.0488 6.14645 10.8536C5.95118 10.6583 5.95118 10.3417 6.14645 10.1464L15.2929 1H11.5C11.2239 1 11 0.776142 11 0.5C11 0.223858 11.2239 0 11.5 0H16.5H17V0.5V5.5C17 5.77614 16.7761 6 16.5 6C16.2239 6 16 5.77614 16 5.5V1.70711Z" fill="#424242" />
                            </svg>
                        </div>
                    <p class="sf-other-product-name">ASP.NET MVC Demo</p>
                    </a>
                </div>
                <div class="items">
                    <a href="https://ej2.syncfusion.com/home/angular.html#platform">
                        <div class="icons">
                            <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M4.5 1C2.567 1 1 2.567 1 4.5V12.5C1 14.433 2.567 16 4.5 16H12.5C14.433 16 16 14.433 16 12.5V8.5C16 8.22386 16.2239 8 16.5 8C16.7761 8 17 8.22386 17 8.5V12.5C17 14.9853 14.9853 17 12.5 17H4.5C2.01472 17 0 14.9853 0 12.5V4.5C0 2.01472 2.01472 0 4.5 0H8.5C8.77614 0 9 0.223858 9 0.5C9 0.776142 8.77614 1 8.5 1H4.5ZM16 1.70711L6.85355 10.8536C6.65829 11.0488 6.34171 11.0488 6.14645 10.8536C5.95118 10.6583 5.95118 10.3417 6.14645 10.1464L15.2929 1H11.5C11.2239 1 11 0.776142 11 0.5C11 0.223858 11.2239 0 11.5 0H16.5H17V0.5V5.5C17 5.77614 16.7761 6 16.5 6C16.2239 6 16 5.77614 16 5.5V1.70711Z" fill="#424242" />
                            </svg>
                        </div>
                        <p class="sf-other-product-name">Angular Demo</p>
                    </a>
                </div>
                <div class="items">
                    <a href="https://ej2.syncfusion.com/home/react.html#platform">
                        <div class="icons">
                            <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M4.5 1C2.567 1 1 2.567 1 4.5V12.5C1 14.433 2.567 16 4.5 16H12.5C14.433 16 16 14.433 16 12.5V8.5C16 8.22386 16.2239 8 16.5 8C16.7761 8 17 8.22386 17 8.5V12.5C17 14.9853 14.9853 17 12.5 17H4.5C2.01472 17 0 14.9853 0 12.5V4.5C0 2.01472 2.01472 0 4.5 0H8.5C8.77614 0 9 0.223858 9 0.5C9 0.776142 8.77614 1 8.5 1H4.5ZM16 1.70711L6.85355 10.8536C6.65829 11.0488 6.34171 11.0488 6.14645 10.8536C5.95118 10.6583 5.95118 10.3417 6.14645 10.1464L15.2929 1H11.5C11.2239 1 11 0.776142 11 0.5C11 0.223858 11.2239 0 11.5 0H16.5H17V0.5V5.5C17 5.77614 16.7761 6 16.5 6C16.2239 6 16 5.77614 16 5.5V1.70711Z" fill="#424242" />
                            </svg>
                        </div>
                        <p class="sf-other-product-name">React Demo</p>
                    </a>
                </div>
                <div class="items">
                    <a href="https://ej2.syncfusion.com/home/index.html#platform">
                        <div class="icons">
                            <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M4.5 1C2.567 1 1 2.567 1 4.5V12.5C1 14.433 2.567 16 4.5 16H12.5C14.433 16 16 14.433 16 12.5V8.5C16 8.22386 16.2239 8 16.5 8C16.7761 8 17 8.22386 17 8.5V12.5C17 14.9853 14.9853 17 12.5 17H4.5C2.01472 17 0 14.9853 0 12.5V4.5C0 2.01472 2.01472 0 4.5 0H8.5C8.77614 0 9 0.223858 9 0.5C9 0.776142 8.77614 1 8.5 1H4.5ZM16 1.70711L6.85355 10.8536C6.65829 11.0488 6.34171 11.0488 6.14645 10.8536C5.95118 10.6583 5.95118 10.3417 6.14645 10.1464L15.2929 1H11.5C11.2239 1 11 0.776142 11 0.5C11 0.223858 11.2239 0 11.5 0H16.5H17V0.5V5.5C17 5.77614 16.7761 6 16.5 6C16.2239 6 16 5.77614 16 5.5V1.70711Z" fill="#424242" />
                            </svg>
                        </div>
                        <p class="sf-other-product-name">JavaScript Demo</p>
                    </a>
                </div>
                <div class="items">
                    <a href="https://ej2.syncfusion.com/home/vue.html#platform">
                        <div class="icons">
                            <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M4.5 1C2.567 1 1 2.567 1 4.5V12.5C1 14.433 2.567 16 4.5 16H12.5C14.433 16 16 14.433 16 12.5V8.5C16 8.22386 16.2239 8 16.5 8C16.7761 8 17 8.22386 17 8.5V12.5C17 14.9853 14.9853 17 12.5 17H4.5C2.01472 17 0 14.9853 0 12.5V4.5C0 2.01472 2.01472 0 4.5 0H8.5C8.77614 0 9 0.223858 9 0.5C9 0.776142 8.77614 1 8.5 1H4.5ZM16 1.70711L6.85355 10.8536C6.65829 11.0488 6.34171 11.0488 6.14645 10.8536C5.95118 10.6583 5.95118 10.3417 6.14645 10.1464L15.2929 1H11.5C11.2239 1 11 0.776142 11 0.5C11 0.223858 11.2239 0 11.5 0H16.5H17V0.5V5.5C17 5.77614 16.7761 6 16.5 6C16.2239 6 16 5.77614 16 5.5V1.70711Z" fill="#424242" />
                            </svg>
                        </div>
                        <p class="sf-other-product-name">Vue Demo</p>
                    </a>
                </div>
            </div>
        </div>
    }
    <!-- Content -->
    <div class="sf-home-content sf-container">
        <div class="sf-components-list">
            <div class="sf-components">
                @foreach (var orders in categoryOrders)
                {
                    <div class="">
                        @foreach (var category in orders)
                        {
                            <div class="sf-catagory">@category</div>
                            var components = SampleBrowser.SampleList.Where(comp => comp.Category == category).ToList();
                            {
                                <ul>
                                    @foreach (var component in components)
                                    {
                                        @if (IsMobileMode && component.IsHideFromDevice)
                                        {
                                            component.IsHideFromHomePageList = true;
                                        }
                                        @if (!component.IsHideFromHomePageList)
                                        {
                                            <li class="sf-component-list">
                                                <a href=@component.DemoPath @onclick="@(() => NavSample(component))" @onclick:preventDefault
                                                   rel="noopener noreferrer">
                                                    <div style="position:relative;">
                                                        <span class="sf-home-icon sf-icon-@string.Join("", (component.ComponentIconName != null ? component.ComponentIconName : component.Name).ToLower().Split(" "))"></span>
                                                    </div>
                                                    <div class="sf-component-position">
                                                        @if (component.Name.Equals("PDF Viewer (NextGen)"))
                                                        {
                                                            <span class="sf-component-name">
                                                                <span>PDF Viewer</span>
                                                                <span class="sf-pdf-next-gen">(NextGen)</span>
                                                            </span>
                                                            <br />
                                                            <span class="sf-component-description">Fast and powerful component</span>

                                                        }
                                                        else
                                                        {
                                                            <span class="sf-component-name">@component.Name</span>
                                                            <br />
                                                            <span class="sf-component-description">Fast and powerful component</span>
                                                        }
                                                        @if (component.Name.Equals("PDF Viewer (NextGen)"))
                                                        {
                                                            <SfTooltip Target="#infoTooltip" Content=@component.InfoTooltip>
                                                                <span id="infoTooltip" class="sf-home-icon sf-icon-circle-info "></span>
                                                            </SfTooltip>

                                                        }
                                                        @if (component.IsPreview)
                                                        {
                                                            <p class="sf-preview-paragraph">
                                                                <span class="sf-preview">
                                                                    <svg width="16" height="16" viewBox="0 0 16 16" fill="#F5B482" xmlns="http://www.w3.org/2000/svg">
                                                                        <rect width="16" height="16" rx="8" fill="#914C00" />
                                                                    </svg>
                                                                </span>
                                                            </p>
                                                        }
                                                    </div>
                                                </a>
                                            </li>
                                        }
                                    }
                                </ul>
                            }
                        }
                    </div>
                }
            </div>
        </div>
    </div>
</div>
@if (isSettingsToggled)
{
    <div id="settingsDiv" class=@SettingsToggleClass>
        <span id="settings-popup-text">Settings</span>
        <svg @onclick="OnSettingsClick" role="button" tabindex="0" aria-label="Toggle settings" title='Toggle Settings' id="close-settings-popup" width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1.25781 0.4375H1.33594L1.49219 0.476562L1.64844 0.535156L1.78516 0.613281L7 5.84766L12.2148 0.613281L12.3516 0.535156L12.5078 0.476562L12.6641 0.4375H12.8203L12.9766 0.476562L13.1328 0.535156L13.2695 0.613281L13.3867 0.730469L13.4648 0.867188L13.5234 1.02344L13.5625 1.17969V1.33594L13.5234 1.49219L13.4648 1.64844L13.3867 1.78516L8.15234 7L13.3867 12.2148L13.4648 12.3516L13.5234 12.5078L13.5625 12.6641V12.8203L13.5234 12.9766L13.4648 13.1328L13.3867 13.2695L13.2695 13.3867L13.1328 13.4648L12.9766 13.5234L12.8203 13.5625H12.6641L12.5078 13.5234L12.3516 13.4648L12.2148 13.3867L7 8.15234L1.78516 13.3867L1.64844 13.4648L1.49219 13.5234L1.33594 13.5625H1.17969L1.02344 13.5234L0.867188 13.4648L0.730469 13.3867L0.613281 13.2695L0.535156 13.1328L0.476562 12.9766L0.4375 12.8203V12.6641L0.476562 12.5078L0.535156 12.3516L0.613281 12.2148L5.84766 7L0.671875 1.84375L0.574219 1.70703L0.496094 1.57031L0.457031 1.41406L0.4375 1.25781L0.457031 1.10156L0.496094 0.945312L0.574219 0.808594L0.671875 0.671875L0.808594 0.574219L0.945312 0.496094L1.10156 0.457031L1.25781 0.4375Z" fill="#424242" />
        </svg>
        <p class="toggle-theme">
            <span class="dark-icon">
                <svg width="16" height="16" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M9 1.42188H8.60938L8.21875 1.46094L7.84766 1.5L7.47656 1.55859L7.10547 1.65625L6.73438 1.75391L6.38281 1.87109L6.05078 2.00781L5.71875 2.16406L5.38672 2.32031L5.07422 2.51562L4.76172 2.71094L4.46875 2.92578L4.17578 3.14062L3.90234 3.375L3.62891 3.62891L3.375 3.90234L3.14062 4.17578L2.92578 4.46875L2.71094 4.76172L2.51562 5.07422L2.32031 5.38672L2.16406 5.71875L2.00781 6.05078L1.87109 6.38281L1.75391 6.73438L1.65625 7.10547L1.55859 7.47656L1.5 7.84766L1.46094 8.21875L1.42188 8.60938V9V9.39062L1.46094 9.78125L1.5 10.1523L1.55859 10.5234L1.65625 10.8945L1.75391 11.2656L1.87109 11.6172L2.00781 11.9492L2.16406 12.2812L2.32031 12.6133L2.51562 12.9258L2.71094 13.2383L2.92578 13.5312L3.14062 13.8242L3.375 14.0977L3.62891 14.3711L3.90234 14.625L4.17578 14.8594L4.46875 15.0742L4.76172 15.2891L5.07422 15.4844L5.38672 15.6797L5.71875 15.8359L6.05078 15.9922L6.38281 16.1289L6.73438 16.2461L7.10547 16.3438L7.47656 16.4414L7.84766 16.5L8.21875 16.5391L8.60938 16.5781H9H9.27344L9.83984 16.5391L10.3867 16.4609L10.9141 16.3438L11.4219 16.1875L11.9297 16.0117L12.3984 15.7773L12.8672 15.5234L13.1406 15.3672H9L8.88281 15.3477L8.76562 15.3086L8.64844 15.25L8.57031 15.1719L8.49219 15.0938L8.43359 14.9766L8.39453 14.8594L8.375 14.7422L8.39453 14.625L8.43359 14.5078L8.49219 14.3906L8.57031 14.3125L8.64844 14.2344L8.76562 14.1758L8.88281 14.1367L9 14.1172H14.5859L14.8398 13.8438L15.0547 13.5703L15.25 13.2969L15.4453 13.0039L15.6211 12.7109L15.7773 12.418L15.9336 12.1055L16.1094 11.6562H9H8.88281L8.76562 11.6172L8.64844 11.5586L8.57031 11.4805L8.49219 11.4023L8.43359 11.2852L8.39453 11.168L8.375 11.0508L8.39453 10.9336L8.43359 10.8164L8.49219 10.6992L8.57031 10.6211L8.64844 10.543L8.76562 10.4844L8.88281 10.4453L9 10.4258L16.4414 10.4453L16.5195 10.0156L16.5586 9.68359L16.5781 9.33203V9V8.64844L16.5586 8.31641L16.5195 7.98438L16.4609 7.55469H9H8.88281L8.76562 7.51562L8.64844 7.45703L8.57031 7.37891L8.49219 7.30078L8.43359 7.18359L8.39453 7.06641L8.375 6.94922L8.39453 6.83203L8.43359 6.71484L8.49219 6.59766L8.57031 6.51953L8.64844 6.44141L8.76562 6.38281L8.88281 6.34375L9 6.32422H16.1094L15.9336 5.89453L15.7773 5.58203L15.6211 5.28906L15.4453 4.97656L15.25 4.70312L15.0547 4.42969L14.8398 4.15625L14.5859 3.86328H9H8.88281L8.76562 3.82422L8.64844 3.76562L8.57031 3.6875L8.49219 3.58984L8.43359 3.49219L8.39453 3.375L8.375 3.25781L8.39453 3.12109L8.43359 3.02344L8.49219 2.90625L8.57031 2.82812L8.64844 2.75L8.76562 2.69141L8.88281 2.65234L9 2.63281H13.1406L12.6328 2.33984L12.1641 2.10547L11.6758 1.89062L11.168 1.73438L10.6406 1.59766L10.1133 1.5L9.56641 1.44141L9 1.42188ZM9 0.171875L9.44922 0.191406L9.89844 0.230469L10.3477 0.289062L10.7773 0.367188L11.207 0.464844L11.6172 0.582031L12.0273 0.71875L12.4375 0.875L12.8281 1.05078L13.1992 1.24609L13.5703 1.46094L13.9219 1.69531L14.2734 1.92969L14.6055 2.20312L14.9375 2.47656L15.2305 2.76953L15.5234 3.0625L15.7969 3.39453L16.0703 3.72656L16.3047 4.07812L16.5391 4.42969L16.7539 4.80078L16.9492 5.17188L17.125 5.5625L17.2812 5.97266L17.418 6.38281L17.5352 6.79297L17.6328 7.22266L17.7109 7.65234L17.7695 8.10156L17.8086 8.55078L17.8281 9L17.8086 9.44922L17.7695 9.89844L17.7109 10.3477L17.6328 10.7773L17.5352 11.207L17.418 11.6172L17.2812 12.0273L17.125 12.4375L16.9492 12.8281L16.7539 13.1992L16.5391 13.5703L16.3047 13.9219L16.0703 14.2734L15.7969 14.6055L15.5234 14.9375L15.2305 15.2305L14.9375 15.5234L14.6055 15.7969L14.2734 16.0703L13.9219 16.3047L13.5703 16.5391L13.1992 16.7539L12.8281 16.9492L12.4375 17.125L12.0273 17.2812L11.6172 17.418L11.207 17.5352L10.7773 17.6328L10.3477 17.7109L9.89844 17.7695L9.44922 17.8086L9 17.8281L8.55078 17.8086L8.10156 17.7695L7.65234 17.7109L7.22266 17.6328L6.79297 17.5352L6.38281 17.418L5.97266 17.2812L5.5625 17.125L5.17188 16.9492L4.80078 16.7539L4.42969 16.5391L4.07812 16.3047L3.72656 16.0703L3.39453 15.7969L3.0625 15.5234L2.76953 15.2305L2.47656 14.9375L2.20312 14.6055L1.92969 14.2734L1.69531 13.9219L1.46094 13.5703L1.24609 13.1992L1.05078 12.8281L0.875 12.4375L0.71875 12.0273L0.582031 11.6172L0.464844 11.207L0.367188 10.7773L0.289062 10.3477L0.230469 9.89844L0.191406 9.44922L0.171875 9L0.191406 8.55078L0.230469 8.10156L0.289062 7.65234L0.367188 7.22266L0.464844 6.79297L0.582031 6.38281L0.71875 5.97266L0.875 5.5625L1.05078 5.17188L1.24609 4.80078L1.46094 4.42969L1.69531 4.07812L1.92969 3.72656L2.20312 3.39453L2.47656 3.0625L2.76953 2.76953L3.0625 2.47656L3.39453 2.20312L3.72656 1.92969L4.07812 1.69531L4.42969 1.46094L4.80078 1.24609L5.17188 1.05078L5.5625 0.875L5.97266 0.71875L6.38281 0.582031L6.79297 0.464844L7.22266 0.367188L7.65234 0.289062L8.10156 0.230469L8.55078 0.191406L9 0.171875Z" fill="#424242" />
                </svg>
            </span>
            <span style="margin-left:15px;font-size: 16px;">Dark Mode</span>
            <label class="switch">
                <input type="checkbox" id="theme-toggle" onclick="toggleDarkMode()">
                <span class="slider round"></span>
            </label>
        </p>
    </div>

}
<style>
    .bootstrap5-dark svg path {
        fill: #371E73;
    }

    .fluent-dark svg path {
        fill: #371E73;
    }

    .material3-dark svg path {
        fill: #371E73;
    }

    .tailwind-dark svg path {
        fill: #371E73;
    }

    .highcontrast svg path {
        fill: #371E73;
    }

    .bootstrap5-dark .mobile-settings svg path {
        fill: #9e9e9e;
    }

    .fluent-dark .mobile-settings svg path {
        fill: #9e9e9e;
    }

    .material3-dark .mobile-settings svg path {
        fill: #9e9e9e;
    }

    .tailwind-dark .mobile-settings svg path {
        fill: #9e9e9e;
    }

    .highcontrast .mobile-settings svg path {
        fill: #9e9e9e;
    }

    .mobile-settings {
        overflow-x: auto;
        position: fixed;
        z-index: 1000;
        bottom: 0px;
        background-color: #FFFFFF;
        display: none;
        flex-direction: column;
        width: 100%;
        gap: 0px;
        border-radius: 4px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        overflow: auto;
    }

    .bootstrap5-dark .mobile-settings {
        background-color: #2f2e2e;
    }

    .fluent-dark .mobile-settings {
        background-color: #2f2e2e;
    }

    .material3-dark .mobile-settings {
        background-color: #2f2e2e;
    }

    .tailwind-dark .mobile-settings {
        background-color: #2f2e2e;
    }

    .highcontrast .mobile-settings {
        background-color: #2f2e2e;
    }
    /* Hide scrollbar track and handle */
    .mobile-settings::-webkit-scrollbar {
        width: 0px;
        background: transparent; /* Optional: Make scrollbar area transparent */
    }

    .dark-icon {
        margin-right: 10px;
        margin-left: 20px;
    }

    .mobile-settings.active {
        display: flex;
    }

    #settings-popup-text {
        width: 60px;
        height: 24px;
        color: #1C1B1F;
        font-family: Roboto;
        font-size: 16px;
        font-weight: 550;
        line-height: 24px;
        text-align: left;
        margin-left: 9px;
        margin-bottom: 20px;
        padding: 15px;
    }

    .bootstrap5-dark #settings-popup-text {
        color: #E6E1E5 !important;
    }

    .fluent-dark #settings-popup-text {
        color: #E6E1E5 !important;
    }

    .material3-dark #settings-popup-text {
        color: #E6E1E5 !important;
    }

    .tailwind-dark #settings-popup-text {
        color: #E6E1E5 !important;
    }

    .highcontrast #settings-popup-text {
        color: #E6E1E5 !important;
    }

    #close-settings-popup {
        right: 10px;
        position: absolute;
        /* margin-bottom: 20px; */
        top: 20px;
    }

    .page {
        position: relative;
    }

    .box {
        position: absolute;
        top: 0;
        left: 0;
    }

    .top-row {
        background-color: #6750A4;
        width: 100%;
        height: 80px;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1000;
    }

    .highcontrast .top-row {
        background-color: #D0BCFF;
    }

    .material3-dark .top-row {
        background-color: #D0BCFF;
    }

    .tailwind-dark .top-row {
        background-color: #D0BCFF;
    }

    .fluent-dark .top-row {
        background-color: #D0BCFF;
    }

    .bootstrap5-dark .top-row {
        background-color: #D0BCFF;
    }

    .first-row {
        display: flex;
        align-items: center;
    }

    #searchContainer {
        display: none;
    }

    .toggle-icons {
        position: relative;
        width: 40px;
        height: 40px;
        left: 16px;
        top: 20px;
        cursor: pointer;
    }

    .top-row h1 {
        position: relative;
        /* width: 149px; */
        height: 24px;
        left: 16px;
        font-family: Roboto;
        font-size: 18px;
        margin-top: 32px;
        font-weight: 500;
        letter-spacing: 0.15000000596046448px;
        text-align: left;
        color: #FFFFFF;
    }

    .search-icon {
        width: 23px;
        height: 40px;
        right: 90px;
        vertical-align: initial;
        color: #FFFFFF;
        margin-top: 1px;
        /* padding: 26px; */
        position: absolute;
        margin-right: 5px;
    }

    .git-icon {
        position: absolute;
        vertical-align: initial;
        width: 40px;
        height: 40px;
        /* left: 65px; */
        top: 32px;
        right: 40px;
    }

    .setting-icon {
        position: absolute;
        right: 0px;
        vertical-align: initial;
        width: 40px;
        height: 40px;
        top: 32px;
    }

    .sf-syncfusion-icons {
        text-transform: none;
        position: relative;
        margin-top: 9px;
        margin-right: 12px;
        margin-left: 12px;
    }

    .sf-names {
        font-family: Roboto;
        font-size: 16px;
        font-weight: 800;
        line-height: 24px;
        color: #1C1B1F;
    }

    .sf-components {
        font-family: Roboto;
        color: #6750A4;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
    }

    .mobile-sidebars {
        overflow-x: auto;
        height: 100%;
        position: fixed;
        z-index: 1000;
        top: 0;
        left: 0;
        background-color: #FFFFFF;
        display: none;
        flex-direction: column;
        width: 275px;
        gap: 0px;
        border-radius: 0px 8px 8px 0px;
    }

        .mobile-sidebars::-webkit-scrollbar {
            width: 0px;
            background: transparent;
        }

        .mobile-sidebars.active {
            display: flex;
        }

    .containers {
        display: flex;
        flex-direction: column;
        margin: 20px 15px 15px 15px;
    }

    .items {
        display: flex;
    }

    .icons {
        margin-top: 4px;
        padding: 10px;
    }

    .containers .items p {
        margin-top: 10px;
    }
    .containers .items a {
        display: flex;
        width: 240px;
    }

    .sf-contents {
        font-family: Roboto;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        text-align: left;
    }

    p {
        margin-top: 2px;
    }

        p a {
            text-decoration: none;
            color: #1C1B1F;
        }

    hr {
        border: 1px solid rgba(0, 0, 0, 0.25);
        margin: 1rem 0;
        margin-left: 18px;
        margin-right: 18px;
    }

    .sf-other-products {
        font-family: Roboto;
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
        letter-spacing: 0.15000000596046448px;
        text-align: left;
        color: #79747E;
        margin: 15px 10px 10px 15px;
    }

    .sf-other-product-name a {
        font-family: Roboto;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        text-align: left;
    }

    .main-div {
        margin-top: 63px;
        background: var(--Color-variables-surface, #FFFFFF);
        border-radius: 20px 20px 0px 0px;
        width: 360px;
    }

    .sf-blazor-home .syncfusion-logo {
        background: url( @(SampleService.ImagePath + "syncfusion-logo.svg") );
        background-size: contain;
        transform-box: view-box;
    }

    .sf-blazor-home .sf-ad-strip-img {
        background: url( @(SampleService.ImagePath + "home-ad-strip.png") ) no-repeat center top;
    }

    .sf-blazor-home .sf-g2-img {
        background: url( @(SampleService.ImagePath + "syncfusion-g2-review.png") ) no-repeat center top;
    }

    .sf-blazor-home .sf-banner-image {
        background: url( @(SampleService.ImagePath + "home-banner.png") ) no-repeat center top;
        background-size: 100% 100%;
    }

    .sf-blazor-home .sf-trusted-companies {
        background: url( @(SampleService.ImagePath + "home-trusted-companies.png") ) no-repeat center top;
    }

    h1:focus {
        outline: none;
    }

    @@media (max-width: 1024px) {
        .sf-blazor-home .sf-banner-image {
            background: url( @(SampleService.ImagePath + "home-banner-tab.png") ) no-repeat center top;
            background-size: 100% 100%;
        }

        .sf-blazor-home .sf-trusted-companies {
            background: url( @(SampleService.ImagePath + "home-trusted-companies-tab.png") ) no-repeat center top;
        }
    }

    @@media (max-width: 450px) {
        .sf-blazor-home .sf-banner-image {
            background: url( @(SampleService.ImagePath + "home-banner-mobile.png") ) no-repeat center top;
            background-size: 100% 100%;
        }

        .sf-blazor-home .sf-trusted-companies {
            background: url( @(SampleService.ImagePath + "home-trusted-companies-mobile.png") ) no-repeat center top;
        }
    }

    /* Common styles for the toggle switch */
    .switch {
        position: absolute;
        display: inline-block;
        width: 40px; /* Reduced width */
        height: 20px; /* Reduced height */
        right: 10px;
    }

        .switch input {
            opacity: 0;
            width: 0;
            height: 0;
        }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #6750A4;
        transition: .4s;
        border-radius: 20px;
    }

        .slider:before {
            position: absolute;
            content: "";
            height: 16px;
            width: 16px;
            left: 2px;
            bottom: 2px;
            background-color: white;
            transition: .4s;
            border-radius: 50%;
        }

    input:checked + .slider {
        background-color: #D0BCFF;
    }

        input:checked + .slider:before {
            transform: translateX(20px);
            background: #371E73;
        }

    /* Rounded sliders */
    .slider.round {
        border-radius: 20px;
    }

        .slider.round:before {
            border-radius: 50%;
        }

    toggle-theme {
        display: flex;
        align-items: center;
        font-size: 16px;
        font-weight: bold;
        margin-left: -40px;
    }

        toggle-theme .switch {
            margin-left: 10px;
        }

</style>

@code {
    private string headerLogo { get; set; }
    private string searchIcon { get; set; }
    private bool isPrerendering { get; set; }
    private string searchContainer { get; set; }
    private SearchComponent searchRef { get; set; }
    private List<List<string>> categoryOrders { get; set; } = new List<List<string>>();
    private bool isWasmSample { get; set; }
    private string SampleName { get; set; }
    private string ToggleClass = "mobile-sidebars";
    private string SettingsToggleClass = "mobile-settings";
    private bool isToggled = false;
    private bool isSettingsToggled = false;
    private string cURL { get; set; }

    [CascadingParameter(Name = "IsDevice")]
    protected bool IsDevice { get; set; }

    // Search icon click event handler method.
    private async Task OnRenderSearch()
    {
        await this.ShowSearchContainer();
        await JsRuntime.InvokeVoidAsync("openSearchContainer");
    }

    // App click event handler method.
    private async Task OnAppClick()
    {
        if (ToggleClass.Contains(SampleUtils.ACTIVE_CLASS))
        {
            ToggleClass = SampleUtils.RemoveClass(ToggleClass, SampleUtils.ACTIVE_CLASS);
            isToggled = !isToggled;
        }
        if (SettingsToggleClass.Contains(SampleUtils.ACTIVE_CLASS))
        {
            SettingsToggleClass = SampleUtils.RemoveClass(SettingsToggleClass, SampleUtils.ACTIVE_CLASS);
            isSettingsToggled = !isSettingsToggled;
        }
    }

    private async Task ShowTooltip(string IconName)
    {
        await JsRuntime.InvokeVoidAsync("showTooltip",IconName);

    }

    private async Task OnSettingsClick()
    {
        isSettingsToggled = !isSettingsToggled;
        SettingsToggleClass = isSettingsToggled ? SampleUtils.AddClass(SettingsToggleClass, SampleUtils.ACTIVE_CLASS) : SampleUtils.RemoveClass(SettingsToggleClass, SampleUtils.ACTIVE_CLASS);
        if (isSettingsToggled)
        {
            await JsRuntime.InvokeVoidAsync("openSettingsContainer");
        }
    }

    private async Task NavSample(SampleList sample)
    {
        if (ToggleClass.Contains(SampleUtils.ACTIVE_CLASS))
        {
            ToggleClass = SampleUtils.RemoveClass(ToggleClass, SampleUtils.ACTIVE_CLASS);
            isToggled = !isToggled;
        }
        else
        {
            await NavToSample(sample.DemoPath);
        }
    }

    // Sample click event handler method.
    private async Task NavToSample(string path)
    {
        SampleService.Spinner.Show();
        var SelectedTheme = await JsRuntime.InvokeAsync<String>("sfBlazorSB.getValue", "SelectedTheme");
        SelectedTheme = SelectedTheme ?? "tailwind3";
        var newUri = UriHelper.GetUriWithQueryParameters(path, new Dictionary<string, object>{
            ["theme"] = SelectedTheme
        });
        UriHelper.NavigateTo(newUri, true);
    }

    // Show or hide the search container in device mode.
    private async Task ShowSearchContainer(bool isFocus = true)
    {
        if (isFocus)
        {
            headerLogo = SampleUtils.AddClass(headerLogo, SampleUtils.DISPLAY_NONE);
            //searchIcon = SampleUtils.AddClass(searchIcon, SampleUtils.DISPLAY_NONE);
            searchContainer = SampleUtils.RemoveClass(searchContainer, SampleUtils.DISPLAY_NONE);
            await this.searchRef.InputFocus();
        }
        else
        {
            headerLogo = SampleUtils.RemoveClass(headerLogo, SampleUtils.DISPLAY_NONE);
            //searchIcon = SampleUtils.RemoveClass(searchIcon, SampleUtils.DISPLAY_NONE);
            searchContainer = SampleUtils.AddClass(searchContainer, SampleUtils.DISPLAY_NONE);
        }
    }

    protected async override Task OnInitializedAsync()
    {
        base.OnInitializedAsync();
        var SelectedMode = await JsRuntime.InvokeAsync<String>("sfBlazorSB.getValue", "ThemeMode");
        if (SelectedMode == "dark")
        {
            await JsRuntime.InvokeAsync<String>("toggleDarkMode");
        }
        cURL = UriHelper.Uri.Split("?")[0];
        headerLogo = SampleUtils.HEADER_LOGO;
        searchIcon = SampleUtils.SEARCH_ICON;
        searchContainer = SampleUtils.MOBILE_SEARCH_CONTAINER + SampleUtils.SPACE + SampleUtils.DISPLAY_NONE;
        ToggleClass = this.isToggled ? SampleUtils.AddClass(ToggleClass,SampleUtils.ACTIVE_CLASS) : ToggleClass;
        SettingsToggleClass = this.isSettingsToggled ? SampleUtils.AddClass(SettingsToggleClass, SampleUtils.ACTIVE_CLASS) : SettingsToggleClass;
        this.categoryOrders.Add(new List
    <string> { "Grids", "File Viewers & Editors", "Layout" });
        this.categoryOrders.Add(new List<string> { "Data Visualization", "Buttons" });
        this.categoryOrders.Add(new List<string> { "Calendars", "Inputs", "Forms" });
        this.categoryOrders.Add(new List<string> { "DropDowns", "Navigation", "Notifications" });
        SampleName = "Blazor Components - Server Demos";
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);
        // await for mobile or desktop rendering.
        await Task.Delay(500);
        SampleService.Spinner.Hide();
    }

    private void OnToggleClick()
    {
        isToggled = !isToggled;
        ToggleClass = isToggled ? SampleUtils.AddClass(ToggleClass, SampleUtils.ACTIVE_CLASS) : SampleUtils.RemoveClass(ToggleClass, SampleUtils.ACTIVE_CLASS);
    }
    private void CloseSidebar()
    {
        if (isToggled)
        {
            isToggled = false;
        }
        if (isSettingsToggled)
        {
            isSettingsToggled = false;
        }
    }
}